.article {
    &Title {
        @include font-pack($font-bold, 24px, $font-weight-sbold, 1.3, $cl-white);

        @include max-responsive($w-xm) {
            font-size: 22px;
        }

        @include min-responsive($w-vlg) {
            font-size: 55px;

            @include max-height($w-hmd) {
                font-size: 46px;
            }
        }
    }

    &Content {
        @include font-pack($font-base, 14px, $font-weight-normal, $line-base, $cl-primary-black);

        @include max-responsive($w-xm) {
            font-size: 13px;
        }

        @include min-responsive($w-vlg) {
            font-size: 18px;
        }

        strong {
            font-family: $font-sbold;
            font-weight: $font-weight-sbold;
            font-size: 16px;

            @include max-responsive($w-xm) {
                font-size: 15px;
            }

            @include min-responsive($w-vlg) {
                font-size: 30px;

                @include max-height($w-hmd) {
                    font-size: 22px;
                }
            }
        }
    }

    &Caption {
        @include font-pack($font-bold, 18px, $font-weight-bold, $line-base, $cl-secondary-black);

        @include max-responsive($w-xm) {
            font-size: 16px;
        }

        @include min-responsive($w-vlg) {
            font-size: 36px;

            @include max-height($w-hmd) {
                font-size: 30px;
            }
        }
    }

    &Box {
        position: relative;
        padding: 10px;
        background: $cl-white;
        box-shadow: 5px 5px 0px #005E6A;
        
        @include min-responsive($w-vlg) {
            margin-left: 10px;
            margin-right: 15px;
            padding: 18px 20px;
            box-shadow: 8px 8px 0px #005E6A;
        }
    }
}