.digi {
    transition: all .4s ease-out;

    &Content {
        position: relative;
        z-index: 1;
    }

    &Product {
        &__icon {
            max-width: 50px;

            @include min-responsive($w-md) {
                max-width: unset;
            }
        }
    }

    &Product,
    &Meta,
    &G20,
    &Mobile,
    &Direct {
        flex-direction: column;
        justify-content: flex-end;

        @include min-responsive($w-md) {
            flex-direction: row;
            justify-content: center;
        }

        &__img {
            margin-top: 25px;
            align-self: flex-end;
            max-height: calc(100vh - 450px);
            order: 1;

            @include min-responsive($w-md) {
                margin-top: 0;
                max-height: unset;
                order: unset;
            }

            img {
                height: 100%;

                @include min-responsive($w-md) {
                    height: auto;
                }
            }
        }

        &__content {
            align-self: center;
            margin-left: 10px;
            margin-right: 15px;

            @include min-responsive($w-vlg) {
                margin-left: 54px;
                margin-right: 118px;
                min-width: 536px;
            }
        }

        &__item {
            display: flex;
            margin-top: 20px;
            transform: translateY(360%);
            transition: all .4s ease-in;

            &-1 {
                transition-delay: 100ms;
            }

            &-2 {
                transition-delay: 300ms;
            }

            &.active {
                transform: translateY(0);
            }
        }

        &__txt {
            flex: 1;
            margin-left: 10px;

            @include min-responsive($w-vlg) {
                margin-left: 20px;
            }

            strong {
                color: #F05A23;
            }

            p {
                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &Meta,
    &G20,
    &Mobile,
    &Direct {
        flex-direction: column;
        justify-content: center;

        @include min-responsive($w-xl) {
            flex-direction: row;
        }

        &__content {
            position: relative;
            top: 100%;
            transition: all .4s ease-out;
            margin-top: 25px;
            margin-left: 10px;
            margin-right: 15px;
            order: 2;            

            @include min-responsive($w-md) {
                max-width: 330px;
            }

            @include min-responsive($w-xl) {
                margin-top: 0;
                order: unset;
            }

            @include min-responsive($w-vlg) {
                max-width: 596px;
                margin-left: 54px;
                margin-right: 54px;
            }
        }

        &__img {
            align-self: center;

            @include min-responsive($w-vlg) {
                max-width: 400px;
            }

            @include min-responsive($w-xxl) {
                max-width: unset;
            }
        }
    }

    &Mobile,
    &Direct {
        &__img {
            text-align: center;

            img {
                @include min-responsive($w-vlg) {
                    @include max-height($w-hmd) {
                        width: 70%;
                    }
                }
            }
        }

        &__content {
            min-height: 174px;

            @include min-responsive($w-vlg) {
                min-height: unset;
            }
        }
    }

    &Mayora,
    &Qris {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include min-responsive($w-vlg) {
            justify-content: flex-end;
        }

        &__img {
            position: absolute;
            bottom: 0;
            text-align: center;
            max-height: calc(100vh - 300px);

            @include min-responsive($w-vlg) {
                position: relative;
            }

            img {
                height: 100%;

                @include min-responsive($w-vlg) {
                    @include max-height($w-hmd) {
                        height: unset;
                        width: 60%;
                    }
                }
            }
        }

        &__content {
            position: relative;
            top: 100%;
            transition: all .4s ease-out;
            margin-left: 10px;
            margin-right: 15px;

            @include min-responsive($w-md) {
                max-width: 330px;
                margin-left: 0;
                margin-right: 0;
            }

            @include min-responsive($w-vlg) {
                max-width: 634px;
            }
        }
    }

    &Qris {
        &__img {
            margin-top: 20px;

            @include max-responsive($w-xm) {
                bottom: -35px;
            }
        }

        &__user {
            margin-top: 10px;
        }

        &__txt {
            max-width: 120px;
            margin: auto;

            @include min-responsive($w-md) {
                max-width: 300px;
            }

            @include min-responsive($w-xxl) {
                max-width: unset;
            }
        }
    }

    &Map {
        width: 100%;
        text-align: center;
        position: absolute;
        top: -100px;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: .7;
        z-index: 0;

        @include max-responsive($w-xm) {
            top: -105px;
        }

        @include min-height($w-hlg) {
            top: 0;
        }

        @include min-responsive($w-vlg) {
            @include auto_center;
        }

        @include min-responsive($w-xxl) {
            width: auto;
        }

        svg {
            width: 100%;

            @include min-responsive($w-xxl) {
                width: auto;
            }
        }
    }
}