<div class="network">
    <ul class="networkList container">
        {{#each channel}}
        <li class="networkItem">
            <a href="{{link}}" class="networkLink{{#if premium}} -premium{{/if}}">
                {{#if premium}}<span class="icoInline icoPremium"></span>{{/if}}
                {{title}}
            </a>
        </li>
        {{/each}}
    </ul>
</div>