<div class="topic">
    <ul class="topicList">
        {{#each channel}}
        {{#gte @index compare=../index_start}}
        {{#gte @index compare=../index_end}}
        {{else}}
        <li class="topicItem">
            <a href="{{link}}" class="topicLink">
                <h4 class="topicTitle">{{title}}</h4>
            </a>
        </li>
        {{/gte}}
        {{else}}
        {{/gte}}
        {{/each}}
    </ul>
</div>