<div class="help">
    <a href="#" class="helpWrap">
        <img src="./asset/images/chat-mina.png" alt="Help Chat MINA" width="91" height="91" loading="lazy">
        <div class="helpTxt">Hai, saya MINA.. Silahkan chat jika ada yang ingin kamu tanyakan.</div>
    </a>
    {{#if click}}
    <div class="tutorClick">
        <span>klik disini</span>
        <img src="./asset/images/tutor/cursor.png" alt="" width="50" height="50" loading="lazy">
    </div>
    {{/if}}
</div>