<div class="popup -pEAddress">
    <div class="popupWrap">
        <div class="popupBox col-12 col-xl-5">
            <div class="popupHead">
                <div class="popupTitle">Ubah Alamat</div>
                <button class="button buttonClose" aria-label="Close Popup" onclick="closePopup('.-pEAddress')"><span
                        class="icon iconClose"></span></button>
            </div>
            <div class="popupContent">
                {{#eachIndex address}}
                {{#eq index compare= 0}}
                <form action="#" class="addressForm">
                    <div class="row addressFormWrap">
                        <div class="spacing-sm col-12 col-lg-6">
                            <label class="formLabel" for="name">Nama Lengkap</label>
                            <div class="formWrap">
                                <input type="text" class="formInput" name="name" id="name" value="{{item.name}}"
                                    placeholder="Nama Lengkap">
                            </div>
                        </div>
                        <div class="spacing-sm col-12 col-lg-6">
                            <label class="formLabel" for="phone">Nomor Telepon</label>
                            <div class="formWrap">
                                <input type="text" name="phone" id="phone" class="formInput" value="{{item.phone}}" placeholder="08"
                                    inputmode="numeric">
                            </div>
                        </div>
                    </div>
                    <div class="spacing-sm">
                        <label class="formLabel" for="elabel">Label Alamat</label>
                        <div class="formWrap">
                            <input type="text" class="formInput" name="elabel" id="elabel" value="Rumah"
                                placeholder="Label Alamat" onclick="showMore(this)">
                            <div class="addressLabelList -jsShowTg">
                                <button class="button tag addressLabelBtn active" type="button"
                                    onclick="getValue(this,'.addressLabelBtn', '#elabel')" value="Rumah">Rumah</button>
                                <button class="button tag addressLabelBtn" type="button"
                                    onclick="getValue(this,'.addressLabelBtn', '#elabel')"
                                    value="Apartemen">Apartemen</button>
                                <button class="button tag addressLabelBtn" type="button"
                                    onclick="getValue(this,'.addressLabelBtn', '#elabel')" value="Kantor">Kantor</button>
                                <button class="button tag addressLabelBtn" type="button"
                                    onclick="getValue(this,'.addressLabelBtn', '#elabel')" value="Kos">Kos</button>
                            </div>
                        </div>
                    </div>
                    <button class="button formInput addressMapTrig spacing-sm" type="button">
                        Gunakan Alamat Saat Ini
                    </button>
                    <div class="spacing-sm">
                        <label class="formLabel" for="eAddress">Alamat Lengkap</label>
                        {{>address-pick edit=true}}
                    </div>
                    <div class="spacing-sm">
                        <label class="formLabel sr-only" for="detail">Other details. eg: block/unit/pole</label>
                        <div class="formWrap">
                            <input type="text" class="formInput" name="detail" id="detail" value="{{item.notes}}"
                                placeholder="Detil lainnya. cth: blok/unit/patokan">
                        </div>
                    </div>
                    <div class="addressMap spacing-sm">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.232206950147!2d110.39487651150199!3d-6.981902292989836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e708b85863035db%3A0xcc2e536b0aec8545!2sFULAN%20BARBERSHOP!5e0!3m2!1sid!2sid!4v1697980382010!5m2!1sid!2sid"
                            width="475" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="sortCta">
                        <button class="button buttonRect buttonRectBlue" type="submit">
                            Simpan
                        </button>
                        <button class="button buttonRect buttonRectWhite" type="button">
                            Batalkan
                        </button>
                    </div>
                </form>
                {{/eq}}
                {{/eachIndex}}
            </div>
        </div>
    </div>
</div>