<div class="stream">
    <img src="./asset/images/bg-streaming.jpg" alt="" class="streamBg" width="1500" height="327">
    <div class="streamWrap col-12 col-xl-8">
        <div class="streamVid">
            <!-- s: lazyloaded youtube-->
            <iframe id="video" width="490" height="267" allowscriptaccess="always"
                src="https://www.youtube.com/embed/bM3CS1zMalo?enablejsapi=1&amp;version=3&amp;playerapiid=ytplayer&amp;controls=0"
                srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/bM3CS1zMalo?enablejsapi=1&amp;version=3&amp;playerapiid=ytplayer&amp;controls=0><img src=https://img.youtube.com/vi/bM3CS1zMalo/hqdefault.jpg width='490' height='276' alt='#PertiwiMenginspirasi: Tunjukkan Potensi Diri, untuk Memberi Arti' style='object-fit: cover'><span>▶</span></a>"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen="" title="#PertiwiMenginspirasi: Tunjukkan Potensi Diri, untuk Memberi Arti"></iframe>
            <!-- e: lazyloaded youtube-->
        </div>
        <div class="streamContent">
            <div class="streamCaption">
                <span>Live</span> Streaming
            </div>
            <div class="streamTitle">Live Talkshow Pertiwi Menginspirasi: Tunjukkan Potensi Diri, untuk Memberi Arti</div>
            <a href="#" class="buttonRect streamLink">Lihat Selengkapnya</a>
        </div>
    </div>
</div>