{{#each brands}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="brandsItem">
    <div class="brandsWrap">
        <div class="brandsImg">
            <img src="{{images}}" alt="{{title}}" loading="lazy" width="189" height="64">
        </div>
    </div>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}