<div class="paging">
    <form action="#" class="center-flex">
        <input type="text" class="pagingInput formInput text-center" name="paging" id="paging" inputmode="numeric" value="1">
        <div class="pagingPage titleLead">dari 20 halaman</div>
        <button class="button pagingCta --prev disabled" type="button" aria-label="Previous page">
            <span class="ico icoChevron --prev"></span>
        </button>
        <button class="button pagingCta --next" type="button" aria-label="Next page">
            <span class="ico icoChevron --next"></span>
        </button>
    </form>
</div>