{{#if cols}}
<div class="promo --middle row">
    <div class="promoItem {{cols}}">
        <img class="promoImg" src="./asset/images/dummy/promo.png" alt="" width="1200" height="390">
    </div>
    <div class="promoItem {{cols}}">
        <img class="promoImg" src="./asset/images/dummy/promo.png" alt="" width="1200" height="390">
    </div>
</div>
{{else}}
<div class="promo promoSlide -spromo" data-number="5">
    <div class="promoItem">
        <img class="promoImg" src="./asset/images/dummy/promo.png" alt="" width="1200" height="390">
    </div>
    <div class="promoItem">
        <img class="promoImg" src="https://dummyimage.com/1200x390/000000/fff" alt="" width="1200" height="390">
    </div>
    <div class="promoItem">
        <img class="promoImg" src="./asset/images/dummy/promo.png" alt="" width="1200" height="390">
    </div>
    <div class="promoItem">
        <img class="promoImg" src="https://dummyimage.com/1200x390/EBF5FF/1373E3" alt="" width="1200" height="390">
    </div>
    <div class="promoItem">
        <img class="promoImg" src="./asset/images/dummy/promo.png" alt="" width="1200" height="390">
    </div>
</div>
{{/if}}