{{#each testi}}
<div class="testiItem">
    <div class="testiWrap">
        <div class="testiImg">
            <img src="{{photo}}" alt="" loading="lazy" width="80" height="80">
        </div>
        <div class="testiTxt">{{txt}}</div>
        <div class="testiAuthor">{{author}}</div>
    </div>
</div>
{{/each}}