{{#each widget}}
<div class="widgetItem col-4">
    <a href="{{link}}" class="widgetWrap">
        <div class="widgetImg">
            <img src="{{images}}" alt="" loading="lazy">
        </div>
        <div class="widgetContent">
            <div class="widgetTitle">{{title}}</div>
            <div class="widgetTxt">
                <div class="widgetTxtDesc">{{desc}}</div>
                <div class="widgetCta">See details</div>
            </div>
        </div>
    </a>
</div>
{{/each}}