$font-normal: 'Gotham', sans-serif;
$font-mbold: 'Gotham-Medium', sans-serif;
$font-bold: 'Gotham-Bold', sans-serif;

$font-weight-normal: 400;
$font-weight-mbold: 500;
$font-weight-bold: 700;

$line-base: false;

$cl-primary1: #1373E3;
$cl-primary2: #5099EE;
$cl-primary3: #85BAF9;
$cl-primary4: #BCDBFE;
$cl-secondary1: #33EFE4;
$cl-secondary2: #28CAC0;
$cl-secondary3: #0DB7AD;
$cl-secondary4: #0D9D95;
$cl-notif1: #FF9A3D;
$cl-notif2: #FE725F;
$cl-notif3: #F5C92B;
$cl-notif4: #5CFF8A;
$cl-accent1: #FCFCFC;
$cl-accent2: #F1F1F1;
$cl-accent3: #EAF8FC;
$cl-accent4: #EBF5FF;
$cl-text1: #333438;
$cl-text2: #606060;
$cl-text3: #B0B3D0;

$w-xxl: 1440px;
$w-xl: 1280px;
$w-lg: 960px;
$w-md: 768px;
$w-sm: 540px;
$w-xm: 350px;