.claim {
    &Item {
        margin-top: 60px;
        position: relative;
        padding: 40px 20px;
        background: $cl-white;
        border-radius: 10px;
        @include box_shadow(0 3px 6px rgba(0, 0, 0, .16));

        @include range-responsive($w-md, $w-xl) {
            margin-top: 60px;
            padding: 60px 40px 40px;
        }

        @include min-responsive($w-xl) {
            margin-top: 100px;
            padding: 60px 150px 40px;
        }
    }

    &Num {
        position: absolute;
        min-width: 48px;
        min-height: 48px;
        left: 50%;
        top: -25px;
        background: $cl-yellow;
        border-radius: 50%;
        transform: translate(-50%, 0);
        @include font-pack(false, $font-size-xxmedium, $font-weight-bold, $line-base, $cl-white);

        @include min-responsive($w-md) {
            min-width: 58px;
            min-height: 58px;
            font-size: $font-size-xxxmedium;
        }
    }

    &Icon {
        max-width: 100px;

        @include min-responsive($w-lg) {
            max-width: unset;
        }
    }
}