.dangerous {
    &Teaser {
        @include font-pack(false, $font-size-small, $font-weight-bold, $line-base, $cl-gray);

        @include min-responsive($w-lg) {
            font-size: $font-size-vnormal;
        }
    }

    &List {
        margin-top: 30px;
        margin-bottom: 50px;

        @include min-responsive($w-lg) {
            margin-top: 60px;
            margin-bottom: 80px;
        }

        .titleCaption {
            @include min-responsive($w-xl) {
                text-align: center;
            }
        }
    }
}