.gerai {
    &Item {
        margin-top: 30px;

        @include min-responsive($w-lg) {
            margin-top: 60px;
        }
    }

    &Img {
        text-align: center;

        @include min-responsive($w-md) {
            text-align: left;
        }

        img {
            border-radius: 10px;
        }
    }

    &Name {
        margin-top: 10px;
        text-align: center;
        @include font-pack(false, $font-size-vnormal, $font-weight-bold, $line-base, $cl-red);

        @include min-responsive($w-md) {
            text-align: left;
            font-size: $font-size-normal;
            margin-top: 0;
        }
    }

    &Address {
        color: $cl-gray;
    }
}