.static {
    ul {
        list-style-type: disc;
        padding-left: 22px;
    }

    ol {
        list-style-type: decimal;
        padding-left: 22px;
    }

    a {
        display: inline-block;
        font-weight: 400;
        color: $cl-red;

        &:hover {
            font-weight: 700;
        }
    }

    iframe,
    img,
    video {
        max-width: 100%
    }

    strong {
        font-weight: 700;
        line-height: 30px
    }

    h1 {
        font-size: 2em;
        margin-top: .67em;
        margin-bottom: .67em;
        font-weight: 700
    }

    h2 {
        font-size: 1.5em;
        margin-top: .83em;
        margin-bottom: .83em;
        font-weight: 700
    }

    h3 {
        font-size: 1.17em;
        margin-top: 1em;
        margin-bottom: 1em;
        font-weight: 700
    }

    h4,
    pre {
        font-size: 1em;
        margin-top: 1.33em;
        margin-bottom: 1.33em
    }

    img {
        border-radius: 10px;
    }

    .table {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 24px;
        color: $cl-primary-black;
        border-radius: 10px;
        border-spacing: 0;
        @include box_shadow(0 3px 6px rgba(0, 0, 0, .16));

        &~.table {
            margin-top: 30px;
        }

        &Caption {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: $cl-white;

            th {
                background: $cl-red;
                border-radius: 10px 10px 0px 0px;

            }
        }

        .tableCaption {
            th {
                padding: 10px 24px;
            }

            ~.tableTitle {
                th {
                    border-radius: 0;
                }
            }
        }

        td {
            padding: 0 10px;
            text-align: center;

            ~td {
                border-left: 1px solid #D2C9A7;
            }
        }

        tr {
            &:nth-child(even) {
                background: #FFFDF6;
            }

            &:nth-child(odd) {
                background: #FFF4CC;
            }

            &:last-child {
                td {
                    &:last-child {
                        border-bottom-right-radius: 10px;
                    }

                    &:first-child {
                        border-bottom-left-radius: 10px;
                    }
                }
            }
        }

        &Title {
            th {
                background: $cl-yellow;
                padding: 10px;

                &:last-child {
                    border-top-right-radius: 10px;
                }

                &:first-child {
                    border-top-left-radius: 10px;
                }

                ~th {
                    border-left: 1px solid #D2C9A7;
                }
            }
        }
    }

    .blockquote {
        padding: 10px 20px;
        margin: 0 0 20px;
        font-size: 1.094em;
        border-left: 5px solid #eee;
    }

    .icon {
        border-radius: 0;
    }

    .buttonPrimary {
        margin-top: 30px;
        display: inline-block;
        @extend .buttonPrimary;

        &:hover {
            color: $cl-white;
        }
    }
}