<!DOCTYPE html>
<html lang="en">

{{>head page="Lifestyle" channel=site.Lifestyle type="details" slick=true}}

<body class="theme--lifestyle">

    <!-- s: pushdown billboard -->
    {{>ads/pushdown}}
    <!-- e: pushdown billboard -->

    <div class="root">
        <!-- s: flashnews -->
        {{>flashnews channel=flashnews}}
        <!-- e: flashnews -->

        {{>header/header kanal="Lifestyle"}}

        <main role="main" class="main details">
            <div class="nav">

                {{>header/nav channel=mainMenu.Lifestyle}}

            </div>

            <!-- s: menu panel -->
            {{>header/menu login=true}}
            {{!>header/menu}}
            <!-- e: menu panel -->

            <div class="container">

                {{>breadcrumb kanal="Lifestyle" subkanal="Entertainment"}}

                {{>detail/cover channel=kanal.Lifestyle.details.content mt="16" total=6 index_start=3 index_end=4}}
                {{>detail/title default=true channel=kanal.Lifestyle.details.content total=6 index_start=3 index_end=4}}

                {{>detail/share channel=kanal.Lifestyle.details.content pos="top" total=6 index_start=3 index_end=4}}

                <article class="detailsContent detailsLive mt40">
                    {{>detail/content-live channel=kanal.Lifestyle.details.live index_start=0 index_end=3}}

                </article>

                <!-- s: detail pagination -->
                {{>detail/paging}}
                <!-- e: detail pagination -->

                <h2 class="titleCaption mt40">
                    Simak video di bawah ini:
                </h2>
                {{>detail/video}}

                {{>detail/author channel=kanal.Lifestyle.details.content total=6 index_start=3 index_end=4}}

                {{>detail/share channel=kanal.Lifestyle.details.content mt="40" total=6 index_start=3 index_end=4}}

                {{>detail/tag mt="16" channel=kanal.Lifestyle.details}}

                <!-- s: premium -->
                {{>premium/article mt="30" channel=kanal.Lifestyle.Premium.latest width="210" height="158"}}

                <!-- e: premium -->

                {{>newsletter mt="30"}}

                <h3 class="titleCaption mt30">Artikel Terkait</h3>
                {{>kanal/article channel=kanal.Lifestyle.Entertainment.latest type="col" col="two" mt="16" width="145"
                height="109"
                total=3 index_start=0 index_end=2}}

                <h3 class="titleCaption mt30">Berita Lainnya</h3>
                {{>detail/article-other channel=kanal.Lifestyle.hL mt="16" total=5 index_start=2 index_end=5}}

                <h3 class="titleCaption mt30">Berita Terkini</h3>
                {{>kanal/article channel=kanal.Lifestyle.latest type="row" width="145" height="109" total=10
                index_start=4
                index_end=7}}

                <div class="center-flex">
                    <a href="#" class="buttonPrimary">Berita Lainnya</a>
                </div>

            </div>
        </main>
    </div>

    <!-- modal image -->
    {{>detail/modal-image}}

    <!-- modal template -->
    {{>modal}}

    {{>footer/footer}}

    {{>footer/script page="lifestyle" type="details" slick=true}}
    <script>
        function openModalImage(el, e) {
            var image = e.parentNode.getElementsByClassName('image')[0].getAttribute("url"),
                wcaption = e.parentNode.parentNode.getElementsByClassName('caption')[0];
            if (!!wcaption) {
                var caption = wcaption.innerHTML;
                openModal(el, image, caption)
            }
            else {
                openModal(el, image)
            }
        }

        $(document).ready(function () {
            //live details slider anchor
            if ($('.-js-slider-live').length > 0) {
                $('.-js-slider-live').slick({
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    arrows: true,
                    fade: false,
                    swipe: true,
                });
            }

            //live anchor trigger
            $('.detailsLiveAnchor').on("click", function () {
                var a = $(this).attr("anchor"),
                    b = $('.detailsLive').find("[content='" + a + "']"),
                    pg = $('.paging');
                //console.log(b)
                $('.detailsLiveAnchor').removeClass("-active");
                $('.detailsLiveItem').removeClass("-active");
                $(this).addClass("-active");
                if (b.length > 0) {
                    var scroll = b.offset().top;
                    b.addClass("-active");

                    if ($('.flashnews').length > 0) {
                        $("html, body").animate({
                            scrollTop: scroll - 90
                        }, 500);
                    } else {
                        $("html, body").animate({
                            scrollTop: scroll - 60
                        }, 500);
                    }
                } else {
                    var scrollpg = pg.offset().top;
                    if ($('.flashnews').length > 0) {
                        $("html, body").animate({
                            scrollTop: scrollpg - 90
                        }, 500);
                    } else {
                        $("html, body").animate({
                            scrollTop: scrollpg - 60
                        }, 500);
                    }
                }
                return false;
            });
        })
    </script>

</body>

</html>