<!DOCTYPE html>
<html lang="en">

{{>head page="Ekonomi" channel=site.Ekonomi font=true type="details" premium=true photozoom=true}}

<body class="theme--ekonomi theme--premium">

    <div class="root">
        <!-- s: flashnews -->
        {{>flashnews channel=flashnews}}
        <!-- e: flashnews -->

        {{>header/header kanal="Ekonomi" font=true nav=true detailtitle=true channel=kanal.Ekonomi.details.content
        index_start=0
        index_end=1}}

        <main role="main" class="main details" id="pswp-gallery">

            <!-- s: menu panel -->
            {{!>header/menu login=true}}
            {{>header/menu}}
            <!-- e: menu panel -->

            {{>premium/cover-ekonomi channel=kanal.Ekonomi.details.content total=6 index_start=0
            index_end=1}}

            <div class="detailsParallax">
                <div class="container">

                    {{>premium/title-parallax pos="left" parallax=true channel=kanal.Ekonomi.details.content
                    total=6
                    index_start=0
                    index_end=1 lead=true photo=true}}

                    {{>detail/share channel=kanal.Ekonomi.details.content mt="16" pos="top" total=6 index_start=0
                index_end=1 caption="Share" min="1" max="2" value="1"}}

                    <div class="premium-alert premium-alert-green">Anda telah membaca 1 artikel Konten Premium.</div>
                    <div class="premium-alert premium-alert-red">Kuota gratis membaca Konten Premium anda telah habis.
                        Silakan berlanggangan untuk melanjutkan.
                    </div>

                    <article class="detailsContent -lock mt30">
                        {{>detail/content-premium-lock}}

                    </article>
                    {{!--
                    <hr>

                    {{>detail/author channel=kanal.Ekonomi.details.content total=6 index_start=0 index_end=1}}

                    {{>detail/tag channel=kanal.Ekonomi.details caption="Tag"}}

                    {{>detail/share channel=kanal.Ekonomi.details.content pos="left" mt="16" caption="Share" total=6
                    index_start=0 index_end=1}} --}}
                    {{>premium/lock pos="top"}}

                    {{>premium/gate}}

                    <h2 class="titleCaption titleCaptionBig mt30">FAQ</h2>
                    {{>premium/faq channel=faq total=12 index_start=0 index_end=12}}

                    {{>newsletter mt="30"}}

                    <h3 class="titleCaption mt30">Artikel Terkait</h3>
                    {{>ekonomi/article channel=kanal.Ekonomi.recommend.latest grid="row" column="col-5" mt="16"
                    width="145"
                    height="109"
                    total=4 index_start=0 index_end=2 dates=false}}

                    <h3 class="titleCaption mt30">Berita Terbaru</h3>
                    {{>detail/article-other channel=kanal.Ekonomi.hL mt="16" total=5 index_start=0 index_end=5}}

                    <h3 class="titleCaption mt30">Berita Lainnya</h3>
                    {{>ekonomi/article channel=kanal.Ekonomi.latest type="row" width="127" height="72" total=5
                    index_start=0
                    index_end=3}}

                    <div class="center-flex">
                        <a href="#" class="buttonPrimary">Berita Lainnya</a>
                    </div>
                </div>
            </div>
        </main>
    </div>

    {{>footer/footer}}

    {{>footer/script page="ekonomi" type="details" premium=true photozoom=true}}

</body>

</html>