<!DOCTYPE html>
<html lang="en">

{{>head page="Ekonomi" channel=site.Ekonomi font=true type="details" photozoom=true}}

<body class="theme--ekonomi">

    <!-- s: pushdown billboard -->
    {{>ads/pushdown}}
    <!-- e: pushdown billboard -->

    <div class="root">
        <!-- s: flashnews -->
        {{>flashnews channel=flashnews}}
        <!-- e: flashnews -->

        {{>header/header kanal="Ekonomi" font=true nav=true}}

        <main role="main" class="main details" id="pswp-gallery">

            <!-- s: menu panel -->
            {{!>header/menu login=true}}
            {{>header/menu}}
            <!-- e: menu panel -->

            <div class="container mt20">
                {{>breadcrumb kanal="Ekonomi" subkanal="Ekonomi Global"}}

                {{>detail/title pos="left" channel=kanal.Ekonomi.details.content total=6
                index_start=0
                index_end=1 mt="16" lead=true photo=true}}
                {{>detail/cover pos="top" channel=kanal.Ekonomi.details.content mt="40" total=6 index_start=0
                index_end=1}}

                {{>detail/share channel=kanal.Ekonomi.details.content mt="16" pos="top" total=6 index_start=0
                index_end=1 caption="Share" min="1" max="2" value="1"}}

                <article class="detailsContent mt30">
                    {{>detail/content-series quoteau=true bacatype="box" channel=kanal.Ekonomi.recommend.latest
                    index_start=0 index_end=3}}

                    <!-- s: details break -->
                    {{>detail/break page=1}}
                    <!-- e: details break -->

                    {{>detail/content-series-2}}

                    <!-- s: details break -->
                    {{>detail/break page=2}}
                    <!-- e: details break -->

                    {{>detail/content-series-3}}

                    <!-- s: details break -->
                    {{>detail/break page=3}}
                    <!-- e: details break -->

                </article>

                {{>detail/author channel=kanal.Ekonomi.details.content total=6 index_start=0 index_end=1}}

                {{>detail/tag channel=kanal.Ekonomi.details caption="Tag"}}

                {{>detail/share channel=kanal.Ekonomi.details.content pos="left" mt="16" caption="Share" total=6
                index_start=0 index_end=1}}

                <h2 class="titleCaption titleCaptionMed mt30">
                    Simak video di bawah ini:
                </h2>
                {{>detail/video}}

                {{>newsletter mt="30"}}

                <h3 class="titleCaption mt30">Artikel Terkait</h3>
                {{>ekonomi/article channel=kanal.Ekonomi.recommend.latest grid="row" column="col-5" mt="16" width="145"
                height="109"
                total=4 index_start=0 index_end=2 dates=false}}

                <h3 class="titleCaption mt30">Berita Terbaru</h3>
                {{>detail/article-other channel=kanal.Ekonomi.hL mt="16" total=5 index_start=0 index_end=5}}

                <h3 class="titleCaption mt30">Berita Lainnya</h3>
                {{>ekonomi/article channel=kanal.Ekonomi.latest type="row" width="127" height="72" total=5 index_start=0
                index_end=3}}

                <div class="center-flex">
                    <a href="#" class="buttonPrimary">Berita Lainnya</a>
                </div>
            </div>
        </main>
    </div>

    <!-- s: bottom billboard -->
    {{>ads/bottom}}
    <!-- e: bottom billboard -->

    {{>footer/footer}}

    {{>footer/script page="ekonomi" type="details" photozoom=true}}

</body>

</html>