<!DOCTYPE html>
<html lang="en">

{{>head page="Homepage" slick=true hl=true font=true icon=false channel=site.Homepage}}

<body class="theme--home">

    <!-- s: pushdown billboard -->
    {{>ads/pushdown}}
    <!-- e: pushdown billboard -->

    <div class="root">
        <!-- s: flashnews -->
        {{>flashnews channel=flashnews span=true}}
        <!-- e: flashnews -->

        {{>header/header kanal="Homepage" channel=mainMenu.Homepage_mobile nav=true active="Home" icon=false width="123"
        height="28"}}

        <main role="main" class="main">

            <!-- s: menu panel -->
            {{!>header/menu login=true}}
            {{>header/menu}}

            <!-- e: menu panel -->

            <!-- s: stream -->
            {{>stream channel=stream kanal="dummy" pos="top" state="active" total=2 index_start=0
            index_end=1 cta=true width="320" height="180" wvid="533" hvid="300" lcp=true}}

            <!-- e: stream -->

            <div class="container mt20">

                <!-- s: headline -->
                {{>homepage/headline channel=kanal.Homepage.hL total=8 index_start=5 index_end=8
                index_big_start=0
                index_big_end=5}}

                <!-- e: headline -->

                <!-- s: rectangle billboard -->
                <div class="mt30">
                    {{>ads/middle}}
                </div>
                <!-- e: rectangle billboard -->

                <!-- s: topic -->
                <h3 class="titleCaption text-center mt30"><span class="topicCaption">#</span> Hot Topic</h3>
                {{>topic channel=topic total=9 index_start=4 index_end=9 images=true w="55"
                h="55"}}

                <!-- e: topic -->

                <!-- s: hot topic -->
                <div class="artRec mt30">
                    <div class="titleCaptionWrap">
                        <h3 class="titleCaption--small">Uang Kuliah Tunggal (UKT)</h3>
                        <a href="#" class="titleOthers"><span>Lihat Lainnya</span><span
                                class="icoInline icoArrow"></span></a>
                    </div>
                    {{>homepage/article channel=kanal.Homepage.recommend.hot mod="rec" type="col" mt="20"
                    total=3
                    index_start=0
                    index_end=3 width=200 height=112 channels=false}}
                </div>

                <!-- e: hot topic -->

                <!-- s: rectangle billboard -->
                <div class="mt30">
                    {{>ads/middle}}
                </div>
                <!-- e: rectangle billboard -->

                <!-- s: premium -->
                <div class="artBorder artPremium premium mt30">
                    <div class="titleCaptionWrap">
                        <h3 class="titleCaption titleCaptionWrap">
                            <img src="./asset/images/logo/premium-logo-big.svg" alt="Konten Premium" width="175"
                                height="24" loading="lazy">
                        </h3>
                        <a href="#" class="titleOthers" aria-label="See others"><span>Lihat lainnya</span>
                            <span class="icoInline icoArrow"></span></a>
                    </div>
                    {{>homepage/article channel=kanal.Homepage.Premium.latest type="col" grid="-premium"
                    total=8
                    index_start=0
                    index_end=8 width=200 height=112 mt="20"}}

                </div>

                <!-- e: premium -->

                <!-- s: rectangle billboard -->
                <div class="mt30">
                    {{>ads/middle}}
                </div>
                <!-- e: rectangle billboard -->

                <!-- s: latest -->
                <h3 class="titleCaption mt30">Berita Terbaru</h3>

                {{>homepage/article channel=kanal.Ekonomi.latest type="row" width="127" height="95" index_start=0
                index_end=6}}

                <!-- e: latest -->

                <!-- s: rectangle billboard -->
                <div class="mt30">
                    {{>ads/middle}}
                </div>
                <!-- e: rectangle billboard -->

                {{>homepage/article channel=kanal.Ekonomi.latest type="row" width="127" height="95" index_start=4
                index_end=10 mt="30"}}

                <!-- s: rectangle billboard -->
                <div class="mt30">
                    {{>ads/middle}}
                </div>
                <!-- e: rectangle billboard -->

                <!-- s: terpopuler -->
                <h3 class="titleCaption mt30">Terpopuler</h3>
                {{>kanal/most channel=kanal.Ekonomi.most index_start=0 index_end=5}}

                <!-- e: terpopuler -->

                <!-- s: kanal network -->
                <div class="kanalNetwork mt30">
                    <div class="kanalNetworkItem">
                        <div class="titleCaptionWrap">
                            <h3 class="titleCaption--small titleCaptionWrap">
                                <div class="kanalNetworkIcon">
                                    <img src="./asset/images/icon/icon-kanal-interaktif.svg" alt="" loading="lazy"
                                        width="24" height="24">
                                </div>Konten Interaktif
                            </h3>
                            <a href="#" class="titleOthers" aria-label="See others"><span
                                    class="icoInline icoArrow"></span></a>
                        </div>

                        {{>homepage/article channel=kanal.Homepage.Interaktif.latest type="row" total=1
                        index_start=0
                        index_end=1 width="75" height="75" channels=false dates=false}}

                    </div>
                    <div class="kanalNetworkItem">
                        <div class="titleCaptionWrap">
                            <h3 class="titleCaption--small titleCaptionWrap">
                                <div class="kanalNetworkIcon">
                                    <img src="./asset/images/icon/icon-network-bplus.svg" alt="" loading="lazy"
                                        width="24" height="24">
                                </div>Bisnis Plus
                            </h3>
                            <a href="#" class="titleOthers" aria-label="See others"><span
                                    class="icoInline icoArrow"></span></a>
                        </div>

                        {{>homepage/article channel=kanal.Homepage.BisnisPlus.latest type="row" total=1
                        index_start=0
                        index_end=1 width="75" height="75" channels=false dates=false}}

                    </div>
                    <div class="kanalNetworkItem">
                        <div class="titleCaptionWrap">
                            <h3 class="titleCaption--small titleCaptionWrap">
                                <div class="kanalNetworkIcon">
                                    <img src="./asset/images/icon/icon-network-bmuda.svg" alt="" loading="lazy"
                                        width="24" height="24">
                                </div>Bisnis Muda
                            </h3>
                            <a href="#" class="titleOthers" aria-label="See others"><span
                                    class="icoInline icoArrow"></span></a>
                        </div>

                        {{>homepage/article channel=kanal.Homepage.BisnisMuda.latest type="row" total=1
                        index_start=0
                        index_end=1 width="75" height="75" channels=false dates=false}}

                    </div>
                </div>
                <!-- e: kanal network -->

                <!-- s: topik khusus : laporan keuangan -->
                <div class="keuangan mt30">
                    <h3 class="titleCaption center-flex">
                        <a href="https://www.bisnis.com/topic/3394/laporan-keuangan" target="_blank"
                            rel="noopener noreferrer">
                            <img src="./asset/images/logo/topik-keuangan.svg" alt="Laporan Keuangan logo" loading="lazy"
                                width="224" height="29">
                        </a>
                    </h3>
                    {{>homepage/article channel=kanal.Homepage.Finansial.latest type="col-top" total=4
                    index_start=0
                    index_end=3 width="324" height="160" channels=false images_top=true}}

                    <div class="center-flex">
                        <a href="#" class="keuanganOthers">Artikel Lainnya</a>
                    </div>
                </div>

                <!-- e: topik khusus : laporan keuangan -->

                <!-- s: bplus -->
                <h3 class="titleCaption mt30">
                    <div class="bplusCaption">
                        <img src="./asset/images/logo/logo-bisnis-plus.png" alt="Bisnis Plus logo" loading="lazy"
                            width="162" height="23">
                    </div>
                </h3>
                {{>kanal/bplus channel=kanal.Lifestyle.BisnisPlus.latest total=4 index_start=0 index_end=4}}

                <!-- e: bplus -->

                <div class="titleCaptionWrap mt30">
                    <h3 class="titleCaption--small">
                        Market
                    </h3>
                    <a href="#" class="titleOthers" aria-label="See others"><span class="icoInline icoArrow"></span></a>
                </div>
                {{>homepage/article channel=kanal.Homepage.Market.latest type="col-top" total=4
                index_start=0
                index_end=4 width="324" height="182" channels=false images_top=true grid="col-border"}}

                <div class="titleCaptionWrap mt30">
                    <h3 class="titleCaption--small">
                        Ekonomi & Bisnis
                    </h3>
                    <a href="#" class="titleOthers" aria-label="See others"><span class="icoInline icoArrow"></span></a>
                </div>
                {{>homepage/article channel=kanal.Homepage.Ekonomi.latest type="col-top" total=4
                index_start=0
                index_end=4 width="324" height="182" channels=false images_top=true grid="col-border"}}

                <div class="titleCaptionWrap mt30">
                    <h3 class="titleCaption--small">
                        Finansial
                    </h3>
                    <a href="#" class="titleOthers" aria-label="See others"><span class="icoInline icoArrow"></span></a>
                </div>
                {{>homepage/article channel=kanal.Homepage.Finansial.latest type="col-top" total=4
                index_start=0
                index_end=4 width="324" height="182" channels=false images_top=true grid="col-border"}}

                <!-- s: bisnistv -->
                <div class="kanalBisnistv mt30">
                    <h3 class="titleCaption">
                        <img src="./asset/images/logo/bisnistv-logo.png" alt="Bisnistv logo" loading="lazy" width="119"
                            height="31">
                    </h3>
                    {{>kanal/article channel=kanal.Lifestyle.Video.latest video=true btv=true center=true width="335"
                    height="170" type="col" total=4
                    index_start=3 index_end=4}}

                </div>

                <!-- e: bisnistv -->

                <!-- s: podcast -->
                <div class="podcast center-flex mt30">
                    <a href="https://open.spotify.com/show/6C5e0qIqWQNqVmSAhZ9CsX" target="_blank" rel="noreferrer">
                        <img class="podcastImg"
                            src="https://cdn.bisnis.com/bisnis/assets/images/Cover_Podcast_Texture_new.png" width="300"
                            height="300" loading="lazy" alt="Broad Cast">
                    </a>
                </div>
                <!-- e: podcast -->
            </div>

            <!-- s: foto -->
            <div class="kanalPhoto mt30">
                <div class="titleCaptionWrap container">
                    <h3 class="titleCaption--small">
                        Foto
                    </h3>
                    <a href="#" class="titleOthers" aria-label="See others">Lihat lainnya<span
                            class="icoInline icoArrow"></span></a>
                </div>
                {{>homepage/photo channel=kanal.Homepage.Foto.latest total=5 index_start=0 index_end=4 w="1080"
                h="550" mt="16"}}

            </div>
            <!-- e: foto -->

            <div class="container">
                <!-- s: rectangle billboard -->
                <div class="mt30">
                    {{>ads/middle}}
                </div>
                <!-- e: rectangle billboard -->

                <!-- s: infografis -->
                <div class="titleCaptionWrap mt30">
                    <h3 class="titleCaption--small titleCaptionWrap">
                        <div class="kanalNetworkIcon">
                            <img src="./asset/images/icon/icon-kanal-infografis.svg" alt="" loading="lazy" width="24"
                                height="24">
                        </div>Infografis
                    </h3>
                    <a href="#" class="titleOthers" aria-label="See others">Lihat lainnya<span
                            class="icoInline icoArrow"></span></a>
                </div>
                <div class="infografis mt20">
                    <div class="infografisWrap -js-igrafis">
                        {{>kanal/infografis channel=kanal.Homepage.Infografis.latest total=6 index_start=0
                        index_end=6
                        w="177" h="300"}}

                    </div>
                </div>
                <!-- e: infografis -->

                <!-- s: regional -->
                <div class="artBorder mt30">
                    <h3 class="titleCaption--small">
                        Regional Hari Ini
                    </h3>
                    {{>homepage/article channel=kanal.Homepage.Regional mod="reg" type="col"
                    total=3 index_start=0 index_end=3 images=false}}

                </div>
                <!-- e: regional -->

                <!-- s: opinion -->
                <div class="opinion mt30">
                    <div class="titleCaptionWrap">
                        <h3 class="titleCaption--small titleCaptionWrap">
                            <div class="kanalNetworkIcon">
                                <img src="./asset/images/icon/icon-opinion.svg" alt="" loading="lazy" width="24"
                                    height="24">
                            </div>
                            Opini Bisnis
                        </h3>
                        <span></span>
                    </div>
                    <div class="opinionList">
                        {{>kanal/opinion channel=opinion total=3 index_start=0
                        index_end=3 width="60" height="60" mt="20"}}

                    </div>
                </div>
                <!-- e: opinion -->

                <!-- s: QR Bisnis Indonesia -->
                <div class="mt30 text-center">
                    <img src="./asset/images/QR-bisnis-indonesia.jpg" alt="Scan QR Code Bisnis Indonesia e-paper"
                        loading="lazy" width="328" height="441">
                </div>
                <!-- e: QR Bisnis Indonesia -->

                {{>homepage/article channel=kanal.Ekonomi.latest type="row" width="127" height="95" index_start=2
                index_end=8 mt="30"}}

                <!-- s: editorial -->
                <div class="artBorder mt30">
                    <div class="titleCaptionWrap">
                        <h3 class="titleCaption--small titleCaptionWrap">
                            <div class="kanalNetworkIcon">
                                <img src="./asset/images/icon/icon-editorial.svg" alt="" loading="lazy" width="24"
                                    height="24">
                            </div>
                            Dari Redaksi
                        </h3>
                        <span></span>
                    </div>
                    <div class="editorialList">
                        {{>kanal/editorial channel=editorial type="col" total=4 index_start=0
                        index_end=4 w="65" h="65"}}

                    </div>
                </div>
                <!-- e: editorial -->

                {{>homepage/article channel=kanal.Ekonomi.latest type="row" width="127" height="95" index_start=3
                index_end=9 mt="30"}}

                <!-- s: rectangle billboard -->
                <div class="mt30">
                    {{>ads/middle}}
                </div>
                <!-- e: rectangle billboard -->

                <div class="center-flex">
                    <a href="#" class="buttonPrimary mt30">Indeks Berita</a>
                </div>
            </div>
        </main>
    </div>

    <!-- s: bottom billboard -->
    {{>ads/bottom}}
    <!-- e: bottom billboard -->

    {{>footer/footer}}

    {{>footer/script page="homepage" slick=true}}
    <script>
        var imgLCP = document.getElementById("imgLCP");
        const preloadImage = src =>
            new Promise(resolve => {
                const image = new Image();
                const onLoad = () => {
                    resolve(image);
                };
                image.addEventListener('load', onLoad, { once: true });
                image.src = src;
                image.alt = alt;
            });
        const src = 'https://images.bisnis.com/thumb/posts/2024/06/28/1777779/peluncuran_logo_baru_bank_tabungan_negara_bbtn_1709462290.jpg?w=384&h=216',
            alt = '';
        preloadImage(src).then(image => {
            // Here the image has been loaded and is available to be appended, or otherwise.
            imgLCP.firstElementChild.style.display = 'none';
            imgLCP.append(image);
        });
    </script>

</body>

</html>