<footer>
    <div class="footer">
        <div class="footerWrap display-flex">
            <img data-src="./asset/images/imgCredit.png" alt="" class="imgCredit">
            <div class="footerContent text-center">
                <div class="footerTitle">Penulis, Editor dan Naskah</div>
                <div class="footerText">Gajah Kusumo, Annisa Margrit</div>

                <div class="footerTitle">Ilustrator & Layout</div>
                <div class="footerText">Ilham Nesabana, Zoya Rasyidi Thoriq,<br>
                    Amri Hidayat</div>

                <div class="footerTitle">Developer</div>
                <div class="footerText">Tim Bisnis.com</div>
            </div>
        </div>
        <div class="display-flex">
            <a href="https://bisnis.com" target="_blank" rel="noopener noreferrer">
                <img data-src="./asset/images/logo-bisniscom.png" alt="" class="imgLogo">
            </a>
            <hr class="footerLine">
            <ul class="share display-flex">
                <li><a href="#"><img data-src="./asset/images/share-fb.png" alt="" class="imgShare"></a></li>
                <li><a href="#"><img data-src="./asset/images/share-tw.png" alt="" class="imgShare"></a></li>
                <li><a href="#"><img data-src="./asset/images/share-ig.png" alt="" class="imgShare"></a></li>
            </ul>
        </div>
        <button class="button buttonFooter__refresh" onclick="refreshPage()">
            BACK TO TOP
        </button>
    </div>
</footer>