<footer>
    <div class="footer">
        <div class="footerWrap display-flex">
            <img data-src="./asset/images/imgCredit.png" alt="" class="imgCredit" width="503" height="478">
            <div class="footerContent text-center">
                <div class="footerTitle">Penulis, Editor dan Naskah</div>
                <div class="footerText">Gajah Kusumo, Annisa Margrit</div>

                <div class="footerTitle">Ilustrator & Layout</div>
                <div class="footerText">Ilham Nesabana, Zoya Rasyidi Thoriq,<br>
                    Amri Hidayat</div>

                <div class="footerTitle">Developer</div>
                <div class="footerText">Tim Bisnis.com</div>
            </div>
        </div>
        <div class="display-flex">
            <a href="https://bisnis.com" target="_blank" rel="noopener noreferrer" title="Bisnis.com">
                <img data-src="./asset/images/logo-bisniscom.png" alt="" class="imgLogo" width="171" height="39">
            </a>
            <hr class="footerLine">
            <ul class="share display-flex">
                <li><a href="https://www.facebook.com/wwwbisniscom" title="Facebook" target="_blank" rel="noopener noreferrer"><img data-src="./asset/images/share-fb.png" alt="" class="imgShare" width="30" height="24"></a></li>
                <li><a href="https://twitter.com/Bisniscom" title="Twitter" target="_blank" rel="noopener noreferrer"><img data-src="./asset/images/share-tw.png" alt="" class="imgShare" width="24" height="24"></a></li>
                <li><a href="https://www.instagram.com/bisniscom/" title="Instagram" target="_blank" rel="noopener noreferrer"><img data-src="./asset/images/share-ig.png" alt="" class="imgShare" width="24" height="22"></a></li>
            </ul>
        </div>
        <button class="button buttonFooter__refresh" onclick="refreshPage()" aria-label="Back to Top">
            <img data-src="./asset/images/back-to-top.png" alt="" width="32" height="32">
        </button>
    </div>
</footer>