<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <meta name="description" content="Corona - bisnis.com">
    <meta name="author" content="bisnis.com">
    <meta name="language" content="id" />
    <meta property="fb:pages" content="194032223976103" />
    <meta property="fb:app_id" content="397600276959629" />
    <meta property="og:site_name" content="bisnis.com" />
    <meta property="og:title" content="bisnis.com" />
    <meta property="og:url" content="" />
    <meta name="keywords" content="bisnis.com">
    <meta property="og:type" content="website" />
    <title>Corona - bisnis.com</title>
    <link rel=icon type=image/png sizes=16x16 href="">

    <link rel="preload stylesheet" as="style" href="./asset/css/style.css" type="text/css">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style"
        href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,500;1,900&family=Rubik:wght@900&display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Rationale&family=Roboto+Mono&family=Roboto:ital,wght@0,500;1,900&family=Rubik:wght@900&display=swap"
        media="print" onload="this.media='all'">
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Rationale&family=Roboto+Mono&family=Roboto:ital,wght@0,500;1,900&family=Rubik:wght@900&display=swap">
    </noscript>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>