<header class="headerWrap">
    <div class="headerItem"><a href="https://interaktif.bisnis.com/" title="Konten Interaktif Bisnis.com"><img
                src="./asset/images/content-interaktif-logo.svg" class="headerLogo" alt="" width="115" height="49"></a></div>
    <div class="headerItem headerItem__right"><a href="https://www.bisnis.com/" title="Bisnis.com"><img
                src="./asset/images/content-interaktif-bisnis-logo.svg"
                class="headerLogo" alt="" width="34" height="34"></a></div>
</header>