<footer class="creditWrap heightFull display-flex container">
	<div class="credit center-flex">
		<div class="creditCaption text-center titleCaption">Credits</div>
		<div class="creditContent text-center">
			<div class="creditCol">
				<div class="creditTitle">Naskah</div>
				<div class="creditName">Wibi Pangestu Pratama</div>
			</div>
			<div class="creditCol">
				<div class="creditTitle">Editor</div>
				<div class="creditName">Gajah Kusumo</div>
			</div>
			<div class="creditCol">
				<div class="creditTitle">Ilustrasi & Layout</div>
				<div class="creditName">Muhammad Afandi</div>
				<div class="creditName">Zoya Rasyidi Thoriq</div>
			</div>
			<div class="creditCol">
				<div class="creditTitle">Developer</div>
				<div class="creditName">Tim Teknologi Bisnis.com</div>
			</div>
		</div>
	</div>
	<div class="creditBottom center-flex">
		<a href="https://www.bisnis.com/" target="_self">
			<picture class="creditBottom__logo">
				<img srcset="./asset/images/logo-bisniscom-w.svg" alt="Bisniscom" class="" width="169" height="38"
					loading="lazy">
			</picture>
		</a>
		<div class="creditSp"></div>
		<div class="creditSoc center-flex">
			<a href="https://www.instagram.com/bisniscom/" target="_blank" class="creditSoc__item">
				<picture class="creditSoc__logo">
					<img srcset="./asset/images/social-ig.png" alt="Instagram" class="" width="30" height="29"
						loading="lazy">
				</picture>
			</a>
			<a href="https://twitter.com/Bisniscom" target="_blank" class="creditSoc__item">
				<picture class="creditSoc__logo">
					<img srcset="./asset/images/social-x.png" alt="X Twitter" class="" width="30" height="29"
						loading="lazy">
				</picture>
			</a>
			<a href="https://facebook.com/wwwbisniscom" target="_blank" class="creditSoc__item">
				<picture class="creditSoc__logo">
					<img srcset="./asset/images/social-fb.png" alt="Facebook" class="" width="30" height="29"
						loading="lazy">
				</picture>
			</a>
		</div>
		<button class="button creditBack" onclick="window.location.reload(false)" aria-label="Back to Top">
			<picture>
				<img srcset="./asset/images/social-refresh.png" alt="" width="30" height="29" class="">
			</picture>
		</button>
	</div>
</footer>