<div class="preloader" id="preloader">
	<div class="preloaderWrap">
		{{!-- <object data="./images/preload.svg" type="image/svg+xml"></object> --}}
		<img src="./asset/images/preload-img.png" class="preloaderImg" alt="loading" width="233" height="245">
		<div class="preloaderTxt">
			Loading...
		</div>
		<div class="bubbleContainer"><span class="bubbleY1"><span class="bubbleX1"></span></span><span
				class="bubbleY2"><span class="bubbleX2"></span></span><span class="bubbleY3"><span
					class="bubbleX3"></span></span><span class="bubbleY4"><span class="bubbleX4"></span></span><span
				class="bubbleY5"><span class="bubbleX5"></span></span><span class="bubbleY6"><span
					class="bubbleX6"></span></span><span class="bubbleY7"><span class="bubbleX7"></span></span><span
				class="bubbleY8"><span class="bubbleX8"></span></span><span class="bubbleY9"><span
					class="bubbleX9"></span></span><span class="bubbleY10"><span class="bubbleX10"></span></span><span
				class="bubbleY11"><span class="bubbleX11"></span></span><span class="bubbleY12"><span
					class="bubbleX12"></span></span><span class="bubbleY13"><span class="bubbleX13"></span></span><span
				class="bubbleY14"><span class="bubbleX14"></span></span><span class="bubbleY15"><span
					class="bubbleX15"></span></span><span class="bubbleY16"><span class="bubbleX16"></span></span><span
				class="bubbleY17"><span class="bubbleX17"></span></span><span class="bubbleY18"><span
					class="bubbleX18"></span></span><span class="bubbleY19"><span class="bubbleX19"></span></span><span
				class="bubbleY20"><span class="bubbleX20"></span></span>
		</div>
	</div>
</div>