<div class="preloader" id="preloader">
	<div class="preloader__wrap center-flex heightFull">
		{{!-- <object data="./images/preload.svg" type="image/svg+xml"></object> --}}
		<img src="./asset/images/preload-img.png" alt="loading" width="271" height="145">
	</div>
</div>