.header {
    &Wrap {
        position: fixed;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        pointer-events: none;
    }

    &Item {
        padding-top: 10px;
        pointer-events: all;

        @include min-responsive($w-md) {
            padding-top: 28px;
            padding-left: 82px;
        }

        img {
            width: 80px;

            @include min-responsive($w-md) {
                width: 94px;
            }
        }
    }
}