<div id="pop_story" class="storyModal body modal z100" tabindex="-1" role="dialog" aria-labelledby="Bisnis Stories">
    <div class="storyPopup animate animated bounceInDown n-width-300 txt-center">
        <div class="storyContent">
            <button class="storyClose" aria-label="Close web story" onclick="document.getElementById('pop_story').style.display='none'" data-dismiss="modal"></button>
            <div class="storyDots" id="dots_story"></div>
            <ul class="storyList" id="slide_story">
                <li class="storyItem">
                    <a href="#" class="storyWrapper">
                        <img class="storyImg" src="./asset/images/web-story-sample-1.jpg" alt="" loading="lazy"
                            width="360" height="640">
                    </a>
                </li>
                <li class="storyItem">
                    <a href="#" class="storyWrapper">
                        <img class="storyImg" src="./asset/images/web-story-sample-2.jpg" alt="" loading="lazy"
                            width="360" height="640">
                    </a>
                </li>
                <li class="storyItem">
                    <a href="#" class="storyWrapper">
                        <img class="storyImg" src="./asset/images/web-story-sample-3.jpg" alt="" loading="lazy"
                            width="360" height="640">
                    </a>
                </li>
                <li class="storyItem">
                    <a href="#" class="storyWrapper">
                        <img class="storyImg" src="./asset/images/web-story-sample-4.jpg" alt="" loading="lazy"
                            width="360" height="640">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>