.book {
    &Label {
        color: $cl-red;
        font-weight: $font-weight-bold;
    }

    &Form {
        width: 100%;
        resize: none;
    }

    &Wrap {
        &__item {

            @include min-responsive($w-md) {
                padding-bottom: 20px;
            }

            &:first-child {
                @include min-responsive($w-md) {
                    border-right: 1px solid $cl-lightgray;
                }
            }

            &:last-child {
                margin-top: 20px;

                @include min-responsive($w-md) {
                    margin-top: 0;
                }
            }
        }
    }
}