.button {
    padding: 0;

    &Primary {
        margin-top: 40px;
        padding: 13px 27px;
        min-height: 56px;
        border: 1px solid $cl-red;
        border-radius: 10px;
        text-transform: uppercase;
        @include base_transition(all, .2s);
        @include font-pack(false, $font-size-vnormal, $font-weight-bold, $line-base, $cl-red);

        @include min-responsive($w-lg) {
            margin-top: 60px;
            font-size: 18px;
        }

        &:hover {
            background: $cl-red;
            color: $cl-white;
        }
    }

    &Full {
        width: 100%;
    }

    &Translate {
        position: relative;
        margin-left: 14px;
        margin-right: 14px;
        padding: 6px 6px 0;

        &:hover {
            transform: scale(1.2);
            background: #FF6B57;
            border-radius: 5px;
            @include base_transition(all, .2s);
        }

        .icon-translate {
            vertical-align: baseline;
        }
    }

    &Backtop {
        display: none;
        position: fixed;
        right: 14px;
        bottom: 25px;
        width: 35px;
        height: 35px;
        border: 1px solid $cl-red;
        border-radius: 10px;
        color: $cl-red;
        background: $cl-white;
        z-index: 1;

        @include min-responsive($w-md) {
            width: 48px;
            height: 48px;
            right: 8px;
        }

        @include min-responsive($w-xl) {
            right: 5px;
        }
    }

    &Close {
        position: absolute;
        width: 28px;
        height: 28px;
        top: 12px;
        right: 12px;
        background: $cl-red;
        border-radius: 50%;

        @include min-responsive($w-md) {
            width: 38px;
            height: 38px;
            top: 20px;
            right: 20px;
        }
    }
}