.drop {
    justify-content: flex-end;

    &List {
        &--green {

            .dropTrig,
            .dropContent {
                border: 1px solid $cl-green;
            }

            .dropBox.open .dropTrig {
                background: $cl-green;
            }
        }
    }

    &Icon {
        @extend .center-flex;
        background: #F2F2F2;
        border-radius: 25px;
        width: 40px;
        height: 40px;
        margin-right: 10px;

        @include min-responsive($w-md) {
            margin-right: 15px;
            width: 52px;
            height: 52px;
        }

        img {
            max-width: 28px;

            @include min-responsive($w-md) {
                max-width: 32px;
            }
        }
    }

    &Box {

        &__title {
            display: flex;
            align-items: center;
            margin-right: 20px;
            @include font-pack(false, $font-size-vnormal, $font-weight-bold, false, $cl-primary-black);
            flex: 1;

            @include min-responsive($w-xl) {
                font-size: $font-size-medium;
            }

            @include range-responsive($w-md, $w-xl) {
                font-size: $font-size-normal;
            }
        }

        &.open {
            .dropContent {
                @extend .visible;
                padding: 20px 15px;

                @include min-responsive($w-xl) {
                    padding: 28px 47px;
                }

                @include range-responsive($w-md, $w-xl) {
                    padding: 28px 30px;
                }
            }

            .dropTrig {
                box-shadow: none;
                background: $cl-red;
            }

            .dropBox__title {
                color: $cl-white;
            }

            .icon-chevron:after {
                top: 3px;
                transform: rotate(225deg);
                color: $cl-white;
            }
        }

        &.close {
            .dropContent {
                @extend .hidden;
                padding: 0;
            }
        }
    }

    &Trig {
        cursor: pointer;
        padding: 10px 15px;
        border: 1px solid $cl-red;
        border-radius: 10px;
        @include box_shadow(0 3px 6px rgba(0, 0, 0, .16));

        @include min-responsive($w-xl) {
            padding: 28px 47px;
        }

        @include range-responsive($w-md, $w-xl) {
            padding: 28px 30px;
        }

        &--icon {
            padding: 5px 15px;

            @include min-responsive($w-xl) {
                padding: 18px 47px;
            }

            @include range-responsive($w-md, $w-xl) {
                padding: 17px 30px;
            }
        }
    }

    &Content {
        position: relative;
        top: -5px;
        margin-bottom: 20px;
        border: 1px solid $cl-red;
        border-top: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        @include box_shadow(0 3px 6px rgba(0, 0, 0, .16));
    }

    &Show {
        width: 30px;
        height: 30px;
        padding: 0;
        margin-left: 10px;
        align-self: center;

        .icon-chevron:after {
            width: 12px;
            height: 12px;
            color: $cl-primary-black;
        }
    }
}