.form {
    &Wrap {
        &__radio {
            display: flex;
            align-items: center;
        }

        &__select {
            margin-top: 20px;

            @include min-responsive($w-md) {
                margin-top: 30px;
            }

            .select2-container--open {
                .select2-selection__arrow:after {
                    transform: rotate(225deg);
                }
            }
        }

        &__error {
            display: block;
            position: relative;
            min-height: 12px;
            margin-top: 4px;
            @include font-pack(false, $font-size-xsmall, $font-weight-normal, 1, $cl-red);

            .error {
                position: absolute;
            }
        }

        &__date {
            position: relative;
        }
    }

    &Radio {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        transition: box-shadow .3s;
        background: $cl-white;
        cursor: pointer;
        border: 1px solid #C2C2C2;
        appearance: none;
        -webkit-appearance: none;
        accent-color: $cl-red;

        &:checked {
            box-shadow: inset 0 0 0 2px $cl-white;
            background: $cl-red;
            border: 1px solid $cl-red;

            &~.formRadio__label {
                color: $cl-red
            }
        }

        &__label {
            padding-left: 10px;
            @include font-pack(false, $font-size-vnormal, $font-weight-normal, $line-base, #C2C2C2);
            cursor: pointer;

            @include min-responsive($w-md) {
                font-size: $font-size-medium;
            }
        }
    }

    &Select {
        border: 1px solid #C2C2C2;
        border-radius: 10px;
        padding: 10px 20px 12px 8px;
        @include font-pack(false, $font-size-small, $font-weight-normal, $line-base, $cl-gray);
        @include placeholder($font-size-small, $font-weight-normal, $cl-gray);

        @include min-responsive($w-md) {
            padding: 14px 20px 14px 8px;
            min-height: 57px;
            font-size: 17px;
        }

        &__label {
            display: block;
            @include font-pack(false, $font-size-small, $font-weight-normal, $line-base, $cl-gray);

            @include min-responsive($w-md) {
                font-size: $font-size-vnormal;
            }
        }
    }


    &Num,
    &Input,
    &Area,
    &Upload {
        @extend .formSelect;
        min-height: 46px;
        padding: 10px 14px 12px 14px;
        @include font-pack(false, $font-size-vnormal, $font-weight-normal, $line-base, $cl-gray);

        @include min-responsive($w-md) {
            min-height: 57px;
            padding: 14px 14px 15px 14px;
        }

        &__label {
            @extend .formSelect__label;
        }
    }

    &Upload {
        width: calc(100% - 130px);
        position: relative;
        z-index: 0;

        @include min-responsive($w-md) {
            width: calc(100% - 164px);
        }

        &__icon {
            width: 23px;
            height: 22px;
            filter: brightness(0) saturate(100%);

            @include min-responsive($w-md) {
                width: 28px;
                height: 27px;
            }
        }

        &__btn {
            margin-top: 0;
            position: absolute;
            top: -1px;
            right: -130px;
            z-index: 1;
            text-transform: none;
            padding: 10px 18px;

            @include min-responsive($w-md) {
                right: -164px;
                padding: 13px 27px;
            }

            &:hover{
                span{
                    @extend .filter-white;
                }
            }
        }

        &__img {
            margin-left: 80px;
            margin-top: 15px;
            width: 100%;
            height: 30px;
            font-size: 12px;
            font-weight: 500;
            color: #8f8f8f;
        }

        input[type=file] {
            width: 100%;
            min-height: 46px;
            opacity: 0;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            @include min-responsive($w-md) {
                min-height: 57px;
            }
        }

        .fileName {
            display: block;
            position: relative;
            height: 24px;
            overflow: hidden
        }
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form {
    label.error {
        @include font-pack(false, $font-size-xsmall, $font-weight-normal, 1, $cl-red);
    }
}