.menu {
    position: relative;
    z-index: 4;

    &.hide {
        opacity: 0;
    }

    &Toggle {
        &.active {
            .ham {
                transform: rotate(225deg);

                .top {
                    stroke-dasharray: 17 82;
                    stroke-dashoffset: -62px;
                }

                .middle {
                    stroke-dashoffset: 23px;
                    stroke-dasharray: 40 111;
                }

                .bottom {
                    stroke-dashoffset: -83px;
                }
            }
        }
    }

    .menuToggle {
        outline: 0;
    }
}