.product {
    &Section {
        color: $cl-gray;
        padding-top: 48px;
        padding-bottom: 84px;

        @include min-responsive($w-lg) {
            padding-top: 68px;
        }
    }

    &Caption {
        @include min-responsive($w-xl) {
            padding-right: 25px;
        }
    }

    &Row {
        @include min-responsive($w-lg) {
            margin-right: -10px;
            margin-left: -10px;
        }
    }

    &Col {
        margin-top: 30px;

        @include min-responsive($w-lg) {
            margin-top: 0;
            margin-bottom: 30px;
        }

        @include min-responsive($w-xl) {
            margin-top: 0;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &Item {
        height: 100%;
        padding: 40px 20px;
        background: $cl-white;
        border-radius: 10px;
        @include box_shadow(0 3px 6px rgba(0, 0, 0, .16));

        @include min-responsive($w-xxl) {
            padding: 40px 24px;
        }
    }
}