.tab {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    overflow: hidden;
    background: $cl-white;
    border: 1px solid $cl-red;
    border-radius: 10px;
    height: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @include min-responsive($w-md) {
        height: 58px;
    }

    &:after {
        content: "";
        width: 50%;
        background: $cl-red;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
        @include base_transition(all, 250ms);
    }

    li {
        position: relative;
        display: inline-block;
        flex: 1;
        z-index: 2;
    }

    &.slide:after {
        left: 50%;
    }

    &Nav {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    &Trig {
        width: 100%;
        text-align: center;
        padding: 10px 20px 12px;
        @include font-pack(false, $font-size-vnormal, $font-weight-normal, $line-base, $cl-red);
        @include base_transition(color, 250ms);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @include min-responsive($w-md) {
            font-size: $font-size-xmedium;
        }

        &.active {
            color: $cl-white;
        }
    }
}