.billboardRectangle,
.billboardBottom,
.billboardFlyingBanner,
.billboardLeaderboard {
    &::before {
        content: '';
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        left: 0;
        top: -14px;
        width: 100%;
        height: 100%;
        background: url(../images/icon/icon-bisniscom-circle.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    &::after {
        background-color: #F4F4F4;
        content: "Advertisement";
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding-top: 36px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        @include font-pack($font-manrope, 11px, $font-weight-med, 1.6, #939393);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.billboard {
    position: relative;
    margin: auto;

    &Banner {
        position: relative;
        z-index: 2;
    }

    &Rectangle {
        width: 300px;
        min-height: 250px;
    }

    &Bottom {
        position: fixed;
        width: 100%;
        bottom: 0;
        min-height: 50px;
        background: rgba(244, 244, 244, .5);
        z-index: 1;

        &::before {
            top: -8px;
            background-size: 20px;
        }

        &:after {
            background-color: transparent;
            padding-top: 24px;
            font-size: 10px;
        }
    }

    &Leaderboard {
        width: 320px;
        min-height: 100px;
    }

    &Parallax {
        width: 100%
    }

    &Flying {
        width: 100%;
        position: relative;
        overflow: hidden;
        height: 300px;

        &Fix,
        &Inner {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0
        }

        &Inner {
            position: absolute;
            clip: rect(auto, auto, auto, auto);
            overflow: hidden;

            &::before,
            &::after {
                position: fixed;
                z-index: -1;
            }
        }

        &Fix {
            position: fixed;
            margin: 0 auto;
            transform: translateZ(0);
        }

        &Banner {
            min-width: 300px;
            min-height: 600px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            overflow: hidden;
        }

        &Wrap {
            position: relative;
            z-index: 0;
        }
    }

    &Wrapper{
        width: 100vw;
        margin: auto auto auto 50%;
        transform: translateX(-50%);
        
        .billboard{
            width: 100%;
        }
    }

    &Cta {
        margin: auto;
        min-height: 28px;
        background: #EFEFEF;
        @include font-pack($font-manrope, 10px, $font-weight-normal, 1.3, #585858);
        letter-spacing: 0.03em;

        span {
            @include font-pack(false, false, $font-weight-sbold, false, #803C00);
        }

        p {
            margin: auto
        }
    }

    &Close {
        @extend .icoClose;
        position: absolute;
        right: 0;
        top: -24px;
        width: 24px;
        height: 24px;
        border: 0;
        color: $cl-white;
        background: #BCBCBC;
        cursor: pointer;
        z-index: 99;
    }
}