.live {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #3D3D3D;
    border-bottom: 1px solid #3D3D3D;

    &Caption {
        display: inline-flex;
        align-items: center;
        padding: 3px 8px;
        letter-spacing: 0.6px;
        background: #D11616;
        border-radius: 5px;
        text-transform: uppercase;
        @include font-pack($font-manrope, 12px, $font-weight-sbold, false, $cl-white);

        span {
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background: $cl-white;
            margin-right: 4px;
            animation: blink 1s infinite;
        }
    }

    &List {
        margin-top: 13px;
    }

    &Item {
        width: 100%;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &Title {
        margin-top: 0;
        margin-bottom: 8px;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: .1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .1;
    }
}

@keyframes blink {
    0% {
        opacity: .1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .1;
    }
}