.paging {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid #CDCDCD;

    &Wrap {
        display: flex;
        flex-wrap: wrap;
    }

    &List {
        padding: 0;
        margin: 0 10px;
        list-style-type: none;
        display: flex;
    }

    &Item {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &Link,
    &Show {
        display: block;
        padding: 3px 13px;
        min-width: 34px;
        height: 35px;
        background: #0062A7;
        border-radius: 6px;
        @include font-pack($font-body, 16px, 500, 28px, $cl-primary-white);

        &--active,
        &:hover {
            color: $cl-primary-white;
            background: #21BCFF;
            text-decoration: none;
        }
    }

    &Intro {
        @include font-pack($font-body, 16px, 600, 34px, #333333);
    }

    &Show {
        padding: 3px 16px;
        border: 0;
    }

    &More {
        display: none;
        visibility: hidden;
        @include font-pack($font-body, 19px, 400, false, #0062A7);

        &__wrap {
            position: relative;
            min-height: 28px;
            margin-bottom: 10px;
        }

        &--active {
            display: inline-block;
            visibility: visible;
        }

        &:hover {
            color: #0062A7;
            text-decoration: none;
        }
    }
}