<h3>Job Description</h3>
<ul>
    <li>Melakukan pencarian dan penyuntingan naskah dengan memperhatikan isi, teknik penulisan, tata bahasa, serta
        mengikuti Ejaan Yang Disempurnakan (EYD).</li>
    <li>Melakukan koordinasi dengan tim terlibat dalam proses desain sampul dan tata letak buku.</li>
    <li>Menyiapkan materi promosi untuk media sosial dan katalog buku.</li>
    <li>Menyusun daftar naskah yang siap untuk proses tata letak.</li>
    <li>Berpartisipasi dalam event online dan offline sesuai kebutuhan penerbit.</li>
    <li>Membantu dalam pemeriksaan ilustrasi dan sketsa.</li>
    <li>Melakukan pengecekan akhir pada PDF isi dan sampul buku sebelum proses pencetakan.</li>
    <li>Menerjemahkan konten bila diperlukan sebagai tugas tambahan.</li>
</ul>
<h3>Minimum Qualifications</h3>
<ul>
    <li>Pendidikan minimal S1 semua jurusan -</li>
    <li>Pengalaman bekerja minimal 1 tahun di bidang penerbitan</li>
    <li>Memahami KBBI (Kamus Besar Bahasa Indonesia)</li>
    <li>Memahami HAKI (Hak Kekayaan Intelektual) - Memahami EYD (Ejaan Yang Disempurnakan)</li>
    <li>Memiliki kemampuan komunikasi, negoisasi dan persuasi yang baik</li>
    <li>Memiliki Ketelitian yang tinggi</li>
    <li>Dapat menggunakan bahasa Inggris secara aktif</li>
</ul>
<h3>Perks and Benefits</h3>
<ul>
    <li><img src='./asset/images/dummy/career/employee-discounts.svg' alt='' width='32' height='32'><span>Employee
            Discounts</span></li>
</ul>
<h3>Required Skills</h3>
<ul>
    <li>Technical Writing</li>
    <li>Proofreading</li>
    <li>Persuasion and Negotiation</li>
    <li>Copywriting</li>
    <li>Copy Editing</li>
    <li>Sales and Marketing Knowledge</li>
    <li>Language Translation</li>
</ul>
<h3>Jobs Summary</h3>
<div class='row'>
    <div class='col-xl-6'>
        <h4>Job Level</h4>
        <div>Entry Level / Junior, Apprentice</div>
        <h4>Job Category</h4>
        <div>Writing and Content</div>
        <h4>Educational Requirement</h4>
        <div>Bachelor's degree graduate</div>
        <h4>Office Address</h4>
        <div>Jalan Palmerah Barat 29, RT01/RW02, Gelora Kel., Tanah Abang, Jakarta Pusat, 10270, Indonesia</div>
    </div>
    <div class='col-xl-6'>
        <h4>Industry</h4>
        <div>Media Production</div>
        <h4>Vacancy</h4>
        <div>1 opening</div>
        <h4>Website</h4>
        <div><a href='http://www.kompasgramedia.com' target='_blank'
                rel='noopener nofollow'>http://www.kompasgramedia.com</a></div>
    </div>
</div>
<hr>
<h3>About Kompas Gramedia</h3>
<div>Kompas Gramedia, through its more than 50 years of history, is striving for one goal: enlightening and empowering
    Indonesia. To ensure that we are able to serve the nation for another 50 years, we are undergoing a digital
    transformation; strengthening and expanding our solid business pillars by developing new digital business
    initiatives.<br>Our vision is to enlight all the people in Indonesia with all the knowledge we have.</div>