.button {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;

    &Primary {
        padding: 7px 34px;
        background: $cl-primary1;
        @include flex(center);
        flex-shrink: 0;
        @include font-pack(false, 16px, $font-weight-bold, 1.5, $cl-neutral0);
        font-variation-settings: "wght" 700;
        border-radius: 26px;
        background: linear-gradient(0deg, #9D7537 -35.14%, #9D7537 2.7%, #F4C943 38.51%, #FFDE83 49.2%, #F4C943 69.21%, #D6B24E 84.2%, #FFECCE 100%);

        &:active {
            background: linear-gradient(0deg, #725527 -35.14%, #826529 2.7%, #AC8E32 38.51%, #B39C5B 49.2%, #AC8E32 69.21%, #977E38 84.2%, #AF9F84 100%);
        }

        &:hover {
            background: linear-gradient(0deg, #BA9E73 -35.14%, #CAAE75 2.7%, #F8DA7F 38.51%, #FEE6A4 49.2%, #F3D67C 69.21%, #E3CA82 84.2%, #FBEBCF 100%);
        }

        &.disabled {
            color: #595959;
            border-radius: 26px;
            background: linear-gradient(0deg, #373636 -35.14%, #656565 2.7%, #9F9F9F 38.51%, #AFAFAF 49.2%, #ACACAC 69.21%, #979797 84.2%, #A8A8A8 100%);
            pointer-events: none;
        }

        &Solid {
            background: #F4C57B;

            &:hover {
                background: #F8DAAC;
            }

            &:active {
                background: #CFA769;
            }

            &:disabled {
                background: #8C8C8C;
            }
        }
    }

    &Gradient {
        padding: 7px 34px;
        @include flex(center);
        flex-shrink: 0;
        @include font-pack(false, 16px, $font-weight-bold, 1.5, false);
        font-variation-settings: "wght" 700;
        border-radius: 26px;
        position: relative;
        background: transparent;
        overflow: hidden;
        z-index: 0;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            padding: 2px;
            /* Border thickness */
            border-radius: 26px;
            background: linear-gradient(0deg,
                    #9D7537 -35.14%,
                    #9D7537 2.7%,
                    #F4C943 38.51%,
                    #FFDE83 49.2%,
                    #F4C943 69.21%,
                    #D6B24E 84.2%,
                    #FFECCE 100%);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            z-index: 1;
            pointer-events: none;
        }

        span {
            background: linear-gradient(90deg,
                    #FFECCE,
                    #F4C943,
                    #FFECCE);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
            z-index: 2;
        }
    }
}

%button {
    &Close {
        position: absolute;
        line-height: 0;
        z-index: 1;

        &:hover {

            .icoClose::before,
            .icoClose::after {
                background: $cl-accent1;
            }
        }

        .icoClose {
            @extend %icoClose
        }
    }
}