.form {

    &Input,
    &Area {
        width: 100%;
        appearance: none;
        border: 0;
        margin-top: 15px;
        padding: 16px 24px;
        border-radius: 26px;
        border: 1px solid $cl-text1;
        background: transparent;
        color: $cl-neutral1;
        overflow: hidden;
        max-height: 51px;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include placeholder($size: 16px, $line: 1.46, $color: $cl-text2);

        &Icon {
            position: relative;
        }
    }

    &Label {
        display: block;
        line-height: 1.23;

        .formInfo {
            margin-left: 10px;
        }
    }

    &Radio {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transition: box-shadow .3s, border .3s;
        background: transparent;
        cursor: pointer;
        box-shadow: inset 0 0 0 2px #B0B0B0;
        appearance: none;
        -webkit-appearance: none;

        &:checked {
            box-shadow: inset 0 0 0 5px $cl-primary1;
            background: $cl-neutral0;
        }

        &Label {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &Wrap {
            display: flex;
            gap: 15px;
        }
    }

    &Select {
        width: 100%;
        padding: 8px 10px;
        border-radius: 7px;
        border: 0;
        color: $cl-neutral0;
        background-color: $cl-neutral1;

        &Custom {
            position: relative;

            select {
                appearance: none;
                /* Remove default arrow */
                -webkit-appearance: none;
                -moz-appearance: none;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M4.66675 6.66663L8.00008 9.99996L11.3334 6.66663H4.66675Z' fill='black'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: right 5px center;
                background-size: 16px;
                cursor: pointer;
            }
        }
    }

    &Cal {
        .icoCal {
            position: absolute;
            top: 50%;
            right: 35px;
            pointer-events: none;
        }
    }

    // &Combo {
    //     margin-top: 12px;
    //     margin-left: -3px;
    //     margin-right: -3px;
    //     flex-wrap: wrap;
    //     @include font-pack($font-normal, 12px, $font-weight-normal, 1.33, $cl-accent1);
    //     -webkit-user-select: none;
    //     -ms-user-select: none;
    //     user-select: none;

    //     @include min-responsive($w-md) {
    //         margin-top: 10px;
    //         margin-left: -16px;
    //         margin-right: -16px;
    //         font-size: 15px;
    //     }

    //     &Label {
    //         margin: 3px;
    //         padding: 12px 16px;
    //         border-radius: 50px;
    //         background: $cl-primary1;
    //         cursor: pointer;

    //         @include min-responsive($w-md) {
    //             margin: 5px;
    //             padding: 17px 20px;
    //         }

    //         &:hover {
    //             background: $cl-primary3;
    //         }

    //         &:has(.formComboInput:checked) {
    //             background: $cl-text2;
    //         }
    //     }

    //     &Input {
    //         display: none;
    //     }
    // }

    .required,
    .error {
        margin-top: 5px;
        color: $cl-notif1;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    select,
    textarea,
    input {
        font-size: 16px;
    }
}

input[type="search" i]::-webkit-search-cancel-button {
    display: none;
}

input[disabled] {
    opacity: 1 !important;
    -webkit-text-fill-color: $cl-neutral0;
    background-color: $cl-neutral1;
}