.intro {
    gap: 82px;
    flex-direction: column;

    @include min-responsive($w-lg) {
        flex-direction: row;
    }

    &Wrap {
        flex: 1;
    }

    &Lead {
        margin-top: 24px;
        margin-bottom: 5px;
    }
}