.title {
    &D2 {
        @include font-pack(false, 30px, $font-weight-bold, 1.12, $cl-primary1);
        font-variation-settings: "wght" 700;

        @include range-responsive($w-md, $w-lg) {
            font-size: 46px
        }

        @include min-responsive($w-lg) {
            font-size: 57px
        }
    }

    &H1 {
        @include font-pack(false, 26px, $font-weight-normal, 1.2, $cl-primary1);

        @include range-responsive($w-md, $w-lg) {
            font-size: 34px
        }

        @include min-responsive($w-xl) {
            font-size: 40px
        }
    }

    &H2 {
        @include font-pack(false, 24px, $font-weight-normal, 1.33, $cl-primary1);

        @include range-responsive($w-md, $w-lg) {
            font-size: 30px
        }

        @include min-responsive($w-xl) {
            font-size: 36px
        }
    }

    &H3 {
        @include font-pack(false, 22px, $font-weight-normal, 1.32, $cl-primary1);

        @include range-responsive($w-md, $w-lg) {
            font-size: 24px
        }

        @include min-responsive($w-xl) {
            font-size: 28px
        }
    }

    &H4 {
        @include font-pack(false, 20px, $font-weight-normal, 1.33, $cl-primary1);

        @include range-responsive($w-md, $w-lg) {
            font-size: 22px
        }

        @include min-responsive($w-xl) {
            font-size: 24px
        }
    }

    &H5 {
        @include font-pack(false, 18px, $font-weight-normal, 1.5, $cl-primary1);

        @include min-responsive($w-xl) {
            font-size: 20px
        }

        &Brown {
            color: #AE973E
        }
    }

    &H6 {
        @include font-pack(false, 14px, $font-weight-normal, 1.5, false);

        @include min-responsive($w-xl) {
            font-size: 18px
        }
    }

    &H7 {
        @include font-pack(false, 16px, $font-weight-normal, 1.5, $cl-neutral1);
    }

    &P3 {
        @include font-pack(false, 14px, false, 1.57, $cl-text1);

        &Bold {
            @include font-pack(false, false, $font-weight-bold, false, $cl-primary1);
            font-variation-settings: "wght" 700;
        }

        .icoArrow {
            @extend %filter-yellow;
        }
    }

    &Head {
        @include display-flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

%title {
}