.title {
    &D2 {
        @include font-pack(false, 57px, $font-weight-bold, 1.12, $cl-primary1);
    }

    &H2 {
        @include font-pack(false, 36px, $font-weight-normal, 1.33, $cl-primary1);
    }

    &H5 {
        @include font-pack(false, 20px, $font-weight-normal, 1.5, $cl-primary1);
    }

    &H6 {
        @include font-pack(false, 18px, $font-weight-normal, 1.5, false);
    }

    &H7 {
        @include font-pack(false, 16px, $font-weight-normal, 1.5, false);
    }

    &P1 {
        @include font-pack(false, 18px, false, 1.55, false);
    }

    &P3 {
        @include font-pack(false, 14px, false, 1.57, $cl-text1);

        &Bold {
            @include font-pack(false, false, $font-weight-bold, false, $cl-primary1);
        }

        .icoArrow {
            @extend %filter-yellow;
        }
    }

    &Head {
        @include display-flex;
        align-items: center;
        justify-content: space-between
    }
}

%title {
    // &Body400i {
    //     @include font-pack(false, 15px, $font-weight-normal, 1.06, $cl-text2);
    //     font-style: italic
    // }

    &Body500 {
        @include font-pack(false, 15px, $font-weight-sbold, 1.33, $cl-text1);
    }

    // &Body500i {
    //     @include font-pack(false, 15px, $font-weight-sbold, 1.06, $cl-text2);
    //     font-style: italic
    // }

    &Body700 {
        @include font-pack(false, 15px, $font-weight-bold, 1.53, $cl-text2);
    }

    // &Body700i {
    //     @include font-pack(false, 15px, $font-weight-bold, 1.06, $cl-text2);
    //     font-style: italic
    // }

    &Wrap {
        @include display-flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}