.tools {
    --gap-item: 20px;
    padding-bottom: 90px;

    &List {
        margin-right: calc(var(--gap-item) - var(--gap-item)*2);
        margin-left: calc(var(--gap-item) - var(--gap-item)*2);
    }

    &Item {
        margin-top: 25px;
        padding-left: var(--gap-item);
        padding-right: var(--gap-item);
    }

    &Link {
        @include display-flex
    }

    &Img {
        flex-shrink: 0;
        margin-right: 11px;
    }

    &Lead {
        margin-top: 8px;
        color: #FDFDFD;
    }

    &Title {
        font-weight: $font-weight-sbold;
        color: $cl-neutral1;
    }
}