.video {
    position: relative;

    &Row {
        padding-top: 46px;
        padding-bottom: 46px;
        overflow: hidden;
    }

    &Wrap {
        position: relative;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
        max-width: 960px;
        aspect-ratio: 16/9;
    }

    iframe,
    video {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }
}