.widget {
    width: 360px;
    min-height: 272px;
    margin: auto;

    @include min-responsive($w-md) {
        margin: unset;
    }

    &Content {
        position: relative;
        padding: 15px;
        margin-top: 15px;
        border-radius: 20px;
        overflow: hidden;
    }

    &Item {
        @extend .hidden;
        height: 0;
        position: relative;

        &.active {
            @extend .visible;
        }

        &Head {
            margin-bottom: 10px
        }
    }

    &Curr {
        &Content {
            @extend .hidden;
            height: 0;

            &.active {
                @extend .visible;
            }
        }

        &Table {
            display: flex;
            gap: 10px;
            color: $cl-neutral0;

            table {
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 7px;
                background: #FFF1BE;
                box-shadow: 0 1px 12px 0 #F1EDC2;

                &:first-child {

                    td {
                        text-align: center;
                    }
                }
            }

            th {
                padding-top: 5px;
                padding-bottom: 5px;
                font-weight: $font-weight-bold;
                font-variation-settings: "wght" 700;
            }

            td {
                text-align: right;
            }
        }

        &Title {
            position: relative;
            color: $cl-neutral1;
            font-weight: $font-weight-sbold;
            font-variation-settings: "wght" 600;
            padding-left: 8px;
            padding-right: 8px;
            padding-bottom: 7px;
            font-size: 15px;

            @include min-responsive($w-md) {
                font-size: 16px;
            }

            &.active {
                color: $cl-primary1;

                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 0%;
                background: linear-gradient(29deg, #9D7537 -57.12%, #D6B24E -38.39%, #9D7537 -29.33%, #C39245 -18.84%, #CD9C45 -9.07%, #F4C943 22.2%, #FFDE83 55.08%, #F4C943 81.71%, #D6B24E 101.65%, #9D7537 122.68%);
                transition: width 0.3s ease-in-out;
                pointer-events: none;
            }
        }
    }

    &Conv {
        &Head {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        &Content {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 5px;
        }
    }

    &Title {
        text-transform: uppercase;
        @include font-pack(false, 18px, $font-weight-bold, 1.5, $cl-text2);
        font-variation-settings: "wght" 700;

        &.active {
            color: $cl-primary2;

            .widgetIcon {
                filter: none;
            }
        }
    }

    &Icon {
        margin-right: 10px;
        transition: filter .3s ease-out;
        filter: invert(61%) sepia(0%) saturate(24%) hue-rotate(306deg) brightness(91%) contrast(84%);
    }

    &Head {
        @include display-flex;
        gap: 25px;
    }

    &Bg {
        img {
            object-position: top;
        }
    }

    &Select {
        width: 70px;
    }

    &Row {
        flex: 1;
    }

    &Input {
        margin: 0;
        padding: 8px 10px;
        border: 0;
        border-radius: 7px;
        background: $cl-neutral1;
        color: $cl-neutral0;
    }

    &Result {
        @extend .hidden;
        height: 0;

        &.active {
            margin-top: 20px;
            margin-bottom: 20px;
            @extend .visible;
        }
    }

    &Btn {
        margin-top: 20px;
    }

    .buttonPrimary {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .formRadio {
        width: 17px;
        height: 17px;
    }

    .formLabel {
        margin-bottom: 5px;
    }
}