<header class="header">
    <div class="headerWrap">
        <div class="headerItem">
            <h1 class="headerLogoWrap">
                <a href="index.html" class="headerLogoLink">
                    <img src="./asset/images/logo-smexpo.svg" class="headerLogo" alt="Pertamina Smexpo" width="195"
                        height="195"></a>
            </h1>
        </div>
        <div class="headerItem header--center searchboxWrap">
        </div>
        <div class="headerItem header--right">
            {{#if login}}
            <a href="cart.html" class="headerCart" aria-label="Shopping cart">
                <span class="icon iconCart"></span>
                <div class="badge">17</div>
            </a>
            <a href="inbox.html" class="headerInbox" aria-label="Inbox">
                <span class="icon iconInbox"></span>
            </a>
            <a href="notif.html" class="headerNotif" aria-label="Notification">
                <span class="icon iconNotif"></span>
                <div class="badge"></div>
            </a>
            {{else}}
            <a href="access.html" class="headerCart" aria-label="Shopping cart">
                <span class="icon iconCart"></span>
                <div class="badge">0</div>
            </a>
            {{/if}}
            <div class="headerAccessWrap desktop-only" id="accessDesk">
            </div>
            <div class="navMob mobile-only" id="navMob">
                {{>header/nav page=page}}
            </div>
        </div>
    </div>
    <div class="navDesk desktop-only" id="navDesk">
    </div>
</header>