@use '../base/mixins' as *;
@use '../base/vars' as *;

.text-center {
	text-align: center;
}

.flex-column {
	flex-direction: column
}

.center-flex {
	@include display-flex;
	align-items: center;
	justify-content: center;
}

.display-flex {
	@include display-flex;
}

.desktop-hide {
	@include min-responsive($w-md) {
		display: none !important;
	}
}

.mobile-hide {
	@include max-responsive(767px) {
		display: none !important;
	}
}

.opac0 {
	opacity: 0;
}

.heightFull {
	// height: 100%;
	height: var(--app-height);
}