.dashboard {
    &Row {
        margin-top: 30px;
    }

    &Head {
        @extend %display-flex;
        @extend %align-start;
        @extend %justify-between;
        @extend %flex-column;
        margin-bottom: 30px;

        @include min-responsive($w-md) {
            flex-direction: row;
            align-items: center;
        }

        .search {
            width: 100%;
            margin-bottom: 12px;

            @include min-responsive($w-md) {
                margin-bottom: 0;
                width: 386px;
            }
        }

        .sortFilter {
            @include font-pack($size: 16px);
            border-top: 0;
            padding-top: 0;
            align-self: flex-end;
            order: 1;

            @include min-responsive($w-md) {
                order: unset;
                margin-bottom: 0;
            }
        }
    }

    &Content {
        @include font-pack($size: 14px, $color: #676767);

        .title {
            color: $cl-primary-black;
        }
    }

    &Logout {
        padding: 5px;
        @extend %title--small;
        @include font-pack($family: $font-bold, $weight: $font-weight-bold, $color: #ED3D57);

        .iconLogout {
            @extend %iconLogout;
            @extend %filterRed;
            width: 20px;
            height: 20px;
            margin-right: 6px;
            vertical-align: middle;
        }
    }

    &Nav {
        .sortBox {
            border: 0;
            margin-top: 0;
            margin-left: -15px;
            margin-right: -15px;
            border-radius: 0;
            border-bottom: 8px solid #F2F2F2;

            @include min-responsive($w-xl) {
                margin-top: 24px;
                margin-left: 0;
                margin-right: 0;
                border: 1px solid #BDBDBD;
                border-radius: 10px;
            }

            &:first-child {
                margin-top: 24px;
            }
        }

        .sortLink:hover,
        .sortLink.active {
            padding-left: 5px;
            background-image: none;
            -webkit-background-clip: unset;
            -webkit-text-fill-color: unset;

            @include min-responsive($w-xl) {
                padding-left: 12px;
                background-image: var(--grad-blugreen);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &::before {
                content: none;

                @include min-responsive($w-xl) {
                    content: '';
                }
            }

        }
    }

    &Setting {
        &Wrap {
            margin-top: 30px;
        }
    }

    &Birth {
        width: 100%;
        text-align: left;

        .form {
            &Input {
                pointer-events: none;
                padding-left: 52px;
            }
        }

        .iconCal {
            position: absolute;
            top: 13px;
            left: 20px;
            width: 20px;
            height: 20px;
            @extend %iconCal;
            @extend %filterGrey
        }

        &Wrap {
            @extend %display-flex;

            .custom-select {
                .select {
                    min-height: 43px;
                }

                .styledSelect:after {
                    top: 10px;
                }
            }
        }
    }

    &Upload {
        &Wrap {
            @extend %display-flex;
            @extend %align-start;

            @include min-responsive($w-xl) {
                align-items: center;
            }
        }

        &Label {
            display: inline-block;
            cursor: pointer;

            .button {
                pointer-events: none;
            }
        }

        &Pic {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            border-radius: 7px;
            pointer-events: none;
        }

        &Guide {
            margin-top: 2px;
            margin-left: 24px;
        }
    }

    &Cta {
        display: inline-block;
        min-width: 210px;
    }

    &Wishlist {
        .dashboardHead {
            margin-bottom: 0;
            @include font-pack($family: $font-sbold, $weight: $font-weight-sbold, $color: #175CC3);
        }

        .sortFilter {
            margin-bottom: 12px;
            order: -1;

            @include min-responsive($w-md) {
                order: unset;
                margin-bottom: 0;
            }
        }
    }

    &User {
        @extend .dashboardUploadWrap;

        &Img {
            @extend .uploadBtn;
            margin-right: 24px;
        }
    }

    &Notif {
        &Item {
            @extend %display-flex;
            @extend %align-center;
            @extend %justify-between;
        }

        &Desc {
            margin-top: 8px;
            @include font-pack($family: $font-sbold, $weight: $font-weight-sbold, $size: 14px, $color: #676767);
        }

        .titleBold {
            padding-right: 12px;
            @include font-pack($color: $cl-primary-black, $size: 16px);
        }
    }

    &Dis {
        margin-top: 30px;
        color: $cl-primary-black;

        .dis {
            &Love {
                @extend %center-flex;
                @extend %buttonLove;

                &::before {
                    margin-right: 6px;
                }
            }
        }
    }

    &Review {
        color: $cl-primary-black;
    }

    &Box {
        @extend .disBox;
        margin-top: 24px;

        &Head {
            @extend .dashboardNotifItem;
            flex-direction: column;
            margin-bottom: 14px;
            padding-top: 14px;
            padding-bottom: 10px;
            border-bottom: 1px solid #BDBDBD;

            @include min-responsive($w-xl) {
                flex-direction: row;
            }

            .productBox,
            ~.productBox {
                padding: 0;
                margin-top: 0;
                border: 0;
                @extend %justify-between;
            }
        }

        &Left {
            @include min-responsive($w-xl) {
                padding-right: 12px;
            }
        }

        &Cta {
            position: relative;
            margin-top: 12px;

            @include min-responsive($w-xl) {
                margin-top: 0;
            }
        }

        .reviewItem {
            margin-top: 12px;
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &Table {
        border: 0;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;

        tr {
            border: 0;
            margin: 0;
        }

        th,
        td {
            text-align: center;

            &:first-child {
                @include min-responsive($w-md) {
                    text-align: left;
                }
            }
        }

        th {
            padding: 7px 20px;
            border-bottom: 1px solid #E0E0E0;
            background: $cl-white;
            @include font-pack($family: $font-sbold, $size: 16px, $weight: $font-weight-sbold);

            &:first-child {
                padding: 0;
                color: $cl-primary-black;

                span {
                    position: relative;
                    padding: 7px 20px;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: -3px;
                        left: 0;
                        right: 0;
                        background: var(--grad-blugreen);
                        z-index: -1;
                    }
                }
            }
        }

        td {
            padding: 10px 20px;
        }

        tbody tr:first-child td {
            @include min-responsive($w-md) {
                padding-top: 24px;
            }
        }
    }

    @media screen and (max-width: 767px) {
        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 4px solid #F2F2F2;
            display: block;
            margin-bottom: 20px;
        }

        table td {
            border-bottom: 1px solid #E0E0E0;
            display: block;
            text-align: right;
        }

        table td::before {
            content: attr(data-label);
            float: left;
            @include font-pack($family: $font-sbold, $weight: $font-weight-sbold);
        }

        table td:last-child {
            border-bottom: 0;
        }
    }

    .form {
        &Input {
            width: 100%;
            min-height: 45px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        &Label {
            display: block;
            margin-bottom: 12px;
        }

        &Radio {
            &Wrap {
                display: inline-block;

                &.formLabel {
                    margin-top: 10px;
                    margin-bottom: 10px;

                    &:first-child {
                        margin-right: 24px;
                    }
                }
            }
        }
    }

    .popover {
        width: calc(100% - 30px);

        @include min-responsive($w-xl) {
            width: 600px;
        }
    }

    .buttonPass {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 2px;
        right: 13px;
        padding: 20px;

        &.show {

            &::before,
            &::after {
                opacity: 0;
            }
        }

        .iconEye {
            @extend %iconEye;
            @extend %filterGrey;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 8px;
            right: 8px;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            border-top: 2px solid $cl-white;
            top: 18px;
            right: 8px;
            opacity: 1;
            width: 26px;
            height: 4px;
            display: block;
            transform: rotate(40deg);
            border-radius: 1px;
            z-index: 1;
        }

        &::after {
            content: "";
            position: absolute;
            border-top: 2px solid #676767;
            top: 19px;
            right: 9px;
            filter: none;
        }
    }

    .buttonRect {
        @include font-pack($family: $font-sbold, $size: 16px, $weight: $font-weight-sbold);

        &White {
            color: $cl-primary-black;
        }
    }

    .sortCta {
        margin-top: 30px;
    }
}