.detail {
    &Wrap {
        margin-top: 30px;
    }

    &Image {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        cursor: pointer;

        &Wrap {
            width: 100%;
            border-radius: 20px;
            overflow: hidden;
        }

        &List {
            max-width: 350px;

            @include min-responsive($w-xl) {
                max-width: 100%;
            }
        }

        &Nav {
            margin-top: 9px;
            margin-left: -6px;
            margin-right: -6px;

            .detailImage {
                &Item {
                    margin-top: 6px;
                    padding-left: 6px;
                    padding-right: 6px;
                }

                &Wrap {
                    border-radius: 10px;
                }
            }

            .slick-track {
                margin-left: 0;
                margin-right: 0;
            }

            .slick-arrow {
                @extend %hidden;
                top: 35px;

                &.visible {
                    @extend %visible;
                    height: 34px;
                }
            }
        }
    }

    &Content {
        margin-top: 20px;

        @include min-responsive($w-xl) {
            margin-top: 0;
        }

        .product {

            &Attr,
            &Disc {
                margin-top: 10px;
            }

            &Attr {
                font-size: 16px;

                .iconStar {
                    width: 24px;
                    height: 24px;
                }
            }

            &Disc {
                @extend %display-flex;
                position: relative;
            }

            &--dash {
                margin-left: 8px;
                margin-right: 8px;

                @include min-responsive($w-md) {
                    margin-left: 18px;
                    margin-right: 18px;
                }
            }
        }

        .price {
            &Disc {
                @include font-pack($family: $font-mbold, $size: 15px, $weight: $font-weight-mbold);
            }

            &Net {
                @include font-pack($family: $font-base, $size: 15px, $weight: $font-weight-normal, $color: $cl-primary-black);
            }
        }
    }

    &Flash {
        display: inline-block;
        margin-bottom: 10px;
        padding: 2px 7px;
        border-radius: 5px;
        background: linear-gradient(90deg, #C22121 0%, #F05512 100%);
        text-transform: uppercase;
        @extend %title--small;
        @include font-pack($family: $font-sbold, $weight: $font-weight-sbold, $color: $cl-white);

        img {
            width: 16px;
            vertical-align: middle;
        }
    }

    &Title {
        @include font-pack($family: $font-mbold, $size: 22px, $weight: $font-weight-mbold);
    }

    &Price {
        margin-top: 10px;
        @include font-pack($family: $font-bold, $size: 24px, $weight: $font-weight-bold);
    }

    &Tab {
        &Content {
            @extend %title--small
        }
    }

    &Type {
        @extend %display-flex;
        @extend %align-center;
        flex-wrap: wrap;
        margin-top: 15px;
        margin-left: -5px;
        margin-right: -5px;

        &Item {
            display: block;
            cursor: pointer;
            margin-top: 5px;
            margin-left: 5px;
            margin-right: 5px;
        }

        &Label {
            padding: 8px 10px;
            border-radius: 10px;
            border: 1px solid #E0E0E0;
            pointer-events: none;
            color: $cl-primary-black;

            &::before {
                opacity: 0;
            }
        }

        &Radio {
            display: none;

            &:checked {
                ~.detailTypeLabel {
                    border: 1px solid transparent;

                    &::before {
                        opacity: 1;
                    }
                }
            }

            &:not(:checked) {
                ~.detailTypeLabel {
                    min-height: 50px;
                }
            }
        }

        img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
            vertical-align: middle;
            object-fit: cover;
        }
    }

    &Coupon {
        margin-top: 12px;
        padding: 12px 14px 6px;
        border-radius: 7px;
        border: 1px solid #BDBDBD;

        &More {
            @extend .titleMore;
            @extend %justify-center;
            width: 100%;
            margin-top: 6px;
            padding-top: 6px;
            padding-bottom: 6px;

            &::after {
                content: '';
                @extend %iconChevron;
                @extend %filterGrey;
                display: inline-block;
                position: relative;
                width: 20px;
                height: 20px;
                margin-left: 5px;
                vertical-align: text-top;
            }

            &.active {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }

        &Wrap {
            max-height: 108px;
            overflow: hidden;
            transition: max-height .4s linear;
            will-change: max-height;
        }

        .couponItem {
            max-width: unset;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &Nav {
        scroll-margin-top: calc(73px + 54px);

        @include min-responsive($w-xl) {
            scroll-margin-top: calc(121px + 54px);
        }
    }

    &Cta {
        display: block;
        min-width: 32px;
        min-height: 32px;
        @include font-pack($family:$font-sbold, $size: 14px, $weight: $font-weight-sbold, $color:#676767);

        @include min-responsive($w-xl) {
            font-size: 16px;
        }

        .icon {
            width: 22px;
            height: 22px;
            flex-shrink: 0;
            vertical-align: middle;
            background-size: contain;
            @extend %filterGrey;

            @include min-responsive($w-xl) {
                margin-right: 8px;
            }

            &Share {
                @extend %iconShare
            }

            &Chat {
                @extend %iconChat
            }

            &Seller {
                @extend %iconSeller;
                margin-right: 8px;
            }
        }

        &Love {
            text-align: left;

            &::before {
                content: '';
                display: block;
                @extend %iconLove;
                width: 22px;
                height: 22px;
                background-size: contain;
                @extend %filterGrey;

                @include min-responsive($w-xl) {
                    position: absolute;
                    left: 25px;
                }
            }

            &.active {
                &::before {
                    @extend %iconLoved;
                    @extend %filterRed;
                }
            }
        }

        &Wrap {
            position: absolute;
            right: 0;
            bottom: 0;
            @extend %display-flex;
            @extend %align-center;
            margin-left: -10px;
            margin-right: -10px;

            @include min-responsive($w-xl) {
                position: relative;
                margin-top: 10px;
            }

            .detailCta {
                margin-left: 10px;
                margin-right: 10px;
                padding: 5px;
                font-size: 0;

                @include min-responsive($w-xl) {
                    width: calc(50% - 20px);
                    padding: 13px 0;
                    font-size: 16px;
                }

                &Love {
                    padding-left: 5px;

                    @include min-responsive($w-xl) {
                        padding-left: 42px;
                    }
                }
            }
        }

        &Box {
            position: relative;
            margin-top: 10px;
            border-radius: 10px;
            border: 1px solid #BDBDBD;

            &::before {
                position: absolute;
                top: 50%;
                display: block;
                width: 100%;
                height: 1px;
                border-bottom: 1px solid #BDBDBD;

                @include min-responsive($w-xl) {
                    content: '';
                }
            }

            .detailCta {
                width: 100%;
                padding: 10px 18px;
                text-align: left;
            }
        }
    }

    &Summary {
        .detailCtaWrap {
            display: none;

            @include min-responsive($w-xl) {
                display: flex;
            }
        }
    }

    &Total {
        margin-top: 27px;
        margin-bottom: 17px;
        line-height: normal;
        letter-spacing: 0;

        .summary {
            &Label {
                @include font-pack($size: 14px, $color: #676767);
            }

            &Amount {
                @include font-pack($family:$font-sbold, $size: 16px, $weight: $font-weight-sbold);
            }
        }
    }

    .iconStar {
        @extend %iconStar;
        background-size: contain;
        vertical-align: middle;
        width: 20px;
        height: 20px;
    }

    //override to display .summaryMob
    ~.help .helpWrap {
        bottom: 70px;

        @include min-responsive($w-xl) {
            bottom: 20px;
        }
    }

    ~.footer {
        padding-bottom: 60px;

        @include min-responsive($w-xl) {
            padding-bottom: 0;
        }
    }
}