.notif {
    &Content {
        min-height: 500px;
        margin-left: auto;
        margin-right: auto;

        .buttonRect {
            display: inline-block;
            min-width: 210px;
        }
    }

    &Pending {
        color: #175CC3;

        &Img {
            position: relative;
            padding-top: 12px;
            padding-bottom: 12px;

            &::before,
            &::after {
                content: '';
                left: 0;
                display: block;
                height: 1px;
                margin: auto;
                background: #BDBDBD;
                max-width: 100%;
            }

            &::before {
                width: calc(100% - 50px);

                @include min-responsive($w-md) {
                    width: 332px;
                }
            }

            &::after {
                width: 400px;
            }

            img {
                margin-top: 20px;
                margin-bottom: 20px
            }
        }
    }

    &Countdown {
        .countDown {
            &__cont {
                @extend %justify-center;
            }

            &__digit {
                &_cont {
                    @include font-pack($family: $font-bold, $size: 18px, $weight: $font-weight-bold, $color: #175CC3);

                    @include min-responsive($w-md) {
                        @include font-pack($size:24px);
                    }
                }

                &_last_placeholder,
                &_new_placeholder,
                &_last_rotate,
                &_new_rotate {
                    background: $cl-white;
                }
            }

            &__interval_basic_cont::after {
                color: #175CC3;
            }
        }
    }

    &Cta {
        @extend %center-flex;
        @extend %flex-column;

        @include min-responsive($w-md) {
            flex-direction: row;
        }

        .buttonRect {
            margin: 6px 12px;
            min-width: 224px;
            
            &Grad{
                min-width: 220px;
            }
        }
    }
}