.section {
    position: relative;
    z-index: 1;
    //min-height: var(--app-height);

    &--zebra {
        position: relative;
        width: 100%;
        height: 22px;
        // background: repeating-linear-gradient(90deg, #EDEDED 0 77px, #2D2D2D 77px 154px);
        z-index: 1;
        
        @include min-responsive($mztablet) {
            height: 45px;
            // background: repeating-linear-gradient(90deg, #EDEDED 0 154px, #2D2D2D 154px 308px);
        }
    }
}
