.gg-arrow-right {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px; }
  .gg-arrow-right::after, .gg-arrow-right::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 3px; }
  .gg-arrow-right::after {
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    bottom: 7px; }
  .gg-arrow-right::before {
    width: 16px;
    height: 2px;
    bottom: 10px;
    background: currentColor; }

.gg-arrow-left {
  transform: rotate(181deg); }

@font-face {
  font-family: proximanova-bold;
  src: url(https://static.bisnis-cdn.com/bisnis/assets/fonts/ProximaNova-Bold.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: arial1;
  src: url(https://static.bisnis-cdn.com/bisnis/assets/fonts/arial.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: gothic;
  src: url(https://static.bisnis-cdn.com/bisnis/assets/fonts/GOTHIC.TTF) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: roboto;
  src: url(https://static.bisnis-cdn.com/bisnis/assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.align-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.align-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end; }

.items-center {
  align-items: center; }

.justify-between {
  justify-content: space-between; }

.flex-init {
  flex: 1; }

.headerLogin {
  font-family: gothic;
  font-size: 15px;
  font-weight: 600;
  color: #333;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease; }
  .headerLogin:hover {
    color: #ff8d07; }

.reg_kanal_nav .reg_kanalLabel {
  padding: 0;
  display: block; }

.reg_kanalLabel label {
  margin-left: -20px;
  font-family: gothic;
  font-size: 18px;
  font-weight: 300;
  color: #333; }

.reg_kanalLabel span {
  color: #f37826; }

.flashnews__title {
  overflow: hidden; }

.wrapper__flashnews-left, .flashnews__title {
  width: 165px; }

.skyscrapper--left:after,
.skyscrapper--right:after,
.billboardTop:after,
.billboardRectangle:after,
.billboardBottom:after,
.billboardBig:after {
  background-color: #fff;
  content: "Advertisement";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font: 400 11px/1.4 Roboto, sans-serif;
  color: #c8ccce;
  display: flex;
  justify-content: center;
  align-items: center; }

.skyscrapper {
  position: fixed;
  width: 100%;
  top: 0;
  transform: translateY(95px);
  z-index: 1;
  transition: transform .5s ease; }
  .skyscrapperFluid {
    position: absolute;
    width: calc((100% - 1100px)/2);
    display: block;
    top: 0; }
    .skyscrapperFluid img {
      max-width: none; }
    .skyscrapperFluid--left {
      left: 0; }
    .skyscrapperFluid--right {
      right: 0; }
  .skyscrapper--left {
    right: 0;
    position: absolute; }
  .skyscrapper--right {
    left: 0;
    position: absolute; }
  .skyscrapper--left, .skyscrapper--right {
    min-width: 160px;
    min-height: 600px; }

.billboard {
  position: relative;
  margin: 25px auto; }
  .billboardTop {
    width: 1080px;
    min-height: 250px; }
    .billboardTop:after {
      content: ''; }
  .billboardSticky {
    position: sticky;
    top: 170px; }
  .billboardRectangle {
    width: 300px;
    min-height: 250px; }
  .billboardBottom {
    width: 1100px;
    min-height: 90px;
    background: rgba(255, 255, 255, 0.5); }
    .billboardBottom:after {
      background-color: transparent; }
  .billboardBig {
    width: 300px;
    min-height: 600px; }

.button {
  border: 0;
  padding: 0;
  background: transparent;
  -webkit-appearance: none; }
  .buttonFtsize {
    background: #ededed;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 5px 6px;
    font-size: 17px;
    font-weight: 100;
    line-height: 22px;
    color: #555; }
    .buttonFtsize.minus {
      font-size: 13px;
      margin-right: 5px; }
  .buttonSocmed {
    width: 30px;
    height: 30px;
    color: #FFFFFF; }

.paging {
  margin-top: 30px;
  margin-bottom: 60px;
  padding-top: 20px;
  border-top: 1px solid #CDCDCD; }
  .pagingWrap {
    display: flex;
    margin-top: 10px; }
  .pagingList {
    padding: 0;
    margin: 0 10px;
    list-style-type: none;
    display: flex; }
  .pagingItem {
    margin-left: 5px;
    margin-right: 5px; }
    .pagingItem:first-child {
      margin-left: 0; }
    .pagingItem:last-child {
      margin-right: 0; }
  .pagingLink, .pagingShow {
    display: block;
    padding: 3px 13px;
    min-width: 34px;
    height: 35px;
    background: #0062A7;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF; }
    .pagingLink--active, .pagingLink:hover, .pagingShow--active, .pagingShow:hover {
      color: #FFFFFF;
      background: #21BCFF; }
  .pagingIntro {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 34px;
    color: #333333; }
  .pagingShow {
    padding: 3px 16px;
    border: 0; }
  .pagingMore {
    display: none;
    visibility: hidden;
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: #0062A7; }
    .pagingMore__wrap {
      position: relative;
      min-height: 28px;
      margin-bottom: 10px; }
    .pagingMore--active {
      display: inline-block;
      visibility: visible; }
    .pagingMore:hover {
      color: #0062A7; }

.shareSocmed {
  list-style: none;
  margin: 0; }
  .shareSocmed li {
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    -webkit-appearance: none;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear; }
  .shareSocmed .fab {
    font-size: 17px; }
  .shareSocmed__wrap {
    text-transform: uppercase;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #222222; }
  .shareSocmed .fb:hover .buttonSocmed {
    color: #2361d4; }
  .shareSocmed .tw:hover .buttonSocmed {
    color: #48aef5; }
  .shareSocmed .wa:hover .buttonSocmed {
    color: #29B200; }
  .shareSocmed .tl:hover .buttonSocmed {
    color: #08c; }
  .shareSocmed .li:hover .buttonSocmed {
    color: #1188c6; }

.listOther {
  padding-left: 7px;
  padding-right: 7px;
  list-style-type: none; }
  .listOther__item {
    min-width: 100%;
    border-bottom: 1px solid #DEDEDE;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 7px; }
    .listOther__item:last-child {
      border-bottom: 0; }
  .listOther__link {
    min-width: 100%;
    min-height: 20px;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: #333333; }

.readVideo {
  position: relative;
  min-width: 727px;
  min-height: 409px; }
  .readVideo:after {
    background-color: #fff;
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.readFont {
  margin: 0; }

.description .shareSocmed {
  padding: 0 0 0 5px !important; }

.list-news .terkait img {
  height: 115px;
  object-fit: cover; }

.hotopic li.hotopicLabel {
  font-family: roboto !important;
  font-size: 16px;
  font-weight: 400;
  color: #fcfcfc;
  padding: 8px 24px; }
  .hotopic li.hotopicLabel:before {
    content: none; }

.hotopicLabel {
  display: inline-block;
  background: #fb5858;
  margin-bottom: 10px;
  border-radius: 7px; }
  .hotopicLabel label {
    margin-bottom: 0; }

.campaign_kanal {
  height: 56px; }

.mt0 {
  margin-top: 0; }

.mt10 {
  margin-top: 10px; }

.mb40 {
  margin-bottom: 40px; }
