.skyscrapper--left:after,
.skyscrapper--right:after,
.billboardTop:after,
.billboardRectangle:after,
.billboardBottom:after,
.billboardBig:after {
  background-color: #fff;
  content: "Advertisement";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font: 400 11px/1.4 Roboto, sans-serif;
  color: #c8ccce;
  display: flex;
  justify-content: center;
  align-items: center; }

.skyscrapper {
  position: fixed;
  width: 100%;
  top: 0;
  transform: translateY(95px);
  z-index: 1;
  transition: transform .5s ease; }
  .skyscrapperFluid {
    position: absolute;
    width: calc((100% - 1100px)/2);
    display: block;
    top: 0; }
    .skyscrapperFluid img {
      max-width: none; }
    .skyscrapperFluid--left {
      left: 0; }
    .skyscrapperFluid--right {
      right: 0; }
  .skyscrapper--left {
    right: 0;
    position: absolute; }
  .skyscrapper--right {
    left: 0;
    position: absolute; }
  .skyscrapper--left, .skyscrapper--right {
    min-width: 160px;
    min-height: 600px; }

.billboard {
  position: relative;
  margin: 25px auto; }
  .billboardTop {
    width: 1080px;
    min-height: 250px; }
    .billboardTop:after {
      content: ''; }
  .billboardSticky {
    position: sticky;
    top: 170px; }
  .billboardRectangle {
    width: 300px;
    min-height: 250px; }
  .billboardBottom {
    width: 1100px;
    min-height: 90px;
    background: rgba(255, 255, 255, 0.5); }
    .billboardBottom:after {
      background-color: transparent; }
  .billboardBig {
    width: 300px;
    min-height: 600px; }
