<div class="headline mt10">
    <div class="headlineList" id="sheadline">
        <div class="headlineItem">
            <a href="read.html" class="headlineImg" aria-label="6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman">
                <img src="asset/images/sample/webp/art-big-0.webp" alt="" width="324" height="239" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="display-flex aitems-center mt10">
                    <div class="headlineSubtitle">Books</div>
                    <div class="headlineTime">18 Mei 2025</div>
                </div>
                <h1 class="headlineTitle mt10"><a href="read.html" class="headlineLink">6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman</a></h1>
            </div>
        </div>
        <div class="headlineItem">
            <a href="read.html" class="headlineImg" aria-label="Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar">
                <img src="asset/images/sample/webp/art-big-1.webp" alt="" width="324" height="239" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="display-flex aitems-center mt10">
                    <div class="headlineSubtitle">Books</div>
                    <div class="headlineTime">18 Mei 2025</div>
                </div>
                <h1 class="headlineTitle mt10"><a href="read.html" class="headlineLink">Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar</a></h1>
            </div>
        </div>
        <div class="headlineItem">
            <a href="read.html" class="headlineImg" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <img src="asset/images/sample/webp/art-big-2.webp" alt="" width="324" height="239" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="display-flex aitems-center mt10">
                    <div class="headlineSubtitle">Focus</div>
                    <div class="headlineTime">18 Mei 2025</div>
                </div>
                <h1 class="headlineTitle mt10"><a href="read.html" class="headlineLink">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</a></h1>
            </div>
        </div>
        <div class="headlineItem">
            <a href="read.html" class="headlineImg" aria-label="Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!">
                <img src="asset/images/sample/webp/art-big-3.webp" alt="" width="324" height="239" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="display-flex aitems-center mt10">
                    <div class="headlineSubtitle">Books</div>
                    <div class="headlineTime">18 Mei 2025</div>
                </div>
                <h1 class="headlineTitle mt10"><a href="read.html" class="headlineLink">Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!</a></h1>
            </div>
        </div>
        <div class="headlineItem">
            <a href="read.html" class="headlineImg" aria-label="Delishburger yang Benar-Benar Delicious">
                <img src="asset/images/sample/webp/art-big-4.webp" alt="" width="324" height="239" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="display-flex aitems-center mt10">
                    <div class="headlineSubtitle">Voices</div>
                    <div class="headlineTime">18 Mei 2025</div>
                </div>
                <h1 class="headlineTitle mt10"><a href="read.html" class="headlineLink">Delishburger yang Benar-Benar Delicious</a></h1>
            </div>
        </div>
        <div class="headlineItem">
            <a href="read.html" class="headlineImg" aria-label="Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar">
                <img src="asset/images/sample/webp/art-big-5.webp" alt="" width="324" height="239" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="display-flex aitems-center mt10">
                    <div class="headlineSubtitle">Books</div>
                    <div class="headlineTime">18 Mei 2025</div>
                </div>
                <h1 class="headlineTitle mt10"><a href="read.html" class="headlineLink">Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar</a></h1>
            </div>
        </div>
        <div class="headlineItem">
            <a href="read.html" class="headlineImg" aria-label="Kenapa Mayoritas Suami Takut Istri? Ada Masalah Relasi Kelas Sosial di Rumah Tangga?">
                <img src="6.webp" alt="" width="324" height="239" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="display-flex aitems-center mt10">
                    <div class="headlineSubtitle">Books</div>
                    <div class="headlineTime">18 Mei 2025</div>
                </div>
                <h1 class="headlineTitle mt10"><a href="read.html" class="headlineLink">Kenapa Mayoritas Suami Takut Istri? Ada Masalah Relasi Kelas Sosial di Rumah Tangga?</a></h1>
            </div>
        </div>
        <div class="headlineItem">
            <a href="read.html" class="headlineImg" aria-label="Kebaikan Bisa Menular! Dapat Dimulai dengan Memberikan Kopi">
                <img src="7.webp" alt="" width="324" height="239" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="display-flex aitems-center mt10">
                    <div class="headlineSubtitle">Books</div>
                    <div class="headlineTime">18 Mei 2025</div>
                </div>
                <h1 class="headlineTitle mt10"><a href="read.html" class="headlineLink">Kebaikan Bisa Menular! Dapat Dimulai dengan Memberikan Kopi</a></h1>
            </div>
        </div>
    </div>
    <div class="headlineBottom">
        <div class="headlineDots" id="dtheadline">
        </div>
    </div>
</div>