<header class="header headerFixed">
    <div class="headerContent display-flex aitems-center">
        <div class="menu">
            <label class="sr-only" for="menuToggle">Open navigation</label>
            <input type="checkbox" class="menuToggle" name="check" id="menuToggle" aria-haspopup="true">
            <svg class="ham hamRotate" viewBox="0 0 100 100" width="80">
                <path class="line top hamLine" d="m 70,33 h -40 c 0,0 -6,1.368796 -6,8.5 0,7.131204 6,8.5013 6,8.5013 l 20,-0.0013" />
                <path class="line middle hamLine" d="m 70,50 h -40" />
                <path class="line bottom hamLine"
                    d="m 69.575405,67.073826 h -40 c -5.592752,0 -6.873604,-9.348582 1.371031,-9.348582 8.244634,0 19.053564,21.797129 19.053564,12.274756 l 0,-40" />
            </svg>            <div class="menuList">
                <div class="menuProfile">
                    <button class="menuProfile__item button buttonPrimary" onclick="triggerActive('.-pLogin')"><span
                            class="icon icon-reg mr10"></span>Sign in</button>
                </div>
                <ul>
                    <li class="menuItem"><a href="#"
                            class="menuLink">News</a></li>
                    <li class="menuItem"><a href="#"
                            class="menuLink">Focus</a></li>
                    <li class="menuItem"><a href="#"
                            class="menuLink">People</a></li>
                    <li class="menuItem"><a href="channels.html"
                            class="menuLink">Voices</a></li>
                    <li class="menuItem"><a href="channels-video.html"
                            class="menuLink">+Vibes</a></li>
                    <li class="menuItem"><a href="#"
                            class="menuLink">Books</a></li>
                    <hr>
                    <li class="menuItem">
                        <a href="about.html" class="menuLink">About us</a>
                    </li>
                    <li class="menuItem">
                        <a href="#" class="menuLink">FAQ</a>
                    </li>
                    <li class="menuItem">
                        <a href="#" class="menuLink">Contact us</a>
                    </li>
                    <li class="menuItem">
                        <a href="#" class="menuLink">Pedoman media cyber</a>
                    </li>
                    <li class="menuItem">
                        <a href="#" class="menuLink">Policy</a>
                    </li>
                    <li class="menuItem">
                        <a href="#" class="menuLink">Community guideline</a>
                    </li>
                    <li class="menuItem">
                        <ul class="footerList display-flex jcontent-center aitems-center">
                            <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                                    rel="noopener noreferrer" aria-label="Facebook"><span class="icon icon-fb"></span></a></li>
                            <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                                    rel="noopener noreferrer" aria-label="Instagram"><span class="icon icon-ig"></span></a></li>
                            <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                                    rel="noopener noreferrer" aria-label="Twitter"><span class="icon icon-tw"></span></a></li>
                            <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                                    rel="noopener noreferrer" aria-label="Youtube"><span class="icon icon-yt"></span></a></li>
                            <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                                    rel="noopener noreferrer" aria-label="Tiktok"><span class="icon icon-tiktok"></span></a></li>
                            <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                                    rel="noopener noreferrer" aria-label="Linkedin"><span class="icon icon-ln"></span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>        </div>
        <div class="headerLogo text-center">
            <a href="index.html">
                <img src="asset/images/kontemporer-logo.png" alt="Kontemporer" width="190" height="36">
            </a>
        </div>
        <a href="search.html" class="buttonSearch" aria-label="Search"><span class="icon icon-search"></span></a>
    </div>
    <nav class="nav">
        <ul class="navList display-flex">
            <li class="navItem">
                <a href="#" class="navLink">News</a>
            </li>
            <li class="navItem">
                <a href="#" class="navLink">Focus</a>
            </li>
            <li class="navItem">
                <a href="#" class="navLink">People</a>
            </li>
            <li class="navItem">
                <a href="channels.html" class="navLink">Voices</a>
            </li>
            <li class="navItem">
                <a href="channels-video.html" class="navLink">+Vibes</a>
            </li>
            <li class="navItem">
                <a href="#" class="navLink">Books</a>
            </li>
        </ul>
    </nav>
</header>