<!-- stories -->
<div class="highlight highlight--stories mt30">
    <div class="articleCaption">Stories</div>
    <div class="highlightList mt10" id="sstories">
        <div class="highlightItem">
            <a href="read-stories.html" class="storiesLink storiesVer1">
                <img src="asset/images/sample/stories-0.png" class="highlightImg" alt="" width="105" height="187"
                    loading="lazy">
                <div class="storiesBox storiesVer1__box">
                                        <h4 class="storiesTitle storiesVer1__title mt10">
                        Famous Bread Around The World
                    </h4>
                </div>
            </a>
        </div>
        <div class="highlightItem">
            <a href="read-stories.html" class="storiesLink">
                <img src="asset/images/sample/stories-1.png" class="highlightImg" alt="" width="105" height="187"
                    loading="lazy">
                <div class="storiesBox">
                    
                    <div class="storiesSubtitle">Sponsored</div>
                    <h4 class="storiesTitle mt10">
                        Stres? lakukan hal ini sebelum terlambat!
                    </h4>
                </div>
            </a>
        </div>
        <div class="highlightItem">
            <a href="read-stories.html" class="storiesLink">
                <img src="asset/images/sample/stories-2.png" class="highlightImg" alt="" width="105" height="187"
                    loading="lazy">
                <div class="storiesBox">
                                        <h4 class="storiesTitle mt10">
                        7 rekomendasi tempat wisata yang perlu kamu kunjungi
                    </h4>
                </div>
            </a>
        </div>
        <div class="highlightItem">
            <a href="read-stories.html" class="storiesLink">
                <img src="asset/images/sample/stories-3.png" class="highlightImg" alt="" width="105" height="187"
                    loading="lazy">
                <div class="storiesBox">
                    
                    <div class="storiesSubtitle">Sponsored</div>
                    <h4 class="storiesTitle mt10">
                        Kreatif, ini cara mengolah sampah rumah tangga
                    </h4>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- stories -->