<div class="highlight highlight--col2 mt30">
    <div class="display-flex aitems-center jcontent-between">
        <div class="articleCaption">Foto</div>
        <a href="#" class="highlightMore display-flex aitems-center">Lihat Lainnya <span
                class="icon icon-next ml10"></span></a>
    </div>
    <div class="highlightList display-flex row mt10">
        <div class="highlightItem col-gd10-5">
            <a href="read-photo.html" class="highlightImg__wrap" aria-label="Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar">
                <img src="asset/images/sample/webp/art-big-1.webp" class="highlightImg" alt="" width="152" height="113"
                    loading="lazy">
                <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                </div>
            </a>
            <div class="highlightContent">
                <div class="articleDetail display-flex aitems-center mt10">
                    <div class="articleSubtitle">Foto</div>
                    <div class="articleTime">18 Mei 2025</div>
                </div>
                <h2 class="articleTitle mt5"><a href="read-photo.html" class="articleLink">Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar</a></h2>
            </div>
        </div>
        <div class="highlightItem col-gd10-5">
            <a href="read-photo.html" class="highlightImg__wrap" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <img src="asset/images/sample/webp/art-big-2.webp" class="highlightImg" alt="" width="152" height="113"
                    loading="lazy">
                <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                </div>
            </a>
            <div class="highlightContent">
                <div class="articleDetail display-flex aitems-center mt10">
                    <div class="articleSubtitle">Foto</div>
                    <div class="articleTime">18 Mei 2025</div>
                </div>
                <h2 class="articleTitle mt5"><a href="read-photo.html" class="articleLink">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</a></h2>
            </div>
        </div>
        <div class="highlightItem col-gd10-5">
            <a href="read-photo.html" class="highlightImg__wrap" aria-label="Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!">
                <img src="asset/images/sample/webp/art-big-3.webp" class="highlightImg" alt="" width="152" height="113"
                    loading="lazy">
                <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                </div>
            </a>
            <div class="highlightContent">
                <div class="articleDetail display-flex aitems-center mt10">
                    <div class="articleSubtitle">Foto</div>
                    <div class="articleTime">18 Mei 2025</div>
                </div>
                <h2 class="articleTitle mt5"><a href="read-photo.html" class="articleLink">Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!</a></h2>
            </div>
        </div>
        <div class="highlightItem col-gd10-5">
            <a href="read-photo.html" class="highlightImg__wrap" aria-label="Delishburger yang Benar-Benar Delicious">
                <img src="asset/images/sample/webp/art-big-4.webp" class="highlightImg" alt="" width="152" height="113"
                    loading="lazy">
                <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                </div>
            </a>
            <div class="highlightContent">
                <div class="articleDetail display-flex aitems-center mt10">
                    <div class="articleSubtitle">Foto</div>
                    <div class="articleTime">18 Mei 2025</div>
                </div>
                <h2 class="articleTitle mt5"><a href="read-photo.html" class="articleLink">Delishburger yang Benar-Benar Delicious</a></h2>
            </div>
        </div>
    </div>
    <div class="highlightBottom">
    </div>
</div>