<div class="popup popup--hidden flex-center -pLogin">
    <div class="popupWrap accessPopup">
        <button class="button buttonClose" aria-label="Close popup" data-modal-button="dismiss">
            <span class="icon icon-close"></span>
        </button>
        <div class="popupTitle text-center">
            Selamat Datang
        </div>
        <div class="popupContent mt20">
            <a href="#" class="buttonSecondary display-flex aitems-center mt10">
                <span class="mr10"><img src="./asset/images/icon-google.svg" alt="Google" loading="lazy" width="30"
                        height="30"></span>
                Masuk dengan Google
            </a>
            <a href="#" class="buttonSecondary display-flex aitems-center mt10">
                <span class="icon icon-fb mr10"></span>
                Masuk dengan Facebook
            </a>
            <a href="#" class="buttonSecondary display-flex aitems-center mt10">
                <span class="icon icon-tw mr10"></span>
                Masuk dengan X
            </a>
            <a href="#" class="buttonSecondary display-flex aitems-center mt10">
                <span class="icon icon-mail mr10"></span>
                Masuk dengan Email
            </a>
            <p class="text-center">Belum punya akun? Daftar <a href="register.html"><strong>DISINI</strong></a></p>
            <p class="text-center"><small>Dengan login di Kontemporer.com, Anda setuju untuk data dan informasi akun Anda digunakan untuk
                    memberikan layanan sesuai <a href="#" class="underline">Kebijakan Data Pribadi Kontemporer ID</a></small></p>
        </div>
    </div>
</div>