{{#eq component compare="alertStatus"}}
<!-- alert status -->
<div class="alert" data-alert="bottom">
    <div class="alertContent">{{alertMsg}}</div>
    <a href="#" class="button buttonDismiss alertDismiss" aria-label="Dismiss" role="button"
        data-alert-button="dismiss">{{alertBtn}}</a>
</div>
{{/eq}}