<div class="artList -sarticle">
    {{#each article}}
    <div class="artItem">
        <a href="{{link}}" class="artLink__wrap">
            <img src="{{image}}" class="artImg" alt="" width="360" height="229" loading="lazy">
            <div class="artContent">
                <div class="artDate">09 - 09 - 2022</div>
                <h3 class="titleArt">{{title}}</h3>
                <div class="artLink">Baca Selengkapnya</div>
            </div>
        </a>
    </div>
    {{/each}}
</div>