<div class="breadcrumb display-flex">
    <div class="breadcrumbItem">
        <a href="index.html">Home</a>
    </div>
    {{#eq page compare="tarif"}}
    <div class="breadcrumbItem">
        <a href="check-tarif.html">Cek Tarif</a>
    </div>
    {{/eq}}
    {{#eq page compare="resi"}}
    <div class="breadcrumbItem">
        <a href="check-resi.html">Cek Resi</a>
    </div>
    {{/eq}}
    {{#eq page compare="gerai"}}
    <div class="breadcrumbItem">
        <a href="gerai.html">Lokasi Gerai</a>
    </div>
    {{/eq}}
    {{#eq page compare="about"}}
    <div class="breadcrumbItem">
        <a href="about-us.html">About Us</a>
    </div>
    {{/eq}}
    {{#eq page compare="term"}}
    <div class="breadcrumbItem">
        <a href="term.html">Term & Condition</a>
    </div>
    {{/eq}}
    {{#eq page compare="privacy"}}
    <div class="breadcrumbItem">
        <a href="privacy.html">Privacy Policy</a>
    </div>
    {{/eq}}
    {{#eq page compare="freight"}}
    <div class="breadcrumbItem">
        <a href="freight.html">Freight Forwarding</a>
    </div>
    {{/eq}}
    {{#eq page compare="freight-sea"}}
    <div class="breadcrumbItem">
        <a href="freight.html">Freight Forwarding</a>
    </div>
    <div class="breadcrumbItem">
        <a href="freight-sea.html">Sea Freight</a>
    </div>
    {{/eq}}
    {{#eq page compare="download"}}
    <div class="breadcrumbItem">
        <a href="download.html">Download Document</a>
    </div>
    {{/eq}}
    {{#eq page compare="claim"}}
    <div class="breadcrumbItem">
        <a href="claim.html">Klaim</a>
    </div>
    {{/eq}}
    {{#eq page compare="faq"}}
    <div class="breadcrumbItem">
        <a href="faq.html">FAQ</a>
    </div>
    {{/eq}}
    {{#eq page compare="dangerous"}}
    <div class="breadcrumbItem">
        <a href="dangerous.html">Dangerous Good</a>
    </div>
    {{/eq}}
    {{#eq page compare="usaha"}}
    <div class="breadcrumbItem">
        <a href="usaha-kurir.html">Usaha Kurir</a>
    </div>
    {{/eq}}
</div>