{{#each faq}}
<div class="faqItem">
    <button class="button faqItem__wrap tabbutton{{#eq ../active compare=title}} active{{/eq}}" onclick="openTab(event, '{{replace (lowercase title) " " ""}}')">
        <img src="{{img}}" alt="" class="faqItem__img{{#if filter}} filter-red{{/if}}">
        <div class="faqItem__title">{{title}}</div>
    </button>
</div>
{{/each}}