<ul class="freightMenu">
    {{#each freightmenu}}
    <li class="freightMenu__item{{#eq ../page compare=title}} active{{/eq}}">
        <a href="{{link}}" class="freightLink">{{title}}</a>
    </li>
    {{/each}}
</ul>