<div class="headlineSlide -sheadline">
    <div class="headlineItem">
        <picture>
            <source srcset="./asset/images/headline/1.jpg" media="(min-width: 780px)" alt="">
            <img srcset="./asset/images/headline/1-xs.jpg"
                alt="" class="headlineImg" width="1920" height="537">
        </picture>
    </div>
    <div class="headlineItem">
        <picture>
            <source srcset="https://dummyimage.com/1920x537/092947/fff&amp;text=3x1" media="(min-width: 780px)" alt="">
            <img srcset="https://dummyimage.com/780x520/092947/fff&amp;text=3x2"
                alt="" class="headlineImg" width="1920" height="537">
        </picture>
    </div>
    <div class="headlineItem">
        <picture>
            <source srcset="https://dummyimage.com/1920x537/FF3115/fff&amp;text=3x1" media="(min-width: 780px)" alt="">
            <img srcset="https://dummyimage.com/780x520/FF3115/fff&amp;text=3x2"
                alt="" class="headlineImg" width="1920" height="537">
        </picture>
    </div>
    <div class="headlineItem">
        <picture>
            <source srcset="https://dummyimage.com/1920x537/FFD912/FF3115&amp;text=3x1" media="(min-width: 780px)" alt="">
            <img srcset="https://dummyimage.com/780x520/FF3115&amp;text=3x2"
                alt="" class="headlineImg" width="1920" height="537">
        </picture>
    </div>
</div>
<div class="headlineNav container -dtheadline">
</div>