<div class="mitraList -smitra">
    {{#each mitra}}
    <div class="mitraItem">
        <div class="mitraWrap center-flex">
            <img src="{{image}}" alt="{{title}}" width="221" height="108" loading="lazy">
        </div>
    </div>
    {{/each}}
</div>