<li class="stepItem stepItem--on display-flex">
    <div class="stepNum text-center">1</div>
    <img src="./asset/images/on-step1.png" class="stepImg" alt="" width="96" height="96" loading="lazy">
    <h4 class="stepItem__title">Customer request pickup barang</h4>
</li>
<li class="stepItem stepItem--on display-flex">
    <div class="stepNum text-center">2</div>
    <img src="./asset/images/on-step2.png" class="stepImg" alt="" width="96" height="96" loading="lazy">
    <h4 class="stepItem__title">Input alamat
    </h4>
</li>
<li class="stepItem stepItem--on display-flex">
    <div class="stepNum text-center">3</div>
    <img src="./asset/images/on-step3.png" class="stepImg" alt="" width="96" height="96" loading="lazy">
    <h4 class="stepItem__title">Kurir datang
    </h4>
</li>
<li class="stepItem stepItem--on display-flex">
    <div class="stepNum text-center">4</div>
    <img src="./asset/images/off-step2-on-step4.png" class="stepImg" alt="" width="99" height="99" loading="lazy">
    <h4 class="stepItem__title">Kurir input berat barang di tempat</h4>
</li>
<li class="stepItem stepItem--on display-flex">
    <div class="stepNum text-center">5</div>
    <img src="./asset/images/on-step5.png" class="stepImg" alt="" width="129" height="96" loading="lazy">
    <h4 class="stepItem__title">Resi dikirim melalui e-mail
    </h4>
</li>
<li class="stepItem stepItem--on display-flex">
    <div class="stepNum text-center">6</div>
    <img src="./asset/images/off-step4-on-step6.png" class="stepImg" alt="" width="99" height="99" loading="lazy">
    <h4 class="stepItem__title">Lakukan pembayaran</h4>
</li>
<li class="stepItem stepItem--on display-flex">
    <div class="stepNum text-center">7</div>
    <img src="./asset/images/off-step5-on-step7.png" class="stepImg" alt="" width="129" height="96" loading="lazy">
    <h4 class="stepItem__title">Barang dikirim</h4>
</li>