<li class="stepItem stepItem--off display-flex">
    <div class="stepNum text-center notranslate">1</div>
    {{!-- <img src="./asset/images/icon/off-step1.svg" class="stepImg" alt="" width="96" height="96" loading="lazy"> --}}
    <div class="stepImg">
        {{>step/off-step1}}
    </div>
    <h4 class="stepItem__title">Customer datang ke outlet</h4>
</li>
<li class="stepItem stepItem--off display-flex">
    <div class="stepNum text-center notranslate">2</div>
    {{!-- <img src="./asset/images/icon/off-step2-on-step4.svg" class="stepImg" alt="" width="96" height="96" loading="lazy"> --}}
    <div class="stepImg">
        {{>step/off-step2-on-step4}}
    </div>
    <h4 class="stepItem__title">Barang ditimbang dan diukur</h4>
</li>
<li class="stepItem stepItem--off display-flex">
    <div class="stepNum text-center notranslate">3</div>
    {{!-- <img src="./asset/images/icon/off-step3.svg" class="stepImg" alt="" width="96" height="96" loading="lazy"> --}}
    <div class="stepImg">
        {{>step/off-step3}}
    </div>
    <h4 class="stepItem__title">Cetak Resi</h4>
</li>
<li class="stepItem stepItem--off display-flex">
    <div class="stepNum text-center notranslate">4</div>
    {{!-- <img src="./asset/images/icon/off-step4-on-step6.svg" class="stepImg" alt="" width="99" height="99" loading="lazy"> --}}
    <div class="stepImg">
        {{>step/off-step4-on-step6}}
    </div>
    <h4 class="stepItem__title">Lakukan pembayaran</h4>
</li>
<li class="stepItem stepItem--off display-flex">
    <div class="stepNum text-center notranslate">5</div>
    {{!-- <img src="./asset/images/icon/off-step5-on-step7.svg" class="stepImg" alt="" width="129" height="96" loading="lazy"> --}}
    <div class="stepImg">
        {{>step/off-step5-on-step7}}
    </div>
    <h4 class="stepItem__title">Barang dikirim</h4>
</li>