<div class="readFont center-flex{{#if mt}} mt{{mt}}{{/if}}">
    <button class="button readFontCta -minus">
        Smallest Font
    </button>
    <input type="range" min="1.125" max="1.725" value="1" step=".2" id="sliderFont" class="readFontRange"
        aria-label="Customize font size">
    <button class="button readFontCta -plus">
        Largest Font
    </button>
</div>