<div class="readFont{{#if mt}} mt{{mt}}{{/if}}">
    <button class="button readFontCta flex-center" id="minus" aria-label="Smaller Font">
        <span class="icon icon-size-down"></span>
    </button>
    <button class="button readFontCta flex-center" id="plus" aria-label="Larger Font">
        <span class="icon icon-size-up"></span>
    </button>
</div>