{{!-- <div class="readWriter__box display-flex mt30">
    <img loading="lazy" src="https://api.lorem.space/image/face?w=125&amp;h=125&amp;hash=8B7BCDC2" alt=""
        class="readWriter__avatar" width="125" height="125">
    <div class="readWriter__wrap">
        <div class="readWriter--big">
            Alphonse Elric
        </div>
        <div class="readWriter__desc">
            Jurnalis di tabloidbintang.com. Menulis konten di berbagai portal media.
        </div>
        <a href="#" class="readWriter__more mt10">Lihat artikel saya lainnya</a>
        {{> read/social}}
    </div>
</div> --}}
<div class="readWriter__wrap mt20">
    <div class="readWriter--big">
        Penulis : Alphonse Elric
    </div>
    <div class="readWriter--big">
        Editor: Alphonse Elric
    </div>
</div>