<div class="event eventHeadline">
    {{#if title}}
    <h3 class="titleWrap display-flex titleCaption">{{title}}
        {{#if more}}
        <a href="event.html" class="linkMore" aria-label="see more news and event">See more</a>
        {{/if}}
    </h3>
    {{/if}}
    <div class="eventList row">

        {{>component/event-item}}

    </div>
</div>