<div class="listTab productTab tab">
    <ul class="productLabel center-flex">
        <li>
            <button class="button listTab__label tabbutton active" onclick="openTabBook(event, 'new')">
                New Release
            </button>
        </li>
        <li>
            <button class="button listTab__label tabbutton" onclick="openTabBook(event, 'best')">
                Best Seller
            </button>
        </li>
        <li>
            <button class="button listTab__label tabbutton" onclick="openTabBook(event, 'editor')">
                Editor's Choice
            </button>
        </li>
    </ul>
    <div class="tabwrapper feature">
        <div class="tabcontent -active" id="new">
            <div class="featureSlide row swiper">

                {{> component/feature-list-swiper type="new" total=10 index_start=0 index_end=10}}

            </div>
        </div>
        <div class="tabcontent" id="best">
            <div class="featureSlide row swiper">

                {{> component/feature-list-swiper type="best" total=10 index_start=0 index_end=10}}

            </div>
        </div>
        <div class="tabcontent" id="editor">
            <div class="featureSlide row swiper">

                {{> component/feature-list-swiper type="editor" total=10 index_start=0 index_end=10}}

            </div>
        </div>
    </div>
</div>