<div class="tabcontent detailTab__content active" id="sbook">
    <div class="productSlider">

        {{>list/product-slider swiper=true type="comic" total=5 index_start=15 index_end=20}}

    </div>
    <ul class="paging center-flex">
        {{>paging}}
    </ul>
</div>
<div class="tabcontent detailTab__content" id="sauthor">
    <div class="authorList row">
        {{>component/author-list col=5 index_start=0 index_end=9}}
        {{>component/author-list col=5 index_start=2 index_end=5}}
        {{>component/author-list col=5 index_start=6 index_end=9}}
        {{>component/author-list col=5 index_start=0 index_end=5}}
    </div>
    <ul class="paging center-flex">
        {{>paging}}
    </ul>
</div>