<div class="detailTab listTab tab row">
    <ul class="listTab__list detailTab__list display-flex align-center container">
        <li>
            <button class="button listTab__label detailTab__btn tabbutton active" onclick="openTab(event, 'sbook')">
                Book({{#if empty}}0{{else}}193{{/if}})
            </button>
        </li>
        <li>
            <button class="button listTab__label detailTab__btn tabbutton" onclick="openTab(event, 'sauthor')">
                Author({{#if empty}}0{{else}}56{{/if}})
            </button>
        </li>
    </ul>
    <div class="tabwrapper container">
        <hr>
        {{#if empty}}
        <div class="static text-center mt2">
            <img src="./asset/images/empty-search.png" alt="" width="251" height="250">
            <div class="titleText">Oops, we couldn't find what you were looking for.</div>
            <p class="titleParagraph">Please check again for typos or look for other products that you like</p>
        </div>
        {{else}}

        {{>search-tab-result}}

        {{/if}}
    </div>
</div>