<ul class="share center-flex">
    <li class="shareItem">
        <a href="#" class="shareLink" aria-label="facebook">
            <span class="icoInline icoFb"></span>
        </a>
    </li>
    <li class="shareItem">
        <a href="#" class="shareLink" aria-label="twitter">
            <span class="icoInline icoTw"></span>
        </a>
    </li>
    <li class="shareItem">
        <a href="#" class="shareLink" aria-label="whatsapp">
            <span class="icoInline icoWa"></span>
        </a>
    </li>
    <li class="shareItem">
        <a href="#" class="shareLink" aria-label="copy link">
            <span class="icoInline icoLink"></span>
        </a>
    </li>
</ul>