<div class="socmed socmedList">
    <div class="socmedItem">
        <a href="https://www.facebook.com/{{contact.facebook}}" class="socmedLink" aria-label="Facebook">
            <span class="icoInline icoFb"></span>
        </a>
    </div>
    <div class="socmedItem">
        <a href="https://www.instagram.com/{{contact.instagram}}" class="socmedLink" aria-label="Instagram">
            <span class="icoInline icoIg"></span>
        </a>
    </div>
    <div class="socmedItem">
        <a href="https://twitter.com/{{contact.twitter}}" class="socmedLink" aria-label="Twitter">
            <span class="icoInline icoTw"></span>
        </a>
    </div>
    <div class="socmedItem">
        <a href="https://www.youtube.com/{{contact.youtube}}" class="socmedLink" aria-label="Youtube">
            <span class="icoInline icoYt"></span>
        </a>
    </div>
</div>