<div class="menuList">
    <div class="menuSearch mt10">
        <form action="">
            <div class="menuSearch__box">
                <div class="icon icon-search menuSearch__icon"></div>
                <input type="text" name="" class="menuSearch__input" aria-label="Search news" placeholder="Cari Berita"
                    value="" inputmode="search">
            </div>
        </form>
    </div>
    <div class="menuProfile">
        <a href="#" class="menuProfile__item menuProfile__user purple">
            <span class="icon icon-user menuProfile__icon mr10"></span>
            Masuk
        </a>
    </div>
    <ul>
        <li class="menuItem"><a href="#"
                class="menuLink">Home</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Hangout</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Hallyu</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Zodiac</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Woman</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Hangout</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Entertainment</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Numpang Promo</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Stories</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Foto</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Video</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Indeks</a></li>
    </ul>
</div>