<div class="menuList">
    <div class="menuSearch mt10">
        <form action="">
            <div class="menuSearch__box">
                <input type="text" name="" class="menuSearch__input" aria-label="Search news" placeholder="Cari Berita"
                    value="" inputmode="search">
                <button class="button buttonSearch__menu" type="submit" name="submit" aria-label="Search"><span class="icon icon-search menuSearch__icon"></span></button>
            </div>
        </form>
    </div>
    <div class="menuProfile">
        <a href="login.html" class="menuProfile__item menuProfile__user purple">
            <span class="icon icon-user menuProfile__icon mr10"></span>
            Masuk
        </a>
    </div>
    <ul>
        <li class="menuItem"><a href="index.html"
                class="menuLink">Home</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Hangout</a></li>
        <li class="menuItem"><a href="channels.html"
                class="menuLink">Hallyu</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Zodiac</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Woman</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Hangout</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Entertainment</a></li>
        <li class="menuItem"><a href="promo.html"
                class="menuLink">Numpang Promo</a></li>
        <li class="menuItem"><a href="stories.html"
                class="menuLink">Stories</a></li>
        <li class="menuItem"><a href="photo.html"
                class="menuLink">Photo</a></li>
        <li class="menuItem"><a href="video.html"
                class="menuLink">Video</a></li>
        <li class="menuItem"><a href="indeks.html"
                class="menuLink">Indeks</a></li>
    </ul>
</div>