@keyframes draw {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale_distance {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    25% {
        opacity: .5;
        transform: scale(.4);
    }

    30% {
        opacity: .5;
        transform: scale(.5);
    }

    65% {
        opacity: .8;
        transform: scale(.6);
    }

    70% {
        opacity: .8;
        transform: scale(.7);
    }

    80% {
        opacity: 1;
        transform: scale(.8);
    }

    95% {
        opacity: .5;
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    25% {
        opacity: .5;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes wobble {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

// @keyframes moveloading {
//     0% {
//         background-position: 0 0;
//     }

//     100% {
//         background-position: 50px 50px;
//     }
// }

@keyframes scroll {
    0% {
        bottom: 34px;
    }

    5% {
        top: 4px;
    }

    32% {
        bottom: 4px;
    }

    66% {
        top: 34px;
        bottom: 4px;
    }

    100% {
        top: 4px;
        bottom: 34px;
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.5);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes spinleft {
    to {
        -webkit-transform: rotate(1turn)
    }
}

@keyframes spinleft {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes cloud-move {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes cloud-move2 {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes cloud-move2 {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@-webkit-keyframes cloud-move3 {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    100% {
        -webkit-transform: translateX(150px);
        transform: translateX(150px);
    }
}

@keyframes cloud-move3 {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    100% {
        -webkit-transform: translateX(150px);
        transform: translateX(150px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}