.text-center {
	text-align: center;
}

.center-flex {
	@include display-flex;
	align-items: center;
	justify-content: center;
}

.display-flex {
	@include display-flex;
}

.opac0 {
	opacity: 0;
}

.heightFull {
	height: 100%;
}