.popup {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--app-height);
    background: rgba(52, 52, 52, .5);
    z-index: 4;

    &--hidden {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease
    }

    &.active {
        visibility: visible;
        opacity: 1
    }

    &Wrap {
        position: relative;
        width: 100%;
        padding-bottom: 60px;
        font-size: 13px;

        @include max-responsive($w-xm) {
            padding-bottom: 50px;
        }

        @include min-responsive($w-md) {
            font-size: 14px;
            padding-bottom: 95px;
            min-height: 480px;
        }

        @include min-responsive($w-xl) {
            font-size: 18px;
            max-width: 1100px;
            padding-bottom: 0;
        }
    }
}