<div class="popup -pCAddress">
    <div class="popupWrap">
        <div class="popupBox addressPopupbox col-12 col-xl-5">
            <div class="popupHead">
                <div class="popupTitle">Pilih Alamat</div>
                <button class="button buttonClose" aria-label="Close Popup" onclick="closePopup()"><span
                        class="icon iconClose"></span></button>
            </div>
            <div class="popupContent spacing-sm">
                <form action="#">
                    <div class="search">
                        <button class="button icon iconSearch" aria-label="search address"></button>
                        <input type="text" value="" class="searchInput" aria-label="search address"
                            placeholder="Cari Alamat" inputmode="search">
                    </div>
                    <button class="button buttonRect buttonRectGrad buttonRectSpan" type="button"
                        onclick="triggerPopup('.-pAddress')">
                        <span>Tambah Alamat</span>
                    </button>
                    {{>template/address-list total=4 index_start=0 index_end=4 type="list" cta=true
                    phone=true radio=true}}
                </form>
            </div>
        </div>
    </div>
</div>