<div class="popup -pLCoupon active">
    <div class="popupWrap">
        <div class="popupBox couponPopupbox col-12 col-xl-5">
            <div class="popupHead">
                <div class="popupTitle">Pakai Promo</div>
                <button class="button buttonClose" aria-label="Close Popup" onclick="closePopup()"><span
                        class="icon iconClose"></span></button>
            </div>
            <div class="popupContent couponContent spacing-sm">
                <div class="couponBest" style="background-image: url(./asset/images/bg-coupon.png);">
                    Gunakan Promo Terbaik
                    <span>lebih hemat Rp 5000</span>
                </div>
                <div class="titleMedium spacing-sm">
                    <img src="./asset/images/icon-grad/coupon.png" class="couponSign" alt="" width="20" height="20">
                    Kupon Saya
                </div>
                {{>component/coupon more=true cta="Pilih" title=false}}
                {{>component/coupon more=true cta="Pilih" title=false}}
                {{>component/coupon more=true cta="Pilih" title=false}}
                {{>component/coupon more=true cta="Pilih" title=false}}
            </div>
        </div>
    </div>
</div>