<div class="popup popupChild -pCoupon">
    <div class="popupWrap">
        <div class="popupBox couponPopupbox col-12 col-xl-5">
            <div class="popupHead">
                <button class="button buttonBack" aria-label="Back to previous popup"
                        onclick="closePopup('.-pCoupon')"><span class="icon iconArrow"></span>Kembali</button>
                <button class="button buttonClose" aria-label="Close Popup" onclick="closePopup()"><span
                        class="icon iconClose"></span></button>
            </div>
            <div class="popupContent couponContent spacing-sm">
                <div class="popupTitle">Promo Oktober</div>
                <div class="couponTnc spacing-xs">
                    <div class="couponTncItem">
                        <div class="couponTncTitle">
                            <span class="icon iconClock"></span>Berlaku Hingga
                        </div>
                        <div class="countdown"></div>
                    </div>
                    <div class="couponTncItem">
                        <div class="couponTncTitle">
                            <span class="icon iconMinimum"></span>Minimum Transaksi
                        </div>
                        <div class="couponNom">
                            Rp50.000
                        </div>
                    </div>
                </div>
                <div class="couponDesc static spacing-sm">
                    <ol>
                        <li>Kupon diskon dapat digunakan dengan membuka halaman promo di Keranjang.</li>
                        <li>Kupon diskon hanya berlaku apabila pembelian Pengguna sudah memenuhi syarat dan
                            ketentuan yang tertera pada voucher.</li>
                        <li>Nominal diskon yang bisa didapatkan sebesar 10% hingga Rp 300.000.</li>
                        <li>Kupon diskon ini berlaku untuk transaksi minimal Rp 100.000 (tidak termasuk ongkos kirim
                            dan biaya tambahan lainnya).</li>
                        <li>Kupon diskon ini hanya berlaku untuk pembelanjaan di Sido Muncul Store.</li>
                        <li>1 (satu) Pengguna Smexpo hanya boleh menggunakan 1 (satu) akun Smexpo untuk
                            menggunakan Kupon diskon ini.</li>
                        <li>Diskon akan diberikan dalam bentuk potongan harga.</li>
                        <li>Jika transaksi gagal, dana yang kembali ke Pembeli akan sesuai
                            dengan nominal pembayaran yang dilakukan oleh Pembeli.</li>
                        <li>Smexpo berhak melakukan tindakan yang diperlukan apabila diduga terjadi tindakan
                            kecurangan yang dilakukan oleh Pengguna dan/atau yang melanggar Syarat dan Ketentuan Situs
                            dan/atau merugikan pihak Smexpo.</li>
                        <li>Dengan menggunakan Kupon diskon ini, pengguna dianggap telah memahami dan menyetujui
                            semua Syarat &amp; Ketentuan yang berlaku.</li>
                        <li>Kupon ini tidak dapat digunakan bersamaan dengan produk promosi kecuali diatur lain
                            sebagaimana kebijakan Smexpo.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>