<div class="summaryCtaWrap">
    {{#if cart}}
    {{else}}
    <a href="style-dashboard-chat.html" class="detailCta mobile-only" aria-label="Hubungi Penjual"><span class="icon iconChat"></span></a>
    <button class="summaryCta button buttonRect buttonRectGrad"><span>+ Keranjang</span></button>
    {{/if}}
    <a href="cart-checkout.html" class="summaryCta button buttonRect buttonRectBlue">
        Beli Langsung
    </a>
</div>