<label class="formLabel titleMore" for="shipping">Pilih Durasi Pengiriman</label>
<div class="formSelectWrap shippingSelect -type">
    <select name="shipping" id="shipping" class="custom-select" placeholder="Pengiriman">
        <option value="Next Day" data-price="Rp24.000" data-estprice="Rp24.000 - Rp30.000"
            data-estimate="Estimasi tiba besok - 4 Okt 2023">Next Day
        </option>
        <option value="Reguler" data-price="Rp12.000" data-estprice="Rp12.000 - Rp19.000"
            data-estimate="Estimasi tiba 5-6 Okt 2023">Reguler
        </option>
        <option value="Kargo" data-price="Rp12.000" data-estprice="Rp12.000 - Rp19.000"
            data-estimate="Rekomendasi berat di atas 5 kg <br>Estimasi tiba 7-8 Okt 2023">Kargo
        </option>
        <option value="Ekonomi" data-price="Rp12.000" data-estprice="Rp12.000 - Rp19.000"
            data-estimate="Estimasi tiba 8-9 Okt 2023">Ekonomi
        </option>
    </select>
</div>

<div class="shippingCourier" data-shipping="Next Day">
    <label class="formLabel titleMore" for="courier0">Kurir Pilihan</label>
    <div class="formSelectWrap shippingSelect">
        <select name="courier0" id="courier0" class="custom-select" placeholder="Pengiriman">
            <option value="AnterAja" data-price="(Rp24.000)" data-estprice="(Rp24.000)"
                data-estimate="Estimasi tiba besok - 4 Okt 2023" checked>AnterAja
            </option>
            <option value="Sicepat" data-price="(Rp28.000)" data-estprice="(Rp28.000)"
                data-estimate="Estimasi tiba besok - 4 Okt 2023">Sicepat
            </option>
            <option value="JNE" data-price="(Rp30.000)" data-estprice="(Rp30.000)"
                data-estimate="Estimasi tiba besok - 4 Okt 2023">JNE
            </option>
            <option value="JNT Kargo" data-price="(Rp30.000)" data-estprice="(Rp30.000)"
                data-estimate="Estimasi tiba besok - 4 Okt 2023">JNT Kargo
            </option>
        </select>
    </div>
</div>

<div class="shippingCourier" data-shipping="Reguler">
    <label class="formLabel titleMore" for="courier1">Kurir Pilihan</label>
    <div class="formSelectWrap shippingSelect">
        <select name="courier1" id="courier1" class="custom-select" placeholder="Pengiriman">
            <option value="AnterAja" data-price="(Rp12.000)" data-estprice="(Rp12.000)"
                data-estimate="Estimasi tiba besok - 4 Okt 2023" checked>AnterAja
            </option>
            <option value="Sicepat" data-price="(Rp19.000)" data-estprice="(Rp19.000)"
                data-estimate="Estimasi tiba besok - 4 Okt 2023">Sicepat
            </option>
            <option value="JNE" data-price="(Rp19.000)" data-estprice="(Rp19.000)"
                data-estimate="Estimasi tiba besok - 4 Okt 2023">JNE
            </option>
            <option value="JNT Kargo" data-price="(Rp19.000)" data-estprice="(Rp19.000)"
                data-estimate="Estimasi tiba besok - 4 Okt 2023">JNT Kargo
            </option>
        </select>
    </div>
</div>

<div class="shippingCourier" data-shipping="Kargo">
    <label class="formLabel titleMore" for="courier2">Kurir Pilihan</label>
    <div class="formSelectWrap shippingSelect">
        <select name="courier2" id="courier2" class="custom-select" placeholder="Pengiriman">
            <option value="AnterAja" data-price="(Rp12.000)" data-estprice="(Rp12.000)"
                data-estimate="Estimasi tiba besok - 4 Okt 2023" checked>AnterAja
            </option>
            <option value="Sicepat" data-price="(Rp19.000)" data-estprice="(Rp19.000)"
                data-estimate="Estimasi tiba besok - 4 Okt 2023">Sicepat
            </option>
            <option value="JNE" data-price="(Rp19.000)" data-estprice="(Rp19.000)"
                data-estimate="Estimasi tiba besok - 4 Okt 2023">JNE
            </option>
            <option value="JNT Kargo" data-price="(Rp19.000)" data-estprice="(Rp19.000)"
                data-estimate="Estimasi tiba besok - 4 Okt 2023">JNT Kargo
            </option>
        </select>
    </div>
</div>

<div class="shippingCourier" data-shipping="Ekonomi">
    <label class="formLabel titleMore" for="courier3">Kurir Pilihan</label>
    <div class="formSelectWrap shippingSelect">
        <select name="courier3" id="courier3" class="custom-select" placeholder="Pengiriman">
            <option value="AnterAja" data-price="(Rp12.000)" data-estprice="(Rp12.000)"
                data-estimate="Estimasi tiba besok - 4 Okt 2023" checked>AnterAja
            </option>
            <option value="Sicepat" data-price="(Rp19.000)" data-estprice="(Rp19.000)"
                data-estimate="Estimasi tiba besok - 4 Okt 2023">Sicepat
            </option>
            <option value="JNE" data-price="(Rp19.000)" data-estprice="(Rp19.000)"
                data-estimate="Estimasi tiba besok - 4 Okt 2023">JNE
            </option>
            <option value="JNT Kargo" data-price="(Rp19.000)" data-estprice="(Rp19.000)"
                data-estimate="Estimasi tiba besok - 4 Okt 2023">JNT Kargo
            </option>
        </select>
    </div>
</div>