<div class="popsheet mobile -pSummary" onclick="closePopup('.popsheet')">
    <div class="popsheetWrap" onclick='event.stopPropagation()'>
        <div class="titleMedium">
            Ringkasan Harga
        </div>
        <div class="summaryItem">
            <div class="summaryLabel">Total harga (2 barang)</div>
            <div class="summaryAmount">Rp344.750</div>
        </div>
        <div class="summaryItem">
            <div class="summaryLabel">Total diskon</div>
            <div class="summaryAmount">-Rp176.250</div>
        </div>
        <hr>
        <div class="mobile-only">
            <div class="summaryItem">
                <div class="summaryLabel"><strong>Total Bayar</strong></div>
                <div class="summaryAmount">Rp168.500</div>
            </div>
        </div>
    </div>
</div>