.article {
    &Content {
        padding-left: 15px;
        padding-right: 15px;
        @include font-pack($font-base, 16px, $font-weight-normal, false, false);

        @include min-responsive($w-vlg) {
            font-size: 20px;
        }
    }
}