.digital {
    &Wrap {
        flex-direction: column;

        @include min-responsive($w-vlg) {
            flex-direction: row;
        }
    }

    .article {
        &Img {
            position: relative;
            flex-shrink: 0;
            border-radius: 50%;
            padding: 0;
            width: 300px;
            height: 300px;
            margin-bottom: 40px;

            @include min-responsive($w-vlg) {
                width: 500px;
                height: 500px;
                margin-right: 80px;
                margin-bottom: 0;
            }

            @include range-responsive($w-vlg, $w-xl) {
                margin-right: 40px;
            }

            @include min-responsive($w-xxl) {
                width: 600px;
                height: 600px;
            }
        }

        &Content {
            color: #D4D4D4;
            min-height: 92px;
        }
    }

    &Cta {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;

        .buttonScroll {
            color: $cl-white;
        }

        .icon-scroll {
            margin-top: 12px;
        }
    }
}

.ui {
    &Phone {
        position: relative;

        &1 {
            position: absolute;
            @include auto_center;
            z-index: 1;
            transition: all .4s ease;
        }

        &2 {
            position: absolute;
        }

        &Wrap {
            position: relative;
            border: 2px solid rgba(219, 188, 116, .4);
            border-radius: 50%;
            width: 300px;
            height: 300px;

            @include min-responsive($w-vlg) {
                width: 500px;
                height: 500px;
            }

            @include min-responsive($w-xxl) {
                width: 600px;
                height: 600px;
            }

            &::after {
                content: '';
                position: absolute;
                background: rgba(219, 188, 116, .5);
                border-radius: 50%;
                @include auto_center;
                width: 200px;
                height: 200px;

                @include min-responsive($w-vlg) {
                    width: 294px;
                    height: 294px;
                }

                @include min-responsive($w-xxl) {
                    width: 364px;
                    height: 364px;
                }
            }
        }
    }

    &Circle {
        position: relative;
        width: 300px;
        height: 300px;

        @include min-responsive($w-vlg) {
            width: 500px;
            height: 500px;
        }

        @include min-responsive($w-xxl) {
            width: 600px;
            height: 600px;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            background: url(../../digital/asset/images/circle-attr.png);
            width: 28px;
            height: 50px;
            background-size: contain;
            background-repeat: no-repeat;
            transform: rotate(360deg);
            opacity: .8;

            @include min-responsive($w-vlg) {
                width: 50px;
                height: 72px;
            }
        }

        &::before {
            bottom: 83px;
            left: -8px;

            @include min-responsive($w-vlg) {
                left: 15px;
            }

            @include min-responsive($w-xxl) {
                left: 37px;
            }
        }

        &::after {
            top: 90px;
            right: -7px;

            @include min-responsive($w-vlg) {
                top: 125px;
                right: -8px;
            }

            @include min-responsive($w-xxl) {
                right: 10px;
            }
        }
    }

    &Mbca {
        transition: all .4s ease;
    }

    &Ebranch {
        width: 132px;
        height: 261px;

        @include min-responsive($w-vlg) {
            width: 210px;
            height: 415px;
        }

        &.uiScreen {
            top: calc(50%);
            z-index: 3;
        }

        &::after {
            opacity: 0;
        }

        &.active {
            &::after {
                opacity: 1;
            }
        }
    }

    &Screen {
        position: absolute;
        @include auto_center;
        z-index: 2;

        &::after {
            content: '';
            position: absolute;
            background: url(../../digital/asset/images/phone-bangs.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 60px;
            height: 16px;
            top: -5px;
            left: 50%;
            transform: translateX(-50%);

            @include min-responsive($w-vlg) {
                top: -3px;
                width: 90px;
                height: 23px;
            }
        }

        img {
            transform: scale(0);
            transition-property: transform;
            transition-timing-function: cubic-bezier(.4, 0, .2, 1);
            transition-duration: .7s;
        }

        &.active {
            img {
                transform: scale(1);
            }
        }

        &.uiVindi {
            top: calc(50% - 1px);
            z-index: 3;

            @include min-responsive($w-vlg) {
                top: calc(50%);
            }

            &::after {
                opacity: 0;
                top: -3px;
            }

            &.bang {
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}

.offer {

    &.hide {
        .uiMbca {
            top: 23px;
            right: 85px;

            @include max-responsive($w-xm) {
                top: 19px;
            }

            @include min-responsive($w-vlg) {
                top: 90px;
                right: 32%;

                @include max-height($w-hlg) {
                    top: 43px;
                    right: 29%;
                }
            }

            @include range-responsive($w-vlg, $w-xl) {
                top: 42px;
                right: 29%;
            }
        }

        .uiPhone {
            top: 10px;
            right: 75px;

            @include max-responsive($w-xm) {
                top: 4%;
            }

            @include min-responsive($w-vlg) {
                top: 14%;
                right: 30%;

                @include max-height($w-hlg) {
                    top: 7%;
                    right: 27%;
                }
            }

            @include range-responsive($w-vlg, $w-xl) {
                top: 6%;
                right: 27%;
            }
        }
    }

    .uiPhone {
        &2 {
            top: 1%;
            right: 0;
            z-index: 1;

            @include min-responsive($w-vlg) {
                top: 7%;
                right: 10%;

                @include max-height($w-hlg) {
                    right: -4%;
                }
            }

            @include range-responsive($w-vlg, $w-xl) {
                top: 7%;
                right: 0;
            }
        }
    }

    .uiMbca {
        top: 14px;
        right: 10px;
        left: unset;
        transform: translate(0, 0);

        @include min-responsive($w-vlg) {
            top: 52px;
            right: 12%;

            @include max-height($w-hlg) {
                top: 44px;
                right: -2%;
            }
        }

        @include range-responsive($w-vlg, $w-xl) {
            top: 46px;
            right: 2%;
        }
    }
}

.mbca {
    &.active1 {

        .uiPhone1,
        .uiMbca {
            left: 20%;
            top: 57%;

            @include min-responsive($w-vlg) {
                left: 27%;

                @include max-height($w-hlg) {
                    left: 22%;
                }
            }
        }
    }
}

.icon {
    &Mbca {
        position: absolute;
        @include auto_center;
        z-index: 3;

        img {
            transform: scale(0);
            transition-property: transform;
            transition-timing-function: cubic-bezier(.4, 0, .2, 1);
            transition-duration: .7s;
        }

        &.active {
            img {
                transform: scale(1);
            }
        }
    }

    &Prioritas {
        width: 108px;
        height: 130px;
        top: calc(50% + 43px);
        left: calc(50% - 43px);

        @include max-responsive($w-xm) {
            top: calc(50% + 43px);
        }

        @include min-responsive($w-vlg) {
            width: 140px;
            height: 148px;
            top: calc(50% + 52px);
            left: calc(50% - 65px);

            @include max-height($w-hlg) {
                top: calc(50% + 45px);
                left: calc(50% - 68px);
            }
        }

        @include range-responsive($w-md, $w-vlg) {
            top: calc(50% + 44px);
            left: calc(50% - 42px);
        }

        @include range-responsive($w-vlg, $w-xl) {
            top: calc(50% + 46px);
            left: calc(50% - 42px);
        }
    }

    &Solitaire {
        width: 108px;
        height: 130px;
        top: calc(50% + 16px);
        left: calc(50% + 122px);

        @include max-responsive($w-xm) {
            left: calc(50% + 106px);
        }

        @include min-responsive($w-vlg) {
            width: 140px;
            height: 148px;
            top: calc(50% - 30px);
            left: calc(50% + 196px);

            @include max-height($w-hlg) {
                top: calc(50% + 8px);
                left: calc(50% + 230px);
            }
        }

        @include range-responsive($w-vlg, $w-xl) {
            top: calc(50% - -14px);
            left: calc(50% + 210px);
        }
    }

    &Ebranch {
        border-radius: 15px;
        top: calc(50% + 20px);
        left: calc(50% - 82px);

        @include min-responsive($w-vlg) {
            left: calc(50% - 110px);
        }

        // &.active {
        //     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        // }
    }
}