.treat {
    .article {
        &Content {
            width: 100%;
            position: relative;
            padding: 30px 25px 30px;
            color: $cl-black;
            background: $cl-white;
            box-shadow: 10px 14px 0 #CFAC68;

            @include min-responsive($w-vlg) {
                left: 50%;
                transform: translateX(-50%);
            }

            @include min-responsive($w-md) {
                width: auto;
                padding: 44px 30px;
            }

            @include min-responsive($w-xl) {
                padding: 45px 55px;

                @include max-height($w-hmd) {
                    padding: 25px 45px;
                }
            }

            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                top: 10px;
                right: 10px;
                border-style: solid;
                border-width: 30px 30px 0 0;
                border-color: #EAD5A4 transparent transparent transparent;
                transform: rotate(90deg);

                @include min-responsive($w-md) {
                    top: 16px;
                    right: 14px;
                    border-width: 46px 43px 0 0;
                }
            }
        }
    }

    &Wrap {
        align-items: flex-start;
    }

    &Cta {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;

        .buttonScroll {
            color: $cl-black;
        }

        .icon-scroll {
            margin-top: 12px;
            border: 2px solid $cl-black;

            &::before {
                background-color: $cl-black;
            }
        }
    }
}

.vip {
    &.active {
        .articleContent {
            opacity: 1;
            transform: translate(-50%, 0);
        }
    }

    .article {
        &Content {
            max-width: 520px;
            margin-top: 10vh;
            transform: translate(100%, 100%);
            left: 50%;
            opacity: 0;
            transition-property: all;
            transition-timing-function: cubic-bezier(.4, 0, .2, 1);
            transition-duration: .7s;

            @include min-responsive($w-vlg) {
                max-width: 665px;
                margin-top: 15vh;
            }

            @include min-responsive($w-xxl) {
                margin-top: 28vh;
            }

            @include min-responsive($w-xxxl) {
                margin-top: 16vh;
            }
        }
    }

    &Bg {
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100%);

        img {
            width: 100vw;
            height: 540px;
            object-fit: cover;
            object-position: bottom;

            @include range-responsive($w-md, $w-hlg) {
                height: 616px;
            }

            @include min-responsive($w-vlg) {
                width: 100vw;
                height: 800px;

                @include max-height($w-hlg) {
                    height: 700px;
                }
            }

            @include min-responsive($w-xxxl) {
                height: 920px;
            }
        }

        &__base {
            position: absolute;
            width: 100%;
            height: calc(100vh - 540px);
            bottom: 0;
            background: linear-gradient(0deg, #997459 0%, #FFF 91.00%), linear-gradient(5deg, #DECBB4 0%, #E8D3B0 100%);
            background-blend-mode: multiply, normal;

            @include range-responsive($w-md, $w-hlg) {
                height: calc(100vh - 616px);
            }

            @include min-responsive($w-vlg) {
                height: calc(100vh - 800px);

                @include max-height($w-hlg) {
                    height: calc(100vh - 700px);
                }
            }

            @include min-responsive($w-xxxl) {
                height: calc(100vh - 920px);
            }
        }
    }
}

.branch {
    &.active {
        .articleContent {
            opacity: 1;
            transform: translate(-50%, -50%);

            @include range-responsive($w-md, $w-vlg) {
                transform: translate(-50%, -50%);
            }

            @include min-responsive($w-vlg) {
                transform: translate(-50%, 0);
            }
        }

        .customerImg {
            bottom: calc(100vh - 460px);

            @include range-responsive($w-hlg, $w-lg) {
                bottom: calc(100vh - 630px);
            }

            @include min-responsive($w-vlg) {
                bottom: calc(100vh - 771px);
                transform: translateY(37px) translateX(17vw);

                @include max-height($w-hlg) {
                    bottom: calc(100vh - 700px);
                }
            }

            @include min-responsive($w-xxl) {
                transform: translateY(37px) translateX(20vw);
            }

            @include min-responsive($w-xxxl) {
                bottom: calc(100vh - 920px);
                transform: translateY(-22px) translateX(7vw) scale(1.35);
            }
        }
    }

    .article {
        &Content {
            margin-top: 12vh;
            transform: translate(50%, 100%);
            left: 50%;
            opacity: 0;
            transition-property: all;
            transition-timing-function: cubic-bezier(.4, 0, .2, 1);
            transition-duration: .7s;

            @include max-responsive($w-xm) {
                margin-top: 20vh;
            }

            @include min-responsive($w-xl) {
                margin-top: 18vh;
            }

            @include min-responsive($w-xxxl) {
                margin-top: 16vh;
            }
        }
    }

    &Bg {
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100%);

        img {
            width: 100vw;
            height: 460px;
            object-fit: cover;
            object-position: bottom;

            @include range-responsive($w-md, $w-vlg) {
                height: 578px;
            }

            @include min-responsive($w-vlg) {
                height: 771px;

                @include max-height($w-hlg) {
                    height: 700px;
                }
            }

            @include min-responsive($w-xxxl) {
                height: 920px;
            }
        }

        &__base {
            position: absolute;
            width: 100%;
            height: calc(100vh - 460px);
            bottom: 0;
            background: linear-gradient(0deg, #997459 0%, #FFF 91.00%), linear-gradient(5deg, #DECBB4 0%, #E8D3B0 100%);
            background-blend-mode: multiply, normal;

            @include range-responsive($w-md, $w-vlg) {
                height: calc(100vh - 578px);
            }

            @include min-responsive($w-vlg) {
                height: calc(100vh - 771px);

                @include max-height($w-hlg) {
                    height: calc(100vh - 700px);
                }
            }

            @include min-responsive($w-xxxl) {
                height: calc(100vh - 920px);
            }
        }
    }
}

.halo {
    &.active {
        .articleContent {
            opacity: 1;
            transform: translate(-50%, -50%);

            @include min-responsive($w-vlg) {
                transform: translate(-80px, 0);
            }

            @include range-responsive($w-md, $w-vlg) {
                transform: translate(-50%, -50%);
            }
        }

        .customerZoom::after {
            transform: scale(1);

            @include min-responsive($w-vlg) {
                transform: scale(.8);

                @include max-height($w-hmd) {
                    transform: scale(0.7);
                }
            }

            @include min-responsive($w-xxl) {
                transform: scale(1);
            }
        }
    }

    &Bg {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 66px;
        background: linear-gradient(to top, #292929 calc(100% - 16px), #434343 calc(100% - 50px));

        @include min-responsive($w-vlg) {
            height: 170px;
            background: linear-gradient(to top, #292929 calc(100% - 66px), #434343 calc(100% - 144px));
        }

        @include min-responsive($w-xxl) {
            height: 196px;
            background: linear-gradient(to top, #292929 calc(100% - 76px), #434343 calc(100% - 120px));
        }
    }

    &Comp {
        position: absolute;
        width: 470px;
        height: 80px;
        right: -400px;
        bottom: 66px;
        background: #A6C7E5;
        transform: skew(20deg);

        @include min-responsive($w-vlg) {
            width: 597px;
            height: 332px;
            bottom: 170px;
        }

        @include min-responsive($w-xxl) {
            bottom: 196px;
        }
    }

    .article {
        &Content {
            margin-top: 17vh;
            margin-left: 0;
            margin-right: 0;
            transform: translate(100%, 100%);
            left: 50%;
            opacity: 0;
            transition-property: all;
            transition-timing-function: cubic-bezier(.4, 0, .2, 1);
            transition-duration: .7s;

            @include min-responsive($w-md) {
                margin-top: 15vh;
                max-width: 572px;
            }

            @include min-responsive($w-xxl) {
                margin-top: 12vh;
                max-width: 670px;
            }

            @include min-responsive($w-xxxl) {
                margin-top: 16vh;
            }
        }
    }
}

.customer {
    &Img {
        position: absolute;
        bottom: calc(100vh - 540px);
        transform: translateY(21px) translateX(0);
        transition-property: all;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        transition-duration: .7s;

        @include range-responsive($w-md, $w-lg) {
            transform: translateY(60px) translateX(0);
        }

        @include min-responsive($w-vlg) {
            bottom: calc(100vh - 800px);
            transform: translateY(37px) translateX(10vw);

            @include max-height($w-hlg) {
                bottom: calc(100vh - 700px);
            }
        }

        @include min-responsive($w-xxxl) {
            bottom: calc(100vh - 920px);
            transform: translateY(-22px) translateX(7vw) scale(1.35);
        }

        img {
            @include range-responsive($w-md, $w-hlg) {
                transform: scale(1.8);
            }
        }
    }

    &Zoom {
        position: absolute;
        left: 0;
        bottom: 0;

        &::after {
            content: '';
            position: absolute;
            width: 85px;
            height: 93px;
            top: 34%;
            right: -55px;
            background: url(../../treatment/asset/images/halo-bca.png);
            background-size: contain;
            background-repeat: no-repeat;
            transform: scale(0);
            transition-property: all;
            transition-timing-function: cubic-bezier(.4, 0, .2, 1);
            transition-duration: .4s;

            @include min-responsive($w-vlg) {
                width: 217px;
                height: 237px;
                top: 46%;
                right: -120px;

                @include max-height($w-hmd) {
                    top: 38%;
                }
            }
        }
    }
}