<article class="detailsContent mt40">
    <p><strong>Bisnis.com</strong>, SOLO - Film bergenre komedi aksi yang disutradarai oleh Jonathan Goldstein dan Jhon
        Francis Daley berjudul Dungeons &amp; Dragons: Honor Among Thieves merilis trailer pertamanya.</p>
    <p>Dibintangi oleh <a href="#">Chris Pine</a>, <a href="#">Michelle Rodriguez</a>, hingga Justice Smith, film ini
        direncanakan tayang pada Maret
        2023.</p>
    <p>Dungeons &amp; Dragons pun diprediksi sukses karena sudah lebih terkenal karena adaptasi dari game populer.</p>
    <blockquote>
        Film Dungeons &amp; Dragons: Honor Among Thieves bercerita tentang seorang pencuri yang memiliki wajah
        menawan
        dan para kelompoknya.
    </blockquote>
    {{!-- <style type="text/css">
        #div-gpt-ad-parallax iframe {
            height: 600px !important
        }

        .li_wrap_flying_carpet {
            padding: 0 10px !important;
            margin-right: -15px;
            margin-left: -15px
        }

        .wrap_flying_carpet {
            text-align: center
        }

        .flying_carpet_show {
            width: 100%;
            height: 300px;
            position: relative;
            overflow: visible
        }

        .flying_carpet_show_inner {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            clip: rect(auto, auto, auto, auto)
        }

        .flying_carpet_show_fix {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 10%;
            left: 0;
            -moz-transform: translateZ(0);
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            margin: 0 auto
        }

        .flying_carpet_show_banner {
            width: auto;
            border: none;
            position: absolute;
            left: 41%;
            top: 80px;
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            max-width: 790px
        }

        .flying_carpet_show_banner img {
            max-width: 100%;
            margin: 0
        }

        @media only screen and (max-width:991px) {
            .flying_carpet_show_banner {
                max-width: 440px;
                top: 25px
            }
        }

        @media only screen and (max-width:767px) {

            .flying_carpet_show_banner,
            .flying_carpet_show_banner img {
                width: 100%
            }

            .flying_carpet_show_banner {
                max-width: 100%;
                top: 50px;
                left: 50%;
                padding: 0
            }
        }

        .flying_carpet_show_fix {
            top: 0
        }

        .li_wrap_flying_carpet {
            padding: 0 10px !important
        }

        .flying_carpet_show {
            width: 100%;
            position: relative;
            overflow: visible
        }

        .flying_carpet_show_inner {
            margin: 0
        }
    </style>
    <!--<div class="flying_carpet_upper_note"><span>Scroll untuk melanjutkan membaca</span></div>-->
    <div class="flying_carpet_div">
        <section class="box-shadow-new li_wrap_flying_carpet">
            <div id="wrap_flying_carpet" class="wrap_flying_carpet">
                <div class="flying_carpet_show">
                    <div class="flying_carpet_show_inner">
                        <div class="flying_carpet_show_fix">
                            <div class="flying_carpet_show_banner" id="carpet-check">
                                <div id="div-gpt-ad-parallax" data-google-query-id="CO_GqNWlq_4CFQPPaAodnh0GIA">

                                    <div id="google_ads_iframe_/543654989/Bisnis_Desktop_Lifestyle/Parallax_0__container__"
                                        style="border: 0pt none; margin: auto; text-align: center; width: 300px; height: 600px;">
                                        <iframe frameborder="0"
                                            src="https://b3953f11b5ad2e811e059e95e62ebe2f.safeframe.googlesyndication.com/safeframe/1-0-40/html/container.html"
                                            id="google_ads_iframe_/543654989/Bisnis_Desktop_Lifestyle/Parallax_0"
                                            title="3rd party ad content" name="" scrolling="no" marginwidth="0"
                                            marginheight="0" width="300" height="600" data-is-safeframe="true"
                                            sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
                                            role="region" aria-label="Advertisement" tabindex="0"
                                            data-google-container-id="7" style="border: 0px; vertical-align: bottom;"
                                            data-load-complete="true"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div> --}}
    <p>Pencurian ini dilakukan untuk mengambil sebuah benda berharga berupa relik. Namun pencurian sudah pasti memiliki
        banyak rintangan.</p>
    <p>Para pencuri ini harus melewati rintangan untuk bisa mencapai tujuannya. Kemudian dalam perjalannya, pencurian
        ini juga didasarkan pada niat untuk membantu seseorang.</p>
    <p>Sayangnya, mereka membantu orang yang salah dan mencuri benda yang salah. Berdasarkan hal tersebut, nama mereka
        menjadi sorotan dunia.</p>
    
    {{>detail/detail-other}}
    
    <p>Aksi yang dilakukan mereka pun menjadi yang terbesar yang pernah dikenal dunia.</p>
    <p>Lantas, bagaimana cerita keseluruhannya? Saksikan film Dungeons &amp; Dragons: Honor Among Thieves hanya di
        bioskop pada 31 Maret 2023.</p>

    <p>Cek Berita dan Artikel yang lain di <a target="_blank" title="Google News Bisnis.com"
            href="https://news.google.com/s/CAAqBwgKMKG67wowy-PQAQ?ceid=ID:en&amp;oc=3&amp;hl=en-ID&amp;gl=ID"><strong>Google
                News</strong></a></p>
</article>