<p><strong>Bisnis.com,</strong> JAKARTA - <a href="https://www.bisnis.com/topic/53463/tips-puasa" rel="noopener"
        target="_self">Tips</a> produktif saat puasa menjadi hal yang penting untuk diperhatikan karena seringkali saat
    bulan puasa produktivitas menurun.</p>

{{>detail/quote}}

<table>
	<thead>
		<tr>
			<th class="thead_title" colspan="5">Lorem Ipsum Sit Dolor Amet</th>
		</tr>
		<tr>
			<th class="thead_column">Title</th>
			<th class="thead_column">Title</th>
			<th class="thead_column">Title</th>
			<th class="thead_column">Title</th>
			<th class="thead_column">Title</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Lorem Ipsum</td>
			<td>Lorem Ipsum</td>
			<td>Lorem Ipsum</td>
			<td>Lorem Ipsum</td>
			<td>Lorem Ipsum</td>
		</tr>
		<tr>
			<td>Lorem Ipsum</td>
			<td>Lorem Ipsum</td>
			<td>Lorem Ipsum</td>
			<td>Lorem Ipsum</td>
			<td>Lorem Ipsum</td>
		</tr>
		<tr>
			<td>Lorem Ipsum</td>
			<td>Lorem Ipsum</td>
			<td>Lorem Ipsum</td>
			<td>Lorem Ipsum</td>
			<td>Lorem Ipsum</td>
		</tr>
	</tbody>
</table>

<!-- s: parallax billboard -->
{{>ads/parallax}}
<!-- e: parallax billboard -->

<p>
    Agar bisa menjaga produktivitas tersebut Anda perlu mengetahui bagaimana cara untuk tetap produktif meskipun sedang
    dalam kondisi berpuasa. Berikut ini beberapa tips yang bisa dilakukan untuk bisa menjalankan
    kegiatan produktif saat puasa.
</p>

{{>detail/detail-other}}

<p>
    Cras auctor cras hendrerit hac. Turpis proin sed leo vehicula. Diam sed cursus massa pellentesque proin. Cras
    consequat tortor pretium faucibus arcu ipsum. Aliquet ut sed amet, justo sit. Nisl tortor mauris aliquet urna.
    Luctus sit eu sed ipsum consectetur id.
</p>