<div class="baca-juga-box">
    <p class="baca-juga-title">Baca Juga</p>
    <ul>
        <li><a href="https://lifestyle.bisnis.com/read/20230120/254/1620159/sinopsis-the-last-of-us-adaptasi-game-yang-viral-di-medsos"
                title="Sinopsis The Last of Us, Adaptasi Game yang Viral di Medsos">Sinopsis The Last of Us,
                Adaptasi Game yang Viral di Medsos</a></li>
    </ul>
</div>