<div class="detailsLiveSliderWrap -js-slider-live">
    {{#each channel}}
    <div class="detailsLiveSliderTime">
        <button class="button detailsLiveAnchor" anchor="live{{@index}}">{{livetime}} WIB</button>
    </div>
    {{/each}}
</div>