<div class="modalWrap detailsModal" data-modal-target="detail-modal-image">
    <div class="modalHeader">
        <button class="button modalDismiss" aria-label="Close modal" data-modal-button="dismiss">
            <span class="icoInline icoClose"></span>
        </button>
    </div>
    <div class="modalBody">
        <div class="detailsModalImg">
            <img src="" alt="" loading="lazy" class="image">
        </div>
        <div class="detailsModalCaption caption">  
        </div>
    </div>
</div>