<p class="big-orange">
    Film Dungeons &amp; Dragons: Honor Among Thieves bercerita tentang seorang pencuri yang memiliki wajah
    menawan
    dan para kelompoknya.
    {{#if quoteau}}
    <span class="author">Walter White</span>
    {{/if}}
</p>