<div class="display-flex justify-between mt10">
    <div class="shareSocmed__wrap display-flex items-center"> Bagikan
        <ul class="shareSocmed align-center">
            <input type="hidden" id="url"
                value="https://market.bisnis.com/read/20220623/192/1546972/hadapi-ancaman-larangan-ekspor-timah-ini-persiapan-tins">
            <li class="fb"><button class="button buttonSocmed align-center" aria-label="Facebook"
                    onclick="sharesocmed('https://market.bisnis.com/read/20220623/192/1546972/hadapi-ancaman-larangan-ekspor-timah-ini-persiapan-tins','fb');"
                    title="Facebook"><i class="fab fa-facebook"></i></button></li>
            <li class="tw"><button class="button buttonSocmed align-center" aria-label="Twitter"
                    onclick="sharesocmed('Hadapi Ancaman Larangan Ekspor Timah, Ini Persiapan TINS https://market.bisnis.com/read/20220623/192/1546972/hadapi-ancaman-larangan-ekspor-timah-ini-persiapan-tins','twitter');"
                    title="Twitter"><i class="fab fa-twitter"></i></button></li>
            <li class="tl"><button class="button buttonSocmed align-center" aria-label="Telegram"
                    onclick="sharesocmed('https://market.bisnis.com/read/20220623/192/1546972/hadapi-ancaman-larangan-ekspor-timah-ini-persiapan-tins','telegram');"
                    title="telegram"><i class="fab fa-telegram-plane"></i></button>
            </li>
            <li class="li"><button class="button buttonSocmed align-center" aria-label="Linkedin"
                    onclick="sharesocmed('https://market.bisnis.com/read/20220623/192/1546972/hadapi-ancaman-larangan-ekspor-timah-ini-persiapan-tins','linkedin');"
                    title="Linkedin"><i class="fab fa-linkedin"></i></button></li>
            <li class="ml share-custom"><button class="button buttonSocmed align-center" aria-label="Copy Link" class="tooltip-copy"
                    data-toggle="copy-tooltip" data-placement="right" onclick="copyLink();return false;"><img
                        src="https://static.bisnis-cdn.com/bisnis/assets/images/share-link-icon.svg" alt=""></button>
            </li>
            <li class="wa"><button class="button buttonSocmed align-center" aria-label="Whatsapp"
                    onclick="sharesocmed(encodeURIComponent('Hadapi Ancaman Larangan Ekspor Timah, Ini Persiapan TINS')+' - '+encodeURIComponent('https://market.bisnis.com/read/20220623/192/1546972/hadapi-ancaman-larangan-ekspor-timah-ini-persiapan-tins'),'whatsapp');"
                    title="Whatsapp" rel="noopener"><i class="fab fa-whatsapp"></i></button>
            </li>
        </ul>
    </div>
    {{#eq top compare= true}}
    <div class="readFont font-size" data-font="16">
        <button title="A-" class="button buttonFtsize font-size-link minus">
            A<sup>-</sup>
        </button>
        <button title="A+" class="button buttonFtsize font-size-link plus">
            A<sup>+</sup>
        </button>
    </div>
    {{/eq}}
</div>