<div class="detailsTag">
    <div class="detailsTagCaption">Tags :</div>
    <ul class="detailsTagList display-flex">
        {{#each details.tag}}
        <li><a href="{{link}}" class="detailsTagLink">{{title}}</a></li>
        {{/each}}
    </ul>
</div>