<div class="detailsTag">
    <h2 class="detailsTagCaption">Tags :</h2>
    <ul class="detailsTagList display-flex">
        {{#each details.tag}}
        <li><a href="{{link}}" class="detailsTagLink">{{title}}</a></li>
        {{/each}}
    </ul>
</div>