<div class="formWrap mt20">
    <div class="mb10">
        <label for="tags" class="formLabel">Tag</label>
    </div>
    <input type="text" id="tags" class="formInput mt10 -tagselect" data-role="tagsinput" />
    <div class="formMisc mt10">*Ketikkan label/tag artikel lalu tekan enter untuk menambahkan</div>
</div>