<div class="couponItem{{#if col}} {{col}}{{/if}}">
    <div class="couponBox">
        {{#eq title compare=false}}
        {{else}}
        <div class="couponTitle">Promo Oktober</div>
        {{/eq}}
        <div class="couponTxt">Diskon 10% hingga Rp300.000</div>
        <div class="couponDate">s/d 10 Oktober 2023
            {{#if more}}
            <button class="button couponMore" onclick="triggerPopup('.-pCoupon')">lihat detail</button>{{/if}}
        </div>
    </div>
    <button class="couponCta button buttonRect buttonRectBlue" onclick="triggerActiveButton(this)">{{#if
        cta}}{{cta}}{{else}}Klaim{{/if}}</button>
</div>