<div class="headline">
    <div class="headlineWrap" id="sbanner">
        {{#each headline}}
        <div class="headlineItem">
            <a href="{{link}}" aria-label="See headline" class="headlineLink">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="./asset/images/{{image}}" media="(min-width: 540px)" alt="">
                    <img srcset="./asset/images/{{image}}" alt="" class="headlineImg border-sm" width="840"
                        height="351">
                    <!--[if IE 9]></video><![endif]-->
                </picture>
            </a>
        </div>
        {{/each}}
    </div>
    <div class="headlineBottom">
        <div class="headlineDots" id="dtbanner">
        </div>
    </div>
</div>