<label class="paymentItem formRadioWrap formLabel{{#if col}} {{col}}{{/if}}">
    <input type="radio" class="formRadio" name="category"{{#if checked}} checked{{/if}}>
    <span class="formRadiobox paymentRadio"></span>
    <span class="formRadioTitle paymentTitle">
        <img src="./asset/images/{{image}}" alt="{{title}}" width="120" height="45" loading="lazy">
    </span>
</label>