.button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background: transparent;
    appearance: none;
    text-align: center;

    &Primary {
        min-width: 83px;
        min-height: 36px;
        padding: 10px 16px;
        border-radius: 20px;
        @include font-pack(false, 12px, 500, false, $cl_white);
        background: $cl_black;

        &--small {
            width: auto;
            padding: 10px 30px;
        }

        .icon-reg {
            width: 15px;
            height: 15px;
            vertical-align: text-bottom;
            background-size: 15px;
            filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(162deg) brightness(103%) contrast(104%);
        }

        .icon-next {
            vertical-align: middle;
            filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(317deg) brightness(105%) contrast(102%);
            transform: scale(.7);
            margin-left: 4px;
        }

        &.active {
            background: $cl_tertiery_grey;
        }
    }

    &Secondary {
        min-width: 83px;
        min-height: 36px;
        padding: 9px 15px;
        border-radius: 25px;
        border: 1px solid $cl_black;
        @include font-pack(false, 16px, 500, false, $cl_black);
        background: $cl_white;
    }

    &More {
        padding: 4px;
        @include font-pack(false, 16px, 600, 22px, $cl_black);
        @include base_transition(all);

        &:hover {
            color: $cl_grey;
        }
    }

    &Next {
        padding: 4px;
        @include font-pack(false, 14px, 600, 22px, $cl_black);
        margin-top: 10px;
        display: flex;
        gap: 6px;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        @include base_transition(all);

        &:hover {
            color: $cl_grey;
        }

        .icon-next {
            filter: invert(8%) sepia(8%) saturate(860%) hue-rotate(145deg) brightness(98%) contrast(86%);
        }

        &:hover .icon-next {
            filter: invert(47%) sepia(0%) saturate(0%) hue-rotate(183deg) brightness(93%) contrast(85%);
        }
    }

    &--trans {
        background: transparent;
        border: 0;
        color: $cl_black;
    }

    &Totop {
        position: absolute;
        top: 40px;
        right: 220px;
        border: 1px solid $cl_black;
        border-radius: 10px;
        background: $cl_white;
        width: 40px;
        height: 40px;
        @include base_transition(all);

        &:hover {
            -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
            animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
        }

        .icon-next {
            vertical-align: middle;
            @include base_rotate(270deg);
        }
    }

    &Close {
        position: absolute;
        top: 15px;
        right: 15px;

        .icon-close {
            width: 25px;
            height: 25px;
        }
    }

    &Submit,
    &Cancel {
        margin-left: 10px;
        margin-right: 10px;
        border: 0;
        background: transparent;
        @include font-pack(false, 16px, 500, false, $cl_primary);
    }

    &Submit {
        text-decoration: underline;
    }

    &Cancel {
        color: $cl_grey;
    }
}

%button {

    &Eye {
        position: absolute;
        right: 20px;
        width: 40px;
        height: 50px;
        border: 0;
        background: none;

        .icon {
            left: 5px;

            &:after {
                content: '';
                position: absolute;
                width: 2px;
                height: 25px;
                top: 4px;
                left: 14px;
                border-left: 2px solid #6F6F6F;
                transform: rotate(45deg);
            }
        }

        &.show {
            .icon:after {
                content: none;
            }
        }
    }

    &Expand {
        position: absolute;
        top: 15px;
        right: 15px;
        @include font-pack($font_body, 13px, 500, 22px, $cl_white);
        background: rgba(53, 53, 53, .6);
        padding: 7px 19px;
        border: 0;
        border-radius: 10px;
        @include base_transition(all);

        &:hover {
            background: rgba(53, 53, 53, 1);
        }

        .icon-expand {
            background-size: contain;
            width: 25px;
            height: 25px;
            vertical-align: middle;
            margin-right: 8px;
        }
    }
}