.channel {
    &Caption {
        @include font-pack(false, 30px, 600, false, $cl_black);
    }

    &Item {
        margin-top: 20px;
        padding-top: 8px;
        padding-bottom: 0;
        border: 1px solid $cl_black;

        &:has(img) {
            margin-top: 80px;

            .channelTeam {
                display: block;
                padding-top: 20px;
                margin-top: -100px;
                max-width: 220px;
                flex-shrink: 0;
            }
        }
    }

    &Team {
        display: none;
    }

    &Content {
        width: 100%;
    }

    &Icon {
        border: 2px solid;
        border-radius: 50%;
        display: inline-flex;
        width: 54px;
        height: 54px;
        align-items: center;
        justify-content: center;
    }

    &--video {

        .highlightImg__wrap,
        .articleImg__wrap {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                border-radius: 55px;
                width: 55px;
                height: 55px;
                display: block;
                background-color: $cl_white;
                @include auto-center();
            }

            &:after {
                content: "";
                position: absolute;
                width: 30px;
                height: 30px;
                background: url(../images/icon-play.png) center no-repeat;
                background-size: 28px;
                @include auto-center();
            }
        }
    }
}