.comment {

    textarea {
        width: 100%;
        background: #F5F5F5;
        border: 0;
        border-radius: 4px;
        resize: none;
        padding: 8px 12px;
        @include font-pack(false, 16px, 400, false, $cl_primary);
        @include placeholder(14px, 400, false, $cl_tertiery_grey);
    }

    &Avatar {
        width: 36px;
        height: 36px;
        aspect-ratio: 1/1;
        border-radius: 100%;
        margin-right: 20px;
    }

    &User {
        @include font-pack(false, 14px, 600, false, false);
    }

    &Date {
        margin-top: 2px;
        @include font-pack(false, 12px, false, false, #a6a6a6);
    }

    &Content {
        @include font-pack(false, 14px, 400, 1.5, #4B4B4B);
    }

    &Action {
        @include font-pack(false, 14px, 400, 1.5, false);

        .button {
            background: transparent;
            padding: 0;
            text-decoration: underline;
        }

        .commentLike {
            text-decoration: none;
        }
    }

    &Report {
        color: #7C7C7C;
    }

    &Reply {
        color: $cl_black;

        &:before {
            content: 'Balas';
            display: block;
            position: relative;
        }

        &.active {
            &:before {
                content: 'Tutup';
                display: block;
                position: relative;
            }
        }
    }

    &Like {
        margin-right: 10px;
        color: $cl_grey;
        @extend .readCta
    }

    &Row {
        textarea {
            border: 0;
            margin: 0;
            vertical-align: top;
        }
    }

    &Item {
        padding-bottom: 20px;
        border-bottom: 1px solid #E3E3E3;

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }

        &>.commentRow>.commentItem {
            border-top: 1px solid #E3E3E3;
            padding-top: 20px;
            border-bottom: 0;
            padding-bottom: 0;
        }
    }

    &Bottom {
        margin-top: 10px;
    }

    &Form {
        display: none;
        animation: fadeInFromNone .5s ease;

        &.active {
            display: block;
        }
    }

    &Caption {
        @include font-pack(false, 18px, 400, 30px, #5F5F5F);
    }

    &[data-target=comment-section] {
        scroll-margin-top: 124px;
    }
}