.comment {
    &Count {
        padding: 4px 8px;
        border-radius: 20px;
        border: 1px solid $cl_black;
        @include font-pack(false, 14px, 400, 30px, $cl_black);

        &__text {
            @include font-pack(false, 15px, 400, 25px, #4B4B4B);
        }
    }

    textarea {
        width: 100%;
        border-radius: 15px;
        border: 1px solid #C4C4C4;
        resize: vertical;
        padding: 20px 30px;
        @include font-pack(false, 14px, 400, 25px, $cl_primary);
    }

    &Avatar {
        width: 76px;
        height: 76px;
        aspect-ratio: 1/1;
        border-radius: 100%;
        margin-right: 20px;
    }

    &User {
        @include font-pack(false, 18px, 600, 25px, #2C2C2C);
    }

    &Date {
        @include font-pack(false, 12px, 300, 32px, #2C2C2C);
    }

    &Content {
        @include font-pack(false, 15px, 400, 25px, #4B4B4B);
    }

    &Action {
        @include font-pack(false, 16px, 400, 25px, false);

        button {
            background: transparent;
            border: 0;
            padding: 0;
        }
    }

    &Report {
        color: #7C7C7C;
    }

    &Reply {
        color: $cl_black;

        &:before {
            content: 'Reply';
            display: block;
            position: relative;
        }

        &.active {
            &:before {
                content: 'Tutup';
                display: block;
                position: relative;
            }
        }
    }

    &Row {
        textarea {
            border: 1px solid #A6A6A6;
            margin: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: 0;
            vertical-align: top;
        }
    }

    &Item {
        padding-bottom: 20px;
        border-bottom: 1px solid #E3E3E3;

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }

        &>.commentRow>.commentItem {
            border-top: 1px solid #E3E3E3;
            padding-top: 20px;
            border-bottom: 0;
            padding-bottom: 0;
        }
    }

    &Bottom {
        background: #F5F5F5;
        padding: 10px 20px;
        border: 1px solid #A6A6A6;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    &Form {
        display: none;
        animation: fadeInFromNone .5s ease;

        &.active {
            display: block;
        }
    }

    &Caption{
        @include font-pack(false, 18px, 400, 30px, #5F5F5F);
    }
}