.newsletter {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #FAFAFA;

    &Caption {
        font-weight: 600;
    }

    &Desc {
        font-size: 14px;
    }

    &Form {
        align-items: flex-end;
        justify-content: center;
    }

    &Wrap {
        margin-right: 10px;
    }

    .formInput {
        margin-left: 10px;
        margin-right: 10px;
        @include placeholder(12px, 400, false, $cl_grey);
    }

    .buttonPrimary {
        padding: 12px 30px 13px;
    }
}