.popup {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 52, 52, .5);
    z-index: 1;

    &--hidden {
        visibility: hidden;
        opacity: 0;
        @include base_transition(all);
    }

    &.--top {
        align-items: flex-start;
        justify-content: flex-end;
        padding-top: 100px;
        padding-right: 30px;
    }

    &.active,
    &.-active {
        visibility: visible;
        opacity: 1;
    }

    &Title {
        @include font-pack(false, 20px, 600, 18px, $cl_primary);
    }

    &Wrap {
        position: relative;
        background: $cl_white;
        padding: 30px;
        width: 536px;
    }
}