.share {
    @include font-pack(false, 14px, 400, 30px, #5F5F5F);

    &Icon {
        margin-left: 10px;
        margin-right: 10px;
    }

    &Link {
        text-align: center;
        width: 35px;
        height: 35px;
        background-image: linear-gradient(180deg, #ff56b7 0%, #e90e8c 100%);
        border-radius: 100%;
    }

    &Icon {

        .icon {
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            filter: brightness(0) invert(1);
        }
    }
}