/**
*
* TODO : styling for homepage
* --
* * for homepage: index.html
* * author: ilmaisme.github.io
* ? style.min.css
* ! important to minify
*/

/**
* * base
*/
@use 'base/vars';
@use 'base/mixins';
@use 'base/font';

/**
* * layout
*/
@use 'layout/global';
@use 'layout/grid';
@use 'layout/header';
@use 'layout/article';

/**
* * content
*/
@use 'components/button';
@use 'components/bg';
@use 'components/graph';
@use 'components/share';
// @use 'components/switch';
@use 'components/needs';
// @use 'components/preloader';

/**
* * page
*/
// @use 'pages/cover';
@use 'pages/section1';
@use 'pages/credit';
// @use 'pages/socmed';

/**
* * plugin
*/
@use 'module/animation';
// @use 'plugin/fullpage';
@use 'module/override';