{{#eq type compare="categ"}}
<div class="sortBox">
    <button class="button sortTrig">
        <div class="sortIcon"><img src="./asset/images/icon-grad/categ.png" alt="" width="20" height="20"></div>
        <div class="sortTitle">Kategori</div>
        <span class="icon iconChevron"></span>
    </button>
    <div class="sortTarget">
        {{>catalog/sort-catalog total=6 index_start=0 index_end=6}}
    </div>
</div>
{{/eq}}