//override for usaha kurir page

body {

    .header,
    .footer {
        background: $cl-blue
    }

    .buttonTranslate:hover {
        background: #7FBFEB;
    }

    .navList.mobile{
        background: rgba(52, 160, 235, .88);
    }
}