.mb1 {
	margin-bottom: 10px;
}

.ml1 {
	margin-left: 10px;
}

.ml2 {
	margin-left: 20px;
}

.mt2 {
	margin-top: 20px;
}

.text-center {
	text-align: center;
}

.center-flex {
	@include display-flex;
	align-items: center;
	justify-content: center;
}

.align-start {
	align-items: flex-start;
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: end;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.flex-init {
	flex: 1;
}

.flex-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-column {
	flex-direction: column;
}

.display-flex {
	@include display-flex;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

.word-break {
	word-break: break-word;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.desktop-only {
	display: none;

	@include min-responsive($w-xl) {
		display: block;
	}
}

.mobile-only {
	display: block;

	@include min-responsive($w-xl) {
		display: none;
	}
}