.popup {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(52, 52, 52, .5);
    z-index: 2;

    &--hidden {
        @extend .hidden;
    }

    &.active {
        @extend .visible;
        height: 100%;
    }

    &Wrap {
        width: 100%;
        max-height: calc(100vh - 180px);
        position: relative;
        background: $cl-white;
        padding: 20px 20px 30px;
        margin-left: 10px;
        margin-right: 10px;
        background: $cl-white;
        border-radius: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        overscroll-behavior-y: contain;
        @include box_shadow(0 3px 6px rgba(0, 0, 0, .16));
        @include scroll(4px, $cl-red, #EBEBEB);

        @include range-responsive($w-md, $w-xl) {
            margin-left: 20px;
            margin-right: 20px;
            padding: 30px 30px 40px;
        }

        @include min-responsive($w-xl) {
            padding: 30px 80px 80px;
            max-width: $w-lg;
            @include scroll(11px, $cl-red, #EBEBEB);
        }
    }
}