/**
* Interaktif PTBI
* TODO : styling for homepage
* --
* * for homepage: index.html
* * author: ilmaisme.github.io
* ? style.min.css
* ! important to minify
*/

/**
* * base
*/
@use 'base/vars';
@use 'base/mixins';
@use 'base/font';

/**
* * layout
*/
@use 'layout/global';
@use 'layout/header';
@use 'layout/article';

/**
* * content
*/
@use 'components/bgcolor';
@use 'components/bgstatic';
@use 'components/button';
@use 'components/title';
@use 'components/popup';

// @use 'components/sphere';
// @use 'components/ribbon';

@use 'components/preloader';

/**
* * page
*/
@use 'pages/cover';
@use 'pages/globe';
@use 'pages/map';
@use 'pages/aspect';
@use 'pages/policy';
@use 'pages/synergy';
@use 'pages/quote';
// @use 'pages/challenge';
// @use 'pages/risk';
// @use 'pages/trend';
// @use 'pages/building';
// @use 'pages/econ';
// @use 'pages/balance';
// @use 'pages/key';

@use 'pages/credit';

/**
* * plugin
*/
@use 'module/animation';
@use 'plugin/fullpage';
@use 'module/override';