<!DOCTYPE html>
<html lang="en">

{{> head page="privilege" child=true}}

<body>
    <main role="main" class="privilege">
        {{!> header/header}}

        <!-- preloader -->
        {{> preloader-privilege}}
        <!-- preloader -->

        <div class="bgStatic bgStatic--warn">
            <div class="articleContent text-center">
                For better experience, rotate your screen or switch to bigger screen.
            </div>
        </div>

        <!-- Template Background Color -->
        <div class="bgColor__wrap">

        </div>
        <!-- Template Background Color -->
        <!-- Template Image Content -->
        <div class="bgStatic__wrap active">
            <div class="health bgStatic">
                <div class="container heightFull">
                    <div class="privilegeWrap healthWrap display-flex heightFull">
                        <div class="healthBg">
                            <picture class="healthBg__rs">
                                <source srcset="./asset/images/health-bg.png" media="(max-width: 768px)" alt=""
                                    width="120" height="290">
                                <img srcset="./asset/images/health-bg.png" alt="" class="" width="743" height="392">
                            </picture>
                            <div class="healthBg__cloud healthBg__cloud1"></div>
                            <div class="healthBg__cloud healthBg__cloud2"></div>
                            <div class="healthBg__cloud healthBg__cloud3"></div>
                            <div class="healthBg__cloud healthBg__cloud4"></div>
                        </div>
                        <div class="articleImg">
                            <picture class="healthImg">
                                <source srcset="./asset/images/health.png" media="(max-width: 768px)" alt="" width="120"
                                    height="290">
                                <img srcset="./asset/images/health.png" alt="" class="" width="350" height="171">
                            </picture>
                        </div>
                        <div class="articleContent">
                            <h1 class="articleCaption">Layanan Kesehatan</h1>
                            <p class="mt2">Layanan kesehatan khusus dan diskon/harga spesial untuk pemeriksaan dan
                                tindakan medis di berbagai penyedia layanan kesehatan di Indonesia, Malaysia dan
                                Singapura.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="edu bgStatic">
                <div class="container heightFull">
                    <div class="privilegeWrap eduWrap display-flex heightFull">
                        <div class="eduBg">
                            <picture>
                                <source srcset="./asset/images/edu-bg.png" media="(max-width: 768px)" alt="" width="120"
                                    height="290">
                                <img srcset="./asset/images/edu-bg.png" alt="" class="" width="598" height="481">
                            </picture>
                        </div>
                        <div class="articleImg">
                            <picture class="eduImg">
                                <source srcset="./asset/images/edu.png" media="(max-width: 768px)" alt="" width="120"
                                    height="290">
                                <img srcset="./asset/images/edu.png" alt="" class="" width="549" height="288">
                            </picture>
                        </div>
                        <div class="articleContent">
                            <h2 class="articleCaption">Layanan Pendidikan</h2>
                            <p class="mt2">Kemudahan dalam mempersiapkan pendidikan putra-putri Anda baik di dalam dan
                                luar negeri
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="life bgStatic">
                <div class="lifeBg">
                    <picture>
                        <source srcset="./asset/images/life-bg-mob.jpg" media="(max-width: 768px)" alt="" width="120"
                            height="290">
                        <img srcset="./asset/images/life-bg.jpg" alt="" class="" width="1440" height="871">
                    </picture>
                </div>
                <div class="container heightFull">
                    <div class="privilegeWrap lifeWrap center-flex heightFull">
                        <div class="articleImg">
                            <picture class="lifeImg">
                                <img srcset="./asset/images/life.png" alt="" class="" width="547" height="322">
                            </picture>
                        </div>
                        <div class="articleContent">
                            <h2 class="articleCaption">Gaya Hidup</h2>
                            <p class="mt2">Kerja sama dengan berbagai brand untuk mendukung gaya hidup eksklusif Anda.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="franchise bgStatic">
                <div class="franchiseBg">
                    <picture class="franchiseImg">
                        <img srcset="./asset/images/franchise.png" alt="" class="" width="697" height="289">
                    </picture>
                </div>
                <div class="privilegeWrap franchiseWrap display-flex">
                    <div class="articleContent">
                        <h2 class="articleCaption">Franchise &
                            Pendukung Bisnis</h2>
                        <p class="mt2">Kembangkan bisnis dengan kerja sama franchise dan solusi pendukung bisnis</p>
                    </div>
                </div>
            </div>
            <div class="airport bgStatic">
                <div class="airportBg">
                    <picture class="airportBg__img">
                        <source srcset="./asset/images/airport-bg-mob.jpg" media="(max-width: 768px)" alt="" width="768"
                            height="390">
                        <img srcset="./asset/images/airport-bg.jpg" alt="" class="" width="1440" height="732">
                    </picture>
                    <picture class="airportBg__plane">
                        {{!-- <source srcset="./asset/images/airport-plane-mob.png" media="(max-width: 768px)" alt="" width="110"
                            height="109"> --}}
                        <img srcset="./asset/images/airport-plane.png" alt="" class="" width="232" height="230">
                    </picture>
                    <div class="airportBg__cloud airportBg__cloud1"></div>
                    <div class="airportBg__cloud airportBg__cloud2"></div>
                    <div class="airportBg__cloud airportBg__cloud3"></div>
                    <div class="airportBg__cloud airportBg__cloud4"></div>
                    <picture class="airportBg__img airportBg__img--f">
                        <source srcset="./asset/images/airport-bg-front-mob.png" media="(max-width: 768px)" alt="" width="768"
                            height="465">
                        <img srcset="./asset/images/airport-bg-front.png" alt="" class="" width="1440" height="871">
                    </picture>
                </div>
                <div class="container heightFull">
                    <div class="privilegeWrap airportWrap center-flex heightFull">
                        <div class="articleImg">
                            <picture class="airportImg">
                                <source srcset="./asset/images/airport.png" media="(max-width: 768px)" alt=""
                                    width="120" height="290">
                                <img srcset="./asset/images/airport.png" alt="" class="" width="606" height="355">
                            </picture>
                        </div>
                        <div class="articleContent">
                            <h2 class="articleCaption">Executive
                                Airport Lounge</h2>
                            <p class="mt2">Akses gratis dan harga khusus untuk teman seperjalanan ke airport lounge di
                                berbagai bandara domestik dan internasional di Indonesia. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="privilegeCta center-flex">
                    <button class="button buttonScroll center-flex">
                        scroll
                        <span class="icon-scroll"></span>
                    </button>
                </div>

                {{> button-info}}

                {{> button-credit}}

                <div class="bgColor bgColor__dot"></div>
            </div>
            <div class="bgStatic">
                {{>credit}}

            </div>
        </div>
        <!-- Template Image Content -->
        <!-- Fullpage Content -->
        <div id="fullpage" class="fullpage">
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
        </div>
        <!-- Fullpage Content -->
        <div id="some-element"></div>
    </main>
    {{> footer}}

    {{> js page="privilege" child=true}}

</body>

</html>