$font-manrope : 'Manrope',
sans-serif;

@font-face {
    font-family: 'Manrope';
    src: url('./asset/fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./asset/fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./asset/fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./asset/fonts/Manrope-Light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
    font-display: swap;
}

*,
:after,
:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    margin: 0;
    padding: 0
}

body {
    font-family: $font-manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: #111111;
    background: #FCFCFC;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    margin: 0;
    padding-top: 525px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block
}

a {
    color: #004CE0;
    vertical-align: top;
    outline: 0
}

a,
a:hover {
    text-decoration: none
}

a:focus,
button:focus {
    outline: 0;
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0
}

iframe {
    border: none
}

iframe,
video {
    vertical-align: top
}

.c-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex {
    display: flex;
}

.header {
    &Block {
        top: 0;
        position: sticky;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        border-bottom: 1px solid #EBEBEB;
        background: #FCFCFC;
        z-index: 2;
    }
}

.button {
    &Default {
        position: relative;
        appearance: none;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: transparent;
        background: transparent;
        padding: 0;
    }

    &Nav {
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        border-radius: 3px;
        height: 30px;
        margin-right: 20px;
        padding: 10px;
        flex: 1;

        @media (max-width:320px) {
            margin-right: 10px;
        }

        span {
            padding-left: 5px;
        }
    }

    &Premium {
        color: #954700;
        background: linear-gradient(90deg, #FDA085 0%, #F6D365 100%);
    }

    &Login {
        color: #FFFFFF;
        background: #245DCB;
    }

    &App {
        margin-top: 8px;
    }
}

.icon-bar {
    position: relative;
    width: 18px;
    height: 12px;

    &>i {
        display: block;
    }

    &:before {
        bottom: 0;
    }

    &:after {
        top: 0;
    }

    &:after,
    &:before {
        content: "";
        position: absolute;
        right: 0;
    }

    &:after,
    &:before,
    &>i {
        height: 2px;
        width: 100%;
        background: #000000;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
    }
}

.icon-search {
    width: 17px;
    height: 17px;
    display: block;
    position: relative;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.615 14.518a6.733 6.733 0 0 0 4.208-1.458l4.973 4.988c.165.166.376.25.603.25A.855.855 0 0 0 18 16.842l-4.976-4.99a6.878 6.878 0 0 0 1.455-4.218c0-3.8-3.074-6.884-6.865-6.884C3.84.75.75 3.849.75 7.634c0 3.8 3.09 6.884 6.865 6.884Zm0-12.062c2.853 0 5.163 2.329 5.163 5.178a5.166 5.166 0 0 1-5.163 5.178c-2.853 0-5.162-2.33-5.162-5.178 0-2.849 2.323-5.178 5.162-5.178Z' fill='%23333' stroke='%23333' stroke-width='.5'/%3E%3C/svg%3E");
}

.nav {
    &Block {
        width: 100%;
        max-width: unset;
    }

    &Wrap {
        flex-direction: column;
        max-width: 100%;
        padding: 0 15px 35px;
    }

    &Fixed {
        top: 0;
        width: 100%;
        position: sticky;
        padding: 12px 0;
        background: #efefef;
        border-bottom: 1px solid #DDDDDD;
        z-index: 1;
    }

    &Panel {
        color: #333333;
    }

    &Tab {
        width: 50%;
    }

    &Menu {
        padding-left: 15px;
        padding-bottom: 35px;
        border-bottom: 1px solid #DDDDDD;

        &__network {
            .navItem {
                padding-top: 0;
                padding-bottom: 0;
                min-height: 70px;
                display: flex;
                align-items: center;
            }
        }
    }

    &Title {
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        margin-top: 15px;
        margin-bottom: 10px;

        span {
            color: #F37826;
        }
    }

    &Item {
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;

        a {
            color: #333333;
        }
    }

    &Footer {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        margin-top: 15px;
        margin-bottom: 7px;
    }

    &App {
        max-width: 335px;
        justify-content: space-between;

        @media (max-width:320px) {
            flex-direction: column;
        }
    }
}

.crumb {
    &Item {
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        display: inline-block;

        a {
            color: #555555;
        }

        &.active a {
            color: #FF7A00;
        }

        &:after {
            content: "\25CF";
            vertical-align: top;
            display: inline;
            padding: 0 4px 0 7px;
            font-size: 11px;
            line-height: 15px;
        }

        &:last-child:after {
            content: none;
        }
    }
}

.main {
    position: relative;
    padding: 0 15px 10px;
    background: #FCFCFC;
    z-index: 1;
}

.read {
    &Content {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333333;
        margin-top: 20px;

        &:before {
            content: '';
            display: block;
            width: 100px;
            position: relative;
            border-top: 1px solid #FF7A00;
        }

        ol,
        ul {
            padding-left: 20px;
        }

        blockquote {
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            position: relative;
            padding-bottom: 15px;

            &:after {
                content: '';
                display: block;
                position: relative;
                width: 127px;
                bottom: -15px;
                margin: auto;
                border-bottom: 5px solid #FF7A00;
            }
        }
    }

    &Title {
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #333333;
    }

    &Date,
    &Author {
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 0.03em;
        color: #555555;

        strong {
            text-transform: uppercase;
        }

        span {
            color: #004CE0;
        }
    }

    &Other {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 10px;
        background: #FFFFFF;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
        border-radius: 4px;

        a {
            font-size: 16px;
            line-height: 24px;
            color: #222222;
        }

        span {
            text-transform: uppercase;
            font-size: 13px;
            line-height: 17px;
            color: #FF7A00;
        }
    }

    &Editor {
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: 16px;
        letter-spacing: 0.03em;
    }

    &Caption {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        margin-top: 40px;
        margin-bottom: 10px;
        padding-left: 7px;
        border-left: 1px solid #FF7A00;
    }
}

.tag {
    margin-bottom: 30px;

    &Link {
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        color: #004CE0;
        padding: 8px 10px;
        background: #FFFFFF;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.13);
        border-radius: 4px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;
        margin-top: 10px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.social {
    display: flex;
    width: 100%;

    &Item {
        display: inline-block;
        position: relative;
        overflow: hidden;
        margin-top: 10px;
        margin-right: 8px;
        flex: 1;
        height: 30px;
        text-align: center;
        border-radius: 100px;
        padding: 2px;

        &:last-child {
            margin-right: 0;
        }
    }

    &--fb {
        background-color: #32529f;
    }

    &--tw {
        background-color: #1da1f2;
    }

    &--wa {
        background-color: #25d366;
    }

    &--link {
        padding: 5px;
        background-color: #FBC70E;
    }
}

.photo {
    margin-top: 30px;
    position: relative;
    color: #333333;

    &Icon {
        position: absolute;
        top: 7px;
        right: 7px;
    }

    &Author {
        text-align: right;
        margin-top: 5px;
        font-size: 10px;
        line-height: 1.3;
    }

    &Caption {
        margin-top: 10px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.02em;
    }
}

.paging {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;

    &List {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &Item {
        margin-top: 10px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &Link {
        display: block;
        border: 1px solid #004CE0;
        border-radius: 4px;
        background: #004CE0;
        color: #FFFFFF;
        padding: 10px;
        text-align: center;
        height: 40px;
        min-width: 40px;

        &.active {
            border: 1px solid #004CE0;
            background: #FFFFFF;
            color: #004CE0;
        }
    }

    &Show {
        display: inline-block;
        margin-top: 10px;
        border: 1px solid #004CE0;
        border-radius: 4px;
        background: #004CE0;
        color: #FFFFFF;
        padding: 7px 30px;
        text-align: center;
    }
}

.list {
    &Other {
        list-style: none;
        padding: 0;
        margin-top: 20px;

        &__item {
            min-width: 100%;
            border-bottom: 1px solid #dedede;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }

        &__link {
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #222222;
        }
    }

    &Update {
        @extend .listOther;

        &__item {
            margin-bottom: 30px
        }

        &__link {
            @extend .listOther__link;
            display: flex;
        }

        &__img {
            margin-left: 14px;
            width: 130px;
            height: 88px;
            border-radius: 5px;
            overflow: hidden;
            background: #D9D9D9;
        }

    }

    &Info {
        margin-top: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #1D87D3;
    }

    &Date {
        display: inline-block;
        font-weight: 400;
        color: #B6B6B6;

        &:before {
            content: "\25CF";
            vertical-align: top;
            display: inline;
            padding: 0 7px 0 4px;
            font-size: 11px;
            line-height: 15px;
        }
    }

    &Wrap {
        flex: 1;
    }
}

.footer {
    position: relative;
    padding: 30px 10px;
    background: #222222;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    z-index: 1;

    &Link {
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;

        &--big {
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            color: #FF8D07;
            padding-bottom: 10px;
        }

        &--small {
            display: block;
            color: #FFFFFF;
            padding-bottom: 10px;
        }
    }

    &Col {
        width: 50%;
    }

    &Info {
        border-bottom: 1px solid #3F3F3F;
        padding-bottom: 10px;

        .footerLink--small {
            padding-top: 10px;
            display: inline-block;

            &:after {
                content: "\25CF";
                vertical-align: top;
                display: inline;
                padding: 0 4px 0 7px;
                font-size: 8px;
                line-height: 15px;
                color: #A7A7A7;
            }

            &:last-child:after {
                content: none;
            }
        }
    }

    &Socmed {
        border-top: 1px solid #3F3F3F;
        padding-top: 10px;
        margin-top: 20px;
        margin-bottom: 10px;

        &__nav {
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
            width: 333px;

            @media (max-width:320px) {
                flex-direction: column;
            }
        }

        &__item {
            margin-top: 18px;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &Copyright {
        padding-top: 10px;
        font-weight: 400;
        font-size: 11px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #787878;
    }
}

.ads {
    &Banner {
        position: relative;
        text-align: center;
        padding-top: 35px;
        padding-bottom: 10px;
        background: #F5F5F5;

        &:after {
            content: "Advertisement";
            position: absolute;
            top: 10px;
            z-index: 1;
            width: 100%;
            height: 19px;
            font-weight: 700;
            font-size: 9px;
            line-height: 19px;
            text-transform: uppercase;
            color: #A5A5A5;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__pushdown {
            position: absolute;
            width: 100%;
            height: 525px;
            top: 0;
            z-index: 0;

            &:after {
                content: "Advertisement -- scroll ke bawah untuk melanjutkan";
                text-transform: none;
                font-size: 11px;
            }
        }

        &__inner {
            position: absolute;
            top: 35px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 320px;
            height: 480px;
        }

        &__wrap {
            margin: auto;
            width: 300px;
            height: 250px;
            overflow: hidden;
        }

        &__flying {
            height: 300px;
            overflow: hidden;
            padding-bottom: 15px;
        }

        &__mid {
            margin: auto;
            height: 325px;
        }

        &__bottom {
            margin: auto;
            height: 295px;
        }
    }
}