.career {
    &Gate {
        margin-top: 52px;
        position: relative;
        background: #F8F8F8;
        border: 1px solid #DADADA;
        border-radius: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
        min-height: 109px;

        &__img {
            position: absolute;
            top: -22px;
        }

        &__content {
            padding-left: 142px;
            padding-right: 12px;
        }

        &__title {
            @include font-pack(false, 14px, 600, false, false);
        }
    }
}