.photo{
    &Count{
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 8px 12px;
        border-top-right-radius: 15px;
        background: #F6F6F6;
        @include font-pack(false, 12px, 400, false, #5F5F5F);
    }
}