<!DOCTYPE html>
<html lang="en">

{{>head page="Ekonomi" slick=true channel=site.Ekonomi font=true type="details" photozoom=true}}

<body class="theme--ekonomi">

    <div class="root">

        <!-- s: network -->
        {{>network channel=networkNav}}
        <!-- e: network -->

        <!-- s: flashnews -->
        {{>flashnews type="slider" channel=flashnews}}
        <!-- e: flashnews -->

        {{!>header/header login=true kanal="Ekonomi" font=true label="Login" icon=true premium=true}}
        {{>header/header kanal="Ekonomi" font=true label="Login" icon=true premium=true}}

        <!-- s: skyscrapper billboard -->
        {{>ads/skyscrapper}}
        <!-- e: skyscrapper billboard -->

        <main role="main" class="main details" id="pswp-gallery">
            <div class="nav">

                {{>header/nav channel=mainMenu.Ekonomi icon=true}}

            </div>

            <!-- s: menu panel -->
            {{>header/menu}}
            <!-- e: menu panel -->

            <div class="container mt50">
                <div class="row">

                    <!-- s: pushdown billboard -->
                    {{>ads/pushdown}}
                    <!-- e: pushdown billboard -->

                    <div class="col-7 col-left">
                        {{>breadcrumb kanal="Ekonomi" subkanal="Industri" active=true}}

                        {{>detail/title pos="left" channel=kanal.Ekonomi.details.content total=6
                        index_start=0
                        index_end=1 mt="30" lead=true share=true photo=true}}
                        {{>detail/cover pos="left" channel=kanal.Ekonomi.details.content mt="40" total=6 index_start=0
                        index_end=1}}

                        {{>ekonomi/detail-font mt="30"}}

                        <article class="detailsContent mt40">
                            {{>detail/content-series-3}}

                        </article>

                        <!-- s: series pagination -->
                        {{>ekonomi/series-paging page=3 kanal="ekonomi"}}
                        <!-- e: series pagination -->

                        {{>detail/author channel=kanal.Ekonomi.details.content total=6 index_start=0 index_end=1}}

                        {{>detail/tag channel=kanal.Ekonomi.details caption="Tag"}}

                        {{>detail/share channel=kanal.Ekonomi.details.content total=6 index_start=0
                        index_end=1 caption="Share" mt="16"}}

                        <h2 class="titleCaption titleCaptionMed mt30">
                            Simak video di bawah ini:
                        </h2>
                        {{>detail/video}}

                        {{>newsletter mt="40"}}

                        <h3 class="titleCaption mt40">Artikel Terkait</h3>
                        {{>ekonomi/article channel=kanal.Ekonomi.latest type="col" details=true mt="16" total=4
                        index_start=0 index_end=4 w=164 h=123 dates=false}}

                        <h3 class="titleCaption mt40">Berita Terbaru</h3>
                        {{>detail/article-other channel=kanal.Ekonomi.most mt="16" total=5 index_start=0 index_end=5}}

                        <h3 class="titleCaption mt40">Berita Lainnya</h3>
                        {{>ekonomi/article channel=kanal.Ekonomi.latest type="row" total=3 index_start=4
                        index_end=7 w=184 h=104}}

                        <div class="center-flex">
                            <a href="#" class="buttonPrimary">Berita Lainnya</a>
                        </div>

                    </div>
                    <sidebar class="sidebar col-3 col-right">
                        <!-- s: rectangle billboard -->
                        {{>ads/middle}}
                        <!-- e: rectangle billboard -->

                        <!-- s: rec -->
                        <h3 class="titleCaption mt30">Rekomendasi Kami</h3>
                        {{>ekonomi/article channel=kanal.Ekonomi.recommend.latest type="row" mt="16" total=4
                        index_start=0
                        index_end=4 w=80 h=80 dates=false}}

                        <!-- e: rec -->

                        <!-- s: bisnistv -->
                        <div class="kanalBisnistv mt50">
                            <h3 class="titleCaption">
                                <img src="./asset/images/logo/bisnistv-logo.png" alt="Bisnistv logo" loading="lazy"
                                    width="119" height="31">
                            </h3>
                            {{>kanal/article channel=kanal.Ekonomi.Video.latest video=true btv=true type="col" total=1
                            index_start=0 index_end=1}}

                        </div>

                        <!-- e: bisnistv -->

                        <!-- s: terpopuler -->
                        <h3 class="titleCaption mt50">Terpopuler</h3>
                        {{>kanal/most channel=kanal.Ekonomi.most total=5 index_start=0 index_end=5 countdates=true}}

                        <!-- e: terpopuler -->

                        <!-- s: foto -->
                        <div class="titleCaptionWrap mt50">
                            <h3 class="titleCaption">
                                Foto
                            </h3>
                        </div>
                        {{>tekno/photo channel=kanal.Tekno.Foto.latest total=1 index_start=0 index_end=1}}

                        <!-- e: foto -->

                        <!-- s: QR Bisnis Indonesia -->
                        <div class="kanalQr mt50">
                            <img src="./asset/images/QR-bisnis-indonesia.jpg"
                                alt="Scan QR Code Bisnis Indonesia e-paper" loading="lazy" width="301" height="412">
                        </div>
                        <!-- e: QR Bisnis Indonesia -->
                    </sidebar>
                </div>
            </div>
        </main>
    </div>

    <!-- s: bottom billboard -->
    {{>ads/bottom}}
    <!-- e: bottom billboard -->

    {{>footer/footer}}

    {{>footer/script page="ekonomi" slick=true type="details" photozoom=true}}

</body>

</html>