<!DOCTYPE html>
<html lang="en">

{{>head page="details" kanal="Lifestyle"}}

<body class="theme--lifestyle">

    <!-- s: pushdown billboard -->
    {{>ads/pushdown}}
    <!-- e: pushdown billboard -->

    <div class="root">
        <!-- s: flashnews -->
        {{>flashnews channel=flashnews}}
        <!-- e: flashnews -->

        {{>header/header login=true kanal="Lifestyle"}}
        {{!>header/header kanal="Lifestyle"}}

        <!-- s: skyscrapper billboard -->
        {{>ads/skyscrapper}}
        <!-- e: skyscrapper billboard -->

        <main role="main" class="main details">
            <div class="nav">

                {{>header/nav channel=mainMenu}}

            </div>

            <!-- s: menu panel -->
            {{>header/menu}}
            <!-- e: menu panel -->

            <div class="container mt50">

                {{>breadcrumb kanal="Lifestyle" subkanal="Inspirasi"}}

                {{>detail/cover channel=details.content mt="40" total=6 index_start=1 index_end=2}}
                {{>detail/title default=true channel=details.content total=6 index_start=1 index_end=2}}

                <div class="row">
                    <div class="col-7 col-left">

                        {{>detail/share channel=details.content pos="top" total=6 index_start=1 index_end=2}}

                        <article class="detailsContent mt40">
                            {{>detail/content-series}}

                            <!-- s: details break -->
                            {{>detail/break page=1}}
                            <!-- e: details break -->

                            {{>detail/content-series-2}}

                            <!-- s: details break -->
                            {{>detail/break page=2}}
                            <!-- e: details break -->

                            {{>detail/content-series-3}}

                            <!-- s: details break -->
                            {{>detail/break page=3}}
                            <!-- e: details break -->

                        </article>

                        <div class="titleCaption mt40">
                            Simak video di bawah ini:
                        </div>
                        {{>detail/video}}

                        {{>detail/author channel=details.content total=6 index_start=1 index_end=2}}

                        {{>detail/share channel=details.content mt="40" total=6 index_start=1 index_end=2}}

                        {{>detail/tag channel=details.tag}}

                        <hr>

                        <!-- s: premium -->
                        {{>premium/article mt="40"}}

                        <!-- e: premium -->

                        {{>newsletter}}

                        <h3 class="titleCaption mt40">Artikel Terkait</h3>
                        {{>kanal/article channel=channel.Entertainment.latest type="col" mt="16" total=3 index_start=0
                        index_end=3}}

                        <h3 class="titleCaption mt40">Berita Lainnya</h3>
                        {{>detail/article-other channel=kanal.Lifestyle.hL mt="16" total=5 index_start=2 index_end=5}}

                        <h3 class="titleCaption mt40">Berita Terkini</h3>
                        {{>kanal/latest channel=kanal.Lifestyle.latest type="row" total=10 index_start=4
                        index_end=7}}

                        <div class="center-flex">
                            <a href="#" class="buttonPrimary">Indeks</a>
                        </div>

                    </div>
                    <sidebar class="sidebar col-3 col-right">
                        <!-- s: rectangle billboard -->
                        {{>ads/middle}}
                        <!-- e: rectangle billboard -->

                        <!-- s: terpopuler -->
                        <h3 class="titleCaption mt40">Terpopuler</h3>
                        {{>kanal/most channel=kanal.Lifestyle.most total=4 index_start=0 index_end=4}}

                        <!-- e: terpopuler -->

                        <!-- s: rec -->
                        <h3 class="titleCaption mt40">Rekomendasi Kami</h3>
                        {{>kanal/article channel=kanal.Lifestyle.latest type="col-top" total=10 index_start=6
                        index_end=10}}

                        <!-- e: rec -->
                    </sidebar>
                </div>
            </div>
        </main>
    </div>

    {{>footer/footer}}

    {{>footer/script page="details"}}

</body>

</html>