<!DOCTYPE html>
<html lang="en">

{{>head page="Lifestyle" channel=site.Lifestyle type="details" premium=true}}

<body class="theme--lifestyle theme--premium">

    <!-- s: pushdown billboard -->
    {{!>ads/pushdown}}
    <!-- e: pushdown billboard -->

    <div class="root">
        <!-- s: flashnews -->
        {{>flashnews channel=flashnews}}
        <!-- e: flashnews -->

        {{>header/header login=true kanal="Lifestyle"}}
        {{!>header/header kanal="Lifestyle"}}

        <!-- s: skyscrapper billboard -->
        {{!>ads/skyscrapper}}
        <!-- e: skyscrapper billboard -->

        <main role="main" class="main details">
            <div class="nav">

                {{>header/nav channel=mainMenu.Lifestyle}}

            </div>

            <!-- s: menu panel -->
            {{>header/menu}}
            <!-- e: menu panel -->

            <div class="container mt50">

                {{>breadcrumb kanal="Lifestyle" subkanal="Entertainment"}}

                {{>detail/cover premium=true channel=kanal.Lifestyle.details.content mt="40" total=6 index_start=4 index_end=5}}

                <div class="row">
                    <div class="col-7 mx-auto mt50">

                        {{>detail/share channel=kanal.Lifestyle.details.content pos="top" total=6 index_start=4 index_end=5}}

                        <article class="detailsContent mt40">
                            {{>detail/content-premium}}

                        </article>

                        {{>detail/author premium=true channel=kanal.Lifestyle.details.content total=6 index_start=4 index_end=5}}

                        {{>detail/share pos="bottom" channel=kanal.Lifestyle.details.content mt="40" total=6 index_start=4 index_end=5}}

                        {{>detail/tag premium=true channel=kanal.Lifestyle.details}}

                        <hr>

                        <!-- s: premium -->
                        {{>premium/article channel=kanal.Lifestyle.Premium.latest mt="40"}}

                        <!-- e: premium -->

                        {{>newsletter mt="40"}}

                        <h3 class="titleCaption mt40">Artikel Terkait</h3>
                        {{>kanal/article channel=kanal.Lifestyle.Premium.latest type="col" details=true mt="16" total=3
                        index_start=0 index_end=3}}

                        <h3 class="titleCaption mt40">Berita Lainnya</h3>
                        {{>detail/article-other channel=kanal.Lifestyle.hL mt="16" total=5 index_start=2 index_end=5}}

                        <h3 class="titleCaption mt40">Berita Terkini</h3>
                        {{>kanal/latest channel=kanal.Lifestyle.Premium.latest type="row" total=3 index_start=0 index_end=3}}

                        <div class="center-flex">
                            <a href="#" class="buttonPrimary">Berita Lainnya</a>
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- modal image -->
    {{>detail/modal-image}}

    <!-- modal template -->
    {{>modal}}

    {{>footer/footer}}

    {{>footer/script page="lifestyle" type="details"}}
    <script>
        function openModalImage(el, e) {
            var image = e.parentNode.getElementsByClassName('image')[0].getAttribute("url"),
                wcaption = e.parentNode.parentNode.getElementsByClassName('caption')[0];
            if (!!wcaption) {
                var caption = wcaption.innerHTML;
                openModal(el, image, caption)
            }
            else {
                openModal(el, image)
            }
        }
    </script>

</body>

</html>