<!DOCTYPE html>
<html lang="en">

{{>head page="Tekno" channel=site.Tekno type="details"}}

<body class="theme--tekno">

    <!-- s: pushdown billboard -->
    {{>ads/pushdown}}
    <!-- e: pushdown billboard -->

    <div class="root">
        <!-- s: flashnews -->
        {{>flashnews channel=flashnews}}
        <!-- e: flashnews -->

        {{>header/header login=true kanal="Tekno" nav=true width=127 height=40}}
        {{!>header/header kanal="Tekno" nav=true active="Gadget" width=127 height=40}}

        <!-- s: skyscrapper billboard -->
        {{>ads/skyscrapper}}
        <!-- e: skyscrapper billboard -->

        <main role="main" class="main details">

            <!-- s: menu panel -->
            {{>header/menu}}
            <!-- e: menu panel -->

            <div class="container mt50">

                {{>breadcrumb kanal="Teknologi" subkanal="Telekomunikasi" active=true}}

                <div class="row mt40">
                    <div class="col-7 col-left">

                        {{>detail/title pos="left" default=true channel=kanal.Tekno.details.content total=6 index_start=0
                        index_end=1}}
                        {{>detail/cover pos="left" channel=kanal.Tekno.details.content mt="40" total=6 index_start=0
                        index_end=1}}

                        {{>detail/share channel=kanal.Tekno.details.content pos="top" type="button" total=6 index_start=0
                        index_end=1}}

                        <article class="detailsContent mt40">
                            {{>detail/content-series-2 numbering=true}}

                        </article>

                        <!-- s: series pagination -->
                        {{>detail/series-paging page=2 kanal="tekno"}}
                        <!-- e: series pagination -->

                        <h2 class="titleCaption titleCaptionMed mt40">
                            Simak video di bawah ini:
                        </h2>
                        {{>detail/video}}

                        {{>detail/tag channel=kanal.Tekno.details caption="Simak berita lainnya seputar topik artikel ini di sini:"}}

                        {{>detail/author channel=kanal.Tekno.details.content total=6 index_start=0 index_end=1}}

                        {{>detail/share channel=kanal.Tekno.details.content total=6 index_start=0
                        index_end=1}}

                        <hr>

                        <!-- s: premium -->
                        {{>premium/article center=true channel=kanal.Tekno.Premium.latest mt="50"}}

                        <!-- e: premium -->

                        {{>newsletter mt="50"}}

                        <h3 class="titleCaption titleCaptionMed mt50">Artikel Terbaru</h3>
                        {{>tekno/article channel=kanal.Tekno.latest type="col" details=true mt="16" total=3
                        index_start=0
                        index_end=3}}

                        <h3 class="titleCaption titleCaptionMed mt50">Berita Lainnya</h3>
                        {{>detail/article-other channel=kanal.Tekno.most mt="16" total=5 index_start=0 index_end=5}}

                        <h3 class="titleCaption titleCaptionMed mt50">Berita Terkini</h3>
                        {{>tekno/latest channel=kanal.Tekno.latest type="row" total=8 index_start=3
                        index_end=8}}

                        <div class="center-flex">
                            <a href="#" class="buttonPrimary">Berita Lainnya</a>
                        </div>

                    </div>
                    <sidebar class="sidebar col-3 col-right">
                        <!-- s: rectangle billboard -->
                        {{>ads/middle}}
                        <!-- e: rectangle billboard -->

                        <!-- s: terpopuler -->
                        <h3 class="titleCaption mt50">Terpopuler</h3>
                        {{>kanal/most dates=true channel=kanal.Tekno.most total=5 index_start=0 index_end=5}}

                        <!-- e: terpopuler -->

                        <!-- s: topic -->
                        <h3 class="titleCaption mt50">Topik-Topik Pilihan</h3>
                        {{>topic channel=topic total=9 index_start=3 index_end=9}}

                        <!-- e: topic -->

                        <!-- s: rectangle billboard -->
                        <div class="mt50">
                            {{>ads/middle}}
                        </div>
                        <!-- e: rectangle billboard -->

                        <h3 class="titleCaption mt50">Subscribe Newsletter Bisnis Indonesia</h3>
                        {{>newsletter pos="sidebar"}}

                        <!-- s: bisnistv -->
                        <div class="kanalBisnistv mt50">
                            <h3 class="titleCaption">
                                <img src="./asset/images/logo/bisnistv-logo.png" alt="Bisnistv logo" loading="lazy"
                                    width="119" height="31">
                            </h3>
                            {{>tekno/article channel=kanal.Tekno.Video.latest video=true btv=true type="col" total=1
                            index_start=0 index_end=1}}

                        </div>

                        <!-- e: bisnistv -->

                        <!-- s: rec -->
                        <h3 class="titleCaption mt40">Rekomendasi Kami</h3>
                        {{>tekno/article channel=kanal.Tekno.latest sidebar=true type="col-top" total=8 index_start=0
                        index_end=4}}

                        <!-- e: rec -->

                        <!-- s: foto -->
                        <div class="titleCaptionWrap mt50">
                            <h3 class="titleCaption titleCaptionMed">
                                Foto
                            </h3>
                            <a href="#" class="titleOthers">Lihat Lainnya<span class="icoInline icoArrow"></span></a>
                        </div>
                        {{>tekno/photo channel=kanal.Tekno.Foto.latest total=1 index_start=0 index_end=1}}

                        <!-- e: foto -->

                        <!-- s: QR Bisnis Indonesia -->
                        <div class="mt50">
                            <img src="./asset/images/QR-bisnis-indonesia.jpg"
                                alt="Scan QR Code Bisnis Indonesia e-paper" loading="lazy" width="301" height="412">
                        </div>
                        <!-- e: QR Bisnis Indonesia -->
                    </sidebar>
                </div>
            </div>
        </main>
    </div>

    <!-- modal image -->
    {{>detail/modal-image}}

    <!-- modal template -->
    {{>modal}}

    {{>footer/footer}}

    {{>footer/script page="tekno" type="details"}}
    <script>
        function openModalImage(el, e) {
            var image = e.parentNode.getElementsByClassName('image')[0].getAttribute("url"),
                wcaption = e.parentNode.parentNode.getElementsByClassName('caption')[0];
            if (!!wcaption) {
                var caption = wcaption.innerHTML;
                openModal(el, image, caption)
            }
            else {
                openModal(el, image)
            }
        }
    </script>

</body>

</html>