<!DOCTYPE html>
<html lang="en">

{{>head page="Lifestyle" slick=true hl=true channel=site.Lifestyle}}

<body class="theme--lifestyle">

    <!-- s: pushdown billboard -->
    {{>ads/pushdown}}
    <!-- e: pushdown billboard -->

    <div class="root">
        <!-- s: flashnews -->
        {{>flashnews channel=flashnews}}
        <!-- e: flashnews -->

        {{!>header/header login=true kanal="Lifestyle"}}
        {{>header/header kanal="Lifestyle"}}

        <!-- s: skyscrapper billboard -->
        {{>ads/skyscrapper}}
        <!-- e: skyscrapper billboard -->

        <main role="main" class="main">
            <div class="nav">

                {{>header/nav channel=mainMenu.Lifestyle active="Home"}}

            </div>

            <!-- s: menu panel -->
            {{>header/menu}}
            <!-- e: menu panel -->

            <div class="container mt50">

                <!-- s: headline only for 4 items-->
                {{>kanal/headline channel=kanal.Lifestyle.hL total=5 index_start=0 index_end=4}}

                <!-- e: headline only for 4 items-->

                <!-- s: stream -->
                {{>stream channel=stream kanal="Lifestyle" pos="center" mt="50" total=2 index_start=0 index_end=1}}

                <!-- e: stream -->

                <!-- s: topic -->
                <h3 class="titleCaption mt50"><span class="clKanal">Hot</span> Topic</h3>
                {{>topic channel=topic total=9 index_start=0 index_end=9}}

                <!-- e: topic -->

                <div class="row mt50">
                    <div class="col-7 col-left">
                        <!-- s: stream -->
                        {{>stream channel=stream kanal="Lifestyle" pos="left" total=2 index_start=1 index_end=2}}

                        <!-- e: stream -->

                        <!-- s: latest -->
                        <h3 class="titleCaption mt50">Berita Terbaru</h3>
                        {{>kanal/latest channel=kanal.Lifestyle.latest pos="top" type="row" total=10 index_start=0
                        index_end=5}}

                        <!-- e: latest -->

                        <!-- s: rec -->
                        <div class="kanalBox mt50">
                            <div class="titleCaptionWrap">
                                <h3 class="titleCaptionBox">
                                    Rekomendasi Film Terbaru
                                </h3>
                                <a href="#" class="titleOthers">Lihat Lainnya<span
                                        class="icoInline icoArrow"></span></a>
                            </div>
                            {{>kanal/article channel=kanal.Lifestyle.Entertainment.latest type="col" total=3
                            index_start=0
                            index_end=3}}

                        </div>

                        <!-- e: rec -->

                        <!-- s: travel -->
                        <div class="titleCaptionWrap mt50">
                            <h3 class="titleCaption">
                                Travel
                            </h3>
                            <a href="#" class="titleOthers">Lihat Lainnya<span class="icoInline icoArrow"></span></a>
                        </div>
                        {{>kanal/article channel=kanal.Lifestyle.Travel.latest type="col-left" total=5 index_start=0
                        index_end=5}}

                        <!-- e: travel -->

                        {{>kanal/latest channel=kanal.Lifestyle.latest type="row" total=10 index_start=5
                        index_end=9}}

                    </div>
                    <sidebar class="sidebar col-3 col-right">
                        <!-- s: rectangle billboard -->
                        {{>ads/middle}}
                        <!-- e: rectangle billboard -->

                        <!-- s: terpopuler -->
                        <h3 class="titleCaption mt40">Terpopuler</h3>
                        {{>kanal/most channel=kanal.Lifestyle.most total=4 index_start=0 index_end=4}}

                        <!-- e: terpopuler -->

                        <!-- s: rec -->
                        <h3 class="titleCaption mt40">Rekomendasi Kami</h3>
                        {{>kanal/article channel=kanal.Lifestyle.latest type="col-top" total=10 index_start=6
                        index_end=10}}

                        <!-- e: rec -->
                    </sidebar>
                </div>

                <!-- s: leaderboard billboard -->
                <div class="mt50">
                    {{>ads/leaderboard}}
                </div>
                <!-- e: leaderboard billboard -->
            </div>

            <!-- s: video -->
            <div class="kanalVid mt50">
                <div class="container">
                    <div class="titleCaptionWrap">
                        <h3 class="titleCaption">
                            Video Pilihan
                        </h3>
                        <a href="#" class="titleOthers">Lihat Lainnya<span class="icoInline icoArrow"></span></a>
                    </div>
                    {{>kanal/article channel=kanal.Lifestyle.Video.latest video=true type="col" total=4 index_start=0
                    index_end=3}}

                </div>
            </div>

            <!-- e: video -->
            <div class="container">
                <!-- s: leaderboard billboard -->
                <div class="mt50">
                    {{>ads/leaderboard}}
                </div>
                <!-- e: leaderboard billboard -->

                <!-- s: infotainment -->
                <div class="titleCaptionWrap mt50">
                    <h3 class="titleCaption">
                        Infotainment
                    </h3>
                    <a href="#" class="titleOthers">Lihat Lainnya<span class="icoInline icoArrow"></span></a>
                </div>
                {{>kanal/article channel=kanal.Lifestyle.Infotainment.latest type="col-center" total=5 index_start=0
                index_end=5}}

                <!-- e: infotainment -->

                <!-- s: leaderboard billboard -->
                <div class="mt50">
                    {{>ads/leaderboard}}
                </div>
                <!-- e: leaderboard billboard -->

                <div class="row mt50">
                    <div class="col-7 col-left">
                        <!-- s: premium -->
                        {{>premium/article channel=kanal.Lifestyle.Premium.latest}}

                        <!-- e: premium -->

                        <!-- s: latest -->
                        {{>kanal/latest channel=kanal.Lifestyle.latest type="row" total=10 index_start=0
                        index_end=4}}

                        <!-- e: latest -->

                    </div>
                    <sidebar class="sidebar col-3 col-right">
                        <!-- s: rectangle billboard -->
                        {{>ads/middle}}
                        <!-- e: rectangle billboard -->

                        <!-- s: bplus -->
                        <h3 class="titleCaption mt50">
                            <div class="bplusCaption">
                                <img src="./asset/images/logo/logo-bisnis-plus.png" alt="Bisnis Plus logo"
                                    loading="lazy" width="162" height="23">
                            </div>
                        </h3>
                        {{>kanal/bplus channel=kanal.Lifestyle.BisnisPlus.latest total=4 index_start=0 index_end=4}}

                        <!-- e: bplus -->
                    </sidebar>
                </div>

                <!-- s: leaderboard billboard -->
                <div class="mt50">
                    {{>ads/leaderboard}}
                </div>
                <!-- e: leaderboard billboard -->

                <!-- s: foto -->
                <div class="kanalPhoto mt50">
                    <h3 class="titleCaption">
                        Foto Pilihan
                    </h3>
                    {{>kanal/photo channel=kanal.Lifestyle.Foto.latest total=5 index_start=0 index_end=5}}

                </div>
                <!-- e: foto -->

                <div class="row mt50">
                    <div class="col-7 col-left">

                        <!-- s: kuliner -->
                        <div class="titleCaptionWrap">
                            <h3 class="titleCaption">
                                Kuliner
                            </h3>
                            <a href="#" class="titleOthers">Lihat Lainnya<span class="icoInline icoArrow"></span></a>
                        </div>
                        {{>kanal/latest channel=kanal.Lifestyle.Kuliner.latest pos="top" type="row" total=1
                        index_start=0
                        index_end=1}}

                        <!-- e: kuliner -->

                        <!-- s: latest -->
                        {{>kanal/latest channel=kanal.Lifestyle.latest type="row" total=10 index_start=4
                        index_end=8}}

                        <!-- e: latest -->

                        <div class="center-flex">
                            <a href="#" class="buttonPrimary">Indeks</a>
                        </div>

                    </div>
                    <sidebar class="sidebar col-3 col-right">
                        <!-- s: QR Bisnis Indonesia -->
                        <img src="./asset/images/QR-bisnis-indonesia.jpg" alt="Scan QR Code Bisnis Indonesia e-paper"
                            loading="lazy" width="301" height="412">
                        <!-- e: QR Bisnis Indonesia -->

                        <!-- s: bisnistv -->
                        <div class="kanalBisnistv mt50">
                            <h3 class="titleCaption">
                                <img src="./asset/images/logo/bisnistv-logo.png" alt="Bisnistv logo" loading="lazy"
                                    width="119" height="31">
                            </h3>
                            {{>kanal/article channel=kanal.Lifestyle.Video.latest video=true btv=true type="col" total=4
                            index_start=3 index_end=4}}

                        </div>

                        <!-- e: bisnistv -->
                    </sidebar>
                </div>
            </div>
        </main>
    </div>

    <!-- s: bottom billboard -->
    {{>ads/bottom}}
    <!-- e: bottom billboard -->

    {{>footer/footer}}

    {{>footer/script page="lifestyle" slick=true}}

</body>

</html>