<!DOCTYPE html>
<html lang="en">

{{>head page="Tekno" slick=true hl=true channel=site.Tekno}}

<body class="theme--tekno">

    <!-- s: pushdown billboard -->
    {{>ads/pushdown}}
    <!-- e: pushdown billboard -->

    <div class="root">
        <!-- s: flashnews -->
        {{>flashnews channel=flashnews}}
        <!-- e: flashnews -->

        {{>header/header login=true kanal="Tekno" nav=true width=127 height=40}}
        {{!>header/header kanal="Tekno" nav=true active="Home" width=127 height=40}}

        <!-- s: skyscrapper billboard -->
        {{>ads/skyscrapper}}
        <!-- e: skyscrapper billboard -->

        <main role="main" class="main">

            <!-- s: menu panel -->
            {{>header/menu}}
            <!-- e: menu panel -->

            <!-- s: headline only for 3 items-->
            {{>kanal/headline pos="bottom" dates=true size="66" others=true channel=kanal.Tekno.hL total=3 index_start=0 index_end=3}}

            <!-- e: headline only for 3 items-->

            <div class="container mt50">

                <!-- s: stream -->
                {{>stream channel=stream kanal="Tekno" pos="center" mt="50" total=2 index_start=0 index_end=1}}

                <!-- e: stream -->

                <div class="row mt50">
                    <div class="col-7 col-left">
                        <!-- s: stream -->
                        {{>stream channel=stream kanal="Tekno" pos="left" width=383 height=215 total=2 index_start=1
                        index_end=2}}

                        <!-- e: stream -->

                        <!-- s: latest -->
                        <h3 class="titleCaption mt50">Berita Terbaru</h3>
                        {{>tekno/latest channel=kanal.Tekno.latest pos="three" type="col" total=8 index_start=0
                        index_end=3}}

                        <!-- e: latest -->

                        <!-- s: leaderboard billboard -->
                        <div class="mt50">
                            {{>ads/leaderboard}}
                        </div>
                        <!-- e: leaderboard billboard -->

                        {{>tekno/latest channel=kanal.Tekno.latest mt="50" type="row" total=8 index_start=3
                        index_end=8}}

                        <!-- s: rec -->
                        <div class="kanalBox mt50">
                            <div class="titleCaptionWrap">
                                <h3 class="titleCaptionBox">
                                    Rekomendasi Film Terbaru
                                </h3>
                                <a href="#" class="titleOthers">Lihat Lainnya<span
                                        class="icoInline icoArrow"></span></a>
                            </div>
                            {{>tekno/article channel=kanal.Tekno.Film.latest type="col" total=3 index_start=0
                            index_end=3}}

                        </div>

                        <!-- e: rec -->

                        <!-- s: leaderboard billboard -->
                        <div class="mt50">
                            {{>ads/leaderboard}}
                        </div>
                        <!-- e: leaderboard billboard -->

                        <!-- s: premium -->
                        {{>premium/article center=true channel=kanal.Tekno.Premium.latest mt="50"}}

                        <!-- e: premium -->

                    </div>
                    <sidebar class="sidebar col-3 col-right">
                        <!-- s: rectangle billboard -->
                        {{>ads/middle}}
                        <!-- e: rectangle billboard -->

                        <!-- s: terpopuler -->
                        <h3 class="titleCaption mt50">Terpopuler</h3>
                        {{>kanal/most dates=true channel=kanal.Tekno.most total=5 index_start=0 index_end=5}}

                        <!-- e: terpopuler -->

                        <!-- s: topic -->
                        <h3 class="titleCaption mt50">Topik-Topik Pilihan</h3>
                        {{>topic channel=topic total=9 index_start=3 index_end=9}}

                        <!-- e: topic -->

                        <!-- s: rectangle billboard -->
                        <div class="mt50">
                            {{>ads/middle}}
                        </div>
                        <!-- e: rectangle billboard -->

                        <!-- s: bplus -->
                        <h3 class="titleCaption mt50">
                            <div class="bplusCaption">
                                <img src="./asset/images/logo/logo-bisnis-plus.png" alt="Bisnis Plus logo"
                                    loading="lazy" width="162" height="23">
                            </div>
                        </h3>
                        {{>kanal/bplus channel=kanal.Tekno.BisnisPlus.latest total=4 index_start=0 index_end=4}}

                        <!-- e: bplus -->

                        <h3 class="titleCaption mt50">Subscribe Newsletter Bisnis Indonesia</h3>
                        {{>newsletter pos="sidebar"}}

                        <!-- s: bisnistv -->
                        <div class="kanalBisnistv mt50">
                            <h3 class="titleCaption">
                                <img src="./asset/images/logo/bisnistv-logo.png" alt="Bisnistv logo" loading="lazy"
                                    width="119" height="31">
                            </h3>
                            {{>tekno/article channel=kanal.Tekno.Video.latest video=true btv=true type="col" total=1
                            index_start=0 index_end=1}}

                        </div>

                        <!-- e: bisnistv -->
                    </sidebar>
                </div>
            </div>

            <!-- s: review -->
            <div class="kanalVid">
                <div class="container">
                    <div class="titleCaptionWrap">
                        <h3 class="titleCaption">
                            Review Terbaru
                        </h3>
                        <a href="#" class="titleOthers">Lihat Lainnya<span class="icoInline icoArrow"></span></a>
                    </div>
                    {{>tekno/article channel=kanal.Tekno.Review.latest video=true type="col" total=4 index_start=0
                    index_end=3}}

                </div>
            </div>

            <!-- e: review -->

            <div class="container">

                <!-- s: leaderboard billboard -->
                <div class="mt50">
                    {{>ads/leaderboard}}
                </div>
                <!-- e: leaderboard billboard -->

                <div class="row mt50">
                    <div class="col-7 col-left">
                        <div class="row">
                            <div class="col-5">
                                <div class="titleCaptionWrap">
                                    <h3 class="titleCaption">
                                        Startup
                                    </h3>
                                    <a href="#" class="titleOthers">Lihat Lainnya<span
                                            class="icoInline icoArrow"></span></a>
                                </div>
                                {{>tekno/article channel=kanal.Tekno.Startup.latest type="col-top" total=4 index_start=0
                                index_end=4}}

                            </div>
                            <div class="col-5">
                                <div class="titleCaptionWrap">
                                    <h3 class="titleCaption">
                                        Gadget
                                    </h3>
                                    <a href="#" class="titleOthers">Lihat Lainnya<span
                                            class="icoInline icoArrow"></span></a>
                                </div>
                                {{>tekno/article channel=kanal.Tekno.Gadget.latest type="col-top" total=4 index_start=0
                                index_end=4}}

                            </div>
                        </div>

                        <!-- s: latest -->
                        {{>tekno/latest channel=kanal.Tekno.latest mt="50" type="row" total=8 index_start=0
                        index_end=5}}

                        <!-- e: latest -->

                        <div class="center-flex">
                            <a href="#" class="buttonPrimary mt50">Index</a>
                        </div>

                    </div>
                    <sidebar class="sidebar col-3 col-right">
                        <!-- s: rectangle billboard -->
                        {{>ads/middle}}
                        <!-- e: rectangle billboard -->

                        <!-- s: rec -->
                        <h3 class="titleCaption mt40">Rekomendasi Kami</h3>
                        {{>tekno/article channel=kanal.Tekno.latest sidebar=true type="col-top" total=8 index_start=0
                        index_end=4}}

                        <!-- e: rec -->

                        <!-- s: foto -->
                        <div class="titleCaptionWrap mt50">
                            <h3 class="titleCaption">
                                Foto
                            </h3>
                            <a href="#" class="titleOthers">Lihat Lainnya<span class="icoInline icoArrow"></span></a>
                        </div>
                        {{>tekno/photo channel=kanal.Tekno.Foto.latest total=1 index_start=0 index_end=1}}

                        <!-- e: foto -->

                        <!-- s: QR Bisnis Indonesia -->
                        <div class="mt50">
                            <img src="./asset/images/QR-bisnis-indonesia.jpg"
                                alt="Scan QR Code Bisnis Indonesia e-paper" loading="lazy" width="301" height="412">
                        </div>
                        <!-- e: QR Bisnis Indonesia -->
                    </sidebar>
                </div>
            </div>
        </main>
    </div>

    <!-- s: bottom billboard -->
    {{>ads/bottom}}
    <!-- e: bottom billboard -->

    {{>footer/footer}}

    {{>footer/script page="tekno" slick=true}}

</body>

</html>