<!DOCTYPE html>
<html lang="en">

{{>head page="Ekonomi" slick=true hl=true channel=site.Ekonomi font=true}}

<body class="theme--ekonomi">

    <!-- s: pushdown billboard -->
    {{!>ads/pushdown}}
    <!-- e: pushdown billboard -->

    <div class="root">

        <!-- s: network -->
        {{>network channel=networkNav}}
        <!-- e: network -->

        <!-- s: flashnews -->
        {{>flashnews type="slider" channel=flashnews}}
        <!-- e: flashnews -->

        {{>header/header login=true kanal="Ekonomi" font=true label="Login" icon=true premium=true}}
        {{!>header/header kanal="Ekonomi" font=true label="Login" icon=true premium=true}}

        <!-- s: skyscrapper billboard -->
        {{>ads/skyscrapper}}
        <!-- e: skyscrapper billboard -->

        <main role="main" class="main">
            <div class="nav">

                {{>header/nav channel=mainMenu.Ekonomi active="Home" icon=true}}

            </div>

            <!-- s: menu panel -->
            {{>header/menu}}
            <!-- e: menu panel -->

            <div class="container mt50">
                <div class="row mt50">
                    <div class="col-7 hLCol">
                        <!-- s: headline -->
                        {{>ekonomi/headline channel=kanal.Ekonomi.hL total=5 index_start=0 index_end=4 index_big_start=4
                        index_big_end=5}}

                        <!-- e: headline -->
                    </div>
                    <sidebar class="sidebar col-3 col-right">
                        <!-- s: rectangle billboard -->
                        {{>ads/middle}}
                        <!-- e: rectangle billboard -->

                        <!-- s: topic -->
                        <h3 class="titleCaption mt30"><span class="topicCaption">#</span> Hot Topic</h3>
                        {{>topic channel=topic total=9 index_start=0 index_end=7}}

                    </sidebar>
                </div>

                <!-- e: topic -->

                <div class="row mt50">
                    <div class="col-7 col-left">

                        <!-- s: latest -->
                        <h3 class="titleCaption mt50">Berita Terbaru</h3>
                        {{>kanal/latest channel=kanal.Ekonomi.latest pos="top" type="row" total=10 index_start=0
                        index_end=5}}

                        <!-- e: latest -->

                        <!-- s: rec -->
                        <h3 class="titleCaption mt40">Rekomendasi Kami</h3>
                        {{>kanal/article channel=kanal.Ekonomi.recommend.latest type="col-top" total=10 index_start=6
                        index_end=10}}

                        <!-- e: rec -->

                    </div>
                    <sidebar class="sidebar col-3 col-right">
                        <!-- s: rectangle billboard -->
                        {{>ads/middle}}
                        <!-- e: rectangle billboard -->

                        <!-- s: terpopuler -->
                        <h3 class="titleCaption mt40">Terpopuler</h3>
                        {{>kanal/most channel=kanal.Ekonomi.most total=4 index_start=0 index_end=4}}

                        <!-- e: terpopuler -->
                    </sidebar>
                </div>

                <!-- s: leaderboard billboard -->
                <div class="mt50">
                    {{>ads/leaderboard}}
                </div>
                <!-- e: leaderboard billboard -->
            </div>
            <div class="container">

                <div class="row mt50">
                    <div class="col-7 col-left">

                        <!-- s: latest -->
                        {{>kanal/latest channel=kanal.Ekonomi.latest type="row" total=10 index_start=4
                        index_end=8}}

                        <!-- e: latest -->

                        <div class="center-flex">
                            <a href="#" class="buttonPrimary">Indeks</a>
                        </div>

                    </div>
                    <sidebar class="sidebar col-3 col-right">
                        <!-- s: rectangle billboard -->
                        {{>ads/middle}}
                        <!-- e: rectangle billboard -->

                        <!-- s: QR Bisnis Indonesia -->
                        <img src="./asset/images/QR-bisnis-indonesia.jpg" alt="Scan QR Code Bisnis Indonesia e-paper"
                            loading="lazy" width="301" height="412">
                        <!-- e: QR Bisnis Indonesia -->

                        <!-- s: bisnistv -->
                        <div class="kanalBisnistv mt50">
                            <h3 class="titleCaption">
                                <img src="./asset/images/logo/bisnistv-logo.png" alt="Bisnistv logo" loading="lazy"
                                    width="119" height="31">
                            </h3>
                            {{>kanal/article channel=kanal.Ekonomi.Video.latest video=true btv=true type="col" total=4
                            index_start=3 index_end=4}}

                        </div>

                        <!-- e: bisnistv -->
                    </sidebar>
                </div>
            </div>
        </main>
    </div>

    <!-- s: bottom billboard -->
    {{>ads/bottom}}
    <!-- e: bottom billboard -->

    {{>footer/footer}}

    {{>footer/script page="ekonomi" slick=true}}

</body>

</html>