<!DOCTYPE html>
<html lang="en">

{{>head page="Homepage" slick=true hl=true font=true channel=site.Homepage}}

<body class="theme--ekonomi theme--home">

    <!-- s: pushdown billboard -->
    {{>ads/pushdown}}
    <!-- e: pushdown billboard -->

    <div class="root">

        <!-- s: network -->
        {{>network channel=networkNav}}
        <!-- e: network -->

        <!-- s: flashnews -->
        {{>flashnews container=true channel=flashnews}}
        <!-- e: flashnews -->

        {{!>header/header login=true kanal="Homepage" label="Login" premium=true width="161" height="36"}}
        {{>header/header kanal="Homepage" label="Login" premium=true width="161" height="36"}}

        <!-- s: skyscrapper billboard -->
        {{>ads/skyscrapper}}
        <!-- e: skyscrapper billboard -->

        <main role="main" class="main">
            <div class="nav">

                {{>header/nav channel=mainMenu.Homepage active="Home" icon=true}}

            </div>

            {{!-- <!-- s: network campaign -->
            {{>network-campaign channel=networkCampaign}}
            <!-- e: network campaign --> --}}

            <!-- s: menu panel -->
            {{>header/menu}}
            <!-- e: menu panel -->

            <div class="container mt50">
                <div class="row">
                    <div class="col-10">
                        <!-- s: stream -->
                        {{>stream channel=stream kanal="dummy" pos="center" total=2 index_start=0
                        index_end=1 bg="#FBFF32" cta=true w="497" h="250" lcp=true}}

                        <!-- e: stream -->
                    </div>
                    <div class="col-7 col-left">
                        <!-- s: headline -->
                        {{>homepage/headline channel=kanal.Homepage.hL total=8 index_start=5 index_end=8
                        index_big_start=0
                        index_big_end=5}}

                        <!-- e: headline -->

                        <!-- s: leaderboard billboard -->
                        <div class="mt30">
                            {{>ads/leaderboard}}
                        </div>
                        <!-- e: leaderboard billboard -->

                        <!-- s: hot topic -->
                        <div class="artRec mt30">
                            <div class="titleCaptionWrap">
                                <h3 class="titleCaption--small">Uang Kuliah Tunggal (UKT)</h3>
                                <a href="#" class="titleOthers">Lihat Lainnya<span
                                        class="icoInline icoArrow"></span></a>
                            </div>
                            {{>homepage/article channel=kanal.Homepage.recommend.hot mod="rec" type="col" mt="20"
                            total=3
                            index_start=0
                            index_end=3 w=224 h=130 dates=true channels=false}}
                        </div>

                        <!-- e: hot topic -->
                    </div>
                    <sidebar class="sidebar col-3 col-right">
                        <!-- s: rectangle billboard -->
                        {{>ads/middle}}
                        <!-- e: rectangle billboard -->

                        <!-- s: rectangle billboard -->
                        <div class="mt30">
                            {{>ads/middle}}
                        </div>
                        <!-- e: rectangle billboard -->
                        <!-- s: topic -->
                        <h2 class="titleCaption text-center mt30"><span class="topicCaption">#</span> Hot Topic</h2>
                        {{>topic channel=topic total=9 index_start=4 index_end=9 heading="h3" images=true w="55"
                        h="55"}}

                        <!-- e: topic -->

                    </sidebar>
                </div>
            </div>

            <!-- s: custom billboard -->
            <div class="mt50">
                {{>ads/custom}}
            </div>
            <!-- e: custom billboard -->

            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <!-- s: topic -->
                        <h2 class="titleCaption text-center mt30"><span class="topicCaption">#</span> Hot Topic</h2>
                        {{>topic channel=topic total=9 index_start=4 index_end=9 heading="h3" images=true w="55"
                        h="55"}}

                        <!-- e: topic -->

                        <!-- s: premium -->
                        <div class="artBorder artPremium premium mt30">
                            <div class="titleCaptionWrap">
                                <h3 class="titleCaption titleCaptionWrap">
                                    <span class="icoInline icoPremium"></span>
                                    <img src="./asset/images/logo/premium-logo-big.svg" alt="Konten Premium" width="189"
                                        height="30" loading="lazy">
                                </h3>
                                <a href="#" class="titleOthers" aria-label="See others">Lihat berita premium lainnya
                                    <span class="icoInline icoArrow"></span></a>
                            </div>
                            {{>homepage/article channel=kanal.Homepage.Premium.latest type="col" pos="js-slider-premium"
                            total=6
                            index_start=0
                            index_end=6 w=305 h=172}}

                        </div>

                        <!-- e: premium -->
                    </div>

                    <div class="col-7 col-left mt30">

                        <!-- s: latest -->
                        <h3 class="titleCaption">Berita Terbaru</h3>

                        {{>homepage/article channel=kanal.Ekonomi.latest type="row" pos="center" total=10 index_start=0
                        index_end=5 w=184 h=104 mt="30"}}

                        <!-- e: latest -->

                        <!-- s: leaderboard billboard -->
                        <div class="mt30">
                            {{>ads/leaderboard}}
                        </div>
                        <!-- e: leaderboard billboard -->

                        {{>homepage/article channel=kanal.Ekonomi.latest type="row" pos="center" total=10 index_start=6
                        index_end=10 w=184 h=104 mt="30"}}

                        <!-- s: leaderboard billboard -->
                        <div class="mt30">
                            {{>ads/leaderboard}}
                        </div>
                        <!-- e: leaderboard billboard -->

                        <div class="row artRow3half mt50">
                            <div class="col-3half">
                                <div class="titleCaptionWrap">
                                    <h3 class="titleCaption--small">
                                        Market
                                    </h3>
                                    <a href="#" class="titleOthers" aria-label="See others"><span
                                            class="icoInline icoArrow"></span></a>
                                </div>
                                {{>homepage/article channel=kanal.Homepage.Market.latest type="col-top" total=4
                                index_start=0
                                index_end=4 w="228" h="133" channels=false images_top=true}}

                            </div>
                            <div class="col-3half">
                                <div class="titleCaptionWrap">
                                    <h3 class="titleCaption--small">
                                        Finansial
                                    </h3>
                                    <a href="#" class="titleOthers" aria-label="See others"><span
                                            class="icoInline icoArrow"></span></a>
                                </div>
                                {{>homepage/article channel=kanal.Homepage.Finansial.latest type="col-top" total=4
                                index_start=0
                                index_end=4 w="228" h="133" channels=false images_top=true}}

                            </div>
                            <div class="col-3half">
                                <div class="titleCaptionWrap">
                                    <h3 class="titleCaption--small">
                                        Ekonomi & Bisnis
                                    </h3>
                                    <a href="#" class="titleOthers" aria-label="See others"><span
                                            class="icoInline icoArrow"></span></a>
                                </div>
                                {{>homepage/article channel=kanal.Homepage.Ekonomi.latest type="col-top" total=4
                                index_start=0
                                index_end=4 w="228" h="133" channels=false images_top=true}}

                            </div>
                        </div>

                    </div>
                    <sidebar class="sidebar col-3 col-right mt30">
                        <!-- s: rectangle billboard -->
                        {{>ads/middle}}
                        <!-- e: rectangle billboard -->

                        <!-- s: kanal network -->
                        <div class="kanalNetwork mt30">
                            <div class="kanalNetworkItem">
                                <div class="titleCaptionWrap">
                                    <h3 class="titleCaption--small titleCaptionWrap">
                                        <div class="kanalNetworkIcon">
                                            <img src="./asset/images/icon/icon-kanal-interaktif.svg" alt=""
                                                loading="lazy" width="24" height="24">
                                        </div>Konten Interaktif
                                    </h3>
                                    <a href="#" class="titleOthers" aria-label="See others"><span
                                            class="icoInline icoArrow"></span></a>
                                </div>

                                {{>homepage/article channel=kanal.Homepage.Interaktif.latest type="row" total=1
                                index_start=0
                                index_end=1 w=75 h=75 channels=false dates=false}}

                            </div>
                            <div class="kanalNetworkItem">
                                <div class="titleCaptionWrap">
                                    <h3 class="titleCaption--small titleCaptionWrap">
                                        <div class="kanalNetworkIcon">
                                            <img src="./asset/images/icon/icon-network-bplus.svg" alt="" loading="lazy"
                                                width="24" height="24">
                                        </div>Bisnis Plus
                                    </h3>
                                    <a href="#" class="titleOthers" aria-label="See others"><span
                                            class="icoInline icoArrow"></span></a>
                                </div>

                                {{>homepage/article channel=kanal.Homepage.BisnisPlus.latest type="row" total=1
                                index_start=0
                                index_end=1 w=75 h=75 channels=false dates=false}}

                            </div>
                            <div class="kanalNetworkItem">
                                <div class="titleCaptionWrap">
                                    <h3 class="titleCaption--small titleCaptionWrap">
                                        <div class="kanalNetworkIcon">
                                            <img src="./asset/images/icon/icon-network-bmuda.svg" alt="" loading="lazy"
                                                width="24" height="24">
                                        </div>Bisnis Muda
                                    </h3>
                                    <a href="#" class="titleOthers" aria-label="See others"><span
                                            class="icoInline icoArrow"></span></a>
                                </div>

                                {{>homepage/article channel=kanal.Homepage.BisnisMuda.latest type="row" total=1
                                index_start=0
                                index_end=1 w=75 h=75 channels=false dates=false}}

                            </div>
                        </div>
                        <!-- e: kanal network -->

                        <!-- s: topik khusus : laporan keuangan -->
                        <div class="keuangan mt30">
                            <h3 class="titleCaption center-flex">
                                <a href="https://www.bisnis.com/topic/3394/laporan-keuangan" target="_blank"
                                    rel="noopener noreferrer">
                                    <img src="./asset/images/logo/topik-keuangan.svg" alt="Laporan Keuangan logo"
                                        loading="lazy" width="224" height="29">
                                </a>
                            </h3>
                            {{>homepage/article channel=kanal.Homepage.Finansial.latest type="col-top" total=4
                            index_start=0
                            index_end=3 w="300" h="160" channels=false images_top=true}}

                            <div class="center-flex">
                                <a href="#" class="keuanganOthers">Artikel Lainnya</a>
                            </div>
                        </div>

                        <!-- e: topik khusus : laporan keuangan -->

                        <!-- s: bplus -->
                        <h3 class="titleCaption mt30">
                            <a href="https://plus.bisnis.com" target="_blank" rel="noopener noreferrer"
                                class="bplusCaption">
                                <img src="./asset/images/logo/logo-bisnis-plus.png" alt="Bisnis Plus logo"
                                    loading="lazy" width="162" height="23">
                            </a>
                        </h3>
                        {{>kanal/bplus channel=kanal.Tekno.BisnisPlus.latest total=4 index_start=0 index_end=4}}

                        <!-- e: bplus -->

                        <!-- s: bisnistv -->
                        <div class="kanalBisnistv mt30">
                            <h3 class="titleCaption">
                                <a href="https://tv.bisnis.com/" target="_blank" rel="noopener noreferrer">
                                    <img src="./asset/images/logo/bisnistv-logo.png" alt="Bisnistv logo" loading="lazy"
                                        width="119" height="31">
                                </a>
                            </h3>
                            {{>kanal/article channel=kanal.Ekonomi.Video.latest video=true btv=true type="col" total=1
                            index_start=0 index_end=1}}

                        </div>
                        <!-- e: bisnistv -->

                        <!-- s: podcast -->
                        <div class="podcast mt30">
                            <a href="https://open.spotify.com/show/6C5e0qIqWQNqVmSAhZ9CsX" target="_blank"
                                rel="noreferrer">
                                <img src="https://cdn.bisnis.com/bisnis/assets/images/Cover_Podcast_Texture_new.png"
                                    width="300" height="300" loading="lazy" alt="Broad Cast">
                            </a>
                        </div>
                        <!-- e: podcast -->

                    </sidebar>
                </div>
            </div>

            <!-- s: foto -->
            <div class="kanalPhoto mt30">
                <div class="titleCaption titleCaptionWrap">
                    <h3 class="titleCaption--small">
                        Foto
                    </h3>
                    <a href="#" class="titleOthers" aria-label="See others">Lihat lainnya<span
                            class="icoInline icoArrow"></span></a>
                </div>
                {{>homepage/photo channel=kanal.Homepage.Foto.latest total=5 index_start=0 index_end=4 w="1080" h="550"}}

            </div>
            <!-- e: foto -->

            <div class="container">
                <div class="row">
                    <div class="col-7 col-left mt30">
                        <!-- s: infografis -->
                        <div class="titleCaptionWrap">
                            <h3 class="titleCaption--small titleCaptionWrap">
                                <div class="kanalNetworkIcon">
                                    <img src="./asset/images/icon/icon-kanal-infografis.svg" alt="" loading="lazy"
                                        width="24" height="24">
                                </div>Infografis
                            </h3>
                            <a href="#" class="titleOthers" aria-label="See others">Lihat lainnya<span
                                    class="icoInline icoArrow"></span></a>
                        </div>
                        <div class="infografis mt20">
                            <div class="infografisWrap -js-igrafis">
                                {{>kanal/infografis channel=kanal.Homepage.Infografis.latest total=6 index_start=0
                                index_end=6
                                w="200" h="338"}}

                            </div>
                        </div>
                        <!-- e: infografis -->

                        <!-- s: regional -->
                        <div class="artBorder mt30">
                            <h3 class="titleCaption--small">
                                Regional Hari Ini
                            </h3>
                            {{>homepage/article channel=kanal.Homepage.Regional mod="reg" type="col"
                            total=3 index_start=0 index_end=3 images=false}}

                        </div>
                        <!-- e: regional -->

                        <!-- s: latest -->
                        {{>homepage/article channel=kanal.Ekonomi.latest type="row" pos="center" total=10 index_start=0
                        index_end=5 w=184 h=104 mt="30"}}

                        <!-- e: latest -->

                        <!-- s: editorial -->
                        <div class="artBorder mt30">
                            <div class="titleCaptionWrap">
                                <h3 class="titleCaption--small titleCaptionWrap">
                                    <div class="kanalNetworkIcon">
                                        <img src="./asset/images/icon/icon-editorial.svg" alt="" loading="lazy"
                                            width="24" height="24">
                                    </div>
                                    Dari Redaksi
                                </h3>
                                <span></span>
                            </div>
                            <div class="editorialList row">
                                {{>kanal/editorial channel=editorial type="col" total=4 index_start=0
                                index_end=4 w="85" h="85" col="col-5" mt="20"}}

                            </div>
                        </div>
                        <!-- e: editorial -->

                        <!-- s: latest -->
                        {{>homepage/article channel=kanal.Ekonomi.latest type="row" pos="center" total=10 index_start=0
                        index_end=5 w=184 h=104 mt="30"}}

                        <!-- e: latest -->

                        <!-- s: leaderboard billboard -->
                        <div class="mt30">
                            {{>ads/leaderboard}}
                        </div>
                        <!-- e: leaderboard billboard -->

                        <div class="center-flex">
                            <a href="#" class="buttonPrimary">Indeks Berita</a>
                        </div>
                    </div>
                    <sidebar class="sidebar col-3 col-right mt30">
                        <!-- s: rectangle billboard -->
                        {{>ads/middle}}
                        <!-- e: rectangle billboard -->

                        <!-- s: opinion -->
                        <div class="opinion mt30">
                            <div class="titleCaptionWrap">
                                <h3 class="titleCaption--small titleCaptionWrap">
                                    <div class="kanalNetworkIcon">
                                        <img src="./asset/images/icon/icon-opinion.svg" alt="" loading="lazy" width="24"
                                            height="24">
                                    </div>
                                    Opini Bisnis
                                </h3>
                                <span></span>
                            </div>
                            <div class="opinionList">
                                {{>kanal/opinion channel=opinion total=3 index_start=0
                                index_end=3 w="60" h="60" mt="20"}}

                            </div>
                        </div>
                        <!-- e: opinion -->

                        <!-- s: QR Bisnis Indonesia -->
                        <div class="kanalQr mt30">
                            <img src="./asset/images/QR-bisnis-indonesia.jpg"
                                alt="Scan QR Code Bisnis Indonesia e-paper" loading="lazy" width="301" height="412">
                        </div>
                        <!-- e: QR Bisnis Indonesia -->

                        <div class="-sticky">
                            <!-- s: terpopuler -->
                            <h3 class="titleCaption mt30">Terpopuler</h3>
                            {{>kanal/most channel=kanal.Ekonomi.most total=5 index_start=0 index_end=5}}

                            <!-- e: terpopuler -->
                        </div>

                    </sidebar>
                </div>
            </div>
        </main>
    </div>

    <!-- s: bottom billboard -->
    {{>ads/bottom}}
    <!-- e: bottom billboard -->

    {{>footer/footer}}

    {{>footer/script page="homepage" slick=true}}

</body>

</html>