.theme {
    &--tekno {
        .breadcrumb {
            padding-left: 0;
            padding-right: 0;

            &Item {
                &:first-child {
                    margin-left: 0;
                }

                &.-active {
                    .breadcrumbLink {
                        color: var(--cl-tekno);
                    }
                }
            }

            &Link {
                @include font-pack($font-body2, false, $font-weight-normal, false, #434343);
            }
        }

        .details {
            &Title {
                &Caption {
                    @include font-pack($font-body2, 25px, $font-weight-sbold, 1.5, false);
                }
            }

            &Attribute {
                display: flex;
                align-items: center;
                letter-spacing: 0;
                margin-top: 0;
                @include font-pack($font-body2, 14px, $font-weight-normal, 1.57, var(--cl-tekno));

                span::after {
                    content: none;
                }

                &Item {
                    margin-top: 8px;
                    align-items: center;

                    &:first-child {
                        margin-right: 8px;
                    }
                }

                .icoInline {
                    width: 20px;
                    height: 20px;
                    margin-right: 6px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    filter: var(--filter-tekno);
                    -webkit-filter: var(--filter-tekno);
                }

                .icoProfile {
                    @extend %icoProfile
                }

                .icoCal {
                    @extend %icoCal
                }

                .icoEye {
                    @extend %icoEye
                }
            }

            &Img {
                border-radius: 0;

                &Caption {
                    text-align: center;
                    letter-spacing: 0.02em;
                    @include font-pack($font-body2, 14px, false, false, #545454);
                }
            }

            &Zoom {
                .icoZoom {
                    margin-right: 12px;
                }
            }

            &Font {
                &Cta {
                    padding: 10px 12px;
                    background: $cl-white;
                    border: 1px solid #434343;
                    border-radius: 39px;
                    letter-spacing: 0;
                    @include font-pack($font-body2, false, $font-weight-normal, false, $cl-black);

                    @include max-responsive($mstablet) {
                        padding: 10px;
                    }

                    &.-active {
                        border: 1px solid var(--cl-tekno);
                        background: var(--cl-tekno);
                        color: $cl-white
                    }
                }
            }

            &Content {
                @include font-pack($font-body2, 18px, $font-weight-normal, 1.57, false);

                .big-orange {
                    padding: 34px 16px 16px;
                    background: #F7F7F7;
                    border-left: 3px solid #989898;
                    font-style: italic;
                    font-size: 1.14em;
                    font-weight: $font-weight-med;

                    &::before {
                        @extend %icoQuote-premium;
                        left: 16px;
                        top: 10px;
                        width: 24px;
                        height: 22px;
                        filter: invert(33%) sepia(0%) saturate(0%) hue-rotate(334deg) brightness(96%) contrast(95%);
                    }

                    .author {
                        @include font-pack(false, .9em, $font-weight-normal, 1.57, #434343);

                        &::before {
                            border-top: 2px solid #545454;
                        }
                    }
                }

                .baca-juga {
                    border-radius: 8px;
                    background: #F8FCFF;

                    table{
                        th{
                            text-transform: uppercase;
                            @include font-pack(false, 15px, false, false, var(--cl-tekno));
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        display: block;
                        background: var(--cl-tekno);
                        border-radius: 16px;
                        right: -2px;
                        top: 24%;
                        width: 6px;
                        height: 36px;
                    }

                    a {
                        color: #1A1A1A;
                        text-transform: none;
                    }

                    &Caption {
                        text-transform: uppercase;
                        color: var(--cl-tekno)
                    }
                }
            }

            &Vid {
                border-radius: 0;
            }

            &Author {
                @include font-pack(false, 14px, $font-weight-sbold, 1.57, $cl-black);
            }

            &Tag {
                flex-direction: column;

                li:first-child {
                    a {
                        margin-left: 0;
                    }
                }

                &Link {
                    padding: 10px;
                    background: #F8FCFF;
                    @include font-pack(false, false, $font-weight-med, 1.375, var(--cl-tekno));
                }

                &Caption {
                    font-weight: $font-weight-sbold;
                }
            }

            &Break {
                border-bottom: 1px solid var(--cl-tekno);

                &Caption {
                    @include font-pack(false, 14px, false, 1.57, var(--cl-tekno));
                }
            }

            &Numbering {
                span {
                    min-width: 36px;
                    text-align: center;
                    display: inline-block;
                    padding: 1px .61em;
                    border-radius: 12px;
                    margin-right: 12px;
                    color: var(--cl-tekno);
                    border: 1px solid var(--cl-tekno)
                }
            }

            &Paging {
                &Wrap.-first {
                    justify-content: flex-start;
                }

                &Caption {
                    font-size: 14px;
                    color: var(--cl-tekno)
                }

                &Item {
                    border: 0;
                }

                &Thumb {
                    border-radius: 0;
                }

                &Content {
                    @include font-pack($font-body2, 15px, $font-weight-sbold, 1.47, false);
                }

                &Lead {
                    letter-spacing: 0.06em;
                    @include font-pack($font-body2, 14px, $font-weight-light, 1.5, var(--cl-tekno));
                }
            }

            &Live {
                &Caption {
                    @include font-pack($font-body2, false, $font-weight-med, 1.1, false);

                    span {
                        font-weight: $font-weight-med
                    }
                }

                &Anchor {
                    border-radius: 39px;
                    @include font-pack($font-body2, 12px, $font-weight-normal, 1.5, #434343);

                    @include max-responsive($mstablet) {
                        font-size: 11px;
                    }
                }

                &Slider {
                    max-height: 38px;

                    .slick-list {
                        padding-top: 2px;
                        padding-bottom: 2px;
                        padding-right: 65px;
                    }

                    &Wrap {
                        padding-left: 0;
                    }
                }

                &Time {
                    left: -10px;
                    padding-left: 12px;
                    padding-right: 12px;
                    border-radius: 39px;
                    min-width: 84px;
                    background: $cl-white;
                    border: 1px solid #555555;
                    @include font-pack($font-body2, 12px, $font-weight-normal, 1.5, #555555);

                    &::after {
                        content: none
                    }
                }

                &TL {
                    &::before {
                        left: 5px;
                    }
                }

                &Item {
                    padding-top: 45px;
                    padding-left: 25px;

                    &.-active .detailsLiveTime {
                        color: $cl-white;
                        border: 1px solid #AE0F0F;
                        background: #AE0F0F
                    }
                }

                &Title {
                    @include font-pack($font-body2, 1.2em, false, 1.4, false);
                }
            }
        }

        .share {
            &SocmedWrap {
                @include font-pack($font-body2, 12px, false, 1.57, false);
            }
        }

        .paging {
            &Caption {
                @include font-pack($font-body2, 14px, $font-weight-sbold, 1.57, false);
            }

            &Link,
            &Show {
                @include font-pack($font-body2, 14px, $font-weight-normal, false, #555555);

                &.-active,
                &:hover {
                    background: var(--cl-tekno);
                    border: 1px solid var(--cl-tekno);
                }
            }
        }

        .artOtherItem {
            border-bottom: 1px solid #DCDCDC;
        }
    }
}
