<div id="bio">
    <h2 class="title">Isi dulu data pribadimu yuk!</h2>
    <input type="text" name="" class="formInput mt15" aria-label="Nama" placeholder="Nama" value="" required=""
        inputmode="text">
    <div class="formRadio__wrap flex-center">
        <input type="radio" id="s1" name="sex" class="formRadio" required="" aria-label="Laki-laki">
        <label for="s1" class="formRadio__label">
            <div class="icon icon-male formRadio__icon"></div>
        </label>
        <input type="radio" id="s2" name="sex" class="formRadio" required="" aria-label="Perempuan">
        <label for="s2" class="formRadio__label">
            <div class="icon icon-female formRadio__icon"></div>
        </label>
    </div>
    <input type="email" placeholder="Email" class="formInput" aria-label="Email">
    <input type="text" name="" class="formInput" aria-label="Nomor Telpon" placeholder="Nomor Telpon" value=""
        inputmode="tel">
    <input type="text" name="" class="formInput" aria-label="Pekerjaan" placeholder="Pekerjaan" value=""
        inputmode="text">
    <h3 class="title mt45">Pendapatan per bulan</h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="inc1" name="income" class="formOption">
            <label for="inc1" class="formOption__label">
                < 1juta </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="inc2" name="income" class="formOption">
            <label for="inc2" class="formOption__label">
                1 - 2 juta
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="inc3" name="income" class="formOption">
            <label for="inc3" class="formOption__label">
                2,1 - 5 juta </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="inc4" name="income" class="formOption">
            <label for="inc4" class="formOption__label">
                5,1 - 10 juta
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="inc5" name="income" class="formOption">
            <label for="inc5" class="formOption__label">
                10,1 - 15 juta </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="inc6" name="income" class="formOption">
            <label for="inc6" class="formOption__label">
                >15 juta
            </label>
        </div>
    </div>
    <h3 class="title mt45">Usia</h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="age1" name="age" class="formOption">
            <label for="age1" class="formOption__label">
                17 - 25 </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="age2" name="age" class="formOption">
            <label for="age2" class="formOption__label">
                26 - 35
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="age3" name="age" class="formOption">
            <label for="age3" class="formOption__label">
                26 - 35 </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="age4" name="age" class="formOption">
            <label for="age4" class="formOption__label">
                > 45
            </label>
        </div>
    </div>
    <h3 class="title mt45">Produk kecantikan / perawatan diri apa yang Anda gunakan?</h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="pro1" name="pro" class="formOption">
            <label for="pro1" class="formOption__label">
                Skincare </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="pro2" name="pro" class="formOption">
            <label for="pro2" class="formOption__label">
                Haircare
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="pro3" name="pro" class="formOption">
            <label for="pro3" class="formOption__label">
                Bodycare </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="pro4" name="pro" class="formOption">
            <label for="pro4" class="formOption__label">
                Makeup
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="pro5" name="pro" class="formOption">
            <label for="pro5" class="formOption__label">
                Semuanya
            </label>
        </div>
    </div>
    <h3 class="title mt45">Berapa budget yang Anda keluarkan untuk membeli kebutuhan kecantikan /
        perawatan diri?</h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="bud1" name="bud" class="formOption">
            <label for="bud1" class="formOption__label">
                0 - 200.000 </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="bud2" name="bud" class="formOption">
            <label for="bud2" class="formOption__label">
                200.001 - 500.000
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="bud3" name="bud" class="formOption">
            <label for="bud3" class="formOption__label">
                500.001 - 1 juta </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="bud4" name="bud" class="formOption">
            <label for="bud4" class="formOption__label">
                1 juta - 2 juta
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="bud5" name="bud" class="formOption">
            <label for="bud5" class="formOption__label">
                Di atas 2 juta
            </label>
        </div>
    </div>
    <h3 class="title mt45">Dimanakah Anda biasa membeli produk kecantikan / perawatan diri?</h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="sho1" name="sho" class="formOption">
            <label for="sho1" class="formOption__label">
                Official Store </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="sho2" name="sho" class="formOption">
            <label for="sho2" class="formOption__label">
                Shopee
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="sho4" name="sho" class="formOption">
            <label for="sho4" class="formOption__label">
                Tokopedia
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="sho3" name="sho" class="formOption">
            <label for="sho3" class="formOption__label">
                Sociolla </label>
        </div>
        <div class="formOption__item formOption__otr">
            <input type="radio" id="sho5" name="sho" class="formOption">
            <label for="sho5" class="formOption__label">
                Lainnya :
            </label>
            <input type="text" name="shoTxt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <h3 class="title mt45">Dari manakah Anda mendapatkan informasi terkait produk yang Anda gunakan?
    </h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="inf1" name="inf" class="formOption">
            <label for="inf1" class="formOption__label">
                Website resmi </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="inf2" name="inf" class="formOption">
            <label for="inf2" class="formOption__label">
                Media social
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="inf4" name="inf" class="formOption">
            <label for="inf4" class="formOption__label">
                Influencer
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="inf3" name="inf" class="formOption">
            <label for="inf3" class="formOption__label">
                Teman / keluarga </label>
        </div>
        <div class="formOption__item formOption__otr">
            <input type="radio" id="inf5" name="inf" class="formOption">
            <label for="inf5" class="formOption__label">
                Lainnya :
            </label>
            <input type="text" name="infTxt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <h3 class="title mt45">Dari sosial media di bawah ini, manakah sumber informasi yang paling
        sering Anda akses untuk mencari informasi?</h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="med1" name="med" class="formOption">
            <label for="med1" class="formOption__label">
                Instagram </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="med2" name="med" class="formOption">
            <label for="med2" class="formOption__label">
                Twitter
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="med4" name="med" class="formOption">
            <label for="med4" class="formOption__label">
                Tiktok
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="med3" name="med" class="formOption">
            <label for="med3" class="formOption__label">
                YouTube </label>
        </div>
        <div class="formOption__item formOption__otr">
            <input type="radio" id="med5" name="med" class="formOption">
            <label for="med5" class="formOption__label">
                Lainnya :
            </label>
            <input type="text" name="medTxt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>

    <button class="button buttonPrimary" type="button">Mulai</button>
</div>