<div id="food">
    <h3 class="title mt45">Pola hidup sehat apa yang sudah Anda terapkan
        sehari-hari?
    </h3>
    <div class="formCheck__wrap display-flex">
        <div class="formCheck__item">
            <input type="checkbox" id="ask211" name="ask21" class="formCheck">
            <label for="ask211" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Pola makan seimbang</span>
            </label>
        </div>
        <div class="formCheck__item">
            <input type="checkbox" id="ask212" name="ask21" class="formCheck">
            <label for="ask212" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Pola tidur yang baik
                </span>
            </label>
        </div>
        <div class="formCheck__item">
            <input type="checkbox" id="ask213" name="ask21" class="formCheck">
            <label for="ask213" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Olahraga rutin
                </span>
            </label>
        </div>
        <div class="formCheck__item">
            <input type="checkbox" id="ask214" name="ask21" class="formCheck">
            <label for="ask214" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Pola tidur yang baik
                </span> </label>
        </div>
        <div class="formCheck__item display-flex formOption__otr">
            <input type="checkbox" id="ask215" name="ask21" class="formCheck">
            <label for="ask215" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Lainnya :
                </span>
            </label>
            <input type="text" name="ask21Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <h3 class="title mt45">Seberapa sering mengkonsumsi healthy food & beverages dalam seminggu? </h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask221" name="ask22" class="formOption">
            <label for="ask221" class="formOption__label">
                1 kali</label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask222" name="ask22" class="formOption">
            <label for="ask222" class="formOption__label">
                2 kali
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask223" name="ask22" class="formOption">
            <label for="ask223" class="formOption__label">
                3 kali
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask224" name="ask22" class="formOption">
            <label for="ask224" class="formOption__label">
                lebih dari 5 kali </label>
        </div>
    </div>
    <h3 class="title mt45">Dimanakah Anda biasa membeli produk tersebut?</h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask231" name="ask23" class="formOption">
            <label for="ask231" class="formOption__label">
                Official store</label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask232" name="ask23" class="formOption">
            <label for="ask232" class="formOption__label">
                Website toko
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask233" name="ask23" class="formOption">
            <label for="ask233" class="formOption__label">
                Shopee
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask234" name="ask23" class="formOption">
            <label for="ask234" class="formOption__label">
                Tokopedia </label>
        </div>
        <div class="formOption__item formOption__otr">
            <input type="radio" id="ask245" name="ask24" class="formOption">
            <label for="ask245" class="formOption__label">
                Lainnya :
            </label>
            <input type="text" name="ask24Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <h3 class="title mt45">Dari manakah Anda mendapatkan informasi terkait produk yang Anda gunakan?
    </h3>
    <div class="formCheck__wrap display-flex">
        <div class="formCheck__item">
            <input type="checkbox" id="ask251" name="ask25" class="formCheck">
            <label for="ask251" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Website resmi</span>
            </label>
        </div>
        <div class="formCheck__item">
            <input type="checkbox" id="ask252" name="ask25" class="formCheck">
            <label for="ask252" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Media sosial
                </span>
            </label>
        </div>
        <div class="formCheck__item">
            <input type="checkbox" id="ask253" name="ask25" class="formCheck">
            <label for="ask253" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Influencer
                </span>
            </label>
        </div>
        <div class="formCheck__item">
            <input type="checkbox" id="ask254" name="ask25" class="formCheck">
            <label for="ask254" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Teman/keluarga
                </span> </label>
        </div>
        <div class="formCheck__item display-flex formOption__otr">
            <input type="checkbox" id="ask255" name="ask25" class="formCheck">
            <label for="ask255" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Lainnya :
                </span>
            </label>
            <input type="text" name="ask25Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <h3 class="title mt45">Apa produk Healthy Food & Beverages yang paling sering Anda konsumsi?
    </h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask261" name="ask26" class="formOption">
            <label for="ask261" class="formOption__label">
                <img src="./asset/images/pic/juice.png" alt="" class="formPic" width="201" height="200" loading="lazy">
                <div class="text-center mt7">Cold Press Juice </div>
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask262" name="ask26" class="formOption">
            <label for="ask262" class="formOption__label">
                <img src="./asset/images/pic/snack.png" alt="" class="formPic" width="201" height="200" loading="lazy">
                <div class="text-center mt7">Healthy Snack</div>
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask263" name="ask26" class="formOption">
            <label for="ask263" class="formOption__label">
                <img src="./asset/images/pic/catering.png" alt="" class="formPic" width="201" height="200"
                    loading="lazy">
                <div class="text-center mt7">Plant based catering</div>
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask264" name="ask26" class="formOption">
            <label for="ask264" class="formOption__label">
                <img src="./asset/images/pic/catering2.png" alt="" class="formPic" width="201" height="200"
                    loading="lazy">
                <div class="text-center mt7">Healthy food catering</div>
            </label>
        </div>
        <div class="formOption__item formOption__otr">
            <input type="radio" id="ask265" name="ask26" class="formOption">
            <label for="ask265" class="formOption__label">
                Lainnya :
            </label>
            <input type="text" name="ask26Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <h3 class="title mt45">Apa brand Healthy food & beverages yang sering Anda konsumsi?
    </h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask271" name="ask27" class="formOption">
            <label for="ask271" class="formOption__label">
                <img src="./asset/images/brand/rejuve.png" alt="rejuve" class="formBrand" width="171" height="79" loading="lazy">
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask272" name="ask27" class="formOption">
            <label for="ask272" class="formOption__label">
                <img src="./asset/images/brand/yellow-fit-kitchen.png" alt="yellow fit kitchen" class="formBrand" width="171" height="79" loading="lazy">
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask273" name="ask27" class="formOption">
            <label for="ask273" class="formOption__label">
                <img src="./asset/images/brand/burgreens.png" alt="burgreens" class="formBrand" width="171" height="79"
                    loading="lazy">
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask274" name="ask27" class="formOption">
            <label for="ask274" class="formOption__label">
                <img src="./asset/images/brand/realfood.png" alt="realfood" class="formBrand" width="171" height="79"
                    loading="lazy">
            </label>
        </div>
        <div class="formOption__item formOption__otr">
            <input type="radio" id="ask275" name="ask27" class="formOption">
            <label for="ask275" class="formOption__label">
                Lainnya :
            </label>
            <input type="text" name="ask27Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <h3 class="title mt45">Apa pertimbangan utama Anda dalam memilih produk /brand healthy food & beverages?</h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask281" name="ask28" class="formOption">
            <label for="ask281" class="formOption__label">
                Harga </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask282" name="ask28" class="formOption">
            <label for="ask282" class="formOption__label">
                Komposisi / Kandungan / Manfaat produk
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask283" name="ask28" class="formOption">
            <label for="ask283" class="formOption__label">
                Rekomendasi teman / keluarga / iklan / influencer
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask284" name="ask28" class="formOption">
            <label for="ask284" class="formOption__label">
                Kemasan</label>
        </div>
        <div class="formOption__item formOption__otr">
            <input type="radio" id="ask285" name="ask28" class="formOption">
            <label for="ask285" class="formOption__label">
                Lainnya :
            </label>
            <input type="text" name="ask28Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
</div>