<div class="menuList">
    <div class="menuSearch mt10">
        <form action="">
            <div class="menuSearch__box">
                <div class="icon icon-search menuSearch__icon"></div>
                <input type="text" name="" class="menuSearch__input" aria-label="Search news" placeholder="Cari Berita"
                    value="" inputmode="search">
            </div>
        </form>
    </div>
    <div class="menuProfile">
        {{#eq login compare=true}}
        <a href="#" class="menuProfile__item menuProfile__user">
            <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt=""
                class="userAvatar mr10">
            <div class="menuProfile__name">Shopie Anggita</div>
        </a>
        <a href="#" class="menuProfile__item">
            <span class="icon icon-home menuProfile__icon mr10"></span>
            Beranda
        </a>
        <a href="#" class="menuProfile__item">
            <span class="icon icon-user icon-user-grey menuProfile__icon mr10"></span>
            Profil
        </a>
        <a href="#" class="menuProfile__item red">
            <span class="icon icon-logout menuProfile__icon mr10"></span>
            Keluar
        </a>
        {{else}}
        <a href="#" class="menuProfile__item menuProfile__user purple">
            <span class="icon icon-user menuProfile__icon mr10"></span>
            Masuk
        </a>
        {{/eq}}
    </div>
    <ul>
        {{#each menu}}
        <li class="menuItem"><a href="{{link}}"
                class="menuLink{{#eq title compare=../page}} active{{/eq}}">{{title}}</a></li>
        {{/each}}
    </ul>
</div>