<footer class="credit" id="credit">
	<div class="display-table">
		<div class="display-center">
			<div class="credit__wrapper container container--large">
				<div class="credit__col">
					<div class="credit__row">
						<div class="credit__team">
							Produser</div>
						<div class="credit__member">
							<span>Yunanto Wiji Utomo</span>
						</div>
					</div>
					<div class="credit__row">
						<div class="credit__team">Naskah dan Konsep</div>
						<div class="credit__member">
							<span>Yunanto Wiji Utomo</span>
						</div>
					</div>
					<div class="credit__row">
						<div class="credit__team">Penyelaras Bahasa</div>
						<div class="credit__member">
							<span>Erwin Hutapea</span>
						</div>
					</div>
					<div class="credit__row">
						<div class="credit__team">Copywriter</div>
						<div class="credit__member">
							<span>Nurdita Afifah</span>
						</div>
					</div>
				</div>
				<div class="credit__col">
					<div class="credit__row">
						<div class="credit__team">UI/UX Designer</div>
						<div class="credit__member">
							<span>Tania Juliet</span>
						</div>
					</div>
					<div class="credit__row">
						<div class="credit__team">UI/UX Engineer</div>
						<div class="credit__member">
							<span>Ilma Akrimatunnisa</span>
						</div>
					</div>
					<div class="credit__row">
						<div class="credit__team">Supervisor</div>
						<div class="credit__member">
							<span>Moh. Khoirul Huda</span>
						</div>
						<div class="credit__member">
							<span>Donald Yudi Winarso</span>
						</div>
					</div>
				</div>
			</div>
			<div class="credit__bottom mt40">
				<div class="container container--large">
					<p class="credit__small">Copyright 2025. Kompas.com</p>
					<div class="credit__logo">
						<a class="credit__logo--kompascom" target="_blank" href="https://www.kompas.com/" rel="noopener"
							aria-label="kompas.com">
							<img src="./asset/images/kompascom.png" alt="" width="203" height="40" loading="lazy">
						</a>
					</div>
					<p class="credit__small">Published: 28 Mei 2025</p>
					<button class="buttonHome -backtotop" onclick="refreshPage()" aria-label="back to top" title="Kembali ke atas">
						<img src="./asset/images/home.png" class="imgHome" alt="" loading="lazy" width="58" height="58">
					</button>
				</div>
			</div>
		</div>
	</div>
</footer>