@use '../base/mixins' as *;
@use '../base/vars' as *;

.bgColor {
    position: fixed;
    top: 0;
    left: 0;
    @include display_full;

    &__blue {
        background: rgb(170, 224, 239);
        background: radial-gradient(circle, rgba(170, 224, 239, 1) 0%, rgba(0, 148, 237, 1) 100%);
        transition: opacity .3s ease-in-out;

        &--grad {
            background: #AAE0EF;
            background: linear-gradient(0deg, rgba(170, 224, 239, 1) 0%, rgba(88, 187, 238, 1) 50%, rgba(0, 148, 237, 1) 100%);
        }
    }

    &__grey {
        background: #D9EBFE;
        transition: opacity .3s ease-in-out;

        &--grad {
            background: #FEFCFB;
            background: linear-gradient(180deg, rgba(254, 252, 251, 1) 0%, rgba(236, 242, 248, 1) 33%, rgba(227, 237, 246, 1) 100%);
        }
    }
}