@use '../base/mixins' as *;
@use '../base/vars' as *;

.button {
    color: inherit;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;

    &Close {
        position: absolute;
        top: -14px;
        right: 20px;

        @include min-responsive($w-md) {
            top: unset;
            right: -40px;
        }
    }

    &Click {
        position: absolute;
        padding: 5px 25px 5px 15px;
        text-align: center;
        min-width: 144px;
        border: 2px solid #134061;
        background: $cl-white;
        border-radius: 9px;
        @include font-pack(false, 15px, false, false, #134061);

        span {
            position: absolute;
            bottom: -30px;
            right: -15px;
        }
    }
}

.scroll-guide {
    position: absolute;
    bottom: 3%;
    right: 20px;
    z-index: 999;
    flex-direction: column;
    color: #58595B;
    font-size: 14px;
    @include base_transition(all, .2s);

    @include min-responsive($w-md) {
        font-size: 16px;
    }

    .icon-scroll {
        width: 20px;
        height: 32px;

        &:before {
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 6px;
            height: 6px;
        }
    }
}

.icon {
    &-scroll {
        position: relative;
        border-radius: 50px;
        width: 14px;
        height: 20px;
        border: 2px solid #58595B;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 2px;
            height: 5px;
            margin-left: -1px;
            background-color: #58595B;
            border-radius: 10px;
            -webkit-animation: scrolldown 2s infinite;
            animation: scrolldown 2s infinite;
        }
    }

}