@use '../base/mixins' as *;
@use '../base/vars' as *;

.title {
    &Caption {
        @include font-pack($font_caption, 22px, false, false, false);

        @include min-responsive($w-md) {
            @include font-pack($size: 38px);
        }

        @include min-responsive($w-xxxl) {
            @include font-pack($size: 40px);
        }
    }
}