<ul class="profileNav__list">
    <li class="profileNav__item">
        <a href="profile.html" class="profileNav__link display-flex aitems-center">
            <span class="icon icon-home profileNav__icon"></span>
            Beranda
        </a>
    </li>
    <li class="profileNav__item">
        <a href="profile-setting.html" class="profileNav__link display-flex aitems-center">
            <span class="icon icon-user-colored profileNav__icon"></span>
            Ubah Profil
        </a>
    </li>
    <li class="profileNav__item">
        <a href="profile-write.html" class="profileNav__link display-flex aitems-center">
            <span class="icon icon-write profileNav__icon"></span>
            Tulis Artikel
        </a>
    </li>
    <li class="profileNav__item">
        <a href="profile-published.html" class="profileNav__link display-flex aitems-center">
            <span class="icon icon-published profileNav__icon"></span>
            Sudah Terbit
        </a>
    </li>
    <li class="profileNav__item">
        <a href="profile-pending.html" class="profileNav__link display-flex aitems-center">
            <span class="icon icon-pending profileNav__icon"></span>
            Pending
        </a>
    </li>
    <li class="profileNav__item">
        <a href="profile-rejected.html" class="profileNav__link display-flex aitems-center">
            <span class="icon icon-rejected profileNav__icon"></span>
            Ditolak
        </a>
    </li>
    <li class="profileNav__item">
        <a href="profile-draft.html" class="profileNav__link display-flex aitems-center">
            <span class="icon icon-draft profileNav__icon"></span>
            Draft
        </a>
    </li>
    <li class="profileNav__item">
        <a href="#" class="profileNav__link profileNav__log display-flex aitems-center">
            <span class="icon icon-logout profileNav__icon"></span>
            Logout
        </a>
    </li>
</ul>