.photo{
    &Count{
        position: absolute;
        bottom: 0;
        padding: 7px 15px;
        border-top-right-radius: 15px;
        background: $cl_white;
        @include font-pack(false, 12px, 400, false, #5F5F5F);
    }
}