.video {
    &List {
        margin-right: -15px;
        margin-left: -15px;

        .highlightItem {
            padding-right: 15px;
            padding-left: 15px;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                margin-top: 0;
            }
        }

        .highlightImg{
            width: 100%;
            height: 225px;
        }
    }
}