.title {
    margin-top: 15px;
    margin-bottom: 15px;
    @include font-pack($font_body, 20px, 700, false, $cl_primary);

    @include min-responsive($mxtablet) {
        font-size: 22px;
    }

    &Date {
        @include font-pack($font_body, 14px, 400, false, $cl_grey);
    }

    &Teaser {
        margin-top: 15px;
        @include font-pack($font_body, 16px, 400, false, $cl_primary);

        @include min-responsive($mxtablet) {
            font-size: 17px;
        }
    }

    &Link {
        &:hover {
            img {
                transform: scale(1.25);
            }

            .title {
                color: $cl_blue;
            }
        }
    }
}