.about {
    &Caption {
        margin-top: 20px;
        margin-bottom: 10px;

        @include min-responsive($w-md) {
            max-width: 270px;
        }

        @include min-responsive($w-xl) {
            margin-bottom: 20px;
        }
    }

    &Content {
        margin-top: 10px;
        margin-bottom: 10px;

        @include min-responsive($w-xl) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    &Lead {
        margin-bottom: 10px;
        @include font-pack($font-mbold, 16px, $font-weight-mbold, false, #202020);
        letter-spacing: 0.64px;
        text-transform: uppercase;
    }

    &Title {
        line-height: 1.05;
        color: #202020;
        letter-spacing: 0.72px;

        &.--small {
            margin-top: 5px;
            @include font-pack($font-base, 15px, $font-weight-normal, false, #454545);
            letter-spacing: 0.3px;
        }

        ~.aboutLead {
            text-transform: none;
            margin-top: 10px;
            margin-bottom: 0
        }
    }

    &Txt {
        @include font-pack(false, 16px, false, 1.43, #202020);
        letter-spacing: 0.32px;
    }

    &Img {
        img {
            border-radius: 7px;
            overflow: hidden;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &Team {
        --gap-team: 2px;
        margin-left: calc(var(--gap-team) - var(--gap-team)*2);
        margin-right: calc(var(--gap-team) - var(--gap-team)*2);

        &__item {
            margin-bottom: 2px;
            padding-left: var(--gap-team);
            padding-right: var(--gap-team);
            flex-basis: 170px;
            max-width: calc(100%/3);

            @include min-responsive($w-md) {
                max-width: calc(100%/4);
            }

            @include min-responsive($w-lg) {
                max-width: calc(100%/5);
            }

            &:hover {
                .aboutTeam__content {
                    @extend .visible;
                    height: 100%
                }
            }
        }

        &__content {
            @extend .hidden;
            text-align: center;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 8px 10px;
            color: #000;
            background: rgba(255, 255, 255, .7);
            transition: all .2s ease-in;

            @include min-responsive($w-md) {
                padding: 10px 15px;
            }
        }

        &__name {
            margin-bottom: 3px;
            font-size: 16px;

            @include min-responsive($w-md) {
                font-size: 17px;
            }
        }
    }

    &Journey {
        &__item {
            margin-bottom: 20px;

            @include min-responsive($w-md) {
                margin-bottom: 40px;
            }
        }

        &__year {
            position: relative;
            @include font-pack(false, false, false, false, #616161);
            letter-spacing: 0.48px;
            padding-left: 23px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 8px;
                width: 13px;
                height: 13px;
                background: #616161;
                border-radius: 50%;
            }

            &.cl-red {
                &::before {
                    background: $cl-red;
                }
            }

            ~.aboutTxt {
                margin-top: 10px;

                @include min-responsive($w-md) {
                    margin-top: 30px;
                }
            }
        }
    }
}