.author {
    &Lead {
        background: #F24971;
        color: $cl-white;

        @include min-responsive($w-lg) {
            padding-top: 36px;
            align-items: flex-start;
        }

        .leadBg {
            filter: invert(51%) sepia(27%) saturate(6111%) hue-rotate(316deg) brightness(103%) contrast(101%);

            .--left {
                width: 246px;
                height: 150px;
                top: 0;

                @include min-responsive($w-lg) {
                    width: 269px;
                    height: 185px;
                }
            }

            .--right {
                width: 70px;
                height: 250px;
                top: 5%;
                right: 0;

                @include min-responsive($w-lg) {
                    width: 454px;
                    height: 312px;
                    top: -50%;
                }
            }
        }

        .leadContent {
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    &Best {
        .title {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .authorImg {
            width: 165px;

            @include min-responsive(1245px) {
                width: 100%;
            }
        }
    }

    &Desc {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    &List {
        --gap-author: 8px;
        margin-left: calc(var(--gap-author) - var(--gap-author)*2);
        margin-right: calc(var(--gap-author) - var(--gap-author)*2);
    }

    &Item {
        position: relative;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-left: var(--gap-author);
        padding-right: var(--gap-author);

        @include min-responsive($w-lg) {
            flex-basis: 171px;
            max-width: calc(100%/4)
        }

        @include min-responsive($w-xl) {
            flex-basis: 179px;
        }

        @include min-responsive($w-vxl) {
            max-width: calc(100%/5);
        }

        @include range-responsive($w-bxl, $w-vxl) {
            flex-basis: 171px;
            max-width: calc(100% / 5);
        }

        @include min-responsive($w-vxl) {
            flex-basis: 179px;
            max-width: calc(100%/5);
        }

        .titleH5 {
            @include title_clamp(2);
            margin-top: 5px
        }

        &.--row {
            flex-basis: 100%;
            max-width: calc(100%);
            padding-left: 90px;

            .authorImg {
                position: absolute;
                top: 0;
                left: 0;
                width: 80px;
            }

            .titleH5 {
                -webkit-line-clamp: 1;
                margin-top: 0;
            }
        }
    }

    &Link {
        &:hover {
            .titleH5 {
                color: $cl-red
            }
        }
    }

    &Book {
        @include font-pack(false, 14px, false, false, $cl-red);
        letter-spacing: 0.32px;

        @include min-responsive($w-md) {
            font-size: 16px
        }
    }

    &Socmed {
        --gap-socmed: 7px;
        margin-top: 7px;
        margin-left: calc(var(--gap-socmed) - var(--gap-socmed)*2);
        margin-right: calc(var(--gap-socmed) - var(--gap-socmed)*2);

        .socmedItem {
            margin-left: 1px;
            margin-right: 1px;
            padding-left: 4px;
            padding-right: 4px;

            @include max-responsive($w-xm) {
                padding-left: 3px;
                padding-right: 3px;
            }
        }

        .ico {
            width: 24px;
            height: 24px;
        }

        .icoInstagram {
            @extend %icoInstagram
        }

        .icoFacebook {
            @extend %icoFacebook
        }

        .icoX {
            @extend %icoX
        }

        .icoLinkedin {
            @extend %icoLinkedin
        }
    }

    &Page {
        flex-direction: column;

        @include min-responsive($w-md) {
            flex-direction: row;
        }

        @include min-responsive($w-xl) {
            margin-bottom: 30px;
        }

        .authorImg {
            width: 180px;
            margin-top: -30px;
            flex-shrink: 0;
            align-self: flex-start;

            @include range-responsive($w-md, $w-vxl) {
                width: 200px;
            }

            @include min-responsive($w-md) {
                margin-right: 25px;
            }

            @include min-responsive($w-vxl) {
                width: 300px;
            }
        }

        .titleH3 {
            margin-top: 10px;
        }
    }

    &Content {
        margin-top: 20px;

        @include min-responsive($w-lg) {
            margin-top: 40px;
        }
    }

    &Wrap {
        display: flex;
    }

    &Attr {
        align-items: center;

        .authorSocmed,
        .authorBook {
            margin-top: 10px;
        }

        .authorBook {
            margin-right: 15px;
        }
    }

    .sidebar {
        order: -1;
        margin-top: -30px;

        @include min-responsive($w-xl) {
            order: unset;
        }

        .title {
            @include range-responsive($w-md, $w-vxl) {
                font-size: 28px;
            }
        }
    }

    .authorList {
        margin-left: 0;
        margin-right: 0;
    }

    .leadSort__item label {
        min-width: 108px;

        @include min-responsive($w-md) {
            min-width: unset;
        }
    }
}