.collab {
    &Lead {
        position: relative;

        &__bg {
            position: absolute;
            width: 100%;
            height: 490px;

            img {
                @extend %template-img
            }
        }

        &__wrap {
            display: flex;
            align-items: center;
            position: relative;
            height: 490px;
            z-index: 1;
        }

        &__title {
            margin-top: 14px;
            margin-bottom: 24px;
        }
    }

    &Services {
        --gap-services: 7px;

        @include min-responsive($w-md) {
            --gap-services: 12px;
        }

        row-gap: 19px;
        margin-left: calc(var(--gap-services) - var(--gap-services)*2);
        margin-right: calc(var(--gap-services) - var(--gap-services)*2);

        &__col {
            margin-top: 20px;
            height: inherit;

            @include min-responsive($w-md) {
                margin-top: 30px;
            }
        }

        &__card {
            padding-left: var(--gap-services);
            padding-right: var(--gap-services);
            height: inherit;
        }

        &__item {
            padding: 10px 15px;
            border-radius: 10px;
            border: 1px solid #E7E7E7;
            height: 100%;

            @include min-responsive($w-md) {
                padding: 14px 24px;
            }
        }

        &__title {
            margin-top: 10px;
            @include font-pack($font-mbold, 17px, $font-weight-mbold, false, #202020);
            letter-spacing: 0.34px;
        }

        &__content {
            margin-top: 5px;
            @include font-pack(false, false, false, 1.2, #838383);
            letter-spacing: 0.28px;
        }
    }

    &Process {
        align-items: flex-start;
        flex-wrap: wrap;

        @include min-responsive($w-md) {
            flex-wrap: nowrap;
        }

        &__item {
            position: relative;
            text-align: center;
            width: 124px;
            flex-basis: 124px;
            margin-top: 15px;
            margin-left: 14px;
            margin-right: 14px;
            margin-bottom: 48px;

            @include max-responsive($w-xm) {
                width: 100px;
                flex-basis: 100px;
            }

            @include min-responsive($w-md) {
                margin-bottom: 0;
                width: 131px;
                flex-basis: 131px;
            }

            &:nth-child(3) {
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -54px;
                    left: 50%;
                    width: 20px;
                    height: 20px;
                    @extend %icoArrow;
                    transform: translateX(-50%) rotate(90deg);
                    filter: invert(94%) sepia(0%) saturate(223%) hue-rotate(185deg) brightness(73%) contrast(95%);

                    @include min-responsive($w-md) {
                        content: none
                    }
                }
            }

            &:nth-last-child(-n+3) {
                margin-bottom: 0;
            }
        }

        .icoArrow {
            @extend %icoArrow;
            align-self: center;
            margin-top: -80px;
            filter: invert(94%) sepia(0%) saturate(223%) hue-rotate(185deg) brightness(73%) contrast(95%);

            @include min-responsive($w-md) {
                margin-top: -50px;
            }

            &:nth-child(4) {
                display: none;

                @include min-responsive($w-md) {
                    display: block;
                }
            }

            &:nth-child(6) {
                transform: rotate(180deg);
                margin-top: -64px;

                @include min-responsive($w-md) {
                    transform: none;
                    margin-top: -50px;
                }
            }
        }

        .collabServices__title {
            color: #616161;
        }
    }

    &Project {
        position: relative;
        margin-top: 20px;

        @include min-responsive($w-md) {
            margin-top: 30px;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            pointer-events: none;
            top: 0;
            width: 60px;
            height: 28vh;
            z-index: 2;

            @include min-responsive($w-md) {
                top: -30px;
                height: 42vh;
                width: 114px;
            }
        }

        &::before {
            left: 0;
            background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
        }

        &::after {
            right: 0;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
        }

        &__title {
            margin-top: 10px;
            @include font-pack($font-base, 16px, $font-weight-normal, false, #000);
            letter-spacing: 0.38px;
            text-align: center;

            @include min-responsive($w-md) {
                font-size: 19px;
            }
        }
    }

    &Team {
        --gap-team: 5px;

        @include min-responsive($w-md) {
            --gap-team: 10px;
        }

        justify-content: center;
        margin-left: calc(var(--gap-team) - var(--gap-team)*2);
        margin-right: calc(var(--gap-team) - var(--gap-team)*2);

        &__item {
            margin-top: 20px;
            padding-left: var(--gap-team);
            padding-right: var(--gap-team);
            flex-basis: 170px;
            max-width: calc(100%/3);
            height: inherit;

            @include min-responsive($w-md) {
                max-width: calc(100%/4);
            }

            @include min-responsive($w-lg) {
                max-width: calc(100%/5);
            }
        }

        &__title{
            @include title_clamp(1)
        }
    }

    &Partner {
        &__item {
            height: auto;
            margin-top: 20px;
        }

        &__img {
            height: 100%;
        }
    }

    &Form {
        position: relative;
        overflow: hidden;
        padding-top: 44px;
        padding-bottom: 44px;

        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;
            }
        }

        .aboutTitle,
        .aboutLead,
        .formLabel {
            color: $cl-white;
        }

        .formSelect {
            border: 1px solid #DFDFDF;
            background: $cl-white;
        }

        .formInput {
            border: 1px solid #DFDFDF;
        }

        .formFileTitle {
            padding: 17px 44px 17px 10px;
        }

        .formFileCta {
            padding: 15px 12px;
            top: 0;
            left: unset;
            right: 0;
        }

        .buttonPrimary {
            color: $cl-red;
            background: $cl-white;
        }
    }

    &Call {
        margin-top: 5px;
        border-radius: 50px;
        background: #29B937;
        padding: 5px 10px;
        @include font-pack($font-mbold, false, $font-weight-mbold, false, $cl-white);
        letter-spacing: 0.28px;

        .icoWhatsapp {
            @extend %icoWhatsapp;
            margin-right: 4px;
            width: 24px;
            height: 24px;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(31deg) brightness(104%) contrast(102%);
        }
    }

    ~.footer {
        margin-top: 0;
    }
}