.contact {
    &Form {
        flex: 1;
    }

    &Map {
        margin-top: 20px;

        @include min-responsive($w-xl) {
            max-width: 530px;
            flex-basis: 530px;
            margin-top: 0;
        }

        iframe {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            border-radius: 10px;
            border: 1px solid #ACACAC;
            overflow: hidden;
        }
    }
}