.read {
    &Title {
        @include font-pack($font-mbold, 24px, $font-weight-mbold, 1.05, false);
        letter-spacing: 0.72px;

        @include min-responsive($w-md) {
            font-size: 36px
        }
    }

    &Att {
        display: flex;
        align-items: center;

        &__item {
            margin-top: 10px;
            margin-right: 20px;
            @include font-pack(false, false, false, 1.21, $cl-primary-black);
            letter-spacing: 0.28px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &Img {
        margin-top: 15px;
        margin-bottom: 20px;
        letter-spacing: 0.28px;

        img{
            border-radius: 7px;
            overflow: hidden;
        }

        span {
            display: block;
            text-align: center;
            margin-top: 7px;
        }
    }

    &Article {
        margin-top: 20px;
        @include font-pack(false, 16px, false, 1.43, #202020);
        letter-spacing: 0.32px;

        a {
            text-decoration: underline;
        }
    }

    &More {
        @extend .titleH5;
        text-align: center;
        border-left: 2px solid $cl-red;
        background: #F9F4F4;
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 20px;

        @include min-responsive($w-md) {
            padding: 20px;
        }
    }

    &Tag {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &__link {
            display: block;
            margin-right: 10px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    &Socmed {
        display: flex;
        align-items: center;

        &__caption {
            margin-right: 9px;
            @include font-pack(false, 13px, false, 1.23, #222);

            @include min-responsive($w-md) {
                margin-right: 13px;
            }
        }

        .socmedItem {
            margin: 4px;
            border: 1px solid #E7E7E7;
            border-radius: 50%;
            background: $cl-white;
            transition: background .2s ease;
            transition: transform .5s ease;

            @include max-responsive($w-xm) {
                margin: 3px;
            }

            &:hover {
                transform: scale(1.1);
            }
        }

        .ico {
            width: 36px;
            height: 36px;
            filter: invert(37%) sepia(4%) saturate(0%) hue-rotate(287deg) brightness(98%) contrast(87%);

            @include max-responsive($w-xm) {
                width: 30px;
                height: 30px;
            }

            &Share {
                &-fb {
                    @extend %icoShare-fb
                }

                &-x {
                    @extend %icoShare-x
                }

                &-wa {
                    @extend %icoShare-wa
                }

                &-ln {
                    @extend %icoShare-ln
                }

                &-tg {
                    @extend %icoShare-tg
                }

                &-lnk {
                    @extend %icoShare-lnk
                }
            }
        }
    }

    .catalogWidget {
        margin-top: 10px;
    }
}