.search {
    &Caption {
        letter-spacing: 0.4px;
        text-transform: uppercase;
    }

    &Form {
        margin-bottom: 20px;
        position: relative;
        border-bottom: 1px solid #000;

        &__result {
            padding: 0 40px 0 0;
        }

        &__cta {
            padding: 0;
            right: 0;
            bottom: 4px;

            .ico {
                width: 32px;
                height: 32px;
                background-size: 32px;
                filter: invert(26%) sepia(1%) saturate(0%) hue-rotate(288deg) brightness(96%) contrast(93%);
            }
        }
    }

    &Empty {
        max-width: 326px;
        text-align: center;

        .titleH4 {
            margin-top: 30px;
            margin-bottom: 10px;
        }
    }
}