.advertorial-logo{
    padding: 8px 15px;
    border: 1px solid white;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    border-radius: 25px;
    color: white;
    width: fit-content;
}

.bg-white{
    background-color: white;
}