.network {
    position: relative;
    background: #222222;

    &List {
        @include display_flex;
        align-items: center;
        justify-content: space-between;
    }

    &Link {
        display: block;
        padding-top: 9px;
        padding-bottom: 9px;
        @include font-pack($font-manrope, 10px, $font-weight-med, 1.4, $cl-white);
        letter-spacing: 0.08em;

        &.-premium {
            color: #FDB043;
        }

        .icoPremium {
            width: 12px;
            height: 12px;
            vertical-align: middle;
            filter: invert(70%) sepia(32%) saturate(899%) hue-rotate(348deg) brightness(101%) contrast(98%);
        }
    }

    &~.header {
        .headerTop {
            transform: translateY(32px);
            transition: transform .5s ease;
        }
    }

    &~.main {
        .menuPanel {
            top: 92px;
        }
    }
}