.newsletter {
    padding: 30px 42px;
    border: 1px solid #515151;
    border-radius: 12px;

    &Caption {
        @include font-pack($font-body, 22px, $font-weight-bold, $line-base, $cl-black);
    }

    &Lead {
        margin-top: 8px;
        @include font-pack($font-body, 17px, $font-weight-sbold, 1.4, #434343);
    }
    
    &Form {
        margin-top: 20px;
        
        &Wrap {
            @include display_flex;
            justify-content: center;
        }
        
        .formInput {
            min-width: 356px;
            padding: 10px 14px;
            background: $cl-white;
            border: 1px solid #9E9E9E;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            @include font-pack($font-body, 16px, $font-weight-normal, 1, $cl-black);
            @include placeholder(14px, $font-weight-normal, 1, #9E9E9E)
        }
    }

    &Cta {
        min-height: 44px;
        padding: 12px 16px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        text-transform: uppercase;
        @include font-pack($font-body, 14px, $font-weight-normal, 1.4, $cl-white);
    }
}