.premium{    

    &Box {
        background: $cl-black;
        padding-top: 11px;
        padding-left: 26px;
        padding-right: 26px;
        margin-bottom: 50px;

        &Btn {
            @include display_flex;
            align-items: center;
            padding: 11px 15px;
            background: linear-gradient(90deg, #FDA085 0%, #F6D365 100%);
            border-radius: 23px;
            @include font-pack($font-body, 11px, $font-weight-sbold, 1, #954700);

            .icoPremium {
                width: 14px;
                height: 14px;
                margin-left: 0;
                margin-right: 8px;
                filter: invert(22%) sepia(95%) saturate(1798%) hue-rotate(25deg) brightness(99%) contrast(101%);
            }
        }

        &Login {
            @include display_flex;
            align-items: center;
            @include font-pack($font-body, 16px, $font-weight-normal, $line-base, #F2B007);

            .icoLoginPremium {
                width: 32px;
                height: 32px;
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 12px;
                filter: invert(71%) sepia(80%) saturate(915%) hue-rotate(352deg) brightness(94%) contrast(102%);
                @extend %icoLoginPremium;
            }
        }

        &Caption {
            margin-top: 40px;
            text-align: center;
            @include font-pack($font-body, 20px, $font-weight-normal, 1, #F2B007);
        }

        .art {
            margin-top: 24px;
            margin-bottom: 54px;

            &Wrap {
                &.-col {
                    gap: 25px;
                }
            }

            &Channel {
                letter-spacing: 0;
                @include font-pack($font-body, 12px, $font-weight-normal, $line-base, #8E4107);

                .icoPremium {
                    filter: invert(20%) sepia(66%) saturate(3006%) hue-rotate(27deg) brightness(98%) contrast(94%);
                }
            }

            &Title {
                color: $cl-white
            }

            &Date {
                color: #C7C7C7;
            }

            &Link:hover {
                .artTitle {
                    color: $cl-white;
                }
            }
        }

        .title {
            &Others {
                display: flex;
                justify-content: center;
                margin-left: -26px;
                margin-right: -26px;
                padding: 20px 18px;
                background: #2F2F2F;
                text-transform: uppercase;
                @include font-pack($font-body, false, $font-weight-sbold, 1.5, $cl-white);
            }
        }
    }
}