.shareSocmed {
    &Wrap {
        align-items: center;
        @include font-pack($font-body, 16px, $font-weight-sbold, $line-base, #434343);
    }

    &Cta {
        position: relative;
        @extend .center-flex;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        transition: transform .2s ease;

        &:hover {
            transform: scale(1.2);
        }

        &.-tooltip:before {
            content: attr(data-title);
            position: absolute;
            width: auto;
            background: #2d2d2d;
            color: #fff;
            padding: 2px 5px;
            border-radius: 4px;
            font-size: 10px;
            text-align: center;
            white-space: nowrap;
            top: -20px;
            left: calc(50% - 99px/2);
        }
    }

    &Item {
        margin-left: 8px;
        margin-right: 8px;

        &:first-child {
            margin-left: 16px
        }

        &--fb {
            .icoInline {
                @extend %icoShareFb;
                @extend %filter-white;
            }

            .shareSocmedCta {
                background: #3A589B
            }
        }

        &--tw {
            .icoInline {
                @extend %icoShareTw;
                @extend %filter-white;
            }

            .shareSocmedCta {
                background: #1CB7EB;
            }
        }

        &--wa {
            .icoInline {
                @extend %icoShareWa;
                @extend %filter-white;
            }

            .shareSocmedCta {
                background: #3CBB28;
            }
        }

        &--tg {
            .icoInline {
                @extend %icoShareTg;
                @extend %filter-white;
            }

            .shareSocmedCta {
                background: #24A1DE;
            }
        }

        &--ln {
            .icoInline {
                @extend %icoShareLn;
                @extend %filter-white;
            }

            .shareSocmedCta {
                background: #24A1DE
            }
        }

        &--link {
            .icoInline {
                @extend %icoShareLink;
                @extend %filter-white;
                pointer-events: none;
            }

            .shareSocmedCta {
                background: #9F3AEE
            }
        }

        .icoInline {
            width: 34px;
            height: 34px;
        }
    }
}