.footer {
    position: relative;
    background: #F3F3F3;
    padding-top: 30px;
    @include font-pack(false, 11px, 500, 22px, #777777);

    &List {
        flex-wrap: wrap;
    }

    &Item {
        margin-left: 15px;
        margin-right: 15px;
        text-transform: uppercase;
    }

    &Social {
        margin-left: 8px;
        margin-right: 8px;
        font-size: 10px;

        .icon {
            width: 20px;
            height: 20px;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            filter: grayscale(100%);
        }
    }

    &Bottom {
        border-top: 1px solid #C6C6C6;
        padding: 12px;
        @include font-pack(false, 12px, 300, 22px, #999999);
    }
}