<div class="newsletter{{#if mt}} mt{{mt}}{{/if}}">
    <form class="newsletterForm container" action="">
        <div class="newsletterWrap display-flex">
            <div class="newsletterImg"><img src="./asset/images/newsletter-img.png" alt="" loading="lazy" width="99"
                    height="87"></div>
            <div class="newsletterCaption">Newsletter
                <span class="newsletterDesc">Find latest stories and idea</span>
            </div>
        </div>
        <input class="formInput newsletterInput" type="text" value="" placeholder="Name" aria-label="Your name">
        <input class="formInput newsletterInput" type="email" value="" placeholder="Email" aria-label="Your email">
        <button class="button buttonPrimary" aria-label="Subscribe newsletter" type="submit" name="submit">
            Submit
        </button>
    </form>
</div>