.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    background: #000;
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.29);
    @include base_transition(all);
    z-index: 10;

    &--transparent {
        background: rgba(0, 0, 0, 0);
    }

    &--fixed {
        position: fixed;
    }
}

.logo {
    padding: 5px;
    text-align: left;
    top: 3px;
    position: relative;

    @include min-responsive($mdtablet) {
        margin: 0 0 0 10px;
    }
}

.logo-title {
    display: flex;
    text-decoration: none;
    @include font-pack($font_vik2, 36px, 300, false, white);
    letter-spacing: 2px;

    &:hover{
        color: white;
    }

    .title-break {
        text-transform: uppercase;
        display: block;
        font-size: 8px;
        line-height: 10px;
    }

    .block-logo {
        float: left;
        border-left: 1px solid white;
        padding-left: 10px;
        margin-top: 3px;
        margin-left: 10px;
    }

    .title-text {
        font-family: $font_vik;
        line-height: 1;
    }
}