@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    33% {
        transform: rotate(180deg)
    }

    66% {
        transform: rotate(300deg)
    }

    100% {
        transform: rotate(360deg)
    }

}

@keyframes bounce {
    0% {
        transform: translateX(200%);
    }

    30% {
        transform: translateX(-70px);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes scrolldown {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        -webkit-transform: translate(0, 10px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes scrolldown {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        transform: translate(0, 10px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes scrollright {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0.8;
    }

    40% {
        opacity: 1;
    }

    80% {
        -webkit-transform: translate(20px, 0);
        opacity: 0.8;
    }

    100% {
        opacity: 0.8;
    }
}

@keyframes scrollright {
    0% {
        transform: translate(0, 0);
        opacity: 0.8;
    }

    40% {
        opacity: 1;
    }

    80% {
        transform: translate(20px, 0);
        opacity: 0.8;
    }

    100% {
        opacity: 0.8;
    }
}