<div class="highlight highlightBox mt30">
    <div class="articleCaption__box text-center">Film Terpopuler : Squid Game</div>
    <ul>
        <li class="highlightBox__item">
            <a href="read.html" class="highlightBox__link">
                <div class="highlightBox__wrap">
                    <img src="asset/images/sample/webp/art-big-2.webp" class="highlightBox__img" alt="" width="300" height="191"
                        loading="lazy">
                </div>
                <div class="highlightBox__content">
                    <div class="articleDetail display-flex aitems-center">
                        <div class="articleSubtitle">Focus</div>
                        <div class="articleTime">18 Mei 2025</div>
                    </div>
                    <h3 class="articleTitle highlightBox__title mt5">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h3>
                </div>
            </a>
        </li>
        <li class="highlightBox__item">
            <a href="read.html" class="highlightBox__link">
                <div class="highlightBox__content">
                    <div class="articleDetail display-flex aitems-center">
                        <div class="articleSubtitle">Books</div>
                        <div class="articleTime">18 Mei 2025</div>
                    </div>
                    <h3 class="articleTitle highlightBox__title mt5">Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!</h3>
                </div>
            </a>
        </li>
        <li class="highlightBox__item">
            <a href="read.html" class="highlightBox__link">
                <div class="highlightBox__content">
                    <div class="articleDetail display-flex aitems-center">
                        <div class="articleSubtitle">Voices</div>
                        <div class="articleTime">18 Mei 2025</div>
                    </div>
                    <h3 class="articleTitle highlightBox__title mt5">Delishburger yang Benar-Benar Delicious</h3>
                </div>
            </a>
        </li>
        <li class="highlightBox__item">
            <a href="read.html" class="highlightBox__link">
                <div class="highlightBox__content">
                    <div class="articleDetail display-flex aitems-center">
                        <div class="articleSubtitle">Books</div>
                        <div class="articleTime">18 Mei 2025</div>
                    </div>
                    <h3 class="articleTitle highlightBox__title mt5">Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar</h3>
                </div>
            </a>
        </li>
        <li class="highlightBox__item">
            <a href="read.html" class="highlightBox__link">
                <div class="highlightBox__content">
                    <div class="articleDetail display-flex aitems-center">
                        <div class="articleSubtitle">Books</div>
                        <div class="articleTime">18 Mei 2025</div>
                    </div>
                    <h3 class="articleTitle highlightBox__title mt5">Kenapa Mayoritas Suami Takut Istri? Ada Masalah Relasi Kelas Sosial di Rumah Tangga?</h3>
                </div>
            </a>
        </li>
        <li class="highlightBox__item">
            <a href="read.html" class="highlightBox__link">
                <div class="highlightBox__content">
                    <div class="articleDetail display-flex aitems-center">
                        <div class="articleSubtitle">Books</div>
                        <div class="articleTime">18 Mei 2025</div>
                    </div>
                    <h3 class="articleTitle highlightBox__title mt5">Kebaikan Bisa Menular! Dapat Dimulai dengan Memberikan Kopi</h3>
                </div>
            </a>
        </li>
    </ul>
    <a href="#" class="buttonOther text-center mt20">Lihat Lainnya</a>
</div>