<div class="trending mt30">
    <div class="articleCaption">Trending</div>
    <ul class="trendingList">
        <li class="trendingItem">
            <a href="#" class="trendingLink display-flex aitems-center">
                <div class="trendingRank">
                    1
                </div>
                <div class="trendingBox">
                    <div class="articleDetail display-flex aitems-center">
                        <div class="articleSubtitle">Books</div>
                        <div class="articleTime">18 Mei 2025</div>
                    </div>
                    <h3 class="articleTitle trendingTitle mt5">Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar</h3>
                </div>
            </a>
        </li>
        <li class="trendingItem">
            <a href="#" class="trendingLink display-flex aitems-center">
                <div class="trendingRank">
                    2
                </div>
                <div class="trendingBox">
                    <div class="articleDetail display-flex aitems-center">
                        <div class="articleSubtitle">Focus</div>
                        <div class="articleTime">18 Mei 2025</div>
                    </div>
                    <h3 class="articleTitle trendingTitle mt5">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h3>
                </div>
            </a>
        </li>
        <li class="trendingItem">
            <a href="#" class="trendingLink display-flex aitems-center">
                <div class="trendingRank">
                    3
                </div>
                <div class="trendingBox">
                    <div class="articleDetail display-flex aitems-center">
                        <div class="articleSubtitle">Books</div>
                        <div class="articleTime">18 Mei 2025</div>
                    </div>
                    <h3 class="articleTitle trendingTitle mt5">Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!</h3>
                </div>
            </a>
        </li>
        <li class="trendingItem">
            <a href="#" class="trendingLink display-flex aitems-center">
                <div class="trendingRank">
                    4
                </div>
                <div class="trendingBox">
                    <div class="articleDetail display-flex aitems-center">
                        <div class="articleSubtitle">Voices</div>
                        <div class="articleTime">18 Mei 2025</div>
                    </div>
                    <h3 class="articleTitle trendingTitle mt5">Delishburger yang Benar-Benar Delicious</h3>
                </div>
            </a>
        </li>
        <li class="trendingItem">
            <a href="#" class="trendingLink display-flex aitems-center">
                <div class="trendingRank">
                    5
                </div>
                <div class="trendingBox">
                    <div class="articleDetail display-flex aitems-center">
                        <div class="articleSubtitle">Focus</div>
                        <div class="articleTime">18 Mei 2025</div>
                    </div>
                    <h3 class="articleTitle trendingTitle mt5">7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta</h3>
                </div>
            </a>
        </li>
    </ul>
</div>