<div class="trending mt30">
    <div class="articleCaption">Top Stories</div>
    <ul class="trendingList">
        <li class="trendingItem">
            <a href="#" class="trendingLink">
                <div class="trendingBox">
                    <h3 class="articleTitle trendingTitle">Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar</h3>
                    <div class="display-flex aitems-center mt5">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt="" class="userAvatar mr10">
                        <div class="userName">
                            Nurulloh
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="trendingItem">
            <a href="#" class="trendingLink">
                <div class="trendingBox">
                    <h3 class="articleTitle trendingTitle">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h3>
                    <div class="display-flex aitems-center mt5">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt="" class="userAvatar mr10">
                        <div class="userName">
                            Nurulloh
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="trendingItem">
            <a href="#" class="trendingLink">
                <div class="trendingBox">
                    <h3 class="articleTitle trendingTitle">Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!</h3>
                    <div class="display-flex aitems-center mt5">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt="" class="userAvatar mr10">
                        <div class="userName">
                            Nurulloh
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="trendingItem">
            <a href="#" class="trendingLink">
                <div class="trendingBox">
                    <h3 class="articleTitle trendingTitle">Delishburger yang Benar-Benar Delicious</h3>
                    <div class="display-flex aitems-center mt5">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt="" class="userAvatar mr10">
                        <div class="userName">
                            Nurulloh
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="trendingItem">
            <a href="#" class="trendingLink">
                <div class="trendingBox">
                    <h3 class="articleTitle trendingTitle">7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta</h3>
                    <div class="display-flex aitems-center mt5">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt="" class="userAvatar mr10">
                        <div class="userName">
                            Nurulloh
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <div class="display-flex aitems-center jcontent-end">
        <a href="#" class="buttonMore">+ More</a>
    </div>
</div>