<div class="rproTag titleH4">New Release</div>
<h1 class="rproTitle">Naruto Side Story Seventh Hokage And The Scarlet Spring</h1>
<div class="rproAuthor">Masashi Kishimoto</div>

{{>read/product-tab}}

<div class="tagList">
    <a href="tag.html" class="tagLink">Komik Lelaki</a>
    <a href="tag.html" class="tagLink">Comics</a>
    <a href="tag.html" class="tagLink">Komik Petualangan</a>
</div>

<div class="rproQuote">
    <div class="rproQuote__title rproCaption">
        <img src="./asset/images/icon/ico-chat.png" alt="" width="24" height="24">
        <span>Komentar Penyunting:</span>
    </div>
    Komik fenomenal yang akan membuat pembaca penasaran menunggu kelanjutan ceritanya. Pernah terbit regular dan menjadi
    komik megabestseller yg terjual sampai ratusan ribu eksemplar.
</div>