<div class="rproCta">
    <div class="rproCta__comm center-flex">
        <span class="rproCaption">Buy this from:</span>
        <a href="#" target="_blank" rel="noopener noreferrer" class="rproCta__link center-flex">
            <img src="./asset/images/icon/ico-gramedia-xl.png" alt="Gramedia" width="30" height="30">
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer" class="rproCta__link center-flex">
            <img src="./asset/images/icon/ico-tokped-xl.png" alt="Tokopedia" width="30" height="30">
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer" class="rproCta__link center-flex">
            <img src="./asset/images/icon/ico-shopee-xl.png" alt="Shopee" width="30" height="30">
        </a>
    </div>
    <button class="button rproCta__wish productWish center-flex" onclick="event.preventDefault(); triggerActiveButton(false,false,false,this)">
        <span class="icoWishlist"></span>
        <span>Save This for Later</span>
    </button>
</div>