<article class="readArticle article word-break">
    <p>Lorem ipsum dolor sit amet, <a href="https://www.google.com" target="_blank" rel="noopener"
            title="Google">Google.com</a> consectetur adipiscing elit. Suspendisse sed enim nam sit
        eget. Id nunc, tincidunt leo eget eleifend malesuada aliquam. Scelerisque sed non lectus
        odio platea et nibh sed. Felis, nisl fermentum consequat placerat. Nisl, at tincidunt tortor
        luctus risus libero dui ut. Maecenas tempus nisl suspendisse sed mi. Nunc malesuada eget
        senectus nam nisi, sapien. Ut ultrices justo, bibendum blandit at diam feugiat.</p>
    <p>Arcu nisl habitant vitae feugiat luctus elementum. Semper in enim aliquet ut. Dictumst ut sed
        ut eleifend tortor ut sed. Sit rhoncus consectetur ultrices arcu. Lectus magna amet
        facilisis tortor eget adipiscing etiam aliquet lobortis. Aliquet placerat condimentum quis
        tempor ut ultrices ut nisl pulvinar. Arcu aliquam morbi integer dolor, vel nec. Ullamcorper
        mattis ut gravida commodo feugiat erat lacus id.</p>
    <h2>Heading 2</h2>
    <ol>
        <li>option 1</li>
        <li>option 2</li>
        <li>option 3</li>
    </ol>
    <p>Aliquet tristique purus feugiat euismod. Faucibus risus venenatis mattis dis elementum dictum
        eu a. Euismod etiam dictumst ipsum risus nisi tellus eu. Orci, fames etiam gravida at urna,
        lectus sed. Id tellus dignissim risus odio aliquam magna. Sit proin porta cursus nisl
        viverra enim. Nunc sagittis dolor velit dolor ultrices molestie. Arcu enim habitant egestas
        interdum consectetur. Lacinia varius dictumst nisl amet mauris faucibus justo, facilisis
        massa. Tempor, cras ac justo, id. In blandit morbi sed vitae nascetur. Augue duis fusce enim
        eget sem sollicitudin.</p>
    <p>Donec cursus sit sed senectus platea morbi ultrices vel eu. Ac, orci odio aenean facilisi non
        pulvinar in felis. Donec pretium et hac egestas. Diam id dui, molestie ac pellentesque et
        malesuada blandit. Curabitur risus ullamcorper in lorem. Libero neque nascetur ut leo diam
        amet vitae in justo. Nisl enim, aliquet morbi sed integer fringilla gravida. Elit sed
        tincidunt massa, sapien, eu. Nunc facilisi etiam vel felis aliquet dignissim purus.
        Dignissim vitae faucibus justo nunc sed ut mollis a posuere. Elit, quam id sed tortor mauris
        diam. Purus, risus pellentesque neque, cum malesuada. Sem velit tempor etiam feugiat.</p>
</article>