$font-base: 'Manrope', sans-serif;
$font-mbold: 'Manrope-mBold', sans-serif;
$font-sbold: 'Manrope-sBold', sans-serif;
$font-bold: 'Manrope-Bold', sans-serif;
$font-xbold: 'Manrope-xBold', sans-serif;

$font-weight-normal: 400;
$font-weight-mbold: 500;
$font-weight-sbold: 600;
$font-weight-bold: 700;
$font-weight-xbold: 800;

$line-base: normal;

$cl-primary-black: #1A1A1A;
$cl-white: #FFFFFF;

$w-xxl: 1440px;
$w-xl: 1102px;
$w-lg: 960px;
$w-md: 768px;
$w-sm: 540px;
$w-xm: 320px;