<div class="paging">
    <div class="pagingMore__wrap">
        <a href="#" class="pagingMore pagingMore--active">Halaman selanjutnya <span class="gg-arrow-right"></span></a>
        <a href="#" class="pagingMore"><span class="gg-arrow-right gg-arrow-left"></span> Halaman
            sebelumnya</a>
    </div>
    <div class="pagingWrap">
        <span class="pagingIntro">Halaman:</span>
        <ol class="pagingList">
            <li class="pagingItem">
                <a href="#" class="pagingLink pagingLink--active">1</a>
            </li>
            <li class="pagingItem">
                <a href="#" class="pagingLink">2</a>
            </li>
            <li class="pagingItem">
                <a href="#" class="pagingLink">3</a>
            </li>
            <li class="pagingItem">
                <a href="#" class="pagingLink">4</a>
            </li>
            <li class="pagingItem">
                <a href="#" class="pagingLink">5</a>
            </li>
        </ol>
        <button class="pagingShow">Tampilkan semua halaman</button>
    </div>
</div>