<button class="button buttonInfo" id="menu" aria-label="Informasi nasabah">
    <img src="{{>loc page=" child"}}asset/images/loading-bca-logo-mob.png" alt="" width="30" height="29">
    <div class="buttonInfo__misc">klik untuk kembali ke menu</div>
</button>