<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Interaktif BCA Prioritas</title>
    <meta name="description" content="Interaktif BCA Prioritas - BCA Solitaire dan Prioritas menyediakan layanan eksklusif perbankan 
dan non-perbankan bagi para nasabah.">
    <meta name="keywords" content="">

    <meta property="og:type" content="article" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="Interaktif BCA Prioritas" />
    <meta property="og:description" content="Interaktif BCA Prioritas - BCA Solitaire dan Prioritas menyediakan layanan eksklusif perbankan 
dan non-perbankan bagi para nasabah." />

    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="fb:app_id" content="324557847592228" />
    <!-- s:twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="Interaktif BCA Prioritas" />
    <meta name="twitter:description" content="Interaktif BCA Prioritas - BCA Solitaire dan Prioritas menyediakan layanan eksklusif perbankan 
dan non-perbankan bagi para nasabah." />
    <meta name="twitter:image" content="" />
    <!-- e:twitter card -->

    <link rel=icon type=image/png sizes=16x16 href="https://static.bisnis-cdn.com/interaktif/assets/images/favicon.png">

    {{#eq page compare="home"}}
    <link rel="stylesheet" href="{{>loc page=" home"}}asset/css/style.min.css" type="text/css">
    <style>
        @font-face {
            font-family: 'BCA';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('BCA DRAFT 2.3'),
                url('./asset/fonts/BCADRAFT2.3-Regular.woff2') format('woff2'),
                url('./asset/fonts/BCADRAFT2.3-Regular.woff') format('woff'),
                url('./asset/fonts/BCADRAFT2.3-Regular.ttf') format('truetype');
        }

        @font-face {
            font-family: 'BCA-Italic';
            font-style: italic;
            font-weight: 400;
            font-display: swap;
            src: local('BCA DRAFT 2.3 Italic'),
                url('./asset/fonts/BCADRAFT2.3-Italic.woff2') format('woff2'),
                url('./asset/fonts/BCADRAFT2.3-Italic.woff') format('woff'),
                url('./asset/fonts/BCADRAFT2.3-Italic.ttf') format('truetype');
        }

        @font-face {
            font-family: 'BCA-Bold';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: local('BCA DRAFT 2.3 Bold'),
                url('./asset/fonts/BCADRAFT2.3-Bold.woff2') format('woff2'),
                url('./asset/fonts/BCADRAFT2.3-Bold.woff') format('woff'),
                url('./asset/fonts/BCADRAFT2.3-Bold.ttf') format('truetype');
        }

        /*preloader*/
        .preloader{top:0;background:#3e3e3e;background:radial-gradient(157.88% 76.84% at 50% 50%,#3e3e3e 0,#1e1e1e 100%);background-size:cover;background-position:50%;background-repeat:no-repeat;transition:opacity .4s ease-in-out;z-index:1001;position:fixed;overflow:hidden}.preloader,.preloaderWrap{height:100%;width:100%;display:flex;justify-content:center}.preloaderWrap{align-items:center;flex-direction:column;position:relative;font-family:BCA,sans-serif;font-size:14px;font-weight:400;line-height:1.24;color:#fff}.preloaderMeter{background:#b7b7b7;width:282px;height:20px;margin:24px auto 18px;box-sizing:content-box}.preloaderMeter,.preloaderMeter>span{position:relative;border-radius:17px;overflow:hidden}.preloaderMeter>span{display:block;height:100%;background-color:#cfac68;box-shadow:inset 0 2px 9px hsla(0,0%,100%,.3),inset 0 -2px 6px rgba(0,0,0,.4)}.preloaderMeter .anim>span>span,.preloaderMeter>span:after{content:"";position:absolute;top:0;left:0;bottom:0;right:0;background-image:linear-gradient(-45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 75%,transparent 0,transparent);z-index:1;background-size:50px 50px;animation:moveloading 2s linear infinite;border-radius:17px;overflow:hidden}.preloaderBar{width:0}.preloaderTxt{min-width:81px}.preloaderLogo{-moz-animation:fliploading 3s infinite;-o-animation:fliploading 3s infinite;-ms-animation:fliploading 3s infinite;-webkit-animation:fliploading 3s infinite;animation:fliploading 3s infinite}
        /*preloader*/
    </style>
    {{/eq}}
    {{#eq page compare="digital"}}
    <link rel="stylesheet" href="{{>loc page=" child"}}asset/css/style-digital.min.css" type="text/css">
    {{/eq}}
    {{#eq page compare="insights"}}
    <link rel="stylesheet" href="{{>loc page=" child"}}asset/css/style-insights.min.css" type="text/css">
    {{/eq}}
    {{#eq page compare="komunitas"}}
    <link rel="stylesheet" href="{{>loc page=" child"}}asset/css/style-komunitas.min.css" type="text/css">
    {{/eq}}
    {{#eq page compare="privilege"}}
    <link rel="stylesheet" href="{{>loc page=" child"}}asset/css/style-privilege.min.css" type="text/css">
    {{/eq}}
    {{#eq page compare="tarif"}}
    <link rel="stylesheet" href="{{>loc page=" child"}}asset/css/style-tarif.min.css" type="text/css">
    {{/eq}}
    {{#eq page compare="treatment"}}
    <link rel="stylesheet" href="{{>loc page=" child"}}asset/css/style-treatment.min.css" type="text/css">
    {{/eq}}
    {{#if child}}
    <style>
        @font-face {
            font-family: 'BCA';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('BCA DRAFT 2.3'),
                url('{{>loc page=" child"}}asset/fonts/BCADRAFT2.3-Regular.woff2') format('woff2'),
                url('{{>loc page=" child"}}asset/fonts/BCADRAFT2.3-Regular.woff') format('woff'),
                url('{{>loc page=" child"}}asset/fonts/BCADRAFT2.3-Regular.ttf') format('truetype');
        }

        @font-face {
            font-family: 'BCA-Italic';
            font-style: italic;
            font-weight: 400;
            font-display: swap;
            src: local('BCA DRAFT 2.3 Italic'),
                url('{{>loc page=" child"}}asset/fonts/BCADRAFT2.3-Italic.woff2') format('woff2'),
                url('{{>loc page=" child"}}asset/fonts/BCADRAFT2.3-Italic.woff') format('woff'),
                url('{{>loc page=" child"}}asset/fonts/BCADRAFT2.3-Italic.ttf') format('truetype');
        }

        @font-face {
            font-family: 'BCA-Bold';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: local('BCA DRAFT 2.3 Bold'),
                url('{{>loc page=" child"}}asset/fonts/BCADRAFT2.3-Bold.woff2') format('woff2'),
                url('{{>loc page=" child"}}asset/fonts/BCADRAFT2.3-Bold.woff') format('woff'),
                url('{{>loc page=" child"}}asset/fonts/BCADRAFT2.3-Bold.ttf') format('truetype');
        }

        /*preloader*/
        .preloader{top:0;transition:opacity .4s ease-in-out;height:100%;width:100%;z-index:1001;position:fixed;display:flex;justify-content:center;overflow:hidden;background-size:cover;background-position:50%;background-repeat:no-repeat;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.7s}.preloader.done{opacity:0;pointer-events:none}.preloaderWrap{width:100%;height:100%;display:flex;align-items:center;justify-content:center;flex-direction:column;position:relative;font-family:BCA,sans-serif;font-size:20px;font-weight:700;line-height:1.24;color:#eacc8f}.preloaderTxt{margin-top:30px;min-width:80px;-moz-animation:opacityloading 3s infinite;-o-animation:opacityloading 3s infinite;-ms-animation:opacityloading 3s infinite;-webkit-animation:opacityloading 3s infinite;animation:opacityloading 3s infinite;background:-webkit-linear-gradient(#eacc8f,#b49555);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
        /*preloader*/
    </style>
    
    <link rel="preload" as="image" href="./asset/images/loading-mob.png"
        imagesrcset="./asset/images/loading.png 768w, ./asset/images/loading.png 1600w">
    <link rel="preload" as="image" href="./asset/images/loading-bg.jpg">
    {{/if}}

</head>