<div class="info center-flex text-center heightFull opac0">
    <picture class="infoImg">
        {{#eq page compare="home"}}
        <source srcset="{{>loc page=" home"}}asset/images/logo-bca-soliprio-mob.svg" media="(max-width: 768px)" alt=""
            width="310" height="50">
        <img srcset="{{>loc page=" home"}}asset/images/logo-bca-soliprio.svg" alt="Solitaire BCA Prioritas" class=""
            width="350" height="56">
        {{/eq}}
        {{#eq page compare="child"}}
        <source srcset="{{>loc page=" child"}}asset/images/logo-bca-soliprio-mob.svg" media="(max-width: 768px)" alt=""
            width="310" height="50">
        <img srcset="{{>loc page=" child"}}asset/images/logo-bca-soliprio.svg" alt="Solitaire BCA Prioritas" class=""
            width="350" height="56">
        {{/eq}}
    </picture>
    <h2 class="articleContent infoContent">
        <p>Wujudkan segala keistimewaan persembahan kami dalam keluarga besar BCA Prioritas.
        </p>
        <p>
            Untuk informasi lebih lanjut tentang keanggotaan BCA Solitaire & Prioritas, <br>
            silakan hubungi cabang BCA Anda.</p>
    </h2>
    <button type="button" class="button buttonClose" id="closeinfo" aria-label="Close information">
        <span class="icon-close"></span>
    </button>
</div>