<div class="menuWheel">
    {{>menu}}
</div>
<div class="menuInfo center-flex">
    {{#eq page compare="home"}}
    <img src="{{>loc page=" home"}}asset/images/menu-arrow.png" alt="" width="77" height="23">
    {{/eq}}
    {{#eq page compare="child"}}
    <img src="{{>loc page=" child"}}asset/images/menu-arrow.png" alt="" width="77" height="23">
    {{/eq}}
    klik disini
</div>