<div class="address{{#if spacing}} {{spacing}}{{/if}}">
    {{#if radio}}
    {{>component/address-item-radio total=total index_start=index_start index_end=index_end}}
    {{else}}
    {{>component/address-item total=total index_start=index_start index_end=index_end}}
    {{/if}}
</div>