@use '../base/mixins' as *;
@use '../base/vars' as *;

.bgColor {
    position: fixed;
    top: 0;
    left: 0;
    @include display_full;

    &__white {
        background: #FCFFEF;

        &--grad {
            background: linear-gradient(180deg, #D2E9E6 0%, #738EAA 100%);
        }
    }

    &__teal {
        background: #CFCFC3;

        &--grad {
            background: linear-gradient(180deg, #E7E0D7 0%, #D8D3B3 100%);

        }
    }

    &__grey {
        background: #616161;

        &--grad {
            background: linear-gradient(180deg, #2A394A 0%, #3A666C 100%);
        }
    }

    &__blue {
        background: #E1FBFF;
    }
}