@use '../base/mixins' as *;
@use '../base/vars' as *;

.bgStatic {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;

    &__wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .7s ease;
        z-index: 1;

        &.active {
            pointer-events: none;
            z-index: 4; //above fullpage
        }
    }

    &--warn {
        display: none;

        @include max-height(560px) {
            position: fixed;
            z-index: 99;
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: 15px;
            background: rgb(140, 202, 237);
            background: linear-gradient(180deg, rgba(140, 202, 237, 1) 0%, rgba(100, 167, 216, 1) 100%);
        }

        .articleContent {
            color: #2D2D2D !important;
        }
    }
}