@use '../base/mixins' as *;
@use '../base/vars' as *;

.button {
    color: inherit;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;

    &Click {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;

        span {
            display: block;
            text-align: center;
            margin-top: 12px;
            letter-spacing: 1px;
        }
    }

    &Close {
        position: absolute;
        right: 2px;
        top: 2px;
    }

    &Home {
        max-width: 40px;
        margin-top: 20px;
        background: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;

        @include range-responsive($w-md, $w-lg) {
            margin-top: 40px;
        }

        @include min-responsive($w-md) {
            margin-top: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            max-width: unset;
        }
    }
}