@use '../base/mixins' as *;
@use '../base/vars' as *;

.preloader {
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1001;
    position: fixed;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .7s;
    background: linear-gradient(180deg, #2A394A 0%, #3A666C 100%);

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    object {
        max-width: 150px;

        @include min-responsive($w-md) {
            max-width: unset;
        }
    }
}