.album {
    margin-top: 15px;
    margin-bottom: 20px;

    &Wrap {
        position: relative;
        width: 100%;
        cursor: pointer;
    }

    &Big {
        &:hover {
            .albumExpand {
                opacity: 1;
            }

            .productArrow {
                opacity: 1;
            }
        }

        .albumImg {
            padding-top: 66.667%;
        }
    }

    &Nav {
        margin-top: 20px;

        .albumImg {
            padding-top: 75.003%;
        }
    }

    &Img {
        margin: 0;
        padding: 0;

        img {
            @extend %template-img;
            border-radius: 7px;
            overflow: hidden;
        }
    }

    &Expand {
        position: absolute;
        top: 10px;
        right: 14px;
        padding: 7px 10px;
        border-radius: 50px;
        opacity: .7;
        background: $cl-primary-black;
        @include font-pack($font-mbold, 13px, $font-weight-mbold, false, $cl-white);
        letter-spacing: 0.26px;
        z-index: 2;
        transition: opacity 0.2s ease;

        .icoExpand {
            @extend %icoExpand;
            margin-right: 5px;
            filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(273deg) brightness(107%) contrast(101%);
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 56%;
        opacity: .7;
        background: #891518;
    }
}

.pswp .pswp__ui .pswp__top-bar {
    background-color: transparent;
}