.art {
    position: relative;
    padding-top: 15px;
    padding-bottom: 36px;
    overflow: hidden;

    &Bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        overflow: hidden;
        pointer-events: none;

        .--left,
        .--right {
            position: absolute;
        }

        .--left {
            left: 0;
            bottom: 0;
        }

        .--right {
            right: 0;
            top: 0;
        }
    }

    &.--komik {
        background: #DEEFFF;

        .title,
        .titleLink {
            color: #1B506F;
        }

        .artSlide__bg {
            top: 5px;
            left: 45px;
            transform: none;
        }

        .artBg {

            &::before,
            &::after {
                content: '';
                position: absolute;
                display: block;
                background: #BEE0FF;
                border-radius: 50%;
            }

            &::before {
                width: 458px;
                height: 458px;
                top: -229px;
                right: -229px;
            }

            &::after {
                width: 692px;
                height: 692px;
                bottom: -346px;
                left: -346px;
            }
        }
    }

    &.--quanta {
        background: #E8FFE2;

        .artBg {
            opacity: .5;

            .--left {
                @include min-responsive($w-xl) {
                    bottom: unset;
                    top: 0;
                }
            }

            .--right {
                bottom: 0;
                top: unset;

                @include min-responsive($w-md) {
                    bottom: unset;
                    top: 0;
                }
            }
        }

        .artSlide__bg {
            top: 8px;
        }

        .title,
        .titleLink {
            color: #256959;
        }
    }

    &.--kids {
        background: #FFF3E1;

        .title,
        .titleLink {
            color: #563D18;
        }
    }

    &.--techno {
        background: #EEE4FF;

        .title,
        .titleLink {
            color: #5B2E70
        }

        .artBg .--right {
            transform: rotate(180deg);
        }
    }

    &.--health {
        background: #F6F6F6;

        .title,
        .titleLink {
            color: #772D1D
        }

        .artBg .--right {
            transform: rotate(180deg);
        }

        .artSlide__bg {
            top: 10px;
        }
    }

    &.--fiction {
        background: #F2ECE5;

        .title,
        .titleLink {
            color: #8D4586
        }

        .artSlide__bg {
            top: 20px;
        }
    }

    &.--history {
        background: #F2E5ED;

        .title,
        .titleLink {
            color: #8D4586;
        }

        .artSlide__bg {
            top: 41px;
        }

        .artBg {

            &::before,
            &::after {
                content: '';
                position: absolute;
                display: block;
                background: #F0D9E7;
                border-radius: 50%;
            }

            &::before {
                width: 458px;
                height: 458px;
                top: -229px;
                right: -229px;
            }

            &::after {
                width: 692px;
                height: 692px;
                bottom: -346px;
                left: -346px;
            }
        }
    }

    &.--self {
        background: #E8EBF0;

        .title,
        .titleLink {
            color: #455A8D
        }

        .artBg .--right {
            transform: rotate(180deg);
        }
    }

    &Wrap {
        margin-right: 0;
        margin-left: 0;
    }

    &Widget {
        --widget-gap: 7.5px;
        position: relative;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 20px;
        z-index: 1;

        @include min-responsive($w-xl) {
            margin-bottom: 0;
        }

        .artList {
            margin-left: calc(var(--widget-gap) - var(--widget-gap)*2);
            margin-right: calc(var(--widget-gap) - var(--widget-gap)*2);
        }

        .artItem {
            margin-top: 13px;
            padding-left: var(--widget-gap);
            padding-right: var(--widget-gap);
        }

        .artLink {
            flex-direction: column
        }

        .artLabel {
            margin-top: 10px;
        }

        .artImg {
            width: 100%;
            padding-top: 60%;
            margin-right: 0;
            min-height: unset;
        }
    }

    &Row {
        .artTitle {
            -webkit-line-clamp: 2;

            @include min-responsive($w-md) {
                -webkit-line-clamp: 3;
            }
        }

        .artImg {
            width: 110px;

            @include min-responsive($w-md) {
                width: 184px;
            }
        }
    }

    &Slide {
        &__wrap {
            margin: auto;
            padding: 120px 25px 25px 25px;

            .swiper-button-prev {
                left: 8px;
            }

            .swiper-button-next {
                right: 8px;
            }
        }

        &__bg {
            position: absolute;
            top: -10px;
            left: calc(50% + 5px);
            transform: translateX(-50%);

            img {
                max-width: unset;
            }
        }

        .product {
            &Item {
                padding: 10px 8px;
                background: white;
                border-radius: 7px;
            }

            &Cta {
                display: block;
                margin-top: 6px;
            }
        }

        .buttonPrimary {
            min-width: 113px;
            padding: 9px 22px 9px 10px;

            @include min-responsive($w-md) {
                width: 100%;
            }

            .icoMore {
                right: 15px;
            }
        }
    }

    &Item {
        margin-top: 15px
    }

    &Link {
        position: relative;
        @include display-flex;
        flex-direction: row;
    }

    &Content {
        flex: 1;
    }

    &Img {
        position: relative;
        margin-right: 10px;
        width: 184px;
        min-height: 110px;
        padding-top: 13.096%;
        flex-shrink: 0;
        align-self: flex-start;

        &:hover {
            ~.artContent .artTitle {
                color: $cl-red;
            }
        }

        img {
            @extend %template-img;
            border-radius: 7px;
            overflow: hidden;
        }
    }

    &Title {
        @include title_clamp(3);
        margin-top: 7px;

        &:hover {
            color: $cl-red;
        }
    }

    &Dates {
        margin-top: 7px;
        @include font-pack(false, false, false, 1.21, #838383);
        letter-spacing: 0.28px;

        .icoCal {
            @extend %icoCal;
            display: inline-block;
            vertical-align: middle;
            margin-right: 7px;
        }
    }

    &Lead {
        margin-top: 10px;
        @include title_clamp(3)
    }

    &Label {
        display: inline-block;
        margin-top: 4px;
        @include font-pack($font-mbold, false, $font-weight-mbold, false, $cl-red);
        letter-spacing: 0.28px;

        &:hover {
            text-decoration: underline;
        }
    }

    &Caption {
        margin-bottom: 5px;

        @include min-responsive($w-md) {
            margin-bottom: 0;
            margin-right: 20px;
        }

        ~.titleLink {

            &:hover {
                color: $cl-red
            }
        }

        .titleLead {
            margin-top: 5px;
        }

    }

    .titleWrap {
        position: relative;
        z-index: 1;
        flex-direction: column;

        @include min-responsive($w-md) {
            flex-direction: row;
        }
    }

    &icle {
        word-wrap: break-word;

        p {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        ul,
        ol {
            padding-left: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }

        a {
            color: $cl-red;
        }

        h1 {
            margin-top: .67em;
            margin-bottom: .67em;
            @include font-pack($font-mbold, 2em, $font-weight-mbold, false, $cl-primary-black);
        }

        h2 {
            margin-top: .83em;
            margin-bottom: .83em;
            @include font-pack($font-mbold, 1.5em, $font-weight-mbold, false, $cl-primary-black);
        }

        h3 {
            margin-top: 1em;
            margin-bottom: 1em;
            @include font-pack($font-mbold, 1.17em, $font-weight-mbold, false, $cl-primary-black);
        }

        h4,
        pre {
            margin-top: 1.33em;
            margin-bottom: 1.33em;
            @include font-pack($font-mbold, 1em, $font-weight-mbold, false, $cl-primary-black);
        }

        blockquote {
            position: relative;
            margin: 20px 10px;
            padding-left: 20px;
            border-left: 2px solid $cl-red;
            @include font-pack($font-sbold, 24px, $font-weight-sbold, normal, $cl-primary-black);

            @include min-responsive($w-bxl) {
                font-size: 32px;
                margin: 20px 50px;
                border-left: 4px solid $cl-red;
            }

            &::before {
                content: '';
                width: 32px;
                height: 21px;
                display: block;
                margin-bottom: 7px;
                background: url(../images/icon/ico-quote.png) center no-repeat;
            }
        }
    }
}