.author {
    &Title {
        position: relative;
        background: #F24971;
        color: $cl-white;
        overflow: hidden;

        span {
            display: block;
            @include font-pack($font-mbold, 17px, $font-weight-mbold, false, false);
            letter-spacing: 0.34px;
        }

        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            filter: invert(49%) sepia(33%) saturate(2713%) hue-rotate(314deg) brightness(99%) contrast(106%);
        }

        &__wrap {
            position: relative;
            z-index: 1;
        }
    }

    &Widget {
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;

        @include range-responsive($w-md, $w-vxl) {
            justify-content: flex-start;
            align-items: flex-start;
        }

        @include min-responsive($w-md) {
            flex-direction: row;
        }

        @include min-responsive($w-lg) {
            flex-wrap: nowrap;
        }

        .authorTitle {
            width: 100%;
            padding: 20px;
            border-radius: 7px;
            flex-shrink: 0;

            @include range-responsive($w-md, $w-vxl) {
                align-self: flex-start;
            }

            @include min-responsive($w-md) {
                width: 175px;
                border-radius: 13px;
                margin-right: -16px;
            }

            @include min-responsive($w-vxl) {
                width: 225px;
                padding: 50px 55px 50px 40px;
            }
        }

        .authorDesc {
            margin-top: 13px;
            margin-bottom: 13px;

            @include min-responsive($w-md) {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        .authorImg {
            width: 128px;
            padding-top: 128px;
            position: absolute;
            top: 0;
            right: 0;

            @include range-responsive($w-md, $w-vxl) {
                align-self: flex-start;
            }

            @include min-responsive($w-md) {
                position: relative;
                width: 140px;
                padding-top: 140px;
            }

            @include min-responsive($w-vxl) {
                top: unset;
                width: 211px;
                padding-top: 265px;
            }

            img {
                box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.05);
            }
        }

        .authorBest {
            margin-bottom: 13px;

            @include min-responsive($w-md) {
                @include flex(center);
                flex-direction: row;
            }

            @include range-responsive($w-md, $w-xl) {
                width: calc(100% - (175px - 16px));
                flex-direction: column;
            }

            @include min-responsive($w-lg) {
                margin-right: 20px;
                margin-bottom: 0;
            }

            @include min-responsive($w-xl) {
                margin-right: 34px;
            }

            &__content {
                padding-top: 43px;

                @include min-responsive($w-md) {
                    padding-top: 20px;
                    padding-left: 0;
                }

                @include min-responsive($w-xl) {
                    padding-left: 20px;
                }

                @include min-responsive($w-vxl) {
                    width: 432px;
                    padding-top: 0;
                    padding-left: 32px;
                }
            }
        }

        .productLink {

            @include range-responsive($w-md, $w-vxl) {
                max-width: 315px;
            }

            &.--row .productImg {
                width: 133px;
                padding-top: 200px;
            }
        }

        .productTitle {
            -webkit-line-clamp: 3;
        }
    }

    &Img {
        position: relative;
        width: 100%;
        aspect-ratio: 1/1;

        img {
            @extend %template-img;
            border-radius: 7px;
            overflow: hidden;
        }
    }
}