.best {
    position: relative;
    margin-top: 50px;

    &Title {
        position: absolute;
        top: calc(50% - 154px/2);
        background: #F24971;
        padding: 50px 55px 50px 40px;
        border-radius: 13px;
        color: $cl-white;

        span {
            display: block;
            @include font-pack($font-mbold, 17px, $font-weight-mbold, false, false);
            letter-spacing: 0.34px;
        }

        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            filter: invert(49%) sepia(33%) saturate(2713%) hue-rotate(314deg) brightness(99%) contrast(106%);
        }

        &__wrap {
            position: relative;
            z-index: 1;
        }
    }

    &List {
        margin-left: 202px;
        margin-right: 34px;

        .swiper-wrapper {
            align-items: flex-start;
        }

        .productTitle {
            font-size: 17px;
        }
    }

    &Arrow {

        &.swiper-button-next,
        &.swiper-button-prev {
            @extend %icoArrow;
            border-radius: 0;

            &.--prev {
                left: 210px;
                transform: scaleX(-1);
            }

            &::after {
                display: none;
            }
        }

        &.swiper-button-disabled {
            opacity: 0;
        }
    }
}