.form {
    --gap-form: 10px;
    margin-left: auto;
    margin-right: auto;

    &Row {
        margin-top: 20px;
        margin-left: calc(var(--gap-form) - var(--gap-form)*2);
        margin-right: calc(var(--gap-form) - var(--gap-form)*2);

        &:first-of-type {
            margin-top: 0;
        }

        .formCol~.formCol {
            margin-top: 20px;

            @include min-responsive($w-md) {
                margin-top: 0;
            }
        }
    }

    &Col {
        padding-left: var(--gap-form);
        padding-right: var(--gap-form);
    }

    &Input {
        width: 100%;
        appearance: none;
        border-radius: 7px;
        padding: 17px 10px;
        border: 1px solid #B0B3D0;
        @include placeholder($size: 16px, $line: 1.37, $color: #838383);
        @include font-pack(false, 16px, false, false, false);
        background: $cl-white;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &Select {
        border: 1px solid #B0B3D0;
        border-radius: 7px;

        &.selectDrop {
            font-size: 16px;
        }
    }

    &Label {
        display: block;
        margin-bottom: 5px;
        @include font-pack($font-mbold, 14px, $font-weight-mbold, false, #616161);
    }

    &Area {
        max-height: unset;
        resize: vertical;
    }

    &Clear {
        @extend %buttonClear;
        top: 15px;
        pointer-events: all;
    }

    &File {
        position: relative;
        display: block;
        width: 100%;
        cursor: pointer;

        &.disabled {
            pointer-events: none;
        }

        &Title {
            max-height: unset;
            padding: 27px 45px 27px 140px;
            @include title_clamp(1);
            pointer-events: none;

            &.valid {
                @include placeholder($size: 16px, $color: $cl-primary-black)
            }
        }

        &Cta {
            position: absolute;
            padding: 15px 30px;
            top: 10px;
            left: 10px;
            box-shadow: 0 0;
            z-index: 1;
        }

        &Input {
            display: none;
        }

        .formClear {
            top: 25px;
        }
    }

    &Rel,
    &Info {
        margin-top: 5px;
    }

    &Rel {
        position: relative;

        ~.buttonTxt {
            margin-top: 5px;
        }
    }

    .required,
    .error {
        color: $cl-red;
        font-size: 12px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    select,
    textarea,
    input {
        font-size: 16px;
    }
}