.product {
    &Card {
        width: calc(100%/2);
        flex-grow: 0;
        margin-top: 16px;
        height: inherit;
        padding-left: var(--gap-product);
        padding-right: var(--gap-product);

        @include min-responsive($w-md) {
            margin-top: 29px;
        }

        &__wrap {
            padding-left: 0;
            padding-right: 0;
        }

        &__list {
            --gap-product: 8px;
            margin-left: calc(var(--gap-product) - var(--gap-product)*2);
            margin-right: calc(var(--gap-product) - var(--gap-product)*2);
            justify-content: center;

            @include max-responsive($w-xm) {
                --gap-product: 4px;
            }

            @include min-responsive($w-md) {
                --gap-product: 12px;
            }

            .buttonPrimary {
                @include max-responsive($w-xm) {
                    padding: 9px 14px 9px 6px;
                }

                .icoMore {
                    @include max-responsive($w-xm) {
                        right: 12px;
                    }
                }
            }
        }

        .productLink {
            position: relative;
            width: 160px;
            margin: auto;
            padding: 9px 7px 55px;
            border-radius: 7px;
            background: $cl-white;
            box-shadow: 0px 0px 18.619px 0px rgba(0, 0, 0, 0.11);
            height: 100%;

            @include max-responsive($w-xm) {
                width: 140px;
            }

            @include min-responsive($w-md) {
                width: 174px;
            }
        }

        .productCta {
            position: absolute;
            width: calc(100% - 14px);
            bottom: 9px;
            left: 7px;
        }
    }

    &Link {
        display: block;
        width: 100%;

        &.--row {
            @include flex(center);

            .productTitle {
                font-size: 17px;
            }

            .productLabel {
                margin-top: 0;
            }

            .productImg {
                width: 113px;
                padding-top: 170px;
                margin-right: 10px;
            }
        }
    }

    &Wrap {
        position: relative;
    }

    &Img {
        display: block;
        position: relative;
        width: 100%;
        padding-top: 149.76%;

        &:hover {
            ~.productContent .productTitle {
                color: $cl-red;
            }
        }

        img {
            @extend %template-img;
            border-radius: 7px;
            overflow: hidden;
        }
    }

    &Content {
        flex: 1;
    }

    &Title {
        display: inline-block;
        margin-top: 2px;
        @include title_clamp(2);
        @include font-pack($font-mbold, 16px, $font-weight-mbold, false, #454545);
        letter-spacing: 0.32px;

        &:hover {
            color: $cl-red;
        }
    }

    &Author {
        margin-top: 5px;
        @include title_clamp(2);
        @include font-pack(false, 14px, false, 1.21, #838383);
        letter-spacing: 0.28px;

        &:hover {
            text-decoration: underline;
            color: $cl-primary-black
        }
    }

    &Arrow {
        top: 65%;
    }

    &Label {
        display: inline-block;
        margin-top: 10px;
        @include font-pack($font-mbold, false, $font-weight-mbold, false, $cl-red);
        letter-spacing: 0.28px;

        &:hover {
            text-decoration: underline;
        }
    }

    &Tag {
        @include flex(center);
        text-align: center;
        width: 45px;
        height: 45px;
        position: absolute;
        top: -19px;
        left: -15px;
        z-index: 1;
        background: url(../images/icon/ico-tag.png) no-repeat;
        background-size: contain;
        background-position: center;
        @include font-pack($font-mbold, 10px, $font-weight-mbold, false, $cl-white);
        letter-spacing: 0.391px;
        text-transform: uppercase;

        @include min-responsive($w-md) {
            width: 60px;
            height: 60px;
            top: -29px;
            left: -27px;
            font-size: 13px
        }
    }

    &Cta {
        @include display-flex;
        margin-top: 20px;

        .button {
            display: inline-block;

            ~.button {
                flex: 1;
                margin-left: 5px;

                &.-icon {
                    padding: 9px 12px 9px 12px
                }
            }
        }
    }

    &Wish {
        .icoWishlist {
            @extend .icoWishlist;
            width: 23px;
            height: 23px;
            display: block;
            background-size: 30px;
            filter: invert(40%) sepia(0%) saturate(0%) hue-rotate(334deg) brightness(90%) contrast(84%);

            @include min-responsive($w-md) {
                width: 37px;
                height: 37px;
                background-size: 37px;
            }
        }

        &.active {
            .icoWishlist {
                @extend .icoWishlisted;
                filter: invert(59%) sepia(46%) saturate(290%) hue-rotate(309deg) brightness(112%) contrast(107%);
                width: 23px;
                height: 23px;
                background-size: 30px;

                @include min-responsive($w-md) {
                    width: 37px;
                    height: 37px;
                    background-size: 37px;
                }
            }
        }
    }

    &Commerce {
        @extend .hidden;
        position: absolute;
        left: 8px;
        bottom: -115px;
        min-width: 160px;
        border: 1px solid #E7E7E7;
        background: $cl-white;
        box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.06);
        z-index: 2;

        @include max-responsive($w-xm) {
            left: 4px;
            min-width: 140px;
        }

        @include min-responsive($w-md) {
            left: 60px;
            min-width: 187px;
        }

        @include range-responsive($w-xl, $w-lxl) {
            left: 10px;
        }

        &__link {
            display: flex;
            align-items: center;
            padding: 10px 12px;
            border-bottom: 1px solid #E7E7E7;
            @include font-pack($font-mbold, false, $font-weight-mbold, 1.26, false);

            &:hover {
                color: $cl-red;
            }

            &:last-child {
                border-bottom: 0;
            }

            span {
                @include title_clamp(1);
                word-wrap: break-word;
                word-break: break-word;
            }

            img {
                margin-right: 10px;

                @include max-responsive($w-xm) {
                    margin-right: 7px;
                }
            }
        }

        &.active {
            @extend .visible;
        }
    }

    &Timestamp {
        margin-bottom: 12px;
        @include font-pack(false, false, false, 1.57, #999);
    }

    &Lead {
        @include font-pack(false, 16px, false, 1.37, #444);
    }

    &Scroll {
        display: flex;
        justify-content: flex-start;
        overflow-x: auto;
        overflow-y: visible;
        flex-wrap: nowrap;
        padding-bottom: 20px;
        margin-bottom: -20px;

        @include min-responsive($w-vxl) {
            flex-wrap: wrap;
            overflow: visible;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .productItem {
            position: relative;

            @include min-responsive($w-bxl) {
                min-width: 204px;
            }
        }

        .productCommerce {
            bottom: 50px;

            @include min-responsive($w-vxl) {
                bottom: -115px;
            }
        }

        .productTag {
            @include range-responsive($w-md, $w-lxl) {
                left: -19px;
            }
        }
    }
}