.product {
    &Link {
        display: block;
        width: 100%;

        &.--row {
            @include flex(center);
    
            .productTitle {
                font-size: 17px;
            }
    
            .productLabel {
                margin-top: 0;
            }
    
            .productImg {
                width: 113px;
                padding-top: 170px;
                margin-right: 10px;
            }
        }
    }

    &Wrap {
        position: relative;
    }

    &Img {
        position: relative;
        width: 100%;
        padding-top: 149.76%;

        img {
            @extend %template-img;
            border-radius: 7px;
            overflow: hidden;
        }
    }

    &Content {
        flex: 1;
    }

    &Title {
        margin-top: 2px;
        @include title_clamp(2);
        @include font-pack($font-mbold, 16px, $font-weight-mbold, false, #454545);
        letter-spacing: 0.32px;
    }

    &Author {
        margin-top: 5px;
        @include title_clamp(2);
        @include font-pack(false, 14px, false, 1.21, #838383);
        letter-spacing: 0.28px;
    }

    &Lead {
        margin-top: 18px;
        @include title_clamp(2);
        @include font-pack(false, false, false, 1.21, #616161);
        letter-spacing: 0.28px;
    }

    &Arrow {
        top: 65%;
    }

    &Disc {
        position: absolute;
        top: 10px;
        left: -14px;
        @include font-pack($font-sbold, 15px, $font-weight-sbold, false, $cl-white);
        letter-spacing: 0.3px;
        z-index: 1;

        span {
            display: block;
            position: relative;
            padding: 8px 17px;
            background: $cl-red;
            border-bottom-right-radius: 25px;
            z-index: 1;
        }

        &::before {
            content: '';
            position: absolute;
            left: -14px;
            bottom: -15px;
            z-index: 0;
            border: 15px solid transparent;
            border-right-color: #741114;
        }
    }

    &Label {
        margin-top: 10px;
        @include font-pack($font-mbold, false, $font-weight-mbold, false, #ED1C24);
        letter-spacing: 0.28px;
    }

    &Tag {
        @include flex(center);
        position: absolute;
        top: 0;
        z-index: 1;
        background: #F8861E;
        @include font-pack($font-bold, 13px, $font-weight-bold, false, $cl-white);
        letter-spacing: 0.391px;
        text-transform: uppercase;

        --s: 60px;

        width: var(--s);
        aspect-ratio: 1;
        --g: /calc(var(--s)*0.112) calc(var(--s)*0.112) radial-gradient(50% 50%, #000 99%, #0000 101%) no-repeat;
        mask: calc(50% + var(--s)*0.425) calc(50% + var(--s)*0) var(--g), calc(50% + var(--s)*0.388) calc(50% + var(--s)*0.173) var(--g), calc(50% + var(--s)*0.284) calc(50% + var(--s)*0.316) var(--g), calc(50% + var(--s)*0.131) calc(50% + var(--s)*0.404) var(--g), calc(50% + var(--s)*-0.044) calc(50% + var(--s)*0.423) var(--g), calc(50% + var(--s)*-0.212) calc(50% + var(--s)*0.368) var(--g), calc(50% + var(--s)*-0.344) calc(50% + var(--s)*0.25) var(--g), calc(50% + var(--s)*-0.416) calc(50% + var(--s)*0.088) var(--g), calc(50% + var(--s)*-0.416) calc(50% + var(--s)*-0.088) var(--g), calc(50% + var(--s)*-0.344) calc(50% + var(--s)*-0.25) var(--g), calc(50% + var(--s)*-0.212) calc(50% + var(--s)*-0.368) var(--g), calc(50% + var(--s)*-0.044) calc(50% + var(--s)*-0.423) var(--g), calc(50% + var(--s)*0.131) calc(50% + var(--s)*-0.404) var(--g), calc(50% + var(--s)*0.284) calc(50% + var(--s)*-0.316) var(--g), calc(50% + var(--s)*0.388) calc(50% + var(--s)*-0.173) var(--g), radial-gradient(calc(var(--s)*0.452), #000 99%, #0000 101%) intersect, radial-gradient(#000 0 0) exclude, calc(50% + var(--s)*0.474) calc(50% + var(--s)*0.101) var(--g), calc(50% + var(--s)*0.392) calc(50% + var(--s)*0.285) var(--g), calc(50% + var(--s)*0.242) calc(50% + var(--s)*0.419) var(--g), calc(50% + var(--s)*0.051) calc(50% + var(--s)*0.482) var(--g), calc(50% + var(--s)*-0.15) calc(50% + var(--s)*0.461) var(--g), calc(50% + var(--s)*-0.324) calc(50% + var(--s)*0.36) var(--g), calc(50% + var(--s)*-0.442) calc(50% + var(--s)*0.197) var(--g), calc(50% + var(--s)*-0.484) calc(50% + var(--s)*0) var(--g), calc(50% + var(--s)*-0.442) calc(50% + var(--s)*-0.197) var(--g), calc(50% + var(--s)*-0.324) calc(50% + var(--s)*-0.36) var(--g), calc(50% + var(--s)*-0.15) calc(50% + var(--s)*-0.461) var(--g), calc(50% + var(--s)*0.051) calc(50% + var(--s)*-0.482) var(--g), calc(50% + var(--s)*0.242) calc(50% + var(--s)*-0.419) var(--g), calc(50% + var(--s)*0.392) calc(50% + var(--s)*-0.285) var(--g), calc(50% + var(--s)*0.474) calc(50% + var(--s)*-0.101) var(--g);
    }

    &Cta {
        @include display-flex;
        margin-top: 20px;

        .button {
            ~.button {
                flex: 1;
                margin-left: 10px
            }
        }
    }

    &Wish {
        .icoWishlist {
            @extend %icoWishlist;
            display: block;
            filter: invert(40%) sepia(0%) saturate(0%) hue-rotate(334deg) brightness(90%) contrast(84%);
        }
    }
}