.publish {
    position: relative;
    margin-left: 22px;
    z-index: 1;

    &Slide {
        width: 330px;
        max-height: 396px;
        overflow: hidden;
    }

    &Item {
        padding-left: 15px;
        padding-right: 15px;
    }

    &Img {
        border-radius: 10px;
        overflow: hidden;
    }

    .swiper-slide-active {
        .publishImg {
            box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.17);
        }
    }
}