.quanta {
    &Caption {
        @include font-pack($font-mbold, 20px, $font-weight-mbold, false, #007F3E);
        letter-spacing: 0.6px;
        margin-top: 10px;

        @include min-responsive($w-md) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 0;
            font-size: 30px;
        }
    }
}