.quanta {
    &Caption {
        @include font-pack($font-mbold, 20px, $font-weight-mbold, false, #007F3E);
        letter-spacing: 0.6px;
        margin-top: 10px;

        @include min-responsive($w-md) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 0;
            font-size: 30px;
        }
    }

    &Quote {
        &__item {
            margin-top: 10px;

            &.swiper-slide {
                justify-content: flex-start;
            }
        }

        &__wrap {
            position: relative;
            display: flex;
            align-items: center;
            height: 36px;
            flex: 1;
        }

        &__pagin {
            --swiper-pagination-bullet-horizontal-gap: 2.5px;
            --swiper-pagination-bullet-inactive-color: #D9D9D9;

            display: flex;
            align-items: center;
            justify-content: flex-end;

            .swiper-pagination-bullet {

                &:only-child {
                    display: block !important;
                }

                &-active {
                    background: $cl-red;
                }
            }
        }

        &__img {
            width: 100%;

            @include range-responsive($w-md, $w-xl) {
                width: auto;
            }

            img {
                width: 100%;
                border-radius: 7px;
                overflow: hidden;
            }
        }
    }

    &Socmed {
        display: flex;
        flex-wrap: wrap;

        .socmedItem {
            margin-top: 10px;

            &:hover {
                img {
                    transform: scale(1.1);
                    transition: transform .5s ease;
                }
            }

            &__txt {
                margin-left: 10px;
                margin-right: 13px;
            }
        }
    }

    &Author {
        border-radius: 7px;
        background: #E7E7E7;
        padding: 8px 15px 2px;

        @include min-responsive($w-md) {
            padding: 15px 20px 5px;
        }

        .authorList {
            --gap-author: 7.5px;
            margin-left: calc(var(--gap-author) - var(--gap-author)*2);
            margin-right: calc(var(--gap-author) - var(--gap-author)*2);
            padding-bottom: 8px;
            justify-content: center;

            @include min-responsive($w-md) {
                padding-bottom: 15px;
            }
        }

        .authorItem {
            padding-left: var(--gap-author);
            padding-right: var(--gap-author);
            margin-top: 15px;
        }

        .authorLink:hover {
            .titleH5 {
                text-decoration: underline;
            }
        }

        .titleH5 {
            margin-top: 5px;
            @include title_clamp(2);
            @include font-pack($font-mbold, 14px, $font-weight-mbold, false, false);

            @include min-responsive($w-md) {
                margin-top: 10px;
                font-size: 16px
            }
        }

        .titleLink {
            color: #454545;
        }

        .authorBook {
            @include font-pack(false, 14px, false, false, $cl-red);
            letter-spacing: 0.32px;

            @include min-responsive($w-md) {
                font-size: 16px
            }
        }

        .authorImg {
            position: relative;
            width: 100%;
            aspect-ratio: 1/1;

            img {
                @extend %template-img;
                border-radius: 7px;
                overflow: hidden;
            }
        }
    }

    &Verses {
        margin-top: 24px;
        margin-bottom: 24px;
        border: 28px solid transparent;
        width: 100%;
        position: relative;
        padding: 22px 8px 18px 8px;
        border-image: url(../images/widget/quanta-border.png) 41 repeat;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 4px;
            width: 46px;
            height: 46px;
            background: url(../images/widget/quanta-border-edge.png) center no-repeat;
        }

        &::before {
            left: 4px;
        }

        &::after {
            right: 4px;
            transform: scaleX(-1);
        }

        @include min-responsive($w-md) {
            padding: 12px 10px 22px 12px;
        }

        &__wrap {
            margin-top: 24px;
            padding-right: 10px;
            height: 275px;
            overflow-x: auto;
            @include scroll(2px, #DAAB5B, #F1F1F1);
        }

        &__id {
            margin-top: 8px;
            @include font-pack(false, false, false, 1.21, #616161);
            letter-spacing: 0.28px;
            font-style: italic;

            span {
                display: block;
                margin-top: 3px;
                font-style: normal;
                @include font-pack($font-mbold, false, $font-weight-mbold, false, false);
            }
        }

        &__ar {
            text-align: right;
            @include font-pack(false, 24px, false, 1.27, #202020);

            @include min-responsive($w-md) {
                font-size: 32px
            }
        }
    }

    &Slider {
        width: 100%;
        overflow: hidden;

        &__wrap {
            position: relative;
            padding-bottom: 32px;
        }

        .eventImg {
            width: 100%;
            padding-top: unset;

            @include min-responsive($w-lg) {
                width: 240px;
                padding-top: 240px;
            }

            img {
                box-shadow: 0 0 0 0;
            }
        }
    }
}