.rating {
    &Wrap {
        margin-top: 30px;
        @include font-pack(false, 16px, false, false, #000);

        @include min-responsive($w-md) {
            margin-top: 50px;
            width: 350px;
            font-size: 18px
        }
    }

    &Caption {
        @include font-pack($font-mbold, 20px, $font-weight-mbold, false, false);
        letter-spacing: 0.52px;

        @include min-responsive($w-md) {
            font-size: 26px
        }
    }

    &Num {
        margin-top: 10px;
        margin-bottom: 10px;
        @include font-pack($font-mbold, 34px, $font-weight-mbold, false, #202020);
        letter-spacing: 1.28px;

        @include min-responsive($w-md) {
            font-size: 64px
        }
    }

    &Attr {
        margin-top: 10px;
    }

    &List {
        width: 100%;
        margin-top: 20px;
        padding-left: 12px;
        padding-right: 12px;

        @include min-responsive($w-md) {
            margin-top: 30px;
        }
    }

    &Item {
        position: relative;
        color: #525252;

        &__num {
            width: 8px;
            padding-left: 10px;
            padding-right: 10px;
        }

        &__count {
            text-align: left;
            padding-left: 10px;
        }
    }

    &Prog {
        position: relative;
        width: 0;
        height: 7px;
        border-radius: 10px;
        background: #FFAA04;
        z-index: 1;

        &__wrap {
            width: 100%;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                top: 6px;
                height: 7px;
                background: #D9D9D9;
                border-radius: 10px;
                z-index: 0;

                @include min-responsive($w-xl) {
                    top: 8px;
                }
            }
        }
    }

    .icoStar {
        width: 20px;
        height: 20px;
        @extend %icoStar
    }

    .icoStar-half {
        width: 20px;
        height: 20px;
        @extend %icoStar-half
    }

    .icoStar-empty {
        width: 20px;
        height: 20px;
        @extend %icoStar-empty
    }

    &Stars {
        .icoStar {
            width: 32px;
            height: 32px;
        }

        .icoStar-half {
            width: 32px;
            height: 32px;

            &::before,
            &::after {
                background-size: 32px;
            }
        }

        .icoStar-empty {
            width: 32px;
            height: 32px;
        }
    }
}