.search {
    &Input {
        appearance: none;
        outline: 0;
        border: 0;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        background: transparent;
    }

    &Cta {
        position: absolute;        

        .icoSearch {
            width: 18px;
            height: 18px;
            filter: invert(59%) sepia(0%) saturate(1%) hue-rotate(184deg) brightness(88%) contrast(87%);
            vertical-align: -webkit-baseline-middle;
        }
    }
}

input[type=search i]::-webkit-search-cancel-button {
    display: none;
}