.search{
    &Input{
        appearance: none;
        outline: 0;
        border: 0;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        background: transparent;
    }

    &Cta{
        position: absolute;
    }
}

input[type=search i]::-webkit-search-cancel-button {
    display: none;
}