.socmed {
    &List {
        display: flex;
        align-items: center;
    }

    &Item {
        &:hover {
            .ico {
                filter: invert(33%) sepia(94%) saturate(2800%) hue-rotate(337deg) brightness(82%) contrast(120%);
            }
        }

        .ico{
            pointer-events: none;
        }
    }
}