.tab {
    &wrapper {
        &>.tabcontent {
            display: none;
        }

        &>.active {
            display: block;
        }
    }
}

.list {
    &Tab {
        margin-top: 50px;

        &__list {
            display: flex;
            align-items: center;
        }

        &__label {
            padding: 5px 10px;
            @include font-pack($font-mbold, 17px, $font-weight-mbold, 1.17, #202020);
            letter-spacing: 0.34px;

            &:hover,
            &.active {
                color: $cl-red;
            }
        }
    }
}