.updates {
    --gap-updates: 18px;
    @include font-pack(false, 15px, false, 1.21, false);

    &List {
        margin-left: calc(var(--gap-updates) - var(--gap-updates)*2);
        margin-right: calc(var(--gap-updates) - var(--gap-updates)*2);
    }

    &Item {
        padding-left: var(--gap-updates);
        padding-right: var(--gap-updates);
    }

    .art {
        &Item {
            margin-top: 24px;
        }

        &Link {
            flex-direction: column;
        }

        &Img {
            width: 100%;
            padding-top: 59.71%;
            margin-right: 0;
        }

        &Title {
            -webkit-line-clamp: 2;
            @include font-pack(false, 18px, false, 1.21, false);
        }
    }
}