.widget {
    --gap-widget: 14px;
    margin-left: calc(var(--gap-widget) - var(--gap-widget)*2);
    margin-right: calc(var(--gap-widget) - var(--gap-widget)*2);

    &Col {
        padding-left: var(--gap-widget);
        padding-right: var(--gap-widget);
        height: inherit;

        ~.widgetCol {
            margin-top: 20px;

            @include min-responsive($w-md) {
                margin-top: 0;
            }
        }
    }

    &Box {
        position: relative;
        padding: 13px 20px;
        border-radius: 13px;
        overflow: hidden;
        height: 100%;

        @include min-responsive($w-lg) {
            padding: 30px 60px;
        }

        &.--new {
            background: #FEFFBF;

            .titleLink {
                color: #9B9D1A;
            }

            .widgetBg {
                filter: invert(86%) sepia(26%) saturate(390%) hue-rotate(6deg) brightness(105%) contrast(87%);
            }
        }

        &.--popular {
            background: #FFDFE0;

            .titleLink {
                color: #CF6467;
            }

            .widgetBg {
                filter: invert(78%) sepia(10%) saturate(497%) hue-rotate(309deg) brightness(103%) contrast(110%);
            }
        }

        .titleWrap {
            position: relative;
            align-items: flex-start;
            flex-direction: column;

            @include min-responsive($w-md) {
                flex-direction: row;
            }
        }
    }

    &Bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    &Title {

        .titleLead {
            margin-top: 12px;
        }

        ~.titleLink {
            margin-left: 53px;
            position: absolute;
            right: 0;

            @include min-responsive($w-md) {
                position: relative;
            }
        }
    }

    &List {
        position: relative;
        --gap-widget: 10px;
        margin-left: calc(var(--gap-widget) - var(--gap-widget)*2);
        margin-right: calc(var(--gap-widget) - var(--gap-widget)*2);
    }

    &Item {
        margin-top: 20px;
        padding-left: var(--gap-widget);
        padding-right: var(--gap-widget);

        .product {
            &Title {
                font-size: 15px;
            }

            &Author {
                color: #616161;
            }
        }
    }
}