<!DOCTYPE html>
<html lang="en">

{{> head page="error"}}

<body>

    {{!> header/header page="Publikasi" fixed=true}}

    <main role="main" class="main pageSub error">
        <div class="container">
            <div class="errorWrap center-flex">
                <div class="errorTitle center-flex">
                    <div class="errorBg bg-img">
                        <img src="./asset/images/logo-404.png" alt="" width="284" height="300">
                    </div>
                    <h1 class="errorTitleTxt">403</h1>
                </div>
                <h2 class="titleH6 text-center mt30"><strong>Akses Ditolak.</strong></h2>
                <div class="titleH6 text-center">Maaf, Anda tidak memiliki izin untuk mengakses halaman ini.</div>
                <a href="index.html" class="buttonPrimary mt30">Kembali ke Home</a>
            </div>
        </div>
    </main>

    {{!> footer/footer}}

    {{!> js}}

</body>

</html>