<!DOCTYPE html>
<html lang="en">

{{> head page="home" swiper=true}}

<body>

    {{> header/header page="Home"}}

    <main role="main" class="main">
        <!-- s: headline -->
        <div class="headline">
            <div class="headlineWrap swiper swiperHl">
                <div class="headlineList swiper-wrapper">
                    {{>headline channel=headline type="swiper-slide" index_start="0" index_end="3" tag="h1"}}

                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="headlineBg">
                <img src="./asset/images/headline/bg.png" alt="" width="1440" height="387">
            </div>
            <!-- e: headline -->
        </div>
        <div class="container">
            <div class="intro row mt30 mx-auto">
                <!-- s: intro -->
                <div class="introWrap">
                    <h2 class="titleH2">Because You Are Our Priority</h2>
                    <div class="introLead titleH7">Saoraja Priority is an exclusive service from Bank Sulselbar
                        specifically for you, special customers. In addition to receiving exclusive services and the
                        best facilities, you also get special attention to financial growth. Priority Banking
                        Officers
                        and Priority Banking Managers always align financial growth with your portfolio and
                        characteristics.</div>
                    <a href="tentang-kami.html" class="titleP3 titleP3Bold">More Details <span
                            class="ico icoArrow"></span></a>
                </div>
                <div class="widget">
                    {{>widget}}

                </div>
                <!-- e: intro -->
            </div>
        </div>
        <!-- s: video -->
        <div class="video videoRow mt30">
            <div class="videoBg bg-img">
                <img src="./asset/images/bg-video.jpg" alt="" width="1440" height="632" loading="lazy">
            </div>
            <div class="container">
                <div class="videoWrap mx-auto">
                    <iframe width="960" height="540" src="https://www.youtube.com/embed/G3bUYMrsz0M?controls=0"
                        title="Company Profile Bank Sulselbar 2025" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!-- e: video -->
        <div class="container">
            <!-- s: privilege -->
            <div class="privilege mt30">
                <h2 class="titleH2">Keistimewaan</h2>
                <div class="privilegeList row">
                    {{>privilege channel=privilege col="col-6 col-lg-4" index_start="0" index_end="6" tag="h3"}}

                </div>
            </div>
            <!-- e: privilege -->
        </div>
        <div class="bg-grey ptb30 mt30">
            <div class="container">
                <!-- s: E-magazine -->
                <div class="magz">
                    <div class="titleHead">
                        <h2 class="titleH2">Publikasi</h2>
                        <a href="publikasi.html" class="titleP3 titleP3Bold">See all <span
                                class="ico icoArrow"></span></a>
                    </div>
                    <div class="magzList row">
                        {{>magz channel=magz col="col-6 col-lg-3" index_start="0" index_end="4" tag="h3" lazy=true}}

                    </div>
                </div>
                <!-- e: E-magazine -->
            </div>
        </div>
        <div class="container mt30">
            <!-- s: tools -->
            <div class="tools">
                <h2 class="titleH2">Tools to Help You</h2>
                <div class="toolsList row">
                    {{>tools channel=tools col="col-lg-4" index_start="0" index_end="3" tag="h3"}}

                </div>
            </div>
            <!-- e: tools -->
        </div>
    </main>

    {{> footer/footer}}

    {{> js pages="home" swiper=true}}
    <script>
        //form widget convertion
        const form = document.getElementById('form-widget');
        const formBtn = document.getElementById('formBtn');

        let isSubmitted = false;

        form.addEventListener('submit', function (e) {
            e.preventDefault();

            if (!isSubmitted) {
                triggerActive('.-wResult', this, { deactivateSiblings: false });

                // Change to Reset mode
                formBtn.innerHTML = 'Reset';
                formBtn.classList.remove('buttonPrimary', 'buttonPrimarySolid');
                formBtn.classList.add('widgetReset', 'titleP3', 'titleP3Bold');

                isSubmitted = true;
            } else {
                // Reset form
                form.reset();

                // Change back to Submit mode
                formBtn.innerHTML = 'Hitung kalkulasi';
                formBtn.classList.remove('widgetReset', 'titleP3', 'titleP3Bold');
                formBtn.classList.add('buttonPrimary', 'buttonPrimarySolid');

                // Hide the result
                document.querySelector('.-wResult')?.classList.remove('active');

                isSubmitted = false;
            }
        });

    </script>

</body>

</html>