<!DOCTYPE html>
<html lang="en">

{{> head page="home" swiper=true}}

<body>

    {{> header/header}}

    <main role="main" class="main">
        <div class="container">
        </div>
    </main>

    {{> footer/footer}}

    {{> js pages="home" swiper=true}}

</body>

</html>