<!DOCTYPE html>
<html lang="en">

{{> head page="read"}}

<body>

    {{> header/header page="Keistimewaan" fixed=true}}

    <main role="main" class="main pageSub read">
        <!-- s: caption -->
        {{>caption title="Keistimewaan"}}
        <!-- e: caption -->
        <div class="container">
            <div class="row">
                <div class="readCol col-lg-9 col-xl-8 mx-auto mt30">
                    <!-- s: breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumbItem">Home</li>
                        <li class="breadcrumbItem">Keistimewaan</li>
                        <li class="breadcrumbItem">Product Privillege</li>
                        <li class="breadcrumbItem">Kartu ATM Saoraja</li>
                    </ul>
                    <!-- e: breadcrumb -->
                    <article class="article mt30">
                        <h2 class="titleH1">Kartu ATM Saoraja</h2>
                        <p>
                        <div class="borderedImg">
                            <img src="./asset/images/privilege/4-big.png" alt="" width="690" height="370">
                        </div>
                        </p>
                        <p>
                            Nikmati layanan eksklusif dari lounge dan ruang pertemuan yang tersedia di Priority Banking
                            Centre. Di sini, Anda akan menemukan berbagai fasilitas yang dirancang khusus untuk memenuhi
                            kebutuhan nasabah prioritas. Tersedia juga ruang pertemuan yang nyaman dan lounge eksklusif
                            untuk transaksi, yang memberikan suasana tenang dan profesional untuk konsultasi keuangan.
                            Kami berkomitmen untuk memberikan pengalaman yang tak tertandingi, dengan staf yang siap
                            membantu Anda dalam merencanakan masa depan keuangan Anda dengan lebih baik. </p>
                        <p>Selain itu, kami juga menyediakan berbagai layanan tambahan yang akan membuat pengalaman
                            banking Anda semakin menyenangkan. Anda dapat menikmati akses ke seminar keuangan eksklusif
                            yang diadakan secara berkala, di mana para ahli akan berbagi wawasan dan strategi untuk
                            mengelola kekayaan Anda. Dengan fasilitas yang modern dan pelayanan yang ramah, Priority
                            Banking Centre berusaha untuk menciptakan lingkungan yang mendukung setiap langkah
                            perjalanan keuangan Anda, memastikan bahwa setiap keputusan yang Anda buat adalah langkah
                            menuju kesuksesan finansial.</p>
                    </article>
                    <!-- s: cta -->
                    {{>cta mt="40"}}
                    <!-- e: cta -->
                </div>
            </div>

            <h2 class="titleH2 text-center mt50">Other Product Privilege</h2>
            <div class="privilegeList row">
                {{>privilege channel=privilege col="col-6 col-lg-4" index_start="8" index_end="11" tag="h3"
                mt="15" subpage=true}}

            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>