<!DOCTYPE html>
<html lang="en">

{{> head page="subpage"}}

<body>

    {{> header/header page="Keistimewaan" fixed=true}}

    <main role="main" class="main pageSub">
        <!-- s: caption -->
        {{>caption title="Keistimewaan"}}
        <!-- e: caption -->
        <div class="container privilege">
            <!-- s: breadcrumb -->
            <ul class="breadcrumb mt30">
                <li class="breadcrumbItem">Home</li>
                <li class="breadcrumbItem">Keistimewaan</li>
                <li class="breadcrumbItem">Product Privilege</li>
            </ul>
            <!-- e: breadcrumb -->
            <h2 class="titleH2 text-center mt50">Product Privilege</h2>
            <div class="privilegeList row">
                {{>privilege channel=privilege col="col-6 col-lg-4" index_start="8" index_end="12" tag="h3" mt="30" subpage=true}}

            </div>

        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>