<!DOCTYPE html>
<html lang="en">

{{> head page="product"}}

<body>

    {{> header/header page="Produk" fixed=true}}

    <main role="main" class="main pageSub">
        <!-- s: caption -->
        {{>caption title="Produk"}}
        <!-- e: caption -->
        <div class="container">
            <div class="row">
                <sidebar class="col-auto sidebarMenu desktop-only mt30">
                    {{>sidebar/product channel=mainMenu index_start="1" index_end="2" page="Deposito On Call"}}
                </sidebar>
                <div class="col-auto pageInit mt30">
                    <!-- s: breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumbItem">Home</li>
                        <li class="breadcrumbItem">Produk</li>
                        <li class="breadcrumbItem">Produk Dana</li>
                        <li class="breadcrumbItem">Deposito On Call</li>
                    </ul>
                    <!-- e: breadcrumb -->
                    <article class="article mt30">
                        <h2>Deposito On Call</h2>
                        <p>
                            <img src="./asset/images/product/on-call.jpg" alt="" width="690" height="260">
                        </p>
                        <p>
                            Simpanan pada bank dalam mata uang rupiah/valas yang jangka waktunya kurang dari satu bulan.
                            Pencairan pokok bunga deposito dilakukan berdasarkan instruksi tertulis dari deposan minimal
                            1 (satu) hari sebelumnya atau ditetapkan lain berdasarkan perjanjian antar bank dengan
                            nasabah. Nasabah mendapatkan bunga deposito dari jenis investasi atau simpanan ini pada saat
                            jatuh tempo.
                        </p>

                    </article>
                    <!-- s: cta -->
                    {{>cta mt="40"}}
                    <!-- e: cta -->
                </div>
            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>