<!DOCTYPE html>
<html lang="en">

{{> head page="product"}}

<body>

    {{> header/header page="Produk" fixed=true}}

    <main role="main" class="main pageSub">
        <!-- s: caption -->
        {{>caption title="Produk"}}
        <!-- e: caption -->
        <div class="container">
            <div class="row">
                <sidebar class="col-auto sidebarMenu desktop-only mt30">
                    {{>sidebar/product channel=mainMenu index_start="1" index_end="2" page="Tabungan/Deposito Valas"}}
                </sidebar>
                <div class="col-auto pageInit mt30">
                    <!-- s: breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumbItem">Home</li>
                        <li class="breadcrumbItem">Produk</li>
                        <li class="breadcrumbItem">Produk Dana</li>
                        <li class="breadcrumbItem">Tabungan/Deposito Valas</li>
                    </ul>
                    <!-- e: breadcrumb -->
                    <article class="article mt30">
                        <h2>Tabungan/Deposito Valas</h2>
                        <p>
                            <img src="./asset/images/product/valas.jpg" alt="" width="690" height="260">
                        </p>
                        <p>
                            Layanan produk dana yang lainnya adalah tersedianya produk Deposito Valas dalam valuta
                            asing. Deposito Valas adalah pilihan aman dan menguntungkan untuk investasi. Deposito Valas
                            tersedia dalam beberapa currency yang diperuntukan bagi nasabah perorangan maupun non
                            perorangan. Deposito Valas tersedia dalam beberapa pilihan jangka waktu 1,3,6 dan 12 bulan
                            serta memiliki fasilitas Automatic Roll Over (ARO).
                        </p>
                        <h3>Persyaratan pembukaan Rekening Deposito Valas</h3>
                        <h4>Perorangan</h4>
                        <ol>
                            <li>Mengisi formulir aplikasi pembukaan rekening Deposito.</li>
                            <li>Melampirkan bukti identitas diri (KTP/SIM/Paspor; KTP diutamakan) yang sah dan masih
                                berlaku.</li>
                            <li>Melampirkan foto copy NPWP.</li>
                            <li>Pembukaan rekening deposito dilakukan atas nama pribadi/perorangan.</li>
                            <li>Melakukan setoran awal.</li>
                            <li>Mengisi data penunjukan ahli waris pada formulir, yang telah disediakan pihak Bank
                                Sulselbar.</li>
                        </ol>

                        <h4>Non Perorangan</h4>
                        <ol>
                            <li>Fotokopi KTP/SIM/Paspor/KITAS/KITAP dari Pengurus perusahaan yang masih berlaku.</li>
                            <li>Anggaran Dasar (AD)/Anggaran Rumah Tangga (ART)/Akta Pendirian dan Akta Perubahan.</li>
                            <li>Pengesahan Menteri Kehakiman. Khusus untuk CV dan Yayasan, AD/ART yang telah didaftarkan
                                di Pengadilan Negeri setempat.</li>
                            <li>Izin Usaha (SIUP, SITU, TDP, Surat Keterangan Domisili Perusahaan dan izin-izin lain
                                yang berkaitan dengan bidang usahanya) beserta stempel perusahaan.</li>
                            <li>Dokumen identitas pihak-pihak yang ditunjuk, bertindak dan atas nama perusahaan
                                dibuktikan dengan Surat Kuasa bermaterai cukup dari Direksi dan/atau hasil Rapat Umum
                                Pemegang Saham (RUPS).</li>
                            <li>NPWP dan dokumen pendukung lainnya (asli) yang sah, surat kuasa penunjukan pengelolaan
                                rekening dan bukti identitas diri pemberi dan penerima kuasa.</li>
                        </ol>

                    </article>
                    <!-- s: cta -->
                    {{>cta mt="40"}}
                    <!-- e: cta -->
                </div>
            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>