<!DOCTYPE html>
<html lang="en">

{{> head page="product"}}

<body>

    {{> header/header page="Produk" fixed=true}}

    <main role="main" class="main pageSub">
        <!-- s: caption -->
        {{>caption title="Produk"}}
        <!-- e: caption -->
        <div class="container">
            <div class="row">
                <sidebar class="col-auto sidebarMenu desktop-only mt30">
                    {{>sidebar/product channel=mainMenu index_start="1" index_end="2" page="Bancassurance"}}
                </sidebar>
                <div class="col-auto pageInit mt30">
                    <!-- s: breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumbItem">Home</li>
                        <li class="breadcrumbItem">Produk</li>
                        <li class="breadcrumbItem">Produk Proteksi</li>
                        <li class="breadcrumbItem">Bancassurance</li>
                    </ul>
                    <!-- e: breadcrumb -->
                    <article class="article mt30">
                        <h2 class="titleH1">Bancassurance</h2>
                        <p>
                            Bancassurance adalah kerjasama strategis antara bank dan perusahaan asuransi, di mana bank
                            menjadi channel untuk memasarkan produk asuransi milik rekanan.
                        </p>
                        <div class="titleH3 mt30">Jenis-Jenis Produk Asuransi</div>
                        <ol class="customCounter">
                            <li>
                                <div class="titleH5">Asuransi Jiwa Kredit</div>
                                <ul>
                                    <li>Menjamin sisa pinjaman jika debitur meninggal sebelum lunas.</li>
                                    <li>Umum dijual bersamaan dengan KPR atau kredit multiguna.</li>
                                </ul>

                            </li>
                            <li>
                                <div class="titleH5">Asuransi Jiwa Individu</div>
                                <ul>
                                    <li>Melindungi tertanggung selama masa jatuh tempo asuransi.</li>
                                    <li>Ada yang berbasis konvensional (tradisional) dan unit-link (investasi +
                                        proteksi).</li>
                                </ul>

                            </li>
                            <li>
                                <div class="titleH5">Asuransi Kesehatan/Rawat Inap</div>
                                <ul>
                                    <li>Menanggung biaya rumah sakit atau medical check-up.
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <div class="titleH5">Asuransi Syariah (Sukuk Kredit/Dana Tabungan)</div>
                                <ul>
                                    <li>Produk asuransi berbasis prinsip syariah (akad ijarah/takaful).</li>
                                </ul>

                            </li>
                        </ol>
                        <div class="titleH3 mt30">Mitra Asuransi Bancassurance Bank Sulselbar</div>
                        <p class="titleH5">CAR Life Insurance</p>
                        <ul>
                            <li>Kerjasama untuk Asuransi Jiwa Kredit sejak 21 November 2024.</li>
                            <li>Produk: Menanggung sisa kredit jika debitur meninggal.</li>
                            <li>Umumnya mencakup KPR, kredit multiguna, dan lainnya.</li>
                        </ul>
                        <p class="titleH5">IFG Life (Asuransi Jiwa IFG)</p>
                        <ul>
                            <li>Sinergi sejak Desember 2024 untuk memasarkan Asuransi Jiwa Kredit.</li>
                            <li>Fokus produk: Perlindungan jiwa untuk debitur KPR dan kredit multiguna.</li>
                            <li>Tersedia juga produk asuransi kesehatan komprehensif.</li>
                        </ul>
                        <div class="titleH3 mt30">Spesifikasi Produk Bancassurance Bank Sulselbar</div>
                        <div class="articleTableResponsive">
                            <table class="articleTable" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <th class="nowrap">Mitra Asuransi</th>
                                        <th class="text-left">Jenis Produk</th>
                                        <th class="text-left">Manfaat Utama</th>
                                        <th>Cara Kerja</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>CAR Life</td>
                                        <td>Asuransi Jiwa Kredit</td>
                                        <td>Proteksi sisa pinjaman jika debitur meninggal</td>
                                        <td>Bayar premi sekali saat kredit; jika meninggal, asuransi lunasi sisa hutang
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IFG Life</td>
                                        <td>Asuransi Jiwa Kredit & Kesehatan</td>
                                        <td>Perlindungan jiwa + opsi kesehatan Komprehensif</td>
                                        <td>Produk untuk debitur KPR/multiguna; premi sesuai profil & kredit</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </article>
                    <!-- s: cta -->
                    {{>cta}}
                    <!-- e: cta -->
                </div>
            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>