<!DOCTYPE html>
<html lang="en">

{{> head page="product"}}

<body>

    {{> header/header page="Produk" fixed=true}}

    <main role="main" class="main pageSub">
        <!-- s: caption -->
        {{>caption title="Produk"}}
        <!-- e: caption -->
        <div class="container">
            <div class="row">
                <sidebar class="col-auto sidebarMenu desktop-only mt30">
                    {{>sidebar/product channel=mainMenu index_start="1" index_end="2" page="SBN Pasar Perdana"}}
                </sidebar>
                <div class="col-auto pageInit mt30">
                    <!-- s: breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumbItem">Home</li>
                        <li class="breadcrumbItem">Produk</li>
                        <li class="breadcrumbItem">Produk Investasi</li>
                        <li class="breadcrumbItem">SBN Pasar Perdana</li>
                    </ul>
                    <!-- e: breadcrumb -->
                    <article class="article mt30">
                        <h2 class="titleH1">SBN Pasar Perdana</h2>
                        <p>
                            SBN Pasar Perdana (Surat Berharga Negara Pasar Perdana) adalah instrumen investasi berupa
                            surat utang yang diterbitkan oleh Pemerintah Republik Indonesia dan ditawarkan langsung
                            kepada masyarakat (perorangan) untuk dibeli dalam masa penawaran awal (masa penjualan
                            pertama kali). Istilah 'pasar perdana' berarti investor membeli langsung dari pemerintah,
                            bukan dari investor lain seperti di pasar sekunder.</p>
                        <p>Investasi dalam SBN pasar perdana menjadi salah satu cara masyarakat mendukung pembiayaan
                            negara, dan sebagai imbalannya, investor akan mendapatkan kupon atau imbal hasil secara
                            berkala sesuai dengan ketentuan masing-masing jenis SBN.
                        </p>
                        <div class="titleH3 mt30">Jenis-Jenis SBN Ritel yang Ditawarkan di Pasar Perdana</div>
                        <ol class="customCounter">
                            <li>
                                <div class="titleH5">SBR (Savings Bond Ritel)</div>
                                <ul>
                                    <li>Sifat: <em>Non-tradable</em> (tidak bisa diperdagangkan di pasar sekunder)
                                    </li>
                                    <li>Kupon: Mengambang dengan kupon minimal (<em>floating with floor</em>)</li>
                                    <li>Tenor: Biasanya 2 tahun</li>
                                    <li>
                                        Cocok untuk: Investor yang ingin fleksibilitas pencairan sebagian melalui
                                        <em>early redemption</em> dan tidak ingin repot jual beli di pasar
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="titleH5">ORI (Obligasi Ritel Indonesia)</div>
                                <ul>
                                    <li>Sifat: <em>Tradable</em> (bisa diperdagangkan di pasar sekunder)</li>
                                    <li>Kupon: <em>Fixed rate</em> selama masa berlaku</li>
                                    <li>Tenor: Umumnya 3 tahun</li>
                                    <li>Cocok untuk: Investor yang ingin opsi menjual sebelum jatuh tempo di pasar
                                        sekunder</li>
                                </ul>

                            </li>
                            <li>
                                <div class="titleH5">SR (Sukuk Ritel)</div>
                                <ul>
                                    <li>Sifat: <em>Tradable</em> (bisa diperdagangkan di pasar sekunder)</li>
                                    <li>Kupon: Tetap (<em>fixed rate</em>), berbasis prinsip syariah (akad ijarah –
                                        sewa)</li>
                                    <li>Tenor: Umumnya 3 tahun</li>
                                    <li>Cocok untuk: Investor Muslim atau yang ingin investasi berbasis prinsip syariah
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <div class="titleH5">ST (Sukuk Tabungan)</div>
                                <ul>
                                    <li>Sifat: <em>Non-tradable</em> (tidak bisa diperdagangkan)</li>
                                    <li>Kupon: Mengambang dengan kupon minimal (<em>floating with floor</em>),
                                        menggunakan prinsip syariah</li>
                                    <li>Tenor: Umumnya 2 tahun</li>
                                    <li>Cocok untuk: Investor syariah yang ingin investasi langsung ke pemerintah dengan
                                        fleksibilitas <em>early redemption</em></li>
                                </ul>

                            </li>
                        </ol>
                        <div class="titleH5">Keuntungan Investasi di SBN Pasar Perdana:</div>
                        <ul>
                            <li>Aman: Dijamin oleh negara</li>
                            <li>Imbal hasil lebih tinggi dari deposito</li>
                            <li>Ramah pemula: Bisa mulai dari Rp1 juta</li>
                            <li>Pajak lebih rendah: Hanya 10% (lebih rendah dari deposito yang 20%)</li>
                            <li>Kontribusi nyata: Membantu pembangunan negara</li>
                        </ul>
                        <div class="titleH3 mt30">Kesimpulan:</div>
                        <div class="articleTableResponsive">
                            <table class="articleTable" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <th>Jenis SBN</th>
                                        <th>Tradable</th>
                                        <th class="text-left">Kupon</th>
                                        <th class="text-left" style="min-width: 225px;">Prinsip</th>
                                        <th class="nowrap">Tenor Umum</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>SBR</td>
                                        <td>Tidak</td>
                                        <td>Floating</td>
                                        <td>Konvensional</td>
                                        <td class="text-right">2 tahun</td>
                                    </tr>
                                    <tr>
                                        <td>ORI</td>
                                        <td>Ya</td>
                                        <td>Fixed</td>
                                        <td>Konvensional</td>
                                        <td class="text-right">3 tahun</td>
                                    </tr>
                                    <tr>
                                        <td>SR</td>
                                        <td>Ya</td>
                                        <td>Fixed</td>
                                        <td>Syariah</td>
                                        <td class="text-right">3 tahun</td>
                                    </tr>
                                    <tr>
                                        <td>ST</td>
                                        <td>Tidak</td>
                                        <td>Floating</td>
                                        <td>Syariah</td>
                                        <td class="text-right">2 tahun</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </article>
                    <!-- s: cta -->
                    {{>cta}}
                    <!-- e: cta -->
                </div>
            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>