<!DOCTYPE html>
<html lang="en">

{{> head page="read"}}

<body>

    {{> header/header page="Program" fixed=true}}

    <main role="main" class="main pageSub read">
        <!-- s: caption -->
        {{>caption title="Program"}}
        <!-- e: caption -->
        <div class="container">
            <div class="row">
                <div class="readCol col-lg-9 col-xl-8 mx-auto mt30">
                    <!-- s: breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumbItem">Home</li>
                        <li class="breadcrumbItem">Program</li>
                        <li class="breadcrumbItem">Member Get Member</li>
                    </ul>
                    <!-- e: breadcrumb -->
                    <article class="article mt30">
                        <h2>Member Get Member</h2>
                        <p>
                            <img src="./asset/images/dummy/program-1-content.png" alt="" width="690" height="460">
                        </p>
                        <p>
                            Nikmati layanan eksklusif dari lounge dan ruang pertemuan yang tersedia di Priority Banking
                            Centre. Di sini, Anda akan menemukan berbagai fasilitas yang dirancang khusus untuk memenuhi
                            kebutuhan nasabah prioritas. Tersedia juga ruang pertemuan yang nyaman dan lounge eksklusif
                            untuk transaksi, yang memberikan suasana tenang dan profesional untuk konsultasi keuangan.
                            Kami berkomitmen untuk memberikan pengalaman yang tak tertandingi, dengan staf yang siap
                            membantu Anda dalam merencanakan masa depan keuangan Anda dengan lebih baik.
                        </p>
                        <p><img src="./asset/images/dummy/program-1-desc.png" alt="" width="690" height="1382"></p>
                        <h3>Syarat dan Ketentuan</h3>
                        <ol class="articleCheck">
                            <li>
                                Nikmati layanan eksklusif dari lounge dan ruang pertemuan yang tersedia di Priority
                                Banking Centre. Di sini, Anda akan menemukan berbagai fasilitas yang dirancang khusus
                                untuk memenuhi kebutuhan nasabah prioritas. </li>
                            <li>Tersedia juga ruang pertemuan yang nyaman dan lounge eksklusif untuk transaksi, yang
                                memberikan suasana tenang dan profesional untuk konsultasi keuangan. </li>
                            <li>Kami berkomitmen untuk memberikan pengalaman yang tak tertandingi, dengan staf yang siap
                                membantu Anda dalam merencanakan masa depan keuangan Anda dengan lebih baik. </li>
                            </li>
                        </ol>
                        <p>Nikmati layanan eksklusif dari lounge dan ruang pertemuan yang tersedia di Priority Banking
                            Centre. Di sini, Anda akan menemukan berbagai fasilitas yang dirancang khusus untuk memenuhi
                            kebutuhan nasabah prioritas. Tersedia juga ruang pertemuan yang nyaman dan lounge eksklusif
                            untuk transaksi, yang memberikan suasana tenang dan profesional untuk konsultasi keuangan.
                            Kami berkomitmen untuk memberikan pengalaman yang tak tertandingi, dengan staf yang siap
                            membantu Anda dalam merencanakan masa depan keuangan Anda dengan lebih baik. </p>
                    </article>
                    <!-- s: cta -->
                    {{>cta mt="40"}}
                    <!-- e: cta -->
                </div>
            </div>

            <h2 class="titleH2 text-center mt50">Other Program</h2>
            <div class="programList row">
                {{>program channel=program col="col-6 col-lg-4" index_start="3" index_end="6" tag="h3" mt="15"}}

            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>