<!DOCTYPE html>
<html lang="en">

{{> head page="read"}}

<body>

    {{> header/header page="Promosi" fixed=true}}

    <main role="main" class="main pageSub read">
        <!-- s: caption -->
        {{>caption title="Promosi"}}
        <!-- e: caption -->
        <div class="container">
            <div class="row">
                <div class="readCol col-lg-9 col-xl-8 mx-auto mt30">
                    <!-- s: breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumbItem">Home</li>
                        <li class="breadcrumbItem">Promosi</li>
                        <li class="breadcrumbItem">Diskon Hingga 30% di Rumah Makan Losari Makassar</li>
                    </ul>
                    <!-- e: breadcrumb -->
                    <article class="article mt30">
                        <h2>Diskon Hingga 30% di Rumah Makan Losari Makassar</h2>
                        <h5>Food & Beverages</h5>
                        <p>
                            <img src="./asset/images/dummy/promo-1-content.png" alt="" width="690" height="460">
                        </p>
                        <p>
                            Nikmati layanan eksklusif dari lounge dan ruang pertemuan yang tersedia di Priority Banking
                            Centre. Di sini, Anda akan menemukan berbagai fasilitas yang dirancang khusus untuk memenuhi
                            kebutuhan nasabah prioritas. Tersedia juga ruang pertemuan yang nyaman dan lounge eksklusif
                            untuk transaksi, yang memberikan suasana tenang dan profesional untuk konsultasi keuangan.
                            Kami berkomitmen untuk memberikan pengalaman yang tak tertandingi, dengan staf yang siap
                            membantu Anda dalam merencanakan masa depan keuangan Anda dengan lebih baik.
                        </p>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <td valign="top" nowrap>Periode promo</td>
                                    <td valign="top" nowrap>Lokasi</td>
                                    <td valign="top" nowrap>Benefit</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>28 Februari 2025 – 28 Februari 2026</td>
                                    <td>Makassar</td>
                                    <td>Diskon 30%</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3>Syarat dan Ketentuan</h3>
                        <ol class="articleCheck">
                            <li>
                                Diskon berlaku untuk pembelian menu makanan dan minuman (tidak termasuk menu promo,
                                buffet dan menu alkohol).</li>
                            <li>Minimum pembelian per transaksi Rp350.000,- dan maksimum diskon Rp300.000,- sebelum
                                pajak dan service charge, tidak berlaku kelipatan dan split bill.</li>
                            <li>Berlaku untuk satu kali transkasi pembelanjaan satu Kartu Debit Priority/hari.</li>
                        </ol>
                    </article>
                    <!-- s: cta -->
                    {{>cta mt="40"}}
                    <!-- e: cta -->
                </div>
            </div>

            <h2 class="titleH2 text-center mt50">Other Promo</h2>
            <div class="promoList row">
                {{>promo channel=promo col="col-6 col-lg-4" index_start="5" index_end="8" tag="h3" mt="15"}}

            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>