<!DOCTYPE html>
<html lang="en">

{{> head page="subpage"}}

<body>

    {{> header/header page="Promosi" fixed=true}}

    <main role="main" class="main pageSub">
        <!-- s: caption -->
        {{>caption title="Promosi"}}
        <!-- e: caption -->
        <div class="container promo">
            <div class="promoList row">
                {{>promo channel=promo col="col-6 col-lg-4" index_start="0" index_end="12" tag="h2" mt="30"}}

            </div>
            {{>paging}}

        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>