<!DOCTYPE html>
<html lang="en">

{{> head page="subpage"}}

<body>

    {{> header/header page="Publikasi" fixed=true}}

    <main role="main" class="main pageSub">
        <!-- s: caption -->
        {{>caption title="Publikasi"}}
        <!-- e: caption -->
        <div class="container magz">
            <!-- s: breadcrumb -->
            <ul class="breadcrumb mt30">
                <li class="breadcrumbItem">Home</li>
                <li class="breadcrumbItem">Publikasi</li>
            </ul>
            <!-- e: breadcrumb -->
            <div class="titleHead mt15">
                <h2 class="titleH4">Edisi 02</h2>
                <a href="publikasi.html" class="titleP3 titleP3Bold">See all <span class="ico icoArrow"></span></a>
                <div class="mt30">
                    <img src="./asset/images/dummy/magz-read.png" alt="">
                </div>
            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>