<!DOCTYPE html>
<html lang="en">

{{> head page="subpage"}}

<body>

    {{> header/header page="Publikasi" fixed=true}}

    <main role="main" class="main pageSub">
        <!-- s: caption -->
        {{>caption title="Publikasi"}}
        <!-- e: caption -->
        <div class="container magz">
            <!-- s: breadcrumb -->
            <ul class="breadcrumb mt30">
                <li class="breadcrumbItem">Home</li>
                <li class="breadcrumbItem">Publikasi</li>
            </ul>
            <!-- e: breadcrumb -->
            <div class="magzList row">
                {{>magz channel=magz col="col-6 col-lg-3" index_start="0" index_end="7" tag="h2" mt="15"}}

            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>