<!DOCTYPE html>
<html lang="en">

{{> head page="reg" datepicker=true}}

<body>

    {{> header/header page="" fixed=true}}

    <main role="main" class="main pageSub reg">
        <!-- s: caption -->
        {{>caption title="Registrasi Layanan Saoraja Priority"}}
        <!-- e: caption -->
        <div class="container p-lg">
            <div class="col-lg-8 mx-auto">
                <!-- s: breadcrumb -->
                <ul class="breadcrumb mt30">
                    <li class="breadcrumbItem">Home</li>
                    <li class="breadcrumbItem">Registrasi Layanan Saoraja Priority</li>
                </ul>
                <!-- e: breadcrumb -->
                <div class="titleH1 mt30">Daftarkan Diri Anda </div>
                <p>Silakan isi formulir dengan data yang valid untuk menikmati layanan Prioritas dari kami. Data Anda
                    aman
                    bersama kami dan tidak akan dibagikan tanpa izin.</p>
                <form class="form regForm mt30" action="success.html">
                    <div class="formRow">
                        <label for="reg" class="formLabel titleH4">Nama Lengkap<span class="required">*</span></label>
                        <input class="formInput mt15" type="text" name="reg" id="reg"
                            placeholder="Masukkan nama lengkap Anda" required>
                        <div class="required">*This field is required.</div>
                    </div>
                    <div class="formRow row">
                        <div class="formCol col-lg-6">
                            <label class="formLabel titleH4" for="phone">Nomor Telepon<span
                                    class="required">*</span></label>
                            <input type="text" class="formInput" name="phone" id="phone"
                                placeholder="Masukkan nomor telepon" inputmode="numeric" required="">
                            <div class="required">*This field is required.</div>
                        </div>
                        <div class="formCol col-lg-6">
                            <label class="formLabel titleH4" for="mail">Email<span class="required">*</span></label>
                            <input type="email" class="formInput" name="mail" id="mail"
                                placeholder="Masukkan alamat email" required="">
                            <div class="required">*This field is required.</div>
                        </div>
                    </div>
                    <div class="formRow row">
                        <div class="formCol formCal col-lg-6">
                            <label class="formLabel titleH4" for="birth">Tanggal Lahir<span
                                    class="required">*</span></label>
                            <input type="text" class="formInput" name="birth" id="birth" placeholder="dd/mm/yyyy"
                                required="">
                            <span class="ico icoCal"></span>
                            <div class="required">*This field is required.</div>
                        </div>
                        <div class="formCol col-lg-6">
                            <div class="formLabel titleH4">Jenis Kelamin<span class="required">*</span></div>
                            <div class="formRadioWrap mt30">
                                <div>
                                    <label class="formRadioLabel" for="jk1">
                                        <input type="radio" id="jk1" class="formRadio" name="jk" checked>
                                        <span>Laki-laki</span></label>
                                </div>
                                <div>
                                    <label class="formRadioLabel" for="jk2">
                                        <input type="radio" id="jk2" class="formRadio" name="jk">
                                        <span>Perempuan</span></label>
                                </div>
                            </div>
                            <div class="required">*This field is required.</div>
                        </div>
                    </div>
                    <div class="formRow">
                        <label for="addr" class="titleH4">Alamat<span class="required">*</span></label>
                        <textarea class="formArea mt15" name="addr" id="addr" placeholder="Masukkan alamat Anda"
                            column="3" required></textarea>
                        <div class="required">*This field is required.</div>
                    </div>
                    <div class="formRow formCheckWrap mt30">
                        <input type="checkbox" id="agree1" class="formCheck">
                        <label for="agree1">Saya menyetujui penggunaan data pribadi saya untuk menerima
                            informasi produk, layanan, dan promosi dari Bank Sulselbar Saoraja Priority.</label>
                    </div>
                    <div class="formRow formCheckWrap mt15">
                        <input type="checkbox" id="agree2" class="formCheck" required="">
                        <label for="agree2">Saya telah membaca dan menyetujui <a href="#" class="underline">Syarat &
                                Ketentuan Nasabah Prioritas</a></label>
                    </div>
                    <button type="submit" class="button buttonPrimary mt30">Kirim</button>
                </form>
            </div>
        </div>
    </main>

    {{> footer/footer contact=false}}

    {{> js datepicker=true}}
    <script>
        const datepicker = new AirDatepicker('#birth', {
            isMobile: window.innerWidth <= 768,
            autoClose: true,
            locale: {
                days: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
                daysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
                daysMin: ['Mg', 'Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sb'],
                months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni',
                    'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
                monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun',
                    'Jul', 'Agu', 'Sep', 'Okt', 'Nov', 'Des'],
                today: 'Hari ini',
                clear: 'Bersihkan',
                dateFormat: 'dd-MM-yyyy',
                timeFormat: 'hh:mm aa',
                firstDay: 1
            }
        });
    </script>


</body>

</html>