<!DOCTYPE html>
<html lang="en">

{{> head page="subpage"}}

<body>

    {{> header/header page="" fixed=true}}

    <main role="main" class="main pageSub search">
        <div class="searchBg bg-img">
            <img src="./asset/images/bg-subpage-full.jpg" alt="" width="1440" height="523">
        </div>
        <div class="container searchWrap center-flex text-center mt40">
            <form class="searchForm col-lg-8 mx-auto" action="search-result.html">
                <label for="search" class="formLabel titleH1">Find here anything</label>
                <input class="formInput formInputTrans" type="text" name="search" id="search" placeholder="Type here">
                <span></span>
                <div class="search404 ptb30">
                    <img src="./asset/images/search-404.png" alt="" width="180" height="180">
                    <h1 class="titleH6 text-center mt30"><strong>Hasil Tidak Ditemukan.</strong></h1>
                    <div class="titleH6 text-center">Maaf, kami tidak menemukan hasil untuk pencarian Anda. <br> Silakan
                        coba
                        dengan kata kunci lain.</div>
                </div>
            </form>

        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>