<!DOCTYPE html>
<html lang="en">

{{> head page="read"}}

<body>

    {{> header/header page="Tentang Kami" fixed=true}}

    <main role="main" class="main pageSub read">
        <!-- s: caption -->
        {{>caption title="Tentang Kami"}}
        <!-- e: caption -->
        <div class="container">
            <div class="row">
                <div class="readCol col-lg-9 col-xl-8 mx-auto mt30">
                    <!-- s: breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumbItem">Home</li>
                        <li class="breadcrumbItem">Tentang Kami</li>
                    </ul>
                    <!-- e: breadcrumb -->
                    <article class="article mt30">
                        <h2>Saoraja Priority</h2>
                        <p>
                            <img src="./asset/images/about-us.png" alt="" width="690" height="370">
                        </p>
                        <p>
                            Bank Sulselbar Saoraja Priority adalah layanan eksklusif yang dirancang untuk memenuhi
                            kebutuhan finansial Anda secara menyeluruh. Kami menyadari bahwa setiap individu memiliki
                            prioritas yang berbeda dalam hidup, dan kami berkomitmen untuk memahami tujuan serta impian
                            unik setiap nasabah. Dengan pendekatan yang personal, kami siap membantu Anda merencanakan
                            keuangan dengan lebih baik.</p>
                        <p>Layanan kami mencakup konsultasi perencanaan keuangan yang mendalam, strategi investasi yang
                            cerdas, dan perlindungan yang tepat untuk masa depan Anda. Kami berusaha menjadi mitra
                            terpercaya bagi setiap nasabah istimewa kami, membantu mereka mencapai tujuan keuangan
                            dengan solusi yang komprehensif dan sesuai dengan kebutuhan masing-masing.
                        </p>

                        <!-- s: cta -->
                        {{>cta mt="15"}}
                        <!-- e: cta -->

                        <h3>Persyaratan Umum</h3>
                        <ol class="articleCheck">
                            <li>Telah memiliki rekening simpanan PT Bank Sulselbar</li>
                            <li>Syarat minimal AUM (asset under management) Rp 500.000.000,- (lima ratus juta rupiah),
                                gabungan dalam bentuk tabungan, giro, deposito hingga surat berharga negara yang
                                penempatannya diperoleh melalui PT Bank Sulselbar.</li>
                            <li>Tidak termasuk dalam Daftar Hitam Nasional (DHN)</li>
                            <li>Tidak termasuk <em>negative list</em> target pasar nasabah Priority Banking Bank
                                Sulselbar yaitu, yang berusaha di bidang perdagangan senjata, perdagangan obat
                                terlarang, perdagangan manusia, <em>illegal logging</em>, dan bidang-bidang lainnya yang
                                tidak sesuai dengan prinsip-prinsip kesusilaan dan kelestarian alam.</li>
                        </ol>

                        <h3>Fasilitas & Layanan</h3>
                        <h4>Relationship Manager</h4>
                        Khusus didedikasikan untuk membantu kebutuhan transaksi perbankan dan perencanaan
                        keuangan nasabah prioritas secara personal.

                        <h4>Welcome Gift</h4>
                        Paket eksklusif berupa Priority Booklet, Souvenir, dan Kartu Debit Bank Sulselbar
                        Saoraja Priority yang diserahkan di awal keanggotaan sebagai nasabah Bank Sulselbar
                        Saoraja Priority.

                        <h4>Special Gift</h4>
                        Apresiasi khusus kepada setiap nasabah Bank Sulselbar Saoraja Priority yang merayakan
                        Hari Ulang Tahun dan Hari Raya Keagamaan.

                        <h4>Saoraja Priority Lounge</h4>
                        Nikmati layanan exclusive lounge dan meeting room yang ada di Priority Banking Centre.
                        Tersedia juga meeting room, lounge exclusive transaction room yang nyaman untuk
                        konsultasi keuangan nasabah prioritas.

                        <h4>Airport Executive Lounge</h4>
                        Untuk kenyamanan aktifitas penerbangan para nasabah Bank Sulselbar Saoraja Priority di
                        bandara domestik maupun internasional yang tersebar di seluruh Indonesia.

                        <h4>Sulselbar Airport Handling by JOUMPA</h4>
                        Layanan penanganan perjalanan di Bandar Udara/ Airport yang memudahkan para nasabah Bank
                        Sulselbar Saoraja Priority dalam proses check-in hingga boarding di atas pesawat.

                        <h4>Medical Privilege</h4>
                        Fasilitas kemudahan bagi nasabah yang membutuhkan penanganan dan pemeriksaan kesehatan
                        dengan pemberian special price.

                        <h4>Education Privilege</h4>
                        Fasilitas kemudahan bagi nasabah yang membutuhkan informasi dan kebutuhan sarana
                        pendidikan yang mendukung kebutuhan pendidikan bagi keluarga nasabah Bank Sulselbar
                        Saoraja Priority.

                        <h4>Lifestyle Privilege</h4>
                        Fasilitas kemudahan bagi nasabah untuk mendukung gaya hidup nasabah Bank Sulselbar
                        Saoraja Priority berupa entertainment dan food beverage, merchant kerjasama Bank
                        Sulselbar.


                        <h3>Informasi Tambahan</h3>
                        <ol>
                            <li>Bank Sulselbar berhak untuk menolak pembukaan keanggotaan Bank Sulselbar Saoraja
                                Priority antara lain jika nasabah tidak memenuhi persyaratan nasabah segmentasi
                                prioritas.</li>
                            <li>Buku tabungan, kartu ATM dan Informasi Personal Identification Number (PIN) terkait
                                layanan ATM /Debit merupakan tanggung jawab nasabah.</li>
                        </ol>
                    </article>
                </div>
            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>