<!DOCTYPE html>
<html lang="en">

{{> head page="tools"}}

<body>

    {{> header/header page="" fixed=true}}

    <main role="main" class="main pageSub tools">
        <!-- s: caption -->
        {{>caption title="Pertanggungan Asuransi"}}
        <!-- e: caption -->
        <div class="container p-lg">
            <div class="col-lg-8 mx-auto">
                <!-- s: breadcrumb -->
                <ul class="breadcrumb mt30">
                    <li class="breadcrumbItem">Home</li>
                    <li class="breadcrumbItem">Pertanggungan Asuransi</li>
                </ul>
                <!-- e: breadcrumb -->
                <div class="titleH1 mt30">Hitung Pertanggungan Asuransi</div>
                <p>Lorem ipsum dolor sit amet consectetur. Augue viverra malesuada urna ridiculus.</p>
                <form class="form regForm mt30" id="tools">
                    <div class="formRow">
                        <span class="formPlace --left">Rp</span>
                        <label for="monthly" class="formLabel titleH4">Pengeluaran Bulanan<span
                                class="required">*</span>{{> form-info}}</label>
                        <input class="formInput mt15" type="text" inputmode="numeric" name="monthly" id="monthly"
                            placeholder="0">
                    </div>
                    <div class="formRow">
                        <span class="formPlace --left">Rp</span>
                        <label for="yearly" class="formLabel titleH4">Pengeluaran Tahunan<span
                                class="required">*</span>{{> form-info}}</label>
                        <input class="formInput mt15" type="text" inputmode="numeric" name="yearly" id="yearly"
                            placeholder="0">
                    </div>
                    <div class="formRow">
                        <span class="formPlace --right">Tahun</span>
                        <label for="periode" class="formLabel titleH4">Masa Perlindungan Keluarga<span
                                class="required">*</span>{{> form-info}}</label>
                        <input class="formInput mt15" type="text" inputmode="numeric" name="periode" id="periode"
                            placeholder="0">
                    </div>
                    <div class="formRow formRange">
                        <div class="titleHead">
                            <label for="periode" class="formLabel titleH4">Asumsi Imbal Investasi<span
                                    class="required">*</span>{{> form-info}}</label>
                            <div class="titleH6"><strong><span id="rangeValue">0%</span></strong></div>
                        </div>
                        <div class="formRangeWrap mt15">
                            <div class="formRangeSlider">
                                <div class="formRangeProgress"></div>
                            </div>
                            <input type="range" min="0" max="10" value="0" step="0.1" class="formRangeInput">
                        </div>
                    </div>
                    <div class="formRow row mt40">
                        <div class="col-auto">
                            <button type="button" class="button buttonGradient"
                                onclick="resetSlider()"><span>Reset</span>
                            </button>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="button buttonPrimary">Hitung
                            </button>
                        </div>
                    </div>
                    <div class="toolsResultTitle titleH4 mt40">
                        <div class="toolsImg">
                            <img src="./asset/images/icon/tools-asuransi.png" alt="" width="80" height="80"
                                loading="lazy">
                        </div>
                        Kebutuhan Uang Pertanggungan
                    </div>
                    <div class="toolsResult mt15">
                        <div class="toolsBg bg-img">
                            <img src="./asset/images/bg-subpage.jpg" alt="" width="690" height="96" loading="lazy">
                        </div>
                        <div class="toolsContent titleH2">Rp<span>0</span></div>
                    </div>
                    <div class="toolsResultInfo mt15">
                        <span class="formInfo"></span>
                        Penghitungan ini menggunakan metode <em>Human Life Value Based</em>. Hasil yang diberikan oleh
                        kalkulator ini hanya bersifat perkiraan.
                    </div>
                </form>
            </div>
        </div>
    </main>

    {{> footer/footer}}
    {{> js tooltip=true}}
    <script>
        const rangeInput = document.querySelector('.formRangeInput');
        const progressBar = document.querySelector('.formRangeProgress');
        const rangeValue = document.getElementById('rangeValue');

        function updateSlider() {
            let value = parseFloat(rangeInput.value);
            let percent = (value / rangeInput.max) * 100;
            progressBar.style.width = percent + '%';
            rangeValue.textContent = (value % 1 === 0 ? value.toFixed(0) : value) + '%';
        }

        rangeInput.addEventListener('input', updateSlider);
        updateSlider();

        function resetSlider() {
            const form = document.getElementById('tools');
            form.reset();

            const range = form.querySelector('.formRangeInput');
            range.dispatchEvent(new Event('input'));
        }
    </script>


</body>

</html>