<!DOCTYPE html>
<html lang="en">

{{> head page="tools"}}

<body>

    {{> header/header page="" fixed=true}}

    <main role="main" class="main pageSub tools">
        <!-- s: caption -->
        {{>caption title="Kupon Obligasi"}}
        <!-- e: caption -->
        <div class="container p-lg">
            <div class="col-lg-8 mx-auto">
                <!-- s: breadcrumb -->
                <ul class="breadcrumb mt30">
                    <li class="breadcrumbItem">Home</li>
                    <li class="breadcrumbItem">Kupon Obligasi</li>
                </ul>
                <!-- e: breadcrumb -->
                <div class="titleH1 mt30">Simulasi Nilai Hasil Investasi Obligasi</div>
                <p>Lorem ipsum dolor sit amet consectetur. Augue viverra malesuada urna ridiculus.</p>
                <form class="form regForm mt30" id="tools">
                    <div class="formRow">
                        <span class="formPlace --left">Rp</span>
                        <label for="fund" class="formLabel titleH4">Nilai Dana Investasi Awal<span
                                class="required">*</span>{{> form-info}}</label>
                        <input class="formInput mt15" type="text" inputmode="numeric" name="fund" id="fund"
                            placeholder="0">
                    </div>
                    <div class="formRow">
                        <span class="formPlace --right">%</span>
                        <label for="coupon" class="formLabel titleH4">Kupon<span class="required">*</span>{{> form-info}}</label>
                        <input class="formInput mt15" type="text" inputmode="numeric" name="coupon" id="coupon"
                            placeholder="0">
                    </div>
                    <div class="formRow">
                        <span class="formPlace --right">Tahun</span>
                        <label for="periode" class="formLabel titleH4">Jangka Waktu<span class="required">*</span>{{> form-info}}</label>
                        <input class="formInput mt15" type="text" inputmode="numeric" name="periode" id="periode"
                            placeholder="0">
                    </div>
                    <div class="formRow row mt40">
                        <div class="col-auto">
                            <button type="button" class="button buttonGradient"
                                onclick="document.getElementById('tools').reset()"><span>Reset</span>
                            </button>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="button buttonPrimary">Hitung
                            </button>
                        </div>
                    </div>
                    <div class="toolsResultTitle titleH4 mt40">
                        <div class="toolsImg">
                            <img src="./asset/images/icon/tools-obligasi.png" alt="" width="80" height="80"
                                loading="lazy">
                        </div>
                        Imbal Hasil
                    </div>
                    <div class="toolsResult mt15">
                        <div class="toolsBg bg-img">
                            <img src="./asset/images/bg-subpage.jpg" alt="" width="690" height="96" loading="lazy">
                        </div>
                        <div class="toolsContent titleH2">Rp<span>0</span></div>
                    </div>
                    <div class="toolsResultInfo mt15">
                        <span class="formInfo"></span>
                        Hasil yang diberikan oleh kalkulator ini hanya bersifat perkiraan dan tidak dapat dianggap
                        sebagai rekomendasi investasi
                    </div>
                </form>
            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js tooltip=true}}


</body>

</html>