<!DOCTYPE html>
<html lang="en">

{{> head page="tarif" child=true}}

<body>
    <main role="main" class="tarif">
        {{!> header/header}}

        <!-- preloader -->
        {{> preloader-tarif}}
        <!-- preloader -->

        <div class="bgStatic bgStatic--warn">
            <div class="articleContent text-center">
                For better experience, rotate your screen or switch to bigger screen.
            </div>
        </div>

        <!-- Template Background Color -->
        <div class="bgColor__wrap">
            <div class="bgColor bgColor__blue"></div>
        </div>
        <!-- Template Background Color -->
        <!-- Template Image Content -->
        <div class="bgStatic__wrap active">
            <div class="bgStatic">
                <div class="tarifContainer heightFull">
                    <div class="tarifWrap center-flex container">
                        <div class="articleContent">
                            <h1 class="articleCaption">Nikmati Tarif dan Biaya Khusus untuk Kebutuhan Perbankan Bisnis dan Personal Anda*</h1>
                        </div>
                        <div class="tarifList display-flex">
                            <div class="tarifItem t1">
                                <picture class="tarifImg">
                                    <source srcset="./asset/images/offer-mob-1.png" media="(max-width: 768px)" alt=""
                                        width="100" height="100">
                                    <img srcset="./asset/images/offer-1.png" alt="" class="" width="244" height="588">
                                </picture>
                                <h2 class="tarifTitle articleContent">Bebas annual fee kartu kredit</h2>
                            </div>
                            <div class="tarifItem t2">
                                <picture class="tarifImg">
                                    <source srcset="./asset/images/offer-mob-2.png" media="(max-width: 768px)" alt=""
                                        width="100" height="100">
                                    <img srcset="./asset/images/offer-2.png" alt="" class="" width="244" height="588">
                                </picture>
                                <h2 class="tarifTitle articleContent">Bebas biaya sewa mesin EDC dan special MDR</h2>
                            </div>
                            <div class="tarifItem t3">
                                <picture class="tarifImg">
                                    <source srcset="./asset/images/offer-mob-3.png" media="(max-width: 768px)" alt=""
                                        width="100" height="100">
                                    <img srcset="./asset/images/offer-3.png" alt="" class="" width="244" height="588">
                                </picture>
                                <h2 class="tarifTitle articleContent">Akses dan harga khusus SDB (tergantung ketersediaan)
                                </h2>
                            </div>
                            <div class="tarifItem t4">
                                <picture class="tarifImg">
                                    <source srcset="./asset/images/offer-mob-4.png" media="(max-width: 768px)" alt=""
                                        width="100" height="100">
                                    <img srcset="./asset/images/offer-4.png" alt="" class="" width="244" height="588">
                                </picture>
                                <h2 class="tarifTitle articleContent">Rate khusus valuta asing</h2>
                            </div>
                        </div>
                    </div>
                    <div class="tarifBox text-center">
                        <h3 class="tarifSdk">Dan berbagai kemudahan perbankan lainnya</h3>
                        <div class="tarifSdk tarifSdk--small">*Syarat dan Ketentuan berlaku</div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">

                {{> button-info}}

                {{> button-credit}}

                <div class="bgColor bgColor__dot"></div>
            </div>
            <div class="bgStatic">
                {{>credit}}

            </div>
        </div>
        <!-- Template Image Content -->
        <!-- Fullpage Content -->
        <div id="fullpage" class="fullpage">
            <section class="section"></section>
            <section class="section"></section>
        </div>
        <!-- Fullpage Content -->
        <div id="some-element"></div>
    </main>
    {{> footer}}

    {{> js page="tarif" child=true}}

</body>

</html>