<form class="commentForm {{#eq mg compare=0}}{{else}} col-onset-fluid{{/eq}} mt10 -fReply" action="">
    <textarea class="formArea commentArea" cols="30" rows="4" placeholder="Tulis Komentarmu"
        aria-label="Write your comment"></textarea>
    <div class="commentBottom display-flex aitems-center jcontent-between">
        <div class="commentCount__text">1000 karakter tersisa</div>
        <button class="button buttonPink" type="submit" name="submit">
            Kirim
        </button>
    </div>
</form>