<div class="popup dashboard -pBank">
    <div class="popupWrap">
        <div class="popupBox col-12 col-xl-5">
            <div class="popupHead">
                <div class="popupTitle">Tambahkan Rekening Bank</div>
                <button class="button buttonClose" aria-label="Close Popup" onclick="closePopup()"><span
                        class="icon iconClose"></span></button>
            </div>
            <div class="popupContent">
                <form action="#">
                    <div class="spacing-sm">
                        <label class="formLabel" for="bankname">Nama Bank</label>
                        <div class="formSelectWrap custom-select">
                            <select name="bankname" id="bankname" class="formSelect">
                                <option value="" selected disabled="disabled">Pilih Bank</option>
                                {{#eachIndex bankTransfer}}
                                <option value="{{index}}">
                                    {{item.title}}</option>
                                {{/eachIndex}}
                            </select>
                        </div>
                    </div>
                    <div class="spacing-sm">
                        <label class="formLabel" for="banknote">Nomor Rekening</label>
                        <div class="formWrap">
                            <input type="text" name="banknote" id="banknote" class="formInput" value=""
                                placeholder="Nomor Rekening" inputmode="numeric">
                        </div>
                    </div>
                    <div class="spacing-sm">
                        <label class="formLabel" for="bankacc">Nama Akun</label>
                        <div class="formWrap">
                            <input type="text" class="formInput" name="bankacc" id="bankacc" value=""
                                placeholder="Nama Akun">
                        </div>
                    </div>
                    <div class="sortCta">
                        <button class="button buttonRect buttonRectBlue" type="submit">
                            Simpan
                        </button>
                        <button class="button buttonRect buttonRectWhite" type="button">
                            Batalkan
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>