<div class="chatItem">
    <div class="chatItemBox">
        <div class="productBox">
            <a href="detail.html" class="productBoxWrap">
                <div class="productImg">
                    <img src="./asset/images/dummy/product/tas.png"
                        alt="Kimmy Backpack Tas Punggung Anak sekolah / Tas Ransel Sekolah" width="180" height="180"
                        loading="lazy">
                </div>
                <div class="productBoxContent">
                    <div class="productTitle">Kimmy Backpack Tas Punggung Anak sekolah / Tas Ransel Sekolah
                    </div>
                    <div class="productDisc">
                        <span class="priceDisc">-25%</span>
                        <span class="priceNet">Rp. 44.750</span>
                    </div>
                    <div class="productPrice">Rp 33.500</div>
                    <div class="productAttr">
                        <div class="productRating">
                            <span class="icon iconStar"></span>
                            4.5
                        </div>
                        <span class="product--dash">|</span>
                        <div class="productSold">Terjual 14</div>
                    </div>
                    <div class="productOrigin">Kab. Bogor</div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="chatItem">
    <div class="chatItemBox">
        halo apakah produk ini ready?
    </div>
</div>
<div class="chatItem --seller">
    <div class="chatItemBox">
        Ready kak!
    </div>
</div>