{{#each shipping}}
<div class="orderShippingItem row">
    <div class="col-md-4 col-lg-5 orderShippingDate">{{dates}}</div>
    <div class="col-md-1 orderShippingState{{#if active}} active{{/if}}"><span></span></div>
    <div class="col-md-7 col-lg-6 orderShippingDesc">
        <strong>{{title}}</strong>
        <span>
            {{desc}}
        </span>
    </div>
</div>
{{/each}}