{{#eachIndex dashboardMenu}}
{{#eq index compare=2}}
<ul class="tabItemWrap orderNav">
    {{#each item.menu}}
    <li class="tabItem orderNavItem{{#eq ../../page compare=title}} active{{/eq}}">
        <a href="{{link}}" class="button tabLink orderNavLink">
            {{title}}
        </a>
    </li>
    {{/each}}
</ul>
{{/eq}}
{{/eachIndex}}