<div class="dashboardWrap dashboardBoxHead">
    <a href="seller.html" class="dashboardBoxLeft">
        <div class="titleBold">
            Ini Store
            <span class="tag tagBlue">Penjual</span>
        </div>
    </a>
    <div class="dashboardBoxCta">
        <a href="invoice.html" class="invoiceBtn">INV/20190001/XXV111/X/212304930</a>
    </div>
</div>
<div class="titleMore">Daftar Produk</div>
<div class="productBox productLink reviewItem col-12">
    <a href="detail.html" class="productBoxWrap">
        <div class="productImg">
            <img src="./asset/images/dummy/product/tas.png"
                alt="Kimmy Backpack Tas Punggung Anak sekolah / Tas Ransel Sekolah" width="180" height="180"
                loading="lazy">
        </div>
        <div class="productBoxContent">
            <div class="ratingList" aria-label="5 Stars Rating">
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
            </div>
            <div class="productTitle">Kimmy Backpack Tas Punggung Anak sekolah / Tas Ransel Sekolah
            </div>
            <div class="userPost">
                Barang cakep!! Rekomended seller deh..
            </div>
            <div class="userWrap">
                Fulan bin Fulan
                <span class="userPostDate">20 menit lalu</span>
            </div>
        </div>
    </a>
</div>
<div class="productBox productLink reviewItem col-12">
    <a href="detail.html" class="productBoxWrap">
        <div class="productImg">
            <img src="./asset/images/dummy/product/kaos-jukut.jpg"
                alt="kaos jukut - islamic center kaos oleh oleh samarinda khas kaltim" width="180" height="180"
                loading="lazy">
        </div>
        <div class="productBoxContent">
            <div class="ratingList" aria-label="5 Stars Rating">
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
            </div>
            <div class="productTitle">kaos jukut - islamic center kaos oleh oleh samarinda khas kaltim
            </div>
        </div>
    </a>
    <div class="dashboardBoxCta">
        <button class="button buttonRect buttonRectBlue reviewBoxTrig" onclick="triggerActiveButton(this)">+ Tambah
            Komentar</button>
        {{>dashboard/review-box}}
    </div>
</div>
<div class="productBox productLink reviewItem col-12">
    <a href="detail.html" class="productBoxWrap">
        <div class="productImg">
            <img src="./asset/images/dummy/product/sambel-roajudes.png" alt="Sambel RoaJuDes" width="180" height="180"
                loading="lazy">
        </div>
        <div class="productBoxContent">
            <div class="ratingList" aria-label="5 Stars Rating">
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
            </div>
            <div class="productTitle">Sambel RoaJuDes</div>
        </div>
    </a>
    <div class="dashboardBoxCta">
        <button class="button buttonRect buttonRectBlue reviewBoxTrig" onclick="triggerActiveButton(this)">+ Tambah
            Komentar</button>
        {{>dashboard/review-box}}
    </div>
</div>