<div class="upload dashboardUpload">
    <div class="dashboardUploadWrap">
        <div class="uploadBox">
            <label class="uploadBtn">
                <img src="./asset/images/user.png" alt="" width="165" height="165">
                <input type="file" id="propic" data-max_length="1" class="uploadInput">
            </label>
        </div>
        <div class="dashboardUploadGuide">
            <div class="dashboardUploadCta">
                <label for="propic" class="dashboardUploadLabel">
                    <button class="button buttonRect buttonRectGrad buttonUpload" type="button">
                        Ubah Profil
                    </button>
                </label>
                <!--<button class="button" type="button" onclick="removeDashboardPic()">Remove</button>-->
            </div>
            <div class="formMsg spacing-xs">Besar file: maksimum 10.000.000 bytes (10 Megabytes). <br> Ekstensi file
                yang
                diperbolehkan: .JPG .JPEG .PNG</div>
            <div class="formMsg -error">
                Ukuran file melebihi limit
            </div>
        </div>
    </div>
    <div class="uploadImgWrap dashboardUploadPic -uploadedImage"></div>
</div>