<div class="col-12 promo">
    <div class="promoWrap" id="sPromo">
        <div class="promoItem">
            <a href="promo-read.html" aria-label="See Promo">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="https://asset-a.grid.id/gridstore/frontend/asset/upload/images/original/1639640474_desktop-gretting-printed.webp" media="(min-width: 540px)" alt="">
                    <img srcset="https://asset-a.grid.id/gridstore/frontend/asset/upload/images/original/1639640474_desktop-gretting-printed.webp" alt="" class="promoImg" loading="lazy" width="400"
                        height="220">
                    <!--[if IE 9]></video><![endif]-->
                </picture>
            </a>
        </div>
        <div class="promoItem">
            <a href="promo-read.html" aria-label="See Promo">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="https://dummyimage.com/1072x200/FFCC4C/fff" media="(min-width: 540px)" alt="">
                    <img srcset="https://dummyimage.com/400x220/FFCC4C/fff" alt="" class="promoImg" loading="lazy"
                        width="400" height="220">
                    <!--[if IE 9]></video><![endif]-->
                </picture>
            </a>
        </div>
        <div class="promoItem">
            <a href="promo-read.html" aria-label="See Promo">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="https://dummyimage.com/1072x200/0263AE/fff" media="(min-width: 540px)" alt="">
                    <img srcset="https://dummyimage.com/400x220/0263AE/fff" alt="" class="promoImg" loading="lazy"
                        width="400" height="220">
                    <!--[if IE 9]></video><![endif]-->
                </picture>
            </a>
        </div>
    </div>
    <div class="container promoBottom">
        <div class="promoDots" id="dtPromo">
        </div>
        <a href="promo.html" class="promoOther">Lihat Promo Lainnya</a>
    </div>
</div>