<nav class="nav display-flex items-center" aria-label="primarynavigation">
    <div class="navWrap">
        <ul class="navList display-flex">
            <li class="navItem">
                <div aria-haspopup="true" tabindex="0">
                    <a href="#" class="navOpen" id="navOpen">Categories
                        <span class="icon icon-chevron"></span>
                    </a>                    
                    <div class="navMob mobile-only" id="navMob"></div>
                </div>
            </li>
            <li class="navItem">
                <a href="#" class="navLink" tabindex="-1">Promo
                    <span class="badge"></span>
                </a>
            </li>
            <li class="navItem">
                <a href="#" class="navLink" tabindex="-1">Best Seller
                </a>
            </li>
            <li class="navItem">
                <a href="#" class="navLink" tabindex="-1">New Item
                </a>
            </li>
        </ul>
    </div>
    <div class="searchbox mobile-only">
        <form action="#">
            <input type="text" name="" class="searchboxInput" aria-label="search" placeholder="Cari Produk" value=""
                inputmode="search">
            <button type="submit" class="button icon icon-search align-center" aria-label="search">
                <img src="./asset/images/icon-search.svg" alt="" width="12" height="12" class="icon-search-img">
            </button>
        </form>
    </div></nav>