<div class="toplist display-flex">
    <ul class="display-flex items-center">
        <li class="toplistItem">
            <a href="about-us.html">Our Story
            </a>
        </li>
        <li class="toplistItem">
            <a href="blog.html">Blog
            </a>
        </li>
        <li class="toplistItem">
            <a href="our-store.html">Our Store
            </a>
        </li>
        <li class="toplistItem">
            <a href="contact-us.html">Contact Us
            </a>
        </li>
    </ul>
    <ul class="display-flex">
        <li class="share">
            <a href="#" class="icon icon-social icon-fb" aria-label="facebook">
                <img src="./asset/images/icon-fb.svg" alt=""  width="22" height="22">
            </a>
        </li>
        <li class="share">
            <a href="#" class="icon icon-social icon-tw" aria-label="twitter">
                <img src="./asset/images/icon-tw.svg" alt=""  width="22" height="22">
            </a>
        </li>
        <li class="share">
            <a href="#" class="icon icon-social icon-ig" aria-label="instagram">
                <img src="./asset/images/icon-ig.svg" alt=""  width="22" height="22">
            </a>
        </li>
    </ul></div>