<footer class="footerBg">
    <div class="footer container">
        <div class="footerTop display-flex">
            <div class="footerWrap footerWrap--left">
                <div class="footerTitle">Our Address</div>
                <div class="footerItem display-flex align-center">
                    <img src="./asset/images/icon-location.png" alt="Location" width="24" height="24" loading="lazy"
                        class="footerIcon">
                    <div class="footerTxt">
                        Wisma Bisnis Indonesia, 5-8 Floor
                        Jl. KH Mas Mansyur No. 12A,
                        Karet Tengsin, Tanah Abang,
                        Jakarta Pusat 10220.
                    </div>
                </div>
                <div class="footerItem display-flex align-center">
                    <img src="./asset/images/icon-phone.png" alt="Phone" width="24" height="24" loading="lazy"
                        class="footerIcon">
                    <div class="footerTxt">
                        (+62 21) 5790-1023 (hunting)
                    </div>
                </div>
                <div class="footerItem display-flex align-center">
                    <img src="./asset/images/icon-email.png" alt="Email" width="24" height="24" loading="lazy"
                        class="footerIcon">
                    <div class="footerTxt">
                        <a href="mailto:digital@bisnis.com">digital@bisnis.com</a>
                    </div>
                </div>
            </div>
            <div class="footerWrap footerWrap--right">
                <div class="footerTitle">Keep in touch</div>
                <form action="" class="footerForm">
                    <input type="email" name="email" placeholder="Enter your email address" class="footerForm__input"
                        aria-label="Enter your email address">
                    <button type="submit" class="footerForm__btn">Mail me</button>
                    <div class="footerMisc mt10">We promise not going to spam you!</div>
                </form>
            </div>
        </div>
        <div class="footerBottom display-flex">
            <div class="footerWrap footerWrap--left">
                <div class="footerTxt--small">Copyright © 2022 - Bisnis Indonesia.</div>
            </div>
            <div class="footerWrap footerWrap--right display-flex">
                <a href="#" class="footerLink">Tentang Bisniscom</a>
                <a href="#" class="footerLink">Info Iklan</a>
                <a href="#" class="footerLink">Kebijakan Privasi</a>
                <a href="#" class="footerLink">Kode Etik</a>
                <a href="#" class="footerLink">Kontak Kami</a>
                <a href="#" class="footerLink">Karir</a>
            </div>
        </div>
    </div>
</footer>