<header class="header">
    <img class="headerLogo" src="./asset/images/logo-g20.png" alt="G20 Indonesia 2022" width="164" height="90">
    <div class="headerRight">
        <nav aria-label="primarynavigation">
            <div class="navMob">
                <ul class="nav">
                    <li>
                        <a href="#" tabindex="-1" class="navItem active" id="btn-home">Home</a>
                    </li>
                    <li>
                        <a href="#" tabindex="-1" class="navItem">About G20</a>
                    </li>
                    <li>
                        <a href="#" tabindex="-1" class="navItem" id="btn-news">News</a>
                    </li>
                    <li>
                        <a href="#" tabindex="-1" class="navItem" id="btn-events">Events</a>
                    </li>
                    <li>
                        <a href="https://www.bisnis.com/" tabindex="-1" class="navItem" id="">
                            <img src="./asset/images/icon-bisniscom.png" alt="Bisnis.com" width="16" height="22">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="headerMob">
            <input type="checkbox" id="mobToggle" class="mobCheck" aria-haspopup="true">
            <label class="sr-only" for="mobToggle">Menu</label>
            <div class="headerIcon">
                <span class="icon-bar">
                    <i></i>
                </span>
            </div>
        </div>
    </div>
</header>