<div class="headline mt30">
    <div class="headlineList" id="sheadline">
        <div class="headlineItem headlineItem--main">
            <div class="headlineItem__wrap">
                <div class="headlineImg">
                    <img src="asset/images/banner-g20.png" alt="" width="1440" height="710">
                </div>
                <div class="headlineBox">
                    <h1 class="headlineTitle headlineTitle--big">Recover Together Recover Stronger</h1>
                    <p class="headlineTeaser mt10 mb10">Menyambut Indonesia sebagai presidensi G20 tahun 2022</p>
                    <a href="#" class="headlineLink align-center">Pelajari lebih lanjut <span
                            class="icon icon-arrow-line ml10"></span></a>
                </div>
            </div>
        </div>
        <div class="headlineItem headlineItem--bg">
            <div class="headlineItem__wrap">
                <div class="headlineBg"
                    style="background-image: url(https://images.bisnis-cdn.com/posts/2022/03/03/1506554/antarafoto-pertemuan-tingkat-menteri0-keuangan-dan-gubernur-bank-sentral-g20-17022022-mrh-3.jpg)">
                </div>
                <div class="headlineImg headlineImg--art">
                    <img src="https://images.bisnis-cdn.com/posts/2022/03/03/1506554/antarafoto-pertemuan-tingkat-menteri0-keuangan-dan-gubernur-bank-sentral-g20-17022022-mrh-3.jpg?w=720&amp;h=450"
                        alt="" width="720" height="450" loading="lazy">
                </div>
                <div class="headlineBox">
                    <h2 class="headlineTitle">Presidensi G20 Indonesia: BKPM dan Kadin Teken Perjanjian Kerja Sama</h2>
                    <p class="headlineTeaser mt10 mb10">BKPM dan Kadin meneken kerja sama dan berkomitmen untuk
                        menyukseskan
                        Presidensi G20 Indonesia 2022.</p>
                    <a href="https://ekonomi.bisnis.com/read/20220303/9/1506554/presidensi-g20-indonesia-bkpm-dan-kadin-teken-perjanjian-kerja-sama" class="headlineLink align-center">Pelajari lebih lanjut <span
                            class="icon icon-arrow-line ml10"></span></a>
                </div>
            </div>
        </div>
        <div class="headlineItem headlineItem--bg">
            <div class="headlineItem__wrap">
                <div class="headlineBg"
                    style="background-image: url(https://images.bisnis-cdn.com/posts/2021/11/26/1470708/bank-sampah-ant-nyoman-budhiana-msl.jpg)">
                </div>
                <div class="headlineImg headlineImg--art">
                    <img src="https://images.bisnis-cdn.com/posts/2021/11/26/1470708/bank-sampah-ant-nyoman-budhiana-msl.jpg?w=720&amp;h=450"
                        alt="" width="720" height="450" loading="lazy">
                </div>
                <div class="headlineBox">
                    <h2 class="headlineTitle">Pemkot Denpasar Susun Rencana Penanganan Sampah Terintegrasi Jelang G20</h2>
                    <p class="headlineTeaser mt10 mb10">Pemerintah Kota Denpasar menyusun rencana penanganan sampah terintegrasi sebagai bagian dari persiapan agenda G20.</p>
                    <a href="https://bali.bisnis.com/read/20211126/537/1470708/pemkot-denpasar-susun-rencana-penanganan-sampah-terintegrasi-jelang-g20" class="headlineLink align-center">Pelajari lebih lanjut <span
                            class="icon icon-arrow-line ml10"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="headlineBottom">
        <div class="headlineArrow" id="Arheadline">
        </div>
    </div>
</div>