<ul class="reportsList display-flex">
    <li class="reportsItem">
        <a href="https://kabar24.bisnis.com/read/20220131/15/1495262/dukung-g20-grab-distribusikan-vaksin-booster-di-indonesia"
            class="titleLink">
            <div class="reportsImg__wrap"><img
                    src="https://images.bisnis-cdn.com/thumb/posts/2022/03/08/1508277/ilustrasi-pria-menerima-vaksin-booster.jpg?w=427&amp;h=320"
                    alt="" loading="lazy" class="reportsImg" width="427" height="320"></div>
            <div class="reportsBox">
                <div class="reportsBox__wrap">
                    <h4 class="title">Dukung G20, Grab Distribusikan Vaksin Booster di Indonesia</h4>
                </div>
            </div>
        </a>
    </li>
    <li class="reportsItem">
        <a href="https://kabar24.bisnis.com/read/20220127/15/1494318/buka-b20-inception-meeting-2022-jokowi-ajak-g20-dan-b20-kolaborasi"
            class="titleLink">
            <div class="reportsImg__wrap"><img
                    src="https://images.bisnis-cdn.com/posts/2022/01/27/1494318/jokowi---2022-01-21t154901.592.jpg?w=427&amp;h=320"
                    alt="" loading="lazy" class="reportsImg" width="427" height="320"></div>
            <div class="reportsBox">
                <div class="reportsBox__wrap">
                    <h4 class="title">Buka B20 Inception Meeting 2022, Jokowi Ajak G20 dan B20 Kolaborasi</h4>
                </div>
            </div>
        </a>
    </li>
    <li class="reportsItem">
        <a href="https://kabar24.bisnis.com/read/20220131/15/1495262/dukung-g20-grab-distribusikan-vaksin-booster-di-indonesia"
            class="titleLink">
            <div class="reportsImg__wrap"><img
                    src="https://images.bisnis-cdn.com/thumb/posts/2022/03/08/1508277/ilustrasi-pria-menerima-vaksin-booster.jpg?w=427&amp;h=320"
                    alt="" loading="lazy" class="reportsImg" width="427" height="320"></div>
            <div class="reportsBox">
                <div class="reportsBox__wrap">
                    <h4 class="title">Dukung G20, Grab Distribusikan Vaksin Booster di Indonesia</h4>
                </div>
            </div>
        </a>
    </li>
</ul>