//base
@import 'base/vars';
@import 'base/mixins';
@import 'base/font';

.icon {
    &-clap {
        @extend %icon-clap;
    }

    &-comment {
        @extend %icon-comment;
    }

    &-expand {
        @extend %icon-expand;
    }

    &-size-down {
        @extend %icon-size-down;
    }

    &-size-up {
        @extend %icon-size-up;
    }

    &-angle {
        @extend %icon-angle;
    }

    &-angle-double {
        @extend %icon-angle-double;
    }
}

.button {
    &Expand {
        @extend %buttonExpand;
    }
}

//layout 
@import 'layout/grid';
@import 'layout/global';
// @import 'layout/article';
@import 'layout/content';
@import 'layout/header';
@import 'layout/nav';
@import 'layout/sidebar';
@import 'layout/footer';

//components
@import 'components/social';
@import 'components/button';
@import 'components/ads';
// @import 'components/event';
// @import 'components/headline';
@import 'components/user';
@import 'components/highlight';
@import 'components/trending';
@import 'components/recomm';
// @import 'components/hashtag';
// @import 'components/writer';
// @import 'components/breadcrumb';
// @import 'components/channel';
@import 'components/paging';
@import 'components/form';
// @import 'components/ham';
@import 'components/share';
@import 'components/comment';
// @import 'components/react';
@import 'components/popup';
@import 'components/newsletter';
@import 'components/report';
@import 'components/access';

//page
// @import 'pages/stories';
// @import 'pages/photo';
// @import 'pages/video';
// @import 'pages/career';
// @import 'pages/search';
// @import 'pages/help';
@import 'pages/read';
// @import 'pages/promo';

//plugin
// @import 'plugin/custom-select';
// @import 'plugin/daterangepicker';
// @import 'plugin/slick';

// @import 'plugin/pswp';
@import 'plugin/pswp';

@import 'plugin/animation';
@import 'plugin/override';