<div class="creditWrap center-flex">
	<div class="creditContent text-center">
		<div class="creditCol">
			<div class="creditTitle">Penulis & Editor Naskah</div>
			<div class="creditName">Yustinus Andri DP</div>
			<div class="creditName">Gajah Kusumo</div>
		</div>
		<div class="creditCol">
			<div class="creditTitle">Ilustrasi & Layout</div>
			<div class="creditName">Muhammad Afandi</div>
			<div class="creditName">Zoya Rasyidi Thoriq</div>
		</div>
		<div class="creditCol">
			<div class="creditTitle">Developer</div>
			<div class="creditName">Tim Bisnis.com</div>
		</div>
	</div>
</div>
<div class="creditBottom center-flex">
	<a href="https://www.bisnis.com/" target="_self">
		<picture class="creditBottom__logo">
			<img srcset="./asset/images/bisniscom.svg" alt="Bisniscom" class="" width="233" height="53" loading="lazy">
		</picture>
	</a>
	<div class="creditSp"></div>
	<div class="creditSoc center-flex">
		<a href="https://www.instagram.com/bisniscom/" target="_blank" class="creditSoc__item">
			<picture class="creditSoc__logo">
				<img srcset="./asset/images/icon-ig.png" alt="Instagram" class="" width="40" height="40" loading="lazy">
			</picture>
		</a>
		<a href="https://twitter.com/Bisniscom" target="_blank" class="creditSoc__item">
			<picture class="creditSoc__logo">
				<img srcset="./asset/images/icon-tw.png" alt="Twitter" class="" width="40" height="40" loading="lazy">
			</picture>
		</a>
		<a href="https://facebook.com/wwwbisniscom" target="_blank" class="creditSoc__item">
			<picture class="creditSoc__logo">
				<img srcset="./asset/images/icon-fb.png" alt="Facebook" class="" width="40" height="40" loading="lazy">
			</picture>
		</a>
	</div>
	<button class="button creditBack" onclick="refreshPage()" aria-label="Back to Top">
		<picture>
			<source srcset="./asset/images/icon-back.png" media="(max-width: 768px)" alt="">
			<img srcset="./asset/images/icon-back.png" alt="" width="40" height="40" class="">
		</picture>
	</button>
</div>