<div class="hashtag mt30">
    <div class="articleCaption">Hashtag</div>
    <a href="#" class="hashtagLink"><span>#</span>Kuliner</a>
    <a href="#" class="hashtagLink"><span>#</span>Coki Pardede</a>
    <a href="#" class="hashtagLink"><span>#</span>Cara Menghilangkan Jerawat</a>
    <a href="#" class="hashtagLink"><span>#</span>Make up</a>
    <a href="#" class="hashtagLink"><span>#</span>Jalan-jalan</a>
</div>