<div class="highlight highlightBox mt30">
    <div class="articleCaption__box text-center">
        <img src="asset/images/numpang-promo.png" class="" alt="Numpang Promo" width="234" height="32" loading="lazy">
    </div>
    <div class="highlightPromo" id="spromo">
        {{#eachIndex headline}}
        <div class="highlightPromo__item">
            <a href="{{item.link}}" class="highlightBox__link">
                <img src="{{item.img}}{{index}}.webp" class="highlightPromo__img" alt="" width="294" height="191"
                    loading="lazy">
                <h3 class="articleTitle highlightPromo__title mt10">{{item.title}}</h3>
                <div class="articleTime highlightPromo__time mt5">9 menit yang lalu</div>
            </a>
        </div>
        {{/eachIndex}}
    </div>
    <div class="highlightBottom">
        <div class="highlightDots" id="dtpromo">
        </div>
    </div>
    <a href="#" class="buttonOther text-center mt30">Lihat Lainnya</a>
</div>