<div class="trending mt30">
    <div class="articleCaption">Trending</div>
    <ul class="trendingList">
        {{#eachIndex trending}}
        {{#gt index compare = '0'}}
        <li class="trendingItem">
            <a href="#" class="trendingLink display-flex aitems-center">
                <div class="trendingRank">
                    {{index}}
                </div>
                <div class="trendingBox">
                    <div class="articleDetail display-flex aitems-center">
                        <div class="articleSubtitle">{{item.subtitle}}</div>
                        <div class="articleTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="articleTitle trendingTitle mt5">{{item.title}}</h3>
                </div>
            </a>
        </li>
        {{/gt}}
        {{/eachIndex}}
    </ul>
</div>