<div class="writer mt30">
    <div class="articleCaption">Penulis Pilihan</div>
    <ul class="row">
        <li class="writerItem col-gd12-4 col-gd12-md3">
            <a href="#" class="writerLink text-center">
                <img loading="lazy" src="https://api.lorem.space/image/face?w=70&amp;h=70&amp;hash=8B7BCDC2" width="70" height="70" alt=""
                    class="userAvatar writerAvatar">
                <div class="userName writerName mt10">
                    Pandu Hutapea
                </div>
            </a>
        </li>
        <li class="writerItem col-gd12-4 col-gd12-md3">
            <a href="#" class="writerLink text-center">
                <img loading="lazy" src="https://api.lorem.space/image/face?w=70&amp;h=70&amp;hash=500B67FB" width="70" height="70" alt=""
                    class="userAvatar writerAvatar">
                <div class="userName writerName mt10">
                    Alisa Chandrika
                </div>
            </a>
        </li>
        <li class="writerItem col-gd12-4 col-gd12-md3">
            <a href="#" class="writerLink text-center">
                <img loading="lazy" src="https://api.lorem.space/image/face?w=70&amp;h=70&amp;hash=A89D0DE6" width="70" height="70" alt=""
                    class="userAvatar writerAvatar">
                <div class="userName writerName mt10">
                    Larinda Dewi
                </div>
            </a>
        </li>
        <li class="writerItem col-gd12-4 col-gd12-md3">
            <a href="#" class="writerLink text-center">
                <img loading="lazy" src="https://api.lorem.space/image/face?w=70&amp;h=70&amp;hash=225E6693" width="70" height="70" alt=""
                    class="userAvatar writerAvatar">
                <div class="userName writerName mt10">
                    Prasetya Adhi
                </div>
            </a>
        </li>
        <li class="writerItem col-gd12-4 col-gd12-md3">
            <a href="#" class="writerLink text-center">
                <img loading="lazy" src="https://api.lorem.space/image/face?w=70&amp;h=70&amp;hash=7F5AE56A" width="70" height="70" alt=""
                    class="userAvatar writerAvatar">
                <div class="userName writerName mt10">
                    Salma Fadhillah
                </div>
            </a>
        </li>
        <li class="writerItem col-gd12-4 col-gd12-md3">
            <a href="#" class="writerLink text-center">
                <img loading="lazy" src="https://api.lorem.space/image/face?w=70&amp;h=70&amp;hash=2D297A22" width="70" height="70" alt=""
                    class="userAvatar writerAvatar">
                <div class="userName writerName mt10">
                    Satria Kusumo
                </div>
            </a>
        </li>
    </ul>
</div>