<div class="billboardPushdown">
    <link rel="stylesheet" href="./asset/css/style-pushdown-billboard.css">
    <div class="billboardPushdownWrap">
        <div class="billboardPushdownBig">
            <div class="billboardPushdownInner">
                <div class="billboardPushdownPromo">
                    <!-- ad script here -->
                    <!--<img src="https://placehold.co/320x480/000/F4F4F4?font=nunitosans&text=PUSHDOWN%20BILLBOARD%20IS%20HERE"
                        alt="" width="320" height="480">-->
                </div>
            </div>
            <button class="billboardPushdownClose" aria-label="Close billboard"></button>
        </div>
    </div>
    <div class="billboardPushdownSwipe">Scroll untuk melanjutkan membaca</div>
    <script defer src="./asset/js/script-billboard-pushdown.js"></script>
</div>