.button {
    color: inherit;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;

    &Scroll {
        flex-direction: column;
        font-size: 10px;

        @include range-responsive($w-md, $w-xxl) {
            font-size: 12px;
        }

        @include min-responsive($w-xxl) {
            font-size: 14px;
        }
    }

    &Submit {
        display: block;
        padding: 14px 50px;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: linear-gradient(180deg, #DFB360 50%, #D2A248 50%);
        clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
        @include base_transition(all, .2s);
        @include font-pack($font-bold, 18px, $font-weight-bold, 27px, $cl-white);

        @include min-responsive($w-vlg) {
            font-size: 20px;
            padding: 16px 68px;
        }

        &:hover,
        &:focus {
            background: linear-gradient(180deg, #BA8D38 50%, #A37623 50%);
        }
    }

    &Close {
        position: absolute;
        top: 25px;
        right: 15px;
        padding: 7px;
        cursor: pointer;

        @include min-responsive($w-vlg) {
            top: 40px;
            right: 40px;
        }
    }
}