.soon {
    &Content {
        flex-direction: column;
    }

    &Caption{
        position: relative;
        margin-top: 10px;
        top: 100vh;
    }
    
    &Txt{
        position: relative;
        top: 100vh;
    }
}