<div id="pop_story" class="storyModal body modal newZ" tabindex="-1" role="dialog" aria-labelledby="Bisnis Stories">
    <div class="storyPopup animate animated bounceInDown n-width-300 txt-center">
        <div class="storyPopup__cap">Bisnis Stories</div>
        <div class="storyContent">
            <button class="storyClose" aria-label="Close web story"
                onclick="document.getElementById('pop_story').style.display='none'" data-dismiss="modal"></button>
            <div class="storyDots" id="dots_story"></div>
            <ul class="storyList" id="slide_story">
                <li class="storyItem">
                    <a href="https://kabar24.bisnis.com/read/20210830/16/1435590/pengelolaan-piutang-aset-blbi-belum-optimal-nilainya-puluhan-triliun"
                        class="storyWrapper">
                        <img class="storyImg" src="./asset/images/web-story-sample-1.jpg" alt="" width="360"
                            height="640">
                    </a>
                </li>
                <li class="storyItem">
                    <a href="https://bali.bisnis.com/read/20210830/537/1435557/1893-pelanggan-pln-di-bali-ajukan-tambah-daya"
                        class="storyWrapper">
                        <img class="storyImg" src="./asset/images/web-story-sample-2.jpg" alt="" width="360"
                            height="640">
                    </a>
                </li>
                <li class="storyItem">
                    <a href="https://finansial.bisnis.com/read/20210830/11/1435575/gubernur-bi-sebut-2-faktor-risiko-ini-bayangi-pemulihan-ekonomi-global"
                        class="storyWrapper">
                        <img class="storyImg" src="./asset/images/web-story-sample-3.jpg" alt="" width="360"
                            height="640">
                    </a>
                </li>
                <li class="storyItem">
                    <a href="https://finansial.bisnis.com/read/20210830/90/1435583/cimb-niaga-bidik-pendapatan-komisi-tembus-rp100-miliar-dari-transaksi-digital"
                        class="storyWrapper">
                        <img class="storyImg" src="./asset/images/web-story-sample-4.jpg" alt="" width="360"
                            height="640">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="storyProgress">
        <div class="progress"></div>
    </div>
</div>