<div id="pop_story" class="body modal newZ" tabindex="-1" role="dialog" aria-labelledby="Bisnis Stories">
    <div class="storyPopup animate animated bounceInDown n-width-300 txt-center">
        <div class="storyPopup__cap">Bisnis Stories</div>
        <div class="storyContent">
            <div class="storyDots" id="dots_story"></div>
            <ul class="storyList" id="slide_story">
                <li class="storyItem">
                    <a href="#" class="storyWrapper">
                        <img class="storyImg" src="./asset/images/web-story-sample.jpg" alt="" loading="lazy"
                            width="360" height="640">
                    </a>
                </li>
                <li class="storyItem">
                    <a href="#" class="storyWrapper">
                        <img class="storyImg" src="https://dummyimage.com/360x640/0263AE/fff" alt="" loading="lazy"
                            width="360" height="640">
                    </a>
                </li>
                <li class="storyItem">
                    <a href="#" class="storyWrapper">
                        <img class="storyImg" src="https://dummyimage.com/360x640/FFCC4C/fff" alt="" loading="lazy"
                            width="360" height="640">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>