@use '../base/mixins' as *;
@use '../base/vars' as *;

.btb {
    position: relative;

    &Wrap {
        padding-top: 1em;
        position: relative;
    }

    &Bg {
        &Item {
            position: absolute;
            width: auto;
            max-width: 50%;

            &.--top {
                top: 0;
                left: 0;
            }

            &.--bottom {
                bottom: 0;
                right: 0;
            }
        }
    }

    p {
        color: #FFFFFF;
    }


    //----------------//
    &Impact {
        position: relative;
        padding-bottom: 220px;

        &Title {
            font-size: 1.15em;
            color: #2A394A;
            flex-direction: column;

            @include min-responsive($w-md) {
                flex-direction: row;
                padding-top: 120px;
            }
        }

        &Caption {
            position: relative;
            padding-top: 120px;
            color: #2A394A;
        }

        &Ico {
            position: absolute;
            left: 0;
            bottom: 0;
        }

        &Bg {
            position: absolute;
            z-index: 0;
            bottom: 0;
            width: 100%;
            height: 249px;
            background: url(../images/impact-bg.png);
            background-size: contain;
            background-repeat: repeat-x;
            background-position: center bottom;
        }

        &Intro {
            display: flex;
            margin-top: 40px;
            row-gap: 10px;
            column-gap: 40px;
            flex-direction: column;
            
            @include min-responsive($w-md) {
                margin-top: 80px;
                align-items: flex-end;
                flex-direction: row;
            }

            img {
                max-width: 260px;
                margin-bottom: 10px;

                @include min-responsive($w-md) {
                    max-width: unset;
                }
            }
        }

        &List {
            list-style: disc;
            padding-left: 15px;

            li {
                margin-bottom: 1em;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &Item {
            text-align: center;
            margin: 20px auto;
            max-width: 880px;
            min-height: 292px;
            padding: 20px;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 32px;

            &:nth-child(3) {
                display: flex;
                column-gap: 30px;
                justify-content: center;
                flex-direction: column;

                @include min-responsive($w-md) {
                    flex-direction: row;
                }

                .btbImpactContent {
                    text-align: left;
                    margin: 0;
                }

                ul {
                    list-style: disc;
                    padding-left: 15px;

                    li {
                        padding-left: 10px;
                        margin-top: .5em;
                        margin-bottom: .5em;

                        @include min-responsive($w-md) {
                            padding-left: 20px;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        &Content {
            max-width: 380px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 12px;
        }
    }
}