@use '../base/mixins' as *;
@use '../base/vars' as *;

.cover {
    width: 100%;
    height: var(--app-height);

    &Wrap {
        position: relative;
        height: 100%;
    }

    &Content {
        width: calc(100% - 28px);
        padding-top: 28px;
        padding-bottom: 28px;
        position: absolute;
        bottom: 100px;
    }

    &Island {
        position: absolute;
        left: -100px;
        bottom: -100px;

        @include min-responsive($w-md) {
            max-width: 460px;
            height: 415px;
        }

        @include min-responsive($w-xxxl) {
            left: -230px;
        }

        img {
            height: auto;
            will-change: transform, opacity;
        }
    }

    &Caption {
        text-shadow:
            -2px -2px 0 #fff,
            2px -2px 0 #fff,
            -2px 2px 0 #fff,
            2px 2px 0 #fff,
            0 -2px 0 #fff,
            0 2px 0 #fff,
            -2px 0 0 #fff,
            2px 0 0 #fff;

        @include min-responsive($w-md) {
            text-shadow:
                -3px -3px 0 #fff,
                3px -3px 0 #fff,
                -3px 3px 0 #fff,
                3px 3px 0 #fff,
                0 -3px 0 #fff,
                0 3px 0 #fff,
                -3px 0 0 #fff,
                3px 0 0 #fff;
        }
    }

    &Title {
        position: relative;
        z-index: 0;
        @include font-pack($font_caption, 30px, $font-weight-normal, $line-base, #863D3D);

        @include min-responsive($w-md) {
            font-size: 46px;
        }

        @include min-responsive($w-xxxl) {
            font-size: 96px;
        }

        &Sub {
            position: relative;
            @include font-pack($font_caption, 38px, $font-weight-normal, $line-base, #3A2B2B);

            @include min-responsive($w-md) {
                font-size: 64px;
                text-shadow:
                    -5px -5px 0 #fff,
                    5px -5px 0 #fff,
                    -5px 5px 0 #fff,
                    5px 5px 0 #fff,
                    0 -5px 0 #fff,
                    0 5px 0 #fff,
                    -5px 0 0 #fff,
                    5px 0 0 #fff;
            }

            @include min-responsive($w-xxxl) {
                font-size: 128px;
            }

            text-shadow: -2px -2px 0 #fff,
            2px -2px 0 #fff,
            -2px 2px 0 #fff,
            2px 2px 0 #fff,
            0 -2px 0 #fff,
            0 2px 0 #fff,
            -2px 0 0 #fff,
            2px 0 0 #fff;

        }
    }

    &Bg {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: url(../images/cover-img.jpg);
        background-size: cover;
        background-position: 70% bottom;

        @include min-responsive($w-md) {
            background-position: center bottom;
        }
    }
}