@use '../base/mixins' as *;
@use '../base/vars' as *;

.intro {
    display: block;
    position: relative;
    // min-height: auto;

    &Wrap {
        position: relative;
        // height: 400vh;
    }

    &Bg {
        position: fixed;
        left: 0;
        bottom: -30px;
        width: 100%;
        height: 665px;
        background: url(../images/intro-bg.png);
        background-size: contain;
        background-repeat: repeat-x;
        background-position: center bottom;
        pointer-events: none;
        z-index: 0;
        will-change: opacity;

        @include min-responsive($w-md) {
            bottom: -100px;
        }
    }

    &Box {
        position: relative;
        display: flex;
        align-items: center;
        gap: 40px;
        flex-direction: column;
        justify-content: center;

        @include min-responsive($w-vlg) {
            flex-direction: row;
            justify-content: space-between;
        }

        picture {
            flex-shrink: 0;

            img {
                max-height: 160px;

                @include min-responsive($w-md) {
                    max-height: unset;
                }
            }
        }
    }

    &Content {
        max-width: 620px;
        order: 1;

        @include min-responsive($w-vlg) {
            order: unset;
        }
    }
}