@use '../base/mixins' as *;
@use '../base/vars' as *;

.intro {
    row-gap: 40px;
    position: relative;

    &Wrap {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: -30px;
            background: url(../images/intro-bg.png);
            background-size: contain;
            background-repeat: repeat-x;
            width: 100%;
            height: 665px;
            z-index: 0;
            background-position: center bottom;

            @include min-responsive($w-md) {
                bottom: -100px;
            }
        }
    }

    &Box {
        position: relative;
        display: flex;
        align-items: center;
        gap: 40px;
        flex-direction: column;

        @include min-responsive($w-vlg) {
            flex-direction: row;
        }

        picture {
            flex-shrink: 0;
        }
    }

    &Content {
        max-width: 620px;
        order: 1;

        @include min-responsive($w-vlg) {
            order: unset;
        }
    }
}