@use '../base/mixins' as *;
@use '../base/vars' as *;

.socmed {
    align-items: center;
    color: $cl-white;

    @include min-responsive($w-md) {
        max-width: 700px;
    }

    @include min-responsive($w-xxxl) {
        align-items: flex-start;
    }

    &Bg {
        display: block;
        width: 100%;

        img {
            width: 100%;
            height: var(--app-height);
            object-fit: cover;
            object-position: bottom;

            @include max-responsive(767px) {
                @include max-height(667px) {
                    object-position: center -38px;
                }
            }

            @include min-responsive($w-md) {
                object-position: center;
            }
        }
    }

    &Caption {
        display: block;
        position: relative;
        margin-top: calc(var(--app-height) - var(--app-height) + 226px);
    }

    &Header {
        position: absolute;
        top: 0;
        display: block;
        margin: auto;
        width: 100%;

        img {
            width: 340px;

            @include min-responsive($w-md) {
                width: auto;
            }
        }

        &__attr {
            position: absolute;
            top: 10px;

            &.--left {
                left: 33px;
            }

            &.--right {
                right: 33px;
            }
        }
    }

    &Link {
        display: block;
        position: absolute;
        bottom: 80px;

        @include min-responsive($w-md) {
            bottom: unset;
            top: calc(var(--app-height) - var(--app-height) + 76vh);
        }

        @include min-responsive($w-xxxl) {
            left: 22vw;
        }
    }

    &List {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        padding: 8px 12px 8px;
        bottom: 0;
        width: 100%;
        background: url(../images/fekdi-bg-sosmed-mob.png);
        background-size: cover;
        background-position: top center;

        @include min-responsive($w-md) {
            background: url(../images/fekdi-bg-sosmed.png) no-repeat;
            background-size: 693px;
            height: 70px;
            padding: 18px 20px 43px;
            background-position: top center;
            font-size: 14px;
        }
    }

    &Item {
        margin-top: 4px;

        @include min-responsive($w-md) {
            margin-top: 0;
        }

        span {
            @include min-responsive($w-md) {
                vertical-align: sub;
            }
        }
    }

    &Icon {
        display: inline-block;
        margin-left: 14px;
        margin-right: 6px;

        @include min-responsive($w-md) {
            margin-left: 42px;
            margin-right: 8px;
        }
    }

    .articleCaption {
        position: relative;
        top: calc(var(--app-height) - var(--app-height) + 118px);

        @include min-responsive($w-xxxl) {
            left: 20vw;
            text-align: left;
        }
    }

    &.active {
        .socmedLink,
        .socmedItem {
            pointer-events: all;
        }
    }
}