.study {
    position: relative;

    &List {
        margin-top: 40px;
        margin-bottom: 40px;

        li{
            min-height: 150px;
        }

        &Title {
            margin-top: 14px;
            font-weight: 700;
        }
    }

    &Box {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 27px 46px;
        border-radius: 16px;
        background: #FFF7D9;
    }

    &Title {
        font-size: 1.15em;
        font-weight: 700;
        padding-top: 120px;
    }
}