@use '../base/mixins' as *;
@use '../base/vars' as *;

.study {
    position: relative;

    &List {
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 12px;

        @include min-responsive($w-md) {
            gap: 60px;
        }

        li {
            min-height: 150px;
        }

        &Title {
            margin-top: 14px;
            font-weight: 700;
        }
    }

    &Box {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 16px 20px;
        border-radius: 16px;
        background: #FFF7D9;

        @include min-responsive($w-md) {
            padding: 27px 46px;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }

    &Title {
        font-size: 1.15em;
        font-weight: 700;
        padding-top: 40px;

        @include min-responsive($w-md) {
            padding-top: 120px;
        }
    }

    &Img {
        img {
            max-width: 70%;

            @include min-responsive($w-md) {
                max-width: 100%;
            }
        }

        &Caption {
            span {
                color: #737373;
            }
        }
    }

    &Icon {
        min-width: 160px;
    }

    &Info {
        position: relative;
        margin-top: 20px;
        padding: 20px 15px;
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.5);

        @include min-responsive($w-md) {
            padding: 26px 28px;
        }

        &::before {
            border: 2px solid rgba(0, 0, 0, 0.5);
            height: calc(100% - 80px);
            position: absolute;
            top: 52px;
            left: 210px;

            @include min-responsive($w-md) {
                content: '';
                //     // border: 3px solid #000000;
            }
        }

        ul {
            padding-left: 15px;
            margin-top: 10px;
            list-style: disc;

            @include min-responsive($w-md) {
                margin-top: 20px;
            }

            li {
                margin-bottom: 1em;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &Row {
            margin-top: 20px;
            display: flex;
            align-items: center;
            column-gap: 46px;
            flex-direction: column;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);

            @include min-responsive($w-md) {
                flex-direction: row;
                padding-bottom: 0;
                border-bottom: 0;
            }

            .studyCol {
                margin-top: 20px;

                @include min-responsive($w-md) {
                    margin-top: 0;
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                padding-bottom: 40px;
                border-bottom: 0;
            }
        }

        &Caption {
            font-size: 0.8em;
        }
    }

    .--red {
        color: #BE2328;
    }
}