<div class="premiumBox">
    <div class="titleCaptionWrap">
        <div class="premiumBoxBtn"><span class="icoInline icoPremium"></span>Konten Premium</div>
        <a href="#" class="premiumBoxLogin"><span class="icoInline icoLoginPremium"></span>Login</a>
    </div>
    <h3 class="premiumBoxCaption">
        Nikmati Konten Premium Untuk Informasi Yang Lebih Dalam
    </h3>
    <div class="art">
        <div class="artWrap -col">
            <div class="artItem">
                <a href="details-premium-lock.html" class="artLink art--col">
                    <div class="artImg">
                        <img src="https://images.bisnis.com/thumb/posts/2023/03/30/1642230/hari-film-nasional-premium.jpg?w=233&h=175" width="233" height="175"
                            alt="Suka-suka Sutradara Muda Sinema Kita" loading="lazy">
                    </div>
                    <div class="artContent">
                        <div class="artChannel -premium">
                            Premium<span class="icoInline icoPremium"></span>
                        </div>
                        <h4 class="artTitle">
                            Suka-suka Sutradara Muda Sinema Kita
                        </h4>
                        <div class="artDate">
                            9 menit yang lalu
                        </div>
                    </div>
                </a>
            </div>
            <div class="artItem">
                <a href="details-premium-lock.html" class="artLink art--col">
                    <div class="artImg">
                        <img src="https://images.bisnis.com/thumb/posts/2023/04/01/1642818/whatsapp-image-2022-05-06-at-22.53.53.jpeg?w=233&h=175" width="233" height="175"
                            alt="Jasa Marga (JSMR) Siap Panen Cuan dari Berkah Momentum Mudik Lebaran" loading="lazy">
                    </div>
                    <div class="artContent">
                        <div class="artChannel -premium">
                            Premium<span class="icoInline icoPremium"></span>
                        </div>
                        <h4 class="artTitle">
                            Jasa Marga (JSMR) Siap Panen Cuan dari Berkah Momentum Mudik Lebaran
                        </h4>
                        <div class="artDate">
                            9 menit yang lalu
                        </div>
                    </div>
                </a>
            </div>
            <div class="artItem">
                <a href="details-premium-lock.html" class="artLink art--col">
                    <div class="artImg">
                        <img src="https://images.bisnis.com/thumb/posts/2023/03/31/1642487/netflix.jpg?w=233&h=175" width="233" height="175"
                            alt="Satu Lagi Utak-Atik Taktik Netflix" loading="lazy">
                    </div>
                    <div class="artContent">
                        <div class="artChannel -premium">
                            Premium<span class="icoInline icoPremium"></span>
                        </div>
                        <h4 class="artTitle">
                            Satu Lagi Utak-Atik Taktik Netflix
                        </h4>
                        <div class="artDate">
                            9 menit yang lalu
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <a href="#" class="titleOthers">Lihat Lainnya</a>
</div>