<div id="body" class="sectionChild" data-aos="zoom-out-up" data-aos-easing="ease-in-sine">
    <h3 class="title mt45">Jenis produk bodycare apa yang paling sering Anda gunakan?
    </h3>
    <div class="formCheck__wrap display-flex">
        <div class="formCheck__item">
            <input type="checkbox" id="ask111" name="ask11" class="formCheck">
            <label for="ask111" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Body wash </span>
            </label>
        </div>
        <div class="formCheck__item">
            <input type="checkbox" id="ask112" name="ask11" class="formCheck">
            <label for="ask112" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Hand and Body Lotion
                </span>
            </label>
        </div>
        <div class="formCheck__item">
            <input type="checkbox" id="ask113" name="ask11" class="formCheck">
            <label for="ask113" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Body Butter
                </span>
            </label>
        </div>
        <div class="formCheck__item">
            <input type="checkbox" id="ask114" name="ask11" class="formCheck">
            <label for="ask114" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Body Scrub
                </span> </label>
        </div>
        <div class="formCheck__item display-flex formOption__otr">
            <input type="checkbox" id="ask115" name="ask11" class="formCheck">
            <label for="ask115" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Lainnya :
                </span>
            </label>
            <input type="text" name="ask11Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <h3 class="title mt45">Dari produk yang pernah digunakan, apa brand bodycare yang paling sering Anda gunakan?
    </h3>
    <div class="formCheck__wrap display-flex">
        <div class="formCheck__item">
            <input type="checkbox" id="ask121" name="ask12" class="formCheck">
            <label for="ask121" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    <img src="./asset/images/brand/grace-and-glow.png" alt="grace-and-glow" class="formBrand"
                        width="171" height="79" loading="lazy">
                </span>
            </label>
        </div>
        <div class="formCheck__item">
            <input type="checkbox" id="ask122" name="ask12" class="formCheck">
            <label for="ask122" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    <img src="./asset/images/brand/nivea.png" alt="nivea" class="formBrand" width="171" height="79"
                        loading="lazy">
                </span>
            </label>
        </div>
        <div class="formCheck__item">
            <input type="checkbox" id="ask123" name="ask12" class="formCheck">
            <label for="ask123" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    <img src="./asset/images/brand/vaselin.png" alt="vaselin" class="formBrand" width="171" height="79"
                        loading="lazy">
                </span> </label>
        </div>
        <div class="formCheck__item">
            <input type="checkbox" id="ask124" name="ask12" class="formCheck">
            <label for="ask124" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    <img src="./asset/images/brand/scarlett.png" alt="scarlett" class="formBrand" width="171"
                        height="79" loading="lazy">
                </span>
            </label>
        </div>
        <div class="formCheck__item display-flex formOption__otr">
            <input type="checkbox" id="ask125" name="ask12" class="formCheck">
            <label for="ask125" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Lainnya :
                </span>
            </label>
            <input type="text" name="ask12Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <h3 class="title mt45">Dari produk yang pernah digunakan, apa brand bodycare terbaik menurut Anda?
    </h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask131" name="ask13" class="formOption">
            <label for="ask131" class="formOption__label">
                <img src="./asset/images/brand/grace-and-glow.png" alt="grace-and-glow" class="formBrand" width="171"
                    height="79" loading="lazy">
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask132" name="ask13" class="formOption">
            <label for="ask132" class="formOption__label">
                <img src="./asset/images/brand/nivea.png" alt="nivea" class="formBrand" width="171" height="79"
                    loading="lazy">
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask133" name="ask13" class="formOption">
            <label for="ask133" class="formOption__label">
                <img src="./asset/images/brand/vaselin.png" alt="vaselin" class="formBrand" width="171" height="79"
                    loading="lazy">
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask134" name="ask13" class="formOption">
            <label for="ask134" class="formOption__label">
                <img src="./asset/images/brand/scarlett.png" alt="scarlett" class="formBrand" width="171" height="79"
                    loading="lazy">
            </label>
        </div>
        <div class="formOption__item formOption__otr">
            <input type="radio" id="ask135" name="ask13" class="formOption">
            <label for="ask135" class="formOption__label">
                Lainnya :
            </label>
            <input type="text" name="ask13Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <h3 class="title mt45">Apa pertimbangan utama Anda dalam memilih brand bodycare? </h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask141" name="ask14" class="formOption">
            <label for="ask141" class="formOption__label">
                Harga </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask142" name="ask14" class="formOption">
            <label for="ask142" class="formOption__label">
                Izin produk
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask143" name="ask14" class="formOption">
            <label for="ask143" class="formOption__label">
                Komposisi / Kandungan / Manfaat
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask144" name="ask14" class="formOption">
            <label for="ask144" class="formOption__label">
                Kesesuaian dengan jenis kulit</label>
        </div>
        <div class="formOption__item formOption__otr">
            <input type="radio" id="ask145" name="ask14" class="formOption">
            <label for="ask145" class="formOption__label">
                Lainnya :
            </label>
            <input type="text" name="ask14Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <button class="button buttonSecondary mb20" type="button" id="bodybtnp"><span class="buttonTxt"><span
                class="icon icon-arrow"></span>Sebelumnya</span></button>
    <button class="button buttonPrimary buttonPrimary--icon mb20" type="button" id="bodybtn"><span
            class="buttonTxt">Selanjutnya <span class="icon icon-arrow icon-arrow-right"></span></span></button>
</div>