<div id="fashion" class="sectionChild" data-aos="zoom-out-up" data-aos-easing="ease-in-sine">
    <h3 class="title mt45">Apa preferensi gaya berpakaian Anda?
    </h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask291" name="ask29" class="formOption">
            <label for="ask291" class="formOption__label">
                Casual</label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask292" name="ask29" class="formOption">
            <label for="ask292" class="formOption__label">
                Formal
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask293" name="ask29" class="formOption">
            <label for="ask293" class="formOption__label">
                Simple
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask294" name="ask29" class="formOption">
            <label for="ask294" class="formOption__label">
                Vintage </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask295" name="ask29" class="formOption">
            <label for="ask295" class="formOption__label">
                Sporty </label>
        </div>
    </div>
    <h3 class="title mt45">Produk fashion apa yang Anda beli dalam tiga bulan terakhir?
    </h3>
    <div class="formCheck__wrap display-flex">
        <div class="formCheck__item">
            <input type="checkbox" id="ask301" name="ask30" class="formCheck">
            <label for="ask301" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Baju</span>
            </label>
        </div>
        <div class="formCheck__item">
            <input type="checkbox" id="ask302" name="ask30" class="formCheck">
            <label for="ask302" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Celana
                </span>
            </label>
        </div>
        <div class="formCheck__item">
            <input type="checkbox" id="ask303" name="ask30" class="formCheck">
            <label for="ask303" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Sepatu
                </span>
            </label>
        </div>
        <div class="formCheck__item">
            <input type="checkbox" id="ask304" name="ask30" class="formCheck">
            <label for="ask304" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Jam tangan
                </span> </label>
        </div>
        <div class="formCheck__item display-flex formOption__otr">
            <input type="checkbox" id="ask305" name="ask30" class="formCheck">
            <label for="ask305" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Lainnya :
                </span>
            </label>
            <input type="text" name="ask30Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <h3 class="title mt45">Anda sering menggunakan produk fashion lokal atau
        non lokal?
    </h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask311" name="ask31" class="formOption">
            <label for="ask311" class="formOption__label">
                Lokal </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask312" name="ask31" class="formOption">
            <label for="ask312" class="formOption__label">
                Non Lokal
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask313" name="ask31" class="formOption">
            <label for="ask313" class="formOption__label">
                Keduanya
            </label>
        </div>
    </div>
    <h3 class="title mt45">Berapa budget yang Anda keluarkan untuk belanja produk fashion per bulan?</h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask321" name="ask32" class="formOption">
            <label for="ask321" class="formOption__label">
                0 - 200.000 </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask322" name="ask32" class="formOption">
            <label for="ask322" class="formOption__label">
                200.001 - 500.000
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask323" name="ask32" class="formOption">
            <label for="ask323" class="formOption__label">
                500.001 - 1 juta </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask324" name="ask32" class="formOption">
            <label for="ask324" class="formOption__label">
                1 juta - 2 juta
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask325" name="ask32" class="formOption">
            <label for="ask325" class="formOption__label">
                Di atas 2 juta
            </label>
        </div>
    </div>
    <h3 class="title mt45">Dimanakah Anda biasa membeli produk fashion?</h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask331" name="ask33" class="formOption">
            <label for="ask331" class="formOption__label">
                Official Store </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask332" name="ask33" class="formOption">
            <label for="ask332" class="formOption__label">
                Shopee
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask334" name="ask33" class="formOption">
            <label for="ask334" class="formOption__label">
                Tokopedia
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask333" name="ask33" class="formOption">
            <label for="ask333" class="formOption__label">
                Sociolla </label>
        </div>
        <div class="formOption__item formOption__otr">
            <input type="radio" id="ask335" name="ask33" class="formOption">
            <label for="ask335" class="formOption__label">
                Lainnya :
            </label>
            <input type="text" name="ask33Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <h3 class="title mt45">Ketika berpakaian hal apa yang Anda utamakan?</h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask341" name="ask34" class="formOption">
            <label for="ask341" class="formOption__label">
                Ingin terlihat modis </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask342" name="ask34" class="formOption">
            <label for="ask342" class="formOption__label">
                Kenyamanan dalam berpakaian
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask343" name="ask34" class="formOption">
            <label for="ask343" class="formOption__label">
                Untuk mengekspresikan diri sendiri
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask344" name="ask34" class="formOption">
            <label for="ask344" class="formOption__label">
                Ingin terlihat profesional dan percaya diri</label>
        </div>
        <div class="formOption__item formOption__otr">
            <input type="radio" id="ask345" name="ask34" class="formOption">
            <label for="ask345" class="formOption__label">
                Lainnya :
            </label>
            <input type="text" name="ask34Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <h3 class="title mt45">Jenis aksesoris yang menggambarkan personality Anda? 
    </h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask351" name="ask35" class="formOption">
            <label for="ask351" class="formOption__label">
                <img src="./asset/images/pic/hat.png" alt="" class="formPic" width="201" height="200" loading="lazy">
                <div class="text-center mt7">Topi </div>
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask352" name="ask35" class="formOption">
            <label for="ask352" class="formOption__label">
                <img src="./asset/images/pic/jacket.png" alt="" class="formPic" width="201" height="200" loading="lazy">
                <div class="text-center mt7">Jaket</div>
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask353" name="ask35" class="formOption">
            <label for="ask353" class="formOption__label">
                <img src="./asset/images/pic/watch.png" alt="" class="formPic" width="201" height="200"
                    loading="lazy">
                <div class="text-center mt7">Jam tangan</div>
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask354" name="ask35" class="formOption">
            <label for="ask354" class="formOption__label">
                <img src="./asset/images/pic/wallet.png" alt="" class="formPic" width="201" height="200"
                    loading="lazy">
                <div class="text-center mt7">Dompet</div>
            </label>
        </div>
        <div class="formOption__item formOption__otr">
            <input type="radio" id="ask355" name="ask35" class="formOption">
            <label for="ask355" class="formOption__label">
                Lainnya :
            </label>
            <input type="text" name="ask35Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <h3 class="title mt45">Dari brand fashion dibawah ini, manakah yang menjadi brand favorit Anda? 
    </h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask361" name="ask36" class="formOption">
            <label for="ask361" class="formOption__label">
                <img src="./asset/images/brand/matoa.png" alt="matoa" class="formBrand" width="171" height="79" loading="lazy">
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask362" name="ask36" class="formOption">
            <label for="ask362" class="formOption__label">
                <img src="./asset/images/brand/Berrybenka.png" alt="Berrybenka" class="formBrand" width="171" height="79" loading="lazy">
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask363" name="ask36" class="formOption">
            <label for="ask363" class="formOption__label">
                <img src="./asset/images/brand/erigo.png" alt="erigo" class="formBrand" width="171" height="79"
                    loading="lazy">
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask364" name="ask36" class="formOption">
            <label for="ask364" class="formOption__label">
                <img src="./asset/images/brand/eiger.png" alt="eiger" class="formBrand" width="171" height="79"
                    loading="lazy">
            </label>
        </div>
        <div class="formOption__item formOption__otr">
            <input type="radio" id="ask365" name="ask36" class="formOption">
            <label for="ask365" class="formOption__label">
                Lainnya :
            </label>
            <input type="text" name="ask36Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <h3 class="title mt45">Apa pertimbangan utama Anda dalam memilih brand fashion tersebut?</h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask371" name="ask37" class="formOption">
            <label for="ask371" class="formOption__label">
                Kualitas bahan </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask372" name="ask37" class="formOption">
            <label for="ask372" class="formOption__label">
                Harga
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask373" name="ask37" class="formOption">
            <label for="ask373" class="formOption__label">
                Rekomendasi teman / keluarga / iklan / influencer
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask374" name="ask37" class="formOption">
            <label for="ask374" class="formOption__label">
                Jenis / model / tone colour </label>
        </div>
        <div class="formOption__item formOption__otr">
            <input type="radio" id="ask375" name="ask37" class="formOption">
            <label for="ask375" class="formOption__label">
                Lainnya :
            </label>
            <input type="text" name="ask37Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <button class="button buttonSecondary mb20" type="button" id="fashbtnp"><span class="icon icon-arrow"></span>Sebelumnya</button>
    <button class="button buttonPrimary buttonPrimary--icon mb20" type="submit" id="fashbtn">Kirim Jawaban</button>
</div>