<div class="formCheck__wrap display-flex">
    <div class="formCheck__item">
        <input type="checkbox" id="ask01" name="ask0" class="formCheck">
        <label for="ask01" class="formCheck__label">
            <span class="formCheckbox"></span>
            <span class="formCheck__txt">
                Facial Wash </span>
        </label>
    </div>
    <div class="formCheck__item">
        <input type="checkbox" id="ask02" name="ask0" class="formCheck">
        <label for="ask02" class="formCheck__label">
            <span class="formCheckbox"></span>
            <span class="formCheck__txt">
                Moisturizer
            </span>
        </label>
    </div>
    <div class="formCheck__item">
        <input type="checkbox" id="ask03" name="ask0" class="formCheck">
        <label for="ask03" class="formCheck__label">
            <span class="formCheckbox"></span>
            <span class="formCheck__txt">
                Toner
            </span>
        </label>
    </div>
    <div class="formCheck__item">
        <input type="checkbox" id="ask04" name="ask0" class="formCheck">
        <label for="ask04" class="formCheck__label">
            <span class="formCheckbox"></span>
            <span class="formCheck__txt">
                Sunscreen
            </span> </label>
    </div>
    <div class="formCheck__item display-flex formOption__otr">
        <input type="checkbox" id="ask05" name="ask0" class="formCheck">
        <label for="ask05" class="formCheck__label">
            <span class="formCheckbox"></span>
            <span class="formCheck__txt">
                Lainnya :
            </span>
        </label>
        <input type="text" name="ask0Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder="" value=""
            inputmode="text">
    </div>
</div>