<div id="makeup" class="sectionChild" data-aos="zoom-out-up" data-aos-easing="ease-in-sine">
    <h3 class="title mt45">Apa Makeup Look yang Anda gemari? 
    </h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask151" name="ask15" class="formOption">
            <label for="ask151" class="formOption__label">
                Natural Look </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask152" name="ask15" class="formOption">
            <label for="ask152" class="formOption__label">
                Dewy Glowing Look
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask153" name="ask15" class="formOption">
            <label for="ask153" class="formOption__label">
                Flawless Look
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask154" name="ask15" class="formOption">
            <label for="ask154" class="formOption__label">
                Bold Look</label>
        </div>
    </div>
    <h3 class="title mt45">Jenis produk Makeup apa yang paling sering Anda gunakan?
    </h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask161" name="ask16" class="formOption">
            <label for="ask161" class="formOption__label">
                Loose Powder / Compact Powder 
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask162" name="ask16" class="formOption">
            <label for="ask162" class="formOption__label">
                Eyebrow
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask163" name="ask16" class="formOption">
            <label for="ask163" class="formOption__label">
                Lipstick / Lipcream / Liptint 
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask164" name="ask16" class="formOption">
            <label for="ask164" class="formOption__label">
                Foundation / Cushion
            </label>
        </div>
        <div class="formOption__item formOption__otr">
            <input type="radio" id="ask165" name="ask16" class="formOption">
            <label for="ask165" class="formOption__label">
                Lainnya :
            </label>
            <input type="text" name="ask16Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <h3 class="title mt45">Anda sering menggunakan produk makeup lokal atau
        non lokal?
    </h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask171" name="ask17" class="formOption">
            <label for="ask171" class="formOption__label">
                Lokal </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask172" name="ask17" class="formOption">
            <label for="ask172" class="formOption__label">
                Non Lokal
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask173" name="ask17" class="formOption">
            <label for="ask173" class="formOption__label">
                Keduanya
            </label>
        </div>
    </div>
    <h3 class="title mt45">Dari produk yang pernah digunakan, apa brand makeup yang paling sering Anda gunakan?
    </h3>
    <div class="formCheck__wrap display-flex">
        <div class="formCheck__item">
            <input type="checkbox" id="ask181" name="ask18" class="formCheck">
            <label for="ask181" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    <img src="./asset/images/brand/maybelline.png" alt="maybelline" class="formBrand" width="171"
                        height="79" loading="lazy">
                </span>
            </label>
        </div>
        <div class="formCheck__item">
            <input type="checkbox" id="ask182" name="ask18" class="formCheck">
            <label for="ask182" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    <img src="./asset/images/brand/esqa.png" alt="esqa" class="formBrand" width="171" height="79"
                        loading="lazy">
                </span>
            </label>
        </div>
        <div class="formCheck__item">
            <input type="checkbox" id="ask183" name="ask18" class="formCheck">
            <label for="ask183" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    <img src="./asset/images/brand/emina.png" alt="emina" class="formBrand" width="171" height="79"
                        loading="lazy">
                </span> </label>
        </div>
        <div class="formCheck__item">
            <input type="checkbox" id="ask184" name="ask18" class="formCheck">
            <label for="ask184" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    <img src="./asset/images/brand/luxcrime.png" alt="luxcrime" class="formBrand" width="171"
                        height="79" loading="lazy">
                </span>
            </label>
        </div>
        <div class="formCheck__item display-flex formOption__otr">
            <input type="checkbox" id="ask185" name="ask18" class="formCheck">
            <label for="ask185" class="formCheck__label">
                <span class="formCheckbox"></span>
                <span class="formCheck__txt">
                    Lainnya :
                </span>
            </label>
            <input type="text" name="ask18Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <h3 class="title mt45">Dari produk yang pernah digunakan, apa brand makeup terbaik menurut Anda?
    </h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask191" name="ask19" class="formOption">
            <label for="ask191" class="formOption__label">
                <img src="./asset/images/brand/maybelline.png" alt="maybelline" class="formBrand" width="171" height="79"
                    loading="lazy">
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask192" name="ask19" class="formOption">
            <label for="ask192" class="formOption__label">
                <img src="./asset/images/brand/esqa.png" alt="esqa" class="formBrand" width="171" height="79"
                    loading="lazy">
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask193" name="ask19" class="formOption">
            <label for="ask193" class="formOption__label">
                <img src="./asset/images/brand/emina.png" alt="emina" class="formBrand" width="171" height="79"
                    loading="lazy">
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask194" name="ask19" class="formOption">
            <label for="ask194" class="formOption__label">
                <img src="./asset/images/brand/luxcrime.png" alt="luxcrime" class="formBrand" width="171" height="79"
                    loading="lazy">
            </label>
        </div>
        <div class="formOption__item formOption__otr">
            <input type="radio" id="ask195" name="ask19" class="formOption">
            <label for="ask195" class="formOption__label">
                Lainnya :
            </label>
            <input type="text" name="ask19Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <h3 class="title mt45">Apa pertimbangan utama Anda dalam memilih brand makeup? </h3>
    <div class="formOption__wrap display-flex">
        <div class="formOption__item">
            <input type="radio" id="ask201" name="ask20" class="formOption">
            <label for="ask201" class="formOption__label">
                Harga </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask202" name="ask20" class="formOption">
            <label for="ask202" class="formOption__label">
                Izin produk
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask203" name="ask20" class="formOption">
            <label for="ask203" class="formOption__label">
                Komposisi / Kandungan / Manfaat
            </label>
        </div>
        <div class="formOption__item">
            <input type="radio" id="ask204" name="ask20" class="formOption">
            <label for="ask204" class="formOption__label">
                Kesesuaian dengan jenis kulit</label>
        </div>
        <div class="formOption__item formOption__otr">
            <input type="radio" id="ask205" name="ask20" class="formOption">
            <label for="ask205" class="formOption__label">
                Lainnya :
            </label>
            <input type="text" name="ask20Txt" class="formInput formInput__otr" aria-label="Lainnya" placeholder=""
                value="" inputmode="text">
        </div>
    </div>
    <button class="button buttonSecondary mb20" type="button" id="mkupbtnp"><span class="icon icon-arrow"></span>Sebelumnya</button>
    <button class="button buttonPrimary buttonPrimary--icon mb20" type="button" id="mkupbtn">Selanjutnya <span
            class="icon icon-arrow icon-arrow-right"></span></button>
</div>