<div class="stepWrap flex-center">
    <div class="stepItem flex-center">
        <div class="stepIcon__wrap" id="step0">
            <div class="icon stepIcon--skincare stepIcon">
                {{>i-skincare}}
            </div>
        </div>
        <div class="stepTxt">Skincare</div>
    </div>
    <div class="stepItem flex-center">
        <div class="stepIcon__wrap" id="step1">
            <div class="icon stepIcon--haircare stepIcon">
                {{>i-haircare}}
            </div>
        </div>
        <div class="stepTxt">Hair Care</div>
    </div>
    <div class="stepItem flex-center">
        <div class="stepIcon__wrap" id="step2">
            <div class="icon stepIcon--bodycare stepIcon">
                {{>i-bodycare}}
            </div>
        </div>
        <div class="stepTxt">Body Care</div>
    </div>
    <div class="stepItem flex-center">
        <div class="stepIcon__wrap" id="step3">
            <div class="icon stepIcon--makeup stepIcon">
                {{>i-makeup}}
            </div>
        </div>
        <div class="stepTxt">Makeup</div>
    </div>
    <div class="stepItem flex-center">
        <div class="stepIcon__wrap" id="step4">
            <div class="icon stepIcon--food stepIcon">
                {{>i-food}}
            </div>
        </div>
        <div class="stepTxt">Healthy Food</div>
    </div>
    <div class="stepItem flex-center">
        <div class="stepIcon__wrap" id="step5">
            <div class="icon stepIcon--fashion stepIcon">
                {{>i-fashion}}
            </div>
        </div>
        <div class="stepTxt">Fashion</div>
    </div>
</div>