<footer>
    <div class="footer text-center">
        <button class="button buttonTotop" aria-label="Back to top" onclick="backToTop()"><span class="icon icon-next"></span></button>
        <a href="index.html">
            <img src="asset/images/logo-aramula-small.png" alt="Aramula" width="315" height="52" loading="lazy">
        </a>
        <ul class="footerList display-flex jcontent-center mt30">
            <li class="footerItem">
                <a href="#" class="footerLink">About us</a>
            </li>
            <li class="footerItem">
                <a href="#" class="footerLink">Career</a>
            </li>
            <li class="footerItem">
                <a href="#" class="footerLink">Policy</a>
            </li>
            <li class="footerItem">
                <a href="#" class="footerLink">Cyber guideline</a>
            </li>
            <li class="footerItem">
                <a href="#" class="footerLink">Contact us</a>
            </li>
            <li class="footerItem">
                <a href="#" class="footerLink">FAQ</a>
            </li>
        </ul>
        <ul class="footerList display-flex jcontent-center aitems-center mt30">
            <li class="footerItem footerSocial">
                follow us :
            </li>
            <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                    rel="noopener noreferrer" aria-label="Facebook"><span class="icon icon-fb"></span></a></li>
            <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                    rel="noopener noreferrer" aria-label="Instagram"><span class="icon icon-ig"></span></a></li>
            <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                    rel="noopener noreferrer" aria-label="Twitter"><span class="icon icon-tw"></span></a></li>
            <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                    rel="noopener noreferrer" aria-label="Youtube"><span class="icon icon-yt"></span></a></li>
        </ul>
        <div class="footerBottom mt40">
            © 2021 Aramula.com
        </div>
    </div>
</footer>