<header class="header">
    <div class="headerFixed headerStories display-flex aitems-center">
        <div class="menu">
            <label class="sr-only" for="menuToggle">Open navigation</label>
            <input type="checkbox" class="menuToggle" name="check" id="menuToggle" aria-haspopup="true">
            {{> header/burger}}
            <div class="menuList">
                <a href="index.html" class="menuLogo__wrap">
                    <img src="asset/images/logo-aramula-small.png" class="menuLogo" alt="Aramula" width="228"
                        height="37" loading="lazy">
                </a>
                <ul>
                    <li class="menuCaption">Pilihan Kanal :</li>
                    {{#each menu}}
                    <li class="menuItem"><a href="{{link}}"
                            class="menuLink{{#eq title compare=../page}} active{{/eq}}">{{title}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="text-center">
            <img src="asset/images/ara-stories.png" class="" alt="Ara Stories" width="207" height="37" loading="lazy">
        </div>
    </div>
</header>