<header class="header">
    <div class="headerFixed display-flex aitems-center">
        <ul class="social display-flex">
            <li class="socialIcon"><a href="#" class="socialLink display-flex" target="_blank" rel="noopener noreferrer"
                    aria-label="Facebook"><span class="icon icon-fb"></span></a></li>
            <li class="socialIcon"><a href="#" class="socialLink display-flex" target="_blank" rel="noopener noreferrer"
                    aria-label="Instagram"><span class="icon icon-ig"></span></a></li>
            <li class="socialIcon"><a href="#" class="socialLink display-flex" target="_blank" rel="noopener noreferrer"
                    aria-label="Twitter"><span class="icon icon-tw"></span></a></li>
            <li class="socialIcon"><a href="#" class="socialLink display-flex" target="_blank" rel="noopener noreferrer"
                    aria-label="Youtube"><span class="icon icon-yt"></span></a></li>
        </ul>
        <div class="display-flex">
            <button class="button buttonLogin">Masuk</button>
            <button class="button buttonRegister"><span class="icon icon-reg mr10"></span>Daftar Aramula.com</button>
            <button class="button buttonSearch" aria-label="Search"><span class="icon icon-search"></span></button>
        </div>
    </div>
    <div class="headerContent container">
        <div class="headerLogo text-center">
            <a href="index.html">
                <img src="asset/images/logo-aramula.png" alt="Aramula" width="457" height="75" loading="lazy">
            </a>
        </div>
        <nav class="nav mt40">
            <ul class="navList display-flex jcontent-center">
                <li class="navItem"><a href="#" class="navLink active">Home</a></li>
                <li class="navItem"><a href="#" class="navLink">Hangout</a></li>
                <li class="navItem"><a href="#" class="navLink">Hallyu</a></li>
                <li class="navItem"><a href="#" class="navLink">Zodiac</a></li>
                <li class="navItem"><a href="#" class="navLink">Women</a></li>
                <li class="navItem"><a href="#" class="navLink">Entertainment</a></li>
                <li class="navItem"><a href="#" class="navLink">Numpang Promo</a></li>
                <li class="navItem"><a href="#" class="navLink">Stories</a></li>
                <li class="navItem"><a href="#" class="navLink">Photo</a></li>
                <li class="navItem"><a href="#" class="navLink">Video</a></li>
                <li class="navItem"><a href="#" class="navLink">Indeks</a></li>
                <li class="navItem"><a href="#" class="navLink" aria-label="More navigation"><span class="icon icon-arrow"></span></a></li>
            </ul>
        </nav>
    </div>
</header>