<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Aramula</title>
    <meta name="description" content="Aramula">
    <meta name="keywords" content="">

    <meta property="og:type" content="article" />
    <!-- s: fb meta -->
    <meta property="og:url" content="" />
    <meta property="og:title" content="Aramula" />
    <meta property="og:description" content="Aramula" />

    <meta property="og:image" content="" />
    <meta property="fb:admins" content="1386097730" />
    <meta property="fb:app_id" content="161133340609176" />
    <!-- s:twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="Aramula" />
    <meta name="twitter:description" content="Aramula" />
    <meta name="twitter:image" content="" />
    <!-- e:twitter card -->

    {{!-- <link rel="shortcut icon" href="https://assets-a1.kompasiana.com/statics/kompasiana2015/images/favicon.ico?v=5" type="image/x-icon"> --}}
	{{!-- <link rel="icon" href="https://assets-a1.kompasiana.com/statics/kompasiana2015/images/favicon.ico?v=5" type="image/x-icon"> --}}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="preload stylesheet" as="style">
    <link type="text/css" rel="stylesheet" href="asset/css/style.min.css">

    <link rel="preload" href="asset/images/logo-aramula.png" as="image" />
    <link rel="preload" href="asset/images/ads/billboard.jpg" as="image" />

</head>
