<div class="sellerNavItem{{#eq active compare='Beranda Toko'}} active{{/eq}}">
    <a href="seller.html" class="sellerLink">Beranda Toko</a>
</div>
<div class="sellerNavItem{{#eq active compare='Semua Produk'}} active{{/eq}}">
    <a href="seller-catalog.html" class="sellerLink">Semua
        Produk</a>
</div>