<div class="headlineWrap sellerSliderWrap" id="sbanner">
    {{#each headline}}
    <div class="headlineItem">
        <div class="sellerSliderBox">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="./asset/images/{{image}}" media="(min-width: 540px)" alt="">
                <img srcset="./asset/images/{{image}}" alt="" class="border-sm" width="840" height="351">
                <!--[if IE 9]></video><![endif]-->
            </picture>
        </div>
    </div>
    {{/each}}
</div>
<div class="headlineBottom">
    <div class="headlineDots" id="dtbanner">
    </div>
</div>