<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>
    <!-- header -->
    {{> header page="" login=false}}
    <!-- header -->
    <!-- main -->
    <main role="main" class="main">
        <section class="container">
            <img src="asset/images/404.png" class="text-center mt30" alt="" width="332" height="116">
            <h1 class="helpCaption text-center mt20">Ups Halaman yang kamu cari tidak tersedia</h1>
            <p class="helpText text-center mt10">Alamat yang anda masukan salah, tidak tersedia, atau sudah dihapus.</p>
            <a href="index.html" class="helpButton buttonPink buttonPink--big mt20">kembali ke halaman utama</a>
            <div class="articleCaption mt30">Rekomendasi Artikel Untuk Kamu</div>
            {{> article}}
        </section>
    </main>

    <!-- footer -->
    {{> footer top=false}}

    {{> js}}

</body>

</html>