<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>
    <!-- header -->
    {{> header page="" login=false}}
    <!-- header -->
    <!-- main -->
    <main role="main" class="main">
        <section class="container">
            <img src="asset/images/502.png" class="text-center mt30" alt="" width="269" height="200">
            <h1 class="helpCaption text-center mt20">502 Bad Gateway</h1>
            <p class="helpText text-center mt10">Terjadi gangguan. Silakan menunggu beberapa saat lagi.</p>
        </section>
    </main>

    <!-- footer -->
    {{> footer top=false}}

    {{> js}}

</body>

</html>