<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>
    <!-- header -->
    {{> header page="" login=false}}
    <!-- header -->
    <!-- main -->
    <main role="main" class="main">
        <section class="container help">
            <div class="articleCaption mt30">About Us</div>
            <p class="helpContent mt20">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras id eu libero. Sit
                turpis massa, non suscipit in bibendum nec volutpat viverra. Facilisi faucibus facilisi pharetra
                pellentesque tristique. Lorem nullam placerat venenatis id pretium magna viverra cursus placerat. Nullam
                pulvinar nulla id nisl id at hendrerit massa. In ullamcorper quis justo, commodo tincidunt.
                Nunc tellus sed neque lorem donec sem. Gravida ac sit tempor diam. Morbi sapien hendrerit fringilla
                vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu nibh dui. Adipiscing eget bibendum
                sociis mauris ipsum. Commodo leo nec, molestie amet dui massa ornare metus, bibendum. Ornare posuere
                elementum maecenas aliquam aliquet. Elementum ac platea condimentum laoreet massa habitasse sagittis.
                Elit elementum, enim porttitor amet morbi.
            </p>
            <div class="helpTitle mt20">Publisher :</div>
            <p class="helpContent mt10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras id eu libero. Sit
                turpis massa, non suscipit in bibendum nec volutpat viverra. Facilisi faucibus facilisi pharetra
                pellentesque tristique. Lorem nullam placerat venenatis id pretium magna viverra cursus placerat. Nullam
                pulvinar nulla id nisl id at hendrerit massa.
            </p>
            <div class="helpTitle mt20">Management Team :</div>
            <p class="helpContent mt10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras id eu libero. Sit
                turpis massa, non suscipit in bibendum nec volutpat viverra. Facilisi faucibus facilisi pharetra
                pellentesque tristique.
            </p>
            <ol class="helpContent">
                <li>Chief Executive Officer : Andy</li>
                <li>Chief Marketing Officer : Dian</li>
                <li>Chief Operation Officer : Budiman</li>
            </ol>
            <div class="helpTitle mt20">Marketing Digital Team :</div>
            <p class="helpContent mt10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras id eu libero. Sit
                turpis massa, non suscipit in bibendum nec volutpat viverra. Facilisi faucibus facilisi pharetra
                pellentesque tristique.
            </p>
            <ul class="helpContent">
                <li>Marketing Superintendent : Qolbi</li>
                <li>Creative Officer: Rizki</li>
                <li>Copywriter: Dewi</li>
            </ul>
            <div class="helpTitle mt20">Head Office</div>
            <p class="helpContent mt10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras id eu libero. Sit
                turpis massa, non suscipit in bibendum nec volutpat viverra. Facilisi faucibus facilisi pharetra
                pellentesque tristique.
            </p>
        </section>
    </main>
    {{> ads/sticky}}

    <!-- footer -->
    {{> footer}}

    {{> js}}

</body>

</html>