<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>
    <!-- header -->
    {{> header page="" login=false}}
    <!-- header -->
    <!-- main -->
    <main role="main" class="main">
        <section class="container">
            <form class="mt30" action="">
                <h1 class="formCaption">Lupa Password?</h1>
                <div class="formText mt20">
                    Masukkan email yang pernah kamu daftarkan untuk mendapatkan tautan pengubah password.
                </div>
                <div class="formWrap mt20">
                    <span class="icon icon-mail formIcon">
                    </span>
                    <input class="formInput formInput__wicon text-center" id="email" type="email" placeholder="Email"
                        aria-label="Input Email">
                </div>
                <button class="button buttonPink buttonPink--big mt20" type="submit" name="submit">
                    kirim
                </button>
            </form>
        </section>
    </main>

    <!-- footer -->
    {{> footer top=false}}

    {{> js page="faccess"}}

</body>

</html>