<!DOCTYPE html>
<html lang="en">
{{> head page="Home"}}

<body>
	{{> ads/pushdown}}
	<!-- header -->
	{{> header page="Home" login=false}}
	<!-- header -->

	<!-- main -->
	<main role="main" class="main">
		<section class="container">
			{{> event}}
			{{> ads/top}}
			{{> headline}}
			{{> highlight}}
			{{> article}}
			{{> sidebar/trending}}
			{{> ads/middle}}
			{{> sidebar/hashtag}}
			{{> sidebar/highlight}}
			{{> article mt=30}}
			{{> ads/bottom}}
			{{> highlight-stories}}
			{{> article mt=30}}
			{{> ads/middle}}
			{{> sidebar/highlight-promo}}
			{{> highlight-photo}}
			{{> article mt=30}}
			{{> ads/parallax}}
			{{> sidebar/writer}}
			{{> career}}
			{{> highlight-video}}
			{{> article-more}}
		</section>
	</main>
	{{> ads/sticky}}

	<!-- footer -->
	{{> footer}}

	{{> js page="Home" slick=true json=true}}

</body>

</html>