<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>
    <!-- header -->
    {{> header page="" login=false}}
    <!-- header -->
    <!-- main -->
    <main role="main" class="main">
        <section class="container">
            <form class="mt30" action="">
                <h1 class="formCaption">Login</h1>
                <div class="formText mt20">
                    Gunakan akun media sosialmu untuk mengakses seluruh fitur Aramula.com
                </div>
                <div class="formStatus formError flex-center mt30">
                    <span><img src="asset/images/icon-error.png" class="mr10" alt="" width="20" height="20"></span>
                    Username atau password tidak cocok
                </div>
                <div class="formText mt20">
                    <a href="#" class="buttonGoogle flex-center">
                        <span class="icon icon-google mr10">
                            <img src="asset/images/icon-google.png" alt="" width="30" height="30" loading="lazy">
                        </span>
                        Masuk dengan Google
                    </a>
                </div>
                <div class="formLine text-center mt20">
                    <span>atau</span>
                </div>
                <div class="formText text-center mt20">Masuk dengan akun yang sudah ada</div>
                <div class="formWrap mt20">
                    <span class="icon icon-user formIcon">
                    </span>
                    <input class="formInput formInput__wicon text-center" id="username" type="text"
                        value="sophie.anggita@gmail.com" placeholder="Username" aria-label="Input Username">
                </div>
                <div class="formWrap mt20">
                    <span class="icon icon-key formIcon">
                    </span>
                    <input class="formInput formInput__wicon text-center" id="password" type="password" value="password"
                        placeholder="password" aria-label="Input Password">
                    <button class="button buttonEye close" type="button" aria-label="Show password"
                        toggle="#password"><span class="icon icon-eye formIcon"></span></button>
                </div>
                <div class="formWrap flex-center mt20">
                    <img src="asset/images/sample/captcha.jpg" alt="" width="324" height="85">
                </div>
                <button class="button buttonPink buttonPink--big mt20" type="submit" name="submit">
                    Masuk
                </button>
                <div class="formText text-center mt20">Belum punya akun? <a href="register.html" class="pink">Daftar disini</a>
                </div>
                <div class="formText text-center mt20"><a href="forgot.html" class="pink">Lupa password</a>
                </div>
            </form>
        </section>
    </main>

    <!-- footer -->
    {{> footer}}

    {{> js page="faccess"}}

</body>

</html>