<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>
    <!-- header -->
    {{> header page="" login=false}}
    <!-- header -->
    <!-- main -->
    <main role="main" class="main">
        <section class="container">
            <form class="mt30" action="">
                <h1 class="formCaption">Buat Password Baru</h1>
                <div class="formText mt20">
                    Masukkan password terbarumu.
                </div>
                <div class="formWrap mt20">
                    <span class="icon icon-key formIcon">
                    </span>
                    <input class="formInput formInput__wicon text-center" id="password" type="password"
                        placeholder="password" aria-label="Input Password">
                    <button class="button buttonEye close" type="button" aria-label="Show password"
                        toggle="#password"><span class="icon icon-eye formIcon"></span></button>
                </div>
                <div class="formWrap mt20">
                    <span class="icon icon-key formIcon">
                    </span>
                    <input class="formInput formInput__wicon text-center" id="password2" type="password"
                        placeholder="Ketik Ulang Password" aria-label="Retype Password">
                    <button class="button buttonEye close" type="button" aria-label="Show password"
                        toggle="#password2"><span class="icon icon-eye formIcon"></span></button>
                </div>
                <button class="button buttonPink buttonPink--big mt20" type="submit" name="submit">
                    ubah password
                </button>
            </form>
        </section>
    </main>

    <!-- footer -->
    {{> footer top=false}}

    {{> js page="faccess"}}

</body>

</html>