<!DOCTYPE html>
<html lang="en">
{{> head page="Profile"}}

<body>
    <!-- header -->
    {{> header page="Profile" active="Beranda" login=true}}
    <!-- header -->
    <!-- main -->
    <main role="main" class="main">
        <section class="profile container">
            <div class="flex-center dir-column">
                <img loading="lazy" src="https://api.lorem.space/image/face?w=86&amp;h=86&amp;hash=A89D0DE6" width="86"
                    height="86" alt="" class="userAvatar userAvatar--big">
                <h1 class="profileName mt10">Sophie Anggita</h1>
                <a href="#" class="button buttonPink buttonPink--big text-center mt10">lihat profil</a>
            </div>
            <div class="articleCaption mt30">Koleksi Artikelmu</div>
            {{> article}}
            {{> article}}
            <button class="button buttonMore mt30">Lihat selengkapnya</button>
        </section>
    </main>

    <!-- footer -->
    {{> footer}}

    {{> js page="Profile"}}

</body>

</html>