<!DOCTYPE html>
<html lang="en">
{{> head page="Profile"}}

<body>
    <!-- header -->
    {{> header page="Profile" active="Ubah Profil" login=true}}
    <!-- header -->
    <!-- main -->
    <main role="main" class="main">
        <section class="profile container">
            <div class="articleCaption">Ubah Profil</div>
            <div class="flex-center dir-column mt20">
                <button class="button profileBtn__upload" aria-label="Upload Image"><span
                        class="icon icon-cam"></span></button>
                {{!-- <div class="profileUpload__img">
                    <img loading="lazy" src="https://api.lorem.space/image/face?w=86&amp;h=86&amp;hash=A89D0DE6"
                        width="86" height="86" alt="" class="userAvatar userAvatar--big">
                </div> --}}
                <button class="profileBtn__del mt10">Hapus</button>
            </div>
            <ul class="profileStep mt20">
                <li class="profileStep__item">Upload foto dengan ukuran 500 x 500 px</li>
                <li class="profileStep__item">Foto yang diupload harus dibawah 1 mb</li>
                <li class="profileStep__item">Avatarmu akan muncul dalam 5 menit</li>
            </ul>
            <form action="" class="mt30">
                <div class="formWrap mt20">
                    <label for="email" class="formLabel">Email</label>
                    <input class="formInput mt10" id="email" type="email" value="sophieanggita@gmail.com" disabled>
                </div>
                <div class="formWrap mt20">
                    <label for="phone" class="formLabel">Nomor Telepon</label>
                    <input class="formInput mt10" id="phone" type="text" value="0812-3456-7890" inputmode="tel"
                        disabled>
                </div>
                <div class="formWrap formWrap__col row mt20">
                    <div class="formWrap__item col-gd10-5">
                        <label for="frontname" class="formLabel">Nama Depan</label>
                        <input class="formInput mt10" id="frontname" type="text" value="Sophie">
                    </div>
                    <div class="formWrap__item col-gd10-5">
                        <label for="lastname" class="formLabel">Nama Belakang</label>
                        <input class="formInput mt10" id="lastname" type="text" value="Anggita">
                    </div>
                </div>
                <div class="mt20">
                    <label for="birthdate" class="formLabel">Tanggal Lahir</label>
                    <div class="formWrap mt10">
                        <input type="text" id="birthdate" class="formInput formInput__icon" autocomplete="off"
                            value="01/08/1995">
                        <span class="icon icon-calendar profileIcon__cal"></span>
                    </div>
                </div>
                <div class="formLabel mt20">Jenis Kelamin</div>
                <div class="display-flex mt10">
                    <div class="formWrap display-flex aitems-center">
                        <input type="radio" id="man" class="formRadio" name="sex">
                        <label for="man" class="formText ml10">Laki-laki</label>
                    </div>
                    <div class="formWrap display-flex aitems-center ml10">
                        <input type="radio" id="woman" class="formRadio" name="sex">
                        <label for="woman" class="formText ml10">Perempuan</label>
                    </div>
                </div>
                <div class="formSelect__wrap mt20">
                    <label for="city" class="formLabel">Kota</label>
                    <select class="formSelect custom-select mt10" id="city">
                        <option value="DI Yogyakarta">DI Yogyakarta</option>
                        <option value="DKI Jakarta" selected>DKI Jakarta</option>
                        <option value="Tangerang">Tangerang</option>
                    </select>
                </div>
                <div class="formWrap profileSocial profileSocial__setting">
                    <div class="formLabel mt20">Sosial Media</div>
                    <div class="display-flex aitems-center mt10">
                        <div class="icon icon-fb"></div>
                        <input class="formInput ml10" id="facebook" type="text" value="" aria-label="facebook">
                    </div>
                    <div class="display-flex aitems-center mt20">
                        <div class="icon icon-ig"></div>
                        <input class="formInput ml10" id="instagram" type="text" value="" aria-label="instagram">
                    </div>
                    <div class="display-flex aitems-center mt20">
                        <div class="icon icon-tw"></div>
                        <input class="formInput ml10" id="twitter" type="text" value="" aria-label="twitter">
                    </div>
                    <div class="display-flex aitems-center mt20">
                        <div class="icon icon-yt"></div>
                        <input class="formInput ml10" id="youtube" type="text" value="" aria-label="youtube">
                    </div>
                    <div class="display-flex aitems-center mt20">
                        <div class="icon icon-ln"></div>
                        <input class="formInput ml10" id="linkedin" type="text" value="" aria-label="linkedin">
                    </div>
                </div>
                <div class="formWrap formArea__wrap mt20">
                    <label for="bio" class="formLabel">Bio</label>
                    <textarea class="formArea mt10" id="bio" cols="30" rows="4"></textarea>
                </div>
                <div class="articleCaption mt30">Ubah Password</div>
                <div class="mt10">
                    <label for="password" class="formLabel">Buat Password Baru</label>
                    <div class="formWrap mt10">
                        <input class="formInput formInput__icon" id="password" type="password">
                        <button class="button buttonEye profileBtn__eye close" type="button" aria-label="Show password"
                            toggle="#password"><span class="icon icon-eye formIcon"></span></button>
                    </div>
                </div>
                <div class="mt20">
                    <label for="password2" class="formLabel">Ketik Ulang Password Baru</label>
                    <div class="formWrap mt10">
                        <input class="formInput formInput__icon" id="password2" type="password">
                        <button class="button buttonEye profileBtn__eye close" type="button" aria-label="Show password"
                            toggle="#password2"><span class="icon icon-eye formIcon"></span></button>
                    </div>
                </div>
                <button class="button buttonPink buttonPink--big mt20" type="submit">Simpan</button>
            </form>
        </section>
    </main>

    <!-- footer -->
    {{> footer}}

    {{> js page="Profile" date=true}}

</body>

</html>