<!DOCTYPE html>
<html lang="en">
{{> head page="Profile"}}

<body>
    <!-- header -->
    {{> header page="Profile" active="Tulis Artikel" login=true}}
    <!-- header -->
    <!-- main -->
    <main role="main" class="main">
        <section class="profile container">
            <div class="articleCaption">Tulis Artikel</div>
            <form class="mt30">
                {{> profile/section}}
                <!-- s : more section -->
                <div class="profileSection__wrap row">
                    <div class="profileHeading display-flex jcontent-between">
                        Subheading 1
                        <button type="button" class="button profileSection__del">Hapus</button>
                    </div>
                    {{> profile/section1}}
                </div>
                <div id="load">

                </div>
                <!-- e : more section -->
                <button class="button buttonTrans buttonTrans--big mt30" id="buttonSection" type="button"><span
                        class="profileBtn__add mr10">+</span> Tambah Section</button>
                {{> profile/tags}}
                <button class="button buttonPink buttonPink--big mt20" type="submit">Submit</button>
                <button class="button buttonTrans buttonTrans--big mt10" type="button">Jadikan Draft</button>
            </form>
        </section>
    </main>

    <!-- footer -->
    {{> footer}}

    {{> js page="Profile"}}
    <script src="//cdn.gaic.com/cdn/ui-bootstrap/0.58.0/js/lib/ckeditor/ckeditor.js"></script>
    <script defer src="./asset/js/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script defer type="text/javascript" src="asset/js/more-section.min.js"></script>
    <script>
        $(document).ready(function () {
            //upload image
            $('input[type=file]').change(function (e) {
                $in = $(this);
                $in.next().html($in.val());
            });

            //desc editor
            $('.editor').each(function () {
                CKEDITOR.replace($(this).prop('id'));
            });
            //CKEDITOR.replace('editor');
            CKEDITOR.editorConfig = function (config) {
                config.extraPlugins = 'confighelper';
            };

            //delete section
            var btndel = $('.profileSection__del');
            btndel.click(function (e) {
                $(this).parent().parent().remove();
            })

            //tags label
            $('.-tagselect').tagsinput({
                freeInput: true,
                tagClass: 'tagsItem'
            });
        })
    </script>

</body>

</html>