<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>
    <!-- header -->
    {{> header page="Numpang Promo" login=false}}
    <!-- header -->
    <!-- main -->
    <main role="main" class="main">
        <section class="container">
            {{> ads/top mt=0}}
            <div class="mt20">
                <img src="asset/images/numpang-promo.png" class="promoLogo" alt="Numpang Promo" width="234" height="32">
            </div>
            {{> article tag="promo"}}
            {{> article tag="promo"}}
            {{> paging mt=30}}
        </section>
    </main>
    {{> ads/sticky}}

    <!-- footer -->
    {{> footer}}

    {{> js}}

</body>

</html>