<!DOCTYPE html>
<html lang="en">
{{> head page="Read" slick=true}}

<body>
    <!-- header -->
    {{> header page="" login=false}}
    <!-- header -->
    <ul class="breadcrumb display-flex">
        <li class="breadcrumbItem"><a href="#" class="breadcrumbLink">Home</a></li>
        <li class="breadcrumbItem"><a href="#" class="breadcrumbLink active">Numpang Promo</a></li>
    </ul>
    <!-- main -->
    <main role="main" class="main">
        <section class="container">
            <article>
                <h1 class="readTitle text-center mt20">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo
                </h1>
                <div class="readWriter text-center mt20"><b><a href="#">Alphonse Elric</a></b> | 11 September 2021 |
                    12.23
                    WIB</div>
                {{> read/share}}
                <div class="readImg__wrap flex-center mt20">
                    <div class="readImg__expand">
                        <img src="asset/images/sample/art-big-4.jpg" class="readImg" alt="" width="324" height="239"
                            loading="lazy">
                        <button class="button buttonExpand"><span class="icon icon-expand"></span>
                        </button>
                    </div>
                    <div class="readImg__thumb text-center mt10">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Sit et
                        amet, parturient sed sodales. Ut est sed quis et adipiscing tristique. Maecenas vitae
                        nulla tellus nisl volutpat. </div>
                </div>
                <div class="readContent mt20">
                    <h2>1. Delish Burger Jangan Takut Gendut!</h2>
                    <p>
                        In ullamcorper quis justo, commodo tincidunt.
                        <a href="#">Nunc tellus sed neque lorem donec</a> sem. Gravida ac sit tempor diam. Morbi
                        sapien
                        hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                        nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                        dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                        Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                        porttitor amet morbi.
                    </p>
                    <h2>2. Makan Burger Citarasa Indonesia</h2>
                    <p>
                        In ullamcorper quis justo, commodo tincidunt.
                        Nunc tellus sed neque lorem donec sem. Gravida ac sit tempor diam. Morbi sapien
                        hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                        nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                        dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                        Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                        porttitor amet morbi.
                    </p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras
                            id eu libero. Sit turpis massa, non suscipit in bibendum.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras
                            id eu libero. Sit turpis massa, non suscipit in bibendum.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras
                            id eu libero. Sit turpis massa, non suscipit in bibendum.</li>
                    </ul>
                    <h2>3. Rasa Bintang Lima Harga Kaki Lima</h2>
                    <p>
                        In ullamcorper quis justo, commodo tincidunt.
                        Nunc tellus sed neque lorem donec sem. Gravida ac sit tempor diam. Morbi sapien
                        hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                        nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                        dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                        Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                        porttitor amet morbi.
                    </p>
                    <div class="readImg__wrap flex-center mt20">
                        <div class="readImg__expand">
                            <img src="asset/images/sample/art-big-5.jpg" class="readImg" alt="" width="324" height="239"
                                loading="lazy">
                            <button class="button buttonExpand"><span class="icon icon-expand"></span>
                            </button>
                        </div>
                        <div class="readImg__thumb text-center mt10">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Sit et
                            amet, parturient sed sodales. Ut est sed quis et adipiscing tristique. Maecenas vitae
                            nulla tellus nisl volutpat. </div>
                    </div>
                    <p>
                        In ullamcorper quis justo, commodo tincidunt.
                        Nunc tellus sed neque lorem donec sem. Gravida ac sit tempor diam. Morbi sapien
                        hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                        nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                        dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                        Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                        porttitor amet morbi.
                    </p>
                    <div class="promoCaption mt30">Menu Kami</div>
                    <div class="promoBox mt10">
                        <div class="flex-center">
                            <img src="asset/images/sample/burger-0.png" class="readImg" alt="" width="160" height="160"
                                loading="lazy">
                        </div>
                        <div class="promoContent">
                            <div class="promoBox__title mt10">Small Burger</div>
                            <div class="promoText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id
                                proin et
                                cras id eu libero. Sit turpis massa, non suscipit in bibendum nec volutpat
                                viverra. Facilisi faucibus facilisi pharetra pellentesque tristique.</div>
                            <button class="button promoBuy mt10">Beli</button>
                        </div>
                    </div>
                    <div class="promoBox mt30">
                        <div class="flex-center">
                            <img src="asset/images/sample/burger-1.png" class="readImg" alt="" width="160" height="160"
                                loading="lazy">
                        </div>
                        <div class="promoContent">
                            <div class="promoBox__title mt10">Double Deluxe Burger</div>
                            <div class="promoText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id
                                proin et
                                cras id eu libero. Sit turpis massa, non suscipit in bibendum nec volutpat
                                viverra. Facilisi faucibus facilisi pharetra pellentesque tristique.</div>
                            <button class="button promoBuy mt10">Beli</button>
                        </div>
                    </div>
                    <div class="promoBox mt30">
                        <div class="flex-center">
                            <img src="asset/images/sample/burger-0.png" class="readImg" alt="" width="160" height="160"
                                loading="lazy">
                        </div>
                        <div class="promoContent">
                            <div class="promoBox__title mt10">Small Burger</div>
                            <div class="promoText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id
                                proin et
                                cras id eu libero. Sit turpis massa, non suscipit in bibendum nec volutpat
                                viverra. Facilisi faucibus facilisi pharetra pellentesque tristique.</div>
                            <button class="button promoBuy mt10">Beli</button>
                        </div>
                    </div>
                    <div class="promoBox mt30">
                        <div class="flex-center">
                            <img src="asset/images/sample/burger-1.png" class="readImg" alt="" width="160" height="160"
                                loading="lazy">
                        </div>
                        <div class="promoContent">
                            <div class="promoBox__title mt10">Double Deluxe Burger</div>
                            <div class="promoText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id
                                proin et
                                cras id eu libero. Sit turpis massa, non suscipit in bibendum nec volutpat
                                viverra. Facilisi faucibus facilisi pharetra pellentesque tristique.</div>
                            <button class="button promoBuy mt10">Beli</button>
                        </div>
                    </div>
                    <div class="promoCaption mt30">Menu Lainnya</div>
                    {{> read/more-promo}}
                    <div class="readCaption mt30">Simak Video Pilihan Di Bawah Ini :</div>
                    <div class="readContent__vid mt10">
                        <iframe width="340" height="239" src="https://www.youtube.com/embed/JjAtkmSd46g?controls=0"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </article>
            <div class="readTag mt20">
                Tags :
                <ul class="readTag__list display-flex">
                    <li><a href="#" class="readTag__link">#Relationship</a></li>
                    <li><a href="#" class="readTag__link">#Zodiak</a></li>
                    <li><a href="#" class="readTag__link">#Love</a></li>
                    <li><a href="#" class="readTag__link">#Tips</a></li>
                </ul>
            </div>
            <div class="readWriter__box text-center mt20">
                <img loading="lazy" src="https://api.lorem.space/image/face?w=80&amp;h=80&amp;hash=8B7BCDC2" alt=""
                    class="readWriter__avatar" width="80" height="80">
                <div class="readWriter__wrap">
                    <div class="readWriter--big mt10">
                        Alphonse Elric
                    </div>
                    <div class="readWriter__desc">
                        Jurnalis di Aramula.com. Menulis konten di Aramula.com, Kompas.com, Bisnis.com, dll.
                    </div>
                    <a href="#" class="readWriter__more mt10">Lihat artikel saya lainnya</a>
                    {{> read/social}}
                </div>
            </div>
            <div class="col-offset-fluid">
                <div class="readWrap">
                    <div class="col-onset-fluid mt30">
                        {{> read/share-footer}}
                        <div class="commentCount mt30">
                            30 Komentar
                        </div>
                    </div>
                </div>
                <div class="readWrap">
                    <div class="col-onset-fluid mt20">
                        <div class="readCaption--big">Apa Reaksimu?</div>
                        {{> read/react}}
                    </div>
                </div>
                <div class="col-onset-fluid mt20">
                    <div class="readCaption--big">Tambahkan Komentar</div>
                    {{> read/comment}}
                </div>
                {{> paging mt=30 active=false}}
            </div>
            <div class="readCaption--big mt30">Berita Terkait</div>
            {{> article}}
            <button class="button buttonMore mt30">Index</button>
        </section>
    </main>
    <!-- s: popup report -->
    {{> read/popup-report}}
    <!-- e: popup report -->
    {{> ads/sticky}}
    <!-- footer -->
    {{> footer}}

    {{> js page="Read" slick=true}}
    <script>
        $(document).ready(function () {
            // headline slider
            function createSlick() {
                $('#smpromo').slick({
                    dots: false,
                    arrows: true,
                    infinite: true,
                    speed: 500,
                    cssEase: 'linear',
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    autoplay: false, 
                    variableWidth: true,
                    variableHeight: true
                    //autoplaySpeed: 2000,
                    //pauseOnHover: true
                });
            }
            if ($('#smpromo').is(':visible')) {
                createSlick();
            }
        })
    </script>

</body>

</html>