<!DOCTYPE html>
<html lang="en">
{{> head page="Read"}}

<body>
    <!-- header -->
    {{> header page="" login=false}}
    <!-- header -->
    <ul class="breadcrumb display-flex">
        <li class="breadcrumbItem"><a href="#" class="breadcrumbLink">Home</a></li>
        <li class="breadcrumbItem"><a href="#" class="breadcrumbLink active">Video</a></li>
    </ul>
    <!-- main -->
    <main role="main" class="main">
        <section class="container">
            <article>
                <h1 class="readTitle text-center mt20">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo
                </h1>
                <div class="readWriter text-center mt20"><b><a href="#">Alphonse Elric</a></b> | 11 September 2021 |
                    12.23
                    WIB</div>
                {{> read/share}}
                <div class="readImg__wrap flex-center mt20">
                    <!--<iframe width="324" height="239" src="https://www.youtube.com/embed/JjAtkmSd46g?controls=0"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>-->
                    <div class="videoPlay">
                        <video controls width="324" height="239" poster="asset/images/sample/event.jpg">
                            <source src="asset/images/sample/video.mp4" type="video/mp4">
                        </video>
                        <span class="icon icon-play"></span>
                    </div>
                    <div class="readImg__thumb text-center mt10">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Sit et
                        amet, parturient sed sodales. Ut est sed quis et adipiscing tristique. Maecenas vitae
                        nulla tellus nisl volutpat. </div>
                </div>
                <div class="readContent mt20">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras id
                        eu libero. Sit turpis massa, non suscipit in bibendum nec volutpat viverra. Facilisi
                        faucibus facilisi pharetra pellentesque tristique. Lorem nullam placerat venenatis id
                        pretium magna viverra cursus placerat. Nullam pulvinar nulla id nisl id at hendrerit
                        massa.</p>
                    <p>
                        In ullamcorper quis justo, commodo tincidunt.
                        <a href="#">Nunc tellus sed neque lorem donec</a> sem. Gravida ac sit tempor diam. Morbi
                        sapien
                        hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                        nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                        dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                        Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                        porttitor amet morbi.
                    </p>
                    {{> ads/middle}}
                    <p>
                        In ullamcorper quis justo, commodo tincidunt.
                        Nunc tellus sed neque lorem donec sem. Gravida ac sit tempor diam. Morbi sapien
                        hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                        nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                        dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                        Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                        porttitor amet morbi.
                    </p>
                    <div class="readCaption mt30">Simak Video Pilihan Di Bawah Ini :</div>
                    <div class="readContent__vid mt10">
                        <iframe width="340" height="239" src="https://www.youtube.com/embed/JjAtkmSd46g?controls=0"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </article>
            <div class="readTag mt20">
                Tags :
                <ul class="readTag__list display-flex">
                    <li><a href="#" class="readTag__link">#Relationship</a></li>
                    <li><a href="#" class="readTag__link">#Zodiak</a></li>
                    <li><a href="#" class="readTag__link">#Love</a></li>
                    <li><a href="#" class="readTag__link">#Tips</a></li>
                </ul>
            </div>
            <div class="readWriter__box text-center mt20">
                <img loading="lazy" src="https://api.lorem.space/image/face?w=80&amp;h=80&amp;hash=8B7BCDC2" alt=""
                    class="readWriter__avatar" width="80" height="80">
                <div class="readWriter__wrap">
                    <div class="readWriter--big mt10">
                        Alphonse Elric
                    </div>
                    <div class="readWriter__desc">
                        Jurnalis di Aramula.com. Menulis konten di Aramula.com, Kompas.com, Bisnis.com, dll.
                    </div>
                    <a href="#" class="readWriter__more mt10">Lihat artikel saya lainnya</a>
                    {{> read/social}}
                </div>
            </div>
            <div class="col-offset-fluid">
                <div class="readWrap">
                    <div class="col-onset-fluid mt30">
                        {{> read/share-footer}}
                        <div class="commentCount mt30">
                            0 Komentar
                        </div>
                    </div>
                </div>
                <div class="readWrap">
                    <div class="col-onset-fluid mt20">
                        <div class="readCaption--big">Apa Reaksimu?</div>
                        {{> read/react}}
                    </div>
                </div>
                <div class="col-onset-fluid mt20">
                    <div class="readCaption--big">Tambahkan Komentar</div>
                    <div class="commentCaption mt10">Silakan <a href="login.html" class="pink">Login</a> untuk menambahkan komentar.</div>
                </div>
            </div>
            <div class="readCaption--big mt30">Berita Terkait</div>
            {{> article}}
            <button class="button buttonMore mt30">Index</button>
        </section>
    </main>
    <!-- s: popup report -->
    {{> read/popup-report}}
    <!-- e: popup report -->
    {{> ads/sticky}}
    <!-- footer -->
    {{> footer}}

    {{> js page="Read"}}

</body>

</html>