//carousel
.pCarousel {
    position: relative;
    background: #fff;
    margin: 0 -10px
}

.pCarousel-box {
    padding: 20px 10px 15px;
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

.pCarousel-img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff
}

.pCarousel-img img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 8px;
}

.pCarousel-item {
    width: 33.33333%;
    position: relative;
    vertical-align: top;
    flex-shrink: 0;
    padding: 0 4px 12px;
    margin: 0
}

.pCarousel-item:first-child:last-child {
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

.pCarousel-item:first-child:nth-last-child(2),
.pCarousel-item:first-child:nth-last-child(2)~.pCarousel-item {
    -ms-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    transform: translateX(50%)
}

.pCarousel-item.active .pCarousel-img:after {
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 4px solid #f0f0f0
}

.pCarousel .amp-carousel-button {
    background-color: #fff;
    border-radius: 100%;
    margin: 10px 0 0;
    width: 30px;
    height: 30px
}

.pCarousel .amp-carousel-button-next {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.0647 9.7322a.586.586 0 0 0 .586.5859h13.8199l-3.6879 3.6867a.587.587 0 0 0 0 .8297.5865.5865 0 0 0 .8297 0l4.6875-4.6875a.5866.5866 0 0 0 0-.8297l-4.6875-4.6875a.587.587 0 0 0-.8297 0 .5867.5867 0 0 0 0 .8297l3.6879 3.6867h-13.82a.586.586 0 0 0-.5859.586Z' fill='%23CD5DB9'/%3E%3C/svg%3E");
    right: 0
}

.pCarousel .amp-carousel-button-next,
.pCarousel .amp-carousel-button-prev {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .16);
    background-size: 18px 18px
}

.pCarousel .amp-carousel-button-prev {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.0647 9.7322a.586.586 0 0 0 .586.5859h13.8199l-3.6879 3.6867a.587.587 0 0 0 0 .8297.5865.5865 0 0 0 .8297 0l4.6875-4.6875a.5866.5866 0 0 0 0-.8297l-4.6875-4.6875a.587.587 0 0 0-.8297 0 .5867.5867 0 0 0 0 .8297l3.6879 3.6867h-13.82a.586.586 0 0 0-.5859.586Z' fill='%23CD5DB9'/%3E%3C/svg%3E");
    left: 0;
    transform: scaleX(-1);
}