<footer class="credit">
	<div class="display-table">
		<div class="display-center">
			<div class="container container--large">
				<div class="credit__row">
					<div class="credit__team">Producers</div>
					<div class="credit__member">
						<span>Muhammad Irzal Adiakurnia </span>
					</div>
				</div>
				<div class="credit__row">
					<div class="credit__team">Editors</div>
					<div class="credit__member">
						<span>Wahyu Adityo Prodjo </span>
					</div>
					<div class="credit__member">
						<span>I Made Ashdiana </span>
					</div>
				</div>
				<div class="credit__row">
					<div class="credit__team">Writer</div>
					<div class="credit__member">
						<span>Muhammad Irzal Adiakurnia </span>
					</div>
				</div>
				<div class="credit__row">
					<div class="credit__team">Photographers</div>
					<div class="credit__member">
						<span>Kristianto Purnomo </span>
					</div>
					<div class="credit__member">
						<span>Maulana Mahardhika</span>
					</div>
					<div class="credit__member">
						<span>Muhammad Irzal Adiakurnia </span>
					</div>
					<div class="credit__member">
						<span>Andreas Lukas Altobeli</span>
					</div>
				</div>
				<div class="credit__row">
					<div class="credit__team">Copywriter</div>
					<div class="credit__member">
						<span>Annisa Gilang Pamekar</span>
					</div>
				</div>
				<div class="credit__row">
					<div class="credit__team">Graphic Designer</div>
					<div class="credit__member">
						<span>Andika Bayu</span>
					</div>
				</div>
				<div class="credit__row">
					<div class="credit__team">Developer</div>
					<div class="credit__member">
						<span>Ilma Akrimatunnisa</span>
					</div>
				</div>
				<br />
				<p>Published: 14 September 2021</p>
				<p>Copyright 2021. Kompas.com</p>
				<br />
				<div class="credit__logo">
					<a class="credit__logo--kompascom" target="_blank" href="https://www.kompas.com/" rel="noopener" aria-label="kompas.com">
						<img src="./images/kompascom.png" alt="" width="203" height="40" loading="lazy">
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>