<header class="header header--fixed">
	<div class="logo">
		<h1 class="clearfix">
			<a href="https://vik.kompas.com/" class="logo-title">
				<span class="title-text">VIK</span>
				<span class="block-logo">
					<span class="title-break">Visual</span>
					<span class="title-break">Interaktif</span>
					<span class="title-break">Kompas</span>
				</span>
			</a>
		</h1>
	</div>
	<!-- share -->
	<div class="share">		
		<ul class="share__wrap js-share-wrap">
			<li class="share__item">
				<a target="_blank" rel="noopener" aria-label="Share to facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://vik.kompas.com/26th-kompascom/"
					class="share__link share__link--fb"><span class="icon-fb"><svg class="icon icon-fb">
							<use xlink:href="#icon-fb"></use>
						</svg></span></a>
			</li>
			<li class="share__item">
				<a target="_blank" rel="noopener" aria-label="Share to twitter"
					href="https://twitter.com/intent/tweet?text=26 Tahun Kompas.com - Visual Interaktif Kompas&url=https://vik.kompas.com/26th-kompascom/"
					class="share__link share__link--tw"><span class="icon-tw"><svg class="icon icon-tw">
							<use xlink:href="#icon-tw"></use>
						</svg></span></a>
			</li>
			<li class="share__item js-share__item--wa">
				<a target="_blank" rel="noopener" aria-label="Share to whatsapp"
					href="whatsapp://send?text=26 Tahun Kompas.com - Visual Interaktif Kompas https://vik.kompas.com/26th-kompascom/"
					data-action="share/whatsapp/share" class="share__link share__link--wa"><span class="icon-wa"><svg
							class="icon icon-wa">
							<use xlink:href="#icon-wa"></use>
						</svg></span></a>
			</li>
		</ul>
	</div>
	<!-- share -->


</header>