@use '../base/mixins' as *;
@use '../base/vars' as *;

.aspect {
    &Section {

        &.anim {
            .aspectBtn {
                animation: bounce 1.2s infinite;
            }
        }
    }

    &Pop {
        &__wrap {
            max-width: calc(100% - 25px);
        }

        &__close {
            display: block;
            background: #E23172;
            background: linear-gradient(180deg, rgba(226, 49, 114, 1) 0%, rgba(239, 188, 25, 1) 100%);
            padding-top: 14px;
            padding-bottom: 14px;
            border-radius: 50px;
            width: 220px;
            margin: 30px auto 0;
            @include font-pack(false, 16px, 600, $line-base, $cl-white);

            @include min-responsive($w-md) {
                padding-top: 18px;
                padding-bottom: 18px;
            }

            @include min-responsive($w-xl) {
                font-size: 18px
            }

            @include min-responsive($w-xxl) {
                font-size: 20px
            }

            @media only screen and (max-height: 710px) and (orientation: landscape) {
                font-size: 18px
            }
        }

        &__content {
            margin-top: 20px;
            padding: 15px 10px;
            background: $cl-white;
            border-radius: 20px;

            @include min-responsive($w-md) {
                max-width: 333px;
                padding: 35px 30px;
            }

            @include min-responsive($w-xl) {
                padding: 35px 30px;
            }

            @include min-responsive($w-xxl) {
                padding: 35px 30px;
            }

            @media only screen and (max-height: 710px) and (orientation: landscape) {
                padding: 25px 30px;
            }
        }

        &__title {
            @include font-pack(false, 16px, 400, $line-base, false);
            margin-top: 10px;
            margin-bottom: 10px;

            br {
                display: none;
            }

            @include min-responsive($w-md) {
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 18px;

                br {
                    display: inline-block;
                }
            }

            @include min-responsive($w-xxl) {
                margin-top: 30px;
                margin-bottom: 30px;
                font-size: 20px
            }

            @media only screen and (max-height: 710px) and (orientation: landscape) {
                margin-top: 18px;
                margin-bottom: 18px;
                font-size: 16px;

                br {
                    display: none;
                }
            }
        }

        &__txt {
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;
            @include font-pack(false, 14px, 600, $line-base, false);

            @include min-responsive($w-xl) {
                margin-top: 20px;
                margin-bottom: 20px;
                padding-left: 36px;
                padding-right: 36px;
                font-size: 18px
            }

            @include min-responsive($w-xxl) {
                font-size: 20px
            }

            @media only screen and (max-height: 700px) and (orientation: landscape) {
                font-size: 16px
            }
        }

        &up {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &Section {
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 10vh;
            background: #4D76A2;
            z-index: -1;

            @include min-responsive($w-md) {
                z-index: 1;
            }
        }

        .buttonClick {
            right: 120px;
            bottom: -20%;
            z-index: 1;

            @include min-responsive($w-md) {
                bottom: 35%;
            }
        }
    }

    &List {
        position: absolute;
        bottom: -80px;
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        margin-left: -20px;
        margin-right: -20px;
        flex-wrap: wrap;

        @include min-responsive($w-md) {
            flex-wrap: nowrap;
            margin-left: 0;
            margin-right: 0;
            gap: 40px;
            bottom: 80px;
        }

        li {
            flex-basis: calc(100%/3 - 30px);

            &:nth-child(2) {
                .aspectBtn {
                    animation-delay: .5s;
                }
            }

            &:nth-child(3) {
                .aspectBtn {
                    animation-delay: .2s;
                }
            }

            &:nth-child(4) {
                .aspectBtn {
                    animation-delay: 1s;
                }
            }

            &:nth-child(5) {
                .aspectBtn {
                    animation-delay: .7s;
                }
            }
        }
    }

    &Wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        br {
            display: none;

            @include min-responsive($w-md) {
                display: inline-block;
            }
        }
    }

    &Anim {
        position: relative;
        text-align: center;
        transform: scale(.9);
        bottom: calc(10vh - 2px);
        margin-top: 50%;
        margin-bottom: -2vh;

        @include min-responsive($w-md) {
            margin-top: -20px;
            margin-bottom: -40px;
        }

        @include min-responsive($w-xxl) {
            margin-top: 20px;
            margin-bottom: -40px;
            transform: scale(1);
        }

        @include min-responsive($w-xxxl) {
            margin-top: 60px;
        }

        @media only screen and (max-height: 740px) and (orientation: landscape) {
            transform: scale(0.65);
            margin-top: -90px;
            margin-bottom: -104px;
        }
    }
}