@use '../base/mixins' as *;
@use '../base/vars' as *;

.aspect {
    &Pop {
        &__wrap {
            max-width: calc(100% - 25px);
            padding: 15px 10px 5px;
            background: $cl-white;
            border-radius: 20px;

            @include min-responsive($w-md) {
                max-width: 636px;
                padding: 35px 30px;
            }

            @include min-responsive($w-xl) {
                padding: 35px 30px 25px;
            }

            @include min-responsive($w-xxl) {
                padding: 35px 30px;
            }

            @media only screen and (max-height: 710px) and (orientation: landscape) {
                padding: 25px 30px 20px;
            }
        }

        &__close {
            display: block;
            background: #B1B1B1;
            padding-top: 14px;
            padding-bottom: 14px;
            border-radius: 20px;
            width: 220px;
            margin: 10px auto;
            @include font-pack(false, 14px, 600, $line-base, false);

            @include min-responsive($w-md) {
                padding-top: 18px;
                padding-bottom: 18px;
            }

            @include min-responsive($w-xl) {
                font-size: 16px
            }

            @include min-responsive($w-xxl) {
                font-size: 18px
            }

            @media only screen and (max-height: 710px) and (orientation: landscape) {
                font-size: 16px
            }
        }

        &__title {
            border-radius: 20px;
            @include font-pack(false, 18px, 600, $line-base, false);
            padding-top: 10px;
            padding-bottom: 10px;

            br {
                display: none;
            }

            @include min-responsive($w-md) {
                padding-top: 20px;
                padding-bottom: 20px;
                font-size: 24px;

                br {
                    display: inline-block;
                }
            }

            @include min-responsive($w-xxl) {
                padding-top: 28px;
                padding-bottom: 28px;
                font-size: 24px
            }

            @media only screen and (max-height: 710px) and (orientation: landscape) {
                padding-top: 18px;
                padding-bottom: 18px;
                font-size: 22px;

                br {
                    display: none;
                }
            }
        }

        &__txt {
            max-width: 521px;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 30px;
            padding-right: 10px;
            list-style-type: disc;
            @include font-pack(false, 14px, 600, $line-base, false);

            @include min-responsive($w-xl) {
                margin-top: 20px;
                margin-bottom: 20px;
                padding-left: 36px;
                padding-right: 36px;
                font-size: 18px
            }

            @include min-responsive($w-xxl) {
                font-size: 20px
            }

            @media only screen and (max-height: 700px) and (orientation: landscape) {
                font-size: 16px
            }
        }

        &up {
            display: flex;
            align-items: center;
            justify-content: center;

            &0 {
                .policyPop__title {
                    background: #66D1FF;
                }
            }

            &1 {
                .policyPop__title {
                    background: #29D091;
                }
            }

            &2 {
                .policyPop__title {
                    background: #FFC900;
                }
            }

            &3 {
                .policyPop__title {
                    background: #328DEE;
                }
            }

            &4 {
                .policyPop__title {
                    background: #5BDA70;
                }
            }
        }
    }

    &Section {
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 10vh;
            background: #4D76A2;
        }

        .buttonClick {
            right: 0;
            bottom: -20%;
            z-index: 1;

            @include min-responsive($w-md) {
                bottom: 30%;
            }
        }
    }

    &Wrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        br {
            display: none;

            @include min-responsive($w-md) {
                display: inline-block;
            }
        }
    }

    &Anim {
        position: relative;
        text-align: center;
        transform: scale(.9);
        bottom: calc(10vh - 2px);
        margin-top: 50%;
        margin-bottom: -2vh;

        @include min-responsive($w-md) {
            margin-top: -20px;
            margin-bottom: -40px;
        }

        @include min-responsive($w-xxl) {
            margin-top: 20px;
            margin-bottom: -40px;
            transform: scale(1);
        }

        @include min-responsive($w-xxxl) {
            margin-top: 60px;
        }

        @media only screen and (max-height: 740px) and (orientation: landscape) {
            transform: scale(0.65);
            margin-top: -90px;
            margin-bottom: -104px;
        }
    }
}