@use '../base/mixins' as *;
@use '../base/vars' as *;

.cover {
    &Content {
        padding-bottom: 20px;
    }

    &Anim {
        margin-top: -60px;
        margin-bottom: -120px;
        transform: scale(0);
        transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);

        @include min-responsive($w-md) {
            margin-top: -80px;
        }

        @media only screen and (max-height: 740px) and (orientation: landscape) {
            margin-top: -120px;
            margin-bottom: -240px;
        }

        @media only screen and (max-height: 600px) and (orientation: landscape) {
            margin-top: -140px;
            margin-bottom: -200px;
        }

        &.active {
            transform: scale(1);

            @media only screen and (max-height: 600px) and (orientation: landscape) {
                transform: scale(.7);
            }

            @media only screen and (max-height: 740px) and (orientation: landscape) {
                transform: scale(0.8);
            }
        }
    }

    &Txt {
        &--1 {
            animation-duration: .7s;
        }

        &--2 {
            animation-duration: 1.2s;
        }
    }
}