@use '../base/mixins' as *;
@use '../base/vars' as *;

.cover {
    &Content {
        // max-width: 330px;
        padding-bottom: 20px;

        // @media only screen and (max-height: 600px) and (orientation: portrait) {
        //     padding-bottom: 0;
        // }

        // @include min-responsive($w-md) {
        //     max-width: unset;
        //     padding-bottom: 367px;
        // }

        // @include range-responsive($w-md, $w-xl) {
        //     max-width: 650px;
        // }

        // @media only screen and (max-height: 700px) and (orientation: landscape) {
        //     padding-bottom: 290px;
        // }

        // @include min-height(1400px) {
        //     padding-bottom: 0;
        // }
    }

    &Anim {
        margin-top: -60px;
        margin-bottom: -120px;
        transform: scale(0);
        transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);

        &.active {
            transform: scale(1);

            @media only screen and (max-height: 600px) and (orientation: landscape) {
                transform: scale(.7);
                margin-top: -140px;
                margin-bottom: -200px;
            }

            @media only screen and (max-height: 740px) and (orientation: landscape) {
                .coverAnim.active {
                    transform: scale(0.8);
                    margin-top: -120px;
                    margin-bottom: -240px;
                }
            }
        }

        // position: absolute;
        // width: 90vw;
        // bottom: calc(50% - 140px);
        // left: 50%;
        // transform: translate(-50%, 50%);

        @include min-responsive($w-md) {
            margin-top: -80px;
        }

        // @media only screen and (max-height: 710px) and (orientation: landscape) {
        //     transform: translate(-50%, -4vh);
        // }

        // @include range-responsive($w-md, $w-xl) {
        //     width: 90vw;
        // }
    }

    &Txt {
        &--1 {
            animation-duration: .7s;
        }

        &--2 {
            animation-duration: 1.5s;
        }
    }
}