@use '../base/mixins' as *;
@use '../base/vars' as *;

.globe {
    overflow: hidden;

    &Img {
        &Wrap {
            position: relative;
            width: 100%;
            margin-top: -40px;
            transform: scale(.8);

            @include min-responsive($w-md) {
                margin-bottom: 40px;
                max-width: 418px;
                transform: scale(1);
            }

            @media only screen and (max-height: 740px) and (orientation: landscape) {
                margin-bottom: -20px;
                transform: scale(.8);
            }
        }
    }

    &Anim {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        svg {
            position: relative;
        }
    }

    &Txt {
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        left: -100vw;
        top: 0;

        &:first-child {
            position: relative;
        }

        &Wrap {
            position: relative;
        }
    }
}

.bomb {
    &Anim {
        svg {
            top: -80px;
            left: 20px;
        }
    }

    &Txt {
        @include min-responsive($w-md) {
            max-width: 780px;
        }
    }
}

.stonk {
    &Anim {
        svg {
            top: -100px;
        }
    }
}