@use '../base/mixins' as *;
@use '../base/vars' as *;

.policy {
    &Section {
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 10vh;
            background: #4D76A2;
        }

        .buttonClick {
            right: 0;
            bottom: -20%;
            z-index: 1;

            @include min-responsive($w-md) {
                bottom: 30%;
            }
        }
    }

    &Path {
        @media only screen and (max-height: 768px) and (orientation: landscape) {
            margin-top: -40px;
            margin-bottom: -40px;
            transform: scale(.8);
        }
    }

    // &Bi {
    //     fill: #EFEFF0;
    //     transition: fill .4s cubic-bezier(.73, .32, .34, 1.5);

    //     &__wrap {
    //         position: relative;
    //         bottom: 28px;
    //         width: 178px;

    //         @include min-responsive($w-md) {
    //             width: 227px;
    //         }
    //     }

    //     &0 {
    //         &.start {
    //             fill: #40D4E2;
    //         }
    //     }

    //     &1 {
    //         &.start {
    //             fill: #40D4E2;
    //         }
    //     }

    //     &2 {
    //         &.start {
    //             fill: #43D1A1;
    //         }
    //     }

    //     &3 {
    //         &.start {
    //             fill: #40A7E1;
    //         }
    //     }

    //     &4 {
    //         &.start {
    //             fill: #13DC00;
    //         }
    //     }
    // }

    // &Btn {
    //     position: absolute;
    //     width: 80px;
    //     height: 80px;

    //     @include min-responsive($w-md) {
    //         width: 93px;
    //         height: 93px;
    //     }

    //     &__wrap {
    //         position: absolute;
    //         width: 100%;
    //         height: 100%;
    //         top: 50%;
    //         left: 50%;
    //         transform: translate(-50%, -50%);
    //     }

    //     .-bw {
    //         position: absolute;
    //         left: 0;
    //         top: 0;
    //         opacity: 1;
    //         transition: opacity .4s cubic-bezier(.73, .32, .34, 1.5);
    //     }

    //     &.start {
    //         .-bw {
    //             opacity: 0;
    //         }
    //     }

    //     &0 {
    //         top: 20px;
    //         right: 56px;

    //         @include min-responsive($w-md) {
    //             top: 0;
    //         }
    //     }

    //     &1 {
    //         top: 215px;
    //         right: 0;
    //     }

    //     &2 {
    //         bottom: 60px;
    //         left: calc(50% - 93px/2);

    //         @include min-responsive($w-md) {
    //             bottom: 20px;
    //         }
    //     }

    //     &3 {
    //         top: 215px;
    //         left: 0;
    //     }

    //     &4 {
    //         top: 20px;
    //         left: 56px;

    //         @include min-responsive($w-md) {
    //             top: 0;
    //         }
    //     }
    // }
    &Wrap {
        display: flex;
        justify-content: flex-end;
        position: relative;
        z-index: 1;
        gap: 20px;
    }

    &Pop {

        &__wrap {
            max-width: calc(100% - 25px);
            padding: 15px 10px 5px;
            background: $cl-white;
            border-radius: 20px;

            @include min-responsive($w-md) {
                max-width: 636px;
                padding: 35px 30px;
            }

            @include min-responsive($w-xl) {
                padding: 35px 30px 25px;
            }

            @include min-responsive($w-xxl) {
                padding: 35px 30px;
            }

            @media only screen and (max-height: 710px) and (orientation: landscape) {
                padding: 25px 30px 20px;
            }
        }

        &__close {
            display: block;
            background: #B1B1B1;
            padding-top: 14px;
            padding-bottom: 14px;
            border-radius: 20px;
            width: 220px;
            margin: 10px auto;
            @include font-pack(false, 14px, 600, $line-base, false);

            @include min-responsive($w-md) {
                padding-top: 18px;
                padding-bottom: 18px;
            }

            @include min-responsive($w-xl) {
                font-size: 16px
            }

            @include min-responsive($w-xxl) {
                font-size: 18px
            }

            @media only screen and (max-height: 710px) and (orientation: landscape) {
                font-size: 16px
            }
        }

        &__title {
            border-radius: 20px;
            @include font-pack(false, 18px, 600, $line-base, false);
            padding-top: 10px;
            padding-bottom: 10px;

            br {
                display: none;
            }

            @include min-responsive($w-md) {
                padding-top: 20px;
                padding-bottom: 20px;
                font-size: 24px;

                br {
                    display: inline-block;
                }
            }

            @include min-responsive($w-xxl) {
                padding-top: 28px;
                padding-bottom: 28px;
                font-size: 24px
            }

            @media only screen and (max-height: 710px) and (orientation: landscape) {
                padding-top: 18px;
                padding-bottom: 18px;
                font-size: 22px;

                br {
                    display: none;
                }
            }
        }

        &__txt {
            max-width: 521px;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 30px;
            padding-right: 10px;
            list-style-type: disc;
            @include font-pack(false, 14px, 600, $line-base, false);

            @include min-responsive($w-xl) {
                margin-top: 20px;
                margin-bottom: 20px;
                padding-left: 36px;
                padding-right: 36px;
                font-size: 18px
            }

            @include min-responsive($w-xxl) {
                font-size: 20px
            }

            @media only screen and (max-height: 700px) and (orientation: landscape) {
                font-size: 16px
            }
        }

        &up {
            display: flex;
            align-items: center;
            justify-content: center;

            &0 {
                .policyPop__title {
                    background: #66D1FF;
                }
            }

            &1 {
                .policyPop__title {
                    background: #29D091;
                }
            }

            &2 {
                .policyPop__title {
                    background: #FFC900;
                }
            }

            &3 {
                .policyPop__title {
                    background: #328DEE;
                }
            }

            &4 {
                .policyPop__title {
                    background: #5BDA70;
                }
            }
        }
    }

    &Anim {
        text-align: center;

        svg {
            max-width: 50vw;
            width: auto !important;
            height: auto !important;

            @include min-responsive($w-xl) {
                max-width: unset;
            }
        }
    }

    &.active {
        .policyBtn {
            pointer-events: all;
        }
    }
}