@use '../base/mixins' as *;
@use '../base/vars' as *;

.policy {
    &Section {
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 10vh;
            background: #4D76A2;
        }

        .buttonClick {
            right: 120px;
            bottom: -20%;
            z-index: 1;

            @include min-responsive($w-md) {
                bottom: 30%;
            }
        }
    }

    &Path {

        @media only screen and (max-height: 768px) and (orientation: landscape) {
            margin-top: -40px;
            margin-bottom: -40px;
            transform: scale(.8);
        }

        @media only screen and (max-height: 600px) and (orientation: landscape) {
            margin-top: -80px;
            margin-bottom: -80px;
            transform: scale(0.7);
        }

        svg {
            margin-top: -120px;
            margin-bottom: -100px;
            max-width: 100%;

            @include min-responsive($w-md) {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

    // &Bi {
    //     fill: #EFEFF0;
    //     transition: fill .4s cubic-bezier(.73, .32, .34, 1.5);

    //     &__wrap {
    //         position: relative;
    //         bottom: 28px;
    //         width: 178px;

    //         @include min-responsive($w-md) {
    //             width: 227px;
    //         }
    //     }

    //     &0 {
    //         &.start {
    //             fill: #40D4E2;
    //         }
    //     }

    //     &1 {
    //         &.start {
    //             fill: #40D4E2;
    //         }
    //     }

    //     &2 {
    //         &.start {
    //             fill: #43D1A1;
    //         }
    //     }

    //     &3 {
    //         &.start {
    //             fill: #40A7E1;
    //         }
    //     }

    //     &4 {
    //         &.start {
    //             fill: #13DC00;
    //         }
    //     }
    // }

    &Btn {
        cursor: pointer;

        &:hover {
            opacity: 0;
        }

        &.start {
            opacity: 0;
        }
    }

    &Wrap {
        display: flex;
        justify-content: flex-end;
        position: relative;
        z-index: 1;
        gap: 20px;
    }

    &Pop {

        &__wrap {
            position: relative;
            max-width: calc(100% - 40px);
            padding: 15px 10px 25px 60px;
            background: $cl-white;
            border-radius: 20px;

            @include min-responsive($w-md) {
                max-width: 636px;
                padding: 54px 70px;
            }
        }

        &__close {
            display: block;
            padding: 0;
            position: absolute;
            right: -10px;
            top: -10px;
            max-width: 32px;

            @include min-responsive($w-md) {
                right: 15px;
                top: 15px;
                max-width: unset;
            }
        }

        &__title {
            @include font-pack(false, 18px, 600, $line-base, false);

            br {
                display: none;
            }

            @include min-responsive($w-md) {
                font-size: 24px;

                br {
                    display: inline-block;
                }
            }

            @include min-responsive($w-xxl) {
                font-size: 24px
            }

            @media only screen and (max-height: 710px) and (orientation: landscape) {
                font-size: 22px;

                br {
                    display: none;
                }
            }
        }

        &__txt {
            max-width: 521px;
            margin-top: 15px;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
            list-style-type: disc;
            @include font-pack(false, 14px, 600, $line-base, false);

            @include min-responsive($w-xl) {
                margin-top: 20px;
                font-size: 18px
            }

            @include min-responsive($w-xxl) {
                font-size: 20px
            }

            @media only screen and (max-height: 700px) and (orientation: landscape) {
                font-size: 16px
            }
        }

        &up {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &Num {
        position: absolute;
        left: -10px;
        max-width: 50px;
        top: 50%;
        transform: translateY(-50%);

        @include min-responsive($w-xl) {
            left: -48px;
            max-width: unset;
        }
    }
}