@use '../base/mixins' as *;
@use '../base/vars' as *;

.quote {

    &Wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        &Content {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            text-align: right;
        }
    }

    &Anim {
        position: relative;
        background: $cl-white;
        border-radius: 20px;
        padding: 40px 15px 30px;

        @include min-responsive($w-md) {
            padding: 40px 72px 100px;
            border-radius: 30px;
        }

        @include min-responsive($w-xl) {
            min-width: 924px;
        }
    }

    &Img {
        order: 1;
        min-width: 100px;
    }

    &Txt {
        position: relative;
        left: 100vw;
        @include font-pack(false, 16px, false, $line-base, $cl-black);

        @include min-responsive($w-md) {
            font-size: 26px;
        }

        @include min-responsive($w-xl) {
            font-size: 28px;
        }
    }

    &Author {
        position: relative;
        left: 100vw;
        @include font-pack(false, 18px, 600, false, false);
        margin-top: 15px;

        @include min-responsive($w-md) {
            margin-top: 28px;
            font-size: 26px;
        }

        @include min-responsive($w-xl) {
            font-size: 28px;
        }

        span {
            display: block;
            @include font-pack(false, 14px, 400, false, false);

            @include min-responsive($w-xl) {
                font-size: 18px;
            }
        }
    }

    &Attr {
        backface-visibility: hidden;
        overflow: hidden;

        &Wrap {
            position: absolute;
            top: -10px;
            max-width: 45px;
            left: 20px;
            transform-style: preserve-3d;
            transform-origin: center top;
            /* flip from top */
            transition: transform 1s cubic-bezier(.25, .8, .25, 1);
            transform: rotateX(-180deg);
    
            @include min-responsive($w-md) {
                max-width: unset;
                left: unset;
                top: -20px;
            }
    
            &.flipped {
                transform: rotateX(0);
            }
        }
    }

    &Content {
        max-width: 418px;
        margin-right: 15px;
        overflow: hidden;

        @include min-responsive($w-md) {
            margin-right: 30px;
            padding-bottom: 20px;
        }
    }
}