@use '../base/mixins' as *;
@use '../base/vars' as *;

.quote {
    margin-top: 35px;

    &Wrap {
        align-items: flex-end;
        position: relative;
        max-width: 418px;
        @include font-pack($font_caption, 20px, 300, $line-base, $cl-black);
        z-index: 1;

        @include range-responsive($w-md, $w-xl) {
            margin-left: -120px;
            margin-right: 20px;
        }

        @include min-responsive($w-xl) {
            font-size: 28px;
            margin-left: -140px;
            margin-right: -40px;
            align-items: flex-start;
        }

        @media only screen and (max-height: 700px) and (orientation: landscape) {
            font-size: 26px;
            margin-left: -314px;
        }
    }

    &Txt {
        position: relative;
        left: 100vw;
        font-style: italic;
        @include font-pack(false, false, 400, false, $cl-blue);

        .cl-orange {
            color: #E9764A
        }
    }

    &Attr {
        position: relative;
        left: -100vw;
        text-align: right;
        padding-right: 165px;
        font-size: 14px;

        @include max-responsive($w-xm) {
            font-size: 13px;
            padding-right: 130px;
        }

        @include min-responsive($w-md) {
            padding-right: 0;
            font-size: 20px;
        }

        @include min-responsive($w-xl) {
            font-size: 28px;
        }
    }

    &Title {
        margin-top: 30px;
    }

    &Name {
        font-weight: 700;
    }

    &Place {
        font-size: 12px;

        @include min-responsive($w-md) {
            font-size: 14px;
        }

        @include min-responsive($w-xl) {
            font-size: 18px
        }

        @media only screen and (max-height: 700px) and (orientation: landscape) {
            font-size: 16px
        }
    }

    &Img {
        position: absolute;

        @include min-responsive($w-md) {
            position: relative;
        }

        img {
            max-width: 140px;

            @include min-responsive($w-md) {
                max-width: unset;
            }

            @media only screen and (max-height: 700px) and (orientation: landscape) {
                max-width: 85%;
            }
        }

        &.-left {
            top: 170px;
            left: -25px;

            @include min-responsive($w-md) {
                top: -130px;
                left: unset;
            }
        }

        &.-right {
            margin-top: 180px;
            right: 15px;

            @include max-responsive($w-xm) {
                right: 0;
            }

            @include min-responsive($w-md) {
                top: 40px;
                margin-top: 0;
                right: unset;
            }

            img {
                max-width: 150px;

                @include max-responsive($w-xm) {
                    max-width: 130px;
                }

                @include min-responsive($w-md) {
                    max-width: unset;
                }

                @media only screen and (max-height: 700px) and (orientation: landscape) {
                    max-width: 85%;
                }
            }
        }
    }
}