@use '../base/mixins' as *;
@use '../base/vars' as *;

.synergy {
    &Anim {
        padding-top: 40px;
        position: relative;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;

        @include min-responsive($w-md) {
            padding-top: 52px;
        }

        @media only screen and (max-height: 768px) and (orientation: landscape) {
            width: 400px;
        }
    }

    &Wrap {
        display: flex;
        justify-content: center;
        position: relative;

        h3 {
            line-height: 1;
            text-transform: none;
        }
    }

    &Item {
        position: absolute;
        min-width: 300px;

        &:first-child {
            left: 50%;
            transform: translateX(-50%);
            top: 0;
        }

        &:nth-child(2) {
            left: 0;
            text-align: left;
            bottom: -40px;

            @include min-responsive($w-md) {
                left: calc(-300px/2 - 100px);
                bottom: 0;
                text-align: center;
            }
        }

        &:nth-child(3) {
            right: 0;
            bottom: -40px;
            text-align: right;

            @include min-responsive($w-md) {
                right: calc(-300px/2 - 100px);
                bottom: 0;
                text-align: center;
            }
        }
    }
}

.direct {
    &Wrap {
        display: flex;
        justify-content: center;
        position: relative;
    }

    &Anim {
        margin-top: 20px;
        margin-bottom: -20px;
        transform: scale(.8);

        @include min-responsive($w-md) {
            margin-top: -20px;
        }

        @include min-responsive($w-xxxl) {
            margin-top: 30px;
            transform: scale(1);
        }

        @media only screen and (max-height: 600px) and (orientation: landscape) {
            margin-top: -40px;
            margin-bottom: -40px;
            transform: scale(0.7);
        }
    }
}