@use '../base/mixins' as *;
@use '../base/vars' as *;

.synergy {
    &Anim {
        padding-top: 52px;
        position: relative;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;

        @media only screen and (max-height: 768px) and (orientation: landscape) {
            width: 400px;
        }
    }

    &Wrap {
        display: flex;
        justify-content: center;
        position: relative;

        h3 {
            line-height: 1;
            text-transform: none;
        }
    }

    &Item {
        position: absolute;
        min-width: 300px;

        &:first-child {
            left: 50%;
            transform: translateX(-50%);
            top: 0;
        }

        &:nth-child(2) {
            left: calc(-300px/2 - 100px);
            bottom: 0;
        }
        
        &:nth-child(3) {
            right: calc(-300px/2 - 100px);
            bottom: 0;
        }
    }
}