.author {
    &Month {
        background: radial-gradient(57.56% 429.76% at 50% 50%, #FFFFFF 0%, #E0E0E0 100%);

        @include min-responsive($w-xl) {
            margin-top: 80px;
        }

        &__content {
            flex: 1;

            @include min-responsive($w-xl) {
                padding-top: 42px;
                padding-bottom: 72px;
            }
        }

        &__books {
            margin-top: 10px;
            margin-right: -12px;
            margin-left: -12px;

            @include min-responsive($w-xl) {
                padding-right: 60px;
            }

            .productItem {
                padding-left: 12px;
                padding-right: 12px;
            }
        }

        &__img {
            @include min-responsive($w-xl) {
                margin-left: 54px;
            }
        }
    }

}