.breadcrumb {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;

    &Item {
        margin-right: 20px;
        line-height: 0;

        &:last-child {
            margin-right: 0;
        }
    }

    &Link {
        padding: 8px;
        min-height: 33px;
        text-transform: uppercase;
        @include font-pack($font-base, $font-date, $font-weight-mbold, $line-base, $cl-grey-medium);

        &.active {
            color: $cl-red;
        }

        &--comic {
            &.active {
                color: $cl-akasha;
            }
        }

        &--nonfiction {
            &.active {
                color: $cl-miracle;
            }
        }

        &--children {
            &.active {
                color: $cl-funtastic;
            }
        }

        &--local {
            &.active {
                color: $cl-koloni;
            }
        }

        &--novel {
            &.active {
                color: $cl-clover;
            }
        }
    }
}