.event {
    &Headline {
        margin-top: 80px;
    }

    &List {
        @include min-responsive($w-xlg) {
            margin-left: -25px;
            margin-right: -25px;
        }

        .eventDate {
            align-items: center;
            margin-bottom: 12px;
            text-transform: uppercase;
            @include font-pack($font-base, 10px, $font-weight-normal, 1.5, $cl-red);

            .icoCal {
                @extend %filter-red;
                width: 18px;
                height: 18px;
                margin-right: 10px;
            }
        }
    }

    &Item {
        margin-top: 20px;

        @include min-responsive($w-xlg) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    &Box {
        display: block;
        height: 100%;
        border: 1px solid #C1C1C1;
        border-radius: 15px;
        overflow: hidden;
    }

    &Link {
        &:hover {
            .eventTitle {
                color: $cl-red;
            }
        }
    }

    &Content {
        padding: 15px 10px;
    }

    &Img {
        position: relative;
        width: 100%;
        height: 197px;
        background: #C9C9C9;

        img {
            @extend %template-img;
        }
    }

    &Title {
        @extend .ellipsis;
        -webkit-line-clamp: 3;
        @include font-pack($font-base, $font-text, $font-weight-mbold, $line-base, $cl-black);

        @include min-responsive($w-md) {
            font-size: $font-input;
        }
    }
}