.feature {
    &Slide {
        @extend %slick-load;
        max-height: 461px;
        padding-left: 6px;
        padding-right: 6px;

        @include min-responsive($w-md) {
            padding-left: 0;
            padding-right: 0;
        }

        &.swiper-initialized {
            visibility: visible;
            opacity: 1;
            max-height: unset;
        }

        .swiper-wrapper {
            align-items: stretch;
        }

        .swiper-slide {
            height: auto;
        }

        .swiper-button-prev,
        .swiper-button-next {
            transform: scale(0);

            @include min-responsive($w-md) {
                transform: scale(1);
            }

            &[aria-disabled="true"] {
                opacity: 0;
            }
        }

        .swiper-button-prev {
            left: 8px;
        }

        .swiper-button-next {
            right: 8px;
        }

        .productBox {
            width: 100%;
        }
    }
}