.lini {
    &List {
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-top: 60px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        margin-right: -7px;
        margin-left: -7px;

        @include min-responsive($w-xl) {
            margin-top: 100px;
            margin-bottom: 48px;
            padding-bottom: 0;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
    }

    &Item {
        padding-right: 7px;
        padding-left: 7px;
        flex-basis: 152px;
        flex-shrink: 0;

        @include max-responsive($w-xm) {
            flex-basis: 135px;
        }

        @include range-responsive($w-md, $w-lg) {
            flex-basis: 200px;
        }

        @include min-responsive($w-xl) {
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    &Link {
        position: relative;

        &:hover,
        &:focus {
            .liniTitle {
                opacity: 1;
            }
        }
    }

    &Title {
        @extend .center-flex;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 100px;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 10px 15px;
        @include font-pack($font-base, $font-text, $font-weight-normal, $line-base, $cl-white);
        @include base_transition(all, .4s);
        opacity: 0;
        overflow: hidden;

        @include min-responsive($w-xl) {
            display: inline-block;
            width: auto;
            height: auto;
            border-radius: 8px;
            position: relative;
            margin-bottom: 15px;
            top: unset;
            left: 50%;
            transform: translateX(-50%);
            overflow: unset;
        }

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: .5;
            z-index: -1;

            @include min-responsive($w-xl) {
                position: absolute;
                width: 0;
                height: 0;
                top: unset;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                border: 10px solid transparent;
                border-bottom: 0;
                margin-bottom: -10px;
                opacity: 1;
                z-index: 1;
            }
        }

        &0 {
            background: transparent;

            @include min-responsive($w-xl) {
                background: $cl-akasha;
            }

            &::before {
                background: $cl-akasha;

                @include min-responsive($w-xl) {
                    background: transparent;
                    border-top-color: $cl-akasha;
                }
            }
        }

        &1 {
            background: transparent;

            @include min-responsive($w-xl) {
                background: $cl-koloni;
            }

            &::before {
                background: $cl-koloni;

                @include min-responsive($w-xl) {
                    background: transparent;
                    border-top-color: $cl-koloni;
                }
            }
        }

        &2 {
            background: transparent;

            @include min-responsive($w-xl) {
                background: $cl-funtastic;
            }

            &::before {
                background: $cl-funtastic;

                @include min-responsive($w-xl) {
                    background: transparent;
                    border-top-color: $cl-funtastic;
                }
            }
        }

        &3 {
            background: transparent;

            @include min-responsive($w-xl) {
                background: $cl-clover;
            }

            &::before {
                background: $cl-clover;

                @include min-responsive($w-xl) {
                    background: transparent;
                    border-top-color: $cl-clover;
                }
            }
        }

        &4 {
            background: transparent;

            @include min-responsive($w-xl) {
                background: $cl-miracle;
            }

            &::before {
                background: $cl-miracle;

                @include min-responsive($w-xl) {
                    background: transparent;
                    border-top-color: $cl-miracle;
                }
            }
        }
    }
}