.list {

    &Mobile {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0;
        left: 0;
        padding: 20px 20px 150px;
        background: $cl-white;        
        overscroll-behavior: none;
        z-index: 99; //above .navMob

        @include min-responsive($w-xl) {
            all: unset;
        }

        &.active {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            @include animation(fadeInFromNone, 0.5s);
        }

        .buttonClose {
            position: absolute;
            right: 0;
            bottom: 0;
            line-height: 1;
            background: $cl-red;
            border-radius: 50%;
            padding: 3px 4px 3px;
        }

        &__top {
            position: relative;
        }

        &__sort {
            ul {
                margin-top: 10px;
                margin-bottom: 30px;
                flex-wrap: wrap;
            }
        }

        &__title {
            display: block;
            margin-bottom: 10px;
            @include font-pack($font-base, $font-h6, $font-weight-sbold, $line-base, $cl-black-lighter);

            @include min-responsive($w-xl) {
                display: none;
            }
        }
    }

    &Filter {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;

        @include min-responsive($w-xl) {
            display: none;
        }

        &__btn {
            @extend .buttonSecondary;
            @extend .buttonSecondary--red;

            img {
                @extend %filter-red;
                margin-right: 6px;
                vertical-align: middle;
            }
        }

        &__sort {
            display: flex;
            justify-content: flex-end;
            position: fixed;
            width: 100%;
            padding: 16px 20px;
            background: white;
            bottom: 0;
            left: 0;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.13);
            z-index: 1;

            @include min-responsive($w-md) {
                display: none;
                position: relative;
                margin: 30px 0;
                padding: 0;
                box-shadow: none;
            }
        }
    }


    &Title {
        margin-top: 12px;
        padding: 12px;
        border-bottom: 1px solid #CFCFCF;
        @include font-pack($font-base, $font-input, $font-weight-sbold, $line-base, $cl-black-lighter);

        @include min-responsive($w-xl) {
            margin-top: 36px;
            font-size: 18px;
        }

        &:first-of-type {
            margin-top: 0;
        }
    }

    &Menu {
        @include min-responsive($w-xl) {
            padding-right: 25px;
        }
    }

    &Box {
        padding: 15px 12px;
    }

    &Item {
        @extend .titleParagraph;
        line-height: $line-base;
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }

        &__radio {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }
    }

    &Link {
        position: relative;

        &.active {
            padding-left: 15px;
            color: $cl-black;

            &::before {
                content: '';
                border-top: 1px solid $cl-black;
                position: absolute;
                top: 10px;
                left: 0;
                width: 10px;
                height: 1px;
            }
        }
    }

    &Cta {
        position: fixed;
        width: 100%;
        padding: 16px 20px;
        background: $cl-white;
        bottom: 0;
        left: 0;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, .13);
        margin-top: 12px;
        display: flex;
        gap: 20px;

        @include min-responsive($w-xl) {
            margin-top: 36px;
            position: relative;
            padding: 0;
            box-shadow: none;
            background: transparent;
        }
    }

    &Caption {
        .titleCaption {
            text-transform: uppercase;
        }
    }

    &Wrap {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &Sort {
        min-width: 183px;
        @include font-pack(false, false, $font-weight-mbold, $line-base, $cl-black);
    }
}