.newsletter {
    padding-top: 33px;
    padding-bottom: 48px;
    background: url(../images/bg-newsletter.jpg);
    background-size: cover;
    background-position: center bottom;

    &Title {
        color: $cl-white;
    }

    &Paragraph {
        color: $cl-grey-lighter;
    }

    &Wrap {
        display: flex;
        justify-content: center;
    }

    &Input {
        border: 0;
        outline: 0;
        padding: 13px 15px;
        background: $cl-white;
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
        max-width: calc(100% - 116px);
        @include font-pack($font-base, $font-input, $font-weight-normal, 1.2, $cl-black-lighter);
        @include placeholder($font-date, $font-weight-normal, $cl-black-lighter);

        @include min-responsive($w-xl) {
            min-width: 313px;
        }
    }

    &Submit {
        padding: 10px 40px;
        background: $cl-red;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        @include font-pack($font-base, $font-text, $font-weight-mbold, $line-base, $cl-white);

        @include min-responsive($w-md) {
            font-size: $font-input;
        }
    }

    &Msg {
        @include font-pack($font-base, $font-text, $font-weight-normal, $line-base, #82EF29);

        .icoInline {
            margin-right: 10px;
        }

        .icoCheck {
            vertical-align: text-bottom;
        }

        .icoClose {
            background: $cl-red;
            vertical-align: middle;
            
            &::before,
            &::after {
                background: $cl-white;
            }

            &~span{
                color: $cl-white;
            }
        }
    }
}