.paging {
    flex-wrap: wrap;
    margin-top: 40px;

    &Link {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 36px;
        height: 36px;
        padding: 10px;
        margin-bottom: 10px;
        margin-left: 7px;
        margin-right: 7px;
        background: $cl-white;
        border-radius: 36px;
        text-align: center;
        border: 1px solid $cl-red;
        @include font-pack(false, $font-input, $font-weight-normal, false, $cl-red);

        &:hover, &.active {
            color: $cl-white;
            background: $cl-red;
        }
    }
}