.product {
    &Table {
        @extend .titleParagraph;
        width: 100%;
        margin-top: 10px;
        table-layout: auto;
        border-collapse: collapse;

        @include min-responsive($w-md) {
            margin-top: 14px;
        }

        td {
            padding-bottom: 8px;

            &:first-child {
                min-width: 122px;
            }

            &:nth-child(2) {
                padding-left: 15px;
                padding-right: 15px;
            }

            &:last-child {
                width: 100%;
            }
        }
    }

    &Tag {
        margin-top: 10px;

        &--comic {
            .productTag__link {
                border-color: $cl-akasha;
                color: $cl-akasha;
            }
        }

        &--nonfiction {
            .productTag__link {
                border-color: $cl-miracle;
                color: $cl-miracle;
            }
        }

        &--children {
            .productTag__link {
                border-color: $cl-funtastic;
                color: $cl-funtastic;
            }
        }

        &--local {
            .productTag__link {
                border-color: $cl-koloni;
                color: $cl-koloni;
            }
        }

        &--novel {
            .productTag__link {
                border-color: $cl-clover;
                color: $cl-clover;
            }
        }

        &__item {
            margin-right: 8px;
            margin-top: 8px;
            display: inline-block;

            &:last-of-type {
                margin-right: 0;
            }
        }

        &__link {
            @extend .titleParagraph;
            font-weight: $font-weight-mbold;
            display: inline-block;
            padding: 7px 10px;
            border-radius: 10px;
            border: 1px solid;
        }
    }
}