.product {
    &Slide {
        padding-left: 35px;
        padding-right: 35px;

        @include min-responsive($w-xl) {
            padding-left: 83px;
            padding-right: 83px;
        }

        .slick-arrow {
            transform: translate(0px, -20px) scale(.5);
        }
    }

    &Slider {
        &__box {
            display: flex;
            align-items: center;
            padding: 20px;

            @include min-responsive($w-xl) {
                padding-left: 50px;
                padding-right: 50px;
            }
        }

        &__wrap {
            @include min-responsive($w-xl) {
                margin-top: 16px;
                margin-bottom: 16px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        &__content {
            padding: 10px;
        }

        &__item {
            transform: translateX(0) scale(0.9);
            @include base_transition(all, .2s);

            &.slick-active {
                transform: translateX(0) scale(1);
            }
        }

        &__img {
            display: block;
            position: relative;
            width: 100%;
            height: 250px;
            background: $cl-white;

            @include range-responsive($w-md, $w-xl) {
                height: auto;
            }

            @include min-responsive($w-xl) {
                height: 297px;
            }

            img {
                position: absolute;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                object-fit: cover;
                object-position: center;
                z-index: 1;

                @include range-responsive($w-md, $w-xl) {
                    position: relative;
                    top: unset;
                    left: unset;
                    transform: none;
                }

                @include min-responsive($w-xl) {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}