.search {
    &box {
        display: none;
        width: 100%;
        position: absolute;
        background: $cl-white;
        
        &Input {
            width: 100%;
            border: 0;
            outline: 0;
            padding: 10px;
            display: none;
            @include font-pack($font-base, $font-input, $font-weight-mbold, $line-base, $cl-grey-medium);
            @include placeholder($font-date, $font-weight-mbold, $cl-grey-medium);
        }
    }
}