.socmed {
    &List {
        @extend .center-flex;
        margin-top: 18px;
    }

    &Link {
        display: flex;
        background: $cl-white;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 25px;
        @include base_transition(all, .2s);

        &:hover{
            transform: scale(1.2);
        }
    }

    .icoInline {
        width: 24px;
        height: 24px;
    }
}