.sort {
    display: inline-block;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 8px 10px;
    border-bottom: 3px solid transparent;
    @include font-pack($font-base, $font-date, $font-weight-mbold, $line-base, $cl-black-lighter);
    
    @include min-responsive($w-md) {
        font-size: $font-input;
        padding: 12px 20px;
        margin-left: 18px;
        margin-right: 18px;
    }

    &.active {
        color: $cl-red;
        border-bottom: 3px solid $cl-red;
    }

    &Wrap {
        margin-top: 10px;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
}