.bgColor {
    position: fixed;
    top: 0;
    left: 0;
    @include display_full;

    &__blue {
        background: rgb(0, 184, 196);
        background: linear-gradient(180deg, rgba(0, 184, 196, 1) 0%, rgba(25, 196, 197, 1) 34%, rgba(88, 226, 198, 1) 60%, rgba(131, 247, 199, 1) 76%, rgba(139, 246, 196, 1) 79%, rgba(160, 243, 188, 1) 85%, rgba(194, 238, 174, 1) 91%, rgba(241, 232, 155, 1) 98%, rgba(255, 230, 150, 1) 100%);
    }

    &__brown {
        background: rgb(231, 222, 222);
        background: linear-gradient(180deg, rgba(231, 222, 222, 1) 0%, rgba(247, 242, 212, 1) 100%);
    }
}