.button {
    color: inherit;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;

    &Click {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;

        span {
            display: block;
            text-align: center;
            margin-top: 12px;
            letter-spacing: 1px;
        }
    }

    &Close {
        position: absolute;
        right: -24px;
        top: -24px;

        @include min-responsive($w-md) {
            right: -40px;
            top: -40px;
        }
    }
}

.scroll-guide {
    position: fixed;
    bottom: 8px;
    right: 15px;
    z-index: 999;
    flex-direction: column;
    color: white;
    opacity: 0;
    font-size: 14px;
    @include base_transition(all, .2s);

    @include min-responsive($w-md) {
        bottom: 8px;
        right: 34px;
    }

    .icon-scroll {
        width: 20px;
        height: 32px;
        background: #565353;

        &:before {
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 6px;
            height: 6px;
        }
    }

    &.-black {
        color: #58595B;

        .icon-scroll {
            border: 2px solid #58595B;

            &:before {
                background-color: #58595B;
            }
        }
    }
}

.icon {
    &-scroll {
        position: relative;
        border-radius: 50px;
        width: 14px;
        height: 20px;
        border: 2px solid $cl-white;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 2px;
            height: 5px;
            margin-left: -1px;
            background-color: $cl-white;
            border-radius: 10px;
            -webkit-animation: scrolldown 2s infinite;
            animation: scrolldown 2s infinite;
        }
    }

}

.cursor {
    animation: bounce 2.5s ease-in-out alternate infinite;
}