.preloader {
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1001;
    position: fixed;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: rgb(18, 94, 250);
    background: linear-gradient(180deg, rgba(18, 94, 250, 1) 0%, rgba(14, 191, 197, 1) 100%);

    &Wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        opacity: 1;
        transition-property: opacity;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        transition-duration: .7s;
    }

    &Img {
        max-width: 32px;

        @include min-responsive($w-md) {
            max-width: 52px;
        }
    }

    &Txt {
        margin-top: 40px;
        @include font-pack($font_base_bold, 16px, $font-weight-bold, $line-base, $cl-white);
    }

    &.disactive {
        .preloaderWrap {
            opacity: 0;
        }
    }
}

/* HTML: <div class="loader"></div> */
.spinner {
    --d: 40px;
    position: absolute;
    margin-bottom: 68px;
    width: 8px;
    height: 8px;

    @include min-responsive($w-md) {
        --d: 50px;
        width: 12px;
        height: 12px;
    }

    border-radius: 50%;
    color: #F5F038;
    box-shadow: calc(1*var(--d)) calc(0*var(--d)) 0 0,
    calc(0.707*var(--d)) calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d)) calc(1*var(--d)) 0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d)) calc(0*var(--d)) 0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d)) calc(-1*var(--d)) 0 6px;
    animation: l27 1s infinite steps(8);
}

@keyframes l27 {
    100% {
        transform: rotate(1turn)
    }
}