.video {
    &Pop {
        &__content {
            video {
                width: 100%;
                max-height: 80vh;
            }
        }

        &__wrap {
            position: relative;
            width: 84%;

            @include min-responsive($w-md) {
                width: 80%;
            }
        }
    }

    &Bill {
        display: block;

        &::before {
            content: '';
            pointer-events: none;
            position: absolute;
            background: url(../images/video-thumb.jpeg);
            background-size: cover;
            width: calc(100% - 2.4vh);
            top: 1.2vh;
            left: 1.2vh;
            height: 72%;

            @include min-responsive($w-md) {
                height: 73.5%;
            }
        }
    }
}