.video {
    &Pop__content {
        video {
            width: 80%;
            max-height: 80vh;
        }
    }

    &Bill {
        display: block;

        &::before {
            content: '';
            pointer-events: none;
            position: absolute;
            background: url(../images/video-thumb.jpeg);
            background-size: cover;
            width: calc(100% - 2.4vh);
            top: 1.2vh;
            left: 1.2vh;
            height: 73.5%;
        }
    }
}