.article {
    &Dash {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 49px;
        background: url(../images/bg-dash.svg);
        background-size: auto;
        background-repeat: repeat-x;

        &.--top {
            top: 0;
            bottom: unset;
        }
    }

    &Pic {
        display: block;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    &Title {
        font-size: 1.5em;
    }
}