@use '../base/mixins' as *;
@use '../base/vars' as *;

*,
:after,
:before {
    box-sizing: border-box;
}

:root {
    --app-height: 100%;
}

body,
html {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

body {
    @include font-pack($font_base, $font-size-normal, $font-weight-normal, $line-base, $cl-primary);
    background: #FCFFEF;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;

    @include min-responsive($w-md) {
        font-size: 20px;
    }
}

a {
    color: inherit;
    vertical-align: baseline;
    outline: 0;
    @include base_transition(all, .7s);
    background-color: transparent;
}

a,
a:hover {
    text-decoration: none
}

a:focus,
button:focus {
    outline: 0;
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: top;
    -ms-interpolation-mode: bicubic;
    border-style: none;
}

iframe {
    border: none
}

iframe,
video {
    vertical-align: top
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

.clearfix {
    *zoom: 1;
}

main {
    position: relative;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: var(--app-height);
    padding-top: 60px;
    padding-bottom: 120px;

    @include min-responsive($w-md) {
        padding-bottom: 220px;
    }

    &:has(.articleDash.--top) {
        padding-top: 80px;
    }

    &:has(.articleDash.--bottom) {
        padding-top: 160px;
    }
}