@use '../base/mixins' as *;
@use '../base/vars' as *;

.container {
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include min-responsive($w-xl) {
        width: $width-container;

        @include max-height($w-hmd) {
            width: $w-vlg;
        }
    }

    @include min-responsive($w-xxl) {
        width: 1280px;
    }

    &--small {
        @include min-responsive($w-xl) {
            max-width: 680px;
        }
    }

    &--full {
        width: 100%;

        @include min-responsive($w-xxl) {
            width: $w-xxl;
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col-50{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    @include min-responsive($w-vlg) {
        width: 50%;
    }
}