@charset "utf-8";

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;

    &-arrow-line {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.3536 4.3536a.5001.5001 0 0 0 0-.7071l-3.182-3.182a.5.5 0 1 0-.7071.707L20.2929 4l-2.8284 2.8284a.5.5 0 1 0 .7071.7071l3.182-3.182ZM0 4.5h21v-1H0v1Z' fill='%23fff'/%3E%3C/svg%3E");
    }

    &-arrow-small {
        background-position: center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.9987 2.8234C9.1872 2.8248 2.832 9.18 2.832 16.9915c0 7.8115 6.3552 14.1667 14.1681 14.1667 7.8101 0 14.1653-6.3552 14.1667-14.1667 0-7.8115-6.3552-14.1667-14.1681-14.168Zm.0014 25.5014c-6.2503 0-11.3347-5.0844-11.3347-11.3333S10.7498 5.6582 16.9987 5.6568c6.2503.0014 11.3347 5.0858 11.3347 11.3347-.0014 6.2489-5.0858 11.3333-11.3333 11.3333Z' fill='%231650A1'/%3E%3Cpath d='M17.0002 15.5748h-5.6667v2.8334h5.6667v4.2585l5.6737-5.6738-5.6737-5.6723v4.2542Z' fill='%231650A1'/%3E%3C/svg%3E");
    }

    &-bisnistv {
        width: 20px;
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m3.9562 25.3597.956 1.2357-2.4468 1.9602c-.5595.4483-1.1693.5648-1.6733.3146C.2891 28.6225 0 28.0639 0 27.3379V1.662C0 .9368.289.3775.7921.129A1.2425 1.2425 0 0 1 1.348 0c.3647 0 .752.1502 1.1175.4436l2.2304 1.788-.956 1.2357L1.5456 1.71v25.5808l2.4106-1.9311Zm20.2478-9.2684L8.6481 28.5556c-.367.295-.7419.4444-1.1136.4444-.6732 0-1.3517-.5136-1.3517-1.6621V1.662C6.1828.5145 6.8613 0 7.5345 0c.3717 0 .7466.1494 1.1136.4444L24.204 12.9087c.5054.405.796.9848.796 1.5913 0 .6064-.2906 1.1861-.796 1.5913ZM7.7285 22.336l9.3367-7.4805c.1329-.1069.2064-.2328.2064-.3555 0-.1227-.0735-.2486-.2064-.3555L7.7285 6.6648V22.336Zm15.5195-8.1907L7.7285 1.71V4.663l10.2927 8.2466c.5054.4051.7953.9848.7953 1.5912 0 .6065-.2899 1.1862-.7953 1.5913L7.7285 24.3387v2.9521L23.248 14.8555c.1329-.1069.2064-.2328.2064-.3555-.0001-.1219-.0743-.2486-.2064-.3547Z' fill='%23333'/%3E%3C/svg%3E");

        @include min-responsive($mntablet) {
            width: 25px;
            height: 30px;
        }
    }

    &-bar {
        display: inline-block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-decoration: none;
        color: $cl_white;
        text-align: center;
        padding: 6px 0 6px 20px;

        & i {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 2px;
            color: $cl_white;
            background: $cl_white;
            transition: all .2s ease-out;

            &::before,
            &::after {
                content: '';
                width: 80%;
                height: 2px;
                background: $cl_white;
                position: absolute;
                right: 0;
                transition: all .2s ease-out;
            }

            &::before {
                top: -9px;
            }

            &::after {
                bottom: -9px;
            }
        }

        &.active {
            & i {
                background: transparent;

                &::before {
                    width: 100%;
                    top: 0;
                    background: $cl_white;
                    -webkit-transform: rotateZ(-45deg);
                    -moz-transform: rotateZ(-45deg);
                    -ms-transform: rotateZ(-45deg);
                    -o-transform: rotateZ(-45deg);
                    transform: rotateZ(-45deg);
                }

                &::after {
                    width: 100%;
                    bottom: 0;
                    background: $cl_white;
                    -webkit-transform: rotateZ(45deg);
                    -moz-transform: rotateZ(45deg);
                    -ms-transform: rotateZ(45deg);
                    -o-transform: rotateZ(45deg);
                    transform: rotateZ(45deg);
                }
            }
        }
    }
}