$bg_base: #fff;

$font_body: 'Barlow', sans-serif;
$font_child: 'Author', sans-serif;

$cl_primary: #444444;

$cl_red: #FF032E;
$cl_blue: #1650A1;
$cl_white: #fff;
$cl_black: #231f20;
$cl_grey: #666666;

$cl_fb: #3b5998;
$cl_tw: #4099FF;
$cl_gp: #d34836;
$cl_wa: #43d854; 

$grid_desktop: 1400px;
$grid_desktop_large: 900px;
$grid_mobile: 100%;

// break tablet
$mntablet: 768px; 
$mdtablet: 990px; 
$mxtablet: 1024px;
$mztablet: 1440px;