.credit {
    width: 100%;
    position: relative;
    @include font-pack($family: $font_vik2, $weight: 400, $lh: 1.5, $colour: $cl_white);
    letter-spacing: 1.92px;
    z-index: 11;

    &__wrapper {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        @include min-responsive($w-md) {
            flex-direction: row;
        }
    }

    &__row {
        position: relative;
        margin: 5px 0 18px;
    }

    &__col {
        width: 100%;

        @include min-responsive($w-lg) {
            width: 50%;
        }
    }

    &__team {
        text-align: center;
        @include font-pack($family: $font_caption, $weight: 700, $size: 15px);
        margin: 0;
        text-transform: uppercase;
    }

    &__member {
        font-size: 14px;
        position: relative;
        display: block;
    }

    &__bottom {
        position: relative;
        position: relative;
        margin-top: 20px;
    }

    &__small {
        font-size: 14px;
        color: $cl_white;
    }

    &__logo {
        position: relative;
        margin: 0;

        @include max-responsive($w-xxl) {
            padding: 0;
            margin: 10px 0 0;
            display: inline-block;
        }

    }
}