.section1 {
    position: relative;
    background: linear-gradient(180deg, #FCF3D9 0%, #FFFAEE 100%);

    &Dash {
        position: absolute;
        width: 100%;
        height: 45px;
        background: url('../images/section-1/dash-m.png') repeat-x center;
        bottom: -22px;
        z-index: 1;

        @include min-responsive($w-md) {
            height: 93px;
            background: url('../images/section-1/dash.png') repeat-x center;
            bottom: -45px;
        }

        &.--top {
            bottom: unset;
            top: -22px;

            @include min-responsive($w-md) {
                top: -45px;
            }
        }
    }

    &Cover {
        position: relative;
        align-items: flex-end;

        @include min-responsive($w-md) {
            justify-content: flex-end;
            align-items: center;
        }

        &Image {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center top;
            }
        }

        &Content {
            position: relative;
            z-index: 1;
            padding: 20px 20px 25px 20px;
            width: 100%;
            height: auto;
            background: rgba(252, 244, 217, .8);

            @include min-responsive($w-md) {
                width: 39.0625vw;
                height: 100%;
                padding: 120px 20px 150px 20px;
            }
        }
    }

    &Caption {
        span {
            display: flex;
            justify-content: center;
        }

        &Icon {
            width: clamp(60px, 6.25vw, 120px);
        }
    }

    &Scroll {
        display: flex;
        height: 100%;
        gap: clamp(40px, 13.5vw, 260px);
        position: relative;
        width: 100%;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;

        @include min-responsive($w-xl) {
            width: $width-container;

            @include max-height($w-hmd) {
                width: $w-vlg;
            }
        }

        @include min-responsive($w-xxl) {
            width: 1388px;
        }

        &Box {
            flex: 0 0 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: clamp(20px, 9.375vw, 180px);

            &1 {
                img {
                    max-width: clamp(120px, 19.5vw, 374px);
                }
            }

            &2 {
                align-items: end;

                img {
                    max-width: clamp(200px, 23.85vw, 458px);
                }
            }

            picture {
                display: block;
                flex: 0 0 auto;
            }
        }

        &Content {
            padding: 16px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: clamp(20px, 3vw, 57px);

            @include min-responsive($w-md) {
                padding: 108px 70px;
            }

            @include min-responsive($w-xxxl) {
                min-width: 856px;
            }

            &1 {
                border: 4px solid #539EE0;
                background: #7EDCFF;
            }

            &2 {
                flex: 1 1 auto;
                margin-bottom: 80px;
                border: 4px solid #D9C681;
                background: #FAFFCC;
                max-width: 60%;
            }

            strong,
            i {
                display: contents;
            }
        }
    }

    &Content {
        display: block;
        position: relative;
        padding-top: 80px;
        padding-bottom: 80px;
        background: linear-gradient(180deg, #FFF1CC 0%, #ABF9FF 100%);

        @include min-responsive($w-md) {
            padding-bottom: 280px;
            padding-top: 138px;
        }

        .container {
            z-index: 1;
        }
    }

    &Diagram {
        display: block;

        &1 {
            margin-top: 8px;

            @include min-responsive($w-md) {
                margin-top: 18px;
            }
        }

        &3 {
            position: relative;
            z-index: 1;
            margin-top: 22px;

            @include min-responsive($w-md) {
                margin-top: 32px;
            }
        }
    }

    &Box {
        position: relative;
        flex: 1;
        min-height: 262px;
        border-radius: clamp(16px, 2.97vw, 57px);
        background: #C9F8FF;
        @include font-pack(false, 14px, $font-weight-sbold, $line-base, #2B2B2B);

        @include min-responsive($w-md) {
            // min-width: 856px;
            font-size: 24px;
            min-height: 440px;
        }

        &Wrap {
            gap: 14px;

            @include min-responsive($w-md) {
                gap: 74px;
            }

            img {
                max-width: 200px;

                @include min-responsive($w-lg) {
                    max-width: unset;
                }
            }
        }

        &Txt {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            display: none;
            padding: clamp(30px, 7.24vw, 139px) clamp(20px, 4.69vw, 90px);

            &.active {
                display: block;
            }
        }
    }

    &Bg {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .buttonNextWrap {
        position: relative;
        z-index: 1;
        margin-top: 80px;

        @include min-responsive($w-md) {
            margin-top: 280px;
        }
    }
}

.scroll-area {
    position: relative;
    width: 100%;
    height: var(--app-height);
    overflow: hidden;
}

.scroll-content,
.section1ScrollContent {
    height: var(--app-height);
}