<!DOCTYPE html>
<html lang="en">

{{> head page=""}}

<body>
    {{> header/header}}
    <main role="main" class="main">
        <div class="section container">
            <div class="center-flex flex-column">
                <img src="./asset/images/icon/icon-404.png" class="resiImg" alt="" width="146" height="146">
                <div class="titleGray title404 mt2">404</div>
                <h1 class="titleGray titleCaption">Halaman Tidak Ditemukan</h1>
                <div class="static">Kembali ke <a href="index.html" class="mr10">halaman utama</a></div>
            </div>
        </div>
    </main>
    {{> footer}}

    {{> js}}

</body>

</html>