<!DOCTYPE html>
<html lang="en">

{{> head page=""}}

<body>
    {{> header/header}}
    <main role="main" class="main">
        <div class="section container">
            <h1 class="titleCaption text-center">Mengapa Kami?</h1>
            <div class="row justify-center">
                <div class="col-12">
                </div>
            </div>
        </div>
    </main>
    {{> footer}}

    {{> js}}

</body>

</html>