<!DOCTYPE html>
<html lang="en">

{{> head page="article" dropdown=true}}

<body>
    {{> header/header}}
    <main role="main" class="main">
        <div class="art page container mt2">
            {{>breadcrumb page="article"}}
            <div class="artHead artHead--row display-flex mt2">
                <h1 class="titleCaption">Artikel</h1>
                <div class="artSort display-flex">
                    <div class="artSort__caption">Urutkan:</div>
                    <select class="formSelect formSelect--sort" id="sort" name="sort">
                        <option value="new">Terbaru</option>
                        <option value="pop">Terpopuler</option>
                    </select>
                </div>
            </div>
            {{>article/article-idx}}
            {{>paging}}
        </div>
    </main>
    {{> footer}}

    {{> js}}
    <script defer type="text/javascript" src="./asset/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            //sort article
            $("#sort").select2({
                minimumResultsForSearch: Infinity,
                selectionCssClass: "formSelect",
                dropdownCssClass: "formDropdown formDropdown--red",
            });
        })
    </script>

</body>

</html>