<!DOCTYPE html>
<html lang="en">

{{> head page="article"}}

<body>
    {{> header/header}}
    <main role="main" class="main">
        <div class="art page container mt2">
            {{>breadcrumb page="article-read"}}
            <div class="artRead row">
                <div class="artMain col-12 col-lg-8">
                    <div class="artCateg">Bisnis</div>
                    <h1 class="artRead__caption mt10">Keuntungan Dan Tantangan Bisnis Usaha Kurir</h1>
                    <div class="artWrap">
                        <div class="artMisc">
                            <div class="artWriter">
                                <img src="./asset/images/icon-saitrans.png" alt="" width="52" height="52">
                                <div class="artWriter__content flex-init">
                                    <div class="artWriter__name">SAI Trans Admin</div>
                                    <div class="artDatetime">
                                        <div class="artDate">09 - 09 - 2022</div>
                                        <div class="artTime">09:00 WIB</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="artShare">
                            {{>article/share}}
                        </div>
                    </div>
                    <div class="artImg__wrap">
                        <div class="artImg">
                            <img src="https://cms.saitrans.co.id/uploads/article/article_1657432151.jpg" alt=""
                                width="795" height="504">
                        </div>
                    </div>

                    <!-- s: content article-->
                    {{>article/article-read}}
                    <!-- e: content article-->

                    <div class="artEditor mt2">
                        <strong>Penulis: </strong>Admin <br>
                        <strong>Editor: </strong>Admin
                    </div>

                    <div class="artOther">
                        <h2 class="artCaption">Artikel Lainnya</h2>
                        {{>article/other}}
                    </div>
                </div>
                <div class="sidebar col-12 col-lg-4">
                    <div class="sidebarBox">
                        <h2 class="artCaption text-center">Stay in Touch</h2>
                        <div class="sidebarSocmed">
                            {{>socmed}}
                        </div>
                    </div>
                    <div class="sidebarBox">
                        <h2 class="artCaption text-center">Tags</h2>
                        <div class="sidebarTag">
                            <div class="sidebarTag__item">
                                <a href="#" class="sidebarTag__link">Usaha Kurir</a>
                            </div>
                            <div class="sidebarTag__item">
                                <a href="#" class="sidebarTag__link">Agen</a>
                            </div>
                            <div class="sidebarTag__item">
                                <a href="#" class="sidebarTag__link">SAI</a>
                            </div>
                            <div class="sidebarTag__item">
                                <a href="#" class="sidebarTag__link">Jasa Pengiriman Barang</a>
                            </div>
                            <div class="sidebarTag__item">
                                <a href="#" class="sidebarTag__link">Kurir Domestik Internasional</a>
                            </div>
                            <div class="sidebarTag__item">
                                <a href="#" class="sidebarTag__link">Peluang Bisnis</a>
                            </div>
                            <div class="sidebarTag__item">
                                <a href="#" class="sidebarTag__link">Lokal</a>
                            </div>
                            <div class="sidebarTag__item">
                                <a href="#" class="sidebarTag__link">Tantangan</a>
                            </div>
                            <div class="sidebarTag__item">
                                <a href="#" class="sidebarTag__link">Teknologi</a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebarBox sidebarArt">
                        <h2 class="artCaption text-center">Artikel Terbaru</h2>
                        {{>article/newest}}
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{> footer}}

    {{> js}}

</body>

</html>