<!DOCTYPE html>
<html lang="en">

{{> head page=""}}

<body>
    {{> header/header}}
    <main role="main" class="main">
        <div class="headline">
            <div class="headlineItem">
                <picture>
                    <source srcset="./asset/images/teaser.jpg" media="(min-width: 780px)" alt="">
                    <img srcset="./asset/images/teaser-xs.jpg" alt="" class="headlineImg" width="1920" height="329">
                </picture>
            </div>
        </div>
        <div class="simulationSection container">
            <div class="simulation simulationIdx">
                <div class="simulationItem col-lg-12">
                    {{>simulation/resi title="Cek Resi"}}
                </div>
            </div>
        </div>
        <div class="section resi container">
            <div class="center-flex flex-column">
                <img src="./asset/images/icon/icon-resi-404.png" class="resiImg" alt="" width="175" height="175">
                <h1 class="titleGray titleCaption mt2">Resi Tidak Ditemukan</h1>
            </div>
        </div>
    </main>
    {{> footer}}

    {{> js validate=true resi=true}}

</body>

</html>