<!DOCTYPE html>
<html lang="en">

{{> head page=""}}

<body>
    {{> header/header}}
    <main role="main" class="main">
        <div class="headline">
            <div class="headlineItem">
                <picture>
                    <source srcset="./asset/images/teaser.jpg" media="(min-width: 780px)" alt="">
                    <img srcset="./asset/images/teaser-xs.jpg" alt="" class="headlineImg" width="1920" height="329">
                </picture>
            </div>
        </div>
        <div class="simulationSection container">
            <div class="simulation simulationIdx">
                <div class="simulationItem col-lg-12">
                    {{>simulation/resi title="Cek Resi"}}
                </div>
            </div>
        </div>
        <div class="section resi container">
            {{>breadcrumb page="resi"}}
            <div class="simulationHead resiHead display-flex">
                <h2 class="titleCaption">Cek Resi</h2>
                <div class="simulationHead__right display-flex align-center">
                    <div class="resiNumber">
                        <img src="./asset/images/icon/icon-resi.png" class="fareIcon icon-weight" width="26" height="31"
                            loading="lazy"></img>
                        CGK001126779531
                    </div>
                </div>
            </div>
            <div class="resiWrap resiAwb">
                <table class="resiTable resiFull" cellspan="0" border="0">
                    <tr class="resiRed__wrap">
                        <td>
                            <table class="resiFull resiBody resiRed" cellspan="0" border="0">
                                <tr>
                                    <th class="col-2">No. AWB</th>
                                    <th class="col-1">Service</th>
                                    <th class="col-2">Tanggal Pengiriman</th>
                                    <th class="col-3">Asal</th>
                                    <th class="col-2">Tujuan</th>
                                    <th class="col-2">Status</th>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <table class="resiFull resiBody" cellspan="0" border="0">
                        <tr>
                            <td class="col-2" data-title="No. AWB">CGK001126779531</td>
                            <td class="col-1" data-title="Service">REG</td>
                            <td class="col-2" data-title="Tanggal Pengiriman">27 November 2022</td>
                            <td class="col-3" data-title="Asal">Cengkareng, Kota Jakarta Barat (CGK)</td>
                            <td class="col-2" data-title="Tujuan">Malaysia</td>
                            <td class="col-2" data-title="Status">On Process</td>
                        </tr>
                    </table>
                </table>
            </div>
            <div class="resiWrap">
                <table class="resiTable resiFull" cellspan="0" border="0">
                    <tr>
                        <th class="col-6">Pengirim</th>
                        <th class="col-6">Penerima</th>
                    </tr>
                    <table class="resiFull resiBody" cellspan="0" border="0">
                        <tr>
                            <td class="col-6">Bayu Setyadika</td>
                            <td class="col-6">Ilma Akrimatunnisa</td>
                        </tr>
                    </table>
                </table>
            </div>
            <div class="resiHistory">
                <h3 class="titleCaption titleCaption--small text-center">History</h3>
                <div class="resiWrap">
                    <table class="resiTable resiFull" cellspan="0" border="0">
                        <tr>
                            <th class="col-6">Tanggal</th>
                            <th class="col-6">Keterangan</th>
                        </tr>
                        <table class="resiFull resiBody" cellspan="0" border="0">
                            <tr>
                                <td class="col-6">22 November 2022</td>
                                <td class="col-6">Manifested</td>
                            </tr>
                            <tr>
                                <td>22 November 2022</td>
                                <td>Processing in origin city</td>
                            </tr>
                            <tr>
                                <td>23 November 2022</td>
                                <td>On the way to destination</td>
                            </tr>
                            <tr>
                                <td>xxx</td>
                                <td>xxx</td>
                            </tr>
                        </table>
                    </table>
                </div>
            </div>
        </div>
        <div class="stepSection section bg-yellow">
            <div class="container">
                <h2 class="titleCaption">Proses Pengiriman</h2>
                <p>Sebelum melakukan pengiriman, hitunglah terlebih dahulu dengan form simulasi ini. Harga sewaktu-waktu
                    bisa berubah tanpa pemberitahuan. Tersedia proses offline maupun online untuk melakukan proses
                    ekspedisi,</p>
                <div class="stepTitle__wrap">
                    <h3 class="stepTitle">Offline</h3>
                </div>
                <ul class="stepList display-flex">
                    {{>step-off}}
                </ul>
                <div class="stepTitle__wrap">
                    <h3 class="stepTitle">Online</h3>
                </div>
                <ul class="stepList display-flex">
                    {{>step-on}}
                </ul>
            </div>
        </div>
        <div class="mitra section container text-center">
            <h2 class="titleCaption">Mitra</h2>
            <p>SAI Trans bekerja sama dengan banyak partner penyedia jasa logistik yang terpercaya dan terbukti aman
                sebagai pilihan pengiriman paket anda. Pilih Sesuai dengan kebutuhan anda.</p>
            {{>mitra-slider}}
        </div>
    </main>
    {{> footer}}

    {{> js validate=true resi=true}}

</body>

</html>