<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{> header/header}}
    <main role="main" class="main">
        <div class="headline">
            <div class="headlineItem">
                <picture>
                    <source srcset="./asset/images/information-teaser.jpg" media="(min-width: 780px)" alt="">
                    <img srcset="./asset/images/information-teaser-xs.jpg" alt="" class="headlineImg" width="1920"
                        height="329">
                </picture>
            </div>
        </div>
        <div class="claim page container mt2">
            {{>breadcrumb page="claim"}}
            <h1 class="titleCaption text-center mt2">Proses Pengajuan Klaim</h1>
            <div class="claimItem">
                <div class="claimNum center-flex">1</div>
                <div class="text-center">
                    <img src="./asset/images/icon/icon-claim-1.png" alt="" width="150" height="133" class="claimIcon">
                    <h2 class="titleCaption titleCaption--small mt2">Laporkan Paket</h2>
                </div>
                <div class="static">
                    <p>Laporkan atas kerusakan, kehilangan, dapat diadukan melalui <a
                            href="https://saitrans.co.id/klaim" target="_blank"
                            rel="noopener noreferrer">https://saitrans.co.id/klaim</a> dalam waktu paling
                        lambat 7 hari sejak POD atau estimasi kedatangan.</p>
                </div>
            </div>
            <div class="claimItem">
                <div class="claimNum center-flex">2</div>
                <div class="text-center">
                    <img src="./asset/images/icon/icon-claim-2.png" alt="" width="154" height="164" class="claimIcon" loading="lazy">
                    <h2 class="titleCaption titleCaption--small mt2">Lengkapi Formulir</h2>
                </div>
                <div class="static">
                    <p>Pengirim/penerima paket yang mengajukan klaim harus melengkapi syarat & ketentuan dokumen
                        pengajuan
                        klaim, paling lambat 1 hari kerja setelah proses ke 1</p>
                    <p>Dokumen yang harus di lengkapi :</p>
                    <ol>
                        <li>
                            <p>Foto KTP (Pengirim atau Penerima) </p>
                        </li>
                        <li>
                            <p>Cover buku rekening bank pelanggan (atas nama KTP yang di lampirkan)</p>
                        </li>
                        <li>
                            <p>Foto invoice /nota harga barang yang dikirimkan</p>
                        </li>
                        <li>
                            <p>Untuk klaim kerusakan wajib melampirkan
                                dokumentasi berupa foto kerusakan fisik kiriman dan foto kiriman</p>
                        </li>
                    </ol>
                    <div class="dropList">
                        <div class="dropBox close mt2">
                            <div class="dropTrig -js-show display-flex items-center">
                                <div class="dropBox__title">Dengan Asuransi
                                </div>
                                <button class="button dropShow" aria-label="Show hide Content"><span class="icon-chevron"></span></button>
                            </div>
                            <div class="dropContent dropBox__content">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Mi
                                mattis id
                                proin et cras id eu libero. Sit
                                turpis massa, non suscipit in bibendum nec volutpat viverra.</div>
                        </div>
                        <div class="dropBox close mt2">
                            <div class="dropTrig -js-show display-flex items-center">
                                <div class="dropBox__title">Tanpa Asuransi</div>
                                <button class="button dropShow" aria-label="Show hide Content"><span class="icon-chevron"></span></button>
                            </div>
                            <div class="dropContent dropBox__content">
                                <ul>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et
                                        cras
                                        id eu
                                        libero.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et
                                        cras
                                        id eu
                                        libero.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et
                                        cras
                                        id eu
                                        libero.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="claimItem">
                <div class="claimNum center-flex">3</div>
                <div class="text-center">
                    <img src="./asset/images/icon/icon-claim-3.png" alt="" width="150" height="150" class="claimIcon" loading="lazy">
                    <h2 class="titleCaption titleCaption--small mt2">Tunggu Proses</h2>
                </div>
                <div class="static">
                    <p>Pengirim/penerima paket yang mengajukan klaim dapat menunggu proses hasil klaim dengan estimasi
                        waktu 3 hari kerja sejak dokumen diterima oleh Tim Klaim SAI Trans.</p>
                    <p>Catatan :</p>

                    <p>- Penggantian biaya
                        ganti rugi atas terjadinya klaim dapat dilakukan apabila kiriman dikirim menggunakan standar
                        packing yang berlaku di SAI Trans.</p>

                    <p>- SAI Trans tidak bertanggung jawab atas kerugian material
                        yang disebabkan oleh keterlambatan kiriman.</p>

                </div>
            </div>
            <div class="center-flex text-center">
                <a href="#" target="_blank" rel="noopener noreferrer" class="buttonPrimary buttonFull">Ajukan Klaim</a>
            </div>
        </div>
    </main>
    {{> footer}}

    {{> js}}

</body>

</html>