<!DOCTYPE html>
<html lang="en">

{{> head page=""}}

<body>
    {{> header/header}}
    <main role="main" class="main">
        <div class="headline">
            <div class="headlineItem">
                <picture>
                    <source srcset="./asset/images/information-teaser.jpg" media="(min-width: 780px)" alt="">
                    <img srcset="./asset/images/information-teaser-xs.jpg" alt="" class="headlineImg" width="1920"
                        height="329">
                </picture>
            </div>
        </div>
        <div class="dangerous page container mt2">
            {{>breadcrumb page="dangerous"}}
            <h1 class="titleCaption text-center mt2">Dangerous Good</h1>
            <div class="row center-flex">
                <div class="col-12 col-lg-8">
                    <p class="dangerousTeaser text-center">Dangerous Goods adalah benda atau zat yang berisiko
                        membahayakan
                        kesehatan, keselamatan, aset dan lingkungan sehingga ada kemungkinan barang gagal terkirim.</p>
                </div>
            </div>
            <div class="dangerousList">
                <h2 class="titleCaption titleCaption--small">Berikut adalah ketentuan barang-barang yang
                    tidak dapat terkirim dan dapat dikirim melalui SAI Trans</h2>
                <div class="dropList static">
                    <div class="dropBox close mt2">
                        <div class="dropTrig dropTrig--icon -js-show display-flex items-center">
                            <div class="dropBox__title">
                                <div class="dropIcon">
                                    <img src="./asset/images/icon/icon-goods-corrosive.png" class="icon" width="32"
                                        height="27" loading="lazy">
                                </div>
                                <div class="flex-init word-break">Corrosive</div>
                            </div>
                            <button class="button dropShow" aria-label="Show hide Content"><span
                                    class="icon-chevron"></span></button>
                        </div>
                        <div class="dropContent dropBox__content">Lorem ipsum dolor sit amet, consectetur
                            adipiscing
                            elit. Mi
                            mattis id
                            proin et cras id eu libero. Sit
                            turpis massa, non suscipit in bibendum nec volutpat viverra.</div>
                    </div>
                    <div class="dropBox close mt2">
                        <div class="dropTrig dropTrig--icon -js-show display-flex items-center">
                            <div class="dropBox__title">
                                <div class="dropIcon">
                                    <img src="./asset/images/icon/icon-goods-electrical.png" class="icon" width="32"
                                        height="27" loading="lazy">
                                </div>
                                <div class="flex-init word-break">Electrical Hazard</div>
                            </div>
                            <button class="button dropShow" aria-label="Show hide Content"><span
                                    class="icon-chevron"></span></button>
                        </div>
                        <div class="dropContent dropBox__content">Lorem ipsum dolor sit amet, consectetur
                            adipiscing
                            elit. Mi
                            mattis id
                            proin et cras id eu libero. Sit
                            turpis massa, non suscipit in bibendum nec volutpat viverra.</div>
                    </div>
                    <div class="dropBox close mt2">
                        <div class="dropTrig dropTrig--icon -js-show display-flex items-center">
                            <div class="dropBox__title">
                                <div class="dropIcon">
                                    <img src="./asset/images/icon/icon-goods-explosive.png" class="icon" width="32"
                                        height="27" loading="lazy">
                                </div>
                                <div class="flex-init word-break">Explosive</div>
                            </div>
                            <button class="button dropShow" aria-label="Show hide Content"><span
                                    class="icon-chevron"></span></button>
                        </div>
                        <div class="dropContent dropBox__content">
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin
                                    et
                                    cras
                                    id eu
                                    libero.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin
                                    et
                                    cras
                                    id eu
                                    libero.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin
                                    et
                                    cras
                                    id eu
                                    libero.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="dropBox close mt2">
                        <div class="dropTrig dropTrig--icon -js-show display-flex items-center">
                            <div class="dropBox__title">
                                <div class="dropIcon">
                                    <img src="./asset/images/icon/icon-goods-flameable.png" class="icon" width="32"
                                        height="27" loading="lazy">
                                </div>
                                <div class="flex-init word-break">Flameable</div>
                            </div>
                            <button class="button dropShow" aria-label="Show hide Content"><span
                                    class="icon-chevron"></span></button>
                        </div>
                        <div class="dropContent dropBox__content">Lorem ipsum dolor sit amet, consectetur
                            adipiscing
                            elit. Mi
                            mattis id
                            proin et cras id eu libero. Sit
                            turpis massa, non suscipit in bibendum nec volutpat viverra.</div>
                    </div>
                    <div class="dropBox close mt2">
                        <div class="dropTrig dropTrig--icon -js-show display-flex items-center">
                            <div class="dropBox__title">
                                <div class="dropIcon">
                                    <img src="./asset/images/icon/icon-goods-radioactive.png" class="icon" width="32"
                                        height="27" loading="lazy">
                                </div>
                                <div class="flex-init word-break">Radioactive</div>
                            </div>
                            <button class="button dropShow" aria-label="Show hide Content"><span
                                    class="icon-chevron"></span></button>
                        </div>
                        <div class="dropContent dropBox__content">Lorem ipsum dolor sit amet, consectetur
                            adipiscing
                            elit. Mi
                            mattis id
                            proin et cras id eu libero. Sit
                            turpis massa, non suscipit in bibendum nec volutpat viverra.</div>
                    </div>
                    <div class="dropBox close mt2">
                        <div class="dropTrig dropTrig--icon -js-show display-flex items-center">
                            <div class="dropBox__title">
                                <div class="dropIcon">
                                    <img src="./asset/images/icon/icon-goods-poison.png" class="icon" width="32"
                                        height="27" loading="lazy">
                                </div>
                                <div class="flex-init word-break">Poison</div>
                            </div>
                            <button class="button dropShow" aria-label="Show hide Content"><span
                                    class="icon-chevron"></span></button>
                        </div>
                        <div class="dropContent dropBox__content">
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin
                                    et
                                    cras
                                    id eu
                                    libero.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin
                                    et
                                    cras
                                    id eu
                                    libero.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin
                                    et
                                    cras
                                    id eu
                                    libero.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dangerousList">
                <h2 class="titleCaption titleCaption--small">Barang-barang kategori “Dangerous Goods”
                    yang dapat dikirim melalui SAI Trans</h2>
                <div class="dropList dropList--green static">
                    <div class="dropBox close mt2">
                        <div class="dropTrig -js-show display-flex items-center">
                            <div class="dropBox__title">Melalui Udara
                            </div>
                            <button class="button dropShow" aria-label="Show hide Content"><span
                                    class="icon-chevron"></span></button>
                        </div>
                        <div class="dropContent dropBox__content">Lorem ipsum dolor sit amet, consectetur
                            adipiscing
                            elit. Mi
                            mattis id
                            proin et cras id eu libero. Sit
                            turpis massa, non suscipit in bibendum nec volutpat viverra.</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{> footer}}

    {{> js}}

</body>

</html>