<!DOCTYPE html>
<html lang="en">

{{> head page=""}}

<body>
    {{> header/header}}
    <main role="main" class="main">
        <div class="headline">
            <div class="headlineItem">
                <picture>
                    <source srcset="./asset/images/information-teaser.jpg" media="(min-width: 780px)" alt="">
                    <img srcset="./asset/images/information-teaser-xs.jpg" alt="" class="headlineImg" width="1920" height="329">
                </picture>
            </div>
        </div>
        <div class="download page container mt2">
            {{>breadcrumb page="download"}}
            <h1 class="titleCaption text-center mt2">Download Document</h1>
            <div class="downloadList">
                <div class="downloadItem titleCaption titleCaption--small">
                    Personal Use Form Templates
                    <a class="buttonPrimary" href="https://saitrans.co.id/assets/doc/Personal_Use_Form_Template_Indonesia.docx">Download</a>
                </div>
                <div class="downloadItem titleCaption titleCaption--small">
                    Letter Non Dangerous Goods Templates
                    <a class="buttonPrimary" href="https://saitrans.co.id/assets/doc/Letter_Non_DG_TNT.xlsx">Download</a>
                </div>
                <div class="downloadItem titleCaption titleCaption--small">
                    Commercial Invoice Templates
                    <a class="buttonPrimary" href="https://saitrans.co.id/assets/doc/Comercial_Invoices.xlsx">Download</a>
                </div>
            </div>
        </div>
    </main>
    {{> footer}}

    {{> js}}

</body>

</html>