<!DOCTYPE html>
<html lang="en">

{{> head page=""}}

<body>
    {{> header/header}}
    <main role="main" class="main">
        <div class="headline">
            <div class="headlineItem">
                <picture>
                    <source srcset="./asset/images/information-teaser.jpg" media="(min-width: 780px)" alt="">
                    <img srcset="./asset/images/information-teaser-xs.jpg" alt="" class="headlineImg" width="1920"
                        height="329">
                </picture>
            </div>
        </div>
        <div class="faq page container mt2">
            {{>breadcrumb page="faq"}}
            <h1 class="titleCaption text-center mt2">FAQ</h1>
            <div class="simulation simulationIdx mt2">
                <div class="simulationItem col-lg-12">
                    <h3 class="simulationTitle">Butuh Bantuan?</h3>
                    <form action="#" id="formfaq" class="simulationRight display-flex">
                        <div class="formWrap__input mb1">
                            <input type="text" aria-label="faq" id="faq" name="faq"
                                placeholder="Cari yang kamu butuhkan ..." class="formInput" required=""
                                autocomplete="off">
                        </div>
                        <button type="submit" class="button buttonPrimary">Cari</button>
                    </form>
                </div>
            </div>
            <div class="tablist section">
                <h2 class="titleCaption titleCaption--small mt2">Bantuan untuk Anda</h2>
                <div class="faqList -sfaq">
                    {{>faq-item active="Pelacakan Paket"}}
                </div>
            </div>
            <div class="tabwrapper section">
                <div class="tabcontent active" id="pelacakanpaket">
                    <h3 class="titleCaption titleCaption--small mt2">
                        <img src="./asset/images/icon/icon-check-resi.svg" width="30" height="40" alt="" class="faqTab__img faqItem__img filter-red" loading="lazy">
                        Pelacakan Paket
                    </h3>
                    <div class="dropList static">
                        <div class="dropBox close mt2">
                            <div class="dropTrig -js-show display-flex items-center">
                                <div class="dropBox__title">Mengapa status paket gagal dikirim?
                                </div>
                                <button class="button dropShow" aria-label="Show hide Content"><span
                                        class="icon-chevron"></span></button>
                            </div>
                            <div class="dropContent dropBox__content">
                                Paket gagal dikirim disebabkan beberapa hal diantaranya:
                                <ol>
                                    <li>Alamat penerima tidak ditemukan</li>
                                    <li>Penerima tidak dapat dihubungi</li>
                                    <li>Barang Anda termasuk kategori dangerous goods sehingga tidak dapat dikirim</li>
                                    <li>Anda bisa menghubungi customers service untuk informasi lebih lanjut mengenai
                                        paket
                                        Anda</li>
                                </ol>
                            </div>
                        </div>
                        <div class="dropBox close mt2">
                            <div class="dropTrig -js-show display-flex items-center">
                                <div class="dropBox__title">Apakah pengiriman di SAI ada minimum?</div>
                                <button class="button dropShow" aria-label="Show hide Content"><span
                                        class="icon-chevron"></span></button>
                            </div>
                            <div class="dropContent dropBox__content">
                                Pengiriman di SAI minimum 1 Kg.
                            </div>
                        </div>
                        <div class="dropBox close mt2">
                            <div class="dropTrig -js-show display-flex items-center">
                                <div class="dropBox__title">Apakah semua barang boleh dikirim?</div>
                                <button class="button dropShow" aria-label="Show hide Content"><span
                                        class="icon-chevron"></span></button>
                            </div>
                            <div class="dropContent dropBox__content">
                                Tidak semua barang boleh dikirim terutama untuk pengiriman keluar negeri, apa saja
                                barang
                                yang
                                dilarang kirim tersebut: Barang-barang berbahaya (Dangerous Goods), barang cairan atau
                                baterai,
                                Narkotika (drugs), barang yang diatur tata niaga ekspornya, barang yang diawasi
                                ekspornya,
                                dan
                                barang yang dilarang ekspornya. (Untuk lebih jelasnya dapat hubungi CS SAI)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabcontent" id="cektarif">
                    <h3 class="titleCaption titleCaption--small mt2">
                        <img src="./asset/images/icon/icon-check-tarif.svg" width="30" height="40" alt="" class="faqTab__img faqItem__img filter-red" loading="lazy">
                        Cek Tarif
                    </h3>
                    <div class="dropList static">
                        <div class="dropBox close mt2">
                            <div class="dropTrig -js-show display-flex items-center">
                                <div class="dropBox__title">Bagaimana cara cek tarif?
                                </div>
                                <button class="button dropShow" aria-label="Show hide Content"><span
                                        class="icon-chevron"></span></button>
                            </div>
                            <div class="dropContent dropBox__content">
                                Anda dapat mengisi kota asal, kota tujuan dan berat paket dan klik Cek Tarif. Sistem
                                akan menampilkan tarif atau biaya
                                ongkir untuk pengiriman paket Anda.
                            </div>
                        </div>
                        <div class="dropBox close mt2">
                            <div class="dropTrig -js-show display-flex items-center">
                                <div class="dropBox__title">Mengapa tidak muncul biaya cek tarif?</div>
                                <button class="button dropShow" aria-label="Show hide Content"><span
                                        class="icon-chevron"></span></button>
                            </div>
                            <div class="dropContent dropBox__content">
                                Kemungkinan terjadi karena beberapa hal:
                                <ol>
                                    <li>Koneksi internet Anda mungkin sedang tidak stabil</li>
                                    <li>Website sedang dalam maintenance, sehingga fitur cek tarif tidak bisa digunakan
                                    </li>
                                    <li>Rute yang Anda masukkan (kota asal ke kota tujuan) belum tersedia di Sai Trans,
                                        sehingga biaya ongkos kirim tidak muncul</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{> footer}}

    {{> js validate=true}}
    <script>
        $(document).ready(function () {
            //validation
            $('#formfaq').validate({
                rules: {
                    faq: {
                        required: true,
                    },
                },
                errorPlacement: function (error, element) {
                    error.insertAfter(element)
                }
            })

            //slider faq
            $('.-sfaq').slick({
                dots: false,
                arrows: true,
                infinite: true,
                speed: 500,
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 2000,
                focusOnSelect: true,
                responsive: [{
                    breakpoint: 1220,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2
                    }
                }
                ]
            });

        })

        //tab faq
        function openTab(evt, cityName) {
            var i, tablinkcontent, tabbutton;
            tablinkcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tablinkcontent.length; i++) {
                tablinkcontent[i].style.display = "none";
            }
            tabbutton = document.getElementsByClassName("tabbutton");
            for (i = 0; i < tabbutton.length; i++) {
                tabbutton[i].className = tabbutton[i].className.replace(" active", "");
            }
            if (document.getElementById(cityName) !== null) {
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            } else {
                console.log("Couldn't find content for slider button")
            }

            //tab scroll mobile
            let act = $('.faqItem__wrap.active');
            if (act.length > 0) {
                let msp = act.position().left;
                $('.faqList .slick-list').animate({
                    //scrollLeft: msp
                });
            }
        }

    </script>

</body>

</html>