<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{> header/header}}
    <main role="main" class="main">
        <div class="headline">
            <div class="headlineItem">
                <picture>
                    <source srcset="./asset/images/information-teaser.jpg" media="(min-width: 780px)" alt="">
                    <img srcset="./asset/images/information-teaser-xs.jpg" alt="" class="headlineImg" width="1920"
                        height="329">
                </picture>
            </div>
        </div>
        <div class="faq page container mt2">
            {{>breadcrumb page="faq"}}
            <h1 class="titleCaption text-center mt2">FAQ</h1>
            <h2 class="titleCaption titleCaption--small mt2">Bantuan untuk Anda</h2>
            <h2 class="titleCaption titleCaption--small mt2">Pelacakan Paket</h2>
            <div class="dropList static">
                <div class="dropBox close active mt2">
                    <div class="dropTrig -js-show display-flex items-center">
                        <div class="dropBox__title">Layanan apa saja yang disediakan oleh SAI?
                        </div>
                        <button class="button dropShow" aria-label="Show hide Content"><span
                                class="icon-chevron"></span></button>
                    </div>
                    <div class="dropContent dropBox__content">
                        SAI menyediakan layanan pengiriman paket dan dokumen keseluruh Indonesia dan keseluruh dunia.
                        Untuk pengiriman barang domestik Indonesia SAI bekerjasama dengan <i>Lion Parcel, Sicepat, dan
                            SAP Express Courier</i>. Sedangkan untuk pengiriman barang keluar negeri, SAI bekerjsama
                        dengan beberapa
                        vendor untuk dapat memberikan harga bersaing antara lain: Aramex, Janio, City-Link Express, SF
                        Express, dan lain-lain.
                    </div>
                </div>
                <div class="dropBox close mt2">
                    <div class="dropTrig -js-show display-flex items-center">
                        <div class="dropBox__title">Apakah pengiriman di SAI ada minimum?</div>
                        <button class="button dropShow" aria-label="Show hide Content"><span
                                class="icon-chevron"></span></button>
                    </div>
                    <div class="dropContent dropBox__content">
                        Pengiriman di SAI minimum 1 Kg.
                    </div>
                </div>
                <div class="dropBox close mt2">
                    <div class="dropTrig -js-show display-flex items-center">
                        <div class="dropBox__title">Apakah semua barang boleh dikirim?</div>
                        <button class="button dropShow" aria-label="Show hide Content"><span
                                class="icon-chevron"></span></button>
                    </div>
                    <div class="dropContent dropBox__content">
                        Tidak semua barang boleh dikirim terutama untuk pengiriman keluar negeri, apa saja barang yang
                        dilarang kirim tersebut: Barang-barang berbahaya (Dangerous Goods), barang cairan atau baterai,
                        Narkotika (drugs), barang yang diatur tata niaga ekspornya, barang yang diawasi ekspornya, dan
                        barang yang dilarang ekspornya. (Untuk lebih jelasnya dapat hubungi CS SAI)
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{> footer}}

    {{> js}}

</body>

</html>