<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{> header/header}}
    <main role="main" class="main">
        <div class="headline">
            <div class="headlineItem">
                <picture>
                    <source srcset="./asset/images/teaser.jpg" media="(min-width: 780px)" alt="">
                    <img srcset="./asset/images/teaser-xs.jpg" alt="" class="headlineImg" width="1920" height="329">
                </picture>
            </div>
        </div>
        <div class="freight page container mt2">
            {{>breadcrumb page="freight"}}
            <div class="freightRow row">
                <div class="freightCol col-lg-4">
                    {{>freight-menu page="Sea Freight"}}
                </div>
                <div class="freightCol col-lg-8">
                    <h1 class="titleCaption freightCaption">Sea Freight</h1>
                    <div class="static">                
                        <p>SAI Transport menawarkan layanan pengiriman barang melalui jalur laut baik
                            menggunakan&nbsp;Full Container Load (FCL) &amp; Less Container Load (LCL) untuk tujuan
                            domestik maupun internasional yang siap dikirimkan melalui jalur laut dari Indonesia ke
                            setiap pelabuhan utama setiap negara di seluruh dunia. Layanan ini juga meliputi layanan
                            “Door To Door” dan “Port To Port”.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{> footer}}

    {{> js}}

</body>

</html>