<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{> header/header}}
    <main role="main" class="main">
        <div class="headline">
            <div class="headlineItem">
                <picture>
                    <source srcset="./asset/images/teaser.jpg" media="(min-width: 780px)" alt="">
                    <img srcset="./asset/images/teaser-xs.jpg" alt="" class="headlineImg" width="1920" height="329">
                </picture>
            </div>
        </div>
        <div class="freight page container mt2">
            {{>breadcrumb page="freight"}}
            <div class="freightRow row">
                <div class="freightCol col-lg-4">
                    {{>freight-menu page="Freight Forwarding"}}
                </div>
                <div class="freightCol col-lg-8">
                    <h1 class="titleCaption freightCaption">Freight Forwarding</h1>
                    <div class="static">
                        <p>PT. SAI Transportasi Indonesia yang sudah berdiri sejak tahun 2007, menawarkan Jasa Freight
                            Forwarder yang siap memenuhi segala keperluan pengiriman anda dengan berbagai macam jalur
                            pengiriman baik darat, laut maupun udara.</p>

                        <p>SAI mampu melayani anda dengan baik dikarenakan kami didukung oleh karyawan yang professional
                            di bidangnya serta SAI memiliki jaringan yang luas di seluruh Indonesia &amp; internasional
                            dan memiliki kerjasama yang erat &amp; kompak dengan berbagai mitra &amp; partner bisnis.
                        </p>

                        <p>Kami selalu berkomitmen untuk menjadi yang terbaik dan terdepan dalam memberikan layanan
                            untuk para pelanggan berharga kami. Target kami ingin di kenal sebagai layanan Freight
                            Forwarder yang dapat menjadi besar dan di percaya oleh para pelanggan kami.</p>
                        <p><strong>Berbagai macam layanan SAI, Diantaranya:</strong></p>
                        <ul>
                            <li>
                                <p><strong>SEA FREIGHT</strong></p>
                            </li>

                            <li>
                                <p><strong>AIR FREIGHT SERVICE</strong></p>
                            </li>

                            <li>
                                <p><strong>TRUCKING</strong></p>
                            </li>

                            <li>
                                <p><strong>CAR DELIVERY</strong></p>
                            </li>

                            <li>
                                <p><strong>PROJECT CARGO</strong></p>
                            </li>

                            <li>
                                <p><strong>PENGURUSAN PPJK</strong></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{> footer}}

    {{> js}}

</body>

</html>