<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{> header/header}}
    <main role="main" class="main">
        <div class="headline">
            <div class="headlineItem">
                <picture>
                    <source srcset="./asset/images/teaser.jpg" media="(min-width: 780px)" alt="">
                    <img srcset="./asset/images/teaser-xs.jpg" alt="" class="headlineImg" width="1920"
                        height="329">
                </picture>
            </div>
        </div>
        <div class="page container mt2">
            {{>breadcrumb page="freight"}}
            <h1 class="titleCaption text-center mt2">Freight Forwarding</h1>
            <div class="static">
                <p>SAI dengan beragam pelayanannya memberikan solusi layanan pengiriman terpadu via udara, darat, dan
                    laut kepada pelanggan kami. Kami mempekerjakan tenaga kerja yang professional dibidangnya masing -
                    masing yang menjaga etos kerja yang didedikasikan untuk memenuhi kebutuhan Klien kami.</p>

                <p>SAI adalah perusahaan jasa pengiriman yang berpikiran maju yang selalu berusaha untuk memberikan
                    layanan yang lebih baik bagi pelanggan kami.. Tujuan kami adalah untuk dikenal sebagai perusahaan
                    jasa pengiriman barang yang memiliki layanan yang baik dan menjadi besar dan dapat dipercaya bagi
                    pelanggan kami.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam mi urna, at suscipit odio
                    pulvinar vel. Sed dapibus rutrum mattis. Suspendisse ac erat id eros consectetur consectetur quis
                    sed ipsum. Mauris vestibulum, massa vitae rutrum faucibus, leo justo faucibus tellus, ut aliquet
                    lacus nibh ut augue. Proin et odio egestas, ullamcorper eros at, faucibus arcu. Sed viverra nisi sed
                    dui suscipit lobortis. Maecenas ultrices, dui et gravida hendrerit, diam enim interdum ante, sed
                    auctor velit magna eu turpis. Curabitur enim massa, malesuada sit amet elit nec, aliquam tincidunt
                    quam. Aliquam erat volutpat. Mauris sed lacinia lectus, in lobortis nulla. Morbi commodo libero
                    quam, id elementum enim porttitor sit amet. Curabitur faucibus condimentum dolor at tristique.
                    Pellentesque eu tortor vitae justo vulputate vulputate ac a tellus. Duis sagittis turpis vel sem
                    molestie auctor. Proin rutrum nibh ac metus venenatis vestibulum. Pellentesque molestie dui in odio
                    cursus, sit amet accumsan nisl elementum.</p>

                <p>Vestibulum vitae commodo risus. Mauris finibus metus eget blandit tincidunt. Maecenas vestibulum,
                    mauris sit amet dictum auctor, dui mauris dignissim velit, ut fermentum velit ligula eget purus.
                    Praesent condimentum, diam ut tempor maximus, est ligula lacinia ligula, ac viverra mauris tortor ac
                    nunc. Suspendisse id metus ut magna dapibus gravida. Nunc aliquam nulla in varius aliquet. Vivamus
                    placerat velit in pellentesque porttitor. Nullam ullamcorper non dui nec rhoncus. Maecenas non velit
                    auctor, mattis eros sed, varius lectus. Nunc vehicula tortor vel massa placerat, eget varius nibh
                    aliquam. Nam sapien nibh, luctus non lorem mollis, consectetur pretium erat. Nulla vehicula erat id
                    sapien pellentesque semper. Maecenas luctus et diam eget facilisis. Praesent pretium dui est, a
                    suscipit dui pulvinar vel. Integer pretium sem eu felis sagittis pellentesque.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam mi urna, at suscipit odio
                    pulvinar vel. Sed dapibus rutrum mattis. Suspendisse ac erat id eros consectetur consectetur quis
                    sed ipsum. Mauris vestibulum, massa vitae rutrum faucibus, leo justo faucibus tellus, ut aliquet
                    lacus nibh ut augue. Proin et odio egestas, ullamcorper eros at, faucibus arcu. Sed viverra nisi sed
                    dui suscipit lobortis. Maecenas ultrices, dui et gravida hendrerit, diam enim interdum ante, sed
                    auctor velit magna eu turpis. Curabitur enim massa, malesuada sit amet elit nec, aliquam tincidunt
                    quam. Aliquam erat volutpat. Mauris sed lacinia lectus, in lobortis nulla. Morbi commodo libero
                    quam, id elementum enim porttitor sit amet. Curabitur faucibus condimentum dolor at tristique.
                    Pellentesque eu tortor vitae justo vulputate vulputate ac a tellus. Duis sagittis turpis vel sem
                    molestie auctor. Proin rutrum nibh ac metus venenatis vestibulum. Pellentesque molestie dui in odio
                    cursus, sit amet accumsan nisl elementum.</p>

                <p>Vestibulum vitae commodo risus. Mauris finibus metus eget blandit tincidunt. Maecenas vestibulum,
                    mauris sit amet dictum auctor, dui mauris dignissim velit, ut fermentum velit ligula eget purus.
                    Praesent condimentum, diam ut tempor maximus, est ligula lacinia ligula, ac viverra mauris tortor ac
                    nunc. Suspendisse id metus ut magna dapibus gravida. Nunc aliquam nulla in varius aliquet. Vivamus
                    placerat velit in pellentesque porttitor. Nullam ullamcorper non dui nec rhoncus. Maecenas non velit
                    auctor, mattis eros sed, varius lectus. Nunc vehicula tortor vel massa placerat, eget varius nibh
                    aliquam. Nam sapien nibh, luctus non lorem mollis, consectetur pretium erat. Nulla vehicula erat id
                    sapien pellentesque semper. Maecenas luctus et diam eget facilisis. Praesent pretium dui est, a
                    suscipit dui pulvinar vel. Integer pretium sem eu felis sagittis pellentesque.
                </p>
            </div>
        </div>
    </main>
    {{> footer}}

    {{> js}}

</body>

</html>