<!DOCTYPE html>
<html lang="en">

{{> head dropdown=true}}

<body>
    {{> header/header}}
    <main role="main" class="main">
        <div class="headline">
            <div class="headlineItem">
                <picture>
                    <source srcset="./asset/images/teaser.jpg" media="(min-width: 780px)" alt="">
                    <img srcset="./asset/images/teaser-xs.jpg" alt="" class="headlineImg" width="1920" height="329">
                </picture>
            </div>
        </div>
        <div class="simulationSection container">
            <div class="simulation simulationIdx">
                <div class="simulationItem col-lg-12">
                    {{>simulation/gerai title="Lokasi Gerai"}}
                </div>
            </div>
        </div>
        <div class="section resi container">
            {{>breadcrumb page="gerai"}}
            <div class="simulationHead resiHead display-flex">
                <h2 class="titleCaption">Lokasi Gerai</h2>
            </div>
            <div class="gerai">
                <div class="geraiItem row">
                    <div class="geraiImg col-12 col-md-3 col-lg-3">
                        <img src="./asset/images/article/art-1.jpg" alt="" width="320" height="143">
                    </div>
                    <div class="geraiName col-12 col-md-5 col-lg-3">
                        Agen SAI Trans Cengkareng
                    </div>
                    <div class="geraiAddress col-12 col-md-4 col-lg-6">
                        The City Residence, Rukan Hawaiian, Blok A No. 87 Jl. Kamal Raya RT. 007 RW. 014 Cengkareng
                        Timur, Jakarta Barat
                    </div>
                </div>
                <div class="geraiItem row">
                    <div class="geraiImg col-12 col-md-3 col-lg-3">
                        <img src="./asset/images/article/art-1.jpg" alt="" width="320" height="143">
                    </div>
                    <div class="geraiName col-12 col-md-5 col-lg-3">
                        Agen SAI Trans Cengkareng
                    </div>
                    <div class="geraiAddress col-12 col-md-4 col-lg-6">
                        The City Residence, Rukan Hawaiian, Blok A No. 87 Jl. Kamal Raya RT. 007 RW. 014 Cengkareng
                        Timur, Jakarta Barat
                    </div>
                </div>
                <div class="geraiItem row">
                    <div class="geraiImg col-12 col-md-3 col-lg-3">
                        <img src="./asset/images/article/art-1.jpg" alt="" width="320" height="143">
                    </div>
                    <div class="geraiName col-12 col-md-5 col-lg-3">
                        Agen SAI Trans Cengkareng
                    </div>
                    <div class="geraiAddress col-12 col-md-4 col-lg-6">
                        The City Residence, Rukan Hawaiian, Blok A No. 87 Jl. Kamal Raya RT. 007 RW. 014 Cengkareng
                        Timur, Jakarta Barat
                    </div>
                </div>
            </div>
            {{>paging}}
        </div>
        <div class="stepSection section bg-yellow">
            <div class="container">
                <h2 class="titleCaption">Proses Pengiriman</h2>
                <p>Sebelum melakukan pengiriman, hitunglah terlebih dahulu dengan form simulasi ini. Harga sewaktu-waktu
                    bisa berubah tanpa pemberitahuan. Tersedia proses offline maupun online untuk melakukan proses
                    ekspedisi,</p>
                <div class="stepTitle__wrap">
                    <h3 class="stepTitle">Offline</h3>
                </div>
                <ul class="stepList display-flex">
                    {{>step-off}}
                </ul>
                <div class="stepTitle__wrap">
                    <h3 class="stepTitle">Online</h3>
                </div>
                <ul class="stepList display-flex">
                    {{>step-on}}
                </ul>
            </div>
        </div>
        <div class="mitra section container text-center">
            <h2 class="titleCaption">Mitra</h2>
            <p>SAI Trans bekerja sama dengan banyak partner penyedia jasa logistik yang terpercaya dan terbukti aman
                sebagai pilihan pengiriman paket anda. Pilih Sesuai dengan kebutuhan anda.</p>
            {{>mitra-slider}}
        </div>
    </main>
    {{> footer}}

    {{> js validate=true}}
    <script defer type="text/javascript" src="./asset/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#gerai').select2({
                //placeholder: "Pilih Gerai",
                selectionCssClass: "formSelect",
                dropdownCssClass: "formDropdown",
                //allowClear: true
            });

            $('#formgerai').validate({
                ignore: [],
                rules: {
                    gerai: {
                        required: true,
                    },
                },
                errorPlacement: function (error, element) {
                    if (element.attr("name") == "gerai") {
                        error.appendTo("#msgBox8");
                    } else {
                        error.insertAfter(element)
                    }
                }
            })
        });
    </script>

</body>

</html>