<!DOCTYPE html>
<html lang="en">

{{> head page="home"}}

<body>
    {{!> header/header login=true}}
    {{> header/header}}
    <main role="main">
        <div class="headline">
            {{>headline}}
        </div>
        <div class="section container">
            <div class="about">
                <div class="aboutContent">
                    <img src="./asset/images/ship.png" class="aboutImg" alt="" width="400" height="445" style="
        shape-outside: url(./asset/images/ship.png);" loading="lazy">
                    <h1 class="titleCaption">Tentang SAI Trans</h1>
                    <p>
                        SAI Trans adalah layanan logistic cepat, aman dan murah untuk memenuhi kebutuhan ekspor & impor
                        paket
                        domestik maupun internasional.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum sit amet neque ac
                        ullamcorper.
                        Fusce dapibus varius massa at elementum. Donec porttitor quam at fermentum cursus. Integer in
                        nunc
                        tempus, pellentesque est quis, rhoncus nunc. Nullam dapibus feugiat neque nec malesuada. Duis ac
                        vehicula sapien. Nullam quis pharetra libero, ut aliquet augue. Fusce auctor euismod facilisis.
                        Vestibulum eu velit nec tortor viverra aliquet at placerat augue. Nam vel massa urna. Maecenas
                        ornare
                        libero eget urna suscipit, id sodales dui tristique. Sed rutrum luctus dictum. Pellentesque
                        vitae
                        vehicula lectus, eget commodo magna. Morbi pulvinar pulvinar tellus, vitae tincidunt sapien
                        vehicula
                        id.
                        Sed in pellentesque nibh. Nulla malesuada erat et dignissim ultricies.
                    </p>
                </div>
            </div>
        </div>
        <div class="productSection section bg-gray">
            <div class="container">
                <div class="row align-center">
                    <div class="productCaption col-12 col-lg-3">
                        <h2 class="titleCaption">Produk Kami</h2>
                        <p>Pilih jasa pengiriman cepat yang sesuai dengan keperluan anda dan percayakan semua pengiriman
                            logistik anda kepada SAI Trans Indonesia.</p>
                    </div>
                    <div class="col-12 col-lg-9">
                        <div class="productRow row justify-center">
                            <div class="productCol col-12 col-md-6 col-lg-4">
                                <div class="productItem">
                                    <div class="text-center">
                                        <img src="./asset/images/product-kurir.png" loading="lazy" width="87"
                                            height="84" alt="">
                                        <h3 class="titleCaption titleCaption--small mt2">Jasa Kurir</h3>
                                    </div>
                                    <p>
                                        Domestik | Internasional <br>
                                        Lorem ipsum dolor sitamet consectetur adipi scingelit. Proin bibendum sit amet
                                        neque
                                        ac ullamcorper. Fusce
                                    </p>
                                </div>
                            </div>
                            <div class="productCol col-12 col-md-6 col-lg-4">
                                <div class="productItem">
                                    <div class="text-center">
                                        <img src="./asset/images/product-forwarder.png" loading="lazy" width="89"
                                            height="84" alt="">
                                        <h3 class="titleCaption titleCaption--small mt2">Freight Forwarder</h3>
                                    </div>
                                    <p>
                                        Inland | Sea Freight | PPJK |
                                        Air Freight | Project Kargo <br>
                                        Lorem ipsum dolor sitamet consectetur adipi scingelit. Proin bibendum sit amet
                                        neque
                                        ac ullamcorper. Fusce
                                    </p>
                                </div>
                            </div>
                            <div class="productCol col-12 col-md-6 col-lg-4">
                                <div class="productItem">
                                    <div class="text-center">
                                        <img src="./asset/images/product-pindah.png" loading="lazy" width="100"
                                            height="85" alt="">
                                        <h3 class="titleCaption titleCaption--small mt2">Jasa Pindah</h3>
                                    </div>
                                    <p>
                                        Dalam Pulau | Antar Pulau<br>
                                        Lorem ipsum dolor sitamet consectetur adipi scingelit. Proin bibendum sit amet
                                        neque
                                        ac ullamcorper. Fusce
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section container">
            <h2 class="titleCaption text-center">Mengapa Kami?</h2>
            <div class="row justify-center">
                <div class="whyItem col-12 col-md-6 col-lg-4 text-center">
                    <div class="whyItem__wrap display-flex">
                        <div class="whyContent">
                            <h3 class="titleCaption titleCaption--small">Cepat & Tepat Waktu</h3>
                            <p>Kami selalu berkomitmen untuk mengantarkan barang anda dengan cepat & tepat waktu sesuai
                                dengan
                                layanan yang anda pilih.</p>
                        </div>
                        <div class="whyBg">
                            <img src="./asset/images/why-1-bg.png" alt="" width="" height="" loading="lazy"
                                class="whyBlob">
                            <img src="./asset/images/why-1-img.png" alt="" width="" height="" loading="lazy"
                                class="whyImg">
                        </div>
                    </div>
                </div>
                <div class="whyItem col-12 col-md-6 col-lg-4 text-center">
                    <div class="whyItem__wrap display-flex">
                        <div class="whyContent">
                            <h3 class="titleCaption titleCaption--small">Aman Sampai Tujuan</h3>
                            <p>Menjaga barang anda sampai dengan aman hingga tujuan merupakan prioritas kami.</p>
                        </div>
                        <div class="whyBg">
                            <img src="./asset/images/why-2-bg.png" alt="" width="" height="" loading="lazy"
                                class="whyBlob whyBlob--bottom">
                            <img src="./asset/images/why-2-img.png" alt="" width="" height="" loading="lazy"
                                class="whyImg">
                        </div>
                    </div>
                </div>
                <div class="whyItem col-12 col-md-6 col-lg-4 text-center">
                    <div class="whyItem__wrap display-flex">
                        <div class="whyContent">
                            <h3 class="titleCaption titleCaption--small">Gak Perlu Mahal</h3>
                            <p>Pelayanan maksimal dengan harga terjangkau untuk mendukung para pelaku usaha UMKM.</p>
                        </div>
                        <div class="whyBg">
                            <img src="./asset/images/why-3-bg.png" alt="" width="" height="" loading="lazy"
                                class="whyBlob">
                            <img src="./asset/images/why-3-img.png" alt="" width="" height="" loading="lazy"
                                class="whyImg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stepSection section bg-yellow">
            <div class="container">
                <h2 class="titleCaption">Proses Pengiriman</h2>
                <p>Sebelum melakukan pengiriman, hitunglah terlebih dahulu dengan form simulasi ini. Harga sewaktu-waktu
                    bisa berubah tanpa pemberitahuan. Tersedia proses offline maupun online untuk melakukan proses
                    ekspedisi,</p>
                <div class="stepTitle__wrap">
                    <h3 class="stepTitle">Offline</h3>
                </div>
                <ul class="stepList display-flex">
                    {{>step-off}}
                </ul>
                <div class="stepTitle__wrap">
                    <h3 class="stepTitle">Online</h3>
                </div>
                <ul class="stepList display-flex">
                    {{>step-on}}
                </ul>
            </div>
        </div>
        <div class="mitra section container text-center">
            <h2 class="titleCaption">Mitra</h2>
            <p>SAI Trans bekerja sama dengan banyak partner penyedia jasa logistik yang terpercaya dan terbukti aman
                sebagai pilihan pengiriman paket anda. Pilih Sesuai dengan kebutuhan anda.</p>
            {{>mitra-slider}}
        </div>
        <div class="artSection section bg-yellow">
            <div class="container">
                <h2 class="titleCaption text-center">Artikel</h2>
                {{>article-slider}}
            </div>
        </div>
        <div class="media section container">
            <h2 class="titleCaption text-center">Media</h2>
            <div class="mediaList row">
                {{>media-list}}
            </div>
            <div class="center-flex">
                <a href="#" class="button buttonPrimary">Lihat Semua Berita</a>
            </div>
        </div>

    </main>
    {{> footer}}

    {{> js page="home"}}

</body>

</html>