<!DOCTYPE html>
<html lang="en">

{{> head page="usaha"}}

<body>
    {{> header/header}}
    <main role="main" class="main">
        <div class="headline">
            <div class="headlineItem">
                <picture>
                    <source srcset="./asset/images/usahakurir-teaser.png" media="(min-width: 780px)" alt="">
                    <img srcset="./asset/images/usahakurir-teaser-xs.jpg" alt="" class="headlineImg" width="1920"
                        height="329">
                </picture>
            </div>
        </div>
        <div class="usahaSection container">
            <div class="usahaTeaser">
                {{>breadcrumb page="usaha"}}
                <h1 class="titleCaption mt2">Peluang Bisnis yang Menjanjikan: Daftar Agen Ekspedisi!</h1>
                <div class="usahaTeaser__content static">
                    <p>Apakah kamu sedang mencari bisnis yang mampu memberikan komisi puluhan hingga ratusan juta per
                        bulan?
                        <br>Bagaimana caranya memulai bisnis tanpa perlu memetakan perizinan dan sebagainya dari nol?
                        <br>Dimana kamu bisa mendapatkan penghasilan tanpa harus pergi keluar rumah dalam jangka waktu
                        yang
                        lama?
                    </p>
                    <p>Jawabannya
                        adalah ketika perubahan pola konsumsi masyarakat berubah seiring lonjakan kasus Covid-19 di
                        tahun
                        2020,
                        bisnis online menjadi semakin tak terelakan.
                    </p>
                    <p>Hal ini membuat jasa pengiriman menjadi peluang bisnis yang
                        menjanjikan. Laporan dari Exabytes mencatat kenaikan jumlah orang yang berbisnis online naik
                        hingga
                        38,3% dibandingkan tahun sebelumnya. Dengan ramainya bisnis online, pengguna membutuhkan jasa
                        kirim
                        terpercaya yang bisa membantu akomodasi barang menjadi lebih mudah. Nyatanya, jasa kirim barang
                        tercatat
                        sebagai salah satu bisnis yang berdampak positif dengan maraknya transformasi usaha online.
                        <br>Namun,
                        apakah membuka usaha kurir bisa dikerjakan hanya melalui smartphone dari rumah?</br>
                    </p>
                    <p>Perlu diketahui,
                        memulai
                        bisnis kurir bisa dilakukan darimana saja! Usahakurir.co.id dapat menjangkau berbagai jenis
                        ekspedisi
                        pengiriman hanya dalam satu tempat. Usahakurir.co.id hadir dengan memberikan layanan kirim
                        barang
                        domestik maupun internasional.
                    </p>
                    <p>Adapun manfaat yang didapatkan apabila bergabung dengan usaha kurir:</p>
                </div>
            </div>
            <div class="row">
                <div class="usahaItem col-12">
                    <div class="usahaItem__wrap display-flex">
                        <div class="usahaNum usahaNum--1">01</div>
                        <img src="./asset/images/usahakurir-img-1.png" alt="" width="365" height="310"
                            class="usahaItem__img usahaItem__img--1" loading="lazy">
                        <div class="usahaItem__content static">
                            <h2 class="titleCaption titleCaption--small mt2">Menjangkau Seluruh Mitra Jasa Ekspedisi
                            </h2>
                            <p>
                                Usahakurir.co.id telah bekerjasama dengan berbagai mitra jasa ekspedisi baik pengiriman
                                domestik
                                ataupun internasional. Melalui usaha mitra-mitra ini, para agen dapat mengakses berbagai
                                banyak
                                pilihan kurir yang diinginkan hanya dalam satu platform aplikasi. Kami bekerja sama
                                dengan
                                berbagai mitra pelayanan usaha kurir mulai dari JNE, Sicepat, SAP Express Courier, Lion
                                Parcel,
                                Anteraja, JExpress, Aramex, Janio, City-Link Express, SF Express, dan lain-lain.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="usahaItem">
                    <img src="./asset/images/usahakurir-img-2.png" alt="" width="681" height="367"
                        class="usahaItem__img usahaItem__img--2" loading="lazy">
                    <div class="col-10 col-lg-5">
                        <div class="usahaItem__wrap">
                            <div class="usahaNum usahaNum--2">02</div>
                            <div class="usahaItem__content static">
                                <h2 class="titleCaption titleCaption--small mt2">Bisnis Keagenan</h2>
                                <p>Usahakurir.co.id berfokus pada bisnis keagenan untuk mengembangkan berbagai
                                    cabang-cabang
                                    outlet di seluruh wilayah Indonesia.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="usahaItem display-flex">
                    <img src="./asset/images/usahakurir-img-3.png" alt="" width="281" height="323"
                        class="usahaItem__img usahaItem__img--3" loading="lazy">
                    <div class="col-10 col-md-8 offset-2 offset-md-4">
                        <div class="usahaItem__wrap usahaItem__wrap--3">
                            <div class="usahaItem__content static">
                                <h2 class="titleCaption titleCaption--small mt2">Harga Pengiriman Terjangkau</h2>
                                <p>Customer dapat membandingkan harga dan service dari mitra-mitra usaha kurir, sehingga
                                    mendapatkan harga yang sesuai dengan service layanan yang dikehendaki. Harga yang
                                    ditawarkan oleh usahakurir.co.id bersaing dengan kualitas pelayanan premium.
                                </p>
                            </div>
                            <div class="usahaNum usahaNum--3">03</div>
                        </div>
                    </div>
                </div>
                <div class="usahaItem">
                    <div class="col-10 offset-lg-2">
                        <div class="usahaNum usahaNum--4">04</div>
                        <div class="usahaItem__wrap usahaItem__wrap--4">
                            <div class="usahaItem__content static">
                                <h2 class="titleCaption titleCaption--small text-center mt2">Modal Daftar Keagenan
                                    Terjangkau</h2>
                                <p>Usahakurir.co.id berfokus pada bisnis keagenan untuk mengembangkan berbagai
                                    cabang-cabang
                                    outlet di seluruh waKami memberikan biaya keagenan dengan harga 2,5 juta. Biaya
                                    sudah
                                    termasuk desain spanduk, aplikasi web, dan potongan harga wilayah Indonesia.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="usahaItem col-12">
                    <div class="usahaItem__wrap display-flex">
                        <div class="usahaNum usahaNum--5">05</div>
                        <div class="usahaItem__content static">
                            <h2 class="titleCaption titleCaption--small text-center mt2">Potongan Harga Pengiriman</h2>
                            <p>
                                Untuk para agen usahakurir.co.id, kami memberikan kemudahan serta fasilitas yang memadai
                                untuk mencapai omzet puluhan hingga ratusan juta. Berikut kami berikan contoh gambaran
                                untuk
                                satu pengiriman realistis dari transaksi yang terjadi:
                            </p>
                            <p><strong>
                                    <big>
                                        Contoh: Pengiriman ke amerika 28 kg harganya Rp 250,000/kg
                                    </big>
                                    <br>
                                    <big>
                                        Total penjualan Rp 7,000,000, sedangkan untung bersih minimal Rp
                                        1,050,000 bisa dapatkan dalam satu kali transaksi para agen!
                                    </big>
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="usahaItem usahaItem--6 display-flex">
                    <img src="./asset/images/usahakurir-img-4.png" alt="" width="374" height="596"
                        class="usahaItem__img usahaItem__img--6" loading="lazy">
                    <div class="col-11 col-lg-8 offset-1 offset-lg-4">
                        <div class="usahaItem__wrap usahaItem__wrap--6">
                            <div class="usahaItem__content static">
                                <h2 class="titleCaption titleCaption--small text-center mt2">Telah Berizin Resmi</h2>
                                <p>Usahakurir.co.id adalah merk dagang dari PT SAI Trans Indonesia yang telah memiliki
                                    surat izin resmi dan telah bergabung dalam ASPERINDO sehingga dapat dipercaya
                                    kredibilitasnya. Usahakurir.co.id juga telah mencantumkan logo asosiasi ASPERINDO
                                    pada website sehingga para agen dan customernya dapat nyaman menggunakan tanpa harus
                                    khawatir dengan legalitas izin usaha.
                                </p>
                            </div>
                            <div class="usahaNum usahaNum--6">06</div>
                        </div>
                    </div>
                </div>
                <div class="usahaItem">
                    <div class="col-10 col-lg-8">
                        <div class="usahaItem__wrap usahaItem__wrap--7">
                            <div class="usahaItem__content static">
                                <h2 class="titleCaption titleCaption--small text-center mt2">Memiliki Fitur Asuransi
                                    Barang</h2>
                                <p>Bagi kamu yang khawatir barang hilang atau rusak saat pengiriman, melalui jasa
                                    usahakurir.co.id telah menjamin barang yang hilang dengan memilih opsi fitur
                                    asuransi barang yang terdapat di website.</p>
                            </div>
                        </div>
                        <div class="usahaNum usahaNum--7">07</div>
                    </div>
                </div>
                <div class="usahaItem">
                    <div class="col-10 offset-2 col-lg-8 offset-lg-3">
                        <div class="usahaItem__wrap usahaItem__wrap--8">
                            <div class="usahaItem__content static">
                                <h2 class="titleCaption titleCaption--small text-center mt2">Kemudahan Transaksi</h2>
                                <p>Usahakurir.co.id memberikan kemudahan transaksi dengan potongan untuk berbagai
                                    pengiriman baik domestik ataupun internasional. Selain itu, para agen juga dapat
                                    menikmati fitur-fitur yang memudahkan pengiriman mulai dari penjemputan barang
                                    hingga klaim asuransi.</p>
                            </div>
                            <div class="usahaNum usahaNum--8">08</div>
                        </div>
                    </div>
                </div>
                <div class="usahaItem">
                    <div class="col-11 col-8">
                        <div class="usahaNum usahaNum--9">09</div>
                        <div class="usahaItem__wrap usahaItem__wrap--9">
                            <div class="usahaItem__content static">
                                <h2 class="titleCaption titleCaption--small text-center mt2">Menjangkau Seluruh Wilayah
                                </h2>
                                <p>Untuk kamu yang tinggal di luar pulau Jawa, usahakurir.co.id telah menjangkau
                                    berbagai wilayah pengiriman domestik mulai dari Jawa, Bali, Sumatera atau ke seluruh
                                    Indonesia. Selain itu, kami juga menjangkau pengiriman internasional mulai dari
                                    Malaysia, Singapura, Taiwan dan negara lainnya.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="usahaItem col-12">
                    <div class="usahaItem__wrap usahaItem__wrap--10 display-flex">
                        <div class="usahaNum usahaNum--10">10</div>
                        <img src="./asset/images/usahakurir-img-5.png" alt="" width="439" height="359"
                            class="usahaItem__img usahaItem__img--10" loading="lazy">
                        <div class="usahaItem__content static">
                            <h2 class="titleCaption titleCaption--small mt2">Fitur-Fitur Pengiriman yang Canggih
                            </h2>
                            <p>
                                Website kami telah dilengkapi dengan berbagai fitur-fitur yang memudahkan para agen saat
                                bergabung seperti Fitur tracking pengiriman, fitur pengecekan harga pengiriman. Semua
                                fitur-fitur ini sudah terdapat di website dan dapat diakses dengan mudah oleh para agen.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="usahaItem col-12">
                    <div class="usahaItem__wrap usahaItem__wrap--11 display-flex">
                        <div class="usahaNum usahaNum--11">11</div>
                        <div class="usahaItem__content static">
                            <h2 class="titleCaption titleCaption--small mt2">Persyaratan Bergabung yang Mudah
                            </h2>
                            <p>
                                Usahakurir.co.id tidak hanya diperuntukan bagi perusahaan tapi juga diperuntukan untuk
                                perorangan. Bergabung sekarang dan dapatkan berbagai keuntungan melalui
                                usahakurir.co.id! Untuk kamu yang ingin bergabung dengan agen ekspedisi usahakurir.co.id
                                dapat mengunjungi website resmi dan menghubungi CS kami melalui WhatsApp di <a
                                    href="https://wa.me/6281229390111" target="_blank"
                                    rel="noopener noreferrer">081229390111</a>
                            </p>
                            <p>Persyaratannya cukup mudah dan dapat diperuntukan untuk perorangan atau instansi. Jika
                                kamu ingin bergabung, cukup melampirkan surat domisili dan surat lokasi perizinan usaha
                                agar memudahkan kami melakukan pengecekan.
                            </p>
                            <a href="#" class="button buttonPrimary" target="_blank" rel="noopener noreferrer">Gabung
                                Sekarang</a>
                        </div>
                        <img src="./asset/images/usahakurir-img-6.png" alt="" width="289" height="534"
                            class="usahaItem__img usahaItem__img--11" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{> footer}}

    {{> js}}

</body>

</html>