.faq {
    justify-content: flex-end;

    &Wrap {
        position: fixed;
        bottom: 10px;
        right: 20px;
        z-index: 1;

        &:hover {
            .faqTxt {
                display: block;
            }
        }
    }

    &Txt {
        display: none;
        position: absolute;
        top: -66px;
        right: -10px;
        width: 110px;
        padding: 11px 7px;
        border-radius: 10px;
        background: $cl-white;
        @include font-pack(false, false, false, false, $cl-tertiery-grey);
        box-shadow: 0px 7px 17px rgba(32, 73, 38, 0.15);

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 44px;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-top-color: #fdf8ef;
            border-bottom: 0;
            margin-left: -10px;
            margin-bottom: -10px;
        }
    }

    &Box {
        border: 1px solid #DFDFDF;
        border-radius: 5px;

        &__title {
            font-feature-settings: 'pnum' on, 'lnum' on;
            @include font-pack(false, false, 600, false, $cl-primary);
            flex: 1;
        }

        &.open {
            .faqContent {
                display: block;
                transform: scaleY(1);
                transform-origin: top;
                transition: transform .4s ease;
            }
        }

        &.close {
            .faqContent {
                height: 0;
                transition: height 1s ease-out;
                transform: scaleY(0);
                float: left;
                display: block;
            }

            .faqShow {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-circle-plus-icon lucide-circle-plus'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M8 12h8'/%3E%3Cpath d='M12 8v8'/%3E%3C/svg%3E");
            }
        }

        ul {
            list-style-type: disc;
            padding-left: 15px;
        }

        ol {
            list-style-type: decimal;
            padding-left: 15px;
        }
    }

    &Trig {
        padding: 20px;
        cursor: pointer;
    }

    &Content {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
    }

    &Show {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-circle-minus-icon lucide-circle-minus'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M8 12h8'/%3E%3C/svg%3E");
        width: 24px;
        height: 24px;
        padding: 0;
        margin-left: 10px;
    }
}