.profile {
    
    &Section {
        scroll-margin-top: 72px;
    }

    &Name {
        @include font-pack(false, 20px, 600, false, false);
    }

    &Nav {
        &__link {
            padding: 2px 20px;
            text-transform: uppercase;
            @include font-pack(false, 16px, 600, false, #787878);
            position: relative;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;

                &::after {
                    content: none;
                }
            }

            &.active,
            &:hover {
                color: $cl_black;
            }

            &::after {
                content: '';
                border-right: 1px solid #787878;
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                width: 1px;
                height: 100%;
            }
        }

        &__list {
            margin-top: 60px;
        }

        &__item {
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }

    &Img{
        max-width: 320px;
    }

    &Social {
        background: $cl-black;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        
        &__link {
            width: 100%;
            height: 100%;
        }

        .icon {
            width: 25px;
            height: 25px;
            background-position: center;
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(59deg) brightness(109%) contrast(111%);
        }
    }

    &Contact {
        .icon {
            width: 25px;
            height: 25px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            filter: brightness(0) saturate(100%);
        }
    }
}