.read {
    word-wrap: break-word;
    word-break: break-word;

    &Title {
        @include font-pack(false, 30px, 700, false, $cl_black);

        &__sub {
            text-transform: uppercase;
            @include font-pack(false, 13px, 700, false, false);
        }
    }

    &Writer {
        @include font-pack(false, 13px, 400, 22px, #5F5F5F);

        &__box {
            padding: 20px 30px;
            border: 1px solid #FA7DCE;
            border-radius: 15px;
        }

        &__desc {
            @include font-pack(false, 14px, 500, 25px, #5F5F5F);
        }

        &--big {
            @include font-pack($font_read, 18px, 600, 30px, $cl_tertiery_grey);
        }

        &__avatar {
            aspect-ratio: 1/1;
            width: 125px;
            height: 125px;
            border-radius: 100%;
            margin-right: 20px;
        }

        &__more {
            display: inline-block;
            background: $cl_black;
            text-transform: uppercase;
            border-radius: 15px;
            padding: 6px 22px;
            @include font-pack(false, 12px, 400, 22px, $cl_white);

            &:hover {
                color: $cl_white;
            }
        }

        &__social {
            @include font-pack(false, 12px, 500, 25px, #989898);

            .icon {
                width: 18px;
                height: 18px;
                filter: invert(67%) sepia(2%) saturate(20%) hue-rotate(323deg) brightness(91%) contrast(87%);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }

        &__link {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &Cta {
        gap: 10px;
        @include font-pack(false, 13px, 400, 1.5, false);

        .button {
            color: #717171
        }

        .icon {
            vertical-align: bottom;
            margin-right: 4px
        }
    }

    &Img {

        &__thumb {
            @include font-pack($font_read, 13px, 400, 22px, #707070);
        }

        &__expand {
            position: relative;
        }

        &__wrap {
            margin-top: 20px;
            margin-bottom: 20px;

            a {
                display: block;
                margin: auto;
                text-align: center;
                background-color: $cl_primary;
            }

            video,
            iframe {
                max-width: 100%;
                object-fit: cover;
            }

            .videoPlay {
                position: relative;

                .icon-play {
                    pointer-events: none;
                }
            }
        }

    }

    &Content {
        @include font-pack($font_read, 18px, 500, 1.6, $cl_black);

        p {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        h1,
        h2,
        h3,
        h4 {
            color: $cl_primary;
        }

        h1 {
            font-size: 2em;
            margin-top: 0.67em;
            margin-bottom: 0.67em;
            font-weight: bold;
        }

        h2 {
            font-size: 1.6em;
            margin-top: 0.83em;
            margin-bottom: 0.83em;
            font-weight: bold;
        }

        h3 {
            font-size: 1.17em;
            margin-top: 1em;
            margin-bottom: 1em;
            font-weight: bold;
        }

        h4,
        pre {
            font-size: 1em;
            margin-top: 1.33em;
            margin-bottom: 1.33em;
        }

        blockquote {
            margin-top: 50px;
            margin-bottom: 30px;
            margin-left: 60px;
            @include font-pack(false, 24px, 500, 40px, #5F5F5F);

            &:before {
                position: absolute;
                content: open-quote;
                margin-left: -60px;
                margin-top: 20px;
                @include font-pack(false, 120px, 400, 30px, $cl_black);
                color: $cl_black;
            }
        }

        ul,
        ol {
            padding-left: 30px;
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }

        a {
            color: $cl_black;
        }
    }

    &Other {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        margin-top: 20px;
        @include font-pack(false, 17px, 700, 30px, $cl_primary);
        font-style: italic;
        border-left: 4px solid $cl_black;

        &__link {
            color: $cl_black;
        }
    }

    &Caption {
        @include font-pack($font_read, 20px, 700, 30px, $cl_primary);

        &--big {
            @extend .sidebarCaption;
        }

        &--mg {
            margin-bottom: -10px;
        }
    }

    &Tag {
        @include font-pack(false, 14px, 400, 30px, #5F5F5F);

        &__link {
            padding: 12px 16px;
            margin-right: 10px;
            margin-top: 10px;
            display: block;
            background: $cl_black;
            border-radius: 100px;
            @include font-pack(false, 14px, 500, 1, $cl_white);

            &:hover {
                color: $cl_white;
            }
        }
    }

    &Slider {
        background: $cl_black;
        padding: 10px 15px 15px;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;

        &__list {
            display: flex;
            flex-wrap: nowrap;
        }

        &-angle {
            position: absolute;
            top: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background: rgba(255, 255, 255, .8);
            transition: opacity .2s ease, visibility .2s ease;

            &.-disabled {
                opacity: 0;
                visibility: hidden;
            }

            &.-left {
                left: 10px;
                transform: rotate(180deg);
            }

            &.-right {
                right: 10px;
            }
        }

        .readTitle__sub,
        .highlightTitle {
            color: $cl_white;
        }

        .highlightLink {
            -webkit-line-clamp: 3;
            font-size: 14px;
            font-weight: 400;
        }
    }
}