.search {
    &Wrap {
        position: relative;
        flex: 1;
        margin-right: 20px;
    }

    &Input {
        width: 100%;
    }

    &Icon {
        position: absolute;
        top: 13px;
        right: 30px;
        z-index: 1;

        &__cal{
            position: absolute;
            top: 12px;
            right: 30px;
            pointer-events: none;
        }
    }

    &Text{
        @include font-pack(false, 14px, 600, false, $cl_primary);
    }
}