.search {
    &Result {
        @include font-pack(false, 14px, 600, false, $cl_grey);

        span {
            color: $cl_primary;
        }
    }

    &Type {
        margin-top: 10px;
        margin-left: -4px;
        margin-right: -4px;
        flex-wrap: wrap;

        &__item {
            display: block;
            margin-top: 10px;

            &:hover {
                color: $cl_white;
            }
        }

        li {
            margin-left: 4px;
            margin-right: 4px;
        }
    }
}