<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

    <!-- preloader -->
    {{> preloader}}
    <!-- preloader -->

    <!-- header -->
    {{> header}}
    <!-- header -->

    <main role="main">

        <div class="bgStatic bgStatic--warn">
            <div class="articleContent text-center">
                For better experience, rotate your screen or switch to bigger screen.
            </div>
        </div>

        <!-- Template Background Color -->
        <div class="bgColor__wrap">
            <div class="bgColor bgColor__white"></div>
            <div class="bgColor bgColor__circle opac0">
                <picture class="">
                    <source srcset="./asset/images/bg-wheel-mob.png" media="(max-width: 768px)" alt="" width="700"
                        height="591">
                    <img srcset="./asset/images/bg-wheel.png" alt="" class="" width="1440" height="1216">
                </picture>
            </div>
            <div class="bgColor bgColor__orange opac0"></div>
        </div>
        <!-- Template Background Color -->

        <!-- Template Image Content -->
        <div class="bgStatic__wrap active">
            <div class="bgStatic">
                <div class="cover heightFull center-flex opac0">
                    <div class="coverContent container text-center">
                        <div class="coverLogo">
                            <picture class="">
                                <source srcset="./asset/images/logo-bni-mob.png" media="(max-width: 768px)"
                                    alt="BNI Logo" width="100" height="29">
                                <img srcset="./asset/images/logo-bni.png" alt="BNI Logo" class="" width="198"
                                    height="58">
                            </picture>
                        </div>
                        <div class="coverIcon">
                            <picture class="">
                                <source srcset="./asset/images/logo-kilas-balik-2022.png" media="(max-width: 768px)"
                                    alt="Kilas Balik 2022" width="106" height="70">
                                <img srcset="./asset/images/logo-kilas-balik-2022.png" alt="BNI Logo" class=""
                                    width="106" height="70">
                            </picture>
                        </div>
                        <h1 class="coverTitle">
                            Siasat BNI
                            Perkuat Bisnis Global <br>
                            yang Berkelanjutan
                        </h1>
                    </div>
                    <div class="coverBg">
                        <div class="coverImg coverGlobe">
                            <picture class="">
                                <source srcset="./asset/images/teaser-globe-mob.png" media="(max-width: 768px)" alt=""
                                    width="400" height="187">
                                <img srcset="./asset/images/teaser-globe.png" alt="" class="" width="1153" height="539">
                            </picture>
                        </div>
                        <div class="coverImg coverWheel coverWheel--left">
                            <picture class="">
                                <source srcset="./asset/images/bg-wheel-mob.png" media="(max-width: 768px)" alt=""
                                    width="700" height="591">
                                <img srcset="./asset/images/bg-wheel.png" alt="" class="" width="1153" height="539">
                            </picture>
                        </div>
                        <div class="coverImg coverWheel coverWheel--right">
                            <picture class="">
                                <source srcset="./asset/images/bg-wheel-mob.png" media="(max-width: 768px)" alt=""
                                    width="700" height="591">
                                <img srcset="./asset/images/bg-wheel.png" alt="" class="" width="1153" height="539">
                            </picture>
                        </div>
                        <div class="coverImg coverLock coverLock--left">
                            <picture class="">
                                <source srcset="./asset/images/teaser-bg-shield-mob.png" media="(max-width: 768px)"
                                    alt="" width="40" height="55">
                                <img srcset="./asset/images/teaser-bg-shield.png" alt="" class="" width="89"
                                    height="122">
                            </picture>
                        </div>
                        <div class="coverImg coverLock coverLock--right">
                            <div class="coverLock__img">
                                <picture class="">
                                    <source srcset="./asset/images/teaser-bg-lock-mob.png" media="(max-width: 768px)"
                                        alt="" width="20" height="27">
                                    <img srcset="./asset/images/teaser-bg-lock.png" alt="" class="" width="30"
                                        height="41">
                                </picture>
                            </div>
                            <div class="coverShield">
                                <picture class="">
                                    <source srcset="./asset/images/teaser-bg-shield-mob.png" media="(max-width: 768px)"
                                        alt="" width="40" height="55">
                                    <img srcset="./asset/images/teaser-bg-shield.png" alt="" class="" width="89"
                                        height="122">
                                </picture>
                            </div>
                        </div>
                        <div class="coverImg coverDot coverDot--left">
                            <picture class="">
                                <source srcset="./asset/images/bg-wheel-dots-mob.png" media="(max-width: 768px)" alt=""
                                    width="100" height="41">
                                <img srcset="./asset/images/bg-wheel-dots.png" alt="" class="" width="145" height="60">
                            </picture>
                        </div>
                        <div class="coverImg coverDot coverDot--right">
                            <picture class="">
                                <source srcset="./asset/images/bg-wheel-dots-mob.png" media="(max-width: 768px)" alt=""
                                    width="" height="">
                                <img srcset="./asset/images/bg-wheel-dots.png" alt="" class="" width="145" height="60">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="scroll-guide center-flex opac0">
                    <span class="icon-scroll"></span>
                    scroll
                </div>
            </div>
            <div class="bgStatic">
                <div class="teaser teaser-1 heightFull center-flex">
                    <div class="articleContent teaserContent teaserContent-1 container">
                        <p>PT Bank Negara Indonesia (Persero) Tbk, terus berperan aktif serta responsif sebagai jembatan
                            perdagangan dalam membawa hasil karya anak bangsa ke kancah internasional. Dengan
                            keberhasilan
                            transformasi, BNI secara konsisten mendorong UMKM naik kelas dan mengoptimalkan potensi
                            pasar
                            global.
                        </p>

                        <p>BNI menjadi salah satu lokomotif transformasi bagi BUMN agar dapat diandalkan dan bermanfaat
                            bagi seluruh rakyat Indonesia.</p>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="teaser teaser-2 heightFull center-flex">
                    <div class="articleContent teaserContent teaserContent-2 container">
                        <p>Bersamaan dengan peran yang tengah dijalani, bank ini juga terus mendorong kinerja tiga
                            <i>Product Champion</i> yakni BNI Mobile Banking, BNI Direct, dan BNI Xpora yang memberikan
                            solusi
                            komprehensif transaksi individu, cash management institusi, hingga pemberdayaan UMKM melalui
                            optimalisasi ekosistem jaringan luar negeri.
                        </p>
                        <p>
                            Dengan <i>outlet-outlet</i> luar negeri yang menjangkau seluruh dunia, BNI siap melayani
                            kebutuhan
                            international banking nasabah. BNI juga berkomitmen untuk menerapkan prinsip keberlanjutan
                            dan memperkuat peran sebagai pionir green banking di Tanah Air.</p>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="teaser teaser-3 heightFull center-flex">
                    <div class="articleContent teaserContent teaserContent-3 container">
                        <p>Berikut catatan mengesankan BNI dalam menjalani transformasi bisnis tiga Product Champion
                            sepanjang 2022 :</p>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="menu heightFull center-flex opac0">
                    <div class="menuContent container text-center">
                        <div class="coverLogo">
                            <picture class="">
                                <source srcset="./asset/images/logo-bni-mob.png" media="(max-width: 768px)"
                                    alt="BNI Logo" width="198" height="58">
                                <img srcset="./asset/images/logo-bni.png" alt="BNI Logo" class="" width="198"
                                    height="58">
                            </picture>
                        </div>
                        <div class="menuTxt articleContent">
                            <p>
                                Pilih salah satu poin di bawah ini
                            </p>
                        </div>
                        <ul class="menuList">
                            <li class="menuItem menuItem-1">
                                <a href="#" class="menuLink">
                                    <picture class="">
                                        <source srcset="./asset/images/banking-digital-mob.png"
                                            media="(max-width: 768px)" alt="" width="198" height="58">
                                        <img srcset="./asset/images/banking-digital.png" alt="" class="" width="221"
                                            height="188">
                                    </picture>
                                    <div class="menuButton">Digital banking</div>
                                </a>
                            </li>
                            <li class="menuItem menuItem-2">
                                <a href="#" class="menuLink">
                                    <picture class="">
                                        <source srcset="./asset/images/banking-green-mob.png" media="(max-width: 768px)"
                                            alt="" width="198" height="58">
                                        <img srcset="./asset/images/banking-green.png" alt="" class="" width="221"
                                            height="188">
                                    </picture>
                                    <div class="menuButton">Green banking</div>
                                </a>
                            </li>
                            <li class="menuItem menuItem-3">
                                <a href="#" class="menuLink">
                                    <picture class="">
                                        <source srcset="./asset/images/banking-international-mob.png"
                                            media="(max-width: 768px)" alt="" width="198" height="58">
                                        <img srcset="./asset/images/banking-international.png" alt="" class=""
                                            width="221" height="188">
                                    </picture>
                                    <div class="menuButton">International <br> banking</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Template Image Content -->

        <!-- Fullpage Content -->
        <div id="fullpage" class="fullpage">
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
        </div>
        <!-- Fullpage Content -->

    </main>

    {{!> footer}}

    {{> js}}

</body>

</html>