@use '../base/mixins' as *;
@use '../base/vars' as *;

.art {

    &Txt {
        position: relative;
        margin-top: 20px;
        @include font-pack(false, false, 600, $line-base, false);

        @media only screen and (max-height: 600px) and (orientation: landscape) {
            font-size: 16px;
        }
    }

    &Caption {
        text-transform: uppercase;
        @include font-pack(false, 29px, 600, false, #FCDE58);

        @include min-responsive($w-md) {
            font-size: 64px;
        }

        @media only screen and (max-height: 740px) and (orientation: landscape) {
            font-size: 44px;
        }
    }

    &Title {
        @include font-pack($font_caption, 18px, 400, false, $cl-white);

        @include min-responsive($w-md) {
            font-size: 32px;
        }

        @media only screen and (max-height: 740px) and (orientation: landscape) {
            font-size: 20px;
        }
    }

    &Box {
        position: relative;
        padding: 22px 20px 20px 60px;
        border-radius: 10px;
        background: rgba(255, 255, 255, .72);
        @include font-pack($font_caption, false, false, false, false);

        @include min-responsive($w-md) {
            max-width: 780px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 24px;
            height: calc(100% - 40px);
            background-color: $cl-red;
            border-radius: 5px;
            left: 20px;
            top: 20px;
        }

        span {
            display: contents;
        }
    }
}