@use '../base/mixins' as *;
@use '../base/vars' as *;

.header {
    &Wrap {
        position: fixed;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        pointer-events: all;
        transition: all 0.5s;

        &:hover {
            margin-top: 56px;

            .headerIcon__wrap {
                opacity: 1;
                margin-top: -56px;
            }
        }
    }

    &Icon {
        &__wrap {
            opacity: 0;
            position: absolute;
            background: #000;
            transition: all 0.5s;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 15px;
            padding-left: 15px;
            display: flex;
            justify-content: space-between;
        }
    }

    &Logo {
        &__wrap {
            padding-top: 10px;
            padding-right: 15px;
            padding-left: 15px;

            @include min-responsive($w-md) {
                padding-top: 28px;
                padding-left: 28px;
            }

            img {
                max-width: 240px;

                @include max-responsive($w-xm) {
                    max-width: 200px;
                }

                @include min-responsive($w-xxxl) {
                    max-width: unset;
                }
            }
        }

        &--w{
            display: none;
        }
    }
}