<!DOCTYPE html>
<html lang="en">
{{> head en=true}}

<body>
    <!-- Google Tag Manager -->
    {{> gtm2}}
    <!-- End Google Tag Manager -->

    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- preloader -->
    {{> preloader}}
    <!-- preloader -->

    <!-- main -->

    <!-- Content -->
    <div class="cover">
        <div class="scroll-scene">
            <div class="leaf-container">
                <img src="./../asset/images/cover/leaf.png" alt="Leaf" class="leaf" />
                <img src="./../asset/images/cover/droplet.png" alt="Droplet" class="droplet" />
            </div>

            <div class="background-bottom">

                <div class="ripples">
                    <div class="ripple ripple1"></div>
                    <div class="ripple ripple2"></div>
                    <div class="ripple ripple3"></div>
                </div>

                <a href="{{> url}}section-1.html" class="buttonNext articleCaption">Continue</a>
            </div>

            <img src="./../asset/images/cover/splash.png" alt="Splash" class="splash" />

            <div class="caption">
                <h1 class="coverTitle articleCaption">
                    Entwining Tirta and Emiliana:<br>
                    <span>Building Water and Sanitation for All</span>
                </h1>
                <div class="coverLead">
                    <div class="coverLeadBox">
                        No one should be left behind in thirst and suffering.<br> Water and sanitation are a must for
                        everyone, not just the privileged few.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->

    <!-- main -->

    {{> js page="index" en=true}}

</body>

</html>