<!DOCTYPE html>
<html lang="en">
{{> head page="section-3" en=true}}

<body>
    <!-- Google Tag Manager -->
    {{> gtm2}}
    <!-- End Google Tag Manager -->

    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- preloader -->
    {{!> preloader}}
    <!-- preloader -->

    <!-- main -->

    <!-- Content -->
    <section class="section section3">
        <div class="sectionCover section3Cover">
            <picture class="section3CoverBg">
                <source srcset="./../asset/images/section-3/cover-water.png" media="(min-width: 768px)">
                <source srcset="./../asset/images/section-3/cover-water.png" media="(max-width: 767px)">
                <img src="./../asset/images/section-3/cover-water.png" alt="">
            </picture>
            <div class="section3CoverWrap">
                <h1 class="section3CoverCaption">Real Impacts</h1>
                <picture class="section3CoverImage">
                    <source srcset="./../asset/images/section-3/cover-earth.png" media="(min-width: 768px)">
                    <source srcset="./../asset/images/section-3/cover-earth-m.png" media="(max-width: 767px)">
                    <img src="./../asset/images/section-3/cover-earth.png" alt="">
                </picture>
            </div>
        </div>
        <div class="section3Scroll text-center">
            <div class="section3Dash --top"></div>
            <div class="section3BoxWrap center-flex">
                <div class="section3BoxEmiliana">
                    <img class="section3BoxImg" src="./../asset/images/section-3/sad-emiliana.png" alt=""
                        loading="lazy">
                    <img class="section3BoxImg" src="./../asset/images/section-3/hope-emiliana.png" alt=""
                        loading="lazy">
                </div>
                <div class="section3Box --abs">
                    <div class="section3BoxTxt section3BoxJs">
                        <i>Co-creation and collective effort produce real impacts.</i>
                    </div>
                    <div class="section3BoxTxt section3BoxJs"><i>Funding for water </i>(tirta) <i>and sanitation
                        </i>(pawitra)<i> is
                            growing.</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="section3Graph">
            <div class="graphTitle desktop-hide text-center">Regional Government AMS Budget Trends</div>
            <div class="section3Bg section3Bg1 bg mobile-hide">
                <picture class="">
                    <source srcset="./../asset/images/section-3/bg-fish.png" media="(min-width: 768px)">
                    <source srcset="./../asset/images/section-3/bg-fish.png" media="(max-width: 767px)">
                    <img src="./../asset/images/section-3/bg-fish.png" alt="" loading="lazy">
                </picture>
            </div>
            <div class="container text-center">
                <picture class="graph section3GraphImage">
                    <source srcset="./../asset/images/section-3/graph-1-en.png" media="(min-width: 768px)">
                    <source srcset="./../asset/images/section-3/graph-1-en-m.png" media="(max-width: 767px)">
                    <img src="./../asset/images/section-3/graph-1-en.png" alt="Tren Anggaran AMS Pemerintah Daerah"
                        loading="lazy">
                </picture>
                <div class="section3BoxGrad">Funds mean little without the right policies. Collective effort has finally
                    moved local governments to issue valuable decisions for water.
                </div>
            </div>
            <div class="section3Bg section3Bg2 bg">
                <picture class="">
                    <source srcset="./../asset/images/section-3/bg.png" media="(min-width: 768px)">
                    <source srcset="./../asset/images/section-3/bg-m.png" media="(max-width: 767px)">
                    <img src="./../asset/images/section-3/bg.png" alt="" loading="lazy">
                </picture>
            </div>
        </div>
        <div class="section3Letter">
            <div class="container">
                <div class="section3LetterItem section3BoxGrad center-flex">
                    <img src="./../asset/images/section-3/letter-1.png" alt="" loading="lazy">
                    <div class="section3BoxLetterTxt">
                        <strong>Ende</strong><br>
                        Circular Letter No: BU.440/DPMD.13/416/V/2023 issued by the Head of DPMD on May 9, 2023
                        regarding the Acceleration of Completion of Documents Required for Village Fund Distribution and
                        Priority Use of Village Funds including for the Provision of Water and Sanitation Facilities
                        from the Village Budget.
                    </div>
                </div>
                <div class="section3LetterItem section3BoxGrad center-flex">
                    <div class="section3BoxLetterTxt">
                        <strong>Nagekeo</strong><br>
                        Circular Letter No: 410./S.E/DPMD,PPPA-NGK/139/12/2002 concerning Guidelines for the Preparation
                        of the Village Revenue and Expenditure Budget for the 2023 Fiscal Year was issued by the Regent
                        on December 30, 2022. Where the orientation of village spending in the sub-area of ​​residential
                        areas is directed at the construction and maintenance for drinking water and sanitation
                        facilities.
                    </div>
                    <img src="./../asset/images/section-3/letter-2.png" alt="" loading="lazy">
                </div>
                <div class="section3LetterItem section3BoxGrad center-flex">
                    <img src="./../asset/images/section-3/letter-3.png" alt="" loading="lazy">
                    <div class="section3BoxLetterTxt">
                        <strong>Sintang</strong><br>
                        Circular Letter
                        No: 400.10.2.4/014/DPMD-C
                        Issued by the Head of the Village Community Empowerment Office (DPMD) on June 16, 2023,
                        regarding the Implementation of the 2023 Village Budget (APBDes). In directive 2C, the priority
                        for the use of Village Funds is directed towards supporting the acceleration of the achievement
                        of the Sustainable Development Goals (SDGs) and national priority programs, including, among
                        others, the prevention and reduction of stunting, as well as the provision of clean water and
                        sanitation.
                    </div>
                </div>
                <div class="section3LetterItem section3BoxGrad">
                    <div class="center-flex">
                        <div class="section3BoxLetterTxt">
                            <strong>Melawi</strong><br>
                            The 2022–2026 Sanitation Policy Package, titled Gotong Royong in Enhancing Access to Safe
                            and Sustainable Sanitation Services,“Boh Menyadik Begenah” Wise Waste Management and
                            Sorting,
                            Clean, Fresh, and Beautiful Melawi. This policy was signed by the Regent on July 21, 2022.
                            Regent Regulation (Perbup) No. 80 of 2022 on Community-Based Total Sanitation (STBM) was
                            subsequently signed by the Regent on August 24, 2022, as a follow-up to the directives of
                            the 2022–2026 Sanitation Policy Package. WVI supported the revision of the regulation to
                            include detailed sources of funding that can be utilized to fulfill the STBM requirements
                            and requested the district government to conduct socialization of this regulation in June
                            2023.
                        </div>
                        <img src="./../asset/images/section-3/letter-4.png" alt="" loading="lazy">
                    </div>
                    <div class="sectionSpacing center-flex">
                        <img src="./../asset/images/section-3/letter-5.png" alt="" loading="lazy">
                        <div class="section3BoxLetterTxt">
                            Regent Regulation (Perbup) No. 80 of 2022 on Community-Based Total Sanitation (STBM) was
                            subsequently signed by the Regent on August 24, 2022, as a follow-up to the directives of
                            the 2022–2026 Sanitation Policy Package. WVI supported the revision of the regulation to
                            include detailed sources of funding that can be utilized to fulfill the STBM requirements
                            and requested the district government to conduct socialization of this regulation in June
                            2023.
                        </div>
                    </div>
                </div>
                <div class="section3Bg section3Bg3 bg">
                    <picture class="">
                        <source srcset="./../asset/images/section-3/bg-pari.png" media="(min-width: 768px)">
                        <source srcset="./../asset/images/section-3/bg-pari.png" media="(max-width: 767px)">
                        <img src="./../asset/images/section-3/bg-pari.png" alt="" loading="lazy">
                    </picture>
                </div>
            </div>
        </div>
        <div class="section3Fin">
            <div class="container">
                <div class="section3FinHappy text-center center-flex">
                    <div class="section3FinImg">
                        <picture class="">
                            <source srcset="./../asset/images/section-3/hug.png" media="(min-width: 768px)">
                            <source srcset="./../asset/images/section-3/hug.png" media="(max-width: 767px)">
                            <img src="./../asset/images/section-3/hug.png" alt="" loading="lazy">
                        </picture>
                        <div class="section3FinStars">
                            <div class="section3FinStar"></div>
                            <div class="section3FinStar"></div>
                            <div class="section3FinStar"></div>
                            <div class="section3FinStar"></div>
                        </div>
                    </div>
                    <div class="section3Box container">
                        <div class="section3BoxTxt">
                            At last, Emiliana is overjoyed to meet tirta.</div>
                    </div>
                </div>
            </div>
            <div class="sectionSpacing section3Quote">
                <div class="section3QuoteWrap container">
                    <div class="section3QuoteImg">
                        <picture class="">
                            <source srcset="./../asset/images/section-3/emiliana.png" media="(min-width: 768px)">
                            <source srcset="./../asset/images/section-3/emiliana.png" media="(max-width: 767px)">
                            <img src="./../asset/images/section-3/emiliana.png" alt="" loading="lazy">
                        </picture>
                    </div>
                    <div class="section3QuoteTxt">
                        “I’m happy because now we don’t have to walk far anymore to help our parents fetch water with
                        jerrycans. In the past, after school we had to walk quite a distance, but now we just open the
                        tap beside our house.”
                        -Emiliana</div>
                </div>
            </div>
        </div>
        <div class="section3Change">
            <div class="section3Bg section3Bg4 bg mobile-hide">
                <picture class="">
                    <source srcset="./../asset/images/section-3/bg-fish.png" media="(min-width: 768px)">
                    <source srcset="./../asset/images/section-3/bg-fish.png" media="(max-width: 767px)">
                    <img src="./../asset/images/section-3/bg-fish.png" alt="" loading="lazy">
                </picture>
            </div>
            <div class="section3Bg section3Bg5 bg">
                <picture class="">
                    <source srcset="./../asset/images/section-3/bg-seaweed.png" media="(min-width: 768px)">
                    <source srcset="./../asset/images/section-3/bg-seaweed.png" media="(max-width: 767px)">
                    <img src="./../asset/images/section-3/bg-seaweed.png" alt="" loading="lazy">
                </picture>
            </div>
            <div class="section3ChangeWrap container center-flex">
                <div class="section3ChangeBefore">
                    <div class="graphTitle text-center">Before</div>
                    <picture class="section3ChangeImg graph">
                        <source srcset="./../asset/images/section-3/before.png" media="(min-width: 768px)">
                        <source srcset="./../asset/images/section-3/before-m.png" media="(max-width: 767px)">
                        <img src="./../asset/images/section-3/before.png" alt="" loading="lazy">
                    </picture>
                </div>
                <div class="section3ChangeAfter">
                    <div class="graphTitle text-center">After</div>
                    <picture class="section3ChangeImg graph">
                        <source srcset="./../asset/images/section-3/after.png" media="(min-width: 768px)">
                        <source srcset="./../asset/images/section-3/after-m.png" media="(max-width: 767px)">
                        <img src="./../asset/images/section-3/after.png" alt="" loading="lazy">
                    </picture>
                </div>
            </div>
            <div class="container">
                <div class="buttonNextWrap">
                    <a href="section-2.html" class="buttonPrev articleCaption">Back</a>
                    <a href="section-4.html" class="buttonNext articleCaption">Continue</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Content -->

    <!-- main -->

    {{> js page="section-3" en=true}}

</body>

</html>