<!DOCTYPE html>
<html lang="en">
{{> head page="section-1" en=true}}

<body>
    <!-- Google Tag Manager -->
    {{> gtm2}}
    <!-- End Google Tag Manager -->

    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- preloader -->
    {{!> preloader}}
    <!-- preloader -->

    <!-- main -->

    <!-- Content -->
    <section class="section section1">
        <div class="sectionCover section1Cover">
            <picture class="section1CoverImage">
                <source srcset="./../asset/images/section-1/cover.jpg" media="(min-width: 768px)">
                <source srcset="./../asset/images/section-1/cover-m.jpg" media="(max-width: 767px)">
                <img src="./../asset/images/section-1/cover.jpg" alt="">
            </picture>
            <div class="section1CoverContent center-flex">
                <h1 class="section1Caption articleCaption">Tirta and Emiliana
                    <span><img src="./../asset/images/section-1/icon-drop.png" class="section1CaptionIcon"
                            alt=""></span>
                </h1>
            </div>
            <div class="section1Dash"></div>
        </div>
        <div class="scroll-area">
            <div class="section1Scroll">
                <div class="section1ScrollBox section1ScrollBox1">
                    <picture>
                        <source srcset="./../asset/images/section-1/tirta.png" media="(min-width: 768px)">
                        <source srcset="./../asset/images/section-1/tirta-m.png" media="(max-width: 767px)">
                        <img src="./../asset/images/section-1/tirta.png" alt="" loading="lazy">
                    </picture>
                    <div class="section1ScrollContent section1ScrollContent1">Tirta means water. Emiliana is a girl from
                        Ende, East Nusa Tenggara.
                        Though Tirta and Emiliana are close to one another, they feel far apart. No pipe connects them.
                        For something as basic as drinking and bathing, Emiliana and her friends must walk kilometers,
                        carrying jerrycans with both hands. At school, her mind is often less on books, but more on
                        whether she’ll meet Tirta along the way.</div>
                </div>
                <div class="section1ScrollBox section1ScrollBox2">
                    <div class="section1ScrollContent section1ScrollContent2">Sadly, Emiliana’s story is not unique.
                        Even in West Kalimantan, home to 8.3 million hectares of forest, finding Tirta is a struggle.
                        Look at the map, and you’ll see, not everyone in Indonesia has access to clean water. The cost
                        isn’t only thirst, but also <strong><i>pawitra</i></strong>, poor sanitation and failing health.
                    </div>
                    <picture>
                        <source srcset="./../asset/images/section-1/emiliana.png" media="(min-width: 768px)">
                        <source srcset="./../asset/images/section-1/emiliana-m.png" media="(max-width: 767px)">
                        <img src="./../asset/images/section-1/emiliana.png" alt="" loading="lazy">
                    </picture>
                </div>
            </div>
        </div>
        <div class="section1Content">
            <div class="section1Dash --top"></div>
            <div class="container">
                <div class="text-center">
                    <h2 class="graphTitle">Clean water and sanitation for NTT and Kalimantan Barat.</h2>
                    <picture class="graph section1Diagram section1Diagram1">
                        <source srcset="./../asset/images/section-1/peta.png" media="(min-width: 768px)">
                        <source srcset="./../asset/images/section-1/peta.png" media="(max-width: 767px)">
                        <img src="./../asset/images/section-1/peta.png" alt="" loading="lazy">
                    </picture>
                    <picture class="graph sectionSpacing section1Diagram section1Diagram2">
                        <source srcset="./../asset/images/section-1/tabel-1-en.png" media="(min-width: 768px)">
                        <source srcset="./../asset/images/section-1/tabel-1-en.png" media="(max-width: 767px)">
                        <img src="./../asset/images/section-1/tabel-1-en.png" alt="" loading="lazy">
                    </picture>
                </div>
                <div class="sectionSpacing section1BoxWrap center-flex">
                    <picture>
                        <source srcset="./../asset/images/section-1/sad-tirta.png" media="(min-width: 768px)">
                        <source srcset="./../asset/images/section-1/sad-tirta-m.png" media="(max-width: 767px)">
                        <img src="./../asset/images/section-1/sad-tirta.png" alt="" loading="lazy">
                    </picture>
                    <div class="section1Box">
                        <div class="section1BoxTxt">
                            And that’s already the best case. Those numbers reflect only “basic” access. If we look at
                            safe access, the picture is far worse. <br>
                            In 2024, the Ministry of Public Works reported that households with safe drinking water were
                            only <strong>30.96%</strong> in West Kalimantan, <strong>25.38%</strong> in NTT. In
                            addition, households with safe sanitation
                            were just <strong>3.52%</strong> in West Kalimantan, <strong>2.44%</strong> in NTT.
                        </div>
                        <div class="section1BoxTxt">Often, water scarcity is blamed only on drought. But the data shows
                            that the real issue is funding.</div>
                    </div>
                </div>
                <div class="sectionSpacing text-center">
                    <h2 class="graphTitle">Funding Gap Data for Water and Sanitation at NTT and Kalimantan Barat.</h2>
                    <picture class="graph section1Diagram section1Diagram3">
                        <source srcset="./../asset/images/section-1/tabel-2.png" media="(min-width: 768px)">
                        <source srcset="./../asset/images/section-1/tabel-2.png" media="(max-width: 767px)">
                        <img src="./../asset/images/section-1/tabel-2.png" alt="" loading="lazy">
                    </picture>
                </div>
                <div class="buttonNextWrap">
                    <a href="index.html" class="buttonPrev articleCaption">Back</a>
                    <a href="section-2.html" class="buttonNext articleCaption">Continue</a>
                </div>
            </div>
        </div>
        <div class="section1Bg bg">
            <picture class="">
                <source srcset="./../asset/images/section-1/bg.png" media="(min-width: 768px)">
                <source srcset="./../asset/images/section-1/bg-m.png" media="(max-width: 767px)">
                <img src="./../asset/images/section-1/bg.png" alt="" loading="lazy">
            </picture>
        </div>
    </section>
    <!-- Content -->

    <!-- main -->

    {{> js page="section-1" en=true}}

</body>

</html>