<!DOCTYPE html>
<html lang="en">
{{> head page="section-2" en=true}}

<body>
    <!-- Google Tag Manager -->
    {{> gtm2}}
    <!-- End Google Tag Manager -->

    <!-- header -->
    {{> header en=true}}
    <!-- header -->

    <!-- preloader -->
    {{!> preloader}}
    <!-- preloader -->

    <!-- main -->

    <!-- Content -->
    <section class="section section2">
        <div class="sectionCover section2Cover">
            <picture class="section2CoverImage">
                <source srcset="./asset/images/section-2/cover-en.jpg" media="(min-width: 768px)">
                <source srcset="./asset/images/section-2/cover-en.jpg" media="(max-width: 767px)">
                <img src="./asset/images/section-2/cover-en.jpg" alt="Beyond Pipe">
            </picture>
        </div>
        <div class="section2Content container">
            <div class="text-center">
                <picture class="">
                    <source srcset="./asset/images/section-2/logo-wvi.png" media="(min-width: 768px)">
                    <source srcset="./asset/images/section-2/logo-wvi-m.png" media="(max-width: 767px)">
                    <img src="./asset/images/section-2/logo-wvi.png" alt="Logo Wahana Visi Indonesia">
                </picture>
            </div>
            <div class="section2BoxWrap center-flex">
                <picture>
                    <source srcset="./asset/images/section-2/ask-tirta.png" media="(min-width: 768px)">
                    <source srcset="./asset/images/section-2/ask-tirta-m.png" media="(max-width: 767px)">
                    <img src="./asset/images/section-2/ask-tirta.png" alt="">
                </picture>
                <div class="section2Box">
                    <div class="section2BoxTxt">
                        <p>Since 2022, Wahana Visi Indonesia (WVI) has been running <strong> FinWASH4UC</strong>
                            (Financing Water,
                            Sanitation, and Hygiene for Universal Coverage) project.
                        </p>
                        <p>But financing here isn’t just about building pipes. It’s about something more fundamental:
                            <strong> governance.</strong>
                        </p>
                        <p>The project is a co-creation in spirit, meaning it is designed together. First, stakeholders
                            were asked to evaluate the problems themselves. It became clear: water scarcity is about
                            weak commitments, limited funds, lack of understanding, inactive working groups, poor
                            planning platforms, and non-inclusive infrastructure.</p>
                    </div>
                    <div class="section2BoxTxt"><strong>Toolkit</strong><br>
                        <p>Toolkits were introduced. Local governments and working groups co-designed 5 practical
                            toolkits to identify water and sanitation budgets. Those five are rainwater harvesting
                            tanks,
                            gravity-fed systems, toilets & septic tanks, borehole systems, handwashing facilities</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-area">
            <div class="section2Scroll">
                <div class="center-flex">
                    <picture class="section2ScrollImage">
                        <source srcset="./asset/images/section-2/pipa-scroll.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/section-2/pipa-scroll-m.png" media="(max-width: 767px)">
                        <img src="./asset/images/section-2/pipa-scroll.png" alt="" loading="lazy">
                    </picture>
                </div>
                <div class="section2ScrollBox section2ScrollBox1">
                    <div class="section2ScrollContent section2ScrollContent1"><strong>“This toolkit makes quick
                            calculations
                            easier for villages. Before, we had to pay consultants. Now we can estimate costs ourselves,
                            though some tools still need fine-tuning.”</strong>
                        - Vicky Nggae, Chair of KPS-PAM Ngada
                    </div>
                </div>
                <div class="section2ScrollBox section2ScrollBox2">
                    <div class="section2ScrollContent section2ScrollContent2"><strong>“We thought our budgeting tools
                            were
                            advanced. But this toolkit is smarter. It allows us to predict to predict population growth
                            and water needs, beyond infrastructure.”</strong>
                        - Hermanus Batu, Head of Water Division, PUPR En</div>
                </div>
                <div class="section2ScrollBox section2ScrollBox3">
                    <div class="section2ScrollContent section2ScrollContent3"><strong>“With this toolkit, it is expected
                            that village governments will find it easier to calculate the costs required to build water
                            and sanitation infrastructure that supports SDG 6 in Melawi.”</strong> —
                        Paulus, Secretary of
                        Melawi
                        Regency</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="center-flex section2Road">
                <div class="section2RoadTxt articleWhite"><big><strong>Roadmap</strong></big><br>
                    Villages and districts co-created roadmaps, which include current conditions of water and
                    sanitation, targets, financing needs, available funds, and gaps to be filled locally. By 2023, six
                    districts had successfully designed their own roadmap.</div>
                <picture>
                    <source srcset="./asset/images/section-2/roadmap.png" media="(min-width: 768px)">
                    <source srcset="./asset/images/section-2/roadmap-m.png" media="(max-width: 767px)">
                    <img src="./asset/images/section-2/roadmap.png" alt="" loading="lazy">
                </picture>
            </div>
            <div class="sectionSpacing">
                <div class="section2ContentBox"><strong>“These roadmaps help BAPPEDA and the Pokja PKP align their plans
                        for drinking water and sanitation programs across local government agencies (OPDs), and also
                        serve as a guide for village governments in preparing WASH budgets in the Village
                        Budget.”</strong>-
                    Andreas
                    Worho, Head of Bappeda Ende</div>
            </div>
            <div class="sectionSpacing sectionSpacingDouble">
                <p class="articleWhite"><strong>Citizen Journalism and Trainings</strong> <br>
                    Around 123 adults and 107 children were trained to tell water stories, raising awareness. It is
                    hoped that the stories they produce will build awareness of water and sanitation issues.</p>
                <ul class="section2Graph display-flex">
                    <li>
                        <picture>
                            <source srcset="./asset/images/section-2/man-jurnalism-en.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/section-2/man-jurnalism-en-m.png" media="(max-width: 767px)">
                            <img src="./asset/images/section-2/man-jurnalism-en.png" alt="" loading="lazy">
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source srcset="./asset/images/section-2/woman-jurnalism-en.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/section-2/woman-jurnalism-en-m.png"
                                media="(max-width: 767px)">
                            <img src="./asset/images/section-2/woman-jurnalism-en.png" alt="" loading="lazy">
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source srcset="./asset/images/section-2/child-jurnalism-en.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/section-2/child-jurnalism-en-m.png"
                                media="(max-width: 767px)">
                            <img src="./asset/images/section-2/child-jurnalism-en.png" alt="" loading="lazy">
                        </picture>
                    </li>
                </ul>
            </div>
            {{!-- <div class="sectionSpacing sectionSpacingDouble">
                <div class="section2ContentBox center-flex"><strong>"Saya sangat bangga karena saya menjadi utusan
                        Forades dan mendapatkan banyak pelajaran tentang Jurnalisme Warga yang bisa menjadi bekal bagi
                        saya, terutama bagaimana saya belajar bagaimana membuat berita dan mengambil foto dan video yang
                        baik dan benar." Virgin. Pengurus Forades Sadha</strong></div>
            </div> --}}
        </div>
        <div class="section2Brown">
            <div class="section2Dash --top"></div>
            <div class="section2Grey container">
                <div class="section2BrownWrap">
                    <div class="section2ContentBox --brown">
                        <strong>Patnership</strong><br>
                        Knowing that village funds and government budgets are limited, WVI trained 578
                        stakeholders on investment and partnerships in water and sanitation governance. WVI also
                        encouraged stakeholders to develop networks with financial institutions, from banks to
                        cooperatives, so that stakeholders could better understand funding opportunities as well as the
                        terms
                        and conditions involved.

                        <p>These efforts paid off. Bank NTT eventually launched a new product called the Water and
                            Sanitation Supply System Credit (KSPAMS). Bank Kalimantan Barat also introduced the Drinking
                            Water and Sanitation Credit (KREASI). Beyond banks, cooperatives such as Sangosay in NTT,
                            along with Credit Union Keling Kumang and Lantang Tipo in West Kalimantan, also joined the
                            network.</p>
                    </div>
                    <div class="sectionSpacing section2ContentBox --cream">
                        <h2 class="graphTitle text-center">Strengthening Multi-Stakeholder Partnership to Achieve WASH
                            Universal Coverage</h2>
                        <ul class="section2List">
                            <li>
                                <div class="section2ListNum text-center">70</div>
                                <div class="section2ListTxt">coordination and joint monitoring meetings with WASH
                                    working groups</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">6</div>
                                <div class="section2ListTxt">PKP working groups received training</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">1</div>
                                <div class="section2ListTxt">document assessment</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">8</div>
                                <div class="section2ListTxt">WASH investment roadmaps developed through co-creation
                                </div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">6</div>
                                <div class="section2ListTxt">districts developed WASH investment roadmaps at the
                                    district level</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">6</div>
                                <div class="section2ListTxt">districts and professional collaborations
                                </div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">125</div>
                                <div class="section2ListTxt">people received training on WASH investment and
                                    communication</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">476</div>
                                <div class="section2ListTxt">people received training to increase capacity on WASH
                                    investment through WASH Entrepreneur
                                    project</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">6</div>
                                <div class="section2ListTxt">districts developed WASH investment communication materials
                                </div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">269</div>
                                <div class="section2ListTxt">people enhanced their capacity as communicators to increase
                                    visibility of WASH issues</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">14</div>
                                <div class="section2ListTxt">WASH awards (Kampung UC, Hari Air Sedunia, Hari Toilet,
                                    Hari Cuci Tangan) implemented</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">7</div>
                                <div class="section2ListTxt">national forums/international forums attended
                                </div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">3</div>
                                <div class="section2ListTxt">districts facilitated collaboration (regional banks and
                                    cooperatives) to encourage investment in WASH infrastructure through regional action
                                    plans, supported by AMP funds, strengthening regional financial institutions, and
                                    private sector involvement</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">4</div>
                                <div class="section2ListTxt">published policy brief</div>
                            </li>
                        </ul>
                    </div>
                    <div class="section2ContentBoxBgWrap">
                        <div class="mobile-hide text-center">
                            <img src="./asset/images/section-2/bg-txt.png" class="section2ContentBoxBg" alt=""
                                loading="lazy">
                        </div>
                        <div class="section2ContentBox section2Content1 --brown">
                            <strong>Efficiency and Transparency</strong><br>

                            Only with efficient and transparent financial processes can water flow to everyone. That’s
                            why village governments were also encouraged to understand and further develop the Village
                            Financial System (Siskeudes) reporting platform, transitioning it into digital form.

                            <p>WVI trained 578 government staff, community members, and partners in using Siskeudes.
                                With a
                                digitized reporting system, village governments can input data without needing to go to
                                the
                                district office and can detect problems in planning at an earlier stage. Villages also
                                become more orderly in their administration.</p>
                        </div>
                    </div>
                    <div class="section2ContentBoxBgWrap --right">
                        <div class="section2ContentBoxBgImg text-center">
                            <img src="./asset/images/section-2/bg-txt.png" class="section2ContentBoxBg" alt=""
                                loading="lazy">
                        </div>
                        <div class="section2ContentBoxTxt">
                            <picture class="text-center">
                                <source srcset="./asset/images/section-2/flow-tirta.png" media="(min-width: 768px)">
                                <source srcset="./asset/images/section-2/flow-tirta-m.png" media="(max-width: 767px)">
                                <img src="./asset/images/section-2/flow-tirta.png" alt="" loading="lazy">
                            </picture>
                            <div class="section2ContentBox section2Content2 --brown">
                                <div class="section2Digi section2Digi1">
                                    <strong>“While at Bappeda, I was involved in discussions about the server. After
                                        moving to Komdigi, I immediately coordinated with DPMD to move the server to the
                                        Komdigi office, in line with our mandate to manage IT. If there are internet
                                        network issues, we will look for solutions at the sub-district office so that
                                        data input can still be done online. This support is very important to
                                        accelerate digitalization and public services in Ende District.”</strong>—
                                    Herman Sigasare, Secretary of the Communication and Digital Affairs Department
                                    (Komdigi), Ende District.
                                </div>
                                <div class="section2Digi section2Digi2">
                                    <strong>“For planning, budgeting, and reporting, data can be entered directly
                                        through the online Siskeudes system. This process can be done directly from the
                                        village, and if there are any issues, colleagues from the sub-district office
                                        who have also been trained by WVI—will provide assistance. This way, there is no
                                        need to waste time and money traveling to the district office.”
                                    </strong>— Felicytas Don Bosco, Super Admin of DPMD, Ende Distric.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="section2ContentBox section2Content3 --brown">
                    <strong>
                        Policy</strong><br>

                    Finally, communities were empowered not just to manage water — but to shape policy. They voiced
                    their concerns directly to policymakers.
                </div>
                <div class="buttonNextWrap">
                    <a href="{{> url}}section-1.html" class="buttonPrev articleCaption">Back</a>
                    <a href="{{> url}}section-3.html" class="buttonNext articleCaption">Continue</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Content -->

    <!-- main -->

    {{> js page="section-2" en=true}}

</body>

</html>