<button class="button buttonBacktop" aria-label="Back to top"><span
        class="icon-chevron icon-chevron-up"></span></button>
<footer class="footer bg-red">
    <div class="container">
        <div class="row">
            <div class="footerCol col-12 col-md-6 col-lg-3 col-xl-3">
                <div class="footerRow">
                    <div class="footerCaption">Kantor Pusat</div>
                    <a href="index.html" class="footerLogo__link"><img src="./asset/images/logo-saitrans.png"
                            class="footerLogo" alt="Sai Trans" width="349" height="55" loading="lazy"></a>
                    <div class="footerTxt">The City Resort Residences, Rukan Hawaiian Blok A No. 87 Jl. Kamal Raya RT. 007 RW.
                        014
                        Cengkareng Timur, Jakarta Barat</div>
                </div>
                <div class="footerRow">
                    <div class="footerCaption">Operational Hour</div>
                    <div class="footerTxt">
                        Senin - Sabtu <br>
                        09.00 - 18.00 WIB <br>
                        <a class="footerLink" href="tel:+622122301111"><span>Telp.</span>+62 21 2230 1111</a>
                        <a class="footerLink notranslate" href="mailto:info@sai-transport.com"><span>E-mail</span>
                            info@sai-transport.com</a>
                    </div>
                </div>
            </div>
            <div class="footerCol col-12 col-md-6 col-lg-4 offset-lg-1">
                <div class="footerCaption">International Partner</div>
                <div class="footerRow">
                    <div class="footerTitle">Singapore</div>
                    <div class="footerTxt">
                        95 Airport Cargo Road, Sats Terminal 2, <br>
                        Level 2 RM 224, Singapore 819461 <br>
                        <a class="footerLink" href="tel:+62938397"><span>Telp.</span>6293 8397 </a>
                        <a class="footerLink" href="tel:+6592353670"><span>Phone</span> +65 9235 3670</a>
                    </div>
                </div>
                <div class="footerRow">
                    <div class="footerTitle">Malaysia</div>
                    <div class="footerTxt">
                        Lot 8, Jalan Sungai Kayu Ara 32/38, <br>
                        Section 32, Berjaya Industrial Park, <br>
                        40460 Shah Alam, Selangor, Malaysia <br>
                        <a class="footerLink" href="tel:+1700818369"><span>Telp.</span> 1 700 818 369</a>
                        <a class="footerLink notranslate"
                            href="mailto:fmxcs@freightmark.com.my"><span>Email</span>fmxcs@freightmark.com.my</a>
                    </div>
                </div>
            </div>
            <div class="footerCol col-12 col-md-6 col-lg-4">
                <div class="footerCaption">Member of</div>
                <div class="display-flex">
                    <div class="footerMember center-flex">
                        <img src="./asset/images/logo-asperindo.png" loading="lazy" alt="Asperindo" width="183"
                            height="23">
                    </div>
                    <div class="footerMember footerMember--alfi center-flex">
                        <img src="./asset/images/logo-alfi-ilfa.png" loading="lazy" alt="alfi/ilfa" width="62"
                            height="52">
                    </div>
                </div>
                <div class="socmedWrap">
                    <div class="footerCaption">Social Media</div>
                    <div class="socmedList display-flex">
                        <div class="socmedItem">
                            <a href="#" target="_blank" aria-label="Instagram" rel="noopener noreferrer" class="socmedLink">
                                <span class="icon icon-ig"></span>
                            </a>
                        </div>
                        <div class="socmedItem">
                            <a href="#" target="_blank" aria-label="Facebook" rel="noopener noreferrer" class="socmedLink">
                                <span class="icon icon-fb"></span>
                            </a>
                        </div>
                        <div class="socmedItem">
                            <a href="#" target="_blank" aria-label="Tiktok" rel="noopener noreferrer" class="socmedLink">
                                <span class="icon icon-tiktok"></span>
                            </a>
                        </div>
                    </div>                </div>
                <div class="footerRow">
                    <div class="footerCaption">Download Aplikasinya Sekarang!</div>
                    <div class="footerList display-flex">
                        <a href="#" target="_blank" rel="noopener noreferrer" class="footerList__item">
                            <img src="./asset/images/download-appstore.png" width="153" height="51"
                                alt="Download on App Store" loading="lazy">
                        </a>
                        <a href="#" target="_blank" rel="noopener noreferrer" class="footerList__item">
                            <img src="./asset/images/download-googleplay.png" width="171" height="51"
                                alt="Download on Play Store" loading="lazy">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerCopy display-flex">
            <div class="footerCopy__item">© 2022</div>
            <div class="footerCopy__item">
                <img src="./asset/images/logo-saitrans.png" class="footerLogo--small" alt="Sai Trans" width="349"
                    height="55" loading="lazy">
            </div>
            <div class="footerCopy__item">All Right Reserved</div>
        </div>
    </div>
</footer>