<div class="mediaItem col-12 col-md-6">
    <a href="#" class="mediaLink">
        <h3 class="titleArt">Tawarkan Peluang Bisnis Kirim Paket ke Luar Negeri, Usahakurir Beri Penawaran Menguntungkan</h3>
        <p class="mediaLead">Peluang mencari keuntungan dari mancanegara pada dasarnya tak hanya bisa didapat dari berkarier sebagai tenaga kerja Indonesia (TKI). Lebih dari itu, ada banyak peluang usaha yang bsia dijajal, salah satunya melalui ekspedisi ke luar negeri. Adapun peluang usaha itu menjadi salah satu yang berpotensi mendatangkan keuntungan. Sebab, sumber dari Bank Indonesia dan BNP2TKI mencatat, ada sebanyak 3.270 orang Indonesia yang menjadi TKI pada Kuartal 1 2022.</p>
        <img src="./asset/images/media/kompascom.png" class="mediaLogo" alt="kompas.com" width="144" height="30" loading="lazy">
    </a>
</div>
<div class="mediaItem col-12 col-md-6">
    <a href="#" class="mediaLink">
        <h3 class="titleArt">Aktivitas Belanja Online Berdampak Positif pada Usaha Kurir</h3>
        <p class="mediaLead">Aktivitas belanja online berdampak positif pada usaha jasa kurir di tengah pandemi Covid-19. &#x27;Sebagian besar masyarakat melakukan aktivitas belanja online di tengah pandemi Covid-19,&#x27; kata Manajer Usaha Kurir, aggregator logistik di bawah naungan PT SAI Trans Indonesia, Andreas dalam keterangan resmi, Rabu 20 Juli 2022.</p>
        <img src="./asset/images/media/investor.png" class="mediaLogo" alt="investor.id" width="144" height="30" loading="lazy">
    </a>
</div>
<div class="mediaItem col-12 col-md-6">
    <a href="#" class="mediaLink">
        <h3 class="titleArt">Cari Usaha Minim Risiko &amp; Modal? Coba Agen Kemitraan Jasa Ekspedisi</h3>
        <p class="mediaLead">Minat masyarakat untuk terjun ke dunia bisnis terus mengalami peningkatan. Banyak orang berpikir dirinya bisa mendapatkan penghasilan yang lebih besar saat menjadi wirausaha dibanding menjadi seorang pegawai. Tidak adanya keterikatan waktu juga menjadi alasan banyak orang tergiur untuk mulai berwirausaha. Segala peluang tersebut bisa diwujudkan, tentu dengan diiringi tekad, semangat, dan komitmen yang kuat.</p>
        <img src="./asset/images/media/detikfinance.png" class="mediaLogo" alt="detik finance" width="144" height="30" loading="lazy">
    </a>
</div>
<div class="mediaItem col-12 col-md-6">
    <a href="#" class="mediaLink">
        <h3 class="titleArt">Usahakurir Mewadahi Jasa Pengiriman Barang Ke Luar Negeri Dalam Satu Aplikasi</h3>
        <p class="mediaLead">Besarnya minat belanja online antar negara membuat masyarakat dapat melakukan transaksi jual beli barang dengan sangat mudah dan praktis. Melalui e-commerce, para pelaku usaha dapat memasarkan barangnya dalam waktu yang cepat, bahkan mampu menjangkau hingga ke seluruh dunia tanpa harus bersusah payah, berkat adanya jasa pengiriman barang ke luar negeri.</p>
        <img src="./asset/images/media/tribunjabar.svg" class="mediaLogo" alt="tribun jabar" width="144" height="30" loading="lazy">
    </a>
</div>
