<div class="popup popup--hidden center-flex">
    <div class="popupWrap bookPopup">
        <button onclick="closePopup()" class="button buttonClose" aria-label="Close Popup"><span
                class="icon-close"></span></button>
        <div class="titleCaption titleCaption--small text-center">
            Form Pengajuan Klaim
        </div>
        <div class="popupContent">
            <form action="#" id="formclaim">
                <div class="titleCaption titleCaption--vsmall mt2 mb1">Data Pelanggan</div>
                <div class="formWrap__input">
                    <label class="formInput__label bookLabel mb1" for="sender">Nama</label>
                    <input type="text" id="sender" name="sender" class="formInput bookForm"
                        placeholder="Tulis Disini ...">
                </div>
                <div class="bookWrap row mt2">
                    <div class="bookWrap__item col-md-6">
                        <div class="formWrap__num">
                            <label class="formNum__label bookLabel mb1" for="hpsender">No. HP/Telepon</label>
                            <input type="tel" id="hpsender" name="hpsender" class="formNum bookForm" inputmode="numeric"
                                placeholder="Tulis Disini ...">
                        </div>
                    </div>
                    <div class="bookWrap__item col-md-6">
                        <div class="formWrap__num">
                            <label class="formNum__label bookLabel mb1" for="idsender">No. KTP/SIM</label>
                            <input type="tel" id="idsender" name="idsender" class="formNum bookForm" inputmode="numeric"
                                placeholder="Tulis Disini ...">
                        </div>
                    </div>
                </div>
                <div class="formWrap__area mt2">
                    <label class="formArea__label bookLabel mb1" for="claimori">Alamat</label>
                    <textarea class="formArea bookForm" name="claimori" id="claimori" cols="" rows="3"
                        placeholder="Tulis Disini ..."></textarea>
                </div>
                <div class="titleCaption titleCaption--vsmall mt2 mb1">Data Konosemen</div>
                <div class="formWrap__num">
                    <label class="formNum__label bookLabel mb1" for="idkonosemen">No. Konosemen</label>
                    <input type="tel" id="idkonosemen" name="idkonosemen" class="formNum bookForm" inputmode="numeric"
                        placeholder="Tulis Disini ...">
                </div>
                <div class="formWrap__input formWrap__date mt2">
                    <label class="formInput__label bookLabel mb1" for="datepick">Tanggal Kirim</label>
                    <input type="text" id="datepick" name="datepick" class="formInput bookForm datepick"
                        placeholder="Tulis Disini ...">
                </div>
                <div class="formWrap__input mt2">
                    <label class="formInput__label bookLabel mb1" for="receiver">Nama Penerima</label>
                    <input type="text" id="receiver" name="receiver" class="formInput bookForm"
                        placeholder="Tulis Disini ...">
                </div>
                <div class="formWrap__area mt2">
                    <label class="formArea__label bookLabel mb1" for="claimdest">Alamat Tujuan</label>
                    <textarea class="formArea bookForm" name="claimdest" id="claimdest" cols="" rows="3"
                        placeholder="Tulis Disini ..."></textarea>
                </div>
                <div class="bookLabel mt2">Asuransi</div>
                <div class="formWrap__radio">
                    <div class="formWrap__radio ml2">
                        <input type="radio" value="1" id="asurance1" class="formRadio" name="asurance" checked>
                        <label class="formRadio__label" for="asurance1">Ya</label>
                    </div>
                    <div class="formWrap__radio ml2">
                        <input type="radio" value="0" id="asurance2" class="formRadio" name="asurance">
                        <label class="formRadio__label" for="asurance2">Tidak</label>
                    </div>
                </div>
                <div class="bookLabel mt2">Packing Kayu</div>
                <div class="formWrap__radio">
                    <div class="formWrap__radio ml2 mb1">
                        <input type="radio" value="1" id="packing1" class="formRadio" name="packing" checked>
                        <label class="formRadio__label" for="packing1">Ya</label>
                    </div>
                    <div class="formWrap__radio ml2 mb1">
                        <input type="radio" value="0" id="packing2" class="formRadio" name="packing">
                        <label class="formRadio__label" for="packing2">Tidak</label>
                    </div>
                </div>
                <div class="titleCaption titleCaption--vsmall mt2 mb1">Keterangan Klaim</div>
                <div class="bookLabel mb1">Jenis Kiriman</div>
                <div class="formWrap__radio">
                    <div class="formWrap__radio ml2">
                        <input type="radio" value="1" id="itemtype1" class="formRadio" name="itemtype">
                        <label class="formRadio__label" for="itemtype1">Dokumen</label>
                    </div>
                    <div class="formWrap__radio ml2">
                        <input type="radio" value="0" id="itemtype2" class="formRadio" name="itemtype" checked>
                        <label class="formRadio__label" for="itemtype2">Paket</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="formWrap__input mt2">
                            <label class="formInput__label bookLabel mb1" for="claimitem">Isi/Deskripsi
                                Kiriman</label>
                            <input type="text" id="claimitem" name="claimitem" class="formInput bookForm"
                                placeholder="Tulis Disini ...">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="formWrap__num mt2">
                            <label class="formNum__label bookLabel mb1" for="claimweight">Berat/kg</label>
                            <input type="number" id="claimweight" name="claimweight" value="1" class="formNum bookForm"
                                inputmode="numeric" autocomplete="off" maxlength="3"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                        </div>
                    </div>
                </div>
                <div class="formWrap__area mt2">
                    <label class="formArea__label bookLabel mb1" for="claimreason">Alasan Klaim</label>
                    <textarea class="formArea bookForm" name="claimreason" id="claimreason" cols="" rows="3"
                        placeholder="Tulis Disini ..."></textarea>
                </div>
                <div class="formWrap__num mt2">
                    <label class="formNum__label bookLabel mb1" for="claimprice">Nominal Klaim</label>
                    <div class="center-flex mb1">
                        Rp. <input type="number" id="claimprice" name="claimprice" value="" class="formNum bookForm ml1"
                            inputmode="numeric" autocomplete="off" placeholder="Tulis Disini ...">
                    </div>
                </div>
                <div class="titleCaption titleCaption--vsmall mt2 mb1">Lampiran</div>
                <div class="bookLabel mb1">Fotokopi KTP</div>
                <div class="formUpload">
                    <label for="upload" class="formUpload__btn button buttonPrimary"><span class="filter-red"><img
                                src="./asset/images/icon/icon-folder.png" class="formUpload__icon" alt="" width="15"
                                height="15" loading="lazy"></span> Browse</label>
                    <input type="file" name="upload" accept="image/*" id="upload">
                    <span class="fileName">Pilih file..</span>
                </div>
                <div class="bookLabel mt2 mb1">Nota/Resi Asli</div>
                <div class="formUpload">
                    <label for="uploadresi" class="formUpload__btn button buttonPrimary"><span class="filter-red"><img
                                src="./asset/images/icon/icon-folder.png" class="formUpload__icon" alt="" width="15"
                                height="15" loading="lazy"></span> Browse</label>
                    <input type="file" name="uploadresi" accept="image/*" id="uploadresi">
                    <span class="fileName">Pilih file..</span>
                </div>
                <div class="bookLabel mt2 mb1">Nota/Kwitansi Barang</div>
                <div class="formUpload">
                    <label for="uploadnota" class="formUpload__btn button buttonPrimary"><span class="filter-red"><img
                                src="./asset/images/icon/icon-folder.png" class="formUpload__icon" alt="" width="15"
                                height="15" loading="lazy"></span> Browse</label>
                    <input type="file" name="uploadnota" accept="image/*" id="uploadnota">
                    <span class="fileName">Pilih file..</span>
                </div>
                <button type="submit" class="button buttonPrimary buttonFull"
                    onClick="alertStatus('Pengajuan berhasil dikirim', false)">Kirim Pengajuan Klaim</button>
            </form>
        </div>
    </div>
</div>