<div class="socmedList display-flex">
    <div class="socmedItem">
        <a href="#" target="_blank" aria-label="Instagram" rel="noopener noreferrer" class="socmedLink">
            <span class="icon icon-ig"></span>
        </a>
    </div>
    <div class="socmedItem">
        <a href="#" target="_blank" aria-label="Facebook" rel="noopener noreferrer" class="socmedLink">
            <span class="icon icon-fb"></span>
        </a>
    </div>
    <div class="socmedItem">
        <a href="#" target="_blank" aria-label="Tiktok" rel="noopener noreferrer" class="socmedLink">
            <span class="icon icon-tiktok"></span>
        </a>
    </div>
</div>