<div class="detailsPaging">
    {{#eq page compare=1}}
    <div class="detailsPagingWrap">
        <div class="detailsPagingCaption titleCaption">
            Halaman Selanjutnya
        </div>
        <a href="details-{{kanal}}-series-2.html" class="detailsPagingItem">
            <div class="detailsPagingContent -next">
                <div class="detailsPagingTitle">DPR Kritik Subsidi Mobil Listrik Pemerintah, Begini Respons Menkeu Sri
                    Mulyani</div>
                <span class="icoInline icoArrow"></span>
            </div>
        </a>
    </div>
    {{/eq}}
    {{#eq page compare=2}}
    <div class="detailsPagingWrap">
        <div class="detailsPagingCaption titleCaption">
            Halaman Sebelumnya
        </div>
        <a href="details-{{kanal}}-series.html" class="detailsPagingItem">
            <div class="detailsPagingContent -prev">
                <div class="detailsPagingTitle">DPR Kritik Subsidi Mobil Listrik Pemerintah, Begini Respons Menkeu Sri
                    Mulyani</div>
                <span class="icoInline icoArrow"></span>
            </div>
        </a>
    </div>
    <div class="detailsPagingWrap">
        <div class="detailsPagingCaption titleCaption">
            Halaman Selanjutnya
        </div>
        <a href="details-{{kanal}}-series-3.html" class="detailsPagingItem">
            <div class="detailsPagingContent -next">
                <div class="detailsPagingTitle">DPR Kritik Subsidi Mobil Listrik Pemerintah, Begini Respons Menkeu Sri
                    Mulyani</div>
                <span class="icoInline icoArrow"></span>
            </div>
        </a>
    </div>
    {{/eq}}
    {{#eq page compare=3}}
    <div class="detailsPagingWrap">
        <div class="detailsPagingCaption titleCaption">
            Halaman Sebelumnya
        </div>
        <a href="details-{{kanal}}-series-2.html" class="detailsPagingItem">
            <div class="detailsPagingContent -prev">
                <div class="detailsPagingTitle">DPR Kritik Subsidi Mobil Listrik Pemerintah, Begini Respons Menkeu Sri
                    Mulyani</div>
                <span class="icoInline icoArrow"></span>
            </div>
        </a>
    </div>
    {{/eq}}
</div>