<div class="info center-flex text-center heightFull opac0">
    <picture class="infoImg">
    </picture>
    <h2 class="articleContent infoContent">
        <p>Wujudkan segala keistimewaan persembahan kami dalam keluarga besar BCA Prioritas.
        </p>
        <p>
            Untuk informasi lebih lanjut tentang keanggotaan BCA Solitaire & Prioritas, <br>
            silakan hubungi cabang BCA Anda.</p>
    </h2>
    <button type="button" class="button buttonClose" id="closeinfo" aria-label="Close information">
        <span class="icon-close"></span>
    </button>
</div>