<div class="preloader">
	<div class="preloaderWrap" style="background-image: url(./asset/images/loading-bg.jpg);">
		<picture class="preloaderLogo">
			<source srcset="./asset/images/loading-bca-logo-mob.png" media="(max-width: 768px)" alt="" width="30" height="29">
			<img srcset="./asset/images/loading-bca-logo.png" alt="" class="" width="66" height="64">
		</picture>
        <div class="preloaderMeter anim">
            <span class="preloaderBar" id="bar" value="0"><span></span></span>
        </div>
		<input type="hidden" id="progress_width" value="0">
		<div class="preloaderTxt">
			Please Wait
		</div>
	</div>
</div>