<!DOCTYPE html>
<html lang="en">

{{> head page="static"}}

<body>
    <main role="main" class="static text-center">
        <div class="container">
            <div class="static404Wrap row">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <a href="index.html">
                        <img src="./asset/images/logo-smexpo.svg" class="headerLogo" alt="Pertamina Smexpo" width="195"
                            height="54">
                    </a>
                    <div class="sellerSearch spacing-xs">
                        <form action="#" class="search">
                            <button class="button icon iconSearch" aria-label="search"></button>
                            <input type="text" name="q" value="" class="searchInput" aria-label="search"
                                placeholder="cari produk disini" inputmode="search">
                        </form>
                    </div>
                    <h1 class="static404 spacing-xs">
                        404
                    </h1>
                    <h2 class="static404Title spacing-xs">Ups! Halaman Tidak Ditemukan</h2>
                    <div class="static404Txt">Maaf halaman yang kamu cari tidak dapat ditemukan atau telah dihapus.
                        Silakan coba beberapa waktu lagi</div>
                    <a href="index.html" class="static404Cta buttonRect buttonRectBlue spacing-sm">
                        Kembali ke Beranda
                    </a>
                </div>
            </div>
        </div>

    </main>

    {{>js jquery=false page="static" template=false}}

</body>

</html>