<!DOCTYPE html>
<html lang="en">

{{> head page="access"}}

<body>
    <main role="main" class="access">
        <div class="accessHeader">
            <div class="container">
                <button class="button buttonBack" aria-label="Back to previous page"
                    onclick="window.history.back()"><span class="icon iconArrow"></span>Kembali</button>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="accessWrap col-12 col-md-8 col-lg-6 col-xl-5">
                    <h1 class="text-center">
                        <a href="index.html">
                            <img src="./asset/images/logo-smexpo.svg" class="headerLogo" alt="Pertamina Smexpo"
                                width="195" height="54">
                        </a>
                    </h1>
                    <h2 class="accessTitle text-center">Login</h2>
                    <form action="#" class="accessForm">
                        <div class="accessFormWrap">
                            <label class="formLabel sr-only" for="email">Email</label>
                            <input type="email" class="formInput" name="email" id="email" placeholder="Alamat E-mail">
                        </div>
                        <div class="accessFormWrap">
                            <label class="formLabel sr-only" for="pass">Password</label>
                            <div class="formInputIcon">
                                <button class="button buttonPass" aria-label="show or hide password" toggle="#pass"
                                    type="button" onclick="togglePassword(this)"><span
                                        class="icon iconEye"></span></button>
                                <input type="password" class="formInput" name="pass" id="pass" placeholder="Password">
                            </div>
                        </div>
                        <div class="accessFormWrap">
                            <button class="button buttonRect buttonRectBlue" type="submit">
                                Login
                            </button>
                        </div>
                        <div class="accessFormWrap accessTitle--small text-center">
                            <a class="accessLink--blue" href="access-forgot.html">Lupa Password?</a>
                        </div>
                        <div class="accessMisc accessTitle--small text-center"><span>atau</span></div>
                        <div class="accessFormWrap">
                            <button class="button buttonRect accessButton -google" type="button">
                                <img src="./asset/images/icon-google.png" alt="" width="22" height="22">
                                <span>Login dengan Google</span>
                            </button>
                        </div>
                        <div class="accessFormWrap">
                            <button class="button buttonRect accessButton -fb" type="button">
                                <img src="./asset/images/icon-fb.png" alt="" width="22" height="22">
                                <span>Login dengan Facebook</span>
                            </button>
                        </div>
                        <div class="accessFormWrap accessTitle--small text-center">
                            Belum punya akun?<a class="accessLink--blue" href="access.html"> Registrasi.</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>

    {{>js page="access"}}
    <script>
        function togglePassword(el) {
            //show hide password
            let input = el.getAttribute("toggle"),
                pass = document.querySelector(input)
            type = pass.getAttribute("type")
            if (type == "password") {
                pass.setAttribute("type", "text");
                el.classList.add("show")
            } else {
                el.classList.remove("show")
                pass.setAttribute("type", "password");
            }
        }
    </script>

</body>

</html>