<!DOCTYPE html>
<html lang="en">

{{> head page="access"}}

<body>
    <main role="main" class="access">
        <div class="accessHeader">
            <div class="container">
                <button class="button buttonBack" aria-label="Back to previous page"
                    onclick="window.history.back()"><span class="icon iconArrow"></span>Kembali</button>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="accessWrap col-12 col-md-8 col-lg-6 col-xl-5">
                    <h1 class="text-center">
                        <a href="index.html">
                            <img src="./asset/images/logo-smexpo.svg" class="headerLogo" alt="Pertamina Smexpo"
                                width="195" height="54">
                        </a>
                    </h1>
                    <h2 class="accessTitle text-center">Lakukan Verifikasi Email Anda untuk Melanjutkan</h2>
                    <form action="#" class="accessForm">
                        <div class="accessFormWrap">
                            <label class="formLabel sr-only" for="code">Verification code</label>
                            <input type="text" class="formInput" name="code" id="code" placeholder="Kode Verifikasi">
                        </div>
                        <div class="accessFormWrap">
                            <button class="button buttonRect buttonRectBlue" type="submit">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>

    {{>js page="access"}}

</body>

</html>