<!DOCTYPE html>
<html lang="en">

{{> head page="access"}}

<body>
    <main role="main" class="access">
        <div class="accessHeader">
            <div class="container">
                <button class="button buttonBack" aria-label="Back to previous page"
                    onclick="window.history.back()"><span class="icon iconArrow"></span>Kembali</button>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="accessWrap col-12 col-md-8 col-lg-6 col-xl-5">
                    <h1 class="text-center">
                        <a href="index.html">
                            <img src="./asset/images/logo-smexpo.svg" class="headerLogo" alt="Pertamina Smexpo"
                                width="195" height="54">
                        </a>
                    </h1>
                    <h2 class="accessTitle text-center">Buat Akun Baru</h2>
                    <form action="#" class="accessForm">
                        <div class="accessFormWrap">
                            <label class="formLabel sr-only" for="fname">Full Name</label>
                            <input type="text" class="formInput" name="fname" id="fname" placeholder="Nama Lengkap">
                        </div>
                        <div class="accessFormWrap">
                            <label class="formLabel sr-only" for="email">Email</label>
                            <input type="email" class="formInput" name="email" id="email" placeholder="Alamat E-mail">
                            <div class="formMsg -error">
                                email sudah terpakai, gunakan email lain?
                            </div>
                        </div>
                        <div class="accessFormWrap">
                            <label class="formLabel sr-only" for="pass">Password</label>
                            <div class="formInputIcon">
                                <button class="button buttonPass" aria-label="show or hide password" toggle="#pass"
                                    type="button" onclick="togglePassword(this)"><span
                                        class="icon iconEye"></span></button>
                                <input type="password" class="formInput" name="pass" id="pass"
                                    placeholder="Buat Password">
                                <div class="formMsg -error">
                                    password harus terdapat 8 karakter. Gunakan huruf kapital dan angka agar passwordmu
                                    lebih kuat.
                                </div>
                            </div>
                        </div>
                        <div class="accessFormWrap">
                            <label class="formLabel sr-only" for="rpass">Retype Password</label>
                            <div class="formInputIcon">
                                <button class="button buttonPass" aria-label="show or hide password" toggle="#rpass"
                                    type="button" onclick="togglePassword(this)"><span
                                        class="icon iconEye"></span></button>
                                <input type="password" class="formInput" name="rpass" id="rpass"
                                    placeholder="Ketik Ulang Password">
                            </div>
                        </div>
                        <div class="accessFormWrap">
                            <label class="formLabel sr-only" for="phone">Phone or mobile phone number</label>
                            <input type="text" class="formInput" name="phone" id="phone"
                                placeholder="Nomor Telepon atau HP" inputmode="numeric">
                        </div>
                        <div class="accessFormWrap accessCheck accessTitle--small">
                            <div class="formInputIcon">
                                <input type="checkbox" id="agree" name="genre" class="formCheck">
                                <span class="formCheckbox"></span>
                            </div>
                            <label for="agree">Dengan mendaftar, saya menyetujui <a href="tnc.html"
                                    class="accessLink">Syarat dan Ketentuan</a> serta <a href="privacy.html"
                                    class="accessLink">Kebijakan Privasi.</a></label>
                        </div>
                        <div class="accessFormWrap">
                            <button class="button buttonRect buttonRectBlue" type="submit">
                                Daftar Sekarang
                            </button>
                        </div>
                        <div class="accessMisc accessTitle--small text-center"><span>atau</span></div>
                        <div class="accessFormWrap">
                            <button class="button buttonRect accessButton -google" type="button">
                                <img src="./asset/images/icon-google.png" alt="" width="22" height="22">
                                <span>Daftar dengan Google</span>
                            </button>
                        </div>
                        <div class="accessFormWrap">
                            <button class="button buttonRect accessButton -fb" type="button">
                                <img src="./asset/images/icon-fb.png" alt="" width="22" height="22">
                                <span>Daftar dengan Facebook</span>
                            </button>
                        </div>
                        <div class="accessFormWrap accessTitle--small text-center">
                            Sudah punya akun?<a class="accessLink--blue" href="access-login.html"> Login.</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>

    {{>js jquery=false page="access" template=false}}
    <script>
        function togglePassword(el) {
            //show hide password
            let input = el.getAttribute("toggle"),
                pass = document.querySelector(input)
            type = pass.getAttribute("type")
            if (type == "password") {
                pass.setAttribute("type", "text");
                el.classList.add("show")
            } else {
                el.classList.remove("show")
                pass.setAttribute("type", "password");
            }
        }
    </script>

</body>

</html>