<!DOCTYPE html>
<html lang="en">

{{> head page="access"}}

<body>
    <main role="main" class="access">
        <div class="accessHeader">
            <div class="container">
                <button class="button buttonBack" aria-label="Back to previous page"
                    onclick="window.history.back()"><span class="icon iconArrow"></span>Kembali</button>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="accessWrap col-12 col-md-8 col-lg-6 col-xl-5">
                    <h1 class="text-center">
                        <a href="index.html">
                            <img src="./asset/images/logo-smexpo.svg" alt="Pertamina Smexpo"
                                width="195" height="54">
                        </a>
                    </h1>
                    <h2 class="accessTitle text-center">Masukkan Emailmu untuk Me-Reset Password</h2>
                    <form action="#" class="accessForm">
                        <div class="accessFormWrap">
                            <label class="formLabel sr-only" for="email">Email</label>
                            <input type="email" class="formInput" name="email" id="email" placeholder="Alamat E-mail">
                        </div>
                        <div class="accessFormWrap">
                            <button class="button buttonRect buttonRectBlue" type="submit">
                                Reset Password
                            </button>
                        </div>
                        <div class="accessFormWrap accessTitle--small text-center">
                            Saya sudah ingat passwordnya.<a class="accessLink--blue" href="access-login.html"> Login.</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>

    {{>js jquery=false page="access" template=false}}

</body>

</html>