<!DOCTYPE html>
<html lang="en">

{{> head page="cart"}}

<body>
    {{> header/header}}
    <main role="main" class="main cart">
        <div class="container">
            <div class="breadcrumb">
                {{>breadcrumb title="Keranjang Saya" link="cart.html" subtitle="Check Out"}}
            </div>
        </div>
    </main>

</body>

</html>