<!DOCTYPE html>
<html lang="en">

{{> head page="cart" countdown=true select2=true}}

<body>
    {{> header/header}}
    <main role="main" class="main cart">
        <div class="container">
            <div class="breadcrumb">
                {{>breadcrumb title="Keranjang Saya" link="cart.html" subtitle="Check Out"}}
            </div>
            <h2 class="title spacing-sm">
                <span>Check Out</span>
            </h2>
            <div class="cartWrap row spacing-sm">
                <div class="col-left col-12 col-xl-9">
                    <div class="titleMedium">
                        Alamat Pengiriman
                    </div>
                    {{>template/address-list spacing="spacing-sm" total=1 index_start=0 index_end=1}}
                    <button class="button buttonRect buttonRectGrad spacing-sm"
                        onclick="triggerPopup('.-pAddress')">Tambah Alamat</button>
                    <h2 class="title spacing-xl">
                        <span>Produk yang Dipesan</span>
                    </h2>
                    <!-- cart list -->
                    <div class="cartList spacing-sm">
                        <a href="seller.html" class="sellerLinkWrap">
                            <div class="sellerLinkImg border-sm">
                                <img src="./asset/images/dummy/seller/seller2.png" alt="" width="25" height="25">
                            </div>
                            <div class="sellerName">PT. GODHONG PITU SONGO
                                <span class="sellerLinkOrigin">Kab. Mojokerto</span>
                            </div>
                        </a>
                        <div class="cartBox --co">
                            {{>cart/item-co total=2 index_start=0 index_end=2}}
                            <div class="shipping">
                                {{>cart/shipping}}
                            </div>
                        </div>
                    </div>
                    <!-- cart list -->
                    <h2 class="title spacing-xl">
                        <span>Pilih Metode Pembayaran</span>
                    </h2>
                    <div class="payment">
                        <div class="spacing-sm">
                            <strong>Dompet Digital</strong>
                            <div class="spacing-xs">
                                <div class="paymentList row">
                                    {{>component/payment-item col="col-6 col-md-4 col-lg-3" title="gopay"
                                    image="logo-payment/xl/gopay.png"}}
                                    {{>component/payment-item col="col-6 col-md-4 col-lg-3" title="shopeepay"
                                    image="logo-payment/xl/shopeepay.png"}}
                                </div>
                            </div>
                        </div>
                        <div class="spacing-sm">
                            <strong>Transfer Virtual Account/Transfer Bank</strong>
                            <div class="spacing-xs">
                                <div class="paymentList row">
                                    {{>component/payment-item col="col-6 col-md-4 col-lg-3" title="mandiri"
                                    image="logo-bank/xl/mandiri.png" checked=true}}
                                    {{>component/payment-item col="col-6 col-md-4 col-lg-3" title="bca"
                                    image="logo-bank/xl/bca.png"}}
                                    {{>component/payment-item col="col-6 col-md-4 col-lg-3" title="bni"
                                    image="logo-bank/xl/bni.png"}}
                                    {{>component/payment-item col="col-6 col-md-4 col-lg-3" title="bank btn"
                                    image="logo-bank/xl/btn.png"}}
                                    {{>component/payment-item col="col-6 col-md-4 col-lg-3" title="cimb niaga"
                                    image="logo-bank/xl/cimb.png"}}
                                    {{>component/payment-item col="col-6 col-md-4 col-lg-3" title="danamon"
                                    image="logo-bank/xl/danamon.png"}}
                                    {{>component/payment-item col="col-6 col-md-4 col-lg-3" title="permata bank"
                                    image="logo-bank/xl/permata.png"}}
                                </div>
                            </div>
                        </div>
                        <div class="spacing-sm">
                            <strong>Tunai di Gerai Retail</strong>
                            <div class="spacing-xs">
                                <div class="paymentList row">
                                    {{>component/payment-item col="col-6 col-md-4 col-lg-3" title="alfamart"
                                    image="logo-payment/xl/alfamart.png"}}
                                    {{>component/payment-item col="col-6 col-md-4 col-lg-3" title="indomaret"
                                    image="logo-payment/xl/indomaret.png"}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-right col-12 col-xl-3">
                    <div class="summary">
                        {{>cart/cta-co}}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- popup -->
    {{>cart/coupon-list-popup}}
    {{>cart/coupon-popup}}
    {{>cart/address-popup}}
    {{>popup-address}}
    {{>popup-address-edit}}
    <!-- popup -->
    {{>help}}
    {{>footer}}

    {{>js page="cart" popup=true countdown=true cart=true cta=true popaddress=true more=true select2=true
    selectshipping=true}}
    {{>component/countdown}}
</body>

</html>