<!DOCTYPE html>
<html lang="en">

{{> head page="cart" slick=true countdown=true}}

<body>
    {{> header/header}}
    <main role="main" class="main cart -fixed">
        <div class="container">
            <div class="breadcrumb">
                {{>breadcrumb title="Keranjang Saya"}}
            </div>
            <h2 class="title spacing-sm">
                <span>Keranjang Saya</span>
            </h2>
            <div class="cartWrap row spacing-sm">
                <div class="col-left col-12 col-xl-9">
                    <button class="button cartCheck" onclick="checkAllCart(this, all)">
                        <input type="checkbox" name="cartall" id="cartall" class="formCheck">
                        <span class="formCheckbox"></span>
                        <label for="cartall" class="titleMore">Pilih Semua</label>
                    </button>
                    <button class="button cartDel"><strong>Hapus</strong></button>
                    <!-- cart list -->
                    <div class="cartList spacing-sm">
                        <button class="button cartCheck" onclick="checkAllCart(this)">
                            <input type="checkbox" name="" class="formCheck " aria-label="Choose all from seller"
                                checked>
                            <span class="formCheckbox"></span>
                            <a href="seller.html" class="sellerLinkWrap">
                                <div class="sellerLinkImg border-sm">
                                    <img src="./asset/images/dummy/seller/seller2.png"
                                        alt="" width="25" height="25">
                                </div>
                                <div class="sellerName">PT. GODHONG PITU SONGO
                                    <span class="sellerLinkOrigin">Kab. Mojokerto</span>
                                </div>
                            </a>
                        </button>
                        {{>cart/item total=2 index_start=0 index_end=2 checked=true}}
                    </div>
                    <div class="cartList spacing-sm">
                        <button class="button cartCheck" onclick="checkAllCart(this)">
                            <input type="checkbox" name="" class="formCheck" aria-label="Choose all from seller">
                            <span class="formCheckbox"></span>
                            <a href="seller.html" class="sellerLinkWrap">
                                <div class="sellerLinkImg border-sm">
                                    <img src="./asset/images/seller.png" alt="" width="25" height="25">
                                </div>
                                <div class="sellerName">kibo_byinu
                                    <span class="sellerLinkOrigin">Depok</span>
                                </div>
                            </a>
                        </button>
                        {{>cart/item total=1 index_start=11 index_end=12}}
                    </div>
                    <!-- cart list -->
                    <h2 class="title spacing-xl">
                        <span>Wujudkan Wishlist Anda</span>
                    </h2>
                    <div class="cartWish productWrap row" id="sWish">
                        {{>component/product-item total=5 index_start=7 index_end=12 col="col-6 col-md-3 col-xl-2"
                        lazy=true more="Lihat Wishlist Saya >" cart=true}}
                    </div>
                </div>
                <div class="col-right col-12 col-xl-3">
                    {{>cart/summary}}
                </div>
            </div>

            <div class="titleWrap spacing-xl">
                <h2 class="title">
                    <span>Rekomendasi untuk Anda</span>
                </h2>
                <a href="product.html" class="titleLink">Lihat Semua Produk</a>
            </div>
            {{>template/product-list total=6 index_start=0 index_end=6 col="col-6 col-md-3 col-xl-2" lazy=true}}
        </div>
        <!-- cart cta mobile -->
        <div id="cartMob" class="summaryMob">
            {{>cart/cta}}
        </div>
        <div id="sumMob"></div>
        <!-- cart cta mobile -->
    </main>
    <!-- popup -->
    {{>cart/coupon-list-popup}}
    {{>cart/coupon-popup}}
    {{>cart/summary-popsheet}}
    <!-- popup -->
    {{>help}}
    {{>footer}}

    {{>js page="cart" slick=true popup=true countdown=true cart=true cta=true}}
    {{>component/countdown}}
    <script>
        $(document).ready(function () {
            /* slider wishlist */
            function createSlickWish() {
                $('#sWish').slick({
                    dots: false,
                    arrows: true,
                    infinite: false,
                    speed: 500,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    swipeToSlide: true,
                    autoplay: false,
                    autoplaySpeed: 2000,
                    mobileFirst: true,
                    responsive: [{
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 2,
                        }
                    },
                    {
                        breakpoint: 960,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1,
                        }
                    }
                    ]
                });
            }
            createSlickWish();
        });
    </script>

</body>

</html>