<!DOCTYPE html>
<html lang="en">

{{> head page="dashboard" sort=true datepicker=true}}

<body>
    {{> header/header login=true}}
    <main role="main" class="main dashboard">
        <div class="container">
            <div class="breadcrumb">
                {{>breadcrumb title="Dashboard" link="dashboard.html" subtitle="Akun Saya" subchildtitle="Profil Saya"}}
            </div>
            <div class="row dashboardRow">
                <div class="col-xl-3 dashboardNav desktop-only">
                    {{>dashboard/nav page="Profil saya"}}
                    <button class="button buttonLogout spacing-sm">
                        <span class="icon iconLogout"></span>
                        Keluar
                    </button>
                </div>
                <div class="col-xl-9 dashboardContent">
                    <h2 class="title">
                        <span>Akun Saya</span>
                    </h2>
                    <form action="#" class="dashboardSetting spacing-sm">
                        {{>dashboard/upload}}

                        {{>dashboard/edit}}

                    </form>
                </div>
            </div>
        </div>
    </main>

    {{>help}}
    {{>footer}}

    {{>js page="dashboard" sort=true select=true upload=true datepicker=true}}
    <script>
        $(function () {
            $('input[name="birth"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxDate: moment(),
                autoUpdateInput: false,
                showCustomRangeLabel: false,
                applyButtonClasses: 'dashboardDateBtn dashboardDateApply',
                cancelButtonClasses: 'dashboardDateBtn dashboardDateCancel',
                locale: {
                    cancelLabel: 'Batalkan',
                    applyLabel: 'Simpan',
                    format: 'DD/MM/YYYY'
                }
            }).on("apply.daterangepicker", function (e, picker) {
                picker.element.val(picker.startDate.format(picker.locale.format));
            }).on('show.daterangepicker', function (e, picker) {
                picker.container.addClass('dashboardDatePick');
            });
        });
    </script>

</body>

</html>