<!DOCTYPE html>
<html lang="en">

{{> head page="dashboard" sort=true}}

<body>
    {{> header/header login=true}}
    <main role="main" class="main dashboard chat">
        <div class="container">
            <div class="breadcrumb">
                {{>breadcrumb title="Dashboard" link="dashboard.html" subtitle="Kotak Masuk" subchildtitle="Chat"}}
            </div>
            <div class="row dashboardRow">
                <div class="col-xl-3 dashboardNav desktop-only">
                    {{>dashboard/nav page="Chat"}}
                    <button class="button buttonLogout spacing-sm">
                        <span class="icon iconLogout"></span>
                        Keluar
                    </button>
                </div>
                <div class="col-xl-9 dashboardContent">
                    <h2 class="title">
                        <span>Chat</span>
                    </h2>
                    <div class="row">
                        <div class="col-12 col-xl-4 chatCol chatLeft">
                            <div class="dashboardBox">
                                <div class="chatSetting chatWrap">
                                    <div class="chatSearch search">
                                        <button class="button icon iconSearch" aria-label="trigger search seller"
                                            onclick="triggerClose(this, '.chatSetting', '.chatSearch')"></button>
                                        <input type="text" value="" class="searchInput" aria-label="search seller"
                                            placeholder="Cari Penjual" inputmode="search">
                                    </div>
                                    <div class="chatFilter">
                                        <button class="button chatFilterBtn" aria-label="trigger filter"
                                            onclick="triggerClose(this, '.chatSetting', '.chatSearch')">
                                            <img src="./asset/images/dashboard/filter.png" alt="" width="36" height="36"
                                                loading="lazy">
                                        </button>
                                        {{>dashboard/sort type="chat"}}
                                    </div>
                                </div>
                                <div class="chatList">
                                    {{>dashboard/chat-item active=true}}
                                    {{>dashboard/chat-item}}
                                    {{>dashboard/chat-item}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 chatCol chatRight desktop-only">
                            <div id="chatDesk">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- chat on mobile -->
            <div id="chatMob">
                <div class="popsheet mobile -pChat">
                    <div class="dashboardBox popsheetWrap">
                        <div class="chatHead">
                            <div class="chatWrap">
                                <button class="button buttonBack mobile-only" aria-label="Back to previous page"
                                    onclick="closePopup('.popsheet')"><span class="icon iconArrow"></span></button>
                                <a href="seller.html" class="chatUser">
                                    <div class="userImg --seller">
                                        <img src="./asset/images/seller.png" alt="Ini Store" loading="lazy" width="34"
                                            height="34">
                                    </div>
                                    <div class="badge"></div>
                                </a>
                                <div class="chatContent">
                                    <a href="seller.html" class="titleBold">
                                        Ini Store
                                        <span class="tag tagBlue">Penjual</span>
                                    </a>
                                    <div class="chatTeaser">
                                        Terakhir aktif 11 menit yang lalu
                                    </div>
                                </div>
                            </div>
                            <button class="button chatMenu disDots" onclick="triggerActiveButton(this)"
                                aria-label="Other menu"></button>
                            <div class="popover chatMenuPop">
                                <ul class="popoverContent">
                                    <li>
                                        <button class="button chatMenuItem"
                                            onclick="triggerActiveButton(this, 'Diikuti', '+ Ikuti Toko')">Ikuti
                                            Toko</button>
                                    </li>
                                    <li>
                                        <button class="button chatMenuItem" onclick="triggerPopup('.-pReport')"
                                            aria-label="Report user">Laporkan Pengguna</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="chatBoard">
                            {{>dashboard/chat-board}}
                        </div>
                        <div class="chatPanel">
                            <form action="#" class="chatWrap">
                                <textarea class="formArea formInput" name="" cols="45" rows="1" inputmode="text"
                                    placeholder="Tulis pesan" aria-label="Type a message"></textarea>
                                <button class="button chatBtn" aria-label="Send chat" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" aria-hidden="true" data-reactid="1036">
                                        <line x1="22" y1="2" x2="11" y2="13"></line>
                                        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- popup -->
    {{>detail/report-popup}}
    <!-- popup -->
    {{>help}}
    {{>footer}}

    {{>js page="dashboard" chat=true sort=true select=true popup=true cta=true}}

</body>

</html>