<!DOCTYPE html>
<html lang="en">

{{> head page="dashboard" sort=true}}

<body>
    {{> header/header login=true}}
    <main role="main" class="main dashboard">
        <div class="container">
            <div class="breadcrumb">
                {{>breadcrumb title="Dashboard" link="dashboard.html" subtitle="Akun Saya" subchildtitle="Profil Saya"}}
            </div>
            <div class="row dashboardRow">
                <div class="col-xl-3 dashboardNav desktop-only">
                    {{>dashboard/nav page="Profil saya"}}
                    <button class="button dashboardLogout spacing-sm">
                        <span class="icon iconLogout"></span>
                        Keluar
                    </button>
                </div>
                <div class="col-xl-9 dashboardContent">
                    <h2 class="title">
                        <span>Akun Saya</span>
                    </h2>
                    <form action="#" class="dashboardSetting spacing-sm">
                        {{>dashboard/upload}}

                        {{>dashboard/edit}}
                        
                    </form>
                </div>
            </div>
        </div>
    </main>

    {{>help}}
    {{>footer}}

    {{>js page="dashboard" sort=true select=true upload=true}}

</body>

</html>