<!DOCTYPE html>
<html lang="en">

{{> head page="dashboard" select=true}}

<body>
    {{> header/header login=true}}
    <main role="main" class="main dashboard">
        <div class="container">
            <div class="breadcrumb">
                {{>breadcrumb title="Dashboard" link="dashboard.html" subtitle="Akun Saya"
                subchildtitle="Wishlist"}}
            </div>
            <div class="row dashboardWishlist dashboardRow">
                <div class="col-12 dashboardContent">
                    <h2 class="title">
                        <span>Wishlist</span>
                    </h2>
                    <div class="dashboardHead spacing-sm">
                        <span>12 Produk</span>
                        <div class="sortFilter">
                            <span class="sortFilterTitle">Urutkan</span>
                            {{>dashboard/sort type="chat"}}
                        </div>
                    </div>
                    <div class="wishlist productWrap row">
                        {{>component/product-item total=12 index_start=0 index_end=12 col="col-6 col-md-3 col-xl-2"
                        lazy=true cart=true}}
                    </div>
                </div>
            </div>
        </div>
    </main>

    {{>help}}
    {{>footer}}

    {{>js select=true}}

</body>

</html>