<!DOCTYPE html>
<html lang="en">

{{> head page="dashboard" sort=true}}

<body>
    {{> header/header login=true}}
    <main role="main" class="main dashboard">
        <div class="container">
            <div class="breadcrumb">
                {{>breadcrumb title="Dashboard" link="dashboard.html" subtitle="Kotak Masuk" subchildtitle="Diskusi"}}
            </div>
            <div class="row dashboardRow">
                <div class="col-xl-3 dashboardNav desktop-only">
                    {{>dashboard/nav page="Diskusi"}}
                    <button class="button dashboardLogout spacing-sm">
                        <span class="icon iconLogout"></span>
                        Keluar
                    </button>
                </div>
                <div class="col-xl-9 dashboardContent">
                    <h2 class="title">
                        <span>Diskusi</span>
                    </h2>
                    <div class="dashboardDis dis">
                        <div class="dashboardBox">
                            {{>dashboard/discussion-item love=true}}
                        </div>
                        <div class="dashboardBox">
                            {{>dashboard/discussion-item}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- popup -->
    {{>detail/report-popup}}
    <!-- popup -->
    {{>help}}
    {{>footer}}

    {{>js page="dashboard" sort=true popup=true more=true cta=true}}

</body>

</html>