<!DOCTYPE html>
<html lang="en">

{{> head page="dashboard"}}

<body>
    {{> header/header login=true}}
    <main role="main" class="main dashboard">
        <div class="container">
            <div class="breadcrumb">
                {{>breadcrumb title="Dashboard" link="dashboard.html" subtitle="Akun Saya"
                subchildtitle="Wishlist"}}
            </div>
            <div class="row dashboardWishlist dashboardRow">
                <div class="col-12 dashboardContent">
                    <h2 class="title">
                        <span>Wishlist</span>
                    </h2>
                    <div class="spacing-sm text-center">
                        <img src="./asset/images/notif/wishlist.png" alt="" width="150" height="150">
                        <h2 class="titleBold spacing-sm">Wishlist Anda Kosong</h2>
                        <div>
                            Ups, wishlist kamu kosong. Temukan produk-produk menarik hanya di SMEXPO
                        </div>
                        <div class="spacing-md">
                            <a href="index.html" class="dashboardCta button buttonRect buttonRectBlue">Mulai Belanja</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {{>help}}
    {{>footer}}

    {{>js}}

</body>

</html>