<!DOCTYPE html>
<html lang="en">

{{> head page="dashboard" sort=true select=true}}

<body>
    {{> header/header login=true}}
    <main role="main" class="main dashboard">
        <div class="container">
            <div class="breadcrumb">
                {{>breadcrumb title="Dashboard" link="dashboard-menu.html" subtitle="Akun Saya" subchildtitle="Rekening
                Bank"}}
            </div>
            <div class="row dashboardRow">
                <div class="col-xl-3 dashboardNav desktop-only">
                    {{>dashboard/nav page="Rekening bank"}}
                    <button class="button dashboardLogout spacing-sm">
                        <span class="icon iconLogout"></span>
                        Keluar
                    </button>
                </div>
                <div class="col-xl-9 dashboardContent">
                    <h2 class="title">
                        <span>Rekening Bank</span>
                    </h2>
                    <div class="dashboardHead spacing-sm">
                        <p>Anda hanya dapat mendaftarkan maksimal 3 nomor rekening </p>
                        <button class="button buttonRect buttonRectBlue dashboardCta" type="button"
                            onclick="triggerPopup('.-pBank')">
                            + Tambah Rekening
                        </button>
                    </div>
                    <table class="dashboardTable">
                        <thead>
                            <tr>
                                <th scope="col"><span>Nama Bank</span></th>
                                <th scope="col">Nomor Rekening</th>
                                <th scope="col">Atas Nama</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="Nama Bank">Bank Mandiri</td>
                                <td data-label="Nomor Rekening">4780 2239 5450</td>
                                <td data-label="Atas Nama">Fulan bin Fulan</td>
                            </tr>
                            <tr>
                                <td data-label="Nama Bank">Bank BCA <br>
                                    (Bank Central Asia)</td>
                                <td data-label="Nomor Rekening">4780 2239 5450</td>
                                <td data-label="Atas Nama">Fulan bin Fulan</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <!-- popup -->
    {{>dashboard/bank-popup}}
    <!-- popup -->
    {{>help}}
    {{>footer}}

    {{>js page="dashboard" sort=true popup=true select=true}}

</body>

</html>