<!DOCTYPE html>
<html lang="en">

{{> head page="dashboard" sort=true select=true}}

<body>
    {{> header/header login=true}}
    <main role="main" class="main dashboard">
        <div class="container">
            <div class="breadcrumb">
                {{>breadcrumb title="Dashboard" link="dashboard.html" subtitle="Pesanan Saya" subchildtitle="Semua"}}
            </div>
            <div class="row dashboardRow">
                <div class="col-xl-3 dashboardNav desktop-only">
                    {{>dashboard/nav page="Semua"}}
                    <button class="button dashboardLogout spacing-sm">
                        <span class="icon iconLogout"></span>
                        Keluar
                    </button>
                </div>
                <div class="col-xl-9 dashboardContent">
                    <h2 class="title">
                        <span>Pesanan Saya</span>
                    </h2>
                    <div class="dashboardHead dashboardOrderHead spacing-sm row">
                        <div class="dashboardOrderSearch col-md-4">
                            <div class="search">
                                <button class="button icon iconSearch" aria-label="search transaction"></button>
                                <input type="text" value="" class="searchInput" aria-label="search order"
                                    placeholder="Cari Transaksimu di Sini" inputmode="search">
                            </div>
                        </div>
                        <div class="sortFilter col-md-4">
                            {{>dashboard/sort type="product"}}
                        </div>
                        <div class="dashboardDate col-md-4">
                            <label class="formLabel sr-only" for="transdate">Pick transaction date</label>
                            <div class="formWrap">
                                <span class="icon iconCal"></span>
                                <input type="text" class="formInput" name="transdate" id="transdate" value=""
                                    placeholder="Pilih tanggal transaksi">
                            </div>
                        </div>
                    </div>
                    <div class="dashboardOrder">
                        {{>dashboard/order-nav page="Semua"}}

                        <div class="orderList">
                            <div class="dashboardBox orderItem">
                                {{>dashboard/order-item state="Selesai" color="Green"}}
                            </div>
                            <div class="dashboardBox orderItem">
                                {{>dashboard/order-item state="Belum bayar" color="Grey"}}
                            </div>
                            <div class="dashboardBox orderItem">
                                {{>dashboard/order-item state="Dibatalkan" color="Red"}}
                            </div>
                            <div class="dashboardBox orderItem">
                                {{>dashboard/order-item state="Sedang dikemas" color="Blue"}}
                            </div>
                            <div class="dashboardBox orderItem">
                                {{>dashboard/order-item state="Dikirim" color="Blue"}}
                            </div>
                        </div>
                    </div>
                    <ul class="paging">
                        {{>paging}}
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <!-- popup -->
    {{>dashboard/order-popup}}
    <!-- popup -->
    {{>help}}
    {{>footer}}

    {{>js page="dashboard" sort=true select=true popup=true cta=true more=true}}

</body>

</html>