<!DOCTYPE html>
<html lang="en">

{{> head page="static"}}

<body>
    {{> header/header}}
    <main role="main" class="main static">
        <div class="container">
            <div class="breadcrumb">
                {{>breadcrumb title="FAQ"}}
            </div>
            <div class="row staticFaq staticContent spacing-sm">
                <div class="col-lg-10 col-xl-9">
                    <h2 class="title">FAQ</h2>
                    <div class="staticFaq">
                        <div class="staticFaqItem spacing-xs -jsShowPar">
                            <button class="button staticFaqTrig -jsShowToggle" onclick="showMore(this)">
                                <div class="titleMore">Lorem ipsum dolor sit amet consectetur. Ut diam velit nec est.
                                    Mauris
                                    dui vestibulum duis magna tellus turpis leo.</div>
                                <span class="icon iconChevron"></span>
                            </button>
                            <div class="staticFaqWrap -jsShowTg">
                                <div class="staticFaqContent">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. Nulla libero egestas urna mauris mattis
                                        volutpat ornare sed. Dignissim malesuada laoreet egestas turpis dictum. Lectus
                                        netus
                                        egestas tortor cursus. Tellus feugiat etiam posuere nisi justo malesuada.
                                        Maecenas
                                        adipiscing gravida et at malesuada.
                                    </p>
                                    <ul>
                                        <li>Porttitor nisl vitae cras neque auctor sit.</li>
                                        <li> Enim
                                            odio aliquet pellentesque tempus id et. </li>
                                        <li>Amet turpis imperdiet scelerisque quisque.
                                            In consectetur donec purus amet diam tristique. </li>
                                        <li>Bibendum at in tristique tempor
                                            facilisi et. </li>
                                        <li>Tincidunt quis pellentesque est quisque pulvinar mauris elit et.
                                        </li>
                                        <li>Faucibus id pellentesque sit nisl. </li>
                                        <li>Tristique tempor posuere eu turpis aliquam a dui.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="staticFaqItem spacing-xs -jsShowPar">
                            <button class="button staticFaqTrig -jsShowToggle" onclick="showMore(this)">
                                <div class="titleMore">Lorem ipsum dolor sit amet consectetur. Ut diam velit nec est.
                                    Mauris
                                    dui vestibulum duis magna tellus turpis leo.</div>
                                <span class="icon iconChevron"></span>
                            </button>
                            <div class="staticFaqWrap -jsShowTg">
                                <div class="staticFaqContent">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. Nulla libero egestas urna mauris mattis
                                        volutpat ornare sed. Dignissim malesuada laoreet egestas turpis dictum. Lectus
                                        netus
                                        egestas tortor cursus. Tellus feugiat etiam posuere nisi justo malesuada.
                                        <a href="#">Mauris dui vestibulum</a>  et at malesuada.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="staticFaqItem spacing-xs -jsShowPar">
                            <button class="button staticFaqTrig -jsShowToggle" onclick="showMore(this)">
                                <div class="titleMore">Lorem ipsum dolor sit amet consectetur. Ut diam velit nec est.
                                    Mauris
                                    dui vestibulum duis magna tellus turpis leo.</div>
                                <span class="icon iconChevron"></span>
                            </button>
                            <div class="staticFaqWrap -jsShowTg">
                                <div class="staticFaqContent">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. Nulla libero egestas urna mauris mattis
                                        volutpat ornare sed. Dignissim malesuada laoreet egestas turpis dictum. Lectus
                                        netus
                                        egestas tortor cursus. Tellus feugiat etiam posuere nisi justo malesuada.
                                        Maecenas
                                        adipiscing gravida et at malesuada.
                                    </p>
                                    <ol>
                                        <li>Porttitor nisl vitae cras neque auctor sit.</li>
                                        <li> Enim
                                            odio aliquet pellentesque tempus id et. </li>
                                        <li>Amet turpis imperdiet scelerisque quisque.
                                            In consectetur donec purus amet diam tristique. </li>
                                        <li>Bibendum at in tristique tempor
                                            facilisi et. </li>
                                        <li>Tincidunt quis pellentesque est quisque pulvinar mauris elit et.
                                        </li>
                                        <li>Faucibus id pellentesque sit nisl. </li>
                                        <li>Tristique tempor posuere eu turpis aliquam a dui.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="staticFaqItem spacing-xs -jsShowPar">
                            <button class="button staticFaqTrig -jsShowToggle" onclick="showMore(this)">
                                <div class="titleMore">Lorem ipsum dolor sit amet consectetur. Ut diam velit nec est.
                                    Mauris
                                    dui vestibulum duis magna tellus turpis leo.</div>
                                <span class="icon iconChevron"></span>
                            </button>
                            <div class="staticFaqWrap -jsShowTg">
                                <div class="staticFaqContent">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. Nulla libero egestas urna mauris mattis
                                        volutpat ornare sed. Dignissim malesuada laoreet egestas turpis dictum. Lectus
                                        netus
                                        egestas tortor cursus. Tellus feugiat etiam posuere nisi justo malesuada.
                                        Maecenas
                                        adipiscing gravida et at malesuada.
                                    </p>
                                    <ul>
                                        <li>Porttitor nisl vitae cras neque auctor sit.</li>
                                        <li> Enim
                                            odio aliquet pellentesque tempus id et. </li>
                                        <li>Amet turpis imperdiet scelerisque quisque.
                                            In consectetur donec purus amet diam tristique. </li>
                                        <li>Bibendum at in tristique tempor
                                            facilisi et. </li>
                                        <li>Tincidunt quis pellentesque est quisque pulvinar mauris elit et.
                                        </li>
                                        <li>Faucibus id pellentesque sit nisl. </li>
                                        <li>Tristique tempor posuere eu turpis aliquam a dui.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="staticFaqItem spacing-xs -jsShowPar">
                            <button class="button staticFaqTrig -jsShowToggle" onclick="showMore(this)">
                                <div class="titleMore">Lorem ipsum dolor sit amet consectetur. Ut diam velit nec est.
                                    Mauris
                                    dui vestibulum duis magna tellus turpis leo.</div>
                                <span class="icon iconChevron"></span>
                            </button>
                            <div class="staticFaqWrap -jsShowTg">
                                <div class="staticFaqContent">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. Nulla libero egestas urna mauris mattis
                                        volutpat ornare sed. Dignissim malesuada laoreet egestas turpis dictum. Lectus
                                        netus
                                        egestas tortor cursus. Tellus feugiat etiam posuere nisi justo malesuada.
                                        <a href="#">Mauris dui vestibulum</a>  et at malesuada.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="staticFaqItem spacing-xs -jsShowPar">
                            <button class="button staticFaqTrig -jsShowToggle" onclick="showMore(this)">
                                <div class="titleMore">Lorem ipsum dolor sit amet consectetur. Ut diam velit nec est.
                                    Mauris
                                    dui vestibulum duis magna tellus turpis leo.</div>
                                <span class="icon iconChevron"></span>
                            </button>
                            <div class="staticFaqWrap -jsShowTg">
                                <div class="staticFaqContent">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. Nulla libero egestas urna mauris mattis
                                        volutpat ornare sed. Dignissim malesuada laoreet egestas turpis dictum. Lectus
                                        netus
                                        egestas tortor cursus. Tellus feugiat etiam posuere nisi justo malesuada.
                                        Maecenas
                                        adipiscing gravida et at malesuada.
                                    </p>
                                    <ol>
                                        <li>Porttitor nisl vitae cras neque auctor sit.</li>
                                        <li> Enim
                                            odio aliquet pellentesque tempus id et. </li>
                                        <li>Amet turpis imperdiet scelerisque quisque.
                                            In consectetur donec purus amet diam tristique. </li>
                                        <li>Bibendum at in tristique tempor
                                            facilisi et. </li>
                                        <li>Tincidunt quis pellentesque est quisque pulvinar mauris elit et.
                                        </li>
                                        <li>Faucibus id pellentesque sit nisl. </li>
                                        <li>Tristique tempor posuere eu turpis aliquam a dui.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="staticFaqItem spacing-xs -jsShowPar">
                            <button class="button staticFaqTrig -jsShowToggle" onclick="showMore(this)">
                                <div class="titleMore">Lorem ipsum dolor sit amet consectetur. Ut diam velit nec est.
                                    Mauris
                                    dui vestibulum duis magna tellus turpis leo.</div>
                                <span class="icon iconChevron"></span>
                            </button>
                            <div class="staticFaqWrap -jsShowTg">
                                <div class="staticFaqContent">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. Nulla libero egestas urna mauris mattis
                                        volutpat ornare sed. Dignissim malesuada laoreet egestas turpis dictum. Lectus
                                        netus
                                        egestas tortor cursus. Tellus feugiat etiam posuere nisi justo malesuada.
                                        Maecenas
                                        adipiscing gravida et at malesuada.
                                    </p>
                                    <ul>
                                        <li>Porttitor nisl vitae cras neque auctor sit.</li>
                                        <li> Enim
                                            odio aliquet pellentesque tempus id et. </li>
                                        <li>Amet turpis imperdiet scelerisque quisque.
                                            In consectetur donec purus amet diam tristique. </li>
                                        <li>Bibendum at in tristique tempor
                                            facilisi et. </li>
                                        <li>Tincidunt quis pellentesque est quisque pulvinar mauris elit et.
                                        </li>
                                        <li>Faucibus id pellentesque sit nisl. </li>
                                        <li>Tristique tempor posuere eu turpis aliquam a dui.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="staticFaqItem spacing-xs -jsShowPar">
                            <button class="button staticFaqTrig -jsShowToggle" onclick="showMore(this)">
                                <div class="titleMore">Lorem ipsum dolor sit amet consectetur. Ut diam velit nec est.
                                    Mauris
                                    dui vestibulum duis magna tellus turpis leo.</div>
                                <span class="icon iconChevron"></span>
                            </button>
                            <div class="staticFaqWrap -jsShowTg">
                                <div class="staticFaqContent">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur. Nulla libero egestas urna mauris mattis
                                        volutpat ornare sed. Dignissim malesuada laoreet egestas turpis dictum. Lectus
                                        netus
                                        egestas tortor cursus. Tellus feugiat etiam posuere nisi justo malesuada.
                                        <a href="#">Mauris dui vestibulum</a>  et at malesuada.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{>help}}
    {{>footer}}

    {{>js page="static" more=true}}

</body>

</html>