<!DOCTYPE html>
<html lang="en">

{{> head page="home"}}

<body>
    {{!> header/header page="Home"}}
    {{> header/header page="Home" login=true}}
    {{!> header/header page="Home" login="seller"}}
    <main role="main" class="main">
        <div class="row no-gutters">
            {{>component/headline}}
        </div>
        <div class="container">
            <h2 class="title text-center spacing-lg">
                <span>Katalog Pilihan</span>
            </h2>
            {{>template/catalog}}
        </div>
        <div class="row no-gutters flash spacing-xl">
            <div class="container">
                <div class="titleWrap flashTitleWrap">
                    <h2 class="flashTitle">
                        <img src="./asset/images/icon-flash.png" alt="" width="31" height="31">
                        Flash Sale
                    </h2>
                    <div class="flashCounter">
                        Berakhir Dalam
                        <div class="countdown"></div>
                    </div>
                    <a href="#" class="titleLink">Lihat semua</a>
                </div>
                {{>template/flash-sale total=10 index_start=0 index_end=10 remain=true col="col-12 col-md-3 col-xl-2"
                lazy=true}}
            </div>
        </div>
        <div class="container">
            <div class="titleWrap spacing-xl">
                <h2 class="title">
                    <span>Produk Terkini</span>
                </h2>
                <a href="product.html" class="titleLink">Lihat Semua Produk</a>
            </div>
            {{>template/product-list total=12 index_start=0 index_end=12 col="col-6 col-md-3 col-xl-2" lazy=true}}

            <div class="banner spacing-md">
                {{>template/banner spacing="xs" col="col-12 col-md-6" lazy=true}}
            </div>

            <h2 class="title spacing-xl">
                <span>Toko Resmi</span>
            </h2>
            <div class="official spacing-sm">
                <div class="officialTitleWrap col-12 col-xl-3">
                    <div class="officialTitle">Official Store</div>
                    <div class="officialTeaser">Nikmati membeli barang asli dari berbagai toko resmi</div>
                    <a href="#" class="buttonRect buttonRectGrad">Lihat semua</a>
                </div>
                {{>template/seller-list total=5 index_start=0 index_end=5 col="col-6 col-md-3 col-xl-2" lazy=true}}
            </div>

            <div class="titleWrap spacing-xl">
                <h2 class="title">
                    <span>Rekomendasi Produk</span>
                </h2>
                <a href="product.html" class="titleLink">Lihat Semua Produk</a>
            </div>
            {{>template/product-list total=6 index_start=6 index_end=12 col="col-6 col-md-3 col-xl-2" lazy=true}}

            <div class="titleWrap spacing-xl">
                <h2 class="title">
                    <span>Produk Terlaris</span>
                </h2>
                <a href="product.html" class="titleLink">Lihat Semua Produk</a>
            </div>
            {{>template/product-list total=6 index_start=2 index_end=8 col="col-6 col-md-3 col-xl-2" lazy=true}}

            <div class="spacing-xl text-center">
                <button class="button buttonRect buttonRectGrad">Muat Lebih Banyak</button>
            </div>
        </div>
    </main>

    {{>help}}
    {{>footer}}

    {{>js page="home" slick=true countdown=true}}
    {{>component/countdown}}

</body>

</html>