<!DOCTYPE html>
<html lang="en">

{{> head page="notif" countdown=true}}

<body>
    {{> header/header}}
    <main role="main" class="main notif">
        <div class="container">
            <div class="breadcrumb">
                {{>breadcrumb title="Keranjang Saya" link="cart.html" subtitle="Check Out" subchildtitle="Status
                Pesanan"}}
            </div>
            <div class="row spacing-sm text-center">
                <div class="notifContent col-lg-11 col-xl-9">
                    <h2 class="title">Segera Lakukan Pembayaran</h2>
                    <div class="spacing-xs">
                        ID pemesananan : 123456584
                    </div>
                    <div class="spacing-xs">
                        Kode pembayaran: 12345658443239423
                    </div>
                    <div class="notifPendingImg">
                        <img src="./asset/images/notif/pending.png" alt="" width="150" height="150">
                    </div>
                    jumlah yang harus dibayarkan
                    <div class="title">
                        Rp 80.000
                    </div>
                    <div>
                        Silakan cek email Anda untuk melihat detil tata cara pembayaran. <br>
                        Pastikan “Payment Code” sama ketika melakukan pembayaran
                    </div>
                    <div class="notifPending spacing-sm">
                        Batas waktu pembayaran
                        <div class="notifCountdown spacing-xs">
                            <div class="countdown"></div>
                        </div>
                    </div>
                    <div class="spacing-xs">
                        Terima kasih sudah berbelanja di SMEXPO
                    </div>
                    <div class="notifCta spacing-sm">
                        <a href="index.html" class="buttonRect buttonRectGrad">Kembali</a>
                        <button class="button buttonRect buttonRectBlue">Cek Status Pembayaran</button>
                    </div>
                </div>
            </div>
    </main>
    {{>help}}
    {{>footer}}

    {{>js page="notif" countdown=true}}
    {{>component/countdown}}

</body>

</html>