<!DOCTYPE html>
<html lang="en">

{{> head page="notif"}}

<body>
    {{> header/header}}
    <main role="main" class="main notif">
        <div class="container">
            <div class="breadcrumb">
                {{>breadcrumb title="Keranjang Saya" link="cart.html" subtitle="Check Out" subchildtitle="Status
                Pesanan"}}
            </div>
            <div class="row spacing-md text-center">
                <div class="notifContent col-lg-11 col-xl-9">
                    <img src="./asset/images/notif/fail.png" alt="" width="150" height="150">
                    <h2 class="title spacing-sm">Pesanan Anda Gagal</h2>
                    <div class="spacing-xs">
                        Terjadi kesalahan. Silakan ulangi lagi pesanan Anda.
                    </div>
                    <div class="spacing-md">
                        <a href="cart.html" class="button buttonRect buttonRectGrad">Coba Lagi</a>
                    </div>
                </div>
            </div>
    </main>
    {{>help}}
    {{>footer}}

    {{>js page="notif"}}

</body>

</html>