<!DOCTYPE html>
<html lang="en">

{{> head page="catalog" sort=true}}

<body>
    {{> header/header page="Agrobisnis"}}
    <main role="main" class="main">
        <div class="container">
            <div class="breadcrumb">
                {{>breadcrumb title="Agrobisnis"}}
            </div>
            <div class="row catalog">
                <div class="catalogFilterWrap container mobile-only">
                    <button class="button catalogFilter" aria-label="Filter Catalog" onclick="showFilter()">
                        <span class="sortFilterTitle">Filter</span><img src="./asset/images/icon-filter.png" alt=""
                            width="16" height="16"></button>
                </div>
                <div class="col-xl-3 catalogSort mobile" id="sortmob">
                    <div class="mobile-only">
                        <div class="titleWrap">
                            <div class="title">Filter</div>
                            <button class="button catalogClose" aria-label="Close filter" onclick="hideFilter()">
                                <span class="icon iconClose"></span>
                            </button>
                        </div>
                        {{>catalog/sort type="filter-mobile"}}
                    </div>
                    {{>catalog/sort type="categ"}}
                    {{>catalog/sort type="loc"}}
                    {{>catalog/sort type="price"}}
                    <div class="sortCta">
                        <button class="button buttonRect buttonRectWhite">
                            Reset
                        </button>
                        <button class="button buttonRect buttonRectBlue">
                            Terapkan
                        </button>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="catalogTitleWrap">
                        <h2 class="catalogTitle">
                            hasil pencarian <span>‘tas laptop’</span>
                        </h2>
                        <div class="desktop-only">
                            <div class="sortFilter ">
                                <span class="sortFilterTitle">Filter</span>
                                {{>catalog/sort type="filter"}}
                            </div>
                        </div>
                    </div>
                    <div class="catalogList">
                        <div class="productWrap row">
                            {{>component/product-item total=8 index_start=0 index_end=8 col="col-6 col-md-3 col-xl-3"}}
                            {{>component/product-item total=8 index_start=4 index_end=12 col="col-6 col-md-3 col-xl-3"
                            lazy=true}}
                        </div>
                        <ul class="paging">
                            {{>paging}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {{>help}}
    {{>footer}}

    {{>js page="catalog" sort=true select=true}}
    <script>
        $(document).ready(function () {
            setMaxheight()
        })
    </script>

</body>

</html>