<!DOCTYPE html>
<html lang="en">

{{> head page="seller" sort=true}}

<body>
    {{> header/header}}
    <main role="main" class="main">
        <div class="container">
            <div class="breadcrumb">
                {{>breadcrumb title="kibo_byinu"}}
            </div>
            <div class="seller sellerCard row">
                {{>seller/card total=1 index_start=0 index_end=1}}
            </div>
            <div class="sellerNav spacing-md">
                <div class="sellerNavWrap">
                    {{>seller/link active="Semua Produk"}}
                </div>
                <div class="sellerSearch">
                    <form action="#" class="search">
                        <button class="button icon iconSearch" aria-label="search"></button>
                        <input type="text" name="q" value="" class="searchInput" aria-label="search"
                            placeholder="cari produk di Kibo_byinu Shop" inputmode="search">
                    </form>
                </div>
            </div>
            <div class="row catalog">
                <div class="catalogFilterWrap container mobile-only">
                    <button class="button catalogFilter" aria-label="Filter Catalog" onclick="showFilter()">
                        <span class="sortFilterTitle">Filter</span><img src="./asset/images/icon-filter.png" alt=""
                            width="16" height="16"></button>
                </div>
                <div class="col-xl-3 catalogSort mobile" id="sortmob">
                    <div class="mobile-only">
                        <div class="titleWrap">
                            <div class="title">Filter</div>
                            <button class="button catalogClose" aria-label="Close filter" onclick="hideFilter()">
                                <span class="icon iconClose"></span>
                            </button>
                        </div>
                    </div>
                    {{>seller/sort total=6 index_start=0 index_end=6}}
                </div>
                <div class="col-xl-9">
                    <div class="catalogTitleWrap">
                        <div class="catalogTitle">
                            hasil pencarian <span>‘tas laptop’</span>
                        </div>
                    </div>
                    <div class="catalogList">
                        <div class="productWrap row">
                            {{>component/product-item total=8 index_start=0 index_end=8 col="col-6 col-md-3 col-xl-3"}}
                            {{>component/product-item total=8 index_start=4 index_end=12 col="col-6 col-md-3 col-xl-3"
                            lazy=true}}
                        </div>
                        <ul class="paging">
                            {{>paging}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {{>help}}
    {{>footer}}

    {{>js page="seller" sort=true}}
    <script>
        $(document).ready(function () {
            setMaxheight()
        })
    </script>

</body>

</html>