<!DOCTYPE html>
<html lang="en">

{{> head page="static"}}

<body>
    {{> header/header}}
    <main role="main" class="main static">
        <div class="container">
            <div class="breadcrumb">
                {{>breadcrumb title="Pertamina Care"}}
            </div>
            <div class="row staticContent spacing-sm">
                <div class="col-lg-3 catalogSort">
                    <div class="sortBox sortCategBox">
                        <div class="sortTarget">
                            <div class="sortItem">
                                <a href="#" class="sortLink active">
                                    Pertamina Care
                                </a>
                            </div>
                            <div class="sortItem">
                                <a href="#" class="sortLink">
                                    Syarat dan Ketentuan
                                </a>
                            </div>
                            <div class="sortItem">
                                <a href="#" class="sortLink">
                                    Kebijakan Privasi
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="staticAbout col-lg-9">
                    <h1 class="title">Pertamina Care</h1>
                    <div class="spacing-sm">
                        <p>Lorem <strong>ipsum dolor sit amet</strong>, consectetur adipiscing elit. Phasellus
                            hendrerit vel arcu in lobortis. Mauris lobortis tortor nec rutrum viverra. Aliquam lobortis
                            dolor
                            quis tellus dictum, non lacinia metus hendrerit. Donec fermentum sollicitudin ligula
                            venenatis
                            pulvinar. Nullam sit amet quam accumsan, cursus lacus in, vestibulum risus. <em>Cras vel dui
                                et
                                ipsum elementum eleifend</em>. <a href="https://www.google.com" target="_blank"
                                rel="noopener">Ini link</a>, blandit id mi id, ultricies vestibulum eros. Praesent
                            mollis
                            dignissim purus, et elementum ante dictum sagittis. Proin a lobortis urna. Maecenas in
                            varius enim.
                            Curabitur vitae mauris malesuada, consectetur urna at, euismod eros. Morbi elementum
                            fringilla ante,
                            non convallis arcu lobortis eu. Vivamus vel elit pretium, accumsan neque a, feugiat sapien.
                        </p>
                        <h2>Heading 2</h2>
                        <p>Nulla eros nulla, malesuada nec orci sed, posuere ultricies odio. Nulla eget eros enim. Nunc
                            semper,
                            magna vel sollicitudin pellentesque, mauris sapien ornare nibh, vitae tristique nisi felis
                            vitae
                            quam. Maecenas id efficitur lectus. Nulla molestie molestie tincidunt. Phasellus sed purus
                            efficitur
                            orci ornare luctus. Fusce rhoncus tellus non efficitur luctus. Morbi euismod velit sit amet
                            vestibulum consequat. Fusce vitae cursus tortor. Morbi sed eros lectus. In sollicitudin
                            accumsan
                            mollis. Nunc non est hendrerit, blandit tortor sit amet, maximus nisl.</p>
                        <h3>Heading 3</h3>
                        <p>Phasellus aliquam est id nunc tincidunt, porta bibendum elit maximus. Cras aliquet tempus
                            maximus.
                            Nam condimentum justo dapibus imperdiet efficitur. Donec eget neque semper, dapibus odio
                            porta,
                            imperdiet neque. Quisque luctus dictum dictum. Curabitur dapibus, dui id faucibus convallis,
                            lacus
                            lacus tincidunt ligula, sit amet porta elit purus vel felis. Vestibulum elementum finibus
                            est, ut
                            tempus neque. Aliquam laoreet libero eget urna egestas, ac vehicula lorem hendrerit. Aenean
                            at lacus
                            rhoncus, vulputate lacus sed, tempor orci. Etiam sed tellus sed odio tempus luctus non
                            eleifend
                            metus. Vivamus euismod leo vitae pharetra sodales. In lacinia eros non luctus ornare.
                            Integer id
                            volutpat nulla.</p>
                        <h4>Heading 4</h4>
                        <p>In pharetra orci at lobortis fringilla. Integer in consectetur purus. Sed sed ultrices quam,
                            eget
                            porta elit. Suspendisse ac nulla eu tortor sodales imperdiet sed vel enim. Suspendisse
                            potenti. Sed
                            vel erat sed metus tristique iaculis in vel nisl. Aenean neque arcu, fermentum sit amet quam
                            vel,
                            tincidunt tristique mi. Sed pulvinar fringilla quam et facilisis. Aenean gravida congue dui,
                            vitae
                            mattis velit semper sed. Nam euismod dapibus ultricies.</p>
                        <p>Phasellus congue leo vel eros tincidunt viverra. Cras pellentesque diam pulvinar mi hendrerit
                            pharetra. Vivamus eleifend est sit amet tellus imperdiet, id convallis eros fermentum. Proin
                            in
                            luctus tellus, ac euismod turpis. Sed iaculis sed ante id vehicula. Lorem ipsum dolor sit
                            amet,
                            consectetur adipiscing elit. Praesent placerat accumsan nisi, vitae congue libero dignissim
                            quis.
                            Nullam a sapien in lacus viverra venenatis in vel enim. Proin ante tortor, porttitor eu
                            consequat
                            id, auctor a dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                            ac
                            turpis egestas. Pellentesque nisi lacus, iaculis id venenatis eu, tempor a erat.</p>
                        <p>Aliquam et egestas lorem. Integer dignissim magna mi, in laoreet nisl gravida sit amet.
                            Mauris ut
                            malesuada quam. Morbi iaculis eros odio, a finibus augue sollicitudin id. Proin pretium
                            porttitor
                            laoreet. Ut at libero nunc. Proin egestas nec ex vel finibus. Ut sit amet mauris commodo,
                            feugiat
                            est id, viverra est. Aenean faucibus fringilla sem vitae congue. Integer faucibus tincidunt
                            nunc sed
                            maximus.</p>
                        <p class="text-center"><img src="./asset/images/dummy/photo/review-full.png" alt=""
                                loading="lazy" width="337" height="449"></p>
                        <p>Pellentesque sed nulla pretium, tincidunt risus nec, bibendum dolor. Quisque et eros tellus.
                            Etiam
                            viverra ligula sit amet egestas luctus. Cras eu leo viverra, euismod nulla vel, elementum
                            nibh. Sed
                            lobortis varius tincidunt. Vivamus sagittis libero felis, at pretium arcu porta sed. Quisque
                            finibus
                            pulvinar risus. Duis scelerisque nulla non molestie sagittis. Aenean elementum, quam nec
                            aliquet
                            feugiat, est lacus imperdiet nibh, ac viverra nisi velit sit amet libero. Phasellus euismod
                            mauris
                            eu tellus auctor, ullamcorper maximus mi consequat.</p>
                        <p>Pellentesque sit amet pretium ex. Donec luctus ac elit vitae convallis. Nam iaculis enim
                            vitae justo
                            hendrerit, non elementum ipsum convallis. Proin commodo, velit facilisis dictum laoreet,
                            nulla elit
                            placerat enim, ac imperdiet mauris diam vel mauris. Nulla ut felis vitae mi iaculis rhoncus
                            quis in
                            metus. Cras interdum diam quam, in ultricies nunc condimentum vel. Ut odio lectus,
                            ullamcorper sed
                            nisi rutrum, rhoncus pretium enim. In sit amet lorem imperdiet, sodales nunc ut, vestibulum
                            eros. In
                            eu ipsum ut odio mattis accumsan posuere dignissim augue. Maecenas vel tincidunt massa.</p>
                        <p>Ut rutrum facilisis mauris, id sagittis magna vulputate in. Etiam sit amet mollis risus.
                            Aenean id mi
                            sit amet nulla imperdiet tincidunt. Nunc tincidunt, tellus ullamcorper posuere tempus, nibh
                            nisl
                            semper ligula, in rhoncus mi magna vel justo. Aenean sem tellus, convallis tempor rhoncus a,
                            condimentum a arcu. Maecenas vestibulum mollis turpis, auctor blandit metus efficitur eget.
                            Morbi
                            vel egestas ex. Pellentesque sollicitudin vestibulum pellentesque. Ut tristique quam eget
                            sem
                            auctor, venenatis ultrices justo viverra. Aenean ut tincidunt erat.</p>
                        <p>Curabitur tristique nibh non rutrum mollis. Vestibulum lectus erat, sollicitudin viverra
                            dignissim
                            ac, facilisis ac purus. Donec aliquam bibendum dolor eget convallis. Curabitur tortor
                            mauris,
                            fringilla condimentum laoreet eu, semper ut neque. Phasellus id quam quis elit placerat
                            scelerisque
                            eget vel velit. Phasellus massa nibh, porttitor at feugiat in, interdum sit amet mauris.
                            Nullam
                            ullamcorper ligula sed condimentum porta. Aenean tempor pellentesque ornare. Suspendisse
                            bibendum
                            eget dolor sed suscipit. Fusce sit amet orci ac nunc bibendum mollis vel quis sem.
                            Vestibulum
                            vulputate luctus dignissim.</p>
                        <ul>
                            <li>Quisque ultricies sodales est, sed rhoncus ligula elementum vel. Donec quis consectetur
                                risus.
                                Donec ut rhoncus nisl. Suspendisse tincidunt quam a erat tincidunt rhoncus. Ut lectus
                                sem,
                                viverra in pharetra ut, lobortis non dui.</li>
                            <li>Quisque ultricies sodales est, sed rhoncus ligula elementum vel. Donec quis consectetur
                                risus.
                                Donec ut rhoncus nisl. Suspendisse tincidunt quam a erat tincidunt rhoncus. Ut lectus
                                sem,
                                viverra in pharetra ut, lobortis non dui.</li>
                            <li>Quisque ultricies sodales est, sed rhoncus ligula elementum vel. Donec quis consectetur
                                risus.
                                Donec ut rhoncus nisl. Suspendisse tincidunt quam a erat tincidunt rhoncus. Ut lectus
                                sem,
                                viverra in pharetra ut, lobortis non dui.</li>
                            <li>Quisque ultricies sodales est, sed rhoncus ligula elementum vel. Donec quis consectetur
                                risus.
                                Donec ut rhoncus nisl. Suspendisse tincidunt quam a erat tincidunt rhoncus. Ut lectus
                                sem,
                                viverra in pharetra ut, lobortis non dui.</li>
                            <li>Quisque ultricies sodales est, sed rhoncus ligula elementum vel. Donec quis consectetur
                                risus.
                                Donec ut rhoncus nisl. Suspendisse tincidunt quam a erat tincidunt rhoncus. Ut lectus
                                sem,
                                viverra in pharetra ut, lobortis non dui.</li>
                            <li>Quisque ultricies sodales est, sed rhoncus ligula elementum vel. Donec quis consectetur
                                risus.
                                Donec ut rhoncus nisl. Suspendisse tincidunt quam a erat tincidunt rhoncus. Ut lectus
                                sem,
                                viverra in pharetra ut, lobortis non dui.</li>
                        </ul>
                        <div class="banner">
                            {{>template/banner spacing="xs" col="col-12 col-md-6" lazy=true}}
                        </div>
                        <p>Sed ipsum nisi, egestas tristique augue porta, elementum varius ipsum. Maecenas eu sapien
                            purus. Nam
                            scelerisque purus leo, quis blandit urna iaculis in. Fusce lacus justo, dapibus eu purus ac,
                            sodales
                            porttitor diam. Aliquam ut imperdiet dolor. Etiam sit amet diam dignissim, placerat ante in,
                            tempus
                            metus. Sed risus diam, maximus ut ante vel, ullamcorper dictum quam. Integer volutpat
                            tincidunt est,
                            nec dapibus lacus posuere ac. Praesent tellus massa, lobortis in metus et, condimentum
                            luctus ipsum.
                        </p>
                        <ol>
                            <li>Quisque ultricies sodales est, sed rhoncus ligula elementum vel. Donec quis consectetur
                                risus.
                                Donec ut rhoncus nisl. Suspendisse tincidunt quam a erat tincidunt rhoncus. Ut lectus
                                sem,
                                viverra in pharetra ut, lobortis non dui.</li>
                            <li>Quisque ultricies sodales est, sed rhoncus ligula elementum vel. Donec quis consectetur
                                risus.
                                Donec ut rhoncus nisl. Suspendisse tincidunt quam a erat tincidunt rhoncus. Ut lectus
                                sem,
                                viverra in pharetra ut, lobortis non dui.</li>
                            <li>Quisque ultricies sodales est, sed rhoncus ligula elementum vel. Donec quis consectetur
                                risus.
                                Donec ut rhoncus nisl. Suspendisse tincidunt quam a erat tincidunt rhoncus. Ut lectus
                                sem,
                                viverra in pharetra ut, lobortis non dui.</li>
                            <li>Quisque ultricies sodales est, sed rhoncus ligula elementum vel. Donec quis consectetur
                                risus.
                                Donec ut rhoncus nisl. Suspendisse tincidunt quam a erat tincidunt rhoncus. Ut lectus
                                sem,
                                viverra in pharetra ut, lobortis non dui.</li>
                            <li>Quisque ultricies sodales est, sed rhoncus ligula elementum vel. Donec quis consectetur
                                risus.
                                Donec ut rhoncus nisl. Suspendisse tincidunt quam a erat tincidunt rhoncus. Ut lectus
                                sem,
                                viverra in pharetra ut, lobortis non dui.</li>
                        </ol>
                        <p>
                            <!-- s: lazyloaded youtube-->
                            <iframe id="video" width="490" height="267" allowscriptaccess="always"
                                src="https://www.youtube.com/embed/bM3CS1zMalo?enablejsapi=1&amp;version=3&amp;playerapiid=ytplayer&amp;controls=0"
                                srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/bM3CS1zMalo?enablejsapi=1&amp;version=3&amp;playerapiid=ytplayer&amp;controls=0><img src=https://img.youtube.com/vi/bM3CS1zMalo/hqdefault.jpg width='490' height='276' alt='#PertiwiMenginspirasi: Tunjukkan Potensi Diri, untuk Memberi Arti' style='object-fit: cover'><span>▶</span></a>"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen=""
                                title="#PertiwiMenginspirasi: Tunjukkan Potensi Diri, untuk Memberi Arti"></iframe>
                            <!-- e: lazyloaded youtube-->
                        </p>
                        <p>Donec consequat gravida elit, vel vestibulum mauris venenatis vitae. Integer non mauris nec
                            ligula
                            volutpat convallis. Curabitur facilisis, lacus vitae sodales malesuada, metus ipsum
                            ultricies metus,
                            finibus lobortis velit quam at est. Integer imperdiet nulla quis sollicitudin iaculis.
                            Aliquam
                            dignissim magna sed luctus condimentum. Sed efficitur, libero et placerat ullamcorper, lorem
                            ipsum
                            feugiat orci, et porta sapien erat sed nibh. Suspendisse aliquet tortor hendrerit, aliquam
                            mauris
                            id, suscipit mi. Cras at feugiat diam. In tempor luctus consectetur. Proin varius bibendum
                            odio at
                            feugiat. Cras dapibus pharetra justo, in faucibus velit. Integer sem turpis, hendrerit at
                            interdum
                            vel, sodales vitae lacus. Proin felis metus, consequat eget erat venenatis, hendrerit
                            elementum
                            lacus. Pellentesque pellentesque pretium convallis.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{>help}}
    {{>footer}}

    {{>js page="static"}}

</body>

</html>