.text-center {
	text-align: center;
}

.center-flex {
	@include display-flex;
	align-items: center;
	justify-content: center;
}

.display-flex {
	@include display-flex;
}

.desktop-hide {
	@include min-responsive($w-md) {
		display: none !important;
	}
}

.mobile-hide {
	@include max-responsive(767px) {
		display: none !important;
	}
}

.opac0 {
	opacity: 0;
}

.heightFull {
	height: 100%;
}

/* smartphones */
#some-element {
	display: none;

	@include min-responsive($w-md) {
		display: block;
	}
}