{{#if title}}
<h1 class="simulationTitle">{{title}}</h1>
{{/if}}
<form action="gerai.html" id="formgerai" class="simulationRight simulationGerai display-flex">
    <div class="formWrap__select">
        <select class="formSelect formSelect--gerai" id="gerai" name="gerai">
            <option value="Jkt">Jakarta</option>
            <option value="Bdg">Bandung</option>
        </select>
        <div class="formWrap__error" id="msgBox8"></div>
    </div>
    <button type="submit" class="button buttonPrimary">Temukan</button>
</form>