<div class="fareInfo">
    <h3 class="titleCaption titleCaption--small">Jasa Kirim Barang Ke Malaysia
        <span class="fareInfo__icon">
            <img src="./asset/images/icon/icon-info.png" alt="" width="28" height="28" loading="lazy"
                title="Information"></span>
    </h3>
    <div class="fareInfo__wrap">
        <div class="fareInfo__content static">
            <p>Kirim barang&nbsp;ke Malaysia cepat, mudah dan aman hanya dengan satu layanan. Dapatkan
                pilihan
                kurir global seperti Aramex, Janio, City-Link Express, dll yang sesuai dengan ekspektasi
                budget
                Anda tersedia hanya melalui <a href="https://usahakurir.co.id" target="_blank"
                    rel="noopener noreferrer">usahakurir.co.id</a>.</p>

            <p>Anda dapat mengirimkan barang mulai dari harga puluhan ribu per kilonya. Tidak usah khawatir
                dengan keamanan barang Anda, kami menjamin barang yang dikirim akan sampai ke tempat tujuan.
            </p>

            <p>Anda juga bisa cek ongkir ke Malaysia melalui website usahakurir.co.id, kirim barang ke
                Malaysia
                didukung dengan fitur cek resi agar mengetahui lokasi barang yang sudah dikirim.</p>

            <p><strong>Bagaimana cara mengirim barang ke Malaysia?</strong></p>

            <p>Sistem pengiriman barang ke luar negeri tidak jauh dengan pengiriman barang domestik.
                Perbedaannya hanya diperlukannya syarat dan ketentuan tertentu yang harus dipenuhi.
                Masing-masing kurir memiliki peraturan yang berbeda-beda, salah satunya yaitu jasa
                usahakurir.co.id yang dapat memudahkan Anda dalam melakukan pengiriman ke luar negeri.</p>

            <p>Pada dasarnya melakukan pengiriman barang ke Malaysia sangat mudah. Adapun langkah-langkah
                yang
                harus dilakukan untuk kirim paket ke Malaysia:</p>

            <ol>
                <li>Persiapkan barang dengan tepat, hindari kesalahan dengan foto dan video.</li>
                <li>Temukan ekspedisi yang terpercaya dalam mengirimkan paket ke Malaysia.</li>
                <li>Lengkapi formulir untuk pengiriman paket ke Malaysia.</li>
                <li>Lakukan pembayaran.</li>
                <li>Serahkan paket kepada ekspedisi.</li>
                <li>Dapatkan nomor resi dan cek status pengiriman paket.</li>
            </ol>

            <p>Jasa ekspor pengiriman barang melalui usahakurir.co.id sangat mudah dan aman.
                Usahakurir.co.id
                menjangkau wilayah kirim barang ke Malaysia, Singapore, Taiwan, Hongkong,&nbsp;Filipina,
                Australia, Amerika, United Arab Emirates, Arab Saudi, Korea Selatan, Brunei Darussalam,
                Jepang
                dan negara-negara besar lainya..</p>

            <p><strong>Adapun kemudahan yang Anda dapatkan ketika melakukan pengiriman barang ke negara
                    Malaysia
                    melalui jasa kirim barang ke luar negeri usahakurir.co.id.</strong></p>

            <p><strong>1.</strong> <strong>Harga Terjangkau</strong></p>

            <p>Usahakurir.co.id memberikan harga yang terjangkau yang sudah termasuk <em>fuel surcharge</em>
                diluar biaya Pajak, Bea masuk, Fumigasi dan Remote Area. Anda juga bisa mengecek di website
                kami
                dengan harga yang selalu terupdate.</p>

            <p><strong>2.</strong> <strong>Sistem Asuransi Klaim Barang</strong></p>

            <p>Customer dapat mengasuransikan barangnya saat mengirim lewat usahakurir.co.id melalui
                website.
                Tim usahakurir.co.id akan membantu proses klaim ke pihak asuransi paling lambat 14 hari
                kalender
                sejak barang bermasalah atau waktu pengiriman.</p>

            <p><strong>3.</strong> <strong>Bekerjasama Dengan Mitra Terpercaya</strong></p>

            <p>Usahakurir.co.id bekerjasama dengan berbagai kurir ternama seperti Aramex, Janio, City-link
                Express, dll. Kebanyakan mitra usahakurir.co.id telah memiliki reputasi dan kualitas
                pelayanan
                kirim yang handal. Barang akan tiba di tujuan tepat waktu dan dapat di tracking.</p>

            <p><strong>4.</strong> <strong>SOP Pelayanan Jelas</strong></p>

            <p>Usahakurir.co.id memberikan informasi kepada konsumen mengenai persyaratan yang harus
                dilengkapi
                sebelum melakukan pengiriman barang ke negara Malaysia.</p>

            <p><strong>5.</strong> <strong>Proses Transaksi Mudah</strong></p>

            <p>Proses transaksi untuk pengiriman barang ke luar negeri termasuk mudah. Agen dan customer
                hanya
                perlu memasukkan data melalui website usahakurir.co.id yang dapat diakses dengan smartphone
                atau
                komputer dan mitra usahakurir.co.id akan siap mengambil barang untuk dilakukan pengiriman.
            </p>

            <p><strong>6.</strong> <strong>Waktu Pengiriman Cepat</strong></p>

            <p>Untuk estimasi pengiriman barang ke luar negeri bervariasi tergantung jauh-dekatnya dan
                berapa
                kali transit sebelum sampai ditujuan. Biasanya memerlukan waktu 2-21 hari kerja.</p>

            <p><strong>7.</strong> <strong>Akomodasi yang digunakan</strong></p>

            <p>Pengiriman barang melalui usahakurir.co.id menggunakan jalur laut untuk pengiriman barang
                ekspor
                biasa dan jalur udara untuk pengiriman kurir.</p>

            <p>Pengiriman barang ke luar negeri tidak semudah yang dibayangkan. Banyak persyaratan barang
                yang
                perlu dilengkapi untuk dapat masuk ke suatu negara. Tidak semua barang dapat masuk ke negara
                tertentu, masing-masing negara memiliki izin barang yang bisa masuk.</p>

            <p><strong>Adapun beberapa barang yang bisa dikirim dan tidak bisa dikirim antara lain:
                </strong>
            </p>

            <p><strong>1. Barang yang bisa dikirim</strong></p>

            <p>Semua kategori barang bisa dikirim kecuali barang berbahaya, barang cairan atau baterai,
                narkotika, barang yang diatur tata niaga ekspornya, barang yang diawasi ekspornya dan barang
                yang dilarang ekspornya.</p>

            <p><strong>2. Barang yang tidak bisa dikirim</strong></p>

            <ul>
                <li>Barang rentan terhadap oksidasi seperti bubuk pemutih.</li>
                <li>Baterai basah, Lithium dan Magnet.</li>
                <li>Barang Perishable meliputi makanan basah, berminyak, makanan beku dan mudah rusak (buah,
                    sayur, daging/ikan mentah dan lain sebagainya).</li>
                <li>Segala jenis barang cairan dan parfum</li>
                <li>Benda yang dapat meledak atau menyala.</li>
                <li>Binatang hidup, produk tumbuhan dan tanaman.</li>
                <li>Uang logam, uang kertas bank dan surat-surat berharga yang telah dikerjakan atau belum,
                    permata, batu-batu alam, cek, giro, bank notes dan lain sebagainya.</li>
                <li>Barang pornografi.</li>
                <li>Alat kontrasepsi, pembalut dan lain sebagainya.</li>
                <li>Narkotika, senjata api, minuman keras, bahan kimia berbahaya dan bahan biologis yang
                    mudah
                    busuk dan menularkan penyakit.</li>
                <li>Untuk barang dilarang tujuan Malaysia dapat di cek di <a
                        href="https://customs.gov.my/">https://customs.gov.my</a></li>
                <li>Barang bekas dan barang retur tidak bisa untuk pengiriman internasional.</li>
            </ul>

            <p>Pengiriman barang ke luar negeri menggunakan usahakurir.co.id sendiri sudah berpengalaman
                berbagai pengiriman ke berbagai negara. Usahakurir.co.id berkomitmen untuk memberikan
                kemudahan
                kepada konsumen dengan membantu persyaratan untuk pengiriman barang ke luar negeri hingga
                sistem
                packing dan asuransi barang yang mudah.</p>

            <p><strong>Dokumen apa saja yang harus dilengkapi untuk pengiriman barang ke Malaysia melalui
                    jasa
                    usahakurir.co.id?</strong></p>

            <p>Dalam melakukan pengiriman barang ke luar negeri tidak mudah dan selalu membutuhkan berbagai
                persyaratan yang harus dilengkapi. Adapun surat-surat yang perlu dilengkapi meliputi :</p>

            <p><strong>1.</strong> <strong>Commercial Invoice</strong></p>

            <p>Commercial Invoice wajib diisi oleh pihak pengirim dengan menggunakan Bahasa inggris dan
                tidak
                diperkenankan menggunakan tulisan tangan dengan detail meliputi; <em>Harga Barang, Jumlah
                    Barang, Isi Barang, Alasan Ekspor, Nama Pembeli, Tax Id, Alamat dan Nomor Hp.</em></p>

            <p><strong>2.</strong> <strong>Personal Use Form</strong></p>

            <p>Surat ini sebagai bentuk deklarasi yang menyatakan bahwa barang yang dikirim untuk pemakaian
                pribadi dan biasanya dilampirkan dengan fotokopi resep dokter. Namun, tidak semua barang
                menggunakan surat ini hanya barang dengan kategori kosmetik tanpa merek dan obat-obatan.</p>

            <p><strong>3.</strong> <strong>Letter Non Dangerous Goods</strong></p>

            <p>Surat yang menyatakan bahwa barang yang dikirimkan adalah bahan yang aman dan tidak mudah
                meledak
                atau dilarang untuk dikirim ke negara tujuan. Biasanya surat ini digunakan untuk pengiriman
                bahan-bahan kimia berbahaya seperti barang bubuk dan cairan.</p>

            <p><strong>Lalu bagaimana cara mengirimkan paket ke luar negeri melalui
                    usahakurir.co.id?</strong>
            </p>

            <p>Melakukan pengiriman usahakurir.co.id sangat praktis dan mudah dilakukan. Untuk pengiriman
                dapat
                dilakukan dengan cara sebagai berikut :</p>

            <p><strong>1.</strong> <strong>Hubungi CS usahakurir.co.id (Online) atau datang ke Outlet
                    (Offline)</strong></p>

            <p>Anda dapat menghubungi CS usahakurir.co.id melalui website atau datang langsung ke outlet
                yang
                tersebar di berbagai wilayah terdekat Anda. CS kami bekerja mulai dari Senin – Sabtu dan
                dapat
                dihubungi melalui nomor telepon di (+6221)22301111 atau <em>whatsapp di +6281229390111</em>.
            </p>

            <p><strong>2.</strong> <strong>Pilih Kurir</strong></p>

            <p>Anda dapat memilih kurir yang telah bekerjasama dengan usahakurir.co.id yang dapat dicek
                melalui
                website atau menanyakan langsung ke outlet terdekat.</p>

            <p><strong>3.</strong> <strong>Barang ditimbang dan diukur</strong></p>

            <p>Setelah menentukan jenis kurir yang sesuai dengan budget yang Anda miliki. Selanjutnya Anda
                dapat
                melakukan penimbangan barang dan ukuran barang untuk dapat dilakukan penghitungan secara
                detail
                berapa total biaya yang dikeluarkan.</p>

            <p><strong>4.</strong> <strong>Pembayaran</strong></p>

            <p>Selanjutnya Anda dapat melakukan pembayaran dan Anda akan mendapatkan resi secara langsung
                melalui outlet atau dikirim melalui e-mail.</p>

            <p><strong>5.</strong> <strong>Cek Status Pengiriman</strong></p>

            <p>Anda juga dapat mengecek status pengiriman barang melalui resi yang telah diterima dengan
                cara
                memasukkan nomor resi ke halaman cek resi di website usahakurir.co.id.</p>
        </div>
    </div>
</div>