<form action="" class="simulationRight simulationResi display-flex">
    <div class="formWrap__input">
        <input type="text" aria-label="resi" id="resi" name="resi" placeholder="CGK 123456789" class="formInput" required=""
            autocomplete="off">
    </div>
    <button type="submit" class="button buttonPrimary">Cari</button>
</form>