{{#if title}}
<h1 class="simulationTitle">{{title}}</h1>
{{/if}}
<form action="check-resi.html" id="formresi" class="simulationRight simulationResi display-flex">
    <div class="formWrap__input">
        <input type="text" aria-label="resi" id="resi" name="resi" placeholder="CGK 123456789" class="formInput"
            required="" autocomplete="off"{{#if title}} value="CGK001126779531" {{/if}}>
        <div class="formWrap__error" id="msgBox7"></div>
    </div>
    <button type="submit" class="button buttonPrimary">Cari</button>
</form>