<footer class="creditWrap display-flex container">
	<div class="credit center-flex">
		<div class="creditContent text-center">
			<div class="creditCol">
				<div class="creditTitle">Naskah</div>
				<div class="creditName">Thomas Mola</div>
			</div>
			<div class="creditCol">
				<div class="creditTitle">Editor</div>
				<div class="creditName">Gajah Kusumo</div>
			</div>
			<div class="creditCol">
				<div class="creditTitle">Ilustrasi & Animasi </div>
				<div class="creditName">Muhammad Afandi</div>
				<div class="creditName">Zoya Rasyidi Thoriq</div>
			</div>
			<div class="creditCol">
				<div class="creditTitle">Developer</div>
				<div class="creditName">Tim Teknologi Bisnis.com</div>
			</div>
		</div>
	</div>
</footer>