<div class="preloader" id="preloader">
	<div class="preloaderWrap">
		<div class="spinner"></div>
		<div class="preloaderImg">
			<img src="./asset/images/loader-img.png" alt="" width="66" height="62">
		</div>
		<div class="preloaderTxt">Loading...</div>
	</div>
</div>