<article class="artBox static">
    <p>Akhir-akhir ini aku banyak mendapatkan pertanyaan dari rekan-rekan yang punya rencana
        ke Myanmar khususnya Yangon namun hanya memiliki waktu beberapa hari bahkan ada yang
        hanya menggunakan kota ini sebagai tempat transit saja sebelum melanjutkan
        perjalanan ke Bagan atau destinasi wisata lainnya di Myanmar atau negara sekitarnya.
    </p>
    <p><strong>Shwedagon Pagoda</strong>
    </p>
    <ul>
        <li>Pengunjung dikenakan biaya sebesar $20 atau sekitar Rp 267.500 untuk
            dapat masuk mengunjungi berbagai pagoda di dalamnya.</li>
        <li>Pengunjung dikenakan biaya $5 atau sekitar Rp 67 ribu jika berkunjung ke
            museum arkeologi.</li>
        <li>Pengunjung yang tertarik untuk memasuki Menara Bagan dikenakan $10 atau
            sekitar Rp 134 ribu.</li>
    </ul>
    <p>
    <blockquote class="blockquote">Pellentesque habitant morbi tristique senectus et netus et malesuada fames
        ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit
        amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae
        est. Mauris placerat eleifend leo.</blockquote>
    </p>

    <p>People Park biasanya ramai dikunjungi orang pada hari sabtu dan juga People
        Park biasanya ramai dikunjungi orang pada hari sabtu dan didirikan sekitar
        2600 tahun yang lalu dan merupakan pagoda budha tertua di dunia bisa di
        akses dari jalan U Wisara Road dimana terdapat juga People Park biasanya
        ramai dikunjungi orang pada hari sabtu dan minggu.</p>

    <p>
    <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@saitrans/video/7150564154913410330"
        data-video-id="7150564154913410330" style="max-width: 605px;min-width: 325px;">
        <section> <a target="_blank" title="@saitrans" href="https://www.tiktok.com/@saitrans?refer=embed">@saitrans</a>
            <a title="infoekspor" target="_blank"
                href="https://www.tiktok.com/tag/infoekspor?refer=embed">#infoekspor</a> <a title="kirimkopi"
                target="_blank" href="https://www.tiktok.com/tag/kirimkopi?refer=embed">#kirimkopi</a> <a
                title="kirimpaketkeluarnegeri" target="_blank"
                href="https://www.tiktok.com/tag/kirimpaketkeluarnegeri?refer=embed">#kirimpaketkeluarnegeri</a> <a
                target="_blank" title="♬ Cute masterpiece arrangement like a cooking show - Single Origin Music"
                href="https://www.tiktok.com/music/Cute-masterpiece-arrangement-like-a-cooking-show-6817143692785092610?refer=embed">♬
                Cute masterpiece arrangement like a cooking show - Single Origin Music</a>
        </section>
    </blockquote>
    <script async src="https://www.tiktok.com/embed.js"></script>
    </p>

    <p>People Park biasanya ramai dikunjungi orang pada hari sabtu dan
        juga People Park biasanya ramai dikunjungi orang pada hari sabtu dan
        didirikan sekitar 2600 tahun yang lalu dan merupakan pagoda budha tertua di
        dunia bisa di akses dari jalan U Wisara Road dimana terdapat </p>
    <p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SJwO7V_Y6LQ" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </p>

    <p>Untuk turis/foreigner akan dikenakan biaya sebesar 8000 kyats (sekitar 120
        ribu rupiah). Perlu diperhatikan bahwa shwedagon adalah tempat ibadah jadi
        ada beberapa hal sabtu dan
        juga People Park biasanya ramai dikunjungi orang pada hari sabtu dan </p>

    <p>Untuk turis/foreigner akan dikenakan biaya sebesar 8000 kyats (sekitar 120
        ribu rupiah). Perlu diperhatikan bahwa shwedagon adalah tempat ibadah jadi
        ada beberapa hal yang perlu diperhatikan saat berkunjung kemari khususnya
        tatacara berpakaian dimana tidak diijinkan untuk menggunakan celana pendek,
        baju tank top dan sepatu maupun kaos kaki. Saat terbaik mengunjungi tempat
        ini adalah pagi atau sore hari menjelang senja karena tempat ini buka dari
        jam 5 pagi hingga jam 9 malam. Berkunjung di atas jam 9 pagi tak di
        rekomnedasikan karena lantai pagoda cukup panas dan tidak nyaman berkeliling
        pagoda saat panas mentari menyengat.
    </p>

    <p>Link : <a href="https://saitrans.co.id/artikel/keuntungan-dan-tantangan-bisnis-usaha-kurir">Link Artikel</a>
    </p>

    <p><strong>Inya Lake</strong></p>
    <p>Tempat wisata yang juga merupakan icon Myanmar khususnya kota Yangon adalah
        Danau Inya atau Inya Lake. Danau buatan yang dibuat oleh pemerintah Inggris
        di tahun 1882 – 1883 ini awalnya untuk penampungan air, namun saat ini lebih
        berfungsi sebagai tempat rekreasi maupun tempat olah raga air. Danau yang
        terletak 10 km utara kota Yangon bisa di akses dari 4 jalan utama di Yangon
        yakni jalan Inya Road, Pyay Road, Kaba Aye Pagoda Road serta University
        Avenue. Tempat ini paling pas dikunjungi saat akan melihat sunrise yang bisa
        dilihat dari arah Pyay Road serta melihat sunset dari arah jalan</p>
    <p>
        {{>article/instagram}}
    </p>

    <ol>
        <li>Danau Inle</li>
        <li>Bagan</li>
        <li>Pantai ngapali</li>
        <li>Golden Rock Pagoda</li>
        <li>Golden Rock Pagoda</li>
        <li>pagoda shwedagon</li>
        <li>Danau Inle</li>
        <li>Bagan</li>
        <li>Pantai ngapali</li>
        <li>Golden Rock Pagoda</li>
        <li>Golden Rock Pagoda</li>
        <li>pagoda shwedagon</li>
        <li>Danau Inle</li>
        <li>Bagan</li>
        <li>Pantai ngapali</li>
        <li>Golden Rock Pagoda</li>
        <li>Golden Rock Pagoda</li>
        <li>pagoda shwedagon</li>
    </ol>

    <p>
        <span>Baca juga : </span> <a href="#">Ini Hal yang Harus Dilakukan Masyarakat Sebelum
            Datang ke Car
            Free Day di Jakarta </a>
    </p>

    <p>Pengunjung ke sini akan melihat banyak payung bertebaran dimana-mana namun orangnya
        tak terlihat. Yah, mereka berada di balik payung, entah sedang ngapain..
        Sebenarnya tak ada jam buka dan tutup ke lokasi ini karena memang ini adalah
        area umum, namun biasanya saat jam 12 malam, beberapa petugas </p>

    <p><strong>Sule Pagoda</strong></p>
    <p>Tempat wisata yang juga merupakan icon Myanmar khususnya kota Yangon adalah
        Danau Inya atau Inya Lake. Danau buatan yang dibuat oleh pemerintah Inggris
        di tahun 1882 – 1883 ini awalnya untuk penampungan air, namun saat ini lebih
        berfungsi sebagai tempat rekreasi maupun tempat olah raga air. Danau yang
        terletak 10 km utara kota Yangon bisa di akses dari 4 jalan utama di Yangon
        yakni jalan Inya Road, Pyay Road, Kaba Aye Pagoda Road serta University
        Avenue. Tempat ini paling pas dikunjungi saat akan melihat </p>
</article>