<div class="artOther__list row">
    {{#eachIndex article}}
    {{#gt index compare= 1}}
    <div class="artOther__item mt2 col-lg-4">
        <a href="{{item.link}}" class="artLink__wrap">
            <img src="{{item.image}}" class="artImg" alt="" width="360" height="229" loading="lazy">
            <div class="artContent">
                <div class="artDate">09 - 09 - 2022</div>
                <h3 class="titleArt">{{item.title}}</h3>
            </div>
        </a>
    </div>
    {{/gt}}
    {{/eachIndex}}
</div>