.breadcrumb {
    &Caption {
        margin-right: 6px;
        @include font-pack(false, 24px, 600, 22px, $cl_pink);

        &:after {
            content: '';
            border-right: 1px solid #FAB2E1;
            height: 43px;
            padding-left: 16px;
        }
    }

    &Link {
        @include font-pack(false, 14px, 600, 22px, $cl_purple);

        .active {
            color: $cl_pink;
        }
    }

    &Channel {

        .breadcrumbLink {
            margin-left: 10px;
            margin-right: 10px;
            padding-top: 8px;
            padding-bottom: 8px;
            @include font-pack(false, 16px, 500, 22px, #7D7D7D);

            &.active {
                border-bottom: 5px solid $cl_pink;
                color: $cl_pink;
            }
        }
    }
}