.button {
    cursor: pointer;
    display: inline-block;

    &Secondary {
        width: 63px;
        height: 36px;
        padding: 9px 10px;
        margin-right: 10px;
        margin-left: 10px;
        border: 1px solid $cl_purple;
        border-radius: 15px;
        max-height: 35px;
        background: $cl_white;
        @include font-pack(false, 12px, 500, false, $cl_purple);

        &--small {
            width: auto;
            padding: 10px 30px;
        }
    }

    &Primary {
        width: 170px;
        height: 36px;
        padding: 10px;
        margin-right: 10px;
        margin-left: 10px;
        border: 0;
        border-radius: 15px;
        @include font-pack(false, 12px, 500, false, $cl_white);
        background: rgb(205, 126, 233);
        background: -moz-linear-gradient(140deg, rgba(205, 126, 233, 1) 0%, rgba(118, 74, 176, 1) 100%);
        background: -webkit-linear-gradient(140deg, rgba(205, 126, 233, 1) 0%, rgba(118, 74, 176, 1) 100%);
        background: linear-gradient(140deg, rgba(205, 126, 233, 1) 0%, rgba(118, 74, 176, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cd7ee9", endColorstr="#764ab0", GradientType=1);

        &--small {
            width: auto;
            padding: 10px 30px;
        }

        .icon-reg {
            width: 15px;
            height: 15px;
            vertical-align: middle;
        }
    }

    &Search {
        display: flex;
        align-items: center;
        margin-right: 20px;
        margin-left: 20px;
    }

    &Other {
        padding: 7px 22px;
        border: 1px solid $cl_pink;
        border-radius: 15px;

        &--bottom {
            display: block;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            background: $cl_pink;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: -1px;
            margin-left: -1px;
            margin-right: -1px;
            @include font-pack(false, 12px, 600, 24px, $cl_white);

            &:hover {
                color: $cl_white;
            }
        }
    }

    &Pink {
        background: $cl_pink;
        padding: 15px 37px;
        max-height: 51px;
        max-width: 520px;
        border-radius: 15px;
        border: 0;
        text-transform: uppercase;
        @include font-pack(false, 16px, 500, false, $cl_white);

        &:hover {
            color: $cl_white;
        }

        &--full {
            max-width: none;
            width: 100%;
        }

        &--medium {
            padding: 15px 37px;
            min-height: 51px;
            @include font-pack(false, 14px, 500, false, $cl_white);

            &:hover {
                border: 1px solid $cl_pink;
                background: $cl_white;
                color: $cl_pink;
            }
        }

        &--small {
            background: $cl_pink;
            padding: 7px 27px;
            min-width: 115px;
            min-height: 35px;
            border-radius: 15px;
            border: 0;
            @include font-pack(false, 14px, 500, false, $cl_white);

            &:hover {
                color: $cl_white;
            }
        }
    }

    &Career {
        @extend .buttonPink;
    }

    &Trans {
        background: transparent;
        border: 0;
    }

    &More {
        min-height: 60px;
        max-width: 740px;
        width: 100%;
        padding-top: 18px;
        padding-bottom: 18px;
        background: $cl_white;
        border: 1px solid $cl_pink;
        border-radius: 15px;
        text-transform: uppercase;
        @include font-pack(false, 16px, 400, 22px, $cl_pink);
        @include base_transition(all);

        &:hover {
            color: $cl_white;
            background: $cl_pink;
        }
    }

    &White {
        @extend .buttonMore;
        min-height: 41px;
        padding-top: 8px;
        padding-bottom: 8px;
        text-transform: none;
        @include font-pack(false, 14px, 500, false, false);

        &--big {
            min-height: 60px;
            text-transform: uppercase;
        }

        &--small {
            padding: 15px 37px;
            max-height: 51px;
            width: auto;
            text-transform: uppercase;
        }
    }

    &Totop {
        position: absolute;
        top: -70px;
        right: 220px;
        border: 1px solid $cl_pink;
        border-radius: 10px;
        background: $cl_white;
        width: 40px;
        height: 40px;
        @include base_transition(all);

        &:hover {
            -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
            animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
        }

        .icon-next {
            vertical-align: middle;
            @include base_rotate(270deg);
        }
    }

    &Google {
        width: 100%;
        height: 50px;
        border-radius: 15px;
        border: 1px solid #CECECE;
    }

    &Eye {
        position: absolute;
        right: 20px;
        width: 40px;
        height: 50px;
        border: 0;
        background: none;

        .icon {
            left: 5px;

            &:after {
                content: none;
            }
        }

        &.close {
            &:after {
                content: '';
                position: absolute;
                width: 2px;
                height: 25px;
                top: 13px;
                left: 20px;
                border-left: 2px solid #6F6F6F;
                transform: rotate(45deg);
            }
        }
    }

    &Expand {
        position: absolute;
        top: 15px;
        right: 15px;
        @include font-pack(false, 13px, 500, 22px, $cl_white);
        background: rgba(53, 53, 53, .6);
        padding: 7px 19px;
        border: 0;
        border-radius: 10px;
        @include base_transition(all);

        &:hover {
            background: rgba(53, 53, 53, 1);
        }

        .icon-expand {
            background-size: contain;
            width: 25px;
            height: 25px;
            vertical-align: middle;
            margin-right: 8px;
        }
    }

    &Close {
        position: absolute;
        top: 15px;
        right: 15px;

        .icon-rejected {
            width: 25px;
            height: 25px;
        }
    }
}