.event {
    &Bg {
        padding: 28px 42px;
        border: 1px solid #FA7DCE;
        border-radius: 15px;
        background-image: url(../images/event-bg.jpg);
        background-size: cover;
    }

    &Content {
        flex: 1;
        padding-right: 150px;
    }

    &Label {
        display: inline-flex;
        padding: 7px 13px;
        border: 1px solid $cl_red;
        border-radius: 10px;
        text-transform: uppercase;
        @include font-pack(22px, 12px, 600, false, $cl_red);
    }

    &Title {
        @include font-pack(false, 33px, 600, false, false);
    }

    &Text {
        @include font-pack(false, 12px, 400, false, #5F5F5F);
    }

    &Vid {
        position: relative;
    }

    &Detail {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #A050A0;
        border-radius: 15px;
        @include font-pack(false, 14px, 400, 22px, #A050A0);
    }
}