.form{
    &Input, &Select{
        padding: 15px 30px;
        border: 1px solid #CECECE;
        border-radius: 15px;
        @include font-pack(false, 14px, 500, 1.4, $cl_primary);
    }

    &Select{
        &__wrap{
            margin-right: 20px;
        }
    }
}