.hashtag {
    @include font-pack(false, 16px, 500, false, false);

    span {
        margin-right: 8px;
        color: #8F8F8F;
    }

    &Link {
        display: block;
        margin-top: 28px;
        margin-bottom: 28px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}