.menu {
    height: 25px;

    &List {
        position: absolute;
        width: 235px;
        height: 100vh;
        overflow: auto;
        margin: -62px 0 0 -18px;
        padding: 45px 18px 24px;
        background: $cl_white;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        z-index: 1;

        &:before {
            content: '';
            background: $cl_white;
            width: 235px;
            height: 45px;
            position: fixed;
            display: block;
            top: 0;
            left: 0;
            z-index: 2;

            @media (prefers-color-scheme: dark) {
                background: $cl_white;
            }
        }
    }

    &Toggle {
        width: 50px;
        height: 30px;
        position: absolute;
        top: 5px;
        left: 5px;
        opacity: 0;
        z-index: 3;

        &:checked {
            ~.menuList {
                transform: none;
            }

            ~.ham {
                transform: rotate(225deg);

                .top {
                    stroke-dasharray: 17 82;
                    stroke-dashoffset: -62px;
                }

                .middle {
                    stroke-dashoffset: 23px;
                    stroke-dasharray: 40 111;
                }

                .bottom {
                    stroke-dashoffset: -83px;
                }
            }
        }
    }

    &Link {
        display: block;
        padding-top: 8px;
        padding-bottom: 8px;
        @include font-pack(false, 13px, 500, false, #787878);

        &:hover {
            color: #787878;
        }

        &.active {
            color: $cl_primary;
        }
    }

    &Profile {
        margin-left: -18px;
        margin-right: -18px;

        &__item {
            display: flex;
            align-items: center;
            padding: 18px;
            @include font-pack(false, 12px, 500, false, #787878);

            &.buttonPrimary {
                margin: 10px 18px;
                width: calc(100% - 36px);
            }
        }

        &__user {
            font-size: 14px;
        }

        &__name {
            max-height: 18px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            word-break: break-word;
            overflow: hidden;
        }

        &__logout {
            color: $cl_red;
        }

        &__icon {
            width: 24px;
            height: 24px;
            vertical-align: middle;
            background-size: contain;
        }
    }

    hr {
        border: 0;
        border-top: 1px solid $cl_secondary_grey;
    }
}