<div class="live{{#if mt}} mt{{mt}}{{/if}}">
    <div class="liveCaption artLive">Live</div>
    <ul class="liveList">
        {{#each channel}}
        <li class="liveItem">
            <a href="{{link}}" class="liveLink artLink">
                <div class="liveTitle artTitle">
                    {{title}}
                </div>
            </a>
            <div class="artDate">
                9 menit yang lalu
            </div>
        </li>
        {{/each}}
    </ul>
</div>