{{#eachIndex genre}}
<div class="formCheck__item listItem">
    <label for="genre{{index}}" class="flex-init">{{item.title}}</label>
    <input type="checkbox" id="genre{{index}}" name="genre" class="formCheck"{{#if item.active compare=true}} checked="checked"{{/if}}>
</div>
{{/eachIndex}}