<h3 class="listTitle">{{title}}</h3>
<div class="listBox">

    {{#eq title compare="Categories"}}
    {{>list/categ}}
    {{/eq}}

    {{#eq title compare="Rating"}}
    {{>list/rating}}
    {{/eq}}

    {{#eq title compare="Price"}}
    {{>list/price}}
    {{/eq}}

    {{#eq title compare="Genre"}}
    {{>list/genre}}
    {{/eq}}

</div>