{{#eachIndex rating}}
<div class="listItem listItem__radio">
    <label for="rating{{index}}" class="formLabel">{{item.title}}</label>
    <input type="radio" id="rating{{index}}" name="rating" class="formRadio"{{#if item.active compare=true}} checked="checked"{{/if}}>
</div>
{{/eachIndex}}