<h3 class="listTitle">{{title}}</h3>
<ul class="display-flex">
    {{#eachIndex filter}}
    <li>
        <input type="radio" id="sortmob{{index}}" name="sortmob" class="formPill"{{#if item.active compare=true}} checked="checked"{{/if}}>
        <label for="sortmob{{index}}" class="formPill__label">
            {{item.title}}
        </label>
    </li>
    {{/eachIndex}}
</ul>