<div class="listSort formSelect__wrap custom-select">
    <select name="sort" id="sort" class="formSelect" aria-label="Sort By">
        {{#eachIndex filter}}
        <option value="{{index}}"{{#if item.active compare=true}} selected{{/if}}>{{item.title}}</option>
        {{/eachIndex}}
    </select>
</div>