.button {
    cursor: pointer;
    padding: 0;
    background: unset;
    border: unset;
    touch-action: manipulation;

    &Primary {
        min-width: 83px;
        min-height: 36px;
        padding: 10px 16px;
        border: 0;
        border-radius: 20px;
        @include font-pack(false, 12px, 500, false, $cl_white);
        background: $cl_black;

        &--small {
            width: auto;
            padding: 10px 30px;
        }

        .icon-reg {
            width: 15px;
            height: 15px;
            vertical-align: text-bottom;
            background-size: 15px;
            filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(162deg) brightness(103%) contrast(104%);
        }

        .icon-next {
            vertical-align: middle;
            filter: invert(100%) sepia(0) saturate(7498%) hue-rotate(317deg) brightness(105%) contrast(102%);
            transform: scale(.7);
            margin-left: 4px;
        }

        &.active {
            background: $cl_tertiery_grey;
        }
    }

    &Secondary {
        background: $cl_white;
        padding: 9px 16px;
        border-radius: 25px;
        border: 1px solid $cl_black;
        @include font-pack(false, 12px, 500, false, $cl_black);
    }

    &--trans {
        background: transparent;
        border: 0;
        color: $cl_black;
    }

    &More {
        @include font-pack(false, 14px, 600, 24px, $cl_primary);
    }

    &Totop {
        position: absolute;
        top: -20px;
        right: 20px;
        border: 0;
        border-radius: 10px;
        background: #575765;
        background: linear-gradient(180deg, rgba(87, 87, 101, 1) 0%, rgba(25, 25, 25, 1) 100%);
        width: 40px;
        height: 40px;

        .icon-next {
            filter: brightness(0) invert(1);
            vertical-align: middle;
            @include base_rotate(270deg);
        }
    }

    &Close {
        position: absolute;
        top: 8px;
        right: 10px;

        .icon-close {
            width: 25px;
            height: 25px;
        }
    }

    &Search {

        .icon-search {
            width: 25px;
            height: 25px;
            display: block;
        }
    }

    &Submit,
    &Cancel {
        margin-left: 10px;
        margin-right: 10px;
        border: 0;
        background: transparent;
        @include font-pack(false, 12px, 400, false, $cl_primary);
    }

    &Submit {
        text-decoration: underline;
    }

    &Cancel{
        color: $cl_grey;
    }
}

%button {

    &Eye {
        position: absolute;
        right: 10px;
        width: 40px;
        height: 46px;
        border: 0;
        background: none;

        .icon {
            left: 7px;

            &:after {
                content: '';
                position: absolute;
                width: 2px;
                height: 22px;
                top: 1px;
                left: 10px;
                border-left: 2px solid #6F6F6F;
                transform: rotate(45deg);
            }
        }

        &.show {
            .icon:after {
                content: none;
            }
        }
    }

    &Expand {
        position: absolute;
        top: 15px;
        right: 15px;
        background: rgba(53, 53, 53, 0.6);
        width: 30px;
        height: 30px;
        padding: 5px;
        border: 0;
        border-radius: 5px;
        @include base_transition(all);

        .icon-expand {
            width: 20px;
            height: 20px;
            background-size: contain;
        }
    }
}