.channel {
    &Item {
        margin-top: 20px;
        padding-top: 8px;
        padding-bottom: 0;
        border: 1px solid $cl_black;

        &:has(img) {
            margin-top: 80px;

            .channelTeam {
                display: block;
                padding-top: 20px;
                margin-top: -100px;
                max-width: 180px;
            }
        }
    }

    &Team {
        display: none;
    }

    &Content {
        width: 100%;
    }

    &Icon {
        border: 2px solid;
        border-radius: 50%;
        display: inline-flex;
        width: 38px;
        height: 38px;
        align-items: center;
        justify-content: center;
    }

    &--video {

        .highlightImg__wrap,
        .articleImg__wrap {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                border-radius: 38px;
                width: 38px;
                height: 38px;
                display: block;
                background-color: $cl_white;
                @include auto-center();
            }

            &:after {
                content: "";
                position: absolute;
                width: 18px;
                height: 18px;
                background: url(../images/icon-play.png) center no-repeat;
                background-size: contain;
                @include auto-center();
            }
        }
    }
}