.comment {
    // &Count {
    //     display: inline-block;
    //     padding: 4px 8px;
    //     border-radius: 20px;
    //     border: 1px solid $cl_primary;
    //     @include font-pack(false, 12px, 400, 30px, $cl_primary);

    //     &__text {
    //         @include font-pack(false, 10px, 400, 25px, #4B4B4B);
    //     }
    // }

    textarea {
        width: 100%;
        background: #F5F5F5;
        border: 0;
        border-radius: 4px;
        resize: none;
        padding: 8px 12px;
        @include font-pack(false, 16px, 400, 22px, $cl_primary);
        @include placeholder(12px, 400, false, $cl_tertiery_grey);
    }

    &Avatar {
        margin-right: 10px;
        @extend .userAvatar
    }

    &User {
        @include font-pack(false, 15px, 600, 25px, #2C2C2C);
    }

    &Date {
        @include font-pack(false, 10px, 300, 25px, #7C7C7C);
    }

    &Content {
        @include font-pack(false, 12px, 400, 20px, #4B4B4B);
    }

    &Action {
        @include font-pack(false, 10px, 400, 25px, false);

        button {
            background: transparent;
            border: 0;
            padding: 0;
            text-decoration: underline;
        }

        .commentLike {
            text-decoration: none;
        }
    }

    &Report {
        color: #7C7C7C;
    }

    &Reply {
        color: $cl_primary;

        &:before {
            content: 'Balas';
            display: block;
            position: relative;
        }

        &.active {
            &:before {
                content: 'Tutup';
                display: block;
                position: relative;
            }
        }
    }

    &Like {
        margin-right: 10px;
        color: $cl_grey;
        @extend .readCta
    }

    &Item {
        padding-bottom: 20px;
        border-bottom: 1px solid #E3E3E3;

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }

        &>.commentItem {
            border-top: 1px solid #E3E3E3;
            padding-top: 20px;
            padding-bottom: 0;
            padding-left: 26px;
            border-bottom: 0;
        }
    }

    &Form {
        display: none;
        animation: fadeInFromNone .5s ease;

        &.active {
            display: block;
        }
    }

    &Caption {
        @include font-pack(false, 14px, 400, 28px, #5F5F5F);
    }

    &[data-target=comment-section] {
        scroll-margin-top: 145px;
    }
}