.hashtag {
    @include font-pack(false, 14px, 500, false, false);

    span {
        margin-right: 10px;
        color: $cl_primary;
    }

    &Link {
        display: block;
        margin-top: 14px;
        margin-bottom: 14px;
        word-wrap: break-word;
        word-break: break-word;

        &:last-child {
            margin-bottom: 0;
        }
    }
}