.react {
    flex-wrap: wrap;

    &Btn {
        background: transparent;
        border: 0;
        padding: 0;
        margin-left: 15px;
        margin-right: 15px;
        @include font-pack(false, 12px, 500, 28px, #5F5F5F);
    }

    &Count {
        font-weight: 700;
    }
}