.report {
    &Popup {
        background: $cl_white;
        padding: 20px;
        margin-left: 15px;
        margin-right: 15px;
        width: 100%;
    }

    &Select {
        &__label {
            @include font-pack(false, 12px, 500, false, $cl_primary);
        }
    }

    &Btn {
        @extend .buttonCancel;
        margin-top: 60px;

        &__submit {
            color: $cl_red;
        }
    }
}