.report {
    &Popup {
        background: $cl_white;
        padding: 20px;
        margin-left: 15px;
        margin-right: 15px;
        width: 100%;
    }

    &Select {
        &__label {
            @include font-pack(false, 12px, 500, false, $cl_primary);
        }
    }

    &Btn {
        margin-top: 60px;
        margin-left: 10px;
        margin-right: 10px;
        border: 0;
        background: transparent;
        text-transform: uppercase;
        @include font-pack(false, 12px, 400, 22px, false);

        &__cancel {
            color: $cl_primary;
        }

        &__submit {
            color: #7C7C7C;
        }
    }
}