$bg_base: #fff;

$font_vik: 'Black Ops One', cursive;
$font_vik2: 'Open Sans', sans-serif;
$font_base: 'K2D', sans-serif;
$font_caption: 'Jaro', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-sbold: 600;

$font-size-normal: 14px;
$line-base: normal;

$cl-primary: #000000;
$cl-yellow: #FFC000;
$cl-white: #FFFFFF;
$cl-red: #D01717;

$cl_fb: #3b5998;
$cl_tw: #000;
$cl_wa: #43d854; 

$width-container: 1100px;
$w-xxxl: 1920px;
$w-xxl: 1440px;
$w-xl: 1102px;
$w-hlg: 900px;
$w-vlg: 1024px;
$w-lg: 960px;
$w-md: 768px;
$w-hmd: 700px;
$w-sm: 540px;
// $w-xm: 320px;
$w-xm: 350px;