<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>

    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        <section class="container container--small display-flex dir-column mt30">
            <div class="formCaption formCaption--big text-center">Lupa Password?</div>
            <form action="">
                <div class="formText text-center">
                    Masukkan email yang pernah kamu daftarkan untuk mendapatkan tautan pengubah password.
                </div>
                <div class="formWrap mt20">
                    <span class="icon icon-mail formIcon">
                    </span>
                    <input class="formInput formInput__wicon text-center" id="email" type="email" placeholder="Email"
                        aria-label="Input Email">
                </div>
                <button class="button buttonPink buttonPink--full mt20" type="submit" name="submit">
                    Kirim
                </button>
            </form>
        </section>
    </main>
    <!-- footer -->
    {{> footer top=false}}

    {{> js}}

</body>

</html>