<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>

    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        <section class="container container--small display-flex dir-column mt30">
            <div class="formCaption__wrap display-flex">
                <a href="login.html" class="formCaption"><span class="active">Login</span></a>
                <a href="register.html" class="formCaption"><span>Sign Up</span></a>
            </div>
            <form class="mt30" action="">
                <div class="formStatus formError text-center">
                    <span><img src="asset/images/icon-error.png" class="mr10" alt="" width="20" height="20"></span> Username atau password tidak cocok
                </div>
                <div class="formText text-center mt20">
                    Gunakan akun media sosialmu untuk mengakses seluruh fitur TabloidBintang.com
                </div>
                <div class="formText mt30">
                    <a href="#" class="buttonGoogle flex-center">
                        <span class="icon icon-google mr10">
                            <img src="asset/images/icon-google.png" alt="" width="30" height="30" loading="lazy">
                        </span>
                        Masuk dengan Google
                    </a>
                    <a href="#" class="buttonFb flex-center mt20">
                        <span class="icon icon-fb mr10">
                        </span>
                        Masuk dengan Facebook
                    </a>
                </div>
                <div class="formLine text-center mt20">
                    <span>atau</span>
                </div>
                <div class="formText text-center mt20">Masuk dengan akun yang sudah ada</div>
                <div class="formWrap mt20">
                    <span class="icon icon-user formIcon">
                    </span>
                    <input class="formInput formInput__wicon text-center" id="username" type="text"
                        value="sophie.anggita@gmail.com" placeholder="Username" aria-label="Input Username">
                </div>
                <div class="formWrap mt20">
                    <span class="icon icon-key formIcon">
                    </span>
                    <input class="formInput formInput__wicon text-center" id="password" type="password" value="password"
                        placeholder="password" aria-label="Input Password">
                    <button class="button buttonEye close" type="button" aria-label="Show password" toggle="#password"><span
                            class="icon icon-eye formIcon"></span></button>
                </div>
                <div class="formWrap flex-center mt40">
                    <img src="asset/images/sample/captcha.jpg" alt="" width="324" height="85">
                </div>
                <button class="button buttonPink buttonPink--full mt30" type="submit" name="submit">
                    Masuk
                </button>
                <div class="display-flex mt20 jcontent-between">
                    <div class="formText">Belum punya akun? <a href="register.html" class="pink">Daftar disini</a>
                    </div>
                    <div class="formText"><a href="forgot.html" class="pink">Lupa password</a>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <!-- footer -->
    {{> footer top=false}}

    {{> js page="faccess"}}

</body>

</html>