<!DOCTYPE html>
<html lang="en">
{{> head page="Profile"}}

<body>

    <!-- header -->
    {{> header login=true}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        {{> ads/skin}}
        <section class="profile container">
            <div class="row display-flex mt40">
                <div class="profileCol_left col-gd-300">
                    <aside class="profileNav">
                        {{> profile/profile-det}}
                        {{> profile/profile-nav active="Ditolak"}}
                    </aside>
                </div>
                <div class="profileCol_right col-gd-740">
                    <div class="highlightCaption">Artikel Ditolak</div>
                    <ul class="articleList mt20">
                        {{#eachIndex headline}}
                        <li class="articleItem profileItem display-flex">
                            <a href="{{item.link}}" class="profileItem__link flex-init">
                                <h2 class="profileTitle">{{item.title}}</h2>
                                <div class="articleDetail profileDetail display-flex aitems-center mt10">
                                    <div class="articleTime mr10">Minggu, 18 Mei 2025</div>
                                </div>
                            </a>
                            <button type="button" class="button profileArticle__action ml10 -bMail"
                                aria-label="Open Notification"><span
                                    class="icon icon-mail-cta profileArticle__icon"></span></button>
                        </li>
                        {{/eachIndex}}
                        {{#eachIndex headline}}
                        <li class="articleItem profileItem display-flex">
                            <a href="{{item.link}}" class="profileItem__link flex-init">
                                <h2 class="profileTitle">{{item.title}}</h2>
                                <div class="articleDetail profileDetail display-flex aitems-center mt10">
                                    <div class="articleTime mr10">Minggu, 18 Mei 2025</div>
                                </div>
                            </a>
                            <button type="button" class="button profileArticle__action ml10 -bMail"
                                aria-label="Open Notification"><span
                                    class="icon icon-mail-cta profileArticle__icon"></span></button>
                        </li>
                        {{/eachIndex}}
                    </ul>
                    {{> paging}}
                </div>
            </div>
        </section>
    </main>
    <!-- s: popup mail -->
    {{> profile/popup-mail}}
    <!-- e: popup mail -->

    {{> ads/sticky}}
    <!-- footer -->
    {{> footer}}

    {{> js}}
    <script>
        $(document).ready(function () {
            //toggle popup mail
            $(".-bMail").on("click", function () {
                $('.-pMail').addClass('active');
            });
        })
    </script>

</body>

</html>