@use '../base/mixins' as *;
@use '../base/vars' as *;

.preloader {
    background: #636363;
    height: 100%;
    width: 100%;
    z-index: 11;
    position: fixed;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        object {
            max-width: 150px;

            @include min-responsive($w-md) {
                max-width: unset;
            }
        }
    }
}