{{#eq type compare="fixed"}}
<a href="contact.html" class="contactCta">
    <span class="ico icoSend"></span>
    Contact Us
</a>
{{else}}
<div class="contact container">
    <div class="contactWrap">
        <div class="titleH2">Contact us</div>
        <div class="contactTxt titleLead">Get in touch with Gramedia PLC and specialist teams in our headquarters, or
            find contacts all over Indonesia.</div>
    </div>
    <a href="contact.html" class="button buttonPrimary buttonPrimary--icon">
        Contact us
        <span class="ico icoArrow"></span>
    </a>
</div>
{{/eq}}