$bg_base: #fff;

$font_body: 'Montserrat',
sans-serif;
$font_read: 'PT Serif', serif;

$cl_primary: #1f2324;

$cl_orange: #E54210;
$cl_grey: #717171;
$cl_secondary_grey: #C4C4C4;
$cl_tertiery_grey: #575765;
$cl_purple: #764AB0;
$cl_red: #CE2746;
$cl_white: #fff;
$cl_black: #1f2324;

//  social media
$cl_fb: #1877F2;
$cl_tw: #000000;
$cl_wa: #43d854; 

$grid_desktop: 1108px;
$grid_nopad: 1078px;
$grid_mobile: 100%;
$height_header: 104px;

// break tablet
$mstablet: 600px; 
$mntablet: 768px; 
$mdtablet: 990px; 
$mxtablet: 1024px;
$mztablet: 1366px;