{{>component/author-item more=true}}

<div class="titleWrap display-flex">
    <h3 class="titleCaption titleCaption--up">Books from Author</h3>
    <a href="author-read.html" class="linkMore linkMore__arrow">
        see more
        <span class="icoBase icoInline icoArrow"></span>
    </a>
</div>
<div class="productScroll row">

    {{>component/author-item-books total=5 index_start=0 index_end=5 col=true}}

</div>