<div class="popup popup--hidden center-flex -pPrev">
    <div class="popupBox readPopup__preview container">
        <button class="button buttonClose -btnCl" aria-label="Close Popup"><span
                class="icoInline icoClose center-flex"></span></button>
        <div class="readPopup__bg col-lg-10">
            <img src="./asset/images/sample/preview-1.png" alt="" width="886" height="1300" loading="lazy">
            <img src="./asset/images/sample/preview-2.png" alt="" width="886" height="1300" loading="lazy">
            <img src="./asset/images/sample/preview-3.png" alt="" width="886" height="1300" loading="lazy">
            <img src="./asset/images/sample/preview-4.png" alt="" width="886" height="1300" loading="lazy">
        </div>
    </div>
</div>