<div class="readCta row">
    <div class="readCta__item col-12 col-lg-5">
        <div class="readBuy">
            <button class="button readBuy__btn center-flex">Buy From <span class="icoInline icoChevron"></span>
            </button>
            <input type="checkbox" class="readBuyToggle" name="buy" id="buy" aria-label="Open popup"
                aria-haspopup="true">
            <ul class="readBuy__list">
                <li>
                    <a href="#" class="readBuy__link">
                        Gramedia.com<span class="icoInline icoArrow"></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="readBuy__link">
                        Shopee.co.id<span class="icoInline icoArrow"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="readCta__item col-12 col-lg-5">
        <button class="button readVideo center-flex -bVideo">Video
        </button>
    </div>
</div>