<div class="readCta row">
    <div class="readCta__item col-12 col-lg-5">

        {{>read/button-buy}}

    </div>
    <div class="readCta__item col-12 col-lg-5">
        <button class="button readVideo center-flex -bVideo">Video
        </button>
    </div>
</div>