{{#each book.Best}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="readImg">
    <img src="{{image}}" alt="{{title}}" width="380" height="573">
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}