<div class="readTab listTab tab row">
    <ul class="listTab__list readTab__list display-flex align-center container">
        <li>
            <button class="button listTab__label readTab__btn tabbutton active" onclick="openTab(event, 'review')">
                Review
            </button>
        </li>
        <li>
            <button class="button listTab__label readTab__btn tabbutton" onclick="openTab(event, 'author')">
                About Author
            </button>
        </li>
    </ul>
    <div class="tabwrapper container">
        <hr>
        <div class="tabcontent readTab__content active" id="review">
            {{#if login}}

            {{>read/review total=3 index_start=0 index_end=3}}

            {{else}}
            <div class="readReview">
                <p>Oh no, you are not logged in. Please login to leave a review</p>
                <a class="button buttonTertiery" href="login.html">Login</a>
            </div>
            {{/if}}
        </div>
        <div class="tabcontent readTab__content" id="author">

            {{>read/author total=1 index_startauthor=1 index_endauthor=2}}
            
        </div>
    </div>
</div>