<div class="productTag {{#if type}}productTag--{{type}}{{/if}}">
    <span>Tags</span>
    {{#eq type compare="comic"}}
    <div class="productTag__item">
        <a href="#" class="productTag__link">
            My Hero Academia
        </a>
    </div>
    <div class="productTag__item">
        <a href="#" class="productTag__link">
            Kohei Horikoshi
        </a>
    </div>
    <div class="productTag__item">
        <a href="#" class="productTag__link">
            Manga
        </a>
    </div>
    <div class="productTag__item">
        <a href="#" class="productTag__link">
            Shonen Manga
        </a>
    </div>
    {{/eq}}
</div>