<div class="upload uploadWrap">
    <div class="uploadBox">
        <label class="uploadBtn">
            <div class="sr-only">Upload images</div>
            <span class="icoInline icoUpload"></span>
            <input type="file" multiple="" data-max_length="2" class="uploadInput">
        </label>
    </div>
    <div class="uploadImg__wrap"></div>
</div>
<div class="formMisc uploadWarn"></div>