.menu {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 8vh;
    transform: translateX(200%);
    animation-duration: 2s;
    animation-fill-mode: forwards;
    background: radial-gradient(76.23% 61.06% at 32.59% -16.10%, #494949 0%, #1B1B1B 100%);

    &.bounce {
        animation-name: bounce;
        animation-timing-function: ease;
    }

    &::after {
        content: '';
        position: absolute;
        width: 45px;
        height: 47px;
        top: 15px;
        right: 15px;
        background: url(../images/dot-bg-corner.png);
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;

        @include min-responsive($w-md) {
            opacity: 1;
        }

        @include min-responsive($w-vlg) {
            width: 80px;
            height: 82px;
            top: 50px;
            right: 50px;

            @include max-height($w-hmd) {
                width: 60px;
                height: 62px;
                top: 20px;
                right: 25px;
            }
        }
    }

    @include range-responsive($w-md, $w-xl) {
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }

    @include min-responsive($w-xl) {
        align-items: center;
        flex-direction: row;
        padding-top: 0;
    }

    &.active {

        .menuLink,
        .buttonInfo {
            pointer-events: all;
        }
    }

    &Content {
        max-width: 474px;
        padding-left: 15px;
        padding-right: 15px;
        color: #DBBC74;

        @include min-responsive($w-vlg) {
            padding-left: 0;
            padding-right: 0;
            margin-left: 60px;
            margin-right: 40px;

            @include max-height($w-hmd) {
                margin-left: 45px;
            }
        }

        @include min-responsive($w-xxl) {
            margin-left: 70px;
        }

        @include range-responsive($w-md, $w-vlg) {
            margin-left: 320px;
        }

        .articleContent {
            font-size: 14px;
            padding: 0;

            @include min-responsive($w-vlg) {
                font-size: 16px;
            }
        }

        .articleCaption {
            font-size: 20px;

            @include max-responsive($w-xm) {
                font-size: 18px;
            }

            @include min-responsive($w-vlg) {
                font-size: 24px;
            }
        }
    }

    &Scroll {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);

        @include min-responsive($w-vlg) {
            bottom: 20px;
        }

        .buttonScroll {
            color: $cl-white;
        }

        .icon-scroll {
            &::before {
                top: 3px;
                animation: none;
            }
        }
    }

    &Info {
        order: 1;
        flex-direction: column;
        margin: auto auto auto 280px;
        @include font-pack($font-base, 14px, false, false, $cl-white);

        @include max-responsive($w-xm) {
            margin: auto auto auto 240px;
        }

        @include range-responsive($w-md, $w-xl) {
            margin: 20px 25px 0 0;
        }

        @include min-responsive($w-xl) {
            order: unset;
            flex-direction: row;
            margin: 0 0 0 610px;
            font-size: 18px;

            @include max-height($w-hmd) {
                margin: 0px 0 0 485px;
            }
        }

        img {
            order: 1;
            max-width: 60px;
            margin-top: 8px;

            @include range-responsive($w-md, $w-xl) {
                max-width: unset;
            }

            @include min-responsive($w-xl) {
                order: unset;
                margin-top: 0;
                margin-right: 12px;
                max-width: unset;
            }
        }
    }

    &Wheel {
        position: absolute;
        width: 600px;
        height: 600px;
        text-align: center;
        left: -300px;
        top: calc(5% + 150px);
        transform: rotate(0);
        // transform: translateY(-50%);
        flex-shrink: 0;
        transition: transform .4s ease;

        &.rotate {
            animation: rotate linear 3s forwards;
        }

        @include max-responsive($w-xm) {
            width: 500px;
            height: 500px;
            left: -250px;
        }

        @include range-responsive($w-md, $w-vlg) {
            width: 800px;
            height: 800px;
            left: -445px;
            top: 10%;
            // transform: translateY(-50%);
        }

        @include range-responsive($w-vlg, $w-xl) {
            width: 1040px;
            height: 1040px;
            left: -620px;
            top: 10%;
            // transform: translateY(-50%);
        }

        @include min-responsive($w-xl) {
            width: 1313px;
            height: 1313px;
            left: -657px;
            top: unset;
            transform: none;

            @include max-height($w-hmd) {
                width: 1040px;
                height: 1040px;
                left: -520px;
            }
        }

        svg {
            width: 600px;
            height: 600px;

            @include max-responsive($w-xm) {
                width: 500px;
                height: 500px;
            }

            @include range-responsive($w-md, $w-vlg) {
                width: 800px;
                height: 800px;
            }

            @include range-responsive($w-vlg, $w-xl) {
                width: 1040px;
                height: 1040px;
            }

            @include min-responsive($w-xl) {
                width: 1313px;
                height: 1313px;

                @include max-height($w-hmd) {
                    width: 1040px;
                    height: 1040px;
                }
            }
        }

        &.rotate1 {
            transform: rotate(0);
        }

        &.rotate2 {
            transform: rotate(-60deg);
        }

        &.rotate3 {
            transform: rotate(-120deg);
        }

        &.rotate4 {
            transform: rotate(-180deg);
        }

        &.rotate5 {
            transform: rotate(-240deg);
        }

        &.rotate6 {
            transform: rotate(-300deg);
        }
    }

    &Link {
        display: block;
        cursor: pointer;
    }
}