.start {
    position: relative;

    &Img {
        &__wrap {
            display: flex;
            position: relative;
            padding-top: 123px;
            flex-wrap: wrap;
            justify-content: center;

            @include min-responsive($w-md) {
                top: 18%;
                flex-wrap: nowrap;
            }
        }

        &__bg {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: -10px;
            z-index: -1;

            @include max-responsive($w-xm) {
                bottom: 0;
            }
        }
    }

    &Item {
        position: relative;
        width: calc(50% - 10px);

        @include min-responsive($w-md) {
            width: auto;
        }

        &1 {

            @include min-responsive($w-md) {
                left: 0;
                margin-right: -282px;
                bottom: 58px;
                z-index: -1;
            }

            .bounce {
                animation-name: bounce-1;
            }
        }

        &2 {
            order: 2;

            @include min-responsive($w-md) {
                order: unset;
                margin-right: 4px;
                z-index: 0;
            }

            .bounce {
                animation-name: bounce-2;
            }
        }

        &3 {
            @include min-responsive($w-md) {
                margin-left: 4px;
                z-index: 0;
            }

            .bounce {
                animation-name: bounce-3;
            }
        }

        &4 {
            order: 3;

            @include min-responsive($w-md) {
                order: unset;
                margin-left: -282px;
                bottom: 58px;
                z-index: -1;
            }

            .bounce {
                animation-name: bounce-4;
            }
        }

        &__img {
            animation-timing-function: linear;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            height: 124px;
            object-fit: contain;

            @include min-responsive($w-md) {
                height: unset;
            }
        }
    }
}