.preloader {
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1001;
    position: fixed;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .7s;
    background: rgb(81, 179, 255);
    background: linear-gradient(180deg, rgba(81, 179, 255, 1) 0%, rgba(0, 85, 150, 1) 100%);

    &.done {
        opacity: 0;
        pointer-events: none;
    }

    &Wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    &Img {
        max-width: 340px;

        @include min-responsive($w-md) {
            max-width: 568px;
        }
    }
}