<div class="sidebarArt__list">
    <div class="sidebarArt__item mt2">
        <a href="article-read.html" class="sidebarArt__link display-flex">
            <div class="sidebarArt__img">
                <img src="https://dummyimage.com/90x90/092947/fff&amp;amp;text=90x90" class="artImg" alt="" width="90"
                    height="90" loading="lazy">
            </div>
            <div class="sidebarArt__content">
                <div class="artDate">09 - 09 - 2022</div>
                <h3 class="titleArt">Dirgahayu Republik Indonesia yang ke 77, Kirim Paket dan Dokumen Diskon 17-an</h3>
            </div>
        </a>
    </div>
    <div class="sidebarArt__item mt2">
        <a href="article-read.html" class="sidebarArt__link display-flex">
            <div class="sidebarArt__img">
                <img src="https://cms.saitrans.co.id/uploads/article/article_1657432151.jpg" class="artImg" alt="" width="90" height="90" loading="lazy">
            </div>
            <div class="sidebarArt__content">
                <div class="artDate">09 - 09 - 2022</div>
                <h3 class="titleArt">Keuntungan dan Tantangan Bisnis Usaha Kurir</h3>
            </div>
        </a>
    </div>
    <div class="sidebarArt__item mt2">
        <a href="article-read.html" class="sidebarArt__link display-flex">
            <div class="sidebarArt__img">
                <img src="https://cms.saitrans.co.id/uploads/article/article_1627369558.jpg" class="artImg" alt="" width="90" height="90" loading="lazy">
            </div>
            <div class="sidebarArt__content">
                <div class="artDate">09 - 09 - 2022</div>
                <h3 class="titleArt">Kirim Barang Import &#x27;Binding Agent Spreader&#x27; tujuan Kota Pontianak.</h3>
            </div>
        </a>
    </div>
    <div class="sidebarArt__item mt2">
        <a href="article-read.html" class="sidebarArt__link display-flex">
            <div class="sidebarArt__img">
                <img src="https://cms.saitrans.co.id/uploads/article/article_1627530025.jpg" class="artImg" alt="" width="90" height="90" loading="lazy">
            </div>
            <div class="sidebarArt__content">
                <div class="artDate">09 - 09 - 2022</div>
                <h3 class="titleArt">Pengiriman Paket &amp; Dokumen, SAI Solusinya!</h3>
            </div>
        </a>
    </div>
    <div class="sidebarArt__item mt2">
        <a href="article-read.html" class="sidebarArt__link display-flex">
            <div class="sidebarArt__img">
                <img src="https://cms.saitrans.co.id/uploads/article/article_1627359998.jpg" class="artImg" alt="" width="90" height="90" loading="lazy">
            </div>
            <div class="sidebarArt__content">
                <div class="artDate">09 - 09 - 2022</div>
                <h3 class="titleArt">Pengiriman Barang Ke Panakukang, Makassar</h3>
            </div>
        </a>
    </div>
</div>