<div class="event eventSidebar mt40">
    <div class="eventVid">
        <a href="#" aria-label="Play Event">
            <div class="eventVid__cover eventSidebar__cover">
                <img src="asset/images/sample/event.jpg" class="eventSidebar__img" alt="Aramula Event" width="300" height="185" loading="lazy">
            </div>
            <span class="icon icon-play"></span>
        </a>
    </div>
    <div class="eventContent eventSidebar__content text-center">
        <div class="eventLabel"><span class="icon icon-stream mr10"></span>Live Streaming</div>
        <div class="eventTitle mt20">Aramula Event</div>
        <p class="eventText mt10">Watch live news stream from Aramula News and get the latest, breaking news headlines
            of the
            day
            for national news and world news today.</p>
            <div class="eventDetail eventSidebar__detail mt10">
                <div class="eventDate display-flex aitems-center">
                    <span class="icon icon-cal mr10"></span> 29 September 2021
                </div>
                <div class="eventTime display-flex aitems-center mt10">
                    <span class="icon icon-time mr10"></span> 10:00 -  12:00 WIB
                </div>
            </div>
    </div>
</div>