<div class="highlight highlightBox mt30">
    <div class="articleCaption__box text-center">
        <img src="asset/images/numpang-promo.png" class="" alt="Numpang Promo" width="234" height="32" loading="lazy">
    </div>
    <div class="highlightPromo" id="spromo">
        <div class="highlightPromo__item">
            <a href="#" class="highlightBox__link">
                <img src="asset/images/sample/webp/art-big-0.webp" class="highlightPromo__img" alt="" width="294" height="191"
                    loading="lazy">
                <h3 class="articleTitle highlightPromo__title mt10">6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman</h3>
                <div class="articleTime highlightPromo__time mt5">9 menit yang lalu</div>
            </a>
        </div>
        <div class="highlightPromo__item">
            <a href="#" class="highlightBox__link">
                <img src="asset/images/sample/webp/art-big-1.webp" class="highlightPromo__img" alt="" width="294" height="191"
                    loading="lazy">
                <h3 class="articleTitle highlightPromo__title mt10">Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar</h3>
                <div class="articleTime highlightPromo__time mt5">9 menit yang lalu</div>
            </a>
        </div>
        <div class="highlightPromo__item">
            <a href="#" class="highlightBox__link">
                <img src="asset/images/sample/webp/art-big-2.webp" class="highlightPromo__img" alt="" width="294" height="191"
                    loading="lazy">
                <h3 class="articleTitle highlightPromo__title mt10">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h3>
                <div class="articleTime highlightPromo__time mt5">9 menit yang lalu</div>
            </a>
        </div>
        <div class="highlightPromo__item">
            <a href="#" class="highlightBox__link">
                <img src="asset/images/sample/webp/art-big-3.webp" class="highlightPromo__img" alt="" width="294" height="191"
                    loading="lazy">
                <h3 class="articleTitle highlightPromo__title mt10">Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!</h3>
                <div class="articleTime highlightPromo__time mt5">9 menit yang lalu</div>
            </a>
        </div>
        <div class="highlightPromo__item">
            <a href="#" class="highlightBox__link">
                <img src="asset/images/sample/webp/art-big-4.webp" class="highlightPromo__img" alt="" width="294" height="191"
                    loading="lazy">
                <h3 class="articleTitle highlightPromo__title mt10">Delishburger yang Benar-Benar Delicious</h3>
                <div class="articleTime highlightPromo__time mt5">9 menit yang lalu</div>
            </a>
        </div>
    </div>
    <div class="highlightBottom">
        <div class="highlightDots" id="dtpromo">
        </div>
    </div>
    <a href="#" class="buttonOther text-center mt30">Lihat Lainnya</a>
</div>