<div class="recomm mt40">
    <div class="sidebarCaption">Rekomendasi</div>
    <ul class="recommList mt10">
        <li class="recommItem">
            <a href="#" class="recommLink display-flex dir-column">
                <img src="asset/images/sample/art-big-0.jpg" alt="" class="recommImg" width="300" height="205" loading="lazy">
                <div class="sidebarDetail display-flex aitems-center mt10">
                    <div class="sidebarSubtitle">Hangout</div>
                    <div class="sidebarTime">9 menit yang lalu</div>
                </div>
                <h3 class="recommTitle mt10">6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman</h3>
            </a>
        </li>
        <li class="recommItem">
            <a href="#" class="recommLink display-flex aitems-center">
                <img src="asset/images/sample/art-big-1.jpg" alt="" class="recommImg mr10" width="99" height="99" loading="lazy">
                <div class="recommBox">
                    <h3 class="recommTitle">Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar</h3>
                    <div class="sidebarSubtitle mt10">Women</div>
                </div>
            </a>
        </li>
        <li class="recommItem">
            <a href="#" class="recommLink display-flex aitems-center">
                <img src="asset/images/sample/art-big-2.jpg" alt="" class="recommImg mr10" width="99" height="99" loading="lazy">
                <div class="recommBox">
                    <h3 class="recommTitle">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h3>
                    <div class="sidebarSubtitle mt10">Zodiak</div>
                </div>
            </a>
        </li>
        <li class="recommItem">
            <a href="#" class="recommLink display-flex aitems-center">
                <img src="asset/images/sample/art-big-3.jpg" alt="" class="recommImg mr10" width="99" height="99" loading="lazy">
                <div class="recommBox">
                    <h3 class="recommTitle">Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!</h3>
                    <div class="sidebarSubtitle mt10">Woman</div>
                </div>
            </a>
        </li>
        <li class="recommItem">
            <a href="#" class="recommLink display-flex aitems-center">
                <img src="asset/images/sample/art-big-4.jpg" alt="" class="recommImg mr10" width="99" height="99" loading="lazy">
                <div class="recommBox">
                    <h3 class="recommTitle">Delishburger yang Benar-Benar Delicious</h3>
                    <div class="sidebarSubtitle mt10">Hangout</div>
                </div>
            </a>
        </li>
    </ul>
</div>