.theme {
    &--premium {
        --cl-premium: #803C00;

        @keyframes fadeInFromNone {
            0% {
                opacity: 0
            }

            1% {
                opacity: 0
            }

            to {
                opacity: 1
            }
        }

        @keyframes fadeOutToNone {
            0% {
                opacity: 1
            }

            1% {
                opacity: 1
            }

            to {
                opacity: 0
            }
        }

        &.-scroll {
            .header {

                .headerTop {
                    transform: translateY(40px);
                }

                &LoginLabel {
                    opacity: 1;
                    visibility: visible;
                    width: auto;
                    margin-left: 5px;
                }
            }

            .flashnewsSlider {
                transform: translateY(100px);
            }

            &.-nav {
                .main {
                    padding-top: 0;
                }

                .nav {
                    opacity: 1;
                }

                .header {
                    &Top {
                        background: $cl-white;
                        transform: translateY(0);

                        opacity: 1;
                        visibility: visible;
                        pointer-events: all;
                        @include animation(fadeInFromNone, 0.5s);
                    }

                    &Wrap {
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }

                    &LoginLabel {
                        opacity: 0;
                        visibility: hidden;
                        width: 0;
                        margin-left: 0;
                    }
                }

                .flashnewsSlider {
                    opacity: 0;
                    background: #D11616;
                    // opacity: 1;
                    // visibility: visible;
                    // pointer-events: all;
                    // @include animation(fadeInFromNone, 0.5s);
                    transform: translateY(95px);

                    &Wrap {
                        max-width: 1375px;
                        width: 100%;
                        padding-left: 16px;
                        padding-right: 12px;
                    }
                }

                .onfixed {
                    @extend .visible;
                    height: 47px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }

        .root {
            .main {
                padding-top: 0;
            }
        }

        .nav {
            opacity: 0;
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
            transition: opacity .2s ease;
        }

        .header {
            &Top {
                transform: translateY(40px);
                background: transparent;
                transition: all .5s ease;
            }

            &Wrap {
                width: calc(1110px + 14px);
                border-radius: 12px;
                padding-left: 22px;
                padding-right: 22px;
                background: $cl-white;
            }
        }

        .flashnewsSlider {
            transform: translateY(100px);
            background: transparent;
            transition: all .5s ease;

            &Wrap {
                width: calc(1110px + 14px);
                padding-left: 22px;
                padding-right: 22px;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
                background: #D11616;
            }

            &~.header .headerWrap {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .onfixed {
            @extend .hidden;
            height: 0;
        }

        .details {
            .col-9 {
                max-width: 900px;
                padding-left: 92px;
                padding-right: 92px;
            }

            &Title {
                position: relative;

                &.-parallax {
                    width: 900px;
                    padding-top: 40px;
                    padding-left: 92px;
                    padding-right: 92px;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 160px;
                    margin-bottom: -160px;
                    background: $cl-white;
                }

                &Caption {
                    text-align: center;
                    @include font-pack(false, 30px, false, 1.4, #222222);
                }

                .detailsWrap {
                    right: 92px;
                }

                .artChannel {
                    text-align: center;
                    margin-bottom: 15px;
                }

                .detailsAttribute{
                    margin-top: 40px;
                }
            }

            &Lead {
                text-align: center;
            }

            &Attribute {
                color: #222;
            }

            &Cover {
                width: 100%;
                position: fixed;
                top: 0;

                &Img {
                    padding-top: 100vh;
                    border-radius: 0;
                }
            }

            &Parallax {
                position: relative;
                margin-top: 100vh;
                background: $cl-white;
                padding-bottom: 120px;
            }

            &Content .big-orange {
                margin-block-start: 2.8em;
                margin-block-end: 2.8em;
                margin-left: 45px;
                margin-right: 45px;
                border: 1px solid #3D3D3D;
                border-left: 0;
                border-right: 0;
                border-radius: 0;
                padding: 20px 14px;
                font-style: normal;
                color: #222;
                letter-spacing: 0.54px;
                z-index: 1;

                &::before,
                &::after {
                    top: 5px;
                    left: 5px;
                    width: 45px;
                    height: 45px;
                    opacity: .55;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='42' fill='none'%3E%3Cpath fill='%23000' d='m12.08.566 4.34 3.22c-1.027 1.213-2.147 3.08-3.36 5.6-1.12 2.427-2.053 5.087-2.8 7.98-.747 2.893-1.027 5.74-.84 8.54a21.877 21.877 0 0 1 1.68-.42c.56-.187 1.12-.28 1.68-.28 2.053 0 3.78.7 5.18 2.1 1.493 1.307 2.24 3.173 2.24 5.6 0 2.707-.793 4.9-2.38 6.58-1.587 1.587-3.593 2.38-6.02 2.38-3.547 0-6.253-1.307-8.12-3.92-1.867-2.613-2.8-5.787-2.8-9.52 0-2.613.42-5.553 1.26-8.82.933-3.36 2.24-6.72 3.92-10.08 1.68-3.453 3.687-6.44 6.02-8.96Zm25.76 0 4.34 3.22c-1.027 1.213-2.147 3.08-3.36 5.6-1.12 2.427-2.053 5.087-2.8 7.98-.747 2.893-1.027 5.74-.84 8.54a21.877 21.877 0 0 1 1.68-.42c.56-.187 1.12-.28 1.68-.28 2.053 0 3.78.7 5.18 2.1 1.493 1.307 2.24 3.173 2.24 5.6 0 2.707-.793 4.9-2.38 6.58-1.587 1.587-3.593 2.38-6.02 2.38-3.547 0-6.253-1.307-8.12-3.92-1.867-2.613-2.8-5.787-2.8-9.52 0-2.613.42-5.553 1.26-8.82.933-3.36 2.24-6.72 3.92-10.08 1.68-3.453 3.687-6.44 6.02-8.96Z'/%3E%3C/svg%3E");
                    filter: invert(65%) sepia(76%) saturate(414%) hue-rotate(347deg) brightness(101%) contrast(98%);
                    z-index: -1;
                }

                &::after {
                    content: "";
                    left: unset;
                    right: 30px;
                    bottom: 30px;
                    top: unset;
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    transform: rotate(180deg)
                }
            }

            &Tag {
                justify-content: flex-start;

                &Link {
                    color: #222;
                    border: 1px solid #D11616;
                }
            }
        }

        .titleCaptionBig {
            font-size: 25px;
            font-weight: $font-weight-sbold;
        }

        .premium {

            &Lock {
                max-width: 516px;
                margin-left: auto;
                margin-right: auto;
                letter-spacing: 0.39px;
                @include font-pack($font-manrope, 13px, $font-weight-med, 1.69, false);

                &Caption {
                    letter-spacing: 0;
                    @include font-pack(false, 20px, $font-weight-sbold, 1.5, #222);
                }

                &Cta {
                    min-width: 160px;
                    padding: 12px 15px;
                    border-radius: 7px;
                    text-transform: none;
                    background: var(--cl-premium);
                    font-weight: $font-weight-sbold;
                    letter-spacing: 1.12px;
                }
            }

            &-alert {
                width: fit-content;
                margin-bottom: 12px;
                padding: 5px 20px;
                background: transparent;
                letter-spacing: 0.39px;
                @include font-pack(false, 13px, $font-weight-med, 1.69, false);

                &-green {
                    border: 1px solid #0F5D1B;
                    color: #0F5D1B;

                    &::before {
                        filter: invert(24%) sepia(92%) saturate(476%) hue-rotate(78deg) brightness(94%) contrast(95%);
                    }
                }

                &-red {
                    border: 1px solid #D11616;
                    color: #D11616;

                    &::before {
                        filter: invert(18%) sepia(61%) saturate(3374%) hue-rotate(345deg) brightness(103%) contrast(112%);
                    }
                }

                &::before {
                    content: '';
                    position: relative;
                    @extend %icoInfo;
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    background-size: contain;
                    background-repeat: no-repeat
                }
            }
        }

        .faq {
            &BoxTitle {
                @include font-pack($font-manrope, 16px, $font-weight-sbold, false, false);
            }

            &Content {
                @include font-pack($font-manrope, 14px, $font-weight-med, 1.57, false);
            }
        }

        .footer {
            margin-top: 0;
        }
    }
}