.theme {
    &--lifestyle {
        .breadcrumbItem {
            color: var(--cl-lifestyle);
        }

        .detailsContent a {
            color: var(--cl-lifestyle);
        }

        .detailsTagLink {
            color: var(--cl-lifestyle);
            border: 1px solid var(--cl-lifestyle);

            &:hover {
                background: var(--cl-lifestyle);
                color: $cl-white;
            }
        }

        .baca-juga {
            background: #FFD2F8;

            th {
                color: var(--cl-lifestyle);
            }

            a {
                border-left: 2px solid var(--cl-lifestyle);
                color: $cl-black;
            }
        }

        .detailsPaging {
            &Caption {
                color: var(--cl-lifestyle);
            }

            &Lead {
                color: var(--cl-lifestyle);
            }

            &Item:hover {
                .detailsPagingTitle {
                    color: var(--cl-lifestyle);
                }
            }
        }

        .detailsBreak {
            border-bottom: 1px solid var(--cl-lifestyle);

            &Caption {
                color: var(--cl-lifestyle);
            }
        }

        .detailsAuthor {
            a:hover {
                color: #a20087;
            }
        }

        .detailsImg {
            &:hover {
                ~.detailsZoom {
                    background: rgba(158, 19, 165, .75);
                }
            }

            img {
                border-radius: 12px;
                overflow: hidden;
            }
        }

        .detailsImg,
        .detailsCoverImg {
            &:hover {
                .detailsZoom {
                    background: rgba(158, 19, 165, .75);
                }
            }
        }

        .pagingLink,
        .pagingShow {

            &.-active,
            &:hover {
                background: var(--cl-lifestyle);
                border: 1px solid var(--cl-lifestyle);
            }
        }
    }
}