.theme {
    &--lifestyle {
        --cl-lifestyle: #A20087;
        --filter-lifestyle: invert(12%) sepia(60%) saturate(6232%) hue-rotate(300deg) brightness(90%) contrast(113%);

        .nav {
            &Item {
                &.-active {
                    .navLink {
                        color: var(--cl-lifestyle);
                        border-color: var(--cl-lifestyle);
                    }
                }
            }

            &Link:hover {
                color: var(--cl-lifestyle);
                border-color: var(--cl-lifestyle);
            }
        }

        .header {
            .icoLogin {
                filter: var(--filter-lifestyle);
                -webkit-filter: var(--filter-lifestyle);
            }

            &Logo {
                img {
                    width: 140px;
                }

                &--bisniscom {
                    img {
                        width: auto;
                    }
                }
            }
        }

        .flashnews {
            &Caption {
                background: var(--cl-lifestyle);
            }
        }

        .kanal {

            &Bisnistv {
                .artDuration {
                    color: var(--cl-lifestyle);

                    .icoPlay {
                        left: 6px;
                    }
                }
            }
        }

        .title {
            &Others {
                color: var(--cl-lifestyle);
                border-color: var(--cl-lifestyle);
            }

            &CaptionBox {
                background: var(--cl-lifestyle);
            }
        }

        .button {
            &Primary {
                color: var(--cl-lifestyle);
                border-color: var(--cl-lifestyle);

                &:hover {
                    color: $cl-white;
                    background: var(--cl-lifestyle);
                }
            }
        }

        .clKanal {
            color: var(--cl-lifestyle);
        }

        .art {
            &Channel {
                color: var(--cl-lifestyle);
            }

            &Link:hover {
                .artTitle {
                    color: var(--cl-lifestyle);
                }
            }

            &PhotoMore {
                color: var(--cl-lifestyle);

                &:hover {
                    background: var(--cl-lifestyle);
                    color: $cl-white;
                }
            }

            &Duration {
                bottom: -1px;
            }
        }

        .hL {

            &Nav {
                &Item {
                    &.slick-current {
                        .hLNavWrap {
                            border-color: var(--cl-lifestyle);
                        }
                    }
                }
            }
        }

        .topic {
            &Link {
                border-color: var(--cl-lifestyle);

                &:hover {
                    background: var(--cl-lifestyle);
                }
            }

            &Title {
                color: var(--cl-lifestyle);
            }
        }

        .bplusLink {
            &:hover {
                .bplusTitle {
                    color: #ffce21;
                }
            }
        }

        .newsletterCta {
            background: var(--cl-lifestyle);
        }

        .profileImgDefault,
        .icoArrow,
        .big-orange:before {
            filter: var(--filter-lifestyle);
            -webkit-filter: var(--filter-lifestyle);
        }
    }
}