.breadcrumb {
    position: relative;
    height: 36px;
    margin-top: 83px;
    padding-left: 20px;
    padding-right: 20px;
    background: #F9F9F9;

    &~.main {
        padding-top: 0;
    }

    &Link {
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
        vertical-align: middle;
        @include font-pack(false, 12px, 400, false, $cl_purple);

        &.active {
            color: $cl_pink;
        }
    }

    &Item {
        &:after {
            content: ">";
            padding-left: 4px;
            padding-right: 4px;
            vertical-align: middle;
            color: $cl_purple;
        }

        &:last-child {
            &:after {
                content: none;
            }
        }
    }

    &Channel {
        height: 38px;
        padding-left: 12px;
        padding-right: 12px;

        .breadcrumbItem {
            &:after {
                content: none;
            }
        }

        .breadcrumbLink {
            display: block;
            padding: 10px 8px;
            color: #717171;

            &.active {
                color: $cl_pink;
                border-bottom: 2px solid $cl_pink;
            }
        }

        &~.pushdown-banner {
            top: 0;

            .ol_big_inner {
                top: 156px;
            }

            &~.main {
                padding-top: 1px;
            }
        }

        &~.main {
            padding-top: 0;
            margin-top: 0;
        }
    }
}