.writer {
    &Item{
        margin-top: 20px;
    }
    &Link {
        display: block;
    }

    &Avatar {
        width: 70px;
        height: 70px;
    }

    &Name{
        @include title_overflow(15px, 15px);
        text-transform: none;
        @include font-pack(false, 12px, 400, false, $cl_primary);
    }
}