<div class="premiumBox">
    <div class="titleCaptionWrap">
        <div class="premiumBoxBtn"><span class="icoInline icoPremium"></span>Konten Premium</div>
        <a href="#" class="premiumBoxLogin"><span class="icoInline icoLoginPremium"></span>Login</a>
    </div>
    <h3 class="premiumBoxCaption">
        Nikmati Konten Premium Untuk Informasi Yang Lebih Dalam
    </h3>
    {{>kanal/article channel=channel.Premium.latest type="col" total=3 index_start=0
    index_end=3}}

    <a href="#" class="titleOthers">Lihat Lainnya</a>
</div>