<div class="premiumGate mt50">
    <img src="./asset/images/detail/gate-tokobisnis.jpg" class="premiumGateBg" alt="" loading="lazy" width="728"
        height="149">
    <div class="premiumGateBox">
        <div class="center-flex">
            <div class="premiumGateLogo">
                <img src="./asset/images/logo/bisniscom-logo-w.svg" alt="Bisniscom Logo" loading="lazy" width="83"
                    height="18">
            </div>
            <div class="premiumGateLogo">
                <img src="./asset/images/logo/tokobisnis-logo.svg" alt="Tokobisnis Logo" loading="lazy" width="107"
                    height="18">
            </div>
        </div>
        <div class="premiumGateWrap">
            <div class="premiumGateContent">
                <div class="premiumGateCaption">Berlangganan konten bisnis.com disini</div>
                Dapatkan informasi komprehensif di Bisnis.com yang diolah secara mendalam untuk menavigasi bisnis Anda
                hanya
                disini.
            </div>
            <a href="#" class="premiumGateCta">
                Berlangganan Sekarang
            </a>
        </div>
    </div>
</div>