<header class="header premiumHeader">
    <div class="headerTop">
        <div class="headerWrap container">
            <div class="premiumHeaderWrap">
                <a href="https://www.bisnis.com/" class="premiumHeaderLogo">
                    <img src="./asset/images/icon/icon-bisniscom.svg" alt="Bisniscom icon" width="36" height="36">
                </a>
                <div class="menu">
                    <button class="button menuBar" aria-label="Navigation menu" onclick="toggleMenu(this)">
                        <span><i></i></span>
                    </button>
                </div>
            </div>
            <div class="headerCta">
                <div class="headerLogin">
                    {{#if login}}
                    <a href="https://id.bisnis.com/user" class="buttonProfile" aria-label="Profile">
                        Hi, Sibertama!
                    </a>
                    {{else}}
                    <a href="#" aria-label="Login">
                        Masuk / Daftar
                    </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</header>