<div class="premiumLock text-center mt40">
    <img src="./asset/images/detail/lock-premium.png" alt="" loading="lazy" width="314" height="154">
    <div class="premiumLockCaption">Silakan masuk/daftar untuk melanjutkan membaca konten premium</div>
    <div>Nikmati <span>gratis akses baca</span> 5 artikel Konten Premium!</div>
    <a href="#" class="premiumLockCta">Masuk/ daftar</a>
</div>