<li class="story">
    {{#eq header compare ="fix"}}
    <button class="storyIcon storyIcon__fix -js-slick-story" id="icon_story" data-target="#pop_story" data-toggle="modal" aria-label="Open web story"></button>
    <!--<button class="storyIcon storyIcon__fix idle -js-slick-story" id="icon_story" data-target="#pop_story" data-toggle="modal" aria-label="Open web story"></button>-->
    {{else}}
    <button class="storyIcon -js-slick-story" data-target="#pop_story" data-toggle="modal" aria-label="Open web story"></button>
    <!--<button class="storyIcon idle -js-slick-story" data-target="#pop_story" data-toggle="modal" aria-label="Open web story"></button>-->
    {{/eq}}
</li>