<ul class="profileSocial display-flex aitems-center mt20">
    <li class="profileSocial__item"><a href="#" class="profileSocial__link display-flex" target="_blank" rel="noopener noreferrer"
            aria-label="Facebook"><span class="icon icon-fb"></span></a></li>
    <li class="profileSocial__item"><a href="#" class="profileSocial__link display-flex" target="_blank" rel="noopener noreferrer"
            aria-label="Instagram"><span class="icon icon-ig"></span></a></li>
    <li class="profileSocial__item"><a href="#" class="profileSocial__link display-flex" target="_blank" rel="noopener noreferrer"
            aria-label="Twitter"><span class="icon icon-tw"></span></a></li>
    <li class="profileSocial__item"><a href="#" class="profileSocial__link display-flex" target="_blank" rel="noopener noreferrer"
            aria-label="Youtube"><span class="icon icon-yt"></span></a></li>
            <li class="profileSocial__item"><a href="#" class="profileSocial__link display-flex" target="_blank" rel="noopener noreferrer"
            aria-label="Linkedin"><span class="icon icon-ln"></span></a></li>
</ul>