<div class="best">
    <div class="bestWrap" id="sbest">
        <div class="bestItem">
            <a href="#" aria-label="See best seller" class="bestLink">
                <picture class="bestImg" loading="lazy">
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="./asset/images/bestseller/image1.png"
                        media="(min-width: 540px)" alt="">
                    <img srcset="./asset/images/bestseller/image1.png" alt="" class="bestImg" width="1138"
                        height="500" >
                    <!--[if IE 9]></video><![endif]-->
                </picture>
            </a>
        </div>
        <div class="bestItem">
            <a href="#" aria-label="See best seller" class="bestLink">
                <picture class="bestImg" loading="lazy">
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="./asset/images/bestseller/image2.png"
                        media="(min-width: 540px)" alt="">
                    <img srcset="./asset/images/bestseller/image2.png" alt="" class="bestImg" width="1138"
                        height="500" >
                    <!--[if IE 9]></video><![endif]-->
                </picture>
            </a>
        </div>
        <div class="bestItem">
            <a href="#" aria-label="See best seller" class="bestLink">
                <picture class="bestImg" loading="lazy">
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="./asset/images/bestseller/image3.png"
                        media="(min-width: 540px)" alt="">
                    <img srcset="./asset/images/bestseller/image3.png" alt="" class="bestImg" width="1138"
                        height="500" >
                    <!--[if IE 9]></video><![endif]-->
                </picture>
            </a>
        </div>
    </div>
</div>