<div class="blogItem">
    <a href="blog-read.html" class="blogLink">
        <img src="./asset/images/blog/image1.png" alt="" class="blogImg" width="280" height="193">
        <h3 class="blogTitle">Hanya Tiga Hari Ransel Eversac Neo di Gramedia BCS Mall Batam Dijual Rp149 Ribu</h3>
        <div class="blogMisc">Read more</div>
    </a>
</div>
<div class="blogItem">
    <a href="blog-read.html" class="blogLink">
        <img src="./asset/images/blog/image2.png" alt="" class="blogImg" width="280" height="193">
        <h3 class="blogTitle">The 80 Most Common ECommerce Website Mistakes</h3>
        <div class="blogMisc">Read more</div>
    </a>
</div>
<div class="blogItem">
    <a href="blog-read.html" class="blogLink">
        <img src="./asset/images/blog/image3.png" alt="" class="blogImg" width="280" height="193">
        <h3 class="blogTitle">Hanya Tiga Hari Ransel Eversac Neo di Gramedia BCS Mall Batam Dijual Rp149 Ribu</h3>
        <div class="blogMisc">Read more</div>
    </a>
</div>
<div class="blogItem">
    <a href="blog-read.html" class="blogLink">
        <img src="./asset/images/blog/image1.png" alt="" class="blogImg" width="280" height="193">
        <h3 class="blogTitle">Hanya Tiga Hari Ransel Eversac Neo di Gramedia BCS Mall Batam Dijual Rp149 Ribu</h3>
        <div class="blogMisc">Read more</div>
    </a>
</div>
