<div class="breadcrumb">
    <ul class="display-flex">
        <li class="breadcrumbItem"><a href="#" class="breadcrumbLink">Home</a></li>
        <li class="breadcrumbItem"><a href="#" class="breadcrumbLink">Categories</a></li>
        <li class="breadcrumbItem"><a href="#" class="breadcrumbLink">Collections</a></li>
        <li class="breadcrumbItem"><a href="#" class="breadcrumbLink">Commuter Series</a></li>
        <li class="breadcrumbItem active"><a href="#" class="breadcrumbLink">Backpack</a></li>
    </ul>
</div>