<div class="evershareSlide">
    <div class="evershareWrap" id="severshare">
        <div class="evershareItem">
            <a href="#" aria-label="See Instagram Post" class="evershareLink">
                <div class="evershareContent">
                    <img src="./asset/images/evershare/image1.png" alt="" loading="lazy" class="evershareImg" width="291" height="291">
                    <img src="./asset/images/icon-ig.svg" class="icon" alt="" width="22" height="22" loading="lazy">
                </div>
            </a>
        </div>
        <div class="evershareItem">
            <a href="#" aria-label="See Instagram Post" class="evershareLink">
                <div class="evershareContent">
                    <img src="./asset/images/evershare/image2.png" alt="" loading="lazy" class="evershareImg" width="291" height="291">
                    <img src="./asset/images/icon-ig.svg" class="icon" alt="" width="22" height="22" loading="lazy">
                </div>
            </a>
        </div>
        <div class="evershareItem">
            <a href="#" aria-label="See Instagram Post" class="evershareLink">
                <div class="evershareContent">
                    <img src="./asset/images/evershare/image3.png" alt="" loading="lazy" class="evershareImg" width="291" height="291">
                    <img src="./asset/images/icon-ig.svg" class="icon" alt="" width="22" height="22" loading="lazy">
                </div>
            </a>
        </div>
        <div class="evershareItem">
            <a href="#" aria-label="See Instagram Post" class="evershareLink">
                <div class="evershareContent">
                    <img src="./asset/images/evershare/image4.png" alt="" loading="lazy" class="evershareImg" width="291" height="291">
                    <img src="./asset/images/icon-ig.svg" class="icon" alt="" width="22" height="22" loading="lazy">
                </div>
            </a>
        </div>
        <div class="evershareItem">
            <a href="#" aria-label="See Instagram Post" class="evershareLink">
                <div class="evershareContent">
                    <img src="./asset/images/evershare/image5.png" alt="" loading="lazy" class="evershareImg" width="291" height="291">
                    <img src="./asset/images/icon-ig.svg" class="icon" alt="" width="22" height="22" loading="lazy">
                </div>
            </a>
        </div>
    </div>
</div>