<footer class="footer">
    <div class="container">
        <div class="footerWrap display-flex">
            <div class="footerItem">
                <div class="footerCaption">Customer Services</div>
                <a href="index.html" class="logo">
                    <img class="logoImg" src="./asset/images/logo-eversac.png" alt="Eversac" loading="lazy" width="129"
                        height="53">
                </a>
                <a href="tel:+6282123456789" class="footerLink">+62 821-2345-6789</a>
                <a href="mailto:admin@eversac.com" class="footerLink">admin@eversac.com</a>
            </div>
            <div class="footerItem">
                <div class="footerCaption">Information</div>
                <a href="faq.html" class="footerLink">FAQ</a>
                <a href="#" class="footerLink">Syarat dan Ketentuan</a>
                <a href="privacy.html" class="footerLink">Kebijakan dan Privasi</a>
                <a href="contact-us.html" class="footerLink">Contact us</a>
            </div>
            <div class="footerItem">
                <div class="footerCaption">Company</div>
                <a href="our-story.html" class="footerLink">Our Story</a>
                <a href="blog.html" class="footerLink">Blog Articles</a>
                <a href="#" class="footerLink">EasyGO</a>
                <a href="#" class="footerLink">Evershare Donasi 1000 Guru</a>
            </div>
            <div class="footerItem">
                <div class="footerCaption">Keep Updates</div>
                <ul class="display-flex">
                    <li class="footerSocial">
                        <a href="#" class="icon icon-social icon-fb" aria-label="facebook">
                            <img src="./asset/images/icon-fb.svg" alt="" width="22" height="22" loading="lazy">
                        </a>
                    </li>
                    <li class="footerSocial">
                        <a href="#" class="icon icon-social icon-tw" aria-label="twitter">
                            <img src="./asset/images/icon-tw.svg" alt="" width="22" height="22" loading="lazy">
                        </a>
                    </li>
                    <li class="footerSocial">
                        <a href="#" class="icon icon-social icon-ig" aria-label="instagram">
                            <img src="./asset/images/icon-ig.svg" alt="" width="22" height="22" loading="lazy">
                        </a>
                    </li>
                </ul>
                <div class="footerMisc">Promotions, new products and sales. <br>
                    Directly to your inbox.</div>
                <form action="" class="footerForm">
                    <input type="email" name="email" placeholder="Your e-mail address" class="footerForm__input"
                        aria-label="Enter your email address">
                    <button type="submit" class="button footerForm__btn" aria-label="Send email address">
                        <img src="./asset/images/icon-send.svg" alt="" width="24" height="24" loading="lazy"
                            class="icon icon-send">
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="footerDisc text-center">
        All rights reserved 2022 @eversac
    </div>
</footer>