<div class="headline load">
    <div class="headlineWrap" id="sheadline">
        <div class="headlineItem">
            <a href="#" aria-label="See headline" class="headlineLink">
                <picture class="headlineImg">
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="./asset/images/headline/image1.png" media="(min-width: 540px)" alt="">
                    <img srcset="./asset/images/headline/image1.png" alt="" class="headlineImg" width="776"
                        height="300">
                    <!--[if IE 9]></video><![endif]-->
                </picture>
            </a>
        </div>
        <div class="headlineItem">
            <a href="#" aria-label="See headline" class="headlineLink">
                <picture class="headlineImg">
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="./asset/images/headline/image2.png" media="(min-width: 540px)" alt="">
                    <img srcset="./asset/images/headline/image2.png" alt="" class="headlineImg" width="776"
                        height="300">
                    <!--[if IE 9]></video><![endif]-->
                </picture>
            </a>
        </div>
        <div class="headlineItem">
            <a href="#" aria-label="See headline" class="headlineLink">
                <picture class="headlineImg">
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="./asset/images/headline/image3.png" media="(min-width: 540px)" alt="">
                    <img srcset="./asset/images/headline/image3.png" alt="" class="headlineImg" width="776"
                        height="300">
                    <!--[if IE 9]></video><![endif]-->
                </picture>
            </a>
        </div>
        <div class="headlineItem">
            <a href="#" aria-label="See headline" class="headlineLink">
                <picture class="headlineImg">
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="https://dummyimage.com/776x300/222222/fff" media="(min-width: 540px)" alt="">
                    <img srcset="https://dummyimage.com/776x300/222222/fff" alt="" class="headlineImg" width="776"
                        height="300">
                    <!--[if IE 9]></video><![endif]-->
                </picture>
            </a>
        </div>
    </div>
    <div class="headlineBottom">
        <div class="headlineDots" id="dtheadline">
        </div>
    </div>
</div>