<li>
    <a href="#" class="pagingLink disable" aria-label="Go to Previous Page">
        <img src="./asset/images/icon-caret-left.svg" alt="" loading="lazy" width="24" height="24">
    </a>
</li>
<li>
    <a href="#" class="pagingLink active">
        1
    </a>
</li>
<li>
    <a href="#" class="pagingLink">
        2
    </a>
</li>
<li>
    <a href="#" class="pagingLink">
        3
    </a>
</li>
<li>
    <a href="#" class="pagingLink" aria-label="Go to Next Page">
        <img src="./asset/images/icon-caret-right.svg" alt="" loading="lazy" width="24" height="24">
    </a>
</li>