<div class="listItem text-center">
    <button class="button listRemove" aria-label="Remove Wishlist">
        <img src="./asset/images/icon-remove.svg" alt="" width="20" height="20">
    </button>
    <a href="#" class="productLink">
        <img src="./asset/images/product/image1.png" alt="" loading="lazy"  class="productImg" width="220"
            height="220">
        <div class="productTitle">Eversac Omni Waist Pack Army</div>
        <div class="productPrice">IDR 179.000</div>
        <div class="button productDetails">See details</div>
    </a>
</div>
<div class="listItem text-center">
    <button class="button listRemove" aria-label="Remove Wishlist">
        <img src="./asset/images/icon-remove.svg" alt="" width="20" height="20">
    </button>
    <a href="product-read.html" class="productLink">
        <img src="./asset/images/product/image2.png" alt="" loading="lazy"  class="productImg" width="220"
            height="220">
        <div class="productSale">
            Sale <span>50%</span>
        </div>
        <div class="productTitle">Eversac Omni Vold Backpack Black</div>
        <div class="productPrice">IDR 279.000</div>
        <div class="button productDetails">See details</div>
    </a>
</div>
<div class="listItem text-center">
    <button class="button listRemove" aria-label="Remove Wishlist">
        <img src="./asset/images/icon-remove.svg" alt="" width="20" height="20">
    </button>
    <a href="#" class="productLink">
        <img src="./asset/images/product/image3.png" alt="" loading="lazy"  class="productImg" width="220"
            height="220">
        <div class="productTitle">Eversac Omni Vold Backpack Grey</div>
        <div class="productPrice">IDR 279.000</div>
        <div class="button productDetails">See details</div>
    </a>
</div>
<div class="listItem text-center">
    <button class="button listRemove" aria-label="Remove Wishlist">
        <img src="./asset/images/icon-remove.svg" alt="" width="20" height="20">
    </button>
    <a href="#" class="productLink">
        <img src="./asset/images/product/image4.png" alt="" loading="lazy"  class="productImg" width="220"
            height="220">
        <div class="productTitle">Eversac Omni Waist Pack Black</div>
        <div class="productPrice">IDR 179.000</div>
        <div class="button productDetails">See details</div>
    </a>
</div>
