<div class="listReview__item">
    <a href="#" class="display-flex">
        <img src="./asset/images/product/image1.png" alt="" loading="lazy"  class="productImg" width="220"
            height="220">
        <div class="listReview__content">
            <div class="productTitle">Eversac Omni Waist Pack Army</div>
            <div class="productPrice">IDR 179.000</div>
            <div class="listReview__time">2 jam lalu</div>
            <p>Tellus vitae blandit quam urna urna. Tempor pellentesque nec a, scelerisque. Elit in lorem eget vitae.
                Ullamcorper faucibus urna ipsum ipsum nisi, malesuada. Vel eget placerat quis enim fames.</p>
        </div>
    </a>
</div>
<div class="listReview__item">
    <a href="product-read.html" class="display-flex">
        <img src="./asset/images/product/image2.png" alt="" loading="lazy"  class="productImg" width="220"
            height="220">
        <div class="listReview__content">
            <div class="productTitle">Eversac Omni Vold Backpack Black</div>
            <div class="productPrice">IDR 279.000</div>
            <div class="listReview__time">2 jam lalu</div>
            <p>Tellus vitae blandit quam urna urna. Tempor pellentesque nec a, scelerisque. Elit in lorem eget vitae.
                Ullamcorper faucibus urna ipsum ipsum nisi, malesuada. Vel eget placerat quis enim fames.</p>
        </div>
    </a>
</div>
<div class="listReview__item">
    <a href="#" class="display-flex">
        <img src="./asset/images/product/image3.png" alt="" loading="lazy"  class="productImg" width="220"
            height="220">
        <div class="listReview__content">
            <div class="productTitle">Eversac Omni Vold Backpack Grey</div>
            <div class="productPrice">IDR 279.000</div>
            <div class="listReview__time">2 jam lalu</div>
            <p>Tellus vitae blandit quam urna urna. Tempor pellentesque nec a, scelerisque. Elit in lorem eget vitae.
                Ullamcorper faucibus urna ipsum ipsum nisi, malesuada. Vel eget placerat quis enim fames.</p>
        </div>
    </a>
</div>
