<ul class="display-flex">
    <li class="share">
        <a href="#" class="icon icon-social icon-fb" aria-label="facebook">
            <img src="./asset/images/icon-fb.svg" alt=""  width="22" height="22">
        </a>
    </li>
    <li class="share">
        <a href="#" class="icon icon-social icon-tw" aria-label="twitter">
            <img src="./asset/images/icon-tw.svg" alt=""  width="22" height="22">
        </a>
    </li>
    <li class="share">
        <a href="#" class="icon icon-social icon-wa" aria-label="whatsapp">
            <img src="./asset/images/icon-wa.svg" alt=""  width="22" height="22">
        </a>
    </li>    
</ul>