<!doctype html>
<html ⚡ lang="en">

<head>
    {{>amp/head page="topic"}}
    <style amp-custom>
    </style>
    <style amp-boilerplate> body {-webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;-moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;-ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;animation: -amp-start 8s steps(1, end) 0s 1 normal both }@-webkit-keyframes -amp-start {from {visibility: hidden }to {visibility: visible }}@-moz-keyframes -amp-start {from {visibility: hidden }to {visibility: visible }}@-ms-keyframes -amp-start {from {visibility: hidden }to {visibility: visible }}@-o-keyframes -amp-start {from {visibility: hidden }to {visibility: visible }}@keyframes -amp-start {from {visibility: hidden }to {visibility: visible }}</style><noscript> <style amp-boilerplate> body {-webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none }</style> </noscript>

    <link rel="canonical" href="https://m.bisnis.com/topic/56327/china-vs-taiwan">
    <title>AMP Bisnis.com</title>
</head>

<body>
    <!-- s: pushdown -->
    <div class="adsBanner adsBanner__pushdown">
        <div class="adsBanner__inner">
            {{>amp/ad-lift}}
        </div>
    </div>
    <!-- e: pushdown -->
    
    <!-- s: nav -->
    {{>amp/nav}}
    <!-- e: nav -->

    <!-- s: header -->
    {{>amp/header}}
    <!-- e: header -->

    <section class="main">
        <!-- s: menu -->
        {{>amp/menu}}
        <!-- e: menu -->

        <!-- s: title -->
        <h1 class="topicTitle">
            <span>Topik</span>
            China VS Taiwan
        </h1>
        <!-- e: title -->

        <ul class="listUpdate">
            {{>amp/list-update}}
            {{>amp/list-update}}
            <li class="listUpdate__item">
                <div class="adsBanner adsBanner__mid">
                    <amp-ad type="doubleclick" data-slot="/30497360/amp_by_example/AMP_Banner_336x280" width="336"
                        height="280">
                    </amp-ad>
                </div>
            </li>
            {{>amp/list-update}}
            {{>amp/list-update}}
            <li class="listUpdate__item">
                <div class="adsBanner adsBanner__mid">
                    <amp-ad type="doubleclick" data-slot="/30497360/amp_by_example/AMP_Banner_336x280" width="336"
                        height="280">
                    </amp-ad>
                </div>
            </li>
        </ul>

        <!-- s: paging -->
        <div class="paging">
            <ol class="pagingList c-flex">
                <li class="pagingItem">
                    <a href="#" class="pagingLink">
                        <amp-img width="24" height="24" alt="Go to previous page"
                            src="./asset/images/amp/icon-prev.svg">
                        </amp-img>
                    </a>
                </li>
                <li class="pagingItem">
                    <a href="#" class="pagingLink">1</a>
                </li>
                <li class="pagingItem">
                    <a href="#" class="pagingLink active">2</a>
                </li>
                <li class="pagingItem">
                    <a href="#" class="pagingLink">3</a>
                </li>
                <li class="pagingItem">
                    <a href="#" class="pagingLink">
                        <amp-img width="24" height="24" alt="Go to next page" src="./asset/images/amp/icon-next.svg">
                        </amp-img>
                    </a>
                </li>
                <li class="pagingItem">
                    <a href="#" class="pagingLink">
                        <amp-img width="24" height="24" alt="Go to last page"
                            src="./asset/images/amp/icon-last-next.svg">
                        </amp-img>
                    </a>
                </li>
            </ol>
        </div>
        <!-- e: paging -->
    </section>

    <!-- s: footer -->
    {{>amp/footer}}
    <!-- e: footer -->

    <amp-sticky-ad layout="nodisplay">
        <amp-ad width="320" height="50" type="doubleclick" data-slot="/35096353/amptesting/formats/sticky">
        </amp-ad>
    </amp-sticky-ad>

</body>

</html>