<!doctype html>
<html ⚡ lang="en">

<head>
    {{>amp/head}}
    <style amp-custom>
    </style>
    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            animation: -amp-start 8s steps(1, end) 0s 1 normal both
        }

        @-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-o-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }
    </style><noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>

    <link rel="canonical"
        href="https://m.bisnis.com/amp/read/20220721/7/1557559/daftar-ipo-juli-2022-mulai-dari-swid-chem-dewi-hingga-axio">
    <title>AMP Bisnis.com</title>
</head>

<body>
    <!-- s: pushdown -->
    <div class="adsBanner adsBanner__pushdown">
        <div class="adsBanner__inner">
            {{>amp/ad-lift}}
        </div>
    </div>
    <!-- e: pushdown -->

    <!-- s: nav -->
    {{>amp/nav}}
    <!-- e: nav -->

    <!-- s: header -->
    {{>amp/header}}
    <!-- e: header -->

    <section class="main">
        <!-- s: breadcrumb -->
        {{>amp/breadcrumb}}
        <!-- e: breadcrumb -->
        <!-- s: title -->
        <h1 class="readTitle">Daftar IPO Juli 2022, Mulai dari SWID, CHEM, DEWI, hingga AXIO</h1>
        <time class="readDate" datetime="2022-06-21"><strong>Bisnis.com,</strong> 21 Jul 2022, 10:52 WIB</time>
        <div class="readAuthor">Penulis: <span>Iim Fathimah Timorria</span></div>
        <!-- e: title -->

        <!-- s: share -->
        {{>amp/share}}
        <!-- e: share -->

        <!-- s: main photo -->
        <div class="photo">
            <amp-img width="800" height="500" layout="responsive" alt="" lightbox
                src="https://images.bisnis-cdn.com/posts/2022/07/21/1557559/bio-ihsg-2.jpg">
            </amp-img>
            <div class="photoIcon">
                <amp-img src="./asset/images/amp/icon-zoom.svg" alt="Zoom Image" height="24" width="24">
                </amp-img>
            </div>
            <div class="photoAuthor">Eusebio Chrysnamurti</div>
            <div class="photoCaption">Daftar IPO bulan Juli cenderung semarak dengan belasan emiten mulai
                menawarkan
                sahamnya ke publik dan nantinya tercatat sebagai perusahaan terbuka di Bursa Efek Indonesia.
                Bisnis
            </div>
        </div>
        <!-- e: main photo -->

        <!-- s: content -->
        <article class="readContent">
            <p><strong>Bisnis.com</strong>, JAKARTA — <a href="https://www.bisnis.com/topic/174/bursa-efek-indonesia"
                    target="_blank" rel="noopener">Bursa Efek Indonesia</a> (BEI) disemarakkan dengan emiten-emiten baru
                sepanjang Juli 2022. Pada bulan ini, tercatat terdapat enam emiten anyar yang telah melakukan
                penawaran
                umum perdana saham alias<a href="https://www.bisnis.com/topic/450/ipo" target="_blank" rel="noopener">
                    IPO</a> dan menjadi perusahaan tercatat di BEI.</p>

            <div class="readOther">
                <strong><span>Baca juga</span>
                    <div>
                        <a target="_self" href="#">BEI Merayu BUMN dan Anak Usaha Agar Segera Maju IPO</a>
                    </div>
                </strong>
            </div>

            <p>PT ChemStar Indonesia Tbk. (<a href="https://www.bisnis.com/topic/55835/chem" target="_blank"
                    rel="noopener">CHEM</a>) menjadi perusahaan selanjutnya yang resmi melantai di <a
                    href="https://www.bisnis.com/topic/174/bursa-efek-indonesia" target="_blank" rel="noopener">Bursa
                    Efek Indonesia</a> (BEI) dan mencatatkan sahamnya pada Jumat, 8 Juli 2022.
            </p>
            <p>Dalam masa penawaran umum, <a href="https://www.bisnis.com/topic/55835/chem" target="_blank"
                    rel="noopener">CHEM</a> ditetapkan dengan harga IPO Rp150 per lembar saham. CHEM menerima
                kelebihan
                permintaan atau oversubscribe hingga 46,6 kali dari porsi <em>pooling</em>.</p>
            <p>Perseroan menawarkan sebanyak 500 juta saham baru, yang merupakan saham biasa atas nama dengan nilai
                nominal Rp25 setiap saham, atau sebanyak 29,41 persen dari modal ditempatkan dan disetor penuh.</p>
            <div class="readOther">
                <strong><span>Baca juga:</span>
                    <div>
                        <a target="_self" href="#">BEI Merayu BUMN dan Anak Usaha Agar Segera Maju IPO</a>
                    </div>
                </strong>
            </div>

            <p>Saham lain yang juga resmi dicatat pada 8 Juli 2022 adalah PT Arkora Hydro Tbk. (ARKO). Perusahaan
                pengembang pembangkit listrik tenaga air itu menjadi perusahaan tercatat ke-25 di BEI tahun ini dan
                menawarkan 608.895.000 saham baru dengan nilai nominal Rp25. Saham ini ditawarkan di harga 300 per
                saham
                sehingga dana segar yang diraup mencapai Rp182,67 miliar. Sampai pukul 10.00 WIB pada perdagangan
                Kamis
                (21/7/2022), saham ARKO telah naik 41,33 persen dari harga IPO.</p>

            <div class="adsBanner adsBanner__flying">
                <div class="adsBanner__wrap">
                    {{>amp/ad-flying}}
                </div>
            </div>

            <ol>
                <li>Emiten unggas PT Dewi Shri Farmindo Tbk. (DEWI) menjadi pendatang anyar lainnya di BEI. </li>
                <li>DEWI resmi melantai pada Senin, 18 Juli 2022 dengan menawarkan 700 juta saham di harga Rp100
                    sehingga total dana IPO yang diperoleh mencapai Rp70 miliar. </li>
                <li>Sejak melantai, saham DEWI telah menguat 59 persen ke harga Rp159 per saham.</li>
                <li>Produsen laptop merek Axioo PT Tera Data Indonusa Tbk. (AXIO) menjadi emiten terbaru yang
                    mencatatkan sahamnya di BEI.</li>
            </ol>

            <div class="adsBanner adsBanner__mid">
                <amp-ad type="doubleclick" data-slot="/30497360/amp_by_example/AMP_Banner_336x280" width="336"
                    height="280"></amp-ad>
            </div>
            <h2><strong>PROSES <a href="https://www.bisnis.com/topic/450/ipo" target="_blank"
                        rel="noopener">IPO</a></strong></h2>
            <p>Sebagian besar dana yang diperoleh perusahaan digunakan untuk modal kerja dan sisanya untuk membangun
                cold storage.</p>
            <p>
            <blockquote>“Kami optimistis dapat mencapai target tersebut ke depannya,” kata Direktur Utama Segar
                Kumala
                Indonesia, Renny Lauren dalam konferensi pers, Rabu (20/7/2022).</blockquote>
            </p>

            <div class="photo">
                <amp-img width="800" height="500" layout="responsive" alt=""
                    src="https://images.bisnis-cdn.com/posts/2022/07/21/1557559/bio-ihsg-2.jpg">
                </amp-img>
                <div class="photoAuthor">Eusebio Chrysnamurti</div>
                <div class="photoCaption">Daftar IPO bulan Juli cenderung semarak dengan belasan emiten mulai
                    menawarkan
                    sahamnya ke publik dan nantinya tercatat sebagai perusahaan terbuka di Bursa Efek Indonesia.
                    Bisnis
                </div>
            </div>
            <ul>
                <li>Emiten unggas PT Dewi Shri Farmindo Tbk. (DEWI) menjadi pendatang anyar lainnya di BEI. </li>
                <li>DEWI resmi melantai pada Senin, 18 Juli 2022 dengan menawarkan 700 juta saham di harga Rp100
                    sehingga total dana IPO yang diperoleh mencapai Rp70 miliar. </li>
                <li>Sejak melantai, saham DEWI telah menguat 59 persen ke harga Rp159 per saham.</li>
                <li>Produsen laptop merek Axioo PT Tera Data Indonusa Tbk. (AXIO) menjadi emiten terbaru yang
                    mencatatkan sahamnya di BEI.</li>
            </ul>
            <p>Cek Berita dan Artikel yang lain di <a target="_blank" title="Google News Bisnis.com"
                    href="https://news.google.com/s/CAAqBwgKMKG67wowy-PQAQ?ceid=ID:en&amp;oc=3&amp;hl=en-ID&amp;gl=ID"><strong>Google
                        News</strong></a></p>

        </article>
        <!-- e: content -->

        <!-- s: paging -->
        <div class="paging">
            <ol class="pagingList d-flex">
                <li class="pagingItem">
                    <a href="#" class="pagingLink active">1</a>
                </li>
                <li class="pagingItem">
                    <a href="#" class="pagingLink">2</a>
                </li>
                <li class="pagingItem">
                    <a href="#" class="pagingLink">3</a>
                </li>
                <li class="pagingItem">
                    <a href="#" class="pagingLink">4</a>
                </li>
                <li class="pagingItem">
                    <a href="#" class="pagingLink">5</a>
                </li>
            </ol>
            <a href="#" class="pagingShow">Tampilkan semua</a>
        </div>
        <!-- e: paging -->
        <!-- s: tag -->
        <div class="tag">
            <div class="readCaption">Simak berita lainnya di sini:</div>
            <ul>
                <li><a href="#" class="tagLink">Tag berita 1</a></li>
                <li><a href="#" class="tagLink">Tag berita 2</a></li>
                <li><a href="#" class="tagLink">Tag berita lagi nih</a></li>
                <li><a href="#" class="tagLink">Tag berita lain</a></li>
            </ul>
        </div>
        <!-- e: tag -->
        <!-- s: share -->
        {{>amp/share}}
        <!-- e: share -->
        <div class="readEditor">
            Editor: Hafiyyan
        </div>

        <div class="adsBanner adsBanner__bottom">
            <amp-ad type="doubleclick" id="amp-aslot-2" data-slot="/543654989/Bisnis_AMP_Market/InArticle1" width="300"
                height="250" data-multi-size="300x250" data-multi-size-validation="false"></amp-ad>
        </div>

        <div class="readCaption">Berita Terkait</div>
        <ul class="listOther">
            <li class="listOther__item">
                <a class="listOther__link" href="#">Laba Ciputra (CTRA) Melonjak 72,9 Persen, Simak Rekomendasi
                    Sahamnya</a>
            </li>
            <li class="listOther__item">
                <a class="listOther__link" href="#">Panasnya Rapor Surya Esa Perkasa, Saham ESSA Sanggup ATH Baru?</a>
            </li>
            <li class="listOther__item">
                <a class="listOther__link" href="#">Rugi Kontraktor Grup Astra, Acset ACST Menciut Semester I/2022</a>
            </li>
            <li class="listOther__item">
                <a class="listOther__link" href="#">Mengintip Prospek Cuan Saham WOOD Kala Inflasi AS Kian Panas</a>
            </li>
        </ul>

        <div class="readCaption">Terkini</div>
        <ul class="listUpdate">
            <li class="listUpdate__item">
                <a class="listUpdate__link" href="#">
                    <div class="listWrap">
                        Laba Ciputra (CTRA) Melonjak 72,9 Persen, Simak Rekomendasi
                        Sahamnya
                        <div class="listInfo">Finansial <span class="listDate">2 jam lalu</span></div>
                    </div>
                    <div class="listUpdate__img">
                        <amp-img width="130" height="88" layout="responsive" alt=""
                            src="https://images.bisnis-cdn.com/thumb/posts/2022/01/25/1493403/dki9.jpg?w=130&h=88">
                        </amp-img>
                    </div>
                </a>
            </li>
            <li class="listUpdate__item">
                <a class="listUpdate__link" href="#">
                    <div class="listWrap">
                        Panasnya Rapor Surya Esa Perkasa, Saham ESSA Sanggup ATH Baru?
                        <div class="listInfo">Finansial <span class="listDate">2 jam lalu</span></div>
                    </div>
                    <div class="listUpdate__img">
                        <amp-img width="130" height="88" layout="responsive" alt=""
                            src="https://images.bisnis-cdn.com/thumb/posts/2022/01/25/1493402/menag---masjid-solo-2.jpg?w=130&h=88">
                        </amp-img>
                    </div>
                </a>
            </li>
            <li class="listUpdate__item">
                <a class="listUpdate__link" href="#">
                    <div class="listWrap">
                        Rugi Kontraktor Grup Astra, Acset ACST Menciut Semester I/2022
                        <div class="listInfo">Finansial <span class="listDate">2 jam lalu</span></div>
                    </div>
                    <div class="listUpdate__img">
                        <amp-img width="130" height="88" layout="responsive" alt=""
                            src="https://images.bisnis-cdn.com/thumb/posts/2022/01/25/1493408/130415_pabrik-plastik.jpg?w=130&h=88">
                        </amp-img>
                    </div>
                </a>
            </li>
            <li class="listUpdate__item">
                <a class="listUpdate__link" href="#">
                    <div class="listWrap">
                        Mengintip Prospek Cuan Saham WOOD Kala Inflasi AS Kian Panas
                        <div class="listInfo">Finansial <span class="listDate">2 jam lalu</span></div>
                    </div>
                    <div class="listUpdate__img">
                        <amp-img width="130" height="88" layout="responsive" alt=""
                            src="https://images.bisnis-cdn.com/thumb/posts/2022/01/25/1493408/130415_pabrik-plastik.jpg?w=130&h=88">
                        </amp-img>
                    </div>
                </a>
            </li>
            <li class="listUpdate__item">
                <a class="listUpdate__link" href="#">
                    <div class="listWrap">
                        CitraGrand Cibubur Resmikan Fasilitas Masjid di Agenda
                        Groundbreaking
                        <div class="listInfo">Finansial <span class="listDate">2 jam lalu</span></div>
                    </div>
                    <div class="listUpdate__img">
                        <amp-img width="130" height="88" layout="responsive" alt=""
                            src="https://images.bisnis-cdn.com/thumb/posts/2022/01/25/1493408/130415_pabrik-plastik.jpg?w=130&h=88">
                        </amp-img>
                    </div>
                </a>
            </li>
        </ul>
    </section>

    <!-- s: footer -->
    {{>amp/footer}}
    <!-- e: footer -->

    <amp-sticky-ad layout="nodisplay">
        <amp-ad width="320" height="50" type="doubleclick" data-slot="/35096353/amptesting/formats/sticky">
        </amp-ad>
    </amp-sticky-ad>

</body>

</html>