<div class="billboard billboardParallax mt30">
    <div class="billboardFlying">
        <div class="billboardFlyingInner">
            <div class="billboardFlyingFix">
                <div class="billboardFlyingBanner">
                    <div class="billboardFlyingWrap">
                        <!-- ad script here -->
                        <img src="https://placehold.co/300x600/000/F4F4F4?font=nunitosans&text=Parallax%20BILLBOARD%20IS%20HERE"
                            alt="" width="300" height="600">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>