.spacing-xl {
	margin-top: 54px;
}

.spacing-lg {
	margin-top: 50px;
}

.spacing-md {
	margin-top: 40px;
}

.spacing-sm {
	margin-top: 20px;
}

.spacing-xs {
	margin-top: 14px;
}

.border-sm {
	border-radius: 7px;
}

.container {
	min-width: $w-xm;

	&-xl {
		@include min-responsive($w-xxl) {
			max-width: 1280px;
		}
	}
}

.text-center {
	@extend %text-center
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.desktop-only {
	display: none;

	@include min-responsive($w-xl) {
		display: block;
	}
}

.mobile-only {
	display: block;

	@include min-responsive($w-xl) {
		display: none;
	}
}