<div class="flashnews">
    <div class="flashnewsCaption">Breaking News</div>
    <marquee class="flashnewsWrap" behavior="scroll" direction="left" onmouseover="this.stop();"
        onmouseout="this.start();">
        <div class="flashnewsItem">
            <img src="./asset/images/icon/icon-bisniscom-wsmall.svg" alt="" width="11" height="14" class="flashnewsIcon">
            <a href="" class="flashnewsLink">
                
            </a>
        </div>
        <div class="flashnewsItem">
            <img src="./asset/images/icon/icon-bisniscom-wsmall.svg" alt="" width="11" height="14" class="flashnewsIcon">
            <a href="" class="flashnewsLink">
                
            </a>
        </div>
        <div class="flashnewsItem">
            <img src="./asset/images/icon/icon-bisniscom-wsmall.svg" alt="" width="11" height="14" class="flashnewsIcon">
            <a href="" class="flashnewsLink">
                
            </a>
        </div>
        <div class="flashnewsItem">
            <img src="./asset/images/icon/icon-bisniscom-wsmall.svg" alt="" width="11" height="14" class="flashnewsIcon">
            <a href="" class="flashnewsLink">
                
            </a>
        </div>
        <div class="flashnewsItem">
            <img src="./asset/images/icon/icon-bisniscom-wsmall.svg" alt="" width="11" height="14" class="flashnewsIcon">
            <a href="" class="flashnewsLink">
                <span class="flashnewsLive">Live : </span>
            </a>
        </div>
        <div class="flashnewsItem">
            <img src="./asset/images/icon/icon-bisniscom-wsmall.svg" alt="" width="11" height="14" class="flashnewsIcon">
            <a href="" class="flashnewsLink">
                
            </a>
        </div>
        <div class="flashnewsItem">
            <img src="./asset/images/icon/icon-bisniscom-wsmall.svg" alt="" width="11" height="14" class="flashnewsIcon">
            <a href="" class="flashnewsLink">
                
            </a>
        </div>
        <div class="flashnewsItem">
            <img src="./asset/images/icon/icon-bisniscom-wsmall.svg" alt="" width="11" height="14" class="flashnewsIcon">
            <a href="" class="flashnewsLink">
                
            </a>
        </div>
    </marquee>
</div>