.brands {
    margin-top: 100px;
    flex-direction: column;

    @include min-responsive($w-xl) {
        flex-direction: row;
    }

    &Slider {
        width: 100%;
        order: 1;

        @include min-responsive($w-md) {
            width: 630px;
        }

        @include min-responsive($w-xl) {
            order: unset;
        }
    }

    &List {
        display: flex !important;
        justify-content: center;
        flex-wrap: wrap;
        padding: 14px;
    }

    &Item {
        margin: 3px;

        @include min-responsive($w-md) {
            margin: 7px;
        }
    }

    &Img {
        img {
            max-width: 120px;

            @include max-responsive($w-xm) {
                max-width: 100px;
            }

            @include min-responsive($w-md) {
                max-width: unset
            }
        }
    }

    &Wrap {
        height: 74px;
        padding: 5px 10px;
        border-radius: 15px;
        border: 1px solid #FFF;
        background: linear-gradient(180deg, $cl-accent1 0%, rgba(252, 252, 252, 0.00) 58%);
        overflow: hidden;
        box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.09);

        @include min-responsive($w-md) {
            height: 80px;
            padding: 15px;
        }

        @include min-responsive($w-md) {
            box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.09);
        }
    }

    &Caption {
        text-align: center;
        max-width: 520px;

        @include min-responsive($w-xl) {
            text-align: left;
            max-width: 362px;
            margin-left: 28px;
        }
    }

    &Cta {
        justify-content: center;

        @include min-responsive($w-xl) {
            justify-content: flex-start;
        }
    }

    .titleLead {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}