.contact {
    max-width: 1020px;
    padding-top: 30px;
    padding-bottom: 30px;
    @include display-flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;

    @include min-responsive($w-md) {
        align-items: center;
        flex-direction: row;
    }

    &Txt {
        margin-top: 15px;
        margin-bottom: 15px;

        @include min-responsive($w-md) {
            margin-bottom: 0;
        }

        @include range-responsive($w-md, $w-lg) {
            padding-right: 15px;
        }
    }

    &Cta {
        position: fixed;
        bottom: 15px;
        right: 11px;
        @include flex(center);
        padding: 10px;
        border-radius: 50px;
        background: $cl-secondary1;
        @include font-pack(false, 13px, false, 1.23, $cl-text1);
        z-index: 1;

        @include min-responsive($w-md) {
            bottom: 40px;
        }

        .ico {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            filter: invert(16%) sepia(4%) saturate(996%) hue-rotate(191deg) brightness(92%) contrast(85%);
        }
    }
}