.form {
    --gap-form: 10px;
    max-width: 688px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    padding: 10px 10px 30px;
    background: $cl-accent1;

    @include min-responsive($w-md) {
        padding: 10px 40px 30px;
    }

    &Row {
        margin-top: 20px;
        margin-left: calc(var(--gap-form) - var(--gap-form)*2);
        margin-right: calc(var(--gap-form) - var(--gap-form)*2);

        .formCol~.formCol {
            margin-top: 20px;

            @include min-responsive($w-md) {
                margin-top: 0;
            }
        }

        &>.formRow,
        &>.formRow .formCol {
            margin-top: 0;
        }

        &.formCol {
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }

    &Col {
        padding-left: var(--gap-form);
        padding-right: var(--gap-form);
    }

    &Wrap {
        @include display-flex;
        align-items: center;
    }

    &Input {
        width: 100%;
        appearance: none;
        border-radius: 7px;
        padding: 17px 10px;
        border: 1px solid $cl-text3;
        @include placeholder($size: 15px, $line: 1.46, $color: $cl-text3);
        background: $cl-accent1;
        overflow: hidden;
        color: $cl-text1;
        text-overflow: ellipsis;
        white-space: nowrap;

        &Icon {
            position: relative;
        }
    }

    &Label {
        display: block;
        margin-bottom: 5px;
        line-height: 1.23;
    }

    &Check {
        opacity: 0;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 0;
        accent-color: #000;
        cursor: pointer;

        &:checked {
            ~.formCheckbox {
                background: $cl-primary1;
                border: 1px solid $cl-primary1;

                &::before {
                    opacity: 1;
                }
            }
        }

        &box {
            display: block;
            margin-right: 8px;
            width: 24px;
            height: 24px;
            border: 1px solid $cl-text3;
            border-radius: 5px;
            pointer-events: none;
            flex-shrink: 0;
            background: $cl-accent2;

            &::before {
                content: "";
                position: relative;
                top: 20px;
                left: 8px;
                display: block;
                width: 6px;
                height: 12px;
                border-right: 2px solid $cl-accent1;
                border-bottom: 2px solid $cl-accent1;
                transform: translate3d(0, -16px, 0) rotate(45deg);
                opacity: 0;
            }
        }

        &Wrap {
            flex-wrap: wrap;
            margin-left: calc(var(--gap-form) - var(--gap-form)*2);
            margin-right: calc(var(--gap-form) - var(--gap-form)*2);

            .formCol~.formCol {
                margin-top: 0;
            }
        }

        &Input {
            position: relative;
            margin-top: 15px;
            line-height: 1.8;
            @include display-flex;
        }
    }

    &Info {
        position: relative;
        padding-left: 18px;
        margin-top: 5px;
        @include font-pack($lh: 1.23, $color: $cl-text3);

        .icoInfo {
            position: absolute;
            left: 0;
            @extend %icoInfo;
            filter: invert(71%) sepia(13%) saturate(437%) hue-rotate(197deg) brightness(101%) contrast(85%);
        }
    }

    &Txt {
        margin-left: 10px;

        small {
            position: relative;
            top: -6px;
            font-size: x-small;
        }
    }

    &File {
        position: relative;
        display: block;
        width: 100%;
        cursor: pointer;

        &Title {
            padding: 27px 10px 27px 150px;
            @include title_clamp(1);
            pointer-events: none;
        }

        &Cta {
            position: absolute;
            width: 130px;
            min-width: unset;
            padding: 15px 30px;
            top: 10px;
            left: 10px;
            box-shadow: 0 0;
            z-index: 1;
        }

        &Input {
            display: none;
        }
    }

    .required {
        color: $cl-notif2;
    }

    .error {
        @extend .titleLead;
        color: $cl-notif2;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    select,
    textarea,
    input {
        font-size: 16px;
    }
}