.intro {
    margin-top: 80px;

    &Title {
        letter-spacing: -0.6px;
    }

    &Txt {
        margin-top: 10px;
        @include font-pack($font-normal, 13px, $font-weight-normal, 1.53, $cl-text2);
    }

    &List {
        @include display-flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &Item {
        padding-left: 50px;
        padding-right: 50px;

        &Title {
            @include font-pack($font-bold, 55px, $font-weight-bold, normal, $cl-primary1);
        }

        span {
            display: block;
            margin-top: -5px;
            @include font-pack(false, 15px, false, 1.06, $cl-text1);
        }

        &Lead {
            margin-top: 15px;
            @include font-pack($font-normal, 13px, $font-weight-normal, 1.23, $cl-text2);
        }
    }

    &Cta{
        justify-content: center;
    }
}