.product {
    &Wrap {
        @include display-flex;
        align-items: center;
        flex-direction: column;

        @include min-responsive($w-md) {
            flex-direction: row;
        }

        .productList {
            width: 100%;

            @include min-responsive($w-md) {
                width: calc(100% - 232px);
            }
        }
    }

    &Banner {
        position: relative;
        margin-top: 20px;
        margin-bottom: -30px;

        @include min-responsive($w-md) {
            margin-top: 0;
            margin-bottom: 0;
            z-index: 1;
        }
    }

    &List {
        --gap-product: 10px;
        margin-left: calc(var(--gap-product) - var(--gap-product) * 2);
        margin-right: calc(var(--gap-product) - var(--gap-product) * 2);

        &.--center {
            .slick-list {
                padding-left: 14vw !important;
                padding-right: 14vw !important;

                @include max-responsive($w-xm) {
                    padding-left: 8vw !important;
                    padding-right: 8vw !important;
                }

                @include min-responsive($w-md) {
                    padding-left: 210px !important;
                    padding-right: 210px !important;
                }
            }
        }

        &.--right {
            .slick-list {
                padding-left: 0 !important;
                padding-right: 28vw !important;

                @include max-responsive($w-xm) {
                    padding-right: 16vw !important;
                }

                @include min-responsive($w-md) {
                    padding-right: 420px !important;
                }
            }
        }

        &.--banner {
            .slick-list {
                padding-left: 0 !important;
                padding-right: 28vw !important;

                @include max-responsive($w-xm) {
                    padding-right: 16vw !important;
                }

                @include range-responsive($w-md, $w-xl) {
                    padding-right: 160px !important;
                }

                @include min-responsive($w-xl) {
                    padding-right: 180px !important;
                }
            }
        }

        .slick-arrow {
            width: 36px;
            height: 36px;
            border-radius: 7px;
            background: $cl-primary1;

            &::before {
                filter: invert(91%) sepia(97%) saturate(2701%) hue-rotate(203deg) brightness(133%) contrast(112%);
            }
        }

        .slick-prev {
            top: 180px;

            @include min-responsive($w-md) {
                left: -10px;
            }

            @include min-responsive($w-xxl) {
                left: -18px;
            }
        }

        .slick-next {
            top: 198px;

            @include min-responsive($w-md) {
                right: -10px;
            }

            @include min-responsive($w-xxl) {
                right: -18px;
            }
        }
    }

    &Item {
        padding-top: calc(var(--gap-product) * 2);
        padding-bottom: calc(var(--gap-product) * 2);
        padding-left: var(--gap-product);
        padding-right: var(--gap-product);
        height: inherit;
    }

    &Link {
        position: relative;
        height: 100%;
        display: block;
        padding: 20px;
        border-radius: 15px;
        border: 1.5px solid $cl-accent1;
        background: linear-gradient(180deg, $cl-accent1 0%, rgba(252, 252, 252, 0.00) 58%);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.09);
    }

    &Img {
        width: 100%;
        max-width: 200px;
        height: 300px;
        margin: auto;

        img {
            width: auto;
            height: 100%;
            margin: auto;
            object-fit: cover;
            object-position: bottom;
            border-radius: 10px;
            overflow: hidden;
        }
    }

    &Disc {
        position: absolute;
        padding: 10px;
        top: 10px;
        left: 10px;
        background: $cl-notif2;
        border-radius: 10px;
        letter-spacing: 0.34px;
        @include font-pack($font-bold, 17px, $font-weight-bold, 1.35, $cl-accent1);
        box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.09);
    }

    &Title {
        height: 46px;
        margin-top: 15px;
        @extend .titleH5;
        @include title_clamp(2);
    }

    &Author {
        margin-top: 5px;
        @include title_clamp(1);
        white-space: nowrap;
        @include font-pack($font-normal, 13px, $font-weight-normal, 1.23, $cl-text1);
    }

    &Price {
        @include display-flex;
        align-items: center;
        margin-top: 15px;
        letter-spacing: 0.34px;
        @include font-pack($font-bold, 17px, $font-weight-bold, 1.35, $cl-primary1);

        &.--final {
            margin-top: 0;
            margin-left: 10px;
            text-decoration-line: line-through;
            @include font-pack($font-normal, 15px, $font-weight-normal, 1.46, $cl-text3);
        }
    }
}