.video {
    position: relative;
    margin: auto;
    width: 1100px;
    max-width: calc(100% - 30px);
    aspect-ratio: 16/9;
    
    iframe{
        @extend %template-img;
        border-radius: 10px;
        overflow: hidden;
    }
}