.widget {
    @include display-flex;
    margin-top: 25px;
    --gap-widget: 12.5px;

    &List {
        margin-left: calc(var(--gap-widget) - var(--gap-widget)*2);
        margin-right: calc(var(--gap-widget) - var(--gap-widget)*2);
    }

    &Item {
        padding-left: var(--gap-widget);
        padding-right: var(--gap-widget);
        margin-top: 15px;
    }

    &Wrap {
        @include display-flex;
        height: 100%;
        padding: 15px 15px 25px;
        border-radius: 15px;
        background: $cl-primary1;
        box-shadow: 0px 2px 27px 0px rgba(19, 115, 227, 0.13);
        flex-direction: column;
        
        @include min-responsive($w-xl) {
            padding: 15px;
            flex-direction: row;
        }

        &:hover {
            .widgetCta {
                opacity: 1;
            }

            .widgetTxtDesc {
                opacity: 0;
            }
        }
    }

    &Img {
        position: relative;
        width: 110px;
        padding-top: 110px;
        margin-bottom: 19px;
        flex-shrink: 0;

        @include min-responsive($w-xl) {
            margin-bottom: 0;
            margin-right: 19px;
        }

        img {
            @extend %template-img;
            border-radius: 24px;
            overflow: hidden;
        }
    }

    &Title {
        @include font-pack($font-normal, 217x, $font-weight-normal, 1.42, $cl-accent1);
        letter-spacing: 0.21px;

        @include min-responsive($w-md) {
            font-size: 21px;
        }
    }

    &Txt {
        position: relative;
        margin-top: 10px;
        @include font-pack($font-normal, 13px, $font-weight-normal, 1.53, $cl-accent1);

        &Desc {
            transition: opacity 0.2s ease;
        }
    }

    &Cta {
        position: absolute;
        top: 0;
        transition: opacity 0.2s ease;
        opacity: 0;
    }
}