<div class="newsletter text-center">
    <div class="newsletterCaption">Subscribe Newsletter Bisnis Indonesia</div>
    <p class="newsletterLead">Bergabung dan dapatkan analisis informasi ekonomi dan bisnis melalui email Anda.</p>
    <form action="#" name="" class="newsletterForm">
        <div class="newsletterFormWrap">
            <input type="email" class="formInput" name="email" placeholder="Email Anda"
                aria-label="Input your email address">
            <button type="submit" class="button newsletterCta">Subscribe</button>
        </div>
        <div class="formResponse mt16" style="display: none;">
            <div class="-error">
                error
            </div>
            <div class="-success">
                success
            </div>
        </div>
    </form>
</div>