.article {
    &--col {
        .article {
            &Item {
                flex-direction: column;
            }

            &Img {
                width: 100%;
            }

            &Box {
                padding-left: 0;
                margin-top: 10px;
            }

            &Lead {
                -webkit-line-clamp: 5;
            }

            &Link {
                font-size: 24px;
                @include title_overflow(unset, unset);
            }
        }
    }

    &--small {
        .article {
            &Img {
                width: 194px;
            }

            &Link {
                -webkit-line-clamp: 3;
                @include title_overflow(70px, 70px);
            }
        }
    }

    &--black {
        background: $cl_black;
        padding-top: 40px;
        padding-bottom: 40px;

        .articleItem,
        .highlightCaption,
        .articleLink:hover,
        .articleImg__wrap:hover~.articleBox .articleLink,
        .buttonNext,
        .buttonMore,
        .highlightTitle {
            color: $cl_white;
        }

        .articleLead,
        .highlightCaption--sub,
        .highlightLead {
            color: #a6a6a6;
        }

        .articleDetail .userName:after {
            border-color: $cl_grey;
        }

        .buttonNext {
            .icon-next {
                filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(238deg) brightness(107%) contrast(105%);
            }
        }
    }

    &Img {
        width: 275px;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        object-position: top;

        &__wrap {
            &:hover {
                &~.articleBox {
                    .articleLink {
                        color: $cl_black;
                    }
                }
            }
        }
    }

    &Box {
        flex: 1;
        padding-left: 20px;
    }

    &Link {
        word-wrap: break-word;
        word-break: break-word;
        @include font-pack(false, 18px, 600, false, false);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        @include title_overflow(47px, 47px);

        &:hover {
            color: $cl_black;
        }
    }

    &Lead {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        color: $cl_primary;
        line-height: 1.3;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        word-break: break-word;
        overflow: hidden;
    }

    &Subtitle {
        text-transform: uppercase;
        @include font-pack(false, 12px, 400, false, $cl_black);
    }

    &Detail {

        .articleTime,
        .userName {
            @include font-pack(false, 12px, 400, false, $cl_grey);
        }

        .userName {
            position: relative;
            margin-right: 14px;

            &:after {
                content: '';
                display: inline-block;
                border-left: 1px solid $cl_secondary_grey;
                width: 1px;
                height: 10px;
                position: absolute;
                top: 3px;
                right: -8px;
            }
        }
    }

    &Time {
        position: relative;
        @include font-pack(false, 12px, 400, false, #a6a6a6);
    }

    &Load {
        min-height: 505px;
    }

    &Pop {
        animation: popIn .2s;
    }
}