.content {
    p {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1,
    h2,
    h3,
    h4 {
        color: $cl_primary;
    }

    h1 {
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        font-weight: bold;
    }

    h2 {
        font-size: 1.6em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        font-weight: bold;
    }

    h3 {
        font-size: 1.17em;
        margin-top: 1em;
        margin-bottom: 1em;
        font-weight: bold;
    }

    h4,
    pre {
        font-size: 1em;
        margin-top: 1.33em;
        margin-bottom: 1.33em;
    }

    blockquote {
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 60px;
        @include font-pack(false, 24px, 500, 40px, #5F5F5F);

        &:before {
            position: absolute;
            content: open-quote;
            margin-left: -60px;
            margin-top: 20px;
            @include font-pack(false, 120px, 400, 30px, $cl_black);
        }
    }

    ul,
    ol {
        padding-left: 30px;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    a {
        color: $cl_black;
        text-decoration: underline;

        &.readOther__link {
            text-decoration: none
        }
    }
    
    .buttonPrimary{
        color: $cl_white;
        text-decoration: none
    }
}