.nav {
    max-width: $grid_nopad;
    height: 65px;

    &List {
        max-width: $grid_nopad;
    }

    &Item {
        margin-left: 12px;
        margin-right: 12px;
        min-width: 30px;
        height: 63px;
    }

    &Link {
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;
        @include font-pack(false, 15px, 600, 1.4, $cl_grey);
        text-transform: uppercase;

        &:hover {
            color: $cl_black;
        }

        &.active {
            color: $cl_black;
        }

        &__user {
            display: flex;
            padding: 0;
        }
    }

    &Check {
        position: absolute;
        width: 20px;
        height: 20px;
        opacity: 0;
        cursor: pointer;
        top: 16px;
        left: -8px;
        z-index: 1;

        &:checked~.navMore__list {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }

    &More {
        min-width: 10px;
        position: relative;

        &__list {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            width: 263px;
            top: 50px;
            right: -20px;
            z-index: 1;
            border: 1px solid #CECECE;
            background: $cl_white;
            transition: all .4s ease-in-out;
            transform: translateY(-15px);
        }

        &__item {
            min-height: 55px;
            height: unset;
            margin: 0;

            &:last-child {
                .navMore__link {
                    border-bottom: 0;
                }
            }
        }

        &__link {
            padding: 20px;
            border-bottom: 1px solid #DEDEDE;
        }
    }

    &User {
        position: relative;

        &__name {
            font-size: 12px;
            max-width: 135px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            word-break: break-word;
            overflow: hidden;
        }

        &__list {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            position: absolute;
            left: 0;
            top: 55px;
            padding-top: 4px;
            padding-bottom: 4px;
            border: 1px solid #CECECE;
            background: $cl_white;
            transition: opacity 0.2s ease;

            &.active {
                pointer-events: auto;
                opacity: 1;
                visibility: visible;
            }

            &::after {
                content: '';
                position: absolute;
                left: 8px;
                margin: auto;
                border-style: solid;
            }

            &::after {
                top: -14px;
                border-width: 0 10px 15px 10px;
                border-color: transparent transparent #fff transparent;
                filter: drop-shadow(0 0 2px #aaa);
                z-index: 1;
            }
        }

        &__link {
            display: block;
            padding: 4px 15px;
            font-size: 14px;
            font-weight: 600;

            &.red {
                color: $cl_red;
            }
        }
    }
}