// font template
@mixin font-pack($family: false, $size: false, $weight: false, $lh: false, $colour: false) {
	@if $family {
		font-family: $family;
	}

	@if $size {
		font-size: $size;
	}

	@if $weight {
		font-weight: $weight;
	}

	@if $lh {
		line-height: $lh;
	}

	@if $colour {
		color: $colour;
	}
}

// media
@mixin max-responsive ($media) {
	@media (max-width: $media) {
		@content;
	}
}

@mixin min-responsive ($media) {
	@media (min-width: $media) {
		@content;
	}
}

@mixin range-responsive ($media, $media2) {
	@media (min-width: $media) and (max-width: $media2) {
		@content;
	}
}

// default transition
@mixin base_transition($t, $s) {
	-webkit-transition: $t $s ease;
	-moz-transition: $t $s ease;
	-ms-transition: $t $s ease;
	-o-transition: $t $s ease;
	transition: $t $s ease;
}

// animation
@mixin animation($name, $duration, $iteration: false, $fill: false) {
	@if $fill {
		-webkit-animation: $name $duration ease $fill;
		-moz-animation: $name $duration ease $fill;
		-o-animation: $name $duration ease $fill;
		animation: $name $duration ease $fill;
	}

	@if $iteration {
		-webkit-animation: $name $duration $iteration ease $fill;
		-moz-animation: $name $duration $iteration ease $fill;
		-o-animation: $name $duration $iteration ease $fill;
		animation: $name $duration $iteration ease $fill;
	}

	@else {
		-webkit-animation: $name $duration ease;
		-moz-animation: $name $duration ease;
		-o-animation: $name $duration ease;
		animation: $name $duration ease;
	}
}

@mixin display_flex {
	display: flex;
}

// ellipsis title
@mixin title_clamp($clamp) {
	display: -webkit-box;
    -webkit-box-orient: vertical;
	-webkit-line-clamp: $clamp;
	text-overflow: ellipsis;
    overflow: hidden;
}