<!-- s: komentar -->
<div class="comment" data-target="comment-section">
    <form class="mt10" action="">
        <div class="display-flex aitems-center">
            <a href="#" class="user">
                <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt=""
                    class="userAvatar commentAvatar">
            </a>
            <textarea class="formArea" name="comment" id="comment" cols="30" rows="1"
                placeholder="Bagaimana Pendapat Anda" aria-label="Write your comment"></textarea>
        </div>
        <div class="commentCta display-flex jcontent-end mt20">
            <button class="button buttonPrimary button--trans" type="button" name="cancel">
                Batal
            </button>
            <button class="button buttonPrimary" type="submit" name="submit">
                Kirim
            </button>
        </div>
    </form>
    <div class="commentList">
        <div class="commentItem display-flex mt20 mb20">
            <div class="commentRow">
                <img loading="lazy" src="./asset/images/user.png" alt="" class="commentAvatar" width="76" height="76">
            </div>
            <div class="commentRow flex-init">
                <div class="commentHead">
                    <div class="commentUser">Victor Papanek</div>
                    <div class="commentDate">Rabu, 14 Juli 2021 - 10:36</div>
                </div>
                <div class="commentContent mt10">Felis eget egestas sapien netus. Tortor, vulputate dolor, in sem in
                    adipiscing
                    vel pellentesque aliquam. Vitae vitae ut ridiculus semper. Orci iaculis eget iaculis feugiat felis
                    dictum aliquet egestas. Quis dis dictum odio risus nisl. Facilisi sit suspendisse elit feugiat.
                </div>
                <div class="commentAction display-flex jcontent-between mt20">
                    <div class="display-flex">
                        <button class="button commentLike" aria-label="Like this comment"><span
                                class="icon icon-clap"></span>12</button>
                        <button class="button commentReply -bReply" aria-label="Trigger form reply"></button>
                    </div>
                    <button class="button commentReport -bReport">Laporkan</button>
                </div>
                <form class="commentForm mt10 -fReply" action="">
                    <textarea class="formArea commentArea" cols="30" rows="1" placeholder="Tulis Komentarmu"
                        aria-label="Write your comment"></textarea>
                    <div class="commentFooter display-flex aitems-center jcontent-end mt10">
                        <button class="button buttonPrimary" type="submit" name="submit">
                            Kirim
                        </button>
                    </div>
                </form>                <!-- s: reply -->
                <div class="commentItem display-flex mt20 mb20">
                    <div class="commentRow">
                        <img loading="lazy" src="./asset/images/user.png" alt="" class="commentAvatar" width="76" height="76">
                    </div>
                    <div class="commentRow flex-init">
                        <div class="commentHead">
                            <div class="commentUser">Victor Papanek</div>
                            <div class="commentDate">Rabu, 14 Juli 2021 - 10:36</div>
                        </div>
                        <div class="commentContent mt10">Felis eget egestas sapien netus. Tortor, vulputate dolor, in
                            sem in
                            adipiscing
                            vel pellentesque aliquam. Vitae vitae ut ridiculus semper. Orci iaculis eget iaculis feugiat
                            felis
                            dictum aliquet egestas. Quis dis dictum odio risus nisl. Facilisi sit suspendisse elit
                            feugiat.
                        </div>
                        <div class="commentAction display-flex jcontent-between mt20">
                            <div class="display-flex">
                                <button class="button commentLike" aria-label="Like this comment"><span
                                        class="icon icon-clap"></span>3</button>
                                <button class="button commentReply -bReply" aria-label="Trigger form reply"></button>
                            </div>
                            <button class="button commentReport -bReport">Laporkan</button>
                        </div>
                        <form class="commentForm mt10 -fReply" action="">
                            <textarea class="formArea commentArea" cols="30" rows="1" placeholder="Tulis Komentarmu"
                                aria-label="Write your comment"></textarea>
                            <div class="commentFooter display-flex aitems-center jcontent-end mt10">
                                <button class="button buttonPrimary" type="submit" name="submit">
                                    Kirim
                                </button>
                            </div>
                        </form>                    </div>
                </div>
                <div class="commentItem display-flex mt20 mb20">
                    <div class="commentRow">
                        <img loading="lazy" src="./asset/images/sample/user.jpg" alt="" class="commentAvatar" width="76" height="76">
                    </div>
                    <div class="commentRow flex-init">
                        <div class="commentHead">
                            <div class="commentUser">Derry Aso</div>
                            <div class="commentDate">Rabu, 14 Juli 2021 - 10:36</div>
                        </div>
                        <div class="commentContent mt10">Felis eget egestas sapien netus. Tortor, vulputate dolor, in
                            sem in
                            adipiscing
                            vel pellentesque aliquam. Vitae vitae ut ridiculus semper. Orci iaculis eget iaculis feugiat
                            felis
                            dictum aliquet egestas. Quis dis dictum odio risus nisl. Facilisi sit suspendisse elit
                            feugiat.
                        </div>
                        <div class="commentAction display-flex jcontent-between mt20">
                            <div class="display-flex">
                                <button class="button commentLike" aria-label="Like this comment"><span
                                        class="icon icon-clap"></span>3</button>
                                <button class="button commentReply -bReply" aria-label="Trigger form reply"></button>
                            </div>
                            <button class="button commentReport -bReport">Laporkan</button>
                        </div>
                        <form class="commentForm mt10 -fReply" action="">
                            <textarea class="formArea commentArea" cols="30" rows="1" placeholder="Tulis Komentarmu"
                                aria-label="Write your comment"></textarea>
                            <div class="commentFooter display-flex aitems-center jcontent-end mt10">
                                <button class="button buttonPrimary" type="submit" name="submit">
                                    Kirim
                                </button>
                            </div>
                        </form>                    </div>
                </div>
                <div class="commentItem display-flex mt20 mb20">
                    <div class="commentRow">
                        <img loading="lazy" src="./asset/images/user.png" alt="" class="commentAvatar" width="76" height="76">
                    </div>
                    <div class="commentRow flex-init">
                        <div class="commentHead">
                            <div class="commentUser">Amanda Immanuella</div>
                            <div class="commentDate">Rabu, 14 Juli 2021 - 10:36</div>
                        </div>
                        <div class="commentContent mt10">Felis eget egestas sapien netus. Tortor, vulputate dolor, in
                            sem in
                            adipiscing
                            vel pellentesque aliquam. Vitae vitae ut ridiculus semper. Orci iaculis eget iaculis feugiat
                            felis
                            dictum aliquet egestas. Quis dis dictum odio risus nisl. Facilisi sit suspendisse elit
                            feugiat.
                        </div>
                        <div class="commentAction display-flex jcontent-between mt20">
                            <div class="display-flex">
                                <button class="button commentLike" aria-label="Like this comment"><span
                                        class="icon icon-clap"></span>3</button>
                                <button class="button commentReply -bReply" aria-label="Trigger form reply"></button>
                            </div>
                            <button class="button commentReport -bReport">Laporkan</button>
                        </div>
                        <form class="commentForm mt10 -fReply" action="">
                            <textarea class="formArea commentArea" cols="30" rows="1" placeholder="Tulis Komentarmu"
                                aria-label="Write your comment"></textarea>
                            <div class="commentFooter display-flex aitems-center jcontent-end mt10">
                                <button class="button buttonPrimary" type="submit" name="submit">
                                    Kirim
                                </button>
                            </div>
                        </form>                    </div>
                </div>
                <!-- e: reply -->
            </div>
        </div>
        <div class="commentItem display-flex mt20 mb20">
            <div class="commentRow">
                <img loading="lazy" src="./asset/images/sample/user.jpg" alt="" class="commentAvatar" width="76" height="76">
            </div>
            <div class="commentRow flex-init">
                <div class="commentHead">
                    <div class="commentUser">Derry Aso</div>
                    <div class="commentDate">Rabu, 14 Juli 2021 - 10:36</div>
                </div>
                <div class="commentContent mt10">Felis eget egestas sapien netus. Tortor, vulputate dolor, in sem in
                    adipiscing
                    vel pellentesque aliquam. Vitae vitae ut ridiculus semper. Orci iaculis eget iaculis feugiat felis
                    dictum aliquet egestas. Quis dis dictum odio risus nisl. Facilisi sit suspendisse elit feugiat.
                </div>
                <div class="commentAction display-flex jcontent-between mt20">
                    <div class="display-flex">
                        <button class="button commentLike" aria-label="Like this comment"><span
                                class="icon icon-clap"></span>12</button>
                        <button class="button commentReply -bReply" aria-label="Trigger form reply"></button>
                    </div>
                    <button class="button commentReport -bReport">Laporkan</button>
                </div>
                <form class="commentForm mt10 -fReply" action="">
                    <textarea class="formArea commentArea" cols="30" rows="1" placeholder="Tulis Komentarmu"
                        aria-label="Write your comment"></textarea>
                    <div class="commentFooter display-flex aitems-center jcontent-end mt10">
                        <button class="button buttonPrimary" type="submit" name="submit">
                            Kirim
                        </button>
                    </div>
                </form>                <!-- s: reply -->
                <!-- e: reply -->
            </div>
        </div>
        <div class="commentItem display-flex mt20 mb20">
            <div class="commentRow">
                <img loading="lazy" src="./asset/images/user.png" alt="" class="commentAvatar" width="76" height="76">
            </div>
            <div class="commentRow flex-init">
                <div class="commentHead">
                    <div class="commentUser">Amanda Immanuella</div>
                    <div class="commentDate">Rabu, 14 Juli 2021 - 10:36</div>
                </div>
                <div class="commentContent mt10">Felis eget egestas sapien netus. Tortor, vulputate dolor, in sem in
                    adipiscing
                    vel pellentesque aliquam. Vitae vitae ut ridiculus semper. Orci iaculis eget iaculis feugiat felis
                    dictum aliquet egestas. Quis dis dictum odio risus nisl. Facilisi sit suspendisse elit feugiat.
                </div>
                <div class="commentAction display-flex jcontent-between mt20">
                    <div class="display-flex">
                        <button class="button commentLike" aria-label="Like this comment"><span
                                class="icon icon-clap"></span>12</button>
                        <button class="button commentReply -bReply" aria-label="Trigger form reply"></button>
                    </div>
                    <button class="button commentReport -bReport">Laporkan</button>
                </div>
                <form class="commentForm mt10 -fReply" action="">
                    <textarea class="formArea commentArea" cols="30" rows="1" placeholder="Tulis Komentarmu"
                        aria-label="Write your comment"></textarea>
                    <div class="commentFooter display-flex aitems-center jcontent-end mt10">
                        <button class="button buttonPrimary" type="submit" name="submit">
                            Kirim
                        </button>
                    </div>
                </form>                <!-- s: reply -->
                <!-- e: reply -->
            </div>
        </div>
        <div class="commentItem display-flex mt20 mb20">
            <div class="commentRow">
                <img loading="lazy" src="./asset/images/user.png" alt="" class="commentAvatar" width="76" height="76">
            </div>
            <div class="commentRow flex-init">
                <div class="commentHead">
                    <div class="commentUser">Pandu Hutapea</div>
                    <div class="commentDate">Rabu, 14 Juli 2021 - 10:36</div>
                </div>
                <div class="commentContent mt10">Felis eget egestas sapien netus. Tortor, vulputate dolor, in sem in
                    adipiscing
                    vel pellentesque aliquam. Vitae vitae ut ridiculus semper. Orci iaculis eget iaculis feugiat felis
                    dictum aliquet egestas. Quis dis dictum odio risus nisl. Facilisi sit suspendisse elit feugiat.
                </div>
                <div class="commentAction display-flex jcontent-between mt20">
                    <div class="display-flex">
                        <button class="button commentLike" aria-label="Like this comment"><span
                                class="icon icon-clap"></span>12</button>
                        <button class="button commentReply -bReply" aria-label="Trigger form reply"></button>
                    </div>
                    <button class="button commentReport -bReport">Laporkan</button>
                </div>
                <form class="commentForm mt10 -fReply" action="">
                    <textarea class="formArea commentArea" cols="30" rows="1" placeholder="Tulis Komentarmu"
                        aria-label="Write your comment"></textarea>
                    <div class="commentFooter display-flex aitems-center jcontent-end mt10">
                        <button class="button buttonPrimary" type="submit" name="submit">
                            Kirim
                        </button>
                    </div>
                </form>                <!-- s: reply -->
                <!-- e: reply -->
            </div>
        </div>
        <div class="commentItem display-flex mt20 mb20">
            <div class="commentRow">
                <img loading="lazy" src="./asset/images/user.png" alt="" class="commentAvatar" width="76" height="76">
            </div>
            <div class="commentRow flex-init">
                <div class="commentHead">
                    <div class="commentUser">Larinda Dewi</div>
                    <div class="commentDate">Rabu, 14 Juli 2021 - 10:36</div>
                </div>
                <div class="commentContent mt10">Felis eget egestas sapien netus. Tortor, vulputate dolor, in sem in
                    adipiscing
                    vel pellentesque aliquam. Vitae vitae ut ridiculus semper. Orci iaculis eget iaculis feugiat felis
                    dictum aliquet egestas. Quis dis dictum odio risus nisl. Facilisi sit suspendisse elit feugiat.
                </div>
                <div class="commentAction display-flex jcontent-between mt20">
                    <div class="display-flex">
                        <button class="button commentLike" aria-label="Like this comment"><span
                                class="icon icon-clap"></span>12</button>
                        <button class="button commentReply -bReply" aria-label="Trigger form reply"></button>
                    </div>
                    <button class="button commentReport -bReport">Laporkan</button>
                </div>
                <form class="commentForm mt10 -fReply" action="">
                    <textarea class="formArea commentArea" cols="30" rows="1" placeholder="Tulis Komentarmu"
                        aria-label="Write your comment"></textarea>
                    <div class="commentFooter display-flex aitems-center jcontent-end mt10">
                        <button class="button buttonPrimary" type="submit" name="submit">
                            Kirim
                        </button>
                    </div>
                </form>                <!-- s: reply -->
                <!-- e: reply -->
            </div>
        </div>
    </div>
</div>
<!-- e: komentar -->