{{!-- <div class="headerBil custom-select">
    <button class="select-button button headerBil__btn" role="combobox" aria-label="Bilingual options"
        aria-haspopup="listbox" aria-expanded="false" aria-controls="select-dropdown">
        <span class="ico icoBil"></span>
        <span class="selected-value">EN</span>
        <span class="arrow"></span>
    </button>
    <ul class="select-dropdown" role="listbox" id="select-dropdown">
        <li role="option">
            <input type="radio" id="choose" name="bilingual" disabled />
            <label for="choose">Pilihan bahasa</label>
        </li>
        <li role="option">
            <input type="radio" id="ID" name="bilingual" value="ID" />
            <label for="ID"><img src="./asset/images/icon/ico-flag-ina.png" alt="" width="23px" height="23px"
                    loading="lazy">Indonesia</label>
        </li>
        <li role="option">
            <input type="radio" id="EN" name="bilingual" value="EN" checked />
            <label for="EN"><img src="./asset/images/icon/ico-flag-eng.png" alt="" width="23px" height="23px"
                    loading="lazy">English</label>
        </li>
    </ul>
</div> --}}
<div class="headerBil">
    <div class="headerBil__btn selectDrop">
        <select name="biling" id="biling" aria-label="Bilingual options">
            <option value="1" disabled>Choose Language</option>
            <option value="2">ID</option>
            <option value="3" selected>EN</option>
        </select>
    </div>
</div>