<nav class="nav" aria-label="primarynavigation">
    <div class="navList center-flex">
        {{#each mainMenu}}
        <div class="navItem">
            <a href="{{link}}" class="navLink{{#eq title compare=../page}} active{{/eq}}">{{title}}</a>
        </div>
        {{/each}}
    </div>
</nav>