<form action="#" id="formsearch">
    <div class="headerSearch__form center-flex">
        <div class="headerSearch__sort center-flex selectDrop">
            <select name="sort" id="sort" aria-label="Sort by">
                <option value="1" selected>All</option>
                <option value="2">Judul</option>
                <option value="3">Penulis</option>
                <option value="4">ISBN</option>
                <option value="5">Tag</option>
            </select>
        </div>
        <input type="search" name="search" class="searchInput" id="search" aria-label="Search by book title, author or publisher..."
            placeholder="Cari berdasarkan judul buku, penulis atau penerbit...">
        <button class="button headerSearch__cta searchCta" type="submit" aria-label="search"><span class="ico icoSearch"></span></button>
    </div>
</form>