<div class="quantaQuote__item swiper-slide">
    <div class="quantaQuote__img">
        <img src="./asset/images/dummy/quanta/quotes-0.jpg" alt="" width="330" height="425">
    </div>
</div>
<div class="quantaQuote__item swiper-slide">
    <div class="quantaQuote__img">
        <img src="./asset/images/dummy/quanta/quotes-1.jpg" alt="" width="330" height="425">
    </div>
</div>