.button {
    cursor: pointer;
    display: inline-block;
    padding: 0;

    &Search {
        background: none;
        border: 0;

        .icon-search {
            width: 25px;
            height: 25px;
            display: block;
        }
    }

    &Burger {
        background: transparent;
        border: 0;
    }
}