<div class="billboardBottom banner" id="bottomzone">
    <div class="box_close">
        <div class="close-btn new">
            <a href="javascript:;" title="Close" class="bg-close">
                <div class="close-ads">
                    <div class="x1"></div>
                    <div class="x2"></div>
                </div>
            </a>
        </div>
    </div>
    <!--<div id='div-gpt-ad-sticky'>
            <script>
                googletag.cmd.push(function () {
                    googletag.display('div-gpt-ad-sticky');
                });
            </script>
        </div>-->
</div>