.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;
    margin: 0 auto;
    background: rgba(19, 64, 97, .6);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 5; //above .fullpage
    transition: all .3s ease;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all
    }
}