.sphere {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;

    &Anim {
        width: 200px;
        height: 100%;
        transition: transform .7s ease;

        @include min-responsive($w-md) {
            width: 360px;
            margin: 0 auto;
        }

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            width: 240px;
        }

        @media only screen and(max-height: 710px) and(orientation: landscape) {
            transform: translateY(26px);
        }

        &.scale {
            transform: scale(1.2) translateX(-237px);

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                transform: scale(1.2) translateX(-237px);
            }
        }
    }

    &Area {
        position: relative;
        flex-shrink: 0;

        @include min-responsive($w-md) {
            width: 360px;
            height: 367px;
        }

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            width: 240px;
            height: 240px;
        }
    }

    &Zoom {
        position: relative;
        z-index: 2;

        &__wrap {
            position: relative;
            width: 432px;
            height: 432px;
            left: 35px;

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                width: 288px;
                height: 288px;
                left: 106px;
            }
        }
    }

    &Pic,
    &Pin {
        position: absolute;
        left: 0;
        top: 0;
    }

    &Event {
        &1 {
            &Pin {
                left: unset;
                top: 75px;
                right: 66px;

                @media only screen and(max-height: 700px) and(orientation: landscape) {
                    transform: scale(.8) translate(48%, -49%);
                }
            }

            &Tank {
                top: -62px;
                left: unset;
                right: -330px;

                @media only screen and(max-height: 700px) and(orientation: landscape) {
                    top: -95px;
                    left: -333px;
                    right: unset;
                    max-width: 445px;
                }
            }

            &Bomb {
                top: unset;
                bottom: -85px;
                left: -40px;

                @media only screen and(max-height: 700px) and(orientation: landscape) {
                    bottom: -168px;
                    left: -126px;
                }
            }
        }

        &2 {
            &Pin {
                top: 44px;
                left: -27px;

                @media only screen and(max-height: 700px) and(orientation: landscape) {
                    top: -7px;
                    left: -64px;
                }
            }

            &Pic {
                top: unset;
                bottom: -63px;
                left: -88px;
            }
        }
    }

    &Tele,
    &Trend,
    &DayPin {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &Arrow {
        top: -470px;
        left: unset;
        right: -25px;

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            transform: scale(.8) translate(80px, 80px);
        }
    }

    &Predict {
        top: 15px;
        left: 86px;
    }

    &Day {
        &Pic {
            top: -100px;
            left: 200px;
        }

        &Flag {
            left: 62px;
            top: 20px;
        }
    }
}