.sphere {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;

    @include min-responsive($w-md) {
        top: 55%;
    }

    @media only screen and(max-height: 700px) and(orientation: landscape) {
        top: 50%;
    }

    &Anim {
        width: 200px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        transform: scale(1);
        transition: transform .7s ease;

        @include min-responsive($w-md) {
            width: 360px;
            margin: 0 auto;
            transform: scale(.8) translateY(-1vh);
        }

        @include min-responsive($w-xxl) {
            transform: scale(.8) translateY(-4vh);
        }

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            width: 240px;
            transform: scale(.8) translateY(35px)
        }

        &.scale {
            transform: scale(1.1);

            @include min-responsive($w-md) {
                transform: scale(1.2) translate(-240px, -10px);
            }

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                transform: scale(1.2) translateX(-237px);
            }
        }
    }

    &Area {
        position: relative;
        flex-shrink: 0;

        @include min-responsive($w-md) {
            width: 320px;
            height: 320px;
        }

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            width: 240px;
            height: 240px;
        }
    }

    &Zoom {
        position: relative;
        z-index: 2;

        &__wrap {
            position: relative;
            width: 432px;
            height: 440px;
            left: 35px;

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                width: 288px;
                height: 288px;
                left: 106px;
            }

            @include min-height($w-hmd) {
                top: 40px;
            }
        }

        &.riskactive {
            .sphereRisk2 {
                cursor: pointer;
                pointer-events: all;
            }
        }

        &.dayactive {
            .sphereDayPin {
                cursor: pointer;
                pointer-events: all;
            }
        }
    }

    &Pic,
    &Pin {
        position: absolute;
        left: 0;
        top: 0;
    }

    &Event {
        &1 {
            &Pin {
                left: unset;
                top: 64px;
                right: 70px;

                @media only screen and(max-height: 700px) and(orientation: landscape) {
                    transform: scale(0.8) translate(52%, -40%);
                }
            }

            &Tank {
                top: -60px;
                left: unset;
                right: -330px;

                @media only screen and(max-height: 700px) and(orientation: landscape) {
                    top: -124px;
                    left: -248px;
                    right: unset;
                    max-width: 445px;
                }
            }

            &Bomb {
                top: unset;
                bottom: -85px;
                left: -40px;

                @media only screen and(max-height: 700px) and(orientation: landscape) {
                    bottom: -168px;
                    left: -126px;
                }
            }
        }

        &2 {
            &Pin {
                top: 30px;
                left: -66px;

                @media only screen and(max-height: 700px) and(orientation: landscape) {
                    top: -7px;
                    left: -98px;
                }
            }

            &Pic {
                top: unset;
                bottom: -60px;
                left: -85px;
            }
        }

        &Line {
            position: absolute;

            &1 {
                left: 34%;
                top: -105px;

                @media only screen and(max-height: 700px) and(orientation: landscape) {
                    left: 40%;
                    top: -90px;
                    max-width: 125px;
                }
            }

            &2 {
                left: -130px;
                top: 16%;
                max-width: 150px;

                @media only screen and(max-height: 700px) and(orientation: landscape) {
                    right: -119px;
                    left: unset;
                    top: 30%;
                    transform: scaleX(-1);
                }
            }
        }
    }

    &Tele,
    &Trend,
    &DayPin {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &Arrow {
        top: -470px;
        left: unset;
        right: -25px;

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            transform: scale(.8) translate(80px, 80px);
        }
    }

    &Predict {
        top: 15px;
        left: 86px;
    }

    &Day {
        &Pic {
            top: -100px;
            left: 200px;
        }

        &Flag {
            left: 62px;
            top: 20px;
        }

        &Click {
            min-width: 130px;
            bottom: -38px;

            span {
                position: absolute;
                top: -48px;
                left: calc(50% - 30px / 2);
            }
        }
    }
}