.kanal {

    &Box {
        padding-bottom: 20px;
        border: 1px solid #C7C7C7;
        border-radius: 12px;

        .art {
            padding-top: 20px;
            padding-left: 24px;
            padding-right: 24px;
        }

        .titleOthers {
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    &Vid {
        background: $cl-black;
        padding-top: 34px;
        padding-bottom: 48px;

        .titleCaption,
        .titleOthers,
        .artChannel,
        .artTitle {
            color: $cl-white
        }

        .art {
            margin-top: 16px;

            &Link:hover {
                .artTitle {
                    color: $cl-white;
                    text-decoration: underline;
                }
            }
        }

        .artWrap.-col {
            gap: 43px;

            .artImg {
                padding-top: calc(3/4 * 100% - 88px);
            }
        }

        .artDate {
            color: #C7C7C7
        }

        .titleOthers {
            &:hover {
                text-decoration: underline;
            }

            .icoArrow {
                @extend %filter-white
            }
        }
    }

    &Photo {
        position: relative;

        .art {
            position: relative;

            &Item {
                position: relative;
                width: 100%;
                height: 450px;
                overflow: hidden;

                &::before {
                    content: '';
                    top: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
                    z-index: 1;
                }
            }

            &Img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 0;
                z-index: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &Content {
                @include display_flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                max-width: 543px;
                height: 100%;
                margin: auto;
                z-index: 1;
            }

            &Link {
                min-height: 142px;

                &:hover {
                    .artTitle {
                        color: $cl-white;
                        text-decoration: underline;
                    }
                }
            }

            &Title {
                margin-top: 10px;
                text-align: center;
                @include font-pack($font-body, 28px, $font-weight-sbold, $line-base, $cl-white);
            }

            &Date {
                margin-top: 8px;
                text-align: center;
                color: #C7C7C7;
            }
        }

        .title {
            &Caption {
                position: absolute;
                top: 40px;
                left: 40px;
                font-weight: $font-weight-sbold;
                color: $cl-white;
                z-index: 1;
            }
        }
    }

    &Bisnistv {
        padding: 20px 15px;
        background: #F5F5F5;

        .titleCaption {
            margin-bottom: 14px;
            text-align: center;
        }

        .artWrap.-col .artImg {
            border-radius: 0;
            padding-top: calc(3/4 * 100% - 86px);
        }

        .artTitle {
            -webkit-line-clamp: 3;
            order: 1;
            @include font-pack(false, 18px, false, $line-base, false);
        }

        .artContent {
            display: flex;
            flex-direction: column;
        }

        .artDuration {
            width: 50px;
            height: 37px;
            background: #F5F5F5;
            border-top-right-radius: 12px;

            .icoPlay {

                &::before {
                    border-top: 11px solid transparent;
                    border-bottom: 11px solid transparent;
                    border-left: 19px solid;
                }
            }
        }
    }
}