<div class="ads adsWrap mt30">
    <div class="adsParallax adsCenter">
        <div class="adsFlying">
            <div class="adsFlying__inner">
                <div class="adsFlying__fix">
                    <div class="adsFlying__banner">
                        <img src="asset/images/ads/parallax.jpg" alt="" width="360" height="600">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>