<div class="ads adsWrap adsSticky__wrap adsPlaceholder">
    <div class="adsClose -closeads" role="button">×</div>
    <div class="adsSticky adsCenter">
        <img src="asset/images/ads/sticky.jpg" alt="" width="360" height="50" loading="lazy">
    </div>
</div>