.benefit {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &Img {
        width: 100%;
        height: calc(var(--app-height) - (34%));
        max-height: 725px;

        &__bg {
            width: 100%;
            height: 100%;
            background: url(../images/benefit-bg-mob.png);
            background-size: calc(var(--app-height) - (40%));
            background-position: bottom center;
            background-repeat: no-repeat;

            @include min-responsive($w-md) {
                background: url(../images/benefit-bg.png);
                background-size: contain;
                background-position: bottom center;
                background-repeat: no-repeat;
            }

            @include range-responsive($w-md, $w-xxl) {
                background-position: bottom left;
            }

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                background-position: bottom center;
            }

            &::before {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 100%;
                height: calc(100% - (var(--app-height) - (9.3%)));
                background: url(../images/benefit-bg-base-mob.png);
                background-size: contain;
                background-position: bottom left;
                background-repeat: repeat-x;
                z-index: -1;

                @include min-responsive($w-md) {
                    background: url(../images/benefit-bg-base.png);
                    background-size: contain;
                    background-position: bottom left;
                    background-repeat: repeat-x;
                }
            }

            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 100%;
                height: calc(100% - (var(--app-height) - (10%)));
                background: #005596;
                background-size: contain;
                background-position: bottom left;
                background-repeat: repeat-x;
                z-index: -2;

                @include min-responsive($w-md) {
                    height: calc(100% - (var(--app-height) - (14%)));
                }
            }

            &.hide {
                background: transparent;
            }
        }

        &__coffee {
            position: absolute;
            left: 10px;
            bottom: calc(var(--app-height) - (62%));
            height: calc(var(--app-height) - (90%));
            max-height: 105px;

            @include min-responsive($w-md) {
                height: calc(var(--app-height) - (78%));
                bottom: calc(var(--app-height) - (45%));
                left: calc(50% - 222px/2 - 26vw);
                max-height: 261px;
            }

            @include range-responsive($w-md, $w-xxl) {
                left: 85px;
            }

            @include range-responsive($w-md, $w-xl) {
                height: calc(var(--app-height)*(14 / 100));
                bottom: calc(var(--app-height)*(32 / 100));
            }

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                left: calc(50% - 222px/2 - 20vw);
                bottom: calc(var(--app-height) - (54%));
            }

            @include min-responsive($w-xxxxl) {
                left: calc(50% - 222px / 2 - 18vw);
                bottom: 660px;
            }

            img {
                height: 100%;
            }
        }
    }

    &Lamp {
        position: absolute;
        width: 100%;
        max-height: 440px;
        top: 0;
        display: none;

        @include min-responsive($w-md) {
            display: block;
        }

        &__img {
            position: absolute;
            width: calc(var(--app-height)*(21 / 100));
            height: calc(var(--app-height)*(37 / 100));
            max-width: 228px;
            max-height: 400px;
            background: url(../images/benefit-lamp.png) no-repeat;
            background-size: contain;
        }

        .--merchant {
            left: 200px;

            @include range-responsive($w-md, $w-xl) {
                left: 40px;
            }

            @include min-responsive($w-xxxl) {
                left: 450px;
            }

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                left: 220px;
            }
        }

        .--consumer {
            right: 200px;

            @include range-responsive($w-md, $w-xl) {
                right: 40px;
            }

            @include min-responsive($w-xxxl) {
                right: 450px;
            }

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                right: 220px;
            }
        }
    }

    &Title {
        @extend .cartTitle;
        align-self: center;
        max-width: 529px;
        margin-top: 135px;
        padding: 14px 22px;
        text-align: center;

        @include max-responsive($w-xm) {
            margin-top: 105px;
        }

        @include min-responsive($w-md) {
            margin-top: calc(var(--app-height) - (90vh));
        }

        @include range-responsive($w-md, $w-xl) {
            margin-top: calc(var(--app-height) * 33/100);
        }
    }

    &Trigger {
        position: absolute;
        top: 230px;
        transition: top .4s ease;

        &:has(.benefitClose.active) {
            top: 82px;

            @include min-responsive($w-md) {
                top: 217px;
            }

            @include min-responsive($w-xxxl) {
                top: 292px;
            }

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                top: 157px;
            }
        }

        @include max-responsive($w-xm) {
            top: 200px;
        }

        @include min-responsive($w-md) {
            top: 217px;
        }

        @include min-responsive($w-xxxl) {
            top: 292px;
        }

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            top: 157px;
        }

        &.--merchant {
            left: 15px;

            @include min-responsive($w-md) {
                left: 200px;
            }

            @include min-responsive($w-xxxl) {
                left: 450px;
            }

            @include range-responsive($w-md, $w-xl) {
                left: 40px;
            }

            .benefitButton {
                left: 0;
            }
        }

        &.--consumer {
            right: 15px;

            @include min-responsive($w-md) {
                right: 200px;
            }

            @include min-responsive($w-xxxl) {
                right: 450px;
            }

            @include range-responsive($w-md, $w-xl) {
                right: 40px;
            }

            .benefitButton {
                left: 0;
            }
        }

        &__caption {
            text-align: center;
            margin-top: -2px;
            text-transform: uppercase;
            @include font-pack($font-caption, 24px, $font-weight-light, $line-base, $cl-white);

            @include max-responsive($w-xm) {
                font-size: 20px;
            }

            @include min-responsive($w-md) {
                font-size: 28px;
            }
        }
    }

    &Button {
        position: relative;
        top: 0;
        min-width: 157px;
        max-width: 174px;
        width: calc(var(--app-height)*(21 / 100));
        cursor: pointer;

        @include max-responsive($w-xm) {
            min-width: 138px;
        }

        @include min-responsive($w-md) {
            min-width: 168px;
            max-width: 228px;
        }

        &__wrap {
            padding: 7px 30px;
            text-align: center;
            border-radius: 15px;
            background: rgb(5, 52, 74);
            background: linear-gradient(95deg, rgba(5, 52, 74, 1) 0%, rgba(6, 83, 103, 1) 100%);
            @include font-pack($font-caption, 24px, $font-weight-light, $line-base, $cl-white);

            @include max-responsive($w-xm) {
                font-size: 20px;
            }

            @include min-responsive($w-md) {
                font-size: 28px;
            }
        }

        &__triangle {
            position: absolute;
            bottom: -16px;
            width: 29px;
            height: 35px;
            margin-left: 4px;
            background: url(../images/icon-click.png) no-repeat;
            background-size: cover;
            filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(329deg) brightness(106%) contrast(101%);
        }

        &.active {
            pointer-events: all;
        }
    }

    &Close {
        position: absolute;
        top: 26px;
        display: block;
        width: 26px;
        height: 26px;
        border: 2px solid #065367;
        border-radius: 40px;
        background: $cl-white;

        @include min-responsive($w-md) {
            top: 36px;
        }

        &::after,
        &::before {
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute;
            width: 14px;
            height: 2px;
            background: #065367;
            transform: rotate(45deg);
            border-radius: 5px;
            top: 10px;
            left: 4px;
        }

        &::after {
            transform: rotate(-45deg)
        }

        &.active {
            pointer-events: all;
        }

    }

    &List {
        margin-top: 167px;
        z-index: 1;

        @include max-responsive($w-xm) {
            margin-top: 163px;
        }

        @include min-responsive($w-md) {
            margin-top: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        &__item {
            display: flex;
            align-items: center;
            position: relative;
            top: 100vh;
            padding: 10px 15px 10px 70px;
            margin-top: 15px;
            margin-left: 10px;
            margin-right: 10px;
            max-width: 665px;
            min-height: 58px;
            background: $cl-white;
            border-radius: 20px;
            @include font-pack($size: 16px, $colour: $cl-primary);

            @include max-responsive($w-xm) {
                margin-top: 10px;
                min-height: unset;
            }

            @include min-responsive($w-md) {
                display: block;
                margin-top: 25px;
                padding: 17px 5px 50px 160px;
                border-radius: 30px;
                font-size: 24px;
            }

            @include range-responsive($w-md, $w-xl) {
                min-height: 92px;
            }

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                margin-top: 18px;
                padding: 17px 17px 17px 125px;
                max-width: 516px;
                min-height: unset;
                font-size: 22px;
            }

            &:first-child {
                margin-top: 0;
            }
        }

        &__img {
            position: absolute;
            opacity: 0;
            transition: opacity .7s ease;

            &.active {
                opacity: 1;
            }
        }
    }
}

.merchant {
    justify-content: center;

    &Close {
        left: -4px;

        @include min-responsive($w-md) {
            left: -38px;
        }

        @include range-responsive($w-md, $w-xl) {
            left: -15px;
        }
    }

    &Img {
        position: absolute;
        left: 0;
        bottom: 0;
        align-self: flex-end;
        transform: translate(47px, 0);
        transition: transform .7s ease-in-out;

        @include min-responsive($w-md) {
            position: relative;
            bottom: calc(var(--app-height)*(6 / 100));
        }

        @include min-responsive($w-xxxxl) {
            bottom: calc(var(--app-height)*(1 / 100));
        }

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            bottom: calc(var(--app-height)*(3 / 100));
        }

        img {
            height: calc(var(--app-height)*(40 / 100));
            object-fit: contain;

            @include min-responsive($w-md) {
                height: calc(var(--app-height)*(65 / 100));
                max-height: 769px;
            }

            @include range-responsive($w-md, $w-xl) {
                height: calc(var(--app-height)*(40 / 100));
            }

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                height: calc(var(--app-height)*(60 / 100));
            }
        }
    }

    &Item {
        @include range-responsive($w-md, $w-xl) {
            padding: 17px 17px 17px 124px;
            margin-right: 26px;
        }

        &__img {
            left: 0;
            bottom: 15px;

            @include min-responsive($w-md) {
                bottom: -20px;
            }

            img {
                max-width: 60px;

                @include min-responsive($w-md) {
                    max-width: 80%;
                }

                @include range-responsive($w-md, $w-xl) {
                    max-width: 70%;
                }

                @media only screen and(max-height: 700px) and(orientation: landscape) {
                    max-width: 60%;
                }
            }
        }

        &1 {
            &__img {
                @include min-responsive($w-md) {
                    bottom: 0;
                }
            }
        }

        &2 {
            &__img {
                @include max-responsive($w-xm) {
                    bottom: -5px;
                }
            }
        }

        &3 {
            &__img {
                bottom: 0;

                @include max-responsive($w-xm) {
                    bottom: -10px;
                }

                @include min-responsive($w-md) {
                    bottom: -20px;
                }
            }
        }

        &4 {
            &__img {
                @media only screen and(max-height: 700px) and(orientation: landscape) {
                    bottom: 0;
                }
            }
        }

        &5 {
            &__img {
                @include min-responsive($w-md) {
                    bottom: 0;
                }
            }
        }
    }

    &List {
        @include range-responsive($w-md, $w-xl) {
            padding-left: 100px;
            flex: 1;
        }
    }

    &.active {
        .merchantImg {
            transform: translate(0, 0);

            @include range-responsive($w-md, $w-xl) {
                transform: translate(0, 10px);
            }
        }

        .merchantTrig {
            pointer-events: all;
        }
    }
}

.consumer {
    justify-content: center;

    &Close {
        right: -4px;

        @include min-responsive($w-md) {
            right: -38px;
        }

        @include range-responsive($w-md, $w-xl) {
            right: -15px;
        }
    }

    &Img {
        position: absolute;
        right: 10px;
        bottom: 0;
        align-self: flex-end;
        margin-left: 30px;
        transform: translate(-72px, 0);
        transition: transform .7s ease-in-out;

        @include min-responsive($w-md) {
            position: relative;
            bottom: calc(var(--app-height)*(5 / 100));
        }

        @include min-responsive($w-xxxxl) {
            bottom: calc(var(--app-height)*(3 / 100));
        }

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            bottom: calc(var(--app-height)*(4 / 100));
        }

        img {
            height: calc(var(--app-height)*(33 / 100));
            object-fit: contain;

            @include min-responsive($w-md) {
                height: calc(var(--app-height)*(61 / 100));
                max-height: 708px;
            }

            @include min-responsive($w-xxxxl) {
                height: calc(var(--app-height)*(37 / 100));
            }

            @include range-responsive($w-md, $w-xl) {
                height: calc(var(--app-height)*(38 / 100));
            }

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                height: calc(var(--app-height)*(54 / 100));
            }
        }
    }

    &List {
        @include range-responsive($w-md, $w-xl) {
            padding-right: 100px;
            flex: 1;
        }
    }

    &Item {
        justify-content: flex-end;
        text-align: right;
        padding: 10px 70px 10px 15px;

        @include max-responsive($w-xm) {
            padding: 10px 58px 10px 15px;
        }


        @include min-responsive($w-md) {
            padding: 17px 150px 30px 5px;
        }

        @include range-responsive($w-md, $w-xl) {
            padding: 17px 124px 17px 17px;
            margin-left: 26px;
        }

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            padding: 17px 120px 17px 17px;
        }

        &__img {
            right: 0;
            bottom: 0;

            @include max-responsive($w-xm) {
                right: -8px;
                bottom: 15px;
            }

            @include range-responsive($w-md, $w-xl) {
                right: -10px;
            }

            img {
                max-width: 70px;

                @include min-responsive($w-md) {
                    max-width: 80%;
                }

                @include range-responsive($w-md, $w-xl) {
                    max-width: 70%;
                }

                @media only screen and(max-height: 700px) and(orientation: landscape) {
                    max-width: 60%;
                }
            }
        }

        &1 {
            &__img {
                bottom: 35px;
            }
        }

        &4 {
            &__img {
                bottom: 0;
                right: -10px;

                @include min-responsive($w-md) {
                    bottom: -10px;
                }
            }
        }

        &5 {
            &__img {
                bottom: 0;
                right: -7px;

                @include max-responsive($w-xm) {
                    right: -10px;
                }

                @include min-responsive($w-md) {
                    bottom: -10px;
                }

                @include range-responsive($w-md, $w-xl) {
                    right: -30px;
                }
            }
        }
    }

    &.active {
        .consumerImg {
            transform: translate(0, 0);

            @include range-responsive($w-md, $w-xl) {
                transform: translate(-10px, 0);
            }
        }

        .consumerTrig {
            pointer-events: all;
        }
    }
}