.char {
    &Title {
        @extend .cartTitle;
        max-width: 817px;
        padding: 14px 22px 14px;
        text-align: center;
        @include font-pack($weight: $font-weight-light);

        strong {
            @include font-pack($weight: $font-weight-normal);
        }
    }

    &Unggul {
        &__caption {
            span {
                display: inline-block;
                transform: scale(0);
                transition: transform .7s ease;
            }
        }

        &__title {
            position: relative;
            display: flex;
            flex-direction: row;
            text-transform: uppercase;
            @include font-pack($font-caption, 80px, $font-weight-normal, false, $cl-white);
            transform: scale(1) translate(0, 0);
            transition: transform .7s ease-out;

            @include max-responsive($w-xm) {
                font-size: 70px;
            }

            @include min-responsive($w-md) {
                font-size: 190px;
            }

            @include range-responsive($w-md, $w-xl) {
                font-size: 140px;
            }

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                font-size: 140px;
            }

            &.breadcrumb {
                transform: scale(0.4) translate(-86vw, -92vh);

                @include min-responsive($w-md) {
                    transform: scale(.28) translate(-152vw, -128vh);
                }
            }

            ~.articleTxt {
                margin-left: 15px;
                margin-right: 15px;

                @include max-responsive($w-xm) {
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }

        &.active {
            .charUnggul__caption span {
                transform: scale(1);

                &:nth-child(2) {
                    transition-delay: .2s;
                }

                &:nth-child(3) {
                    transition-delay: .4s;
                }

                &:nth-child(4) {
                    transition-delay: .6s;
                }

                &:nth-child(5) {
                    transition-delay: .8s;
                }

                &:nth-child(6) {
                    transition-delay: 1s;
                }
            }
        }
    }

    &Breadcrumb {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 70px;
        left: 15px;
        @include font-pack($font-caption, 30px, $font-weight-normal, false, $cl-white);
        transition: top 0.5s;

        @include min-responsive($w-md) {
            top: 90px;
            left: 30px;
            font-size: 40px;
        }

        @include min-responsive($w-xxxl) {
            top: 125px;
        }

        span {
            transition: color .5s;

            &::after {
                content: '';
                display: block;
                width: 0;
                border-bottom: 1px solid $cl-white;
                transition: width .5s;
            }

            &.active {
                @include font-pack($colour: #FFED50);

                &::after {
                    width: 100%;
                }
            }
        }
    }

    &Img {
        img {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &1 {
        flex-direction: column;

        &__txt {
            max-width: 775px;
            text-align: center;

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                max-width: 535px;
            }
        }

        &__img {

            svg {
                max-height: calc(var(--app-height) * (35/100));
            }
        }
    }

    &2 {
        flex-direction: column;

        &__wrap {
            @include min-responsive($w-md) {
                margin-left: -28vw;
            }

            @include range-responsive($w-md, $w-xl) {
                margin-top: calc(var(--app-height)*(-42 / 100));
            }
        }

        &__title {
            margin-left: 15px;
            margin-right: 15px;
            margin-top: -15vh;

            @include max-responsive($w-xm) {
                margin-top: -14vh;
                margin-left: 10px;
                margin-right: 10px;
            }

            @include min-responsive($w-md) {
                margin: 0;
            }
        }

        &__txt {
            max-width: 402px;
        }

        &__img {
            position: absolute;
            right: 0;
            bottom: 5px;
            max-width: 70%;

            @include min-responsive($w-md) {
                max-width: unset;
            }

            // img {
            svg {
                max-height: calc(var(--app-height)*(40 / 100));
                padding-right: 0;

                @include min-responsive($w-md) {
                    max-height: calc(var(--app-height) * (58/100));
                }
            }
        }
    }

    &3 {
        flex-direction: row;

        &__title {
            margin-left: 15px;
            margin-top: -15vh;

            @include max-responsive($w-xm) {
                margin-top: -14vh;
                margin-left: 10px;
            }

            @include min-responsive($w-md) {
                margin-top: 0;
                margin-left: -80px;
            }

            @include range-responsive($w-md, $w-xl) {
                margin-top: -30vh;
                margin-left: 0;
            }

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                margin-left: -20px;
            }
        }

        &__txt {
            max-width: 520px;
        }

        &__img {
            position: absolute;
            left: 0;
            bottom: 20px;

            @include min-responsive($w-md) {
                position: relative;
                align-self: flex-end;
                bottom: 40px;
            }

            @include range-responsive($w-md, $w-xl) {
                margin-right: -470px;
            }

            // img {
            svg {
                max-height: calc(var(--app-height) * (54/100));
            }
        }
    }

    &4 {
        flex-direction: column;

        &__txt {
            max-width: 775px;
            text-align: center;

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                max-width: 535px;
            }
        }

        &__img {
            max-width: 90%;
            margin-top: -40px;
            margin-bottom: -70px;

            @include min-responsive($w-md) {
                max-width: unset;
                margin-top: -80px;
                margin-bottom: -120px;
            }

            // img {
            svg {
                max-height: calc(var(--app-height) * (75/100));
            }
        }

        &__title {
            margin-top: 40px;
        }
    }

    &Anim {
        span {
            animation: zoominout 1s infinite alternate;
        }

        span:nth-child(2) {
            animation-delay: .3s;
        }

        span:nth-child(3) {
            animation-delay: .7s;
        }

        span:nth-child(4) {
            animation-delay: .4s;
        }

        span:nth-child(5) {
            animation-delay: .6s;
        }

        span:nth-child(6) {
            animation-delay: .3s;
        }

        span:nth-child(7) {
            animation-delay: .7s;
        }

        span:nth-child(8) {
            animation-delay: .2s;
        }

        span:nth-child(9) {
            animation-delay: .9s;
        }
    }
}