.intro {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;

    @include max-responsive($w-xm) {
        padding-left: 10px;
        padding-right: 10px;
    }

    &Title {
        padding: 16px 20px 17px;
        border-radius: 25px;
        background: $cl-white;
        text-align: center;
        width: 100%;
        
        @include min-responsive($w-md) {
            border-radius: 30px;
            width: auto;
            padding: 16px 45px 17px;
        }
    }
}