.journey {
    &Title {
        position: relative;
        top: 100vh;
        max-width: 555px;
        margin-top: 15px;
        margin-bottom: 50px;
        padding: 19px 24px 19px;
        border-radius: 30px;
        background: $cl-white;
        text-align: center
    }

    &Button {
        @extend .cartButton;

        &__wrap {
            @extend .cartButton__wrap;
            padding: 22px 61px;
        }

        &__shadow {
            @extend .cartButton__shadow;
        }

        &__triangle {
            @extend .cartButton__triangle;
            bottom: 14px;
            margin-left: 8px;
        }
    }

    &.active {
        .journeyButton {
            pointer-events: all;
        }
    }
}