.overseas {
    align-items: center;
    flex-direction: column;
    max-height: 1080px;

    &Title {
        @extend .cartTitle;
        max-width: 763px;
        margin-top: 14vh;
        padding: 16px 15px 20px;
        text-align: center;
        @include font-pack($size: 20px, $weight: $font-weight-light);

        @include max-responsive($w-xm) {
            font-size: 18px;
        }

        @include min-responsive($w-md) {
            padding: 20px 22px 35px;
            margin-top: 50px;
            font-size: 32px;
        }

        @include range-responsive($w-md, $w-xl) {
            margin-top: 15vh;
        }

        @include min-responsive($w-xxxxl) {
            margin-top: 10vh;
            margin-bottom: 15vh;
        }

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            margin-bottom: 8px;
            font-size: 24px;
        }

        strong {
            @include font-pack($weight: $font-weight-normal);
        }
    }

    &Img {
        position: relative;
    }

    &Globe {
        display: block;
        position: relative;
        bottom: -35px;
        width: 640px;
        right: -90px;
        transform: rotate(45deg);
        transition: transform .7s ease;

        @include max-responsive($w-xm) {
            bottom: 10px;
        }

        @include min-responsive($w-md) {
            width: unset;
            bottom: 0;
            right: calc(100vw - 125vw);
        }

        @include range-responsive($w-md, $w-xl) {
            width: 768px;
            bottom: -80px;
        }

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            right: calc(100vw - 130vw);
        }

        img {
            height: calc(var(--app-height)*(140 / 100));
            max-height: 1480px;
            object-fit: contain;
            object-position: top;

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                height: calc(var(--app-height)*(130 / 100));
            }
        }
    }

    &People {
        position: absolute;
        top: -25px;
        left: 20px;
        height: 218px;
        max-height: 414px;
        object-fit: contain;

        @include min-responsive($w-md) {
            top: calc(var(--app-height)*(-3 / 100));
            left: 147px;
            height: calc(var(--app-height)*(46 / 100));
        }

        @include range-responsive($w-md, $w-xl) {
            top: -30px;
            left: 68px;
            height: 260px;
        }

        @include min-responsive($w-xxxl) {
            left: 228px;
            top: calc(var(--app-height)*(3.2 / 100));
        }

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            left: 105px;
            top: calc(var(--app-height)*(-5 / 100));
        }
    }

    &.active {
        .overseasGlobe {
            transform: rotate(0);
        }
    }
}