.store {
    &Img {
        width: 100%;
        height: calc(var(--app-height) - (34%));
        max-height: 622px;

        &__bg {
            width: 100%;
            height: 100%;
            background-image: url(../images/store-bg.png);
            background-size: contain;
            background-position: center;
            background-repeat: repeat-x;
        }
    }
}