<div class="popup popup--hidden flex-center -pMail">
    <div class="popupWrap profilePopup">
        <div class="profilePopup__title display-flex aitems-center">
            <img src="asset/images/editor-aramula.png" class="mr10" alt="" width="138" height="138" loading="lazy">
            Editor Aramula.com
        </div>
        <div class="popupContent mt20">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras id eu libero. Sit turpis
            massa, non suscipit in bibendum nec volutpat viverra. Facilisi faucibus facilisi pharetra pellentesque
            tristique.
            <button class="button buttonTrans buttonTrans--big mt30 -btnCl">Tutup</button>
        </div>
    </div>
</div>