<div class="formSection">
    <div class="formWrap mt20">
        <label for="title" class="formLabel">Judul</label>
        <input class="formInput formInput__error mt10" id="title" type="text">
        <div class="formMisc display-flex aitems-center jcontent-between mt10">
            <div class="formWarn"><span class="icon icon-warn"></span>Judul harus diisi</div>
            <div class="formCount">50/50</div>
        </div>
    </div>
    <div class="formSelect__wrap mt20">
        <label for="categ" class="formLabel">Kategori</label>
        <select class="formSelect custom-select mt10" id="categ">
            {{#eachIndex menu}}
            {{#gt index compare = '0'}}
            {{lt}}
            <option value="{{item.title}}">{{item.title}}</option>
            {{/gt}}
            {{/eachIndex}}
        </select>
    </div>
    <div class="formWrap formArea__wrap mt20">
        <label for="desc" class="formLabel">Deskripsi Singkat</label>
        <textarea class="formArea formArea__error mt10" id="desc" cols="30" rows="4"></textarea>
        <div class="formMisc display-flex aitems-center jcontent-between mt10">
            <div>*Deskripsi singkat tentang artikelmu</div>
            <div class="formCount">150/150</div>
        </div>
        <div class="formMisc formWarn mt10"><span class="icon icon-warn"></span>Tambahkan deskripsi
            singkat
            tentang artikelmu</div>
    </div>
    <div class="formWrap mt20">
        <div class="formLabel">Gambar Artikel</div>
        <div class="formUpload mt10">
            <label for="upload" class="formUpload__btn button buttonPink"><span><img src="asset/images/icon-folder.png"
                        class="formUpload__icon" alt="" width="15" height="15"></span> Browse</label>
            <input type="file" name="upload" accept="image/*" id="fileUpload" />
            <span class="fileName">Pilih file..</span>
        </div>
        <div class="formMisc mt10">(Maksimal 5MB. Rekomendasi ukuran: 1900px x 998px. Format file yang
            diperbolehkan: jpg, png & gif.)</div>
    </div>
    <div class="formWrap formArea__wrap mt20">
        <label for="captionimg" class="formLabel">Caption Gambar</label>
        <textarea class="formArea mt10" id="captionimg" cols="30" rows="4"></textarea>
        <div class="formMisc mt10">
            *Caption gambar wajib diisi dengan deskripsi gambar dan sumber gambar. Contoh: Berinvestasi
            sejak dini akan bermanfaat bagi masa depan (Sumber gambar: ABCD)
        </div>
    </div>
    <div class="formWrap formArea__wrap mt20">
        <div class="formLabel mb10">Deskripsi <span class="red">*</span></div>
        <div id="editor">
            <p>This is the editor content.</p>
        </div>
    </div>
</div>