<!-- s: komentar -->
<div class="comment" data-target="comment-section">
    <form class="mt10" action="">
        <div class="display-flex aitems-center">
            <a href="#" class="user">
                <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt=""
                    class="commentAvatar">
            </a>
            <textarea class="formArea" name="comment" id="comment" cols="30" rows="1"
                placeholder="Bagaimana Pendapat Anda" aria-label="Write your comment"></textarea>
        </div>
        <div class="commentCta display-flex jcontent-end mt20">
            <button class="button buttonPrimary button--trans" type="button" name="cancel">
                Batal
            </button>
            <button class="button buttonPrimary" type="submit" name="submit">
                Kirim
            </button>
        </div>
    </form>
    <div class="readCaption--big mt30">30 Komentar</div>
    <div class="commentList">
        {{#eachIndex comment}}
        <div class="commentItem col-offset-fluid mt20 mb20">
            <div class="display-flex col-onset-fluid">
                <div class="commentRow">
                    <img loading="lazy" src="{{item.img}}" alt="" class="commentAvatar" width="48" height="48">
                </div>
                <div class="commentRow flex-init">
                    <div class="commentUser">{{item.user}}</div>
                    <div class="commentDate">Rabu, 14 Juli 2021 - 10:36</div>
                    <div class="commentContent mt10">Felis eget egestas sapien netus. Tortor, vulputate dolor, in sem in
                        adipiscing
                        vel pellentesque aliquam. Vitae vitae ut ridiculus semper. Orci iaculis eget iaculis feugiat
                        felis
                        dictum aliquet egestas. Quis dis dictum odio risus nisl. Facilisi sit suspendisse elit feugiat.
                    </div>
                    <div class="commentAction display-flex jcontent-between mt10">
                        <div class="display-flex">
                            <button class="button commentLike" aria-label="Like this comment"><span
                                    class="icon icon-clap"></span>12</button>
                            <button class="button commentReply -bReply" aria-label="Trigger form reply"></button>
                        </div>
                        <button class="button commentReport" onclick="triggerActive('.-pReport')">Laporkan</button>
                    </div>
                </div>
            </div>
            {{> read/form-reply}}

            <!-- s: reply -->
            {{#eq index compare=0}}
            {{#eachIndex ../comment}}
            {{#lt index compare = '3'}}
            <div class="commentItem col-onset-fluid mt20 mb20">
                <div class="display-flex">
                    <div class="commentRow">
                        <img loading="lazy" src="{{item.img}}" alt="" class="commentAvatar" width="48" height="48">
                    </div>
                    <div class="commentRow flex-init">
                        <div class="commentUser">{{item.user}}</div>
                        <div class="commentDate">Rabu, 14 Juli 2021 - 10:36</div>
                        <div class="commentContent mt10">Felis eget egestas sapien netus. Tortor, vulputate dolor, in
                            sem in
                            adipiscing
                            vel pellentesque aliquam. Vitae vitae ut ridiculus semper. Orci iaculis eget iaculis feugiat
                            felis
                            dictum aliquet egestas. Quis dis dictum odio risus nisl. Facilisi sit suspendisse elit
                            feugiat.
                        </div>
                        <div class="commentAction display-flex jcontent-between mt10">
                            <div class="display-flex">
                                <button class="button commentLike" aria-label="Like this comment"><span
                                        class="icon icon-clap"></span>3</button>
                            </div>
                            <button class="button commentReport" onclick="triggerActive('.-pReport')">Laporkan</button>
                        </div>
                    </div>
                </div>
            </div>
            {{/lt}}
            {{/eachIndex}}
            {{/eq}}
            
            <!-- e: reply -->
        </div>
        {{/eachIndex}}
    </div>
</div>
<!-- e: komentar -->