<div class="readCta display-flex">
    <button class="button readLike" aria-label="Like this article"><span class="icon icon-clap"></span>22</button>
    <button class="button readComment" aria-label="Comment this article"
        onclick="document.querySelector('[data-target=comment-section]').scrollIntoView({behavior: 'smooth'});"><span
            class="icon icon-comment"></span>18</button>
</div>