<div class="paging pagingBox mt30">
    <div class="pagingCaption">Halaman Selanjutnya</div>
    <div class="display-flex jcontent-between mt10">
        <div class="pagingWrap display-flex">
            <div class="pagingItem">
                <a href="#" class="pagingLink">1</a>
            </div>
            <div class="pagingItem">
                <a href="#" class="pagingLink active">2</a>
            </div>
            <div class="pagingItem">
                <a href="#" class="pagingLink">3</a>
            </div>
        </div>
        <button class="button buttonPink--small">Show All</button>
    </div>
</div>