<ul class="share flex-center">
    <li class="shareIcon"><a href="#" class="shareLink flex-center" target="_blank" rel="noopener noreferrer"
            aria-label="Whatsapp"><span class="icon icon-wa"></span></a></li>
    <li class="shareIcon"><a href="#" class="shareLink flex-center" target="_blank" rel="noopener noreferrer"
            aria-label="Facebook"><span class="icon icon-fb"></span></a></li>
    <li class="shareIcon"><a href="#" class="shareLink flex-center" target="_blank" rel="noopener noreferrer"
            aria-label="Linkedin"><span class="icon icon-ln"></span></a></li>
    <li class="shareIcon"><a href="#" class="shareLink flex-center" target="_blank" rel="noopener noreferrer"
            aria-label="Twitter X"><span class="icon icon-tw"></span></a></li>
    <li class="shareIcon"><a href="#" class="shareLink flex-center" target="_blank" rel="noopener noreferrer"
            aria-label="Telegram"><span class="icon icon-tg"></span></a></li>
</ul>