<!-- article -->
<div class="article">
    <ul class="articleList">
        <li class="articleItem mt20 display-flex">
            <a href="#" class="articleImg__wrap" aria-label="Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar">
                <img src="asset/images/sample/webp/art-big-1.webp" class="articleImg" alt="" width="87" height="87" loading="lazy">
            </a>
            <div class="articleBox">
                <div class="articleSubtitle">Women</div>
                <h3 class="articleTitle mt5"><a href="#">Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar</a></h3>
                <div class="articleDetail user display-flex aitems-center mt5">
                    <a href="#" class="userName display-flex aitems-center">
                        Salma Farida
                    </a>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
            </div>
        </li>
        <li class="articleItem mt20 display-flex">
            <a href="#" class="articleImg__wrap" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <img src="asset/images/sample/webp/art-big-2.webp" class="articleImg" alt="" width="87" height="87" loading="lazy">
            </a>
            <div class="articleBox">
                <div class="articleSubtitle">Zodiak</div>
                <h3 class="articleTitle mt5"><a href="#">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</a></h3>
                <div class="articleDetail user display-flex aitems-center mt5">
                    <a href="#" class="userName display-flex aitems-center">
                        Salma Farida
                    </a>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
            </div>
        </li>
        <li class="articleItem mt20 display-flex">
            <a href="#" class="articleImg__wrap" aria-label="Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!">
                <img src="asset/images/sample/webp/art-big-3.webp" class="articleImg" alt="" width="87" height="87" loading="lazy">
            </a>
            <div class="articleBox">
                <div class="articleSubtitle">Woman</div>
                <h3 class="articleTitle mt5"><a href="#">Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!</a></h3>
                <div class="articleDetail user display-flex aitems-center mt5">
                    <a href="#" class="userName display-flex aitems-center">
                        Salma Farida
                    </a>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
            </div>
        </li>
        <li class="articleItem mt20 display-flex">
            <a href="#" class="articleImg__wrap" aria-label="Delishburger yang Benar-Benar Delicious">
                <img src="asset/images/sample/webp/art-big-4.webp" class="articleImg" alt="" width="87" height="87" loading="lazy">
            </a>
            <div class="articleBox">
                <div class="articleSubtitle">Hangout</div>
                <h3 class="articleTitle mt5"><a href="#">Delishburger yang Benar-Benar Delicious</a></h3>
                <div class="articleDetail user display-flex aitems-center mt5">
                    <a href="#" class="userName display-flex aitems-center">
                        Salma Farida
                    </a>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- article -->