<div class="event eventBg mt30">
    <div class="eventVid">
        <!-- <iframe width="324" height="185" src="https://www.youtube.com/embed/JjAtkmSd46g?controls=0"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe> -->
        <div class="videoPlay">
            <video controls width="324" height="185" poster="asset/images/sample/event.jpg">
                <source src="asset/images/sample/video.mp4" type="video/mp4">
            </video>
            <span class="icon icon-play"></span>
        </div>
    </div>
    <div class="eventContent text-center">
        <div class="eventLabel"><span class="icon icon-stream mr10"></span>Live Streaming</div>
        <div class="eventTitle mt20">Aramula Event</div>
        <p class="eventText mt10">Watch live news stream from Aramula News and get the latest, breaking news headlines
            of the
            day
            for national news and world news today.</p>
        <div class="eventDetail mt10">
            <div class="eventDate display-flex aitems-center">
                <span class="icon icon-cal mr10"></span> 29 September 2021
            </div>
            <div class="eventTime display-flex aitems-center mt10">
                <span class="icon icon-time mr10"></span> 10:00 - 12:00 WIB
            </div>
        </div>
    </div>
</div>