<div class="headline mt30">
    <div class="headlineList" id="sheadline">
        <div class="headlineItem">
            <a href="#" class="headlineImg" aria-label="6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman">
                <img src="asset/images/sample/webp/art-big-0.webp" alt="" width="324" height="239" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="user headlineUser display-flex aitems-center mt10">
                    <div class="headlineSubtitle">Hangout</div>
                    <div class="headlineTime">9 menit yang lalu</div>
                </div>
                <h1 class="headlineTitle mt10"><a href="#" class="headlineLink">6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman</a></h1>
            </div>
        </div>
        <div class="headlineItem">
            <a href="#" class="headlineImg" aria-label="Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar">
                <img src="asset/images/sample/webp/art-big-1.webp" alt="" width="324" height="239" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="user headlineUser display-flex aitems-center mt10">
                    <div class="headlineSubtitle">Women</div>
                    <div class="headlineTime">9 menit yang lalu</div>
                </div>
                <h1 class="headlineTitle mt10"><a href="#" class="headlineLink">Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar</a></h1>
            </div>
        </div>
        <div class="headlineItem">
            <a href="#" class="headlineImg" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <img src="asset/images/sample/webp/art-big-2.webp" alt="" width="324" height="239" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="user headlineUser display-flex aitems-center mt10">
                    <div class="headlineSubtitle">Zodiak</div>
                    <div class="headlineTime">9 menit yang lalu</div>
                </div>
                <h1 class="headlineTitle mt10"><a href="#" class="headlineLink">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</a></h1>
            </div>
        </div>
        <div class="headlineItem">
            <a href="#" class="headlineImg" aria-label="Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!">
                <img src="asset/images/sample/webp/art-big-3.webp" alt="" width="324" height="239" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="user headlineUser display-flex aitems-center mt10">
                    <div class="headlineSubtitle">Woman</div>
                    <div class="headlineTime">9 menit yang lalu</div>
                </div>
                <h1 class="headlineTitle mt10"><a href="#" class="headlineLink">Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!</a></h1>
            </div>
        </div>
        <div class="headlineItem">
            <a href="#" class="headlineImg" aria-label="Delishburger yang Benar-Benar Delicious">
                <img src="asset/images/sample/webp/art-big-4.webp" alt="" width="324" height="239" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="user headlineUser display-flex aitems-center mt10">
                    <div class="headlineSubtitle">Hangout</div>
                    <div class="headlineTime">9 menit yang lalu</div>
                </div>
                <h1 class="headlineTitle mt10"><a href="#" class="headlineLink">Delishburger yang Benar-Benar Delicious</a></h1>
            </div>
        </div>
    </div>
    <div class="headlineBottom">
        <div class="headlineDots" id="dtheadline">
        </div>
    </div>
</div>