<header class="header headerFixed">
    <div class="headerContent display-flex aitems-center">
        <button class="button buttonBurger" aria-label="Menu"><span class="icon icon-burger"></span></button>
        <div class="headerLogo text-center">
            <a href="index.html">
                <img src="asset/images/logo-aramula.png" alt="Aramula" width="134" height="22">
            </a>
        </div>
        <button class="button buttonSearch" aria-label="Search"><span class="icon icon-search"></span></button>
    </div>
    <nav class="nav">
        <ul class="navList display-flex jcontent-center">
            <li class="navItem"><a href="#" class="navLink active">Home</a></li>
            <li class="navItem"><a href="#" class="navLink">Hangout</a></li>
            <li class="navItem"><a href="#" class="navLink">Hallyu</a></li>
            <li class="navItem"><a href="#" class="navLink">Zodiac</a></li>
            <li class="navItem"><a href="#" class="navLink">Women</a></li>
            <li class="navItem"><a href="#" class="navLink">Entertainment</a></li>
            <li class="navItem"><a href="#" class="navLink">Numpang Promo</a></li>
            <li class="navItem"><a href="#" class="navLink">Stories</a></li>
            <li class="navItem"><a href="#" class="navLink">Photo</a></li>
            <li class="navItem"><a href="#" class="navLink">Video</a></li>
            <li class="navItem"><a href="#" class="navLink">Indeks</a></li>
        </ul>
    </nav>
</header>