<div class="highlight mt20">
    <ul class="highlightList highlightList--noscroll row">
        <li class="highlightItem col-gd10-5">
            <a href="#" class="highlightImg__wrap" aria-label="Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!">
                <img src="asset/images/sample/webp/art-big-3.webp" class="highlightImg" alt="" width="152" height="113" loading="lazy">
            </a>
            <div class="highlightContent">
                <div class="articleDetail display-flex aitems-center mt10">
                    <div class="articleSubtitle">Woman</div>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
                <h2 class="articleTitle articleTitle__box mt5"><a href="#" class="highlightLink">Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!</a></h2>
            </div>
        </li>
        <li class="highlightItem col-gd10-5">
            <a href="#" class="highlightImg__wrap" aria-label="Delishburger yang Benar-Benar Delicious">
                <img src="asset/images/sample/webp/art-big-4.webp" class="highlightImg" alt="" width="152" height="113" loading="lazy">
            </a>
            <div class="highlightContent">
                <div class="articleDetail display-flex aitems-center mt10">
                    <div class="articleSubtitle">Hangout</div>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
                <h2 class="articleTitle articleTitle__box mt5"><a href="#" class="highlightLink">Delishburger yang Benar-Benar Delicious</a></h2>
            </div>
        </li>
    </ul>
</div>