<div class="highlight highlight--col1 mt30">
        <div class="articleCaption">Video</div>
    <div class="highlightList row mt10" id="svideo">
        <div class="highlightItem">
            <a href="#" class="highlightImg__wrap" aria-label="6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman">
                <img src="asset/images/sample/webp/art-big-0.webp" class="highlightImg" alt="" width="324" height="216"
                    loading="lazy">
                <span class="icon icon-play"></span>
            </a>
            <div class="articleContent">
                <div class="articleDetail display-flex aitems-center mt10">
                    <div class="articleSubtitle">Foto</div>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
                <h2 class="articleTitle mt5"><a href="#" class="articleLink">6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman</a></h2>
            </div>
        </div>
        <div class="highlightItem">
            <a href="#" class="highlightImg__wrap" aria-label="Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar">
                <img src="asset/images/sample/webp/art-big-1.webp" class="highlightImg" alt="" width="324" height="216"
                    loading="lazy">
                <span class="icon icon-play"></span>
            </a>
            <div class="articleContent">
                <div class="articleDetail display-flex aitems-center mt10">
                    <div class="articleSubtitle">Foto</div>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
                <h2 class="articleTitle mt5"><a href="#" class="articleLink">Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar</a></h2>
            </div>
        </div>
        <div class="highlightItem">
            <a href="#" class="highlightImg__wrap" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <img src="asset/images/sample/webp/art-big-2.webp" class="highlightImg" alt="" width="324" height="216"
                    loading="lazy">
                <span class="icon icon-play"></span>
            </a>
            <div class="articleContent">
                <div class="articleDetail display-flex aitems-center mt10">
                    <div class="articleSubtitle">Foto</div>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
                <h2 class="articleTitle mt5"><a href="#" class="articleLink">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</a></h2>
            </div>
        </div>
        <div class="highlightItem">
            <a href="#" class="highlightImg__wrap" aria-label="Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!">
                <img src="asset/images/sample/webp/art-big-3.webp" class="highlightImg" alt="" width="324" height="216"
                    loading="lazy">
                <span class="icon icon-play"></span>
            </a>
            <div class="articleContent">
                <div class="articleDetail display-flex aitems-center mt10">
                    <div class="articleSubtitle">Foto</div>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
                <h2 class="articleTitle mt5"><a href="#" class="articleLink">Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!</a></h2>
            </div>
        </div>
        <div class="highlightItem">
            <a href="#" class="highlightImg__wrap" aria-label="Delishburger yang Benar-Benar Delicious">
                <img src="asset/images/sample/webp/art-big-4.webp" class="highlightImg" alt="" width="324" height="216"
                    loading="lazy">
                <span class="icon icon-play"></span>
            </a>
            <div class="articleContent">
                <div class="articleDetail display-flex aitems-center mt10">
                    <div class="articleSubtitle">Foto</div>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
                <h2 class="articleTitle mt5"><a href="#" class="articleLink">Delishburger yang Benar-Benar Delicious</a></h2>
            </div>
        </div>
    </div>
    <div class="highlightBottom">
        <div class="highlightDots" id="dtvideo">
        </div>
    </div>
</div>