<footer class="footer">

    {{>footer/newsletter}}

    <div class="footerWrap container text-center">
        <a href="index.html">
            <img src="./asset/images/logo-mnc-big.png" alt="Comic MNC" class="footerLogo" width="106" height="62">
        </a>

        {{>socmed}}

        <div class="row">
            <div class="footerItem mt2 col-xl-4">
                <span class="icoInline icoLoc"></span>
                {{{contact.address}}}
            </div>
            <div class="footerItem mt2 col-xl-4 align-center">
                <span class="icoInline icoPhone"></span>
                {{contact.phone}}
            </div>
            <div class="footerItem mt2 col-xl-4 align-center">
                <span class="icoInline icoMail"></span>
                <a href="mailto:{{contact.email}}">{{contact.email}}</a>
            </div>
        </div>

        {{>footer/nav}}

    </div>

    <div class="footerCopy text-center">
        © 2023 M&C!, All Rights Reserved.
    </div>

</footer>