.footer{
    position: relative;
    margin-top: 100px;
    padding-bottom: 30px;
    background: $cl-accent1;
    z-index: 2;

    &List{
        padding-top: 20px;
        padding-bottom: 20px;
        @include flex(center);
    }

    &Link{
        display: block;
        padding: 15px;
        @include font-pack($font-bold, 14px, $font-weight-bold, 1.28, $cl-primary1);
    }

    &Copy{
        text-align: center;
        @include font-pack($font-bold, 14px, $font-weight-bold, 1.28, $cl-text2);
    }
}