$bg_base: #fff;

$font_base: "Josefin Sans", sans-serif;
$font_caption: "League Gothic", sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-normal: 14px;
$line-base: normal;

$cl-primary: #000000;
$cl-yellow: #FFC000;
$cl-white: #FFFFFF;
$cl-red: #D01717;

$width-container: 1100px;
$w-xxxl: 1920px;
$w-xxl: 1440px;
$w-xl: 1102px;
$w-hlg: 800px;
$w-vlg: 1024px;
$w-lg: 960px;
$w-md: 768px;
$w-hmd: 700px;
$w-sm: 540px;
// $w-xm: 320px;
$w-xm: 350px;