<div class="ads adsRight adsCenter adsPlaceholder{{#eq mt compare=20}} mt20{{/eq}}{{#eq mt compare=40}} mt40{{/eq}}">
    <img src="asset/images/ads/right.jpg" alt="" width="300" height="250" loading="lazy">
</div>