<div class="ads adsSkin">
    <div class="adsSkin__fluid adsSkin__fluid--left">
        <div class="adsSkin--left adsPlaceholder">
            <img alt="" src="asset/images/ads/skin.jpg" width="120" height="600">
        </div>
    </div>
    <div class="adsSkin__fluid adsSkin__fluid--right">
        <div class="adsSkin--right adsPlaceholder">
            <img alt="" src="asset/images/ads/skin.jpg" width="120" height="600">
        </div>
    </div>
</div>