<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <!-- Google Tag Manager -->
    {{> gtm2}}
    <!-- End Google Tag Manager -->

    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- preloader -->
    {{> preloader}}
    <!-- preloader -->

    <!-- main -->

    <!-- Content -->
    <div class="cover">
        <div class="scroll-scene">
            <div class="leaf-container">
                <img src="./asset/images/cover/leaf.png" alt="Leaf" class="leaf" />
                <img src="./asset/images/cover/droplet.png" alt="Droplet" class="droplet" />
            </div>

            <div class="background-bottom">

                <div class="ripples">
                    <div class="ripple ripple1"></div>
                    <div class="ripple ripple2"></div>
                    <div class="ripple ripple3"></div>
                </div>

                <a href="{{> url}}section-1.html" class="buttonNext articleCaption">Lanjut</a>
            </div>

            <img src="./asset/images/cover/splash.png" alt="Splash" class="splash" />

            <div class="caption">
                <h1 class="coverTitle articleCaption">
                    Menyambungkan Tirta dan Emiliana:<br />
                    Membangun Tata Kelola Air dan Sanitasi untuk Semua
                </h1>
                <div class="coverLead">
                    <div class="coverLeadBox">
                        Tak seorang pun boleh tertinggal dalam dahaga dan lara. <br> Air dan sanitasi harus menjadi
                        milik
                        semua,
                        bukan privilese beberapa.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->

    <!-- main -->

    {{> js page="index"}}

</body>

</html>