<!DOCTYPE html>
<html lang="en">
{{> head page="section-1"}}

<body>
    <!-- Google Tag Manager -->
    {{> gtm2}}
    <!-- End Google Tag Manager -->

    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- preloader -->
    {{!> preloader}}
    <!-- preloader -->

    <!-- main -->

    <!-- Content -->
    <section class="section section1">
        <div class="sectionCover section1Cover">
            <picture class="section1CoverImage">
                <source srcset="./asset/images/section-1/cover.jpg" media="(min-width: 768px)">
                <source srcset="./asset/images/section-1/cover-m.jpg" media="(max-width: 767px)">
                <img src="./asset/images/section-1/cover.jpg" alt="">
            </picture>
            <div class="section1CoverContent center-flex">
                <h1 class="section1Caption articleCaption">Tirta dan Emiliana
                    <span><img src="./asset/images/section-1/icon-drop.png" class="section1CaptionIcon" alt=""></span>
                </h1>
            </div>
            <div class="section1Dash"></div>
        </div>
        <div class="scroll-area">
            <div class="section1Scroll">
                <div class="section1ScrollBox section1ScrollBox1">
                    <picture>
                        <source srcset="./asset/images/section-1/tirta.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/section-1/tirta-m.png" media="(max-width: 767px)">
                        <img src="./asset/images/section-1/tirta.png" alt="" loading="lazy">
                    </picture>
                    <div class="section1ScrollContent section1ScrollContent1">Tirta adalah air. Emiliana adalah anak
                        dari Ende, Nusa Tenggara
                        Timur. Keduanya sebenarnya dekat, tetapi terasa jauh karena pipa belum menyambungkannya. Untuk
                        minum dan mandi saja, Emiliana dan teman-teman di desanya harus berjalan berkilometer, membawa
                        jerigen dengan dua tangan mereka. Saat sekolah, kerap kali bukan buku yang jadi pikiran utama,
                        tetapi bagaimana bisa sekalian bertemu tirta.</div>
                </div>
                <div class="section1ScrollBox section1ScrollBox2">
                    <div class="section1ScrollContent section1ScrollContent2">Sedihnya, pengalaman Emiliana tidak
                        langka. Bahkan, di Kalimantan
                        Barat yang hutannya seluas 8,3 juta hektar, bertemu tirta maha sulitnya. Meskipun tirta ada,
                        coba lihat peta, ternyata belum 100 persen warga Indonesia bisa mendapatkannya. Akibatnya bukan
                        cuma dahaga, tetapi juga masalah <strong>pawitra,</strong>
                        buruknya sanitasi dan kesehatan warga.</div>
                    <picture>
                        <source srcset="./asset/images/section-1/emiliana.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/section-1/emiliana-m.png" media="(max-width: 767px)">
                        <img src="./asset/images/section-1/emiliana.png" alt="" loading="lazy">
                    </picture>
                </div>
            </div>
        </div>
        <div class="section1Content">
            <div class="section1Dash --top"></div>
            <div class="container">
                <div class="text-center">
                    <h2 class="graphTitle">Data Akses Air Bersih dan Sanitasi NTT dan Kalimantan Barat.</h2>
                    <picture class="graph section1Diagram section1Diagram1">
                        <source srcset="./asset/images/section-1/peta.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/section-1/peta.png" media="(max-width: 767px)">
                        <img src="./asset/images/section-1/peta.png" alt="" loading="lazy">
                    </picture>
                    <picture class="graph sectionSpacing section1Diagram section1Diagram2">
                        <source srcset="./asset/images/section-1/tabel-1.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/section-1/tabel-1.png" media="(max-width: 767px)">
                        <img src="./asset/images/section-1/tabel-1.png" alt="" loading="lazy">
                    </picture>
                </div>
                <div class="sectionSpacing section1BoxWrap center-flex">
                    <picture>
                        <source srcset="./asset/images/section-1/sad-tirta.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/section-1/sad-tirta-m.png" media="(max-width: 767px)">
                        <img src="./asset/images/section-1/sad-tirta.png" alt="" loading="lazy">
                    </picture>
                    <div class="section1Box">
                        <div class="section1BoxTxt">
                            Data itu sudah menunjukkan skenario terbaiknya. Baru soal bersih. Jika bicara soal aman,
                            datanya lebih menyedihkan. Pada 2024, Kementerian Pekerjaan Umum menyatakan bahwa rumah
                            tangga dengan
                            akses air minum aman di Kalimantan Barat cuma <strong>30,96 persen</strong> dan NTT
                            <strong>25,38 persen</strong>. Soal
                            sanitasi aman, hanya
                            <strong>3,52 persen</strong> di Kalimantan Barat yang punya dan <strong>2,44 persen</strong>
                            di NTT.
                        </div>
                        <div class="section1BoxTxt">Kerap kali, ketiadaan tirta hanya dihubungkan dengan kekeringan
                            semata. Namun, seperti terlihat dalam data, masalah tirta adalah soal dana. </div>
                    </div>
                </div>
                <div class="sectionSpacing text-center">
                    <h2 class="graphTitle">Data Gap Pendanaan Air dan Sanitasi di NTT dan Kalimantan Barat.</h2>
                    <picture class="graph section1Diagram section1Diagram3">
                        <source srcset="./asset/images/section-1/tabel-2.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/section-1/tabel-2.png" media="(max-width: 767px)">
                        <img src="./asset/images/section-1/tabel-2.png" alt="" loading="lazy">
                    </picture>
                </div>
                <div class="buttonNextWrap">
                    <a href="index.html" class="buttonPrev articleCaption">Kembali</a>
                    <a href="section-2.html" class="buttonNext articleCaption">Lanjut</a>
                </div>
            </div>
        </div>
        <div class="section1Bg bg">
            <picture class="">
                <source srcset="./asset/images/section-1/bg.png" media="(min-width: 768px)">
                <source srcset="./asset/images/section-1/bg-m.png" media="(max-width: 767px)">
                <img src="./asset/images/section-1/bg.png" alt="" loading="lazy">
            </picture>
        </div>
    </section>
    <!-- Content -->

    <!-- main -->

    {{> js page="section-1"}}

</body>

</html>