<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <!-- header -->
    {{!> header}}
    <!-- header -->

    <!-- preloader -->
    {{!> preloader}}
    <!-- preloader -->

    <!-- main -->

    <div class="bgStatic bgStatic--warn">
        <div class="articleContent text-center">
            For better experience, rotate your screen or switch to bigger screen.
        </div>
    </div>

    <div class="preloader">
        <div class="preloader__icon">
            <img src="images/electric.png">
        </div>
    </div>

    <div id="transition">
        <div class="base-layer"></div>
        <div class="base-layer base-layer--2"></div>
        <div class="base-layer base-layer--3"></div>
        <div class="base-layer base-layer--4"></div>
    </div>

    <!--popup-->
    {{!-- <div class="videoPop popup" id="popup0">
        <div class="videoPop__wrap">
            <button class="button buttonClose" aria-label="Close popup">
                <span class="icon iconClose"></span>
            </button>
            <div class="videoPop__content text-center">
                <div class="videoPop__title">e-financing support</div>
                <div class="videoPop__txt"><strong>SI APIK:</strong> Aplikasi digital bagi UMKM
                    untuk
                    membantu pencatatan keuangan dan dapat menghasilkan laporan keuangan sebagai referensi bank
                    dalam menganalisis kinerja keuangan UMKM, sehingga UMKM berpotensi memperoleh kredit/pembiayaan.
                </div>
                <div id="videoAnim" class="videoPop__img">
                </div>
            </div>
        </div>
    </div> --}}
    <!--popup-->

    <!-- content -->
    <div id="content" class="content">
        <div class="cover text-center" id="cover">
            <div class="coverWrap">
                <div class="coverCloud">
                    <div class="coverCloudImg coverCloud--1"></div>
                    <div class="coverCloudImg coverCloud--2"></div>
                    <div class="coverCloudImg coverCloud--3"></div>
                </div>
                <div class="coverContent">
                    <h2 class="coverCaption coverTitleSub">19 Tahun BTN Syariah</h2>
                    <h1 class="coverCaption coverTitle">Membangun Peradaban <br> & Masa Depan Bangsa</h1>
                </div>
                <div class="coverBg">
                    <picture class="coverBgBuilding">
                        <source srcset="./asset/images/cover-building-mob.png" media="(max-width: 768px)" alt="">
                        <img srcset="./asset/images/cover-building.png" alt="" class="" width="1630" height="420">
                    </picture>
                    <div class="coverBgRoad">
                        <div class="coverCar coverCar--1">
                            <img src="./asset/images/car-yellow.png" alt="" width="159" height="93">
                        </div>
                        <div class="coverCar coverCar--2">
                            <img src="./asset/images/car-bus.png" alt="" width="382" height="140">
                        </div>
                        <div class="coverCar coverCar--3">
                            <img src="./asset/images/car-police.png" alt="" width="158" height="94">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="beginHorizonScroll">
            <div class="panel__traffic">
                <div class="anim1 vehicle">
                    <div id="animBus"></div>
                </div>
                <div class="anim2 vehicle">
                    <div id="animTaxi"></div>
                </div>
                <div class="anim3 vehicle">
                    <div id="animWhiteCar"></div>
                </div>
            </div>

            <section class="panel panel-1">
                <div class="panel-detail">
                    <div class="intro text-center">
                        <button class="button introCta">Mulai</button>
                        <div class="introContent">
                            <div class="introTxt">Alhamdulillah, alhamdulillah, alhamdulillah. Seperti mimpi, tapi
                                ini
                                nyata bisa punya rumah lewat KPR BTN Syariah</div>
                            <div class="introName">Husni Ismail</div>
                            <div class="introTitle">Marbot Masjid Istiqlal Jakarta</div>
                            <div class="introArrow">
                                <img src="./asset/images/intro-arrow.svg" alt="" width="115" height="174">
                            </div>
                        </div>
                        <div class="introImg">
                            <div class="introAnim" id="introAnim"></div>
                        </div>
                    </div>
                    <div class="panel-bg panel-bg-1">
                        <div class="panel-bg-detail">
                            <picture>
                                <source srcset="./asset/images/intro-bg-mob.png" media="(max-width: 768px)" alt="">
                                <img srcset="./asset/images/intro-bg.png" alt="" class="" width="1450" height="437">
                            </picture>
                        </div>
                    </div>
                    <div class="panel-road panel-road-1">
                    </div>
                </div>
            </section>
            <section class="panel panel-2">
                <div class="panel-detail">
                    <div class="panel-txt">
                        Husni Ismail, Marbot Masjid Istiqlal, menjadi salah satu dari sekian banyak orang yang
                        menikmati pembiayaan BTN Syariah.
                    </div>
                    <div class="panel-bg panel-bg-2">
                        <div class="panel-bg-detail">
                            <picture>
                                <source srcset="./asset/images/scroll-bg-mob.png" media="(max-width: 768px)" alt="">
                                <img srcset="./asset/images/scroll-bg.png" alt="" class="" width="3272" height="224">
                            </picture>
                        </div>
                    </div>
                    <div class="panel-road panel-road-2">
                    </div>
                </div>
            </section>
        </div>
        {{!-- <div class="creditSection">
            {{!> credit}}
        </div> --}}
    </div>
    <!-- content -->

    <div class="fakePage"></div>
    <!-- main -->

    {{> js}}

</body>

</html>