<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <!-- header -->
    {{!> header}}
    <!-- header -->

    <!-- preloader -->
    {{!> preloader}}
    <!-- preloader -->

    <!-- main -->
    <main role="main">

        <div class="bgStatic bgStatic--warn">
            <div class="articleContent text-center">
                For better experience, rotate your screen or switch to bigger screen.
            </div>
        </div>

        <!-- Template Background Color -->
        <div class="bgColor__wrap">
            <div class="bgColor bgColor__start"></div>
            <div class="bgColor bgColor__intro opac0"></div>
            <div class="bgColor bgColor__grey opac0"></div>
        </div>
        <!-- Template Background Color -->

        <!-- Template Image Content -->
        <div class="bgStatic__wrap active">
            <div class="bgStatic">
                <div class="cover display-flex opac0">
                    <div class="coverImg">
                        <div class="coverBg">
                            <picture class="coverPic coverGrey">
                                <source srcset="./asset/images/cover-grey-m.png" media="(max-width: 768px)" alt=""
                                    width="563" height="633">
                                <img srcset="./asset/images/cover-grey.png" alt="" class="" width="1920" height="776">
                            </picture>
                            <picture class="coverPic coverWhite">
                                <source srcset="./asset/images/cover-white-m.png" media="(max-width: 768px)" alt=""
                                    width="563" height="633">
                                <img srcset="./asset/images/cover-white.png" alt="" class="" width="1920" height="685">
                            </picture>
                            <picture class="coverPic coverHouse">
                                <source srcset="./asset/images/cover-house-m.png" media="(max-width: 768px)" alt=""
                                    width="563" height="633">
                                <img srcset="./asset/images/cover-house.png" alt="" class="" width="1920" height="427">
                            </picture>
                        </div>
                        <div class="coverCloud__wrap">
                            <div class="coverCloud coverCloud1"></div>
                            <div class="coverCloud coverCloud2"></div>
                            <div class="coverCloud coverCloud3"></div>
                            <div class="coverCloud coverCloud4"></div>
                            <div class="coverCloud coverCloud5"></div>
                            <div class="coverCloud coverCloud6"></div>
                            <div class="coverCloud coverCloud7"></div>
                            <div class="coverCloud coverCloud8"></div>
                            <div class="coverCloud--big coverCloud--big1"></div>
                            <div class="coverCloud--big coverCloud--big2"></div>
                        </div>
                        <div class="coverPerwira__wrap">
                            <picture class="coverPerwira">
                                <source srcset="./asset/images/cover-perwira-m.png" media="(max-width: 768px)" alt=""
                                    width="563" height="633">
                                <img srcset="./asset/images/cover-perwira.png" alt="" class="" width="478" height="687">
                            </picture>
                            <button class="button coverButton" id="startbtn" aria-label="start interactive">
                                <picture class="coverMap">
                                    <source srcset="./asset/images/cover-map-m.png" media="(max-width: 768px)" alt=""
                                        width="563" height="633">
                                    <img srcset="./asset/images/cover-map.png" alt="" class="" width="478" height="320">
                                </picture>
                                <div class="coverZoom">
                                    <img src="./asset/images/cover-zoom.png" alt="" width="54" height="55">
                                </div>
                            </button>
                            <div class="coverInfo">
                                Klik pada peta untuk memulai.
                            </div>
                        </div>
                    </div>
                    <div class="coverContent container">
                        <h1 class="articleCaption">Bahu Membahu Menjaga
                            Objek Vital Nasional</h1>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="intro center-flex heightFull opac0">
                    <div class="introContent center-flex text-center">
                        <h2 class="articleTitle">Apa yang Disebut dengan <br>
                            Objek Vital Nasional?</h2>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="criteria container display-flex heightFull opac0">
                    <div class="criteriaContent center-flex">
                        <h2 class="articleTitle criteriaTitle text-center">Berdasarkan Keputusan Presiden No. 63 Tahun
                            2004 tentang Pengamanan Objek Vital Nasional, sebuah objek vital strategis setidaknya
                            memenuhi 4 kriteria:</h2>
                    </div>
                    <div class="criteriaList">
                        <div class="criteriaItem criteriaItem1">
                            <div class="criteriaItem__wrap">
                                <div class="criteriaNum">
                                    <img src="./asset/images/criteria1.png" alt="1" width="51" height="112"
                                        loading="lazy">
                                </div>
                                <h3 class="criteriaTxt articleContent">Menghasilkan kebutuhan pokok sehari-hari.</h3>
                            </div>
                        </div>
                        <div class="criteriaItem criteriaItem2">
                            <div class="criteriaItem__wrap">
                                <div class="criteriaNum"><img src="./asset/images/criteria2.png" alt="2" width="74"
                                        height="113" loading="lazy"></div>
                                <h3 class="criteriaTxt articleContent">Ancaman dan gangguan terhadap objek dapat
                                    mengakibatkan bencana terhadap kemanusiaan dan pembangunan.</h3>
                            </div>
                        </div>
                        <div class="criteriaItem criteriaItem3">
                            <div class="criteriaItem__wrap">
                                <div class="criteriaNum"><img src="./asset/images/criteria3.png" alt="3" width="86"
                                        height="113" loading="lazy"></div>
                                <h3 class="criteriaTxt articleContent">Ancaman dan gangguan terhadap objek dapat
                                    mengakibatkan kekacauan transportasi dan komunikasi secara nasional.</h3>
                            </div>
                        </div>
                        <div class="criteriaItem criteriaItem4">
                            <div class="criteriaItem__wrap">
                                <div class="criteriaNum"><img src="./asset/images/criteria4.png" alt="4" width="94"
                                        height="112" loading="lazy"></div>
                                <h3 class="criteriaTxt articleContent">Ancaman dan gangguan terhadap objek dapat
                                    mengakibatkan terganggunya penyelenggaraan pemerintahan negara.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="warning center-flex heightFull opac0">
                </div>
            </div>
            <div class="bgStatic">
                <div class="accident display-flex heightFull opac0">
                    <div class="accidentWrap container">
                        <div class="accidentContent center-flex text-center">
                            <h2 class="articleContent">Kejadian kebakaran pipa di depo milik PT Pertamina (Persero) di
                                Plumpang, Jakarta Utara pada Jumat (3/3/2023) yang berdampak ke masyarakat menjadi
                                pelajaran
                                untuk melihat pentingnya pengamanan dan pengelolaan objek vital nasional di sektor
                                energi.
                            </h2>
                            <picture class="accidentWarn">
                                <source srcset="./asset/images/accident-warn-m.png" media="(max-width: 768px)" alt=""
                                    width="563" height="633">
                                <img srcset="./asset/images/accident-warn.png" alt="" class="" width="135" height="122">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="distance display-flex heightFull opac0">
                    <div class="distanceWrap container">
                        <div class="distanceContent center-flex text-center">
                            <h2 class="articleContent">Jarak antara terminal tangki bahan bakar minyak (TBBM) Plumpang
                                dengan rumah warga dan aktivitas penduduk yang sangat berdekatan, menjadi salah satu
                                problem utama.
                            </h2>
                            {{>distance-line}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="buffer display-flex heightFull opac0">
                    <div class="bufferWrap container">
                        <div class="bufferContent center-flex text-center">
                            <h2 class="articleContent">Untuk itu, Kementerian BUMN dan PT Pertamina berencana membangun
                                buffer zone dengan jarak 50 meter dari pagar pengaman di depo Plumpang. Ini merupakan
                                langkah antisipasi pemerintah dan PT Pertamina untuk menjaga salah satu asetnya yang
                                berstatus objek vital nasional.
                            </h2>
                            {{>buffer-line}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="vital display-flex heightFull opac0">
                    <div class="vitalWrap container">
                        <div class="vitalContent center-flex text-center">
                            <h2 class="articleContent">Sebagai informasi PT Pertamina (Persero) memiliki sejumlah aset
                                yang berstatus objek vital nasional yang tersebar di berbagai penjuru Indonesia. Fakta
                                itu tertuang dalam Keputusan Menteri Energi dan Sumber Daya Mineral (ESDM) No. 270/2022.
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="total center-flex heightFull opac0">
                    <div class="totalWrap container">
                        <div class="totalContent center-flex text-center">
                            <h2 class="articleTitle totalTitle text-center">Dalam Keputusan Menteri Energi dan Sumber
                                Daya Mineral (ESDM) No. 270/2022, PT Pertamina (Persero) memiliki <span>205</span> aset
                                yang
                                berstatus objek vital nasional
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="resource container display-flex heightFull opac0">
                    <div class="resourceContent center-flex">
                        <h2 class="articleContent resourceTitle">Ratusan aset itu tersebar di 2 dari total 3 subbidang
                            objek vital nasional bidang energi dan sumber daya mineral (ESDM). Di antaranya adalah:
                        </h2>
                    </div>
                    <div class="resourceList">
                        <div class="resourceItem resourceItem1">
                            <div class="resourceItem__wrap">
                                Subbidang ketenagalistrikan
                            </div>
                            {{>resource-line1}}
                        </div>
                        <div class="resourceItem resourceItem2">
                            <div class="resourceItem__wrap">
                                Subbidang minyak dan gas bumi
                            </div>
                            {{>resource-line2}}
                        </div>
                        <div class="resourceItem resourceItem3">
                            <div class="resourceItem__wrap">
                                Subbidang energi baru, terbarukan dan konversi energi
                            </div>
                            {{>resource-line3}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="status container center-flex heightFull opac0">
                    <div class="statusContent statusContent1 center-flex">
                        <h3 class="articleTitle statusTitle">
                            Di subbidang minyak dan gas PT Pertamina (Persero) memiliki
                            <span>199 aset berstatus objek vital nasional.</span>
                        </h3>
                    </div>
                    <div class="statusContent statusContent2 center-flex">
                        <h3 class="articleTitle statusTitle">
                            Di subbidang energi baru, terbarukan dan konversi energi PT Pertamina (Persero) memiliki
                            <span>6 aset berstatus objek vital nasional.</span>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="synergy container display-flex heightFull">
                    <div class="synergyContent center-flex">
                        <h2 class="articleTitle synergyTitle text-center">Pentingnya Sinergi Pengamanan dan
                            Pengelolaan Objek Vital Nasional</h2>
                    </div>
                    <div class="synergyList">
                        <div class="synergyItem synergyItem1">
                            <div class="synergyItem__wrap">
                                <h3 class="synergyTxt articleContent">Audit dan penataan kembali Objek Vital Nasional
                                    (Obvitnas), terutama yang berkaitan dengan migas penting untuk segera dilakukan.
                                    Apalagi regulasi yang ada saat ini itu tidak memuat jarak batas aman antara objek
                                    vital dengan kawasan pemukiman maupun kawasan komersial lainnya.</h3>
                            </div>
                        </div>
                        <div class="synergyItem synergyItem1">
                            <div class="synergyItem__wrap">
                                <h3 class="synergyTxt articleContent">Pemerintah, PT Pertamina (Persero) dan stakeholder
                                    terkait pun berkomitmen untuk melakukan audit dan penataan ulang objek vital
                                    nasional. Terutama terkait dengan buffer zone pada objek vital nasional.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="perwiraStatic display-flex heightFull">
                    <div class="perwiraWrap">
                        <picture class="perwira">
                            <source srcset="./asset/images/perwira-body-m.png" media="(max-width: 768px)" alt=""
                                width="563" height="633">
                            <img srcset="./asset/images/perwira-body.png" alt="" class="" width="366" height="231">
                        </picture>
                        <picture class="perwiraHead">
                            <source srcset="./asset/images/perwira-wsmile-m.png" media="(max-width: 768px)" alt=""
                                width="563" height="633">
                            <img srcset="./asset/images/perwira-wsmile.png" alt="" class="" width="244" height="281">
                        </picture>
                        <picture class="perwiraHead">
                            <source srcset="./asset/images/perwira-angry-m.png" media="(max-width: 768px)" alt=""
                                width="563" height="633">
                            <img srcset="./asset/images/perwira-angry.png" alt="" class="" width="244" height="281">
                        </picture>
                        <picture class="perwiraHead">
                            <source srcset="./asset/images/perwira-shock-m.png" media="(max-width: 768px)" alt=""
                                width="563" height="633">
                            <img srcset="./asset/images/perwira-shock.png" alt="" class="" width="244" height="281">
                        </picture>
                        <picture class="perwiraHead">
                            <source srcset="./asset/images/perwira-smile-m.png" media="(max-width: 768px)" alt=""
                                width="563" height="633">
                            <img srcset="./asset/images/perwira-smile.png" alt="" class="" width="244" height="281">
                        </picture>
                    </div>
                    <div class="scrollWrap">
                        <div class="scroll"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Template Image Content -->
        <!-- Fullpage Content -->
        <div id="fullpage" class="fullpage">
            <section class="section"></section>
        </div>
        <!-- Fullpage Content -->
    </main>
    <!-- main -->

    <!-- footer -->
    {{!> credit}}

    {{> js}}

</body>

</html>