.button {
    border: 0;
    padding: 0;
    background: transparent;
    -webkit-appearance: none;

    &Ftsize {
        background: #ededed;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        display: inline-block;
        padding: 5px 6px;
        @include font-pack(false, 17px, 100, 22px, #555);

        &.minus {
            @include font-pack(false, 13px, false, false, false);
            margin-right: 5px;
        }
    }

    &Socmed{
        width: 30px;
        height: 30px;
        color: $cl-primary-white;
    }
}