.button {
    border: 0;
    padding: 0;
    background: transparent;
    -webkit-appearance: none;

    &Ftsize {
        background: #ededed;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        display: inline-block;
        padding: 5px 9px;
        @include font-pack(false, 20px, 100, false, #555);

        &.minus {
            padding: 8px 12px;
            @include font-pack(false, 15px, false, false, false);
            margin-right: 5px;
        }
    }

    &Socmed{
        width: 40px;
        height: 40px;
        color: $cl-primary-white;
    }
}