<!DOCTYPE html>
<html lang="en">

{{> head page=""}}

<body>
    {{!> header/header login=true}}
    {{> header/header page="About us"}}
    <main class="main" role="main">

        <div class="container">

            {{>breadcrumb parent="Tentang Kami"}}

        </div>
        <div class="lead --small">
            <div class="leadBg artBg">
                <img class="--left" src="./asset/images/logo-symbol.svg" alt="" width="225" height="155">
                <img class="--right" src="./asset/images/logo-symbol.svg" alt="" width="225" height="155">
            </div>
            <div class="container">
                <div class="leadContent col-xl-9 mx-auto">
                    <h1 class="leadCaption">Tentang Kami</h1>
                </div>
            </div>
        </div>
        <div class="container mt40">
            <div class="row mx-auto">
                <div class="col-xl-3 aboutCaption">
                    <div class="aboutLead cl-red">We are</div>
                    <h2 class="title aboutTitle">Elex Media Komputindo</h2>
                    <div class="aboutTitle --small">- PT Gramedia Pustaka Utama</div>
                </div>
                <div class="col-xl-9 aboutContent">
                    <div class="aboutImg">
                        <img src="./asset/images/team/members.jpg" alt="" width="860" height="392">
                    </div>
                    <div class="aboutTxt article">
                        <p>Austin pug narwhal level asymmetrical yolo them lyft cliche. Tonx post-ironic
                            neutra pinterest bird iceland chic lumbersexual dreamcatcher yolo. Unicorn master chambray
                            mlkshk
                            copper. Vibecession 90's green williamsburg vhs food chips distillery crucifix helvetica.
                            Wayfarers
                            pinterest pok helvetica you put mukbang. Vinegar baby activated hammock disrupt prism yr.
                            Vibecession on pork it vinegar hoodie. 3-moon pbr&b sriracha craft blog bread. Freegan
                            semiotics
                            braid adaptogen swag portland. IPhone man wayfarers booth asymmetrical biodiesel bespoke
                            bodega. On
                            90's mug ascot meggings squid tonx. Put booth 3-moon kickstarter xoxo hammock polaroid.
                            Shorts toast
                            mumblecore forage echo meditation. Microdosing truck air yuccie offal kale flexitarian
                            typewriter
                            offal. Gatekeep affogato them poutine selvage pop-up plz slow-carb pack.
                        </p>
                        <p>Hashtag vibecession knausgaard vegan chambray locavore seitan cornhole charcoal diy. Quinoa
                            quinoa
                            gatekeep sartorial chips portland. Coloring fixie retro next photo health probably food man
                            post-ironic. Sriracha poutine pickled gentrify pitchfork tonx gochujang man. Mood rights
                            bespoke pok
                            skateboard yolo beard scenester messenger. Jomo aesthetic tbh wayfarers af lomo four ugh.
                            Kinfolk
                            flexitarian them celiac thundercats aesthetic irony. Fam celiac vexillologist meditation
                            plaid
                            biodiesel organic hot level.
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 aboutCaption">
                    <div class="aboutLead cl-red">Meet</div>
                    <h2 class="title aboutTitle">Our team</h2>
                </div>
                <div class="col-xl-9 aboutContent">
                    <div class="aboutTeam row">

                        {{>team channel=author.List index_start=0 index_end=13 col="col"}}

                    </div>
                </div>
                <div class="col-xl-3 aboutCaption">
                    <h2 class="title aboutTitle">The journeys</h2>
                </div>
                <div class="col-xl-9 aboutContent">
                    <div class="aboutJourney row">
                        <div class="aboutJourney__item col-6 col-md-4">
                            <h3 class="aboutJourney__year titleH3 cl-red">1983</h3>
                            <div class="aboutTxt article">
                                Ascot fingerstache ennui drinking vice loko chia hipster listicle pinterest. +1 tonx
                                mixtape hoodie trust offal. Pug hoodie +1 normcore braid organic plz prism mustache.
                                LaCroix heirloom intelligentsia pug asymmetrical pbr&b bag. Air four tattooed
                                single-origin vaporware yolo boys crucifix diy portland. Flannel squid vibecession put
                                jean.</div>
                        </div>
                        <div class="aboutJourney__item col-6 col-md-4">
                            <h3 class="aboutJourney__year titleH3">2001</h3>
                            <div class="aboutTxt article">Mixtape thundercats selfies bitters locavore. Vegan VHS
                                farm-to-table, hella synth celiac next level drinking vinegar. Messenger bag tbh pug,
                                typewriter pbr&b salvia woke heirloom. Cold-pressed pork belly meggings, cardigan
                                tousled 90's ethical.</div>

                        </div>
                        <div class="aboutJourney__item col-6 col-md-4">
                            <h3 class="aboutJourney__year titleH3">2014</h3>
                            <div class="aboutTxt article">Kombucha health goth vinyl, PBR&B quinoa cronut YOLO roof
                                party. Tilde blue bottle vegan, retro occupy pitchfork. Letterpress post-ironic
                                bushwick, stumptown typewriter normcore. Mumblecore flexitarian slow-carb chartreuse.
                            </div>
                        </div>
                        <div class="aboutJourney__item col-6 col-md-4">
                            <h3 class="aboutJourney__year titleH3">2020</h3>
                            <div class="aboutTxt article">Ennui street art polaroid cliche, helvetica iPhone disrupt.
                                Tilde mixtape palo santo, thundercats adaptogen salvia. Chia semiotics viral, subway
                                tile poutine keytar health goth.</div>
                        </div>
                        <div class="aboutJourney__item col-6 col-md-4">
                            <h3 class="aboutJourney__year titleH3">2025</h3>
                            <div class="aboutTxt article">Vexillologist keytar snackwave, DIY meditation four dollar
                                toast. Food truck chillwave tote bag, tilde prism celiac XOXO tumblr literally. Drinking
                                vinegar crucifix semiotics fashion axe ethical.</div>
                        </div>
                        <div class="aboutJourney__item col-6 col-md-4">
                            <h3 class="aboutJourney__year titleH3">2030</h3>
                            <div class="aboutTxt article">Tumeric pug sartorial tbh, jean shorts forage hella meggings
                                slow-carb cold-pressed. Banjo green juice flexitarian pabst, tofu woke pinterest.
                                Sustainable scenester four loko occupy, mustache ennui semiotics kombucha.</div>
                        </div>
                        <div class="aboutJourney__item col-6 col-md-4">
                            <h3 class="aboutJourney__year titleH3">2035</h3>
                            <div class="aboutTxt article">Poke dreamcatcher kogi, palo santo pour-over keffiyeh. Swag
                                green juice pickled, pok pok celiac raw denim farm-to-table. Affogato occupy hella,
                                viral vaporware pickled.</div>
                        </div>
                        <div class="aboutJourney__item col-6 col-md-4">
                            <h3 class="aboutJourney__year titleH3">2040</h3>
                            <div class="aboutTxt article">Helvetica brooklyn post-ironic, banjo poutine vegan activated
                                charcoal. Lomo wolf chillwave health goth, slow-carb keytar kickstarter. Sustainable
                                typewriter fam, brooklyn cronut shaman snackwave.</div>
                        </div>

                    </div>
                </div>
            </div>
    </main>
    {{> footer/footer}}

    {{> js}}

</body>

</html>