<!DOCTYPE html>
<html lang="en">

{{> head page="news" swiper=true}}

<body>
    {{!> header/header login=true}}
    {{> header/header}}
    <main class="main news" role="main">

        <div class="container">

            {{>breadcrumb parent="Berita"}}

        </div>
        <div class="container">
            <div class="categoryWrap">
                <div class="categoryHl__big categorySwiper swiper">
                    <div class="swiper-wrapper">

                        {{>category/headline channel=category.Headline tag="h2" index_start=0
                        index_end=5 width="840" height="470" lead=true artikel=true}}

                    </div>
                </div>
                <div class="categoryHl__nav categorySwiper swiper">
                    <div class="swiper-wrapper">

                        {{>category/headline channel=category.Headline tag="h3" label="Fiksi" index_start=0
                        index_end=5 width="100" height="100" nav=true}}

                    </div>
                </div>
            </div>
            <div class="titleWrap mt40">
                <h2 class="titleH3"><span class="cl-red">Komik</span></h2>
                <a href="landing-komik.html" class="titleLink">See all</a>
            </div>
            <div class="artWidget">
                <div class="artList row">

                    {{>article channel=article.Komik index_start=0 index_end=4 width="289" height="173" tag="h3"
                    col="col-6 col-md-3" widget=true}}

                </div>
            </div>
            <div class="titleWrap mt40">
                <h2 class="titleH3"><span class="cl-red">Quanta</span></h2>
                <a href="landing-quanta.html" class="titleLink">See all</a>
            </div>
            <div class="artWidget">
                <div class="artList row">

                    {{>article channel=article.Quanta index_start=0 index_end=4 width="289" height="173"
                    lazy=true
                    tag="h3" col="col-6 col-md-3" widget=true}}

                </div>
            </div>
            <div class="titleWrap mt40">
                <h2 class="titleH3"><span class="cl-red">Elex Kidz</span></h2>
                <a href="landing-kids.html" class="titleLink">See all</a>
            </div>
            <div class="artWidget">
                <div class="artList row">

                    {{>article channel=article.Kids index_start=0 index_end=4 width="289" height="173"
                    lazy=true
                    tag="h3" col="col-6 col-md-3" widget=true}}

                </div>
            </div>
            <div class="titleWrap mt40">
                <h2 class="titleH3"><span class="cl-red">Bisnis & Tekno</span></h2>
                <a href="landing-techno.html" class="titleLink">See all</a>
            </div>
            <div class="artWidget">
                <div class="artList row">

                    {{>article channel=article.Quanta index_start=0 index_end=4 width="289" height="173"
                    lazy=true
                    tag="h3" col="col-6 col-md-3" widget=true}}

                </div>
            </div>
            <div class="titleWrap mt40">
                <h2 class="titleH3"><span class="cl-red">Parenting & Kesehatan</span></h2>
                <a href="landing-health.html" class="titleLink">See all</a>
            </div>
            <div class="artWidget">
                <div class="artList row">

                    {{>article channel=article.Komik index_start=0 index_end=4 width="289" height="173" tag="h3"
                    col="col-6 col-md-3" widget=true}}

                </div>
            </div>
            <div class="titleWrap mt40">
                <h2 class="titleH3"><span class="cl-red">Fiksi</span></h2>
                <a href="landing-fiction.html" class="titleLink">See all</a>
            </div>
            <div class="artWidget">
                <div class="artList row">

                    {{>article channel=article.Kids index_start=0 index_end=4 width="289" height="173"
                    lazy=true
                    tag="h3" col="col-6 col-md-3" widget=true}}

                </div>
            </div>
            <div class="titleWrap mt40">
                <h2 class="titleH3"><span class="cl-red">Sejarah & Sosial</span></h2>
                <a href="landing-history.html" class="titleLink">See all</a>
            </div>
            <div class="artWidget">
                <div class="artList row">

                    {{>article channel=article.Quanta index_start=0 index_end=4 width="289" height="173"
                    lazy=true
                    tag="h3" col="col-6 col-md-3" widget=true}}

                </div>
            </div>
            <div class="titleWrap mt40">
                <h2 class="titleH3"><span class="cl-red">Pengembangan Diri</span></h2>
                <a href="landing-self.html" class="titleLink">See all</a>
            </div>
            <div class="artWidget">
                <div class="artList row">

                    {{>article channel=article.Komik index_start=0 index_end=4 width="289" height="173" tag="h3"
                    col="col-6
                    col-md-3" widget=true}}

                </div>
            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js swiper=true medias=true}}
    <script>
        $(document).ready(function () {
            var swiper = new Swiper(".categoryHl__nav", {
                loop: true,
                autoplay: {
                    delay: 2000,
                    disableOnInteraction: false,
                },
                spaceBetween: 10,
                speed: 1000,
                slidesPerView: 5,
                freeMode: true,
                direction: 'horizontal',
                watchSlidesProgress: true,
                breakpoints: {
                    768: {
                        direction: 'vertical'
                    }
                }
            });
            var swiper2 = new Swiper(".categoryHl__big", {
                loop: true,
                effect: "fade",
                thumbs: {
                    swiper: swiper,
                },
                autoplay: {
                    delay: 2000,
                    disableOnInteraction: false,
                },
                speed: 1000,
            });
        });
    </script>

</body>

</html>