<!DOCTYPE html>
<html lang="en">

{{> head page="read" swiper=true 400i=true}}

<body>
    {{> header/header login=true}}
    {{!> header/header}}
    <main class="main read" role="main">

        <div class="container">

            {{>breadcrumb parent="Berita" parentlink="artikel.html" child="ePerpus Bantu Tingkatkan Digitalisasi
            Fasilitas Pembelajaran SMAK Cor Jesu"}}

            <div class="row">
                <div class="leftbar col-xl-9">
                    <h1 class="readTitle">ePerpus Bantu Tingkatkan Digitalisasi Fasilitas Pembelajaran SMAK Cor Jesu
                    </h1>
                    <div class="readAtt">
                        <div class="readAtt__item readAuthor">Oleh: John Doe</div>
                        <div class="readAtt__item artDates"><span class="ico icoCal"></span>19 Oktober 2023</div>
                    </div>
                    <div class="readImg">
                        <img src="./asset/images/dummy/article/updates/0-big.jpg" alt="" width="840" height="501">
                        <div class="col-xl-11 mx-auto"><span>Diy goth heirloom butcher chips pinterest bun. Freegan vaporware
                                offal it readymade godard hammock lo-fi xoxo. Bushwick belly intelligentsia mood retro.
                                Actually tilde they distillery pop-up mlkshk taiyaki hot vhs big. Yr chillwave plz xoxo
                                retro.</span></div>
                    </div>

                    {{>read-article}}

                    <div class="readTag">
                        <a href="tag.html" class="readTag__link"></a>
                        <a href="tag.html" class="readTag__link"></a>
                        <a href="tag.html" class="readTag__link"></a>
                    </div>

                    <div class="titleWrap mt40">
                        <h2 class="title">Related <span class="cl-red">Books</span></h2>
                        <a href="catalog.html" class="titleLink">See All</a>
                    </div>
                    <div class="productCard__list productScroll">
                        {{>product channel=product.Komik index_start=0 index_end=3 col="col col-xl-2" tag="h3"
                        width="160" height="240" cta=true type="productCard" lazy=true}}
                    </div>
                    <div class="titleWrap mt40">
                        <h2 class="title">Related <span class="cl-red">News</span></h2>
                        <a href="artikel.html" class="titleLink">All News</a>
                    </div>
                    <div class="artWidget">
                        <div class="artList row">

                            {{>article channel=updates index_start=0 index_end=4 width="199" height="119"
                            lazy=true
                            tag="h3" col="col-6 col-md-3" widget=true}}

                        </div>
                    </div>
                </div>
                <div class="sidebar col-xl-3">
                    <div class="titleWrap">
                        <h2 class="title">All <span class="cl-red">News</span></h2>
                        <a href="artikel.html" class="titleLink">All News</a>
                    </div>
                    <div class="artList artRow">

                        {{>article channel=article.Kids index_start=0 index_end=2 tag="h3" width="184"
                        height="110"}}
                        {{>article channel=article.Komik index_start=2 index_end=5 lazy=true tag="h3" width="184"
                        height="110"}}

                    </div>
                    <div class="titleWrap">
                        <h2 class="title"><span class="cl-red">Katalog</span></h2>
                    </div>
                    <div class="catalogWidget" data-widget="5">

                        {{>catalog index_start=0 index_end=5 link=true}}

                    </div>
                    <div class="titleWrap">
                        <h2 class="title"><span class="cl-red">Events</span></h2>
                        <a href="#" class="titleLink">All Events</a>
                    </div>
                    <div class="eventList row">

                        {{>event channel=article.Event index_start=0 index_end=4 lazy=true tag="h3"}}

                    </div>
                </div>
            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js catalog=true swiper=true}}

</body>

</html>