<!DOCTYPE html>
<html lang="en">

{{> head page="author"}}

<body>
    {{!> header/header page="Authors" login=true}}
    {{> header/header page="Authors"}}
    <main class="main author" role="main">

        <div class="container">

            {{>breadcrumb parent="Author"}}

        </div>
        <div class="authorLead lead --small">
            <div class="leadBg artBg">
                <img class="--left" src="./asset/images/logo-symbol.svg" alt="" width="225" height="155">
                <img class="--right" src="./asset/images/logo-symbol.svg" alt="" width="225" height="155">
            </div>
            <div class="container leadContent">
                <h1 class="leadCaption">Author</h1>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <div class="leftbar col-xl-9">
                    <form action="#" class="leadSort row">
                        <div class="col-md-7 col-xl-5 leadSort__item">
                            <label for="categ">Author Category</label>
                            <div class="formSelect selectDrop">
                                <select name="categ" id="categ">
                                    <option value="all" selected>
                                        Semua Kategori
                                    </option>
                                    {{#each categMenu}}
                                    <option value="{{title}}">
                                        {{title}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-4 col-xl-3 leadSort__item">
                            <label for="sort">Sort by</label>
                            <div class="formSelect selectDrop">
                                <select name="sort" id="sort">
                                    <option value="0" selected>Newest</option>
                                    <option value="1">Most Books</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="authorList row">

                        {{>author-list channel=author.List index_start=0 index_end=24
                        col="col-6 col-md-3 col-xl-2" tag="h3"
                        width="155" height="155"}}

                    </div>

                    {{>paging center=false}}

                </div>
                <div class="sidebar col-xl-3">

                    {{>author-widget title=true width="330" height="330"}}

                </div>
            </div>

            <div class="titleWrap mt40">
                <h2 class="title">Other <span class="cl-red">Recommendations</span></h2>
                <a href="catalog.html" class="titleLink">See All</a>
            </div>
            <div class="productCard__list productScroll">
                {{>product channel=product.Komik index_start=0 index_end=6 col="col col-xl-2" tag="h3"
                width="160" height="240" cta=true type="productCard" lazy=true}}
            </div>
            <div class="titleWrap mt40">
                <h2 class="title">Latest <span class="cl-red">Updates</span></h2>
                <a href="artikel.html" class="titleLink">All Updates</a>
            </div>
            <div class="artWidget">
                <div class="artList row">

                    {{>article channel=updates index_start=0 index_end=4 width="289" height="173"
                    lazy=true
                    tag="h3" col="col-6 col-md-3" widget=true}}

                </div>
            </div>
        </div>
    </main>
    {{> footer/footer}}

    {{> js}}

</body>

</html>