<!DOCTYPE html>
<html lang="en">

{{> head page=""}}

<body>
    {{!> header/header login=true page="Home"}}
    {{> header/header page="Home"}}
    <main class="main" role="main">
        <div class="container">
            <div class="menu">

                {{>header/menu active=true index_start=0 index_end=5 lazy=true type="menuProduct__item" width="94" height="145"}}

            </div>
        </div>
    </main>
    {{> footer/footer}}

    {{> js}}

</body>

</html>