<!DOCTYPE html>
<html lang="en">

{{> head page="event" swiper=true}}

<body>
    {{!> header/header page="Events" login=true}}
    {{> header/header page="Events"}}
    <main class="main event" role="main">

        <div class="container">

            {{>breadcrumb parent="Events"}}

            <div class="eventSlider__wrap">
                <div class="eventSlider swiper" data-number="3">
                    <div class="swiper-wrapper">

                        {{>event-slider channel=article.Event index_start=2 index_end=5 tag="h1"
                        type="swiper-slide"}}

                    </div>
                </div>
                <div class="swiperNav event-pagination swiper-pagination">
                </div>
            </div>
            <div class="leadSort row center-flex">
                <div class="col-md-4 col-xl-4 leadSort__item leadSort__search">
                    <label for="searchevent">Search</label>
                    <div class="leadSearch">
                        <input type="search" class="searchInput leadSearch__input" value="" name="searchevent"
                            id="searchevent" aria-label="Search event" placeholder="Type here..">
                        <button class="button leadSearch__cta searchCta center-flex" type="submit"
                            aria-label="search"><span class="ico icoSearch"></span></button>
                    </div>
                </div>
                <div class="col-md-4 col-xl-3 leadSort__item">
                    <label for="categ">Category</label>
                    <div class="formSelect selectDrop">
                        <select name="categ" id="categ">
                            <option value="all" selected>
                                All
                            </option>
                            {{#each categMenu}}
                            <option value="{{title}}">
                                {{title}}
                            </option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-xl-3 leadSort__item">
                    <label for="status">Status Event</label>
                    <div class="formSelect selectDrop">
                        <select name="status" id="status">
                            <option value="all" selected>
                                All
                            </option>
                            <option value="upcoming">
                                Upcoming
                            </option>
                            <option value="past">
                                Past Event
                            </option>
                            <option value="going">
                                On Going
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="eventList row">

                {{>event channel=article.Event index_start=0 index_end=5 lead=true tag="h2" col="col-md-6"}}
                {{>event channel=article.Event index_start=0 index_end=5 lazy=true lead=true tag="h2" col="col-md-6"}}

            </div>

            {{>paging}}

        </div>
    </main>

    {{> footer/footer}}

    {{> js swiper=true}}
    <script>
        $(document).ready(function () {
            //slider event
            var totalEvent = $('.eventSlider').attr("data-number") / 2;
            var swiperE = new Swiper(".eventSlider", {
                effect: 'cards',
                slidesPerView: 1,
                loop: false,

                centeredSlides: true,
                initialSlide: parseInt(totalEvent),

                spaceBetween: 0,
                grabCursor: true,
                //autoplay: {
                //    delay: 1000,
                //    disableOnInteraction: false,
                //},
                speed: 1800,
                pagination: {
                    el: ".event-pagination",
                    clickable: true
                },
                cardsEffect: {
                    rotate: 0, // Slide rotate in degrees
                    slideShadows: false, // Enables slides shadows
                    perSlideOffset: 16
                },
                breakpoints: {
                    768: {
                        perSlideOffset: 27
                    }
                }
            });
        });
    </script>

</body>

</html>