<!DOCTYPE html>
<html lang="en">

{{> head page=""}}

<body>
    {{!> header/header login=true}}
    {{> header/header}}
    <main class="main faq" role="main">

        <div class="container">

            {{>breadcrumb parent="FAQ"}}

        </div>
        <div class="lead">
            <div class="leadBg artBg">
                <img class="--left" src="./asset/images/logo-symbol.svg" alt="" width="225" height="155">
                <img class="--right" src="./asset/images/logo-symbol.svg" alt="" width="225" height="155">
            </div>
            <div class="container">
                <div class="leadContent col-xl-9 mx-auto">
                    <h1 class="leadCaption">Frequently Ask Questions</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="faqList article col-xl-7 mx-auto">
                <div class="faqItem -jsShowPar">
                    <button class="button faqTrig -jsShowToggle" onclick="showMore(this)">
                        <div class="titleH5">Bagaimana cara membeli buku di Elex Media Komputindo?</div>
                        <span class="ico icoChevron"></span>
                    </button>
                    <div class="faqWrap -jsShowTgt">
                        <div class="faqContent">
                            <p>
                                Lorem ipsum dolor sit amet consectetur. Nulla libero egestas urna mauris mattis
                                volutpat ornare sed. Dignissim malesuada laoreet egestas turpis dictum. Lectus
                                netus
                                egestas tortor cursus. Tellus feugiat etiam posuere nisi justo malesuada.
                                Maecenas
                                adipiscing gravida et at malesuada.
                            </p>
                            <ul>
                                <li>Porttitor nisl vitae cras neque auctor sit.</li>
                                <li> Enim
                                    odio aliquet pellentesque tempus id et. </li>
                                <li>Amet turpis imperdiet scelerisque quisque.
                                    In consectetur donec purus amet diam tristique. </li>
                                <li>Bibendum at in tristique tempor
                                    facilisi et. </li>
                                <li>Tincidunt quis pellentesque est quisque pulvinar mauris elit et.
                                </li>
                                <li>Faucibus id pellentesque sit nisl. </li>
                                <li>Tristique tempor posuere eu turpis aliquam a dui.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="faqItem -jsShowPar">
                    <button class="button faqTrig -jsShowToggle" onclick="showMore(this)">
                        <div class="titleH5">Apakah buku yang sudah dibeli bisa dikembalikan?</div>
                        <span class="ico icoChevron"></span>
                    </button>
                    <div class="faqWrap -jsShowTgt">
                        <div class="faqContent">
                            <p>
                                Lorem ipsum dolor sit amet consectetur. Nulla libero egestas urna mauris mattis
                                volutpat ornare sed. Dignissim malesuada laoreet egestas turpis dictum. Lectus
                                netus
                                egestas tortor cursus. Tellus feugiat etiam posuere nisi justo malesuada.
                                <a href="#">Mauris dui vestibulum</a> et at malesuada.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faqItem -jsShowPar">
                    <button class="button faqTrig -jsShowToggle" onclick="showMore(this)">
                        <div class="titleH5">Apakah menerima transaksi COD?</div>
                        <span class="ico icoChevron"></span>
                    </button>
                    <div class="faqWrap -jsShowTgt">
                        <div class="faqContent">
                            <p>
                                Lorem ipsum dolor sit amet consectetur. Nulla libero egestas urna mauris mattis
                                volutpat ornare sed. Dignissim malesuada laoreet egestas turpis dictum. Lectus
                                netus
                                egestas tortor cursus. Tellus feugiat etiam posuere nisi justo malesuada.
                                Maecenas
                                adipiscing gravida et at malesuada.
                            </p>
                            <ol>
                                <li>Porttitor nisl vitae cras neque auctor sit.</li>
                                <li> Enim
                                    odio aliquet pellentesque tempus id et. </li>
                                <li>Amet turpis imperdiet scelerisque quisque.
                                    In consectetur donec purus amet diam tristique. </li>
                                <li>Bibendum at in tristique tempor
                                    facilisi et. </li>
                                <li>Tincidunt quis pellentesque est quisque pulvinar mauris elit et.
                                </li>
                                <li>Faucibus id pellentesque sit nisl. </li>
                                <li>Tristique tempor posuere eu turpis aliquam a dui.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{> footer/footer}}

    {{> js}}
    <script>
        //show more content
        function showMore(el) {
            let target = el.parentNode.getElementsByClassName('-jsShowTgt')[0];
            triggerTarget(el, target)
        }

        function triggerTarget(elem, elemtarget) {
            let elActive = elem.classList.contains('active');
            tgHeight = elemtarget.scrollHeight;

            elem.classList.toggle('active');
            elemtarget.style.maxHeight = elemtarget.style.maxHeight ? null : tgHeight + 'px';
        }
    </script>

</body>

</html>