<!DOCTYPE html>
<html lang="en">

{{> head page=""}}

<body>
    {{!> header/header login=true}}
    {{!> header/header}}
    <main class="access" role="main">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-5 col-lg-4 col-xl-3 mx-auto">
                    <a href="index.html" class="center-flex">
                        <img src="./asset/images/logo-elex.svg" alt="Elex Media Komputindo" loading="lazy" width="92"
                            height="56">
                    </a>
                    <form action="#" class="form accessForm">
                        <h1 class="titleH5 text-center">Please enter your email address</h1>
                        <div class="formRow">
                            <input type="email" class="formInput" name="mail" id="mail" aria-label="Email"
                                placeholder="Email Address">
                        </div>
                        <div class="formRow">
                            <button type="submit" class="button buttonPrimary">Reset Password</button>
                        </div>
                        <div class="formRow text-center">
                            <a href="login.html" class="accessLink"><strong>I remember my password</strong></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

</body>

</html>