<!DOCTYPE html>
<html lang="en">

{{> head page="home" swiper=true}}

<body>
    {{> header/header login=true page="Home"}}
    {{!> header/header page="Home"}}
    <main class="main home" role="main">
        <div class="container">
            <div class="hlWrap">
                <div class="hl">
                    <div class="hlSlide swiper" data-number="5">
                        <div class="swiper-wrapper">

                            {{>headline}}

                        </div>
                    </div>
                    <div class="swiperNav hl-pagination swiper-pagination">
                    </div>
                    <div class="swiper-button-next hl-next swiper-button-hidden"></div>
                    <div class="swiper-button-prev hl-prev swiper-button-hidden"></div>

                </div>
                <div class="publish">

                    <div class="publishSlide swiper">
                        <div class="swiper-wrapper">

                            {{>publish}}

                        </div>
                    </div>

                </div>
            </div>
            <div class="hlEllipseWrap">
                <div class="hlEllipse"></div>
            </div>

            <div class="titleWrap">
                <h2 class="title mt40">Latest <span class="cl-red">News</span></h2>
                <a href="artikel.html" class="titleLink">All News</a>
            </div>
            <div class="updates">
                <div class="updatesList row">

                    {{>updates channel=updates index_start=0 index_end=4 type="updatesItem" tag="h3"}}

                </div>
            </div>

            <div class="titleWrap">
                <h2 class="title mt40">Upcoming <span class="cl-red">Events</span></h2>
                <a href="events.html" class="titleLink">All Events</a>
            </div>
            <div class="event">
                <div class="eventList row">

                    {{>event channel=article.Event index_start=0 index_end=2 lazy=true lead=" desktop" tag="h3"
                    col="col-lg-6"}}

                </div>
            </div>

            <div class="author authorWidget center-flex">
                <h2 class="title authorTitle">
                    <div class="authorTitle__wrap">
                        Author<span>of the month</span>
                    </div>
                    <div class="authorTitle__bg"><img src="./asset/images/logo-symbol.svg" alt="" loading="lazy"
                            width="225" height="155"></div>
                </h2>

                {{>author-widget lazy=true width="211" height="265" widget=true}}

            </div>

            <div class="widget row mt40">
                <div class="widgetCol col-md-6">
                    <div class="widgetBox --new">
                        <div class="widgetBg">
                            <img src="./asset/images/widget/bg-wave.png" width="567" height="406" alt="" loading="lazy">
                        </div>
                        <div class="titleWrap">
                            <div class="widgetTitle">
                                <h2 class="title">New Release</h2>
                                <div class="titleLead">Prey men quarterdeck belaying guns rat pinnace fluke main. Roger
                                    chain piracy her hogshead avast dock.</div>
                            </div>
                            <a href="landing-new.html" class="titleLink">See all</a>
                        </div>
                        <div class="widgetList row">

                            {{>product channel=product.New index_start=0 index_end=4 lazy=true tag="h3" col="col-6
                            col-xl-3"
                            widget=true
                            type="widgetItem" width="102" height="152"}}

                        </div>
                    </div>
                </div>
                <div class="widgetCol col-md-6">
                    <div class="widgetBox --popular">
                        <div class="widgetBg">
                            <img src="./asset/images/widget/bg-wave.png" width="567" height="406" alt="" loading="lazy">
                        </div>
                        <div class="titleWrap">
                            <div class="widgetTitle">
                                <h2 class="title">Popular</h2>
                                <div class="titleLead">Prey men quarterdeck belaying guns rat pinnace fluke main. Roger
                                    chain piracy her hogshead avast dock.</div>
                            </div>
                            <a href="landing-popular.html" class="titleLink">See all</a>
                        </div>
                        <div class="widgetList row">

                            {{>product channel=product.Popular index_start=0 index_end=4 lazy=true tag="h3"
                            col="col-6 col-xl-3" type="widgetItem" width="102" height="152"}}

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="art --komik mt40">
            <div class="artBg"></div>
            <div class="container">
                <div class="row n-gutters">
                    <div class="artWidget col-xl-9">
                        <div class="titleWrap">
                            <div class="artCaption">
                                <h2 class="title">Comic</h2>
                                <div class="titleLead">Prey men quarterdeck belaying guns rat pinnace fluke main. Roger
                                    chain piracy her hogshead avast dock.</div>
                            </div>
                            <a href="landing-komik.html" class="titleLink">All Comics</a>
                        </div>
                        <div class="artList row">

                            {{>article channel=article.Komik index_start=0 index_end=4 width="214" height="128"
                            lazy=true
                            tag="h3" col="col-6 col-md-3" widget=true}}

                        </div>
                    </div>
                    <div class="artSlide__wrap col-md-6 col-lg-5 col-xl-3">
                        <div class="artSlide__bg">
                            <img src="./asset/images/widget/bg-art-komik.png" alt="" width="234" height="166"
                                loading="lazy">
                        </div>
                        <div class="artSlide swiper">
                            <div class="swiper-wrapper">

                                {{>product-hot channel=product.Komik index_start=0 index_end=4 lazy=true tag="h3"
                                width="113" height="170" label="Petualangan"}}

                            </div>
                        </div>
                        <div class="productArrow --next swiper-button-next product-next"></div>
                        <div class="productArrow --prev swiper-button-prev product-prev"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="art --quanta">
            <div class="artBg">
                <img class="--left" src="./asset/images/widget/bg-art-quanta-left.png" alt="" width="169" height="300"
                    loading="lazy">
                <img class="--right" src="./asset/images/widget/bg-art-quanta-right.png" alt="" width="415" height="199"
                    loading="lazy">
            </div>
            <div class="container">
                <div class="row n-gutters">
                    <div class="artWidget col-xl-9">
                        <div class="titleWrap">
                            <div class="artCaption">
                                <h2 class="title">Religion & Spirituality</h2>
                                <div class="titleLead">Prey men quarterdeck belaying guns rat pinnace fluke main. Roger
                                    chain piracy her hogshead avast dock.</div>
                            </div>
                            <a href="landing-quanta.html" class="titleLink">All Religion & Spirituality</a>
                        </div>
                        <div class="artList row">

                            {{>article channel=article.Quanta index_start=0 index_end=4 width="214" height="128"
                            lazy=true
                            tag="h3" col="col-6 col-md-3" widget=true}}

                        </div>
                    </div>
                    <div class="artSlide__wrap col-md-6 col-lg-5 col-xl-3">
                        <div class="artSlide__bg">
                            <img src="./asset/images/widget/bg-art-quanta.png" alt="" width="151" height="124"
                                loading="lazy">
                        </div>
                        <div class="artSlide swiper">
                            <div class="swiper-wrapper">

                                {{>product-hot channel=product.Quanta index_start=0 index_end=4 lazy=true tag="h3"
                                width="113" height="170" label="Fiqih"}}

                            </div>
                        </div>
                        <div class="productArrow --next swiper-button-next product-next"></div>
                        <div class="productArrow --prev swiper-button-prev product-prev"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="art --kids">
            <div class="artBg">
                <img class="--left" src="./asset/images/widget/bg-art-kids-left.png" alt="" width="239" height="239"
                    loading="lazy">
                <img class="--right" src="./asset/images/widget/bg-art-kids-right.png" alt="" width="123" height="123"
                    loading="lazy">
            </div>
            <div class="container">
                <div class="row n-gutters">
                    <div class="artWidget col-xl-9">
                        <div class="titleWrap">
                            <div class="artCaption">
                                <h2 class="title">Children</h2>
                                <div class="titleLead">Prey men quarterdeck belaying guns rat pinnace fluke main. Roger
                                    chain piracy her hogshead avast dock.</div>
                            </div>
                            <a href="landing-kids.html" class="titleLink">All Children</a>
                        </div>
                        <div class="artList row">

                            {{>article channel=article.Kids index_start=0 index_end=4 width="214" height="128"
                            lazy=true
                            tag="h3" col="col-6 col-md-3" widget=true}}

                        </div>
                    </div>
                    <div class="artSlide__wrap col-md-6 col-lg-5 col-xl-3">
                        <div class="artSlide__bg">
                            <img src="./asset/images/widget/bg-art-kids.png" alt="" width="316" height="284"
                                loading="lazy">
                        </div>
                        <div class="artSlide swiper">
                            <div class="swiper-wrapper">

                                {{>product-hot channel=product.Kids index_start=0 index_end=4 lazy=true tag="h3"
                                width="113" height="170" label="Kids"}}

                            </div>
                        </div>
                        <div class="productArrow --next swiper-button-next product-next"></div>
                        <div class="productArrow --prev swiper-button-prev product-prev"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="art --techno">
            <div class="artBg">
                <img class="--left" src="./asset/images/widget/bg-art-techno-left.png" alt="" width="283" height="235"
                    loading="lazy">
                <img class="--right" src="./asset/images/widget/bg-art-techno-left.png" alt="" width="283" height="235"
                    loading="lazy">
            </div>
            <div class="container">
                <div class="row n-gutters">
                    <div class="artWidget col-xl-9">
                        <div class="titleWrap">
                            <div class="artCaption">
                                <h2 class="title">Business & Techno</h2>
                                <div class="titleLead">Prey men quarterdeck belaying guns rat pinnace fluke main. Roger
                                    chain piracy her hogshead avast dock.</div>
                            </div>
                            <a href="landing-techno.html" class="titleLink">All Business & Techno</a>
                        </div>
                        <div class="artList row">

                            {{>article channel=article.Quanta index_start=0 index_end=4 width="214" height="128"
                            lazy=true
                            tag="h3" col="col-6 col-md-3" widget=true}}

                        </div>
                    </div>
                    <div class="artSlide__wrap col-md-6 col-lg-5 col-xl-3">
                        <div class="artSlide__bg">
                            <img src="./asset/images/widget/bg-art-techno.png" alt="" width="221" height="220"
                                loading="lazy">
                        </div>
                        <div class="artSlide swiper">
                            <div class="swiper-wrapper">

                                {{>product-hot channel=product.Kids index_start=0 index_end=4 lazy=true tag="h3"
                                width="113" height="170" label="Bisnis"}}

                            </div>
                        </div>
                        <div class="productArrow --next swiper-button-next product-next"></div>
                        <div class="productArrow --prev swiper-button-prev product-prev"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="art --health">
            <div class="artBg">
                <img class="--left" src="./asset/images/widget/bg-art-health-left.png" alt="" width="260" height="261"
                    loading="lazy">
                <img class="--right" src="./asset/images/widget/bg-art-health-left.png" alt="" width="260" height="261"
                    loading="lazy">
            </div>
            <div class="container">
                <div class="row n-gutters">
                    <div class="artWidget col-xl-9">
                        <div class="titleWrap">
                            <div class="artCaption">
                                <h2 class="title">Parenting & Health</h2>
                                <div class="titleLead">Prey men quarterdeck belaying guns rat pinnace fluke main. Roger
                                    chain piracy her hogshead avast dock.</div>
                            </div>
                            <a href="landing-health.html" class="titleLink">All Parenting & Health</a>
                        </div>
                        <div class="artList row">

                            {{>article channel=article.Quanta index_start=0 index_end=4 width="214" height="128"
                            lazy=true
                            tag="h3" col="col-6 col-md-3" widget=true}}

                        </div>
                    </div>
                    <div class="artSlide__wrap col-md-6 col-lg-5 col-xl-3">
                        <div class="artSlide__bg">
                            <img src="./asset/images/widget/bg-art-health.png" alt="" width="144" height="259"
                                loading="lazy">
                        </div>
                        <div class="artSlide swiper">
                            <div class="swiper-wrapper">

                                {{>product-hot channel=product.Kids index_start=0 index_end=4 lazy=true tag="h3"
                                width="113" height="170" label="Parenting"}}

                            </div>
                        </div>
                        <div class="productArrow --next swiper-button-next product-next"></div>
                        <div class="productArrow --prev swiper-button-prev product-prev"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="art --fiction">
            <div class="artBg">
                <img class="--left" src="./asset/images/widget/bg-art-fiction-left.png" alt="" width="162" height="192"
                    loading="lazy">
                <img class="--right" src="./asset/images/widget/bg-art-fiction-right.png" alt="" width="161"
                    height="192" loading="lazy">
            </div>
            <div class="container">
                <div class="row n-gutters">
                    <div class="artWidget col-xl-9">
                        <div class="titleWrap">
                            <div class="artCaption">
                                <h2 class="title">Fiction</h2>
                                <div class="titleLead">Prey men quarterdeck belaying guns rat pinnace fluke main. Roger
                                    chain piracy her hogshead avast dock.</div>
                            </div>
                            <a href="landing-fiction.html" class="titleLink">All Fiction</a>
                        </div>
                        <div class="artList row">

                            {{>article channel=article.Quanta index_start=0 index_end=4 width="214" height="128"
                            lazy=true
                            tag="h3" col="col-6 col-md-3" widget=true}}

                        </div>
                    </div>
                    <div class="artSlide__wrap col-md-6 col-lg-5 col-xl-3">
                        <div class="artSlide__bg">
                            <img src="./asset/images/widget/bg-art-fiction.png" alt="" width="195" height="120"
                                loading="lazy">
                        </div>
                        <div class="artSlide swiper">
                            <div class="swiper-wrapper">

                                {{>product-hot channel=product.Kids index_start=0 index_end=4 lazy=true tag="h3"
                                width="113" height="170" label="Fiksi"}}

                            </div>
                        </div>
                        <div class="productArrow --next swiper-button-next product-next"></div>
                        <div class="productArrow --prev swiper-button-prev product-prev"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="art --history">
            <div class="artBg">
            </div>
            <div class="container">
                <div class="row n-gutters">
                    <div class="artWidget col-xl-9">
                        <div class="titleWrap">
                            <div class="artCaption">
                                <h2 class="title">Social & History</h2>
                                <div class="titleLead">Prey men quarterdeck belaying guns rat pinnace fluke main. Roger
                                    chain piracy her hogshead avast dock.</div>
                            </div>
                            <a href="landing-history.html" class="titleLink">All Social & History</a>
                        </div>
                        <div class="artList row">

                            {{>article channel=article.Quanta index_start=0 index_end=4 width="214" height="128"
                            lazy=true
                            tag="h3" col="col-6 col-md-3" widget=true}}

                        </div>
                    </div>
                    <div class="artSlide__wrap col-md-6 col-lg-5 col-xl-3">
                        <div class="artSlide__bg">
                            <img src="./asset/images/widget/bg-art-history.png" alt="" width="187" height="126"
                                loading="lazy">
                        </div>
                        <div class="artSlide swiper">
                            <div class="swiper-wrapper">

                                {{>product-hot channel=product.Kids index_start=0 index_end=4 lazy=true tag="h3"
                                width="113" height="170" label="Sejarah"}}

                            </div>
                        </div>
                        <div class="productArrow --next swiper-button-next product-next"></div>
                        <div class="productArrow --prev swiper-button-prev product-prev"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="art --self">
            <div class="artBg">
                <img class="--left" src="./asset/images/widget/bg-art-self-left.png" alt="" width="219" height="122"
                    loading="lazy">
                <img class="--right" src="./asset/images/widget/bg-art-self-left.png" alt="" width="219" height="122"
                    loading="lazy">
            </div>
            <div class="container">
                <div class="row n-gutters">
                    <div class="artWidget col-xl-9">
                        <div class="titleWrap">
                            <div class="artCaption">
                                <h2 class="title">Self Improvement</h2>
                                <div class="titleLead">Prey men quarterdeck belaying guns rat pinnace fluke main. Roger
                                    chain piracy her hogshead avast dock.</div>
                            </div>
                            <a href="landing-self.html" class="titleLink">All Self Improvement</a>
                        </div>
                        <div class="artList row">

                            {{>article channel=article.Quanta index_start=0 index_end=4 width="214" height="128"
                            lazy=true
                            tag="h3" col="col-6 col-md-3" widget=true}}

                        </div>
                    </div>
                    <div class="artSlide__wrap col-md-6 col-lg-5 col-xl-3">
                        <div class="artSlide__bg">
                            <img src="./asset/images/widget/bg-art-self.png" alt="" width="216" height="210"
                                loading="lazy">
                        </div>
                        <div class="artSlide swiper">
                            <div class="swiper-wrapper">

                                {{>product-hot channel=product.Kids index_start=0 index_end=4 lazy=true tag="h3"
                                width="113" height="170" label="Motivasi"}}

                            </div>
                        </div>
                        <div class="productArrow --next swiper-button-next product-next"></div>
                        <div class="productArrow --prev swiper-button-prev product-prev"></div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    {{> footer/footer}}

    {{> js page="home" swiper=true}}

</body>

</html>