<!DOCTYPE html>
<html lang="en">

{{> head page="category" swiper=true}}

<body>
    {{!> header/header login=true}}
    {{> header/header}}
    <main class="main category --quanta" role="main">

        <div class="container">

            {{>breadcrumb parent="Quanta"}}

        </div>
        <div class="lead --small art --quanta">
            <div class="artBg">
                <img class="--left" src="./asset/images/widget/bg-art-quanta-left-w.png" alt="" width="123"
                    height="131">
                <img class="--left desktop-only" src="./asset/images/widget/bg-art-quanta-left-w-desk.png" alt=""
                    width="330" height="113">
                <img class="--right desktop-only" src="./asset/images/widget/bg-art-quanta-right-w.png" alt=""
                    width="168" height="109">
                <img class="--right" src="./asset/images/widget/bg-art-quanta-right-w-desk.png" alt="" width="201"
                    height="134">
            </div>
            <div class="container leadContent">
                <h1 class="leadCaption">
                    <img src="./asset/images/logo-quanta.svg" alt="Quanta" width="132" height="65">
                    <div class="quantaCaption">#Quanta<span class="cl-red">Menginspirasi</span></div>
                </h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="leftbar col-xl-9">

                    <h2 class="title">Latest <span class="cl-red">News</span></h2>
                    <div class="artList artRow">

                        {{>article channel=article.Komik index_start=0 index_end=5 lazy=true tag="h3" width="184"
                        height="110"}}

                    </div>
                    <div class="titleWrap mt40">
                        <h2 class="title">Photo</h2>
                        <a href="photo.html" class="titleLink">All Photos</a>
                    </div>

                    {{!>media/photo-widget}}

                    <div class="artList artRow mt40">

                        {{>article channel=article.Quanta index_start=0 index_end=5 lazy=true tag="h3" width="184"
                        height="110"}}

                    </div>
                    <div class="titleWrap mt40">
                        <h2 class="title">Video</h2>
                        <a href="video.html" class="titleLink">All Videos</a>
                    </div>

                    {{>media/video-widget}}

                    <div class="artList artRow mt40">

                        {{>article channel=article.Kids index_start=0 index_end=5 lazy=true tag="h3" width="184"
                        height="110"}}

                    </div>
                    <div class="center-flex mt40">
                        <button class="button buttonPrimary">Load more</button>
                    </div>
                </div>
                <div class="sidebar col-xl-3">
                    <div class="artBg">
                        <img class="--left mobile-only" src="./asset/images/widget/bg-art-quanta-left-w.png" alt=""
                            width="123" height="131">
                    </div>
                    <div class="artSlide__bg">
                        <img src="./asset/images/widget/bg-art-quanta.png" alt="" width="151" height="124">
                    </div>
                    <div class="catalogWidget" data-widget="5">

                        {{>catalog index_start=0 index_end=5 link=true}}

                    </div>
                    <div class="titleWrap">
                        <h2 class="title"><span class="cl-red">Events</span></h2>
                        <a href="#" class="titleLink">All Events</a>
                    </div>
                    <div class="eventList row">

                        {{>event channel=article.Event index_start=0 index_end=5 lazy=true tag="h3"}}

                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- s: popup video -->
    {{>media/video-popup}}
    <!-- e: popup video -->

    {{> footer/footer}}

    {{> js page="category" catalog=true swiper=true medias=true}}

</body>

</html>