<!DOCTYPE html>
<html lang="en">

{{> head page="category" swiper=true}}

<body>
    {{!> header/header login=true}}
    {{> header/header}}
    <main class="main category --komik" role="main">

        <div class="container">
        
            {{>breadcrumb parent="Komik"}}
        
        </div>
        <div class="lead --small">
            <div class="container">
                <h1 class="categoryLogo">
                    <img src="./asset/images/logo-comic.svg" alt="Comic" width="234" height="81">
                </h1>
            </div>
        </div>
    </main>
    {{> footer/footer}}

    {{> js swiper=true}}

</body>

</html>