<!DOCTYPE html>
<html lang="en">

{{> head page="category" swiper=true}}

<body>
    {{!> header/header login=true}}
    {{> header/header}}
    <main class="main category --kids" role="main">

        <div class="container">
        
            {{>breadcrumb parent="Elex Kids"}}
        
        </div>
        <div class="lead --small">
            <div class="container">
                <h1 class="categoryLogo">
                    <img src="./asset/images/logo-elex-kids.svg" alt="Elex Kids" width="100" height="100">
                </h1>
            </div>
        </div>
    </main>
    {{> footer/footer}}

    {{> js swiper=true}}

</body>

</html>