<!DOCTYPE html>
<html lang="en">

{{> head page=""}}

<body>
    {{!> header/header login=true}}
    {{!> header/header}}
    <main class="access" role="main">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-5 col-lg-4 col-xl-3 mx-auto">
                    <a href="index.html" class="center-flex">
                        <img src="./asset/images/logo-elex.svg" alt="Elex Media Komputindo" loading="lazy" width="92"
                            height="56">
                    </a>
                    <form action="#" class="form accessForm">
                        <h1 class="accessTitle text-center">Please input your account</h1>
                        <div class="formRow">
                            <input type="email" class="formInput" name="mail" id="mail" aria-label="Email"
                                placeholder="Email Address">
                        </div>
                        <div class="formRow">
                            <div class="formRel">
                                <button class="button buttonPass" aria-label="show hide password"
                                    onclick="showPassword(this)" toggle="#pass" type="button"></button>
                                <input type="password" class="formInput" aria-label="Password" name="pass" id="pass"
                                    placeholder="Password">
                            </div>
                        </div>
                        <div class="formRow">
                            <button type="submit" class="button buttonPrimary">Login</button>
                        </div>
                        <div class="accessTxt text-center">
                            or
                        </div>
                        <div class="formRow">
                            <button type="button" class="button buttonWhite center-flex">
                                <img src="./asset/images/logo-myvalue.svg" alt="" width="82" height="12">
                                Login with My Value</button>
                        </div>
                        <div class="formRow">
                            <button type="button" class="button buttonWhite center-flex">
                                <img src="./asset/images/logo-google.svg" alt="" width="22" height="22">
                                Login with Google</button>
                        </div>
                        <div class="formRow text-center">
                            <a href="forgot-pass.html" class="accessLink"><strong>Lupa password?</strong></a>
                        </div>
                        <div class="formRow text-center accessQuest">
                            Belum punya akun? <a href="register.html" class="cl-red"><strong>Daftar.</strong></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script>
        //show hide password
        function showPassword(btn) {
            let input = btn.getAttribute('toggle'),
                elInput = document.querySelector(input),
                type = elInput.getAttribute('type')
            if (type == "password") {
                elInput.setAttribute("type", "text");
                btn.classList.add('show');
            } else {
                elInput.setAttribute("type", "password");
                btn.classList.remove('show');
            }
        }
    </script>

</body>

</html>