<!DOCTYPE html>
<html lang="en">

{{> head page="media"}}

<body>
    {{!> header/header login=true}}
    {{> header/header}}
    <main class="main media" role="main">

        <div class="container">

            {{>breadcrumb parent="Photo"}}

        </div>
        <div class="lead">
            <div class="leadBg artBg">
                <img class="--left" src="./asset/images/logo-symbol.svg" alt="" width="225" height="155">
                <img class="--right" src="./asset/images/logo-symbol.svg" alt="" width="225" height="155">
            </div>
            <div class="container">
                <div class="leadContent">
                    <h1 class="leadCaption">Photo</h1>
                    <h2 class="leadText">Prey men quarterdeck belaying guns rat pinnace fluke main. Roger chain piracy
                        her
                        hogshead avast dock.</h2>
                    <form action="#" class="leadSort row">
                        <div class="col-md-4 col-lg-3 col-xl-2 leadSort__item">
                            <label for="sort">Sort by</label>
                            <div class="formSelect selectDrop">
                                <select name="sort" id="sort">
                                    <option value="0" selected>Newest</option>
                                    <option value="1">Oldest</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="mediaList row">

                {{!-- {{>media/video-item channel=media.Video col="col-md-4 col-lg-3" tag="h3"
                width="257" height="145" type="--video" index_start=0 index_end=4}}
                {{>media/video-item channel=media.Video col="col-md-4 col-lg-3" tag="h3"
                width="257" height="145" type="--video" index_start=0 index_end=4}}
                {{>media/video-item channel=media.Video col="col-md-4 col-lg-3" tag="h3"
                width="257" height="145" type="--video" index_start=0 index_end=4 lazy=true}}
                {{>media/video-item channel=media.Video col="col-md-4 col-lg-3" tag="h3"
                width="257" height="145" type="--video" index_start=0 index_end=4 lazy=true}} --}}

            </div>

            {{>paging}}

        </div>
    </main>
    <!-- s: popup video -->
    {{!>media/video-popup}}
    <!-- e: popup video -->

    {{> footer/footer}}

    {{> js medias=true}}

</body>

</html>