<!DOCTYPE html>
<html lang="en">

{{> head page="media" photoswipes=true}}

<body>
    {{!> header/header login=true}}
    {{> header/header}}
    <main class="main media" role="main">

        <div class="container">

            {{>breadcrumb parent="Photo"}}

        </div>
        <div class="lead">
            <div class="leadBg artBg">
                <img class="--left" src="./asset/images/logo-symbol.svg" alt="" width="225" height="155">
                <img class="--right" src="./asset/images/logo-symbol.svg" alt="" width="225" height="155">
            </div>
            <div class="container">
                <div class="leadContent">
                    <h1 class="leadCaption">Photo</h1>
                    <h2 class="leadText">Prey men quarterdeck belaying guns rat pinnace fluke main. Roger chain piracy
                        her
                        hogshead avast dock.</h2>
                    <form action="#" class="leadSort row">
                        <div class="col-md-4 col-lg-3 col-xl-2 leadSort__item">
                            <label for="sort">Sort by</label>
                            <div class="formSelect selectDrop">
                                <select name="sort" id="sort">
                                    <option value="0" selected>Newest</option>
                                    <option value="1">Oldest</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="mediaList row --photo">

                {{>media/photo-item channel=article.Komik col="col-md-4" tag="h3"
                width="380" height="215" type="--photo" index_start=0 index_end=3}}
                {{>media/photo-item channel=article.Komik col="col-md-4" tag="h3"
                width="380" height="215" type="--photo" index_start=2 index_end=5}}
                {{>media/photo-item channel=article.Quanta col="col-md-4" tag="h3"
                width="380" height="215" type="--photo" index_start=0 index_end=3 lazy=true}}
                {{>media/photo-item channel=article.Quanta col="col-md-4" tag="h3"
                width="380" height="215" type="--photo" index_start=2 index_end=5 lazy=true}}
                {{>media/photo-item channel=article.Kids col="col-md-4" tag="h3"
                width="380" height="215" type="--photo" index_start=0 index_end=3 lazy=true}}

            </div>

            {{>paging}}

        </div>
    </main>

    <!-- s: popup pswp template -->
    {{>media/pswp}}
    <!-- e popup pswp template -->

    {{> footer/footer}}

    {{> js medias=true photoswipes=true}}

</body>

</html>