<!DOCTYPE html>
<html lang="en">

{{> head page="read-product" 400i=true}}

<body>
    {{> header/header login=true}}
    {{!> header/header}}
    <main class="main rpro" role="main">

        <div class="container">

            {{>breadcrumb parent="Komik" parentlink="landing-komik.html" child="Naruto Side Story Seventh Hokage And The
            Scarlet Spring"}}

        </div>
        <div class="lead art --komik">
            <div class="artBg">
            </div>
        </div>
        <div class="container">
            <div class="rproWrap">
                <div class="rproImg__wrap">

                    {{>read/product-img}}

                    {{>read/product-cta}}

                </div>
                <div class="rproContent__wrap">

                    {{>read/product-content}}

                </div>
            </div>
            <div class="rproWrap">

                {{>read/product-rank}}

                {{>read/product-review}}

            </div>
            <div class="titleWrap mt40">
                <h2 class="title">Other <span class="cl-red">Recommendations</span></h2>
                <a href="catalog.html" class="titleLink">See All</a>
            </div>
            <div class="productCard__list productScroll">
                {{>product channel=product.Komik index_start=0 index_end=6 col="col col-xl-2" tag="h3"
                width="160" height="240" cta=true type="productCard" lazy=true}}
            </div>
            <div class="titleWrap mt40">
                <h2 class="title">Latest <span class="cl-red">Updates</span></h2>
                <a href="artikel.html" class="titleLink">All Updates</a>
            </div>
            <div class="artWidget">
                <div class="artList row">

                    {{>article channel=updates index_start=0 index_end=5 width="289" height="173"
                    lazy=true
                    tag="h3" col="col-6 col-md-3 col-xl-2" widget=true}}

                </div>
            </div>
        </div>
    </main>
    {{> footer/footer}}

    {{> js page="read"}}

</body>

</html>