<!DOCTYPE html>
<html lang="en">

{{> head page="profile"}}

<body>
    {{!> header/header login=true}}
    {{> header/header}}
    <main class="main profile" role="main">

        <div class="container">

            {{>breadcrumb parent="Profile"}}

        </div>
        <div class="lead">
            <div class="leadBg artBg">
                <img class="--left" src="./asset/images/logo-symbol.svg" alt="" width="225" height="155">
                <img class="--right" src="./asset/images/logo-symbol.svg" alt="" width="225" height="155">
            </div>
            <div class="container">
                <div class="leadContent profileUser center-flex col-xl-10 mx-auto">
                    <form action="#">
                        <div class="profileUpload center-flex upload-box">
                            <button class="button profileUpload__btn" aria-label="Upload Image">
                                <img src="./asset/images/user.jpg" alt="" width="100" height="100">
                            </button>
                            <img src="./asset/images/user-upload.png" alt="" width="30" height="30"
                                class="profileUpload__icon">
                            <input type="file" class="profileUpload__input image-upload" id="uploadImg" name="uploadImg"
                                accept="image/*">
                            <div class="profileUpload__img image-preview">
                            </div>
                        </div>
                    </form>
                    <div class="profileUser__misc">Welcome,</div>
                    <h1 class="profileUser__name">Fulan bin fulan</h1>
                    <button class="button profileLogout">Logout</button>
                </div>
            </div>
        </div>
        <div class="container">

            {{>profile/menu profile=true}}

            <div class="profileSetting mx-auto mt40">
                <h2 class="profileSetting__title">Edit Detail</h2>
                <form action="#" class="form">
                    <div class="formRow row">
                        <div class="formCol col">
                            <label class="formLabel" for="fname">First Name</label>
                            <input type="text" class="formInput" value="Fulan" name="fname" id="fname" placeholder="Your first name">
                        </div>
                    </div>
                    <div class="formRow row">
                        <div class="formCol col">
                            <label class="formLabel" for="lname">Last Name</label>
                            <input type="text" class="formInput" value="Bin Fulan" name="lname" id="lname" placeholder="Your last name">
                        </div>
                    </div>
                    <div class="formRow row">
                        <div class="formCol col">
                            <label class="formLabel" for="uname">Username</label>
                            <input type="text" class="formInput" value="Fulanafulan" name="uname" id="uname" placeholder="Pick username">
                        </div>
                    </div>
                    <div class="formRow row">
                        <div class="formCol col">
                            <label class="formLabel" for="mail">Email</label>
                            <input type="email" class="formInput" value="Fulan@isawesome.com" name="mail" id="mail" placeholder="me@awesome.com">
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="formCol">
                            <a href="profile-pass.html" class="buttonSecondary">Change Password</a>
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="formCol">
                            <button type="submit" class="button buttonSubmit">Save Profile</a>
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="formCol">
                            <a href="profile.html" class="buttonCancel">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    {{> footer/footer}}

    {{> js page="profile"}}

</body>

</html>