<!DOCTYPE html>
<html lang="en">

{{> head page="profile"}}

<body>
    {{!> header/header login=true}}
    {{> header/header}}
    <main class="main profile" role="main">

        <div class="container">

            {{>breadcrumb parent="Profile"}}

        </div>
        <div class="lead">
            <div class="leadBg artBg">
                <img class="--left" src="./asset/images/logo-symbol.svg" alt="" width="225" height="155">
                <img class="--right" src="./asset/images/logo-symbol.svg" alt="" width="225" height="155">
            </div>
            <div class="container">
                <div class="leadContent profileUser center-flex col-xl-10 mx-auto">
                    <form action="#">
                        <div class="profileUpload center-flex upload-box">
                            <button class="button profileUpload__btn" aria-label="Upload Image">
                                <img src="./asset/images/user.jpg" alt="" width="100" height="100">
                            </button>
                            <img src="./asset/images/user-upload.png" alt="" width="30" height="30"
                                class="profileUpload__icon">
                            <input type="file" class="profileUpload__input image-upload" id="uploadImg" name="uploadImg"
                                accept="image/*">
                            <div class="profileUpload__img image-preview">
                            </div>
                        </div>
                    </form>
                    <div class="profileUser__misc">Welcome,</div>
                    <h1 class="profileUser__name">Fulan bin fulan</h1>
                    <button class="button profileLogout">Logout</button>
                </div>
            </div>
        </div>
        <div class="container">

            {{>profile/menu profile=true}}

            <div class="profileSetting mx-auto mt40">
                <h2 class="profileSetting__title">Edit Detail</h2>
                <form action="#" class="form">
                    <div class="formRow row">
                        <div class="formCol col">
                            <div class="formRel">
                                <label class="formLabel" for="pass">Current Password</label>
                                <button class="button buttonPass" aria-label="show hide password"
                                    toggle="#pass" type="button"></button>
                                <input type="password" class="formInput" value="bagusnya4p4yah?" name="pass" id="pass">
                            </div>
                        </div>
                    </div>
                    <div class="formRow row">
                        <div class="formCol col">
                            <div class="formRel">
                                <label class="formLabel" for="npass">New Password</label>
                                <button class="button buttonPass" aria-label="show hide password"
                                    toggle="#npass" type="button"></button>
                                <input type="password" class="formInput" value="duh4p4dong?" name="npass" id="npass">
                            </div>
                        </div>
                    </div>
                    <div class="formRow row">
                        <div class="formCol col">
                            <div class="formRel">
                                <label class="formLabel" for="cpass">Retype New Password</label>
                                <button class="button buttonPass" aria-label="show hide password"
                                    toggle="#cpass" type="button"></button>
                                <input type="password" class="formInput" value="duhap4dong?" name="cpass" id="cpass">
                            </div>
                            <label class="formInfo error">Passwords do not match!</label>
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="formCol">
                            <button type="submit" class="button buttonSubmit">Save Password</button>
                            <label class="formInfo success">Passwords saved!</label>
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="formCol">
                            <a href="profile.html" class="buttonCancel">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    {{> footer/footer}}

    {{> js page="profile"}}

</body>

</html>