<!DOCTYPE html>
<html lang="en">

{{> head page=""}}

<body>
    {{!> header/header login=true}}
    {{> header/header}}
    <main class="main search" role="main">

        <div class="container">

            {{>breadcrumb parent="Hasil Pencarian"}}

        </div>
        <div class="lead">
            <div class="leadBg artBg">
                <img class="--left" src="./asset/images/logo-symbol.svg" alt="" width="225" height="155">
                <img class="--right" src="./asset/images/logo-symbol.svg" alt="" width="225" height="155">
            </div>
            <div class="container">
                <div class="leadContent col-xl-10 mx-auto">
                    <h1 class="searchCaption titleH4">Hasil pencarian</h1>
                    <form action="#">
                        <h2 class="searchForm">
                            <input type="search" class="searchInput searchForm__result leadCaption" value="sifat shalat"
                                name="search" id="searchresult" aria-label="Search result"
                                placeholder="Cari berdasarkan judul buku, penulis atau penerbit...">
                            <button class="button searchForm__cta searchCta center-flex" type="submit"
                                aria-label="search"><span class="ico icoSearch"></span></button>
                        </h2>
                    </form>
                    <div class="leadTxt">Terdapat <span class="cl-red">1</span> daftar produk yang mengandung frasa
                        'sifat shalat'</div>
                </div>
            </div>
        </div>
        <div class="container mt40">
            <div class="productCard__wrap col-lg-11 col-xl-10 mx-auto">
                <div class="productCard__list row">
                    {{>product channel=product.Komik index_start=1 index_end=6 col="col" tag="h3"
                    width="160" height="240" cta=true type="productCard"}}
                    {{>product channel=product.Komik index_start=0 index_end=10 col="col" tag="h3"
                    width="160" height="240" cta=true type="productCard" lazy=true}}
                </div>

                {{>paging}}

            </div>
        </div>
    </main>
    {{> footer/footer}}

    {{> js}}

</body>

</html>