.article {
    &Img {
        width: 178px;
        height: 155px;
        object-fit: cover;
        object-position: center;
        border-radius: 15px;

        &__wrap {
            &:hover {
                &~.articleBox {
                    .articleLink {
                        color: $cl_pink;
                    }
                }
            }
        }
    }

    &Box {
        flex: 1;
        padding-left: 16px;
    }

    &Link {
        @include title_overflow(auto, 80px);
        @include font-pack(false, 20px, 600, 26px, false);
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        &:hover {
            color: $cl_pink;
        }
    }

    &Subtitle {
        text-transform: uppercase;
        @include font-pack(false, 13px, 400, false, $cl_pink);
    }

    &Detail {

        .articleTime,
        .userName {
            @include font-pack(false, 12px, 400, false, $cl_grey);
        }
    }

    &Time {
        position: relative;
        margin-left: 14px;
        @include font-pack(false, 12px, 400, false, $cl_secondary_grey);

        &::before {
            content: '';
            display: inline-block;
            border-left: 1px solid $cl_secondary_grey;
            width: 1px;
            height: 14px;
            position: absolute;
            top: 1px;
            left: -8px;
        }
    }

    &Load {
        min-height: 505px;
    }

    &Pop {
        animation: popIn .2s;
    }
}