.clearfix {
    *zoom: 1;

    &:after,
    &:before {
        display: table;
        content: "";
        line-height: 0;
    }

    &:after {
        clear: both;
    }
}

.container {
    width: $grid_desktop;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.row {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-offset-fluid {
    margin-right: -15px;
    margin-left: -15px;
}

.col-offset-2 {
    margin-left: 20%;
}

.col-onset-fluid {
    margin-right: 15px;
    margin-left: 15px
}

.col-z-fluid {
    margin-right: 0;
    margin-left: 0
}

/*grid 10 column*/
.col-gd10,
.col-gd10-1,
.col-gd10-10,
.col-gd10-11,
.col-gd10-12,
.col-gd10-2,
.col-gd10-3,
.col-gd10-4,
.col-gd10-5,
.col-gd10-6,
.col-gd10-7,
.col-gd10-8,
.col-gd10-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px
}

.col-gd10-1 {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    max-width: 10%
}

.col-gd10-2 {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%
}

.col-gd10-3 {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    max-width: 30%
}

.col-gd10-5 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%
}

.col-gd10-7 {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    max-width: 70%
}

.col-gd10-8 {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    max-width: 80%
}

/*grid 12 column*/
.col-gd12,
.col-gd12-1,
.col-gd12-10,
.col-gd12-11,
.col-gd12-12,
.col-gd12-2,
.col-gd12-3,
.col-gd12-4,
.col-gd12-5,
.col-gd12-6,
.col-gd12-7,
.col-gd12-8,
.col-gd12-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px
}

.col-gd12-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%
}

.col-gd12-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%
}

.col-gd12-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%
}

.col-gd-740 {
    width: 740px;
    margin-right: 20px;
    margin-left: 15px;
}

.col-gd-300 {
    width: 300px;
    margin-right: 15px;
    margin-left: 15px;
}

.mr10 {
    margin-right: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.text-center {
    text-align: center;
}

.absolute-center {
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.flex-center {
    @include flexbox();
    justify-content: center;
    align-items: center;
}

.display-flex {
    @include flexbox();
}

.jcontent-center {
    justify-content: center;
}

.jcontent-between{
    justify-content: space-between;
}

.aitems-center {
    align-items: center;
}

.aitems-start {
    align-items: flex-start;
}

.dir-column {
    flex-direction: column;
}

.dir-row {
    flex-direction: row;
}