.header {
    &Fixed {
        justify-content: space-between;
        position: fixed;
        top: 0;
        min-width: $grid_nopad;
        min-height: 69px;
        width: 100%;
        padding: 16px 80px;
        border-bottom: 1px solid $cl_pink;
        background: $cl_white;
        z-index: 3;

        &__logo{
            max-width: 200px;
            opacity: 0;
            @include base_transition(all);

            &.active{
                opacity: 1;
            }
        }

        .icon-write{
            filter: brightness(0) invert(1);
            background-size: contain;
        }
    }

    &Content{
        margin-top: 130px;
    }

    &Stories{
        border-bottom: 0;
        justify-content: center;
    }
}