.bgColor {
    position: fixed;
    top: 0;
    left: 0;
    @include display_full;

    &__start {
        background: #F6E8C2;
        transition: opacity .7s ease-in-out;
    }

    &__intro {
        background: #9f7d74;
        transition: opacity .7s ease-in-out;

        @include min-responsive($w-vmd) {
            background: #a1887d;
        }
    }
}