.criteria {
    justify-content: center;
    flex-direction: column;

    &Content {
        @include min-responsive($w-vlg) {
            background: url(../images/intro-content-bg.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            @include max-height($w-hmd) {
                padding: 20px 75px;
            }
        }

        &::before {
            @include min-responsive($w-vlg) {
                @include max-height($w-hmd) {
                    top: 20px;
                    left: 40px;
                }
            }
        }

        &::after {
            @include min-responsive($w-vlg) {
                @include max-height($w-hmd) {
                    bottom: 20px;
                    right: 40px;
                }
            }
        }
    }

    &Title {
        font-size: 16px;

        @include min-responsive($w-vlg) {
            font-size: 30px;

            @include max-height($w-hmd) {
                font-size: 26px;
            }
        }
    }

    &List {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;

        @include min-responsive($w-vlg) {
            margin-top: 0;
        }

        @include min-responsive($w-xxxl) {
            margin-top: 35px;
        }
    }

    &Item {
        display: flex;
        align-items: flex-start;
        position: relative;
        width: 152.5px;
        // width: calc(100%/2 - 20px);
        background: #769F25;
        border-radius: 2px;
        margin: 20px 10px;
        padding: 20px 10px 4px 10px;
        height: 136px;
        top: var(--app-height);

        @include max-responsive($w-xm) {
            margin: 20px -4px;
        }

        @include min-responsive($w-vlg) {
            align-items: center;
            margin: 20px 20px 60px 60px;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 60px;
            padding-right: 12px;
            border-radius: 5px;
            border-top-right-radius: 22px;
        }

        &::before,
        &::after {
            content: '';
            left: 0;
            width: 100%;
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;

            @include min-responsive($w-vlg) {
                background-size: cover;
            }
        }

        &::before {
            top: -11px;
            height: 26px;
            background-image: url(../images/criteria-list-top.png);
            background-position: top;

            @include min-responsive($w-vlg) {
                top: -25px;
            }
        }

        &::after {
            bottom: -13px;
            height: 28px;
            background-image: url(../images/criteria-list-bottom.png);
            background-position: bottom;

            @include min-responsive($w-vlg) {
                bottom: -27px;
            }
        }

        &1 {

            @include min-responsive($w-vlg) {
                width: 334px;
                height: 170px;
            }

            .criteriaItem__wrap::before {
                @include min-responsive($w-vlg) {
                    @include max-height($w-hmd) {
                        left: -7px;
                    }
                }
            }

            .criteriaItem__wrap::after {

                @include min-responsive($w-vlg) {
                    top: -13px;
                    height: calc(100% + 37px);

                    @include max-height($w-hmd) {
                        top: -8px;
                        height: calc(100% + 28px);
                    }
                }
            }
        }

        &2 {

            @include min-responsive($w-vlg) {
                width: 400px;
                height: 170px;
            }

            &::before {
                @include min-responsive($w-vlg) {
                    left: -5px;
                }
            }

            .criteriaItem__wrap::after {

                @include min-responsive($w-vlg) {
                    height: calc(100% + 20px);

                    @include max-height($w-hmd) {
                        right: -7px;
                    }
                }
            }

            .criteriaItem__wrap::before {
                @include min-responsive($w-vlg) {
                    top: -1px;
                    left: -7px;
                }
            }
        }

        &3 {

            @include min-responsive($w-vlg) {
                width: 391px;
                height: 206px;
            }

            .criteriaItem__wrap::after {

                @include min-responsive($w-vlg) {
                    top: -15px;

                    @include max-height($w-hmd) {
                        top: -4px;
                        right: -9px;
                        height: calc(100% + 22px);
                    }
                }
            }

            .criteriaItem__wrap::before {
                @include min-responsive($w-vlg) {
                    @include max-height($w-hmd) {
                        top: 2px;
                        left: -8px;
                    }
                }
            }

            &::before {
                @include min-responsive($w-vlg) {
                    left: -4px;
                }
            }
        }

        &4 {

            @include min-responsive($w-vlg) {
                width: 340px;
                height: 225px;
            }

            .criteriaItem__wrap::after {

                @include min-responsive($w-vlg) {
                    top: -33px;

                    @include max-height($w-hmd) {
                        top: -8px;
                    }
                }
            }

            .criteriaItem__wrap::before {

                @include min-responsive($w-vlg) {
                    top: -5px;

                    @include max-height($w-hmd) {
                        top: 2px;
                        left: -9px;
                    }
                }
            }
        }

        @include min-responsive($w-vlg) {
            @include max-height($w-hmd) {
                margin: 30px 20px 34px 60px;
                height: 136px;
            }
        }

        &__wrap {

            &::before,
            &::after {
                content: '';
                top: 0;
                height: 100%;
                position: absolute;
                background-repeat: no-repeat;
            }

            &::before {
                left: -8px;
                width: 11px;
                background-image: url(../images/criteria-list-left.png);
                background-size: contain;
                background-position: left;

                @include min-responsive($w-vlg) {
                    left: -10px;
                    background-size: cover;

                    @include max-height($w-hmd) {
                        background-size: contain;
                    }
                }
            }

            &::after {
                top: -6px;
                right: -13px;
                height: calc(100% + 18px);
                width: 32px;
                background-image: url(../images/criteria-list-right.png);
                background-size: contain;
                background-position: right;

                @include min-responsive($w-vlg) {
                    top: -2px;
                    right: -11px;
                    height: calc(100% + 28px);
                }
            }
        }
    }

    &Num {
        position: absolute;
        text-align: right;
        top: -21px;
        left: 10px;
        width: 28px;

        @include min-responsive($w-vlg) {
            top: 28px;
            left: -46px;
            width: 93px;

            @include max-height($w-hmd) {
                top: 18px;
            }
        }
    }

    &Txt {
        position: relative;
        font-size: 12px;
        z-index: 1;

        @include min-responsive($w-vlg) {
            font-size: 24px;

            @include max-height($w-hmd) {
                font-size: 18px;
            }
        }
    }
}