.distance {
    &.active {
        .distanceLine {
            animation: draw 700ms linear 400ms 1 forwards;
        }
    }

    &Content {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        background: #E60000;
        border-radius: 7px;
        top: var(--app-height);
        max-width: 300px;
        margin-top: 240px;
        left: 35px;

        @include max-responsive($w-xm) {
            margin-top: 260px;
            left: 8px;
        }

        @include min-responsive($w-vlg) {
            position: absolute;
            margin-top: 0;
            left: 428px;
            padding: 20px 50px;
            width: 398px;
            max-width: unset;
            height: 240px;
            background: url(../images/distance-content-bg.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        @include range-responsive($w-md, $w-vlg) {
            position: relative;
            max-width: 345px;
            margin-top: 460px;
            left: 0;
        }

        @include min-responsive($w-xl) {
            margin-top: 114px;

            @include max-height($w-hmd) {
                padding: 10px 55px;
                width: 380px;
                height: 240px;
            }
        }

        @include min-responsive($w-xxxl) {
            padding: 20px 50px;
            width: 449px;
            height: 312px;
            position: absolute;
            left: 878px;
            margin-top: 18px;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 1;
        }

        &::before {
            width: 58px;
            height: 37px;
            top: -7px;
            left: 4px;
            background-image: url(../images/content-before-thick-m.png);
            background-size: contain;
            background-repeat: no-repeat;

            @include min-responsive($w-vlg) {
                top: 22px;
                left: 22px;
            }

            @include min-responsive($w-xl) {
                top: 22px;
                left: 42px;
                height: 50px;
            }

            @include min-responsive($w-xxxl) {
                width: 89px;
                top: 20px;
                background-image: url(../images/content-before-thick.png);
            }
        }

        &::after {
            width: 56px;
            bottom: -12px;
            right: -16px;
            height: 34px;
            background-image: url(../images/content-after-thick-m.png);
            background-size: contain;
            background-repeat: no-repeat;

            @include min-responsive($w-vlg) {
                bottom: 14px;
                right: -2px;
            }

            @include min-responsive($w-xl) {
                width: 60px;
                height: 46px;
                bottom: 15px;
                right: 28px;
            }

            @include min-responsive($w-xxxl) {
                width: 85px;
                height: 46px;
                bottom: 20px;
                background-image: url(../images/content-after.png);
            }
        }
    }

    &Line {
        position: absolute;
        bottom: -68px;
        right: calc(100% - 318px/2 - 40px);
        width: 318px;
        stroke-dasharray: 660;
        stroke-dashoffset: -660;

        @include min-responsive($w-xxxl) {
            width: auto;
            bottom: -100px;
            right: calc(100% - 573px/2 + 40px);
        }

        &__mob {
            display: block;
            bottom: -117px;
            height: 105px;
            right: 0;

            @include min-responsive($w-md) {
                height: 215px;
                bottom: 127px;
                right: 20px;
            }

            @include min-responsive($w-vmd) {
                height: 105px;
            }

            @include min-responsive($w-vlg) {
                height: 228px;
                bottom: 220px;
            }

            @include min-responsive($w-xl) {
                display: none;
            }
        }

        &__desk {
            display: none;

            @include min-responsive($w-xl) {
                display: block;
            }
        }
    }

    &Title {

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 0;

            @include min-responsive($w-vlg) {
                content: none;
            }
        }

        &::before {
            left: -8px;
            width: calc(100% + 20px);
            top: -23px;
            height: 38px;
            background-image: url(../images/distance-content-top-m.png);
            background-position: top;

            @include max-responsive($w-xm) {
                top: -22px;
                width: calc(100% + 18px);
            }
        }

        &::after {
            left: -8px;
            width: calc(100% + 15px);
            bottom: -22px;
            height: 37px;
            background-image: url(../images/distance-content-bottom-m.png);
            background-position: bottom;

            @include max-responsive($w-xm) {
                bottom: -18px;
            }
        }

        &__wrap {
            padding: 15px;
            height: 116px;
            display: flex;
            align-items: center;

            @include min-responsive($w-vlg) {
                padding: 0;
                height: auto;
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                z-index: 0;

                @include min-responsive($w-vlg) {
                    content: none;
                }
            }

            &::before {
                top: -15px;
                left: -8px;
                height: calc(100% + 27px);
                width: 11px;
                background-image: url(../images/distance-content-left-m.png);
                background-position: top;
            }

            &::after {
                top: -13px;
                right: -12px;
                height: calc(100% + 25px);
                width: 18px;
                background-image: url(../images/distance-content-right-m.png);
                background-position: bottom;
            }
        }
    }
}