.perwira {
    &Static {
        @include max-responsive($w-xm) {
            opacity: 0 !important
        }
    }

    &Pos {
        width: 100%;
        justify-content: flex-start;
        align-items: flex-end;
    }

    &Head {
        position: absolute;
        width: 244px;
        height: 281px;
        top: -250px;
        left: 60px;
        opacity: 0;

        @include max-responsive($w-md) {
            width: 57px;
            height: 67px;
            top: unset;
            bottom: 52px;
            left: 21px;
        }

        &1{
            opacity: 1;
        }
    }

    &Wrap {
        position: relative;
        left: 50%;
        transform: scale(1) translate(-50%, 0);

        @include min-responsive($w-vmd) {
            left: 40px;
            transform: scale(.6) translate(-167px, 77px);
        }

        @include min-responsive($w-xxxl) {
            transform: none;
        }
    }
}