.perwira {
    &Static {
        justify-content: flex-start;
        align-items: flex-end;
    }

    &Head {
        position: absolute;
        width: 244px;
        height: 281px;
        top: -250px;
        left: 60px;
    }

    &Wrap {
        position: relative;
        left: 40px;
        transform: scale(.6) translate(-167px, 77px);

        @include min-responsive($w-xxxl) {
            transform: none;
        }
    }
}