.popup {
    opacity: 0;
    pointer-events: none;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .7s;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    &4,
    &5,
    &7,
    &8 {
        .popupContent__wrap {
            @include min-responsive($w-vlg) {
                padding: 60px 284px 60px 40px;
            }
        }

        .popupName {
            @include min-responsive($w-vlg) {
                font-size: 35px;
            }
        }
    }

    &Wrap {
        display: flex;
        flex-direction: column;

        @include min-responsive($w-vlg) {
            flex-direction: row;
            justify-content: center;
        }
    }

    &Img {
        position: relative;
        max-width: 200px;

        @include min-responsive($w-vlg) {
            max-width: unset;
            position: absolute;
            right: 50px;
        }

        img {
            max-height: 160px;

            @include min-responsive($w-vlg) {
                max-height: 400px;
            }

            @include range-responsive($w-md, $w-vlg) {
                max-height: 350px;
            }
        }
    }

    &Content {
        order: 1;
        background: $cl-green;
        position: relative;
        margin-top: -30px;

        @include min-responsive($w-vlg) {
            display: flex;
            align-items: center;
            order: unset;
            margin-top: 0;
            max-width: 800px;
            background: url(../images/figure-pop.png);
            background-size: contain;
            background-repeat: no-repeat;

        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: -1;

            @include min-responsive($w-vlg) {
                content: none;
            }
        }

        &::before {
            left: -9px;
            width: calc(100% + 16px);
            top: -9px;
            height: 20px;
            background-image: url(../images/intro-content-top-m.png);
            background-position: top;

            @include max-responsive($w-xm) {
                top: -8px;
            }

            @include range-responsive($w-md, $w-vlg) {
                left: -19px;
                width: calc(100% + 33px);
                top: -19px;
            }
        }

        &::after {
            left: -7px;
            width: calc(100% + 14px);
            bottom: -11px;
            height: 18px;
            background-image: url(../images/intro-content-bottom-m.png);
            background-position: bottom;

            @include range-responsive($w-md, $w-vlg) {
                left: -16px;
                width: calc(100% + 32px);
                bottom: -24px;
                height: 25px;
            }

            @include max-responsive($w-xm) {
                bottom: -9px;
            }
        }

        &__wrap {
            padding: 40px 10px 20px;

            @include min-responsive($w-vlg) {
                padding: 60px 344px 60px 40px;
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                z-index: -1;

                @include min-responsive($w-vlg) {
                    content: none;
                }
            }

            &::before {
                top: -13px;
                left: -16px;
                height: calc(100% + 26px);
                width: 20px;
                background-image: url(../images/intro-content-left-m.png);
                background-position: top;

                @include max-responsive($w-xm) {
                    top: -14px;
                    left: -16px;
                }

                @include range-responsive($w-md, $w-vlg) {
                    top: -8px;
                    left: -14px;
                    height: calc(100% + 16px);
                }
            }

            &::after {
                top: -12px;
                right: -12px;
                height: calc(100% + 28px);
                width: 16px;
                background-image: url(../images/intro-content-right-m.png);
                background-position: bottom;

                @include range-responsive($w-md, $w-vlg) {
                    top: -7px;
                    right: -11px;
                    height: calc(100% + 17px);
                }
            }
        }
    }

    &Name {
        @include font-pack($family: $font_caption, $size: 22px, $weight: $font-weight-normal , $colour: $cl-yellow);
        letter-spacing: 1px;
        text-transform: uppercase;

        @include max-responsive($w-xm) {
            font-size: 18px;
        }

        @include min-responsive($w-vlg) {
            font-size: 40px;
            letter-spacing: unset;
        }
    }

    &Title {
        @include font-pack($size: 16px, $weight: $font-weight-sbold , $colour: $cl-white);
        margin-bottom: 10px;
        letter-spacing: 1px;

        @include min-responsive($w-vlg) {
            font-size: 26px;
            letter-spacing: unset;
        }
    }

    &Quote {
        @include font-pack($size: 16px, $weight: $font-weight-sbold);
        font-style: italic;

        @include min-responsive($w-vlg) {
            font-size: 22px;
        }
    }
}