.preloader {
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1001;
    position: fixed;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .7s;
    background: #183C6E;

    &.done {
        opacity: 0;
        pointer-events: none;
    }

    &Wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &Meter {
        position: relative;
        width: 120px;
        height: 16px;
        margin: 2px auto;
        box-sizing: content-box;
        overflow: hidden;
        padding-top: 2px;
        padding-bottom: 2px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;

        >span {
            display: block;
            height: 100%;
            // background-color: #CFAC68;
            position: relative;
            overflow: hidden;
        }

        >span::after,
        .anim>span>span {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-image: linear-gradient(-90deg, #fff 50%, transparent 0, transparent 50%, #fff 0, #fff calc(100% - 4px), transparent 0, transparent);
            z-index: 1;
            background-size: 28px 16px;
            // animation: moveloading 2s linear infinite;
            margin: auto;
            width: calc(100% - 4px);
            overflow: hidden;
        }
    }

    &Bar {
        width: 0%;
    }

    &Img {
        &__wrap {
            position: relative;
            max-width: 120px;
        }
    }

    &Gear {
        position: absolute;
        width: 28px;
        top: 16px;
        right: 5px;
        @include animation(spinleft 4s linear infinite);
    }
}