.scrollWrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    border-radius: 0.9375rem;
    width: 1.5rem;
    height: 3.4375rem;
    border: 0.1875rem solid $cl-white;
    z-index: 0;

    .scroll {
        width: 10px;
        border-radius: 8px;
        background-color: $cl-white;
        position: absolute;
        top: 0.25rem;
        left: 0.25rem;
        right: 0;
        bottom: 2.125rem;
        z-index: 99;
        -webkit-animation: scroll 1500ms ease-out infinite;
        animation: scroll 1500ms ease-out infinite;
    }
}