.synergy {
    justify-content: center;
    flex-direction: column;

    &Wrap {
        top: var(--app-height);
        background: #F6E8C2;
    }

    &Content {
        position: relative;
        padding: 20px 30px;
        margin-left: auto;
        margin-right: auto;
        background: $cl-green;
        top: var(--app-height);

        @include min-responsive($w-vlg) {
            width: 734px;
            height: 220px;
            background: url(../images/intro-content-bg.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            @include max-height($w-hmd) {
                width: 650px;
            }
        }

        @include min-responsive($w-xxxl) {
            width: 1027px;
            height: 273px;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 1;
        }

        &::before {
            width: 70px;
            height: 50px;
            top: 6px;
            left: 0;
            background-image: url(../images/content-before-m.png);
            background-size: contain;
            background-repeat: no-repeat;

            @include min-responsive($w-vlg) {
                top: 36px;
                left: 18px;
                background-image: url(../images/content-before.png);
            }

            @include min-responsive($w-xxxl) {
                width: 89px;
                top: 30px;
                left: 30px;
            }
        }

        &::after {
            width: 72px;
            height: 35px;
            bottom: 0;
            right: 10px;
            background-image: url(../images/content-after-m.png);
            background-size: contain;
            background-repeat: no-repeat;

            @include min-responsive($w-vlg) {
                bottom: 30px;
                right: 30px;
                height: 46px;
                background-image: url(../images/content-after.png);
            }

            @include min-responsive($w-xxxl) {
                width: 85px;
                height: 46px;
            }
        }
    }

    &List {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 25px;

        @include min-responsive($w-vmd) {
            margin-top: 60px;
            flex-direction: row;

            @include max-height($w-hmd) {
                margin-top: 30px;
            }
        }

        @include min-responsive($w-xxxl) {
            margin-top: 80px;
        }
    }

    &Anim {
        position: absolute;
        width: 100%;
        margin-left: -15px;
        margin-right: -15px;
        opacity: 0;

        @include min-responsive($w-xl) {
            width: $width-container;

            @include max-height($w-hmd) {
                width: $w-vlg;
            }
        }

        @include min-responsive($w-xxl) {
            width: 1280px;
        }

        div {
            max-width: 90%;

            @include min-responsive($w-xl) {
                max-width: 60%;
            }

            @include min-responsive($w-xxxl) {
                max-width: unset;
            }
        }
    }

    &Item {
        position: relative;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        border-top-left-radius: 7px;
        top: var(--app-height);

        @include min-responsive($w-vmd) {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 20px;
            margin-right: 20px;
        }

        @include min-responsive($w-xxxl) {
            margin-left: auto;
            margin-right: auto;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 0;

            @include min-responsive($w-vlg) {
                content: none;
            }
        }

        &::before {
            left: -12px;
            width: calc(100% + 18px);
            top: -6px;
            height: 18px;
            background-image: url(../images/synergy-content-top-m.png);
            background-position: top;

            @include max-responsive($w-xm) {
                left: -5px;
                width: calc(100% + 4px);
            }
        }

        &::after {
            left: -2px;
            width: calc(100% + 2px);
            bottom: -7px;
            height: 18px;
            background-image: url(../images/synergy-content-bottom-m.png);
            background-position: bottom;
        }

        &__wrap {

            &::before,
            &::after {
                content: '';
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                z-index: 0;

                @include min-responsive($w-vlg) {
                    content: none;
                }
            }

            &::before {
                top: -12px;
                left: -25px;
                height: calc(100% + 17px);
                width: 31px;
                background-image: url(../images/synergy-content-left-m.png);
                background-position: top;
            }

            &::after {
                top: -7px;
                right: -22px;
                height: calc(100% + 18px);
                width: 28px;
                background-image: url(../images/synergy-content-right-m.png);
                background-position: bottom;
            }
        }

        &1 {
            background: $cl-green;

            @include min-responsive($w-vlg) {
                width: 355px;
                height: 365px;
                padding: 32px 20px;
                background: url(../images/synergy-list-bg1.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;

                @include max-height($w-hmd) {
                    width: 290px;
                    height: 305px;
                }
            }

            @include min-responsive($w-xxxl) {
                width: 414px;
                height: 422px;
                padding: 40px 42px;
            }
        }

        &2 {
            background: $cl-green;

            @include min-responsive($w-vlg) {
                width: 385px;
                height: 320px;
                padding: 32px 25px;
                background: url(../images/synergy-list-bg2.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;

                @include max-height($w-hmd) {
                    width: 320px;
                    height: 260px;
                }
            }

            @include min-responsive($w-xxxl) {
                width: 437px;
                height: 357px;
                padding: 40px 42px;
            }
        }
    }

    &Title {
        @include min-responsive($w-vlg) {
            font-size: 30px;

            @include max-height($w-hmd) {
                font-size: 26px;
            }
        }

        @include min-responsive($w-xxxl) {
            font-size: 40px;
        }
    }

    &Txt {
        display: flex;
        align-items: center;
        height: 110px;
        font-size: 14px;

        @include max-responsive($w-xm) {
            font-size: 12px;
            padding: 0 10px;
        }

        @include min-responsive($w-vlg) {
            height: auto;
            font-size: 22px;

            @include max-height($w-hmd) {
                font-size: 18px;
            }
        }

        @include min-responsive($w-xxxl) {
            font-size: 24px;
        }
    }
}