.vital {

    &Wrap {
        @include min-responsive($w-vlg) {
            margin-bottom: calc(var(--app-height) - (var(--app-height) - 28%));
        }

        @include min-responsive($w-xl) {
            margin-bottom: calc(var(--app-height) - (var(--app-height) - 5%));
        }
    }

    &Content {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        background: #289FC5;
        top: var(--app-height);

        @include min-responsive($w-vlg) {
            padding: 20px 26px;
            width: 935px;
            height: 220px;
            background: url(../images/vital-content-bg.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            @include max-height($w-hmd) {
                width: 790px;
            }
        }

        @include min-responsive($w-xxxl) {
            padding: 20px 48px;
            width: 1027px;
            height: 183px;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 1;
        }

        &::before {
            width: 58px;
            height: 50px;
            top: 6px;
            left: 0;
            background-image: url(../images/content-before-m.png);
            background-size: contain;
            background-repeat: no-repeat;

            @include min-responsive($w-vlg) {
                top: 46px;
                left: 16px;
                background-image: url(../images/content-before.png);

                @include max-height($w-hmd) {
                    top: 54px;
                    left: 10px;
                }
            }

            @include min-responsive($w-xxxl) {
                width: 89px;
                top: 20px;
            }
        }

        &::after {
            width: 60px;
            height: 35px;
            bottom: 0;
            right: 10px;
            background-image: url(../images/content-after-m.png);
            background-size: contain;
            background-repeat: no-repeat;

            @include min-responsive($w-vlg) {
                bottom: 30px;
                right: 16px;
                height: 46px;
                background-image: url(../images/content-after.png);

                @include max-height($w-hmd) {
                    bottom: 40px;
                }
            }

            @include min-responsive($w-xxxl) {
                width: 85px;
                height: 46px;
                bottom: 20px;
            }
        }
    }

    &Title {

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 0;

            @include min-responsive($w-vlg) {
                content: none;
            }
        }

        &::before {
            left: -6px;
            width: calc(100% + 11px);
            top: -11px;
            height: 22px;
            background-image: url(../images/vital-content-top-m.png);
            background-position: top;

            @include max-responsive($w-xm) {
                top: -8px;
            }

            @include range-responsive($w-md, $w-vlg) {
                left: -19px;
                width: calc(100% + 33px);
                top: -19px;
            }
        }

        &::after {
            left: -6px;
            width: calc(100% + 11px);
            bottom: -13px;
            height: 26px;
            background-image: url(../images/vital-content-bottom-m.png);
            background-position: bottom;

            @include range-responsive($w-md, $w-vlg) {
                left: -16px;
                width: calc(100% + 32px);
                bottom: -24px;
                height: 25px;
            }

            @include max-responsive($w-xm) {
                bottom: -9px;
            }
        }

        &__wrap {
            padding: 18px 20px 10px;
            height: 174px;
            display: flex;
            align-items: center;

            @include min-responsive($w-vlg) {
                padding: 0;
                height: auto;
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                z-index: 0;

                @include min-responsive($w-vlg) {
                    content: none;
                }
            }

            &::before {
                top: -22px;
                left: -9px;
                height: calc(100% + 49px);
                width: 10px;
                background-image: url(../images/vital-content-left-m.png);
                background-position: top;
            }

            &::after {
                top: -20px;
                right: -8px;
                height: calc(100% + 45px);
                width: 9px;
                background-image: url(../images/vital-content-right-m.png);
                background-position: bottom;
            }
        }
    }
}