.warning {
    &Bg {
        // background: radial-gradient(50% 50.00% at 50% 50.00%, var(--myColor1) 0%, var(--myColor2) 95%, var(--myColor3) 100%);
        background: -moz-radial-gradient(circle, var(--myColor1) 0%, var(--myColor2) 60%, var(--myColor3) 100%);
        background: -webkit-radial-gradient(circle, var(--myColor1) 0%, var(--myColor2) 60%, var(--myColor3) 100%);
        background: radial-gradient(circle, var(--myColor1) 0%, var(--myColor2) 60%, var(--myColor3) 100%);
        transition: --myColor1 2s, --myColor2 2s, --myColor3 2s;

        &.active {
            --myColor1: rgba(234, 38, 25, 1);
            --myColor2: rgba(234, 38, 25, 1);
            --myColor3: rgba(234, 38, 25, 1);
        }
    }

    &Siren {
        width: 160px;
        opacity: 0;

        @include min-responsive($w-vmd) {
            width: auto;
        }
    }
}

@property --myColor1 {
    syntax: '<color>';
    initial-value: rgba(254, 153, 60, 0.00);
    inherits: false;
}

@property --myColor2 {
    syntax: '<color>';
    initial-value: rgba(227, 131, 42, 0.20);
    inherits: false;
}

@property --myColor3 {
    syntax: '<color>';
    initial-value: rgba(234, 38, 25, 0.50);
    inherits: false;
}