.cover {
    position: relative;

    &Cta {
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 40px;
        border-radius: 35px;
        background: $cl-white;
        border: 1px solid #2D5788;
        position: absolute;
        bottom: calc(var(--app-height) - var(--app-height) + -28px);
        @include font-pack($font_base_black, 22px, $font-weight-black, normal, #2D5788);

        @include min-responsive($w-md) {
            position: relative;
            bottom: unset;
            left: unset;
            transform: none;
        }
    }

    &Title {
        position: relative;
        z-index: 1;
        top: calc(var(--app-height) - var(--app-height) - 186px);

        @include min-responsive($w-md) {
            top: calc(var(--app-height) - var(--app-height) - 216px);
        }

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            top: calc(var(--app-height) - var(--app-height) - 175px);
        }

        &__top {
            margin-bottom: -18px;

            @include min-responsive($w-md) {
                margin-bottom: -35px;
            }

            @include min-responsive($w-xxl) {
                margin-bottom: -60px;
            }

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                margin-bottom: -35px;
            }
        }

        img {
            @include min-responsive($w-md) {
                max-width: 60%;
            }

            @include min-responsive($w-xxl) {
                max-width: 100%;
            }

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                max-width: 60%;
            }
        }
    }

    &Cloud {
        position: absolute;
        left: -140px;
        top: -152px;
        width: 612px;
        height: 213px;
        background: url(../images/cover-cloud-small.png);
        transform: scale(80%);

        &.move {
            animation: cloud-move 12s ease-in-out infinite alternate both;
        }

        &2 {
            left: 0;
            top: -134px;
            transform: rotate(180deg);

            &.move {
                animation: cloud-move2 16s ease-in-out infinite alternate both;
            }

            @include min-responsive($w-md) {
                left: unset;
                right: 40px;
                top: -134px;
            }
        }
    }

    &Airport,
    &Hill {
        bottom: 220px;

        @include max-responsive($w-xm) {
            bottom: 150px;
        }

        @include min-responsive($w-md) {
            bottom: 208px;
        }

        @include min-responsive($w-xxxl) {
            bottom: 271px;
        }

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            bottom: 135px;
        }

        img {
            transform: scale(80%) translateY(58px) translateX(-530px);
        }
    }

    &Runway {
        bottom: 0;
        background: #6B6387;

        @include max-responsive($w-xm) {
            bottom: -69px;
        }

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            bottom: -73px;
        }

        img {
            transform: scale(80%) translateY(-27px) translateX(-530px);

            @include min-responsive($w-xxl) {
                max-height: 208px;
            }

            @include min-responsive($w-xxxl) {
                max-height: 271px;
            }
        }
    }

    &Plant {
        bottom: 0;
        left: 0;
        width: calc(100vw * 2);
        height: 130px;
        background: url(../images/cover-plant.png) repeat-x;
        background-size: cover;
        background-position: -100px bottom;

        @include min-responsive($w-md) {
            left: 0;
            height: 195px;
            background-size: contain;
        }

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            height: 125px;
        }
    }

    &Img {
        position: absolute;
        left: 0;
        transition: left .7s ease-out;

        img {
            max-width: unset;
            vertical-align: bottom;

            @include min-responsive($w-md) {
                transform: none;
            }
        }
    }

    &Hill,
    &Runway {
        img {
            @include min-responsive($w-xl) {
                min-width: calc(100vw * 2);
            }
        }
    }

    &Airport {
        img {
            @include min-responsive($w-md) {
                position: relative;
                left: -232px;
            }

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                max-width: 84%;
            }
        }
    }

    &.active {
        .coverCta {
            pointer-events: all;
        }
    }

    &.left {
        .coverImg {
            left: -1200px;

            @include min-responsive($w-md) {
                left: -100vw;
            }
        }
    }
}