.goglobal {
    justify-content: center;

    &Article {
        margin-top: 23px;
        position: relative;

        @include min-responsive($w-md) {
            margin-top: 43px;
        }
    }

    .articleCaption {
        max-width: 258px;
        margin-left: auto;
        margin-right: auto;

        @include min-responsive($w-md) {
            max-width: 558px;
        }
    }
}