.goglobal {
    &Article {
        margin-top: 23px;
        position: relative;
        top: 100vh;

        @include min-responsive($w-md) {
            margin-top: 43px;
        }
    }

    &Anim {
        position: absolute;

        &1 {
            width: 214px;
            height: 219px;
            right: 0;
            bottom: -30px;

            @include max-responsive($w-xm) {
                right: -28px;
                bottom: -33px;
            }

            @include min-responsive($w-md) {
                width: 400px;
                height: 411px;
                bottom: unset;
                top: 26px;
                right: 20px;
            }

            @include min-responsive($w-xxl) {
                right: 90px;
            }

            @include range-responsive($w-md, $w-xl) {
                top: -30px;
            }

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                width: 300px;
                height: 311px;
                right: 40px;
            }
        }

        &2 {
            width: 234px;
            height: 108px;
            left: 0;
            bottom: 175px;

            @include max-responsive($w-xm) {
                left: -30px;
                bottom: 0;
            }

            @include min-responsive($w-md) {
                width: 595px;
                height: 275px;
                bottom: 0;
                left: -20px;
            }

            @media only screen and(max-height: 700px) and(orientation: landscape) {
                width: 495px;
                height: 175px;
            }
        }
    }

    &Wrap {
        padding-bottom: 225px;
        justify-content: center;
        height: var(--app-height);

        @include max-responsive($w-xm) {
            padding-bottom: 168px;
        }

        @include min-responsive($w-md) {
            padding-bottom: 0;
        }

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            position: relative;
            z-index: 1;
        }
    }

    .articleCaption {
        max-width: 258px;
        margin-left: auto;
        margin-right: auto;

        @include min-responsive($w-md) {
            max-width: 558px;
        }
    }
}