.onfixed {
    background: #dbdbdb;
    transition: all .5s ease-out;
    overflow: hidden;
    @extend .hidden;

    .detailTitle {
        @include title_clamp(1);
        @include font-pack(false, 15px, $font-weight-sbold, false, $cl-black);
    }

    &.active{
        @extend .visible;
        padding-top: 6px;
        padding-bottom: 6px;
        height: 32px;
    }
}