<h2 class="listTitle">{{title}}</h2>
<div class="listBox">
    {{#each eventMenu}}
    <div class="listItem">
        <a href="{{link}}" class="listLink{{#eq ../page compare=title}} active{{/eq}}">{{title}}</a>
    </div>
    {{/each}}
</div>