<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <!-- Google Tag Manager -->
    {{> gtm2}}
    <!-- End Google Tag Manager -->

    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- preloader -->
    {{!> preloader}}
    <!-- preloader -->

    <!-- main -->
    <main role="main">
        <!-- intro -->
        <section class="intro">

        </section>
        <!-- intro -->
    </main>
    <!-- main -->

    <!-- footer -->
    {{> credit}}

    {{> js}}

</body>

</html>