<div class="contact">
    <div class="contactBg">
        <img src="./asset/images/bg-footer.jpg" alt="" width="1440" height="64">
    </div>
    <div class="contactWrap titleP3 center-flex">
        <div class="contactItem center-flex">
            Ingin menjadi bagian dari Saoraja Priority
            <a href="#" class="buttonPrimary">Daftar Sekarang</a>
        </div>
        <div class="contactItem">
            Contact Center: <span>1500-855</span>
        </div>
        <div class="contactItem">
            <a href="#" class="center-flex" target="_blank" rel="noopener noreferrer">
                <img src="./asset/images/icon/icon-wa.svg" alt=""  width="32" height="32">
                <span class="contactChat">Whatsapp</span>
            </a>
        </div>
    </div>
</div>