{{>footer/contact type="fixed"}}

<footer class="footer">
    <div class="share --footer center-flex">
        <div class="shareCaption">Share this page</div>
        <div class="shareList">

            {{!>share channel=share}}

        </div>
    </div>

    {{>footer/contact}}

    <div class="footerMenu">
        <ul class="footerList">

            {{#each footerMenu}}
            <li class="footerItem">
                <a href="{{link}}" class="footerLink">{{title}}</a>
            </li>
            {{/each}}

        </ul>
    </div>
    <div class="footerCopy">&copy; Gramedia 2024</div>
</footer>