<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- preloader -->
    {{!> preloader}}
    <!-- preloader -->

    <!-- main -->
    <main role="main">

        <div class="bgStatic bgStatic--warn">
            <div class="articleContent text-center">
                For better experience, rotate your screen or switch to bigger screen.
            </div>
        </div>

        <!-- Template Background Color -->
        <div class="bgColor__wrap">
            <div class="bgColor bgColor__blue"></div>
        </div>
        <!-- Template Background Color -->

        <!-- Template Image Content -->
        <div class="bgStatic__wrap active">
            <div class="bgStatic">
                <div class="cover heightFull active opac0">
                    <div class="coverCloud">
                        {{!-- <picture class="coverCloud__img coverCloud1 coverImg">
                            <img srcset="./asset/images/cover-cloud-small.png" alt="" class="" width="612" height="213">
                        </picture> --}}
                    </div>
                    <div class="coverCloud coverCloud2"></div>
                    <div class="coverTitle center-flex flex-column heightFull">
                        <picture class="coverTitle__top center-flex">
                            <source srcset="./asset/images/UMKM-naik-kelas-mob.png" media="(max-width: 767px)" alt=""
                                width="193" height="39">
                            <img srcset="./asset/images/UMKM-naik-kelas.png" alt="UMKM Naik Kelas" class="" width="635"
                                height="131">
                        </picture>
                        <picture class="coverTitle__bottom center-flex">
                            <source srcset="./asset/images/Ekonomi-digdaya-mob.png" media="(max-width: 767px)" alt=""
                                width="292" height="47">
                            <img srcset="./asset/images/Ekonomi-digdaya.png" alt="Ekonomi Digdaya" class="" width="963"
                                height="153">
                        </picture>
                        <button class="button coverCta" onclick="startIntro()">
                            Mulai
                        </button>
                    </div>
                    <div class="coverHill coverImg">
                        <picture>
                            {{!--
                            <source srcset="./asset/images/cover-hill-mob.png" media="(max-width: 767px)" alt=""
                                width="292" height="47"> --}}
                            <img srcset="./asset/images/cover-hill.png" alt="" class="" width="2805" height="349">
                        </picture>
                    </div>
                    <div class="coverAirport coverImg">
                        <picture>
                            {{!--
                            <source srcset="./asset/images/cover-airport-mob.png" media="(max-width: 767px)" alt=""
                                width="292" height="47"> --}}
                            <img srcset="./asset/images/cover-airport.png" alt="" class="" width="1393" height="354">
                        </picture>
                    </div>
                    <div class="coverRunway coverImg">
                        <picture>
                            {{!--
                            <source srcset="./asset/images/cover-runway-mob.png" media="(max-width: 767px)" alt=""
                                width="292" height="47"> --}}
                            <img srcset="./asset/images/cover-runway.png" alt="" class="" width="2938" height="210">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="intro heightFull display-flex opac0">
                    <div class="introArticle articleBox">
                        Dari <strong>Takengon, Aceh Tengah,</strong> kopi organik yang diproduksi <strong>Koperasi
                            Baitul Qiradh Baburrayan</strong> sudah
                        menembus pasar global.
                    </div>
                    <div class="introImg">
                        <picture>
                            <source srcset="./asset/images/cover-airplane-mob.png" media="(max-width: 767px)" alt=""
                                width="300" height="115">
                            <img srcset="./asset/images/cover-airplane.png" alt="" class="" width="665" height="254"
                                loading="lazy">
                        </picture>
                    </div>
                </div>
                <div class="coverPlant coverImg">
                    {{!-- <picture>
                        <source srcset="./asset/images/cover-plant-mob.png" media="(max-width: 767px)" alt=""
                            width="292" height="47">
                        <img srcset="./asset/images/cover-plant.png" alt="" class="" width="913" height="195">
                    </picture> --}}
                </div>
            </div>
            <div class="bgStatic">
                <div class="global heightFull display-flex flex-column">
                    <div class="globalArticle articleBox">
                        Kopi dari Koperasi Baitul Qiradh Baburrayan binaan <strong>Bank Indonesia</strong> juga sudah
                        dipesan oleh <strong>5 perusahaan global</strong> yang tersebar di <strong>4 negara.</strong>
                    </div>
                    <div class="globalImg">
                        <picture class="globalMap">
                            <source srcset="./asset/images/global-map-mob.png" media="(max-width: 767px)" alt=""
                                width="433" height="252">
                            <img srcset="./asset/images/global-map.png" alt="" class="" width="1440" height="848"
                                loading="lazy">
                        </picture>
                        <div class="globalWay desktop-hide">
                            {{> global-way}}
                        </div>
                        <div class="globalWay mobile-hide">
                            {{> global-way-desk}}
                        </div>
                        <div class="globalList">
                            <div class="globalCountry --us">
                                <picture>
                                    <source srcset="./asset/images/global-us-mob.png" media="(max-width: 767px)" alt=""
                                        width="63" height="71">
                                    <img srcset="./asset/images/global-us.png" alt="" class="" width="230" height="260"
                                        loading="lazy">
                                </picture>
                                <div class="globalPlane">
                                    <picture>
                                        <source srcset="./asset/images/global-plane-mob.png" media="(max-width: 767px)"
                                            alt="" width="26" height="24">
                                        <img srcset="./asset/images/global-plane.png" alt="" class="" width="73"
                                            height="73" loading="lazy">
                                    </picture>
                                </div>
                            </div>
                            <div class="globalCountry --holland">
                                <picture>
                                    <source srcset="./asset/images/global-holland-mob.png" media="(max-width: 767px)"
                                        alt="" width="63" height="75">
                                    <img srcset="./asset/images/global-holland.png" alt="" class="" width="230"
                                        height="271" loading="lazy">
                                </picture>
                                <div class="globalPlane">
                                    <picture>
                                        <source srcset="./asset/images/global-plane-mob.png" media="(max-width: 767px)"
                                            alt="" width="26" height="24">
                                        <img srcset="./asset/images/global-plane.png" alt="" class="" width="73"
                                            height="73" loading="lazy">
                                    </picture>
                                </div>
                            </div>
                            <div class="globalCountry --japan">
                                <picture>
                                    <source srcset="./asset/images/global-japan-mob.png" media="(max-width: 767px)"
                                        alt="" width="68" height="71">
                                    <img srcset="./asset/images/global-japan.png" alt="" class="" width="248"
                                        height="260" loading="lazy">
                                </picture>
                                <div class="globalPlane">
                                    <picture>
                                        <source srcset="./asset/images/global-plane-mob.png" media="(max-width: 767px)"
                                            alt="" width="26" height="24">
                                        <img srcset="./asset/images/global-plane.png" alt="" class="" width="73"
                                            height="73" loading="lazy">
                                    </picture>
                                </div>
                            </div>
                            <div class="globalCountry --aussy">
                                <picture>
                                    <source srcset="./asset/images/global-aussy-mob.png" media="(max-width: 767px)"
                                        alt="" width="63" height="71">
                                    <img srcset="./asset/images/global-aussy.png" alt="" class="" width="230"
                                        height="260" loading="lazy">
                                </picture>
                                <div class="globalPlane">
                                    <picture>
                                        <source srcset="./asset/images/global-plane-mob.png" media="(max-width: 767px)"
                                            alt="" width="26" height="24">
                                        <img srcset="./asset/images/global-plane.png" alt="" class="" width="73"
                                            height="73" loading="lazy">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="export heightFull display-flex flex-column">
                    <div class="exportArticle articleBox">
                        Keberhasilan kopi produksi KBQ Baburrayan menembus pasar ekspor menghasilkan omzet <big><strong>Rp93,8</strong></big> miliar sepanjang <strong>2022-2023.</strong>
                    </div>
                    <div class="exportImg" id="animationExport">
                    </div>
                </div>
            </div>
        </div>
        <!-- Template Image Content -->
        <!-- Fullpage Content -->
        <div id="fullpage" class="fullpage">
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
        </div>
        <!-- Fullpage Content -->
    </main>
    <!-- main -->

    <!-- footer -->
    {{> credit}}

    {{> js}}

</body>

</html>