<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- preloader -->
    {{> preloader}}
    <!-- preloader -->

    <!-- main -->
    <main role="main">

        <div class="bgStatic bgStatic--warn">
            <div class="articleContent text-center">
                For better experience, rotate your screen or switch to bigger screen.
            </div>
        </div>

        <!-- Template Background Color -->
        <div class="bgColor__wrap">
            <div class="bgColor bgColor__blue"></div>
            <div class="bgColor bgColor__green opac0">
                <picture class="accelBg">
                    <source srcset="./asset/images/accel-bg-mob.png" media="(max-width: 767px)" alt="" width="562"
                        height="237">
                    <img srcset="./asset/images/accel-bg.png" alt="" class="" width="1440" height="365" loading="lazy">
                </picture>
                <div class="accelAnim" id="accelAnim"></div>
            </div>
            <div class="bgColor bgColor__roleWrap opac0">
                <picture class="roleBg">
                    <img srcset="./asset/images/role-bg.png" alt="" class="" width="1440" height="237" loading="lazy">
                </picture>
                <div class="bgColor bgColor__role"></div>
            </div>
            <div class="bgColor bgColor__cloud opac0">
                <picture class="accelCloud accelCloud--1">
                    <source srcset="./asset/images/accel-cloud-1-mob.png" media="(max-width: 767px)" alt="" width="178"
                        height="40">
                    <img srcset="./asset/images/accel-cloud-1.png" alt="" class="" width="403" height="90"
                        loading="lazy">
                </picture>
                <picture class="accelCloud accelCloud--2">
                    <source srcset="./asset/images/accel-cloud-2-mob.png" media="(max-width: 767px)" alt="" width="130"
                        height="48">
                    <img srcset="./asset/images/accel-cloud-2.png" alt="" class="" width="292" height="107"
                        loading="lazy">
                </picture>
                <picture class="accelCloud accelCloud--3">
                    <source srcset="./asset/images/accel-cloud-3-mob.png" media="(max-width: 767px)" alt="" width="141"
                        height="54">
                    <img srcset="./asset/images/accel-cloud-3.png" alt="" class="" width="317" height="120"
                        loading="lazy">
                </picture>
                <picture class="accelBranch accelBranch--1 mobile-hide">
                    <img srcset="./asset/images/accel-branch.png" alt="" class="" width="198" height="562"
                        loading="lazy">
                </picture>
                <picture class="accelBranch accelBranch--2 mobile-hide">
                    <img srcset="./asset/images/accel-branch.png" alt="" class="" width="198" height="562"
                        loading="lazy">
                </picture>
            </div>
            <div class="bgColor bgColor__quote opac0"></div>
            <div class="bgColor bgColor__kki opac0"></div>
            <div class="bgColor bgColor__fekdi opac0"></div>
            <div class="bgColor bgColor__socmed opac0">
                <picture class="socmedHeader">
                    <source srcset="./asset/images/fekdi-header-mob.png" media="(max-width: 767px)" alt="" width="340"
                        height="96">
                    <img srcset="./asset/images/fekdi-header.png" alt="" class="" width="516" height="85"
                        loading="lazy">
                </picture>
                <picture class="socmedBg">
                    <source srcset="./asset/images/fekdi-bg-link-mob.png" media="(max-width: 767px)" alt="" width="360"
                        height="800">
                    <img srcset="./asset/images/fekdi-bg-link.png" alt="" class="" width="1440" height="1022"
                        loading="lazy">
                </picture>
            </div>
        </div>
        <!-- Template Background Color -->

        <!-- Template Image Content -->
        <div class="bgStatic__wrap active">
            <div class="bgStatic">
                <div class="cover heightFull active">
                    <div class="coverCloud move">
                        {{!-- <picture class="coverCloud__img coverCloud1 coverImg">
                            <img srcset="./asset/images/cover-cloud-small.png" alt="" class="" width="612" height="213">
                        </picture> --}}
                    </div>
                    <div class="coverCloud coverCloud2 move"></div>
                    <div class="coverTitle center-flex flex-column heightFull">
                        <h1>
                            <picture class="coverTitle__item coverTitle__top center-flex">
                                <source srcset="./asset/images/UMKM-naik-kelas-mob.png" media="(max-width: 767px)"
                                    alt="" width="193" height="39">
                                <img srcset="./asset/images/UMKM-naik-kelas.png" alt="UMKM Naik Kelas" class=""
                                    width="635" height="131">
                            </picture>
                        </h1>
                        <h2>
                            <picture class="coverTitle__item coverTitle__bottom center-flex">
                                <source srcset="./asset/images/Ekonomi-digdaya-mob.png" media="(max-width: 767px)"
                                    alt="" width="292" height="47">
                                <img srcset="./asset/images/Ekonomi-digdaya.png" alt="Ekonomi Digdaya" class=""
                                    width="963" height="153">
                            </picture>
                        </h2>
                        <button class="button coverCta" onclick="startIntro()">
                            Mulai
                        </button>
                    </div>
                    <div class="coverHill coverImg">
                        <picture>
                            {{!--
                            <source srcset="./asset/images/cover-hill-mob.png" media="(max-width: 767px)" alt=""
                                width="292" height="47"> --}}
                            <img srcset="./asset/images/cover-hill.png" alt="" class="" width="2805" height="349">
                        </picture>
                    </div>
                    <div class="coverAirport coverImg">
                        <picture>
                            {{!--
                            <source srcset="./asset/images/cover-airport-mob.png" media="(max-width: 767px)" alt=""
                                width="292" height="47"> --}}
                            <img srcset="./asset/images/cover-airport.png" alt="" class="" width="1393" height="354">
                        </picture>
                    </div>
                    <div class="coverRunway coverImg">
                        <picture>
                            {{!--
                            <source srcset="./asset/images/cover-runway-mob.png" media="(max-width: 767px)" alt=""
                                width="292" height="47"> --}}
                            <img srcset="./asset/images/cover-runway.png" alt="" class="" width="2938" height="210">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="intro heightFull display-flex opac0">
                    <div class="introArticle articleBox">
                        Dari <strong>Takengon, Aceh Tengah,</strong> kopi organik yang diproduksi <strong>Koperasi
                            Baitul Qiradh Baburrayan</strong> sudah
                        menembus pasar global.
                    </div>
                    <div class="introImg">
                        <picture>
                            <source srcset="./asset/images/cover-airplane-mob.png" media="(max-width: 767px)" alt=""
                                width="300" height="115">
                            <img srcset="./asset/images/cover-airplane.png" alt="" class="" width="665" height="254"
                                loading="lazy">
                        </picture>
                    </div>
                </div>
                <div class="coverPlant coverImg">
                    {{!-- <picture>
                        <source srcset="./asset/images/cover-plant-mob.png" media="(max-width: 767px)" alt=""
                            width="292" height="47">
                        <img srcset="./asset/images/cover-plant.png" alt="" class="" width="913" height="195"
                            loading="lazy">
                    </picture> --}}
                </div>
            </div>
            <div class="bgStatic">
                <div class="global heightFull display-flex flex-column opac0">
                    <div class="globalArticle articleBox">
                        Kopi dari Koperasi Baitul Qiradh Baburrayan binaan <strong>Bank Indonesia</strong> juga sudah
                        dipesan oleh <strong>5 perusahaan global</strong> yang tersebar di <strong>4 negara.</strong>
                    </div>
                    <div class="globalImg">
                        {{!-- <div id="globalImg"></div> --}}
                        <picture class="globalMap">
                            <source srcset="./asset/images/global-map-mob.png" media="(max-width: 767px)" alt=""
                                width="433" height="252">
                            <img srcset="./asset/images/global-map.png" alt="" class="" width="1440" height="848"
                                loading="lazy">
                        </picture>
                        <div class="globalWay desktop-hide">
                            {{> global-way}}
                        </div>
                        <div class="globalWay mobile-hide">
                            {{> global-way-desk}}
                        </div>
                        <div class="globalList">
                            <div class="globalCountry --us">
                                <picture>
                                    <source srcset="./asset/images/global-us-mob.png" media="(max-width: 767px)" alt=""
                                        width="63" height="71">
                                    <img srcset="./asset/images/global-us.png" alt="" class="" width="230" height="260"
                                        loading="lazy">
                                </picture>
                                <div class="globalPlane">
                                    <picture>
                                        <source srcset="./asset/images/global-plane-mob.png" media="(max-width: 767px)"
                                            alt="" width="26" height="24">
                                        <img srcset="./asset/images/global-plane.png" alt="" class="" width="73"
                                            height="73" loading="lazy">
                                    </picture>
                                </div>
                            </div>
                            <div class="globalCountry --holland">
                                <picture>
                                    <source srcset="./asset/images/global-holland-mob.png" media="(max-width: 767px)"
                                        alt="" width="63" height="75">
                                    <img srcset="./asset/images/global-holland.png" alt="" class="" width="230"
                                        height="271" loading="lazy">
                                </picture>
                                <div class="globalPlane">
                                    <picture>
                                        <source srcset="./asset/images/global-plane-mob.png" media="(max-width: 767px)"
                                            alt="" width="26" height="24">
                                        <img srcset="./asset/images/global-plane.png" alt="" class="" width="73"
                                            height="73" loading="lazy">
                                    </picture>
                                </div>
                            </div>
                            <div class="globalCountry --japan">
                                <picture>
                                    <source srcset="./asset/images/global-japan-mob.png" media="(max-width: 767px)"
                                        alt="" width="68" height="71">
                                    <img srcset="./asset/images/global-japan.png" alt="" class="" width="248"
                                        height="260" loading="lazy">
                                </picture>
                                <div class="globalPlane">
                                    <picture>
                                        <source srcset="./asset/images/global-plane-mob.png" media="(max-width: 767px)"
                                            alt="" width="26" height="24">
                                        <img srcset="./asset/images/global-plane.png" alt="" class="" width="73"
                                            height="73" loading="lazy">
                                    </picture>
                                </div>
                            </div>
                            <div class="globalCountry --aussy">
                                <picture>
                                    <source srcset="./asset/images/global-aussy-mob.png" media="(max-width: 767px)"
                                        alt="" width="63" height="71">
                                    <img srcset="./asset/images/global-aussy.png" alt="" class="" width="230"
                                        height="260" loading="lazy">
                                </picture>
                                <div class="globalPlane">
                                    <picture>
                                        <source srcset="./asset/images/global-plane-mob.png" media="(max-width: 767px)"
                                            alt="" width="26" height="24">
                                        <img srcset="./asset/images/global-plane.png" alt="" class="" width="73"
                                            height="73" loading="lazy">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="export heightFull display-flex flex-column opac0">
                    <div class="exportArticle articleBox">
                        Keberhasilan kopi produksi KBQ Baburrayan menembus pasar ekspor menghasilkan omzet
                        <big><strong>Rp93,8</strong></big> miliar sepanjang <strong>2022-2023.</strong>
                    </div>
                    <div class="exportImg" id="animationExport">
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="cup heightFull display-flex flex-column opac0">
                    <div class="cupArticle articleBox">
                        Mau tahu perjalanan <strong>GO GLOBAL</strong> KBQ Baburrayyan hingga mendulang omzet miliaran
                        rupiah?
                    </div>
                    <button class="button cupImg" aria-label="Go Global KBQ Baburrayyan's journey"
                        onclick="startAccel()">
                        <picture class="cupImg__coffee">
                            <source srcset="./asset/images/cup-img-mob.png" media="(max-width: 767px)" alt=""
                                width="563" height="524">
                            <img srcset="./asset/images/cup-img.png" alt="" class="" width="857" height="766"
                                loading="lazy">
                        </picture>
                        <picture class="cupImg__logo">
                            <source srcset="./asset/images/cup-img-logo-mob.png" media="(max-width: 767px)" alt=""
                                width="189" height="189">
                            <img srcset="./asset/images/cup-img-logo.png" alt="" class="" width="286" height="288"
                                loading="lazy">
                        </picture>
                    </button>
                    <div class="cupClick buttonClick --up">
                        <picture class="buttonClick__img">
                            <img srcset="./asset/images/cursor-click.png" alt="" class="" width="52" height="33"
                                loading="lazy">
                        </picture>
                        <span>Klik</span>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="accel heightFull display-flex flex-column">
                    <div class="accelArticle__wrap">
                        <div class="accelArticle accelArticle1 articleBox">
                            Akselerasi pengembangan UMKM terus didorong demi memperkuat perekonomian nasional dan
                            inklusivitas pertumbuhan ekonomi
                        </div>
                        <div class="accelArticle accelArticle2 articleBox">
                            Bank Indonesia, Pemerintah, otoritas terkait, dan industri pun bersinergi agar jutaan UMKM
                            di
                            Indonesia bisa <strong>NAIK KELAS</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="quote quote1 heightFull display-flex opac0">
                    <div id="quoteAnim1" class="quoteImg quoteImg1"></div>
                    <div class="quoteWrap">
                        <div class="quoteTxt quoteTxt1">
                            <span>
                                Program-program pengembangan ekonomi-keuangan inklusif pada UMKM termasuk pelaku usaha
                                syariah
                                terus diperluas dengan digitalisasi serta perluasan akses pasar domestik dan ekspor.
                            </span>
                        </div>
                        <div class="quoteDsc quoteDsc1">
                            <div class="quoteName">Perry Warjiyo</div>
                            <div class="quoteTitle">Gubernur Bank Indonesia</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="quote quote2 heightFull display-flex opac0">
                    <div class="quoteWrap">
                        <div class="quoteTxt quoteTxt2">
                            <span>
                                Langkah go global diawali dari sertifikasi kopi organik yang kami peroleh berkat bantuan
                                dari PUSKOKA Jember. Selanjutnya, kami menerapkan standar mutu internasional dengan
                                mendapat
                                binaan dan pendampingan dari Bank Indonesia di Lhoksumawe.
                            </span>
                        </div>
                        <div class="quoteDsc quoteDsc2">
                            <div class="quoteName">Tarmizi Karim</div>
                            <div class="quoteTitle">Pendiri dan Ketua KBQ Baburrayyan</div>
                        </div>
                    </div>
                    <div id="quoteAnim2" class="quoteImg quoteImg2"></div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="role heightFull display-flex opac0">
                    <picture class="roleImg">
                        <source srcset="./asset/images/role-img-mob.png" media="(max-width: 767px)" alt="" width="262"
                            height="208">
                        <img srcset="./asset/images/role-img.png" alt="" class="" width="447" height="354"
                            loading="lazy">
                    </picture>
                    <div class="roleWrap">
                        <div class="articleCaption">
                            Apa saja peran Bank Indonesia dalam pengembangan UMKM?
                        </div>
                        <div class="roleList">
                            <div class="roleItem roleItem1">Melakukan pengembangan <strong>Klaster
                                    Pangan</strong></div>
                            <div class="roleItem roleItem2"><strong>Mengakselerasi</strong> perluasan akses
                                pasar UMKM baik domestik maupun global</div>
                            <div class="roleItem roleItem3">Mendorong <strong>UMKM Go Digital</strong></div>
                            <div class="roleItem roleItem4">Mendorong terhubung dengan <strong>akses
                                    pembiayaan</strong> bagi UMKM</div>
                            <div class="roleItem roleItem5">Mempersiapkan UMKM Bertransformasi Menuju Hijau
                                untuk Mendukung <strong>Pertumbuhan Ekonomi yang Berkelanjutan</strong></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="strategy heightFull display-flex flex-column opac0">
                    <div class="strategyWrap">
                        <div class="articleCaption">
                            Mengakselerasi UMKM GO GLOBAL
                        </div>
                        <div class="strategyTxt__wrap text-center">
                            <div class="articleTxt strategyTxt strategyTxt1">
                                Bank Indonesia punya <strong>2</strong> strategi besar berorientasi untuk mengembangkan
                                UMKM berorientasi
                                ekspor dari hulu ke hilir.
                            </div>
                            <div class="articleTxt strategyTxt strategyTxt2 opac0">
                                Dua strategi itu ditempuh untuk memenuhi aspek <strong>5K</strong> (Kuantitas, Kualitas,
                                Kapasitas, Kontinuitas, dan Kemasan) & <strong>2S</strong> (Standardisasi dan
                                Sertifikasi). </div>
                        </div>
                        <div class="strategyRow display-flex">
                            <div class="strategyBox strategyBox1">
                                <div class="strategyTitle">Pull Strategy</div>
                                <div id="pullAnim" class="strategyAnim strategyAnim1"></div>
                                <ul class="strategyList">
                                    <li class="strategyItem">Market intelligence</li>
                                    <li class="strategyItem">Kurasi dan keikutsertaan pada promosi perdagangan</li>
                                    <li class="strategyItem">Sinergi dengan stakeholder</li>
                                    <li class="strategyItem">Business matching</li>
                                </ul>
                            </div>
                            <div class="strategyBox strategyBox2">
                                <div class="strategyTitle">Push Strategy</div>
                                <div id="pushAnim" class="strategyAnim strategyAnim2"></div>
                                <ul class="strategyList">
                                    <li class="strategyItem">Standardisasi sertifikasi UMKM binaan dan mitra BI</li>
                                    <li class="strategyItem">Digitalisasi</li>
                                    <li class="strategyItem">Memfasilitasi akses pembiayaan </li>
                                    <li class="strategyItem">Capacity building dan pendampingan</li>
                                    <li class="strategyItem">Sinergi dengan kementerian dan lembaga terkait</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="goglobal heightFull opac0">
                    <div class="goglobalWrap display-flex flex-column">
                        <div class="articleCaption">
                            UMKM di Indonesia didorong untuk semakin Go Digital
                        </div>
                        <div class="goglobalArticle goglobalArticle1 articleBox">
                            <strong>Bank Indonesia</strong> mendorong pertumbuhan UMKM melalui 5 strategi akselerasi
                            yaitu
                            produksi, promosi dan penjualan, akses keuangan, edukasi keuangan dan pembayaran digital.
                        </div>
                        <div class="goglobalArticle goglobalArticle2 articleBox">
                            <strong>Bank Indonesia</strong> meningkatkan kompetensi digital UMKM dari hulu ke hilir.
                        </div>
                    </div>
                    <div id="bifastAnim" class="goglobalAnim goglobalAnim1"></div>
                    <div id="qrisAnim" class="goglobalAnim goglobalAnim2"></div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="ecosystem heightFull display-flex flex-column opac0">
                    <div class="articleCaption">
                        Ekosistem Digital
                    </div>
                    <div class="articleTxt text-center">
                        Bank Indonesia berperan untuk mendorong <br> UMKM <strong>GO DIGITAL,</strong> antara lain
                        melaui
                        tiga program:
                    </div>
                    <div class="ecosystemList">
                        <button class="button ecosystemItem ecosystemItem2" onclick="openPopup('2')">
                            <div class="ecosystemItem__txt">E-FINANCING
                                SUPPORT</div>
                            <picture class="ecosystemImg">
                                <img srcset="./asset/images/ecosystem-financing.png" alt="" class="" width="90"
                                    height="93" loading="lazy">
                            </picture>
                            <div class="ecosystemClick buttonClick">
                                <picture class="buttonClick__img">
                                    <img srcset="./asset/images/cursor-click.png" alt="" class="" width="52" height="33"
                                        loading="lazy">
                                </picture>
                                <span>Klik</span>
                            </div>
                        </button>
                        <div class="ecosystemItem ecosystemItem1">
                            <picture class="ecosystemImg">
                                <img srcset="./asset/images/ecosystem-digital.png" alt="" class="" width="168"
                                    height="182" loading="lazy">
                            </picture>
                        </div>
                        <button class="button ecosystemItem ecosystemItem3" onclick="openPopup('3')">
                            <div class="ecosystemItem__txt">E-FARMING</div>
                            <picture class="ecosystemImg">
                                <img srcset="./asset/images/ecosystem-farming.png" alt="" class="" width="90"
                                    height="94" loading="lazy">
                            </picture>
                        </button>
                        <button class="button ecosystemItem ecosystemItem4" onclick="openPopup('4')">
                            <div class="ecosystemItem__txt">E-COMMERCE</div>
                            <picture class="ecosystemImg">
                                <img srcset="./asset/images/ecosystem-ecomm.png" alt="" class="" width="90" height="95"
                                    loading="lazy">
                            </picture>
                        </button>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="stop center-flex opac0">
                    <div class="stopTitle">Tak berhenti di situ lho!
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="kki center-flex flex-column heightFull opac0">
                    <div class="articleTxt kkiArticle text-center">
                        <strong>Bank Indonesia</strong> juga menggelar selebrasi keberhasilan pengembangan UMKM binaan
                        dan
                        mitra Bank Indonesia di seluruh Indonesia melalui ajang <br> <strong>Karya Kreatif Indonesia
                            (KKI)</strong>
                    </div>
                    <div class="kkiLogo">
                        <picture>
                            <source srcset="./asset/images/kki-logo-mob.png" media="(max-width: 767px)" alt=""
                                width="244" height="108">
                            <img srcset="./asset/images/kki-logo.png" alt="" class="" width="589" height="261"
                                loading="lazy">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="kkiGoal center-flex flex-column heightFull opac0">
                    <div class="articleCaption">
                        Tujuan KKI
                    </div>
                    <ul class="kkiGoal__list">
                        <li class="kkiGoal__item kkiGoal__item1">Inovasi secara kontinu</li>
                        <li class="kkiGoal__item kkiGoal__item2">Meningkatkan kualitas produk <br> sesuai selera pasar</li>
                        <li class="kkiGoal__item kkiGoal__item3">Berorientasi ekspor</li>
                        <li class="kkiGoal__item kkiGoal__item4">Memanfaatkan platform digital</li>
                        <li class="kkiGoal__item kkiGoal__item5">Memperluas akses pasar hingga <br>
                            ke internasional</li>
                    </ul>
                </div>
            </div>
            <div class="bgStatic">
                <div class="kkiTimeline center-flex flex-column heightFull opac0">
                    <div class="articleCaption">
                        Yuk, simak perjalanan Karya Kreatif Indonesia <br> sejak 2016 hingga 2023

                    </div>
                    {{>timeline}}
                    <div class="kkiTimelineClick buttonClick text-center">
                        <picture class="buttonClick__img">
                            <img srcset="./asset/images/cursor-shift.png" alt="" class="" width="31" height="49"
                                loading="lazy">
                        </picture>
                        <span>Geser</span>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="fekdi center-flex heightFull opac0">
                    <div class="fekdiLogo">
                        <picture>
                            <source srcset="./asset/images/logo-fekdi-kki-mob.png" media="(max-width: 767px)" alt=""
                                width="246" height="87">
                            <img srcset="./asset/images/logo-fekdi-kki.svg" alt="" class="" width="712" height="251"
                                loading="lazy">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="collab heightFull center-flex flex-column opac0">
                    <div class="collabWrap">
                        <div class="collabTxt__wrap text-center">
                            <div class="articleTxt collabTxt1">
                                <strong>Pada 2024,</strong> ajang <strong>KKI</strong> dikolaborasikan bersama <br>
                                <strong>Festival Ekonomi dan Digital (FEKDI)</strong> dengan tema:
                            </div>
                            <div class="articleTxt collabTxt2 opac0">
                                Tujuan kolaborasi ini untuk mendorong pertumbuhan inklusif UMKM dengan digitalisasi dan
                                perluasan akses pasar domestik hingga ekspor.
                            </div>
                            <div class="collabCaption">
                                “Sinergi Memperkuat Ekonomi dan Keuangan Digital serta Inklusif untuk Pertumbuhan
                                Berkelanjutan”
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="socmed display-flex flex-column heightFull opac0">
                    <div class="articleCaption">
                        Mau tahu keseruannya?
                    </div>
                    <picture class="socmedCaption desktop-hide">
                        <img srcset="./asset/images/fekdi-caption-mob.png" alt="" class="" width="360" height="85"
                            loading="lazy">
                    </picture>
                    <div class="socmedHeader__attr --left mobile-hide">
                        <picture>
                            <img srcset="./asset/images/fekdi-header-left.png" alt="" class="" width="100" height="42"
                                loading="lazy">
                        </picture>
                    </div>
                    <div class="socmedHeader__attr --right mobile-hide">
                        <picture>
                            <img srcset="./asset/images/fekdi-header-right.png" alt="" class="" width="231" height="42"
                                loading="lazy">
                        </picture>
                    </div>
                    <a href="https://www.karyakreatifindonesia.co.id" target="_blank" rel="noopener noreferrer"
                        class="socmedLink" aria-label="Karya Kreatif Indonesia">
                        <picture>
                            <source srcset="./asset/images/fekdi-link-mob.png" media="(max-width: 767px)" alt=""
                                width="174" height="28">
                            <img srcset="./asset/images/fekdi-link.png" alt="" class="" width="242" height="38"
                                loading="lazy">
                        </picture>
                    </a>
                    <div class="socmedList">
                        <a href="https://www.youtube.com/channel/UC2nBA3nzlmCtdbk279WroNg" target="_blank"
                            rel="noopener noreferrer" class="socmedItem" aria-label="Youtube">
                            <picture class="socmedIcon">
                                <source srcset="./asset/images/socmed-yt-mob.png" media="(max-width: 767px)" alt=""
                                    width="19" height="18">
                                <img srcset="./asset/images/socmed-yt.png" alt="" class="" width="26" height="27"
                                    loading="lazy">
                            </picture>
                            <span>BankIndonesiaChannel</span>
                        </a>
                        <a href="https://twitter.com/Karyakreatif_BI?s=09" target="_blank" rel="noopener noreferrer"
                            class="socmedItem" aria-label="Twitter X">
                            <picture class="socmedIcon">
                                <source srcset="./asset/images/socmed-x-mob.png" media="(max-width: 767px)" alt=""
                                    width="19" height="18">
                                <img srcset="./asset/images/socmed-x.png" alt="" class="" width="26" height="27"
                                    loading="lazy">
                            </picture>
                            <span>bank_indonesia</span>
                        </a>
                        <a href="https://instagram.com/karyakreatifindonesia" target="_blank" rel="noopener noreferrer"
                            class="socmedItem" aria-label="Instagram">
                            <picture class="socmedIcon">
                                <source srcset="./asset/images/socmed-ig-mob.png" media="(max-width: 767px)" alt=""
                                    width="19" height="18">
                                <img srcset="./asset/images/socmed-ig.png" alt="" class="" width="26" height="27"
                                    loading="lazy">
                            </picture>
                            <span>bank_indonesia</span>
                        </a>
                    </div>
                </div>
                <div class="scroll-guide center-flex opac0">
                    <span class="icon-scroll"></span>
                    scroll
                </div>
            </div>
        </div>
        <!--popup-->
        <div class="ecosystemPop popup" id="popup2">
            <div class="ecosystemPop__wrap">
                <button class="button buttonClose" aria-label="Close popup">
                    <span class="icon iconClose"></span>
                </button>
                <div class="ecosystemPop__content text-center">
                    <div class="ecosystemPop__title">e-financing support</div>
                    <div class="ecosystemPop__txt"><strong>SI APIK:</strong> Aplikasi digital bagi UMKM
                        untuk
                        membantu pencatatan keuangan dan dapat menghasilkan laporan keuangan sebagai referensi bank
                        dalam menganalisis kinerja keuangan UMKM, sehingga UMKM berpotensi memperoleh kredit/pembiayaan.
                    </div>
                    <div id="efinAnim" class="ecosystemPop__img">
                        {{!-- <picture>
                            <source srcset="./asset/images/ecosystem-financing-img-mob.png" media="(max-width: 767px)"
                                alt="" width="212" height="156">
                            <img srcset="./asset/images/ecosystem-financing-img.png" alt="" class="" width="500"
                                height="368" loading="lazy">
                        </picture> --}}
                    </div>
                </div>
            </div>
        </div>
        <div class="ecosystemPop popup" id="popup3">
            <div class="ecosystemPop__wrap">
                <button class="button buttonClose" aria-label="Close popup">
                    <span class="icon iconClose"></span>
                </button>
                <div class="ecosystemPop__content text-center">
                    <div class="ecosystemPop__title">e-farming</div>
                    <div class="ecosystemPop__txt"><strong>Digital Farming:</strong> Pemanfaatan teknologi
                        digital pada pertanian untuk meningkatkan kapasitas produksi, efisiensi biaya dan perluasan
                        pasar.</div>
                    <div id="efarmAnim" class="ecosystemPop__img">
                        {{!-- <picture>
                            <source srcset="./asset/images/ecosystem-farming-img-mob.png" media="(max-width: 767px)"
                                alt="" width="212" height="120">
                            <img srcset="./asset/images/ecosystem-farming-img.png" alt="" class="" width="500"
                                height="282" loading="lazy">
                        </picture> --}}
                    </div>
                </div>
            </div>
        </div>
        <div class="ecosystemPop popup" id="popup4">
            <div class="ecosystemPop__wrap">
                <button class="button buttonClose" aria-label="Close popup">
                    <span class="icon iconClose"></span>
                </button>
                <div class="ecosystemPop__content text-center">
                    <div class="ecosystemPop__title">e-commerce</div>
                    <div class="ecosystemPop__txt"><strong>Onboarding UMKM:</strong> Perluasan pemasaran
                        UMKM
                        melalui berbagai saluran pemasaran digital melalui penguatan Digital Skill & Mindset, Digital
                        Presence, Digital Marketing, dan Digital Operation.</div>
                    <div id="ecomAnim" class="ecosystemPop__img">
                        {{!-- <picture>
                            <source srcset="./asset/images/ecosystem-ecomm-img-mob.png" media="(max-width: 767px)"
                                alt="" width="212" height="172">
                            <img srcset="./asset/images/ecosystem-ecomm-img.png" alt="" class="" width="500"
                                height="406" loading="lazy">
                        </picture> --}}
                    </div>
                </div>
            </div>
        </div>
        <!--popup-->
        <!-- Template Image Content -->
        <!-- Fullpage Content -->
        <div id="fullpage" class="fullpage">
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section cupSection"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section roleSection"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section ecosystemSection"></section>
            <section class="section"></section>
            <section class="section kkiSection"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section fekdiSection"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section socmedSection"></section>
            <section class="section creditSection opac0">
                {{> credit}}
            </section>
        </div>
        <!-- Fullpage Content -->
    </main>
    <!-- main -->

    {{> js}}

</body>

</html>