.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 0 20px;
    @include font-pack($font_body, 12px, 400, false, $bg_base);

    @include min-responsive($mxtablet) {
        padding: 38px 0 26px;
        color: #555555;
    }
}