<ul class="footerList --contact col-xl-10">
    <li class="footerItem">
        <div class="footerIcon">
            <img src="./asset/images/icon/footer-loc.png" alt="" width="20" height="20" loading="lazy">
        </div>
        {{{contact.address}}}
    </li>
    <li class="footerItem">
        <div class="footerIcon">
            <img src="./asset/images/icon/footer-phone.png" alt="" width="20" height="20" loading="lazy">
        </div>
        {{{contact.phone}}}
    </li>
    <li class="footerItem">
        <div class="footerIcon">
            <img src="./asset/images/icon/footer-mail.png" alt="" width="20" height="20" loading="lazy">
        </div>
        {{{contact.email}}}
    </li>
</ul>