<div class="menuList">
    <div class="menuProfile">
        <a class="menuProfile__item buttonPrimary" href="login.html"><span class="icon icon-reg mr10"></span>Sign in</a>
    </div>
    <ul>
        <li class="menuItem"><a href="#"
                class="menuLink">News</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Focus</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">People</a></li>
        <li class="menuItem"><a href="channels.html"
                class="menuLink">Voices</a></li>
        <li class="menuItem"><a href="channels-video.html"
                class="menuLink">+Vibes</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Books</a></li>
        <hr>
        <li class="menuItem">
            <a href="#" class="menuLink">About us</a>
        </li>
        <li class="menuItem">
            <a href="#" class="menuLink">FAQ</a>
        </li>
        <li class="menuItem">
            <a href="#" class="menuLink">Contact us</a>
        </li>
        <li class="menuItem">
            <a href="#" class="menuLink">Pedoman media cyber</a>
        </li>
        <li class="menuItem">
            <a href="#" class="menuLink">Policy</a>
        </li>
        <li class="menuItem">
            <a href="#" class="menuLink">Community guideline</a>
        </li>
        <li class="menuItem">
            <ul class="footerList display-flex jcontent-center aitems-center">
                <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Facebook"><span class="icon icon-fb"></span></a></li>
                <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Instagram"><span class="icon icon-ig"></span></a></li>
                <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Twitter"><span class="icon icon-tw"></span></a></li>
                <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Youtube"><span class="icon icon-yt"></span></a></li>
                <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Tiktok"><span class="icon icon-tiktok"></span></a></li>
                <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Linkedin"><span class="icon icon-ln"></span></a></li>
            </ul>
        </li>
    </ul>
</div>