<div class="menuList">
    <div class="menuProfile">
        <a class="menuProfile__item buttonPrimary" href="login.html"><span class="icon icon-reg mr10"></span>Sign in</a>
    </div>
    <ul>
        <li class="menuItem"><a href="#"
                class="menuLink">News</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Focus</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">People</a></li>
        <li class="menuItem"><a href="channels.html"
                class="menuLink">Voices</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">+Vibes</a></li>
        <li class="menuItem"><a href="#"
                class="menuLink">Books</a></li>
    </ul>
</div>