<!DOCTYPE html>
<html lang="en">
{{> head page="section-4" en=true}}

<body>
    <!-- Google Tag Manager -->
    {{> gtm2}}
    <!-- End Google Tag Manager -->

    <!-- header -->
    {{> header trans=true en=true}}
    <!-- header -->

    <!-- preloader -->
    {{!> preloader}}
    <!-- preloader -->

    <!-- main -->

    <!-- Content -->
    <section class="section section4 scroll-area">
        <div class="scroll-inner">
            <div class="scroll-track">
                <div class="panel panel1">
                    <h1 class="section4Caption">Lessons for All</h1>
                    <div class="buttonNextWrap">
                        <a href="section-3.html" class="buttonPrev articleCaption">Back</a>
                    </div>
                </div>
                <div class="panel panel2">
                    <div class="section4Box center-flex">WVI’s experience in 6 districts in East Nusa Tenggara and West
                        Kalimantan offers valuable lessons on how to provide water and sanitation for all.</div>
                </div>
                <div class="panel panel3">
                    <div class="section4Box center-flex">First, the role of the community is essential.</div>
                    <div class="section4Img">
                        <picture class="">
                            <source srcset="./asset/images/section-4/peran.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/section-4/peran-m.png" media="(max-width: 767px)">
                            <img src="./asset/images/section-4/peran.png" alt="" loading="lazy">
                        </picture>
                    </div>
                </div>
                <div class="panel panel4">
                    <div class="section4Box center-flex">To make this work, Village-Owned Enterprises are needed. They can
                        expand access to funding, allow for legal income, and build more sustainable financial systems.
                        Communities must also be empowered to manage these enterprises effectively.</div>
                    <div class="section4Img">
                        <picture class="">
                            <source srcset="./asset/images/section-4/bumd.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/section-4/bumd-m.png" media="(max-width: 767px)">
                            <img src="./asset/images/section-4/bumd.png" alt="" loading="lazy">
                        </picture>
                    </div>
                </div>
                <div class="panel panel5">
                    <div class="section4Box center-flex">
                        Everyone needs to collaborate and strengthen each other—from
                        village communities to district, provincial, and national governments.</div>
                    <div class="section4Img">
                        <picture class="">
                            <source srcset="./asset/images/section-4/kolab.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/section-4/kolab-m.png" media="(max-width: 767px)">
                            <img src="./asset/images/section-4/kolab.png" alt="" loading="lazy">
                        </picture>
                    </div>
                </div>
                <div class="panel panel6">
                    <div class="section4Box center-flex">
                        With toolkits, roadmaps, and financial reporting platforms, sustainable water and sanitation
                        management can be achieved.</div>
                </div>
                <div class="panel panel7">
                    <div class="section4Box center-flex">Interested in making this happen in your area? WVI’s report and
                        policy brief can serve as your guide.</div>
                    <div class="section4Img">
                        <picture class="">
                            <source srcset="./asset/images/section-4/panduan.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/section-4/panduan-m.png" media="(max-width: 767px)">
                            <img src="./asset/images/section-4/panduan.png" alt="" loading="lazy">
                        </picture>
                    </div>
                </div>
                <div class="panel panel8">
                    <div class="section4Box --grey center-flex text-center">
                        <smaller> Click <a href="#" target="_blank" rel="noopener noreferrer">this </a> to learn from
                            Wahana Visi Indonesia publication.</smaller>
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/videoseries?si=OsVv-ng8jzhU_eiL&amp;list=PLaKlaSCijbTnS1k5AbQArwsDmEx23BDI2"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="panel panel9">
                    <div class="section4Box --credit center-flex text-center">
                        {{>credit en=true}}
                    </div>
                </div>
            </div>
        </div>

        <picture class="">
            <source srcset="./asset/images/section-4/ship.png" media="(min-width: 768px)">
            <source srcset="./asset/images/section-4/ship-m.png" media="(max-width: 767px)">
            <img src="./asset/images/section-4/ship.png" alt="Ship" class="ship">
        </picture>

    </section>
    <!-- Content -->

    <!-- main -->

    {{> js page="section-4" en=true}}

</body>

</html>