<div class="articleCta{{#if mt}} mt{{mt}}{{/if}}">
    <div class="articleCtaText">Grow with us <br>Nikmati Layanan Prioritas untuk Anda, Nasabah Prioritas kami</div>
    <a href="register.html" class="button buttonPrimary buttonPrimarySolid">Daftar sekarang</a>
</div>