<button class="button tooltip" type="button"
    content="Investing in a diversified portfolio can significantly enhance your financial growth and stability.">
    <span class="formInfo"></span>
</button>