<script defer type="text/javascript" src="./asset/js/main.min.js"></script>
{{#if pages}}
<script defer type="text/javascript" src="./asset/js/{{pages}}.min.js"></script>
{{/if}}
{{#if swiper}}
<script defer type="text/javascript" src="./asset/js/swiper-bundle.min.js"></script>
{{/if}}
{{#if datepicker}}
<script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.6.0/air-datepicker.min.js"></script>
{{/if}}
{{#if validate}}
<script defer type="text/javascript" src="./asset/js/jquery.validate.min.js"></script>
{{/if}}
{{#if tooltip}}
<button class="button tooltipTemplate" type="button" style="display:none;">
    <span class="tooltipTxt"></span>
</button>
<script defer type="text/javascript" src="./asset/js/tooltip.min.js"></script>
{{/if}}
{{#if select-drop}}
{{!--
<script src="./asset/js/jquery-3.5.0.min.js"></script> --}}
<script defer type="text/javascript" src="./asset/js/select-drop.min.js"></script>
{{/if}}