<div class="widgetHead">
    <button class="button widgetTitle active" onclick="triggerActive('.-curr', this)">
        <span><img class="widgetIcon" src="./asset/images/icon/widget-curr.png" alt="" width="24" height="24"
                loading="lazy"></span>
        Currency
    </button>
    <button class="button widgetTitle" onclick="triggerActive('.-conv', this)">
        <span><img class="widgetIcon" src="./asset/images/icon/widget-conv.png" alt="" width="24" height="24"
                loading="lazy"></span>
        Convertion
    </button>
</div>
<div class="widgetContent">
    <div class="widgetBg bg-img">
        <img src="./asset/images/bg-widget.jpg" alt="" width="360" height="225" loading="lazy">
    </div>
    <div class="widgetItem widgetCurr active -curr">
        <div class="widgetItemHead widgetCurrHead center-flex">
            <button class="button widgetCurrTitle active" onclick="triggerActive('.-tt', this)">
                TT Rate Counter
            </button>
            <button class="button widgetCurrTitle" onclick="triggerActive('.-bank', this)">
                Bank Note Rate Counter
            </button>
        </div>
        <div class="widgetCurrContent active -tt">
            <div class="widgetCurrTable titleP3">
                <table border="0">
                    <tr>
                        <th>Mata Uang</th>
                    </tr>
                    <tr>
                        <td>USD</td>
                    </tr>
                    <tr>
                        <td>SGD</td>
                    </tr>
                    <tr>
                        <td>JPY</td>
                    </tr>
                    <tr>
                        <td>SAR</td>
                    </tr>
                </table>
                <table border="0">
                    <tr>
                        <th>Beli</th>
                    </tr>
                    <tr>
                        <td>16.250,00</td>
                    </tr>
                    <tr>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>-</td>
                    </tr>
                </table>
                <table border="0">
                    <tr>
                        <th>Jual</th>
                    </tr>
                    <tr>
                        <td>16.750,00</td>
                    </tr>
                    <tr>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>-</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="widgetCurrContent -bank">
            <div class="widgetCurrTable titleP3">
                <table border="0">
                    <tr>
                        <th>Mata Uang</th>
                    </tr>
                    <tr>
                        <td>USD</td>
                    </tr>
                    <tr>
                        <td>SGD</td>
                    </tr>
                    <tr>
                        <td>JPY</td>
                    </tr>
                    <tr>
                        <td>SAR</td>
                    </tr>
                </table>
                <table border="0">
                    <tr>
                        <th>Beli</th>
                    </tr>
                    <tr>
                        <td>16.250,00</td>
                    </tr>
                    <tr>
                        <td>9.767,00</td>
                    </tr>
                    <tr>
                        <td>3.529,00</td>
                    </tr>
                    <tr>
                        <td>123,05</td>
                    </tr>
                </table>
                <table border="0">
                    <tr>
                        <th>Jual</th>
                    </tr>
                    <tr>
                        <td>16.750,00</td>
                    </tr>
                    <tr>
                        <td>9.908,00</td>
                    </tr>
                    <tr>
                        <td>3.704,00</td>
                    </tr>
                    <tr>
                        <td>125,80</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="widgetItem widgetConv -conv">
        <form id="form-widget">
            <div class="widgetItemHead widgetConvHead">
                <label class="formRadioLabel" for="conv1">
                    <input type="radio" id="conv1" class="formRadio" name="conv" checked>
                    <span>Beli</span></label>
                <label class="formRadioLabel" for="conv2">
                    <input type="radio" id="conv2" class="formRadio" name="conv">
                    <span>Jual</span></label>
            </div>
            <div class="widgetConvContent">
                <div class="widgetSelect formSelectCustom">
                    <label class="formLabel" for="from">From</label>
                    <select name="from" id="from" class="formSelect" aria-label="Select Currency">
                        <option value="1" selected>USD</option>
                        <option value="2">SGD</option>
                        <option value="3">JPY</option>
                        <option value="4">SAR</option>
                        <option value="5">IDR</option>
                    </select>
                </div>
                <div class="widgetSelect formSelectCustom">
                    <label class="formLabel" for="to">To</label>
                    <select name="to" id="to" class="formSelect" aria-label="Select Currency">
                        <option value="1" selected>IDR</option>
                        <option value="2">SGD</option>
                        <option value="3">JPY</option>
                        <option value="4">SAR</option>
                        <option value="5">USD</option>
                    </select>
                </div>
                <div class="widgetRow">
                    <input class="formInput widgetInput" type="text" name="nominal" id="" inputmode="numeric"
                        aria-label="Type nominal here" placeholder="Type nominal here">
                </div>
            </div>
            <div class="widgetRow widgetResult -wResult">
                <input class="formInput widgetInput" type="text" name="result" value="1,000,000" id="" inputmode="numeric"
                    aria-label="Result" placeholder="" disabled>
            </div>
            <div class="widgetBtn text-center">
                <button type="submit" id="formBtn" class="button buttonPrimary buttonPrimarySolid">Hitung
                    kalkulasi</button>
            </div>
        </form>
    </div>
</div>
</div>