$font-base: 'Prompt', sans-serif;
$font-bold: 'PromptBold', sans-serif;
$font-sbold: 'PromptSemiBold', sans-serif;

$font-weight-normal: 400;
$font-weight-sbold: 600;
$font-weight-bold: 700;

$line-base: 1.43;

$font-size-xlarge: 40px;
$font-size-large: 36px;
$font-size-medium: 30px;
$font-size-normal: 18px;
$font-size-small: 12px;

$cl-primary-black: #333333;
$cl-secondary-black: #4F4F4F;
$cl-primary-orange: #F15B26;
// $cl-secondary-orange: #FFFFFF;
// $cl-tertiery-orange: #FFFFFF;
$cl-primary-green: #09454E;
// $cl-secondary-green: #FFFFFF;
$cl-white: #FFFFFF;
$cl-blue: #2B7097;

$width-container: 1100px;
$w-xxxl: 1920px;
$w-xxl: 1440px;
    $w-xl: 1102px;
$w-hlg: 800px;
$w-vlg: 1024px;
    $w-lg: 960px;
    $w-md: 768px;
$w-hmd: 700px;
    $w-sm: 540px;
    $w-xm: 350px;