                        <!-- <div class="pd-bottom-15">
  <div class="heading-comment" id="jml-komentar">
    0 Komentar
  </div>
  <div class="col-xs-2 picture-box">
    <img class="b-radius-50 pro-pic" id="photo_bisnis" src="https://static.bisnis-cdn.com/bisnis/assets/images/comment/boy.png"/>
    <div class="picture-box blank" id="usernameID">
    </div>
  </div>   
  <div class="col-xs-10 comment-area height-100 no-padding">
    <textarea id="comment-content" class="textarea-fix" onkeyup="cek_karakter()" placeholder="Berikan komentar anda ..." disabled></textarea>
  </div>
  
  <div id="af-login"></div>
  <div class="col-xs-10 login roboto-reguler" id="div-login">
    Silahkan <a href="javascript:;" data-target="#id01" data-toggle="modal" title="Login" class="no-radius log-style">LOGIN</a> dengan Bisnis ID Anda untuk memberikan komentar
  </div>
  <div id="notifikasi"></div>
  <div class="clearfix"></div>
  <div class="col-xs-2 roboto-reguler no-padding dark-grey-color" id="sort_by" style="display: none;">Urut berdasarkan</div>
  <select class="btn-sort roboto-reguler dark-grey-color" id="sort" hidden>
    <option value="sort_new">Terbaru</option>
    <option value="sort_old">Terdahulu</option>
  </select>
  <div class="clearfix"></div>
</div>
<div class="pd-bottom-30" id="comment-box"></div> -->