<!-- untuk lock content
    <div class="premium-popup">
        <div id="premium-popup" class="body modal z100" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="premium-box">
                <div class="premium-relative">
                    <span onclick="location.reload(true)" class="notif-close" data-dismiss="modal" aria-label="Close">
                        Tutup
                    </span>
                    <img src="https://static.bisnis-cdn.com/bisnis/assets/images/2020/notif-premium-success.svg" class="comp" id="img-premium-popup">
                    <span class="txt">Berhasil! Selamat, Anda Telah Berlangganan Paket Premium
                        Content Basic (1 Bulan) Reguler</span>
                    <img src="https://static.bisnis-cdn.com/bisnis/assets/images/2020/notif-premium.svg" class="mt-30">
                </div>
            </div>
        </div>
    </div>


</div>

<!-- untuk lock content -->