{{#each collab.Partner}}
<div class="collabPartner__item swiper-slide">
    <div class="collabPartner__img center-flex">
        <img src="./asset/images/collab/partner/{{add @index 1}}.png" alt="{{title}}" width="80" height="80" loading="lazy">
    </div>
</div>
{{/each}}