{{#each collab.Project}}
<div class="collabProject__wrap swiper-slide">
    <div class="collabProject__item">
        <div class="collabProject__img aboutImg">
            <img src="./asset/images/dummy/collab/project-{{add @index 1}}.jpg" alt="" width="260" height="260"
                loading="lazy">
        </div>
        <h3 class="collabProject__title">{{title}}</h3>
    </div>
</div>
{{/each}}