{{#each collab.Services}}
<div class="col-6 collabServices__card">
    <div class="collabServices__item">
        <div class="collabServices__icon">
            <img src="./asset/images/collab/icon/icon-{{replace title " " "-"}}.png" alt="" width="64" height="64"
                loading="lazy">
        </div>
        <h3 class="collabServices__title">{{title}}</h3>
        <div class="collabServices__content">{{content}}</div>
    </div>
</div>
{{/each}}