<!-- START WIDGET IMSAKIYAH -->
<div class="col-sm-12" style="max-width: 1080px;">
    <div class="wrapper-headline">
        <div class="row">
            <div class="col-lg-4">
                <div class="wrapper__card-imsakiyah">
                    <div>
                        <div class="wrapper__datetime">
                            <span id="momentTanggal" class="datetime__tanggal"></span>
                            <span class="datetime__tanggal-custom">(4 Ramadan 1443 H)</span>
                            <p id="momentJam" class="datetime__jam"></p>
                        </div>
                    </div>
                </div>
                <a href="https://www.bisnis.com/jadwal-imsakiyah-2022" class="btn btn__imsakiyah">Jadwal
                    Selengkapnya</a>
            </div>
            <div class="col-lg-8">
                <div class="wrapper__widget-imsakiyah">
                    <div>
                        <img src="https://static.bisnis-cdn.com/bisnis/assets/images/jadwal-imsakiyah/imsakiyah-kubah2022.svg"
                            alt="">
                        <div class="jadwal__widget-imsakiyah">
                            <p class="jadwal__sholat">Imsak</p>
                            <p class="jadwal__jam red">04:30</p>
                        </div>
                    </div>
                    <div>
                        <img src="https://static.bisnis-cdn.com/bisnis/assets/images/jadwal-imsakiyah/imsakiyah-kubah2022.svg"
                            alt="">
                        <div class="jadwal__widget-imsakiyah">
                            <p class="jadwal__sholat">Subuh</p>
                            <p class="jadwal__jam">04:40</p>
                        </div>
                    </div>
                    <div>
                        <img src="https://static.bisnis-cdn.com/bisnis/assets/images/jadwal-imsakiyah/imsakiyah-kubah2022.svg"
                            alt="">
                        <div class="jadwal__widget-imsakiyah">
                            <p class="jadwal__sholat">Dzuhur</p>
                            <p class="jadwal__jam">11:59</p>
                        </div>
                    </div>
                    <div>
                        <img src="https://static.bisnis-cdn.com/bisnis/assets/images/jadwal-imsakiyah/imsakiyah-kubah2022.svg"
                            alt="">
                        <div class="jadwal__widget-imsakiyah">
                            <p class="jadwal__sholat">Ashar</p>
                            <p class="jadwal__jam">15:14</p>
                        </div>
                    </div>
                    <div>
                        <img src="https://static.bisnis-cdn.com/bisnis/assets/images/jadwal-imsakiyah/imsakiyah-kubah2022.svg"
                            alt="">
                        <div class="jadwal__widget-imsakiyah">
                            <p class="jadwal__sholat">Maghrib</p>
                            <p class="jadwal__jam red">17:59</p>
                        </div>
                    </div>
                    <div>
                        <img src="https://static.bisnis-cdn.com/bisnis/assets/images/jadwal-imsakiyah/imsakiyah-kubah2022.svg"
                            alt="">
                        <div class="jadwal__widget-imsakiyah">
                            <p class="jadwal__sholat">Isya</p>
                            <p class="jadwal__jam">19:08</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END WIDGET IMSAKIYAH -->