<p>Bisnis.com, JAKARTA — Bersiaplah menyaksikan lebih sedikit film berlabel Netflix original di platform streaming-nya.
    Setelah belum lama ini memangkas harga sebagian paket berlangganan di 100 negara, Netflix kini sedang
    merestrukturisasi divisi filmnya.</p>
<p>Upaya itu bakal membuat lebih sedikit film dirilis setiap tahun, dan pemusatan aktivitas pengambilan keputusan di
    tubuh perusahaan. Netflix dikenal paling keranjingan memproduksi film orisinal dibandingkan para pesaingnya di
    Hollywood, dengan lebih dari 50 proyek dalam satu tahun.</p>
<p>Beberapa diantaranya diganjar penghargaan bergengsi, sebut saja All Quiet on the Wester Front, yang memenangkan piala
    Oscar untuk film internasional terbaik tahun ini. Hit lain seperti Glass Onion: A Knives Out Mystery ditonton oleh
    puluhan juta orang.</p>