<div class="baca-juga">
    <table>
        <tbody>
            <tr>
                <th>Baca Juga
                    <span>
                        <a href="https://lifestyle.bisnis.com/read/20230120/254/1620159/sinopsis-the-last-of-us-adaptasi-game-yang-viral-di-medsos"
                            target="_blank" title="Sinopsis The Last of Us, Adaptasi Game yang Viral di Medsos"
                            rel="noopener">Sinopsis The Last of Us, Adaptasi Game yang
                            Viral di Medsos</a>
                    </span>
                </th>
            </tr>
        </tbody>
    </table>
</div>