<li><a href="https://www.facebook.com/wwwbisniscom" title="Facebook" target="_blank"><img
            src="https://static.bisnis-cdn.com/bisnis/assets/images/2020/fb-icon.svg" class="" /></a></li>
<li><a href="https://twitter.com/Bisniscom" title="Twitter" target="_blank"><img
            src="https://static.bisnis-cdn.com/bisnis/assets/images/2020/tweet-icon.svg" class="" /></a></li>
<li><a href="https://www.instagram.com/bisniscom/" title="Instagram" target="_blank"><img
            src="./asset/images/icon/icon-ig-black.svg" class="" alt="" width="25" height="25" /></a></li>
<li class="last"><a href="https://www.youtube.com/channel/UCJmNywTIJojwjCKzfs0lgNw" title="Youtube" target="_blank"><img
            src="https://static.bisnis-cdn.com/bisnis/assets/images/2020/youtube-icon.svg" class="" /></a>
</li>