<div class="billboard billboardTop banner">
    <div class="billboardSticky">
        <!-- <div id='div-gpt-ad-billboard'>
            <script>
                googletag.cmd.push(function () {
                    googletag.display('div-gpt-ad-billboard');
                });
            </script>
        </div> -->
        <img alt="" width="728" height="90" class="i-amphtml-fill-content i-amphtml-replaced-content" decoding="async"
            src="https://tpc.googlesyndication.com/simgad/17526646724452006090?sqp=4sqPyQQrQikqJwhfEAEdAAC0QiABKAEwCTgDQPCTCUgAUAFYAWBfcAJ4AcUBLbKdPg&amp;rs=AOga4qlk75wPyJX6EnVqdQjDsFxmRLMsaA">
    </div>
</div>