<ul class="sidebarMenu">
    <li><a href="about.html" class="sidebarMenu__link{{#eq page compare="about"}} active{{/eq}}">About</a></li>
    <li><a href="mission.html" class="sidebarMenu__link{{#eq page compare="mission"}} active{{/eq}}">Mission</a></li>
    <li><a href="team.html" class="sidebarMenu__link{{#eq page compare="team"}} active{{/eq}}">Team</a></li>
    <li><a href="services.html" class="sidebarMenu__link{{#eq page compare="service"}} active{{/eq}}">Service</a></li>
</ul>