<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>
    <!-- header -->
    {{> header page="" login=false}}
    <!-- header -->
    <!-- main -->
    <main role="main" class="main">
        <section class="container help">
            <div class="articleCaption mt30">Tentang Kami</div>
            <p class="helpContent mt20">
                <strong>TABLOIDBINTANG.COM</strong>&nbsp;-&nbsp;Situs berita hiburan, profil
                artis, gosip artis, musik, lirik lagu, film, tips kesehatan, kecantikan, psikologi, zodiak,
                resep masakan, peristiwa, foto artis, video artis. Online sejak 11 Januari 2010. Bagian tak
                terpisahkan dari tabloid Bintang Indonesia edisi cetak yang terbit 1991-2019.
            </p>
            <div class="helpTitle mt40">Direktur Konten:</div>
            <p class="helpContent mt10">
                Fakhmi Kurniawan
            </p>
            <div class="helpTitle mt40">Pemimpin Redaksi / Penanggung Jawab: </div>
            <p class="helpContent mt10">
                Tubagus Guritno
            </p>
            <div class="helpTitle mt40">Redaktur Pelaksana / Koordinator Liputan: </div>
            <p class="helpContent mt10">
                Supriyanto
            </p>
            <div class="helpTitle mt40">Staf Redaksi: </div>
            <p class="helpContent mt10">
                Ari Kurniawan, Binsar Hutapea, Seno Susanto, Vallesca Souisa, Indra Kurniawan, Markuat
            </p>
            <div class="helpTitle mt40">Sales & Marketing:</div>
            <p class="helpContent mt10">
                Bayu Purna Yudha, Gracelia Tanudjaja
            </p>
            <div class="helpTitle mt40">PT. TABLOID BINTANG INDONESIA</div>
            <p class="helpContent mt10">
                MD Place, Tower 1, Lantai 5, Jl. Setiabudi Selatan No.7, Kuningan, Jakarta 12910 - Telp: (021)
                298 55 777 (Ext : 805) - Email: redaksi@tabloidbintang.com (redaksi), iklan@tabloidbintang.com
                (iklan) | Facebook: <a target="_blank" rel="noopener noreferrer"
                    href="https://www.facebook.com/tabloidbintang">tabloidbintang</a> | Twitter: <a target="_blank"
                    rel="noopener noreferrer" href="https://twitter.com/TabloidBintang">@TabloidBintang</a>
                | Instagram: <a target="_blank" rel="noopener noreferrer"
                    href="https://instagram.com/TabloidBintang">@TabloidBintang</a>
            </p>
        </section>
    </main>
    {{> ads/sticky}}

    <!-- footer -->
    {{> footer}}

    {{> js}}

</body>

</html>