<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>
    <!-- header -->
    {{> header page="" login=false}}
    <!-- header -->
    <!-- main -->
    <main role="main" class="main">
        <section class="container help">
            <div class="articleCaption mt30">Disclaimer</div>
            <div class="helpContent mt20">
                <p><strong>TABLOIDBINTANG.COM</strong> - Terms of Use</p>
                <p>
                    Selamat datang di Bintang Online atau tabloidbintang.com, situs berita hiburan dan gaya
                    hidup
                    yang dikelola PT Media Bintang Indonesia.
                </p>
                <p>
                    Terms of Use adalah ketentuan penggunaan situs, konten, layanan dan fitur di
                    tabloidbintang.com.</p>
                <p>
                    Dengan mengakses, berarti Anda telah memahami dan setuju dengan semua peraturan di situs
                    ini.</p>
                <p>
                    Beberapa layanan pada situs ini, seperti Forum dan Komunitas, hanya tersedia untuk
                    pengunjung
                    yang telah mendaftar. Anda yang sudah terdaftar, diwajibkan mengikuti peraturan penggunaan
                    layanan.</p>
                <p>
                    Di beberapa area atau layanan, Anda dapat upload atau mengunduh (download) dokumen. Dengan
                    menggunakan layanan tersebut, Anda setuju terikat dengan petunjuk dan peraturan penggunaan
                    yang
                    berlaku.</p>
                <p>
                    Pengunjung tabloidbintang.com harus tunduk pada hukum dan peraturan perundangan dalam
                    wilayah
                    Republik Indonesia.</p>
                <p>
                    Dilarang memuat atau meneruskan (melalui tabloidbintang.com) materi atau hal lain sebagai
                    berikut: Melanggar atau menyalahi hak orang lain, melanggar hukum, mengancam, menghina,
                    melecehkan, memfitnah, mencemarkan, atau menimbulkan kebencian pada orang atau golongan
                    tertentu. Melecehkan atau mengintimidasi individu atau kelompok berdasarkan agama, jenis
                    kelamin, orientasi seksual, ras, etnis, usia atau cacat fisik. Melanggar norma kesusilaan,
                    cabul, pornografi. Menganjurkan atau menyarankan perbuatan yang melanggar hukum.
                    Menyinggung,
                    memicu pertentangan dan atau permusuhan Suku, Agama, Ras dan Antar Golongan (SARA).
                    Menulis/mengirim kata-kata atau gambar yang bisa menimbulkan rasa ngeri, kasar, atau sumpah
                    serapah. Menyebarkan ideologi dan atau ajaran tertentu yang dilarang oleh hukum yang berlaku
                    di
                    wilayah Indonesia</p>
                <p>
                    Dalam penggunaan tabloidbintang.com, Anda setuju untuk memberikan informasi akurat, baru dan
                    komplit tentang diri Anda saat mengisi formulir pendaftaran.</p>
                <p>
                    Tidak diijinkan menggunakan dengan kondisi atau cara apapun yang dapat merusak atau
                    mengganggu
                    sistem atau jaringan tabloidbintang.com. Juga tidak diijinkan mengakses layanan, user
                    accounts,
                    sistem komputer atau jaringan secara tidak sah, dengan cara hacking, password mining atau
                    lainnya.</p>
                <p>
                    Seluruh rancangan desain, gambar serta kode pemrograman dalam situs ini hak cipta milik
                    pengelola. Anda tidak diperkenankan untuk memodifikasi, menyalin, mengubah atau menambah.
                </p>
                <p>
                    Anda diijinkan menggunakan tabloidbintang.com dan konten yang ditawarkan hanya untuk
                    keperluan
                    pribadi, bukan tujuan komersiel.</p>
                <p>
                    Pengguna tidak diperkenankan memproduksi ulang, meminjamkan atau mendistribusikan konten
                    situs
                    ini tanpa ijin dari pengelola.</p>
                <p>
                    Terima kasih atas kerja sama dan pengertian Anda semua.</p>
            </div>
        </section>
    </main>
    {{> ads/sticky}}

    <!-- footer -->
    {{> footer}}

    {{> js}}

</body>

</html>