<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>
    <!-- header -->
    {{> header page="" login=false}}
    <!-- header -->
    <!-- main -->
    <main role="main" class="main">
        <section class="container">
            <form class="search mt30" action="">
                <div class="searchWrap">
                    <input class="formInput formInput__wicon text-center" id="search" type="text" value="Salma Farida"
                        placeholder="Search" aria-label="Search">
                    <button class="button searchBtn" type="submit" name="submit" aria-label="Search">
                        <span class="icon icon-search">
                        </span>
                    </button>
                </div>
            </form>
            <p class="searchText mt20">Pencarian <span class="pink">“Salma Farida”</span>, ditemukan 10 hasil :</p>
            {{> article}}
            {{> article}}
            {{> paging mt=30}}
        </section>
    </main>

    <!-- footer -->
    {{> footer}}

    {{> js}}

</body>

</html>