.address {
    &Item {
        @extend .sortBox;
        position: relative;

        @include min-responsive($w-md) {
            padding-right: 120px
        }
    }

    &Radio {
        position: relative;
        display: none;
        z-index: 1;

        &:checked {
            ~.addressPick {
                .button {
                    @extend %hidden;
                    display: none;
                }

                img {
                    @extend %visible
                }
            }

            ~.addressRadioState {
                &::before {
                    background: var(--grad-blugreen);
                }
            }
        }

        &State {
            &::before {
                position: absolute;
                top: -1px;
                bottom: -1px;
                left: -1px;
                right: -1px;
                background: #BDBDBD;
                content: '';
                z-index: 0;
                border-radius: 10px;
            }
        }

        &Wrap {
            position: relative;
            background: $cl-white;
            border-radius: 10px;
            padding: 12px 15px;
            z-index: 0;

            @include min-responsive($w-xl) {
                padding: 12px 20px;
            }
        }
    }

    &Pick {

        .button,
        img {
            position: absolute;
            min-height: 50px;
            top: 12px;
            right: 15px;
            pointer-events: none;
            object-fit: scale-down;

            @include min-responsive($w-md) {
                top: calc(50% - 50px/2);
                right: 20px;
            }
        }

        img {
            @extend %hidden;
        }
    }

    &Wrap {
        @extend %display-flex;
        @extend %flex-row;
        @extend %align-center;
        font-size: 14px;

        .tag {
            margin-left: 12px
        }
    }

    &Name {
        margin-right: 4px
    }

    &Txt {
        margin-top: 12px;
        @extend %title--small;

        span {
            margin-left: 4px;
        }
    }

    &Cta {
        position: relative;
        margin-top: 10px;
        z-index: 1;

        @include min-responsive($w-md) {
            position: absolute;
            margin-top: 0;
            right: 15px;
            bottom: calc(50% - 19px/2);
        }

        &Wrap {
            .button {
                display: inline-block;
                padding: 2px 4px;
                @include font-pack($size: 12px, $color: #175CC3);
            }
        }

        &Share {
            &:after {
                position: absolute;
                content: '|';
                margin-left: 4px;
                margin-right: 4px;
            }
        }
    }

    &Pin {
        .iconLoc {
            @extend %iconLoc;
            @extend %filterGrey;
            width: 18px;
            height: 18px;
            vertical-align: sub;
            background-size: contain;

            @include min-responsive($w-md) {
                vertical-align: text-top;
                margin-right: 5px;
            }
        }
    }

    .--list {
        padding: 12px 20px;

        .address {

            &Txt,
            &Phone,
            &Pin {
                @include font-pack($family: $font-base, $size: 12px, $weight: $font-weight-normal, $color: #676767);

                @include min-responsive($w-md) {
                    font-size: 14px
                }
            }

            &Txt,
            &Phone {
                margin-top: 8px;
            }

            &Wrap {
                @extend %flex-column;
                @extend %align-start;

                strong {
                    @include font-pack($family: $font-xbold, $size: 16px, $weight: $font-weight-xbold, $color: $cl-primary-black);
                }
            }

            &Label {
                @include font-pack($family: $font-sbold, $weight: $font-weight-sbold, $color: #676767);
            }

            &Name {
                order: 1;
                margin-top: 15px;
            }

            &Cta {
                position: relative;
                right: unset;
                bottom: unset;
                @extend %display-flex;
                @extend %align-center;
                @extend %justify-between;
            }
        }
    }

    label {
        display: block;
        border: 0;
        cursor: pointer;

        &.--list {
            padding: 0;
        }

        .addressWrap,
        .addressPhone,
        .addressTxt {
            @include range-responsive($w-md, $w-xl) {
                padding-right: 134px;
            }

            @include min-responsive($w-xl) {
                padding-right: 185px;
            }
        }

        .addressWrap {
            width: calc(100% - 8px - 74px);

            @include min-responsive($w-md) {
                width: auto;
            }
        }
    }

    &Popupbox {
        .address {
            &Item {
                margin-top: 12px;
            }
        }

        .search {
            @extend %search;

            &Input {
                @extend %searchInput;
            }
        }

        .button {
            &RectSpan {
                width: 100%;
                margin-top: 24px;
                margin-bottom: 12px;
            }
        }
    }
}