.catalog {
    &Menu {
        @extend %justify-center;

        &Link {
            @extend %center-flex;
            @extend %flex-column;
            @extend %text-center;
            margin: auto;
            width: 111px;

            &:hover {
                .catalogTitle {
                    color: #175CC3;
                }
            }
        }
    }

    &Item {
        margin-top: 20px;
        margin-left: -15px;
        margin-right: -15px;

        @include min-responsive($w-xl) {
            margin-left: -25px;
            margin-right: -25px;
        }
    }

    &Img {
        @extend %center-flex;
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 20px;
        border: 1px solid #E0E0E0;
    }

    &Title {
        margin-top: 5px;
        @include font-pack(false, 13px, $font-weight-normal, 1.45, #333);
        letter-spacing: 0.26px;
    }
}