.coupon {
    &Wrap {
        @extend %justify-between;
        @extend %align-start;
        margin-right: 0;
        margin-left: 0;
    }

    &Item {
        @extend %display-flex;
        @extend %align-center;
        margin-top: 20px;
        padding: 15px;
        border-radius: 5px;
        background: #E8F4FF;
        @extend %title--small;

        @include range-responsive($w-md, $w-lg) {
            max-width: 334px;
        }

        @include range-responsive($w-lg, $w-xl) {
            max-width: 300px;
        }

        @include min-responsive($w-xl) {
            max-width: 375px;
        }
    }

    &Box {
        flex: 1;
        margin-right: 20px;
    }

    &Title,
    &Txt {
        @extend %ellipsis;
        -webkit-line-clamp: 1;
    }

    &Title {
        @include font-pack($family: $font-mbold, $size: 14px, $weight: $font-weight-mbold);
    }

    &Txt {
        margin-top: 8px;
    }

    &Date {
        margin-top: 12px;
        color: #175CC3;
    }

    &More {
        display: block;
        color: #39AE36;

        @include min-responsive($w-xl) {
            display: inline-block;
            margin-left: 12px;
        }
    }

    &Cta {
        &.active {
            background: #BDBDBD;
        }
    }

    &Tnc {

        &Title,
        &Item {
            @extend %display-flex;
            @extend %align-center;
        }

        &Item {
            @extend %justify-between;
            margin-top: 18px;
        }

        &Title {
            font-size: 14px;

            @include min-responsive($w-md) {
                font-size: 16px;
            }
        }

        .icon {
            display: none;
            flex-shrink: 0;
            @extend %filterGrey;

            @include min-responsive($w-md) {
                display: inline-block;
                margin-right: 10px;
                width: 24px;
                height: 24px;
            }
        }

        .iconClock {
            @extend %iconClock
        }

        .iconMinimum {
            @extend %iconMinimum
        }

        .countDown__interval_basic_cont {
            padding-right: 18px;
        }
    }

    &Content {
        &>.popupTitle {
            font-size: 18px;

            @include min-responsive($w-md) {
                font-size: 20px;
            }
        }
    }

    &Nom {
        @include font-pack($family: $font-xbold, $weight: $font-weight-xbold);
    }

    &Btn {
        @extend %buttonRectWhite;
        width: 100%;
        margin-bottom: 24px;
        padding: 15px;
        border-width: 1px;

        .iconChevron {
            @extend %iconChevron;
            @extend %filterGrey;
            width: 20px;
            height: 20px;
            margin-left: 16px;
            vertical-align: middle;
            transform: rotate(270deg);
        }
    }

    &Popupbox {
        .buttonBack {
            @extend %display-flex;
            @extend %align-center;
            @extend %buttonBack
        }

        .iconArrow {
            @extend %iconArrow;
            width: 24px;
            height: 24px;
            margin-right: 14px;
        }

        .coupon {
            &Item {
                margin-top: 12px;
                max-width: 100%;
            }
        }
    }

    &Sign {
        margin-right: 6px;
        vertical-align: middle;
    }

    &Best {
        position: relative;
        padding: 19px 29px;
        background-size: cover;
        @include font-pack($family: $font-mbold, $size: 14px, $weight: $font-weight-mbold, $color: $cl-white);

        span {
            display: block;
            margin-top: 8px;
            @extend %title--small;
            @include font-pack($family: $font-base, $weight: $font-weight-normal);
        }

        &Wrap {
            position: relative;
            z-index: 1;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 16px;
            background-size: 20px 40px;
            background-position: 0 10px;
            z-index: 0;
        }

        &::before {
            left: 0;
            background-image: radial-gradient(circle at 4px 15px, #fff 11px, transparent 12px, transparent 0);
        }

        &::after {
            right: 0;
            background-image: radial-gradient(circle at 15px 15px, #fff 11px, transparent 12px, transparent 0);
        }
    }
}