.dis {
    &Box {
        padding: 1px 15px 15px;
        border-radius: 7px;
        border: 1px solid #BDBDBD;

        @include min-responsive($w-xl) {
            padding: 1px 20px 15px;
        }
    }

    &Item {
        position: relative;
        margin-top: 14px;

        >.disItem {
            margin-left: 30px
        }

        .disHide .disItem {
            margin-left: 30px
        }

        .formInput {
            margin-top: 14px;
        }
    }

    &Cta {
        @extend %display-flex;
        justify-content: flex-end;
        padding: 12px 20px;
        border-radius: 0px 0px 10px 10px;
        border-right: 1px solid#BDBDBD;
        border-bottom: 1px solid#BDBDBD;
        border-left: 1px solid#BDBDBD;

        &Wrap {
            @extend %display-flex;
            @extend %flex-column;

            .formInput {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .buttonRect {
            min-width: 116px;
        }
    }

    &Dots {
        @extend %buttonDots;
        position: absolute;
        top: 0;
        right: -10px;

        @include min-responsive($w-xl) {
            right: 0;
        }

        &.active{
            ~ .disReport{
                @extend %visible
            }
        }
    }

    &Content {
        padding-left: 44px;
        padding-right: 24px;

        .button {    
            &RectGrad {
                width: 100%;
                margin-top: 10px;
    
                @include min-responsive($w-md) {
                    width: auto;
                    margin-top: 0;
                }
            }
        }

        .userWrap{
            display: block;
        }
    }

    &User {
        &Img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &Hide {
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s linear;
        will-change: max-height;
        padding-bottom: 14px;
    }

    &Report {
        position: absolute;
        top: 30px;
        right: 0;
        padding: 9px 23px;
        border-radius: 7px;
        border: 1px solid #BDBDBD;
        background: $cl-white;
        @extend %title--small;
        @include font-pack($family: $font-bold, $weight: $font-weight-bold, $color: $cl-primary-black);
        z-index: 1;
        @extend %hidden;
    }

    .formInput {
        width: 100%;
        border: 1px solid #BDBDBD;
    }
}