.menu {
    position: relative;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    opacity: 1;
    z-index: 4;
    overflow: hidden;

    &.hide {
        opacity: 0;
    }

    &Toggle {
        width: 32px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 2;

        &:checked {

            ~.ham {
                transform: rotate(225deg);

                .top {
                    stroke-dasharray: 17 82;
                    stroke-dashoffset: -62px;
                }

                .middle {
                    stroke-dashoffset: 23px;
                    stroke-dasharray: 40 111;
                }

                .bottom {
                    stroke-dashoffset: -83px;
                }

                .hamLine {
                    stroke: #333
                }
            }
        }
    }

    &Mob {
        @extend %display-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        @include min-responsive($w-xl) {
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }

    &Mob.mobile {
        position: fixed;
        width: 100%;
        height: 100%;
        margin-top: 0;
        padding: 70px 0 22px;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 1);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        visibility: hidden;
        opacity: 0;
        overflow-y: auto;
        overflow-x: hidden;
        overscroll-behavior-y: contain;
        z-index: 3;
        @include base_transition(all, .2s);

        &.active {
            visibility: visible;
            opacity: 1;
        }

        .nav {
            width: 100%;

            &List {
                margin-left: 0;
                margin-right: 0;
                flex-direction: column;
                padding-bottom: 22px;
                border-bottom: 4px solid #F0F3F7;
            }

            &Item {
                width: calc(100% - 10px);
                padding: 4px 0;
                margin-top: 8px;
                margin-left: 5px;
                margin-right: 5px;

                &.active,
                &:hover {

                    .navLink,
                    .navOpen {
                        color: #175CC3;
                    }
                }

                &::after {
                    opacity: 0;
                }
            }
        }

        .headerAccessWrap,
        .headerUserWrap {
            width: 100%;
        }

        .headerAccess {
            padding: 22px 0px;
            border-top: 1px solid #F0F3F7;
            border-bottom: 4px solid #F0F3F7;
        }

        .headerSeller {
            margin-left: 0;
            width: calc(100% - 65px);

            &Name {
                max-width: unset;
                @include font-pack($size: 14px, $color: #333)
            }
        }

        .headerUserWrap {
            @extend %justify-between;
            padding-left: 15px;
            padding-right: 15px;
        }

        .headerLogin {
            padding-left: 10px;
            padding-right: 10px;

            &Wrap {
                margin: auto;
            }
        }

        .searchbox {
            width: calc(100% - 30px);
            margin-top: 22px;
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}