.notif {
    &Box {
        position: relative;
        padding: 11px 10px 11px 43px;
        border-radius: 10px;
        background: #F0F0F0;
        @include font-pack(false, 12px, false, false, false);
        letter-spacing: 0.26px;

        a {
            color: #175CC3;
        }

        .icon {
            width: 24px;
            height: 24px;
            position: absolute;
            left: 10px;
        }
    }
}