.popsheet {    
    &.mobile {
        position: fixed;
        top: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.75);
        z-index: 999; //above .header
        @extend %hidden;

        &.active {
            @extend %visible;
            height: var(--app-height);

            .popsheetWrap {
                transform: translate3d(0, 0, 0);
            }
        }

        .popsheetWrap {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: auto;
            padding: 15px;
            max-height: var(--app-height);
            background: $cl-white;
            transform: translateY(var(--app-height));
            transition-duration: 400ms;
            transition-property: transform;
            transition-timing-function: cubic-bezier(0.2, 0.64, 0.21, 1);
            overscroll-behavior-y: contain;
            border-radius: 10px 10px 0px 0px;
            box-shadow: 0px -1px 6px rgba(49, 53, 59, 0.12);
        }
    }

    hr {
        margin-top: 12px;
        margin-bottom: 18px;
    }

}