.qty {
    @extend %display-flex;
    @extend %align-center;
    padding: 3px 5px;
    border-radius: 5px;
    background: #F2F2F2;
    @include font-pack($family: $font-sbold, $size: 16px, $weight: $font-weight-sbold);

    &Wrap {
        @extend %display-flex;
        @extend %align-center;
    }

    &Amount {
        margin-left: 20px;
        @extend %title--small;
        color: #525252;
        flex-shrink: 0;
    }

    &Btn {
        width: 32px;
        height: 32px;
        font-size: 22px;

        &.disable {
            pointer-events: none;
            color: #BDBDBD;
        }
    }

    &Input {
        flex: 1;
        width: 100%;
        background: transparent;
        border: 0;
        padding: 0;
        text-align: center;
    }
}