.rating {
    &Product {
        @include font-pack($font-bold, 54px, $font-weight-bold, .64, $cl-primary-black);

        .iconStar {
            width: 33px;
            height: 32px;
        }
    }

    &Mark {
        vertical-align: bottom;
        @extend %title--small;
        @include font-pack($font-base, false, $font-weight-normal, false, #676767);
    }

    &Item {
        @extend %display-flex;
        @extend %align-center;
        @extend %title--small;
        position: relative;
        color: #525252;

        &Num {
            @extend %text-center;
            width: 8px;
        }
    }

    &Prog {
        position: absolute;
        width: 0;
        height: 5px;
        border-radius: 10px;
        background: linear-gradient(90deg, #FCDA2A 0%, #EC5F22 100%);

        &Wrap {
            position: relative;
            width: 78%;
            height: 5px;
            border-radius: 10px;
            background: #F0F0F0;

            span {
                position: absolute;
                top: -7px;
                right: -45px;
            }
        }

        &ress {
            @include range-responsive($w-md, $w-xl) {
                max-width: 370px;
            }

            .iconStar {
                margin-left: 3px;
                margin-right: 3px;
                width: 16px;
                height: 16px;
                flex-shrink: 0;
            }
        }
    }

    &Filter {
        .sortFilter {
            padding-top: 10px;
            border-top: 0;

            @include min-responsive($w-xl) {
                padding-top: 0;
            }
        }

        .custom-select {
            width: 100%;
            margin-top: 10px;
            @extend %title--small;
            color: #525252;

            .select {
                min-height: 43px;
            }

            .styledSelect:after {
                top: 11px;
            }
        }
    }

    &List {
        @extend %display-flex;
        @extend %align-center;

        ~ .userPost{
            margin-top: 7px;
        }
    }
}