.report {
    &Popupbox {
        padding-bottom: 0;
    }

    &Content {
        padding-top: 1px;
        padding-bottom: 15px;

        .formInput {
            width: 100%;
        }
    }

    &Cta {
        @extend %display-flex;
        @extend %align-center;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-left: -5px;
        margin-right: -5px;

        .button {
            margin-left: 5px;
            margin-right: 5px;
            width: calc(50% - 10px);
        }

        .buttonRectWhite {
            @extend %buttonRectWhite;
        }

        .buttonRectSpan span {
            padding: 13px 20px;
        }
    }
}