.searchbox {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    background: #F6F6F6;

    &Input {
        width: calc(100% - 26px);
        background: transparent;
        border: 0;
        padding: 0;
        margin-left: 26px;
        @include placeholder($size: 14px, $color: #ACACAC);

        &:focus {
            outline: 0
        }
    }

    .iconSearch {
        @extend %iconSearch;
        position: absolute;
        top: 14px;
        width: 16px;
        height: 16px;
    }
}

%search {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #676767;
    background: $cl-white;

    &Input {
        width: calc(100% - 26px);
        background: transparent;
        border: 0;
        padding: 0;
        margin-left: 26px;
        @include placeholder($size: 13px, $color: #676767, $line: 1.45);
        letter-spacing: 0.26px;

        &:focus {
            outline: 0
        }
    }

    .iconSearch {
        @extend %iconSearch;
        @extend %filterGrey;
        position: absolute;
        top: 14px;
        width: 16px;
        height: 16px;
    }
}