.searchbox {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    background: #F6F6F6;

    &Input {
        width: calc(100% - 26px);
        background: transparent;
        border: 0;
        padding: 0;
        margin-left: 26px;
        @include placeholder($size: 14px, $color: #676767);

        @include min-responsive($w-xl) {
            @include placeholder($color: #ACACAC);
        }

        &:focus {
            outline: 0
        }
    }

    .iconSearch {
        @extend %iconSearch;
        position: absolute;
        top: 14px;
        width: 16px;
        height: 16px;
    }
}