.seller {
    &Wrap {
        flex: 1;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-right: 0;
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;

        @include range-responsive($w-md, $w-xl) {
            @media (hover: hover) {
                margin-bottom: 10px;
                @include scroll($height: 4px, $active: #F8F8F8, $bg: transparent);
            }
        }

        @media (hover: none) {
            scrollbar-width: none;
            scrollbar-height: none;
            padding-bottom: 10px;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
        }

        @include min-responsive($w-xl) {
            flex-wrap: wrap;
            margin-left: -45px;
            margin-right: -15px;
            padding-left: 0;
            padding-right: 10px;
        }
    }

    &Item {
        @extend %text-center;
        position: relative;
        max-width: 180px;
        flex-basis: 180px;
        flex-grow: 1;
        margin: 20px 5px 10px;
        padding: 0 13px 20px 13px;
        border-radius: 20px;
        background: #F8F8F8;

        @include min-responsive($w-xl) {
            margin: 20px 5px;
        }

        &::before {
            position: absolute;
            top: -1px;
            bottom: -1px;
            left: -1px;
            right: -1px;
            background: var(--grad-blugreen);
            content: '';
            z-index: -1;
            border-radius: 20px;
        }
    }

    &Img {
        @extend %center-flex;
        width: calc(100% + 26px);
        margin-left: -13px;
        margin-right: -13px;
        height: 145px;
        background: $cl-white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        img {
            max-width: 97px;
            max-height: 97px;
            object-fit: contain;
        }
    }

    &Origin {
        @extend .productOrigin;
        margin-top: 7px;
        color: $cl-primary-black
    }

    &Title {
        @extend %ellipsis;
        -webkit-line-clamp: 1;
        margin-top: 15px;
        @include font-pack($family: $font-sbold, $size: 16px, $weight: $font-weight-sbold);
    }

    &Cta {
        display: block;
        position: relative;
        padding: 5px 10px;
        border-radius: 7px;
        z-index: 1;

        &Wrap {
            @extend %buttonRectGrad;
            display: inline-block;
            margin-top: 22px;

            &::before {
                z-index: 0;
                pointer-events: none;
            }

            &:hover {
                background: transparent;

                .sellerCta {
                    background: $cl-white;
                }
            }
        }

        &Txt {
            position: relative;
            z-index: 1;
        }
    }
}

%--spacing {
    .seller {
        &Wrap {
            flex-wrap: wrap;
            margin-left: -2px;
            margin-right: -2px;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
            overflow-x: unset;

            @include min-responsive($w-md) {
                margin-left: -37.5px;
                margin-right: -37.5px;
            }

            @include min-responsive($w-lg) {
                margin-left: -35px;
                margin-right: -35px;
            }

            @include min-responsive($w-xl) {
                margin-left: -28.5px;
                margin-right: -28.5px;
            }
        }

        &Item {
            margin: 20px 4px 10px;
            max-width: calc(50% - 8px);
            flex-basis: calc(50% - 8px);

            @include min-responsive($w-md) {
                margin: 20px 37.5px 10px;
                max-width: 180px;
                flex-basis: 180px;
            }

            @include min-responsive($w-lg) {
                margin: 20px 35px 10px;
            }

            @include min-responsive($w-xl) {
                margin: 20px 28.5px 10px;
            }
        }

        &Cta {
            padding: 5px 7px;

            @include max-responsive($w-xm) {
                padding: 4px;
            }

            @include min-responsive($w-sm) {
                padding: 5px 10px;
            }
        }
    }
}