.share {
    &Content {
        font-size: 14px;
    }

    &Wrap {
        @extend %display-flex
    }

    &Img {
        position: relative;
        width: 60px;
        height: 60px;
        margin-right: 12px;
        flex-shrink: 0;
        overflow: hidden;

        img {
            @extend %image
        }
    }

    &Title {
        span {
            display: block;
            margin-top: 8px;
            @extend %title--small
        }
    }

    &List {
        @extend %display-flex;
        @extend %justify-between;
    }

    &Button {
        &Title {
            margin-top: 8px;
            @extend %title--small;
            color: $cl-primary-black;

            @include max-responsive($w-xm) {
                font-size: 12px;
            }
        }
    }

    &Link {
        @extend %display-flex;
        @extend %align-center;
        margin-top: 16px;

        .formInput {
            margin-right: 15px;
            width: calc(100% - 111px);
        }

        .buttonRect {
            @extend .buttonRectSpan;
            min-width: 111px;
            padding: 0;
        }
    }
}