.title {
    padding-top: 10px;
    padding-bottom: 10px;
    @include font-pack($family: $font-bold, $size: 24px, $lh: 1.45, $weight: $font-weight-bold);

    &Wrap {
        position: relative;
    }

    &Link {
        position: absolute;
        top: 15px;
        right: 0;
        @include font-pack($family: $font-sbold, $weight: $font-weight-sbold, $color:#175CC3);
    }

    span {
        padding-bottom: 6px;
        border-bottom: 5px solid transparent;
        border-bottom-style: solid;
        border-image: var(--grad-blugreen);
        border-image-slice: 1;
    }

}