.wishlist {
    color: $cl-primary-black;

    .product {
        &Item {
            button.buttonRect {
                position: absolute;
                left: 17px;
                bottom: 18px;
                width: calc(100% - 34px);

                ~.productLink {
                    padding-bottom: 78px;
                }
            }

        }

        &Link {
            min-height: 394px;
        }
    }
}