<!-- article -->
<div class="article">
    <ul class="articleList">
        <li class="articleItem mt20 display-flex">
            <a href="read.html" class="articleImg__wrap" aria-label="6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman">
                <img src="asset/images/sample/art-big-0.jpg" class="articleImg" alt="" width="178" height="155" loading="lazy">
            </a>
            <div class="articleBox">
                <div class="articleSubtitle">Hangout
                </div>
                <h3 class="articleTitle mt10"><a href="read.html" class="articleLink">6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman</a></h3>
                <div class="articleDetail user display-flex aitems-center mt10">
                    <a href="#" class="display-flex aitems-center">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt="" class="userAvatar mr10">
                        <div class="userName">
                            Salma Farida
                        </div>
                    </a>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
            </div>
        </li>
        <li class="articleItem mt20 display-flex">
            <a href="read.html" class="articleImg__wrap" aria-label="7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta">
                <img src="asset/images/sample/art-big-1.jpg" class="articleImg" alt="" width="178" height="155" loading="lazy">
            </a>
            <div class="articleBox">
                <div class="articleSubtitle">Women
                </div>
                <h3 class="articleTitle mt10"><a href="read.html" class="articleLink">7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta</a></h3>
                <div class="articleDetail user display-flex aitems-center mt10">
                    <a href="#" class="display-flex aitems-center">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt="" class="userAvatar mr10">
                        <div class="userName">
                            Salma Farida
                        </div>
                    </a>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
            </div>
        </li>
        <li class="articleItem mt20 display-flex">
            <a href="read.html" class="articleImg__wrap" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <img src="asset/images/sample/art-big-2.jpg" class="articleImg" alt="" width="178" height="155" loading="lazy">
            </a>
            <div class="articleBox">
                <div class="articleSubtitle">Zodiak
                </div>
                <h3 class="articleTitle mt10"><a href="read.html" class="articleLink">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</a></h3>
                <div class="articleDetail user display-flex aitems-center mt10">
                    <a href="#" class="display-flex aitems-center">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt="" class="userAvatar mr10">
                        <div class="userName">
                            Salma Farida
                        </div>
                    </a>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
            </div>
        </li>
        <li class="articleItem mt20 display-flex">
            <a href="read.html" class="articleImg__wrap" aria-label="Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua">
                <img src="asset/images/sample/art-big-3.jpg" class="articleImg" alt="" width="178" height="155" loading="lazy">
            </a>
            <div class="articleBox">
                <div class="articleSubtitle">Relationship
                </div>
                <h3 class="articleTitle mt10"><a href="read.html" class="articleLink">Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua</a></h3>
                <div class="articleDetail user display-flex aitems-center mt10">
                    <a href="#" class="display-flex aitems-center">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt="" class="userAvatar mr10">
                        <div class="userName">
                            Salma Farida
                        </div>
                    </a>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
            </div>
        </li>
        <li class="articleItem mt20 display-flex">
            <a href="read.html" class="articleImg__wrap" aria-label="Delishburger yang Benar-Benar Delicious">
                <img src="asset/images/sample/art-big-4.jpg" class="articleImg" alt="" width="178" height="155" loading="lazy">
            </a>
            <div class="articleBox">
                <div class="articleSubtitle">Numpang Promo
                </div>
                <h3 class="articleTitle mt10"><a href="read.html" class="articleLink">Delishburger yang Benar-Benar Delicious</a></h3>
                <div class="articleDetail user display-flex aitems-center mt10">
                    <a href="#" class="display-flex aitems-center">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt="" class="userAvatar mr10">
                        <div class="userName">
                            Salma Farida
                        </div>
                    </a>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
            </div>
        </li>
        <li class="articleItem mt20 display-flex">
            <a href="read.html" class="articleImg__wrap" aria-label="6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman">
                <img src="asset/images/sample/art-big-0.jpg" class="articleImg" alt="" width="178" height="155" loading="lazy">
            </a>
            <div class="articleBox">
                <div class="articleSubtitle">Hangout
                </div>
                <h3 class="articleTitle mt10"><a href="read.html" class="articleLink">6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman</a></h3>
                <div class="articleDetail user display-flex aitems-center mt10">
                    <a href="#" class="display-flex aitems-center">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt="" class="userAvatar mr10">
                        <div class="userName">
                            Salma Farida
                        </div>
                    </a>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
            </div>
        </li>
        <li class="articleItem mt20 display-flex">
            <a href="read.html" class="articleImg__wrap" aria-label="7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta">
                <img src="asset/images/sample/art-big-1.jpg" class="articleImg" alt="" width="178" height="155" loading="lazy">
            </a>
            <div class="articleBox">
                <div class="articleSubtitle">Women
                </div>
                <h3 class="articleTitle mt10"><a href="read.html" class="articleLink">7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta</a></h3>
                <div class="articleDetail user display-flex aitems-center mt10">
                    <a href="#" class="display-flex aitems-center">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt="" class="userAvatar mr10">
                        <div class="userName">
                            Salma Farida
                        </div>
                    </a>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
            </div>
        </li>
        <li class="articleItem mt20 display-flex">
            <a href="read.html" class="articleImg__wrap" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <img src="asset/images/sample/art-big-2.jpg" class="articleImg" alt="" width="178" height="155" loading="lazy">
            </a>
            <div class="articleBox">
                <div class="articleSubtitle">Zodiak
                </div>
                <h3 class="articleTitle mt10"><a href="read.html" class="articleLink">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</a></h3>
                <div class="articleDetail user display-flex aitems-center mt10">
                    <a href="#" class="display-flex aitems-center">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt="" class="userAvatar mr10">
                        <div class="userName">
                            Salma Farida
                        </div>
                    </a>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
            </div>
        </li>
        <li class="articleItem mt20 display-flex">
            <a href="read.html" class="articleImg__wrap" aria-label="Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua">
                <img src="asset/images/sample/art-big-3.jpg" class="articleImg" alt="" width="178" height="155" loading="lazy">
            </a>
            <div class="articleBox">
                <div class="articleSubtitle">Relationship
                </div>
                <h3 class="articleTitle mt10"><a href="read.html" class="articleLink">Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua</a></h3>
                <div class="articleDetail user display-flex aitems-center mt10">
                    <a href="#" class="display-flex aitems-center">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt="" class="userAvatar mr10">
                        <div class="userName">
                            Salma Farida
                        </div>
                    </a>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
            </div>
        </li>
        <li class="articleItem mt20 display-flex">
            <a href="read.html" class="articleImg__wrap" aria-label="Delishburger yang Benar-Benar Delicious">
                <img src="asset/images/sample/art-big-4.jpg" class="articleImg" alt="" width="178" height="155" loading="lazy">
            </a>
            <div class="articleBox">
                <div class="articleSubtitle">Numpang Promo
                </div>
                <h3 class="articleTitle mt10"><a href="read.html" class="articleLink">Delishburger yang Benar-Benar Delicious</a></h3>
                <div class="articleDetail user display-flex aitems-center mt10">
                    <a href="#" class="display-flex aitems-center">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt="" class="userAvatar mr10">
                        <div class="userName">
                            Salma Farida
                        </div>
                    </a>
                    <div class="articleTime">9 menit yang lalu</div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- article -->