<div class="career careerGate">
    <img src="asset/images/join-us.png" class="careerGate__img" alt="" width="353" height="339" loading="lazy">
    <div class="careerGate__content">
        <div class="careerGate__title">Bergabung Bersama Kami</div>
        <p class="careerGate__text">We are looking a new fresh talent to join our mighty team. We are always eager to meet fresh talent, so check out our open positions! View open positions here.</p>
        <button class="button buttonCareer">Masuk</button>
    </div>
</div>