<div class="headline">
    <div class="headlineList" id="sheadline">
        <div class="headlineItem">
            <a href="#" class="headlineImg" aria-label="6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman">
                <img src="asset/images/sample/art-big-0.jpg" alt="" width="740" height="404" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="headlineSubtitle">Hangout</div>
                <h1 class="headlineTitle"><a href="#" class="headlineLink">6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman</a></h1>
                <div class="user headlineUser display-flex aitems-center mt10">
                    <a href="#" class="display-flex aitems-center">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt=""
                            class="userAvatar mr10">
                        <div class="userName">
                            Salma Farida
                        </div>
                    </a>
                    <div class="headlineTime">9 menit yang lalu</div>
                </div>
            </div>
        </div>
        <div class="headlineItem">
            <a href="#" class="headlineImg" aria-label="7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta">
                <img src="asset/images/sample/art-big-1.jpg" alt="" width="740" height="404" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="headlineSubtitle">Women</div>
                <h1 class="headlineTitle"><a href="#" class="headlineLink">7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta</a></h1>
                <div class="user headlineUser display-flex aitems-center mt10">
                    <a href="#" class="display-flex aitems-center">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt=""
                            class="userAvatar mr10">
                        <div class="userName">
                            Salma Farida
                        </div>
                    </a>
                    <div class="headlineTime">9 menit yang lalu</div>
                </div>
            </div>
        </div>
        <div class="headlineItem">
            <a href="#" class="headlineImg" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <img src="asset/images/sample/art-big-2.jpg" alt="" width="740" height="404" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="headlineSubtitle">Zodiak</div>
                <h1 class="headlineTitle"><a href="#" class="headlineLink">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</a></h1>
                <div class="user headlineUser display-flex aitems-center mt10">
                    <a href="#" class="display-flex aitems-center">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt=""
                            class="userAvatar mr10">
                        <div class="userName">
                            Salma Farida
                        </div>
                    </a>
                    <div class="headlineTime">9 menit yang lalu</div>
                </div>
            </div>
        </div>
        <div class="headlineItem">
            <a href="#" class="headlineImg" aria-label="Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua">
                <img src="asset/images/sample/art-big-3.jpg" alt="" width="740" height="404" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="headlineSubtitle">Relationship</div>
                <h1 class="headlineTitle"><a href="#" class="headlineLink">Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua</a></h1>
                <div class="user headlineUser display-flex aitems-center mt10">
                    <a href="#" class="display-flex aitems-center">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt=""
                            class="userAvatar mr10">
                        <div class="userName">
                            Salma Farida
                        </div>
                    </a>
                    <div class="headlineTime">9 menit yang lalu</div>
                </div>
            </div>
        </div>
        <div class="headlineItem">
            <a href="#" class="headlineImg" aria-label="Delishburger yang Benar-Benar Delicious">
                <img src="asset/images/sample/art-big-4.jpg" alt="" width="740" height="404" loading="lazy">
            </a>
            <div class="headlineBox">
                <div class="headlineSubtitle">Numpang Promo</div>
                <h1 class="headlineTitle"><a href="#" class="headlineLink">Delishburger yang Benar-Benar Delicious</a></h1>
                <div class="user headlineUser display-flex aitems-center mt10">
                    <a href="#" class="display-flex aitems-center">
                        <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt=""
                            class="userAvatar mr10">
                        <div class="userName">
                            Salma Farida
                        </div>
                    </a>
                    <div class="headlineTime">9 menit yang lalu</div>
                </div>
            </div>
        </div>
    </div>
    <div class="headlineBottom">
        <div class="headlineDots" id="dtheadline">
        </div>
    </div>
</div>