<div class="highlight highlight--col3 mt40">
    <div class="display-flex aitems-center jcontent-between">
        <div class="highlightCaption">Video</div>
        <a href="#" class="highlightMore display-flex aitems-center">Lihat Lainnya <span
                class="icon icon-next ml10"></span></a>
    </div>
    <div class="highlightList row mt10" id="svideo">
        <div class="highlightItem">
            <a href="#" class="highlightImg__wrap" aria-label="7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta">
                <img src="asset/images/sample/art-big-1.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
                <span class="icon icon-play"></span>
            </a>
            <div class="highlightBox">
                <h2 class="highlightTitle mt10"><a href="#" class="highlightLink">7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta</a></h2>
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightSubtitle">Video</div>
                    <div class="highlightTime">9 menit yang lalu</div>
                </div>
            </div>
        </div>
        <div class="highlightItem">
            <a href="#" class="highlightImg__wrap" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <img src="asset/images/sample/art-big-2.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
                <span class="icon icon-play"></span>
            </a>
            <div class="highlightBox">
                <h2 class="highlightTitle mt10"><a href="#" class="highlightLink">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</a></h2>
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightSubtitle">Video</div>
                    <div class="highlightTime">9 menit yang lalu</div>
                </div>
            </div>
        </div>
        <div class="highlightItem">
            <a href="#" class="highlightImg__wrap" aria-label="Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua">
                <img src="asset/images/sample/art-big-3.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
                <span class="icon icon-play"></span>
            </a>
            <div class="highlightBox">
                <h2 class="highlightTitle mt10"><a href="#" class="highlightLink">Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua</a></h2>
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightSubtitle">Video</div>
                    <div class="highlightTime">9 menit yang lalu</div>
                </div>
            </div>
        </div>
        <div class="highlightItem">
            <a href="#" class="highlightImg__wrap" aria-label="Delishburger yang Benar-Benar Delicious">
                <img src="asset/images/sample/art-big-4.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
                <span class="icon icon-play"></span>
            </a>
            <div class="highlightBox">
                <h2 class="highlightTitle mt10"><a href="#" class="highlightLink">Delishburger yang Benar-Benar Delicious</a></h2>
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightSubtitle">Video</div>
                    <div class="highlightTime">9 menit yang lalu</div>
                </div>
            </div>
        </div>
    </div>
    <div class="highlightBottom">
        <div class="highlightDots" id="dtvideo">
        </div>
    </div>
</div>