<div class="highlight highlight--box mt40">
    <div class="display-flex aitems-center jcontent-between">
        <div class="highlightCaption">Hits Movie : Squid Game</div>
        <a href="#" class="highlightMore display-flex aitems-center">Lihat Lainnya <span class="icon icon-next ml10"></span></a>
    </div>
    <ul class="highlightList row">
        <li class="highlightItem col-gd12-4">
            <a href="#" class="highlightImg__wrap">
                <img src="asset/images/sample/art-big-2.jpg" class="highlightImg" alt="" width="300" height="250"
                    loading="lazy">
            </a>
            <div class="highlightBox">
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightSubtitle">Zodiak</div>
                    <div class="highlightTime">9 menit yang lalu</div>
                </div>
                <h1 class="highlightTitle mt10"><a href="#" class="highlightLink">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</a></h1>
            </div>
        </li>
        <li class="highlightItem col-gd12-4">
            <a href="#" class="highlightImg__wrap">
                <img src="asset/images/sample/art-big-3.jpg" class="highlightImg" alt="" width="300" height="250"
                    loading="lazy">
            </a>
            <div class="highlightBox">
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightSubtitle">Relationship</div>
                    <div class="highlightTime">9 menit yang lalu</div>
                </div>
                <h1 class="highlightTitle mt10"><a href="#" class="highlightLink">Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua</a></h1>
            </div>
        </li>
        <li class="highlightItem col-gd12-4">
            <a href="#" class="highlightImg__wrap">
                <img src="asset/images/sample/art-big-4.jpg" class="highlightImg" alt="" width="300" height="250"
                    loading="lazy">
            </a>
            <div class="highlightBox">
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightSubtitle">Numpang Promo</div>
                    <div class="highlightTime">9 menit yang lalu</div>
                </div>
                <h1 class="highlightTitle mt10"><a href="#" class="highlightLink">Delishburger yang Benar-Benar Delicious</a></h1>
            </div>
        </li>
    </ul>
</div>