<div class="highlight mt40">
    <div class="display-flex aitems-center jcontent-between">
        <div class="highlightCaption">Foto</div>
    </div>
    <!-- s: photo article -->
    <ul class="highlightList photoList row mt10">
        <li class="highlightItem col-gd12-4 mt30">
            <a href="read.html" aria-label="6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-0.jpg" class="highlightImg" alt="" width="234" height="164"
                        loading="lazy">
                    <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                    </div>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Foto</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt30">
            <a href="read.html" aria-label="7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-1.jpg" class="highlightImg" alt="" width="234" height="164"
                        loading="lazy">
                    <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                    </div>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Foto</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt30">
            <a href="read.html" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-2.jpg" class="highlightImg" alt="" width="234" height="164"
                        loading="lazy">
                    <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                    </div>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Foto</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt30">
            <a href="read.html" aria-label="Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-3.jpg" class="highlightImg" alt="" width="234" height="164"
                        loading="lazy">
                    <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                    </div>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Foto</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt30">
            <a href="read.html" aria-label="Delishburger yang Benar-Benar Delicious">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-4.jpg" class="highlightImg" alt="" width="234" height="164"
                        loading="lazy">
                    <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                    </div>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Foto</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">Delishburger yang Benar-Benar Delicious</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt30">
            <a href="read.html" aria-label="6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-0.jpg" class="highlightImg" alt="" width="234" height="164"
                        loading="lazy">
                    <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                    </div>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Foto</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt30">
            <a href="read.html" aria-label="7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-1.jpg" class="highlightImg" alt="" width="234" height="164"
                        loading="lazy">
                    <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                    </div>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Foto</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt30">
            <a href="read.html" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-2.jpg" class="highlightImg" alt="" width="234" height="164"
                        loading="lazy">
                    <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                    </div>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Foto</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt30">
            <a href="read.html" aria-label="Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-3.jpg" class="highlightImg" alt="" width="234" height="164"
                        loading="lazy">
                    <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                    </div>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Foto</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt30">
            <a href="read.html" aria-label="Delishburger yang Benar-Benar Delicious">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-4.jpg" class="highlightImg" alt="" width="234" height="164"
                        loading="lazy">
                    <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                    </div>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Foto</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">Delishburger yang Benar-Benar Delicious</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt30">
            <a href="read.html" aria-label="6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-0.jpg" class="highlightImg" alt="" width="234" height="164"
                        loading="lazy">
                    <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                    </div>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Foto</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt30">
            <a href="read.html" aria-label="7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-1.jpg" class="highlightImg" alt="" width="234" height="164"
                        loading="lazy">
                    <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                    </div>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Foto</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt30">
            <a href="read.html" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-2.jpg" class="highlightImg" alt="" width="234" height="164"
                        loading="lazy">
                    <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                    </div>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Foto</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt30">
            <a href="read.html" aria-label="Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-3.jpg" class="highlightImg" alt="" width="234" height="164"
                        loading="lazy">
                    <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                    </div>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Foto</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt30">
            <a href="read.html" aria-label="Delishburger yang Benar-Benar Delicious">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-4.jpg" class="highlightImg" alt="" width="234" height="164"
                        loading="lazy">
                    <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                    </div>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Foto</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">Delishburger yang Benar-Benar Delicious</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt30">
            <a href="read.html" aria-label="6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-0.jpg" class="highlightImg" alt="" width="234" height="164"
                        loading="lazy">
                    <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                    </div>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Foto</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt30">
            <a href="read.html" aria-label="7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-1.jpg" class="highlightImg" alt="" width="234" height="164"
                        loading="lazy">
                    <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                    </div>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Foto</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt30">
            <a href="read.html" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-2.jpg" class="highlightImg" alt="" width="234" height="164"
                        loading="lazy">
                    <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                    </div>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Foto</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h3>
                </div>
            </a>
        </li>
    </ul>
    <!-- e: photo article -->
</div>