.nav {
    @extend %display-flex;
    @extend %justify-center;
    @extend %align-center;
    width: 100%;

    &List {
        @extend %display-flex;
        @extend %justify-between;
        @extend %align-center;
        padding-bottom: 5px;
    }

    &Item {
        position: relative;
        margin-left: 10px;
        margin-right: 10px;

        &.active {
            .navLink {
                color: #175CC3;
            }

            &::after {
                width: 100%;
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: calc(100% + 5px);
            left: 0;
            bottom: -5px;
            background: var(--grad-blugreen);
            @include base_transition(width, .2s);
        }

        &:hover {
            color: #175CC3;

            &::after {
                width: 100%;
            }
        }
    }

    &Link {
        padding: 10px 10px 5px;
        position: relative;
        display: block;
        background: $cl-white;
        @include font-pack($family: $font-mbold, $weight: $font-weight-mbold);
        z-index: 1;
    }
}