.cover {
    position: fixed;
    height: var(--app-height);
    @extend .bgColor__blue;

    &Wrap {
        position: relative;
        width: 100vw;
        height: var(--app-height);
    }

    &Content {
        width: 100%;
        padding-top: 46px;
        padding-bottom: 46px;
        position: absolute;
        top: 30%;

        @include min-responsive($w-md) {
            top: unset;
            bottom: calc(var(--app-height) - 45vh);
        }

        @media only screen and(max-height: $w-md) and(orientation: landscape) {
            bottom: unset;
        }

        @media only screen and(min-height: $w-md) and(orientation: landscape) {
            bottom: calc(var(--app-height) - 35vh);
        }

    }

    &Caption {
        text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    }

    &Title {
        position: relative;
        z-index: 0;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: $cl-white;
        @include font-pack($font_caption_xbold, 25px, $font-weight-xbold, $line-base, #0368AC);

        @include min-responsive($w-md) {
            font-size: 60px;
            -webkit-text-stroke: 3px;
            -webkit-text-stroke-color: $cl-white;
        }

        @media only screen and(max-height: $w-md) and(orientation: landscape) {
            // top: calc(var(--app-height) - var(--app-height) - 175px);
        }

        &Sub {
            position: relative;
            @include font-pack($font_caption_sbold, 20px, $font-weight-sbold, $line-base, #FFFE32);

            @include min-responsive($w-md) {
                font-size: 36px;
            }
        }
    }

    &Bg {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;

        &Building {
            position: relative;
            display: block;
            bottom: calc(var(--app-road));

            &::before {
                content: '';
                background: #8ecb8f;
                width: 100%;
                display: block;
                bottom: 0;
                position: absolute;
                height: 11vh;
            }

            img {
                width: 100%;
                position: relative;
                object-fit: contain;
                max-height: 45vh;

                @include min-height($w-md) {
                    max-height: unset;
                }
            }
        }

        &Road {
            position:absolute;
            bottom: 0;
            width: 101%;
            height: calc(var(--app-road));
            background: #565353 url(../images/cover-road.png);
            background-size: cover;
            background-repeat: repeat-x;

            @include min-responsive($w-md) {
                background-size: contain;
            }
        }
    }

    &Cloud {
        position: absolute;
        width: 100vw;

        &Img {
            width: 325px;
            position: absolute;
            top: 0;
            height: 184px;
            background: url(../images/cover-cloud.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            @include min-responsive($w-md) {
                width: 50vw;
            }
        }

        &--1 {
            left: -50vw;

            @include min-responsive($w-md) {
                left: 0;
            }
        }

        &--2 {
            right: -50vw;

            @include min-responsive($w-md) {
                right: 0;
            }
        }

        &--3 {
            top: 170px;
            left: 50%;
            transform: translateX(-50%);
            display: none;

            @include min-responsive($w-md) {
                display: block
            }
        }
    }

    .panel__traffic {
        height: calc(var(--app-road));
        bottom: 0;
    }
}