.credit {
    flex-direction: column;

    &Wrap {
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        padding-top: 20vh;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1156px;
        margin-left: auto;
        margin-right: auto;

        @include min-responsive($w-md) {
            padding-top: 5vh;
        }

        @include min-height($w-md) {
            padding-top: 12vh;
        }

        @include min-responsive($w-xxl) {
            justify-content: space-around;
        }

        @include range-responsive($w-md, $w-xl) {
            padding-top: 16vh;
            padding-left: 40px;
            padding-right: 40px;
        }

        @include max-responsive($w-xm) {
            padding-top: 14vh;
        }
    }

    &Caption {
        text-transform: uppercase;
        letter-spacing: 3px;
        @include font-pack($font_base, 26px, $font-weight-normal, $line-base, false);

        @include min-responsive($w-md) {
            @include font-pack($size: 40px)
        }

        @media only screen and(max-height: $w-md) and(orientation: landscape) {
            @include font-pack($size: 34px)
        }
    }

    &Title {
        @include font-pack($font_caption_sbold, false, $font-weight-sbold, false, false);

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            font-size: .8em;
        }
    }

    &Name {
        position: relative;
        margin-top: 10px;
        @include font-pack($font_base, false, $font-weight-normal, false, false);

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            font-size: .8em;
        }
    }

    &Col {
        margin-top: 30px;
        @include font-pack($font-caption, 16px, $font-weight-normal, 1, #035281);

        @include min-responsive($w-md) {
            @include font-pack($size: 20px)
        }

        @media only screen and(max-height: 700px) and(orientation: landscape) {
            margin-top: 20px;
        }
    }

    &Bottom {
        position: relative;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;

        &__logo {
            img {
                max-width: 90px;

                @include min-responsive($w-md) {
                    max-width: 140px;
                }
            }
        }
    }

    &Sp {
        align-self: flex-end;
        flex: 1;
        margin-left: 8px;
        margin-right: 0;
        border-bottom: 2px solid $cl-white;
        border-radius: 2px;

        @include min-responsive($w-md) {
            margin-left: 20px;
            margin-right: 10px;
        }
    }

    &Back {
        margin-left: 8px;

        @include min-responsive($w-md) {
            margin-left: 10px;
        }
    }

    &Soc {
        &__item {
            margin-left: 8px;
            margin-right: 8px;
            max-width: 28px;

            @include min-responsive($w-md) {
                max-width: unset;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

    &Section {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: rgb(140, 202, 237);
        background: linear-gradient(180deg, rgba(140, 202, 237, 1) 0%, rgba(100, 167, 216, 1) 100%);
    }
}