.panel {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  position: relative;
  // display: none;

  &.active {
    display: block;
  }

  &-1 {
    display: block;
  }

  &-road {
    @extend .coverBgRoad;

    &-credit {
      background: #565353;
    }
  }

  &-bg {
    bottom: 0;
    z-index: 0;

    img {
      max-width: unset;
      max-height: 45vh;
      object-fit: contain;

      @include min-height($w-md) {
        max-height: unset;
      }
    }

    &-2 {
      .panel-bg-detail img {
        width: 300vw;
      }
    }

    &-5,
    &-6 {
      display: flex;
      align-items: flex-end;
    }

    &-8 {
      bottom: 42px;

      .panel-bg-detail .panel-bg-detail-pic {
        width: 100vw;
        object-position: left;
      }
    }

    &-9 {
      .panel-bg-detail {
        .panel-bg-detail.panel-bg-detail-wrap {
          bottom: 6px;
        }
      }
    }

    &-credit {
      bottom: 20px;
    }
  }
}

.panel {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;

  // @include max-responsive($w-md) {
  //   min-width: 100vw;
  //   min-height: 100vh;
  //   z-index: 9;
  //   width: 100%;
  //   height: 100vh;
  //   position: relative;
  // }

  .panel-bg {
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;

    .panel-bg-detail {
      position: absolute;
      bottom: 10px;
      width: 100vw;
    }
  }

  &-video {
    position: absolute;
    bottom: 149px;
    left: 400px;

    @include min-height($w-md) {
      bottom: 100px;
    }

    @media only screen and(min-height: 768px) and(min-width: 1440px) {
      bottom: 155px;
    }

    &-play {
      position: absolute;
      left: 50%;
      top: 34%;
      transform: translate(-50%, -50%);
      max-width: 7vw;
      display: block;
      cursor: pointer;

      @include min-height($w-md) {
        max-width: unset;
      }

      img {
        max-width: 100%;
      }
    }
  }

  &-txt {
    position: relative;
    z-index: 1;
  }

  &-txt-3 {
    max-width: 577px;
    left: 10vw;
    position: relative;
    top: 10%;

    @include min-height($w-md) {
      top: 15%;
    }
  }

  &-txt-4 {
    max-width: 577px;
    left: 0;
    position: relative;
    top: 6%;

    @include min-height($w-md) {
      top: 15%;
      max-width: 797px;
    }

    @media only screen and(max-height: 700px) and(orientation: landscape) {
      top: 2%;
    }

    p {
      margin-bottom: 0;
      position: relative;
    }
  }

  &-txt-5 {
    &-title {
      max-width: 157px;
      margin-right: 11px;
      text-align: left;

      @include min-height($w-md) {
        max-width: 192px;
      }
    }

    &-wrap {
      align-items: flex-start;
      justify-content: center;

      img {
        max-height: 24vh;
      }
    }
  }

  &-txt-6 {
    bottom: 10px;

    &-title {
      max-width: 312px;
      margin: auto;
    }

    &-btn {
      margin-top: 40px;
      margin-bottom: 73px;

      @include min-responsive($w-xvl) {
        margin-left: 100px;
      }

      @include min-responsive($w-xxl) {
        margin-left: 200px;
      }

      .button {
        position: relative;
        background: #FFC761;
        padding: 8px 26px 10px 22px;
        border-left: 3px solid #AE9493;
        border-right: 3px solid #AE9493;
        margin: 0 60px;

        @include min-height($w-md) {
          margin: 0 100px;
        }

        strong {
          color: #744A5A;
        }

        &-wrap {
          &::before {
            content: '';
            position: absolute;
            background: url(../images/kinerja-btn-bg.png) no-repeat;
            background-size: contain;
            width: 46px;
            height: 139px;
            left: -50px;
            top: -10px;

            @include min-height($w-md) {
              top: 0;
            }
          }
        }

        &:last-of-type {
          background: #125EFA;

          strong {
            color: $cl-white;
          }
        }

        .cursor {
          position: absolute;
          font-size: .56em;
          min-width: 105px;
          top: 24px;
          margin-left: 10px;

          img {
            display: block;
          }
        }
      }
    }
  }

  &-txt-7 {
    width: 100vw;
    bottom: 27px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    &-wrap {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: flex-end;
    }

    &-title {
      max-width: 260px;

      @include min-height($w-md) {
        max-width: 337px;
      }
    }

    &-btn {
      .button {
        position: relative;
        background: $cl-white;
        padding: 2px;
        border-top: 3px solid #997578;
        border-bottom: 4px solid #997578;
        font-size: .6em;
        margin-left: 46px;
        margin-right: 46px;
        margin-bottom: 30px;

        &:nth-child(2),
        &:nth-child(4) {
          margin-left: 120px;
          margin-right: 56px;

          .button-wrap::before {
            left: 17px;
          }
        }

        &:nth-child(2) {
          margin-left: 106px;
          margin-right: 68px;
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: -3px;
          height: calc(100% + 7px);
        }

        &::before {
          background: url(../images/billboard-left.png);
          width: 7px;
          left: -7px;
        }

        &::after {
          background: url(../images/billboard-right.png);
          width: 4px;
          right: -4px;
        }

        &-wrap {
          position: relative;
          padding: 12px;
          border: 2px solid #C7A3B3;

          &::before {
            content: '';
            position: absolute;
            bottom: -34px;
            background: url(../images/billboard-bottom.png);
            width: 94px;
            height: 34px;
            left: 0;
            z-index: -1;
          }
        }
      }

      .cursor {
        position: absolute;
        z-index: 1;
      }

      .panel-bar-item {
        position: absolute;
        bottom: -33px;
        left: -65px;
        z-index: -2;

        svg {
          @media only screen and(max-height: 700px) and(orientation: landscape) {
            position: relative;
            top: 0;
            left: 50%;
            transform: scale(.8) translate(-50%, 12%);
          }
        }

        &.active {
          .panel-graph {
            transform: translateY(0);
          }
        }
      }

      .panel-graph {
        transition: transform .8s ease-in;
        transform: translateY(100vh);
      }
    }

    .panel-info {
      margin-top: 5px;
      margin-bottom: 15px;
    }
  }

  &-txt-8 {
    margin: auto;
    max-width: 671px;
    position: relative;
    top: 10%;

    @include min-height($w-md) {
      top: 15%;
    }

    &-img {
      position: absolute;
      bottom: -25px;
      left: 40%;
    }
  }

  &-txt-9 {
    top: 6%;

    @include min-height($w-md) {
      top: 12%;
    }

    @media only screen and(max-height: 700px) and(orientation: landscape) {
      top: 2%;
    }

    &-wrap {
      max-width: 337px;
      margin-right: 100px;
    }

    &-anim {
      left: 10vw;
      position: relative;

      svg {
        max-width: unset;
        max-height: 55vh;
        object-fit: contain;
      }
    }
  }

  &-eco {
    display: flex;
    flex-direction: column;

    &-item {
      display: inline-flex;
      font-size: .8em;
      margin-bottom: 15px;

      &:nth-child(2) {
        margin-left: 40px;
      }

      &:nth-child(3) {
        margin-left: 80px;
      }

      &:nth-child(4) {
        margin-left: 120px;
      }

      &:nth-child(5) {
        margin-left: 160px;
      }
    }

    &-num {
      @extend .center-flex;
      min-width: 32px;
      height: inherit;
      background: url(../images/ecosystem-item-bg.png) no-repeat;
      background-size: contain;
      background-position: right;
    }

    &-title {
      position: relative;
      background: #FFC000;
      padding: 10px 10px 10px 32px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;

      &::before {
        content: '';
        position: absolute;
        left: 10px;
        top: 10px;
        width: 15px;
        height: 15px;
        background: url(../images/ecosystem-ico.png) no-repeat;
        background-size: contain;
      }
    }
  }

  &-bar {
    position: relative;
    z-index: 1;

    &-item {
      opacity: 0;
      transition: opacity .2s ease-out;

      &.active {
        opacity: 1;
      }
    }

    &-6 {
      width: 657px;
      height: 473px;

      .panel-bar-item {
        position: absolute;
        width: 657px;
        height: 473px;
        bottom: 10px;
      }
    }
  }

  &-pie {
    margin: 0 -50px;

    &-item {
      position: relative;
    }
  }

  &-info {

    &-item {
      position: relative;
      padding-left: 37px;
      margin-left: 25px;
      margin-right: 25px;

      &::before {
        content: '';
        width: 32px;
        height: 18px;
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid $cl-white;
        background: #FFC000;
      }

      &.-btn {
        &::before {
          background: #125EFA;
        }

        img {
          max-width: 94px;

          @include min-height($w-hlg) {
            max-width: unset;
          }
        }
      }
    }

    &-txt {
      font-size: .8em;
    }

    &-add {
      display: inline-flex;
      justify-content: center;
      padding: 1px 8px;
      margin-top: 20px;
      font-size: .6em;
      background: #D9D9D9
    }
  }

  &-strat {
    align-items: flex-end;
    margin-top: 20px;

    @include min-height($w-hlg) {
      margin-top: 60px;
    }

    &-item {
      position: relative;
      padding-left: 15px;
      margin: 20px 15px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      min-height: 325px;

      @include min-height($w-md) {
        min-height: 373px;
      }
    }

    &-arrow {
      position: absolute;
      left: 0;
    }
  }

  &-6 {

    .panel-bg .panel-bg-detail {
      bottom: 35px;
      left: 14vw;

      img {
        width: calc(200vw - 14vw);
      }
    }

    .panel-bg-6 img {
      max-height: 30vh;
    }
  }
}

#beginHorizonScroll {
  @extend .bgColor__brown;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  // position: fixed;
  top: 0;
  z-index: 2;
}

#content {
  height: 100vh;
  width: 100vw;
  position: relative;

  .cover {
    z-index: 1;
    position: fixed;
  }
}


#transition {
  .base-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    bottom: auto;
    right: auto;
    transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
    z-index: 9999;
    -webkit-transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
    -moz-transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
    -ms-transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
    -o-transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);

    &.active {
      top: -100%
    }

    &.base-layer--3 {
      background: #00B8C4;
      transition-delay: 0.6s;
    }

    &.base-layer--2 {
      background: #125efa;
      transition-delay: 0.4s;
    }
  }
}

.fakepage {
  height: 100vh;
  width: 100vw;
  position: relative;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  height: 100%;
  width: 100%;
}