.panel {
  min-width: 600px;
  min-height: 100vh;
  width: 100%;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  @include min-responsive($w-md) {
    min-width: 100vw;
  }

  &.active {
    display: block;
  }

  &-0 {
    display: block;
    min-width: 460px;

    @include min-responsive($w-md) {
      // display: none;
      min-width: 100vw;
    }
  }

  &-1 {
    display: block;
    z-index: 4;

    .panel-bg {
      z-index: 1;
    }
  }

  &-7 {
    z-index: 2;
  }

  &-road {
    @extend .coverBgRoad;
    height: 10vh;
    background-size: cover;
    bottom: 0;

    @include min-responsive($w-md) {
      background-size: contain;
    }

    &-credit {
      background: #565353;
    }
  }

  &-bg {
    bottom: 0;
    z-index: 0;

    img {
      max-width: unset;
      max-height: 45vh;
      object-fit: contain;

      @include min-height($w-hlg) {
        max-height: unset;
      }
    }

    &-1 {
      .panel-bg-detail {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        @include min-responsive($w-md) {
          justify-content: center;
        }
      }
    }

    &-2 {
      .panel-bg-detail img {
        @include min-responsive($w-md) {
          width: 300vw;
        }
      }
    }

    &-5,
    &-6 {
      display: flex;
      align-items: flex-end;
    }

    &-6 {
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      @include min-responsive($w-md) {
        align-items: flex-end;
        flex-direction: row;
        justify-content: flex-start;
      }
    }

    &-8 {
      bottom: 30px;
      left: 365px;

      @include min-responsive($w-md) {
        bottom: 42px;
        left: unset
      }

      .panel-bg-detail .panel-bg-detail-pic {
        width: 100vw;
        object-position: left;
      }

      .panel-bg-detail-pic img {
        max-height: 200px;

        @include min-responsive($w-md) {
          max-height: 45vh;
        }

        @media only screen and(min-height: $w-hlg) and(orientation: landscape) {
          max-height: unset;
        }
      }
    }

    &-9 {
      left: 305px;
      bottom: -10px;

      @include min-responsive($w-md) {
        left: unset;
        bottom: 0;
      }

      .panel-bg-detail {
        .panel-bg-detail.panel-bg-detail-wrap {
          bottom: 6px;
        }
      }

      img {
        display: none;

        @include min-responsive($w-md) {
          display: block;
        }
      }
    }

    &-credit {
      bottom: 20px;

      .panel-bg-detail {
        display: none;

        @include min-responsive($w-md) {
          display: block;
        }
      }
    }
  }
}

.panel {
  // @include max-responsive($w-md) {
  //   min-width: 100vw;
  //   min-height: 100vh;
  //   z-index: 9;
  //   width: 100%;
  //   height: 100vh;
  //   position: relative;
  // }

  .panel-bg {
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;

    .panel-bg-detail {
      position: absolute;
      bottom: 10px;
      width: 100%;

      @include min-responsive($w-md) {
        width: 100vw;
      }
    }
  }

  &-video {
    position: absolute;
    left: 50px;
    bottom: 20vh;

    @include max-responsive($w-xm) {
      bottom: 29vh;
    }

    @include min-responsive($w-md) {
      left: 50%;
      transform: translateX(-50%);
      bottom: 22vh;
    }

    @include min-height($w-hlg) {
      bottom: 100px;
    }

    @media only screen and(min-height: $w-hlg) and(orientation: portrait) {
      bottom: 17vh;
    }

    @media only screen and(min-height: 900px) and(min-width: 1440px) {
      bottom: 160px;
    }

    @media only screen and(max-height: 720px) and(orientation: landscape) {
      bottom: 22vh;
    }

    @media only screen and(max-height: 700px) and(orientation: landscape) {
      bottom: 28vh;
    }

    &-play {
      position: absolute;
      left: 50%;
      top: 34%;
      transform: translate(-50%, -50%);
      max-width: 7vw;
      display: block;
      cursor: pointer;

      @include min-height($w-hlg) {
        max-width: unset;
      }

      img {
        max-width: 80px;

        @include min-responsive($w-md) {
          max-width: 100%;
        }
      }
    }

    .videoBill {
      img {
        max-width: 500px;

        @include min-responsive($w-md) {
          max-width: unset;
        }
      }
    }

    .cursor {
      position: absolute;
      bottom: calc(50% - 58px / 2);
      right: calc(50% - 48px / 2 - 48px);
    }
  }

  &-txt {
    position: relative;
    z-index: 1;
  }

  &-txt-3 {
    max-width: calc(100vw - 30px);
    left: 50px;
    position: relative;
    top: 10%;

    @include max-responsive($w-xm) {
      max-width: 400px;
    }

    @include min-responsive($w-md) {
      max-width: 577px;
      left: calc(50% - 577px/2);
    }

    @include min-height(790px) {
      top: 15%;
    }
  }

  &-txt-4 {
    max-width: 500px;
    left: 0;
    position: relative;
    top: 6%;

    @include min-responsive($w-md) {
      max-width: 577px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media only screen and(min-height: $w-md) and(orientation: landscape) {
      max-width: 797px;
    }

    @include min-height(790px) {
      top: 15%;
    }

    @media only screen and(max-height: 700px) and(orientation: landscape) {
      top: 2%;
    }

    p {
      margin-bottom: 0;
      position: relative;

      @include max-responsive($w-xm) {
        margin-bottom: -20px;
      }
    }
  }

  &-txt-5 {
    left: -80px;

    @include min-responsive($w-md) {
      left: unset;
    }

    &-title {
      max-width: 157px;
      margin-right: 11px;
      text-align: left;

      @include min-height($w-md) {
        max-width: 192px;
      }
    }

    &-wrap {
      align-items: flex-start;
      justify-content: center;

      img {
        max-height: 24vh;
      }
    }
  }

  &-txt-6 {
    left: 26px;
    bottom: 6px;

    @include min-responsive($w-md) {
      bottom: 10px;
      left: unset;
    }

    &-title {
      max-width: 312px;
      margin: auto;
    }

    &-btn {
      width: 600px;
      margin-top: 40px;
      margin-bottom: 83px;

      @include min-responsive($w-md) {
        width: auto;
        margin-bottom: 84px;
      }

      @include min-responsive($w-xvl) {
        margin-left: 100px;
      }

      @include min-responsive($w-xxl) {
        margin-left: 200px;
      }

      .button {
        position: relative;
        background: #FFC761;
        padding: 8px 26px 10px 22px;
        border-left: 3px solid #AE9493;
        border-right: 3px solid #AE9493;
        margin: 0 60px;

        @media only screen and(min-height: $w-md) and(orientation: landscape) {
          margin: 0 100px;
        }

        strong {
          color: #744A5A;
        }

        &-wrap {
          &::before {
            position: absolute;
            background: url(../images/kinerja-btn-bg.png) no-repeat;
            background-size: contain;
            width: 46px;
            height: 139px;
            left: -50px;
            top: -10px;

            @include min-responsive($w-md) {
              content: '';
            }

            @media only screen and(min-height: $w-md) and(orientation: landscape) {
              top: 0;
            }
          }
        }

        &:last-of-type {
          background: #125EFA;

          strong {
            color: $cl-white;
          }
        }

        .cursor {
          position: absolute;
          font-size: .56em;
          min-width: 105px;
          top: 24px;
          margin-left: 10px;

          img {
            display: block;
          }
        }
      }
    }
  }

  &-txt-7 {
    display: flex;
    bottom: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    @include min-responsive($w-md) {
      width: 100vw;
      bottom: 27px;
      justify-content: flex-start;
    }

    &-wrap {
      position: relative;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 20px;

      @include min-responsive($w-md) {
        margin-right: -20px;
      }
    }

    &-title {
      max-width: 260px;

      @include min-height($w-md) {
        max-width: 337px;
      }
    }

    &-img {
      position: relative;
      left: -25px;

      @include min-responsive($w-md) {
        left: unset;
      }
    }

    &-btn {
      .button {
        position: relative;
        background: $cl-white;
        padding: 2px;
        border-top: 3px solid #997578;
        border-bottom: 4px solid #997578;
        font-size: .6em;
        margin-bottom: 25px;

        @include min-responsive($w-md) {
          margin-bottom: 30px;
          margin-left: 46px;
          margin-right: 46px;
        }

        &:nth-child(2),
        &:nth-child(4) {
          margin-left: 88px;
          margin-right: 56px;

          @include min-responsive($w-md) {
            margin-left: 120px;
          }

          .button-wrap::before {
            @include min-responsive($w-md) {
              left: 17px;
            }
          }
        }

        &:nth-child(2) {
          @include min-responsive($w-md) {
            margin-left: 106px;
            margin-right: 68px;
          }
        }

        &:nth-child(4) {
          .panel-bar-item {
            left: -20px;

            @include min-responsive($w-md) {
              left: unset;
            }
          }
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: -3px;
          height: calc(100% + 7px);
        }

        &::before {
          background: url(../images/billboard-left.png);
          width: 7px;
          left: -7px;
        }

        &::after {
          background: url(../images/billboard-right.png);
          width: 4px;
          right: -4px;
        }

        &-wrap {
          position: relative;
          padding: 12px;
          border: 2px solid #C7A3B3;

          &::before {
            content: '';
            position: absolute;
            bottom: -34px;
            background: url(../images/billboard-bottom.png);
            width: 94px;
            height: 34px;
            left: -7px;
            z-index: -1;

            @include min-responsive($w-md) {
              left: 0;
            }
          }
        }
      }

      .cursor {
        position: absolute;
        z-index: 1;
      }

      .panel-bar-item {
        position: absolute;
        z-index: -2;
        height: 278px;
        bottom: 0;
        left: -65px;
        z-index: -2;
        transform: translate(28px, 97px) scale(.5);
        display: flex;
        align-items: flex-end;

        @include min-responsive($w-md) {
          bottom: -28px;
          left: -65px;
          height: unset;
          transform: none;
        }

        svg {
          @media only screen and(max-height: 700px) and(orientation: landscape) {
            position: relative;
            top: 0;
            left: 50%;
            transform: scale(.8) translate(-50%, 12%);
          }
        }

        &.active {
          .panel-graph {
            transform: translateY(0);
          }
        }
      }

      .panel-graph {
        transition: transform 1s ease-in;
        transform: translateY(100vh);
      }
    }

    .panel-info {
      margin-top: 5px;
      margin-bottom: 15px;
    }
  }

  &-txt-8 {
    max-width: 340px;
    position: relative;
    top: 10%;

    @include min-responsive($w-md) {
      margin: auto;
      max-width: 671px;
      text-align: center;
    }

    @include min-height(790px) {
      top: 15%;
    }

    &-img {
      position: absolute;
      bottom: -25px;
      left: 0;

      @include min-responsive($w-md) {
        left: 40%;
      }
    }
  }

  &-txt-9 {
    top: 6%;
    left: -124px;

    @include min-responsive($w-md) {
      left: unset;
    }

    @include min-height($w-md) {
      top: 12%;
    }

    @media only screen and(max-height: 700px) and(orientation: landscape) {
      top: 2%;
    }

    &-wrap {
      max-width: 224px;
      margin-right: -70px;

      @include min-responsive($w-md) {
        max-width: 337px;
        margin-right: 100px;
      }
    }

    &-anim {
      left: 147px;
      position: relative;

      @include min-responsive($w-md) {
        left: 10vw;
      }

      svg {
        max-width: unset;
        max-height: 55vh;
        object-fit: contain;
      }
    }
  }

  &-eco {
    display: flex;
    flex-direction: column;

    &-item {
      display: inline-flex;
      font-size: .8em;
      margin-bottom: 15px;

      &:nth-child(2) {
        margin-left: 40px;
      }

      &:nth-child(3) {
        margin-left: 80px;
      }

      &:nth-child(4) {
        margin-left: 120px;
      }

      &:nth-child(5) {
        margin-left: 160px;
      }
    }

    &-num {
      @extend .center-flex;
      min-width: 32px;
      height: inherit;
      background: url(../images/ecosystem-item-bg.png) no-repeat;
      background-size: contain;
      background-position: right;
    }

    &-title {
      max-width: 160px;
      position: relative;
      background: #FFC000;
      padding: 10px 10px 10px 32px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;

      @include min-responsive($w-md) {
        max-width: unset;
      }

      &::before {
        content: '';
        position: absolute;
        left: 10px;
        top: 10px;
        width: 15px;
        height: 15px;
        background: url(../images/ecosystem-ico.png) no-repeat;
        background-size: contain;
      }
    }
  }

  &-bar {
    position: relative;
    z-index: 1;

    &-item {
      opacity: 0;
      transition: opacity .2s ease-out;

      &.active {
        opacity: 1;
      }
    }

    &-6 {
      width: 400px;
      height: 291px;
      left: 30px;

      @include min-responsive($w-md) {
        left: unset;
        width: 628px;
        height: 445px;
      }

      .panel-bar-item {
        position: absolute;
        width: 400px;
        height: 291px;
        bottom: 0;

        @include min-responsive($w-md) {
          width: 628px;
          height: 445px;
          bottom: 10px;
        }
      }
    }
  }

  &-pie {
    margin: 0 -50px;

    &-item {
      position: relative;
    }
  }

  &-info {

    &-item {
      position: relative;
      padding-left: 37px;
      margin-left: 25px;
      margin-right: 25px;

      &::before {
        content: '';
        width: 32px;
        height: 18px;
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid $cl-white;
        background: #FFC000;
      }

      &.-btn {
        &::before {
          background: #125EFA;
        }

        img {
          max-width: 94px;

          @include min-height($w-hlg) {
            max-width: unset;
          }
        }
      }
    }

    &-txt {
      font-size: .8em;
    }

    &-add {
      display: inline-flex;
      justify-content: center;
      padding: 1px 8px;
      margin-top: 20px;
      font-size: .6em;
      background: #D9D9D9
    }
  }

  &-strat {
    align-items: flex-end;
    margin-top: 20px;

    @include min-height($w-hlg) {
      margin-top: 60px;
    }

    &-item {
      position: relative;
      padding-left: 15px;
      margin: 20px 15px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      min-height: 216px;

      @include min-responsive($w-md) {
        min-height: 325px;
      }

      @media only screen and(min-height: $w-md) and(orientation: landscape) {
        min-height: 373px;
      }
    }

    &-arrow {
      position: absolute;
      left: 0;
    }
  }

  &-6 {
    .panel-bg .panel-bg-detail {
      bottom: 35px;
      left: 14vw;

      img {
        @include min-responsive($w-md) {
          width: calc(200vw - 14vw);
        }
      }
    }

    .panel-bg-6 img {
      display: none;

      @include min-responsive($w-md) {
        display: block;
        max-height: 30vh;
      }
    }
  }

  &__traffic {
    position: fixed;
    bottom: 0;
    width: 900vw;
    height: 10vh;
    z-index: 1;

    img {
      width: calc(100% - 5vh);

      @include min-height($w-md) {
        width: auto;
      }
    }

    .vehicle {
      position: absolute;
      left: -20%;

      @include min-responsive($w-md) {
        left: -10%;
      }

      &1,
      &2,
      &3 {
        animation: moveRightMob 20s linear infinite -1.5s;

        @include min-responsive($w-md) {
          animation: moveRight 40s linear infinite -1.5s;
        }
      }

      &4,
      &5,
      &6 {
        animation: moveLeftMob 20s linear infinite -1.5s;

        @include min-responsive($w-md) {
          animation: moveLeft 40s linear infinite -1.5s;
        }
      }
    }

    //to right
    .vehicle1 {
      animation-delay: 0s;
      bottom: 42px;
      background: url(../images/car-yellow.png) no-repeat;
      background-size: contain;
      width: 97px;
      height: 56px;

      @include min-responsive($w-md) {
        bottom: 52px;
      }
    }

    .vehicle2 {
      animation-delay: 3000ms;
      bottom: 33px;
      background: url(../images/car-police.png) no-repeat;
      background-size: contain;
      width: 107px;
      height: 64px;
    }

    .vehicle3 {
      animation-delay: 8000ms;
      bottom: 42px;
      background: url(../images/car-retro.png) no-repeat;
      background-size: contain;
      width: 109px;
      height: 62px;
    }

    //to left
    .vehicle4 {
      animation-delay: 0s;
      bottom: 13px;
      background: url(../images/car-bus.png) no-repeat;
      background-size: contain;
      width: 179px;
      height: 78px;

      &::before {
        content: '';
        position: absolute;
        border-bottom: 2px solid #50394D;
      }
    }

    .vehicle5 {
      animation-delay: 9000ms;
      bottom: 4px;
      background: url(../images/car-green.png) no-repeat;
      background-size: contain;
      width: 94px;
      height: 57px;
    }

    .vehicle6 {
      animation-delay: 2400ms;
      bottom: 2px;
      background: url(../images/car-blue.png) no-repeat;
      background-size: contain;
      width: 95px;
      height: 56px;
    }
  }
}

#beginHorizonScroll {
  @extend .bgColor__brown;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  // position: fixed;
  top: 0;
  z-index: 2;
  scroll-snap-type: x mandatory;
}

#content {
  height: 100vh;
  width: 100vw;
  position: relative;

  .cover {
    z-index: 3;
    position: fixed;
  }
}


#transition {
  .base-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    left: 0;
    bottom: auto;
    right: auto;
    transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
    z-index: 9999;
    -webkit-transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
    -moz-transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
    -ms-transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
    -o-transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);

    &.active {
      transform: translateY(-100%);
    }

    &.base-layer--3 {
      background: #00B8C4;
      transition-delay: 0.6s;
    }

    &.base-layer--2 {
      background: #125efa;
      transition-delay: 0.4s;
    }
  }
}

.fakepage {
  height: 100vh;
  width: 100vw;
  position: relative;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  height: 100%;
  width: 100%;
}