<!DOCTYPE html>
<html lang="en">

{{> head page="komunitas" child=true}}

<body>
    <main role="main" class="komunitas">
        {{!> header/header}}

        <!-- preloader -->
        {{!> preloader-komunitas}}
        <!-- preloader -->

        <div class="bgStatic bgStatic--warn">
            <div class="articleContent text-center">
                For better experience, rotate your screen or switch to bigger screen.
            </div>
        </div>

        <!-- Template Background Color -->
        <div class="bgColor__wrap">
            <div class="bgColor bgColor__blue"></div>
        </div>
        <!-- Template Background Color -->
        <!-- Template Image Content -->
        <div class="bgStatic__wrap active">
            <div class="bgStatic">
                <div class="business container heightFull opac0">
                    <div class="komunitasWrap center-flex heightFull">
                        <div class="articleContent">
                            <h1 class="articleCaption">Business Community</h1>
                            <p class="mt2">Promosikan dan perluas jaringan bisnis antar Nasabah BCA Solitaire dan
                                Prioritas
                                melalui
                                Business Community Website BCA Solitaire dan Prioritas dan nikmati berbagai
                                keuntungannya.
                            </p>
                        </div>
                        <div class="articleImg display-flex">
                            <picture class="businessImg businessImg1">
                                <source srcset="./asset/images/business-mob.jpg" media="(max-width: 768px)" alt=""
                                    width="120" height="290">
                                <img srcset="./asset/images/business.jpg" alt="" class="" width="244" height="588">
                            </picture>
                            <picture class="businessImg businessImg2">
                                <source srcset="./asset/images/business2-mob.jpg" media="(max-width: 768px)" alt=""
                                    width="120" height="290">
                                <img srcset="./asset/images/business2.jpg" alt="" class="" width="244" height="588">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="young container heightFull">
                    <div class="komunitasWrap center-flex heightFull">
                        <div class="articleContent">
                            <h2 class="articleCaption">BCA Young Community</h2>
                            <p class="mt2">Komunitas bagi nasabah muda dan second generation BCA Solitaire & Prioritas
                                untuk saling berinteraksi, membangun jaringan dan mendapatkan insight seputar dunia
                                bisnis dan investasi.
                            </p>
                        </div>
                        <div class="articleImg">
                            <picture class="youngImg">
                                <source srcset="./asset/images/young-mob.png" media="(max-width: 768px)" alt=""
                                    width="154" height="290">
                                <img srcset="./asset/images/young.png" alt="" class="" width="244" height="588">
                            </picture>
                            <picture class="youngIcon">
                                <source srcset="./asset/images/young-icon-mob.png" media="(max-width: 768px)" alt=""
                                    width="233" height="439">
                                <img srcset="./asset/images/young-icon.png" alt="" class="" width="222" height="222">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="komunitasCta center-flex">
                    <button class="button buttonScroll center-flex">
                        scroll
                        <span class="icon-scroll"></span>
                    </button>
                </div>
                <button type="button" class="button buttonInfo" id="infobtn" aria-label="Informasi nasabah">
                    <img src="{{>loc page=" child"}}asset/images/loading-bca-logo-mob.png" alt="" width="30"
                        height="29">
                    <div class="buttonInfo__misc">klik untuk kembali ke menu</div>
                </button>
                <button type="button" class="button creditButton center-flex" id="creditbtn" aria-label="Credit Title">
                    <span class="icon-credit"></span>
                </button>
            </div>
        </div>
        <!-- Template Image Content -->
        <!-- Fullpage Content -->
        <div id="fullpage" class="fullpage">
            <section class="section"></section>
            <section class="section"></section>
        </div>
        <!-- Fullpage Content -->
        <div id="some-element"></div>
    </main>
    {{> footer}}

    {{> js page="komunitas" child=true}}

</body>

</html>