<!DOCTYPE html>
<html lang="en">
{{> head page="section-2"}}

<body>
    <!-- Google Tag Manager -->
    {{> gtm2}}
    <!-- End Google Tag Manager -->

    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- preloader -->
    {{!> preloader}}
    <!-- preloader -->

    <!-- main -->

    <!-- Content -->
    <section class="section section2">
        <div class="sectionCover section2Cover">
            <picture class="section2CoverImage">
                <source srcset="./asset/images/section-2/cover.jpg" media="(min-width: 768px)">
                <source srcset="./asset/images/section-2/cover.jpg" media="(max-width: 767px)">
                <img src="./asset/images/section-2/cover.jpg" alt="Melampaui Pipa">
            </picture>
        </div>
        <div class="section2Content container">
            <div class="text-center">
                <picture class="">
                    <source srcset="./asset/images/section-2/logo-wvi.png" media="(min-width: 768px)">
                    <source srcset="./asset/images/section-2/logo-wvi-m.png" media="(max-width: 767px)">
                    <img src="./asset/images/section-2/logo-wvi.png" alt="Logo Wahana Visi Indonesia">
                </picture>
            </div>
            <div class="section2BoxWrap center-flex">
                <picture>
                    <source srcset="./asset/images/section-2/ask-tirta.png" media="(min-width: 768px)">
                    <source srcset="./asset/images/section-2/ask-tirta-m.png" media="(max-width: 767px)">
                    <img src="./asset/images/section-2/ask-tirta.png" alt="">
                </picture>
                <div class="section2Box">
                    <div class="section2BoxTxt">
                        <p>Sejak 2022 hingga 2025, Wahana Visi Indonesia (WVI) menggelar program FinWASH4UC, financing
                            water, sanitation, and hygiene for universal coverage. Meskipun namanya financing, yang
                            dilakukan tak cuma membuat instalasi pipa, tetapi lebih fundamental: <strong>membangun tata
                                kelola.</strong>
                        </p>
                        <p>Proyek itu semangatnya adalah ko-kreasi, merancang bersama. Sebelum merancang, pemangku
                            kepentingan diajak melihat masalahnya. Terkuak, kesulitan tirta adalah masalah komitmen,
                            dana, pemahaman, kelompok kerja yang belum berjalan, platform perencanaan dan penganggaran,
                            serta tak adanya infrastruktur inklusif.</p>
                    </div>
                    <div class="section2BoxTxt"><strong>Toolkit</strong><br>
                        <p>Pertama, Perangkat desa dan POKJA PKP/AMPL (Pemerintah kabupaten) diajak membuat toolkit yang
                            akan membantu mengidentifikasi kebutuhan dan membuat rencana penganggaran untuk tirta dan
                            pawitra. 5 toolkit dirancang: penampung air hujan, SPAM gravitasi, jamban dan septic tank,
                            SPAM
                            sumur bor, sarana CTPS.
                        </p>
                        <p>Kerap kali, ketiadaan tirta hanya dihubungkan dengan kekeringan semata. Namun, seperti
                            terlihat dalam data, masalah tirta adalah soal dana.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-area">
            <div class="section2Scroll">
                <div class="center-flex">
                    <picture class="section2ScrollImage">
                        <source srcset="./asset/images/section-2/pipa-scroll.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/section-2/pipa-scroll-m.png" media="(max-width: 767px)">
                        <img src="./asset/images/section-2/pipa-scroll.png" alt="" loading="lazy">
                    </picture>
                </div>
                <div class="section2ScrollBox section2ScrollBox1">
                    <div class="section2ScrollContent section2ScrollContent1">"Toolkit ini sangat membantu perhitungan
                        cepat di desa. Kami selama ini harus membayar konsultan atau tenaga teknis untuk menghitung RAB
                        pembangunan sanitasi dan air bersih. Dengan toolkit ini, kami yakin bisa menghitung secara cepat
                        berapa biaya yang kami butuhkan untuk membangun sarana sanitasi atau air bersih walau untuk
                        beberapa item dalam toolkit, perlu diperbaiki lagi." Vicky Nggae, Ketua Asosiasi KPS-PAM Ngada.
                    </div>
                </div>
                <div class="section2ScrollBox section2ScrollBox2">
                    <div class="section2ScrollContent section2ScrollContent2">“Selama ini kami sudah punya alat bantu
                        untuk buat RAB dan kami pikir kami jagonya karena sudah sangat lengkap, tetapi begitu kami lihat
                        toolkit ini, kami merasa kurang karena dalam toolkit ini ternyata punya alat prediksi
                        pertumbuhan penduduk dan prediksi kebutuhan air sesuai dengan jumlah jiwa. Selama ini kami hanya
                        fokus untuk kebutuhan infrastruktur.” Hermanus Batu, Kepala Bidang Air Bersih, Dinas PUPR,
                        Kabupaten Ende.</div>
                </div>
                <div class="section2ScrollBox section2ScrollBox3">
                    <div class="section2ScrollContent section2ScrollContent3">“Dengan adanya toolkit ini, diharapkan
                        pemerintah desa dapat lebih mudah menghitung biaya yang dibutuhkan untuk pembangunan
                        infrastruktur yang mendukung SDGs 6 di Kabupaten Melawi.” Drs. Paulus, Sekretaris Daerah
                        Kabupaten Melawi.</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="center-flex section2Road">
                <div class="section2RoadTxt articleWhite"><big><strong>Roadmap</strong></big><br>
                    Pemerintah desa dan kabupaten lalu diajak membuat rancangan peta jalan. Dokumen rancangan memuat
                    kondisi air dan sanitasi di setiap wilayah, perencanaan untuk mencapai targetnya, kebutuhan
                    pembiayaan total, sumber dana tersedia dari pemerintah, serta gap pendanaan yang harus dicukupi
                    mandiri. Tahun 2023, 6 kabupaten dampingan akhirnya memiliki peta jalannya masing-masing.</div>
                <picture>
                    <source srcset="./asset/images/section-2/roadmap.png" media="(min-width: 768px)">
                    <source srcset="./asset/images/section-2/roadmap-m.png" media="(max-width: 767px)">
                    <img src="./asset/images/section-2/roadmap.png" alt="" loading="lazy">
                </picture>
            </div>
            <div class="sectionSpacing">
                <div class="section2ContentBox"><strong>"Dokumen roadmap ini sangat membantu BAPPEDA dan Pokja PKP dalam
                        merencanakan pembangunan air minum dan sanitasi di masing-masing OPD yang tergabung dalam Pokja
                        PKP.
                        Selain itu, dokumen ini juga bisa digunakan oleh pemerintah desa sebagai panduan dalam menyusun
                        anggaran
                        WASH di APBDes." Andreas Worho, Kepala BAPPEDA Kabupaten Ende.</strong></div>
            </div>
            <div class="sectionSpacing">
                <p class="articleWhite"><strong>Jurnalisme Warga, Kelas Bersama</strong> <br>
                    Sebanyak 123 orang dewasa (73 laki-laki, 50 perempuan) dan 107 anak (28 laki-laki, 79 perempuan)
                    mendapatkan pelatihan jurnalisme warga. Pelatihan diharapkan membantu warga saling menyadarkan
                    pentingnya masalah air dan sanitasi lewat tulisan.</p>
                <ul class="section2Graph display-flex">
                    <li>
                        <picture>
                            <source srcset="./asset/images/section-2/man-jurnalism.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/section-2/man-jurnalism-m.png" media="(max-width: 767px)">
                            <img src="./asset/images/section-2/man-jurnalism.png" alt="" loading="lazy">
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source srcset="./asset/images/section-2/woman-jurnalism.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/section-2/woman-jurnalism-m.png" media="(max-width: 767px)">
                            <img src="./asset/images/section-2/woman-jurnalism.png" alt="" loading="lazy">
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source srcset="./asset/images/section-2/child-jurnalism.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/section-2/child-jurnalism-m.png" media="(max-width: 767px)">
                            <img src="./asset/images/section-2/child-jurnalism.png" alt="" loading="lazy">
                        </picture>
                    </li>
                </ul>
            </div>
            {{!-- <div class="sectionSpacing sectionSpacingDouble">
                <div class="section2ContentBox center-flex"><strong>"Saya sangat bangga karena saya menjadi utusan
                        Forades dan mendapatkan banyak pelajaran tentang Jurnalisme Warga yang bisa menjadi bekal bagi
                        saya, terutama bagaimana saya belajar bagaimana membuat berita dan mengambil foto dan video yang
                        baik dan benar." Virgin. Pengurus Forades Sadha</strong></div>
            </div> --}}
        </div>
        <div class="section2Brown">
            <div class="section2Dash --top"></div>
            <div class="section2Grey container">
                <div class="section2BrownWrap">
                    <div class="section2ContentBox --brown">
                        <strong>Mitra</strong><br>
                        Mengetahui dana desa dan dari pemerintah terbatas, WVI melatih soal investasi dan kemitraan
                        dalam
                        tata
                        kelola air dan sanitasi pada 578 orang pemangku kepentingan. WVI mengajak warga membangun
                        jejaring
                        dengan lembaga keuangan, dari bank hingga koperasi. Tujuannya, agar warga melihat peluang
                        pendanaan
                        sekaligus syarat dan ketentuannya.

                        <p>Upaya itu membuahkan hasil. Bank NTT akhirnya menawarkan produk baru Kredit Sistem Penyediaan
                            Air
                            dan
                            Sanitasi (KSPAMS). Bank Kalimantan Barat juga menawarkan Kredit Air Minum dan Sanitasi
                            (KREASI).
                            Tak
                            cuma perbankan, Koperasi Sangosay di NTT, Credit Union Keling Kumang dan Lantang Tipo di
                            Kalimatan
                            Barat pun tergabung dalam jejaring.</p>
                    </div>
                    <div class="sectionSpacing section2ContentBox --cream">
                        <h2 class="graphTitle text-center">Peningkatan Kemitraan Multi-Pemangku Kepentingan untuk
                            Mendukung
                            Investasi WASH Guna Mencapai Cakupan Universal</h2>
                        <ul class="section2List">
                            <li>
                                <div class="section2ListNum text-center">70</div>
                                <div class="section2ListTxt">Pertemuan koordinasi dan pemantauan bersama dengan kelompok
                                    kerja WASH</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">6</div>
                                <div class="section2ListTxt">Pokja PKP mendapatkan pelatihan.</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">1</div>
                                <div class="section2ListTxt">dokumen Penilaian (FGD, KII, pemetaan pelaku WASH).</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">8</div>
                                <div class="section2ListTxt">lokakarya investasi WASH melalui co-creation.</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">6</div>
                                <div class="section2ListTxt">kabupaten mengembangkan peta jalan investasi WASH tingkat
                                    kabupaten berdasarkan lokakarya co-creation</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">6</div>
                                <div class="section2ListTxt">kabupaten berkolaborasi dengan asosiasi penyedia sanitasi.
                                </div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">125</div>
                                <div class="section2ListTxt">orang mengikuti peningkatan kapasitas bagi penyedia
                                    keuangan
                                    tentang cara berinvestasi dalam infrastruktur WASH.</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">476</div>
                                <div class="section2ListTxt">orang mendapatkan peningkatan kapasitas terkait WASH
                                    Entrepreneurs.</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">6</div>
                                <div class="section2ListTxt">kabupaten mengembangkan materi komunikasi terkait Investasi
                                    WASH</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">269</div>
                                <div class="section2ListTxt">orang terlibat dalam peningkatan kapasitas untuk jurnalis
                                    warga; mengembangkan keterlibatan media dan jurnalisme warga.</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">14</div>
                                <div class="section2ListTxt">acara WASH (kampanye UC, Hari Air Sedunia, Hari Toilet,
                                    Hari
                                    Cuci Tangan) didukung.</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">7</div>
                                <div class="section2ListTxt">kali berpartisipasi dalam forum nasional/internasional.
                                </div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">3</div>
                                <div class="section2ListTxt">kabupaten menerima penghargaan (sebagai bagian
                                    dari mekanisme insentif) misalnya, penghargaan untuk pemimpin pemerintah daerah,
                                    penghargaan CBTS, penghargaan Pokja AMPL, dan penghargaan lainnya terkait
                                    akuntabilitas
                                    keuangan
                                    pemerintah.</div>
                            </li>
                            <li>
                                <div class="section2ListNum text-center">4</div>
                                <div class="section2ListTxt">publikasi penelitian dan praktik baik</div>
                            </li>
                        </ul>
                    </div>
                    <div class="section2ContentBoxBgWrap">
                        <div class="mobile-hide text-center">
                            <img src="./asset/images/section-2/bg-txt.png" class="section2ContentBoxBg" alt=""
                                loading="lazy">
                        </div>
                        <div class="section2ContentBox section2Content1 --brown">
                            <strong>Efisiensi dan
                                Transparansi</strong><br>
                            Hanya dengan proses keuangan yang efisien dan transparan, tirta bisa mengalir ke semua. Maka
                            pemerintah desa diajak pula untuk memahami platform pelaporan keuangan Sistem Keuangan Desa
                            (Siskeudes) sekaligus mengembangkannya, bertransformasi ke digital.
                            <p>
                                WVI melatih penggunaan Siskeudes 578 orang staf pemerintah, masyarakat, dan mitra.
                                Dengan
                                system
                                laporan terdigitalisasi, pemerintah desa bisa memasukkan data tanpa perlu ke kantor
                                kabupaten
                                dan bisa mendeteksi masalah dalam perencanaan lebih dini. Desa pun lebih tertib
                                administrasi.</p>
                        </div>
                    </div>
                    <div class="section2ContentBoxBgWrap --right">
                        <div class="section2ContentBoxBgImg text-center">
                            <img src="./asset/images/section-2/bg-txt.png" class="section2ContentBoxBg" alt=""
                                loading="lazy">
                        </div>
                        <div class="section2ContentBoxTxt">
                            <picture class="text-center">
                                <source srcset="./asset/images/section-2/flow-tirta.png" media="(min-width: 768px)">
                                <source srcset="./asset/images/section-2/flow-tirta-m.png" media="(max-width: 767px)">
                                <img src="./asset/images/section-2/flow-tirta.png" alt="" loading="lazy">
                            </picture>
                            <div class="section2ContentBox section2Content2 --brown">
                                <div class="section2Digi section2Digi1">
                                    <strong>“Selama di Bappeda, saya mengikuti pembahasan terkait server, dan setelah
                                        pindah
                                        ke
                                        Kominfo, saya langsung koordinasi dengan DPMD untuk memindahkan server ke kantor
                                        Kominfo, sesuai TUSI kami yang mengelola IT. Jika ada kendala jaringan internet,
                                        kami
                                        akan mencari solusi di Kantor Camat untuk input data online. Dukungan ini sangat
                                        penting
                                        untuk mempercepat digitalisasi dan pelayanan publik di Kabupaten Ende” Herman
                                        Sigasare
                                        Sekretaris Dinas KOMINFO Kabupaten Ende.</strong>
                                </div>
                                <div class="section2Digi section2Digi2">
                                    <strong>“Untuk penginputan perencanaan, penganggaran dan pelaporan bisa diinput
                                        langsung melalui
                                        Siskeudes online, proses ini bisa dilakukan langsung dari desa, dan jika ada
                                        kendala akan
                                        dibantu oleh rekan-rekan kecamatan yang juga sudah dilatih oleh WVI sehingga
                                        tidak perlu
                                        membuang waktu dan biaya untuk ke kabupaten.” Felicytas Don Bosco, Super Admin
                                        DPMD,
                                        Kabupaten Ende.
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="section2ContentBox section2Content3 --brown">
                    <strong>
                        Suara untuk Kebijakan</strong><br>
                    Selain menguatkan dirinya sendiri, warga pun diajak untuk menguatkan pemerintah, mendorong
                    kebijakan pengelolaan air dan sanitasi yang berkelanjutan. Warga dipertemukan dengan pengambil
                    kebijakan dan diberi ruang menyampaikan suaranya.
                </div>
                <div class="buttonNextWrap">
                    <a href="section-3.html" class="buttonNext articleCaption">Lanjut</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Content -->

    <!-- main -->

    {{> js page="section-2"}}

</body>

</html>