<!DOCTYPE html>
<html lang="en">
{{> head page="section-3"}}

<body>
    <!-- Google Tag Manager -->
    {{> gtm2}}
    <!-- End Google Tag Manager -->

    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- preloader -->
    {{!> preloader}}
    <!-- preloader -->

    <!-- main -->

    <!-- Content -->
    <section class="section section3">
        <div class="section3Dash"></div>
        <div class="sectionCover section3Cover">
            <picture class="section3CoverBg">
                <source srcset="./asset/images/section-3/cover-water.png" media="(min-width: 768px)">
                <source srcset="./asset/images/section-3/cover-water.png" media="(max-width: 767px)">
                <img src="./asset/images/section-3/cover-water.png" alt="">
            </picture>
            <div class="section3CoverWrap">
                <h1 class="section3CoverCaption">Dampak Nyata</h1>
                <picture class="section3CoverImage">
                    <source srcset="./asset/images/section-3/cover-earth.png" media="(min-width: 768px)">
                    <source srcset="./asset/images/section-3/cover-earth-m.png" media="(max-width: 767px)">
                    <img src="./asset/images/section-3/cover-earth.png" alt="">
                </picture>
            </div>
        </div>
        <div class="section3Scroll text-center">
            <div class="section3BoxWrap center-flex">
                <div class="section3BoxEmiliana">
                    <img class="section3BoxImg" src="./asset/images/section-3/sad-emiliana.png" alt="" loading="lazy">
                    <img class="section3BoxImg" src="./asset/images/section-3/hope-emiliana.png" alt="" loading="lazy">
                </div>
                <div class="section3Box --abs">
                    <div class="section3BoxTxt section3BoxJs">
                        Lewat ko-kreasi, upaya bersama, dampaknya terasa nyata.
                    </div>
                    <div class="section3BoxTxt section3BoxJs">Pendanaan untuk tirta dan pawitra meningkat. Ini
                        rinciannya.
                    </div>
                </div>
            </div>
        </div>
        <div class="section3Graph">
            <div class="graphTitle desktop-hide text-center">Tren Anggaran AMS Pemerintah Daerah</div>
            <div class="section3Bg section3Bg1 bg mobile-hide">
                <picture class="">
                    <source srcset="./asset/images/section-3/bg-fish.png" media="(min-width: 768px)">
                    <source srcset="./asset/images/section-3/bg-fish.png" media="(max-width: 767px)">
                    <img src="./asset/images/section-3/bg-fish.png" alt="" loading="lazy">
                </picture>
            </div>
            <div class="container text-center">
                <picture class="graph section3GraphImage">
                    <source srcset="./asset/images/section-3/graph-1.png" media="(min-width: 768px)">
                    <source srcset="./asset/images/section-3/graph-1-m.png" media="(max-width: 767px)">
                    <img src="./asset/images/section-3/graph-1.png" alt="Tren Anggaran AMS Pemerintah Daerah"
                        loading="lazy">
                </picture>
                <div class="section3BoxGrad">Dana takkan berarti tanpa kebijakan pendukungnya. Upaya bersama akhirnya
                    menggerakkan pemerintah daerah menelurkan keputusan berharga untuk tirta.
                </div>
            </div>
            <div class="section3Bg section3Bg2 bg">
                <picture class="">
                    <source srcset="./asset/images/section-3/bg.png" media="(min-width: 768px)">
                    <source srcset="./asset/images/section-3/bg-m.png" media="(max-width: 767px)">
                    <img src="./asset/images/section-3/bg.png" alt="" loading="lazy">
                </picture>
            </div>
        </div>
        <div class="section3Letter">
            <div class="container">
                <div class="section3LetterItem section3BoxGrad center-flex">
                    <img src="./asset/images/section-3/letter-1.png" alt="" loading="lazy">
                    <div class="section3BoxLetterTxt">
                        <strong>Ende</strong><br>
                        Surat Edaran No: BU.440/DPMD.13/416/V/2023 yang dikeluarkan oleh Kadis DPMD tanggal 9 Mei 2023
                        terkait Percepatan Penyelesaian Dokumen Persyaratan Penyaluran Dana Desa dan Prioritas
                        Penggunaan Dana Desa termasuk untuk Penyediaan sarana Air dan Sanitasi dari APBDesa.
                    </div>
                </div>
                <div class="section3LetterItem section3BoxGrad center-flex">
                    <div class="section3BoxLetterTxt">
                        <strong>Nagekeo</strong><br>
                        Surat Edaran No: BU.440/DPMD.13/416/V/2023 yang dikeluarkan oleh Kadis DPMD tanggal 9 Mei 2023
                        terkait Percepatan Penyelesaian Dokumen Persyaratan Penyaluran Dana Desa dan Prioritas
                        Penggunaan Dana Desa termasuk untuk Penyediaan sarana Air dan Sanitasi dari APBDesa.Surat Edaran
                        No: 410./S.E/DPMD,PPPA-NGK/139/12/2002 tentang Pedoman Penyusunan Anggaran Pendapatan dan
                        Belanja Desa Tahun Anggaran 2023 dikeluarkan oleh Bupati pada 30 Desember 2022. Dimana orientasi
                        belanja desa pada sub bisang kawasan permukiman diarahkan pada pembangunan dan pemeliharaan
                        sarana air minum dan sanitasi.
                    </div>
                    <img src="./asset/images/section-3/letter-2.png" alt="" loading="lazy">
                </div>
                <div class="section3LetterItem section3BoxGrad center-flex">
                    <img src="./asset/images/section-3/letter-3.png" alt="" loading="lazy">
                    <div class="section3BoxLetterTxt">
                        <strong>Sintang</strong><br>
                        Surat Edaran
                        No: 400.10.2.4/014/DPMD-C
                        yang dikeluarkan oleh Kadis DPMD pada 16 Juni 2023, tentang Pelaksanaan APBDes TA. 2023, yang
                        mana pada arahan 2C prioritas penggunaan Dana Desa diarahkan sesuai dengan percepatan pencapaian
                        TPB dan program prioritas nasional yaitu, salah satunya pencegahan dan penurunan stunting serta
                        penyediaan air bersih dan sanitasi.
                    </div>
                </div>
                <div class="section3LetterItem section3BoxGrad">
                    <div class="center-flex">
                        <div class="section3BoxLetterTxt">
                            <strong>Melawi</strong><br>
                            Paket kebijakan Sanitasi 2022-2026 yaitu, Gotong Royong dalam Peningkatan Akses Layanan
                            Sanitasi
                            Aman dan Berkelanjutan "Boh Menyadik Begenah" Bijak Olah dan Memilah Sampah, Nyaman, Aman
                            dalam
                            Sanitasi Keberlanjutan, Melawi Bersih, Segar dan Indah. Kebijakan ini ditanda tangani Bupati
                            pada 21 Juli 2022.
                        </div>
                        <img src="./asset/images/section-3/letter-4.png" alt="" loading="lazy">
                    </div>
                    <div class="sectionSpacing center-flex">
                        <img src="./asset/images/section-3/letter-5.png" alt="" loading="lazy">
                        <div class="section3BoxLetterTxt">
                            Perbup No. 80 Tahun 2022 tentang Sanitasi Total Berbasis Masyarakat yang ditanda tangani
                            Bupati pada 24 Agustus 2022 sebagai tindak lanjut arahan Paket Kebijakan Sanitasi 2022-
                            2026. WVI mendukung revisi untuk detil sumber-sumber anggaran yang dapat dimanfaatkan untuk
                            pemenuhan STBM dan meminta kabupaten melakukan sosialisasi Perbup ini pada Juni 2023.
                        </div>
                    </div>
                </div>
                <div class="section3Bg section3Bg3 bg">
                    <picture class="">
                        <source srcset="./asset/images/section-3/bg-pari.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/section-3/bg-pari.png" media="(max-width: 767px)">
                        <img src="./asset/images/section-3/bg-pari.png" alt="" loading="lazy">
                    </picture>
                </div>
            </div>
        </div>
        <div class="section3Fin">
            <div class="container">
                <div class="section3FinHappy text-center center-flex">
                    <div class="section3FinImg">
                        <picture class="">
                            <source srcset="./asset/images/section-3/hug.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/section-3/hug.png" media="(max-width: 767px)">
                            <img src="./asset/images/section-3/hug.png" alt="" loading="lazy">
                        </picture>
                    </div>
                    <div class="section3Box container">
                        <div class="section3BoxTxt">
                            Emiliana pun akhirnya gembira bertemu tirta.</div>
                    </div>
                </div>
            </div>
            <div class="sectionSpacing section3Quote">
                <div class="section3QuoteWrap container">
                    <div class="section3QuoteImg">
                        <picture class="">
                            <source srcset="./asset/images/section-3/emiliana.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/section-3/emiliana.png" media="(max-width: 767px)">
                            <img src="./asset/images/section-3/emiliana.png" alt="" loading="lazy">
                        </picture>
                    </div>
                    <div class="section3QuoteTxt">
                        "Saya senang karena sekarang kami tidak perlu lagi berjalan jauh untuk membantu orang tua
                        mengambil
                        air
                        menggunakan jerigen. Dulu, setelah pulang sekolah, kami harus berjalan cukup jauh, tapi
                        sekarang
                        kami
                        tinggal membuka keran air di samping rumah."</div>
                </div>
            </div>
        </div>
        <div class="section3Change">
            <div class="section3Bg section3Bg4 bg mobile-hide">
                <picture class="">
                    <source srcset="./asset/images/section-3/bg-fish.png" media="(min-width: 768px)">
                    <source srcset="./asset/images/section-3/bg-fish.png" media="(max-width: 767px)">
                    <img src="./asset/images/section-3/bg-fish.png" alt="" loading="lazy">
                </picture>
            </div>
            <div class="section3Bg section3Bg5 bg">
                <picture class="">
                    <source srcset="./asset/images/section-3/bg-seaweed.png" media="(min-width: 768px)">
                    <source srcset="./asset/images/section-3/bg-seaweed.png" media="(max-width: 767px)">
                    <img src="./asset/images/section-3/bg-seaweed.png" alt="" loading="lazy">
                </picture>
            </div>
            <div class="section3ChangeWrap container center-flex">
                <div class="section3ChangeBefore">
                    <div class="graphTitle text-center">Sebelum</div>
                    <picture class="section3ChangeImg graph">
                        <source srcset="./asset/images/section-3/before.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/section-3/before-m.png" media="(max-width: 767px)">
                        <img src="./asset/images/section-3/before.png" alt="" loading="lazy">
                    </picture>
                </div>
                <div class="section3ChangeAfter">
                    <div class="graphTitle text-center">Sesudah</div>
                    <picture class="section3ChangeImg graph">
                        <source srcset="./asset/images/section-3/after.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/section-3/after-m.png" media="(max-width: 767px)">
                        <img src="./asset/images/section-3/after.png" alt="" loading="lazy">
                    </picture>
                </div>
            </div>
            <div class="container">
                <div class="buttonNextWrap">
                    <a href="section-4.html" class="buttonNext articleCaption">Lanjut</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Content -->

    <!-- main -->

    {{> js page="section-3"}}

</body>

</html>