<!DOCTYPE html>
<html lang="en">
{{> head page="section-4"}}

<body>
    <!-- Google Tag Manager -->
    {{> gtm2}}
    <!-- End Google Tag Manager -->

    <!-- header -->
    {{> header trans=true}}
    <!-- header -->

    <!-- preloader -->
    {{!> preloader}}
    <!-- preloader -->

    <!-- main -->

    <!-- Content -->
    <section class="section section4 scroll-area">
        <div class="scroll-inner">
            <div class="scroll-track">
                <div class="panel panel1">
                    <h1 class="section4Caption">Pelajaran untuk Semua</h1>
                </div>
                <div class="panel panel2">
                    <div class="section4Box center-flex">Pengalaman WVI di 6 kabupaten di Nusa Tenggara Timur dan
                        Kalimantan Barat memberikan pelajaran berharga soal bagaimana mengupayakan air dan sanitasi
                        untuk semua.</div>
                </div>
                <div class="panel panel3">
                    <div class="section4Box center-flex">Pertama, perlunya peran warga.</div>
                    <div class="section4Img">
                        <picture class="">
                            <source srcset="./asset/images/section-4/peran.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/section-4/peran-m.png" media="(max-width: 767px)">
                            <img src="./asset/images/section-4/peran.png" alt="" loading="lazy">
                        </picture>
                    </div>
                </div>
                <div class="panel panel4">
                    <div class="section4Box center-flex">Untuk melakukannya, perlu Badan Usaha Milik Desa yang
                        memungkinkan perluasan akses dana, penerimaan secara legal, membuat sistem keuangan lebih
                        berkelanjutan. Pemberdayaan warga perlu sehingga bisa mengelola badan usaha dengan baik.</div>
                    <div class="section4Img">
                        <picture class="">
                            <source srcset="./asset/images/section-4/bumd.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/section-4/bumd-m.png" media="(max-width: 767px)">
                            <img src="./asset/images/section-4/bumd.png" alt="" loading="lazy">
                        </picture>
                    </div>
                </div>
                <div class="panel panel5">
                    <div class="section4Box center-flex">Semua perlu berkolaborasi dan menguatkan. Mulai warga desa,
                        pemerintah kabupaten, provinsi, hingga pusat.</div>
                    <div class="section4Img">
                        <picture class="">
                            <source srcset="./asset/images/section-4/kolab.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/section-4/kolab-m.png" media="(max-width: 767px)">
                            <img src="./asset/images/section-4/kolab.png" alt="" loading="lazy">
                        </picture>
                    </div>
                </div>
                <div class="panel panel6">
                    <div class="section4Box center-flex">Dengan toolkit, peta jalan, dan platform laporan keuangan,
                        perlu mengupayakan tata kelola air dan sanitasi berkelanjutan</div>
                </div>
                <div class="panel panel7">
                    <div class="section4Box center-flex">Tertarik untuk mewujudkannya di wilayah Anda, laporan WVI dan
                        ringkasan kebijakan ini bisa menjadi panduannya.</div>
                    <div class="section4Img">
                        <picture class="">
                            <source srcset="./asset/images/section-4/panduan.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/section-4/panduan-m.png" media="(max-width: 767px)">
                            <img src="./asset/images/section-4/panduan.png" alt="" loading="lazy">
                        </picture>
                    </div>
                </div>
                <div class="panel panel8">
                    <div class="section4Box --grey center-flex text-center"><a href="#" target="_blank"
                            rel="noopener noreferrer">[tautan WVI]</a></div>
                </div>
            </div>
        </div>
        </div>

        <picture class="">
            <source srcset="./asset/images/section-4/ship.png" media="(min-width: 768px)">
            <source srcset="./asset/images/section-4/ship-m.png" media="(max-width: 767px)">
            <img src="./asset/images/section-4/ship.png" alt="Ship" class="ship">
        </picture>

    </section>
    <!-- Content -->

    <!-- main -->

    {{> js page="section-4"}}

</body>

</html>