.sidebar {
    &Caption {
        text-transform: uppercase;
        @include font-pack($font-base, $font-input, $font-weight-normal, 1.2, $cl-red);

        @include min-responsive($w-md) {
            font-size: 22px
        }
    }

    &Article {
        .eventList__img {
            width: 110px;
            height: 90px;
            margin-right: 12px;
            margin-bottom: 0
        }

        .eventList__title {
            @extend .ellipsis;
            -webkit-line-clamp: 3;
            font-size: $font-text;
        }

        .eventList__link {
            flex-direction: row;
        }
    }

    &Item {
        margin-top: 40px;

        @include min-responsive($w-md) {
            margin-top: 30px;
        }


        &:first-of-type {
            margin-top: 20px;

            @include min-responsive($w-md) {
                margin-top: 30px;
            }

            @include min-responsive($w-lg) {
                margin-top: 0;
            }
        }
    }

    &Maps {
        margin-top: 30px;
        margin-bottom: 20px;

        @include min-responsive($w-lg) {
            margin-top: 0;
            margin-bottom: 30px;
        }
    }

    &Contact {
        &__icon {
            .icoInline {
                @extend %filter-red;
                width: 20px;
                height: 20px;
                margin-right: 8px;
                background-repeat: no-repeat;
                background-position: center;

                @include min-responsive($w-md) {
                    width: 24px;
                    height: 24px;
                    margin-right: 12px;
                }
            }
        }

        &__item {
            margin-top: 20px;

            @include min-responsive($w-md) {
                margin-top: 30px;
            }
        }
    }
}