<h2>Job Description</h2>
<ul>
    <li>Mendorong penjualan dan meningkatkan produktivitas ruang jual melalui active selling dan B2B</li>
    <li>Melakukan kegiatan dan aktivitas penjualan digital</li>
    <li>Memberikan laporan dan evaluasi bulanan (progress report)</li>
    <li>Memastikan operasional toko berjalan dengan lancar, antara lain mengatur jadwal karyawan, memastikan
        kesiapan sistem operasional, mengontrol ketersediaan produk dan kerapihan display, melakukan perubahan
        display dan visual merchandising, memastikan pelayanan dan penanganan keluhan berjalan baik</li>
</ul>
<h2>Minimum Qualifications</h2>
<ul>
    <li>Pend. minimal Sarjana (semua jurusan)</li>
    <li>Menjadi nilai tambah jika memiliki pengalaman kerja di dunia retail</li>
    <li>Memiliki kemampuan digital selling</li>
    <li>Memiliki komunikasi yang baik, dan leadership yang kuat</li>
    <li>Mampu bekerja dengan sistem target</li>
    <li>Bersedia bekerja shift</li>
    <li>Penempatan di Gramedia Lampung Raden Intan</li>
</ul>
<h2>Perks and Benefits</h2>
<ul>
    <li><img src='./asset/images/dummy/career/employee-discounts.svg' alt='' width='32' height='32'>
        <span>Employee Discounts</span>
    </li>
</ul>
<h2>Jobs Summary</h2>
<div class='row'>
    <div class='col-md-6'>
        <h3>Job Level</h3>
        <div>Entry Level / Junior, Apprentice</div>
        <h3>Job Category</h3>
        <div>Sales and Marketing</div>
        <h3>Educational Requirement</h3>
        <div>Bachelor'sdegree graduate</div>
        <h3>Office Address</h3>
        <div>Jl. Raden Intan No.63, Enggal, Engal, Kota Bandar Lampung,
            Lampung 35213</div>
    </div>
    <div class='col-md-6'>
        <h3>Industry</h3>
        <div>Media Production</div>
        <h3>Vacancy</h3>
        <div>1 opening</div>
        <h3>Website</h3>
        <div><a href='http://www.kompasgramedia.com' target='_blank'
                rel='noopener nofollow'>http://www.kompasgramedia.com</a></div>
    </div>
</div><hr>
<h2>About Kompas Gramedia</h2>
<div>
    Kompas Gramedia, through its more than 50 years of history, is striving for one goal: enlightening and empowering
    Indonesia. To ensure that we are able to serve the nation for another 50 years, we are undergoing a digital
    transformation; strengthening and expanding our solid business pillars by developing new digital business
    initiatives.<br>
    Our vision is to enlight all the people in Indonesia with all the knowledge we have.
</div>