<div class="popup popup--hidden center-flex -pCareer">
    <div class="popupBox careersPopup">
        <button class="button buttonClose" aria-label="Close Popup" onclick="triggerActiveButton('.-pCareer')"><span
                class="ico icoClose center-flex"></span></button>
        <div class="popupContent">
            <div class="titleH4">Apply</div>
            <form action="#" id="formcareer">
                <div class="formRow row">
                    <div class="formCol col-lg-12">
                        <label class="formLabel titleLead" for="uname">Nama Lengkap<span
                                class="required">*</span></label>
                        <input type="text" class="formInput" name="uname" id="uname" placeholder="Nama lengkap pelamar"
                            required>
                    </div>
                </div>
                <div class="formRow row">
                    <div class="formCol col-lg-6">
                        <label class="formLabel titleLead" for="mail">Email<span class="required">*</span></label>
                        <input type="email" class="formInput" name="mail" id="mail" placeholder="me@email.com" required>
                    </div>
                    <div class="formCol col-lg-6">
                        <label class="formLabel titleLead" for="phone">Nomor Handphone<span
                                class="required">*</span></label>
                        <input type="text" class="formInput" name="phone" id="phone" placeholder="+62"
                            inputmode="numeric" required>
                    </div>
                </div>
                <div class="formRow row">
                    <div class="formCol col">
                        <div class="formLabel titleLead">Upload CV<span class="required">*</span></div>
                        <label class="formFile" for="cv">
                            <input type="text" placeholder="Tidak ada file yang dipilih" class="formInput formFileTitle"
                                aria-label="area" id="cvtxt" readonly>
                            <div class="formFileCta button buttonPrimary"><span>Pilih File</span></div>
                            <input type="file" name="cv" id="cv" accept="pdf" class="formFileInput"
                                onchange="onFileChange(this)" ref="inputFile" required>
                            <button onclick="removeFile(this)" class="button formClear" type="button"
                                aria-label="clear value"><span class="ico icoClose"></span></button>
                        </label>
                        <div class="error" id="msgFile"></div>
                        <div class="formInfo titleLead"><span class="ico icoInfo"></span>File format: PDF, maksimal 5 mb
                        </div>
                    </div>
                </div>
                <div class="formRow row">
                    <div class="formCol col">
                        <div class="formLabel titleLead">Upload Portfolio<span class="required">*</span></div>
                        <label class="formFile" for="portfolio">
                            <input type="text" placeholder="Tidak ada file yang dipilih" class="formInput formFileTitle"
                                aria-label="area" id="portfoliotxt" readonly>
                            <div class="formFileCta button buttonPrimary"><span>Pilih File</span></div>
                            <input type="file" name="portfolio" id="portfolio" accept="pdf" class="formFileInput"
                                onchange="onFileChange(this)" ref="inputFile" required>
                            <button onclick="removeFile(this)" class="button formClear" type="button"
                                aria-label="clear value"><span class="ico icoClose"></span></button>
                        </label>
                        <div class="error" id="msgFile"></div>
                        <div class="formInfo titleLead"><span class="ico icoInfo"></span>File format: PDF, maksimal 5 mb
                        </div>
                    </div>
                </div>
                <div class="formRow row">
                    <div class="formCol col">
                        <label class="formLabel titleLead" for="links">Insert Link</label>
                        <div class="formRel">
                            <input type="text" class="formInput formLink" name="links" id="links"
                                placeholder="Tempel link disini">
                            <button onclick="removeLink(this)" class="button formClear active" type="button"
                                aria-label="clear value"><span class="ico icoClose"></span></button>
                        </div>
                        <button class="button buttonTxt -addInputLink" type="button">+ Tambah Link</button>
                    </div>
                </div>
                <div class="formRow row">
                    <div class="formCol col">
                        <button class="button buttonPrimary" type="submit" id="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>