.econ {
    &2{
        position: absolute;
    }
}

.infla{
    &Anim{
        position: relative;
        bottom: -40px;
    }
}

.rate{
    &Anim{
        position: relative;
        bottom: -50px;
        max-width: calc(var(--app-height) - 10vw);
    }
}

.stable{
    &Anim{
        max-width: 360px;
    }
}