<!DOCTYPE html>
<html lang="en">

{{> head page="digital" child=true}}

<body>
    <main role="main" class="digital">
        {{!> header/header}}

        <!-- preloader -->
        {{> preloader-digital}}
        <!-- preloader -->

        <div class="bgStatic bgStatic--warn">
            <div class="articleContent text-center">
                For better experience, rotate your screen or switch to bigger screen.
            </div>
        </div>

        <!-- Template Background Color -->
        <div class="bgColor__wrap">
            <div class="bgColor bgColor__black"></div>
        </div>
        <!-- Template Background Color -->
        <!-- Template Image Content -->
        <div class="bgStatic__wrap active">
            <div class="bgStatic offer">
                <div class="container heightFull">
                    <div class="digitalWrap center-flex heightFull">
                        <div class="articleImg">
                            <picture class="ui uiScreen uiMbca">
                                <source srcset="./asset/images/mbca-mob.png" media="(max-width: 768px)" alt=""
                                    width="100" height="100">
                                <img srcset="./asset/images/mbca.png" alt="" class="" width="130" height="256">
                            </picture>
                            <div class="uiScreen__wrap uiScreen__wrap--2">
                                <picture class="ui uiPhone uiPhone2">
                                    <source srcset="./asset/images/phone-mob.png" media="(max-width: 768px)" alt=""
                                        width="148" height="278">
                                    <img srcset="./asset/images/phone.png" alt="" class="" width="234" height="439">
                                </picture>
                            </div>
                            <picture class="iconMbca iconPrioritas">
                                <source srcset="./asset/images/prioritas-icon.png" media="(max-width: 768px)" alt=""
                                    width="108" height="130">
                                <img srcset="./asset/images/prioritas-icon.png" alt="" class="" width="140"
                                    height="168">
                            </picture>
                            <picture class="iconMbca iconSolitaire">
                                <source srcset="./asset/images/solitaire-icon.png" media="(max-width: 768px)" alt=""
                                    width="108" height="130">
                                <img srcset="./asset/images/solitaire-icon.png" alt="" class="" width="139"
                                    height="169">
                            </picture>
                        </div>
                        <h1 class="articleContent">
                            Akses beragam penawaran eksklusif untuk mendukung pengembangan bisnis dan gaya hidup
                            eksklusif Anda di Menu Privilege BCA Mobile.
                        </h1>
                    </div>
                </div>
            </div>
            <div class="bgStatic ebranch">
                <div class="container heightFull">
                    <div class="digitalWrap center-flex heightFull">
                        <div class="articleImg">
                            <picture class="ui uiScreen uiEbranch">
                                <source srcset="./asset/images/ebranch-mob.png" media="(max-width: 768px)" alt=""
                                    width="100" height="100">
                                <img srcset="./asset/images/ebranch.png" alt="" class="" width="130" height="257">
                            </picture>
                            <picture class="iconMbca iconEbranch">
                                <source srcset="./asset/images/ebranch-icon-mob.png" media="(max-width: 768px)" alt=""
                                    width="78" height="78">
                                <img srcset="./asset/images/ebranch-icon.png" alt="" class="" width="101" height="101">
                            </picture>
                        </div>
                        <h2 class="articleContent opac0">
                            Kemudahan reservasi transaksi di Ruangan BCA Prioritas via aplikasi eBranch BCA.
                        </h2>
                    </div>
                </div>
            </div>
            <div class="bgStatic vindi">
                <div class="container heightFull">
                    <div class="digitalWrap center-flex heightFull">
                        <div class="articleImg">
                            <picture class="ui uiScreen uiVindi">
                                <source srcset="./asset/images/vindi-mob.png" media="(max-width: 768px)" alt=""
                                    width="130" height="257">
                                <img srcset="./asset/images/vindi.png" alt="" class="" width="210" height="415">
                            </picture>
                        </div>
                        <h2 class="articleContent opac0">
                            Kelola dan monitor keuangan dengan aplikasi Vindi BCA.
                        </h2>
                    </div>
                </div>
            </div>
            <div class="bgStatic mbca active1">
                <div class="container heightFull">
                    <div class="digitalWrap center-flex heightFull">
                        <div class="articleImg">
                            <div class="uiPhoneWrap">
                                <picture class="ui uiScreen uiMbca uiMbca1">
                                    <source srcset="./asset/images/mbca-mob.png" media="(max-width: 768px)" alt=""
                                        width="100" height="100">
                                    <img srcset="./asset/images/mbca.png" alt="" class="" width="130" height="256">
                                </picture>
                                <div class="uiScreen__wrap uiScreen__wrap--1">
                                    <picture class="ui uiPhone uiPhone1">
                                        <source srcset="./asset/images/phone-mob.png" media="(max-width: 768px)" alt=""
                                            width="148" height="278">
                                        <img srcset="./asset/images/phone.png" alt="" class="" width="234" height="439">
                                    </picture>
                                </div>
                                <div class="uiCircle"></div>
                            </div>
                        </div>
                        <h2 class="articleContent mbcaTxt opac0">
                            Akses seluruh portofolio Anda di BCA dalam satu laporan dengan mengakses menu Combined
                            Statement
                        </h2>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="digitalCta center-flex">
                    <button class="button buttonScroll center-flex">
                        scroll
                        <span class="icon-scroll"></span>
                    </button>
                </div>

                {{> button-info}}

                {{> button-credit}}

                <div class="bgColor bgColor__dot"></div>
            </div>
            <div class="bgStatic">
                {{>credit}}

            </div>
        </div>
        <!-- Template Image Content -->
        <!-- Fullpage Content -->
        <div id="fullpage" class="fullpage">
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
        </div>
        <!-- Fullpage Content -->
        <div id="some-element"></div>
    </main>
    {{> footer}}

    {{> js page="digital" child=true}}

</body>

</html>