.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

%desktop-hide {
	@include min-responsive($w-md) {
		display: none;
	}
}

%mobile-hide {
	display: block;

	@include min-responsive($w-md) {
		display: none;
	}
}

.desktop-only {
	display: none;

	@include min-responsive($w-xl) {
		display: block;
	}
}

.mobile-only {
	display: block;
	
	@include min-responsive($w-xl) {
		display: none;
	}
}