<ul class="listOther mb40">
    <li class="listOther__item">
        <a class="listOther__link" href="#">Laba Ciputra (CTRA) Melonjak 72,9 Persen, Simak Rekomendasi Sahamnya</a>
    </li>
    <li class="listOther__item">
        <a class="listOther__link" href="#">Panasnya Rapor Surya Esa Perkasa, Saham ESSA Sanggup ATH Baru?</a>
    </li>
    <li class="listOther__item">
        <a class="listOther__link" href="#">Rugi Kontraktor Grup Astra, Acset ACST Menciut Semester I/2022</a>
    </li>
    <li class="listOther__item">
        <a class="listOther__link" href="#">Mengintip Prospek Cuan Saham WOOD Kala Inflasi AS Kian Panas</a>
    </li>
    <li class="listOther__item">
        <a class="listOther__link" href="#">CitraGrand Cibubur Resmikan Fasilitas Masjid di Agenda Groundbreaking</a>
    </li>
</ul>