<div class="premiumBox{{#if mt}} mt{{mt}}{{/if}}">
    <div class="titleCaptionWrap">
        <div class="premiumBoxBtn"><span class="icoInline icoPremium"></span>Konten Premium</div>
        <a href="#" class="premiumBoxLogin" aria-label="Login or register"><span
                class="icoInline icoLoginPremium"></span></a>
    </div>
    <h3 class="premiumBoxCaption">
        Nikmati Konten Premium Untuk Informasi Yang Lebih Dalam
    </h3>
    {{>tekno/article channel=channel type="col" total=3 index_start=0
    index_end=3}}

    <a href="#" class="titleOthers">Lihat Lainnya</a>
</div>