<h2><strong>Tips Tetap Produktif Selama Puasa</strong></h2>
<h3>1. Menyusun Catatan Kegiatan</h3>
<p>
<p>Tips produktif selama puasa yang pertama yaitu menyusun <i>to do list</i>. Catatan kegiatan akan
    membantu untuk mengatur semua kegiatan yang akan dilakukan pada hari tersebut. Adanya catatan kegiatan ini dapat
    membantu untuk mengelola pekerjaan sehingga bisa lebih efisien.</p>
</p>
<p>
<p>Selama bulan Ramadhan mungkin kegiatan yang dilakukan perlu penyesuaian. Hal ini
    karena jam dan waktu istirahat juga berubah. Susun kegiatan yang akan dikerjakan baik itu untuk harian maupun
    mingguan. Dalam membuat catatan kegiatan Anda juga perlu menuliskan estimasi waktu untuk penyelesaian
    pekerjaan.</p>
</p>

<!-- s: parallax billboard -->
<div class="billboard billboardParallax mt30">
    <div class="billboardFlying">
        <div class="billboardFlyingInner">
            <div class="billboardFlyingFix">
                <div class="billboardFlyingBanner">
                    <div class="billboardFlyingWrap">
                        <!-- ad script here -->
                        <img src="https://placehold.co/300x600/000/F4F4F4?font=nunitosans&text=Parallax%20BILLBOARD%20IS%20HERE"
                            alt="" width="300" height="600">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- e: parallax billboard -->

<h3>2. Makan Sahur dan Berbuka Secara Teratur</h3>
<p>Tips produktif saat puasa yang berikutnya selama menjalankan ibadah puasa waktu
    istirahat dan waktu makan ada di antara waktu magrib sampai dengan imsak. Hal ini berarti Anda harus menjaga
    kebugaran tubuh selama menjalankan ibadah puasa.</p>
<p>Pastikan Anda makan dan berbuka secara teratur terlebih lagi jika memiliki
    rutinitas yang padat. Jangan sampai produktivitas menurun karena Anda tidak makan sahur.</p>
<h3>3. Hindari Tidur Setelah Sahur</h3>
<p>Agar puasa tetap produktif salah satu yang harus dilakukan yaitu hindari tidur
    setelah sahur. Sama berpuasa hal ini menjadi salah satu tantangan terberat yaitu bangun untuk makan sahur.
    Terutama saat Anda tidur larut malam dan harus menyiapkan makanan sahur.</p>
<p>Hal yang bisa dilakukan yaitu menyelesaikan pekerjaan tepat waktu dan tidur
    dengan cukup. Jangan sampai selepas sahur Anda justru tidur karena akan menyebabkan masalah pada proses
    pencernaan.</p>
<p>Selain itu, Anda bisa bangun kesiangan dan terlambat untuk melakukan kegiatan.
    Tentu saja hal ini membuat Anda menjadi tidak disiplin.</p>