<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>

    <main role="main">

        <div class="container">

            <div class="row">
                <div class="article404 col-lg-8 mx-auto center-flex text-center">
                    <h1>
                        <a href="index.html">
                            <img src="{{site.logo}}" alt="Comic MNC" width="83" height="48">
                        </a>
                    </h1>
                    <form action="search.html" class="searchForm">
                        <button type="submit" class="button buttonSearch center-flex" aria-label="search">
                            <span class="icoInline icoSearch"></span>
                        </button>
                        <input type="text" name="" class="searchInput"
                            aria-label="Search title, author, or event here"
                            placeholder="Search title, author, or event here..." value="" inputmode="search">
                    </form>
                    <h2 class="article404__caption">404</h2>
                    <div class="titleText">Ups! Halaman Tidak ditemukan</div>
                    <div class="titleParagraph">Maaf halaman yang kamu cari tidak bisa ditemukan atau telah dihapus.
                        Silakan coba beberapa waktu kembali.</div>
                    <div class="article404__cta center-flex">
                        <a href="index.html" class="buttonPrimary">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>

    </main>

    {{>js}}

</body>

</html>