<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{>header/header login=true page="About Us"}}
    {{!>header/header}}

    <main role="main">

        <div class="container">

            {{>breadcrumb title="About us" link="#" sublink=false}}

            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <h2 class="titleCaption titleCaption--up">M&C Publishing - PT Gramedia Pustaka Utama </h2>
                    <div class="static mt2">
                        <p>M&C Publishing is a publisher under Retail and Publishing Division of Kompas Gramedia Group,
                            the
                            biggest publishing company in Indonesia. Kompas Gramedia Group started the venture focusing
                            in
                            the
                            printing media. In its development, the company has expanded into a business group with
                            various
                            divisions. In the information sector, the group has also spread out to the electronic media
                            and
                            multimedia.
                        </p>
                        <p>M&C Publishing started as Komik Majalah back in the 1980-ies which published various comics
                            from
                            some
                            foreign publishers. Some of the titles became so popular and quite a legend, such as the
                            comic
                            serial Nina from Holland and the kungfu comic Tiger Wong from Hong Kong. As manga market
                            signifi
                            cantly increased in the late 1990-ies in Indonesia, m&c! Publishing started to publish manga
                            as
                            well
                            and the brand of m&c! as a comic publisher has been established in our readers’ mind since.
                            Today,
                            cooperating with various publishers all over the world, m&c! Publishing has published a wide
                            range
                            of titles and types of books: comics, educational comics, children’s books, novels, and also
                            nonfi
                            ction books. </p>

                        <p>With a mission to build a smart and creative generation, we publish high quality books from
                            top
                            international publishers. As our commitment to build a creative generation, we also publish
                            our
                            own
                            comics created by our talented authors under an imprint KOLONI. To go global successfully,
                            we
                            aspire
                            to publish novels as well as nonfi ctions which can be appreciated by our readers all over
                            the
                            world.
                        </p>
                    </div>

                    <h3 class="titleCaption titleCaption--up text-center spacing">Meet our team</h3>

                    {{>component/team-sort}}

                    <div class="teamList row">

                        {{>component/team-item index_start=0 index_end=9 team=true}}

                    </div>
                </div>
            </div>
        </div>

    </main>

    {{>footer/footer}}

    {{>js}}
    <script>
        var posts = $('.sortContent');
        posts.fadeOut();

        $(".sort").click(function () {
            var customType = $(this).data('filter'); // category

            posts
                .fadeOut()
                .filter(function () {
                    return $(this).data('cat') === customType;
                })
                .fadeIn(200);
        });

        // display all sort
        $("#sortAll").click(function () {
            posts.fadeIn(200);
        }).addClass("active").click();

        $(".sort").click(function (e) {
            //toggle active sort
            $(this).toggleClass("active").siblings().removeClass("active");
            e.preventDefault()
        });
    </script>

</body>

</html>