<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{!>header/header login=true}}
    {{>header/header page="Authors"}}

    <main role="main">

        <div class="container">

            {{>breadcrumb title="Authors" link="#" sublink=false}}

        </div>
        <div class="author">
            <div class="container">

                {{>component/author-item total=1 index_startauthor=1 index_endauthor=2}}

            </div>
        </div>
        <div class="container">
            <h2 class="titleCaption titleCaption--up">Books from Author</h2>
            <div class="productCol row">

                {{>component/author-item-books index_startauthor=1 index_endauthor=2 index_start=0 index_end=10
                col=true}}

            </div>
            <ul class="paging center-flex">
                {{>paging}}
            </ul>
        </div>

    </main>

    {{>footer/footer}}

    {{>js}}

</body>

</html>