<!DOCTYPE html>
<html lang="en">

{{>head page="read"}}

<body>
    {{>header/header login=true}}
    {{!>header/header}}

    <main role="main">

        <div class="container">
            {{>breadcrumb title="Books Categories" subtitle="Comics" sublink="#"}}

            <div class="read row">
                <div class="readImg col-lg-4">

                    {{>read/read-img total=1 index_start=15 index_end=16}}

                    <button class="button readPreview readPreview--comic mt2 -bPrev">Preview Book</button>

                </div>
                <div class="readContent col-lg-8">

                    {{>read/read-content total=1 index_start=15 index_end=16 categ="Comics" type="comic"}}

                </div>
            </div>

            <!-- s: read tab -->
            {{>read/read-tab login=true}}
            <!-- e: read tab -->

            <div class="related">
                <h2 class="titleCaption titleCaption--up">Related Book</h2>
                <div class="productScroll row">

                {{> component/product-list related=true type="new" total=5 index_start=0 index_end=5 col=true}}
                
                </div>
            </div>

        </div>

    </main>

    <!-- s: popup preview book -->
    {{>read/popup-preview total=1 index_start=1 index_end=2}}
    <!-- e: popup preview book -->
    <!-- s: popup video -->
    {{>read/popup-video}}
    <!-- e: popup video -->

    {{>footer/footer}}

    {{>js page="read" image-upload=true}}

</body>

</html>