<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{!>header/header login=true}}
    {{>header/header}}

    <main role="main">

        <div class="container">

            {{>breadcrumb title="Career" link="#" sublink=false}}

            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <h2 class="titleCaption titleCaption--up">Career</h2>
                    <div class="static text-center mt2">
                        <img src="./asset/images/empty-career.png" alt="" width="251" height="250">
                        <div class="titleText">Oops, there are no job vacancies at the moment</div>
                        <p class="titleParagraph">We are sorry, we don't have any job vacancies yet. Don't give up, keep the spirit.</p>
                    </div>

                </div>
            </div>
        </div>

    </main>

    {{>footer/footer}}

    {{>js}}

</body>

</html>