<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{!>header/header login=true}}
    {{>header/header}}

    <main role="main">

        <div class="container">

            {{>breadcrumb title="Career" link="#" sublink=false}}

            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <h2 class="titleCaption titleCaption--up">Career</h2>

                    {{>component/career-item index_start=0 index_end=3}}

                </div>
            </div>
        </div>

    </main>

    {{>footer/footer}}

    {{>js}}

</body>

</html>