<!DOCTYPE html>
<html lang="en">

{{>head swiper=true}}

<body>
    {{!>header/header login=true page="Books categories"}}
    {{>header/header page="Books categories"}}

    <main role="main">

        <div class="container">
            {{>breadcrumb title="Books Categories" subtitle="Novel" sublink="#" type="novel"}}

            <div class="list row">
                <div class="listMenu listMobile col-xl-3" id="listmob">
                    <div class="listMobile__top mobile-only">
                        <div class="listMobile__title text-center">Filter</div>
                        <button class="button buttonClose -closeFilter" aria-label="close">
                            <span class="icoInline icoClose center-flex"></span>
                        </button>
                    </div>
                    <div class="listMobile__sort mobile-only">

                        {{>list/sort-pill title="Sort By"}}

                    </div>

                    {{>list/list page="Novel" title="Categories"}}

                    {{>list/list title="Rating"}}

                    {{>list/list title="Price"}}

                    {{>list/list title="Genre"}}

                    <div class="listCta">
                        <button class="button buttonFull buttonPrimary -closeFilter">Apply</button>
                        <button class="button buttonFull buttonSecondary -resetFilter" type="button">Reset</button>
                    </div>
                </div>
                <div class="listShow col-xl-9">
                    <div class="listFilter">
                        <button class="button listFilter__btn" id="filterbtn">
                            <img src="./asset/images/icon/filter.png" alt="" width="16" height="16">
                            <span class="ml10">Filter</span>
                        </button>
                    </div>
                    <div class="listCaption">
                        <h2 class="titleCaption">Novel</h2>
                        <div class="listWrap">
                            <div class="listResult">Show products 1 - 5 of 100 result</div>
                            <div class="desktop-only">

                                {{>list/sort-select}}

                            </div>
                        </div>
                    </div>
                    <div class="listProduct">
                        <div class="productSlider">

                            {{>list/product-slider swiper=true type="novel" total=5 index_start=7 index_end=12}}

                        </div>
                    </div>
                    <ul class="paging center-flex">
                        {{>paging}}
                    </ul>
                </div>
            </div>
        </div>

    </main>

    {{>footer/footer}}

    {{>js page="categ" select=true swiper=true}}

</body>

</html>