<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{!>header/header login=true}}
    {{>header/header page="Event"}}

    <main role="main">

        <div class="container">

            {{>breadcrumb title="Event" subtitle="Event" sublink="#"}}

            <div class="event row">
                <div class="eventMenu col-lg-3">

                    {{>event/nav title="Categories" page="Event"}}

                </div>
                <div class="col-lg-9">
                    <h2 class="titleCaption">Event</h2>
                    <div class="eventIdx">

                        {{>event/event-list total=10 index_start=0 index_end=10 desc=true}}

                    </div>
                    <ul class="paging center-flex">
                        {{>paging}}
                    </ul>
                </div>
            </div>
        </div>

    </main>

    {{>footer/footer}}

    {{>js}}

</body>

</html>