<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{!>header/header login=true}}
    {{>header/header}}

    <main role="main">

        <div class="container">

            {{>breadcrumb title="FAQ" link="#" sublink=false}}

            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <h2 class="titleCaption titleCaption--up">FAQ</h2>

                    <div class="static mt2">
                        <div class="faqList">
                            <div class="faqBox open active">
                                <div class="faqTrig -js-show display-flex align-center">
                                    <div class="faqBox__title">Saya mau membeli buku secara online, bagaimana
                                        caranya?
                                    </div>
                                    <button class="button faqShow" aria-label="Show hide content">Hide</button>
                                </div>
                                <div class="faqContent faqBox__content">Silakan klik tombol keranjang belanja yang
                                    terdapat pada laman buku yang diinginkan atau silakan langsung berkunjung ke
                                    <a href="https://gramedia.com" target="_blank"
                                        rel="noopener noreferrer">Gramedia.com</a>.
                                </div>
                            </div>
                            <div class="faqBox close">
                                <div class="faqTrig -js-show display-flex align-center">
                                    <div class="faqBox__title">Apakah Gramedia Pustaka Utama menerbitkan ebook?
                                    </div>
                                    <button class="button faqShow" aria-label="Show hide content">Show</button>
                                </div>
                                <div class="faqContent faqBox__content">
                                    Ebook resmi dapat dibeli melalui aplikasi Gramedia Digital dan Google Books, atau
                                    juga bisa dipinjam di iPusnas milik Perpustakaan Nasional RI.

                                </div>
                            </div>
                            <div class="faqBox close">
                                <div class="faqTrig -js-show display-flex align-center">
                                    <div class="faqBox__title">Dapatkah saya membeli buku tanpa menjadi member?
                                    </div>
                                    <button class="button faqShow" aria-label="Show hide content">Show</button>
                                </div>
                                <div class="faqContent faqBox__content">
                                    <ol>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin
                                            et
                                            cras
                                            id eu
                                            libero.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin
                                            et
                                            cras
                                            id eu
                                            libero.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin
                                            et
                                            cras
                                            id eu
                                            libero.</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="faqBox close">
                                <div class="faqTrig -js-show display-flex align-center">
                                    <div class="faqBox__title">Dapatkah saya meretur buku yang saya telah beli?
                                    </div>
                                    <button class="button faqShow" aria-label="Show hide content">Show</button>
                                </div>
                                <div class="faqContent faqBox__content">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing
                                    elit.
                                    Suspendisse sed enim nam sit eget. Id nunc, tincidunt leo eget eleifend malesuada
                                    aliquam.
                                    Scelerisque sed non lectus odio platea et nibh sed. Felis, nisl fermentum consequat
                                    placerat. Nisl,
                                    at tincidunt tortor luctus risus libero dui ut. Maecenas tempus nisl suspendisse sed
                                    mi.
                                    Nunc
                                    malesuada eget senectus nam nisi, sapien. Ut ultrices justo, bibendum blandit at
                                    diam
                                    feugiatrcu
                                    nisl habitant vitae feugiat luctus elementum. Semper in enim aliquet ut. Dictumst ut
                                    sed
                                    ut eleifend
                                    tortor ut sed. Sit rhoncus consectetur ultrices arcu. Lectus magna amet facilisis
                                    tortor
                                    eget
                                    adipiscing etiam aliquet lobortis. Aliquet placerat condimentum quis tempor ut
                                    ultrices
                                    ut nisl
                                    pulvinar. Arcu aliquam morbi integer dolor, vel nec. Ullamcorper mattis ut gravida
                                    commodo feugiat
                                    erat lacus id.</div>
                            </div>
                            <div class="faqBox close">
                                <div class="faqTrig -js-show display-flex align-center">
                                    <div class="faqBox__title">Dapatkah saya melakukan pembayaran COD?</div>
                                    <button class="button faqShow" aria-label="Show hide content">Show</button>
                                </div>
                                <div class="faqContent faqBox__content">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing
                                    elit.
                                    Suspendisse sed enim nam sit eget. Id nunc, tincidunt leo eget eleifend malesuada
                                    aliquam.
                                    Scelerisque sed non lectus odio platea et nibh sed. Felis, nisl fermentum consequat
                                    placerat. Nisl,
                                    at tincidunt tortor luctus risus libero dui ut. Maecenas tempus nisl suspendisse sed
                                    mi.
                                    Nunc
                                    malesuada eget senectus nam nisi, sapien. Ut ultrices justo, bibendum blandit at
                                    diam
                                    feugiatrcu
                                    nisl habitant vitae feugiat luctus elementum. Semper in enim aliquet ut. Dictumst ut
                                    sed
                                    ut eleifend
                                    tortor ut sed. Sit rhoncus consectetur ultrices arcu. Lectus magna amet facilisis
                                    tortor
                                    eget
                                    adipiscing etiam aliquet lobortis. Aliquet placerat condimentum quis tempor ut
                                    ultrices
                                    ut nisl
                                    pulvinar. Arcu aliquam morbi integer dolor, vel nec. Ullamcorper mattis ut gravida
                                    commodo feugiat
                                    erat lacus id.</div>
                            </div>

                            <ul class="paging center-flex">
                                {{>paging}}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </main>

    {{>footer/footer}}

    {{>js}}
    <script>
        //show content faq
        var accItem = document.getElementsByClassName('faqBox');
        var accHD = document.getElementsByClassName('-js-show');
        for (i = 0; i < accHD.length; i++) {
            accHD[i].addEventListener('click', toggleItem, false);
        }

        function toggleItem() {
            var itemClass = this.parentNode.className;

            if (itemClass == 'faqBox close') {
                for (i = 0; i < accItem.length; i++) {
                    accItem[i].className = 'faqBox close';
                    accHD[i].querySelector('.faqShow').innerHTML = "Show";
                }
                this.parentNode.className = 'faqBox open active';
                this.querySelector('.faqShow').innerHTML = "Hide";
            } else {
                this.parentNode.className = 'faqBox close';
                this.querySelector('.faqShow').innerHTML = "Show";
            }
        }
    </script>

</body>

</html>