<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>

    <main role="main">

        <div class="container">

            <div class="row">
                <div class="access col-md-7 col-lg-6 col-xl-5 mx-auto center-flex">
                    <h1>
                        <a href="index.html">
                            <img src="{{site.logo}}" alt="Comic MNC" width="83" height="48">
                        </a>
                    </h1>
                    <h2 class="accessTitle titleCaption titleCaption--up text-center">Forgot Email</h2>
                    <form action="#" class="accessForm">
                        <div class="text-center">Enter the email address you used when you joined and we’ll send you
                            instructions to reset your
                            password.</div>
                        <div class="accessForm__wrap mt2">
                            <label class="formLabel" for="email">Email</label>
                            <div class="formInput__icon">
                                <span class="icoInline icoMail"></span>
                                <input type="email" class="formInput" name="email" id="email"
                                    placeholder="youremail@example.com">
                            </div>
                        </div>

                        <!--<div class="mt2 center-flex">
                            <img src="./asset/images/sample/captcha.png" alt="" width="306" height="82">
                        </div>-->

                        <button class="button buttonPrimary buttonFull" type="submit">
                            Send
                        </button>
                    </form>
                    <div class="accessMisc text-center">
                        Not a member?<a class="accessLink" href="register.html"> Register here</a>
                    </div>
                </div>
            </div>
        </div>

    </main>

    {{>js}}

</body>

</html>