<!DOCTYPE html>
<html lang="en">

{{>head page="home"}}

<body>
    {{!>header/header login=true}}
    {{>header/header page="Home"}}

    <main role="main">
        <div class="headline">

            {{>headline}}

        </div>

        <div class="container">
            <div class="lini">

                {{>lini}}

            </div>

            <h3 class="titleCaption text-center">Featured Book</h3>

            {{>product-tab}}

        </div>

        {{>author-month total=1 index_start=0 index_end=1}}

        <div class="container">

            {{>event total=4 index_start=0 index_end=4 title="News & Event" more=true}}

        </div>

    </main>
    
    {{>footer/footer}}

    {{>js page="home"}}

</body>

</html>