<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{>header/header page="New release" login=true}}
    {{!>header/header page="New release"}}

    <main role="main">

        <div class="container">

            {{>breadcrumb title="New release" link="#" sublink=false}}

            <h2 class="titleCaption titleCaption--up">New release</h2>
            <div class="productCol row">

                {{>component/product-list related=true nload=true type="new" index_start=0 index_end=20 col=true}}

            </div>
            <ul class="paging center-flex">
                {{>paging}}
            </ul>
        </div>

    </main>

    {{>footer/footer}}

    {{>js}}

</body>

</html>