<!DOCTYPE html>
<html lang="en">

{{>head page="profile"}}

<body>
    {{>header/header login=true}}
    {{!>header/header}}

    <main role="main">

        <div class="container">

            {{>breadcrumb title="Profile" subtitle="My Wishlist" sublink="#"}}

            <div class="profile row">
                <sidebar class="profileNav col-lg-3">

                    {{>profile/nav page="My Wishlist"}}

                </sidebar>
                <div class="col-lg-9">
                    <h2 class="titleCaption titleCaption--up">My Wishlist</h2>
                    <div class="static text-center mt2">
                        <img src="./asset/images/empty-wishlist.png" alt="" width="251" height="251">
                        <div class="titleText">Oops, you don't have a book wishlist yet.</div>
                        <p class="titleParagraph">Let’s check out our best products and find your favorite books</p>
                        <div class="center-flex mt2">
                            <a href="categ-comic.html" class="buttonPrimary">See Our Categories</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    {{>footer/footer}}

    {{>js page="profile"}}

</body>

</html>