<!DOCTYPE html>
<html lang="en">

{{>head swiper=true}}

<body>
    {{!>header/header login=true}}
    {{>header/header}}

    <main role="main">

        <div class="container">

            {{>breadcrumb title="Search" link="#" sublink=false}}

            <div class="search row">
                <div class="searchContent col-md-12 col-lg-8 col-xl-9">
                    <h2 class="searchCaption titleCaption--up">193 Result search for Book in “My Hero Academia”</h2>
                    <div class="searchWrap listWrap">
                        <div class="listResult">Show products 1 - 5 of 100 result</div>
                        <div class="listSort">

                            {{>list/sort-select}}

                        </div>
                    </div>

                    <!-- s: search tab -->
                    {{>search-tab}}
                    <!-- e: search tab -->
                </div>
                <sidebar class="sidebar col-md-12 col-lg-4 col-xl-3">
                    <div class="sidebarItem">
                        <div class="titleWrap display-flex">
                            <h3 class="sidebarCaption">New Release</h3>
                            <a href="#" class="linkMore linkMore__arrow" aria-label="see more">
                                <span class="icoBase icoInline icoArrow"></span>
                            </a>
                        </div>
                        <div class="sidebarArticle">

                            {{>component/product-list type="row" total=3 index_start=0 index_end=3}}

                        </div>
                    </div>
                    <div class="sidebarItem">
                        <div class="titleWrap display-flex">
                            <h3 class="sidebarCaption">Best Seller</h3>
                            <a href="#" class="linkMore linkMore__arrow" aria-label="see more">
                                <span class="icoBase icoInline icoArrow"></span>
                            </a>
                        </div>
                        <div class="sidebarArticle">

                            {{>component/product-list type="row" total=3 index_start=3 index_end=6}}

                        </div>
                    </div>
                </sidebar>
            </div>
        </div>

    </main>

    {{>footer/footer}}

    {{>js select=true swiper=true}}
    <script>
        //initialize swiper
        var swiper = new Swiper(".productSwiper", {
            effect: "cards",
            grabCursor: true,
            //loop: true,
            initialSlide: 0,
            cardsEffect: {
                perSlideOffset: 15,
                rotate: false,
                slideShadows: false
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            }
        });

        //tab read books
        function openTab(evt, cityName) {
            var i, tablinkcontent, tabbutton;
            tablinkcontent = document.getElementsByClassName("detailTab__content");

            if (tablinkcontent !== null) {
                for (i = 0; i < tablinkcontent.length; i++) {
                    tablinkcontent[i].style.display = "none";
                }
                tabbutton = document.getElementsByClassName("detailTab__btn");
                for (i = 0; i < tabbutton.length; i++) {
                    tabbutton[i].className = tabbutton[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }

            //tab scroll mobile
            let act = $('.detailTab__btn.active');
            if (act.length > 0) {
                let msp = act.position().left;
                $('.detailTab__list').animate({
                    scrollLeft: msp - 10
                });
            }
        }
    </script>

</body>

</html>