.main {
    padding-top: $height_header;
    padding-bottom: 80px;
}

.mr10 {
    margin-right: 10px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.text-center {
    text-align: center;
}

.flex-center {
    @include flexbox();
    justify-content: center;
    align-items: center;
}

.display-flex {
    @include flexbox();
}

.jcontent-center {
    justify-content: center;
}

.jcontent-between {
    justify-content: space-between;
}

.jcontent-end {
    justify-content: flex-end;
}

.aitems-center {
    align-items: center;
}

.aitems-start {
    align-items: flex-start;
}

.aself-center {
    align-self: center;
}

.dir-column {
    flex-direction: column;
}

.dir-row {
    flex-direction: row;
}

.flex-init {
    flex: 1;
}