{{#each partner.b2bKlien}}
<div class="partnerClientItem text-center">
    <div class="partnerClientImg center-flex">
        <img src="./asset/images/b2b/klien/{{@index}}.png" alt="{{title}}" width="235" height="100" loading="lazy">
    </div>
</div>
{{/each}}