{{#each partner.b2bProduk}}
<div class="partnerProductItem text-center">
    <h3 class="partnerProductTitle">{{title}}</h3>
    <div class="partnerProductImg center-flex">
        <img src="./asset/images/b2b/produk/{{images}}" alt="" width="266" height="100" loading="lazy">
    </div>
</div>
{{/each}}