<ul class="partnerJoinStep">
    <li class="partnerJoinItem">
        <div class="partnerJoinNum titleH5">1</div>
        <span class="partnerJoinDot"></span>
        <div class="partnerJoinTxt titleBody400">Menghubungi sales person dan pengajuan lokasi toko</div>
    </li>
    <li class="partnerJoinItem">
        <div class="partnerJoinNum titleH5">2</div>
        <span class="partnerJoinDot"></span>
        <div class="partnerJoinTxt titleBody400">Feasibility Study oleh Pihak Gramedia</div>
    </li>
    <li class="partnerJoinItem">
        <div class="partnerJoinNum titleH5">3</div>
        <span class="partnerJoinDot"></span>
        <div class="partnerJoinTxt titleBody400">Survey lokasi toko</div>
    </li>
    <li class="partnerJoinItem">
        <div class="partnerJoinNum titleH5">4</div>
        <span class="partnerJoinDot"></span>
        <div class="partnerJoinTxt titleBody400">Pengajuan Proposal Bisnis</div>
    </li>
    <li class="partnerJoinItem">
        <div class="partnerJoinNum titleH5">5</div>
        <span class="partnerJoinDot"></span>
        <div class="partnerJoinTxt titleBody400">Legalitas Perjanjian Kerja Sama</div>
    </li>
    <li class="partnerJoinItem">
        <div class="partnerJoinNum titleH5">6</div>
        <span class="partnerJoinDot"></span>
        <div class="partnerJoinTxt titleBody400">Persiapan Pembukaan Toko</div>
    </li>
    <li class="partnerJoinItem">
        <div class="partnerJoinNum titleH5">7</div>
        <span class="partnerJoinDot"></span>
        <div class="partnerJoinTxt titleBody400">Opening <br> Toko</div>
    </li>
</ul>
<div class="partnerJoinDesc">
    <div class="partnerJoinDescItem">
        <div class="partnerJoinNum titleH5">1 :</div>
        <div class="partnerJoinTxt titleBody400">Menghubungi sales person dan pengajuan lokasi toko</div>
    </div>
    <div class="partnerJoinDescItem">
        <div class="partnerJoinNum titleH5">2 :</div>
        <div class="partnerJoinTxt titleBody400">Feasibility Study oleh Pihak Gramedia</div>
    </div>
    <div class="partnerJoinDescItem">
        <div class="partnerJoinNum titleH5">3 :</div>
        <div class="partnerJoinTxt titleBody400">Survey lokasi toko</div>
    </div>
    <div class="partnerJoinDescItem">
        <div class="partnerJoinNum titleH5">4 :</div>
        <div class="partnerJoinTxt titleBody400">Pengajuan Proposal Bisnis</div>
    </div>
    <div class="partnerJoinDescItem">
        <div class="partnerJoinNum titleH5">5 :</div>
        <div class="partnerJoinTxt titleBody400">Legalitas Perjanjian Kerja Sama</div>
    </div>
    <div class="partnerJoinDescItem">
        <div class="partnerJoinNum titleH5">6 :</div>
        <div class="partnerJoinTxt titleBody400">Persiapan Pembukaan Toko</div>
    </div>
    <div class="partnerJoinDescItem">
        <div class="partnerJoinNum titleH5">7 :</div>
        <div class="partnerJoinTxt titleBody400">Opening Toko</div>
    </div>
</div>