{{#each partner.resellerProgram}}
<div class="partnerProgramItem">
    <div class="partnerProgramWrap">
        <div class="partnerProgramImg">
            <img src="./asset/images/reseller/program/{{lowercase title}}.png" alt="" width="230" height="230"
                loading="lazy">
        </div>
        <div class="partnerProgramContent">
            <h3 class="partnerProgramTitle titleH5">{{title}}</h3>
            <div class="partnerProgramLead">{{lead}}</div>
            <div class="titleH5">Benefit</div>
            <div class="partnerProgramList">
                <ul>
                    {{{benefit}}}
                </ul>
            </div>
        </div>
    </div>
</div>
{{/each}}