<div class="partnerMap --margin">

    {{>partner/map}}

</div>

<div class="partnerMapBottom">
    <div class="partnerProvince">
        <div class="partnerProvinceSelect selectDrop">
            <select name="province" id="province" class="formSelect" aria-label="Select Province">
                <option value="0" selected disabled>Pilih Provinsi</option>
                <option value="1">Jawa Barat</option>
                <option value="2">Jawa Tengah</option>
                <option value="3">Jawa Timur</option>
                <option value="4">Banten</option>
                <option value="5">Bali</option>
                <option value="5">Sumatera Utara</option>
                <option value="6">Sumatera Selatan</option>
            </select>
        </div>
    </div>
    <div class="formInfo titleLead"><span class="ico icoInfo"></span>You can click the map to show our Shipper Location
    </div>
</div>

<ul class="partnerProvinceList row">
    {{#each partner.resellerProvince}}
    <li class="partnerProvinceItem col-md-6 col-lg-4" data-value="{{value}}">
        <div class="partnerProvinceWrap">
            <div class="partnerProvinceTitle titleH5">
                {{title}}
                <span class="ico icoShip"></span>
            </div>
            <div class="partnerProvinceAddress">{{address}}</div>
        </div>
    </li>
    {{/each}}
</ul>