<div class="trending">
    <div class="sidebarCaption">Trending</div>
    <ul class="trendingList">
        <li class="trendingItem">
            <a href="#" class="trendingLink display-flex aitems-center">
                <div class="trendingRank">
                    1
                </div>
                <h3 class="trendingTitle">7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta</h3>
            </a>
        </li>
        <li class="trendingItem">
            <a href="#" class="trendingLink display-flex aitems-center">
                <div class="trendingRank">
                    2
                </div>
                <h3 class="trendingTitle">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h3>
            </a>
        </li>
        <li class="trendingItem">
            <a href="#" class="trendingLink display-flex aitems-center">
                <div class="trendingRank">
                    3
                </div>
                <h3 class="trendingTitle">Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua</h3>
            </a>
        </li>
        <li class="trendingItem">
            <a href="#" class="trendingLink display-flex aitems-center">
                <div class="trendingRank">
                    4
                </div>
                <h3 class="trendingTitle">Delishburger yang Benar-Benar Delicious</h3>
            </a>
        </li>
        <li class="trendingItem">
            <a href="#" class="trendingLink display-flex aitems-center">
                <div class="trendingRank">
                    5
                </div>
                <h3 class="trendingTitle">Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar</h3>
            </a>
        </li>
    </ul>
</div>