.footer {
    margin-top: 50px;
    padding: 20px 15px 30px;
    background: $cl-white;
    border-top: 1px solid #E7E7E7;

    @include min-responsive($w-lg) {
        padding: 20px 50px 30px;
    }

    &List {
        display: flex;
        align-items: center;
        justify-content: center;
        @include font-pack($font-mbold, 16px, $font-weight-mbold, false, #4F4F4F);
        letter-spacing: 0.8px;

        &.--contact {
            align-items: flex-start;
            margin: 23px auto 30px;
            padding-left: 0;
            padding-right: 0;
            @include font-pack($font-base, 15px, $font-weight-normal, 1.2, #616161);
            letter-spacing: 0.3px;
            flex-direction: column;

            @include min-responsive($w-md) {
                flex-direction: row;
            }

            @include min-responsive($w-xl) {
                padding-left: 15px;
                padding-right: 15px;
            }

            .footerItem {
                padding-left: 28px;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 13px;

                @include min-responsive($w-md) {
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-bottom: 0;
                }

                @include range-responsive($w-lg, $w-xl) {
                    margin-left: 22px;
                    margin-right: 22px;
                }

                @include min-responsive($w-xl) {
                    margin-left: 24px;
                    margin-right: 24px;
                }

                &:first-child {
                    flex: 1;
                    max-width: 350px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.--copy {
            flex-direction: column;
            align-items: flex-start;
            @include font-pack(false, 14px, false, false, #828282);
            letter-spacing: 0.7px;
            margin-bottom: 20px;

            @include min-responsive($w-md) {
                flex-direction: row;
                align-items: center;
                margin-bottom: 0;
            }

            .footerItem {
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }

    &Item {
        position: relative;
        margin-left: 15px;
        margin-right: 15px;

        @include max-responsive($w-xm) {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    &Link {
        display: block;
        padding: 10px;
    }

    &Icon {
        position: absolute;
        top: 0;
        left: 0;
    }

    &Socmed {
        margin-top: 23px;

        .socmedItem {
            margin: 7px;
        }
    }

    &Bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-top: 20px;
        margin-left: -15px;
        margin-right: -15px;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        flex-direction: column;

        @include min-responsive($w-md) {
            flex-direction: row;
            padding-left: 15px;
            padding-right: 15px;
        }

        @include min-responsive($w-lg) {
            padding-left: 50px;
            padding-right: 50px;
            margin-left: -50px;
            margin-right: -50px;
        }

        &::before {
            content: '';
            border-top: 1px solid #E7E7E7;
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0
        }

        .footerMenu {
            width: 100%;

            @include min-responsive($w-md) {
                width: auto;
            }
        }
    }

    &Copy {
        @include font-pack(false, 13px, false, false, #828282);
        letter-spacing: 0.65px;
        order: 1;

        @include min-responsive($w-md) {
            order: unset;
        }
    }
}