.menu {
    &Block {
        position: relative;
        left: 0;
        width: 100%;
        padding-top: 34px;
        margin-top: 20px;
        background: $cl-white;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: visibility .2s ease, opacity .2s ease;

        @include min-responsive($w-xl) {
            padding-top: 0;
            position: fixed;
            top: 103px;
            margin-top: 0;
            z-index: 11;
        }

        &.active {
            visibility: visible;
            opacity: 1;
            pointer-events: all;
        }
    }

    &Wrap {
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        padding-left: 0;

        @include min-responsive($w-xl) {
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    &List {
        width: 100%;
        padding-bottom: 20px;

        @include min-responsive($w-xl) {
            width: auto;
        }
    }

    &Item {
        width: 100%;
        border-radius: 7px;

        &.active,
        &:hover {
            background: #F5F5F5;

            @include min-responsive($w-xl) {
                background: transparent
            }

            .menuLink {
                @include font-pack($font-mbold, false, $font-weight-mbold, false, #454545);
                background: #F5F5F5;
            }
        }
    }

    &Link {
        display: inline-block;
        padding: 14px 20px;
        border-radius: 7px;
        @include font-pack(false, 17px, false, 1.1, #838383);

        @include min-responsive($w-xl) {
            min-width: 200px;
            display: block;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &Content {
        flex: 1;
        padding: 20px 47px 100px 47px;
        margin-left: -15px;
        margin-right: -15px;
        background: #F5F5F5;

        @include min-responsive($w-xl) {
            margin-left: 0;
            margin-right: 0;
            padding: 20px 20px 100px 47px;
        }

        &::after {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            background: #F5F5F5;
            width: calc(100vw - 1200px);
            height: 100%;
            z-index: -1;

            @include min-responsive($w-xl) {
                content: '';
            }
        }
    }

    &Title {
        @include font-pack($font-mbold, 24px, $font-weight-mbold, .67, #000);

        @include min-responsive($w-xl) {
            font-size: 28px;
        }
    }

    &Product {
        position: relative;
        max-width: 649px;
        margin-top: 17px;
        margin-left: -7px;
        margin-right: -7px;
        display: none;
        flex-wrap: wrap;

        @include min-responsive($w-xl) {
            flex-wrap: nowrap;
        }

        &.active {
            display: flex;
        }

        &__item {
            margin-bottom: 13px;
            flex-basis: 50%;
            flex-grow: 1;
            max-width: 50%;
            padding-left: 7px;
            padding-right: 7px;

            @include min-responsive($w-md) {
                flex-basis: 0;
                max-width: 108px;
                margin-bottom: 0;
            }

            &:first-child {
                flex-basis: 100%;
                max-width: 100%;
                padding-right: 18px;

                @include min-responsive($w-md) {
                    flex-basis: 0;
                    max-width: 217px;
                }

                .productImg {
                    width: 50%;
                    padding-top: 74.76%;

                    @include min-responsive($w-md) {
                        width: 100%;
                        padding-top: 149.76%;
                    }

                    img {
                        box-shadow: 0px 13px 22px 0px rgba(0, 0, 0, 0.19);
                    }
                }
            }
        }

        &__caption {
            margin-top: 13px;
            margin-bottom: 7px;
            @include font-pack($font-mbold, false, $font-weight-mbold, false, false);
        }

        &__lead {
            @include title_clamp(2)
        }

        &__content {
            margin-top: 13px;
            max-width: 387px;
            @include font-pack(false, 16px, false, 1.18, false);

            @include min-responsive($w-md) {
                position: absolute;
                top: 166px;
                left: 231px;
                margin-top: 0;
            }
        }

        &__cta {
            margin-top: 7px;
            color: #4CAF50;

            .icoChevron {
                @extend %icoChevron;
                display: inline-block;
                vertical-align: middle;
                width: 20px;
                height: 20px;

                &::before {
                    content: none
                }

                &::after {
                    width: 6px;
                    height: 6px
                }
            }
        }

        .productTitle {
            @include font-pack(false, 22px, false, 1.2, $cl-red);
        }
    }

    .buttonClose {
        @extend %buttonClose;
        right: 15px;

        .icoClose::before,
        .icoClose::after {
            width: 24px;
            left: 3px;
            background: #616161;
        }
    }
}