<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body class="fixedstart">

    <!-- header -->
    {{> header logo="hidden"}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        <section class="container error">
            <div class="row mt40">
                <div class="col-gd-740 text-center col-offset-auto">
                    <h1 class="errorTitle">404</h1>

                    <article class="content mt40">
                        <p>Page not found.</p>
                        <a href="index.html" class="buttonPrimary">Go back home <span class="icon icon-next"></span></a>
                    </article>
                </div>
            </div>
        </section>
    </main>

    <!-- s: popup login -->
    {{> popup-login}}
    <!-- e: popup login -->

    <!-- footer -->
    {{> footer}}

    {{> js}}

</body>

</html>