<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body class="fixedstart">

    <!-- header -->
    {{> header logo="hidden"}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        <section class="container">
            <div class="row display-flex mt30">
                <div class="col-gd-300">
                    <aside>
                        {{>about/about page="about"}}
                    </aside>
                </div>
                <div class="col-gd-740">
                    <h1 class="channelCaption">About Us</h1>
                    <p><strong>Kontemporer</strong> is an independent media platform dedicated to uncovering and
                        amplifying
                        stories that matter.
                        We believe that meaningful narratives — told with honesty and depth — have the power to shape
                        perspectives, spark change, and inspire action.
                    </p>
                    <div class="row">

                        <div class="col-onset-fluid flex-init">
                            <p>Our mission is to spotlight voices, ideas, and movements that often go unheard. Through
                                thoughtful
                                articles, personal reflections, and critical explorations, we create space for
                                impact-driven content
                                that resonates with today’s generation.</p>
                            <p>In an age overwhelmed by noise and distraction, <strong>Kontemporer</strong> chooses
                                depth over speed,
                                nuance over
                                sensationalism. We believe in slow journalism — where quality, reflection, and clarity
                                take precedence
                                over clickbait.</p>
                        </div>
                        <div class="col-gd12-3 mb40"><img src="./asset/images/icon.png" alt=""></div>
                    </div>
                    <div class="article--black col-onset-fluid">
                        <span>
                            We are not just storytellers — we are listeners, observers, and believers in the value of
                            every
                            lived experience. Kontemporer exists to remind us all that behind every idea and every
                            story, there
                            is the potential to create real, lasting impact.
                        </span>
                        <p>Because we believe: <br>
                            <strong>Every story deserves to be heard. Every voice has the power to move.</strong>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- s: popup login -->
    {{> popup-login}}
    <!-- e: popup login -->

    <!-- footer -->
    {{> footer}}

    {{> js}}

</body>

</html>