<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>

    <!-- header -->
    {{> header page="Voices" login=true}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        <div class="container">
            <div class="channelCaption mt30">Voices</div>
            <div class="channelTxt mt20">Setiap kita juga berhak menginspirasi dan memberi dampak baik.</div>
        </div>

        <section class="container">
            <div class="row display-flex mt40">
                <div class="col-gd-740">
                    {{> headline}}
                    {{> highlight}}
                    {{> ads/middle mt=40 mb=40}}
                    {{> article}}
                    {{> ads/middle mt=40 mb=40}}
                    {{> article}}
                    {{> article}}
                    <button class="button buttonNext">Selanjutnya <span class="icon icon-next"></span></button>
                </div>
                <div class="col-gd-300">
                    <aside>
                        {{> sidebar/trending}}
                        {{> sidebar/recomm}}
                        {{> sidebar/hashtag}}
                    </aside>
                </div>
            </div>
        </section>
    </main>

    <!-- footer -->
    {{> footer}}

    {{> js page="Home" slick=true}}

</body>

</html>