<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>

    <!-- header -->
    {{> header page="Voices" login=true}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        {{> ads/billboard}}
        
        <section class="container">
            <div class="channelCaption mt30">Voices</div>
            <div class="channelTxt mt10">Setiap kita juga berhak menginspirasi dan memberi dampak baik.</div>
            <div class="channelHL articleList article--col">
                <div class="articleItem text-center display-flex">
                    <a href="read.html" class="articleImg__wrap mt20"
                        aria-label="6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman">
                        <img src="asset/images/sample/art-big-zoom-0.jpg" class="articleImg" alt="" width="947"
                            height="533">
                    </a>
                    <div class="articleBox">
                        <h1 class="articleTitle">
                            <a href="read.html" class="articleLink">
                                6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman
                            </a>
                        </h1>
                        <div class="articleDetail user flex-center mt10">
                            <a href="#" class="display-flex aitems-center">
                                <img src="./asset/images/user.png" width="24" height="24" alt=""
                                    class="userAvatar mr10">
                                <div class="userName">
                                    Salma Farida
                                </div>
                            </a>
                            <div class="articleTime">Minggu, 18 Mei 2025</div>
                        </div>
                    </div>
                </div>
            </div>
            {{> read/more col="col-gd12-3" index_start=4 index_end=8}}

            <div class="row display-flex mt40">
                <div class="col-gd-740">
                    <ul class="articleList" id="load">
                        {{!> article index_start=0 index_end=5 lead=true tag="h3" timebtm=true}}
                    </ul>

                    <div class="flex-center mt20">
                        <button class="button buttonMore" id="btnload">Load More</a>
                    </div>
                </div>
                <div class="col-gd-300">
                    <aside>
                        {{> sidebar/trending index_start=3 index_end=8}}

                        {{> newsletter type="sidebar" width="dir-column" mt="30"}}
                    </aside>
                </div>
            </div>
        </section>
    </main>

    <!-- footer -->
    {{> footer}}

    {{> js json=true}}

</body>

</html>