<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body class="fixedstart">

    <!-- header -->
    {{> header logo="hidden"}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        <section class="container">
            <div class="row mt40">
                <div class="col-gd-740 col-offset-auto">
                    <h1 class="channelCaption text-center">Contact Us</h1>
                    <div class="text-center mt10">
                        <small>Whether you have a story to share, a collaboration in mind, or just want to say hello —
                            reach out to us. <br> At <strong>Kontemporer</strong>, every voice matters, and we’re always
                            open to meaningful connections.</small>
                    </div>
                </div>
                <form class="form col-gd12-5 col-offset-auto mt40">
                    <div class="formRow mt20">
                        <div class="formCol col">
                            <label class="formLabel mb10" for="uname">Full Name</label>
                            <input type="text" class="formInput" name="uname" id="uname">
                        </div>
                    </div>
                    <div class="formRow mt20">
                        <div class="formCol col">
                            <label class="formLabel mb10" for="mail">Email Address</label>
                            <input type="email" class="formInput" name="mail" id="mail">
                        </div>
                    </div>
                    <div class="formRow mt20">
                        <div class="formCol col">
                            <label class="formLabel mb10" for="phone">Phone Number</label>
                            <input type="text" class="formInput" name="phone" id="phone" inputmode="numeric">
                        </div>
                    </div>
                    <div class="formRow mt20">
                        <div class="formCol col">
                            <label class="formLabel mb10" for="msg">Message</label>
                            <textarea class="formInput formArea" name="msg" id="msg" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="formRow mt20 center-flex">
                        <button class="button buttonPrimary" type="submit" id="submit">Send
                            message<span class="icon icon-next"></span></button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <!-- s: popup login -->
    {{> popup-login}}
    <!-- e: popup login -->

    <!-- footer -->
    {{> footer}}

    {{> js}}

</body>

</html>