<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body class="fixedstart">

    <!-- header -->
    {{> header logo="hidden"}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        <section class="container">
            <div class="row mt40">
                <div class="col-gd-740 col-offset-auto">
                    <h1 class="channelCaption text-center">Frequently Ask Questions</h1>
                    <article class="content mt40">
                        <div class="faqBox open active mt20">
                            <div class="faqTrig -js-show display-flex items-center">
                                <div class="faqBox__title mr10">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.
                                    Suspendisse sed enim nam sit eget?</div>
                                <button class="button faqShow" aria-label="Show hide Content"></button>
                            </div>
                            <div class="faqContent faqBox__content">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Mi
                                mattis id
                                proin et cras id eu libero. Sit
                                turpis massa, non suscipit in bibendum nec volutpat viverra.</div>
                        </div>
                        <div class="faqBox close mt20">
                            <div class="faqTrig -js-show display-flex items-center">
                                <div class="faqBox__title mr10">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.
                                    Suspendisse sed enim nam sit eget?</div>
                                <button class="button faqShow" aria-label="Show hide Content"></button>
                            </div>
                            <div class="faqContent faqBox__content">
                                <ul>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et
                                        cras
                                        id eu
                                        libero.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et
                                        cras
                                        id eu
                                        libero.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et
                                        cras
                                        id eu
                                        libero.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="faqBox close mt20">
                            <div class="faqTrig -js-show display-flex items-center">
                                <div class="faqBox__title mr10">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.
                                    Suspendisse sed enim nam sit eget?</div>
                                <button class="button faqShow" aria-label="Show hide Content"></button>
                            </div>
                            <div class="faqContent faqBox__content">
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et
                                        cras
                                        id eu
                                        libero.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et
                                        cras
                                        id eu
                                        libero.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et
                                        cras
                                        id eu
                                        libero.</li>
                                </ol>
                            </div>
                        </div>
                        <div class="faqBox close mt20">
                            <div class="faqTrig -js-show display-flex items-center">
                                <div class="faqBox__title mr10">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.
                                    Suspendisse sed enim nam sit eget?</div>
                                <button class="button faqShow" aria-label="Show hide Content"></button>
                            </div>
                            <div class="faqContent faqBox__content">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit.
                                Suspendisse sed enim nam sit eget. Id nunc, tincidunt leo eget eleifend malesuada
                                aliquam.
                                Scelerisque sed non lectus odio platea et nibh sed. Felis, nisl fermentum consequat
                                placerat. Nisl,
                                at tincidunt tortor luctus risus libero dui ut. Maecenas tempus nisl suspendisse sed mi.
                                Nunc
                                malesuada eget senectus nam nisi, sapien. Ut ultrices justo, bibendum blandit at diam
                                feugiatrcu
                                nisl habitant vitae feugiat luctus elementum. Semper in enim aliquet ut. Dictumst ut sed
                                ut eleifend
                                tortor ut sed. Sit rhoncus consectetur ultrices arcu. Lectus magna amet facilisis tortor
                                eget
                                adipiscing etiam aliquet lobortis. Aliquet placerat condimentum quis tempor ut ultrices
                                ut nisl
                                pulvinar. Arcu aliquam morbi integer dolor, vel nec. Ullamcorper mattis ut gravida
                                commodo feugiat
                                erat lacus id.</div>
                        </div>
                        <div class="faqBox close mt20">
                            <div class="faqTrig -js-show display-flex items-center">
                                <div class="faqBox__title mr10">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.
                                    Suspendisse sed enim nam sit eget?</div>
                                <button class="button faqShow" aria-label="Show hide Content"></button>
                            </div>
                            <div class="faqContent faqBox__content">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit.
                                Suspendisse sed enim nam sit eget. Id nunc, tincidunt leo eget eleifend malesuada
                                aliquam.
                                Scelerisque sed non lectus odio platea et nibh sed. Felis, nisl fermentum consequat
                                placerat. Nisl,
                                at tincidunt tortor luctus risus libero dui ut. Maecenas tempus nisl suspendisse sed mi.
                                Nunc
                                malesuada eget senectus nam nisi, sapien. Ut ultrices justo, bibendum blandit at diam
                                feugiatrcu
                                nisl habitant vitae feugiat luctus elementum. Semper in enim aliquet ut. Dictumst ut sed
                                ut eleifend
                                tortor ut sed. Sit rhoncus consectetur ultrices arcu. Lectus magna amet facilisis tortor
                                eget
                                adipiscing etiam aliquet lobortis. Aliquet placerat condimentum quis tempor ut ultrices
                                ut nisl
                                pulvinar. Arcu aliquam morbi integer dolor, vel nec. Ullamcorper mattis ut gravida
                                commodo feugiat
                                erat lacus id.</div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>

    <!-- s: popup login -->
    {{> popup-login}}
    <!-- e: popup login -->

    <!-- footer -->
    {{> footer}}

    {{> js}}
    <script>
        // Show content FAQ
        document.querySelectorAll('.-js-show').forEach(button => {
            button.addEventListener('click', () => {
                const allBoxes = document.querySelectorAll('.faqBox');
                const box = button.closest('.faqBox');

                const isOpen = box.classList.contains('open');

                allBoxes.forEach(b => b.classList.remove('open', 'active'));
                allBoxes.forEach(b => b.classList.add('close'));

                if (!isOpen) {
                    box.classList.remove('close');
                    box.classList.add('open', 'active');
                }
            });
        });

    </script>

</body>

</html>