<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body class="fixedstart">

    <!-- header -->
    {{> header logo="hidden"}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        <section class="container">
            <div class="row mt40">
                <div class="col-gd-740 col-offset-auto">
                    <h1 class="channelCaption text-center">Community Guideline</h1>
                    <article class="content mt40">
                        <p><strong>Lorem ipsum dolor sit amet consectetur.</strong></p>
                        <p>Lorem ipsum dolor sit amet consectetur. Elit cursus nisl leo penatibus fringilla
                            pellentesque. Diam
                            ultrices cras donec vitae sem in augue quam. In risus netus ipsum diam non duis viverra
                            netus.
                            Viverra orci amet massa mollis. In molestie adipiscing nibh eget id rutrum. Pretium
                            curabitur
                            facilisi rhoncus cursus amet sit quam sit laoreet. Amet egestas ut nec rutrum. Ipsum integer
                            nunc <a href="#"> non turpis</a> aenean. Vel proin pharetra id ultricies amet dolor mattis.
                        </p>
                        <p><strong>Lorem ipsum dolor sit amet consectetur.</strong></p>
                        <p>Lorem ipsum dolor sit amet consectetur. Non habitant mattis semper eros. Nam pellentesque
                            porttitor
                            pulvinar ipsum diam urna. Ut adipiscing mi mollis sed. Pulvinar gravida posuere cras amet
                            amet duis
                            egestas.</p>
                        <ol>
                            <li>
                                Lorem ipsum dolor sit
                                <div>Lorem ipsum dolor sit amet consectetur. Non habitant mattis semper eros. Nam
                                    pellentesque
                                    porttitor pulvinar ipsum diam urna. Ut adipiscing mi mollis sed. Pulvinar gravida
                                    posuere
                                    cras amet amet duis egestas.</div>
                            </li>
                            <li>Elit cursus nisl leo penatibus fringilla pellentesque.
                                <div>Lorem ipsum dolor sit amet consectetur. Placerat massa dui malesuada aliquam diam
                                    ut. Vitae
                                    vel lectus cursus volutpat felis sit accumsan. Elit viverra interdum semper in. Enim
                                    fames
                                    libero fames pellentesque. Diam tortor penatibus tristique amet vitae egestas dui.
                                    Scelerisque neque ac turpis facilisis ridiculus eget. Ultrices interdum convallis et
                                    nisl.
                                </div>
                            </li>
                            <li>In molestie adipiscing nibh eget id rutrum.
                                <div>Lorem ipsum dolor sit amet consectetur. Non habitant mattis semper eros. Nam
                                    pellentesque
                                    porttitor pulvinar ipsum diam urna. Ut adipiscing mi mollis sed. Pulvinar gravida
                                    posuere
                                    cras amet amet duis egestas.</div>
                            </li>
                        </ol>
                        <p><strong>Lorem ipsum dolor sit amet consectetur.</strong></p>
                        <p>Lorem ipsum dolor sit amet consectetur. Elit cursus nisl leo penatibus fringilla
                            pellentesque. Diam
                            ultrices cras donec vitae sem in augue quam. In risus netus ipsum diam non duis viverra
                            netus.
                            Viverra orci amet massa mollis. In molestie adipiscing nibh eget id rutrum.</p>
                        <ul>
                            <li>
                                Lorem ipsum dolor sit
                            </li>
                            <li>Elit cursus nisl leo penatibus fringilla pellentesque.
                            </li>
                            <li>In molestie adipiscing nibh eget id rutrum.
                            </li>
                        </ul>
                    </article>
                </div>
            </div>
        </section>
    </main>

    <!-- s: popup login -->
    {{> popup-login}}
    <!-- e: popup login -->

    <!-- footer -->
    {{> footer}}

    {{> js}}

</body>

</html>