<!DOCTYPE html>
<html lang="en">
{{> head page="Home"}}

<body>

	<!-- header -->
	{{> header page="Home"}}
	<!-- header -->

	<!-- main -->
	<main role="main">
		{{!> ads/skin}}
		{{!> ads/billboard}}

		<section class="container mt40">
			{{> highlight-box slide="sbox" next=true caption="Editor Picks" index_start=0 index_end=5 tag="h1"}}

			{{> highlight title="Top Stories" col="col-gd10-5" index_start=0 index_end=5 tag="h2"}}

		</section>

		<div class="article--black mt40">
			<section class="container">
				<div class="highlightCaption mt40">News</div>
				<div class="row">
					<div class="col-gd10-2">
						<ul class="articleList article--col">
							{{> article-column index_start=0 index_end=1 time=true lead=true tag="h3" next=true}}
						</ul>
					</div>
					<div class="col-gd10-2">
						<ul class="articleList article--small">
							{{> article index_start=0 index_end=5 time=true tag="h3"}}
						</ul>
					</div>
				</div>
			</section>
		</div>
		{{!> headline}}

		{{> newsletter}}

		<section class="container">

			{{> ads/middle mt=40 mb=40}}

			<!-- article -->
			<div class="article mt40">
				<div class="display-flex aitems-center jcontent-between">
					<div class="highlightCaption">Voices</div>
					<a href="#" class="buttonMore display-flex aitems-center">+ More</a>
				</div>
				<div class="highlightCaption--sub">Setiap kita juga berhak menginspirasi dan memberi dampak baik.</div>


				<ul class="articleList">
					{{> article index_start=0 index_end=5}}
				</ul>

			</div>
			<!-- article -->
			{{!> highlight-stories}}


			<ul class="articleList">
				{{> article index_start=0 index_end=5}}
			</ul>
			{{> highlight-video}}

			{{!> article-more}}

		</section>

		{{> highlight-box col="col-gd12-4" title="Books" subtitle="Memperbanyak referensi, menegaskan wawasan.
		Memperbanyak referensi, menegaskan
		wawasan Memperbanyak referensi, menegaskan wawasan" mt="20" more=true index_start=0 index_end=3}}

	</main>
	{{!> ads/sticky}}
	<!-- footer -->
	{{> footer}}

	{{> js page="Home" slick=true}}

</body>

</html>