<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body class="fixedstart">

    <!-- header -->
    {{> header logo="hidden"}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        <section class="container">
            <div class="row display-flex mt30">
                <div class="col-gd-300">
                    <aside>
                        {{>about/about page="team"}}
                    </aside>
                </div>
                <div class="col-gd-740">
                    <h1 class="channelCaption">Meet Our Team</h1>
                    <p>We’re a diverse group of writers, editors, designers, and storytellers united by a shared
                        purpose: to
                        amplify meaningful ideas and voices. With curiosity and care, we collaborate to bring
                        thoughtful,
                        impactful content to life—always grounded in truth and driven by purpose.</p>
                    <ul class="channelList">
                        <div class="channelItem display-flex article--black col-onset-fluid">
                            <div class="channelTeam">
                                <img src="./asset/images/sample/team1.png" alt="" width="448" height="621">
                            </div>
                            <div class="channelWrap">
                                <h2>Aaron Loeb</h2>
                                <div><i>Creative Director</i></div>
                                <hr>
                                <a href="#" target="_blank" rel="noopener noreferrer"><small>@aaronloeb</small></a>
                                <p>Shorts toast mumblecore forage echo meditation. Microdosing truck air yuccie offal
                                    kale
                                    flexitarian typewriter offal. Gatekeep affogato them poutine selvage pop-up plz
                                    slow-carb pack.</p>
                            </div>
                        </div>
                        <div class="channelItem display-flex article--white col-onset-fluid">
                            <div class="channelWrap">
                                <h2>Juliana Silva</h2>
                                <div><i>Art Director</i></div>
                                <hr>
                                <a href="#" target="_blank" rel="noopener noreferrer"><small>@sjuliana</small></a>
                                <p>Shorts toast mumblecore forage echo meditation. Microdosing truck air yuccie offal
                                    kale
                                    flexitarian typewriter offal. Gatekeep affogato them poutine selvage pop-up plz
                                    slow-carb pack.</p>
                            </div>
                            <div class="channelTeam">
                                <!--<img src="./asset/images/sample/team2.png" alt="" width="448" height="621">-->
                            </div>
                        </div>
                        <div class="channelItem display-flex article--black col-onset-fluid">
                            <div class="channelTeam">
                                <img src="./asset/images/sample/team3.png" alt="" width="448" height="621">
                            </div>
                            <div class="channelWrap">
                                <h2>Cloudia Moves</h2>
                                <div><i>Graphic Designer</i></div>
                                <hr>
                                <a href="#" target="_blank" rel="noopener noreferrer"><small>@cloudmoves</small></a>
                                <p>Shorts toast mumblecore forage echo meditation. Microdosing truck air yuccie offal
                                    kale
                                    flexitarian typewriter offal. Gatekeep affogato them poutine selvage pop-up plz
                                    slow-carb pack.</p>
                            </div>
                        </div>
                        <div class="channelItem display-flex article--white col-onset-fluid">
                            <div class="channelWrap">
                                <h2>Avery Davis</h2>
                                <div><i>Writer</i></div>
                                <hr>
                                <a href="#" target="_blank" rel="noopener noreferrer"><small>@davs</small></a>
                                <p>Shorts toast mumblecore forage echo meditation. Microdosing truck air yuccie offal
                                    kale
                                    flexitarian typewriter offal. Gatekeep affogato them poutine selvage pop-up plz
                                    slow-carb pack.</p>
                            </div>
                            <div class="channelTeam">
                                <img src="./asset/images/sample/team4.png" alt="" width="448" height="621">
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <!-- s: popup login -->
    {{> popup-login}}
    <!-- e: popup login -->

    <!-- footer -->
    {{> footer}}

    {{> js}}

</body>

</html>