<!DOCTYPE html>
<html lang="en">

{{> head page="green" child=true}}

<body>

    <!-- preloader -->

    {{> preloader-green}}

    <!-- preloader -->

    <!-- header -->

    {{> header page="child"}}

    <!-- header -->

    <main role="main">

        <div class="bgStatic bgStatic--warn">
            <div class="articleContent text-center">
                For better experience, rotate your screen or switch to bigger screen.
            </div>
        </div>

        <!-- Template Background Color -->
        <div class="bgColor__wrap">
            <div class="bgColor bgColor__circle opac0">
                <picture class="">
                    <source srcset="{{>loc page=" child"}}asset/images/bg-wheel-mob.png" media="(max-width: 768px)"
                        alt="" width="700" height="591">
                    <img srcset="{{>loc page=" child"}}asset/images/bg-wheel.png" alt="" class="" width="1440"
                        height="1216">
                </picture>
            </div>
            <div class="bgColor bgColor__orange opac0"></div>
            <div class="bgColor bgColor__nature green">
                <div class="greenNature__img">
                    <picture class="">
                        <source srcset="./asset/images/2-bg-nature-mob.png" media="(max-width: 768px)" alt=""
                            width="794" height="1200">
                        <img srcset="./asset/images/2-bg-nature.png" alt="" class="" width="1440" height="870">
                    </picture>
                </div>
                <div class="greenCloud greenCloud-1">
                    <picture class="">
                        <source srcset="./asset/images/2-cloud-mob.png" media="(max-width: 768px)" alt="" width="220"
                            height="65">
                        <img srcset="./asset/images/2-cloud.png" alt="" class="" width="463" height="137">
                    </picture>
                </div>
                <div class="greenCloud greenCloud-2">
                    <picture class="">
                        <source srcset="./asset/images/2-cloud-mob.png" media="(max-width: 768px)" alt="" width="220"
                            height="65">
                        <img srcset="./asset/images/2-cloud.png" alt="" class="" width="463" height="137">
                    </picture>
                </div>
            </div>
            <div class="bgColor bgColor__bunaken green">
                <div class="greenBunaken__bg">
                    <picture class="">
                        <source srcset="./asset/images/2-bg-bunaken-mob.jpg" media="(max-width: 768px)" alt=""
                            width="794" height="1200">
                        <img srcset="./asset/images/2-bg-bunaken.jpg" alt="" class="" width="1440" height="870">
                    </picture>
                </div>
            </div>
            <div class="bgColor bgColor__dblue green"></div>
            <div class="bgColor bgColor__blue opac0 green"></div>
        </div>
        <!-- Template Background Color -->

        <!-- Template Image Content -->
        <div class="bgStatic__wrap active">
            <div class="bgStatic">
                <div class="green greenContent greenNature heightFull center-flex opac0">
                    <div class="articleContent greenNature__content">
                        <div class="articleBox">
                            <div class="greenNature__item greenNature__item-1">
                                <div class="greenNature__number"><strong>6,7 T</strong></div>
                                <div class="greenNature__graph"></div>
                                <div class="greenNature__txt">Sektor pencegahan polusi</div>
                            </div>
                            <div class="greenNature__item greenNature__item-2">
                                <div class="greenNature__number"><strong>10,7 T</strong></div>
                                <div class="greenNature__graph"></div>
                                <div class="greenNature__txt">Sektor energi terbarukan</div>
                            </div>
                            <div class="greenNature__item greenNature__item-3">
                                <div class="greenNature__number"><strong>15,3 T</strong></div>
                                <div class="greenNature__graph"></div>
                                <div class="greenNature__txt">Sektor pengelolaan sumber daya alam hayati & penggunaan
                                    lahan yang berwawasan lingkungan</div>
                            </div>
                            <div class="greenNature__item greenNature__item-4">
                                <div class="greenNature__number"><strong>21,8 T</strong></div>
                                <div class="greenNature__graph"></div>
                                <div class="greenNature__txt">Sektor lainnya (pengelolaan air, air limbah yang
                                    berkelanjutan, dll)</div>
                            </div>
                            <div class="greenNature__item greenNature__item-5">
                                <div class="greenNature__number"><strong>121,9 T</strong></div>
                                <div class="greenNature__graph"></div>
                                <div class="greenNature__txt">Sektor kemajuan & pemberdayaan sosial ekonomi</div>
                            </div>
                            <h1 class="articleContent">
                                <p>
                                    Portofolio hijau BNI mencapai <span class="cl-orange">Rp176,4 triliun</span> atau
                                    <span class="cl-orange">28,5%</span> dari total kredit yang
                                    disalurkan BNI pada kuartal III/2022.
                                </p>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="green greenContent greenOrganic heightFull center-flex opac0">
                    <div class="articleContent greenOrganic__content">
                        <div class="articleBox">
                            <h2 class="articleCaption">Hutan Organik Megamendung</h2>
                            <p>Kerja sama dengan Kelompok Tani Hutan Organik Megamendung untuk perluasan lahan,
                                pembentukan sungai, sekaligus penguatan kapasitas membangun ekowisata.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="green greenContent greenRehab heightFull center-flex opac0">
                    <div class="articleContent greenRehab__content">
                        <div class="articleBox">
                            <h2 class="articleCaption">Rehabilitasi Hutan Pesisir Pantai Anyer & Hulu DAS Citarum</h2>
                            <p>Berkolaborasi dengan Yayasan KJA untuk pembibitan:</p>
                            <div class="greenRehab__wrap">
                                <div class="greenRehab__item">
                                    <div class="greenRehab__icon">
                                        <picture class="">
                                            <source srcset="./asset/images/2-icon-tree-mob.png"
                                                media="(max-width: 768px)" alt="" width="30" height="40">
                                            <img srcset="./asset/images/2-icon-tree.png" alt="" class="" width="66"
                                                height="66">
                                        </picture>
                                    </div>
                                    <div class="greenRehab__txt">
                                        <strong>100.000 pohon</strong>
                                        di area pantai Anyer
                                    </div>
                                </div>
                                <div class="greenRehab__item">
                                    <div class="greenRehab__icon">
                                        <picture class="">
                                            <source srcset="./asset/images/2-icon-tree-mob.png"
                                                media="(max-width: 768px)" alt="" width="30" height="40">
                                            <img srcset="./asset/images/2-icon-tree.png" alt="" class="" width="66"
                                                height="66">
                                        </picture>
                                    </div>
                                    <div class="greenRehab__txt">
                                        <strong>200.000 pohon</strong>
                                        di area hulu Das Citarum
                                    </div>
                                </div>
                                <div class="greenRehab__item">
                                    <div class="greenRehab__icon">
                                        <picture class="">
                                            <source srcset="./asset/images/2-icon-tree-d-mob.png"
                                                media="(max-width: 768px)" alt="" width="60" height="41">
                                            <img srcset="./asset/images/2-icon-tree-d.png" alt="" class="" width="89"
                                                height="61">
                                        </picture>
                                    </div>
                                    <div class="greenRehab__txt">
                                        <strong>427.000 pohon</strong>
                                        Total telah ditanam oleh BNI
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="green greenContent greenBunaken heightFull center-flex opac0">
                    <div class="greenBunaken__img">
                        <picture class="">
                            <source srcset="./asset/images/2-bunaken-mob.png" media="(max-width: 820px)" alt="" width="200"
                                height="158">
                            <img srcset="./asset/images/2-bunaken.png" alt="" class="" width="523" height="412">
                        </picture>
                    </div>
                    <div class="articleContent greenBunaken__content">
                        <div class="articleBox">
                            <h2 class="articleCaption">Penataan Kawasan Bunaken</h2>
                            <p>Berkolaborasi dengan Pemerintah Daerah Sulawesi Utara melakukan penataan Kawasan Wisata
                                Bunaken.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="green greenContent greenSpklu heightFull center-flex opac0">
                    <div class="greenSpklu__img">
                        <picture class="">
                            <source srcset="./asset/images/2-partnership-spklu-mob.png" media="(max-width: 820px)"
                                alt="" width="260" height="223">
                            <img srcset="./asset/images/2-partnership-spklu.png" alt="" class="" width="578"
                                height="496">
                        </picture>
                    </div>
                    <div class="articleContent greenSpklu__content">
                        <div class="articleBox">
                            <h2 class="articleCaption"><i>Partnership</i> 2 SPKLU</h2>
                            <p>Bersama PLN, BNI jadi pionir SPKLU skema <i>partnership</i>.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="green greenContent greenSll heightFull center-flex opac0">
                    <div class="greenSll__img">
                        <picture class="">
                            <source srcset="./asset/images/2-partnership-Sll-mob.png" media="(max-width: 820px)" alt=""
                                width="200" height="204">
                            <img srcset="./asset/images/2-partnership-Sll.png" alt="" class="" width="455" height="465">
                        </picture>
                    </div>
                    <div class="articleContent greenSll__content">
                        <div class="articleBox">
                            <h2 class="articleCaption">Kerjasama <i>Sustainability Linked Loan</i> (SLL) BNI-GRP</h2>
                            <p>Sebesar <span class="cl-orange">US$32 juta</span> equivalen <span class="cl-orange">Rp500
                                    miliar</span> melalui BNI.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="green greenContent greenBond greenBond-1 heightFull center-flex opac0">
                    <div class="greenBond__img">
                        <picture class="">
                            <source srcset="./asset/images/2-greenbond-mob.png" media="(max-width: 820px)" alt=""
                                width="270" height="241">
                            <img srcset="./asset/images/2-greenbond.png" alt="" class="" width="527" height="471">
                        </picture>
                    </div>
                    <div class="articleContent greenBond__content greenBond__content-1">
                        <div class="articleBox">
                            <h2 class="articleCaption">Terbitkan <i>Green Bond</i></h2>
                            <p>Bank Pertama yang menerbitkan <i>green bond</i> dalam denominasi rupiah senilai <span
                                    class="cl-orange">Rp5 triliun</span> dan
                                <i>oversubscribed</i> sebesar <span class="cl-orange">4 kali.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="green greenContent greenBond greenBond-2 heightFull center-flex opac0">
                    <div class="greenBond__img">
                    </div>
                    <div class="articleContent greenBond__content greenBond__content-2">
                        <div class="articleBox">
                            <h2 class="articleCaption">Penyaluran <i>Sustainability Linked Loan</i> (SLL)</i></h2>
                            <p>Menggandeng PT Japfa Comfeed Indonesia Tbk (JPFA) dalam penyaluran pembiayaan
                                <i>Sustainability Linked Loan</i> (SLL) senilai <span class="cl-orange">Rp1,42
                                    triliun.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="credit heightFull opac0">

                    {{>credit}}

                </div>
            </div>
            <div class="bgStatic">
                <div class="cover heightFull center-flex opac0">

                    {{>cover-bg page=" child"}}

                </div>

                {{>scroll}}

                {{>button-champ page=" child"}}

                {{>button-credit}}

            </div>
            <div class="bgStatic">

                {{>menu page=" child"}}

            </div>
        </div>
        <!-- Template Image Content -->

        <!-- Fullpage Content -->
        <div id="fullpage" class="fullpage">
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
        </div>
        <!-- Fullpage Content -->

    </main>

    {{!> footer}}

    {{> js page="green" child=true}}

</body>

</html>