<p><strong>Bisnis.com,</strong> JAKARTA - Ajang pencarian bakat penyanyi <a
        href="https://www.bisnis.com/topic/43153/indonesian-idol" rel="noopener" target="_self">Indonesian Idol</a> kini
    sudah memasuki babak Spektakuler Show: Top 6 Indonesian Idol 2023, yang ditayangkan pada Senin (3/4/23) malam di
    RCTI.</p>
<p>Kini, Indonesian Idol menyisakan 5 kontestan, Salma Salsabil, Raisa Syarla, Nabila Taqiyyah, Nyoman Paul, dan Rony
    Parulian.</p>
<p>Sementara itu, kontestan Novia Situmeang tereliminasi pada babak sebelumnya.</p>

<div class="detailsLive">
    <div class="detailsLiveTime"></div>
    <div class="detailsLiveTitle"></div>
    <div class="detailsLiveContent"></div>
    <div class="detailsLiveTime"></div>
    <div class="detailsLiveTitle"></div>
    <div class="detailsLiveContent"></div>
    <div class="detailsLiveTime"></div>
    <div class="detailsLiveTitle"></div>
    <div class="detailsLiveContent"></div>
    <div class="detailsLiveTime"></div>
    <div class="detailsLiveTitle"></div>
    <div class="detailsLiveContent"></div>
    <div class="detailsLiveTime"></div>
    <div class="detailsLiveTitle"></div>
    <div class="detailsLiveContent"></div>
    <div class="detailsLiveTime"></div>
    <div class="detailsLiveTitle"></div>
    <div class="detailsLiveContent"></div>
    <div class="detailsLiveTime"></div>
    <div class="detailsLiveTitle"></div>
    <div class="detailsLiveContent"></div>
    <div class="detailsLiveTime"></div>
    <div class="detailsLiveTitle"></div>
    <div class="detailsLiveContent"></div>
</div>