<p><strong>Bisnis.com</strong>, SOLO - Film bergenre komedi aksi yang disutradarai oleh Jonathan Goldstein dan Jhon
    Francis Daley berjudul Dungeons &amp; Dragons: Honor Among Thieves merilis trailer pertamanya.</p>
<p>Dibintangi oleh <a href="#">Chris Pine</a>, <a href="#">Michelle Rodriguez</a>, hingga Justice Smith, film ini
    direncanakan tayang pada Maret
    2023.</p>
<p>Dungeons &amp; Dragons pun diprediksi sukses karena sudah lebih terkenal karena adaptasi dari game populer.</p>

<p class="big-orange">
    Film Dungeons &amp; Dragons: Honor Among Thieves bercerita tentang seorang pencuri yang memiliki wajah
    menawan
    dan para kelompoknya.
</p>
<table>
    <thead>
        <tr>
            <th class="thead_title" colspan="5">Lorem Ipsum Sit Dolor Amet</th>
        </tr>
        <tr>
            <th class="thead_column">Title</th>
            <th class="thead_column">Title</th>
            <th class="thead_column">Title</th>
            <th class="thead_column">Title</th>
            <th class="thead_column">Title</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
        </tr>
        <tr>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
        </tr>
        <tr>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th class="thead_column">Title</th>
            <th class="thead_column">Title</th>
            <th class="thead_column">Title</th>
            <th class="thead_column">Title</th>
            <th class="thead_column">Title</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
        </tr>
        <tr>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
        </tr>
        <tr>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
        </tr>
    </tbody>
</table>

<!-- s: parallax billboard -->
<div class="billboard billboardParallax mt40">
    <div class="billboardFlying">
        <div class="billboardFlyingInner">
            <div class="billboardFlyingFix">
                <div class="billboardFlyingBanner">
                    <div class="billboardFlyingWrap">
                        <!-- ad script here -->
                        <!--<img src="https://placehold.co/300x600/000/F4F4F4?font=nunitosans&text=Parallax%20BILLBOARD%20IS%20HERE"
                            alt="" width="300" height="600">-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- e: parallax billboard -->

<p>Pencurian ini dilakukan untuk mengambil sebuah benda berharga berupa relik. Namun pencurian sudah pasti memiliki
    banyak rintangan.</p>
<p>Para pencuri ini harus melewati rintangan untuk bisa mencapai tujuannya. Kemudian dalam perjalannya, pencurian
    ini juga didasarkan pada niat untuk membantu seseorang.</p>
<p>Sayangnya, mereka membantu orang yang salah dan mencuri benda yang salah. Berdasarkan hal tersebut, nama mereka
    menjadi sorotan dunia.</p>

<div class="baca-juga">
    <table>
        <tbody>
            <tr>
                <th>Baca Juga
                    <span>
                        <a href="https://lifestyle.bisnis.com/read/20230120/254/1620159/sinopsis-the-last-of-us-adaptasi-game-yang-viral-di-medsos"
                            target="_blank" title="Sinopsis The Last of Us, Adaptasi Game yang Viral di Medsos"
                            rel="noopener">Sinopsis The Last of Us, Adaptasi Game yang
                            Viral di Medsos</a>
                    </span>
                </th>
            </tr>
        </tbody>
    </table>
</div>

<p>Aksi yang dilakukan mereka pun menjadi yang terbesar yang pernah dikenal dunia.</p>
<p>Lantas, bagaimana cerita keseluruhannya? Saksikan film Dungeons &amp; Dragons: Honor Among Thieves hanya di
    bioskop pada 31 Maret 2023.</p>

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<ul>
    <li>option 1</li>
    <li>option 2</li>
    <li>option 3</li>
</ul>
<ol>
    <li>option 1</li>
    <li>option 2</li>
    <li>option 3</li>
</ol>
<figure class="detailsImgWrap -left">
    <a href="https://images.bisnis.com/posts/2023/01/25/1621417/dungeons--dragons-honor-among-thieves.jpg"
        class="detailsImg" data-pswp-width="1000" data-pswp-height="667" data-cropped="true">
        <img src="https://images.bisnis.com/posts/2023/01/25/1621417/dungeons--dragons-honor-among-thieves.jpg"
            alt="Lorem ipsum dolor sit amet" width="354" height="472" />
    </a>
    <figcaption class="detailsImgCaption">
        Lorem
        ipsum dolor sit amet</figcaption>
    <button class="button detailsZoom" aria-label="Zoom image"><span class="icoInline icoZoom"></span>Perbesar</button>
</figure>
<p>Donec cursus sit sed senectus platea morbi ultrices vel eu. Ac, orci odio aenean facilisi non
    pulvinar in felis. Donec pretium et hac egestas. Diam id dui, molestie ac pellentesque et
    malesuada blandit. Curabitur risus ullamcorper in lorem. Libero neque nascetur ut leo diam
    amet vitae in justo. Nisl enim, aliquet morbi sed integer fringilla gravida. Elit sed
    tincidunt massa, sapien, eu. Nunc facilisi etiam vel felis aliquet dignissim purus.
    Dignissim vitae faucibus justo nunc sed ut mollis a posuere. Elit, quam id sed tortor mauris
    diam. Purus, risus pellentesque neque, cum malesuada. Sem velit tempor etiam feugiat.</p>
<p>
<p>
    In ullamcorper quis justo, commodo tincidunt.
    Nunc tellus sed neque lorem donec sem. Gravida ac sit tempor diam. Morbi sapien
    hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
    nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
    dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
    Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
    porttitor amet morbi.
</p>
<p>
    Cras auctor cras hendrerit hac. Turpis proin sed leo vehicula. Diam sed cursus massa pellentesque proin. Cras
    consequat tortor pretium faucibus arcu ipsum. Aliquet ut sed amet, justo sit. Nisl tortor mauris aliquet urna.
    Luctus sit eu sed ipsum consectetur id.
</p>
<div class="detailsImgWrap -col">
    <figure class="detailsImg">
        <a href="https://images.bisnis.com/posts/2023/01/25/1621349/the-last-of-us_11zon.jpg" data-pswp-width="1000"
            data-pswp-height="667" data-cropped="true">
            <img src="https://images.bisnis.com/posts/2023/01/25/1621349/the-last-of-us_11zon.jpg"
                alt="Felis eget egestas sapien netus. Tortor, vulputate dolor, in sem in adipiscing" width="354"
                height="472" />
        </a>
        <button class="button detailsZoom" aria-label="Zoom image"><span class="icoInline icoZoom"></span>Perbesar</button>
    </figure>
    <figure class="detailsImg">
        <a href="https://images.bisnis.com/posts/2023/01/25/1621417/dungeons--dragons-honor-among-thieves.jpg"
            data-pswp-width="1000" data-pswp-height="667" data-cropped="true">
            <img src="https://images.bisnis.com/posts/2023/01/25/1621417/dungeons--dragons-honor-among-thieves.jpg"
                alt="Felis eget egestas sapien netus. Tortor, vulputate dolor, in sem in adipiscing" width="354"
                height="472" />
        </a>
        <button class="button detailsZoom" aria-label="Zoom image"><span class="icoInline icoZoom"></span>Perbesar</button>
    </figure>
    <div class="detailsImgCaption caption">Felis eget egestas sapien netus. Tortor, vulputate dolor, in sem in
        adipiscing</div>
</div>
<figure class="detailsImgWrap -right">
    <a href="https://images.bisnis.com/posts/2023/01/25/1621349/the-last-of-us_11zon.jpg" class="detailsImg"
        data-pswp-width="1000" data-pswp-height="667" data-cropped="true">
        <img src="https://images.bisnis.com/posts/2023/01/25/1621349/the-last-of-us_11zon.jpg"
            alt="Felis eget egestas sapien netus. Tortor, vulputate dolor, in sem in adipiscing" width="354"
            height="472" />
    </a>
    <figcaption class="detailsImgCaption">Felis eget egestas sapien netus. Tortor, vulputate dolor, in sem in
        adipiscing</figcaption>
    <button class="button detailsZoom" aria-label="Zoom image"><span class="icoInline icoZoom"></span>Perbesar</button>
</figure>
<p>Donec cursus sit sed senectus platea morbi ultrices vel eu. Ac, orci odio aenean facilisi non
    pulvinar in felis. Donec pretium et hac egestas. Diam id dui, molestie ac pellentesque et
    malesuada blandit. Curabitur risus ullamcorper in lorem. Libero neque nascetur ut leo diam
    amet vitae in justo. Nisl enim, aliquet morbi sed integer fringilla gravida. Elit sed
    tincidunt massa, sapien, eu. Nunc facilisi etiam vel felis aliquet dignissim purus.
    Dignissim vitae faucibus justo nunc sed ut mollis a posuere. Elit, quam id sed tortor mauris
    diam. Purus, risus pellentesque neque, cum malesuada. Sem velit tempor etiam feugiat.</p>
<p>
<p>
    In ullamcorper quis justo, commodo tincidunt.
    Nunc tellus sed neque lorem donec sem. Gravida ac sit tempor diam. Morbi sapien
    hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
    nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
    dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
    Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
    porttitor amet morbi.
</p>
<p>
    Cras auctor cras hendrerit hac. Turpis proin sed leo vehicula. Diam sed cursus massa pellentesque proin. Cras
    consequat tortor pretium faucibus arcu ipsum. Aliquet ut sed amet, justo sit. Nisl tortor mauris aliquet urna.
    Luctus sit eu sed ipsum consectetur id.
</p>
<figure class="detailsImgWrap -center">
    <a href="https://images.bisnis.com/posts/2021/06/26/1410321/ut-yaosobi-tile1.jpg" class="detailsImg"
        data-pswp-width="1000" data-pswp-height="667" data-cropped="true">
        <img src="https://images.bisnis.com/thumb/posts/2021/06/26/1410321/ut-yaosobi-tile1.jpg?w=740&h=554"
            alt="Cras auctor cras hendrerit hac. Turpis proin sed leo vehicula." width="740" height="554" />
    </a>
    <figcaption class="detailsImgCaption">Cras auctor cras hendrerit hac. Turpis proin sed leo vehicula.</figcaption>
    <button class="button detailsZoom" aria-label="Zoom image"><span class="icoInline icoZoom"></span>Perbesar</button>
</figure>
<p>Felis eget egestas sapien netus. Tortor, vulputate dolor, in sem in adipiscing vel pellentesque aliquam. Vitae
    vitae ut ridiculus semper. Orci iaculis eget iaculis feugiat felis dictum aliquet egestas. Quis dis dictum odio
    risus nisl. Facilisi sit suspendisse elit feugiat.</p>
<p>Cek Berita dan Artikel yang lain di <a target="_blank" title="Google News Bisnis.com"
        href="https://news.google.com/s/CAAqBwgKMKG67wowy-PQAQ?ceid=ID:en&amp;oc=3&amp;hl=en-ID&amp;gl=ID"><strong>Google
            News</strong></a></p>