<div class="detailsLiveWrap mt50">
    <div class="detailsLiveCaption"><span>Live</span> Timeline</div>
    <div class="detailsLiveSlider">
        <div class="detailsLiveSliderWrap -js-slider-live">
            <div class="detailsLiveSliderTime">
                <button class="button detailsLiveAnchor" anchor="live0"> WIB</button>
            </div>
            <div class="detailsLiveSliderTime">
                <button class="button detailsLiveAnchor" anchor="live1"> WIB</button>
            </div>
            <div class="detailsLiveSliderTime">
                <button class="button detailsLiveAnchor" anchor="live2"> WIB</button>
            </div>
            <div class="detailsLiveSliderTime">
                <button class="button detailsLiveAnchor" anchor="live3"> WIB</button>
            </div>
            <div class="detailsLiveSliderTime">
                <button class="button detailsLiveAnchor" anchor="live4"> WIB</button>
            </div>
            <div class="detailsLiveSliderTime">
                <button class="button detailsLiveAnchor" anchor="live5"> WIB</button>
            </div>
            <div class="detailsLiveSliderTime">
                <button class="button detailsLiveAnchor" anchor="live6"> WIB</button>
            </div>
            <div class="detailsLiveSliderTime">
                <button class="button detailsLiveAnchor" anchor="live7"> WIB</button>
            </div>
        </div>    </div>
</div>
<p><strong>Bisnis.com,</strong> JAKARTA - Ajang pencarian bakat penyanyi <a
        href="https://www.bisnis.com/topic/43153/indonesian-idol" rel="noopener" target="_self">Indonesian Idol</a> kini
    sudah memasuki babak Spektakuler Show: Top 6 Indonesian Idol 2023, yang ditayangkan pada Senin (3/4/23) malam di
    RCTI.</p>
<p>Kini, Indonesian Idol menyisakan 5 kontestan, Salma Salsabil, Raisa Syarla, Nabila Taqiyyah, Nyoman Paul, dan Rony
    Parulian.</p>
<p>Sementara itu, kontestan Novia Situmeang tereliminasi pada babak sebelumnya.</p>

<div class="detailsLiveTL">
</div>

<!-- s: parallax billboard -->
<div class="billboard billboardParallax mt40">
    <div class="billboardFlying">
        <div class="billboardFlyingInner">
            <div class="billboardFlyingFix">
                <div class="billboardFlyingBanner">
                    <div class="billboardFlyingWrap">
                        <!-- ad script here -->
                        <!--<img src="https://placehold.co/300x600/000/F4F4F4?font=nunitosans&text=Parallax%20BILLBOARD%20IS%20HERE"
                            alt="" width="300" height="600">-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- e: parallax billboard -->
