<p>Bisnis.com, JAKARTA – Bioskop Indonesia masih bertahan di tengah pandemi yang kini sudah berjalan tiga tahun dan
    banjir konten streaming services yang makin kompetitif.</p>
<p>Netflix, Disney+ Hotstar, Amazon Prime, Apple TV+, HBO Max, hingga streaming service lokal seperti Vidio semuanya
    berebut pangsa pasar. Begitu banyak pilihan menonton dari mana saja. Penikmat film sekarang mungkin perlu motivasi
    atau alasan kuat untuk pergi ke bioskop.</p>
<p>Ada yang bilang penonton Indonesia melahap semua genre film, dari laga hingga romansa, sementara horror selalu
    menjadi primadona. Media sosial, distribusi streaming, hingga festival film membuat perilisan sebuah film sekarang
    tidak lagi sesulit dulu. Benarkah ini selalu menjadi privilege para sutradara muda? Apa magnet karya mereka bagi
    penonton sinema kita?</p>
<figure class="detailsImgWrap -center">
    <a href="https://images.bisnis.com/posts/2021/06/26/1410321/ut-yaosobi-tile1.jpg" class="detailsImg"
        data-pswp-width="1000" data-pswp-height="667" data-cropped="true">
        <img src="https://images.bisnis.com/thumb/posts/2021/06/26/1410321/ut-yaosobi-tile1.jpg?w=740&h=554"
            alt="Cras auctor cras hendrerit hac. Turpis proin sed leo vehicula." width="740" height="554" />
    </a>
    <figcaption class="detailsImgCaption">Cras auctor cras hendrerit hac. Turpis proin sed leo vehicula.</figcaption>
    <button class="button detailsZoom" aria-label="Zoom image"><span class="icoInline icoZoom"></span>Perbesar</button>
</figure>

<p class="big-orange">
    Film Dungeons &amp; Dragons: Honor Among Thieves bercerita tentang seorang pencuri yang memiliki wajah
    menawan
    dan para kelompoknya.
</p>
<table>
    <thead>
        <tr>
            <th class="thead_title" colspan="5">Lorem Ipsum Sit Dolor Amet</th>
        </tr>
        <tr>
            <th class="thead_column">Title</th>
            <th class="thead_column">Title</th>
            <th class="thead_column">Title</th>
            <th class="thead_column">Title</th>
            <th class="thead_column">Title</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
        </tr>
        <tr>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
        </tr>
        <tr>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
        </tr>
    </tbody>
</table>
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<ul>
    <li>option 1</li>
    <li>option 2</li>
    <li>option 3</li>
</ul>
<p>
    In ullamcorper quis justo, commodo tincidunt.
    Nunc tellus sed neque lorem donec sem. Gravida ac sit tempor diam. Morbi sapien
    hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
    nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
    dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
    Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
    porttitor amet morbi.
</p>

<div class="baca-juga">
    <table>
        <tbody>
            <tr>
                <th>Baca Juga
                    <span>
                        <a href="https://lifestyle.bisnis.com/read/20230120/254/1620159/sinopsis-the-last-of-us-adaptasi-game-yang-viral-di-medsos"
                            target="_blank" title="Sinopsis The Last of Us, Adaptasi Game yang Viral di Medsos"
                            rel="noopener">Sinopsis The Last of Us, Adaptasi Game yang
                            Viral di Medsos</a>
                    </span>
                </th>
            </tr>
        </tbody>
    </table>
</div>

<p>
    Cras auctor cras hendrerit hac. Turpis proin sed leo vehicula. Diam sed cursus massa pellentesque proin. Cras
    consequat tortor pretium faucibus arcu ipsum. Aliquet ut sed amet, justo sit. Nisl tortor mauris aliquet urna.
    Luctus sit eu sed ipsum consectetur id.
</p>
<ol>
    <li>option 1</li>
    <li>option 2</li>
    <li>option 3</li>
</ol>
<div class="detailsImgWrap -col">
    <figure class="detailsImg">
        <a href="https://images.bisnis.com/posts/2023/01/25/1621349/the-last-of-us_11zon.jpg" data-pswp-width="1000"
            data-pswp-height="667" data-cropped="true">
            <img src="https://images.bisnis.com/posts/2023/01/25/1621349/the-last-of-us_11zon.jpg"
                alt="Felis eget egestas sapien netus. Tortor, vulputate dolor, in sem in adipiscing" width="354"
                height="472" />
        </a>
        <button class="button detailsZoom" aria-label="Zoom image"><span class="icoInline icoZoom"></span>Perbesar</button>
    </figure>
    <figure class="detailsImg">
        <a href="https://images.bisnis.com/posts/2023/01/25/1621417/dungeons--dragons-honor-among-thieves.jpg"
            data-pswp-width="1000" data-pswp-height="667" data-cropped="true">
            <img src="https://images.bisnis.com/posts/2023/01/25/1621417/dungeons--dragons-honor-among-thieves.jpg"
                alt="Felis eget egestas sapien netus. Tortor, vulputate dolor, in sem in adipiscing" width="354"
                height="472" />
        </a>
        <button class="button detailsZoom" aria-label="Zoom image"><span class="icoInline icoZoom"></span>Perbesar</button>
    </figure>
    <div class="detailsImgCaption caption">Felis eget egestas sapien netus. Tortor, vulputate dolor, in sem in
        adipiscing</div>
</div>
<p>Donec cursus sit sed senectus platea morbi ultrices vel eu. Ac, orci odio aenean facilisi non
    pulvinar in felis. Donec pretium et hac egestas. Diam id dui, molestie ac pellentesque et
    malesuada blandit. Curabitur risus ullamcorper in lorem. Libero neque nascetur ut leo diam
    amet vitae in justo. Nisl enim, aliquet morbi sed integer fringilla gravida. Elit sed
    tincidunt massa, sapien, eu. Nunc facilisi etiam vel felis aliquet dignissim purus.
    Dignissim vitae faucibus justo nunc sed ut mollis a posuere. Elit, quam id sed tortor mauris
    diam. Purus, risus pellentesque neque, cum malesuada. Sem velit tempor etiam feugiat.</p>