<article class="detailsContent mt40">
    <p><strong>Bisnis.com</strong>, SOLO - Film bergenre komedi aksi yang disutradarai oleh Jonathan Goldstein dan Jhon
        Francis Daley berjudul Dungeons &amp; Dragons: Honor Among Thieves merilis trailer pertamanya.</p>
    <p>Dibintangi oleh <a href="#">Chris Pine</a>, <a href="#">Michelle Rodriguez</a>, hingga Justice Smith, film ini
        direncanakan tayang pada Maret
        2023.</p>
    <p>Dungeons &amp; Dragons pun diprediksi sukses karena sudah lebih terkenal karena adaptasi dari game populer.</p>
    <blockquote>
        Film Dungeons &amp; Dragons: Honor Among Thieves bercerita tentang seorang pencuri yang memiliki wajah
        menawan
        dan para kelompoknya.
    </blockquote>
    <p>Pencurian ini dilakukan untuk mengambil sebuah benda berharga berupa relik. Namun pencurian sudah pasti memiliki
        banyak rintangan.</p>
    <p>Para pencuri ini harus melewati rintangan untuk bisa mencapai tujuannya. Kemudian dalam perjalannya, pencurian
        ini juga didasarkan pada niat untuk membantu seseorang.</p>
    <p>Sayangnya, mereka membantu orang yang salah dan mencuri benda yang salah. Berdasarkan hal tersebut, nama mereka
        menjadi sorotan dunia.</p>
    
    <div class="baca-juga-box">
        <p class="baca-juga-title">Baca Juga</p>
        <ul>
            <li><a href="https://lifestyle.bisnis.com/read/20230120/254/1620159/sinopsis-the-last-of-us-adaptasi-game-yang-viral-di-medsos"
                    title="Sinopsis The Last of Us, Adaptasi Game yang Viral di Medsos">Sinopsis The Last of Us,
                    Adaptasi Game yang Viral di Medsos</a></li>
        </ul>
    </div>    
    <p>Aksi yang dilakukan mereka pun menjadi yang terbesar yang pernah dikenal dunia.</p>
    <p>Lantas, bagaimana cerita keseluruhannya? Saksikan film Dungeons &amp; Dragons: Honor Among Thieves hanya di
        bioskop pada 31 Maret 2023.</p>

    <p>Cek Berita dan Artikel yang lain di <a target="_blank" title="Google News Bisnis.com"
            href="https://news.google.com/s/CAAqBwgKMKG67wowy-PQAQ?ceid=ID:en&amp;oc=3&amp;hl=en-ID&amp;gl=ID"><strong>Google
                News</strong></a></p>
</article>