<div class="detailsLiveSliderWrap -js-slider-live">
    <div class="detailsLiveSliderTime">
        <button class="button detailsLiveAnchor" anchor="live0"> WIB</button>
    </div>
    <div class="detailsLiveSliderTime">
        <button class="button detailsLiveAnchor" anchor="live1"> WIB</button>
    </div>
    <div class="detailsLiveSliderTime">
        <button class="button detailsLiveAnchor" anchor="live2"> WIB</button>
    </div>
    <div class="detailsLiveSliderTime">
        <button class="button detailsLiveAnchor" anchor="live3"> WIB</button>
    </div>
    <div class="detailsLiveSliderTime">
        <button class="button detailsLiveAnchor" anchor="live4"> WIB</button>
    </div>
    <div class="detailsLiveSliderTime">
        <button class="button detailsLiveAnchor" anchor="live5"> WIB</button>
    </div>
    <div class="detailsLiveSliderTime">
        <button class="button detailsLiveAnchor" anchor="live6"> WIB</button>
    </div>
    <div class="detailsLiveSliderTime">
        <button class="button detailsLiveAnchor" anchor="live7"> WIB</button>
    </div>
</div>