<li class="listUpdate__item">
    <a class="listUpdate__link" href="#">
        <div class="listWrap">
            Laba Ciputra (CTRA) Melonjak 72,9 Persen, Simak Rekomendasi
            Sahamnya
            <div class="listInfo">Finansial <span class="listDate">2 jam lalu</span></div>
        </div>
        <div class="listUpdate__img">
            <amp-img width="130" height="88" layout="responsive" alt=""
                src="https://images.bisnis-cdn.com/thumb/posts/2022/01/25/1493403/dki9.jpg?w=130&h=88">
            </amp-img>
        </div>
    </a>
</li>
<li class="listUpdate__item">
    <a class="listUpdate__link" href="#">
        <div class="listWrap">
            <span class="listLive">Live: </span>Panasnya Rapor Surya Esa Perkasa, Saham ESSA Sanggup ATH Baru?
            <div class="listInfo">Finansial <span class="listDate">2 jam lalu</span></div>
        </div>
        <div class="listUpdate__img">
            <amp-img width="130" height="88" layout="responsive" alt=""
                src="https://images.bisnis-cdn.com/thumb/posts/2022/01/25/1493402/menag---masjid-solo-2.jpg?w=130&h=88">
            </amp-img>
        </div>
    </a>
</li>
<li class="listUpdate__item">
    <a class="listUpdate__link" href="#">
        <div class="listWrap">
            Rugi Kontraktor Grup Astra, Acset ACST Menciut Semester I/2022
            <div class="listInfo">Finansial <span class="listDate">2 jam lalu</span></div>
        </div>
        <div class="listUpdate__img">
            <amp-img width="130" height="88" layout="responsive" alt=""
                src="https://images.bisnis-cdn.com/thumb/posts/2022/01/25/1493408/130415_pabrik-plastik.jpg?w=130&h=88">
            </amp-img>
        </div>
    </a>
</li>
<li class="listUpdate__item">
    <a class="listUpdate__link" href="#">
        <div class="listWrap">
            Mengintip Prospek Cuan Saham WOOD Kala Inflasi AS Kian Panas
            <div class="listInfo">Finansial <span class="listDate">2 jam lalu</span></div>
        </div>
        <div class="listUpdate__img">
            <amp-img width="130" height="88" layout="responsive" alt=""
                src="https://images.bisnis-cdn.com/thumb/posts/2022/01/25/1493408/130415_pabrik-plastik.jpg?w=130&h=88">
            </amp-img>
        </div>
    </a>
</li>
<li class="listUpdate__item">
    <a class="listUpdate__link" href="#">
        <div class="listWrap">
            CitraGrand Cibubur Resmikan Fasilitas Masjid di Agenda
            Groundbreaking
            <div class="listInfo">Finansial <span class="listDate">2 jam lalu</span></div>
        </div>
        <div class="listUpdate__img">
            <amp-img width="130" height="88" layout="responsive" alt=""
                src="https://images.bisnis-cdn.com/thumb/posts/2022/01/25/1493408/130415_pabrik-plastik.jpg?w=130&h=88">
            </amp-img>
        </div>
    </a>
</li>