<div class="social">
    <div class="socialItem social--fb">
        <amp-social-share class="rounded" width="28" height="28" type="facebook"></amp-social-share>
    </div>
    <div class="socialItem social--tw">
        <amp-social-share class="rounded" width="28" height="28" type="twitter"></amp-social-share>
    </div>
    <div class="socialItem social--wa">
        <amp-social-share class="rounded" width="25" height="25" type="whatsapp"></amp-social-share>
    </div>
    <div class="socialItem social--link">
        <a href="#" class="">
            <amp-img src="./asset/images/amp/icon-share-link.png" alt="Share Link" height="18" width="18">
            </amp-img>
        </a>
    </div>
</div>