.details {
    &Cover {
        position: relative;

        &.-left {
            .detailsCoverImg {
                height: auto;
                padding-top: calc(2/4 * 100% + 12px);
            }
        }

        &Img {
            position: relative;
            width: 100%;
            height: 184px;
            margin: 0;

            img {
                @extend %template-img
            }
        }
    }

    &Zoom {
        @include display_flex;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 8px;
        border-radius: 10px;
        background: rgba(31, 31, 31, 0.75);
        letter-spacing: 0.02em;
        @include font-pack($font-body, 12px, $font-weight-bold, $line-base, $cl-white);
        pointer-events: none;
        z-index: 1;

        .icoZoom {
            width: 20px;
            height: 20px;
            margin-right: 8px;
            @extend %filter-white;
            @extend %icoZoom;
        }
    }

    &Title {
        width: calc(100% - 20px);
        position: relative;
        transform: translate(-50%, -40px);
        left: 50%;
        margin-bottom: calc(-40px + 20px);
        padding: 10px;
        background: $cl-white;
        border-radius: 12px;
        z-index: 1;

        &.-left {
            width: auto;
            margin-bottom: 20px;
            transform: none;
            left: 0;
            padding: 0;

            .detailsTitleCaption {
                margin-top: 0;
            }
        }

        &Caption {
            margin-top: 8px;
            @include font-pack($font-body, 25px, $font-weight-bold, $line-base, $cl-black);
        }
    }

    &Attribute {
        flex-wrap: wrap;
        margin-top: 8px;
        letter-spacing: 0.05em;
        @include font-pack($font-body, 14px, $font-weight-sbold, $line-base, #555);

        span {
            display: inline-flex;

            &::after {
                content: "|";
                margin-left: 6px;
                margin-right: 6px;
                position: relative;
                bottom: 1px;
            }

            &:last-child::after {
                content: none;
            }
        }

        &Author {
            align-items: center;
        }

        .profileImg {
            width: 30px;
            height: 30px;
            margin-right: 6px;
        }
    }

    &Wrap {
        position: relative;
        justify-content: space-between;
        flex-direction: column;
        z-index: 1;
    }

    &Font {
        @include display_flex;
        align-items: center;
        // gap: 10px;
        margin-left: -5px;
        margin-right: -5px;
        margin-top: 20px;

        &Cta {
            margin-left: 5px;
            margin-right: 5px;
            min-width: 104px;
            letter-spacing: 0.05em;
            @include font-pack($font-body, 12px, $font-weight-sbold, 1.2, #000000);

            @include max-responsive($mstablet) {
                min-width: 76px;
            }
        }

        &Range {
            width: 117px;
            margin-left: 5px;
            margin-right: 5px;
            accent-color: #ABABAB;
        }
    }

    &Content {
        word-break: break-word;
        @include font-pack($font-body, 18px, $font-weight-sbold, 1.41, #434343);

        &.-lock {
            position: relative;
            padding-bottom: 96px;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 190px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) -8.01%, #FFFFFF 34.25%);
            }
        }

        table {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
            color: #000;
            border-radius: 10px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
            border-spacing: 0;

            &~table {
                margin-top: 30px;
            }

            thead {
                tr:first-child {
                    th {
                        &:first-child {
                            border-top-left-radius: 10px;
                        }

                        &:last-child {
                            border-top-right-radius: 10px;
                        }
                    }
                }
            }

            .thead_title {
                font-weight: $font-weight-bold;
                font-size: 1em;
                line-height: $line-base;
                color: $cl-white;
                background: #004CE0;
                padding: 10px 24px;
            }

            .thead_column {
                border-radius: 0;
                background: #FFCE21;
                padding: 10px;
                border-left: 1px solid #d2c9a7;

                &:first-child {
                    border-left: 0;
                }
            }

            td {
                padding: 10px;

                ~td {
                    border-left: 1px solid #D2C9A7;
                }
            }

            tr {
                &:nth-child(even) {
                    background: #FFFDF6;
                }

                &:nth-child(odd) {
                    background: #FFF4CC;
                }

                &:last-child {
                    td {
                        &:last-child {
                            border-bottom-right-radius: 10px;
                        }

                        &:first-child {
                            border-bottom-left-radius: 10px;
                        }
                    }
                }
            }
        }

        .baca-juga {
            position: relative;
            min-height: 73px;
            margin-top: 30px;
            margin-bottom: 30px;

            table {
                margin-top: 0;
                margin-bottom: 0;
                padding: 8px 10px;
                border-radius: 0;
                box-shadow: none;

                tr:nth-child(odd),
                tr:nth-child(even) {
                    background: transparent;
                }

                th {
                    @include display_flex;
                    flex-direction: column;
                    text-align: left;
                    @include font-pack(false, 16px, $font-weight-sbold, $line-base, false);

                    span {
                        flex: 1;
                    }
                }
            }

            a {
                margin-top: 4px;
                padding-top: 4px;
                padding-bottom: 4px;
                text-align: left;
                // @include title_clamp(2);
                display: -webkit-box;
            }
        }

        a {
            color: #395dd2;
        }

        p {
            margin-block-start: 1em;
            margin-block-end: 1em;
        }

        h1 {
            font-size: 2em;
            margin-top: 0.67em;
            margin-bottom: 0.67em;
        }

        h2 {
            font-size: 1.5em;
            margin-top: 0.83em;
            margin-bottom: 0.83em;
        }

        h3 {
            font-size: 1.17em;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        h4 {
            font-size: 1em;
            margin-top: 1.33em;
            margin-bottom: 1.33em;
        }

        ul,
        ol {
            padding-left: 1em;
            margin-block-start: 1em;
            margin-block-end: 1em;
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }

        .big-orange {
            position: relative;
            margin-block-start: 1.8em;
            margin-block-end: 1.8em;
            margin-inline-start: 0;
            padding-left: 40px;
            margin-inline-end: 0;
            @include font-pack(false, 1.18em, false, false, $cl-black);

            &::before {
                content: "";
                @extend %icoQuote;
                position: absolute;
                left: 0;
                top: 0;
                width: 24px;
                height: 42px;
                background-size: contain;
                background-repeat: no-repeat;
            }

            .author {
                display: block;
                margin-top: 20px;
                padding-left: 52px;
                position: relative;
                font-style: normal;
                @include font-pack(false, .8em, $font-weight-sbold, 1.57, false);

                &::before {
                    content: '';
                    position: absolute;
                    top: 10px;
                    left: 0;
                    width: 40px;
                    border-top: 2px solid;
                }
            }
        }
    }

    &Quote {
        &Author {
            margin-top: 23px;
            text-align: center;
            font-style: normal;
            font-size: 17px;
            line-height: 1.4;

            span {
                position: relative;
                padding-top: 8px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: calc(50%/2);
                    width: 50%;
                    border-top: 2px solid;
                }
            }
        }
    }

    &Img {
        position: relative;
        margin: 0;
        display: block;
        width: 100%;
        // padding-top: calc(6/4 * 100% - 29px);
        padding-top: 0;
        height: auto;
        background: #C4C4C4;
        border-radius: 12px;
        overflow: hidden;

        img {
            @extend %template-img;
        }

        &Wrap {
            clear: both;
            position: relative;
            margin-top: 0;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 16px;

            &.-center {
                .detailsImg {
                    width: 100%;
                    // padding-top: calc(3/4 * 100%);
                    padding-top: 0;

                    img {
                        @extend %template-img;
                    }
                }
            }

            &.-col {
                width: calc(100% + 10px);
                @include display_flex;
                justify-content: center;
                flex-wrap: wrap;
                // column-gap: 10px;
                margin-left: -5px;
                margin-right: -5px;

                .detailsImg {
                    margin-left: 5px;
                    margin-right: 5px;
                    flex-shrink: 0;
                    width: calc(100%/2 - 10px);
                    // padding-top: calc(3/4 * 100% - 83px);
                    padding-top: 0;
                }
            }
        }

        &Caption {
            margin-top: 10px;
            text-align: center;
            @include font-pack(false, 14px, false, false, #555);
        }
    }

    &Vid {
        border-radius: 12px;
        overflow: hidden;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    &Author {
        margin-top: 30px;
        @include font-pack(false, 16px, $font-weight-bold, $line-base, #434343);

        &Item {
            margin-top: 12px;
        }
    }

    &Tag {
        @include display_flex;

        &List {
            flex-wrap: wrap;
        }

        &Link {
            padding: 3px 12px;
            display: inline-block;
            margin-top: 8px;
            margin-left: 8px;
            margin-right: 8px;
            border-radius: 12px;
            @include font-pack(false, 14px, $font-weight-bold, 2, false);
        }

        &Caption {
            flex-shrink: 0;
            margin-right: 4px;
            @include font-pack(false, 14px, $font-weight-bold, $line-base, #434343);
        }
    }

    &Paging {
        margin-top: 30px;
        margin-bottom: 50px;

        &Caption {
            @include font-pack(false, 15px, $font-weight-sbold, 1.4, false);
        }

        &Wrap {
            @include display_flex;
            flex-direction: column;
        }

        &Item {
            max-width: 350px;
            margin-top: 12px;
            padding: 10px 10px 12px;
            background: $cl-white;
            border: 1px solid #555;
            border-radius: 12px;
            @include display_flex;
            flex-direction: row;
            margin-left: -5px;
            margin-right: -5px;
        }

        &Thumb {
            position: relative;
            margin-left: 5px;
            margin-right: 5px;
            width: 124px;
            height: 70px;
            background: #D9D9D9;
            border-radius: 12px;
            overflow: hidden;

            img {
                @extend %template-img;
            }
        }

        &Content {
            flex: 1;
            margin-left: 5px;
            margin-right: 5px;
            @include font-pack($font-body, 16px, $font-weight-bold, $line-base, $cl-black);

            &.-prev {
                order: -1;
            }
        }

        &Lead {
            text-transform: uppercase;
            @include font-pack($font-body, 15px, $font-weight-sbold, 1.4, false);
        }

        &Title {
            @include title_clamp(2);
            margin-top: 2px;
        }
    }

    &Break {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: 62px;
        text-align: center;
        height: 23px;
        position: relative;

        @include max-responsive($mstablet) {
            margin-left: 10px;
            margin-right: 10px;
        }

        &Caption {
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translate(-50%, -50%);
            padding-left: 12px;
            padding-right: 12px;
            background: $cl-white;
            @include font-pack(false, 14px, $font-weight-sbold, 1.4, false);

            @include max-responsive($mstablet) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    &Live {
        &Caption {
            flex-shrink: 0;
            @include font-pack($font-body, 16px, $font-weight-sbold, 1.1, $cl-black);
            padding: 7px 12px 7px 16px;

            span {
                display: inline-block;
                position: relative;
                text-transform: uppercase;
                @include font-pack(false, false, $font-weight-bold, false, #AE0F0F);

                &:before {
                    content: '';
                    position: absolute;
                    top: 6px;
                    left: -16px;
                    width: 8px;
                    height: 8px;
                    border-radius: 8px;
                    background: #AE0F0F;
                }
            }
        }

        &Wrap {
            @include display_flex;
            flex-direction: column;
            margin-bottom: 30px;
        }

        &Slider {
            flex: 1;
            width: 100%;
            margin-top: 10px;
            max-height: 35px;
            overflow: hidden;

            .slick {
                &-list {
                    padding-top: 1px;
                    padding-bottom: 1px;
                    padding-left: 2px;
                    padding-right: 10px;
                }

                &-arrow {
                    border-radius: 5px;
                    width: 32px;
                    height: 32px;
                    top: 1px;
                    transform: none;

                    &::after {
                        top: 0;
                        left: 0;
                    }
                }

                &-next {
                    right: 0;
                    background: #AE0F0F;
                }

                &-prev {
                    left: 0;
                    background: #555;
                    transform: rotate(180deg);
                }
            }

            &Wrap {
                position: relative;
                padding-left: 40px;

                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    top: 0;
                    right: 0;
                    width: 65px;
                    height: 100%;
                    background: linear-gradient(270deg, #FFFFFF 54.4%, rgba(255, 255, 255, 0) 123.5%);
                }
            }

            &Time {
                line-height: 0;
            }
        }

        &Anchor {
            padding: 6px 10px;
            background: $cl-white;
            border-radius: 12px;
            border: 1px solid #434343;
            @include font-pack($font-body, 13px, $font-weight-sbold, 1.4, #434343);

            @include max-responsive($mstablet) {
                padding: 6px;
                font-size: 12px;
            }

            &.-active,
            &:hover {
                background: #AE0F0F;
                color: $cl-white;
                border-color: #AE0F0F;
            }
        }

        &TL {
            position: relative;
            margin-top: 30px;

            &::before {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 1px;
                height: 100%;
                border: 1px solid rgba(67, 67, 67, .5);
            }

            &::after {
                content: '';
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 153px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 84.97%);
            }
        }

        &Item {
            position: relative;
            margin-bottom: 24px;
            padding-top: 35px;
            padding-left: 20px;

            &.-active {
                .detailsLiveTime {
                    color: #AE0F0F;

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        &Time {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 96px;
            padding-top: 4px;
            padding-bottom: 6px;
            padding-left: 20px;
            @include font-pack($font-body, 14px, $font-weight-bold, 1, #434343);

            &::after {
                content: '';
                position: absolute;
                display: block;
                background: #AE0F0F;
                border-radius: 16px;
                left: -1px;
                top: 0;
                width: 4px;
                height: 24px;
                opacity: 0;
                transition: opacity .4s ease .5s;
            }
        }

        &Title {
            @include font-pack($font-body, 1.12em, $font-weight-sbold, $line-base, $cl-black);
        }
    }

    &Modal {
        max-width: calc(100% - 30px);

        &Img {
            text-align: center;

            img {
                max-height: 500px;
                object-fit: cover;
            }
        }

        &Caption {
            width: 100%;
            text-align: center;
            font-size: 14px;
            color: #ccc;
            padding: 10px 0;
        }
    }

    hr {
        margin-top: 18px;
        border-bottom: 1px solid #9E9E9E;
    }

    .premiumBox {
        margin-bottom: 40px;
    }
}
