<ul class="cat">
    <li class="catItem">
        <input type="radio" id="cp0" name="categparent" class="formRadio formRadio--hide">
        <label for="cp0">All</label>
    </li>
    <li class="catItem">
        <input type="radio" id="cp1" name="categparent" class="formRadio formRadio--hide">
        <label for="cp1">
            <div class="display-flex justify-between">Backpack<span class="icon icon-chevron"></span></div>
        </label>
        <ul class="catSeries">
            <li class="catSeries__item">
                <input type="radio" id="cc0" name="categchild" class="formRadio formRadio--hide">
                <label for="cc0">
                    <div class="display-flex justify-between">Colorfull Series<span class="icon icon-chevron"></span></div>
                </label>
                <ul class="catChild">
                    <li class="catChild__item">
                        <input type="radio" id="c0" name="categ" class="formRadio">
                        <label for="c0" class="formRadio__label">
                            Oval Backpack
                        </label>
                        
                    </li>
                    <li class="catChild__item">
                        <input type="radio" id="c1" name="categ" class="formRadio">
                        <label for="c1" class="formRadio__label">
                            Flap Backpack
                        </label>
                        
                    </li>
                    <li class="catChild__item">
                        <input type="radio" id="c2" name="categ" class="formRadio">
                        <label for="c2" class="formRadio__label">
                            Basic Backpack
                        </label>
                        
                    </li>
                    <li class="catChild__item">
                        <input type="radio" id="c3" name="categ" class="formRadio">
                        <label for="c3" class="formRadio__label">
                            Skid Backpack
                        </label>
                        
                    </li>
                    <li class="catChild__item">
                        <input type="radio" id="c4" name="categ" class="formRadio">
                        <label for="c4" class="formRadio__label">
                            Twin Backpack
                        </label>
                        
                    </li>
                    <li class="catChild__item">
                        <input type="radio" id="c5" name="categ" class="formRadio">
                        <label for="c5" class="formRadio__label">
                            Grip Backpack
                        </label>
                        
                    </li>
                </ul>
            </li>
            <li class="catSeries__item">
                <input type="radio" id="cc1" name="categchild" class="formRadio formRadio--hide">
                <label for="cc1">
                    Wave Series
                </label>
            </li>
            <li class="catSeries__item">
                <input type="radio" id="cc2" name="categchild" class="formRadio formRadio--hide">
                <label for="cc2">
                    Basic Styles
                </label>
            </li>
            <li class="catSeries__item">
                <input type="radio" id="cc3" name="categchild" class="formRadio formRadio--hide">
                <label for="cc3">
                    Multi Styles
                </label>
            </li>
            <li class="catSeries__item">
                <input type="radio" id="cc4" name="categchild" class="formRadio formRadio--hide">
                <label for="cc4">
                    Urban Styles
                </label>
            </li>
        </ul>
    </li>
    <li class="catItem">
        <input type="radio" id="cp2" name="categparent" class="formRadio formRadio--hide">
        <label for="cp2">Bags</label>
    </li>
    <li class="catItem">
        <input type="radio" id="cp3" name="categparent" class="formRadio formRadio--hide">
        <label for="cp3">Accesories</label>
    </li>
    <li class="catItem">
        <input type="radio" id="cp4" name="categparent" class="formRadio formRadio--hide">
        <label for="cp4">Collections</label>
    </li>
</ul>