<ul class="colorList display-flex">
    <li class="colorItem">
        <input type="checkbox" id="color0" name="color" class="formColor formCheck--hide">
        <label for="color0" class="colorItem__label align-center">
            <img src="./asset/images/color/image1.png" alt="color 0" width="30" height="30" loading="lazy">
        </label>
    </li>
    <li class="colorItem">
        <input type="checkbox" id="color1" name="color" class="formColor formCheck--hide">
        <label for="color1" class="colorItem__label align-center">
            <img src="./asset/images/color/image2.png" alt="color 1" width="30" height="30" loading="lazy">
        </label>
    </li>
    <li class="colorItem">
        <input type="checkbox" id="color2" name="color" class="formColor formCheck--hide">
        <label for="color2" class="colorItem__label align-center">
            <img src="./asset/images/color/image3.png" alt="color 2" width="30" height="30" loading="lazy">
        </label>
    </li>
    <li class="colorItem">
        <input type="checkbox" id="color3" name="color" class="formColor formCheck--hide">
        <label for="color3" class="colorItem__label align-center">
            <img src="./asset/images/color/image4.png" alt="color 3" width="30" height="30" loading="lazy">
        </label>
    </li>
    <li class="colorItem">
        <input type="checkbox" id="color4" name="color" class="formColor formCheck--hide">
        <label for="color4" class="colorItem__label align-center">
            <img src="./asset/images/color/image5.png" alt="color 4" width="30" height="30" loading="lazy">
        </label>
    </li>
    <li class="colorItem">
        <input type="checkbox" id="color5" name="color" class="formColor formCheck--hide">
        <label for="color5" class="colorItem__label align-center">
            <img src="./asset/images/color/image6.png" alt="color 5" width="30" height="30" loading="lazy">
        </label>
    </li>
    <li class="colorItem">
        <input type="checkbox" id="color6" name="color" class="formColor formCheck--hide">
        <label for="color6" class="colorItem__label align-center">
            <img src="./asset/images/color/image7.png" alt="color 6" width="30" height="30" loading="lazy">
        </label>
    </li>
    <li class="colorItem">
        <input type="checkbox" id="color7" name="color" class="formColor formCheck--hide">
        <label for="color7" class="colorItem__label align-center">
            <img src="./asset/images/color/image8.png" alt="color 7" width="30" height="30" loading="lazy">
        </label>
    </li>
    <li class="colorItem">
        <input type="checkbox" id="color8" name="color" class="formColor formCheck--hide">
        <label for="color8" class="colorItem__label align-center">
            <img src="./asset/images/color/image9.png" alt="color 8" width="30" height="30" loading="lazy">
        </label>
    </li>
    <li class="colorItem">
        <input type="checkbox" id="color9" name="color" class="formColor formCheck--hide">
        <label for="color9" class="colorItem__label align-center">
            <img src="./asset/images/color/image10.png" alt="color 9" width="30" height="30" loading="lazy">
        </label>
    </li>
</ul>