<div class="titleCaption titleCaption__page pt18">4 Comment</div>
<div class="commentList">
    <div class="commentItem">
        <div class="commentBorder display-flex">
            <div class="commentRow">
                <img loading="lazy" src="https://api.lorem.space/image/face?w&#x3D;65;h&#x3D;65;hash&#x3D;8B7BCDC2" alt="" class="commentAva" width="65" height="65">
            </div>
            <div class="commentRow flex-init">
                <div class="commentUser">Fajar Arief Syahputra</div>
                <div class="commentDate">20 Mei 2022 | 15:15</div>
                <div class="commentContent mt10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed enim nam sit eget. Id nunc, tincidunt leo eget eleifend malesuada aliquam. Scelerisque sed non lectus odio platea et nibh sed. Felis, nisl fermentum consequat placerat. Nisl, at tincidunt tortor luctus risus libero dui ut. Maecenas tempus nisl suspendisse sed mi.</div>
                <div class="commentAction display-flex justify-between">
                    <button class="button commentReply -bReply" aria-label="Trigger form reply">
                        <img src="./asset/images/icon-reply.svg" class="icon icon-reply" alt="" loading="lazy"
                            width="18" height="18"></img></button>
                    <button class="button commentReport -bReport">
                        <img src="./asset/images/icon-report.svg" class="icon icon-report" alt="" loading="lazy"
                            width="16" height="16"></img>Laporkan</button>
                </div>
            </div>
        </div>
        <form class="commentForm mt10 -fReply" action="">
            <textarea class="formArea commentArea" cols="30" rows="4" placeholder="Write your reply"
                aria-label="Write your reply"></textarea>
            <div class="align-end">
                <button class="button buttonBlack" type="submit" name="submit">
                    Send
                </button>
            </div>
        </form>        <!-- s: reply -->
        <div class="commentItem">
            <div class="commentBorder display-flex">
                <div class="commentRow">
                    <img loading="lazy" src="https://api.lorem.space/image/face?w&#x3D;65;h&#x3D;65;hash&#x3D;8B7BCDC2" alt="" class="commentAva" width="48" height="48">
                </div>
                <div class="commentRow flex-init">
                    <div class="commentUser">Fajar Arief Syahputra</div>
                    <div class="commentDate">20 Mei 2022 | 15:15</div>
                    <div class="commentContent mt10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed enim nam sit eget. Id nunc, tincidunt leo eget eleifend malesuada aliquam. Scelerisque sed non lectus odio platea et nibh sed. Felis, nisl fermentum consequat placerat. Nisl, at tincidunt tortor luctus risus libero dui ut. Maecenas tempus nisl suspendisse sed mi.</div>
                    <div class="commentAction display-flex justify-between">
                        <button class="button commentReply -bReply" aria-label="Trigger form reply">
                            <img src="./asset/images/icon-reply.svg" class="icon icon-reply" alt="" loading="lazy"
                                width="18" height="18"></img></button>
                        <button class="button commentReport -bReport">
                            <img src="./asset/images/icon-report.svg" class="icon icon-report" alt="" loading="lazy"
                                width="16" height="16"></img>Laporkan</button>
                    </div>
                </div>
            </div>
            <form class="commentForm mt10 -fReply" action="">
                <textarea class="formArea commentArea" cols="30" rows="4" placeholder="Write your reply"
                    aria-label="Write your reply"></textarea>
                <div class="align-end">
                    <button class="button buttonBlack" type="submit" name="submit">
                        Send
                    </button>
                </div>
            </form>        </div>
        <div class="commentItem">
            <div class="commentBorder display-flex">
                <div class="commentRow">
                    <img loading="lazy" src="https://api.lorem.space/image/face?w&#x3D;65;h&#x3D;65;hash&#x3D;500B67FB" alt="" class="commentAva" width="48" height="48">
                </div>
                <div class="commentRow flex-init">
                    <div class="commentUser">Sheilla Marcia</div>
                    <div class="commentDate">20 Mei 2022 | 15:15</div>
                    <div class="commentContent mt10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed enim nam sit eget. Id nunc, tincidunt leo eget eleifend malesuada aliquam. Scelerisque sed non lectus odio platea et nibh sed. Felis, nisl fermentum consequat placerat. Nisl, at tincidunt tortor luctus risus libero dui ut. Maecenas tempus nisl suspendisse sed mi.</div>
                    <div class="commentAction display-flex justify-between">
                        <button class="button commentReply -bReply" aria-label="Trigger form reply">
                            <img src="./asset/images/icon-reply.svg" class="icon icon-reply" alt="" loading="lazy"
                                width="18" height="18"></img></button>
                        <button class="button commentReport -bReport">
                            <img src="./asset/images/icon-report.svg" class="icon icon-report" alt="" loading="lazy"
                                width="16" height="16"></img>Laporkan</button>
                    </div>
                </div>
            </div>
            <form class="commentForm mt10 -fReply" action="">
                <textarea class="formArea commentArea" cols="30" rows="4" placeholder="Write your reply"
                    aria-label="Write your reply"></textarea>
                <div class="align-end">
                    <button class="button buttonBlack" type="submit" name="submit">
                        Send
                    </button>
                </div>
            </form>        </div>
        <!-- e: reply -->
    </div>
    <div class="commentItem">
        <div class="commentBorder display-flex">
            <div class="commentRow">
                <img loading="lazy" src="https://api.lorem.space/image/face?w&#x3D;65;h&#x3D;65;hash&#x3D;500B67FB" alt="" class="commentAva" width="65" height="65">
            </div>
            <div class="commentRow flex-init">
                <div class="commentUser">Sheilla Marcia</div>
                <div class="commentDate">20 Mei 2022 | 15:15</div>
                <div class="commentContent mt10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed enim nam sit eget. Id nunc, tincidunt leo eget eleifend malesuada aliquam. Scelerisque sed non lectus odio platea et nibh sed. Felis, nisl fermentum consequat placerat. Nisl, at tincidunt tortor luctus risus libero dui ut. Maecenas tempus nisl suspendisse sed mi.</div>
                <div class="commentAction display-flex justify-between">
                    <button class="button commentReply -bReply" aria-label="Trigger form reply">
                        <img src="./asset/images/icon-reply.svg" class="icon icon-reply" alt="" loading="lazy"
                            width="18" height="18"></img></button>
                    <button class="button commentReport -bReport">
                        <img src="./asset/images/icon-report.svg" class="icon icon-report" alt="" loading="lazy"
                            width="16" height="16"></img>Laporkan</button>
                </div>
            </div>
        </div>
        <form class="commentForm mt10 -fReply" action="">
            <textarea class="formArea commentArea" cols="30" rows="4" placeholder="Write your reply"
                aria-label="Write your reply"></textarea>
            <div class="align-end">
                <button class="button buttonBlack" type="submit" name="submit">
                    Send
                </button>
            </div>
        </form>        <!-- s: reply -->
        <!-- e: reply -->
    </div>
</div>