<div class="readImage">
    <div class="readImage__list" id="prolist">
        <div class="readImage__item">
            <div class="readImage__wrap videoPlay">
                <video controls poster="./asset/images/read/image1big.png" width="430" height="300">
                    <source src="./asset/images/read/sample.mp4" type="video/mp4">
                    <p>Your browser doesn't support HTML5 video. Here is
                        a <a href="#">link to the video</a> instead.</p>
                </video>
                <div class="readImage__play">
                    <img src="./asset/images/icon-play.svg" alt="" loading="lazy" width="34" height="34"
                        class="icon icon-play">
                </div>
            </div>
        </div>
        <div class="readImage__item">
            <div class="readImage__wrap">
                <img src="./asset/images/read/image2big.png" alt="" loading="lazy" width="500" height="448"
                    class="readImage__img">
            </div>
        </div>
        <div class="readImage__item">
            <div class="readImage__wrap">
                <img src="./asset/images/read/image2big.png" alt="" loading="lazy" width="500" height="448"
                    class="readImage__img">
            </div>
        </div>
        <div class="readImage__item">
            <div class="readImage__wrap">
                <img src="./asset/images/read/image2big.png" alt="" loading="lazy" width="500" height="448"
                    class="readImage__img">
            </div>
        </div>
    </div>
    <div class="readImage__nav" id="pronav">
        <div class="readImage__item">
            <div class="readImage__wrap readImage--small">
                <img src="./asset/images/read/image1small.png" alt="" loading="lazy" width="102" height="105"
                    class="readImage__img">
                <div class="readImage__play">
                    <img src="./asset/images/icon-play.svg" alt="" loading="lazy" width="24" height="24"
                        class="icon icon-play">
                </div>
            </div>
        </div>
        <div class="readImage__item">
            <div class="readImage__wrap readImage--small">
                <img src="./asset/images/read/image2small.png" alt="" loading="lazy" width="91" height="105"
                    class="readImage__img">
            </div>
        </div>
        <div class="readImage__item">
            <div class="readImage__wrap readImage--small">
                <img src="./asset/images/read/image3small.png" alt="" loading="lazy" width="91" height="105"
                    class="readImage__img">
            </div>
        </div>
        <div class="readImage__item">
            <div class="readImage__wrap readImage--small">
                <img src="./asset/images/read/image4small.png" alt="" loading="lazy" width="91" height="105"
                    class="readImage__img">
            </div>
        </div>
    </div>
</div>