<div class="spec">
    <table class="specTable">
        <tr>
            <td class="specCaption">Kondisi</td>
            <td class="specSp">:</td>
            <td>Baru</td>
        </tr>
        <tr>
            <td class="specCaption">Berat</td>
            <td class="specSp">:</td>
            <td>500 Gram</td>
        </tr>
        <tr>
            <td class="specCaption">Kategori</td>
            <td class="specSp">:</td>
            <td>Shoulder Bag Wanita</td>
        </tr>
        <tr>
            <td class="specCaption">Bahan</td>
            <td class="specSp">:</td>
            <td>Cordura</td>
        </tr>
        <tr>
            <td class="specCaption">Ukuran</td>
            <td class="specSp">:</td>
            <td>21 x 6 x 23cm</td>
        </tr>
    </table>
</div>