<div class="readTab tabset">
    <input type="radio" name="tabset" id="rev" aria-controls="rev" checked="" class="">
    <label for="rev" class="readTab__label">
        Reviews (<span>2</span>)
    </label>
    <input type="radio" name="tabset" id="spec" aria-controls="spec" class="">
    <label for="spec" class="readTab__label">
        Specifications
    </label>
    <input type="radio" name="tabset" id="feat" aria-controls="feat" class="">
    <label for="feat" class="readTab__label">
        Features
    </label>
    <input type="radio" name="tabset" id="care" aria-controls="care" class="">
    <label for="care" class="readTab__label">
        Care
    </label>

    <div class="tabwrapper">
        <div class="tabcontent readTab__content" aria-label="Review">
            <ul class="reviewList">
                <li class="reviewItem display-flex">
                    <div class="reviewAva">
                        <img src="./asset/images/user.png" alt="" width="50" height="50" loading="lazy">
                    </div>
                    <div class="reviewContent">
                        <div class="reviewUser">Fulan bin Fulan</div>
                        <div class="reviewTime">2 jam lalu</div>
                        <div class="reviewTxt">Tellus vitae blandit quam urna urna. Tempor pellentesque nec a, scelerisque. Elit in
                            lorem eget vitae.
                            Ullamcorper faucibus urna ipsum ipsum nisi, malesuada. Vel eget placerat quis enim fames.</div>
                    </div>
                </li>
                <li class="reviewItem display-flex">
                    <div class="reviewAva">
                        <img src="./asset/images/user.png" alt="" width="50" height="50" loading="lazy">
                    </div>
                    <div class="reviewContent">
                        <div class="reviewUser">Fulan bin Fulan</div>
                        <div class="reviewTime">2 jam lalu</div>
                        <div class="reviewTxt">Tellus vitae blandit quam urna urna. Tempor pellentesque nec a, scelerisque. Elit in
                            lorem eget vitae.
                            Ullamcorper faucibus urna ipsum ipsum nisi, malesuada. Vel eget placerat quis enim fames.</div>
                    </div>
                </li>
            </ul>
            <form action="#">
                <textarea class="reviewForm" name="review" id="" cols="32" rows="7" placeholder="Type your review here..."></textarea>
                <button class="button buttonBlack reviewBtn" type="submit">Submit</button>
                <button class="button buttonCancel reviewBtn ml10" type="button">Batalkan</button>
            </form>
        </div>
        <div class="tabcontent readTab__content" aria-label="Specifications">
            <div class="spec">
                <table class="specTable">
                    <tr>
                        <td class="specCaption">Kondisi</td>
                        <td class="specSp">:</td>
                        <td>Baru</td>
                    </tr>
                    <tr>
                        <td class="specCaption">Berat</td>
                        <td class="specSp">:</td>
                        <td>500 Gram</td>
                    </tr>
                    <tr>
                        <td class="specCaption">Kategori</td>
                        <td class="specSp">:</td>
                        <td>Shoulder Bag Wanita</td>
                    </tr>
                    <tr>
                        <td class="specCaption">Bahan</td>
                        <td class="specSp">:</td>
                        <td>Cordura</td>
                    </tr>
                    <tr>
                        <td class="specCaption">Ukuran</td>
                        <td class="specSp">:</td>
                        <td>21 x 6 x 23cm</td>
                    </tr>
                </table>
            </div>        </div>
        <div class="tabcontent readTab__content" aria-label="Features">
            <div>PROMO ROAD TO EVERSAC ARA SERIES</div>
            <div>"Eversac Ara One Shoulder Navy Dolby Black.</div>
            <div>Tampil simple dan casual setiap hari ditemani Eversac Ara One Shoulder!</div>

            <ul class="mt10">
                <li>
                    - Desain simple, dan mudah saat di gunakan</li>
                <li>- Bahan tas ringan dan ukurannya tidak terlalu besar</li>
                <li>- Terdapat kantong ber-resleting dibagian depan tas yang muat untuk menyimpan uang receh, charger
                    handphone,
                    headset, dan perlengkapan kecil lainnya.</li>
            </ul>
        </div>
        <div class="tabcontent readTab__content" aria-label="Care">
            Nam ullamcorper non id vivamus arcu commodo pellentesque semper adipiscing. Neque, volutpat ut sit tortor
            tellus interdum magna in non. Interdum velit est, ut mus morbi orci nulla dis sit. Porta odio faucibus
            aenean eu id sed sed commodo aliquam. Egestas libero turpis elit in cras massa id. Cursus at cursus
            pellentesque eget. At scelerisque egestas cursus ut mauris dolor vestibulum et elementum. Egestas augue
            ornare lorem mauris scelerisque. Aenean ut magna nunc mauris pulvinar. Aliquet venenatis interdum sit mattis
            auctor varius tempor.
        </div>
    </div>
</div>