.team {
    &List {
        @include min-responsive($w-xlg) {
            margin-left: -22px;
            margin-right: -22px;
        }
    }

    &Item {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 40px;
        text-align: center;

        @include min-responsive($w-xlg) {
            padding-left: 22px;
            padding-right: 22px;
        }

        &__img {
            position: relative;
            width: 150px;
            height: 150px;
            margin: auto;

            @include min-responsive($w-xl) {
                width: 250px;
                height: 250px;
            }

            img {
                @extend %template-img
            }
        }
    }

    &Img {
        border-radius: 15px;
        background: $cl-white;
        overflow: hidden;
    }

    &Name {
        @extend .authorName
    }

    &Link {
        display: inline-block;
        margin-top: 20px;
        padding: 10px;
        width: 100%;
        border: 1px solid $cl-grey-medium;
        border-radius: 5px;
        background: $cl-white;
        color: $cl-black;
        font-size: $font-date;

        @include min-responsive($w-md) {
            font-size: $font-text;
        }

        &:hover {
            background: $cl-grey-lighter;
        }

        .icoInline {
            width: 24px;
            height: 24px;
            margin-right: 10px;
            vertical-align: bottom;
        }

        .icoLn {
            filter: invert(42%) sepia(73%) saturate(1749%) hue-rotate(171deg) brightness(87%) contrast(101%);
        }
    }
}