.catalogue {
    &Caption {
        margin-top: 30px;
        @extend %titleWrap;

        .titleH2 {
            margin-right: 20px;
        }
    }

    .promo {
        margin-bottom: 50px;

        &.--middle {
            margin-top: 0;

            .promoItem {
                margin-top: 30px;
            }
        }
    }
}