.contact {
    &Form {
        max-width: 600px;

        @include min-responsive($w-md) {
            padding-left: 20px;
            padding-right: 20px;
        }

        &Caption{
            margin-top: 30px;
            color: $cl-primary2;
        }
    }

    &List {
        max-width: 600px;
        margin-top: 40px;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;

        a[target=_blank] {
            color: $cl-primary1;
            text-decoration: underline;

            &:hover {
                color: $cl-text1;
            }
        }

        &>div {
            padding-left: 0;
            padding-right: 0;
        }

        .ico {
            flex-shrink: 0;
            margin-right: 10px;
            width: 24px;
            height: 24px;
            filter: invert(65%) sepia(93%) saturate(754%) hue-rotate(329deg) brightness(100%) contrast(103%);

            &Loc {
                @extend %icoLoc;
                background-size: contain;
                width: 28px;
                height: 28px;

                @include min-responsive($w-md) {
                    width: 32px;
                    height: 32px;
                }
            }

            &Phone {
                @extend %icoPhone
            }
        }
    }

    &Item {
        @include display-flex;
        align-items: center;
        margin-top: 10px;

        &:has(.contactWrap) {
            align-items: flex-start;
        }

        &Title {
            margin-bottom: 10px;
            @include font-pack($font-bold, 15px, $font-weight-bold, 1.06, $cl-text1);
        }
    }

    &Map {
        max-width: 736px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.09);
        overflow: hidden;

        iframe {
            width: 100%;
        }
    }
}