.partner {
    overflow: hidden;

    &Gap {
        margin-top: 100px
    }

    &Title {
        @include font-pack($font-bold, 26px, $font-weight-bold, 1.25, $cl-text1);

        @include max-responsive($w-xm) {
            font-size: 22px;
        }

        @include min-responsive($w-md) {
            font-size: 48px
        }

        span {
            padding-bottom: 20px;
            border-bottom: 2px solid $cl-primary3;

            @include min-responsive($w-md) {
                border-bottom: 3px solid $cl-primary3;
            }
        }
    }

    &Lead {
        margin-top: 20px;
    }

    &Intro {
        @include display-flex;
        padding: 0;
        flex-direction: column;

        @include min-responsive($w-md) {
            flex-direction: row;
        }
    }

    &Img {
        flex-shrink: 0;
        margin-top: 20px;

        @include min-responsive($w-md) {
            margin-top: 0;
            margin-left: 40px;
        }
    }

    &Benefit {
        padding-left: 0;
        padding-right: 0;

        @include min-responsive($w-md) {
            padding-left: 15px;
            padding-right: 15px;
        }

        &List {
            margin-top: 10px;
            flex-wrap: wrap;
        }

        &Item {
            width: 50%;
            margin-top: 20px;

            @include min-responsive($w-md) {
                width: 176px;
                margin-left: 7px;
                margin-right: 7px;
            }
        }

        &Title {
            margin-top: 10px;
            @extend %titleBody500;

            @include max-responsive($w-xm) {
                font-size: 13px;
            }
        }
    }

    &Product {
        margin-bottom: -30px;

        &Wrap {
            padding-right: 0;
            padding-left: 0;

            @include min-responsive($w-md) {
                padding-right: 15px;
                padding-left: 15px;
            }
        }

        &Item {
            margin-top: 30px;
            margin-left: 8px;
            margin-right: 8px;
            padding: 20px;
            border-radius: 20px;
            border: 1px solid #FFF;
            background: linear-gradient(180deg, $cl-accent1 0%, rgba(252, 252, 252, 0.00) 58%);
            box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.09);

            @include min-responsive($w-md) {
                margin-left: 15px;
                margin-right: 15px;
            }
        }

        &Title {
            margin-bottom: 20px;
            @include font-pack($font-bold, 15px, $font-weight-bold, 1.06, $cl-text1);
        }

        &Img {
            min-height: 104px;
        }

        .slick {
            &-list {
                padding-left: 20px !important;
                padding-right: 20px !important;

                @include min-responsive($w-md) {
                    padding-left: 150px !important;
                    padding-right: 150px !important;
                }
            }

            &-track {
                display: flex;
                padding-bottom: 30px;
            }

            &-slide {
                height: inherit;
            }
        }
    }

    &Client {
        &Item {
            margin-top: 30px;
            margin-left: 15px;
            margin-right: 15px;

            @include min-responsive($w-md) {
                margin-left: 40px;
                margin-right: 40px;
            }
        }

        &Img {
            min-height: 100px;
        }

        .slick {
            &-list {
                padding-left: 60px !important;
                padding-right: 60px !important;

                @include min-responsive($w-md) {
                    padding-left: 120px !important;
                    padding-right: 120px !important;
                }
            }
        }
    }

    &Shipper {
        padding: 0;

        @include min-responsive($w-md) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    &Program {
        padding: 0;

        &Item {
            margin-top: 30px;
            margin-left: 8px;
            margin-right: 8px;

            @include min-responsive($w-md) {
                margin-left: 15px;
                margin-right: 15px;
            }
        }

        &Wrap {
            @include display-flex;
            align-items: center;
            flex-direction: column;
            height: 100%;

            @include min-responsive($w-xl) {
                flex-direction: row;
            }
        }

        &Content {
            flex: 1;
            margin-top: -40px;
            padding: 60px 20px 20px 20px;
            border-radius: 20px;
            background: linear-gradient(180deg, $cl-accent1 0%, rgba(252, 252, 252, 0.00) 58%);
            box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.05);

            @include min-responsive($w-xl) {
                margin-top: 0;
                margin-left: -40px;
                padding: 20px 20px 20px 60px;
            }
        }

        &Img {
            position: relative;
            min-height: 230px;
            z-index: 1;

            img {
                margin-left: auto;
                margin-right: auto;
            }
        }

        &Lead {
            margin-bottom: 10px;
        }

        &List {
            p{
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        &Slide {
            .slick {
                &-list {
                    padding-left: 30px !important;
                    padding-right: 30px !important;

                    @include min-responsive($w-md) {
                        padding-left: 27% !important;
                        padding-right: 27% !important;
                    }

                    @include min-responsive($w-xxxl) {
                        padding-left: 12% !important;
                        padding-right: 12% !important;
                    }
                }

                &-track {
                    display: flex;
                    padding-bottom: 30px;
                }

                &-slide {
                    height: inherit;
                }
            }
        }
    }

    &Reseller {
        margin-top: 30px;

        &Cta {
            margin-top: 10px;
            margin-bottom: 20px;
        }

        &Link {
            @include font-pack($font-bold, false, $font-weight-bold, false, $cl-primary1);
        }
    }

    &Sdk {
        padding-left: 0;
        padding-right: 0;

        &List {
            margin-top: 20px
        }

        &Item {
            @include display-flex;
            align-items: center;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-bottom: 2px solid $cl-accent1;
        }

        &Title {
            margin-left: 15px;
            font-size: 17px
        }
    }

    &Join {
        max-width: 757px;
        padding-left: 0;
        padding-right: 0;

        &Cta {
            padding: 20px;

            .buttonPrimary {
                margin-top: 10px
            }

            .icoPdf {
                @extend %icoPdf;
                margin-left: 10px;
                filter: invert(100%) sepia(0%) saturate(7435%) hue-rotate(160deg) brightness(114%) contrast(98%);
            }
        }

        &Step {
            max-width: 330px;
            margin: 50px auto 30px;
            @include display-flex;
            align-items: center;
            justify-content: space-between;

            @include min-responsive($w-md) {
                max-width: unset;
                margin-bottom: 20px;
            }

            .partnerJoinTxt {
                display: none;

                @include min-responsive($w-md) {
                    display: block;
                }
            }
        }

        &Item {
            padding-top: 30px;
            padding-bottom: 30px;
            position: relative;

            @include min-responsive($w-md) {
                padding-top: 130px;
                padding-bottom: 130px;
            }

            &:nth-child(odd) {

                .partnerJoinTxt,
                .partnerJoinNum {
                    @include display-flex;
                    align-items: flex-end;
                }

                .partnerJoinTxt {
                    min-height: 66px;
                    display: none;

                    @include min-responsive($w-md) {
                        display: flex;
                    }
                }
            }

            &:nth-child(even) {
                .partnerJoinTxt {
                    top: unset;
                    bottom: 22px;
                }

                .partnerJoinNum {
                    top: unset;
                    bottom: calc(50% - 30px - 30px);
                }
            }

            &:last-child {

                &::before,
                &::after {
                    content: none;
                }

                .partnerJoinDot::after {
                    content: none;
                }

                .partnerJoinTxt {
                    left: -40px;
                    text-align: right;

                    @include min-responsive($w-lg) {
                        left: unset;
                        text-align: left;
                    }
                }
            }

            &::before {
                content: '';
                top: 50%;
                position: absolute;
                left: 14px;
                border-bottom: 1px solid $cl-text3;
                width: 42px;

                @include min-responsive($w-md) {
                    width: 120px;
                }
            }

            &::after {
                content: '';
                top: 50%;
                position: absolute;
                width: 0;
                border-bottom: 1px solid $cl-primary1;
                transition: 0.5s 0.1s width;

                @include min-responsive($w-md) {
                    border-bottom: 2px solid $cl-primary1;
                }
            }

            &.active {
                &::after {
                    width: 42px;

                    @include min-responsive($w-md) {
                        width: 120px;
                    }
                }

                .partnerJoinDot::before {
                    background: $cl-primary1;
                    transform: scale(1);
                }

                .partnerJoinDot::after,
                .partnerJoinTxt,
                .partnerJoinNum {
                    color: $cl-primary1;
                }

                .partnerJoinNum {
                    @include min-responsive($w-md) {
                        font-size: 23px;
                    }
                }

                &:nth-child(2) {

                    &::after,
                    .partnerJoinDot::before,
                    .partnerJoinDot::after,
                    .partnerJoinTxt,
                    .partnerJoinNum {
                        transition-delay: 1000ms;
                    }
                }

                &:nth-child(3) {

                    &::after,
                    .partnerJoinDot::before,
                    .partnerJoinDot::after,
                    .partnerJoinTxt,
                    .partnerJoinNum {
                        transition-delay: 2000ms;
                    }
                }

                &:nth-child(4) {

                    &::after,
                    .partnerJoinDot::before,
                    .partnerJoinDot::after,
                    .partnerJoinTxt,
                    .partnerJoinNum {
                        transition-delay: 3000ms;
                    }
                }

                &:nth-child(5) {

                    &::after,
                    .partnerJoinDot::before,
                    .partnerJoinDot::after,
                    .partnerJoinTxt,
                    .partnerJoinNum {
                        transition-delay: 4000ms;
                    }
                }

                &:nth-child(6) {

                    &::after,
                    .partnerJoinDot::before,
                    .partnerJoinDot::after,
                    .partnerJoinTxt,
                    .partnerJoinNum {
                        transition-delay: 5000ms;
                    }
                }

                &:nth-child(7) {

                    &::after,
                    .partnerJoinDot::before,
                    .partnerJoinDot::after,
                    .partnerJoinTxt,
                    .partnerJoinNum {
                        transition-delay: 6000ms;
                    }
                }
            }
        }

        &Dot {
            display: inline-block;
            width: 14px;
            height: 14px;
            position: relative;
            top: 3px;
            border-radius: 50%;
            background: $cl-text3;

            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: transparent;
                transform: scale(0);
                transition: 0.5s transform cubic-bezier(0.73, 0.32, 0.34, 1.5);

                @include min-responsive($w-md) {
                    width: 24px;
                    height: 24px;
                    top: -5px;
                    left: -5px;
                }
            }

            &::after {
                content: '';
                @extend .ico;
                @extend %icoChevron;
                position: absolute;
                right: unset;
                left: 30px;
                top: 4px;
                color: $cl-text3;
                transition: 0.5s color cubic-bezier(0.73, 0.32, 0.34, 1.5);
                width: 6px;
                height: 6px;
                border-bottom: 1px solid;
                border-right: 1px solid;

                @include min-responsive($w-md) {
                    top: 3px;
                    left: 60px;
                    width: 10px;
                    height: 10px;
                    border-bottom: 2px solid;
                    border-right: 2px solid;
                }
            }
        }

        &Txt {
            position: absolute;
            top: 0;
            transition: 0.5s color cubic-bezier(0.73, 0.32, 0.34, 1.5);
            font-size: 13px;

            @include min-responsive($w-md) {
                width: 130px;
                font-size: 12px;
            }

            @include min-responsive($w-lg) {
                width: 171px;
                font-size: 15px;
            }

            br {
                display: inline-block;

                @include min-responsive($w-lg) {
                    display: none;
                }
            }
        }

        &Num {
            position: absolute;
            min-height: 32px;
            top: calc(50% - 30px - 30px);
            color: $cl-text3;
            transition: 0.5s color cubic-bezier(0.73, 0.32, 0.34, 1.5), .2s font-size linear;
        }

        &Desc {
            @extend %desktop-hide;

            &Item {
                @include display-flex;

                &.active {
                    .partnerJoinTxt {
                        color: $cl-primary1;
                    }

                    &:nth-child(2) {
                        .partnerJoinTxt {
                            transition-delay: 1000ms;
                        }
                    }

                    &:nth-child(3) {
                        .partnerJoinTxt {
                            transition-delay: 2000ms;
                        }
                    }

                    &:nth-child(4) {
                        .partnerJoinTxt {
                            transition-delay: 3000ms;
                        }
                    }

                    &:nth-child(5) {
                        .partnerJoinTxt {
                            transition-delay: 4000ms;
                        }
                    }

                    &:nth-child(6) {
                        .partnerJoinTxt {
                            transition-delay: 5000ms;
                        }
                    }

                    &:nth-child(7) {
                        .partnerJoinTxt {
                            transition-delay: 6000ms;
                        }
                    }
                }
            }

            .partnerJoinNum {
                min-width: 17px;
                margin-right: 10px;
                @include font-pack($font-normal, 13px, $font-weight-normal, false, $cl-text1);
            }

            .partnerJoinTxt {
                flex: 1;
            }

            .partnerJoinNum,
            .partnerJoinTxt {
                position: relative;
                min-height: unset;
            }
        }
    }

    &Store {
        &--widget {
            margin-left: -15px;

            .partnerStoreWrap {
                box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
            }

            .slick {
                &-list {
                    padding-left: 15px;
                    padding-right: 60px;

                    @include min-responsive($w-md) {
                        padding-left: 12px;
                        padding-right: 80px;
                    }
                }
            }
        }

        &Row {
            padding-left: 0;
            padding-right: 0;

            @include min-responsive($w-md) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        &Cta {
            margin-top: 10px;
            margin-bottom: 38px;
        }

        &Caption {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        &Search {
            margin-top: 50px;
            margin-bottom: 40px;
        }

        &List {
            --gap-store: 12px;
            margin-left: calc(var(--gap-store) - var(--gap-store)*2);
            margin-right: calc(var(--gap-store) - var(--gap-store)*2);
        }

        &Item {
            margin-top: 12px;
            margin-bottom: 12px;
            padding-left: var(--gap-store);
            padding-right: var(--gap-store);
        }

        &Wrap {
            padding: 15px;
            border-radius: 15px;
            border: 1px solid $cl-accent1;
            background: linear-gradient(180deg, $cl-accent1 0%, rgba(252, 252, 252, 0.00) 100%);
            box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.09);
        }

        &Img {
            position: relative;
            width: 100%;
            padding-top: 61.56%;
            margin-bottom: 15px;

            img {
                @extend %template-img;
                border-radius: 20px;
                border: 1px solid #FFF;
                overflow: hidden;
                background: linear-gradient(180deg, $cl-accent1 0%, rgba(252, 252, 252, 0.00) 100%);
                box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.09);
            }
        }

        &Loc {
            margin-top: 10px;
            margin-bottom: 10px;
            min-height: 66px;
            @include title_clamp(3);
        }

        &Search {
            padding-left: 0;
            padding-right: 0;

            .formInput {
                position: relative;
                border-radius: 50px;
                padding: 12px 54px 12px 54px;

                &Icon::before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 24px;
                    height: 24px;
                    top: 10px;
                    left: 20px;
                    @extend .ico;
                    @extend .icoSearch;
                    filter: invert(36%) sepia(0%) saturate(1037%) hue-rotate(183deg) brightness(100%) contrast(90%);
                    z-index: 1;
                }
            }
        }

        &Clear {
            @extend %buttonClear;
        }
    }

    &Map {
        svg {
            width: 100%;
        }

        &Area {
            cursor: pointer;

            &:hover {
                fill: $cl-primary2
            }

            &:active,
            &.active {
                fill: $cl-primary1
            }
        }

        &Bottom {
            @include display-flex;
            justify-content: space-between;
            margin-top: 20px;
            flex-direction: column;

            @include min-responsive($w-md) {
                margin-top: 30px;
                align-items: center;
                flex-direction: row;
            }

            .formInfo {
                color: $cl-primary2;

                .ico {
                    filter: invert(56%) sepia(26%) saturate(1234%) hue-rotate(176deg) brightness(97%) contrast(92%);
                }
            }
        }

        &.--margin {
            margin-top: -80px;
            margin-bottom: -100px;
            margin-left: -10px;
            margin-right: -10px;

            @include min-responsive($w-md) {
                margin: 0;
            }
        }
    }

    &Province {
        order: 1;
        margin-top: 10px;

        @include min-responsive($w-md) {
            margin-top: 0;
            order: unset;
        }

        &Item {
            display: none;
            height: inherit;
            margin-top: 10px;

            @include min-responsive($w-md) {
                margin-top: 30px;
            }
        }

        &Wrap {
            height: 100%;
            padding: 20px;
            border-radius: 10px;
            color: $cl-accent1;
            background: $cl-primary1;
        }

        &Title {
            margin-bottom: 10px;
            color: $cl-accent1;
        }

        .selectDrop {
            min-width: 282px;

            .styledSelect {
                padding: 10px 52px 10px 15px;

                &.open::after {
                    top: 15px;
                    transform: rotate(180deg);
                }

                &::after {
                    top: 18px;
                    transform: rotate(0);
                    border-style: solid;
                    border-width: 8px 6px 0 6px;
                    border-color: $cl-primary1 transparent transparent transparent;
                }
            }

            .select {
                border: 1.5px solid $cl-primary1;
            }
        }

        .icoShip {
            display: none;
            @extend %icoShip;
            width: 28px;
            height: 28px;
            margin-left: 10px;
            filter: invert(100%) sepia(0%) saturate(7435%) hue-rotate(160deg) brightness(114%) contrast(98%);
        }
    }
}