<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>
    {{!> ads/pushdown}}
    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- main -->
    <main role="main" class="main error text-center">
        <section class="container">

            <h1 class="errorTitle mt30">404</h1>

            <article class="content mt20">
                <p>Page not found.</p>
                <a href="index.html" class="buttonPrimary">Go back home <span class="icon icon-next"></span></a>
            </article>
        </section>

    </main>
    {{!> ads/sticky}}
    <!-- s: popup login -->
    {{> popup-login}}
    <!-- e: popup login -->

    <!-- footer -->
    {{> footer}}

    {{> js}}

</body>

</html>