<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>
    {{!> ads/pushdown}}
    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- main -->
    <main role="main" class="main">
        <section class="container">
            <aside>
                {{>about/about page="about"}}
            </aside>
            <h1 class="articleCaption mt30">Setiap kita juga berhak menginspirasi dan memberi dampak baik.</h1>
            <p>Shorts toast mumblecore forage echo meditation. Microdosing truck air yuccie offal kale
                flexitarian typewriter offal. Gatekeep affogato them poutine selvage pop-up plz
                slow-carb
                pack.
            </p>

            <div class="text-center mr10 mb10" style="float: left;">
                <img src="./asset/images/icon.png" alt="">
            </div>
            <p>Quinoa
                quinoa gatekeep sartorial chips portland. Coloring fixie retro next photo health
                probably
                food
                man post-ironic.</p>
            <p>Sriracha poutine pickled gentrify pitchfork tonx gochujang man. Mood
                rights
                bespoke pok skateboard yolo beard scenester messenger. Jomo aesthetic tbh wayfarers af
                lomo.</p>
            <p>Hashtag vibecession knausgaard vegan chambray locavore seitan cornhole charcoal diy.
            </p>
            <div class="article--black">
                <span>
                    Austin pug narwhal level asymmetrical yolo them lyft cliche. Tonx post-ironic neutra pinterest
                    bird iceland chic lumbersexual dreamcatcher yolo. Unicorn master chambray mlkshk copper.
                    Vibecession 90's green williamsburg vhs food chips distillery crucifix helvetica. Wayfarers
                    pinterest pok helvetica you put mukbang. Vinegar baby activated hammock disrupt prism yr.
                    Vibecession on pork it vinegar hoodie. 3-moon pbr&b sriracha craft blog bread. Freegan semiotics
                </span>
            </div>
        </section>

    </main>

    <!-- s: popup login -->
    {{> popup-login}}
    <!-- e: popup login -->

    <!-- footer -->
    {{> footer}}

    {{> js}}

</body>

</html>