<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>
    {{!> ads/pushdown}}
    <!-- header -->
    {{> header login=true}}
    <!-- header -->

    <!-- main -->
    <main role="main" class="main">
        <section class="container channel--video">
            {{> ads/top}}

            <div class="articleCaption mt30">+Vibes</div>
			<div class="articleCaption--sub mt5">Setiap kita juga berhak menginspirasi dan memberi dampak baik.
			</div>

            {{> highlight index_start=0 index_end=1 mt="10" tag="h1" col="col1" user=true style="text-center"}}

            {{> highlight index_start=0 index_end=8 mt="20" tag="h2" wrap=true cols="col-gd10-5" col="col2"}}

            <div class="flex-center mt10">
                <button class="button buttonMore">Load More</a>
            </div>
        </section>

    </main>
    {{!> ads/sticky}}

    <!-- footer -->
    {{> footer}}

    {{> js}}

</body>

</html>