<!DOCTYPE html>
<html lang="en">
{{> head page="Read" photozoom=true}}

<body>
    <!-- header -->
    {{> header page="" login=true}}
    <!-- header -->

    <!-- main -->
    <main role="main" class="main">
        <div class="container">
            {{> ads/top}}
        </div>

        <div class="readSlider article--black mt30">
            <div class="articleCaption">Must Read</div>
            {{>read/must index_start=0 index_end=8 mt="10"}}
        </div>
        <section class="read container images-container">
            <article>
                <div class="readTitle__sub mt30">Focus</div>
                <h1 class="readTitle">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo
                </h1>
                <div class="readWriter">Editor Kontemporer | 11 September 2021</div>
                <div class="flex-center jcontent-between mt20">
                    {{> read/cta}}
                    {{> read/share}}
                </div>
                <div class="readImg__wrap flex-center mt20">
                    {{!-- <div class="readImg__expand">
                        <img src="asset/images/sample/art-big-2.jpg" class="readImg" alt="" width="324" height="239"
                            loading="lazy">
                        <button class="button buttonExpand"><span class="icon icon-expand"></span>
                        </button>
                    </div>
                    <div class="readImg__thumb mt10">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Sit et
                        amet, parturient sed sodales. Ut est sed quis et adipiscing tristique. Maecenas vitae
                        nulla tellus nisl volutpat. </div> --}}
                    <figure class="readFigure" itemprop="associatedMedia" itemscope
                        itemtype="http://schema.org/ImageObject">
                        <a href="asset/images/sample/art-big-2.jpg" class="readFigure__link" itemprop="contentUrl"
                            data-size="324x239">
                            <img src="asset/images/sample/art-big-2.jpg" class="readImg" itemprop="thumbnail" alt=""
                                width="324" height="239" />
                            <button class="button buttonExpand" aria-label="Zoom Image"><span
                                    class="icon icon-expand"></span></button>
                        </a>
                        <figcaption itemprop="caption description" class="readImg__thumb mt10">
                            Lorem
                            ipsum dolor sit amet</figcaption>
                    </figure>
                </div>
                <div class="readContent mt20">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras id
                        eu libero. Sit turpis massa, non suscipit in bibendum nec volutpat viverra. Facilisi
                        faucibus facilisi pharetra pellentesque tristique. Lorem nullam placerat venenatis id
                        pretium magna viverra cursus placerat. Nullam pulvinar nulla id nisl id at hendrerit
                        massa.</p>
                    <p>
                        In ullamcorper quis justo, commodo tincidunt.
                        <a href="#">Nunc tellus sed neque lorem donec</a> sem. Gravida ac sit tempor diam. Morbi
                        sapien
                        hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                        nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                        dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                        Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                        porttitor amet morbi.
                    </p>
                    {{> ads/middle}}
                    <blockquote>Pellentesque habitant morbi tristique senectus et netus et malesuada
                        fames
                        ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit
                        amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae
                        est. Mauris placerat eleifend leo.</blockquote>
                    <p>
                        In ullamcorper quis justo, commodo tincidunt.
                        Nunc tellus sed neque lorem donec sem. Gravida ac sit tempor diam. Morbi sapien
                        hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                        nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                        dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                        Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                        porttitor amet morbi.
                    </p>
                    <div class="readOther mt20">Baca Juga : <a href="read.html" class="readOther__link">Potret Dulu
                            dan Kini Artis Berdarah Jepang, Bikin Melongo!</a></div>
                    <p>
                        In ullamcorper quis justo, commodo tincidunt.
                        Nunc tellus sed neque lorem donec sem. Gravida ac sit tempor diam. Morbi sapien
                        hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                        nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                        dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                        Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                        porttitor amet morbi.
                    </p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras
                            id eu libero. Sit turpis massa, non suscipit in bibendum.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras
                            id eu libero. Sit turpis massa, non suscipit in bibendum.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras
                            id eu libero. Sit turpis massa, non suscipit in bibendum.</li>
                    </ul>

                    <h2>Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h2>
                    <div class="readImg__wrap flex-center mt20">
                        {{!-- <div class="readImg__expand">
                            <img src="asset/images/sample/art-big-5.jpg" class="readImg" alt="" width="324" height="239"
                                loading="lazy">
                            <button class="button buttonExpand"><span class="icon icon-expand"></span>
                            </button>
                        </div>
                        <div class="readImg__thumb mt10">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Sit et
                            amet, parturient sed sodales. Ut est sed quis et adipiscing tristique. Maecenas vitae
                            nulla tellus nisl volutpat. </div> --}}
                        <figure class="readFigure" itemprop="associatedMedia" itemscope
                            itemtype="http://schema.org/ImageObject">
                            <a href="asset/images/sample/art-big-5.jpg" class="readFigure__link" itemprop="contentUrl"
                                data-size="324x239">
                                <img src="asset/images/sample/art-big-5.jpg" class="readImg" itemprop="thumbnail" alt=""
                                    width="324" height="239" />
                                <button class="button buttonExpand" aria-label="Zoom Image"><span
                                        class="icon icon-expand"></span></button>
                            </a>
                            <figcaption itemprop="caption description" class="readImg__thumb mt10">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Sit et
                                amet, parturient sed sodales. Ut est sed quis et.</figcaption>
                        </figure>
                    </div>
                    <p>
                        In ullamcorper quis justo, commodo tincidunt.
                        Nunc tellus sed neque lorem donec sem. Gravida ac sit tempor diam. Morbi sapien
                        hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                        nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                        dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                        Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                        porttitor amet morbi.
                    </p>
                    <p>
                        In ullamcorper quis justo, commodo tincidunt.
                        Nunc tellus sed neque lorem donec sem. Gravida ac sit tempor diam. Morbi sapien
                        hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                        nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                        dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                        Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                        porttitor amet morbi.
                    </p>
                    <ol>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras
                            id eu libero. Sit turpis massa, non suscipit in bibendum.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras
                            id eu libero. Sit turpis massa, non suscipit in bibendum.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras
                            id eu libero. Sit turpis massa, non suscipit in bibendum.</li>
                    </ol>

                    {{>read/writer-box}}

                    <div class="readCaption mt30">Simak Video Pilihan Di Bawah Ini :</div>
                    <div class="readContent__vid mt10">
                        <iframe width="340" height="239" src="https://www.youtube.com/embed/JjAtkmSd46g?controls=0"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </article>
            <div class="readTag mt20">
                Tags :
                <ul class="readTag__list display-flex">
                    <li><a href="#" class="readTag__link">#Relationship</a></li>
                    <li><a href="#" class="readTag__link">#Zodiak</a></li>
                    <li><a href="#" class="readTag__link">#Love</a></li>
                    <li><a href="#" class="readTag__link">#Tips</a></li>
                </ul>
            </div>
            <div class="readCaption--big mt30">Tambahkan Komentar</div>
            {{> read/comment}}

            {{> paging mt=30 active=false}}

            <div class="readCaption--big mt30">Editor Picks</div>
            {{> highlight index_start=1 index_end=5 mt="10" tag="h2" wrap=true cols="col-gd10-5" col="col2"}}

            <div class="display-flex aitems-center jcontent-end">
                <a href="#" class="buttonMore">+ More</a>
            </div>
        </section>

        {{> sidebar/trending}}

        {{> newsletter}}

    </main>
    <!-- s: popup photo element -->
    {{> read/pswp}}
    <!-- e: popup photo element -->

    <!-- s: popup report -->
    {{> read/popup-report}}
    <!-- e: popup report -->

    <!-- footer -->
    {{> footer}}

    {{> js page="Read" photozoom=true}}

</body>

</html>