<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>
    <!-- header -->
    {{> header page="" login=false}}
    <!-- header -->
    <!-- main -->
    <main role="main" class="main">
        <section class="container">
            <form class="col-gd-300 col-offset-auto mt30" action="">
                <h1 class="channelCaption text-center">Sign Up</h1>
                <div class="formWrap mt20">
                    <span class="icon icon-user formIcon">
                    </span>
                    <input class="formInput formInput__wicon text-center" id="name" type="text" placeholder="Name"
                        aria-label="Input Name">
                </div>
                <div class="formWrap mt20">
                    <span class="icon icon-mail formIcon">
                    </span>
                    <input class="formInput formInput__wicon text-center" id="email" type="email" placeholder="Email"
                        aria-label="Input Email">
                </div>
                <div class="formWrap mt20">
                    <span class="icon icon-phone formIcon">
                    </span>
                    <input class="formInput formInput__wicon text-center" id="phone" type="text"
                        placeholder="Nomor Ponsel" aria-label="Input Phone Number" inputmode="tel">
                </div>
                <div class="formWrap mt20">
                    <span class="icon icon-key formIcon">
                    </span>
                    <input class="formInput formInput__wicon formInput__icon text-center" id="password" type="password"
                        placeholder="Password" aria-label="Input Password">
                    <button class="button buttonEye" type="button" aria-label="Show password" toggle="#password"><span
                            class="icon icon-eye formIcon"></span></button>
                </div>
                <div class="formWrap text-center mt30">
                    <img src="asset/images/sample/captcha.jpg" alt="" width="324" height="85">
                </div>
                <div class="formWrap display-flex aitems-center mt30 mb10">
                    <input type="checkbox" id="checkbox" class="formCheck mr10" required="">
                    <label for="checkbox" class="formText">Saya setuju dengan <a href="#" class="underline">syarat
                            dan
                            ketentuan</a> yang berlaku</label>
                </div>
                <div class="formStatus formError text-center">
                    <span><img src="asset/images/icon-error.png" class="mr10" alt="" width="20" height="20"></span>
                    Email sudah digunakan
                </div>
                <div class="formStatus formSuccess text-center">
                    <span><img src="asset/images/icon-success.png" class="mr10" alt="" width="20" height="20"></span>
                    Selamat, akunmu berhasil dibuat!
                </div>
                <div class="text-center">
                    <button class="button buttonPrimary mt20" type="submit" name="submit">
                        Daftar
                    </button>
                    <div class="formText mt10">Sudah punya akun?
                        <button class="button underline" onclick="triggerActive('.-pLogin')">Login</button>
                    </div>
                </div>
            </form>
        </section>
    </main>
    
	<!-- s: popup login -->
	{{> popup-login}}
	<!-- e: popup login -->

    <!-- footer -->
    {{> footer}}

    {{> js page="faccess"}}

</body>

</html>