<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>
    {{!> ads/pushdown}}
    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- main -->
    <main role="main" class="main">
        <section class="container">
            <aside>
                {{>about/about page="team"}}
            </aside>

            <h1 class="articleCaption mt30">Meet Our Team</h1>
            <p>We’re a diverse group of writers, editors, designers, and storytellers united by a shared purpose: to
                amplify meaningful ideas and voices. With curiosity and care, we collaborate to bring thoughtful,
                impactful content to life—always grounded in truth and driven by purpose.</p>
            <ul class="channelList">
                <div class="channelItem article--black">
                    <div class="channelWrap display-flex">
                        <div class="channelTeam">
                            <img src="./asset/images/sample/team1.png" alt="" width="448" height="621">
                        </div>
                        <div class="channelContent">
                            <h3>Aaron Loeb</h3>
                            <div><i>Creative Director</i></div>
                            <hr>
                            <a href="#" target="_blank" rel="noopener noreferrer"><small>@aaronloeb</small></a>
                        </div>
                    </div>
                    <div class="channelContent">
                        <p>Shorts toast mumblecore forage echo meditation. Microdosing truck air yuccie offal
                            kale
                            flexitarian typewriter offal. Gatekeep affogato them poutine selvage pop-up plz
                            slow-carb pack.</p>
                    </div>
                </div>
                <div class="channelItem article--white col-onset-fluid">
                    <div class="channelWrap display-flex">
                        <div class="channelContent">
                            <h3>Juliana Silva</h3>
                            <div><i>Art Director</i></div>
                            <hr>
                            <a href="#" target="_blank" rel="noopener noreferrer"><small>@sjuliana</small></a>
                        </div>
                        <div class="channelTeam">
                            <img src="./asset/images/sample/team2.png" alt="" width="448" height="621">
                        </div>
                    </div>
                    <div class="channelContent">
                        <p>Shorts toast mumblecore forage echo meditation. Microdosing truck air yuccie offal
                            kale
                            flexitarian typewriter offal. Gatekeep affogato them poutine selvage pop-up plz
                            slow-carb pack.</p>
                    </div>
                </div>
                <div class="channelItem article--black">
                    <div class="channelWrap display-flex">
                        <div class="channelTeam">
                            <img src="./asset/images/sample/team3.png" alt="" width="448" height="621">
                        </div>
                        <div class="channelContent">
                            <h3>Cloudia Moves</h3>
                            <div><i>Graphic Designer</i></div>
                            <hr>
                            <a href="#" target="_blank" rel="noopener noreferrer"><small>@cloudmoves</small></a>
                        </div>
                    </div>
                    <div class="channelContent">
                        <p>Shorts toast mumblecore forage echo meditation. Microdosing truck air yuccie offal
                            kale
                            flexitarian typewriter offal. Gatekeep affogato them poutine selvage pop-up plz
                            slow-carb pack.</p>
                    </div>
                </div>
                <div class="channelItem article--white col-onset-fluid">
                    <div class="channelWrap display-flex">
                        <div class="channelContent">
                            <h3>Avery Davis</h3>
                            <div><i>Writer</i></div>
                            <hr>
                            <a href="#" target="_blank" rel="noopener noreferrer"><small>@davs</small></a>
                        </div>
                        <div class="channelTeam">
                            <img src="./asset/images/sample/team4.png" alt="" width="448" height="621">
                        </div>
                    </div>
                    <div class="channelContent">
                        <p>Shorts toast mumblecore forage echo meditation. Microdosing truck air yuccie offal
                            kale
                            flexitarian typewriter offal. Gatekeep affogato them poutine selvage pop-up plz
                            slow-carb pack.</p>
                    </div>
                </div>
            </ul>
        </section>

    </main>

    <!-- s: popup login -->
    {{> popup-login}}
    <!-- e: popup login -->

    <!-- footer -->
    {{> footer}}

    {{> js}}

</body>

</html>