<div class="ads adsWrap{{#eq mt compare=0}}{{else}} mt30{{/eq}}">
    <div class="adsTop adsCenter adsPlaceholder">
    <img src="asset/images/ads/top.jpg" alt="" width="360" height="180" loading="lazy">
    </div>
</div>