<footer class="footer">
    <div class="footerWrap">
        <a href="https://m.bisnis.com/">
            <amp-img src="asset/images/amp/logo-bisniscom-w.svg" alt="Bisnis.com" width="130" height="30"></amp-img>
        </a>
        <div class="footerLink d-flex">
            <div class="footerCol">
                <div class="footerLink__item footerLink--big">BIG Media</div>
                <a href="#" class="footerLink__item footerLink--small">Bisnis.com</a>
                <a href="#" class="footerLink__item footerLink--small">BisnisIndonesia.id</a>
                <a href="#" class="footerLink__item footerLink--small">BisnisMuda.id</a>
                <a href="#" class="footerLink__item footerLink--small">HypeAbis.id</a>
                <a href="#" class="footerLink__item footerLink--small">Context.id</a>
                <a href="#" class="footerLink__item footerLink--small">DataIndonesia.id</a>
                <a href="#" class="footerLink__item footerLink--small">Solopos.com</a>
                <a href="#" class="footerLink__item footerLink--small">HarianJogja.com</a>
            </div>
            <div class="footerCol">
                <div class="footerLink__item footerLink--big">BIG Services</div>
                <a href="#" class="footerLink__item footerLink--small">Epaper Bisnis Indonesia</a>
                <a href="#" class="footerLink__item footerLink--small">Konten Interaktif</a>
                <a href="#" class="footerLink__item footerLink--small">Konten Premium</a>
                <a href="#" class="footerLink__item footerLink--small">Bisnis Plus</a>
                <a href="#" class="footerLink__item footerLink--small">Bisnis TV</a>
                <a href="#" class="footerLink__item footerLink--small">BroadCast</a>
            </div>
        </div>
        <div class="footerSocmed">
            <div class="footerSocmed__nav d-flex">
                <a href="#" class="buttonDefault buttonApp">
                    <amp-img width="160" height="38" src="./asset/images/amp/download-gstore.svg" alt="Google Store">
                    </amp-img>
                </a>
                <a href="#" class="buttonDefault buttonApp">
                    <amp-img width="160" height="38" src="./asset/images/amp/download-astore.svg" alt="App Store">
                    </amp-img>
                </a>
            </div>
            <div class="footerSocmed__wrap c-flex">
                <a href="#" class="footerSocmed__item footerSocmed--fb">
                    <span class="footerSocmed__icon">
                        <amp-img src="./asset/images/amp/icon-fb.svg" alt="Facebook"
                            height="26" width="27"></amp-img>
                    </span>
                </a>
                <a href="#" class="footerSocmed__item footerSocmed--tw">
                    <span class="footerSocmed__icon">
                        <amp-img src="./asset/images/amp/icon-tw.svg" alt="Twitter"
                            height="26" width="27"></amp-img>
                    </span>
                </a>
                <a href="#" class="footerSocmed__item footerSocmed--ig">
                    <span class="footerSocmed__icon">
                        <amp-img src="./asset/images/amp/icon-ig.svg" alt="Instagram"
                            height="26" width="27"></amp-img>
                    </span>
                </a>
                <a href="#" class="footerSocmed__item footerSocmed--yt">
                    <span class="footerSocmed__icon">
                        <amp-img src="./asset/images/amp/icon-yt.svg" alt="Youtube"
                            height="26" width="27"></amp-img>
                    </span>
                </a>
            </div>
        </div>
        <div class="footerInfo">
            <a href="https://m.bisnis.com/page/about-us" class="footerLink__item footerLink--small">Tentang
                Kami</a>
            <a href="https://m.bisnis.com/page/advertise-with-us" class="footerLink__item footerLink--small">Info
                Iklan</a>
            <a href="https://m.bisnis.com/page/privacy-policy" class="footerLink__item footerLink--small">Kebijakan
                Privasi</a>
            <a href="https://m.bisnis.com/page/code-of-conduct" class="footerLink__item footerLink--small">Kode
                Etik</a>
            <a href="https://m.bisnis.com/page/contact-us" class="footerLink__item footerLink--small">Kontak
                Kami</a>
            <a href="https://m.bisnis.com/page/career" class="footerLink__item footerLink--small">Karir</a>
        </div>
    </div>
    <div class="footerCopyright">© 2022 - Bisnis Indonesia.</div>

</footer>