<header class="headerBlock d-flex">
	<div class="headerMenu">
		<button class="buttonDefault buttonBurger" on="tap:sidebar.toggle">
			<span class="icon-bar c-flex" aria-hidden="true"><i></i></span>
		</button>
	</div>
	<div class="headerLogo">
		<a href="https://m.bisnis.com/">
			<amp-img src="asset/images/amp/logo-bisniscom.png" alt="Bisnis.com" width="128" height="30"></amp-img>
		</a>
	</div>
	<div class="headerSearch">
		<a href="https://search.bisnis.com/mobile" class="">
			<span class="icon-search" aria-hidden="true"></span>
		</a>
	</div>
</header>