.header {
    &Login {
        @include font-pack(gothic, 15px, 600, false, #333);
        @include base_transition(background-color, .2s);

        &:hover {
            color: $cl-yellow;
        }
    }
}

.reg_kanal {
    &_nav{
        .reg_kanalLabel{
            padding: 0;
            display: block;
        }
    }
    &Label {
        label {
            margin-left: -20px;
            @include font-pack(gothic, 18px, 300, false, #333);
        }

        span {
            color: #f37826;
        }
    }
}

.flashnews__title{
    overflow: hidden;
}

.wrapper__flashnews-left, .flashnews__title{
    width: 165px;
}