.footer {
    position: relative;
    margin-top: 60px;
    padding-top: 10px;
    color: $cl-white;
    z-index: 0;

    @include min-responsive($w-lg) {
        margin-top: 100px;
        padding-top: 30px;
    }

    &Col {
        height: inherit;
    }

    &Row {
        &~.footerRow {
            .footerCaption {

                @include min-responsive($w-lg) {
                    margin-top: 16px;
                    margin-bottom: 10px;
                }
            }


            .footerTitle {
                margin-top: 20px;

                @include min-responsive($w-xl) {
                    margin-top: 40px;
                }

            }
        }
    }

    &Caption {
        margin-top: 36px;
        @include font-pack(false, $font-size-vnormal, $font-weight-bold, false, false);

        @include min-responsive($w-lg) {
            margin-top: 30px;
            font-size: $font-size-xmedium;
        }
    }

    &Title {
        @include font-pack(false, $font-size-medium, $font-weight-bold, false, false);

        @include min-responsive($w-lg) {
            font-size: $font-size-xmedium;
        }
    }

    &Logo {
        max-width: 185px;

        &__link {
            display: block;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &--small {
            margin-top: 4px;
            max-width: 120px;
        }
    }

    &Txt {
        margin-top: 12px;
    }

    &Link {
        display: block;

        &:hover {
            color: $cl-yellow;
        }

        span {
            display: inline-block;
            min-width: 70px;
        }
    }

    &Member {
        margin-top: 10px;
        margin-right: 15px;
        padding: 22px;
        background: $cl-white;
        border-radius: 10px;
        @include box_shadow(0 3px 6px rgba(0, 0, 0, .16));

        @include min-responsive($w-lg) {
            margin-top: 20px;
        }

        &:last-child {
            margin-right: 0;
        }

        &--alfi {
            padding: 8px 8px 8px 14px;
        }
    }

    &Socmed {
        &:hover {
            .icon {
                transform: scale(1.1);
            }
        }

        &__list {
            margin-top: 10px;

            @include min-responsive($w-lg) {
                margin-top: 20px;
            }
        }

        &__item {
            margin-right: 17px;

            &:last-child {
                margin-right: 0;
            }

            .icon {
                width: 32px;
                height: 32px;
                @include base_transition(all, .2s);

                @include min-responsive($w-lg) {
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }

    &Copy {
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid$cl-white;
        font-size: $font-size-small;

        @include min-responsive($w-lg) {
            justify-content: flex-start;
            margin-top: 60px;
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: $font-size-vnormal;
        }

        &__item {
            position: relative;
            padding-right: 8px;
            margin-right: 10px;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 4px;
                right: 0;
                width: 1px;
                height: 16px;
                border-right: 1px solid $cl-white;

                @include min-responsive($w-lg) {
                    top: 4px;
                    height: 20px;
                }
            }

            &:last-child:after {
                content: none;
            }
        }
    }
}