.nav {
    &.active {
        .navList {
            visibility: visible;
            opacity: 1;
        }
    }

    &List {
        margin-top: 8px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        
        @include min-responsive($w-xl) {
            margin-top: 0;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        &.mobile {
            position: fixed;
            width: 100%;
            height: 100%;
            margin-top: 0;
            padding: 10px;
            top: 50px;
            left: 0;
            z-index: 3;
            background: rgba(255, 49, 21, .88);
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            visibility: hidden;
            opacity: 0;
            @include base_transition(all, .2s);
        }
    }

    &Item {
        position: relative;
        width: 100%;

        @include min-responsive($w-xl) {
            width: auto;
            margin-left: 14px;
            margin-right: 14px;
        }

        &.active {

            .navLink,
            .navOpen {
                color: $cl-white;

                &:after {
                    opacity: 1;
                }

                .navLink {
                    color: $cl-primary-black;

                    &:hover {
                        color: $cl-yellow;
                    }
                }
            }
        }

        &>.navLink,
        .navOpen {
            outline: 0;
        }
    }

    &Link,
    &Open {
        display: block;
        padding: 10px;
        position: relative;
        text-transform: uppercase;
        @include font-pack($font-base, $font-size-small, $font-weight-bold, 1.8, $cl-white);

        &:hover {
            color: $cl-yellow;
        }

        @include min-responsive($w-xl) {
            font-size: 18px;
        }
    }

    &Open {
        cursor: pointer;

        &.active {
            .icon-chevron:after {
                top: 0;
                transform: rotate(225deg);
            }
        }

        &:hover,
        &:focus {
            .navSub {
                @extend .visible;
            }
        }

        .icon-chevron {
            margin-left: 6px;
        }
    }

    &Sub {
        @extend .hidden;
        position: relative;
        top: 0;
        left: 20px;
        background: transparent;
        z-index: 1;

        @include min-responsive($w-xl) {
            width: 185px;
            padding: 8px 15px;
            position: absolute;
            top: 45px;
            left: -1px;
            border-radius: 10px;
            background: $cl-white;
            @include box_shadow(0 3px 6px rgba(0, 0, 0, .16));
        }

        .navLink {
            line-height: 1.2;
            outline: 0;

            @include min-responsive($w-xl) {
                padding: 10px 0;
                color: #505050;
                border-bottom: 1px solid #C2C2C2;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}