.container {
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
    margin-right: auto;
    margin-left: auto;
    width: 1110px;
}

.col {
    &-left {
        padding-left: 22px;
    }

    &-right {
        padding-right: 18px;
    }
}

.root {
    position: relative;
    background: $cl-white;

    .main {
        padding-top: 70px;
    }

    .flashnews {
        ~.main {
            padding-top: 100px;

            .menuPanel {
                top: 100px;
                height: calc(100vh - 100px);
            }
        }

        ~header .headerTop {
            top: 30px;
        }

        ~.skyscrapper {
            transform: translateY(160px);

            &.-top {
                transform: translateY(100px);
            }
        }
    }
}