.header {
    --hg-htop: 70px;

    &::after {
        content: "";
        display: table;
        clear: both;
    }

    &Top {
        position: fixed;
        width: 100%;
        top: 0;
        background: $cl-white;
        z-index: 5;
        transition: transform .2s ease;
    }

    &Wrap {
        @include display_flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 16px;
        padding-bottom: 16px;
        height: var(--hg-htop);
        overflow: hidden
    }

    &Logo {
        transition: opacity .8s ease;

        &--bisniscom {
            @extend .hidden;
        }
    }

    &Cta {
        @include display_flex;
        gap: 20px;
    }

    &Login {
        .icoLogin {
            @extend %icoLogin;
        }

        img {
            object-fit: cover;
        }

        .icoLogin,
        img {
            width: 36px;
            height: 36px;
        }
    }

    &Search {
        .icoSearch {
            width: 20px;
            height: 20px;
            filter: invert(22%) sepia(0%) saturate(0%) hue-rotate(190deg) brightness(102%) contrast(85%);
        }
    }
}