.onfixed {
    background: #dbdbdb;
    transition: all .5s ease-out;
    padding-left: 22px;
    padding-right: 22px;
    width: 100%;
    overflow: hidden;

    &Wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-left: 0;
        padding-right: 0;

        @include min-responsive($mgtablet) {
            width: 1375px;
            padding-right: 22px;
            padding-left: 22px;
        }
    }

    .detailTitle {
        flex: 1;
        margin-right: 20px;
        @include title_clamp(1);
        @include font-pack(false, 17px, $font-weight-sbold, false, $cl-black);
    }
}