<div class="dis">
    <div class="disBox spacing-sm">
        {{>detail/discussion-item}}
    </div>
    <div class="disBox spacing-sm">
        {{>detail/discussion-item}}
    </div>
    <div class="disBox spacing-sm">
        {{>detail/discussion-item}}
    </div>
    <div class="disCtaWrap">
        <textarea class="formArea formInput spacing-sm" name="" cols="30" rows="4" inputmode="text"
            placeholder="Apa yang ingin kamu tanyakan tentang produk ini?"
            aria-label="Apa yang ingin kamu tanyakan tentang produk ini?"></textarea>
        <div class="disCta">
            <button class="button buttonRect buttonRectGrad"><span>Kirim</span></button>
        </div>
    </div>
</div>