<ul class="tabItemWrap">
    <li class="tabItem{{#eq active compare="Ulasan Produk"}} active{{/eq}}">
        <a href="detail.html" class="button tabLink">
            Ulasan Produk
        </a>
    </li>
    <li class="tabItem{{#eq active compare="Diskusi"}} active{{/eq}}">
        <a href="detail-diss.html" class="button tabLink">
            Diskusi
        </a>
    </li>
</ul>