<div class="popup -pPhotos">
    <div class="popupWrap">
        <div class="popupBox reviewPopupbox col-12">
            <div class="popupHead">
                <div class="popupTitle"></div>
                <button class="button buttonClose" aria-label="Close Popup" onclick="closePopup()"><span
                        class="icon iconClose"></span></button>
            </div>
            <div class="popupContent reviewPopup">
                <div class="reviewPopupBig col-12 col-xl-8">
                    <div class="reviewPopupSlider">
                        <!-- item review -->
                        {{>detail/review-popup-item idx='0'}}
                        {{>detail/review-popup-item idx='1'}}
                        {{>detail/review-popup-item idx='2'}}
                        {{>detail/review-popup-item idx='3'}}
                        {{>detail/review-popup-item idx='4'}}
                        {{>detail/review-popup-item idx='5'}}
                        {{>detail/review-popup-item idx='6'}}
                        {{>detail/review-popup-item idx='7'}}
                        {{>detail/review-popup-item idx='8'}}
                        {{>detail/review-popup-item idx='9'}}
                        <!-- item review -->
                    </div>
                </div>
                <div class="col-12 col-xl-4 text-center">
                    <div class="reviewPhoto">
                        <!-- navigation review -->
                        {{>detail/review-photo w="100" h="100" idx='0' button=true}}
                        {{>detail/review-photo w="100" h="100" idx='1' button=true}}
                        {{>detail/review-photo w="100" h="100" idx='2' button=true}}
                        {{>detail/review-photo w="100" h="100" idx='3' button=true}}
                        {{>detail/review-photo w="100" h="100" idx='4' button=true}}
                        {{>detail/review-photo w="100" h="100" idx='5' button=true}}
                        {{>detail/review-photo w="100" h="100" idx='6' button=true}}
                        {{>detail/review-photo w="100" h="100" idx='7' button=true}}
                        {{>detail/review-photo w="100" h="100" idx='8' button=true}}
                        {{>detail/review-photo w="100" h="100" idx='9' button=true}}
                        <!-- navigation review -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>