<div class="rating">
    <div class="ratingProduct spacing-sm">
        <span class="icon iconStar"></span>
        4.8
        <span class="ratingMark">/5.0</span>
    </div>
    <div class="ratingProgress spacing-sm">
        <div class="ratingItem">
            <span class="ratingItemNum">5</span>
            <span class="icon iconStar"></span>
            <div class="ratingProgWrap">
                <div class="ratingProg" style="width: 94.4%"></div>
                <span>94.4%</span>
            </div>
        </div>
        <div class="ratingItem">
            <span class="ratingItemNum">4</span>
            <span class="icon iconStar"></span>
            <div class="ratingProgWrap">
                <div class="ratingProg" style="width: 2.8%"></div>
                <span>2.8%</span>
            </div>
        </div>
        <div class="ratingItem">
            <span class="ratingItemNum">3</span>
            <span class="icon iconStar"></span>
            <div class="ratingProgWrap">
                <div class="ratingProg" style="width: 1.9%"></div>
                <span>1.9%</span>
            </div>
        </div>
        <div class="ratingItem">
            <span class="ratingItemNum">2</span>
            <span class="icon iconStar"></span>
            <div class="ratingProgWrap">
                <div class="ratingProg" style="width: 0.9%"></div>
                <span>0.9%</span>
            </div>
        </div>
        <div class="ratingItem">
            <span class="ratingItemNum">1</span>
            <span class="icon iconStar"></span>
            <div class="ratingProgWrap">
                <div class="ratingProg" style="width: 0"></div>
                <span>0%</span>
            </div>
        </div>
    </div>
    <div class="ratingFilter spacing-sm">
        <div class="titleMedium">Filter Ulasan</div>
        <div class="sortLabel spacing-sm">
            Urutkan
        </div>
        <div class="desktop-only">
            <div class="sortFilter">
                {{>catalog/sort type="filter"}}
            </div>
        </div>
        <div class="mobile-only">
            {{>catalog/sort type="filter-mobile"}}
        </div>
        <div class="sortLabel spacing-sm">
            Rating
        </div>
        <div class="ratingItem sortItem">
            <input type="checkbox" name="rating5" id="rating5" class="formCheck" aria-label="5 Stars Rating">
            <span class="formCheckbox"></span>
            <label class="ratingList" for="rating5">
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
            </label>
        </div>
        <div class="ratingItem sortItem">
            <input type="checkbox" name="rating4" id="rating4" class="formCheck" aria-label="4 Stars Rating">
            <span class="formCheckbox"></span>
            <label class="ratingList" for="rating4">
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
            </label>
        </div>
        <div class="ratingItem sortItem">
            <input type="checkbox" name="rating3" id="rating3" class="formCheck" aria-label="3 Stars Rating">
            <span class="formCheckbox"></span>
            <label class="ratingList" for="rating3">
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
            </label>
        </div>
        <div class="ratingItem sortItem">
            <input type="checkbox" name="rating2" id="rating2" class="formCheck" aria-label="2 Stars Rating">
            <span class="formCheckbox"></span>
            <label class="ratingList" for="rating2">
                <span class="icon iconStar"></span>
                <span class="icon iconStar"></span>
            </label>
        </div>
        <div class="ratingItem sortItem">
            <input type="checkbox" name="rating1" id="rating1" class="formCheck" aria-label="1 star Rating">
            <span class="formCheckbox"></span>
            <label class="ratingList" for="rating1">
                <span class="icon iconStar"></span>
            </label>
        </div>
    </div>
</div>