<div class="review">
    <div class="reviewPhoto">
        {{>detail/review-photo w="100" h="100"}}
        {{>detail/review-photo w="100" h="100"}}
        {{>detail/review-photo w="100" h="100"}}
        {{>detail/review-photo w="100" h="100"}}
        <div class="reviewPhotoItem">
            <button class="button reviewPhotoTrig" aria-label="See more photos">+23</button>
        </div>
    </div>
    <div class="reviewList">
        {{>detail/review-item}}
        {{>detail/review-item}}
        {{>detail/review-item}}
    </div>
    <ul class="paging">
        {{>paging}}
    </ul>
</div>