<div class="reviewItem">
    <div class="ratingList" aria-label="5 Stars Rating">
        <span class="icon iconStar"></span>
        <span class="icon iconStar"></span>
        <span class="icon iconStar"></span>
        <span class="icon iconStar"></span>
        <span class="icon iconStar"></span>
    </div>
    <div class="userPost">
        Barang cakep!! Rekomended seller deh..
    </div>
    <div class="userWrap">
        Fulan bin Fulan
        <span class="userPostDate">20 menit lalu</span>
    </div>
    <div class="reviewPhoto">
        {{>detail/review-photo w="80" h="80"}}
        {{>detail/review-photo w="80" h="80"}}
        {{>detail/review-photo w="80" h="80"}}
    </div>
</div>