<div class="reviewPopupItem">
    {{>detail/review-photo w="100" h="100" photo=true}}
    <div class="reviewPopupContent">
        <div class="ratingList" aria-label="5 Stars Rating">
            <span class="icon iconStar"></span>
            <span class="icon iconStar"></span>
            <span class="icon iconStar"></span>
            <span class="icon iconStar"></span>
            <span class="icon iconStar"></span>
        </div>
        <div class="userPost">
            {{idx}} Barang cakep!! Rekomended seller deh..
        </div>
        <div class="userWrap">
            Fulan bin Fulan
            <span class="userPostDate">20 menit lalu</span>
        </div>
    </div>
</div>