<div class="review" id="review">
    <div class="reviewPhoto">
        {{>detail/review-photo w="100" h="100" photo=true}}
        {{>detail/review-photo w="100" h="100" photo=true}}
        {{>detail/review-photo w="100" h="100" photo=true}}
        {{>detail/review-photo w="100" h="100" photo=true}}
        <div class="reviewPhotoItem">
            <button class="button reviewPhotoTrig" onclick="triggerPopup('.-pPhotos'), slickPopupRev()" aria-label="See more photos">+23</button>
        </div>
    </div>
    <div class="reviewNav spacing-xs">
        <button class="button reviewNavBtn active">
            Semua
        </button>
        <button class="button reviewNavBtn">
            Dengan Foto
        </button>
        <button class="button reviewNavBtn">
            Dengan Deskripsi
        </button>
    </div>
    <div class="reviewList">
        {{>detail/review-item photo=true}}
        {{>detail/review-item photo=true}}
        {{>detail/review-item photo=true}}
    </div>
    <ul class="paging">
        {{>paging}}
    </ul>
</div>