.preloader {
    background: linear-gradient(180deg, #B5C5CF 0%, #3E7C74 100%);
    height: 100%;
    width: 100%;
    z-index: 11;
    position: fixed;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        object {
            max-width: 150px;

            @include min-responsive($w-md) {
                max-width: unset;
            }
        }
    }
}