.bgColor {
    position: fixed;
    top: 0;
    left: 0;
    @include display_full;
    transition: opacity .4s ease-in-out;

    &__white {
        background: $cl-white;
    }

    &__circle {
        z-index: 1;
        max-width: unset;

        img {
            opacity: .5;
            position: absolute;
            @include auto_center;
        }
    }

    &__orange {
        background: #F99D3C;
        background: linear-gradient(180deg, #FDDFBF -20.77%, #FAAF61 47.45%, #F99D3C 86.1%);
    }

    &__blue {
        background: #97D0EF;
    }

    &__grey {
        background: #EEEEEE;
    }

    &__cloud {
        background-image: url(../images/cover-cloud-mob.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        @include min-responsive($w-vlg) {
            background-image: url(../images/cover-cloud.jpg);
        }
    }
}