.oculus {
    margin-top: 33px;
    position: absolute;
    width: 100%;
    @include auto_center;
    flex-direction: column;
    transition: opacity .4s ease-in-out;

    &.zoom {
        transition-delay: 200ms;
        transform: scale(2) translateY(-27%) translateX(-27%);
        transition: transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);

        @include min-responsive($w-vlg) {
            transform: scale(3) translateY(-16%) translateX(-18%);

            @include max-height($w-hmd) {
                transform: scale(2.3) translateY(-22%) translateX(-23%);
            }
        }

        @include min-responsive($w-xxl) {
            transform: scale(3) translateY(-16%) translateX(-17.5%);
        }

        @include min-responsive($w-xxxl) {
            transform: scale(3) translateY(-16%) translateX(-16.5%);
        }
    }

    &Img {
        position: relative;
        z-index: 1;

        &:before,
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 235px;
            height: 208px;
            top: 98px;
            background: url(../images/loader-hand-left-mob.png);
            background-size: contain;
            background-repeat: no-repeat;
            z-index: -1;

            @include min-responsive($w-vlg) {
                display: none;
            }
        }

        &:before {
            left: -154px;
        }

        &:after {
            right: -154px;
            transform: scaleX(-1);
            filter: FlipH;
        }
    }

    &Hand {
        display: none;
        position: absolute;
        bottom: 0;
        z-index: 0;

        @include min-responsive($w-vlg) {
            display: block;

            @include max-height($w-hmd) {
                max-width: 420px;
            }
        }

        @include min-responsive($w-xxxl) {
            bottom: -54px;
        }

        &--left {
            left: 0;

            @include min-responsive($w-xxxl) {
                left: 228px;
            }
        }

        &--right {
            right: 0;
            transform: scaleX(-1);
            filter: FlipH;

            @include min-responsive($w-xxxl) {
                right: 228px;
            }
        }
    }
}