.preloader--digi {
    background: #F05A23;

    .preloaderTxt {
        margin-top: 25px;
        text-transform: uppercase;
        @include font-pack($font-base, 14px, $font-weight-normal, 1.5, $cl-white);

        @include min-responsive($w-md) {
            font-size: 18px;
        }
    }
}