<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Kontemporer</title>
    <meta name="description" content="Kontemporer">
    <meta name="keywords" content="">

    <meta property="og:type" content="article" />
    <!-- s: fb meta -->
    <meta property="og:url" content="" />
    <meta property="og:title" content="Kontemporer" />
    <meta property="og:description" content="Kontemporer" />

    <meta property="og:image" content="" />
    <meta property="fb:admins" content="1386097730" />
    <meta property="fb:app_id" content="161133340609176" />
    <!-- s:twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="Kontemporer" />
    <meta name="twitter:description" content="Kontemporer" />
    <meta name="twitter:image" content="" />
    <!-- e:twitter card -->    
    <link rel="icon" href="./asset/images/favicon.ico"
        type="image/x-icon">

    <link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">

    <style>
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Montserrat'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-display: swap;
            src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-display: swap;
            src: local('Montserrat Semi-bold'), local('Montserrat-Semi-bold'), url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="asset/css/select2/select2.css">
    <link type="text/css" rel="stylesheet" href="asset/css/style-profile.css">
    <link rel="preload" href="asset/images/kontemporer-logo-transparent.png" as="image" />

</head>
<body>

    <!-- header -->
    <header class="header">
        <div class="headerFixed">
            <div class="container display-flex aitems-center">
                <div class="headerSearch">
                    <form class="search" action="">
                        <div class="display-flex">
                            <div class="searchWrap">
                                <input class="formInput searchInput" id="search" type="text" value=""
                                    placeholder="Search inspiring idea" aria-label="Search">
                                <button class="button buttonSearch" aria-label="Search" type="submit" name="submit">
                                    <span class="icon icon-search"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="headerFixed__left display-flex">
                    <a href="index.html" class="headerFixed__logo">
                        <img src="asset/images/kontemporer-logo-transparent.png" alt="Kontemporer"
                            width="200" height="38">
                    </a>
                    <nav class="nav fixedNav">
                        <ul class="navList display-flex jcontent-center">
                            <li class="navItem"><a href="#"
                                    class="navLink">News</a></li>
                            <li class="navItem"><a href="#"
                                    class="navLink">Focus</a></li>
                            <li class="navItem"><a href="#"
                                    class="navLink">People</a></li>
                            <li class="navItem"><a href="channels.html"
                                    class="navLink">Voices</a></li>
                            <li class="navItem"><a href="#"
                                    class="navLink">+Vibes</a></li>
                            <li class="navItem"><a href="#"
                                    class="navLink">Books</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="display-flex aitems-center jcontent-end">
                    <div class="headerDate -getdate"></div>
                    <a href="profile-detail.html" class="navLink navLink__user flex-center">
                        <img src="asset/images/sample/user-big.jpg" width="35" height="35" alt=""
                            class="userAvatar userAvatar--nav mr10">
                        <div class="navUser__name">Shopie Anggita</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="headerContent container">
            <div class="headerLogo headerBg text-center">
                <a href="index.html">
                    <img src="asset/images/kontemporer-logo-transparent.png" alt="Kontemporer" width="391" height="74">
                    <div class="headerLogo__caption">Mempertegas Wawasan</div>
                </a>
            </div>
            <nav class="nav">
                <ul class="navList display-flex jcontent-center">
                    <li class="navItem"><a href="#"
                            class="navLink">News</a></li>
                    <li class="navItem"><a href="#"
                            class="navLink">Focus</a></li>
                    <li class="navItem"><a href="#"
                            class="navLink">People</a></li>
                    <li class="navItem"><a href="channels.html"
                            class="navLink">Voices</a></li>
                    <li class="navItem"><a href="#"
                            class="navLink">+Vibes</a></li>
                    <li class="navItem"><a href="#"
                            class="navLink">Books</a></li>
                </ul>
            </nav>
        </div>
    </header>    <!-- header -->

    <!-- main -->
    <main role="main">
        <div class="ads adsSkin">
            <div class="adsSkin__fluid adsSkin__fluid--left">
                <div class="adsSkin--left adsPlaceholder">
                    <img alt="" src="asset/images/ads/skin.jpg" width="120" height="600">
                </div>
            </div>
            <div class="adsSkin__fluid adsSkin__fluid--right">
                <div class="adsSkin--right adsPlaceholder">
                    <img alt="" src="asset/images/ads/skin.jpg" width="120" height="600">
                </div>
            </div>
        </div>        <section class="profile container">
            <div class="row display-flex mt40">
                <div class="profileCol_left col-gd-300">
                    <aside class="profileNav">
                        <div class="flex-center dir-column">
                            <img src="asset/images/user.png" alt="" class="profileAvatar" width="108" height="108">
                            <h1 class="profileName mt10">Sophie Anggita</h1>
                            <a href="profile-detail.html" class="button buttonPink buttonPink--small text-center mt20">Lihat profil</a>
                        </div>                        <ul class="profileNav__list">
                            <li class="profileNav__item">
                                <a href="profile.html" class="profileNav__link display-flex aitems-center">
                                    <span class="icon icon-home profileNav__icon"></span>
                                    Beranda
                                </a>
                            </li>
                            <li class="profileNav__item">
                                <a href="profile-setting.html" class="profileNav__link display-flex aitems-center">
                                    <span class="icon icon-user-colored profileNav__icon"></span>
                                    Ubah Profil
                                </a>
                            </li>
                            <li class="profileNav__item">
                                <a href="profile-write.html" class="profileNav__link active display-flex aitems-center">
                                    <span class="icon icon-write profileNav__icon"></span>
                                    Tulis Artikel
                                </a>
                            </li>
                            <li class="profileNav__item">
                                <a href="profile-published.html" class="profileNav__link display-flex aitems-center">
                                    <span class="icon icon-published profileNav__icon"></span>
                                    Sudah Terbit
                                </a>
                            </li>
                            <li class="profileNav__item">
                                <a href="profile-pending.html" class="profileNav__link display-flex aitems-center">
                                    <span class="icon icon-pending profileNav__icon"></span>
                                    Pending
                                </a>
                            </li>
                            <li class="profileNav__item">
                                <a href="profile-rejected.html" class="profileNav__link display-flex aitems-center">
                                    <span class="icon icon-rejected profileNav__icon"></span>
                                    Ditolak
                                </a>
                            </li>
                            <li class="profileNav__item">
                                <a href="profile-draft.html" class="profileNav__link display-flex aitems-center">
                                    <span class="icon icon-draft profileNav__icon"></span>
                                    Draft
                                </a>
                            </li>
                            <li class="profileNav__item">
                                <a href="#" class="profileNav__link profileNav__log display-flex aitems-center">
                                    <span class="icon icon-logout profileNav__icon"></span>
                                    Logout
                                </a>
                            </li>
                        </ul>                    </aside>
                </div>
                <div class="profileCol_right col-gd-740">
                    <div class="highlightCaption">Tulis Artikel</div>
                    <form class="mt30">
                        <div class="formSection profileForm">
                            <div class="formWrap mt20">
                                <label for="title" class="formLabel">Judul</label>
                                <input class="formInput formInput__error mt10" id="title" type="text">
                                <div class="formMisc display-flex aitems-center jcontent-between mt10">
                                    <div class="formWarn"><span class="icon icon-warn"></span>Judul harus diisi</div>
                                    <div class="formCount">50/50</div>
                                </div>
                            </div>
                            <div class="formSelect__wrap mt20">
                                <label for="categ" class="formLabel mb10">Kategori</label>
                                <select class="formSelect js-select2" name="categ" id="categ">
                                    false
                                    <option value="Focus">Focus</option>
                                    false
                                    <option value="People">People</option>
                                    false
                                    <option value="Voices">Voices</option>
                                    false
                                    <option value="+Vibes">+Vibes</option>
                                    false
                                    <option value="Books">Books</option>
                                </select>
                            </div>
                            <div class="formWrap formArea__wrap mt20">
                                <label for="desc" class="formLabel">Deskripsi Singkat</label>
                                <textarea class="formArea formArea__error mt10" id="desc" cols="30" rows="6"></textarea>
                                <div class="formMisc display-flex aitems-center jcontent-between mt10">
                                    <div>*Deskripsi singkat tentang artikelmu</div>
                                    <div class="formCount">150/150</div>
                                </div>
                                <div class="formMisc formWarn mt10"><span class="icon icon-warn"></span>Tambahkan deskripsi
                                    singkat
                                    tentang artikelmu</div>
                            </div>
                            <div class="formWrap mt20">
                                <div class="formLabel">Gambar Artikel</div>
                                <div class="formUpload mt10">
                                    <label for="upload" class="formUpload__btn button buttonPink buttonPink--small"><span><img
                                                src="asset/images/icon-folder.png" class="formUpload__icon" alt="" width="15"
                                                height="15"></span> Browse</label>
                                    <input type="file" name="upload" accept="image/*" id="upload" />
                                    <span class="fileName">Pilih file..</span>
                                </div>
                                <div class="formMisc mt10">*(Maksimal 5MB. Rekomendasi ukuran: 1900px x 998px. Format file yang
                                    diperbolehkan: jpg, png & gif.)</div>
                            </div>
                            <div class="formWrap formArea__wrap mt20">
                                <label for="captionimg" class="formLabel">Caption Gambar</label>
                                <textarea class="formArea mt10" id="captionimg" cols="30" rows="6"></textarea>
                                <div class="formMisc mt10">
                                    *Caption gambar wajib diisi dengan deskripsi gambar dan sumber gambar. Contoh: Berinvestasi
                                    sejak dini akan bermanfaat bagi masa depan (Sumber gambar: ABCD)
                                </div>
                            </div>
                            <div class="formWrap formArea__wrap mt20">
                                <div class="formLabel mb10">Deskripsi <span class="red">*</span></div>
                                <div id="editor0" class="editor">
                                    <p>This is the editor content.</p>
                                </div>
                            </div>
                        </div>                        <!-- s : more section -->
                        <div class="profileSection__wrap mt30">
                            <div class="profileHeading display-flex jcontent-between">
                                Subheading 1
                                <button type="button" class="button profileSection__del">Hapus</button>
                            </div>
                            <div class="formSection profileForm">
                                <div class="formWrap mt20">
                                    <label for="title1" class="formLabel">Judul</label>
                                    <input class="formInput formInput__error mt10" id="title1" type="text">
                                    <div class="formMisc display-flex aitems-center jcontent-between mt10">
                                        <div class="formWarn"><span class="icon icon-warn"></span>Judul harus diisi</div>
                                        <div class="formCount">50/50</div>
                                    </div>
                                </div>
                                <div class="formWrap mt20">
                                    <div class="formLabel">Gambar Artikel</div>
                                    <div class="formUpload mt10">
                                        <label for="upload1" class="formUpload__btn button buttonPink buttonPink--small"><span><img src="asset/images/icon-folder.png"
                                                    class="formUpload__icon" alt="" width="15" height="15"></span> Browse</label>
                                        <input type="file" name="upload1" accept="image/*" id="upload1" />
                                        <span class="fileName">Pilih file..</span>
                                    </div>
                                    <div class="formMisc mt10">*(Maksimal 5MB. Rekomendasi ukuran: 1900px x 998px. Format file yang
                                        diperbolehkan: jpg, png & gif.)</div>
                                </div>
                                <div class="formWrap formArea__wrap mt20">
                                    <label for="captionimg1" class="formLabel">Caption Gambar</label>
                                    <textarea class="formArea mt10" id="captionimg1" cols="30" rows="6"></textarea>
                                    <div class="formMisc mt10">
                                        *Caption gambar wajib diisi dengan deskripsi gambar dan sumber gambar. Contoh: Berinvestasi
                                        sejak dini akan bermanfaat bagi masa depan (Sumber gambar: ABCD)
                                    </div>
                                </div>
                                <div class="formWrap formArea__wrap mt20">
                                    <div class="formLabel mb10">Deskripsi <span class="red">*</span></div>
                                    <div id="editor1" class="editor">
                                        <p>This is the editor content.</p>
                                    </div>
                                </div>
                            </div>                        </div>
                        <div id="load">

                        </div>
                        <!-- e : more section -->
                        <button class="button buttonWhite buttonWhite--big mt30" id="buttonSection" type="button"><span
                                class="profileBtn__add mr10">+</span> Tambah Section</button>

                        <div class="formWrap mt20">
                            <div class="mb10">
                                <label for="tags" class="formLabel">Tag</label>
                            </div>
                            <input type="text" id="tags" class="formInput mt10 -tagselect" data-role="tagsinput" />
                            <div class="formMisc mt10">*Ketikkan label/tag artikel lalu tekan enter untuk menambahkan</div>
                        </div>                        <div class="display-flex aitems-center mt20">
                            <button class="button buttonPink buttonPink--medium mr10" type="submit">Submit</button>
                            <button class="button buttonWhite buttonWhite--small" type="button">Jadikan Draft</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <!-- footer -->
    <footer>
        <div class="footer text-center">
            <button class="button buttonTotop" aria-label="Back to top" onclick="backToTop()"><span
                    class="icon icon-next"></span></button>
            <a href="index.html" class="footerLogo">
                <img src="asset/images/kontemporer-logo-transparent.png" alt="Kontemporer" width="271" height="52" loading="lazy">
            </a>
            <div class="footerTxt mt10">Kontemporer is an independent media platform that amplifies impactful stories, people,
                and ideas</div>
    
            <ul class="footerList display-flex jcontent-center mt30">
                <li class="footerItem">
                    <a href="about-us.html" class="footerLink">About Us</a>
                </li>
                <li class="footerItem">
                    <a href="#" class="footerLink">FAQ</a>
                </li>
                <li class="footerItem">
                    <a href="#" class="footerLink">Contact Us</a>
                </li>
                <li class="footerItem">
                    <a href="cyber.html" class="footerLink">Pedoman Media Cyber</a>
                </li>
                <li class="footerItem">
                    <a href="#" class="footerLink">Policy</a>
                </li>
                <li class="footerItem">
                    <a href="#" class="footerLink">Community Guideline</a>
                </li>
            </ul>
            <ul class="footerList flex-center mt30">
                <li class="footerItem footerSocial">
                    Find us :
                </li>
                <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Facebook"><span class="icon icon-fb"></span></a></li>
                <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Instagram"><span class="icon icon-ig"></span></a></li>
                <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Twitter"><span class="icon icon-tw"></span></a></li>
                <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Youtube"><span class="icon icon-yt"></span></a></li>
                <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Tiktok"><span class="icon icon-tiktok"></span></a></li>
                <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Linkedin"><span class="icon icon-ln"></span></a></li>
            </ul>
            <div class="footerBottom mt40">
                © 2025 PT Kontemporer Media. All Right Reserved.
            </div>
        </div>
    </footer>
    <script src="asset/js/jquery-3.5.0.min.js"></script>
    <script defer type="text/javascript" src="asset/js/global.js"></script>
    <script defer type="text/javascript" src="asset/js/profile.min.js"></script>
    <script src="//cdn.gaic.com/cdn/ui-bootstrap/0.58.0/js/lib/ckeditor/ckeditor.js"></script>
    <script defer src="./asset/js/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script defer src="./asset/js/select2/select2.min.js"></script>
    <script defer type="text/javascript" src="asset/js/more-section.min.js"></script>
    <script>
        $(document).ready(function () {
            //upload image
            $('input[type=file]').change(function (e) {
                $in = $(this);
                $in.next().html($in.val());
            });

            //desc editor
            $('.editor').each(function () {
                CKEDITOR.replace($(this).prop('id'));
            });
            //CKEDITOR.replace('editor');
            CKEDITOR.editorConfig = function (config) {
                config.extraPlugins = 'confighelper';
            };

            //delete section
            var btndel = $('.profileSection__del');
            btndel.click(function (e) {
                $(this).parent().parent().remove();
            })

            //tags label
            $('.-tagselect').tagsinput({
                freeInput: true,
                tagClass: 'tagsItem'
            });

            //select2 category
            $('.js-select2').select2({
                width: '100%',
                "language": {
                    "noResults": function () {
                        return "Hasil tidak ditemukan";
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
        })
    </script>

</body>

</html>