<header class="header">
    <div class="headerTop">
        <div class="headerWrap container">
            <div class="menu">
                <button class="button menuBar" aria-label="Navigation menu" onclick="toggleMenu(this)">
                    <span><i></i></span>
                </button>
            </div>
            <div class="headerLogoWrap">
                <div class="headerLogo headerLogo--kanal">
                    <a href="index.html">
                        <img src="./asset/images/logo/-logo.svg" alt="" width="180"
                            height="49">
                    </a>
                </div>
                <div class="headerLogo headerLogo--bisniscom">
                    <a href="https://bisnis.com/">
                        <img src="./asset/images/logo/bisniscom-logo.svg" alt="" width="190" height="43" loading="lazy">
                    </a>
                </div>
            </div>
            <div class="headerCta">
                <div class="headerSearch">
                    <a href="#" class="buttonSearch center-flex" aria-label="Cari berita terkini">
                        <span class="icoInline icoSearch"></span>
                    </a>
                </div>
                <div class="headerLogin">
                    <a href="#" aria-label="Login">
                        <span class="icoInline icoLogin"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>