<header class="header">
    <div class="headerTop">
        <div class="headerWrap container">
            <div class="menu">
                <button class="button menuBar" aria-label="Navigation menu" onclick="toggleMenu(this)">
                    <span><i></i></span>
                </button>
            </div>
            <div class="headerLogoWrap">
                <div class="headerLogo headerLogo--kanal">
                    <a href="index-.html" aria-label="kanal [object Object]">
                        <img src="./asset/images/logo/-logo.svg" alt=""
                            width="180"
                            height="49">
                    </a>
                </div>
            </div>
            <div class="headerCta">
                <div class="headerSearch">
                    <a href="#" class="buttonSearch center-flex" aria-label="Cari berita terkini" title="Cari di sini">
                        <span class="icoInline icoSearch"></span>
                    </a>
                </div>
                <div class="headerLogin">
                    <a href="#" aria-label="Login" title="Login Bisnis ID">
                        <span class="icoInline icoLogin"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>