<nav class="navMenu" aria-label="primarynavigation">
    <ul class="navList center-flex">
        <li class="navItem">
            <a href="https://www.bisnis.com/">
                <img src="./asset/images/icon/icon-bisniscom.svg" alt="Bisniscom icon" width="36" height="36">
            </a>
        </li>
        <li class="navItem -active">
            <a href="" class="navLink">
                
            </a>
        </li>
        <li class="navItem -active">
            <a href="" class="navLink">
                
            </a>
        </li>
        <li class="navItem -active">
            <a href="" class="navLink">
                
            </a>
        </li>
        <li class="navItem -active">
            <a href="" class="navLink">
                
            </a>
        </li>
        <li class="navItem -active">
            <a href="" class="navLink">
                
            </a>
        </li>
        <li class="navItem -active">
            <a href="" class="navLink">
                
            </a>
        </li>
        <li class="navItem -active">
            <a href="" class="navLink">
                
            </a>
        </li>
        <li class="navItem -active">
            <a href="" class="navLink">
                
            </a>
        </li>
    </ul>
</nav>