<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <!-- Google Tag Manager -->
    {{> gtm2}}
    <!-- End Google Tag Manager -->

    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- preloader -->
    {{> preloader}}
    <!-- preloader -->

    <!-- main -->

    <!-- Content -->
    <div class="cover">
        <div class="coverSnap">
            <div class="coverBg">
                <div class="back">
                </div>
                <picture class="center">
                    <source srcset="./asset/images/cover/bg-center.png" media="(min-width: 768px)">
                    <source srcset="./asset/images/cover/bg-center-m.png" media="(max-width: 767px)">
                    <img src="./asset/images/cover/bg-center.png" alt="">
                </picture>
            </div>
            <div class="container">
                <h1 class="coverTitle articleCaption">
                    <picture class="center">
                        <source srcset="./asset/images/cover/indonesia-bebas-kemiskinan-ekstrem.png"
                            media="(min-width: 768px)">
                        <source srcset="./asset/images/cover/indonesia-bebas-kemiskinan-ekstrem-m.png"
                            media="(max-width: 767px)">
                        <img src="./asset/images/cover/indonesia-bebas-kemiskinan-ekstrem.png"
                            alt="Indonesia Bebas Kemiskinan Ekstrem">
                    </picture>
                    <span class="coverText">Dari Kebijakan hingga Kisah Sukses Warga</span>
                </h1>
            </div>
            <div class="sectionDash"></div>
        </div>
        <div class="coverScroll">
            <div class="coverScrollAddt">
                <div class="sun"></div>
                <div class="cloud cloud1"></div>
                <div class="cloud cloud2"></div>
                <div class="cloud cloud3"></div>
                <div class="cloud cloud4"></div>
                <div class="cloud cloud5"></div>
            </div>

            <div class="scroll-area">

                <!-- images -->
                <div class="coverScrollStage">
                    <div class="coverScrollStill">
                        <picture class="home">
                            <source srcset="./asset/images/cover/home.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/cover/home-m.png" media="(max-width: 767px)">
                            <img src="./asset/images/cover/home.png" alt="" loading="lazy">
                        </picture>

                        <picture class="ibu">
                            <source srcset="./asset/images/cover/ibu-aruni.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/cover/ibu-aruni-m.png" media="(max-width: 767px)">
                            <img src="./asset/images/cover/ibu-aruni.png" alt="" loading="lazy">
                        </picture>
                    </div>

                    <div class="coverScrollCircle sectionFloat">
                        <ul class="coverScrollBg">
                            <li>
                                <picture>
                                    <source srcset="./asset/images/cover/school.png" media="(min-width: 768px)">
                                    <source srcset="./asset/images/cover/school-m.png" media="(max-width: 767px)">
                                    <img src="./asset/images/cover/school.png" alt="" loading="lazy">
                                </picture>
                                <span>Sekolah</span>
                            </li>
                            <li>
                                <picture>
                                    <source srcset="./asset/images/cover/college.png" media="(min-width: 768px)">
                                    <source srcset="./asset/images/cover/college-m.png" media="(max-width: 767px)">
                                    <img src="./asset/images/cover/college.png" alt="" loading="lazy">
                                </picture>
                                <span>Kuliah</span>
                            </li>
                            <li>
                                <picture>
                                    <source srcset="./asset/images/cover/work.png" media="(min-width: 768px)">
                                    <source srcset="./asset/images/cover/work-m.png" media="(max-width: 767px)">
                                    <img src="./asset/images/cover/work.png" alt="" loading="lazy">
                                </picture>
                                <span>Kerja</span>
                            </li>
                        </ul>
                        <picture class="mas-k">
                            <source srcset="./asset/images/cover/mas-kacamata.png" media="(min-width: 768px)">
                            <source srcset="./asset/images/cover/mas-kacamata-m.png" media="(max-width: 767px)">
                            <img src="./asset/images/cover/mas-kacamata.png" alt="" loading="lazy">
                        </picture>
                    </div>
                </div>

                <!-- texts -->
                <div class="coverScrollList">
                    <div class="coverScrollContent coverScrollContent1">Fajar baru saja menyingsing.</div>
                    <div class="coverScrollContent coverScrollContent2">Udara pagi yang segar menyapa ketika Ibu Aruni
                        selesai membersihkan rumah dan menyiapkan sarapan untuk keluarganya. Hidupnya kini terasa lebih
                        ringan.</div>
                    <div class="coverScrollContent coverScrollContent3">Anaknya sudah lulus kuliah dan bekerja,
                        sementara warung kecil di samping rumah cukup
                        untuk memenuhi kebutuhan sehari-hari.</div>
                </div>

            </div>
        </div>

        <div class="coverLead sectionSpacing">
            <div class="sectionDash --top"></div>
            <div class="container">
                <div class="coverLeadImg text-center articleTitleSpacing">
                    <picture>
                        <source srcset="./asset/images/cover/kemiskinan-ekstrem.png" media="(min-width: 768px)">
                        <source srcset="./asset/images/cover/kemiskinan-ekstrem-m.png" media="(max-width: 767px)">
                        <img src="./asset/images/cover/kemiskinan-ekstrem.png" alt="" loading="lazy">
                    </picture>
                </div>
                <p>Kemiskinan adalah persoalan klasik yang dihadapi hampir semua negara di dunia. Melalui Perserikatan
                    Bangsa-Bangsa (PBB), negara-negara berkomitmen untuk menghapus kemiskinan ekstrem pada tahun 2030
                    sebagai bagian dari Tujuan Pembangunan Berkelanjutan (SDGs).
                </p>
                <p>
                    Namun, Indonesia menargetkan sesuatu yang lebih ambisius, yaitu <strong>bebas kemiskinan ekstrem
                        pada 2024</strong>,
                    enam
                    tahun lebih cepat dari target global. Program ini menjadi salah satu prioritas nasional yang terus
                    dijalankan lintas pemerintah.</p>
                <div class="buttonNextWrap sectionSpacingDouble">
                    <a class="buttonNext" href="section-1.html">Lanjut</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->

    <!-- main -->

    {{> js page="cover"}}

</body>

</html>