<!DOCTYPE html>
<html lang="en">

{{> head page="insights" child=true}}

<body>
    <main role="main" class="insights">
        {{!> header/header}}

        <!-- preloader -->
        {{> preloader-insights}}
        <!-- preloader -->

        <div class="bgStatic bgStatic--warn">
            <div class="articleContent text-center">
                For better experience, rotate your screen or switch to bigger screen.
            </div>
        </div>

        <!-- Template Background Color -->
        <div class="bgColor__wrap">
            <div class="bgColor bgColor__white"></div>
        </div>
        <!-- Template Background Color -->
        <!-- Template Image Content -->
        <div class="bgStatic__wrap active">
            <div class="bgStatic insightsMenu">
                <div class="insightsMenu__wrap container center-flex heightFull">
                    <div class="articleContent">
                        <h1 class="articleCaption">Ragam <i>insight</i> yang dapat diperoleh:</h1>
                    </div>
                    <div class="insightsList display-flex">
                        <button class="button insightsItem i1">
                            <picture class="insightsImg">
                                <source srcset="./asset/images/insight-1-mob.png" media="(max-width: 768px)" alt=""
                                    width="100" height="100">
                                <img srcset="./asset/images/insight-1.png" alt="" class="" width="244" height="588">
                            </picture>
                            <h2 class="insightsTitle articleContent">Majalah Prioritas</h2>
                        </button>
                        <button class="button insightsItem i2">
                            <picture class="insightsImg">
                                <source srcset="./asset/images/insight-2-mob.png" media="(max-width: 768px)" alt=""
                                    width="100" height="100">
                                <img srcset="./asset/images/insight-2.png" alt="" class="" width="244" height="588">
                            </picture>
                            <h2 class="insightsTitle articleContent">Website
                                prioritas.bca.co.id</h2>
                        </button>
                        <button class="button insightsItem i3">
                            <picture class="insightsImg">
                                <source srcset="./asset/images/insight-3-mob.png" media="(max-width: 768px)" alt=""
                                    width="100" height="100">
                                <img srcset="./asset/images/insight-3.png" alt="" class="" width="244" height="588">
                            </picture>
                            <h2 class="insightsTitle articleContent">Webinar/Event
                            </h2>
                        </button>
                    </div>
                </div>
            </div>
            <div class="bgStatic insightsBox magz opac0">
                <div class="container heightFull">
                    <div class="insightsWrap center-flex heightFull">
                        <div class="articleContent">
                            <h2 class="articleCaption">
                                Majalah Prioritas
                            </h2>
                            <p>Majalah Prioritas menghadirkan beragam berita ekonomi, bisnis, dan gaya hidup untuk
                                memberikan inspirasi dan menunjang kebutuhan bisnis dan personal Anda.</p>
                            <p>Majalah Prioritas juga hadir dalam format e-magazine yang dapat diakses di Website
                                <a href="https://prioritas.bca.co.id" target="_blank"
                                    rel="noopener noreferrer">prioritas.bca.co.id</a>
                            </p>
                        </div>
                        <div class="articleImg">
                            <picture class="magzImg">
                                <source srcset="./asset/images/magz-mob.jpg" media="(max-width: 768px)" alt=""
                                    width="130" height="257">
                                <img srcset="./asset/images/magz.jpg" alt="" class="" width="375" height="504">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic insightsBox web opac0">
                <div class="container heightFull">
                    <div class="insightsWrap display-flex heightFull">
                        <div class="webContent articleContent">
                            <h2 class="articleCaption">
                                Website <a href="https://prioritas.bca.co.id" target="_blank"
                                    rel="noopener noreferrer">prioritas.bca.co.id</a>
                            </h2>
                            <p>Media online eksklusif bagi nasabah BCA Solitaire & Prioritas</p>
                        </div>
                        <div class="articleImg">
                            <picture class="webImg">
                                <img srcset="./asset/images/web.png" alt="" class="" width="607" height="343">
                            </picture>
                            <picture class="websiteImg">
                                <img srcset="./asset/images/web-img.jpg" alt="" class="" width="483" height="311">
                            </picture>
                        </div>
                        {{!-- <ul class="webList articleContent">
                            <li class="webItem webItem1">Mendapatkan informasi bisnis, keuangan dan gaya hidup, serta
                                promosi dan privilege bagi nasabah.</li>
                            <li class="webItem webItem2">Membangun koneksi dan mempromosikan bisnis dalam Business
                                Community</li>
                            <li class="webItem webItem3">Memonitor portofolio keuangan di BCA hingga 2 tahun ke belakang
                                dalam satu laporan portofolio Combined Statement</li>
                            <li class="webItem webItem4">Memonitor portofolio keuangan di BCA hingga 2 tahun ke belakang
                                dalam satu laporan portofolio Combined Statement</li>
                            <li class="webItem webItem5">Memonitor portofolio keuangan di BCA hingga 2 tahun ke belakang
                                dalam satu laporan portofolio Combined Statement</li>
                            <li class="webItem webItem6">Akses seluruh keistimewaan tersebut di <a
                                    href="https://prioritas.bca.co.id" target="_blank"
                                    rel="noopener noreferrer">prioritas.bca.co.id</a></li>
                        </ul> --}}
                    </div>
                </div>
            </div>
            <div class="bgStatic insightsBox event opac0">
                <div class="container heightFull">
                    <div class="insightsWrap center-flex heightFull">
                        <div class="articleContent">
                            <h2 class="articleCaption">
                                Webinar/Event
                            </h2>
                            <p>Kegiatan online maupun offline yang menghadirkan pakar khusus di bidangnya dengan topik
                                teraktual</p>
                        </div>
                        <div class="articleImg">
                            <picture class="eventImg eventImg2">
                                <source srcset="./asset/images/webinar-photo-2-mob.png" media="(max-width: 768px)"
                                    alt="" width="130" height="257">
                                <img srcset="./asset/images/webinar-photo-2.png" alt="" class="" width="409"
                                    height="291">
                            </picture>
                            <picture class="eventImg eventImg3">
                                <source srcset="./asset/images/webinar-photo-3-mob.png" media="(max-width: 768px)"
                                    alt="" width="130" height="257">
                                <img srcset="./asset/images/webinar-photo-3.png" alt="" class="" width="324"
                                    height="311">
                            </picture>
                            <picture class="eventImg eventImg1">
                                <source srcset="./asset/images/webinar-photo-1-mob.png" media="(max-width: 768px)"
                                    alt="" width="130" height="257">
                                <img srcset="./asset/images/webinar-photo-1.png" alt="" class="" width="333"
                                    height="329">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                {{>menu-ui page="child"}}
            </div>
            <div class="bgStatic">
                {{>info page="child"}}
            </div>
            <div class="bgStatic">

                {{> button-info}}

                {{> button-credit}}

                <button type="button" class="button buttonClose insightsClose" id="closeinsight"
                    aria-label="Close insight">
                    <span class="icon-close"></span>
                </button>

                <div class="bgColor bgColor__dot opac0"></div>
            </div>
            <div class="bgStatic">
                {{>credit}}

            </div>
        </div>
        <!-- Template Image Content -->
        <!-- Fullpage Content -->
        <div id="fullpage" class="fullpage">
            <section class="section"></section>
        </div>
        <!-- Fullpage Content -->
        <div id="some-element"></div>
    </main>
    {{> footer}}

    {{> js page="insights" child=true}}

</body>

</html>