<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- preloader -->
    {{> preloader}}
    <!-- preloader -->

    <!-- main -->
    <main role="main">

        <div class="bgStatic bgStatic--warn">
            <div class="articleTitle text-center">
                For better experience, rotate your screen or switch to bigger screen.
            </div>
        </div>

        <!-- Template Background Color -->
        <div class="bgColor__wrap">
            <div class="bgColor bgColor__gradient"></div>
        </div>
        <!-- Template Background Color -->

        <!-- Template Image Content -->
        <div class="bgStatic__wrap active">
            <div class="bgStatic">
                <div class="intro center-flex heightFull">
                    <div class="introTitle articleTitle top100">Selamat datang <br> di Toko Satu Qris Untuk Semua</div>
                    {{!-- <div class="introCta center-flex">
                        <button class="button buttonScroll center-flex">
                            <span class="icon-scroll"></span>
                            <span class="icon-arrow-down"></span>
                            scroll ke bawah
                        </button>
                    </div> --}}
                </div>
            </div>
            <div class="bgStatic">
                <div class="cart center-flex heightFull">
                    <div class="cartTitle articleTitle">Silakan pilih barang kebutuhanmu.</div>
                    <div class="storeImg opac0 center-flex storeCompo">
                        <picture class="storeImg__bg heightFull center-flex">
                        </picture>
                        <div class="cartDisplay opac0 cartCompo">
                            <picture class="cartDisplay__rack">
                                <source srcset="./asset/images/cart-display.png" media="(max-width: 700px)" alt=""
                                    width="273" height="333">
                                <img srcset="./asset/images/cart-display.png" alt="" class="" width="921" height="703"
                                    loading="lazy">
                            </picture>
                            <div class="cartDisplay__list">
                                {{#each cart}}
                                <button class="button cartDisplay__item cartDisplay__item{{add @index 1}}">
                                    <div class="cartDisplay__rack">
                                        <img srcset="./asset/images/cart-item{{add @index 1}}.png" alt="" class=""
                                            width="183" height="109" loading="lazy">
                                    </div>
                                    <div class="cartDisplay__title">{{name}}</div>
                                </button>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <button class="button cartButton cartCompo -js-trig-cashier">
                        <div class="cartButton__shadow"></div>
                        <div class="cartButton__wrap">
                            Klik untuk <br>
                            lanjut bayar
                            <span class="cartButton__triangle"></span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="bgStatic">
                <div class="cashier center-flex heightFull">
                    <div class="cashierTitle articleTitle">Bayar menggunakan QRIS</div>
                    <div class="cashierImg opac0">
                        {{!-- <picture>
                            <source srcset="./asset/images/store-cashier-mob.png" media="(max-width: 700px)" alt=""
                                width="273" height="333">
                            <img srcset="./asset/images/store-cashier.png" alt="" class="" width="810" height="779"
                                loading="lazy">
                        </picture> --}}
                        <div class="cashierImg__anim" id="animationCashier"></div>
                        <div class="cashierDropzone"></div>
                    </div>
                    <div class="cartImg opac0 storeCompo">
                        <picture>
                            {{!--
                            <source srcset="./asset/images/cart-trolley.png" media="(max-width: 700px)" alt=""
                                width="563" height="633"> --}}
                            <img srcset="./asset/images/cart-trolley.png" alt="" class="" width="298" height="324"
                                loading="lazy">
                        </picture>
                    </div>
                    <button class="button cashierButton cashierCompo opac0 -js-trig-scan"
                        aria-label="Click to trigger scanning">
                        <picture class="scanning">
                            <source srcset="./asset/images/scanning-mob.png" media="(max-width: 700px)"
                                alt="shift to scanning" width="179" height="251">
                            <img srcset="./asset/images/scanning.png" alt="" class="" width="338" height="464"
                                loading="lazy">
                        </picture>
                        <picture class="scanningSuccess">
                            <source srcset="./asset/images/scanning-success-mob.png" media="(max-width: 700px)" alt=""
                                width="179" height="251">
                            <img srcset="./asset/images/scanning-success.png" alt="" class="" width="338" height="464"
                                loading="lazy">
                        </picture>
                        <picture class="cashierTrigger">
                            <source srcset="./asset/images/scan-trig-mob.png" media="(max-width: 700px)"
                                alt="shift to scanning" width="70" height="145">
                            <img srcset="./asset/images/scan-trig.png" alt="" class="" width="119" height="245"
                                loading="lazy">
                        </picture>
                        <div class="cashierScan"></div>
                        <div class="cashierInfo">
                            <div class="cashierInfo__wrap">
                                Geser HP untuk <br>
                                bayar dengan QRIS
                            </div>
                        </div>
                        <div class="cashierClick">
                            <div class="cashierInfo__wrap">
                                Klik HP untuk <br>
                                scan QRIS
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <div class="bgStatic">
                <div class="success center-flex heightFull opac0">
                    <div class="successImg">
                        <picture>
                            <source srcset="./asset/images/success-scanning-mob.png" media="(max-width: 700px)" alt=""
                                width="305" height="423">
                            <img srcset="./asset/images/success-scanning.png" alt="QRIS" class="" width="581"
                                height="805" loading="lazy">
                        </picture>
                        <picture class="successShine successShine1">
                            <source srcset="./asset/images/success-shine-mob.png" media="(max-width: 700px)" alt=""
                                width="75" height="75">
                            <img srcset="./asset/images/success-shine.png" alt="" class="" width="188" height="168"
                                loading="lazy">
                        </picture>
                        <picture class="successShine successShine2">
                            <source srcset="./asset/images/success-shine-mob.png" media="(max-width: 700px)" alt=""
                                width="75" height="75">
                            <img srcset="./asset/images/success-shine.png" alt="" class="" width="188" height="168"
                                loading="lazy">
                        </picture>
                    </div>
                    <h1 class="successTitle">
                        Satu
                        <picture class="successLogo">
                            <source srcset="./asset/images/logo-qris-mob.png" media="(max-width: 700px)" alt=""
                                width="140" height="56">
                            <img srcset="./asset/images/logo-qris.png" alt="QRIS" class="" width="269" height="107"
                                loading="lazy">
                        </picture>
                        <span>Untuk Semua</span>
                    </h1>
                </div>
            </div>
            <div class="bgStatic">
                <div class="journey center-flex heightFull">
                    <div class="journeyTitle articleTitle">Mari ikuti perjalanan QRIS mendorong inklusi melalui
                        perluasan akses pembayaran digital kepada seluruh lapisan masyarakat.</div>
                    <button class="button journeyButton opac0 -js-trig-people">
                        <div class="journeyButton__shadow"></div>
                        <div class="journeyButton__wrap">
                            Lanjut
                            <span class="journeyButton__triangle"></span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="bgStatic">
                <div class="people center-flex heightFull">
                    <div class="peopleWrap center-flex">
                        <div class="peopleTitle">
                            <div class="reachTitle articleTitle opac0">QRIS saat ini hadir di seluruh provinsi dan
                                kabupaten atau kota Indonesia. Layanan ini sudah dinikmati mulai dari pedagang kecil di
                                pasar
                                tradisional, mal, universitas, sekolah, tempat ibadah, lembaga sosia dan keagamaan,
                                tempat
                                pariwisata, bayar parkir, hingga retribusi Pemerintah Daerah. </div>
                            <div class="valueTitle articleTitle opac0">Proses transaksi dengan QR Code menjadi lebih
                                mudah, cepat, serta yang terjaga keamanannya. <strong>Nilai transaksi QRIS naik
                                    175,44%</strong> secara tahunan
                                dengan <strong>jumlah pengguna mencapai 48,12 juta</strong> dan <strong>jumlah merchant
                                    31,61 juta</strong> hingga kuartal I/2024.
                            </div>
                        </div>
                        <div class="peopleContainer container">
                            <div class="peopleImg__wrap center-flex">
                                {{!-- <picture class="peopleImg peopleImg1 top100">
                                    <source srcset="./asset/images/people-perry-warjiyo-mob.png"
                                        media="(max-width: 700px)" alt="" width="140" height="141">
                                    <img srcset="./asset/images/people-perry-warjiyo.png" alt="" class="" width="341"
                                        height="344" loading="lazy">
                                </picture> --}}
                                <div class="peopleImg peopleImg1 top100" id="animationPeople_1"></div>
                                {{!-- <picture class="peopleImg peopleImg2 top100">
                                    <source srcset="./asset/images/people-2-mob.png" media="(max-width: 700px)" alt=""
                                        width="85" height="84">
                                    <img srcset="./asset/images/people-2.png" alt="" class="" width="162" height="161"
                                        loading="lazy">
                                </picture> --}}
                                <div class="peopleImg peopleImg2 top100" id="animationPeople_2">
                                    <div id="animationPeople_2_act" class="peopleImg2_act peopleAct opac0"></div>
                                    <span class="peopleLine valueLine"></span>
                                </div>
                                {{!-- <picture class="peopleImg peopleImg3 top100">
                                    <source srcset="./asset/images/people-3-mob.png" media="(max-width: 700px)" alt=""
                                        width="85" height="85">
                                    <img srcset="./asset/images/people-3.png" alt="" class="" width="211" height="212"
                                        loading="lazy">
                                </picture> --}}
                                <div class="peopleImg peopleImg3 top100" id="animationPeople_3"></div>
                                {{!-- <picture class="peopleImg peopleImg4 top100">
                                    <source srcset="./asset/images/people-4-mob.png" media="(max-width: 700px)" alt=""
                                        width="110" height="111">
                                    <img srcset="./asset/images/people-4.png" alt="" class="" width="199" height="200"
                                        loading="lazy">
                                </picture> --}}
                                <div class="peopleImg peopleImg4 top100" id="animationPeople_4"></div>
                                {{!-- <picture class="peopleImg peopleImg5 top100">
                                    <source srcset="./asset/images/people-5-mob.png" media="(max-width: 700px)" alt=""
                                        width="80" height="80">
                                    <img srcset="./asset/images/people-5.png" alt="" class="" width="173" height="174"
                                        loading="lazy">
                                </picture> --}}
                                <div class="peopleImg peopleImg5 top100" id="animationPeople_5"></div>
                                {{!-- <picture class="peopleImg peopleImg6 top100">
                                    <source srcset="./asset/images/people-6-mob.png" media="(max-width: 700px)" alt=""
                                        width="90" height="91">
                                    <img srcset="./asset/images/people-6.png" alt="" class="" width="159" height="160"
                                        loading="lazy">
                                </picture> --}}
                                <div class="peopleImg peopleImg6 top100" id="animationPeople_6"></div>
                                {{!-- <picture class="peopleImg peopleImg7 top100">
                                    <source srcset="./asset/images/people-7-mob.png" media="(max-width: 700px)" alt=""
                                        width="85" height="85">
                                    <img srcset="./asset/images/people-7.png" alt="" class="" width="211" height="212"
                                        loading="lazy">
                                </picture> --}}
                                <div class="peopleImg peopleImg7 top100" id="animationPeople_7">
                                    <div id="animationPeople_7_act" class="peopleImg7_act peopleAct opac0"></div>
                                    <span class="peopleLine reachLine"></span>
                                </div>
                                {{!-- <picture class="peopleImg peopleImg8 top100">
                                    <source srcset="./asset/images/people-8-mob.png" media="(max-width: 700px)" alt=""
                                        width="120" height="121">
                                    <img srcset="./asset/images/people-8.png" alt="" class="" width="292" height="294"
                                        loading="lazy">
                                </picture> --}}
                                <div class="peopleImg peopleImg8 top100" id="animationPeople_8"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="char center-flex heightFull">
                    <div class="charTitle articleTitle">Sejak diluncurkan pada 17 Agustus 2019 dan digunakan secara
                        komersial pada 1 Januari 2020, QRIS mengedepankan karakteristik <strong>UNGGUL.</strong></div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="charUnggul center-flex heightFull">
                    <h2 class="charUnggul__title charUnggul__caption">
                        <span>U</span>
                        <span>N</span>
                        <span>G</span>
                        <span>G</span>
                        <span>U</span>
                        <span>L</span>
                    </h2>
                </div>
            </div>
            <div class="bgStatic">
                {{!-- <div class="charBreadcrumb opac0">
                    <span class="char1__bread">UN</span>
                    <span class="char2__bread">GG</span>
                    <span class="char3__bread">U</span>
                    <span class="char4__bread">L</span>
                </div> --}}
                <div class="char1 center-flex heightFull">
                    {{!-- <picture class="charImg char1__img opac0">
                        <source srcset="./asset/images/char-1-mob.png" media="(max-width: 700px)" alt="" width="563"
                            height="633">
                        <img srcset="./asset/images/char-1.png" alt="" class="" width="430" height="156" loading="lazy">
                    </picture> --}}
                    <div class="charImg char1__img opac0" id="animationUniversal"></div>
                    <div class="char1__title charUnggul__title top100">
                        <span>U</span>
                        <span>n</span>
                        <span>i</span>
                        <span>v</span>
                        <span>e</span>
                        <span>r</span>
                        <span>s</span>
                        <span>a</span>
                        <span>l</span>
                    </div>
                    <div class="char1__txt articleTxt top100">
                        QRIS dapat menerima pembayaran aplikasi pembayaran apapun yang menggunakan QR Code, jadi
                        masyarakat tidak perlu memiliki berbagai macam aplikasi pembayaran.
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="char2 center-flex heightFull">
                    {{!-- <picture class="charImg char2__img opac0">
                        <img srcset="./asset/images/char-2.png" alt="" class="" width="593" height="558" loading="lazy">
                    </picture> --}}
                    <div class="charImg char2__img opac0" id="animationBuah"></div>
                    <div class="char2__wrap">
                        <div class="char2__title charUnggul__title top100">
                            <span>G</span>
                            <span>a</span>
                            <span>m</span>
                            <span>p</span>
                            <span>a</span>
                            <span>n</span>
                            <span>g</span>
                        </div>
                        {{!-- <div id="animationGampang" class="char2__title charUnggul__title top100"></div>
                        --}}
                        <div class="char2__txt articleTxt top100">
                            Masyarakat mudah menggunakan tinggal scan, klik, dan bayar. Untuk merchant, tidak perlu
                            memajang
                            banyak QR Code, cukup satu QRIS yang dapat dipindai menggunakan aplikasi pembayaran QR
                            apapun.
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="char3 center-flex heightFull">
                    {{!-- <picture class="charImg char3__img opac0">
                        <source srcset="./asset/images/char-3-mob.png" media="(max-width: 700px)" alt="" width="400"
                            height="263">
                        <img srcset="./asset/images/char-3.png" alt="" class="" width="787" height="517" loading="lazy">
                    </picture> --}}
                    <div class="charImg char3__img opac0" id="animationSoto"></div>
                    <div class="char3__wrap">
                        <div class="char3__title charUnggul__title top100">
                            <span>U</span>
                            <span>n</span>
                            <span>t</span>
                            <span>u</span>
                            <span>n</span>
                            <span>g</span>
                        </div>
                        {{!-- <div id="animationUntung" class="char3__title charUnggul__title top100"></div> --}}
                        <div class="char3__txt articleTxt top100">
                            Pengguna dapat menggunakan akun pembayaran QR apapun untuk membayar. Selanjutnya, merchant
                            cukup punya minimal 1 akun untuk menerima semua pembayaran QR Code.
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="char4 center-flex heightFull">
                    <div class="char4__title charUnggul__title top100">
                        <span>L</span>
                        <span>a</span>
                        <span>n</span>
                        <span>g</span>
                        <span>s</span>
                        <span>u</span>
                        <span>n</span>
                        <span>g</span>
                    </div>
                    <div class="char4__txt articleTxt top100">
                        Pembayaran dengan QRIS langsung diproses seketika. Pengguna dan merchant langsung mendapat
                        notifikasi transaksi.
                    </div>
                    {{!-- <picture class="charImg char4__img opac0">
                        <source srcset="./asset/images/char-4-mob.png" media="(max-width: 700px)" alt="" width="380"
                            height="286">
                        <img srcset="./asset/images/char-4.png" alt="" class="" width="550" height="414" loading="lazy">
                    </picture> --}}
                    <div class="charImg char4__img opac0" id="animationCOD"></div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="benefit heightFull opac0">
                    <div class="benefitTitle articleTitle">Kehadiran QRIS memberikan manfaat baik dari sisi merchant
                        maupun konsumen</div>
                    <div class="benefitImg benefitCompo">
                        <div class="benefitImg__coffee">
                            <picture>
                                <source srcset="./asset/images/benefit-bg-coffee-mob.png" media="(max-width: 700px)"
                                    alt="" width="105" height="123">
                                <img srcset="./asset/images/benefit-bg-coffee.png" alt="" class="" width="222"
                                    height="261" loading="lazy">
                            </picture>
                        </div>
                        <div class="benefitImg__bg">
                        </div>
                    </div>
                    <div class="benefitLamp">
                        <div class="benefitLamp__img --merchant"></div>
                        <div class="benefitLamp__img --consumer"></div>
                    </div>
                    <div class="benefitTrigger merchantTrigger --merchant">
                        <div class="benefitTrigger__caption merchantTrigger__caption opac0">Manfaat Untuk</div>
                        <button class="button benefitButton merchantTrig benefitCompo -js-trig-merchant">
                            <div class="benefitButton__wrap">
                                Merchant
                                <span class="benefitButton__triangle merchantTriangle"></span>
                            </div>
                        </button>
                        <button class="button benefitClose merchantClose opac0 -js-close-merchant"
                            aria-label="close merchant"></button>
                    </div>
                    <div class="benefitTrigger consumerTrigger --consumer">
                        <div class="benefitTrigger__caption consumerTrigger__caption opac0">Manfaat Untuk</div>
                        <button class="button benefitButton consumerTrig benefitCompo -js-trig-consumer">
                            <div class="benefitButton__wrap">
                                Konsumen
                                <span class="benefitButton__triangle consumerTriangle"></span>
                            </div>
                        </button>
                        <button class="button benefitClose consumerClose opac0 -js-close-consumer"
                            aria-label="close consumer"></button>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="merchant display-flex heightFull opac0">
                    <div class="merchantImg">
                        {{!-- <picture>
                            <source srcset="./asset/images/merchant-img-mob.png" media="(max-width: 700px)" alt=""
                                width="563" height="633">
                            <img srcset="./asset/images/merchant-img.png" alt="" class="" width="322" height="769"
                                loading="lazy">
                        </picture> --}}
                        <div class="merchantImg__anim" id="animationMerchant"></div>
                    </div>
                    <div class="merchantList benefitList articleTxt">
                        <div class="benefitList__item merchantItem merchantItem1">
                            <picture class="benefitList__img merchantItem__img merchantItem1__img">
                                {{!--
                                <source srcset="./asset/images/benefit-merchant-1-mob.png" media="(max-width: 700px)"
                                    alt="" width="563" height="633"> --}}
                                <img srcset="./asset/images/benefit-merchant-1.png" alt="" class="" width="159"
                                    height="173" loading="lazy">
                            </picture>
                            <div class="benefitList__txt merchantTxt merchantTxt1">Penjualan berpotensi meningkat karena
                                dapat menerima pembayaran berbasis QR apapun.</div>
                        </div>
                        <div class="benefitList__item merchantItem merchantItem2">
                            <picture class="benefitList__img merchantItem__img merchantItem2__img">
                                {{!--
                                <source srcset="./asset/images/benefit-merchant-2-mob.png" media="(max-width: 700px)"
                                    alt="" width="563" height="633"> --}}
                                <img srcset="./asset/images/benefit-merchant-2.png" alt="" class="" width="159"
                                    height="173" loading="lazy">
                            </picture>
                            <div class="benefitList__txt merchantTxt merchantTxt2">Mengurangi biaya pengelolaan kas.
                            </div>
                        </div>
                        <div class="benefitList__item merchantItem merchantItem3">
                            <picture class="benefitList__img merchantItem__img merchantItem3__img">
                                {{!--
                                <source srcset="./asset/images/benefit-merchant-3-mob.png" media="(max-width: 700px)"
                                    alt="" width="563" height="633"> --}}
                                <img srcset="./asset/images/benefit-merchant-3.png" alt="" class="" width="159"
                                    height="173" loading="lazy">
                            </picture>
                            <div class="benefitList__txt merchantTxt merchantTxt3">Terhindar dari uang palsu.</div>
                        </div>
                        <div class="benefitList__item merchantItem merchantItem4">
                            <picture class="benefitList__img merchantItem__img merchantItem4__img">
                                {{!--
                                <source srcset="./asset/images/benefit-merchant-4-mob.png" media="(max-width: 700px)"
                                    alt="" width="563" height="633"> --}}
                                <img srcset="./asset/images/benefit-merchant-4.png" alt="" class="" width="159"
                                    height="173" loading="lazy">
                            </picture>
                            <div class="benefitList__txt merchantTxt merchantTxt4">Memudahkan rekonsiliasi dan
                                berpotensi mencegah tindak kecurangan dari pembukuan transaksi tunai.</div>
                        </div>
                        <div class="benefitList__item merchantItem merchantItem5">
                            <picture class="benefitList__img merchantItem__img merchantItem5__img">
                                {{!--
                                <source srcset="./asset/images/benefit-merchant-5-mob.png" media="(max-width: 700px)"
                                    alt="" width="563" height="633"> --}}
                                <img srcset="./asset/images/benefit-merchant-5.png" alt="" class="" width="159"
                                    height="173" loading="lazy">
                            </picture>
                            <div class="benefitList__txt merchantTxt merchantTxt5">Membangun informasi credit profile
                                untuk memudahkan memperoleh kredit kedepan.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="consumer display-flex heightFull opac0">
                    <div class="consumerList benefitList articleTxt">
                        <div class="benefitList__item consumerItem consumerItem1">
                            <div class="benefitList__txt consumerTxt consumerTxt1">Terlindungi karena semua PJSP (Bank
                                dan Non Bank) penyelenggara QRIS sudah pasti memiliki izin dan diawasi oleh Bank
                                Indonesia.</div>
                            <picture class="benefitList__img consumerItem__img consumerItem1__img">
                                {{!--
                                <source srcset="./asset/images/benefit-consumer-1-mob.png" media="(max-width: 700px)"
                                    alt="" width="563" height="633"> --}}
                                <img srcset="./asset/images/benefit-consumer-1.png" alt="" class="" width="208"
                                    height="158" loading="lazy">
                            </picture>
                        </div>
                        <div class="benefitList__item consumerItem consumerItem2">
                            <div class="benefitList__txt consumerTxt consumerTxt2">Konsumen bisa lebih fleksibel dalam
                                memilih aplikasi pembayaran dengan QRIS ketika melakukan transaksi.
                                <picture class="benefitList__img consumerItem__img consumerItem2__img">
                                    {{!--
                                    <source srcset="./asset/images/benefit-consumer-2-mob.png"
                                        media="(max-width: 700px)" alt="" width="563" height="633"> --}}
                                    <img srcset="./asset/images/benefit-consumer-2.png" alt="" class="" wwidth="208"
                                        height="158" loading="lazy">
                                </picture>
                            </div>
                        </div>
                        <div class="benefitList__item consumerItem consumerItem3">
                            <div class="benefitList__txt consumerTxt consumerTxt3"> Kemudahan bertransaksi – Cepat dan
                                tercatat (tidak perlu uang kembalian)</div>
                            <picture class="benefitList__img consumerItem__img consumerItem3__img">
                                {{!--
                                <source srcset="./asset/images/benefit-consumer-3-mob.png" media="(max-width: 700px)"
                                    alt="" width="563" height="633"> --}}
                                <img srcset="./asset/images/benefit-consumer-3.png" alt="" class="" width="208"
                                    height="158" loading="lazy">
                            </picture>
                        </div>
                        <div class="benefitList__item consumerItem consumerItem4">
                            <div class="benefitList__txt consumerTxt consumerTxt4">Pencatatan riwayat transaksi yang
                                lebih baik</div>
                            <picture class="benefitList__img consumerItem__img consumerItem4__img">
                                {{!--
                                <source srcset="./asset/images/benefit-consumer-4-mob.png" media="(max-width: 700px)"
                                    alt="" width="563" height="633"> --}}
                                <img srcset="./asset/images/benefit-consumer-4.png" alt="" class="" width="208"
                                    height="158" loading="lazy">
                            </picture>
                        </div>
                        <div class="benefitList__item consumerItem consumerItem5">
                            <div class="benefitList__txt consumerTxt consumerTxt5">Alternatif transaksi selain uang
                                tunai
                                <picture class="benefitList__img consumerItem__img consumerItem5__img">
                                    {{!--
                                    <source srcset="./asset/images/benefit-consumer-5-mob.png"
                                        media="(max-width: 700px)" alt="" width="563" height="633"> --}}
                                    <img srcset="./asset/images/benefit-consumer-5.png" alt="" class="" width="208"
                                        height="158" loading="lazy">
                                </picture>
                            </div>
                        </div>
                    </div>
                    <div class="consumerImg">
                        {{!-- <picture>
                            <source srcset="./asset/images/consumer-img-mob.png" media="(max-width: 700px)" alt=""
                                width="563" height="633">
                            <img srcset="./asset/images/consumer-img.png" alt="" class="" width="255" height="708"
                                loading="lazy">
                        </picture> --}}
                        <div class="consumerImg__anim" id="animationConsumer"></div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="overseas display-flex heightFull">
                    <div class="overseasTitle articleTitle"><strong>Bank Indonesia</strong> terus berupaya mengembangkan
                        QRIS. Saat ini, QRIS dapat digunakan di beberapa negara yakni <strong>Thailand, Malaysia,
                            Singapura.</strong>
                        Selanjutnya, fitur QRIS juga telah dikembangkan dari hanya menerima pembayaran, kemudian dapat
                        juga melayani kegiatan tarik tunai, transfer dan setor tunai sejak 17 Agustus
                        2023.</div>
                    <div class="overseasImg opac0">
                        <picture class="overseasGlobe">
                            <source srcset="./asset/images/overseas-globe-full-mob.png" media="(max-width: 700px)"
                                alt="" width="563" height="633">
                            <img srcset="./asset/images/overseas-globe-full.png" alt="" class="" width="1555"
                                height="1482" loading="lazy">
                            <div class="overseasPeople" id="animationOverseas"></div>
                        </picture>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="tips center-flex heightFull">
                    <div class="tipsWrap">
                        <div class="tipsTitle articleTitle">Tips agar bertransaksi dengan QRIS makin aman dan nyaman.
                        </div>
                        <ol class="tipsList articleTxt">
                            <li>Lakukan pengecekan secara terperinci</li>
                            <li>Tanyakan identitas pembayar</li>
                            <li>Cek transaksi dengan aplikasi QRIS</li>
                        </ol>
                    </div>
                    <div class="tipsImg">
                        <picture class="tipsBg">
                            <source srcset="./asset/images/tips-bg-mob.png" media="(max-width: 700px)" alt=""
                                width="155" height="257">
                            <img srcset="./asset/images/tips-bg.png" alt="" class="" width="357" height="591"
                                loading="lazy">
                        </picture>
                        <div class="tipsContent">
                            <picture class="tipsContent__img tipsContent__img0">
                                <source srcset="./asset/images/tips-transaction-mob.png" media="(max-width: 700px)"
                                    alt="" width="155" height="257">
                                <img srcset="./asset/images/tips-transaction.png" alt="" class="" width="357"
                                    height="591" loading="lazy">
                            </picture>
                            <picture class="tipsContent__img tipsContent__img1">
                                <source srcset="./asset/images/tips-1-mob.png" media="(max-width: 700px)" alt=""
                                    width="155" height="257">
                                <img srcset="./asset/images/tips-1.png" alt="" class="" width="357" height="591"
                                    loading="lazy">
                            </picture>
                            <picture class="tipsContent__img tipsContent__img2">
                                <source srcset="./asset/images/tips-2-mob.png" media="(max-width: 700px)" alt=""
                                    width="155" height="257">
                                <img srcset="./asset/images/tips-2.png" alt="" class="" width="357" height="591"
                                    loading="lazy">
                            </picture>
                            <picture class="tipsContent__img tipsContent__img3">
                                <source srcset="./asset/images/tips-3-mob.png" media="(max-width: 700px)" alt=""
                                    width="155" height="257">
                                <img srcset="./asset/images/tips-3.png" alt="" class="" width="357" height="591"
                                    loading="lazy">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="vision center-flex heightFull">
                    <div class="visionWrap">
                        <div class="visionTitle articleTitle"><strong>BI</strong> senantiasa mendorong akselerasi
                            digitalisasi sistem pembayaran untuk mempermudah transaksi masyarakat dan memperluas inklusi
                            ekonomi keuangan. Visi tersebut dapat diwujudkan dengan memperluas implementasi <strong>QRIS
                                Tarik
                                Tunai, Transfer dan Setor Tunai (TUNTAS), penetapan Merchant Discount Rate (MDR) QRIS
                                untuk
                                Usaha Mikro, perluasan kerja sama, perluasan implementasi QRIS Antarnegara.</strong>
                        </div>
                        <span class="visionLine"></span>
                    </div>
                    <div class="visionImg opac0">
                        {{!-- <picture>
                            <source srcset="./asset/images/vision-perry-warjiyo-mob.png" media="(max-width: 700px)"
                                alt="" width="250" height="553">
                            <img srcset="./asset/images/vision-perry-warjiyo.png" alt="" class="" width="324"
                                height="717" loading="lazy">
                        </picture> --}}
                        <div class="visionImg__anim" id="animationPerry"></div>
                    </div>
                </div>
                <div class="scroll-guide center-flex">
                    <span class="icon-scroll"></span>
                    scroll
                </div>
            </div>
        </div>
        <!-- Template Image Content -->
        <!-- Fullpage Content -->
        <div id="fullpage" class="fullpage">
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section peopleSection"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section benefitSection"></section>
            <section class="section"></section>
            <section class="section tipsSection"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section creditSection">
                {{> credit}}
            </section>
        </div>
        <!-- Fullpage Content -->
    </main>
    <!-- main -->

    {{> js}}

</body>

</html>