<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <!-- header -->
    {{!> header}}
    <!-- header -->

    <!-- preloader -->
    {{!> preloader}}
    <!-- preloader -->

    <!-- main -->
    <main role="main">

        <div class="bgStatic bgStatic--warn">
            <div class="articleContent text-center">
                For better experience, rotate your screen or switch to bigger screen.
            </div>
        </div>

        <!-- Template Background Color -->
        <div class="bgColor__wrap">
            <div class="bgColor bgColor__gradient"></div>
        </div>
        <!-- Template Background Color -->

        <!-- Template Image Content -->
        <div class="bgStatic__wrap active">
            <div class="bgStatic">
                <div class="intro center-flex heightFull">
                    <div class="introTitle articleTitle">Selamat datang di Toko Satu Qris Untuk Semua</div>
                    {{!-- <div class="introCta center-flex">
                        <button class="button buttonScroll center-flex">
                            <span class="icon-scroll"></span>
                            <span class="icon-arrow-down"></span>
                            scroll ke bawah
                        </button>
                    </div> --}}
                </div>
            </div>
            <div class="bgStatic">
                <div class="cart center-flex heightFull">
                    <div class="cartTitle articleTitle">Silakan pilih barang kebutuhanmu.</div>
                    <div class="storeImg center-flex storeCompo opac0">
                        <picture class="storeImg__bg heightFull center-flex">
                        </picture>
                    </div>
                    <button class="button cartButton cartCompo -js-trig-cashier">
                        <div class="cartButton__shadow"></div>
                        <div class="cartButton__wrap">
                            Klik untuk <br>
                            lanjut bayar
                            <span class="cartButton__triangle"></span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="bgStatic">
                <div class="cashier center-flex heightFull">
                    <div class="cashierTitle articleTitle">Bayar menggunakan QRIS</div>
                    <div class="cashierImg opac0">
                        <picture>
                            <source srcset="./asset/images/store-cashier-mob.png" media="(max-width: 768px)" alt=""
                                width="563" height="633">
                            <img srcset="./asset/images/store-cashier.png" alt="" class="" width="810" height="779"
                                loading="lazy">
                        </picture>
                        <div class="cashierDropzone"></div>
                    </div>
                    <div class="cartImg storeCompo opac0">
                        <picture>
                            <source srcset="./asset/images/cart-trolley-mob.png" media="(max-width: 768px)" alt=""
                                width="563" height="633">
                            <img srcset="./asset/images/cart-trolley.png" alt="" class="" width="298" height="324"
                                loading="lazy">
                        </picture>
                    </div>
                    <button class="button cashierButton cashierCompo opac0 -js-trig-scan"
                        aria-label="Click to trigger scanning">
                        <picture>
                            <source srcset="./asset/images/scanning-mob.png" media="(max-width: 768px)"
                                alt="shift to scanning" width="563" height="633">
                            <img srcset="./asset/images/scanning.png" alt="" class="" width="338" height="464"
                                loading="lazy">
                        </picture>
                        <picture class="cashierTrigger">
                            <source srcset="./asset/images/scan-trig-mob.png" media="(max-width: 768px)"
                                alt="shift to scanning" width="563" height="633">
                            <img srcset="./asset/images/scan-trig.png" alt="" class="" width="119" height="245"
                                loading="lazy">
                        </picture>
                        <div class="cashierScan"></div>
                    </button>
                    <div class="cashierInfo">
                        <div class="cashierInfo__shadow"></div>
                        <div class="cashierInfo__wrap">
                            Geser HP dan <br>
                            Scan QR Code
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="success center-flex heightFull opac0">
                    <div class="successImg">
                        <picture>
                            <source srcset="./asset/images/success-scanning-mob.png" media="(max-width: 768px)" alt=""
                                width="563" height="633">
                            <img srcset="./asset/images/success-scanning.png" alt="QRIS" class="" width="581"
                                height="805" loading="lazy">
                        </picture>
                        <picture class="successShine successShine1">
                            <source srcset="./asset/images/success-shine-mob.png" media="(max-width: 768px)" alt=""
                                width="563" height="633">
                            <img srcset="./asset/images/success-shine.png" alt="" class="" width="188" height="168"
                                loading="lazy">
                        </picture>
                        <picture class="successShine successShine2">
                            <source srcset="./asset/images/success-shine-mob.png" media="(max-width: 768px)" alt=""
                                width="563" height="633">
                            <img srcset="./asset/images/success-shine.png" alt="" class="" width="188" height="168"
                                loading="lazy">
                        </picture>
                    </div>
                    <div class="successTitle">
                        Satu
                        <picture class="successLogo">
                            <source srcset="./asset/images/logo-qris-mob.png" media="(max-width: 768px)" alt=""
                                width="563" height="633">
                            <img srcset="./asset/images/logo-qris.png" alt="QRIS" class="" width="269" height="107"
                                loading="lazy">
                        </picture>
                        <span>Untuk Semua</span>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="journey center-flex heightFull">
                    <div class="journeyTitle articleTitle">Mari ikuti perjalanan QRIS mendorong inklusi melalui
                        perluasan akses pembayaran digital kepada seluruh lapisan masyarakat.</div>
                    <button class="button journeyButton opac0 -js-trig-people">
                        <div class="journeyButton__shadow"></div>
                        <div class="journeyButton__wrap">
                            Lanjut
                            <span class="journeyButton__triangle"></span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="bgStatic">
                <div class="people center-flex heightFull">
                    <div class="peopleWrap center-flex">
                        <div class="peopleTitle">
                            <div class="reachTitle articleTitle">QRIS saat ini hadir di seluruh provinsi dan
                                kabupaten atau kota Indonesia. Layanan ini sudah dinikmati mulai dari pedagang kecil di
                                pasar
                                tradisional, mal, universitas, sekolah, tempat ibadah, lembaga sosia dan keagamaan,
                                tempat
                                pariwisata, bayar parkir, hingga retribusi Pemerintah Daerah. </div>
                            <div class="valueTitle articleTitle">Proses transaksi dengan QR Code menjadi lebih
                                mudah, cepat, serta yang terjaga keamanannya. <strong>Nilai transaksi QRIS naik
                                    175,44%</strong> secara tahunan
                                dengan <strong>jumlah pengguna mencapai 48,12 juta</strong> dan <strong>jumlah merchant
                                    31,61 juta</strong> hingga kuartal I/2024.
                            </div>
                        </div>
                        <div class="container">
                            <div class="peopleImg__wrap center-flex">
                                <picture class="peopleImg peopleImg1">
                                    <source srcset="./asset/images/people-perry-warjiyo-mob.png"
                                        media="(max-width: 768px)" alt="" width="563" height="633">
                                    <img srcset="./asset/images/people-perry-warjiyo.png" alt="" class="" width="341"
                                        height="344" loading="lazy">
                                </picture>
                                <picture class="peopleImg peopleImg2">
                                    <source srcset="./asset/images/people-2-mob.png" media="(max-width: 768px)" alt=""
                                        width="563" height="633">
                                    <img srcset="./asset/images/people-2.png" alt="" class="" width="162" height="161"
                                        loading="lazy">
                                </picture>
                                <picture class="peopleImg peopleImg3">
                                    <source srcset="./asset/images/people-3-mob.png" media="(max-width: 768px)" alt=""
                                        width="563" height="633">
                                    <img srcset="./asset/images/people-3.png" alt="" class="" width="211" height="212"
                                        loading="lazy">
                                </picture>
                                <picture class="peopleImg peopleImg4">
                                    <source srcset="./asset/images/people-4-mob.png" media="(max-width: 768px)" alt=""
                                        width="563" height="633">
                                    <img srcset="./asset/images/people-4.png" alt="" class="" width="199" height="200"
                                        loading="lazy">
                                </picture>
                                <picture class="peopleImg peopleImg5">
                                    <source srcset="./asset/images/people-5-mob.png" media="(max-width: 768px)" alt=""
                                        width="563" height="633">
                                    <img srcset="./asset/images/people-5.png" alt="" class="" width="173" height="174"
                                        loading="lazy">
                                </picture>
                                <picture class="peopleImg peopleImg6">
                                    <source srcset="./asset/images/people-6-mob.png" media="(max-width: 768px)" alt=""
                                        width="663" height="633">
                                    <img srcset="./asset/images/people-6.png" alt="" class="" width="159" height="160"
                                        loading="lazy">
                                </picture>
                                <picture class="peopleImg peopleImg7">
                                    <source srcset="./asset/images/people-7-mob.png" media="(max-width: 768px)" alt=""
                                        width="763" height="633">
                                    <img srcset="./asset/images/people-7.png" alt="" class="" width="211" height="212"
                                        loading="lazy">
                                </picture>
                                <picture class="peopleImg peopleImg8">
                                    <source srcset="./asset/images/people-8-mob.png" media="(max-width: 768px)" alt=""
                                        width="863" height="633">
                                    <img srcset="./asset/images/people-8.png" alt="" class="" width="292" height="294"
                                        loading="lazy">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Template Image Content -->
        <!-- Fullpage Content -->
        <div id="fullpage" class="fullpage">
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
        </div>
        <!-- Fullpage Content -->
    </main>
    <!-- main -->

    <!-- footer -->
    {{> credit}}

    {{> js}}

</body>

</html>