<header class="header">
    <div class="headerWrap container">
        <div class="headerLogo">
            <a href="index.html">
                <img src="./asset/images/gramedia-logo.svg" alt="Gramedia" width="134" height="25">
            </a>
        </div>
        <div class="headerContent">

            {{>header/nav}}

            <div class="headerCta center-flex">
                <a href="catalogue.html" class="headerIcon headerShop center-flex" aria-label="Shop with us!">
                    <span class="ico icoShop"></span>
                </a>
                <a href="search.html" class="headerIcon headerSearch center-flex" aria-label="Search anything in Gramedia!">
                    <span class="ico icoSearch"></span>
                </a>
                <div class="headerBil center-flex">

                    {{>header/bilingual}}

                </div>
            </div>

        </div>
    </div>
</header>
<div class="header-offset"></div>