<header class="header">
    <div class="headerWrap container">
        <div class="headerLogo">
            <a href="index.html">
                <img src="./asset/images/gramedia-logo.svg" alt="Gramedia" width="134" height="25">
            </a>
        </div>
        <div class="headerContent">

            {{>header/nav}}

            <div class="headerCta">
                <a href="#" class="headerIcon headerShop">
                    <span class="ico icoShop"></span>
                </a>
                <a href="#" class="headerIcon headerSearch">
                    <span class="ico icoSearch"></span>
                </a>
                <div class="headerBil">

                    {{>header/bilingual}}

                </div>
            </div>

        </div>
    </div>
</header>
<div class="header-offset"></div>