<header class="header">
    <div class="headerWrap container">
        <div class="headerLogo">
            <a href="index.html">
                <img src="./asset/images/gramedia-logo.svg" alt="Gramedia" width="134" height="25">
            </a>
        </div>
        <div class="headerContent">
            <div class="navDesk desktop-only" id="navDesk">

                {{!>header/nav}}

            </div>
            <div class="headerCta center-flex">
                <a href="catalogue.html" class="headerIcon headerShop center-flex" aria-label="Shop with us!">
                    <span class="ico icoShop"></span>
                </a>
                <a href="search.html" class="headerIcon headerSearch center-flex"
                    aria-label="Search anything in Gramedia!">
                    <span class="ico icoSearch"></span>
                </a>
                <div class="headerBil center-flex">

                    {{>header/bilingual}}

                </div>
            </div>
            <div class="navMob mobile-only" id="navMob">
                <div class="menu" id="menu">
                    <label class="sr-only" for="menuToggle">Open navigation</label>
                    <input type="checkbox" class="menuToggle" name="check" id="menuToggle" aria-haspopup="true">
                    <svg class="ham" viewBox="0 0 100 100" width="80">
                        <path class="line top hamLine"
                            d="m 70,33 h -40 c 0,0 -6,1.368796 -6,8.5 0,7.131204 6,8.5013 6,8.5013 l 20,-0.0013"></path>
                        <path class="line middle hamLine" d="m 70,50 h -40"></path>
                        <path class="line bottom hamLine"
                            d="m 69.575405,67.073826 h -40 c -5.592752,0 -6.873604,-9.348582 1.371031,-9.348582 8.244634,0 19.053564,21.797129 19.053564,12.274756 l 0,-40">
                        </path>
                    </svg>
                </div>
                <!-- s: navigation -->
                <div class="menuWrap">

                    {{>header/nav}}

                </div>
                <!-- e: navigation -->
            </div>
        </div>
    </div>
</header>
<div class="header-offset"></div>