<button class="buttonChampion center-flex opac0" aria-label="Back to champion list" id="menubtn">
    <picture class="">
        {{#eq page compare=" child"}}
        <source srcset="{{>loc page=" child"}}asset/images/icon-champion.png" media="(max-width: 768px)" alt="" width=""
            height="">
        <img srcset="{{>loc page=" child"}}asset/images/icon-champion.png" alt="" class="" width="28" height="26">
        {{/eq}}
    </picture>
    <div class="buttonChampion__misc">kembali ke 3 produk <i>champion</i></div>
</button>