<div class="coverBg">
    <div class="coverImg coverGlobe">
        <picture class="">
            {{#eq page compare= " home"}}
            <source srcset="{{>loc page=" home"}}asset/images/teaser-globe-mob.png" media="(max-width: 768px)" alt="" width="400"
                height="187">
            <img srcset="{{>loc page=" home"}}asset/images/teaser-globe.png" alt="" class="" width="1153" height="539">
            {{/eq}}
            {{#eq page compare= " child"}}
            <source srcset="{{>loc page=" child"}}asset/images/teaser-globe-mob.png" media="(max-width: 768px)" alt="" width="400"
                height="187">
            <img srcset="{{>loc page=" child"}}asset/images/teaser-globe.png" alt="" class="" width="1153" height="539">
            {{/eq}}
        </picture>
    </div>
    <div class="coverImg coverWheel coverWheel--left">
        <picture class="">
            {{#eq page compare= " home"}}
            <source srcset="{{>loc page=" home"}}asset/images/bg-wheel-mob.png" media="(max-width: 768px)" alt="" width="700" height="591">
            <img srcset="{{>loc page=" home"}}asset/images/bg-wheel.png" alt="" class="" width="1153" height="539">
            {{/eq}}
            {{#eq page compare= " child"}}
            <source srcset="{{>loc page=" child"}}asset/images/bg-wheel-mob.png" media="(max-width: 768px)" alt="" width="700" height="591">
            <img srcset="{{>loc page=" child"}}asset/images/bg-wheel.png" alt="" class="" width="1153" height="539">
            {{/eq}}
        </picture>
    </div>
    <div class="coverImg coverWheel coverWheel--right">
        <picture class="">
            {{#eq page compare= " home"}}
            <source srcset="{{>loc page=" home"}}asset/images/bg-wheel-mob.png" media="(max-width: 768px)" alt="" width="700" height="591">
            <img srcset="{{>loc page=" home"}}asset/images/bg-wheel.png" alt="" class="" width="1153" height="539">
            {{/eq}}
            {{#eq page compare= " child"}}
            <source srcset="{{>loc page=" child"}}asset/images/bg-wheel-mob.png" media="(max-width: 768px)" alt="" width="700" height="591">
            <img srcset="{{>loc page=" child"}}asset/images/bg-wheel.png" alt="" class="" width="1153" height="539">
            {{/eq}}
        </picture>
    </div>
    <div class="coverImg coverLock coverLock--left">
        <picture class="">
            {{#eq page compare= " home"}}
            <source srcset="{{>loc page=" home"}}asset/images/teaser-bg-shield-mob.png" media="(max-width: 768px)" alt="" width="40"
                height="55">
            <img srcset="{{>loc page=" home"}}asset/images/teaser-bg-shield.png" alt="" class="" width="89" height="122">
            {{/eq}}
            {{#eq page compare= " child"}}
            <source srcset="{{>loc page=" child"}}asset/images/teaser-bg-shield-mob.png" media="(max-width: 768px)" alt="" width="40"
                height="55">
            <img srcset="{{>loc page=" child"}}asset/images/teaser-bg-shield.png" alt="" class="" width="89" height="122">
            {{/eq}}
        </picture>
    </div>
    <div class="coverImg coverLock coverLock--right">
        <div class="coverLock__img">
            <picture class="">
                {{#eq page compare= " home"}}
                <source srcset="{{>loc page=" home"}}asset/images/teaser-bg-lock-mob.png" media="(max-width: 768px)" alt="" width="20"
                    height="27">
                <img srcset="{{>loc page=" home"}}asset/images/teaser-bg-lock.png" alt="" class="" width="30" height="41">
                {{/eq}}
                {{#eq page compare= " child"}}
                <source srcset="{{>loc page=" child"}}asset/images/teaser-bg-lock-mob.png" media="(max-width: 768px)" alt="" width="20"
                    height="27">
                <img srcset="{{>loc page=" child"}}asset/images/teaser-bg-lock.png" alt="" class="" width="30" height="41">
                {{/eq}}
            </picture>
        </div>
        <div class="coverShield">
            <picture class="">
                {{#eq page compare= " home"}}
                <source srcset="{{>loc page=" home"}}asset/images/teaser-bg-shield-mob.png" media="(max-width: 768px)" alt="" width="40"
                    height="55">
                <img srcset="{{>loc page=" home"}}asset/images/teaser-bg-shield.png" alt="" class="" width="89" height="122">
                {{/eq}}
                {{#eq page compare= " child"}}
                <source srcset="{{>loc page=" child"}}asset/images/teaser-bg-shield-mob.png" media="(max-width: 768px)" alt="" width="40"
                    height="55">
                <img srcset="{{>loc page=" child"}}asset/images/teaser-bg-shield.png" alt="" class="" width="89" height="122">
                {{/eq}}
            </picture>
        </div>
    </div>
    <div class="coverImg coverDot coverDot--left">
        <picture class="">
            {{#eq page compare= " home"}}
            <source srcset="{{>loc page=" home"}}asset/images/bg-wheel-dots-mob.png" media="(max-width: 768px)" alt="" width="100"
                height="41">
            <img srcset="{{>loc page=" home"}}asset/images/bg-wheel-dots.png" alt="" class="" width="145" height="60">
            {{/eq}}
            {{#eq page compare= " child"}}
            <source srcset="{{>loc page=" child"}}asset/images/bg-wheel-dots-mob.png" media="(max-width: 768px)" alt="" width="100"
                height="41">
            <img srcset="{{>loc page=" child"}}asset/images/bg-wheel-dots.png" alt="" class="" width="145" height="60">
            {{/eq}}
        </picture>
    </div>
    <div class="coverImg coverDot coverDot--right">
        <picture class="">
            {{#eq page compare= " home"}}
            <source srcset="{{>loc page=" home"}}asset/images/bg-wheel-dots-mob.png" media="(max-width: 768px)" alt="" width="" height="">
            <img srcset="{{>loc page=" home"}}asset/images/bg-wheel-dots.png" alt="" class="" width="145" height="60">
            {{/eq}}
            {{#eq page compare= " child"}}
            <source srcset="{{>loc page=" child"}}asset/images/bg-wheel-dots-mob.png" media="(max-width: 768px)" alt="" width="" height="">
            <img srcset="{{>loc page=" child"}}asset/images/bg-wheel-dots.png" alt="" class="" width="145" height="60">
            {{/eq}}
        </picture>
    </div>
</div>