<header class="headerWrap">
    <div class="headerItem">
        <a href="https://bni.co.id" title="">
            <img src="./asset/images/logo-bni-w.png" class="headerLogo headerLogo--white" alt="BNI Logo" width="94" height="28">
            <img src="./asset/images/logo-bni.png" class="headerLogo headerLogo--color display-none" alt="BNI Logo" width="94" height="28">
        </a>
    </div>
</header>