<header class="headerWrap">
    <div class="headerItem">
        <a href="https://bni.co.id" title="">
            {{#eq page compare="home"}}
            <img src="{{>loc page=" home"}}asset/images/logo-bni-w.png" class="headerLogo headerLogo--white"
                alt="BNI Logo" width="94" height="28">
            <img src="{{>loc page=" home"}}asset/images/logo-bni.png" class="headerLogo headerLogo--color display-none"
                alt="BNI Logo" width="94" height="28">
            {{/eq}}
            {{#eq page compare="child"}}
            <img src="{{>loc page=" child"}}asset/images/logo-bni-w.png" class="headerLogo headerLogo--white"
                alt="BNI Logo" width="94" height="28">
            <img src="{{>loc page=" child"}}asset/images/logo-bni.png" class="headerLogo headerLogo--color display-none"
                alt="BNI Logo" width="94" height="28">
            {{/eq}}
        </a>
    </div>
</header>