<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Bisnis.com - Interaktif BNI</title>
    <meta name="description" content="Bisnis.com - Interaktif BNI">
    <meta name="keywords" content="">

    <meta property="og:type" content="article" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="Bisnis.com - Interaktif BNI" />
    <meta property="og:description" content="Bisnis.com - Interaktif BNI" />

    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="fb:app_id" content="324557847592228" />
    <!-- s:twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="Bisnis.com - Interaktif BNI" />
    <meta name="twitter:description" content="Bisnis.com - Interaktif BNI" />
    <meta name="twitter:image" content="" />
    <!-- e:twitter card -->

    <link rel=icon type=image/png sizes=16x16 href="https://static.bisnis-cdn.com/interaktif/assets/images/favicon.png">

    {{#eq page compare="home"}}
    <link rel="preload" href="{{>loc page=" home"}}asset/images/logo-bni-w.png" as="image" />
    <link rel="preload" href="{{>loc page=" home"}}asset/images/cursor.png" as="image" />

    <link rel="preload" as="image" href="{{>loc page=" home"}}asset/images/loader-vr-mob.png" imagesrcset="{{>loc page="
        home"}}asset/images/loader-vr.png 800w, {{>loc page="home"}}asset/images/loader-vr.png 1600w" imagesizes="50vw">
    <link rel="preload" as="image" href="{{>loc page=" home"}}asset/images/loader-vr.png">

    <link type="text/css" rel="stylesheet" href="{{>loc page=" home"}}asset/css/style-preload.css">
    <link type="text/css" rel="stylesheet" href="{{>loc page=" home"}}asset/css/style.css">
    {{/eq}}
    {{#eq page compare="digital"}}
    <link rel="preload" href="{{>loc page=" child"}}asset/images/logo-bni-w.png" as="image" />

    <link type="text/css" rel="stylesheet" href="{{>loc page=" child"}}asset/css/style-preload-digi.css">
    <link type="text/css" rel="stylesheet" href="{{>loc page=" child"}}asset/css/style-digi.css">

    <style>
        @font-face {
            font-family: 'PromptBoldItalic';
            font-style: italic;
            font-weight: 700;
            font-display: swap;
            src: local('Prompt Bold'), local('Prompt-Bold'), url(https://fonts.gstatic.com/s/prompt/v10/-W_6XJnvUD7dzB2KZeKka1MsW5A.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
    </style>
    {{/eq}}
    <link rel="preload" href="https://fonts.gstatic.com/s/prompt/v10/-W__XJnvUD7dzB2KYNod.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
    <style>
        @font-face {
            font-family: 'PromptItalic';
            font-style: italic;
            font-weight: 400;
            font-display: swap;
            src: local('Prompt Italic'), local('Prompt-Regular-Italic'),
                url(https://fonts.gstatic.com/s/prompt/v10/-W_9XJnvUD7dzB2KZeofTkY.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-family: 'Prompt';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Prompt'), local('Prompt Regular'),
                url(https://fonts.gstatic.com/s/prompt/v10/-W__XJnvUD7dzB2KYNod.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-family: 'PromptSemiBold';
            font-style: normal;
            font-weight: 600;
            font-display: swap;
            src: local('Prompt Semibold'), local('Prompt-Semibold'), url(https://fonts.gstatic.com/s/prompt/v10/-W_8XJnvUD7dzB2Cv_4IaWMu.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-family: 'PromptBold';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: local('Prompt Bold'), local('Prompt-Bold'), url(https://fonts.gstatic.com/s/prompt/v10/-W_8XJnvUD7dzB2C2_8IaWMu.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        /* inline style preload
        .headerWrap{position:fixed;width:100%;z-index:100;display:flex;justify-content:space-between;pointer-events:none}.headerItem{padding-top:10px;pointer-events:all}@media (min-width:768px){.headerItem{padding-top:10px}}.headerItem img{width:80%}@media (min-width:768px){.headerItem img{width:auto}}.preloader{top:0;background:#011416;background:-moz-linear-gradient(4deg,#011416 0,#072b30 100%);background:-webkit-linear-gradient(4deg,#011416,#072b30);background:linear-gradient(4deg,#011416,#072b30);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#011416",endColorstr="#072b30",GradientType=1);transition:opacity .4s ease-in-out;z-index:99;position:fixed;overflow:hidden}.preloader,.preloaderWrap{width:100%;height:100%;display:flex;justify-content:center}.preloaderWrap{align-items:center;position:relative;flex-direction:column}.preloaderTxt{margin-bottom:5px;font-family:Prompt,sans-serif;font-size:14px;font-weight:400;line-height:1.5;color:#fff}.preloaderCursor{margin-bottom:10px;-moz-animation:down 1.5s infinite;-o-animation:down 1.5s infinite;-ms-animation:down 1.5s infinite;-webkit-animation:down 1.5s infinite;animation:down 1.5s infinite}.preloaderCursor__wrap{text-align:center}.preloaderVr__btn{padding:0;cursor:pointer;background:transparent;border:0}@keyframes down{0%{transform:translate(0)}20%{transform:translateY(15px)}40%{transform:translate(0)}}@-webkit-keyframes down{0%{transform:translate(0)}20%{transform:translateY(15px)}40%{transform:translate(0)}}
        /* inline style preload*/
    </style>
</head>