<div class="menu heightFull center-flex opac0">
    <div class="menuContent container text-center">
        <div class="coverLogo">
            <picture class="">
                {{#eq page compare= " home"}}
                <source srcset="{{>loc page=" home"}}asset/images/logo-bni-mob.png" media="(max-width: 768px)"
                    alt="BNI Logo" width="198" height="58">
                <img srcset="{{>loc page=" home"}}asset/images/logo-bni.png" alt="BNI Logo" class="" width="198"
                    height="58">
                {{/eq}}
                {{#eq page compare= " child"}}
                <source srcset="{{>loc page=" child"}}asset/images/logo-bni-mob.png" media="(max-width: 768px)"
                    alt="BNI Logo" width="198" height="58">
                <img srcset="{{>loc page=" child"}}asset/images/logo-bni.png" alt="BNI Logo" class="" width="198"
                    height="58">
                {{/eq}}
            </picture>
        </div>
        <div class="menuTxt articleContent">
            <p>
                Pilih salah satu poin di bawah ini
            </p>
        </div>
        <ul class="menuList">
            <li class="menuItem menuItem-1">
                <a href="/digital" class="menuLink">
                    <picture class="">
                        {{#eq page compare= " home"}}
                        <source srcset="{{>loc page=" home"}}asset/images/banking-digital-mob.png"
                            media="(max-width: 768px)" alt="" width="198" height="58">
                        <img srcset="{{>loc page=" home"}}asset/images/banking-digital.png" alt="" class="" width="221"
                            height="188">
                        {{/eq}}
                        {{#eq page compare= " child"}}
                        <source srcset="{{>loc page=" child"}}asset/images/banking-digital-mob.png"
                            media="(max-width: 768px)" alt="" width="198" height="58">
                        <img srcset="{{>loc page=" child"}}asset/images/banking-digital.png" alt="" class=""
                            width="221" height="188">
                        {{/eq}}
                    </picture>
                    <h2 class="menuButton">Digital banking</h2>
                </a>
            </li>
            <li class="menuItem menuItem-2">
                <a href="#" class="menuLink">
                    <picture class="">
                        {{#eq page compare= " home"}}
                        <source srcset="{{>loc page=" home"}}asset/images/banking-green-mob.png"
                            media="(max-width: 768px)" alt="" width="198" height="58">
                        <img srcset="{{>loc page=" home"}}asset/images/banking-green.png" alt="" class="" width="221"
                            height="188">
                        {{/eq}}
                        {{#eq page compare= " child"}}
                        <source srcset="{{>loc page=" child"}}asset/images/banking-green-mob.png"
                            media="(max-width: 768px)" alt="" width="198" height="58">
                        <img srcset="{{>loc page=" child"}}asset/images/banking-green.png" alt="" class="" width="221"
                            height="188">
                        {{/eq}}
                    </picture>
                    <h2 class="menuButton">Green banking</h2>
                </a>
            </li>
            <li class="menuItem menuItem-3">
                <a href="#" class="menuLink">
                    <picture class="">
                        {{#eq page compare= " home"}}
                        <source srcset="{{>loc page=" home"}}asset/images/banking-international-mob.png"
                            media="(max-width: 768px)" alt="" width="198" height="58">
                        <img srcset="{{>loc page=" home"}}asset/images/banking-international.png" alt="" class=""
                            width="221" height="188">
                        {{/eq}}
                        {{#eq page compare= " child"}}
                        <source srcset="{{>loc page=" child"}}asset/images/banking-international-mob.png"
                            media="(max-width: 768px)" alt="" width="198" height="58">
                        <img srcset="{{>loc page=" child"}}asset/images/banking-international.png" alt="" class=""
                            width="221" height="188">
                        {{/eq}}
                    </picture>
                    <h2 class="menuButton">International <br> banking</h2>
                </a>
            </li>
        </ul>
    </div>
</div>