<div class="preloader">
    <div class="preloaderWrap">
        <div class="preloaderCursor__wrap">
            <div class="preloaderTxt">
                klik disini
            </div>
            <div class="preloaderCursor">
                <picture class="">
                    <source srcset="./asset/images/cursor.png" media="(max-width: 540px)" alt="" width="51" height="50">
                    <img srcset="./asset/images/cursor.png" alt="" class="" width="51" height="50">
                </picture>
            </div>
        </div>
        <button class="preloaderVr__btn" onclick="triggerOculus()" aria-label="Begin web interactive">
            <picture class="preloaderVr">
                <source srcset="./asset/images/loader-vr-mob.png" media="(max-width: 540px)" alt="" width="300"
                    height="169">
                <img srcset="./asset/images/loader-vr.png" alt="" class="" width="664" height="375">
            </picture>
        </button>
    </div>

    <div class="oculus heightFull center-flex opac0">
        <div class="oculusImg">
            <picture class="">
                <source srcset="./asset/images/loader-oculus-mob.png" media="(max-width: 540px)" alt="" width="300"
                    height="169">
                <img srcset="./asset/images/loader-oculus.png" alt="" class="" width="672" height="354">
            </picture>
        </div>
        <div class="oculusHand oculusHand--left">
            <picture class="">
                <source srcset="./asset/images/loader-hand-left.png" media="(max-width: 540px)" alt="" width="627"
                    height="557">
                <img srcset="./asset/images/loader-hand-left.png" alt="" class="" width="627" height="557">
            </picture>
        </div>
        <div class="oculusHand oculusHand--right">
            <picture class="">
                <source srcset="./asset/images/loader-hand-left.png" media="(max-width: 540px)" alt="" width="627"
                    height="557">
                <img srcset="./asset/images/loader-hand-left.png" alt="" class="" width="627" height="557">
            </picture>
        </div>
    </div>
</div>