$font-base: 'Titillium Web', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$line-base: 1.55;

$font-size-xlarge: 45px;
$font-size-large: 36px;
$font-size-vlarge: 30px;
$font-size-xxxmedium: 27px;
$font-size-xxmedium: 24px;
$font-size-xmedium: 22px;
$font-size-medium: 20px;
$font-size-normal: 18px;
$font-size-vnormal: 16px;
$font-size-small: 14px;
$font-size-xsmall: 12px;

$cl-primary-black: #2D2D2D;
$cl-white: #FFFFFF;
$cl-red: #FF3115;
$cl-yellow: #FFD912;
$cl-gray: #5B5B5B;
$cl-lightgray: #F2F2F2;
$cl-blue: #34A0EB;
$cl-green: #16CB46;

$cl-fb: #3b5998;
$cl-tw: #1da1f2;
$cl-ln: #0072b1;
$cl-wa: #25d366;
$cl-link: darken($cl-yellow, 5%);
$cl-tele: #2aabee;

$w-xxl: 1440px;
// $w-xl: 1102px;
$w-xl: 1200px;
$w-lg: 960px;
$w-md: 768px;
$w-sm: 480px;
$w-xm: 320px;