.dorongan {
    padding-top: 32px;
    background: linear-gradient(180deg, rgba(58, 63, 86, 1) 0%, rgba(191, 195, 210, 1) 45%);
    overflow: hidden;

    @include min-responsive($mntablet) {
        padding-top: 68px;
    }

    &Box {
        margin-top: 32px;
        padding: 1px 10px;
        border-radius: 8px;
        background: rgba(228, 238, 235, 0.80);

        @include min-responsive($mntablet) {
            padding: 1px 29px;
            border-radius: 32px;
        }

        &0 {
            margin-bottom: 32px;

            @include min-responsive($mntablet) {
                margin-bottom: 64px;
            }
        }
    }

    &Bg {
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 0;
        height: 662px;
        background: url(../images/dorongan/bg-mob.png);
        background-position: center;

        @include min-responsive($mntablet) {
            height: 1581px;
            background: url(../images/dorongan/bg.png);
            background-position: center;
        }
    }

    &Title {
        margin-top: 32px;
        margin-bottom: 32px;

        @include min-responsive($mntablet) {
            margin-bottom: 64px;
        }
    }

    &Txt {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    &Img {
        position: absolute;
        width: 100%;

        &--wrap {
            width: 100%;
            position: absolute;
            top: 260px;
        }

        &--left,
        &--right {
            display: none;

            @include min-responsive($mntablet) {
                display: block;
            }

            img {
                max-width: 20%;

                @include min-responsive($mptablet) {
                    max-width: 30%;
                }

                @include min-responsive($mztablet) {
                    max-width: 60%;
                }
            }
        }

        &--right {
            @include min-responsive($mptablet) {
                top: 260px;
                right: -70px;
            }

            img {
                float: right;
                width: 400px;
                height: auto;
            }
        }
    }

    .section--zebra {
        margin-top: 32px;

        @include min-responsive($mntablet) {
            margin-top: 64px;
        }
    }
}
