.intro {
    padding-bottom: 40px;
    background: #E1FFD3;

    @include min-responsive($mntablet) {
        padding-bottom: 114px;
    }

    .section--zebra {
        margin-bottom: 20px;

        @include min-responsive($mntablet) {
            margin-bottom: 72px;
        }
    }

    &Txt {
        margin-top: 32px;

        @include min-responsive($mntablet) {
            margin-top: 82px;
        }
    }

    &Bubble {
        margin-bottom: 30px;
        padding: 42px 10px;
        border-radius: 10px;
        background: #8FD8BD;
        position: relative;

        @include min-responsive($mntablet) {
            padding: 44px 39px;
            border-radius: 32px;
        }

        &::after {
            content: ' ';
            position: absolute;
            top: 100%;
            left: 40px;
            border-width: 40px 40px 0 0;
            border-style: solid;
            border-color: #8FD8BD transparent;
            transform: skewX(18deg) scaleX(-1);

            @include min-responsive($mntablet) {
                left: 125px;
            }
        }
    }
}
