.linkedin {
    background: #85DBFC;
    padding-bottom: 0;
    z-index: 2;

    &Bg {
        position: relative;
        margin-top: 80px;
        width: 100%;

        &__img {
            display: block;
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .articleImg {
        &--percent {
            bottom: 0;
            right: 18%;
        }

        &--thumb {
            bottom: 0;
            right: 0;
        }
    }
}