.social {
    background: #EBDFDF;

    .articleImg {
        &--percent {
            position: relative;
            margin-top: -24%;
            margin-bottom: 24%;

            @include min-responsive($mntablet) {
                margin-top: -7%;
                margin-bottom: 7%;
            }
        }
    }
}