.stabil {
    background: #BFDAEB;
    padding-bottom: 22px;
    z-index: 2;

    &:has(.section--zebra) {
        padding-bottom: 22px;
    }

    &Bg{
        margin-bottom: 0;
    }

    .articleImg {
        &--percent {
            position: relative;
            margin-top: -12%;
            margin-bottom: 12%;
        }
    }
}