.tantangan {
    background: linear-gradient(180deg, #716C66 0%, #363330 100%);
    color: $cl_white;
    z-index: 2;

    .articleTitle {
        color: $cl_white;
    }

    .articleImg {
        &--thumb {
            right: 30%;
            top: -10%;
        }

        &--percent {
            position: relative;
            margin-top: -22%;
            margin-bottom: 12%;
            
            @include min-responsive($mntablet) {
                margin-top: -14%;
                margin-bottom: 11%;
                margin-left: 20%;
            }
        }

        &--txt {
            position: relative;
            margin-top: -12%;
            margin-bottom: 12%;
            z-index: 1;
            font-size: 14px;
            
            @include min-responsive($mntablet) {
                margin-left: 22%;
                font-size: 18px;
            }
        }
    }

    .emotTxt {

        @include min-responsive($mntablet) {
            min-height: 56px;
        }
    }
}