<!DOCTYPE html>
<html lang="en">

{{> head page="treatment" child=true}}

<body>
    <main role="main" class="treat">
        {{!> header/header}}

        <!-- preloader -->
        {{> preloader-treat}}
        <!-- preloader -->

        <div class="bgStatic bgStatic--warn">
            <div class="articleContent text-center">
                For better experience, rotate your screen or switch to bigger screen.
            </div>
        </div>

        <!-- Template Background Color -->
        <div class="bgColor__wrap">
            <div class="bgColor bgColor__cream"></div>
        </div>
        <!-- Template Background Color -->
        <!-- Template Image Content -->
        <div class="bgStatic__wrap active">
            <div class="vip bgStatic">
                <div class="vipBg__wrap">
                    <picture class="vipBg">
                        <source srcset="./asset/images/vip-mob.jpg" media="(max-width: 768px)" alt="" width="627"
                            height="786">
                        <img srcset="./asset/images/vip.jpg" alt="" class="" width="1400" height="871">
                    </picture>
                    <div class="vipBg__base"></div>
                </div>
                <div class="container heightFull">
                    <div class="treatWrap vipWrap display-flex heightFull">
                        <div class="articleContent">
                            Kenyamanan bertransaksi di Ruangan BCA Prioritas dan Ruang atau Counter VIP.
                        </div>
                    </div>
                </div>
            </div>
            <div class="branch bgStatic">
                <div class="branchBg__wrap opac0">
                    <picture class="branchBg">
                        <source srcset="./asset/images/branch-mob.jpg" media="(max-width: 768px)" alt="" width="521"
                            height="723">
                        <img srcset="./asset/images/branch.jpg" alt="" class="" width="1400" height="871">
                    </picture>
                    <div class="branchBg__base"></div>
                </div>
                <div class="container heightFull">
                    <div class="treatWrap branchWrap branchContent display-flex heightFull">
                        <div class="articleImg">
                            <picture class="customerImg">
                                <source srcset="./asset/images/customer-mob.png" media="(max-width: 768px)" alt=""
                                    width="196" height="232">
                                <img srcset="./asset/images/customer.png" alt="" class="" width="340" height="403">
                            </picture>
                        </div>
                        <div class="articleContent">
                            Kemudahan bertransaksi di cabang BCA
                        </div>
                    </div>
                </div>
            </div>
            <div class="halo bgStatic opac0">
                <div class="haloBg__wrap">
                    <div class="haloComp"></div>
                    <div class="haloBg"></div>
                </div>
                <div class="container heightFull">
                    <div class="treatWrap haloWrap display-flex heightFull">
                        <div class="articleImg">
                            <picture class="customerZoom">
                                <source srcset="./asset/images/customer-zoom-mob.png" media="(max-width: 768px)" alt=""
                                    width="200" height="233">
                                <img srcset="./asset/images/customer-zoom.png" alt="" class="" width="704" height="820">
                            </picture>
                        </div>
                        <div class="articleContent">
                            Halo BCA Prioritas 1500222 untuk pemenuhan kebutuhan informasi dan pengaduan masalah perbankan.
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                {{>menu-ui page="child"}}
            </div>
            <div class="bgStatic">
                {{>info page="child"}}
            </div>
            <div class="bgStatic">
                <div class="scrollCta treatCta center-flex">
                    <button class="button buttonScroll center-flex">
                        scroll
                        <span class="icon-scroll"></span>
                    </button>
                </div>
                
                {{> button-info}}

                {{> button-credit}}

                <div class="bgColor bgColor__dot"></div>
            </div>
            <div class="bgStatic">
                {{>credit}}

            </div>
        </div>
        <!-- Template Image Content -->
        <!-- Fullpage Content -->
        <div id="fullpage" class="fullpage">
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
        </div>
        <!-- Fullpage Content -->
        <div id="some-element"></div>
    </main>
    {{> footer}}

    {{> js page="treatment" child=true}}

</body>

</html>