.read {
    &Video {
        position: relative;
        min-width: 727px;
        min-height: 409px;

        &:after {
            background-color: #fff;
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.sticky-wrapper {
    .col-sm-2 {
        z-index: 1;
    }
}

.list-news .terkait {
    img {
        height: 115px;
        object-fit: cover;
    }
}

.shareSocmed {
    .buttonSocmed {
        color: $cl-primary-white;
    }

    .fb:hover {
        .buttonSocmed {
            color: #2361d4
        }
    }

    .tw:hover {
        .buttonSocmed {
            color: #48aef5;
        }
    }

    .wa:hover {
        .buttonSocmed {
            color: #29B200;
        }
    }

    .tl:hover {
        .buttonSocmed {
            color: #08c;
        }
    }

    .li:hover {
        .buttonSocmed {
            color: #1188c6
        }
    }
}

.hotopic {
    li.hotopicLabel {
        @include font-pack(roboto !important, 16px, 400, false, #fcfcfc);
        padding: 8px 24px;

        &:before {
            content: none;
        }
    }

    &Label {
        display: inline-block;
        background: #fb5858;
        margin-bottom: 10px;
        border-radius: 7px;

        label {
            margin-bottom: 0;
        }
    }
}

.campaign_kanal {
    height: 56px;
}