.credit {
	position: relative;
	color: #fff;
	background: #000;
	text-align: left;
	font-family: $font_body;
	padding: 10vw 0px 10px;

	@include min-responsive($mxtablet) {
		padding: 5vw 20px 10px;
	}

	&__row {
		position: relative;
		margin: 5px 0 8px;
	}

	&__team {
		font-size: 14px;
		font-weight: 700;
		margin: 0;
		text-transform: uppercase;
	}

	&__member {
		font-size: 13px;
		font-weight: 300;
		position: relative;
		display: block;
		text-transform: uppercase;
	}

	&__logo {
		position: relative;
		padding: 30px 0;
		margin: 0;

		@include max-responsive($mxtablet) {
			text-align: center;
			padding: 0;
			margin: 10px 0 0;
			display: inline-block;
		}

		img {
			height: 40px;
			padding-bottom: 10px;

			@include max-responsive($mxtablet) {
				height: 40px;
			}
		}
	}
}