<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BCA Solitaire</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>

<body bgcolor="#A7A9AC" style="margin: 0; padding: 0;">
    <div style="color:#A7A9AC;font-size:1px;"></div>

    <div style="display: none; max-height: 0px; overflow: hidden;">
        &nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
    </div>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="padding: 42px 0 30px 0;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="853"
                    style="border-collapse: collapse; background-color: #ffffff;">
                    <tr>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                style="border-collapse: collapse;">
                                <tr>
                                    <td valign="top" style="padding: 30px 50px 30px 50px;">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                            style="border-collapse: collapse;">
                                            <tr>
                                                <td align="center">
                                                    <img src="https://prioritas.bca.co.id/-/media/BCAPRIO/Images/e-info/2020-11/bca-prioritas/logo-bca-solitaire"
                                                        alt="BCA Solitaire" width="213" height="40"
                                                        style="display: block;" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" cellpadding="0" cellspacing="0">
                            <img src="https://prioritas.bca.co.id/-/media/BCAPRIO/Images/News/2022/01/03/20220103-berburu-cuan-sbn-ritel-tahun-macan-air.jpg?h=408&w=853&hash=AEB9733C2FD41B41CFC0C8CC07D9B439"
                                alt="" width="853" height="408" style="display: block;" />
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 30px 96px 0 96px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                style="border-collapse: collapse;">
                                <tr>
                                    <td style="color: #342F2F; font-family: Arial, sans-serif;">
                                        <a target="_blank"
                                            style="color: #342F2F; font-family: Arial, sans-serif;text-decoration:none;"
                                            href="https://prioritas.bca.co.id/en/Berita/Investasi/2022/01/03/08/11/berburu-cuan-sbn-ritel-tahun-macan-air">
                                            <h1 style="font-size: 24px; margin: 0; line-height: 30px;">
                                                Berburu Cuan SBN Ritel Tahun Macan Air
                                            </h1>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                        style="color: #4B4B4B; font-family: Arial, sans-serif; font-size: 14px; line-height: 23px; padding: 10px 0 15px; ">
                                        <p style="margin: 0;">
                                            Pemerintah bakal kembali menerbitkan instrumen investasi surat berharga
                                            negara (SBN) ritel sepanjang 2022. Dengan tingkat kupon yang selalu di atas
                                            bunga deposito, berburu ORI hingga Sukuk Ritel bakal jadi agenda yang patut
                                            Anda perhitungkan.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a target="_blank"
                                            href="https://prioritas.bca.co.id/en/Berita/Investasi/2022/01/03/08/11/berburu-cuan-sbn-ritel-tahun-macan-air">
                                            <button
                                                style="border:none;border-radius:3px;background-color:#2D2D2D;color:#FFFFFF;padding:8px 25px;font-size: 14px;line-height:23px;cursor: pointer;">
                                                Lihat Artikel
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 42px 63px 0 63px;">
                            <a href="#" target="_blank">
                                <img src="./asset/images/newsletter/bca-solitaire/ads-middle.png" alt="" width="728"
                                    height="90" style="display: block;" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 20px 96px 0 96px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                style="border-collapse: collapse;">
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                            style="border-collapse: collapse;">
                                            <tr style="padding:20px 0;display:block;">
                                                <td width="300" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                        style="border-collapse: collapse;">
                                                        <tr>
                                                            <td>
                                                                <img src="https://prioritas.bca.co.id/-/media/BCAPRIO/Images/News/2022/01/05/20220105-ketahui-4-jenis-sanksi-kurang-ungkap-harta-di-tax-amnesty.jpg?h=683&w=300&hash=1E40D8FFC30EF59F51EE2C756A5807D8"
                                                                    alt="" width="300"
                                                                    style="display: block;border-radius:12px;" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td style="font-size: 0; line-height: 0;" width="30">&nbsp;</td>
                                                <td width="332" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                        style="border-collapse: collapse;">
                                                        <tr>
                                                            <td>
                                                                <a target="_blank"
                                                                    style="text-decoration:none;color: #342F2F; font-family: Arial, sans-serif;font-size: 18px; line-height: 25px;"
                                                                    href="https://prioritas.bca.co.id/en/Berita/Tax-Amnesty/2022/01/05/07/12/ketahui-4-jenis-sanksi-kurang-ungkap-harta-di-tax-amnesty">
                                                                    <p style="margin: 0;">
                                                                        <b>
                                                                            Ketahui 4 Jenis Sanksi Kurang Ungkap Harta
                                                                            di
                                                                            Tax Amnesty
                                                                        </b>
                                                                    </p>
                                                                </a>
                                                                <div
                                                                    style="color: #4B4B4B; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; padding: 10px 0 15px; ">
                                                                    <p style="margin: 0;">
                                                                        Peserta PPS Kebijakan II yang wanprestasi
                                                                        terkait repatriasi atau investasi dikenakan
                                                                        tambahan PPh...
                                                                    </p>
                                                                </div>
                                                                <a target="_blank"
                                                                    href="https://prioritas.bca.co.id/en/Berita/Tax-Amnesty/2022/01/05/07/12/ketahui-4-jenis-sanksi-kurang-ungkap-harta-di-tax-amnesty">
                                                                    <button
                                                                        style="border:none;border-radius:3px;background-color:#2D2D2D;color:#FFFFFF;padding:8px 25px;font-size: 14px;line-height:23px;cursor: pointer;">
                                                                        Lihat Artikel
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                            style="border-collapse: collapse;">
                                            <tr style="padding: 20px 0px;display:block;">
                                                <td width="332" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                        style="border-collapse: collapse;">
                                                        <tr>
                                                            <td>
                                                                <a target="_blank"
                                                                    style="text-decoration:none;color: #342F2F; font-family: Arial, sans-serif;font-size: 18px; line-height: 25px;"
                                                                    href="https://prioritas.bca.co.id/en/Berita/Health/2022/01/10/03/16/kasus-omicron-meningkat-signifikan-kenali-gejala-penanggulangannya">
                                                                    <p style="margin: 0;">
                                                                        <b>
                                                                            Kasus Omicron Meningkat Signifikan, Kenali
                                                                            Gejala & Penanggulangannya
                                                                        </b>
                                                                    </p>
                                                                </a>
                                                                <div
                                                                    style="color: #4B4B4B; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; padding: 10px 0 15px;">
                                                                    <p style="margin: 0;">
                                                                        Jumlah kasus Covid-19 varian Omicron meningkat
                                                                        signifikan di Jakarta pada pekan pertama Januari
                                                                        2022...
                                                                    </p>
                                                                </div>
                                                                <a target="_blank"
                                                                    href="https://prioritas.bca.co.id/en/Berita/Health/2022/01/10/03/16/kasus-omicron-meningkat-signifikan-kenali-gejala-penanggulangannya">
                                                                    <button
                                                                        style="border:none;border-radius:3px;background-color:#2D2D2D;color:#FFFFFF;padding:8px 25px;font-size: 14px;line-height:23px;cursor: pointer;">
                                                                        Lihat Artikel
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td style="font-size: 0; line-height: 0;" width="30">&nbsp;</td>
                                                <td width="300" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                        style="border-collapse: collapse;">
                                                        <tr>
                                                            <td>
                                                                <img src="https://prioritas.bca.co.id/-/media/BCAPRIO/Images/News/2022/01/20220110-kasus-omicron-meningkat-signifikan-kenali-gejala-penanggulangannya.jpg?h=433&w=300&hash=4049F57AB618495EE9DA23FE6A7F2BD0"
                                                                    alt="" width="300"
                                                                    style="display: block;border-radius:12px;" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                            style="border-collapse: collapse;">
                                            <tr style="padding:20px 0;display:block;">
                                                <td width="300" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                        style="border-collapse: collapse;">
                                                        <tr>
                                                            <td>
                                                                <img src="https://prioritas.bca.co.id/-/media/BCAPRIO/Images/News/2022/01/12/bisnis-tekstil-1.jpg?h=420&w=300&hash=9196199A997687B33547D290FD474C9C"
                                                                    alt="" width="300"
                                                                    style="display: block;border-radius:12px;" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td style="font-size: 0; line-height: 0;" width="30">&nbsp;</td>
                                                <td width="332" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                        style="border-collapse: collapse;">
                                                        <tr>
                                                            <td>
                                                                <a target="_blank"
                                                                    style="text-decoration:none;color: #342F2F; font-family: Arial, sans-serif;font-size: 18px; line-height: 25px;"
                                                                    href="https://prioritas.bca.co.id/en/Berita/Ekonomi-Bisnis/2022/01/12/04/17/punya-bisnis-tekstil-ini-tantangan-dan-peluang-pada-2022">
                                                                    <p style="margin: 0;">
                                                                        <b>
                                                                            Punya Bisnis Tekstil? Ini Tantangan dan
                                                                            Peluang
                                                                            pada 2022
                                                                        </b>
                                                                    </p>
                                                                </a>
                                                                <div
                                                                    style="color: #4B4B4B; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; padding: 10px 0 15px; ">
                                                                    <p style="margin: 0;">
                                                                        Meskipun pemulihan di industri tekstil sudah
                                                                        mulai berlangsung, perlu pula diwaspadai potensi
                                                                        meningkatnya kembali angka penularan virus...
                                                                    </p>
                                                                </div>
                                                                <a target="_blank"
                                                                    href="https://prioritas.bca.co.id/en/Berita/Ekonomi-Bisnis/2022/01/12/04/17/punya-bisnis-tekstil-ini-tantangan-dan-peluang-pada-2022">
                                                                    <button
                                                                        style="border:none;border-radius:3px;background-color:#2D2D2D;color:#FFFFFF;padding:8px 25px;font-size: 14px;line-height:23px;cursor: pointer;">
                                                                        Lihat Artikel
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                            style="border-collapse: collapse;">
                                            <tr style="padding: 20px 0px;display:block;">
                                                <td width="332" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                        style="border-collapse: collapse;">
                                                        <tr>
                                                            <td>
                                                                <a style="text-decoration:none;color: #342F2F; font-family: Arial, sans-serif;font-size: 18px; line-height: 25px;"
                                                                    target="_blank"
                                                                    href="https://prioritas.bca.co.id/en/Berita/Promo/2022/01/07/03/48/keistimewaan-bersantap-di-union-group">
                                                                    <p style="margin: 0;">
                                                                        <b>
                                                                            Manjakan Lidah Awal Tahun dengan Sajian
                                                                            Union
                                                                            Group Ditambah Bonus U+ Poin untuk Pengguna
                                                                            BCA
                                                                            AMEX
                                                                        </b>
                                                                    </p>
                                                                </a>
                                                                <div
                                                                    style="color: #4B4B4B; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; padding: 10px 0 15px;">
                                                                    <p style="margin: 0;">
                                                                        Momen awal tahun menjadi waktu yang tepat bagi
                                                                        sahabat untuk memanjakan lidah dengan menikmati
                                                                        sajian terbaik dari The UNION Group...
                                                                    </p>
                                                                </div>
                                                                <a target="_blank"
                                                                    href="https://prioritas.bca.co.id/en/Berita/Promo/2022/01/07/03/48/keistimewaan-bersantap-di-union-group">
                                                                    <button
                                                                        style="border:none;border-radius:3px;background-color:#2D2D2D;color:#FFFFFF;padding:8px 25px;font-size: 14px;line-height:23px;cursor: pointer;">
                                                                        Lihat Artikel
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td style="font-size: 0; line-height: 0;" width="30">&nbsp;</td>
                                                <td width="300" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                        style="border-collapse: collapse;">
                                                        <tr>
                                                            <td>
                                                                <img src="https://prioritas.bca.co.id/-/media/BCAPRIO/Images/News/2022/20220121keistimewaanbersantapdiuniongroupdenganmenjadimemberblackbonusupoinbagipemegangkartubcaamexp.jpg?h=433&w=300&hash=70A496AFA596B189432E643854A5E3E0"
                                                                    alt="" width="300"
                                                                    style="display: block;border-radius:12px;" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 20px 63px 0 63px;">
                            <a href="#" target="_blank">
                                <img src="./asset/images/newsletter/bca-solitaire/bca-link.png" alt="" width="728"
                                    height="90" style="display: block;" />
                            </a>
                        </td>
                    </tr>
                    <tr style="margin: auto;width: 100%;display: block;padding-top:30px;">
                        <td style="display: block;margin: auto;text-align: center;">
                            <img src="https://prioritas.bca.co.id/-/media/BCAPRIO/Images/e-info/2020-11/bca-prioritas/ojk"
                                alt="" width="40" height="16">
                            <span style="font-weight: bold;font-size:11px;font-family:arial;">
                                BCA terdaftar dan diawasi oleh Otoritas Jasa Keuangan
                            </span>
                        </td>
                    </tr>
                    <tr style="margin: auto;width: 100%;display: block;padding-bottom:22px;">
                        <td style="display:block;margin:auto;text-align:center;">
                            <img src="https://prioritas.bca.co.id/-/media/BCAPRIO/Images/e-info/2020-11/bca-prioritas/lps"
                                alt="" width="36" height="16">
                            <span style="font-weight: bold;font-size:11px;font-family:arial;vertical-align: text-top;">
                                BCA merupakan peserta penjamin LPS • Halo BCA Prioritas 1500 222
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr bgcolor="#A7A9AC">
            <td style="padding: 30px 0 20px 0;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;
        margin: auto;">
                    <tr>
                        <td align="center"
                            style="color: #2D2D2D; font-family: Arial, sans-serif; font-size: 12px;line-height:23px;font-weight:700;">
                            <p style="margin: 0 0 15px;">Connect With Us :</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="font-family: arial;padding-bottom:27px;">
                            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                <tr>
                                    <td style="font-size: 0; line-height: 0;background:#A7A9AC;" width="27"></td>
                                    <td style="display:flex;">
                                        <a href="https://twitter.com/intent/tweet?screen_name=halobca">
                                            {{!-- <img src="./asset/images/newsletter/bca-prioritas/twitter.png"
                                                alt="twitter" width="25" style="display: block;" border="0" /> --}}
                                            <i class="fa-brands fa-twitter" style="color:#2D2D2D;line-height:23px;"></i>
                                        </a>
                                        <a href="https://twitter.com/intent/tweet?screen_name=halobca"
                                            style="color:#2D2D2D;font-size:14px;line-height:23px;text-decoration: none;padding-left: 12px;">@HaloBCA</a>
                                    </td>
                                    <td style="font-size: 0; line-height: 0;background:#A7A9AC;" width="27"></td>
                                    <td style="display:flex;">
                                        <a href="#">
                                            {{!-- <img src="./asset/images/newsletter/bca-prioritas/web.png"
                                                alt="website" width="20" style="display: block;" border="0" /> --}}
                                            <i class="fa-solid fa-globe" style="color:#2D2D2D;line-height:23px;"></i>
                                        </a>
                                        <a href="#"
                                            style="color:#2D2D2D;font-size:14px;line-height:23px;text-decoration: none;padding-left: 12px;">prioritas.bca.co.id</a>
                                    </td>
                                    <td style="font-size: 0; line-height: 0;background:#A7A9AC;" width="27"></td>
                                    <td style="display:flex;">
                                        <a href="#">
                                            {{!-- <img src="./asset/images/newsletter/bca-prioritas/email.png"
                                                alt="email" width="20" style="display: block;" border="0" /> --}}
                                            <i class="fa-regular fa-envelope"
                                                style="color:#2D2D2D;line-height:23px;"></i>
                                        </a>
                                        <a href="#"
                                            style="color:#2D2D2D;font-size:14px;line-height:23px;text-decoration:none;padding-left: 12px;">halobca@bca.co.id</a>
                                    </td>
                                    <td style="font-size: 0; line-height: 0;background:#A7A9AC;" width="27"></td>
                                    <td style="display:flex;">
                                        <a href="https://prioritas.bca.co.id/Temukan-Kami">
                                            {{!-- <img src="./asset/images/newsletter/bca-prioritas/office.png" alt=""
                                                width="15" style="display: block;" border="0" /> --}}
                                            <i class="fa-regular fa-building"
                                                style="color:#2D2D2D;line-height:23px;"></i>
                                        </a>
                                        <a href="https://prioritas.bca.co.id/Temukan-Kami"
                                            style="color:#2D2D2D;font-size:14px;line-height:23px;text-decoration:none;padding-left: 12px;">Cabang
                                            BCA</a>
                                    </td>
                                    <td style="font-size: 0; line-height: 0;background:#A7A9AC;" width="27"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%; height: 1px; left: 0px; top: 1px; background: #656565;display: block;">
                        </td>
                    </tr>
                    <tr>
                        <td align="center"
                            style="color: #2D2D2D; font-family: Arial, sans-serif; font-size: 12px; line-height: 23px;padding: 20px 0 0;display: block;">
                            Bila ingin berhenti berlangganan informasi seputar BCA Prioritas klik <a
                                href="mailto:halobca@bca.co.id?subject=unsubscribe"
                                style="color:#2D2D2D;text-decoration:underline;font-weight:700;">Unsubscribe</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>