<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium Bisniscom</title>
    <meta name="description" content="Premium Bisniscom">
    <link rel="stylesheet" href="./asset/css/style-premium-index.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <main role="main">
        <div class="container">
            <a href="#" class="premiumDet__label"> <span class="premiumDet__icon icon-star"></span>Konten Premium
            </a>
            <div class="display-flex premiumDet__wrapper">
                <div class="premiumDet__left">
                    <div class="premiumDet__text premiumDet__text--small mt-20">Dapatkan informasi komprehensif yang
                        diolah secara mendalam untuk
                        menavigasi
                        bisnis
                        antum..</div>
                    <div class="premiumDet__title">Dan nikmati <span class="cl-orange"> GRATIS AKSES</span> 8 artikel
                        Konten
                        Premium!</div>
                    <div class="premiumDet__text">Paket berlangganan mulai dari</div>
                    <div class="premiumDet__price"> <span class="cl-orange">Rp20.000</span> /bulan</div>
                    <div class="premiumDet__packageWrapper display-flex">
                        <div class="premiumDet__packageRadio">
                            <input type="radio" id="pay0" class="optionRadio premiumDet__packageOption" name="pay" aria-label="Premium package bronze">
                            <label class="premiumDet__packageLabel" for="pay0">
                                <div class="premiumDet__packageItem">
                                    {{>premium/package-bronze}}
                                </div>
                            </label>
                        </div>

                        <div class="premiumDet__packageRadio">
                            <input type="radio" id="pay1" class="optionRadio premiumDet__packageOption" name="pay" aria-label="Premium package silver" checked="checked">
                            <label class="premiumDet__packageLabel" for="pay1">
                                <div class="premiumDet__packageItem">
                                    {{>premium/package-silver}}
                                </div>
                            </label>
                        </div>

                        <div class="premiumDet__packageRadio">
                            <input type="radio" id="pay2" class="optionRadio premiumDet__packageOption" name="pay" aria-label="Premium package gold">
                            <label class="premiumDet__packageLabel" for="pay2">
                                <div class="premiumDet__packageItem">
                                    {{>premium/package-gold}}
                                </div>
                            </label>
                        </div>

                        <div class="premiumDet__packageRadio">
                            <input type="radio" id="pay3" class="optionRadio premiumDet__packageOption" name="pay" aria-label="Premium package platinum">
                            <label class="premiumDet__packageLabel" for="pay3">
                                <div class="premiumDet__packageItem">
                                    {{>premium/package-platinum}}
                                </div>
                            </label>
                        </div>

                        {{!-- <div class="premiumDet__package">
                            <div class="premiumDet__packageName">Bronze</div>
                            <div class="premiumDet__packagePrice">Rp20.000</div>
                            <div class="premiumDet__packageTime">Durasi 1 bulan</div>
                        </div>
                        <div class="premiumDet__package">
                            <div class="premiumDet__packageName">Silver</div>
                            <div class="premiumDet__packagePrice">Rp60.000</div>
                            <div class="premiumDet__packageTime">Durasi 3 bulan</div>
                        </div>
                        <div class="premiumDet__package">
                            <div class="premiumDet__packageName">Gold</div>
                            <div class="premiumDet__packagePrice">Rp120.000</div>
                            <div class="premiumDet__packageTime">Durasi 6 bulan</div>
                        </div>
                        <div class="premiumDet__package">
                            <div class="premiumDet__packageName">Platinum</div>
                            <div class="premiumDet__packagePrice">Rp240.000</div>
                            <div class="premiumDet__packageTime">Durasi 12 bulan</div>
                        </div> --}}
                    </div>
                    <div class="flex-center">
                        <button class="button-subs">Berlangganan sekarang</button>
                    </div>
                    <div class="premiumDet__text text-center mt-20">Sudah berlangganan? Silakan
                        <a href="#" class="premiumDet__linkLogin cl-orange">Login</a>
                    </div>
                </div>
                <div class="premiumDet__right">
                    <img src="asset/images/premium/desain-laptop.png" alt="" srcset="" class="desain-laptop" width="516"
                        height="457">
                </div>
            </div>
            <div class="premiumDet__misc mt-60">
                <p class="text-bold"> Tidak diperlukan komitmen. Batalkan kapan saja.</p> Ini adalah penawaran untuk
                Langganan
                Konten Premium Akses. Metode
                pembayaran Anda akan secara otomatis ditagih di muka setiap bulan. Anda akan dikenakan tarif sesuai
                paket
                berlangganan yang anda pilih, dan setelah itu akan dikenakan tarif berlangganan setiap bulannya sampai
                Anda
                membatalkan. Langganan Anda akan berlanjut hingga Anda membatalkannya. Anda dapat membatalkan kapan
                saja.
                Pembatalan
                berlaku pada akhir periode penagihan Anda saat ini. Aplikasi seluler tidak didukung di semua perangkat.
                Pembatasan
                dan pajak lain mungkin berlaku. Penawaran dan harga dapat berubah tanpa pemberitahuan.
            </div>
            <div class="display-flex">
                <a href="#" class="premiumDet__text premiumDet__text--small premiumDet__range mt-20">Butuh bantuan?</a>
                <a href="#faq" class="premiumDet__text premiumDet__text--small premiumDet__range mt-20">FAQ</a>
            </div>
        </div>
        <div class="container container--small">
            <div class="premiumDet__caption text-center" id="faq"> FAQ (Frequently Asked Questions)</div>
            <div class="premiumDet__faqWrapper close">
                <div class="display-flex justify-between">
                    <div class="premiumDet__faq"> Apa itu konten premium?</div>
                    <button class="premiumDet__show -js-show"> show</button>
                </div>
                <div class="premiumDet__faqContent">Konten Premium adalah artikel yang menyajikan informasi dari fakta
                    dan peristiwa yang diolah serta
                    dipaparkan dengan cara kreatif dan lebih visual. Artikel ditulis dengan bahasa yang lebih sederhana
                    dan
                    lugas serta artikel yang lebih mendalam. Konten premium juga dapat diakses dengan sistem
                    berlangganan
                    pada
                    situs dalam jaringan (online).</div>
            </div>
            <div class="premiumDet__faqWrapper close">
                <div class="display-flex justify-between">
                    <div class="premiumDet__faq"> Apa perbedaan konten premium dengan e-paper Bisnis Indonesia?</div>
                    <button class="premiumDet__show -js-show"> show</button>
                </div>
                <div class="premiumDet__faqContent">
                    <ul class="premiumDet__list">
                        <li>Dengan berlangganan Konten Premium, Anda mendapatkan berita ekonomi, bisnis, dan market
                            terpilih
                            dengan
                            artikel
                            yang lebih mendalam.</li>
                        <li>Sebuah karya jurnalistik adalah sumber informasi sahih. Untuk mendapatkan informasi
                            tersebut, butuh biaya tinggi. Dengan berlangganan Konten Premium, berarti Anda mendukung
                            keberlangsungan
                            informasi yang akan menjadi sumber kepercayaan diri ketika membuat keputusan.</li>
                        <li>Untuk benefit-benefit sebesar itu,
                            harga berlangganan Konten Premium tergolong murah dan sangat bermanfaat.</li>
                        <li>Konten Premium Bisnis Indonesia membuat
                            koleksi berlangganan produk Bisnis Indonesia Group yang sudah Anda miliki menjadi lengkap.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="premiumDet__faqWrapper close">
                <div class="display-flex justify-between">
                    <div class="premiumDet__faq"> Bagaimana cara berlangganan konten premium?</div>
                    <button class="premiumDet__show -js-show"> show</button>
                </div>
                <div class="premiumDet__faqContent">Cukup kunjungi <a
                        href="www.bisnis.com/premium">www.bisnis.com/premium</a> lalu selesaikan
                    tahap-tahap
                    registrasi dan melakukan pembayaran.
                </div>
            </div>
            <div class="premiumDet__faqWrapper close">
                <div class="display-flex justify-between">
                    <div class="premiumDet__faq"> Instrumen pembayaran apa saja yang dapat digunakan untuk berlangganan?
                    </div>
                    <button class="premiumDet__show -js-show"> show</button>
                </div>
                <div class="premiumDet__faqContent">Untuk saat ini, transaksi berlangganan Konten Premium dapat melalui
                    <a href="www.bigstore.bisnis.com">www.bigstore.bisnis.com</a>
                </div>
            </div>
            <div class="premiumDet__faqWrapper close">
                <div class="display-flex justify-between">
                    <div class="premiumDet__faq"> Bagaimana cara mengakses konten premium jika sudah berlangganan?</div>
                    <button class="premiumDet__show -js-show"> show</button>
                </div>
                <div class="premiumDet__faqContent">Setelah login, Konten Premium bisa diakses melalui berbagai
                    perangkat digital, seperti telepon
                    pintar
                    (smartphone), komputer genggam tablet, laptop, atau komputer meja (desktop).</div>
            </div>
            <div class="premiumDet__faqWrapper close">
                <div class="display-flex justify-between">
                    <div class="premiumDet__faq"> Apakah akun konten premium bisa dibuka bersamaan jika digunakan oleh
                        tim?
                    </div>
                    <button class="premiumDet__show -js-show"> show</button>
                </div>
                <div class="premiumDet__faqContent">Untuk satu akun konten premium hanya bisa diakses oleh satu orang.
                </div>
            </div>
            <div class="premiumDet__faqWrapper close">
                <div class="display-flex justify-between">
                    <div class="premiumDet__faq"> Apakah dengan berlangganan konten premium juga dapat langganan
                        e-paper?
                        Juga
                        sebaliknya</div>
                    <button class="premiumDet__show -js-show"> show</button>
                </div>
                <div class="premiumDet__faqContent">Tidak, untuk berlangganan konten premium silahkan kunjungi <a
                        href="www.bisnis.com/premium">www.bisnis.com/premium</a> sedangkan untuk
                    berlangganan E-paper silahkan kunjungi <a href="www.epaper.bisnis.com">www.epaper.bisnis.com</a>
                </div>
            </div>
            <div class="premiumDet__faqWrapper close">
                <div class="display-flex justify-between">
                    <div class="premiumDet__faq"> Apakah artikel Konten Premium yang lalu dapat diakses kembali, dan
                        sampai
                        berapa
                        lama dapat diakses?</div>
                    <button class="premiumDet__show -js-show"> show</button>
                </div>
                <div class="premiumDet__faqContent">Ada, dengan syarat dan ketentuan berlaku. Selengkapnya bisa
                    menghubungi <a href="mailto:cs-epaper@bisnis.com">cs-epaper@bisnis.com</a> </div>
            </div>
            <div class="premiumDet__faqWrapper close">
                <div class="display-flex justify-between">
                    <div class="premiumDet__faq"> Apakah artikel Konten Premium dapat di share link-nya?</div>
                    <button class="premiumDet__show -js-show"> show</button>
                </div>
                <div class="premiumDet__faqContent">Artikel Konten Premium dapat di share link-nya, tetapi bagi yang
                    belum berlangganan hanya bisa
                    membaca
                    sebagian kontennya.</div>
            </div>
            <div class="premiumDet__faqWrapper close">
                <div class="display-flex justify-between">
                    <div class="premiumDet__faq"> Apa Konten Premium sama dengan berita di Bisnis.com?</div>
                    <button class="premiumDet__show -js-show"> show</button>
                </div>
                <div class="premiumDet__faqContent">Konten Premium tidak sama dengan berita di Bisnis.com, karena Konten
                    Premium disajikan dalam bentuk
                    tulisan
                    jurnalistik yang lebih mendalam suatu issue atau peristiwa ekonomi dan bisnis.</div>
            </div>
        </div>
    </main>
    <footer class="premiumDet__footerWrapper display-flex justify-between">
        <div class="premiumDet__footer">
            <a href="https://www.bisnis.com" rel="noopener noreferrer">
                <img src="asset/images/premium/logo-bisniscom.png" alt="Bisnis.com" srcset="" width="158" height="36">
            </a>
            <div class="mt-10">Copyright © 2021 – Bisnis Indonesia.</div>
        </div>
        <ul class="premiumDet__menu display-flex">
            <li><a class="premiumDet__link" href="#">About</a></li>
            <li><a class="premiumDet__link" href="#">Privacy Policy</a></li>
            <li><a class="premiumDet__link" href="#">Code of Conduct</a></li>
            <li><a class="premiumDet__link" href="#">Advertise with us</a></li>
            <li><a class="premiumDet__link" href="#">Contact Us</a></li>
            <li><a class="premiumDet__link" href="#">Career</a></li>
        </ul>
        <button class="to-top text-center mt-20" onclick="scrollToTop()"><img src="asset/images/premium/arrow.png" alt=""
                srcset="" width="15" height="27">
            <div> To top</div>
        </button>
    </footer>

    {{>footer/script page="premium"}}
</body>

</html>