<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="goto, tokopedia, gojek, merger tokopedia dengan gojek">
    <meta name="description"
        content=" Pengumuman merger PT Aplikasi Karya Anak Bangsa (Gojek) dengan PT Tokopedia memberikan efek kejut. Tak hanya kepada khalayak pengguna aplikasi berbasis digital tersebut, tetapi industri turunan yang bersinggungan dengan dua korporasi karya anak bangsa itu. ">
    <title>'Perkawinan' Gojek-Tokopedia, Akankah Euforia Bertahan Lama? | BisnisPlus</title>

    <link rel="apple-touch-icon" sizes="57x57" href="https://plus.bisnis.com/img/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://plus.bisnis.com/img/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://plus.bisnis.com/img/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://plus.bisnis.com/img/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://plus.bisnis.com/img/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://plus.bisnis.com/img/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://plus.bisnis.com/img/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://plus.bisnis.com/img/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://plus.bisnis.com/img/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://plus.bisnis.com/img/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://plus.bisnis.com/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://plus.bisnis.com/img/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://plus.bisnis.com/img/icon/favicon-16x16.png">
    <link rel="manifest" href="https://plus.bisnis.com/img/icon/manifest.json">
    <link rel="canonical" href="https://plus.bisnis.com/read/perkawinan-gojek-tokopedia-akankah-euforia-bertahan-lama">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://plus.bisnis.com/img/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:url"
        content="https://plus.bisnis.com/read/perkawinan-gojek-tokopedia-akankah-euforia-bertahan-lama" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="'Perkawinan' Gojek-Tokopedia, Akankah Euforia Bertahan Lama? | BisnisPlus" />
    <meta property="og:image" content="https://images.bisnis-cdn.com/plus/9/ojol.jpg" />
    <meta property="og:site_name" content="Bisnis.com" />
    <meta property="og:description"
        content="Pengumuman merger PT Aplikasi Karya Anak Bangsa (Gojek) dengan PT Tokopedia memberikan efek kejut. Tak hanya kepada khalayak pengguna aplikasi berbasis digital tersebut, tetapi industri turunan yang bersinggungan dengan dua korporasi karya anak bangsa itu." />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bisniscom">
    <meta name="twitter:creator" content="@bisniscom">
    <meta name="twitter:title" content="'Perkawinan' Gojek-Tokopedia, Akankah Euforia Bertahan Lama? | BisnisPlus">
    <meta name="twitter:image" content="https://images.bisnis-cdn.com/plus/9/ojol.jpg">
    <meta name="twitter:description"
        content="Pengumuman merger PT Aplikasi Karya Anak Bangsa (Gojek) dengan PT Tokopedia memberikan efek kejut. Tak hanya kepada khalayak pengguna aplikasi berbasis digital tersebut, tetapi industri turunan yang bersinggungan dengan dua korporasi karya anak bangsa itu.">

    <link rel="stylesheet" type="text/css" href="https://plus.bisnis.com/css/app.css?id=d3c2a58fb5ef348666ee" />
    <link rel="stylesheet" type="text/css" href="https://plus.bisnis.com/css/styles.css?id=e02cf5af9a0797632635" />
    <link rel="stylesheet" type="text/css" href="https://plus.bisnis.com/css/aos.css">
    <link rel="stylesheet" type="text/css" href="https://plus.bisnis.com/css/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="https://plus.bisnis.com/css/default-skin.css">

    {{> head page="read-plus"}}

    <meta name="google-site-verification" content="U_PsODpihrABwg6_yZ7_4JgEDT0T_1w-Lib5exquqyI" />
    <meta name="msvalidate.01" content="0295B0FF4381D0CCE23ADC5AF01DB848" />
    <meta name="alexaVerifyID" content="b413df64-f5c8-4ffd-8435-85103dc794f2" />
    <meta name="ahrefs-site-verification" content="5fe082db7af4c2d19b5e0a4ca927a1afbf4232cb8e963805718eec4732d60568">
    <meta property="fb:app_id" content="735125016503599" />
    <meta property="fb:pages" content="316323706189" />
    <meta name="googlebot-news" content="index,follow" />
    <meta name="googlebot" content="index,follow,all" />
    <meta name="Bingbot" content="index, follow">

    <!-- BEGIN Google Analytics Script -->
    <script>
        (function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-25108613-1', 'auto'); ga('send', 'pageview'); 
    </script>
    <!-- END Google Analytics Script -->

    <!-- Start Alexa Certify Javascript -->
    <script type="text/javascript">
        _atrk_opts = { atrk_acct: "Ea4Ze1aowb00ax", domain: "bisnis.com", dynamic: true };
        (function () { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(as, s); })();
    </script><noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=Ea4Ze1aowb00ax"
            style="display:none" height="1" width="1" alt="" /></noscript>
    <!-- End Alexa Certify Javascript -->

    <!-- Facebook Pixel Code -->
    <script>
        ! function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '870856843551468');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=870856843551468&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->

    <script type='application/ld+json'>
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Bisnis Plus",
            "url": "https://plus.bisnis.com/",
            "sameAs": [
                "https://www.facebook.com/wwwbisniscom",
                "https://twitter.com/bisniscom",
                "https://www.instagram.com/bisniscom"
            ],
            "logo": "https://plus.bisnis.com/img/logo/bisnisplus.svg"
        }
    </script>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "url": "https://www.bisnis.com/",
            "potentialAction": [{
                "@type": "SearchAction",
                "target": "https://search.bisnis.com/?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }]
        }
    </script>
    <script type="application/ld+json">
    {
	"@context": "https://schema.org",
	"@type": "WebPage",
	"headline": "'Perkawinan' Gojek-Tokopedia, Akankah Euforia Bertahan Lama?",
	"url": "https://plus.bisnis.com/read/perkawinan-gojek-tokopedia-akankah-euforia-bertahan-lama",
	"datePublished": "2021-05-20 19:00:43",
	"image": "https://images.bisnis-cdn.com/plus/9/ojol-large.jpg",
	"thumbnailUrl": "https://images.bisnis-cdn.com/plus/9/ojol.jpg"
}
</script>
    <script type="application/ld+json">
    {
		"@context": "https://schema.org",
		"@type": "NewsArticle",
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": "https://plus.bisnis.com/read/perkawinan-gojek-tokopedia-akankah-euforia-bertahan-lama"
		},
		"headline": "https://plus.bisnis.com/read/perkawinan-gojek-tokopedia-akankah-euforia-bertahan-lama",

		"image": {
			"@type": "ImageObject",
			"url": "https://images.bisnis-cdn.com/plus/9/ojol-large.jpg"
		},
		
		"datePublished": "2021-05-20 19:00:43",
		"dateModified": "2021-05-20 19:00:43",
		"author": {
			"@type": "Person",
			"name": "Hendri T. Asworo"
		},
		"publisher": {
			"@type": "Organization",
			"name": "bisnis.com",
			"logo": {
				"@type": "ImageObject",
				"url": "https://plus.bisnis.com/img/logo/bisnisplus.svg"
			}
		},
		"keywords": "goto, tokopedia, gojek, merger tokopedia dengan gojek",
		"description": "Pengumuman merger PT Aplikasi Karya Anak Bangsa (Gojek) dengan PT Tokopedia memberikan efek kejut. Tak hanya kepada khalayak pengguna aplikasi berbasis digital tersebut, tetapi industri turunan yang bersinggungan dengan dua korporasi karya anak bangsa itu."
	}
</script>
    <script type="application/ld+json">
    {
	"@context": "https://schema.org/",
	"@type": "BreadcrumbList",
	"itemListElement": [
		{
			"@type": "ListItem",
			"position": 1,
			"item": {
				"@type": "WebSite",
				"@id": "https://plus.bisnis.com",
				"name": "Home"
			}
		},
		{
			"@type": "ListItem",
			"position": 2,
			"item": {
				"@type": "WebPage",
				"@id": "https://plus.bisnis.com/company",
				"name": "Company"
			}
		},
		{
			"@type": "ListItem",
			"position": 3,
			"item": {
				"@type": "WebPage",
				"@id": "https://plus.bisnis.com/read/perkawinan-gojek-tokopedia-akankah-euforia-bertahan-lama",
				"image": "https://images.bisnis-cdn.com/plus/9/ojol-large.jpg",
				"name": "'Perkawinan' Gojek-Tokopedia, Akankah Euforia Bertahan Lama?"
			}
		}
	]
}
</script>
</head>

<body>
    <div class="container-fluid bg-dark">
        <div class="wrapper__navbar-top">
            <a class="navbar-brand" href="https://www.bisnis.com" target="_blank" title="Bisnis.com">
                <img src="https://plus.bisnis.com/img/logo/bisnis-logo.svg" alt="bisnis-logo" />
            </a>
            <div class="navbar-top__flex">
                <div>
                    <a class="nav-link" href="https://market.bisnis.com/" target="_blank" title="Market">Market</a>
                </div>
                <div>
                    <a class="nav-link" href="https://finansial.bisnis.com/" target="_blank"
                        title="Finansial">Finansial</a>
                </div>
                <div>
                    <a class="nav-link" href="https://teknologi.bisnis.com/" target="_blank"
                        title="Teknologi">Teknologi</a>
                </div>
                <div>
                    <a class="nav-link" href="https://lifestyle.bisnis.com/" target="_blank"
                        title="Lifestyle">Lifestyle</a>
                </div>
                <div>
                    <a class="nav-link" href="https://traveling.bisnis.com/" target="_blank" title="Travel">Travel</a>
                </div>
                <div>
                    <a class="nav-link" href="https://kabar24.bisnis.com/" target="_blank" title="Kabar24">Kabar24</a>
                </div>
                <div>
                    <a class="nav-link" href="https://sport.bisnis.com/" target="_blank" title="Sport">Sport</a>
                </div>
                <div>
                    <a class="nav-link" href="https://bola.bisnis.com/" target="_blank" title="Bola">Bola</a>
                </div>
                <div>
                    <a class="nav-link" href="https://infografik.bisnis.com/" target="_blank"
                        title="Infografik">Infografik</a>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar__bottom">
        <a class="navbar-brand logo__custom--margin" href="https://plus.bisnis.com">
            <img src="https://plus.bisnis.com/img/logo/bisnisplus.svg" alt="bisnisplus-logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav__custom-flex">
                <li class="nav-item nav-custom--padding">
                    <a class="nav-link " href="https://plus.bisnis.com">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li class="nav-item nav-custom--padding">
                    <a class="nav-link " href="https://plus.bisnis.com/stories" title="Stories">Stories</a>
                </li>
                <li class="nav-item nav-custom--padding">
                    <a class="nav-link " href="https://plus.bisnis.com/company" title="Company">Company</a>
                </li>
                <li class="nav-item nav-custom--padding">
                    <a class="nav-link " href="https://plus.bisnis.com/people" title="People">People</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="overlay-detail"></div>
    <div class="wrapper__parallax">
        <div class="wrapper__parallax-inner">
            <div class="wrapper__parallax-show">
                <div class="wrapper__parallax-bg" style="
              background-image: url(https://images.bisnis-cdn.com/plus/9/ojol-large.jpg);
              background-repeat: no-repeat;  
              background-position: top;
              background-size: cover;  
            "></div>
            </div>
        </div>
    </div>

    <div class="detail-news__category">
        <p>Company</p>
    </div>
    <div class="detail-news__title">
        <h1>'Perkawinan' Gojek-Tokopedia, Akankah Euforia Bertahan Lama?</h1>
    </div>
    <div id="articleDetail" class="wrapper__article-detail">
        <div id="shareBtn" class="wrapper__share-btn">
            <div class="share-btn__item">
                <a href="javascript:void(0);"
                    onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https://plus.bisnis.com/read/perkawinan-gojek-tokopedia-akankah-euforia-bertahan-lama', '_blank', 'toolbar=yes,scrollbars=yes,resizable=yes,top=50,left=100,width=600,height=400');"
                    target="_blank">
                    <div class="wrapper__icon-fb">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                </a>
            </div>
            <div class="share-btn__item">
                <a href="javascript:void(0);"
                    onclick="window.open('https://twitter.com/intent/tweet?original_referer=https://plus.bisnis.com/read/perkawinan-gojek-tokopedia-akankah-euforia-bertahan-lama&ref_src=twsrc%5Etfw&text='Perkawinan' Gojek-Tokopedia, Akankah Euforia Bertahan Lama?&tw_p=tweetbutton&url=https://plus.bisnis.com/read/perkawinan-gojek-tokopedia-akankah-euforia-bertahan-lama', '_blank', 'toolbar=yes,scrollbars=yes,resizable=yes,top=50,left=100,width=600,height=400');">
                    <div class="wrapper__icon-twitter">
                        <i class="fab fa-twitter"></i>
                    </div>
                </a>
            </div>
            <div class="share-btn__item">
                <a href="javascript:void(0);"
                    onclick="copy('https://plus.bisnis.com/read/perkawinan-gojek-tokopedia-akankah-euforia-bertahan-lama')"
                    data-container="body" data-toggle="popover" data-placement="right"
                    data-content="Tautan telah disalin">
                    <div class="wrapper__icon-copylink">
                        <img src="https://plus.bisnis.com/img/copylink-icon.svg" alt="copylink-icon">
                    </div>
                </a>
            </div>
        </div>

        <div class="container container__custom-padding">
            <div class="detail-news__summary">
                <p> Pengumuman merger PT Aplikasi Karya Anak Bangsa (Gojek) dengan PT Tokopedia memberikan efek kejut.
                    Tak hanya kepada khalayak pengguna aplikasi berbasis digital tersebut, tetapi industri turunan yang
                    bersinggungan dengan dua korporasi karya anak bangsa itu.</p>
            </div>
            <div class="detail-news__datetime">
                <p>20 Mei 2021</p>
            </div>
            <div class="detail-news__adjust-fontsize" data-font="18">
                <div class="adjust-fontsize__item">
                    <a href="javascript:void" id="buttonPlus" class="click-fontsize plus">A+</a>
                </div>
                <div class="adjust-fontsize__item minus">
                    <a href="javascript:void" id="buttonMinus" class="click-fontsize minus">A-</a>
                </div>
            </div>
        </div>
        <section>
            <div class="container container__custom-padding">
                <div class="border-line__end fullwidth"></div>
                <div class="detail-news__article dropcap">
                    <p data-aos="fade-right">GoTo, demikian nama holding dari ‘perkawinan’ Gojek dengan Tokopedia.
                        Entitas ini akan menjadi induk dari dua perusahaan aplikasi berbasis daring tersebut. Ada
                        tambahan lini bisnis, yakni GoTo Financial.</p>
                    <p data-aos="fade-right">Lini usaha GoTo Finansial ini akan membidangi bisnis di sektor keuangan,
                        mulai dari perbankan, asuransi, multifinance, hingga teknologi finansial.</p>
                    <p data-aos="fade-right">Ada dua nakhoda di GoTo. Andre Soelistyo dari Gojek menjadi CEO Group GoTo,
                        dan Patrick Cao dari Tokopedia sebagai Presiden GoTo. Pembagian ‘kekuasaan’ juga dilakukan di
                        dua entitas anak usaha.</p>
                    <p data-aos="fade-right">Kevin Aluwi yang juga menjadi Co-founder Gojek tetap menjabat sebagai CEO
                        di perusahaan ride hailing tersebut. Posisi serupa ditempati William Tanuwijaya, yakni CEO
                        Tokopedia.</p>
                    <p data-aos="fade-right">Dalam sebuah wawancara, William Tanuwijaya menyebutkan bahwa GoTo akan
                        disamakan dengan Alphabet Inc. milik Google. Perusahaan investasi yang mempunya lini bisnis
                        lintas sektor dan fokus pada teknologi.</p>
                    <p data-aos="fade-right">William sempat mengklaim bahwa GoTo akan menjadi perusahaan multi ekosistem
                        pertama di dunia. Artinya, perusahaan yang menyatukan transportasi online dengan e-commerce
                        beserta entitas turunannya, seperti pesan antar makanan, keuangan, logistik, dan lainnya.</p>
                </div>
            </div>
            <div>
                <div class="wrapper__parallax">
                    <div class="wrapper__parallax-inner">
                        <div class="wrapper__parallax-show">
                            <div class="wrapper__parallax-bg" style="
                        background-image: url(https://images.bisnis-cdn.com/plus/upload/img/300120-tri-bisnis-20-tokped-1.jpg);
                        background-repeat: no-repeat;   
                        background-position: top;
                        background-size: cover;  
                      "></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container container__custom-padding">
                <div class="detail-news__article">
                    <p data-aos="fade-right">Entitas turunan yang terkena dampak signifikan dari aksi korporasi ini
                        adalah PT Bank Jago Tbk. Bank berkode saham ARTO itu sedari awal tahun sahamnya terbang terkena
                        sentimen masuknya Gojek.</p>
                    <p data-aos="fade-right">Bank yang diakuisisi bankir senior Jerry Ng dan pengusaha Patrick P. Walujo
                        itu ketiban berkah lonjakan harga saham mulai pengujung 2020. Sejak Juni 2020, sempat terjadi
                        beberapa kali transaksi saham jumbo di pasar negosiasi yang melibatkan saham bank tersebut.</p>
                    <p data-aos="fade-right">Akhirnya Gojek mengumumkan telah mengempit 22 persen saham Bank Jago pada
                        18 Desember 2020. Kabarnya, Gojek membeli saham publik lewat PT Trimegah Sekuritas Indonesia
                        Tbk.</p>
                    <p data-aos="fade-right">Seperti diketahui Trimegah Sekuritas adalah milik Patrick P. Walujo melalui
                        perusahaan investasinya, Northstar Group. Patrick juga seed funding Gojek ketika perusahaan ini
                        baru dirintis oleh Nadiem Makarim.</p>
                    <p data-aos="fade-right">Berdasarkan catatan Bisnis, pada 2020 total nilai transaksi saham ARTO di
                        pasar negosiasi mencapai Rp2,25 triliun. Sejak menggelar initial public offering pada Januari
                        2016, saham bank yang semula bernama Artos tidak pernah melampaui level 200.</p>
                    <p data-aos="fade-right">Sejak diambil alih Jerry dan Patrick saham ARTO to the moon. Begitu
                        investor di lantai bursa menyebut. Saham Bank Jago sempat melesat di level Rp11.000 ketika Gojek
                        masuk. Pun ketika pengumuman merger GoTo awal pekan ini.</p>
                    <div class="detail-news__image fullwidth d-flex justify-content-center flex-column"
                        data-aos="fade-right">
                        <div id="demo-test-gallery" class="demo-gallery">
                            {{!-- <img
                                src="https://images.bisnis-cdn.com/plus/upload/img/290321-dul-bisnis-23-bankjago1.jpg"
                                alt="Karyawan beraktivitas didepan logo Bank Jago di Jakarta, Senin (29/3/2021). Bisnis/Abdurachman">
                            --}}
                            <picture>
                                <source
                                    srcset="https://images.bisnis-cdn.com/thumb/plus/upload/img/290321-dul-bisnis-23-bankjago1.jpg?w=360&h=240"
                                    media="(max-width: 768px)">
                                <img srcset="https://images.bisnis-cdn.com/plus/upload/img/290321-dul-bisnis-23-bankjago1.jpg"
                                    alt="Karyawan beraktivitas didepan logo Bank Jago di Jakarta, Senin (29/3/2021). Bisnis/Abdurachman">
                            </picture>
                            <figure class="detail-news__image-caption">
                                <p>Karyawan beraktivitas didepan logo Bank Jago di Jakarta, Senin (29/3/2021).
                                    Bisnis/Abdurachman</p>
                            </figure>
                        </div>
                    </div>
                    <p data-aos="fade-right">Kapitalisasi ARTO hampir mendekati Rp150 triliun. Sempat menyikut PT Bank
                        Negara Indonesia (Persero) Tbk. sebagai klasemen Big Caps. Namun, kinerja Bank Jago sampai saat
                        ini masih merah.</p>
                    <p data-aos="fade-right">Hingga kuartal I/2021 Bank Jago menelan kerugian Rp38,13 miliar.
                        Berdasarkan catatan Bisnis, rapor merah ini melanjutkan kerugian yang dialami sejak 2015.
                        Meskipun tahun ini manajemen optimistis akan mencetak laba sekitar Rp50 miliar.</p>
                </div>
            </div>
        </section>

        <section>
            <div class="container container__custom-padding">
                <div class="border-line__end fullwidth"></div>
                <div class="detail-news__article">
                    <div class="detail-news__headline" data-aos="fade-right">
                        <h2>Perusahaan Lippo</h2>
                    </div>
                    <p data-aos="fade-right">Entitas lain yang terdampak dari pengumuman merger GoTo adalah PT
                        Multipolar Tbk. (MLPL) dan PT Matahari Putra Prima Tbk. (MPPA). Dua emiten ini ada di bawah
                        bendera Lippo Group, milik konglomerat Mochtar Riady.</p>
                    <p data-aos="fade-right">MLPL adalah pengendali MPPA. Adapun MPPA pemilik Hypermart. Belakangan
                        pemilik gerai hipermarket ini melepas sebagian sahamnya ke Gojek.</p>
                    <p data-aos="fade-right">Dalam keterbukaan informasi Selasa (11/5/2021), Direktur Multipolar Agus
                        Arismunandar mengungkapkan 11,9 persen saham MPPA dilepas kepada PT Pradipa Darpa Bangsa,
                        Panbridge Investment Ltd., dan Threadmore Capital Ltd. Transaksi itu dilakukan pada 6 April
                        2021.</p>
                    <p data-aos="fade-right">Pradipa Darpa Bangsa yang kini menggenggam 4,76 persen atau 358,53 juta
                        saham MPPA itu ada benang merah dengan PT Aplikasi Karya Anak Bangsa.</p>
                    <p data-aos="fade-right">Sebanyak 99,996 persen saham Pradipa Darpa Bangsa dimiliki oleh Gojek dan
                        0,004 persen dikempit PT Dompet Karya Anak Bangsa alias Gopay.</p>
                    <p data-aos="fade-right">Andre Sulistyo yang kini menjadi CEO GoTo diketahui menduduki posisi
                        komisaris utama di perusahaan yang bergerak di bidang jasa aktivitas profesional, ilmiah, dan
                        teknis itu.</p>
                    <div class="detail-news__image fullwidth d-flex justify-content-center flex-column"
                        data-aos="fade-right">
                        <div id="demo-test-gallery" class="demo-gallery">
                            {{!-- <img
                                src="https://images.bisnis-cdn.com/plus/upload/img/150620-rhn-bisnis-17-market__7_.jpg"
                                alt="Pengunjung menjalani protokol kesehatan saat masuk ke salah satu mal di Bandung, Jawa Barat. Bisnis/Rachman">
                            --}}
                            <picture>
                                <source
                                    srcset="https://images.bisnis-cdn.com/thumb/plus/upload/img/150620-rhn-bisnis-17-market__7_.jpg?w=360&h=240"
                                    media="(max-width: 768px)">
                                <img srcset="https://images.bisnis-cdn.com/plus/upload/img/150620-rhn-bisnis-17-market__7_.jpg"
                                    alt="Pengunjung menjalani protokol kesehatan saat masuk ke salah satu mal di Bandung, Jawa Barat. Bisnis/Rachman">
                            </picture>
                            <figure class="detail-news__image-caption">
                                <p>Pengunjung menjalani protokol kesehatan saat masuk ke salah satu mal di Bandung, Jawa
                                    Barat. Bisnis/Rachman</p>
                            </figure>
                        </div>
                    </div>
                    <p data-aos="fade-right">Adapun, Threadmore Capital Ltd. membeli saham MPPA sebanyak 3,81 persen
                        atau setara dengan 286.824.700 saham. Threadmore Capital Ltd. merupakan perusahaan investasi
                        yang berdomisili di Cayman Islands.</p>
                    <p data-aos="fade-right">Terakhir ada Panbridge Investment Ltd. yang membeli 3,33 persen saham MPPA
                        atau setara dengan 250.971.600 saham. Sama seperti Threadmore Capital, Panbridge juga diketahui
                        adalah perusahaan investasi yang berdomisili di Cayman Islands.</p>
                    <p data-aos="fade-right">Menurut informasi yang diterima Bisnis, dua perusahaan ini terafiliasi
                        dengan Gojek. “Diyakini seperti itu,” ujar sumber yang mengetahui transaksi itu.</p>
                    <p data-aos="fade-right">Namun, setelah transaksi itu, MLPL masih menggenggam 38 persen saham MPPA.
                        Gojek memiliki kepentingan bisnis di sektor pengiriman bahan makanan yang belum tergarap serius
                        di Indonesia.</p>
                    <p data-aos="fade-right">Menurut L.E.K. Consulting, saat ini pasar pengiriman bahan makanan secara
                        virtual di Indonesia mencapai US$1 miliar atau setara Rp14 triliun (kurs Rp14.000 per dolar AS)
                        atau 0,3 persen dari PDB. Pasar <em>e-groceries</em> ini diramalkan melonjak ke US$6 miliar pada
                        2025 dipicu oleh pandemi.</p>
                    <p data-aos="fade-right">Kongsi Gojek dan Hypermart akan mensinergikan bisnis pengiriman bahan
                        makanan ke dalam GoMart. Hal ini tentu akan menggembungkan bisnis <em>e-groceries</em> anak
                        usaha Lippo tersebut. Belum lagi sinergi pada <em>e-commerce</em> lain.</p>
                </div>
            </div>
        </section>
        <section>
            <div class="container container__custom-padding">
                <div class="border-line__end fullwidth"></div>
                <div class="detail-news__article">
                    <div class="detail-news__headline" data-aos="fade-right">
                        <h2>Dampak Senyap</h2>
                    </div>
                    <p data-aos="fade-right">Dampak yang tidak terdengar dari aksi korporasi GoTo adalah PT Blue Bird
                        Tbk. Emiten berkode saham BIRD ini sebenarnya bersinggungan dengan Gojek. Pasalnya PT Aplikasi
                        Karya Anak Bangsa telah menggenggam saham perseroan pada Februari 2020.</p>
                    <div class="detail-news__image fullwidth d-flex justify-content-center flex-column"
                        data-aos="fade-right">
                        <div id="demo-test-gallery" class="demo-gallery">
                            {{!-- <img
                                src="https://images.bisnis-cdn.com/plus/upload/img/040121-bio-bisnis-24-bluebird_6.jpg"
                                alt="Petugas melakukan pembersihan dan penyemprotan disinfektan armada Bluebird di Pool Bluebird, Mampang, Jakarta. Bisnis/Eusebio Chrysnamurti">
                            --}}
                            <picture>
                                <source
                                    srcset="https://images.bisnis-cdn.com/thumb/plus/upload/img/040121-bio-bisnis-24-bluebird_6.jpg?w=360&h=240"
                                    media="(max-width: 768px)">
                                <img srcset="https://images.bisnis-cdn.com/plus/upload/img/040121-bio-bisnis-24-bluebird_6.jpg"
                                    alt="Petugas melakukan pembersihan dan penyemprotan disinfektan armada Bluebird di Pool Bluebird, Mampang, Jakarta. Bisnis/Eusebio Chrysnamurti">
                            </picture>
                            <figure class="detail-news__image-caption">
                                <p>Petugas melakukan pembersihan dan penyemprotan disinfektan armada Bluebird di Pool
                                    Bluebird, Mampang, Jakarta. Bisnis/Eusebio Chrysnamurti</p>
                            </figure>
                        </div>
                    </div>
                    <p data-aos="fade-right">Memang kepemilikan saham Gojek di BIRD cukup tipis. Kala itu, PT Pusaka
                        Citra diketahui menjual 108.207.016 saham dengan harga Rp3.800 per saham. Total nilai
                        transaksinya adalah Rp411 miliar.</p>
                    <p data-aos="fade-right">Sejalan dengan transaksi itu, porsi pemegang saham mayoritas PT Pusaka
                        Citra, perusahaan milik keluarga Djokosoetono, di BIRD berkurang menjadi 31,52 persen dari
                        semula 35,842 persen.</p>
                    <p data-aos="fade-right">Meski ada aksi korporasi GoTo, saham BIRD terlihat anyep. Pada saat
                        diumumkan merger Gojek-Tokopedia, Senin (17/5/2021) sahamnya ditutup merosot 3,47 persen menjadi
                        Rp1.250 per lembar saham. Harga ini tentu jauh di bawah harga beli Gojek pada Februari 2020
                        sebesar Rp3.800 per saham.</p>
                    <p data-aos="fade-right">Dampak senyap lain terjadi pada PT Adi Sarana Armada Tbk. Pemilik
                        perusahaan jasa pengiriman Anteraja.id ini tak terlihat efek bola salju pada aksi korporasi
                        GoTo.</p>
                    <p data-aos="fade-right">Seperti diketahui Anteraja adalah milik pengusaha kakap TP Rachmat yang
                        juga mertua dari Patrick Walujo. Anteraja berkongsi dengan Tokopedia untuk jasa pengiriman
                        barang. Pada penutupan perdagangan Senin (17/5/2021), emiten kode saham ASSA ini susut 0,49
                        persen menjadi Rp2.030 per lembar.</p>
                    <p data-aos="fade-right">Hal serupa terjadi pada PT Astra International Tbk. Emiten blue chip ini
                        tercatat sebagai investor besar Gojek. Astra terlibat pada pendanaan seri D bersama Google dan
                        lainya senilai US$1,5 miliar pada Januari 2018.</p>
                    <div class="detail-news__image fullwidth d-flex justify-content-center flex-column"
                        data-aos="fade-right">
                        <div id="demo-test-gallery" class="demo-gallery">
                            {{!-- <img src="https://images.bisnis-cdn.com/plus/upload/img/19-mei-bagan-gojek---ira.jpg"
                                alt=""> --}}
                            <picture>
                                <source
                                    srcset="https://images.bisnis-cdn.com/thumb/plus/upload/img/19-mei-bagan-gojek---ira.jpg?w=360&h=479.jpg"
                                    media="(max-width: 768px)">
                                <img srcset="https://images.bisnis-cdn.com/plus/upload/img/19-mei-bagan-gojek---ira.jpg"
                                    alt="">
                            </picture>
                        </div>
                    </div>
                    <p data-aos="fade-right">Kemudian Astra masuk kembali pada pendanaan seri F sebesar US$100 juta pada
                        Maret 2019. Namun, saat aksi korporasi GoTo diresmikan, saham emiten berkode ASII itu menyusut
                        0,96 persen menjadi Rp5.175 per lembar.</p>
                    <p data-aos="fade-right">Dampak tidak terlihat tentunya terjadi pada PT Telkomsel, karena bukan
                        perusahaan publik. Padahal pada menit terakhir jelang pengumuman merger GoTo, anak usaha Telkom
                        itu membenamkan investasi hingga US$450 juta. Yang terdiri dari November 2020 sebesar US$150
                        juta dan Mei 2021 senilai US$300 juta.</p>
                    <p data-aos="fade-right">Begitu juga dampak tak kasat mata pada sejumlah entitas asing yang telah
                        membenamkan duitnya di Gojek dan Tokopedia. Dampak bola salju itu akan terlihat ketika
                        perusahaan berbasis teknologi itu melantai di bursa.</p>
                    <p data-aos="fade-right">Pada tahun ini ditargetkan GoTo akan melantai di bursa. Mereka akan
                        mencatatkan di bursa nasional dan Amerika. Euforia terhadap rencana GoTo go public cukup tinggi.
                        Baik dari regulator hingga investor.</p>
                    <p data-aos="fade-right">Karpet merah disiapkan Bursa Efek Indonesia (BEI) bersama Otoritas Jasa
                        Keuangan. Proses IPO GoTo terancam oleh beleid BEI terkait klasifikasi papan pencatatan saham.
                    </p>
                    <p data-aos="fade-right">Pada aturan itu, perusahaan yang masih rugi tidak bisa dicatatkan pada
                        papan utama, melainkan papan pengembangan atau akselerasi. Seperti diketahui, salah satu syarat
                        untuk masuk ke papan utama adalah membukukan laba usaha pada satu tahun buku terakhir.</p>
                    <div class="detail-news__image fullwidth d-flex justify-content-center flex-column"
                        data-aos="fade-right">
                        <div id="demo-test-gallery" class="demo-gallery">
                            {{!-- <img
                                src="https://images.bisnis-cdn.com/plus/upload/img/19-mei-bagan-tokopedia---ira.jpg"
                                alt=""> --}}
                            <picture>
                                <source
                                    srcset="https://images.bisnis-cdn.com/thumb/plus/upload/img/19-mei-bagan-tokopedia---ira.jpg?w=360&h=479"
                                    media="(max-width: 768px)" alt="">
                                <img srcset="https://images.bisnis-cdn.com/plus/upload/img/19-mei-bagan-tokopedia---ira.jpg"
                                    alt="">
                            </picture>
                        </div>
                    </div>
                    <p data-aos="fade-right">Adapun di papan pengembangan, emiten tak harus membukukan laba. Akan
                        tetapi, harus memiliki proyeksi keuangan bahwa perusahaan memperoleh laba pada akhir tahun
                        kedua, atau pada akhir tahun keenam untuk sektor khusus.</p>
                    <p data-aos="fade-right">Euforia investor terlihat dari emiten yang bersinggungan dengan GoTo,
                        seperti ARTO, MLPL, dan MPPA. Ada beberapa kalangan yang menilai terlalu dini euforia diberikan
                        terhadap aksi korporasi ini.</p>
                    <p data-aos="fade-right">Perusahaan terkait harus membuktikan kinerjanya. Hal ini tentu patut
                        menjadi perhatian. Bila berkaca dari raksasa perusahaan media sosial Facebook saat melantai di
                        bursa Nasdaq, New York, euforia sangat tinggi.</p>
                    <p data-aos="fade-right">Pada hari pertama melantai di Nasdaq, 18 Mei 2021, saham Facebook ditutup
                        di level US$38,23 per lembar saham. Namun, pada hari berikutnya terus turun, hingga mencapai
                        titik terendah US$18,058 per lembar pada 31 Agustus 2012.</p>
                    <p data-aos="fade-right">Saham Facebook baru mencapai level yang sama saat IPO pada 18 Mei 2013.
                        Investor institusi dan ritel Facebook sempat kelimpungan dengan antiklimaks penurunan harga
                        saham tersebut. Namun, bila bersabar, jerih payah investor tersebut bisa dinikmati saat ini.</p>
                    <p data-aos="fade-right">Pasalnya, setelah sembilan tahun melantai di bursa, saham Facebook telah
                        melonjak tujuh kali lipat di level US$300 per lembar. Apakah kisah berbeda akan terjadi pada
                        GoTo? Dan seberapa jauh efek bola salju GoTo ini terjadi, seperti semboyannya <em>Go Far, Go
                            Together</em>.</p>
                </div>
            </div>
        </section>

        <div class="container container__custom-padding">
            <div class="detail-news__author" data-aos="fade-right">
                <div class="author__role">Penulis
                    <span class="author__name">:
                        Hendri T. Asworo
                    </span>
                </div>
                <div class="author__role">Editor
                    <span class="author__name">:
                        Hendri T. Asworo
                    </span>
                </div>
            </div>
        </div>

    </div>
    <div id="gallery" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip">

                    </div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="border-line__end"></div>
    <div class="wrapper__other-news">

        <div>
            <div class="other-news__flex start">
                <div class="btn btn__prev-next"
                    onclick="window.location='https://plus.bisnis.com/read/jejak-korporasi-dunia-dari-voc-hingga-apple-siapa-juaranya'">
                    <i class="fas fa-chevron-left"></i> Previous
                </div>
            </div>
            <div class="other-news__title">
                <p>Jejak Korporasi Dunia, dari VOC hingga Apple. Siapa Juaranya?</p>
            </div>
        </div>

        <div>
            <div class="other-news__flex end">
                <div class="btn btn__prev-next"
                    onclick="window.location='https://plus.bisnis.com/read/jasa-keuangan-tetap-kokoh-diterpa-badai-pandemi'">
                    Next
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <div class="other-news__title right">
                <p>Jasa Keuangan, Tetap Kokoh Diterpa Badai Pandemi</p>
            </div>
        </div>
    </div>

    <div class="wrapper__back-to-top">
        <div>
            <img src="https://plus.bisnis.com/img/to-top.svg" alt="back-to-top">
        </div>
        <div>To top</div>
    </div>

    <footer class="wrapper__footer">
        <div class="container-fluid">
            <div class="footer__flex-top d-flex justify-content-between flex-wrap">
                <div>
                    <a href="https://www.bisnis.com" target="_blank">
                        <img src="https://plus.bisnis.com/img/logo/bisniscom-logo.svg" alt="bisniscom-logo">
                    </a>
                </div>
                <div>
                    <a href="https://www.facebook.com/wwwbisniscom" target="_blank" class="footer__socmed">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/Bisniscom" target="_blank" class="footer__socmed">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/bisniscom/" target="_blank" class="footer__socmed">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="border-line__horizontal"></div>
            <div class="footer__flex-bottom">
                <div class="footer__item">
                    <a href="https://www.bisnis.com/page/about-us" target="_blank">About</a>
                </div>
                <div class="footer__item">
                    <a href="https://www.bisnis.com/page/privacy-policy" target="_blank">Privacy Policy</a>
                </div>
                <div class="footer__item">
                    <a href="https://www.bisnis.com/page/code-of-conduct" target="_blank">Code of Conduct</a>
                </div>
                <div class="footer__item">
                    <a href="https://www.bisnis.com/page/advertise-with-us" target="_blank">Advertise with us</a>
                </div>
                <div class="footer__item">
                    <a href="https://www.bisnis.com/page/contact-us" target="_blank">Contact Us</a>
                </div>
                <div class="footer__item">
                    <a href="https://www.bisnis.com/page/career" target="_blank">Career</a>
                </div>
            </div>
            <div class="footer__copyright">
                <p>Copyright © 2022 – Bisnis Indonesia.</p>
            </div>
        </div>
    </footer>

    <script src="https://plus.bisnis.com/js/app.js?id=7e5b1b1c9df411ef8277"></script>
    <script src="https://plus.bisnis.com/js/modernizr.min.js"></script>
    <script src="https://plus.bisnis.com/js/main.js?id=e9268476387d78d26a31"></script>
    <script>
        if (Modernizr.mq("(max-width: 768px)")) {
            $(".navbar-top__flex").slick({
                slidesToShow: 4,
                // slidesToScroll: 4,
                arrows: false,
                infinite: false,
                swipeToSlide: true,
                speed: 0,
                mobileFirst: true,
            });
        } else {
            if ($(".navbar-top__flex").length) {
                $(".navbar-top__flex").slick("unslick");
            }
        }

        function copy(text) {
            var input = document.createElement('textarea');
            input.innerHTML = text;
            document.body.appendChild(input);
            input.select();
            var result = document.execCommand('copy');
            document.body.removeChild(input);
            return result;
        }
    </script>
    <script src="https://plus.bisnis.com/js/aos.js"></script>
    <script src="https://plus.bisnis.com/js/sticky-sidebar.min.js"></script>
    <script src="https://plus.bisnis.com/js/resize-sensor.js"></script>
    <script src="https://plus.bisnis.com/js/photoswipe.min.js"></script>
    <script src="https://plus.bisnis.com/js/photoswipe-ui-default.min.js"></script>
    <script src="https://plus.bisnis.com/js/photo.js"></script>

    {{>footer/script}}

    <script>
        $(function () {
            $('.detail-news__article p').each(function () {
                $(this).attr('data-aos', 'fade-right');
            });

            AOS.init();
            if ($(".detail-news__adjust-fontsize").length) {
                $(".click-fontsize").on("click", function () {
                    var newData;
                    var data = parseInt($(".detail-news__adjust-fontsize").attr("data-font"));
                    if ($(this).hasClass("plus")) {
                        newData = data + 2;
                        if (newData <= 22) {
                            $(".detail-news__adjust-fontsize").attr("data-font", newData);
                            $(".detail-news__article p").css({
                                "font-size": newData
                            });
                            $(".detail-news__baca-juga p").css({
                                "font-size": newData,
                            });
                        }
                    } else {
                        newData = data - 2;
                        if (newData >= 10) {
                            $(".detail-news__adjust-fontsize").attr("data-font", newData);
                            $(".detail-news__article p").css({
                                "font-size": newData
                            });
                            $(".detail-news__baca-juga p").css({
                                "font-size": newData,
                            });
                        }
                    }
                });
            }
        });
    </script>
</body>

</html>