<!doctype html>
<html lang="en">

<head>
    <script type="text/javascript">
        (function () {
            window["loaderConfig"] = "/TSPD/?type=19";
        })();

    </script>

    <script type="text/javascript" src="/TSPD/?type=18"></script>

    <APM_DO_NOT_TOUCH>

        <script type="text/javascript">
            (function () {
                window.dPd = !!window.dPd; try {
                    (function () {
                        (function () { })(); var ol = 30; try { var Ol, sl, _l = L(503) ? 0 : 1, Il = L(251) ? 0 : 1, ZO = L(453) ? 0 : 1, sO = L(850) ? 0 : 1, _O = L(345) ? 0 : 1, iO = L(334) ? 0 : 1, jO = L(906) ? 0 : 1; for (var lL = (L(597), 0); lL < sl; ++lL)_l += L(206) ? 2 : 1, Il += L(846) ? 1 : 2, ZO += L(868) ? 1 : 2, sO += L(299) ? 1 : 2, _O += L(961) ? 1 : 2, iO += L(160) ? 2 : 1, jO += (L(148), 3); Ol = _l + Il + ZO + sO + _O + iO + jO; window.sz === Ol && (window.sz = ++Ol) } catch (OL) { window.sz = Ol } var zL = !0; function s(l, O) { l += O; return l.toString(36) }
                        function _L(l) { var O = 62; !l || document[z(O, 180, 167, 177, 167, 160, 167, 170, 167, 178, 183, 145, 178, 159, 178, 163)] && document[z(O, 180, 167, 177, 167, 160, 167, 170, 167, 178, 183, 145, 178, 159, 178, 163)] !== s(68616527604, O) || (zL = !1); return zL } function S(l) { var O = arguments.length, Z = []; for (var _ = 1; _ < O; ++_)Z.push(arguments[_] - l); return String.fromCharCode.apply(String, Z) } function z(l) { var O = arguments.length, Z = [], _ = 1; while (_ < O) Z[_ - 1] = arguments[_++] - l; return String.fromCharCode.apply(String, Z) } function IL() { }
                        _L(window[IL[S(ol, 140, 127, 139, 131)]] === IL); _L(typeof ie9rgb4 !== s(1242178186169, ol)); _L(RegExp("\x3c")[s(1372175, ol)](function () { return "\x3c" }) & !RegExp(s(42859, ol))[s(1372175, ol)](function () { return "'x3'+'d';" }));
                        var jL = window[S(ol, 127, 146, 146, 127, 129, 134, 99, 148, 131, 140, 146)] || RegExp(z(ol, 139, 141, 128, 135, 154, 127, 140, 130, 144, 141, 135, 130), s(-12, ol))[S(ol, 146, 131, 145, 146)](window["\x6e\x61vi\x67a\x74\x6f\x72"]["\x75\x73e\x72A\x67\x65\x6et"]), lo = +new Date + (L(448) ? 796107 : 6E5), oo, zo, Zo, so = window[z(ol, 145, 131, 146, 114, 135, 139, 131, 141, 147, 146)], _o = jL ? L(448) ? 30982 : 3E4 : L(721) ? 7282 : 6E3;
                        document[z(ol, 127, 130, 130, 99, 148, 131, 140, 146, 106, 135, 145, 146, 131, 140, 131, 144)] && document[S(ol, 127, 130, 130, 99, 148, 131, 140, 146, 106, 135, 145, 146, 131, 140, 131, 144)](S(ol, 148, 135, 145, 135, 128, 135, 138, 135, 146, 151, 129, 134, 127, 140, 133, 131), function (l) {
                            var O = 56; document[z(O, 174, 161, 171, 161, 154, 161, 164, 161, 172, 177, 139, 172, 153, 172, 157)] && (document[S(O, 174, 161, 171, 161, 154, 161, 164, 161, 172, 177, 139, 172, 153, 172, 157)] === s(1058781927, O) && l[z(O, 161, 171, 140, 170, 173, 171, 172, 157, 156)] ? Zo = !0 : document[S(O, 174, 161, 171, 161, 154,
                                161, 164, 161, 172, 177, 139, 172, 153, 172, 157)] === S(O, 174, 161, 171, 161, 154, 164, 157) && (oo = +new Date, Zo = !1, io()))
                        }); function io() { if (!document[S(44, 157, 161, 145, 158, 165, 127, 145, 152, 145, 143, 160, 155, 158)]) return !0; var l = +new Date; if (l > lo && (L(528) ? 419465 : 6E5) > l - oo) return _L(!1); var O = _L(zo && !Zo && oo + _o < l); oo = l; zo || (zo = !0, so(function () { zo = !1 }, L(67) ? 1 : 0)); return O } io(); var Jo = [L(877) ? 21155321 : 17795081, L(862) ? 2147483647 : 27611931586, L(672) ? 1151610505 : 1558153217];
                        function oO(l) { var O = 56; l = typeof l === s(1743045620, O) ? l : l[z(O, 172, 167, 139, 172, 170, 161, 166, 159)](L(240) ? 37 : 36); var Z = window[l]; if (!Z || !Z[S(O, 172, 167, 139, 172, 170, 161, 166, 159)]) return; var _ = "" + Z; window[l] = function (l, O) { zo = !1; return Z(l, O) }; window[l][z(O, 172, 167, 139, 172, 170, 161, 166, 159)] = function () { return _ } } for (var OO = (L(787), 0); OO < Jo[s(1294399175, ol)]; ++OO)oO(Jo[OO]); _L(!1 !== window[S(ol, 130, 110, 130)]); window.SO = window.SO || {}; window.SO.SLJ = "087c4a637d16e800bb6bf535227703d46ec33c473b149f2e28e9ec107902063301110d626cc959f99d38c6bf3b6e0e735727924b6735cb437e8792dcc21b4c0e29790d80d159d584ea43b46c018dfc37fd7336b2742c1f414f333659899d569ebfd1239e6618529dcbcf71fa35bac0e466d86feb56f5eac8e030f9da78d48ba2a640759f845f0c541dca7014a85b1c0ad1983c78725c9a5cfbe8b39810dde12bff8fbf9cd9bc5197dc8b57d9aac0ffefeb39061104067f8feed3dd3aa1011a1d38f4a24b9b877e060cf273ff35a7a9cae60edfc0adf7c02159b407b3d38e93817c27fcd9e73cff7fcb4fb026c13e4135";
                        function zO(l) { var O = +new Date, Z; !document[z(86, 199, 203, 187, 200, 207, 169, 187, 194, 187, 185, 202, 197, 200, 151, 194, 194)] || O > lo && (L(727) ? 870295 : 6E5) > O - oo ? Z = _L(!1) : (Z = _L(zo && !Zo && oo + _o < O), oo = O, zo || (zo = !0, so(function () { zo = !1 }, L(892) ? 0 : 1))); return !(arguments[l] ^ Z) } function L(l) { return 237 > l }
                        (function () { var l = /(\A([0-9a-f]{1,4}:){1,6}(:[0-9a-f]{1,4}){1,1}\Z)|(\A(([0-9a-f]{1,4}:){1,7}|:):\Z)|(\A:(:[0-9a-f]{1,4}){1,7}\Z)/ig, O = document.getElementsByTagName("head")[0], Z = []; O && (O = O.innerHTML.slice(0, 1E3)); while (O = l.exec("")) Z.push(O) })();
                    })();
                } catch (x) { } finally { ie9rgb4 = void (0); }; function ie9rgb4(a, b) { return a >> b >> 0 };

            })();

        </script>
    </APM_DO_NOT_TOUCH>

    <script type="text/javascript"
        src="/TSPD/08ddf7531dab20005e108a8d0be0bc3589eeecdbe609b8e740c4db0a3f00df5c8cbc0a2044d26411?type=17"></script>
    <title>Bank Sulselbar - Melayani Sepenuh Hati</title> <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bank Sulawesi Selatan dan Sulawesi Barat">
    <meta name="keywords"
        content="BPD, Bank, Sulsel, BankSulsel, Sulawesi, Sulawesi Selatan, Bank Daerah, Bank Sulawesi Barat, Makassar,Asbanda,Asosiasi Bank Daerah,Bank Sulselbar,Asosiasi Bank Daerah">
    <meta name="robots" content="noindex, nofollow" /> <!-- <meta name="googlebot" content="all" /> -->
    <meta name="author" content="Bank Sulselbar" />
    <meta name="copyright" content="Bank Sulselbar" />
    <meta name="generator" content="Bank Sulselbar" />
    <link rel="shortcut icon" href="https://www.banksulselbar.co.id/images/favicon.png"> <!-- Vendor CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./asset/css/sulselbar/flickity.min.css"> <!-- CSS -->
    <link rel="stylesheet" href="./asset/css/sulselbar/style.css">
    <link rel="stylesheet" href="./asset/css/sulselbar/responsive.css">

    {{>head page="sulselbar"}}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@BankSulselbar" />
    <meta name="twitter:creator" content="@BankSulselbar" />
    <meta name="google-translate-customization" content="9f841e7780177523-3214ceb76f765f38-gc38c6fe6f9d06436-c">
    </meta>
    <meta property='og:url' content='https://banksulselbar.co.id/' />
    <meta property='og:type' content='article' />
    <meta property='og:title' content='Bank Sulselbar - Melayani Sepenuh Hati' />
    <meta property='og:image' content='https://banksulselbar.co.id/images/logo-big.png' />
    <meta property='og:site_name' content='banksulselbar.co.id' />
    <meta property='og:description' content='Bank Sulawesi Selatan dan Sulawesi Barat' />
    <style type="text/css">
        <!-- a.gflag {vertical-align:middle;font-size:16px;padding:1px 0;background-repeat:no-repeat;background-image:url(//gtranslate.net/flags/16.png);} a.gflag img {border:0;} a.gflag:hover {background-image:url(//gtranslate.net/flags/16a.png);} #goog-gt-tt {display:none !important;} .goog-te-banner-frame {display:none !important;} .goog-te-menu-value:hover {text-decoration:none !important;} body {top:0 !important;} #google_translate_element2 {display:none!important;} 
        -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </style> <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93061236-1"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-93061236-1'); </script>
    <script type="text/javascript" src="//banksulselbar.co.id/g56UomLO2y/2a.js"></script>
    <script type="text/javascript"
        src="//banksulselbar.co.id/jncMYxHAZ/08c17f841cab1800241be8f4ef8df346a88f98bd829e8237d2d4f056a31ed6bb.js"></script>
</head>

<body><noscript>
        <style type="text/css">
            #miXYFq6C1A37 {
                background-image: url("/tCQIiLC0ypCCfyO.png?n=088d2c8996001800a033857e836028bf6319940061cea39442a519e11f396aa1");
            }
        </style>
        <div id="miXYFq6C1A37"></div>
    </noscript>
    <div class="header">
        <!-- Contac + Languaget -->
        <div class="lang">
            <div class="container"> <span>Call Center 24/7 days <b>1500855</b></span>
                <div class="new-lang"> <a href="javascript:;" onclick="doGTranslate('id|id');return false;" id="langina"
                        title="Indonesia" class="nturl" style="background-position:-300px -300px;">ID</a>&nbsp;|&nbsp;
                    <a href="javascript:;" onclick="doGTranslate('id|en');return false;" id="langen" title="English"
                        class="nturl" style="background-position:-0px -0px;">EN</a>
                </div>
                <!-- GTranslate: https://gtranslate.io/ -->
                <div id="google_translate_element2"></div>
            </div>
        </div> <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white no-padding">
            <div class="container"> <a class="navbar-brand" href="https://banksulselbar.co.id/"><img
                        src="https://www.banksulselbar.co.id/images/logo-banks-sulselbar.svg" class="head-logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto" style="margin: 0 auto !important;">
                        <li class='nav-item active'"> <a class=" nav-link" href="https://banksulselbar.co.id/">Home
                            <span class="sr-only">(current)</span></a>
                        </li>
                        <li class='nav-item dropdown corporate'"> <a class=" nav-link dropdown-toggle" href=""
                            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> CORPORATE SITE <i class="togglePlus"></i> </a>
                            <div class="container">
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="row">
                                        <div class="col-sm-3 dd"> <label>Profile</label> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/visi-misi">Visi dan Misi</a> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/nilai-nilai">Nilai - Nilai</a> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/logo">Logo</a> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/identitas-perusahaan">Identitas
                                                Perusahaan</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/sejarah-singkat">Sejarah
                                                Singkat</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/struktur-organisasi">Struktur
                                                Organisasi</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/dewan-komisaris">Dewan
                                                Komisaris</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/direksi">Direksi</a> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/dewan-pengawas-syariah">Dewan
                                                Pengawas Syariah</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/pimpinan-grup">Pimpinan Grup</a>
                                            <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/pemegang-saham">Pemegang
                                                Saham</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/penghargaan">Penghargaan</a>
                                        </div>
                                        <div class="col-sm-3 dd"> <label>Jaringan</label> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/kantor-cabang">Kantor Cabang /
                                                Capem</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/kantor-cabang-valas">Kantor Cabang
                                                Valas</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/kantor-kas">Kantor Kas</a> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/lokasi-atm">Lokasi ATM</a> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/payment-point">Payment Point</a> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/office-channeling">Office
                                                Channeling</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/mobil-kas-keliling">Mobil Kas
                                                Keliling</a> </div>
                                        <div class="col-sm-3"> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/akses-informasi">Akses
                                                Informasi</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/sumber-daya-manusia">Sumber Daya
                                                Manusia</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/teknologi-informasi">Teknologi
                                                Informasi</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/manajemen-risiko">Manajemen
                                                Risiko</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/privacy-and-policy">Privacy and
                                                Policy</a> </div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class='nav-item dropdown layanan'"> <a class=" nav-link dropdown-toggle" href=""
                            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> Layanan <i class="togglePlus"></i> </a>
                            <div class="container">
                                <div class="dropdown-menu new-layanan" aria-labelledby="navbarDropdown">
                                    <div class="row">
                                        <div class="col-sm-3 dd"> <label>Simpanan</label> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/simpeda">SIMPEDA</a> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/tapemda">TAPEMDA</a> <a
                                                class="dropdown-item chevron-menu"
                                                href="https://banksulselbar.co.id/page/tapemda-pelajar">TAPEMDA
                                                Pelajar</a> <a class="dropdown-item chevron-menu"
                                                href="https://banksulselbar.co.id/page/tapemda-pensiunan">TAPEMDA
                                                Pensiunan</a> <a class="dropdown-item chevron-menu"
                                                href="https://banksulselbar.co.id/page/tapemda-sayang-petani">TAPEMDA
                                                Sayang Petani</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/tampan-plus">TAMPAN Plus</a> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/tabunganku">Tabunganku</a> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/deposito">Deposito</a> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/giro">Giro</a> </div>
                                        <div class="col-sm-3 dd"> <label>Pinjaman</label> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/kredit-umum-lainnya-kul">Kredit
                                                Umum Lainnya (KUL)</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/kredit-pensiun">Kredit
                                                Pensiun</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/kredit-pur">Kredit PUR</a> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/kredit-pur-pola-kemitraan">Kredit
                                                PUR Pola Kemitraan</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/kredit-konstruksi">Kredit
                                                Konstruksi</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/kredit-koperasi">Kredit
                                                Koperasi</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/kredit-kepada-pemerintah-daerah-pemda">Kredit
                                                Kepada Pemerintah<br>Daerah</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/#">Kredit Usaha Rakyat (KUR)</a>
                                        </div>
                                        <div class="col-sm-3 dd"> <label>Valas</label>
                                            <!-- <a class="dropdown-item" href="https://banksulselbar.co.id/pages/tabungan-valas">Tabungan Valas</a> -->
                                            <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/pages/giro-valas">Giro Valas</a> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/pages/deposito-valas">Deposito
                                                Valas</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/pages/transfer-valas">Transfer
                                                Valas</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/#">Produk Treasury</a>
                                            <!-- <a class="dropdown-item chevron-menu" href="#"; ?>Produk Treasury</a> -->
                                            <a class="dropdown-item chevron-menu"
                                                href="https://banksulselbar.co.id/pages/tod">TOD, TOM, SPOT,<br>FORWARD,
                                                SWAP</a> <a class="dropdown-item chevron-menu"
                                                href="https://banksulselbar.co.id/pages/deposit-on-call">Deposit on
                                                Call</a>
                                            <!-- <a class="dropdown-item chevron-menu" href="https://banksulselbar.co.id/pages/tt">TT (USG, JPY, SGD)</a> -->
                                            <a class="dropdown-item chevron-menu"
                                                href="https://banksulselbar.co.id/pages/uang-kertas-asing">Uang Kertas
                                                Asing /<br>Bank Notes (USD, JPY, SGD)</a> <a
                                                class="dropdown-item chevron-menu"
                                                href="https://banksulselbar.co.id/pages/money-changer">Money Changer
                                                (USD, JPY,<br>SGD)</a>
                                        </div>
                                        <!-- ========== Start New Menu ========== -->
                                        <div class="col-sm-3 dd"> <label>Trade Finance & Services</label> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/ekspor">Ekspor</a> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/impor">Impor</a> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/remittance">SKBDN</a> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/collection">Collection</a> </div>
                                        <!-- ========== End New Menu ========== -->
                                        <div class="col-sm-3 dd"> <label>Syariah</label> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/pendanaan-uus">Pendanaan UUS</a>
                                            <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/pembiayaan-uus">Pembiayaan
                                                UUS</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/page/jasa-uus">Jasa UUS</a>
                                            <div class="main_menu"> <a class="dropdown-item"
                                                    href="https://banksulselbar.co.id/page/jasa-bank">Jasa Bank</a> <a
                                                    class="dropdown-item"
                                                    href="https://banksulselbar.co.id/page/atm">ATM</a> <a
                                                    class="dropdown-item"
                                                    href="https://banksulselbar.co.id/page/garansi-bank">Garansi
                                                    Bank</a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class='nav-item dropdown layanan informasi'"> <a class=" nav-link dropdown-toggle" href=""
                            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> Informasi <i class="togglePlus"></i> </a>
                            <div class="container">
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="row">
                                        <div class="col-sm-6 dd">
                                            <!-- CSR -->
                                            <div class="title"> <label>CSR</label> <a
                                                    href="https://banksulselbar.co.id/csr"
                                                    class="more_btn more_btn_new"> read more <i class="arrowRight"></i>
                                                </a> </div>
                                            <div class="news"> <a
                                                    href="https://banksulselbar.co.id/read/20220221/1455/andi-sudirman-serahkan-mobil-bantuan-dari-bank-sulselbar-ke-pemda-sidrap">
                                                    <img src="https://banksulselbar.co.id/images-data/posts/2022/02/22/1455/andi-sudirman_thumb.jpg"
                                                        onError="this.src='https://banksulselbar.co.id/images/2020/image-default.jpg'" />
                                                    <div class="description"> <span>Andi Sudirman Serahkan Mobil Bantuan
                                                            Dari Bank Sulselbar ke Pemda Sidrap</span> <span>Senin | 21
                                                            Februari 2022</span> </div>
                                                </a> </div> <!-- Berita -->
                                            <div class="title"> <label>Berita</label> <a
                                                    href="https://banksulselbar.co.id/berita"
                                                    class="more_btn more_btn_new"> read more <i class="arrowRight"></i>
                                                </a> </div>
                                            <div class="news"> <a
                                                    href="https://banksulselbar.co.id/read/20220223/1454/kepala-bkad-hadiri-rups-lb-pt-bank-sulselbar">
                                                    <img src="https://banksulselbar.co.id/images-data/posts/2022/02/22/1454/img-20220222-wa0009_thumb.jpg"
                                                        onError="this.src='https://banksulselbar.co.id/images/2020/image-default.jpg'" />
                                                    <div class="description"> <span>Kepala BKAD Hadiri RUPS LB PT. Bank
                                                            Sulselbar</span> <span>Rabu | 23 Februari 2022</span> </div>
                                                </a> </div> <!-- Artikel -->
                                            <div class="title"> <label>Artikel</label> <a
                                                    href="https://banksulselbar.co.id/artikel"
                                                    class="more_btn more_btn_new"> read more <i class="arrowRight"></i>
                                                </a> </div>
                                            <div class="news"> <a
                                                    href="https://banksulselbar.co.id/read/20220211/1446/dear-milenial-ini-tips-investasi-biar-cuan-ala-lo-kheng-hong">
                                                    <img src="https://banksulselbar.co.id/images-data/posts/2022/02/15/1446/070320-rhn-bisnis-17-investasi-_12__thumb.jpg"
                                                        onError="this.src='https://banksulselbar.co.id/images/2020/image-default.jpg'" />
                                                    <div class="description"> <span>Dear Milenial, Ini Tips Investasi
                                                            Biar Cuan ala Lo Kheng Hong</span> <span>Jum'at | 11
                                                            Februari 2022</span> </div>
                                                </a> </div>
                                        </div>
                                        <div class="col-sm-3 dd"> <label>Informasi Keuangan & Non Keuangan</label> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/download/laporan-keuangan-publikasi">Laporan
                                                Keuangan Publikasi</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/download/gcg">Good Corporate
                                                Governance</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/download/laporan-tahunan">Laporan
                                                Tahunan</a> <a class="dropdown-item" href="#">Laporan Keberlanjutan</a>
                                            <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/download/prospektus">Prospektus
                                                Penawaran Umum</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/download/media-internal">Media
                                                Internal</a> <br> <label>Pengumuman</label> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/download/pengumuman-lelang">Pengumuman
                                                Lelang</a> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/download/other">Pengumuman Lain</a> <a
                                                class="dropdown-item"
                                                href="https://banksulselbar.co.id/download/psp">Pengumuman Sekertaris
                                                Perusahaan</a>
                                        </div>
                                        <div class="col-sm-3 dd"> <label>Galeri</label> <a class="dropdown-item"
                                                href="https://banksulselbar.co.id/foto">Foto</a> <a
                                                class="dropdown-item" href="https://banksulselbar.co.id/video">Video</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="'nav-item'"> <a class=" nav-link" href="https://banksulselbar.co.id/sbdk">SBDK</a>
                        </li>
                        <li class="'nav-item'"> <a class=" nav-link"
                                href="https://banksulselbar.co.id/kontak">KONTAK</a>
                        </li>
                        <li class="'nav-item'"> <a class=" nav-link" href="https://banksulselbar.co.id/karir">KARIR</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" method="get" action="https://banksulselbar.co.id/search">
                        <input class="form-control" type="search" name="q" placeholder="Cari ‘kurs valas’"
                            aria-label="Search"> <a href="#"> <button class="btn btn-outline-success my-2 my-sm-0"
                                type="submit"> <img src="https://banksulselbar.co.id/new/images/icon/search.svg" />
                            </button> </a>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="body">
        <div class="container main">
            <div class="carousel carousel-main" data-flickity='{ "wrapAround": true, "autoPlay": true }'>
                <div class="carousel-cell"> <a href="https://www.banksulselbar.co.id/pages/tabungan-valas"
                        target="_blank"> <img src="https://banksulselbar.co.id/images-data/headline/24/valas-new.jpg">
                    </a> </div>
                <div class="carousel-cell"> <a href="https://www.banksulselbar.co.id" target="_blank"> <img
                            src="https://banksulselbar.co.id/images-data/headline/25/bssb-mobile.jpg"> </a> </div>
                <div class="carousel-cell"> <a
                        href="https://www.banksulselbar.co.id/read/20211123/1370/cleansing-kartu-atmdebit-magnetic-stripe-ke-chip-bank-sulselbar"
                        target="_blank"> <img src="https://banksulselbar.co.id/images-data/headline/28/1200-x-560.jpg">
                    </a> </div>
            </div>
        </div> <!-- running text -->
        <div class="container run">
            <marquee> <a
                    href="https://banksulselbar.co.id/read/20220215/1443/momen-hari-jadi-belopa-ke-16bapenda-luwu-genjot-pendapatan-asli-daerah-rp-29-mili">Momen
                    Hari Jadi Belopa Ke 16,Bapenda Luwu Genjot Pendapatan Asli Daerah Rp 29 Miliar</a> | <a
                    href="https://banksulselbar.co.id/read/20220114/1421/hut-ke-61-bank-sulselbar-soppeng-berbagi-kebahagiaan-bersama-anak-yatim">HUT
                    Ke-61, Bank Sulselbar Soppeng Berbagi Kebahagiaan Bersama Anak Yatim</a> | <a
                    href="https://banksulselbar.co.id/read/20220211/1446/dear-milenial-ini-tips-investasi-biar-cuan-ala-lo-kheng-hong">Dear
                    Milenial, Ini Tips Investasi Biar Cuan ala Lo Kheng Hong</a> | <a
                    href="https://www.banksulselbar.co.id/read/20211123/1370/cleansing-kartu-atmdebit-magnetic-stripe-ke-chip-bank-sulselbar">Cleansing
                    Kartu ATM/Debit Magnetic Stripe ke Chip Bank Sulselbar</a> | <a
                    href="https://banksulselbar.co.id/read/20220128/1434/-">Tidak Kalap Uang Banyak, Ini Cara Mengatur
                    Keuangan</a> | </marquee> <!-- <img src="assets/images/shape-marquee.svg" /> -->
            <div class="img"></div>
        </div> <!-- 3 top product -->
        <div class="container product">
            <div class="row">
                <div class="col-sm-4"> <a href="https://banksulselbar.co.id/page/tampan-plus"> <img
                            src="https://banksulselbar.co.id/images-data/gateway/1/3.jpg" /> </a>
                    <div class="desc_product">
                        <h1>Tampan Plus</h1> <span>
                            <p>Tampan Plus merupakan tabungan berjangka/installment saving untuk mewujudkan rencana masa
                                depan penabung</p>
                        </span> <a href="https://banksulselbar.co.id/page/tampan-plus">Info Selengkapnya</a>
                    </div>
                </div>
                <div class="col-sm-4"> <a href="https://banksulselbar.co.id/pages/deposito-valas"> <img
                            src="https://banksulselbar.co.id/images-data/gateway/2/2.jpg" /> </a>
                    <div class="desc_product">
                        <h1>Tabungan Valas</h1> <span>
                            <p>Tabugan Valas Solusi Keuangan Yang Terencana</p>
                        </span> <a href="https://banksulselbar.co.id/pages/deposito-valas">Info Selengkapnya</a>
                    </div>
                </div>
                <div class="col-sm-4"> <a href="https://banksulselbar.co.id/page/tampan"> <img
                            src="https://banksulselbar.co.id/images-data/gateway/3/1.jpg" /> </a>
                    <div class="desc_product">
                        <h1>Sulselbar Mobile</h1> <span>
                            <p>Belanja belanja ala HYPEBEAST makin simpel Abis</p>
                        </span> <a href="https://banksulselbar.co.id/page/tampan">Info Selengkapnya</a>
                    </div>
                </div>
            </div>
        </div> <!-- tabs -->
        <div class="container tabs">
            <div class="row">
                <div class="col-sm-8 left_tabs">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist"> <a class="nav-item nav-link active"
                                id="nav-berita-tab" data-toggle="tab" href="#nav-berita" role="tab"
                                aria-controls="nav-berita" aria-selected="true">Berita</a> <a class="nav-item nav-link"
                                id="nav-artikel-tab" data-toggle="tab" href="#nav-artikel" role="tab"
                                aria-controls="nav-artikel" aria-selected="false">Artikel</a> <a
                                class="nav-item nav-link" id="nav-pengumuman-tab" data-toggle="tab"
                                href="#nav-pengumuman" role="tab" aria-controls="nav-pengumuman"
                                aria-selected="false">Pengumuman</a> <a class="nav-item nav-link"
                                id="nav-pengumuman-lain-tab" data-toggle="tab" href="#nav-pengumuman-lain" role="tab"
                                aria-controls="nav-pengumuman-lain" aria-selected="false">Pengumuman Lain</a> </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-berita" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4"> <a href=""> <img
                                                src="https://banksulselbar.co.id/images-data/posts/2022/02/22/1454/img-20220222-wa0009_thumb.jpg"
                                                onError="this.src='https://banksulselbar.co.id/images/2020/image-default.jpg'" />
                                        </a> </div>
                                    <div class="col-sm-8">
                                        <div class="desc_tabs"> <span> <a
                                                    href="https://banksulselbar.co.id/read/20220223/1454/kepala-bkad-hadiri-rups-lb-pt-bank-sulselbar">Kepala
                                                    BKAD Hadiri RUPS LB PT. Bank Sulselbar</a> </span> <span
                                                class="tabs_time">Rabu | 23 Februari 2022</span> <span>Bank Pembangunan
                                                Daerah Sulawesi Selatan dan Barat (Bank Sulselbar) menggelar Rapat Umum
                                                Pemegang Saham Luar Biasa (RUPS LB), di Jasmine Ballroom Hotel Claro
                                                Makassar, Senin ...</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4"> <a href=""> <img
                                                src="https://banksulselbar.co.id/images-data/posts/2022/02/22/1448/picsart_22-02-20_19-41-19-775_thumb.jpg"
                                                onError="this.src='https://banksulselbar.co.id/images/2020/image-default.jpg'" />
                                        </a> </div>
                                    <div class="col-sm-8">
                                        <div class="desc_tabs"> <span> <a
                                                    href="https://banksulselbar.co.id/read/20220221/1448/assapeda-wisata-sulsel-di-toraja-utara-promosikan-destinasi-dan-alam">Assapeda
                                                    Wisata Sulsel di Toraja Utara, Promosikan Destinasi dan Alam</a>
                                            </span> <span class="tabs_time">Senin | 21 Februari 2022</span> <span>Event
                                                terlaksana itu atas kerjasama Bank Indonesia (BI), Bank Sulselbar,
                                                Masyarakat Sadar Wisata (Masata) dan beberapa sponsor, yang dibuka
                                                langsung Bupati Toraja Utara, ...</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4"> <a href=""> <img
                                                src="https://banksulselbar.co.id/images-data/posts/2022/02/22/1451/wajo_thumb.jpg"
                                                onError="this.src='https://banksulselbar.co.id/images/2020/image-default.jpg'" />
                                        </a> </div>
                                    <div class="col-sm-8">
                                        <div class="desc_tabs"> <span> <a
                                                    href="https://banksulselbar.co.id/read/20220218/1451/sinergi-penyaluran-dana-bos-hingga-bop-kppn-sambangi-wajo">Sinergi
                                                    Penyaluran Dana BOS hingga BOP, KPPN Sambangi Wajo</a> </span> <span
                                                class="tabs_time">Jum'at | 18 Februari 2022</span> <span>Mengingat
                                                adanya regulasi baru terkait penyaluran BOS dan BOP tahun 2022 melalui
                                                KPPN Watampone. Sehingga sinergi antara Dinas Pendidikan Kabupaten Wajo,
                                                Bank Sulselbar Wajo ...</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4"> <a href=""> <img
                                                src="https://banksulselbar.co.id/images-data/posts/2022/02/22/1450/new_thumb.jpg"
                                                onError="this.src='https://banksulselbar.co.id/images/2020/image-default.jpg'" />
                                        </a> </div>
                                    <div class="col-sm-8">
                                        <div class="desc_tabs"> <span> <a
                                                    href="https://banksulselbar.co.id/read/20220217/1450/panitia-hut-enrekang-agenda-menarik-buat-plt-gubernur-sulsel-andi-sudirman-sulaiman">Panitia
                                                    HUT Enrekang Agenda Menarik Buat Plt. Gubernur Sulsel Andi Sudirman
                                                    Sulaiman</a> </span> <span class="tabs_time">Kamis | 17 Februari
                                                2022</span> <span>Dalam konsep tersebut pihak Pemda melalui PT.Bank
                                                Sulselbar,BRI dan BNI membantu peyiapan gerobak dagang menarik.
                                                ...</span> </div>
                                    </div>
                                </div>
                            </div> <a href="https://banksulselbar.co.id/berita" class="more_btn more-new"> Lihat semua
                                <i class="arrowRight"></i> </a>
                        </div>
                        <div class="tab-pane fade" id="nav-artikel" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4"> <a href=""> <img
                                                src="https://banksulselbar.co.id/images-data/posts/2022/02/15/1446/070320-rhn-bisnis-17-investasi-_12__thumb.jpg"
                                                onError="this.src='https://banksulselbar.co.id/images/2020/image-default.jpg'" />
                                        </a> </div>
                                    <div class="col-sm-8 no-padding">
                                        <div class="desc_tabs"> <span> <a
                                                    href="https://banksulselbar.co.id/read/20220211/1446/dear-milenial-ini-tips-investasi-biar-cuan-ala-lo-kheng-hong">Dear
                                                    Milenial, Ini Tips Investasi Biar Cuan ala Lo Kheng Hong</a> </span>
                                            <span class="tabs_time">Jum'at | 11 Februari 2022</span> <span>Investor
                                                kawakan pasar modal Lo Kheng Hong membagian tips investasi, khususnya
                                                bagi investor dari generasi milenial yang baru saja berinvestasi saham.
                                                Apalagi, jumlah ...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4"> <a href=""> <img
                                                src="https://banksulselbar.co.id/images-data/posts/2022/02/15/1445/ilutrasi-investasi-bodong_thumb.jpg"
                                                onError="this.src='https://banksulselbar.co.id/images/2020/image-default.jpg'" />
                                        </a> </div>
                                    <div class="col-sm-8 no-padding">
                                        <div class="desc_tabs"> <span> <a
                                                    href="https://banksulselbar.co.id/read/20220204/1445/aspek-psikologis-penyebab-investasi-online-bodong-dilirik-masyarakat">Aspek
                                                    Psikologis Penyebab Investasi Online Bodong Dilirik Masyarakat</a>
                                            </span> <span class="tabs_time">Jum'at | 04 Februari 2022</span>
                                            <span>Pemberantasan pinjaman online (pinjol) dan investasi ilegal pada
                                                prinsipnya tidak cukup dengan hanya terus mendorong tingkat pengetahuan
                                                dan literasi masyarakat terkait ...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4"> <a href=""> <img
                                                src="https://banksulselbar.co.id/images-data/posts/2022/01/31/1434/investasi_thumb.jpg"
                                                onError="this.src='https://banksulselbar.co.id/images/2020/image-default.jpg'" />
                                        </a> </div>
                                    <div class="col-sm-8 no-padding">
                                        <div class="desc_tabs"> <span> <a
                                                    href="https://banksulselbar.co.id/read/20220128/1434/-">Tidak Kalap
                                                    Uang Banyak, Ini Cara Mengatur Keuangan</a> </span> <span
                                                class="tabs_time">Jum'at | 28 Januari 2022</span> <span>Apa yang akan
                                                Anda lakukan bila mendapatkan uang hingga ratusan juta? ...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4"> <a href=""> <img
                                                src="https://banksulselbar.co.id/images-data/posts/2022/01/31/1433/investasi_thumb.jpg"
                                                onError="this.src='https://banksulselbar.co.id/images/2020/image-default.jpg'" />
                                        </a> </div>
                                    <div class="col-sm-8 no-padding">
                                        <div class="desc_tabs"> <span> <a
                                                    href="https://banksulselbar.co.id/read/20220121/1433/simak-4-tantangan-investasi-di-2022-bagi-investor">Simak
                                                    4 Tantangan Investasi di 2022 Bagi Investor</a> </span> <span
                                                class="tabs_time">Jum'at | 21 Januari 2022</span> <span>Pandemi Covid-19
                                                masih menjadi tantangan dan menyimpan potensi ketidakpastian buat para
                                                investor saat investasi dalam menghadapi periode ...</span> </div>
                                    </div>
                                </div>
                            </div> <a href="https://banksulselbar.co.id/artikel" class="more_btn more-new"> Lihat semua
                                <i class="arrowRight"></i> </a>
                        </div>
                        <div class="tab-pane fade list_pdf" id="nav-pengumuman" role="tabpanel"
                            aria-labelledby="nav-contact-tab">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3 txt-center">
                                        <div class="icon"> <a
                                                href="https://banksulselbar.co.id/files-data/2022/01/06/625/pengumuman-pemenang-tender-web.pdf">
                                                <img src="https://banksulselbar.co.id/new/images/icon/pdf.svg"
                                                    class="icon_pdf" /> </a> </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="desc_tabs"> <span> <a
                                                    href="https://banksulselbar.co.id/files-data/2022/01/06/625/pengumuman-pemenang-tender-web.pdf">Pengumuman
                                                    Pemenang Pengadaan Sewa Mesin ATM PT Bank Sulselbar Tahun 2021</a>
                                            </span> <span class="tabs_time">Rabu | 05 Januari 2022</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3 txt-center">
                                        <div class="icon"> <a
                                                href="https://banksulselbar.co.id/files-data/2021/12/22/624/pengumuman-pengadaan-aplikasi-sim-kredit-pt-bank-sulselbar.pdf">
                                                <img src="https://banksulselbar.co.id/new/images/icon/pdf.svg"
                                                    class="icon_pdf" /> </a> </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="desc_tabs"> <span> <a
                                                    href="https://banksulselbar.co.id/files-data/2021/12/22/624/pengumuman-pengadaan-aplikasi-sim-kredit-pt-bank-sulselbar.pdf">Pengadaan
                                                    Aplikasi Sistem Manajemen Kredit (SIM-KREDIT) PT Bank Sulselbar</a>
                                            </span> <span class="tabs_time">Selasa | 21 Desember 2021</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3 txt-center">
                                        <div class="icon"> <a
                                                href="https://banksulselbar.co.id/files-data/2021/12/08/622/pengumuman-pemenang-pengadaan-software-dan-jasa-implementasi-aplikasi-pendukung-sknbi-pt-bank-sulselbar.pdf">
                                                <img src="https://banksulselbar.co.id/new/images/icon/pdf.svg"
                                                    class="icon_pdf" /> </a> </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="desc_tabs"> <span> <a
                                                    href="https://banksulselbar.co.id/files-data/2021/12/08/622/pengumuman-pemenang-pengadaan-software-dan-jasa-implementasi-aplikasi-pendukung-sknbi-pt-bank-sulselbar.pdf">Pengumuman
                                                    Pemenang Pengadaan Sofware dan Jasa Implentasi Aplikasi Pendukung
                                                    SKNBI PT Bank Sulselbar</a> </span> <span class="tabs_time">Selasa |
                                                07 Desember 2021</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3 txt-center">
                                        <div class="icon"> <a
                                                href="https://banksulselbar.co.id/files-data/2021/11/24/621/pengumuman-pengadaan-software--jasa-implementasi-sknbi.pdf">
                                                <img src="https://banksulselbar.co.id/new/images/icon/pdf.svg"
                                                    class="icon_pdf" /> </a> </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="desc_tabs"> <span> <a
                                                    href="https://banksulselbar.co.id/files-data/2021/11/24/621/pengumuman-pengadaan-software--jasa-implementasi-sknbi.pdf">Pengadaan
                                                    Sofware dan Jasa Implentasi Aplikasi Pendukung SKNBI PT Bank
                                                    Sulselbar</a> </span> <span class="tabs_time">Selasa | 23 November
                                                2021</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3 txt-center">
                                        <div class="icon"> <a
                                                href="https://banksulselbar.co.id/files-data/2021/11/11/620/pengumuman-pelelangan-gagal-pengadaan-aplikasi-sim-kredit-pt-bank-sulselbar.pdf">
                                                <img src="https://banksulselbar.co.id/new/images/icon/pdf.svg"
                                                    class="icon_pdf" /> </a> </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="desc_tabs"> <span> <a
                                                    href="https://banksulselbar.co.id/files-data/2021/11/11/620/pengumuman-pelelangan-gagal-pengadaan-aplikasi-sim-kredit-pt-bank-sulselbar.pdf">Pengumuman
                                                    Pelelangan Gagal</a> </span> <span class="tabs_time">Senin | 08
                                                November 2021</span> </div>
                                    </div>
                                </div>
                            </div> <a href="https://banksulselbar.co.id/download/pengumuman-lelang" class="more_btn">
                                Lihat semua <i class="arrowRight"></i> </a>
                        </div>
                        <div class="tab-pane fade list_pdf" id="nav-pengumuman-lain" role="tabpanel"
                            aria-labelledby="nav-contact-tab">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3 txt-center">
                                        <div class="icon"> <a
                                                href="https://banksulselbar.co.id/files-data/2021/06/04/597/pengumuman-bssb.jpeg" />
                                            <img src="https://banksulselbar.co.id/new/images/icon/pdf.svg"
                                                class="icon_pdf" /> </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="desc_tabs"> <span> <a
                                                    href="https://banksulselbar.co.id/files-data/2021/06/04/597/pengumuman-bssb.jpeg">Pemenang
                                                    Undian Tabungan Simpeda Nasional Periode Ke-2</a> </span> <span
                                                class="tabs_time">Jum'at | 04 Juni 2021</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3 txt-center">
                                        <div class="icon"> <a
                                                href="https://banksulselbar.co.id/files-data/2021/06/01/596/pengmuman.jpg" />
                                            <img src="https://banksulselbar.co.id/new/images/icon/pdf.svg"
                                                class="icon_pdf" /> </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="desc_tabs"> <span> <a
                                                    href="https://banksulselbar.co.id/files-data/2021/06/01/596/pengmuman.jpg">Pengumuman
                                                    Pemindahan Lokasi Kantor Cabang Utama Mamuju</a> </span> <span
                                                class="tabs_time">Senin | 31 Mei 2021</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3 txt-center">
                                        <div class="icon"> <a
                                                href="https://banksulselbar.co.id/files-data/2020/12/02/549/img_20201202_0001.pdf" />
                                            <img src="https://banksulselbar.co.id/new/images/icon/pdf.svg"
                                                class="icon_pdf" /> </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="desc_tabs"> <span> <a
                                                    href="https://banksulselbar.co.id/files-data/2020/12/02/549/img_20201202_0001.pdf">Pengumuman
                                                    Calon Anggota Dewan Pengawas Syariah PT Bank Sulselbar Periode Tahun
                                                    2021-2025</a> </span> <span class="tabs_time">Rabu | 02 Desember
                                                2020</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3 txt-center">
                                        <div class="icon"> <a
                                                href="https://banksulselbar.co.id/files-data/2020/11/20/540/img-20201120-wa0027.jpg" />
                                            <img src="https://banksulselbar.co.id/new/images/icon/pdf.svg"
                                                class="icon_pdf" /> </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="desc_tabs"> <span> <a
                                                    href="https://banksulselbar.co.id/files-data/2020/11/20/540/img-20201120-wa0027.jpg">Pengumuman
                                                    Uji Coba DRP dan DRC</a> </span> <span class="tabs_time">Jum'at | 20
                                                November 2020</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3 txt-center">
                                        <div class="icon"> <a
                                                href="https://banksulselbar.co.id/files-data/2020/11/06/535/img-20201105-wa0026.jpg" />
                                            <img src="https://banksulselbar.co.id/new/images/icon/pdf.svg"
                                                class="icon_pdf" /> </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="desc_tabs"> <span> <a
                                                    href="https://banksulselbar.co.id/files-data/2020/11/06/535/img-20201105-wa0026.jpg">Pengumuman
                                                    Setoran BPIH</a> </span> <span class="tabs_time">Jum'at | 06
                                                November 2020</span> </div>
                                    </div>
                                </div>
                            </div> <a href="https://banksulselbar.co.id/download/other" class="more_btn"> Lihat semua <i
                                    class="arrowRight"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 right_tabs" style="padding-left: 0;">
                    <!-- kurs valas & konversi -->
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist"> <a class="nav-item nav-link active"
                                id="nav-kurs-tab" data-toggle="tab" href="#nav-kurs" role="tab" aria-controls="nav-kurs"
                                aria-selected="true">Kurs Valas</a> <a class="nav-item nav-link" id="nav-konversi-tab"
                                data-toggle="tab" href="#nav-konversi" role="tab" aria-controls="nav-konversi"
                                aria-selected="false">Konversi</a> </div>
                    </nav>
                    <div class="tab-content kurs" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-kurs" role="tabpanel"
                            aria-labelledby="nav-kurs-tab"> <span class="kurs_update">2022-02-21 10:00:00 WITA</span>
                            <table>
                                <tr>
                                    <th rowspan="2">Mata Uang</th>
                                    <th colspan="2">TT Rate Counter</th>
                                    <th colspan="2">Bank Note Rate Counter</th>
                                </tr>
                                <tr>
                                    <th>Beli</th>
                                    <th>Jual</th>
                                    <th>Beli</th>
                                    <th>Jual</th>
                                </tr>
                                <tr>
                                    <td class="text-center">USD</td>
                                    <td class="text-center">14,212,00</td>
                                    <td class="text-center">14.512,00</td>
                                    <td class="text-center">14.207,00</td>
                                    <td class="text-center">14,517,00</td>
                                </tr>
                                <tr>
                                    <td class="text-center">SGD</td>
                                    <td class="text-center">-</td>
                                    <td class="text-center">-</td>
                                    <td class="text-center">10.531,00</td>
                                    <td class="text-center">10.780,00</td>
                                </tr>
                                <tr>
                                    <td class="text-center">JPY</td>
                                    <td class="text-center">-</td>
                                    <td class="text-center">-</td>
                                    <td class="text-center">121,23</td>
                                    <td class="text-center">128,10</td>
                                </tr>
                                <tr>
                                    <td class="text-center">SAR</td>
                                    <td class="text-center">-</td>
                                    <td class="text-center">-</td>
                                    <td class="text-center">3.675,00</td>
                                    <td class="text-center">3.905,00</td>
                                </tr>
                            </table> <!-- <a href="" class="next_kurs">selanjutnya >></a> -->
                        </div> <!-- DUMMY Konversi -->
                        <div class="tab-pane fade" id="nav-konversi" role="tabpanel" aria-labelledby="nav-konversi-tab">
                            <form onsubmit="formProcessKurs('https://banksulselbar.co.id/'); return false">
                                <div class="form-group"> <label for="jenis">Pilih Jenis</label>
                                    <div class="form-control new-jenis-konversi"> <label class="radio-inline"> <input
                                                type="radio" name="raddMode" id="sell" value="sell" checked> Beli
                                        </label> <label class="radio-inline"> <input type="radio" name="raddMode"
                                                id="buy" value="buy"> Jual </label> </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-8">
                                        <div class="form-group"> <label for="mataUang">Dari</label> <input type="text"
                                                class="form-control" id="moneyVal"
                                                onkeyup="this.value=this.value.replace(/[^\d]/,'')"> </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group"> <select class="form-control" id="from">
                                                <option data-buy="14512,00" data-sell="14,212,00" selected="selected">
                                                    USD</option>
                                            </select> </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-8">
                                        <div class="form-group"> <label for="mataUang">Hasil Nilai</label>
                                            <!-- <div id="result"></div> --> <input type="text" id="result"
                                                class="form-control" value="0" disabled=""> </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group"> <select class="form-control" id="to">
                                                <option>IDR</option>
                                            </select> </div>
                                    </div>
                                </div> <button type="submit" id="btnCount" class="btn btn-primary">Hitung
                                    Kalkulasi</button>
                            </form>
                        </div> <!-- End DUMMY Konversi -->
                    </div> <!-- simulasi kredit & suku bunga -->
                    <nav class="widgNav">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link" id="nav-kredit-tab" data-toggle="tab" href="#nav-kredit"
                                role="tab" aria-controls="nav-kredit" aria-selected="false">Simulasi Kredit</a>
                            <a class="nav-item nav-link" id="nav-bunga-tab" data-toggle="tab" href="#nav-bunga"
                                role="tab" aria-controls="nav-bunga" aria-selected="false">Suku Bunga</a>
                            <a class="nav-item nav-link active" id="nav-emas-tab" data-toggle="tab" href="#nav-emas"
                                role="tab" aria-controls="nav-emas" aria-selected="true">Investasi Emas</a>
                        </div>
                    </nav>
                    <div class="tab-content simulasi widgTab" id="nav-tabContent">
                        <div class="tab-pane fade" id="nav-kredit" role="tabpanel" aria-labelledby="nav-kredit-tab">
                            <form role="form" id="formID" action="https://banksulselbar.co.id/kalkulator-kredit"
                                method="post">
                                <div class="form-group"> <label for="kredit">Jumlah Kredit</label> <input type="input"
                                        class="form-control" name="kredit" id="kredit" value=""
                                        data-validation-engine="validate[required]"
                                        data-errormessage-value-missing="This field is required!"> </div>
                                <div class="form-group"> <label for="waktu">Jangka Waktu</label> <label for="waktu"
                                        class="label_right">Bulan</label>
                                    <!-- <input type="number" class="form-control" id="jangkaWaktu"> --> <input
                                        type="input" class="form-control" name="waktu" id="waktu" size="5" value=""
                                        data-validation-engine="validate[required]"
                                        data-errormessage-value-missing="This field is required!"> </div>
                                <div class="form-group"> <label for="bunga">Bunga Pertahun</label> <label for="bunga"
                                        class="label_right">%</label>
                                    <!-- <input type="number" class="form-control" id="bungaPertahun"> --> <input
                                        type="input" class="form-control" name="bunga" id="bunga" size="4" value=""
                                        data-validation-engine="validate[required]"
                                        data-errormessage-value-missing="This field is required!"> </div>
                                <label>Perhitungan Suku Bunga</label>
                                <div class="form-check">
                                    <div class="row">
                                        <div class="col-4"> <input type="checkbox" class="form-check-input" id="flat">
                                            <label class="form-check-label" for="flat">Flat</label>
                                        </div>
                                        <div class="col-4"> <input type="checkbox" class="form-check-input"
                                                id="efektif"> <label class="form-check-label"
                                                for="efektif">Efektif</label> </div>
                                        <div class="col-4"> <input type="checkbox" class="form-check-input"
                                                id="anuitas"> <label class="form-check-label"
                                                for="anuitas">Anuitas</label> </div>
                                    </div>
                                </div> <input name="calc" type="hidden" id="calc" value="Kalkulasi" /> <button
                                    type="submit" class="btn btn-primary">Hitung Kalkulasi</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="nav-bunga" role="tabpanel" aria-labelledby="nav-bunga-tab">
                            <label class="deposit">Deposito</label>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Tenor</th>
                                        <th scope="col">Counter Rate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1 (Satu) bulan</td>
                                        <td>4.00% p.a</td>
                                    </tr>
                                    <tr>
                                        <td>3 (Tiga) bulan</td>
                                        <td>4.00% p.a</td>
                                    </tr>
                                    <tr>
                                        <td>6 (Enam) bulan</td>
                                        <td>4.25% p.a</td>
                                    </tr>
                                    <tr>
                                        <td>12 (Dua Belas) bulan</td>
                                        <td>4.25% p.a</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade show active" id="nav-emas" role="tabpanel"
                            aria-labelledby="nav-emas-tab">
                            <label class="widgTitle text-center">Tanggal 25 Januari 2022 <br>
                                Harga Emas per Gram Rp 951.000</label>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Berat</th>
                                        <th scope="col">Harga Emas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>5 Gram</td>
                                        <td>4.530.000</td>
                                    </tr>
                                    <tr>
                                        <td>10 Gram</td>
                                        <td>9.005.000</td>
                                    </tr>
                                    <tr>
                                        <td>25 Gram</td>
                                        <td>22.387.000</td>
                                    </tr>
                                    <tr>
                                        <td>50 Gram</td>
                                        <td>44.695.000</td>
                                    </tr>
                                    <tr>
                                        <td>100 Gram</td>
                                        <td>89.312.000</td>
                                    </tr>
                                    <tr>
                                        <td>250 Gram</td>
                                        <td>223.014.000</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center">
                                <a href="#" class="more_btn more-new widgLink">Info Angsuran <i
                                        class="arrowRight"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="widgBox text-center">
                        <div class="widgTitle widgTitle--blue">Tingkat Bunga Penjaminan</div>
                        <div class="widgText">Periode 29 Januari 2022 - 25 Mei 2022</div>
                        <table class="table widgTable">
                            <tbody>
                                <tr>
                                    <td>IDR 3.50%</td>
                                    <td>Valas 3.50%</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="#" class="more_btn more-new widgLink">Info Selengkapnya <i class="arrowRight"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="container layanan_kami"> <label>Layanan Kami</label>
            <div class="row">
                <div class="col-sm-2 offset-sm-1 col-6"> <a href="https://banksulselbar.co.id/kantor-cabang">
                        <div class="kantor_cabang"> <span>Kantor Cabang</span> </div>
                    </a> </div>
                <div class="col-sm-2 col-6"> <a href="https://banksulselbar.co.id/lokasi-atm">
                        <div class="lokasi_atm"> <span>Lokasi ATM</span> </div>
                    </a> </div>
                <div class="col-sm-2 col-6"> <a href="https://banksulselbar.co.id/payment-point">
                        <div class="payment_point"> <span>Payment Point</span> </div>
                    </a> </div>
                <div class="col-sm-2 col-6"> <a href="https://banksulselbar.co.id/office-channeling">
                        <div class="office_channeling"> <span>Office Channeling</span> </div>
                    </a> </div>
                <div class="col-sm-2 col-6"> <a href="https://banksulselbar.co.id/mobil-kas-keliling">
                        <div class="mobil_keliling"> <span>Mobil Kas Keliling</span> </div>
                    </a> </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="media">
            <div class="container">
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content"> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="media_head"> <label>Video</label> <a href="https://banksulselbar.co.id/video"
                                class="more_btn"> Video Lainnya <i class="arrowRight-white"></i> </a> </div>
                        <div class="video"> <a
                                href="https://banksulselbar.co.id/video/read/20220215/1442/pt-bank-sulselbar-berikan-bantuan-csr-di-hari-jadi-kabupaten-takalar-ke-62-tahun">
                                <img class="play"
                                    src="https://banksulselbar.co.id/images-data/posts/2022/02/15/1442/direktur-kepatuhan_thumb.jpg" />
                            </a> </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media_head foto"> <label>Foto</label> <a href="https://banksulselbar.co.id/foto"
                                class="more_btn"> Foto Lainnya <i class="arrowRight-white"></i> </a> </div>
                        <div class="row foto">
                            <div class="col-sm-6 col-6"> <a href="javascript:;" onclick="act_detail(69)"> <img
                                        src="https://banksulselbar.co.id/images-data/photos/2020/11/20/69/8_thumb.jpg" />
                                </a> </div>
                            <div class="col-sm-6 col-6"> <a href="javascript:;" onclick="act_detail(66)"> <img
                                        src="https://banksulselbar.co.id/images-data/photos/2020/10/14/66/6._thumb.jpg" />
                                </a> </div>
                        </div>
                        <div class="row foto">
                            <div class="col-sm-6 col-6"> <a href="javascript:;" onclick="act_detail(62)"> <img
                                        src="https://banksulselbar.co.id/images-data/photos/2020/09/11/62/1_thumb.jpg" />
                                </a> </div>
                            <div class="col-sm-6 col-6"> <a href="javascript:;" onclick="act_detail(61)"> <img
                                        src="https://banksulselbar.co.id/images-data/photos/2020/09/03/61/1_thumb.jpeg" />
                                </a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="client">
            <div class="container">
                <div class="row"> <label>Tautan</label>
                    <div class="img"> <a href="http://ayokebank.com/" target="_blank"><img
                                src="https://banksulselbar.co.id/new/images/tautan/1.png" /></a> <a
                            href="https://ojk.go.id/id/Default.aspx" target="_blank"><img
                                src="https://banksulselbar.co.id/new/images/tautan/2.png" /></a> <a
                            href="https://lps.go.id/" target="_blank"><img
                                src="https://banksulselbar.co.id/new/images/tautan/lps.png" /></a> <a
                            href="https://wbs.banksulselbar.co.id/" target="_blank"><img
                                src="https://banksulselbar.co.id/new/images/tautan/3.png" /></a> <a
                            href="https://elhkpn.kpk.go.id/portal/user/login#" target="_blank"><img
                                src="https://banksulselbar.co.id/new/images/tautan/4.png" /></a> <a
                            href="https://www.atmbersama.com/" target="_blank"><img
                                src="https://banksulselbar.co.id/new/images/tautan/5.png" /></a> <a href=""
                            target="_blank"><img src="https://banksulselbar.co.id/new/images/tautan/6.png" /></a> <a
                            href="" target="_blank"><img
                                src="https://banksulselbar.co.id/new/images/tautan/7.png" /></a>
                        <!-- <a href="https://ppdpp.id/realisasi-dashboard/" target="_blank"><img src="https://banksulselbar.co.id/new/images/tautan/ppdpp.png"/></a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3"> <a href=""><img
                                src="https://www.banksulselbar.co.id/images/logo-banks-sulselbar.svg"
                                class="foot-logo"></a> <span>Bank Sulselbar tampil penuh keyakinan dan rasa bangga terus
                            bergerak membangun perekonomian Indonesia dan rasa bangga membawa nama wilayah Sulawesi
                            Selatan serta bangga membangun daerah Sulawesi Selatan.</span> </div>
                    <div class="col-sm-3 office"> <label>Kantor Pusat</label> <span> <i class="foot-loc"></i> Jl. Dr.
                            Sam Ratulangi No. 16, Makassar 90125 </span> <span> <i class="foot-p"></i> 1500855 </span>
                        <span> <i class="foot-f"></i> (0411) 854 611 </span>
                    </div>
                    <div class="col-sm-3 link"> <label>Tautan Berguna</label> <span> <i class="chevron-right"></i> <a
                                href="https://banksulselbar.co.id/page/peta-situs">Peta Situs</a> </span> <span> <i
                                class="chevron-right"></i> <a
                                href="https://banksulselbar.co.id/page/security-awareness">Security Awareness</a>
                        </span> <span> <i class="chevron-right"></i> <a
                                href="https://banksulselbar.co.id/page/privacy-and-policy">Privacy and Policy</a>
                        </span> </div>
                    <div class="col-sm-3 apps"> <label>Dapatkan M-Banking Bank Sulselbar di:</label> <a
                            href="https://apps.apple.com/id/app/bank-sulselbar-apps/id1446698815?l=id"
                            target="_blank"><img src="https://banksulselbar.co.id/new/images/app-store.png" /></a> <a
                            href="https://play.google.com/store/apps/details?id=com.dwidasa.sulselbar.mb.android"
                            target="_blank"><img src="https://banksulselbar.co.id/new/images/google-play.png" /></a>
                    </div>
                </div>
                <div class="row socmed"> <a href="https://www.instagram.com/banksulselbarofficial/" target="_blank"><img
                            src="https://banksulselbar.co.id/new/images/icon/instagram.svg" /></a> <a
                        href="https://www.youtube.com/channel/UCenceMvICBS87JCSZDGOx8g" target="_blank"><img
                            src="https://banksulselbar.co.id/new/images/icon/youtube.svg"></a> </div>
            </div>
        </div>
    </div> <!-- Optional JavaScript -->
    <script
        type="text/javascript"> function act_detail(id) { var url = window.location.origin + "/gallery/detail/" + id; var wrapper = $(".modal-content"); $("#myModal").modal(); $.ajax({ type: "POST", url: url, cache: false, success: function (html) { $(wrapper).append(html); } }); } </script>
    <script> function toggle_visibility(id) { var e = document.getElementById(id); if (e.style.display == 'none') e.style.display = 'block'; else e.style.display = 'none'; } </script>
    <script> function toggle_jaringan(id) { var e = document.getElementById(id); if (e.style.display == 'block') e.style.display = 'none'; else e.style.display = 'block'; } </script>
    <script> function toggle_simpeda_open(id) { var e = document.getElementById(id); if (e.style.display == 'none') e.style.display = 'block'; else e.style.display = 'none'; } </script>
    <script> function toggle_pinjaman_open(id) { var e = document.getElementById(id); if (e.style.display == 'none') e.style.display = 'block'; else e.style.display = 'none'; } </script>
    <script> function toggle_valas_open(id) { var e = document.getElementById(id); if (e.style.display == 'none') e.style.display = 'block'; else e.style.display = 'none'; } </script>
    <script> function toggle_syariah_open(id) { var e = document.getElementById(id); if (e.style.display == 'none') e.style.display = 'block'; else e.style.display = 'none'; } </script>
    <script> function toggle_trade_open(id) { var e = document.getElementById(id); if (e.style.display == 'none') e.style.display = 'block'; else e.style.display = 'none'; } </script>
    <script> function toggle_simpeda_close(id) { var e = document.getElementById(id); if (e.style.display == 'block') e.style.display = 'none'; else e.style.display = 'block'; } </script>
    <script> function toggle_pinjaman_close(id) { var e = document.getElementById(id); if (e.style.display == 'block') e.style.display = 'none'; else e.style.display = 'block'; } </script>
    <script> function toggle_valas_close(id) { var e = document.getElementById(id); if (e.style.display == 'block') e.style.display = 'none'; else e.style.display = 'block'; } </script>
    <script> function toggle_syariah_close(id) { var e = document.getElementById(id); if (e.style.display == 'block') e.style.display = 'none'; else e.style.display = 'block'; } </script>
    <script> function toggle_trade_close(id) { var e = document.getElementById(id); if (e.style.display == 'block') e.style.display = 'none'; else e.style.display = 'block'; } </script>
    <script src="https://banksulselbar.co.id/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script
        type="text/javascript"> jQuery(document).ready(function () { var current_language = readCookie('lang'); if (!current_language || current_language == 'Indonesia' || current_language == 'undefined') { $('.nturl').removeClass('aktif'); $('#langina').addClass('aktif'); } else { $('.nturl').removeClass('aktif'); $('#langen').addClass('aktif'); } $('.nturl').click(function (event) { $('.nturl').removeClass('aktif'); $(this).addClass('aktif'); var language = $(this).attr('title'); document.cookie = "lang=" + language; }); $('.popup_download').click(function (e) { e.preventDefault(); var filepdf = $(this).data('download'); var title = $(this).data('title'); $('#prev_content').attr('src', filepdf); $('#myModalLabel').text(title); }); }); function readCookie(name) { var c = document.cookie.split('; '), cookies = {}, i, C; for (i = c.length - 1; i >= 0; i--) { C = c[i].split('='); cookies[C[0]] = C[1]; } return cookies[name]; } </script>
    <script
        type="text/javascript"> function googleTranslateElementInit2() { new google.translate.TranslateElement({ pageLanguage: 'id', autoDisplay: false }, 'google_translate_element2'); } </script>
    <script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>
    <script type="text/javascript"> /* //&lt;![CDATA[
 */ eval(function (p, a, c, k, e, r) { e = function (c) { return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36)) }; if (!''.replace(/^/, String)) { while (c--) r[e(c)] = k[c] || e(c); k = [function (e) { return r[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) if (k[c]) p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]); return p }('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}', 43, 43, '||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'), 0, {})) /* 
//]]> */ </script> <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, Vendor -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://banksulselbar.co.id/new/js/flickity.pkgd.min.js"></script>
    <!-- <script src="https://banksulselbar.co.id/new/js/collapse.js"></script> -->
    <script src="https://banksulselbar.co.id/js/vendor.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>