<div class="highlight highlight--box mt40">
    <div class="sidebarCaption__box text-center">
        <img src="asset/images/numpang-promo-sidebar.png" class="" alt="" width="234" height="32"
            loading="lazy">
    </div>
    <ul class="sidebarHighlight">
        <li class="sidebarHighlight__item sidebarPromo__item">
            <a href="#" class="sidebarHighlight__wrap">
                <img src="asset/images/sample/art-big-1.jpg" class="sidebarPromo__img" alt="" width="268" height="191"
                    loading="lazy">
                <h3 class="highlightTitle sidebarPromo__title mt10">7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta</h3>
            </a>
        </li>
        <li class="sidebarHighlight__item sidebarPromo__item">
            <a href="#" class="sidebarHighlight__wrap">
                <img src="asset/images/sample/art-big-2.jpg" class="sidebarPromo__img" alt="" width="268" height="191"
                    loading="lazy">
                <h3 class="highlightTitle sidebarPromo__title mt10">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h3>
            </a>
        </li>
        <li class="sidebarHighlight__item sidebarPromo__item">
            <a href="#" class="sidebarHighlight__wrap">
                <img src="asset/images/sample/art-big-3.jpg" class="sidebarPromo__img" alt="" width="268" height="191"
                    loading="lazy">
                <h3 class="highlightTitle sidebarPromo__title mt10">Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua</h3>
            </a>
        </li>
        <li class="sidebarHighlight__item sidebarPromo__item">
            <a href="#" class="sidebarHighlight__wrap">
                <img src="asset/images/sample/art-big-4.jpg" class="sidebarPromo__img" alt="" width="268" height="191"
                    loading="lazy">
                <h3 class="highlightTitle sidebarPromo__title mt10">Delishburger yang Benar-Benar Delicious</h3>
            </a>
        </li>
    </ul>
    <a href="#" class="buttonOther--bottom text-center mt20">Lihat Lainnya</a>
</div>