<div class="highlight highlight--box mt40">
    <div class="sidebarCaption__box text-center">Hits Movie : Squid Game</div>
    <ul class="sidebarHighlight">
        <li class="sidebarHighlight__item">
            <a href="read.html" class="sidebarHighlight__wrap">
                <img src="asset/images/sample/art-big-2.jpg" class="sidebarHighlight__img" alt="" width="300" height="191"
                    loading="lazy">
                <div class="sidebarHighlight__box">
                    <div class="highlightDetail display-flex aitems-center">
                        <div class="highlightSubtitle">Zodiak</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle sidebarHighlight__title mt10">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h3>
                </div>
            </a>
        </li>
        <li class="sidebarHighlight__item">
            <a href="read.html" class="sidebarHighlight__wrap">
                <div class="sidebarHighlight__box">
                    <div class="highlightDetail display-flex aitems-center">
                        <div class="highlightSubtitle">Relationship</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle sidebarHighlight__title mt10">Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua</h3>
                </div>
            </a>
        </li>
        <li class="sidebarHighlight__item">
            <a href="read.html" class="sidebarHighlight__wrap">
                <div class="sidebarHighlight__box">
                    <div class="highlightDetail display-flex aitems-center">
                        <div class="highlightSubtitle">Numpang Promo</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle sidebarHighlight__title mt10">Delishburger yang Benar-Benar Delicious</h3>
                </div>
            </a>
        </li>
    </ul>
    <a href="#" class="buttonOther--bottom text-center mt20">Lihat Lainnya</a>
</div>