<div class="highlight mt40">
    <div class="display-flex aitems-center jcontent-between">
        <div class="highlightCaption">Video Terbaru</div>
    </div>
    <!-- s: video article -->
    <ul class="highlightList photoSidebar videoSidebar row mt10">
        <li class="highlightItem mt30">
            <a href="read.html" aria-label="6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-0.jpg" class="highlightImg photoSidebar__img" alt="" width="300" height="225"
                        loading="lazy">
                    <span class="icon icon-play"></span>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Video</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem mt30">
            <a href="read.html" aria-label="7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-1.jpg" class="highlightImg photoSidebar__img" alt="" width="300" height="225"
                        loading="lazy">
                    <span class="icon icon-play"></span>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Video</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta</h3>
                </div>
            </a>
        </li>
        <li class="highlightItem mt30">
            <a href="read.html" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-2.jpg" class="highlightImg photoSidebar__img" alt="" width="300" height="225"
                        loading="lazy">
                    <span class="icon icon-play"></span>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Video</div>
                        <div class="highlightTime">9 menit yang lalu</div>
                    </div>
                    <h3 class="highlightTitle highlightLink mt10">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h3>
                </div>
            </a>
        </li>
    </ul>
    <!-- e: video article -->
</div>