<div class="writer mt40">
    <div class="sidebarCaption">Penulis Pilihan</div>
    <ul class="row">
        <li class="writerItem col-gd10-5">
            <a href="#" class="writerLink text-center">
                <img loading="lazy" src="https://dummyimage.com/70x70/000000/fff" width="70" height="70" alt=""
                    class="userAvatar writerAvatar">
                <div class="userName writerName mt10">
                    Pandu Hutapea
                </div>
            </a>
        </li>
        <li class="writerItem col-gd10-5">
            <a href="#" class="writerLink text-center">
                <img loading="lazy" src="https://dummyimage.com/70x70/CD5DB9/fff" width="70" height="70" alt=""
                    class="userAvatar writerAvatar">
                <div class="userName writerName mt10">
                    Alisa Chandrika
                </div>
            </a>
        </li>
        <li class="writerItem col-gd10-5">
            <a href="#" class="writerLink text-center">
                <img loading="lazy" src="https://dummyimage.com/70x70/CD5DB9/fff" width="70" height="70" alt=""
                    class="userAvatar writerAvatar">
                <div class="userName writerName mt10">
                    Larinda Dewi
                </div>
            </a>
        </li>
        <li class="writerItem col-gd10-5">
            <a href="#" class="writerLink text-center">
                <img loading="lazy" src="https://dummyimage.com/70x70/000000/fff" width="70" height="70" alt=""
                    class="userAvatar writerAvatar">
                <div class="userName writerName mt10">
                    Prasetya Adhi
                </div>
            </a>
        </li>
        <li class="writerItem col-gd10-5">
            <a href="#" class="writerLink text-center">
                <img loading="lazy" src="https://dummyimage.com/70x70/CD5DB9/fff" width="70" height="70" alt=""
                    class="userAvatar writerAvatar">
                <div class="userName writerName mt10">
                    Salma Fadhillah
                </div>
            </a>
        </li>
        <li class="writerItem col-gd10-5">
            <a href="#" class="writerLink text-center">
                <img loading="lazy" src="https://dummyimage.com/70x70/000000/fff" width="70" height="70" alt=""
                    class="userAvatar writerAvatar">
                <div class="userName writerName mt10">
                    Satria Kusumo
                </div>
            </a>
        </li>
    </ul>
</div>