<!-- s: komentar -->
<div class="comment">
    <form class="mt10" action="">
        <textarea class="formArea" name="comment" id="comment" cols="30" rows="7" placeholder="Tuliskan Komentar"
            aria-label="Write your comment"></textarea>
        <button class="button buttonPink buttonPink--full mt30" type="submit" name="submit">
            Tambah komentar
        </button>
    </form>
    <div class="readCaption--big mt30">4 Komentar</div>
    <div class="commentList mt30">
        <div class="commentItem display-flex mt20 mb20">
            <div class="commentRow">
                <img loading="lazy" src="https://api.lorem.space/image/face?w&#x3D;76;h&#x3D;76;hash&#x3D;8B7BCDC2" alt="" class="commentAvatar" width="76" height="76">
            </div>
            <div class="commentRow flex-init">
                <div class="display-flex aitems-center jcontent-between">
                    <div class="commentUser">Victor Papanek</div>
                    <div class="commentDate">Rabu, 14 Juli 2021 - 10:36</div>
                </div>
                <div class="commentContent mt10">Felis eget egestas sapien netus. Tortor, vulputate dolor, in sem in
                    adipiscing
                    vel pellentesque aliquam. Vitae vitae ut ridiculus semper. Orci iaculis eget iaculis feugiat felis
                    dictum aliquet egestas. Quis dis dictum odio risus nisl. Facilisi sit suspendisse elit feugiat.
                </div>
                <div class="commentAction display-flex jcontent-between mt20">
                    <button class="button commentReply -bReply" aria-label="Trigger form reply"></button>
                    <button class="button commentReport -bReport">Laporkan</button>
                </div>
                <form class="commentForm mt10 -fReply" action="">
                    <textarea class="formArea commentArea" cols="30" rows="4" placeholder="Tulis Komentarmu"
                        aria-label="Write your comment"></textarea>
                    <div class="commentBottom display-flex aitems-center jcontent-between">
                        <div class="commentCount__text">1000 karakter tersisa</div>
                        <button class="button buttonPink" type="submit" name="submit">
                            Kirim
                        </button>
                    </div>
                </form>                <!-- s: reply -->
                <div class="commentItem display-flex mt20 mb20">
                    <div class="commentRow">
                        <img loading="lazy" src="https://api.lorem.space/image/face?w&#x3D;76;h&#x3D;76;hash&#x3D;8B7BCDC2" alt="" class="commentAvatar" width="76" height="76">
                    </div>
                    <div class="commentRow flex-init">
                        <div class="display-flex aitems-center jcontent-between">
                            <div class="commentUser">Victor Papanek</div>
                            <div class="commentDate">Rabu, 14 Juli 2021 - 10:36</div>
                        </div>
                        <div class="commentContent mt10">Felis eget egestas sapien netus. Tortor, vulputate dolor, in
                            sem in
                            adipiscing
                            vel pellentesque aliquam. Vitae vitae ut ridiculus semper. Orci iaculis eget iaculis feugiat
                            felis
                            dictum aliquet egestas. Quis dis dictum odio risus nisl. Facilisi sit suspendisse elit
                            feugiat.
                        </div>
                        <div class="commentAction display-flex jcontent-between mt20">
                            <button class="button commentReply -bReply" aria-label="Trigger form reply"></button>
                            <button class="button commentReport -bReport">Laporkan</button>
                        </div>
                        <form class="commentForm mt10 -fReply" action="">
                            <textarea class="formArea commentArea" cols="30" rows="4" placeholder="Tulis Komentarmu"
                                aria-label="Write your comment"></textarea>
                            <div class="commentBottom display-flex aitems-center jcontent-between">
                                <div class="commentCount__text">1000 karakter tersisa</div>
                                <button class="button buttonPink" type="submit" name="submit">
                                    Kirim
                                </button>
                            </div>
                        </form>                    </div>
                </div>
                <div class="commentItem display-flex mt20 mb20">
                    <div class="commentRow">
                        <img loading="lazy" src="https://api.lorem.space/image/face?w&#x3D;70;h&#x3D;70;hash&#x3D;500B67FB" alt="" class="commentAvatar" width="76" height="76">
                    </div>
                    <div class="commentRow flex-init">
                        <div class="display-flex aitems-center jcontent-between">
                            <div class="commentUser">Derry Aso</div>
                            <div class="commentDate">Rabu, 14 Juli 2021 - 10:36</div>
                        </div>
                        <div class="commentContent mt10">Felis eget egestas sapien netus. Tortor, vulputate dolor, in
                            sem in
                            adipiscing
                            vel pellentesque aliquam. Vitae vitae ut ridiculus semper. Orci iaculis eget iaculis feugiat
                            felis
                            dictum aliquet egestas. Quis dis dictum odio risus nisl. Facilisi sit suspendisse elit
                            feugiat.
                        </div>
                        <div class="commentAction display-flex jcontent-between mt20">
                            <button class="button commentReply -bReply" aria-label="Trigger form reply"></button>
                            <button class="button commentReport -bReport">Laporkan</button>
                        </div>
                        <form class="commentForm mt10 -fReply" action="">
                            <textarea class="formArea commentArea" cols="30" rows="4" placeholder="Tulis Komentarmu"
                                aria-label="Write your comment"></textarea>
                            <div class="commentBottom display-flex aitems-center jcontent-between">
                                <div class="commentCount__text">1000 karakter tersisa</div>
                                <button class="button buttonPink" type="submit" name="submit">
                                    Kirim
                                </button>
                            </div>
                        </form>                    </div>
                </div>
                <div class="commentItem display-flex mt20 mb20">
                    <div class="commentRow">
                        <img loading="lazy" src="https://api.lorem.space/image/face?w&#x3D;70&amp;h&#x3D;70&amp;hash&#x3D;A89D0DE6" alt="" class="commentAvatar" width="76" height="76">
                    </div>
                    <div class="commentRow flex-init">
                        <div class="display-flex aitems-center jcontent-between">
                            <div class="commentUser">Amanda Immanuella</div>
                            <div class="commentDate">Rabu, 14 Juli 2021 - 10:36</div>
                        </div>
                        <div class="commentContent mt10">Felis eget egestas sapien netus. Tortor, vulputate dolor, in
                            sem in
                            adipiscing
                            vel pellentesque aliquam. Vitae vitae ut ridiculus semper. Orci iaculis eget iaculis feugiat
                            felis
                            dictum aliquet egestas. Quis dis dictum odio risus nisl. Facilisi sit suspendisse elit
                            feugiat.
                        </div>
                        <div class="commentAction display-flex jcontent-between mt20">
                            <button class="button commentReply -bReply" aria-label="Trigger form reply"></button>
                            <button class="button commentReport -bReport">Laporkan</button>
                        </div>
                        <form class="commentForm mt10 -fReply" action="">
                            <textarea class="formArea commentArea" cols="30" rows="4" placeholder="Tulis Komentarmu"
                                aria-label="Write your comment"></textarea>
                            <div class="commentBottom display-flex aitems-center jcontent-between">
                                <div class="commentCount__text">1000 karakter tersisa</div>
                                <button class="button buttonPink" type="submit" name="submit">
                                    Kirim
                                </button>
                            </div>
                        </form>                    </div>
                </div>
                <!-- e: reply -->
            </div>
        </div>
    </div>
</div>
<!-- e: komentar -->