<div class="popup popup--hidden flex-center -pReport">
    <div class="popupWrap reportPopup">
        <div class="popupTitle">
            Laporkan Komentar
        </div>
        <div class="popupContent">
            <form action="">
                <div class="reportSelect display-flex aitems-center mt20 mb20">
                    <input type="radio" id="report1" class="formRadio" name="report">
                    <label class="reportSelect__label ml10" for="report1">Iklan atau spam</label>
                </div>
                <div class="reportSelect display-flex aitems-center mt20 mb20">
                    <input type="radio" id="report2" class="formRadio" name="report">
                    <label class="reportSelect__label ml10" for="report2">Porno atau asusila</label>
                </div>
                <div class="reportSelect display-flex aitems-center mt20 mb20">
                    <input type="radio" id="report3" class="formRadio" name="report">
                    <label class="reportSelect__label ml10" for="report3">Ujaran kebencian atau SARA</label>
                </div>
                <div class="reportSelect display-flex aitems-center mt20 mb20">
                    <input type="radio" id="report4" class="formRadio" name="report">
                    <label class="reportSelect__label ml10" for="report4">Perundungan atau pelecehan</label>
                </div>
                <div class="reportSelect display-flex aitems-center mt20 mb20">
                    <input type="radio" id="report5" class="formRadio" name="report">
                    <label class="reportSelect__label ml10" for="report5">Lainnya</label>
                </div>
                <div class="display-flex jcontent-end mt40">
                    <button class="button reportBtn reportBtn__cancel -btnCl" type="button">
                        Batal
                    </button>
                    <button class="button reportBtn reportBtn__submit" type="submit" name="submit">
                        Laporkan
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>