<div class="react flex-center mt40">
    <button class="button reactBtn" aria-label="Suka">
        <div class="reactIcon"><img src="asset/images/icon-suka.png" alt="" width="84" height="84" loading="lazy"></div>
        <div class="reactText mt10">Suka</div>
        <div class="reactCount">78%</div>
    </button>
    <button class="button reactBtn" aria-label="Lucu">
        <div class="reactIcon"><img src="asset/images/icon-lucu.png" alt="" width="84" height="84" loading="lazy"></div>
        <div class="reactText mt10">Lucu</div>
        <div class="reactCount">35%</div>
    </button>
    <button class="button reactBtn" aria-label="Keren">
        <div class="reactIcon"><img src="asset/images/icon-keren.png" alt="" width="84" height="84" loading="lazy"></div>
        <div class="reactText mt10">Keren</div>
        <div class="reactCount">35%</div>
    </button>
    <button class="button reactBtn" aria-label="Sedih">
        <div class="reactIcon"><img src="asset/images/icon-sedih.png" alt="" width="84" height="84" loading="lazy"></div>
        <div class="reactText mt10">Sedih</div>
        <div class="reactCount">35%</div>
    </button>
    <button class="button reactBtn" aria-label="Senang">
        <div class="reactIcon"><img src="asset/images/icon-senang.png" alt="" width="84" height="84" loading="lazy"></div>
        <div class="reactText mt10">Senang</div>
        <div class="reactCount">35%</div>
    </button>
    <button class="button reactBtn" aria-label="Marah">
        <div class="reactIcon"><img src="asset/images/icon-marah.png" alt="" width="84" height="84" loading="lazy"></div>
        <div class="reactText mt10">Marah</div>
        <div class="reactCount">35%</div>
    </button>
</div>