$font-normal: "Nunito Sans", sans-serif;

$font-weight-normal: 400;
$font-weight-sbold: 600;
$font-weight-bold: 700;

$line-base: 1.56;

$cl-primary1: #F5D458;
$cl-primary2: #8C7932;
$cl-primary3: #9D7537;
$cl-neutral0: #000;
$cl-neutral1: #FFF;
$cl-text1: #BFBFBF;
$cl-text2: #8C8C8C;

$cl-notif1: #FE725F;
$cl-notif2: #5CFF8A;
$cl-accent1: #FCFCFC;

$w-xxxl: 1920px;
$w-xxl: 1440px;
// $w-xl: 1230px;
$w-xl: 1140px;
$w-lg: 960px;
$w-md: 768px;
$w-sm: 540px;
$w-xm: 350px;