.footer{
    position: relative;
    margin-top: 100px;
    padding-bottom: 30px;
    background: $cl-accent1;
    z-index: 2;

    &List{
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        @include min-responsive($w-md) {
            padding-top: 20px;
            flex-direction: row;
            align-items: center;
        }
    }

    &Link{
        display: block;
        padding: 15px;
        @include font-pack($font-bold, 14px, $font-weight-bold, 1.28, $cl-primary1);
    }

    &Copy{
        text-align: center;
        @include font-pack($font-bold, 14px, $font-weight-bold, 1.28, $cl-text2);
    }
}