.menu {
    position: relative;
    top: 0;
    width: 44px;
    height: 44px;
    opacity: 1;
    z-index: 4;
    overflow: hidden;

    &.hide {
        opacity: 0;
    }

    &Toggle {
        width: 44px;
        height: 44px;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 2;

        &:checked {

            ~.ham {
                transform: rotate(45deg);

                .top {
                    stroke-dasharray: 17 82;
                    stroke-dashoffset: -62px;
                }

                .middle {
                    stroke-dashoffset: 23px;
                    stroke-dasharray: 40 111;
                }

                .bottom {
                    stroke-dashoffset: -83px;
                }
            }
        }
    }

    &Wrap {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &Wrap.mobile {
        position: fixed;
        width: 100%;
        height: 100%;
        margin-top: 0;
        padding: 70px 10px 10px;
        top: 0;
        left: 0;
        background: #09090A;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        visibility: hidden;
        opacity: 0;
        overflow-y: auto;
        overflow-x: hidden;
        overscroll-behavior-y: contain;
        z-index: 3;
        @include base_transition(all, .2s);

        .nav {
            width: 100%;

            &List {
                margin-left: 0;
                margin-right: 0;
                flex-direction: column;
            }

            &Item {
                width: calc(100% - 30px);
                padding: 4px 0;
                margin-left: 10px;
                margin-right: 10px;

                &.active,
                &:hover,
                &:active {

                    // .navSub {

                    //     &Child {
                    //         display: none;
                    //     }
                    // }
                }

                &>.navLink {
                    display: inline-block;
                }
            }

            &Sub {
                background: transparent;
                position: relative;
                top: 0;
                padding-top: 0;
                padding-bottom: 0;
                overflow: visible;
            }
        }
    }
}