.sidebar {
    &Wrap {
        flex-direction: column;

        @include min-responsive($w-xl) {
            flex-direction: row;
        }
    }

    &Menu {

        @include min-responsive($w-xl) {
            width: 360px;
            position: sticky;
            top: 80px;
            align-self: flex-start;
        }
    }

    &Item {
        margin-top: 45px;

        &:first-child {
            margin-top: 0;
        }
    }

    &Title {
        font-weight: $font-weight-sbold;
    }

    &Link {
        position: relative;
        display: block;
        padding-left: 30px;

        &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 20px;
            height: 20px;
            background: url(../images/icon/icon-saoraja.png);
            pointer-events: none;
        }

        &.active {
            color: $cl-primary1;
        }
    }

    &List {
        margin-top: 15px;

        &Item {
            margin-top: 10px;
        }
    }
}