<div class="highlight highlight--box mt40">
    <div class="sidebarCaption__box text-center">
        <img src="asset/images/numpang-promo-sidebar.png" class="" alt="" width="234" height="32"
            loading="lazy">
    </div>
    <ul class="sidebarHighlight">
        {{#eachIndex headline}}
        {{#gt index compare = '0'}}
        <li class="sidebarHighlight__item sidebarPromo__item">
            <a href="{{item.link}}" class="sidebarHighlight__wrap">
                <img src="{{item.img}}{{index}}.jpg" class="sidebarPromo__img" alt="" width="268" height="191"
                    loading="lazy">
                <h3 class="highlightTitle sidebarPromo__title mt10">{{item.title}}</h3>
            </a>
        </li>
        {{/gt}}
        {{/eachIndex}}
    </ul>
    <a href="#" class="buttonOther--bottom text-center mt20">Lihat Lainnya</a>
</div>