<div class="trending mt40">
    <div class="sidebarCaption">Trending</div>
    <ul class="trendingList">
        {{#eachIndex trending}}
        {{#gt index compare = '0'}}
        <li class="trendingItem">
            <a href="#" class="trendingLink display-flex aitems-center">
                <div class="trendingRank">
                    {{index}}
                </div>
                <h3 class="trendingTitle">{{item.title}}</h3>
            </a>
        </li>
        {{/gt}}
        {{/eachIndex}}
    </ul>
</div>