/**
* Interaktif Btn
* TODO : styling for homepage
* --
* * for homepage: index.html
* * author: ilmaisme.github.io
* ? style.min.css
* ! important to minify
*/

/**
* * base
*/
@use 'base/vars';
@use 'base/mixins';

@use 'components/preloader';