/**
* 
* TODO : styling for homepage
* --
* * for homepage: index.html
* * author: ilmaisme.github.io
* ? style.min.css
* ! important to minify
*/

/**
* * base
*/
@use 'base/vars';
@use 'base/mixins';
@use 'base/font';

/**
* * layout
*/
@use 'layout/global';
@use 'layout/grid';
// @use 'layout/header';
@use 'layout/article';

/**
* * content
*/
@use 'components/bgcolor';
@use 'components/bgstatic';
@use 'components/button';
@use 'components/popup';
@use 'pages/credit';
@use 'components/preloader';

/**
* * page
*/
@use 'pages/cover';
@use 'pages/intro';
@use 'pages/infra';
@use 'pages/btb';
@use 'pages/bnct';
@use 'pages/study';
// @use 'pages/socmed';

/**
* * plugin
*/
@use 'module/animation';
// @use 'plugin/fullpage';
@use 'module/override';