.profile {
    &Section {
        scroll-margin-top: 94px;
    }

    &Nav {

        &__link {
            @extend .navLink;
            text-transform: uppercase;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 10px;
            position: relative;

            &:first-child {
                padding-left: 5px;
            }

            &:last-child {
                padding-right: 5px;

                &::after {
                    content: none;
                }
            }

            &.active {
                color: $cl_primary;
            }

            &::after {
                content: '';
                border-right: 1px solid;
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                width: 1px;
                height: 100%;
            }
        }
    }

    &Img {
        max-width: 200px
    }

    &Desc {
        @include font-pack(false, 12px, 400, 20px, $cl_black);
    }

    &Contact {
        .icon {
            width: 20px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            filter: brightness(0) saturate(100%);
        }
    }
}