.read {
    &Title {
        @include font-pack(false, 20px, 700, false, $cl_primary);

        &__sub {
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
        }
    }

    &Writer {
        @include font-pack(false, 10px, 400, 1.6, #5F5F5F);

        &__box {
            padding: 20px;
            border: 1px solid #FA7DCE;
        }

        &__desc {
            @include font-pack(false, 12px, 500, false, #5F5F5F);
        }

        &--big {
            @include font-pack(false, 14px, 600, false, #5F5F5F);
        }

        &__avatar {
            aspect-ratio: 1/1;
            width: 80px;
            height: 80px;
            border-radius: 100%;
        }

        &__more {
            display: inline-block;
            background: $cl_primary;
            text-transform: uppercase;
            padding: 6px 22px;
            @include font-pack(false, 11px, 400, 22px, $cl_white);
        }

        &__social {
            @include font-pack(false, 12px, 500, 25px, #989898);

            .icon {
                width: 18px;
                height: 18px;
                filter: invert(67%) sepia(2%) saturate(20%) hue-rotate(323deg) brightness(91%) contrast(87%);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }

        &__link {
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    &Cta {
        gap: 10px;
        @include font-pack(false, 10px, 400, 1.7, false);

        .button {
            color: #717171
        }

        .icon {
            vertical-align: bottom;
            margin-right: 4px;
            filter: invert(46%) sepia(0%) saturate(193%) hue-rotate(147deg) brightness(96%) contrast(88%);
        }
    }

    &Img {

        &__thumb {
            text-align: left;
            @include font-pack(false, 10px, 400, 18px, #707070);
        }

        &__expand {
            position: relative;
        }

        &__wrap {
            flex-direction: column;

            a {
                display: block;
                margin: auto;
                text-align: center;
                background-color: $cl_tertiery_grey;
            }

            video,
            iframe {
                width: 100%;
                object-fit: cover;
                aspect-ratio: 16 / 9;
                height: auto;
            }

            .videoPlay {
                position: relative;
            }
        }
    }

    &Video {
        position: fixed;
        top: 94px;
        padding-top: 56.55%;
        width: 100%;
        box-shadow: 0 2px 27px 0 rgba(19, 115, 227, .13);
        z-index: 99;

        iframe,
        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &__holder {
            position: relative;
            padding-top: 56.55%;
        }
    }

    &Content {
        @include font-pack($font_read, 15px, 500, 1.6, $cl_black);

        &__video {
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;

            &.active {
                -webkit-line-clamp: unset;
            }
        }
    }

    &Other {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        @include font-pack(false, 16px, 700, 30px, $cl_primary);
        border-left: 4px solid $cl_black;
        font-style: italic;
    }

    &Caption {
        @include font-pack(false, 15px, 700, 1.6, $cl_primary);

        &--big {
            @include font-pack(false, 16px, 700, false, false);
        }
    }

    &Tag {
        @include font-pack(false, 12px, 400, 1.6, $cl_primary);

        &__list {
            flex-wrap: nowrap;
            overflow-x: auto;
            padding-bottom: 10px;
            margin-right: -15px;
            padding-right: 15px;
        }

        &__link {
            padding: 6px 16px;
            margin-right: 5px;
            margin-top: 5px;
            display: block;
            border-radius: 20px;
            background: $cl_black;
            @include font-pack(false, 12px, 500, false, $cl_white);

            &:hover {
                color: $cl_white;
            }
        }

        li:last-child .readTag__link {
            margin-right: 0;
        }
    }

    &Slider {
        .highlightItem {
            flex-basis: 44%;
            max-width: 44%;
            flex-shrink: 0;
            padding-bottom: 10px;
        }

        .articleTitle {
            word-wrap: normal;
            word-break: normal;
            -webkit-line-clamp: 3;
            font-size: 14px;
            font-weight: 400;
        }
    }
}