.search {
    &Result {
        @include font-pack(false, 14px, 600, false, $cl_grey);

        span {
            color: $cl_primary;
        }
    }

    &Type {
        margin-left: -2px;
        margin-right: -2px;
        flex-wrap: wrap;

        &__item {
            display: block;
            margin-top: 10px;

            &.buttonPrimary {
                min-height: 33px;
                font-size: 10px;
            }

            &:hover {
                color: $cl_white;
            }
        }

        li {
            margin-left: 2px;
            margin-right: 2px;
        }
    }
}