<header class="headerWrap">
    <div class="headerLogo__wrap">
        <a href="" title="">
            <img src="" class="headerLogo" alt="" width="342" height="62">
        </a>
    </div>
</header>