<div class="menuPanel">
    <div class="menuPanelLogo">
        <a href="https://www.bisnis.com/">
            <img src="./asset/images/logo/bisniscom-logo.svg" class="" alt="Bisnis.com" title="Bisnis.com" width="190"
                height="43" loading="lazy">
            <div>(Click to Visit)</div>
        </a>
    </div>
    <div class="menuCtaWrap center-flex">
        <a href="https://www.bisnis.com/premium" class="premiumBoxBtn menuCta">
            <span class="icoInline icoPremium"></span>Konten Premium
        </a>
        <div class="menuLogin menuCta">
            <a href="#" class="buttonProfile" aria-label="Login">
                <span class="icoInline icoLogin"></span> Login BisnisID
            </a>
        </div>
    </div>
    <div class="menuPanelWrap menuPanelWrap--kanal">
        <div class="menuPanelLabel">Bisnis<span>com</span></div>
        <ul class="menuPanelList">
            <li class="menuPanelItem"><a href="https://market.bisnis.com" class="menuPanelLink">Market</a></li>
            <li class="menuPanelItem"><a href="https://traveling.bisnis.com" class="menuPanelLink">Travel</a></li>
            <li class="menuPanelItem"><a href="https://finansial.bisnis.com" class="menuPanelLink">Finansial</a></li>
            <li class="menuPanelItem"><a href="https://kabar24.bisnis.com" class="menuPanelLink">Kabar24</a></li>
            <li class="menuPanelItem"><a href="https://ekonomi.bisnis.com" class="menuPanelLink">Ekonomi</a></li>
            <li class="menuPanelItem"><a href="index-tekno.html" class="menuPanelLink">Teknologi</a></li>
            <li class="menuPanelItem"><a href="https://bola.bisnis.com" class="menuPanelLink">Bola</a></li>
            <li class="menuPanelItem"><a href="index-lifestyle.html" class="menuPanelLink">Lifestyle</a></li>
            <li class="menuPanelItem"><a href="https://infografik.bisnis.com" class="menuPanelLink">Infografik</a></li>
            <li class="menuPanelItem"><a href="https://otomotif.bisnis.com" class="menuPanelLink">Otomotif</a></li>
            <li class="menuPanelItem"><a href="https://foto.bisnis.com" class="menuPanelLink">Foto</a></li>
            <li class="menuPanelItem"><a href="https://entrepreneur.bisnis.com" class="menuPanelLink">Entrepreneur</a></li>
            <li class="menuPanelItem"><a href="https://www.bisnis.com/index" class="menuPanelLink">Indeks</a></li>
        </ul>
    </div>
    <div class="menuPanelWrap menuPanelWrap--network">
        <div class="menuPanelLabel">Bisnis <span>Network</span></div>
        <ul class="menuPanelList">
            <li class="menuPanelItem">
                <a href="https://plus.bisnis.com/" target="_blank" class="menuPanelLink">
                    <img src="https://cdn.bisnis.com/bisnis/assets/images/2020/nav/logo-bisnisplus.svg" alt="Bisnis Plus" loading="lazy" width="103" height="22">
                </a>
            </li>
            <li class="menuPanelItem">
                <a href="https://bisnismuda.id/" target="_blank" class="menuPanelLink">
                    <img src="https://cdn.bisnis.com/bisnis/assets/images/bisnismuda.svg" alt="bisnismuda" loading="lazy" width="77" height="34">
                </a>
            </li>
            <li class="menuPanelItem">
                <a href="https://koran.bisnis.com" target="_blank" class="menuPanelLink">
                    <img src="https://cdn.bisnis.com/bisnis/assets/images/2020/nav/logo-bi.svg" alt="Koran Bisnis Indonesia" loading="lazy" width="120" height="25">
                </a>
            </li>
            <li class="menuPanelItem">
                <a href="https://toko.bisnis.com/" target="_blank" class="menuPanelLink">
                    <img src="https://cdn.bisnis.com/bisnis/assets/images/2020/nav/tokobisnis.svg" alt="tokobisnis" loading="lazy" width="100" height="18">
                </a>
            </li>
            <li class="menuPanelItem">
                <a href="https://epaper.bisnis.com" target="_blank" class="menuPanelLink">
                    <img src="https://cdn.bisnis.com/bisnis/assets/images/2020/nav/epaper.svg" alt="Epaper Bisnis Indonesia" loading="lazy" width="80" height="19">
                </a>
            </li>
            <li class="menuPanelItem">
                <a href="https://interaktif.bisnis.com/" target="_blank" class="menuPanelLink">
                    <img src="https://cdn.bisnis.com/bisnis/assets/images/2020/nav/logo-konten-interaktif.svg" alt="Konten Interaktif" loading="lazy" width="100" height="32">
                </a>
            </li>
            <li class="menuPanelItem">
                <a href="https://www.bisnisindonesiagroup.com" target="_blank" class="menuPanelLink">
                    <img src="https://cdn.bisnis.com/bisnis/assets/images/2020/nav/big.svg" alt="Bisnis Indonesia Group" loading="lazy" width="100" height="29">
                </a>
            </li>
            <li class="menuPanelItem">
                <a href="https://www.bisnis.com/infografik" target="_blank" class="menuPanelLink">
                    <img src="https://cdn.bisnis.com/bisnis/assets/images/2020/nav/logo-bisnisgrafik.svg" alt="Bisnis Grafik" loading="lazy" width="102" height="23">
                </a>
            </li>
            <li class="menuPanelItem">
                <a href="https://tv.bisnis.com/" target="_blank" class="menuPanelLink">
                    <img src="https://cdn.bisnis.com/bisnis/assets/images/2020/nav/logo-tv-bisniscom.svg" alt="bisnis tv" loading="lazy" width="109" height="23">
                </a>
            </li>
        </ul>
    </div>
    <div class="menuPanelWrap menuPanelWrap--regional">
        <div class="menuPanelLabel">Bisnis <span>Regional</span></div>
        <ul class="menuPanelList">
            <li class="menuPanelItem"><a href="https://jakarta.bisnis.com" class="menuPanelLink">Jakarta</a></li>
            <li class="menuPanelItem"><a href="https://sumatra.bisnis.com" class="menuPanelLink">Sumatra</a></li>
            <li class="menuPanelItem"><a href="https://bandung.bisnis.com" class="menuPanelLink">Bandung</a></li>
            <li class="menuPanelItem"><a href="https://surabaya.bisnis.com" class="menuPanelLink">Surabaya</a></li>
            <li class="menuPanelItem"><a href="https://banten.bisnis.com" class="menuPanelLink">Banten</a></li>
            <li class="menuPanelItem"><a href="https://kalimantan.bisnis.com" class="menuPanelLink">Kalimantan</a></li>
            <li class="menuPanelItem"><a href="https://semarang.bisnis.com" class="menuPanelLink">Semarang</a></li>
            <li class="menuPanelItem"><a href="https://sulawesi.bisnis.com" class="menuPanelLink">Sulawesi</a></li>
            <li class="menuPanelItem"><a href="https://bali.bisnis.com" class="menuPanelLink">Bali</a></li>
            <li class="menuPanelItem"><a href="https://papua.bisnis.com" class="menuPanelLink">Papua</a></li>
        </ul>
    </div>
    <div class="menuPanelWrap">
        <div class="menuPanelLabel">
            <small>Available on:</small>
        </div>
        <div class="menuPanelApp center-flex">
            <a href="https://play.google.com/store/apps/details?id=bisnis.com.official" class=""
                title="Android app on Google Play">
                <img src="./asset/images/logo/m-google-play.svg" class="" alt="" width="160" height="38" loading="lazy">
            </a>
            <a href="https://itunes.apple.com/id/app/bisnis-com/id945608365?mt=8" class=""
                title="Download on the App Store">
                <img src="./asset/images/logo/m-app-store.svg" class="" alt="" width="160" height="38" loading="lazy">
            </a>
        </div>
    </div>
</div>