<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Kontemporer</title>
    <meta name="description" content="Kontemporer">
    <meta name="keywords" content="">

    <meta property="og:type" content="article" />
    <!-- s: fb meta -->
    <meta property="og:url" content="" />
    <meta property="og:title" content="Kontemporer" />
    <meta property="og:description" content="Kontemporer" />

    <meta property="og:image" content="" />
    <meta property="fb:admins" content="1386097730" />
    <meta property="fb:app_id" content="161133340609176" />
    <!-- s:twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="Kontemporer" />
    <meta name="twitter:description" content="Kontemporer" />
    <meta name="twitter:image" content="" />
    <!-- e:twitter card -->    
    <link rel="icon" href="./asset/images/favicon.ico" type="image/x-icon">

    <link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">

    <style>
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Montserrat'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-display: swap;
            src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-display: swap;
            src: local('Montserrat Semi-bold'), local('Montserrat-Semi-bold'), url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="asset/css/style-profile.min.css">
    <link rel="preload" href="asset/images/logo-tabloid-bintang.png" as="image" />
</head>
<body>
    <!-- header -->
    <header class="header headerFixed">
        <div class="headerContent display-flex aitems-center">
            <div class="menu">
                <label class="sr-only" for="menuToggle">Open navigation</label>
                <input type="checkbox" class="menuToggle" name="check" id="menuToggle" aria-haspopup="true">
                <svg class="ham hamRotate" viewBox="0 0 100 100" width="80">
                    <path class="line top hamLine" d="m 70,33 h -40 c 0,0 -6,1.368796 -6,8.5 0,7.131204 6,8.5013 6,8.5013 l 20,-0.0013" />
                    <path class="line middle hamLine" d="m 70,50 h -40" />
                    <path class="line bottom hamLine"
                        d="m 69.575405,67.073826 h -40 c -5.592752,0 -6.873604,-9.348582 1.371031,-9.348582 8.244634,0 19.053564,21.797129 19.053564,12.274756 l 0,-40" />
                </svg>            <div class="menuList">
                    <div class="menuProfile">
                        <a href="profile-detail.html" class="menuProfile__item menuProfile__user">
                            <img loading="lazy" src="asset/images/sample/user.jpg" width="24" height="24" alt=""
                                class="userAvatar mr10">
                            <div class="menuProfile__name">Shopie Anggita</div>
                        </a>
                        <a href="profile.html" class="menuProfile__item">
                            <span class="icon icon-home menuProfile__icon mr10"></span>
                            Beranda
                        </a>
                        <a href="profile-setting.html" class="menuProfile__item">
                            <span class="icon icon-user icon-user-grey menuProfile__icon mr10"></span>
                            Profil
                        </a>
                        <a href="#" class="menuProfile__item red">
                            <span class="icon icon-logout menuProfile__icon mr10"></span>
                            Keluar
                        </a>
                    </div>
                    <ul>
                        <li class="menuItem"><a href="#"
                                class="menuLink">News</a></li>
                        <li class="menuItem"><a href="#"
                                class="menuLink">Focus</a></li>
                        <li class="menuItem"><a href="#"
                                class="menuLink">People</a></li>
                        <li class="menuItem"><a href="channels.html"
                                class="menuLink">Voices</a></li>
                        <li class="menuItem"><a href="#"
                                class="menuLink">+Vibes</a></li>
                        <li class="menuItem"><a href="#"
                                class="menuLink">Books</a></li>
                    </ul>
                </div>        </div>
            <div class="headerLogo text-center">
                <a href="index.html">
                    <img src="asset/images/kontemporer-logo.png" alt="Kontemporer" width="190" height="36">
                </a>
            </div>
            <a href="search.html" class="buttonSearch" aria-label="Search"><span class="icon icon-search"></span></a>
        </div>
        <nav class="nav">
            <ul class="navList display-flex">
                <li class="navItem">
                    <a href="#" class="navLink">News</a>
                </li>
                <li class="navItem">
                    <a href="#" class="navLink">Focus</a>
                </li>
                <li class="navItem">
                    <a href="#" class="navLink">People</a>
                </li>
                <li class="navItem">
                    <a href="channels.html" class="navLink">Voices</a>
                </li>
                <li class="navItem">
                    <a href="#" class="navLink">+Vibes</a>
                </li>
                <li class="navItem">
                    <a href="#" class="navLink">Books</a>
                </li>
            </ul>
        </nav>
        <nav class="nav profileNav">
            <ul class="profileNav__list display-flex jcontent-center">
                <li class="navItem">
                    <a href="profile.html" class="profileNav__link">Beranda</a>
                </li>
                <li class="navItem">
                    <a href="profile-setting.html" class="profileNav__link">Ubah Profil</a>
                </li>
                <li class="navItem">
                    <a href="profile-write.html" class="profileNav__link">Tulis Artikel</a>
                </li>
                <li class="navItem">
                    <a href="profile-published.html" class="profileNav__link active">Sudah Terbit</a>
                </li>
                <li class="navItem">
                    <a href="profile-pending.html" class="profileNav__link">Pending</a>
                </li>
                <li class="navItem">
                    <a href="profile-rejected.html" class="profileNav__link">Ditolak</a>
                </li>
                <li class="navItem">
                    <a href="profile-draft.html" class="profileNav__link">Draft</a>
                </li>
                <li class="navItem">
                    <a href="profile-detail.html" class="profileNav__link">Lihat Profil</a>
                </li>
            </ul>
        </nav>
    </header>    <!-- header -->
    <!-- main -->
    <main role="main" class="main">
        <section class="profile container">
            <div class="articleCaption mt30">Sudah Terbit</div>
            <ul class="articleList mt20">
                <li class="articleItem profileItem">
                    <a href="read.html" class="profileItem__link">
                        <h2 class="articleTitle">6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman</h2>
                        <div class="articleDetail profileDetail display-flex aitems-center mt10">
                            <div class="articleTime mr10">18 Mei 2025</div>
                            <div class="articleSeen"><span class="icon icon-eye"></span>1234</div>
                        </div>
                    </a>
                </li>
                <li class="articleItem profileItem">
                    <a href="read.html" class="profileItem__link">
                        <h2 class="articleTitle">Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar</h2>
                        <div class="articleDetail profileDetail display-flex aitems-center mt10">
                            <div class="articleTime mr10">18 Mei 2025</div>
                            <div class="articleSeen"><span class="icon icon-eye"></span>1234</div>
                        </div>
                    </a>
                </li>
                <li class="articleItem profileItem">
                    <a href="read.html" class="profileItem__link">
                        <h2 class="articleTitle">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h2>
                        <div class="articleDetail profileDetail display-flex aitems-center mt10">
                            <div class="articleTime mr10">18 Mei 2025</div>
                            <div class="articleSeen"><span class="icon icon-eye"></span>1234</div>
                        </div>
                    </a>
                </li>
                <li class="articleItem profileItem">
                    <a href="read.html" class="profileItem__link">
                        <h2 class="articleTitle">Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!</h2>
                        <div class="articleDetail profileDetail display-flex aitems-center mt10">
                            <div class="articleTime mr10">18 Mei 2025</div>
                            <div class="articleSeen"><span class="icon icon-eye"></span>1234</div>
                        </div>
                    </a>
                </li>
                <li class="articleItem profileItem">
                    <a href="read.html" class="profileItem__link">
                        <h2 class="articleTitle">Delishburger yang Benar-Benar Delicious</h2>
                        <div class="articleDetail profileDetail display-flex aitems-center mt10">
                            <div class="articleTime mr10">18 Mei 2025</div>
                            <div class="articleSeen"><span class="icon icon-eye"></span>1234</div>
                        </div>
                    </a>
                </li>
                <li class="articleItem profileItem">
                    <a href="read.html" class="profileItem__link">
                        <h2 class="articleTitle">6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman</h2>
                        <div class="articleDetail profileDetail display-flex aitems-center mt10">
                            <div class="articleTime mr10">18 Mei 2025</div>
                            <div class="articleSeen"><span class="icon icon-eye"></span>1234</div>
                        </div>
                    </a>
                </li>
                <li class="articleItem profileItem">
                    <a href="read.html" class="profileItem__link">
                        <h2 class="articleTitle">Simak, Bun! Ini 4 Ciri Bunda sedang Hamil Anak Kembar</h2>
                        <div class="articleDetail profileDetail display-flex aitems-center mt10">
                            <div class="articleTime mr10">18 Mei 2025</div>
                            <div class="articleSeen"><span class="icon icon-eye"></span>1234</div>
                        </div>
                    </a>
                </li>
                <li class="articleItem profileItem">
                    <a href="read.html" class="profileItem__link">
                        <h2 class="articleTitle">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h2>
                        <div class="articleDetail profileDetail display-flex aitems-center mt10">
                            <div class="articleTime mr10">18 Mei 2025</div>
                            <div class="articleSeen"><span class="icon icon-eye"></span>1234</div>
                        </div>
                    </a>
                </li>
                <li class="articleItem profileItem">
                    <a href="read.html" class="profileItem__link">
                        <h2 class="articleTitle">Ayat Alquran Tentang Keharmonisan Rumah Tangga, Yuk Amalkan!</h2>
                        <div class="articleDetail profileDetail display-flex aitems-center mt10">
                            <div class="articleTime mr10">18 Mei 2025</div>
                            <div class="articleSeen"><span class="icon icon-eye"></span>1234</div>
                        </div>
                    </a>
                </li>
                <li class="articleItem profileItem">
                    <a href="read.html" class="profileItem__link">
                        <h2 class="articleTitle">Delishburger yang Benar-Benar Delicious</h2>
                        <div class="articleDetail profileDetail display-flex aitems-center mt10">
                            <div class="articleTime mr10">18 Mei 2025</div>
                            <div class="articleSeen"><span class="icon icon-eye"></span>1234</div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="paging display-flex jcontent-center mt30">
                <div class="pagingItem">
                    <a href="#" class="pagingLink pagingLink__prev inactive" aria-label="First Paging"><span
                            class="icon icon-angle-double"></span></a>
                </div>
                <div class="pagingItem">
                    <a href="#" class="pagingLink pagingLink__prev inactive" aria-label="Prev Paging"><span class="icon icon-angle"></span></a>
                </div>
                <div class="pagingItem">
                    <a href="#" class="pagingLink active">1</a>
                </div>
                <div class="pagingItem">
                    <a href="#" class="pagingLink">2</a>
                </div>
                <div class="pagingItem">
                    <a href="#" class="pagingLink">3</a>
                </div>
                <div class="pagingItem">
                    <a href="#" class="pagingLink" aria-label="Next Paging"><span class="icon icon-angle"></span></a>
                </div>
                <div class="pagingItem">
                    <a href="#" class="pagingLink" aria-label="Last Paging"><span class="icon icon-angle-double"></span></a>
                </div>
            </div>        </section>
    </main>

    <!-- footer -->
    <footer>
        <div class="footer text-center">
            <button class="button buttonTotop" aria-label="Back to top" onclick="backToTop()"><span
                    class="icon icon-next"></span></button>
            <a href="index.html">
                <img src="asset/images/kontemporer-logo.png" class="footerLogo" alt="Kontemporer" width="190" height="36"
                    loading="lazy">
                <div class="footerTxt mt5">Kontemporer is an independent media platform <br> that amplifies impactful stories,
                    people,
                    and ideas</div>
            </a>
            <ul class="footerList display-flex jcontent-center mt20">
                <li class="footerItem">
                    <a href="about-us.html" class="footerLink">About Us</a>
                </li>
                <li class="footerItem">
                    <a href="#" class="footerLink">FAQ</a>
                </li>
                <li class="footerItem">
                    <a href="#" class="footerLink">Contact Us</a>
                </li>
                <li class="footerItem">
                    <a href="cyber.html" class="footerLink">Pedoman Media Cyber</a>
                </li>
                <li class="footerItem">
                    <a href="#" class="footerLink">Policy</a>
                </li>
                <li class="footerItem">
                    <a href="#" class="footerLink">Community Guideline</a>
                </li>
            </ul>
            <ul class="footerList display-flex jcontent-center aitems-center mt20">
                <li class="footerItem footerItem--small footerSocial">
                    Find us :
                </li>
                <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Facebook"><span class="icon icon-fb"></span></a></li>
                <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Instagram"><span class="icon icon-ig"></span></a></li>
                <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Twitter"><span class="icon icon-tw"></span></a></li>
                <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Youtube"><span class="icon icon-yt"></span></a></li>
                <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Tiktok"><span class="icon icon-tiktok"></span></a></li>
                <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                        rel="noopener noreferrer" aria-label="Linkedin"><span class="icon icon-ln"></span></a></li>
            </ul>
            <div class="footerBottom mt20">
                © 2025 PT Kontemporer Media. All rights reserved.
            </div>
        </div>
    </footer>
    <script src="asset/js/jquery-3.5.0.min.js"></script>
    <script defer type="text/javascript" src="asset/js/profile.js"></script>
    <script defer type="text/javascript" src="asset/js/global.js"></script>
</body>

</html>