<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Kontemporer</title>
    <meta name="description" content="Kontemporer">
    <meta name="keywords" content="">

    <meta property="og:type" content="article" />
    <!-- s: fb meta -->
    <meta property="og:url" content="" />
    <meta property="og:title" content="Kontemporer" />
    <meta property="og:description" content="Kontemporer" />

    <meta property="og:image" content="" />
    <meta property="fb:admins" content="1386097730" />
    <meta property="fb:app_id" content="161133340609176" />
    <!-- s:twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="Kontemporer" />
    <meta name="twitter:description" content="Kontemporer" />
    <meta name="twitter:image" content="" />
    <!-- e:twitter card -->
    <link rel="icon" href="./asset/images/favicon.ico" type="image/x-icon">

    <link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">

    <style>
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Montserrat'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-display: swap;
            src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-display: swap;
            src: local('Montserrat Semi-bold'), local('Montserrat-Semi-bold'), url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
    </style>
    <style>
        @font-face {
            font-family: 'PT Serif';
            font-style: italic;
            font-weight: 400;
            font-display: swap;
            src: local('PT Serif Italic'), local('PT Serif Regular Italic'), url(https://fonts.gstatic.com/s/ptserif/v18/EJRTQgYoZZY2vCFuvAFT_r21cgT9rcs.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-family: 'PT Serif';
            font-style: italic;
            font-weight: 700;
            font-display: swap;
            src: local('PT Serif Bold Italic'), local('PT Serif Bold-Italic'), url(https://fonts.gstatic.com/s/ptserif/v18/EJRQQgYoZZY2vCFuvAFT9gaQZynfoOFC-I0.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-family: 'PT Serif';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('PT Serif'), url(https://fonts.gstatic.com/s/ptserif/v18/EJRVQgYoZZY2vCFuvAFWzr-_dSb_.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-family: 'PT Serif';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: local('PT Serif'), local('PT Serif Bold'), url(https://fonts.gstatic.com/s/ptserif/v18/EJRSQgYoZZY2vCFuvAnt66qSVyvVp8NA.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="asset/css/style-read.min.css">
    <link rel="preload" href="asset/images/kontemporer-logo.png" as="image" />
</head>
<body>
    <!-- header -->
    <header class="header headerFixed">
        <div class="headerContent display-flex aitems-center">
            <div class="menu">
                <label class="sr-only" for="menuToggle">Open navigation</label>
                <input type="checkbox" class="menuToggle" name="check" id="menuToggle" aria-haspopup="true">
                <svg class="ham hamRotate" viewBox="0 0 100 100" width="80">
                    <path class="line top hamLine" d="m 70,33 h -40 c 0,0 -6,1.368796 -6,8.5 0,7.131204 6,8.5013 6,8.5013 l 20,-0.0013" />
                    <path class="line middle hamLine" d="m 70,50 h -40" />
                    <path class="line bottom hamLine"
                        d="m 69.575405,67.073826 h -40 c -5.592752,0 -6.873604,-9.348582 1.371031,-9.348582 8.244634,0 19.053564,21.797129 19.053564,12.274756 l 0,-40" />
                </svg>            <div class="menuList">
                    <div class="menuProfile">
                        <button class="menuProfile__item button buttonPrimary" onclick="triggerActive('.-pLogin')"><span
                                class="icon icon-reg mr10"></span>Sign in</button>
                    </div>
                    <ul>
                        <li class="menuItem"><a href="#"
                                class="menuLink">News</a></li>
                        <li class="menuItem"><a href="#"
                                class="menuLink">Focus</a></li>
                        <li class="menuItem"><a href="#"
                                class="menuLink">People</a></li>
                        <li class="menuItem"><a href="channels.html"
                                class="menuLink">Voices</a></li>
                        <li class="menuItem"><a href="channels-video.html"
                                class="menuLink">+Vibes</a></li>
                        <li class="menuItem"><a href="#"
                                class="menuLink">Books</a></li>
                        <hr>
                        <li class="menuItem">
                            <a href="about.html" class="menuLink">About us</a>
                        </li>
                        <li class="menuItem">
                            <a href="#" class="menuLink">FAQ</a>
                        </li>
                        <li class="menuItem">
                            <a href="#" class="menuLink">Contact us</a>
                        </li>
                        <li class="menuItem">
                            <a href="#" class="menuLink">Pedoman media cyber</a>
                        </li>
                        <li class="menuItem">
                            <a href="#" class="menuLink">Policy</a>
                        </li>
                        <li class="menuItem">
                            <a href="#" class="menuLink">Community guideline</a>
                        </li>
                        <li class="menuItem">
                            <ul class="footerList display-flex jcontent-center aitems-center">
                                <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                                        rel="noopener noreferrer" aria-label="Facebook"><span class="icon icon-fb"></span></a></li>
                                <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                                        rel="noopener noreferrer" aria-label="Instagram"><span class="icon icon-ig"></span></a></li>
                                <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                                        rel="noopener noreferrer" aria-label="Twitter"><span class="icon icon-tw"></span></a></li>
                                <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                                        rel="noopener noreferrer" aria-label="Youtube"><span class="icon icon-yt"></span></a></li>
                                <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                                        rel="noopener noreferrer" aria-label="Tiktok"><span class="icon icon-tiktok"></span></a></li>
                                <li class="footerSocial socialIcon mt10"><a href="#" class="socialLink display-flex" target="_blank"
                                        rel="noopener noreferrer" aria-label="Linkedin"><span class="icon icon-ln"></span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>        </div>
            <div class="headerLogo text-center">
                <a href="index.html">
                    <img src="asset/images/kontemporer-logo.png" alt="Kontemporer" width="190" height="36">
                </a>
            </div>
            <a href="search.html" class="buttonSearch" aria-label="Search"><span class="icon icon-search"></span></a>
        </div>
        <nav class="nav">
            <ul class="navList display-flex">
                <li class="navItem">
                    <a href="#" class="navLink">News</a>
                </li>
                <li class="navItem">
                    <a href="#" class="navLink">Focus</a>
                </li>
                <li class="navItem">
                    <a href="#" class="navLink">People</a>
                </li>
                <li class="navItem">
                    <a href="channels.html" class="navLink">Voices</a>
                </li>
                <li class="navItem">
                    <a href="channels-video.html" class="navLink">+Vibes</a>
                </li>
                <li class="navItem">
                    <a href="#" class="navLink">Books</a>
                </li>
            </ul>
        </nav>
    </header>    <!-- header -->
    <ul class="breadcrumb display-flex">
        <li class="breadcrumbItem"><a href="#" class="breadcrumbLink">Home</a></li>
        <li class="breadcrumbItem"><a href="#" class="breadcrumbLink active">Video</a></li>
    </ul>
    <!-- main -->
    <main role="main" class="main">
        <section class="container">
            <article>
                <h1 class="readTitle text-center mt20">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo
                </h1>
                <div class="readWriter text-center mt20"><b><a href="#">Alphonse Elric</a></b> | 11 September 2021 |
                    12.23
                    WIB</div>
                <ul class="share flex-center">
                    <li class="shareIcon"><a href="#" class="shareLink flex-center" target="_blank" rel="noopener noreferrer"
                            aria-label="Whatsapp"><span class="icon icon-wa"></span></a></li>
                    <li class="shareIcon"><a href="#" class="shareLink flex-center" target="_blank" rel="noopener noreferrer"
                            aria-label="Facebook"><span class="icon icon-fb"></span></a></li>
                    <li class="shareIcon"><a href="#" class="shareLink flex-center" target="_blank" rel="noopener noreferrer"
                            aria-label="Linkedin"><span class="icon icon-ln"></span></a></li>
                    <li class="shareIcon"><a href="#" class="shareLink flex-center" target="_blank" rel="noopener noreferrer"
                            aria-label="Twitter X"><span class="icon icon-tw"></span></a></li>
                    <li class="shareIcon"><a href="#" class="shareLink flex-center" target="_blank" rel="noopener noreferrer"
                            aria-label="Telegram"><span class="icon icon-tg"></span></a></li>
                </ul>                <div class="readImg__wrap flex-center mt20">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ihh88tcuong"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    <!--
                    <div class="videoPlay">
                        <video controls width="560" height="315" poster="asset/images/sample/event.jpg">
                            <source src="asset/images/sample/video.mp4" type="video/mp4">
                        </video>
                        <span class="icon icon-play"></span>
                    </div>
                    -->
                    <div class="readImg__thumb text-center mt10">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Sit et
                        amet, parturient sed sodales. Ut est sed quis et adipiscing tristique. Maecenas vitae
                        nulla tellus nisl volutpat. </div>
                </div>
                <div class="readContent mt20">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras id
                        eu libero. Sit turpis massa, non suscipit in bibendum nec volutpat viverra. Facilisi
                        faucibus facilisi pharetra pellentesque tristique. Lorem nullam placerat venenatis id
                        pretium magna viverra cursus placerat. Nullam pulvinar nulla id nisl id at hendrerit
                        massa.</p>
                    <p>
                        In ullamcorper quis justo, commodo tincidunt.
                        <a href="#">Nunc tellus sed neque lorem donec</a> sem. Gravida ac sit tempor diam. Morbi
                        sapien
                        hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                        nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                        dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                        Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                        porttitor amet morbi.
                    </p>
                    <div class="ads adsWrap mt30">
                        <div class="adsTop adsCenter adsPlaceholder">
                            
                        </div>
                    </div>                    <p>
                        In ullamcorper quis justo, commodo tincidunt.
                        Nunc tellus sed neque lorem donec sem. Gravida ac sit tempor diam. Morbi sapien
                        hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                        nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                        dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                        Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                        porttitor amet morbi.
                    </p>

                    <div class="readWriter__wrap mt20">
                        <table>
                            <tr class="readWriter--big">
                                <td>Penulis</td>
                                <td>:</td>
                                <td>Nurulloh</td>
                            </tr>
                            <tr class="readWriter--big">
                                <td>Editor</td>
                                <td>:</td>
                                <td>Editor Kontemporer</td>
                            </tr>
                        </table>
                    </div>
                    <div class="readCaption mt30">Simak Video Pilihan Di Bawah Ini :</div>
                    <div class="readContent__vid mt10">
                        <iframe width="340" height="239" src="https://www.youtube.com/embed/JjAtkmSd46g?controls=0"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </article>
            <div class="readTag mt20">
                Tags :
                <ul class="readTag__list display-flex">
                    <li><a href="#" class="readTag__link">#Relationship</a></li>
                    <li><a href="#" class="readTag__link">#Zodiak</a></li>
                    <li><a href="#" class="readTag__link">#Love</a></li>
                    <li><a href="#" class="readTag__link">#Tips</a></li>
                </ul>
            </div>
            <div class="col-offset-fluid">
                <div class="readWrap">
                    <div class="col-onset-fluid mt30">
                        <ul class="share display-flex aitems-center">
                            <li>Share :</li>
                            <li class="shareIcon"><a href="#" class="shareLink flex-center" target="_blank" rel="noopener noreferrer"
                                    aria-label="Whatsapp"><span class="icon icon-wa"></span></a></li>
                            <li class="shareIcon"><a href="#" class="shareLink flex-center" target="_blank" rel="noopener noreferrer"
                                    aria-label="Facebook"><span class="icon icon-fb"></span></a></li>
                            <li class="shareIcon"><a href="#" class="shareLink flex-center" target="_blank" rel="noopener noreferrer"
                                    aria-label="Instagram"><span class="icon icon-ig"></span></a></li>
                            <li class="shareIcon"><a href="#" class="shareLink flex-center" target="_blank" rel="noopener noreferrer"
                                    aria-label="Twitter"><span class="icon icon-tw"></span></a></li>
                            <li class="shareIcon"><a href="#" class="shareLink flex-center" target="_blank" rel="noopener noreferrer"
                                    aria-label="Youtube"><span class="icon icon-yt"></span></a></li>
                        </ul>                        <div class="commentCount mt30">
                            0 Komentar
                        </div>
                    </div>
                </div>
                <div class="readWrap">
                    <div class="col-onset-fluid mt20">
                        <div class="readCaption--big">Apa Reaksimu?</div>
                        <div class="react flex-center mt40">
                            <button class="button reactBtn mt10" aria-label="Suka">
                                <div class="reactIcon"><img src="asset/images/icon-suka.png" alt="" width="84" height="84" loading="lazy"></div>
                                <div class="reactText mt10">Suka</div>
                                <div class="reactCount">78%</div>
                            </button>
                            <button class="button reactBtn mt10" aria-label="Lucu">
                                <div class="reactIcon"><img src="asset/images/icon-lucu.png" alt="" width="84" height="84" loading="lazy"></div>
                                <div class="reactText mt10">Lucu</div>
                                <div class="reactCount">35%</div>
                            </button>
                            <button class="button reactBtn mt10" aria-label="Keren">
                                <div class="reactIcon"><img src="asset/images/icon-keren.png" alt="" width="84" height="84" loading="lazy"></div>
                                <div class="reactText mt10">Keren</div>
                                <div class="reactCount">35%</div>
                            </button>
                            <button class="button reactBtn mt10" aria-label="Sedih">
                                <div class="reactIcon"><img src="asset/images/icon-sedih.png" alt="" width="84" height="84" loading="lazy"></div>
                                <div class="reactText mt10">Sedih</div>
                                <div class="reactCount">35%</div>
                            </button>
                            <button class="button reactBtn mt10" aria-label="Senang">
                                <div class="reactIcon"><img src="asset/images/icon-senang.png" alt="" width="84" height="84" loading="lazy"></div>
                                <div class="reactText mt10">Senang</div>
                                <div class="reactCount">35%</div>
                            </button>
                            <button class="button reactBtn mt10" aria-label="Marah">
                                <div class="reactIcon"><img src="asset/images/icon-marah.png" alt="" width="84" height="84" loading="lazy"></div>
                                <div class="reactText mt10">Marah</div>
                                <div class="reactCount">35%</div>
                            </button>
                        </div>                    </div>
                </div>
                <div class="col-onset-fluid mt20">
                    <div class="readCaption--big">Tambahkan Komentar</div>
                    <div class="commentCaption mt10">Silakan <a href="login.html" class="pink">Login</a> untuk menambahkan komentar.</div>
                </div>
            </div>
            <div class="readCaption--big mt30">Berita Terkait</div>
            <!-- article -->
            <div class="article">
                <ul class="articleList">
                </ul>
            </div>
            <!-- article -->            <button class="button buttonMore mt30">Indeks</button>
        </section>
    </main>
    <!-- s: popup report -->
    <div class="popup popup--hidden flex-center -pReport">
        <div class="popupWrap reportPopup">
            <div class="popupTitle">
                Laporkan Komentar
            </div>
            <div class="popupContent">
                <form action="">
                    <div class="reportSelect display-flex aitems-center mt20 mb20">
                        <input type="radio" id="report1" class="formRadio" name="report">
                        <label class="reportSelect__label ml10" for="report1">Iklan atau spam</label>
                    </div>
                    <div class="reportSelect display-flex aitems-center mt20 mb20">
                        <input type="radio" id="report2" class="formRadio" name="report">
                        <label class="reportSelect__label ml10" for="report2">Porno atau asusila</label>
                    </div>
                    <div class="reportSelect display-flex aitems-center mt20 mb20">
                        <input type="radio" id="report3" class="formRadio" name="report">
                        <label class="reportSelect__label ml10" for="report3">Ujaran kebencian atau SARA</label>
                    </div>
                    <div class="reportSelect display-flex aitems-center mt20 mb20">
                        <input type="radio" id="report4" class="formRadio" name="report">
                        <label class="reportSelect__label ml10" for="report4">Perundungan atau pelecehan</label>
                    </div>
                    <div class="reportSelect display-flex aitems-center mt20 mb20">
                        <input type="radio" id="report5" class="formRadio" name="report">
                        <label class="reportSelect__label ml10" for="report5">Lainnya</label>
                    </div>
                    <div class="display-flex jcontent-end">
                        <button class="button reportBtn reportBtn__cancel" type="button" data-modal-button="dismiss">
                            Batal
                        </button>
                        <button class="button reportBtn reportBtn__submit" type="submit" name="submit">
                            Laporkan
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>    <!-- e: popup report -->
    <div class="ads adsWrap adsSticky__wrap adsPlaceholder">
        <div class="adsClose -closeads" role="button">×</div>
        <div class="adsSticky adsCenter">
            <img src="asset/images/ads/sticky.jpg" alt="" width="360" height="50" loading="lazy">
        </div>
    </div>    <!-- footer -->
    <footer>
        <div class="footer text-center">
            <button class="button buttonTotop" aria-label="Back to top" onclick="backToTop()"><span
                    class="icon icon-next"></span></button>
            <a href="index.html">
                <img src="asset/images/kontemporer-logo.png" class="footerLogo" alt="Kontemporer" width="190" height="36"
                    loading="lazy">
                <div class="footerTxt mt5">Kontemporer is an independent media platform <br> that amplifies impactful
                    stories,
                    people,
                    and ideas</div>
            </a>
            <ul class="footerList display-flex jcontent-center mt20">
                <li class="footerItem">
                    <a href="about.html" class="footerLink">About us</a>
                </li>
                <li class="footerItem">
                    <a href="#" class="footerLink">FAQ</a>
                </li>
                <li class="footerItem">
                    <a href="#" class="footerLink">Contact us</a>
                </li>
                <li class="footerItem">
                    <a href="#" class="footerLink">Pedoman media cyber</a>
                </li>
                <li class="footerItem">
                    <a href="#" class="footerLink">Policy</a>
                </li>
                <li class="footerItem">
                    <a href="#" class="footerLink">Community guideline</a>
                </li>
            </ul>
            <ul class="footerList display-flex jcontent-center aitems-center mt20">
                <li class="footerItem footerItem--small footerSocial">
                    Find us :
                </li>
                <li class="footerSocial socialIcon"><a href="#" class="socialLink flex-center" target="_blank"
                        rel="noopener noreferrer" aria-label="Facebook"><span class="icon icon-fb"></span></a></li>
                <li class="footerSocial socialIcon"><a href="#" class="socialLink flex-center" target="_blank"
                        rel="noopener noreferrer" aria-label="Instagram"><span class="icon icon-ig"></span></a></li>
                <li class="footerSocial socialIcon"><a href="#" class="socialLink flex-center" target="_blank"
                        rel="noopener noreferrer" aria-label="Twitter"><span class="icon icon-tw"></span></a></li>
                <li class="footerSocial socialIcon"><a href="#" class="socialLink flex-center" target="_blank"
                        rel="noopener noreferrer" aria-label="Youtube"><span class="icon icon-yt"></span></a></li>
                <li class="footerSocial socialIcon"><a href="#" class="socialLink flex-center" target="_blank"
                        rel="noopener noreferrer" aria-label="Tiktok"><span class="icon icon-tiktok"></span></a></li>
                <li class="footerSocial socialIcon"><a href="#" class="socialLink flex-center" target="_blank"
                        rel="noopener noreferrer" aria-label="Linkedin"><span class="icon icon-ln"></span></a></li>
            </ul>
            <div class="footerBottom mt20">
                © 2025 PT Kontemporer Media. All rights reserved.
            </div>
        </div>
    </footer>
    <script src="asset/js/jquery-3.5.0.min.js"></script>
    <script defer type="text/javascript" src="asset/js/read.min.js"></script>
    <script defer type="text/javascript" src="asset/js/global.min.js"></script>
</body>

</html>