<div class="trending mt30">
    <div class="articleCaption">Top Stories</div>
    <ul class="trendingList">
        {{#eachIndex trending}}
        {{#gt index compare = '0'}}
        <li class="trendingItem">
            <a href="#" class="trendingLink">
                <div class="trendingBox">
                    <h3 class="articleTitle trendingTitle">{{item.title}}</h3>
                    <div class="display-flex aitems-center mt5">
                        <img loading="lazy" src="{{item.user}}" width="24" height="24" alt="" class="userAvatar mr10">
                        <div class="userName">
                            Nurulloh
                        </div>
                    </div>
                </div>
            </a>
        </li>
        {{/gt}}
        {{/eachIndex}}
    </ul>
    <div class="display-flex aitems-center jcontent-end">
        <a href="#" class="buttonMore">+ More</a>
    </div>
</div>