.intro {
    &Content {
        margin-left: 70px;
    }

    &Logo {
        max-width: 250px;
        margin-bottom: 40px;
    }

    &Cover {
        max-width: 530px;
        margin: auto;
        flex-direction: column;
    }

    &Closing {
        &__img {
            position: absolute;
            left: 0;
            bottom: 0;
        }

        &__content {
            margin-left: 300px;
        }
    }
}