.intro {
    &Wrap {
        flex-direction: column;

        @include min-responsive($mxtablet) {
            flex-direction: row;
        }

        .buttonPrimary {
            margin-left: auto;
            margin-right: auto;
            display: flex;

            @include min-responsive($mntablet) {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    &Content {
        @include min-responsive($mxtablet) {
            margin-left: 70px;
        }
    }

    &Logo {
        max-width: 250px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        display: flex;

        @include min-responsive($mntablet) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &Img {
        order: 1;

        @include range-responsive($mntablet, $mdtablet) {
            max-width: 380px;
        }

        @include min-responsive($mxtablet) {
            order: 0;
        }
    }

    &Cover {
        max-width: 530px;
        margin: auto;
        flex-direction: column;
    }

    &Closing {
        @include min-responsive($mxtablet) {
            width: 100%;
            min-height: 100vh;
        }

        &__wrap {
            display: flex;
            flex-direction: column;

            @include min-responsive($mxtablet) {
                width: 100%;
                min-height: 100vh;
            }
        }

        &__img {
            position: relative;
            left: 0;
            bottom: 0;
            max-width: 100%;
            order: 1;

            @include range-responsive($mntablet, $mdtablet) {
                max-width: 380px;
            }

            @include min-responsive($mdtablet) {
                position: absolute;
                max-width: 350px;
                order: 0;
            }

            @include min-responsive($mytablet) {
                max-width: 476px;
            }

            @include min-responsive($mztablet) {
                max-width: unset;
            }
        }

        &__content {
            margin-top: 26px;
            @include min-responsive($mxtablet) {
                max-width: 581px;
                margin-left: 300px;
            }

            .introLogo {
                display: inline-block;
            }
        }
    }
}