.title {
    @include font-pack($font_body, 21px, 700, false, $cl_pink);

    @include max-responsive($mstablet) {
        font-size: 19px;
    }

    @include min-responsive($mxtablet) {
        font-size: 24px;
    }

    &Txt {
        @include font-pack($font_body, 15px, 400, false, $cl_primary);
    }

    &Misc {
        @include font-pack($font_body, 12px, 400, false, $cl_grey);
        font-style: italic;
        align-items: center;
        justify-content: center;
        margin-top: 45px;
        margin-bottom: 20px;
        min-height: 19px;

        @include min-responsive($mxtablet) {
            justify-content: flex-start;
        }

        &__txt {
            margin-right: 10px;
        }

        &__img {
            margin-right: 10px;
        }
    }

    &Logo {
        margin-top: 20px;
        margin-bottom: 26px;
    }
}