<!-- s: banner pushdown -->
<div class="adsPushdown">
    <link rel="stylesheet" href="asset/css/style-pushdown-ads.min.css">
    <div class="adsPushdown__container">
        <div class="adsPushdown__big">
            <div class="adsPushdown__inner top">
                <!-- ad script here -->
                <img src="./asset/images/ads/320x480.jpg" alt="">
                <!--<div id='div-gpt-ad-Megabillboard'>
                    <script>
                        googletag.cmd.push(function () {
                            googletag.display('div-gpt-ad-Megabillboard');
                        });
                    </script>
                </div>-->
            </div>
        </div>
        <div class="adsPushdown__close" role="button">Tutup</div>
    </div>
    <div class="adsPushdown__swipe">Scroll untuk melanjutkan membaca</div>
    <script src="asset/js/banner-pushdown.min.js"></script>
</div>
<!-- e: banner pushdown -->