/* Bisnis Indonesia Group
March 11, 2020 */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
	//CSS
	
  }
  
  /* 
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
	
	//CSS
	
  }
  
  /* 
	##Device = Tablets, Ipads (portrait)
	##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
	
	//CSS
	
  }
  
  /* 
	##Device = Tablets, Ipads (landscape)
	##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	
	//CSS
	
  }
  
  /* 
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 320px) and (max-width: 767px) {
	
	.head-logo {
		margin-left: 15px;
	}
	.navbar-light .navbar-toggler {
		margin-right: 15px;
	}
	.run .img{
		background-image: url(../images/shape-marquee-little.svg);
	}
	.tabs .nav-tabs a.nav-item {
		width: 25%;
		color: #383838;
		font-family: "Raleway-Medium";
		font-size: 10px;
		padding: 10px 6px;
		height: 50px;
		text-align: center;
		-webkit-text-align: center;
		-moz-text-align: center;
		-o-text-align: center;
	}
	.tabs .nav-tabs a.nav-item#nav-berita-tab,
	.tabs .nav-tabs a.nav-item#nav-artikel-tab,
	.tabs .nav-tabs a.nav-item#nav-pengumuman-tab{
		padding-top: 17px;
	}
	.tabs .nav-tabs a.nav-item.active{
		padding-top: 15px !important;
	}
	.tabs .nav-tabs a.nav-item.active#nav-pengumuman-lain-tab{
		padding-top: 10px !important;
	}
	.tabs .tab-content img {
		width: 100%;
		height: 208px;
		object-fit: cover;
	}
	.desc_tabs{
		padding: 10px 15px;
	}
	.list_pdf .col-sm-3 {
		position: relative;
		padding-left: 20px;
		padding-right: 20px;
	}
	.list_pdf .col-sm-3 .icon {
		border: 1px solid #dee2e6;
		width: 100%;
		padding: 27px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.list_pdf .col-sm-9 {
		padding: 0 20px !important;
	}
	.list_pdf .col-sm-9 .desc_tabs {
		background: #666;
		padding: 12px 25px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		height: 100px;
	}
	.left_tabs .tab-content#nav-tabContent {
		height: auto;
		padding-bottom: 40px;
	}
	.col-sm-4.right_tabs{
		margin-top: 30px;
	}
	.tab-content.kurs #nav-konversi {
		padding: 30px 0 25px;
		height: auto;
	}
	.tabs .nav-tabs a.nav-item#nav-kurs-tab,
	.tabs .nav-tabs a.nav-item#nav-konversi-tab,
	.tabs .nav-tabs a.nav-item#nav-kredit-tab,
	.tabs .nav-tabs a.nav-item#nav-bunga-tab{
		padding-top: 18px;
	}
	form.form-inline .btn-outline-success img{
		margin-top: -14px;
	}
	.media iframe{
		width: 100%;
		height: auto;
		min-height: 250px;
		border-radius: 8px;
	}
	div.media {
		padding: 30px 10px;
	}
	.media .row .media_head.foto {
		padding: 0;
		margin-top: 40px;
	}
	.media .row .col-sm-6 img {
		width: 100%;
		height: auto;
		border-radius: 8px;
		margin: 0;
		object-fit: cover;
	}
	.media .row.foto{
		margin-left: -23px;
    	margin-right: -23px;
	}
	.media .row.foto .col-6{
		padding: 8px;
	}
	.client .img {
		margin: 0 auto;
		padding: 15px;
	}
	.client .img a{
		display: inline-block;
		width: 49%;
		padding: 10px;
	}
	div.client {
		height: auto;
		background-position: bottom;
	}
	.client label{
		margin: 0;
		padding-bottom: 0;
	}
	div.footer{
		margin-top: -5px;
	}
	.client .img img {
		max-width: 155px;
	}
	ul.navbar-nav li.corporate div.container,
	ul.navbar-nav li.layanan div.container{
		z-index: 1;
    	padding: 0;
	}
	ul.navbar-nav li.corporate div.dropdown-menu,
	ul.navbar-nav li.layanan div.dropdown-menu{
		width: 100%;
		height: 500px;
		overflow: scroll;
		overflow-x: hidden;
	}
	.navbar-collapse{
		padding: 15px;
	}
	ul.navbar-nav li.layanan div.dropdown-menu div.col-sm-6.dd {
		padding: 15px 30px 15px 30px;
	}
	ul.navbar-nav li.informasi div.news {
		padding: 5px 25px;
		min-height: 320px;
	}
	ul.navbar-nav li.informasi div.news img {
		width: 100%;
		max-height: 200px;
	}
	ul.navbar-nav li.informasi div.news div.description {
		max-width: unset;
	}
	.berita-content-detail p img{
		display: block !important;
		float: none !important;
		margin: 20px auto !important;
	}
	.berita-content-detail h1,
	.berita-content-detail h2,
	.berita-content-detail h3,
	.berita-content-detail p{
		text-align: center;
		-webkit-text-align: center;
		-moz-text-align: center;
		-o-text-align: center;
	}
	.berita-content-detail h1{
		margin-bottom: 10px;
	}
	.berita-content-detail p{
		margin-bottom: 0;
		overflow: auto;
	}
	.berita-content-detail p strong{
		margin: 25px auto -20px !important;
    	display: block;
	}
	.berita-content-detail h3 {
		padding: 20px 0 5px;
	}
	.berita-content-detail u{
		text-decoration: none;
		font-weight: 800;
		text-align: center;
		width: 100%;
		display: block;
		padding: 5px 0;
	}
	.berita-content-detail{
		margin-left: 0;
		margin-bottom: 25px;
	}
	.sidebar{display: none;}
	.carousel-cell {
		height: auto !important;
	}

  }
 /* New Update v.05 */