<footer>
    <div class="footer text-center">
        <button class="button buttonTotop" aria-label="Back to top" onclick="backToTop()"><span
                class="icon icon-next"></span></button>
        <a href="index.html" class="footerLogo">
            <img src="asset/images/kontemporer-logo-w.png" alt="Kontemporer" width="271" height="52" loading="lazy">
        </a>
        <div class="footerTxt mt10">Kontemporer is an independent media platform that amplifies impactful stories, people,
            and ideas</div>

        <ul class="footerList display-flex jcontent-center mt30">
            <li class="footerItem">
                <a href="about-us.html" class="footerLink">About Us</a>
            </li>
            <li class="footerItem">
                <a href="#" class="footerLink">FAQ</a>
            </li>
            <li class="footerItem">
                <a href="#" class="footerLink">Contact Us</a>
            </li>
            <li class="footerItem">
                <a href="cyber.html" class="footerLink">Pedoman Media Cyber</a>
            </li>
            <li class="footerItem">
                <a href="#" class="footerLink">Policy</a>
            </li>
            <li class="footerItem">
                <a href="#" class="footerLink">Community Guideline</a>
            </li>
        </ul>
        <ul class="footerList flex-center mt30">
            <li class="footerItem footerSocial">
                Find us :
            </li>
            <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                    rel="noopener noreferrer" aria-label="Facebook"><span class="icon icon-fb"></span></a></li>
            <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                    rel="noopener noreferrer" aria-label="Instagram"><span class="icon icon-ig"></span></a></li>
            <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                    rel="noopener noreferrer" aria-label="Twitter"><span class="icon icon-tw"></span></a></li>
            <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                    rel="noopener noreferrer" aria-label="Youtube"><span class="icon icon-yt"></span></a></li>
            <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                    rel="noopener noreferrer" aria-label="Tiktok"><span class="icon icon-tiktok"></span></a></li>
            <li class="footerSocial socialIcon"><a href="#" class="socialLink display-flex" target="_blank"
                    rel="noopener noreferrer" aria-label="Linkedin"><span class="icon icon-ln"></span></a></li>
        </ul>
        <div class="footerBottom mt40">
            © 2025 PT Kontemporer Media. All Right Reserved.
        </div>
    </div>
</footer>