<div class="headline">
    <div class="headlineList" id="sheadline">
        <a href="read.html" class="headlineItem">
            <div class="headlineBox">
                <div class="headlineSubtitle">People</div>
                <h1 class="headlineTitle">6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman</h1>
            </div>
            <div class="headlineImg">
                <img src="asset/images/sample/art-big-0.jpg" alt="" width="740" height="404" loading="lazy">
            </div>
        </a>
        <a href="read.html" class="headlineItem">
            <div class="headlineBox">
                <div class="headlineSubtitle">People</div>
                <h1 class="headlineTitle">7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta</h1>
            </div>
            <div class="headlineImg">
                <img src="asset/images/sample/art-big-1.jpg" alt="" width="740" height="404" loading="lazy">
            </div>
        </a>
        <a href="read.html" class="headlineItem">
            <div class="headlineBox">
                <div class="headlineSubtitle">Books</div>
                <h1 class="headlineTitle">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h1>
            </div>
            <div class="headlineImg">
                <img src="asset/images/sample/art-big-2.jpg" alt="" width="740" height="404" loading="lazy">
            </div>
        </a>
        <a href="read.html" class="headlineItem">
            <div class="headlineBox">
                <div class="headlineSubtitle">Focus</div>
                <h1 class="headlineTitle">Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua</h1>
            </div>
            <div class="headlineImg">
                <img src="asset/images/sample/art-big-3.jpg" alt="" width="740" height="404" loading="lazy">
            </div>
        </a>
        <a href="read.html" class="headlineItem">
            <div class="headlineBox">
                <div class="headlineSubtitle">People</div>
                <h1 class="headlineTitle">Delishburger yang Benar-Benar Delicious</h1>
            </div>
            <div class="headlineImg">
                <img src="asset/images/sample/art-big-4.jpg" alt="" width="740" height="404" loading="lazy">
            </div>
        </a>
    </div>
    <div class="headlineBottom">
        <div class="headlineDots" id="dtheadline">
        </div>
        <a href="#" class="buttonMore">+ More</a>
    </div>
</div>