<header class="header">
    <div class="headerFixed">
        <div class="container display-flex aitems-center">
            <div class="headerSearch">
                <form class="search" action="">
                    <div class="display-flex">
                        <div class="searchWrap">
                            <input class="formInput searchInput" id="search" type="text" value=""
                                placeholder="Search inspiring idea" aria-label="Search">
                            <button class="button buttonSearch" aria-label="Search" type="submit" name="submit">
                                <span class="icon icon-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="headerFixed__left display-flex">
                <a href="index.html" class="headerFixed__logo">
                    <img src="asset/images/kontemporer-logo-transparent.png" alt="Kontemporer"
                        width="200" height="38">
                </a>
                <nav class="nav fixedNav">
                    <ul class="navList display-flex jcontent-center">
                        <li class="navItem"><a href="channels.html"
                                class="navLink">News</a></li>
                        <li class="navItem"><a href="channels.html"
                                class="navLink">Focus</a></li>
                        <li class="navItem"><a href="channels.html"
                                class="navLink">People</a></li>
                        <li class="navItem"><a href="channels.html"
                                class="navLink">Voices</a></li>
                        <li class="navItem"><a href="channels-video.html"
                                class="navLink">+Vibes</a></li>
                        <li class="navItem"><a href="channels.html"
                                class="navLink">Books</a></li>
                    </ul>
                </nav>
            </div>
            <div class="display-flex aitems-center jcontent-end">
                <div class="headerDate -getdate"></div>
                <button class="button buttonPrimary" onclick="location.href='login.html'"><span
                        class="icon icon-reg mr10"></span>Sign in</button>
            </div>
        </div>
    </div>
    <div class="headerContent container">
        <div class="headerLogo headerBg text-center">
            <a href="index.html">
                <img src="asset/images/kontemporer-logo-transparent.png" alt="Kontemporer" width="391" height="74">
                <div class="headerLogo__caption">Mempertegas Wawasan</div>
            </a>
        </div>
        <nav class="nav">
            <ul class="navList display-flex jcontent-center">
                <li class="navItem"><a href="channels.html"
                        class="navLink">News</a></li>
                <li class="navItem"><a href="channels.html"
                        class="navLink">Focus</a></li>
                <li class="navItem"><a href="channels.html"
                        class="navLink">People</a></li>
                <li class="navItem"><a href="channels.html"
                        class="navLink">Voices</a></li>
                <li class="navItem"><a href="channels-video.html"
                        class="navLink">+Vibes</a></li>
                <li class="navItem"><a href="channels.html"
                        class="navLink">Books</a></li>
            </ul>
        </nav>
    </div>
</header>