<div class="highlight highlight--col3 mt40">
    <div class="display-flex aitems-center jcontent-between">
        <div class="highlightCaption">Foto</div>
        <a href="#" class="highlightMore display-flex aitems-center">Lihat Lainnya <span
                class="icon icon-next ml10"></span></a>
    </div>
    <div class="highlightList row mt10" id="sphoto">
        <div class="highlightItem">
            <a href="read-photo.html" class="highlightImg__wrap" aria-label="7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta">
                <img src="asset/images/sample/art-big-1.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
                <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                </div>
            </a>
            <div class="highlightBox">
                <h2 class="highlightTitle mt10"><a href="read-photo.html" class="highlightLink">7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta</a></h2>
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightSubtitle">Foto</div>
                    <div class="highlightTime">Minggu, 18 Mei 2025</div>
                </div>
            </div>
        </div>
        <div class="highlightItem">
            <a href="read-photo.html" class="highlightImg__wrap" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <img src="asset/images/sample/art-big-2.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
                <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                </div>
            </a>
            <div class="highlightBox">
                <h2 class="highlightTitle mt10"><a href="read-photo.html" class="highlightLink">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</a></h2>
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightSubtitle">Foto</div>
                    <div class="highlightTime">Minggu, 18 Mei 2025</div>
                </div>
            </div>
        </div>
        <div class="highlightItem">
            <a href="read-photo.html" class="highlightImg__wrap" aria-label="Frugal Living, Cara Biar Duit Gak Kebegal">
                <img src="asset/images/sample/art-big-3.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
                <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                </div>
            </a>
            <div class="highlightBox">
                <h2 class="highlightTitle mt10"><a href="read-photo.html" class="highlightLink">Frugal Living, Cara Biar Duit Gak Kebegal</a></h2>
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightSubtitle">Foto</div>
                    <div class="highlightTime">Minggu, 18 Mei 2025</div>
                </div>
            </div>
        </div>
        <div class="highlightItem">
            <a href="read-photo.html" class="highlightImg__wrap" aria-label="Delishburger yang Benar-Benar Delicious">
                <img src="asset/images/sample/art-big-4.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
                <div class="photoCount display-flex aitems-center"><span class="icon icon-photo mr10"></span>5 foto
                </div>
            </a>
            <div class="highlightBox">
                <h2 class="highlightTitle mt10"><a href="read-photo.html" class="highlightLink">Delishburger yang Benar-Benar Delicious</a></h2>
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightSubtitle">Foto</div>
                    <div class="highlightTime">Minggu, 18 Mei 2025</div>
                </div>
            </div>
        </div>
    </div>
    <div class="highlightBottom">
        <div class="highlightDots" id="dtphoto">
        </div>
    </div>
</div>