<div class="highlight highlight--col3 mt40">
    <div class="highlightCaption">+Vibes</div>
    <div class="highlightCaption--sub">Memberi makna dan inpsirasi bisa saja dengan serius maupun gelak tawa, asal
        jangan cemberut.</div>
    <div class="highlightList row">
        <div class="highlightItem col-gd12-4 mt20">
            <a href="read-video.html" class="highlightImg__wrap" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <img src="asset/images/sample/art-big-2.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
                <span class="icon icon-play"></span>
            </a>
            <div class="highlightBox">
                <h2 class="highlightTitle mt10"><a href="read-video.html" class="highlightLink">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</a></h2>
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightTime">Minggu, 18 Mei 2025</div>
                </div>
            </div>
        </div>
        <div class="highlightItem col-gd12-4 mt20">
            <a href="read-video.html" class="highlightImg__wrap" aria-label="Frugal Living, Cara Biar Duit Gak Kebegal">
                <img src="asset/images/sample/art-big-3.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
                <span class="icon icon-play"></span>
            </a>
            <div class="highlightBox">
                <h2 class="highlightTitle mt10"><a href="read-video.html" class="highlightLink">Frugal Living, Cara Biar Duit Gak Kebegal</a></h2>
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightTime">Minggu, 18 Mei 2025</div>
                </div>
            </div>
        </div>
        <div class="highlightItem col-gd12-4 mt20">
            <a href="read-video.html" class="highlightImg__wrap" aria-label="Delishburger yang Benar-Benar Delicious">
                <img src="asset/images/sample/art-big-4.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
                <span class="icon icon-play"></span>
            </a>
            <div class="highlightBox">
                <h2 class="highlightTitle mt10"><a href="read-video.html" class="highlightLink">Delishburger yang Benar-Benar Delicious</a></h2>
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightTime">Minggu, 18 Mei 2025</div>
                </div>
            </div>
        </div>
        <div class="highlightItem col-gd12-4 mt20">
            <a href="read-video.html" class="highlightImg__wrap" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <img src="asset/images/sample/art-big-2.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
                <span class="icon icon-play"></span>
            </a>
            <div class="highlightBox">
                <h2 class="highlightTitle mt10"><a href="read-video.html" class="highlightLink">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</a></h2>
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightTime">Minggu, 18 Mei 2025</div>
                </div>
            </div>
        </div>
        <div class="highlightItem col-gd12-4 mt20">
            <a href="read-video.html" class="highlightImg__wrap" aria-label="Frugal Living, Cara Biar Duit Gak Kebegal">
                <img src="asset/images/sample/art-big-3.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
                <span class="icon icon-play"></span>
            </a>
            <div class="highlightBox">
                <h2 class="highlightTitle mt10"><a href="read-video.html" class="highlightLink">Frugal Living, Cara Biar Duit Gak Kebegal</a></h2>
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightTime">Minggu, 18 Mei 2025</div>
                </div>
            </div>
        </div>
        <div class="highlightItem col-gd12-4 mt20">
            <a href="read-video.html" class="highlightImg__wrap" aria-label="Delishburger yang Benar-Benar Delicious">
                <img src="asset/images/sample/art-big-4.jpg" class="highlightImg" alt="" width="234" height="164"
                    loading="lazy">
                <span class="icon icon-play"></span>
            </a>
            <div class="highlightBox">
                <h2 class="highlightTitle mt10"><a href="read-video.html" class="highlightLink">Delishburger yang Benar-Benar Delicious</a></h2>
                <div class="highlightDetail display-flex aitems-center mt10">
                    <div class="highlightTime">Minggu, 18 Mei 2025</div>
                </div>
            </div>
        </div>
    </div>
    <div class="display-flex aitems-center jcontent-end">
        <a href="#" class="buttonMore">+ More</a>
    </div>
</div>