<div class="highlight mt40">
    <div class="display-flex aitems-center jcontent-between">
        <div class="highlightCaption">Video Terbaru</div>
    </div>
    <!-- s: video article -->
    <ul class="highlightList videoList row mt10">
        <li class="highlightItem col-gd12-4 mt40">
            <a href="read.html" aria-label="6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-0.jpg" class="highlightImg" alt="" width="336" height="255"
                        loading="lazy">
                    <span class="icon icon-play"></span>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Video</div>
                        <div class="highlightTime">Minggu, 18 Mei 2025</div>
                    </div>
                    <h2 class="highlightTitle highlightLink mt10">6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman</h2>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt40">
            <a href="read.html" aria-label="7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-1.jpg" class="highlightImg" alt="" width="336" height="255"
                        loading="lazy">
                    <span class="icon icon-play"></span>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Video</div>
                        <div class="highlightTime">Minggu, 18 Mei 2025</div>
                    </div>
                    <h2 class="highlightTitle highlightLink mt10">7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta</h2>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt40">
            <a href="read.html" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-2.jpg" class="highlightImg" alt="" width="336" height="255"
                        loading="lazy">
                    <span class="icon icon-play"></span>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Video</div>
                        <div class="highlightTime">Minggu, 18 Mei 2025</div>
                    </div>
                    <h2 class="highlightTitle highlightLink mt10">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h2>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt40">
            <a href="read.html" aria-label="Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-3.jpg" class="highlightImg" alt="" width="336" height="255"
                        loading="lazy">
                    <span class="icon icon-play"></span>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Video</div>
                        <div class="highlightTime">Minggu, 18 Mei 2025</div>
                    </div>
                    <h2 class="highlightTitle highlightLink mt10">Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua</h2>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt40">
            <a href="read.html" aria-label="Delishburger yang Benar-Benar Delicious">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-4.jpg" class="highlightImg" alt="" width="336" height="255"
                        loading="lazy">
                    <span class="icon icon-play"></span>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Video</div>
                        <div class="highlightTime">Minggu, 18 Mei 2025</div>
                    </div>
                    <h2 class="highlightTitle highlightLink mt10">Delishburger yang Benar-Benar Delicious</h2>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt40">
            <a href="read.html" aria-label="6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-0.jpg" class="highlightImg" alt="" width="336" height="255"
                        loading="lazy">
                    <span class="icon icon-play"></span>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Video</div>
                        <div class="highlightTime">Minggu, 18 Mei 2025</div>
                    </div>
                    <h2 class="highlightTitle highlightLink mt10">6 Tips Memadukan Warna Cat agar Rumah Lebih Nyaman</h2>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt40">
            <a href="read.html" aria-label="7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-1.jpg" class="highlightImg" alt="" width="336" height="255"
                        loading="lazy">
                    <span class="icon icon-play"></span>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Video</div>
                        <div class="highlightTime">Minggu, 18 Mei 2025</div>
                    </div>
                    <h2 class="highlightTitle highlightLink mt10">7 Kebodohan yang Sering Dilakukan Saat Jatuh Cinta</h2>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt40">
            <a href="read.html" aria-label="Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-2.jpg" class="highlightImg" alt="" width="336" height="255"
                        loading="lazy">
                    <span class="icon icon-play"></span>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Video</div>
                        <div class="highlightTime">Minggu, 18 Mei 2025</div>
                    </div>
                    <h2 class="highlightTitle highlightLink mt10">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo</h2>
                </div>
            </a>
        </li>
        <li class="highlightItem col-gd12-4 mt40">
            <a href="read.html" aria-label="Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua">
                <div class="highlightImg__wrap">
                    <img src="asset/images/sample/art-big-3.jpg" class="highlightImg" alt="" width="336" height="255"
                        loading="lazy">
                    <span class="icon icon-play"></span>
                </div>
                <div class="highlightBox">
                    <div class="highlightDetail display-flex aitems-center mt10">
                        <div class="highlightSubtitle">Video</div>
                        <div class="highlightTime">Minggu, 18 Mei 2025</div>
                    </div>
                    <h2 class="highlightTitle highlightLink mt10">Viral Curhat Pengantin Terpaksa Makeup Ulang karena Pakai MUA Pilihan Mertua</h2>
                </div>
            </a>
        </li>
    </ul>
    <!-- e: video article -->
</div>