<div class="menu">
    <div class="menuWrap d-flex">
        <div class="menuItem"><a class="menuLink" href="https://m.bisnis.com/market" title="Market">Market</a></div>
        <div class="menuItem"><a class="menuLink" href="https://m.bisnis.com/finansial" title="Finansial">Finansial</a>
        </div>
        <div class="menuItem"><a class="menuLink" href="https://m.bisnis.com/ekonomi-bisnis" title="Ekonomi">Ekonomi</a>
        </div>
        <div class="menuItem"><a class="menuLink" href="https://m.bisnis.com/teknologi" title="Teknologi">Teknologi</a>
        </div>
        <div class="menuItem"><a class="menuLink" href="https://m.bisnis.com/lifestyle" title="Lifestyle">Lifestyle</a>
        </div>
        <div class="menuItem"><a class="menuLink" href="https://m.bisnis.com/traveling" title="Travel">Travel</a></div>
        <div class="menuItem"><a class="menuLink" href="https://m.bisnis.com/kabar24" title="Kabar24">Kabar24</a></div>
        <div class="menuItem"><a class="menuLink" href="https://m.bisnis.com/sport" title="Sport">Sport</a></div>
        <div class="menuItem"><a class="menuLink" href="https://m.bisnis.com/bola" title="Bola">Bola</a></div>
        <div class="menuItem"><a class="menuLink" href="https://m.bisnis.com/infografik"
                title="Infografik">Infografik</a>
        </div>
        <div class="menuItem"><a class="menuLink" href="https://m.bisnis.com/otomotif" title="Otomotif">Otomotif</a>
        </div>
        <div class="menuItem"><a class="menuLink" href="https://m.bisnis.com/entrepreneur"
                title="Entrepreneur">Entrepreneur</a>
        </div>
        <div class="menuItem"><a class="menuLink" href="https://m.bisnis.com/jakarta" title="Jakarta">Jakarta</a></div>
        <div class="menuItem"><a class="menuLink" href="https://m.bisnis.com/foto" title="Foto">Foto</a></div>
        <div class="menuItem"><a class="menuLink" href="https://m.bisnis.com/koran" title="Koran Bisnis">Koran Bisnis
                Indonesia</a></div>
        <div class="menuItem"><a class="menuLink" href="https://m.bisnis.com/index" title="Indeks Bisnis">Indeks</a>
        </div>
    </div>
</div>