#megabillboard {
    height: 520px;
    z-index: 0;

    &~header {
        .header2_detail_inject {
            position: relative;
            margin-top: 0;
        }
    }

    &~.wrapper-description{
        position: relative;
        z-index: 1;
        background: #fcfcfc;
        margin-top: 0;
        padding-top: 60px;
    }
    
    &~#div-gpt-ad-mr2, &~.row .col-sm-12 .wrapper-list-news, &~#div-gpt-ad-oop1, &~.footer{
        background: #fcfcfc;
        position: relative;

    }
}

#gpt-megabillboard {
    top: 10px;
    height: 480px;
    position: fixed;
    display: block !important;
    visibility: visible;
    opacity: 1;

    &:before {
        content: "Advertisement";
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        font: 400 11px/1.4 Open sans, sans-serif;
        color: #c8ccce;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
        opacity: 1;
    }

    // &.rmv {
    //     visibility: hidden;
    //     opacity: 0;

    //     &:before {
    //         visibility: hidden;
    //         opacity: 0;
    //     }
    // }
}

.wrapper__ads-download {
    height: 50px;

    ~#megabillboard #gpt-megabillboard {
        top: 60px;
    }
}

.ads-download__flex {
    width: 100%;
    height: 30px;
}