#megabillboard {
    height: 520px;

    &~header {
        .header2_detail_inject {
            position: relative;
            margin-top: 0;
        }
    }
}

.wrapper__ads-download {
    height: 50px;
}

.ads-download__flex {
    width: 100%;
    height: 30px;
}