.paging {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid #CDCDCD;

    &Wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include font-pack($font-arial, 12px, 500, 28px, $cl-primary-white);
    }

    &List {
        padding: 0;
        margin: 0 10px 0 0;
        list-style-type: none;
        display: flex;
    }

    &Item {
        margin-left: 4px;
        margin-right: 4px;
        margin-bottom: 8px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &Link,
    &Show {
        display: block;
        padding: 3px 13px;
        min-width: 34px;
        height: 34px;
        color: $cl-primary-white;
        background: #0062A7;
        border-radius: 5px;

        &--active,
        &:hover {
            color: $cl-primary-white;
            background: #21BCFF;
            text-decoration: none;
        }
    }

    &Show {
        padding: 1px 30px;
        border: 0;
    }
}