.search {
    padding-bottom: 0;

    &Wrap {
        position: relative;
        flex-direction: column;
        margin-bottom: 10px;
        min-height: calc(100vh - 348px - 80px - 100px);
    }

    &Result {
        position: relative;
        background: #383838;
        padding-top: 30px;
        padding-bottom: 80px;
    }

    &List {
        padding-left: 0;
        padding-right: 0;
    }
}

.result {
    &Link {
        display: flex;
        align-items: center;
        gap: 10px;
        
        @include min-responsive($w-xl) {
            gap: 20px;
        }
    }

    &Img {
        width: 100px;
        height: 90px;
        aspect-ratio: 1/1;
        flex-direction: column;
        
        @include min-responsive($w-xl) {
            width: 250px;
            aspect-ratio: 50/27;
        }

        img{
            height: 100%;
        }
    }

    &Content {
        flex: 1;
    }

    &Lead {
        @include title_clamp(2)
    }
}