.tools {
    &Result {
        position: relative;
        padding: 24px;
        border-radius: 10px;
        overflow: hidden;

        &Title {
            display: flex;
            align-items: center;
        }

        &Info {
            color: #ABC9FB;
            position: relative;
            padding-left: 26px;

            .formInfo {
                position: absolute;
                top: 5px;
                left: 2px;
                filter: invert(74%) sepia(33%) saturate(513%) hue-rotate(188deg) brightness(101%) contrast(97%);
            }
        }
    }

    &Content {
        position: relative;
        @include font-pack(false, false, $font-weight-sbold, false, #F5F5F5);
        font-variation-settings: "wght" 600;
    }
}

.tooltip {
    position: relative;

    &Txt {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
        position: absolute;
        left: 40px;
        width: 300px;
        padding: 10px;
        border-radius: 7px;
        background: #595959;
        text-align: left;
        @include font-pack(false, 12px, $font-weight-normal, false, $cl-neutral1);
        z-index: 1;

        @media (max-width: 600px) {
            bottom: auto;
            top: 125%;
            left: 0;
            transform: none;
            width: auto;
            min-width: 200px;
        }
    }

    &:hover .tooltipTxt {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}