<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>

	<!-- s: header -->
	{{!> header}}
	<!-- e: header -->

	<main role="main">
		<section class="section active" id="cover">
			<div class="container">
				<div class="flex-center display-full introCover">
					<img src="./asset/images/logo-bm-day.png" alt="BM Day 2022" class="titleLogo"
						width="314" height="100" data-aos="zoom-out-up" data-aos-easing="ease-in-sine">
					<div class="titleTxt text-center">
						<p>Bisnis Muda merupakan komunitas dari Bisnis Indonesia. Tahun ini Bisnis Muda menyelenggarakan
							acara komunitas tahunan yaitu, BM Day.
						</p>
						<p>BM Day bertujuan sebagai momen edukasi kepada komunitas, serta menggandeng komunitas untuk
							mengetahui lebih dalam terkait produk/brand yang terlibat dalam rangkaian acara ini dalam
							bentuk sharing dan voting.
						</p>
					</div>
					<button id="covbtn" class="button buttonPrimary">Oke lanjut!</button>
					{{>powered}}

				</div>
			</div>
		</section>
		<section class="section" id="intro">
			<div class="container container--large">
				<div class="introWrap flex-center display-full">
					<img src="./asset/images/intro-img.png" alt="" loading="lazy" class="introImg" width="550" height="350" data-aos="slide-right" data-aos-easing="ease-in-sine" id="intImg">
					<div class="introContent">
						<img src="./asset/images/logo-bm-day.png" alt="BM Day 2022" loading="lazy" class="introLogo" width="314"
							height="100" data-aos="fade-up"
						data-aos-easing="ease-in-sine" id="intLogo">
						<h1 class="title">Yakin Sudah Memahami<br>
							Produk Perawatan Tubuhmu?<br>
							Yuk, Cek Lewat Kuis Ini!</h1>
						<div class="titleTxt">
							<p>Menjaga dan merawat tubuh dari ujung rambut hingga ujung kaki sangatlah penting. Tidak
								hanya merawat dari dalam saja, namun merawat tubuh bagian luar tidak kalah penting dan
								harus diperhatikan.
							</p>
							<p>Bisnismuda ingin mengajak kamu semua untuk mengetahui sejauh mana kamu memahami tentang
								produk perawatan tubuh, produk kesehatan serta produk fashion yang menunjang
								penampilanmu.</p>
							<p>
								Yuk vote brand pilihan kamu di acara Bisnis Muda Award 2022
								dan dapatkan hadiah menarik bagi Beemers yang beruntung!
							</p>
						</div>
						<button class="button buttonPrimary" id="intbtn" data-aos="fade-up"
						data-aos-easing="ease-in-sine">Cek Sekarang</button>
						{{>powered}}

					</div>
				</div>
			</div>
		</section>
		<section class="section" id="sparent">
			<div class="container">
				<div class="flex-center">
					<img src="./asset/images/logo-bm-day.png" alt="BM Day 2022" class="titleLogo" width="314"
						height="100" loading="lazy" data-aos="fade-down" data-aos-easing="ease-in-sine" id="splogo">
				</div>
				<form action="" onsubmit="return false">
					{{>bio}}

					<div id="step" class="sectionChild step" data-aos="zoom-out-up" data-aos-easing="ease-in-sine">
						{{>step}}
					</div>

					{{>skin}}

					{{>hair}}

					{{>body}}

					{{>makeup}}

					{{>food}}

					{{>fashion}}
				</form>
			</div>
		</section>
		<section class="section" id="closing">
			<div class="introClosing__wrap">
				<img src="./asset/images/closing-img.png" alt="" loading="lazy" class="introClosing__img" width="576"
					height="563" data-aos="slide-right" data-aos-easing="ease-in-sine" id="clImg">
				<div class="container container--large">
					<div class="introClosing flex-center">
						<div class="introClosing__content" data-aos="fade-up"
						data-aos-easing="ease-in-sine" id="clCtn">
							<h3 class="title">Terimakasih untuk partisipasi Beemers dalam kuisioner Bisnis Muda Award
								2022.
							</h3>
							<div class="titleTxt">
								<p>Nantikan Brand favoritmu di acara</p>
							</div>
							<img src="./asset/images/logo-bm-day.png" alt="BM Day 2022" class="introLogo" width="314"
								height="100">
							<div class="titleTxt">
								<p>Share ke orang terdekatmu yuk!</p>
								{{>share}}

							</div>
							{{>powered}}

						</div>
					</div>
				</div>
				<!-- s: footer -->
				{{>footer}}
				<!-- e: footer -->
			</div>
		</section>
	</main>

	{{> js}}

</body>

</html>