<div class="promoList mt10" id="smpromo">
    <div class="promoWrap">
        <div class="promoItem">
            <img src="asset/images/sample/burger-1.png" class="readImg" alt="" width="200" height="200" loading="lazy">
            <div class="promoBox__content">
                <div class="promoBox__wrap">
                    <div class="promoBox__title">Double Deluxe Burger</div>
                    <div class="promoBox__price">Rp 15.000,00</div>
                </div>
                <button class="button promoBuy mt40">Beli</button>
            </div>
        </div>
    </div>
    <div class="promoWrap">
        <div class="promoItem">
            <img src="asset/images/sample/burger-0.png" class="readImg" alt="" width="200" height="200" loading="lazy">
            <div class="promoBox__content">
                <div class="promoBox__wrap">
                    <div class="promoBox__title">Medium Burger With Mozzarella</div>
                    <div class="promoBox__price">Rp 25.000,00</div>
                </div>
                <button class="button promoBuy mt40">Beli</button>
            </div>
        </div>
    </div>
    <div class="promoWrap">
        <div class="promoItem">
            <img src="asset/images/sample/burger-1.png" class="readImg" alt="" width="200" height="200" loading="lazy">
            <div class="promoBox__content">
                <div class="promoBox__wrap">
                    <div class="promoBox__title">Small Burger</div>
                    <div class="promoBox__price">Rp 15.000,00</div>
                </div>
                <button class="button promoBuy mt40">Beli</button>
            </div>
        </div>
    </div>
    <div class="promoWrap">
        <div class="promoItem">
            <img src="asset/images/sample/burger-1.png" class="readImg" alt="" width="200" height="200" loading="lazy">
            <div class="promoBox__content">
                <div class="promoBox__wrap">
                    <div class="promoBox__title">Double Deluxe Burger</div>
                    <div class="promoBox__price">Rp 15.000,00</div>
                </div>
                <button class="button promoBuy mt40">Beli</button>
            </div>
        </div>
    </div>
    <div class="promoWrap">
        <div class="promoItem">
            <img src="asset/images/sample/burger-0.png" class="readImg" alt="" width="200" height="200" loading="lazy">
            <div class="promoBox__content">
                <div class="promoBox__wrap">
                    <div class="promoBox__title">Medium Burger With Mozzarella</div>
                    <div class="promoBox__price">Rp 25.000,00</div>
                </div>
                <button class="button promoBuy mt40">Beli</button>
            </div>
        </div>
    </div>
    <div class="promoWrap">
        <div class="promoItem">
            <img src="asset/images/sample/burger-1.png" class="readImg" alt="" width="200" height="200" loading="lazy">
            <div class="promoBox__content">
                <div class="promoBox__wrap">
                    <div class="promoBox__title">Small Burger</div>
                    <div class="promoBox__price">Rp 15.000,00</div>
                </div>
                <button class="button promoBuy mt40">Beli</button>
            </div>
        </div>
    </div>
</div>