<ul class="newsList display-flex">
    <li class="newsItem">
        <a href="https://kabar24.bisnis.com/read/20220131/15/1495262/dukung-g20-grab-distribusikan-vaksin-booster-di-indonesia"
            class="titleLink">
            <div class="newsImg__wrap"><img
                    src="https://images.bisnis-cdn.com/thumb/posts/2022/03/08/1508277/ilustrasi-pria-menerima-vaksin-booster.jpg?w=300&amp;h=190"
                    alt="" loading="lazy" class="newsImg" width="300" height="190"></div>
            <h4 class="title">Dukung G20, Grab Distribusikan Vaksin Booster di Indonesia</h4>
        </a>
        <div class="titleDate">Senin, 21 Februari 2022</div>
        <div class="titleTeaser">
            Grab Indonesia mendistribusikan vaksin booster sebagai dukungan Presidensi G20 Indonesia 2022.
        </div>
    </li>
    <li class="newsItem">
        <a href="https://kabar24.bisnis.com/read/20220127/15/1494318/buka-b20-inception-meeting-2022-jokowi-ajak-g20-dan-b20-kolaborasi"
            class="titleLink">
            <div class="newsImg__wrap"><img
                    src="https://images.bisnis-cdn.com/posts/2022/01/27/1494318/jokowi---2022-01-21t154901.592.jpg?w=300&amp;h=190"
                    alt="" loading="lazy" class="newsImg" width="300" height="190"></div>
            <h4 class="title">Buka B20 Inception Meeting 2022, Jokowi Ajak G20 dan B20 Kolaborasi</h4>
        </a>
        <div class="titleDate">Senin, 21 Februari 2022</div>
        <div class="titleTeaser">
            Jokowi mengatakan bahwa komunitas B20 akan memberikan tawaran-tawaran konkret yang bisa mendukung pemulihan
            ekonomi global.
        </div>
    </li>
    <li class="newsItem">
        <a href="https://kabar24.bisnis.com/read/20220131/15/1495262/dukung-g20-grab-distribusikan-vaksin-booster-di-indonesia"
            class="titleLink">
            <div class="newsImg__wrap"><img
                    src="https://images.bisnis-cdn.com/thumb/posts/2022/03/08/1508277/ilustrasi-pria-menerima-vaksin-booster.jpg?w=300&amp;h=190"
                    alt="" loading="lazy" class="newsImg" width="300" height="190"></div>
            <h4 class="title">Dukung G20, Grab Distribusikan Vaksin Booster di Indonesia</h4>
        </a>
        <div class="titleDate">Senin, 21 Februari 2022</div>
        <div class="titleTeaser">
            Grab Indonesia mendistribusikan vaksin booster sebagai dukungan Presidensi G20 Indonesia 2022.
        </div>
    </li>
    <li class="newsItem">
        <a href="https://kabar24.bisnis.com/read/20220127/15/1494318/buka-b20-inception-meeting-2022-jokowi-ajak-g20-dan-b20-kolaborasi"
            class="titleLink">
            <div class="newsImg__wrap"><img
                    src="https://images.bisnis-cdn.com/posts/2022/01/27/1494318/jokowi---2022-01-21t154901.592.jpg?w=300&amp;h=190"
                    alt="" loading="lazy" class="newsImg" width="300" height="190"></div>
            <h4 class="title">Buka B20 Inception Meeting 2022, Jokowi Ajak G20 dan B20 Kolaborasi</h4>
        </a>
        <div class="titleDate">Senin, 21 Februari 2022</div>
        <div class="titleTeaser">
            Facilisi proin odio lectus nunc. Vel scelerisque commodo elit in volutpat aliquet et sem. Magnis pharetra
            leo lorem ac risus non cras eget ante. At in pellentesque amet faucibus. Magnis pharetra
            leo lorem ac risus non cras eget ante. At in pellentesque amet faucibus
        </div>
    </li>
</ul>