<ul class="video">
    <li class="videoItem">
        <a href="https://tv.bisnis.com/read/20220308/552/1508384/awas-boikot-impor-minyak-rusia-bisa-picu-harga-hingga-us300-per-barel"
            class="titleLink">
            <div class="videoImg__wrap">
                <img src="https://images.bisnis-cdn.com/thumb/posts/2022/03/08/1508384/sOQKgchx5dI.jpg?w=820&amp;h=515"
                    alt="Awas! Boikot Impor Minyak Rusia Bisa Picu Harga Hingga US$300 per Barel" loading="lazy"
                    class="videoImg" width="820" height="515">
                <div class="videoBox flex-center">
                    <span class="icon icon-bisnistv"></span>
                </div>
            </div>
        </a>
    </li>
    <li class="videoWrap">
        <ul>
            <li class="videoItem">
                <a href="https://tv.bisnis.com/read/20220308/552/1508261/tiba-di-tanah-air-sejumlah-tokoh-penting-melayat-arifin-panigoro"
                    class="titleLink">
                    <div class="videoImg__wrap">
                        <img src="https://images.bisnis-cdn.com/thumb/posts/2022/03/08/1508261/j499v7MSaWU.jpg?w=470&h=250"
                            alt="Tiba di Tanah Air, Sejumlah Tokoh Penting Melayat Arifin Panigoro" loading="lazy"
                            class="videoImg" width="470" height="250">
                        <div class="videoBox flex-center">
                            <span class="icon icon-bisnistv"></span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="videoItem">
                <a href="https://tv.bisnis.com/read/20220308/552/1508037/ini-respons-mui-soal-ciri-ciri-penceramah-radikal"
                    class="titleLink">
                    <div class="videoImg__wrap">
                        <img src="https://images.bisnis-cdn.com/thumb/posts/2022/03/08/1508037/64ly3BuamDE.jpg?w=470&h=250"
                            alt="Ini Respons MUI Soal Ciri-Ciri Penceramah Radikal" loading="lazy" class="videoImg"
                            width="470" height="250">
                        <div class="videoBox flex-center">
                            <span class="icon icon-bisnistv"></span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </li>
</ul>