.wrapper__widget-bplus {
  background-repeat: no-repeat;
  background-color: #222;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px gray; }

.widget-bplus__header {
  display: flex;
  justify-content: center;
  padding-top: 20px; }

.widget-bplus__header-text {
  margin-left: 5px; }

.widget-bplus__header-text p {
  font-size: 16px;
  font-weight: 700;
  color: #4f2d0e; }

.widget-bplus__thumbnail img {
  width: 100%; }

.widget-bplus__thumbnail {
  margin-top: 20px;
  margin-bottom: 12px;
  position: relative; }

.widget-bplus__list-news {
  margin-left: 20px;
  margin-right: 20px; }

.widget-bplus__border-line {
  border-top: 1px solid #333;
  margin-bottom: 8px; }

.widget-bplus__list-news-title {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  padding-top: 2px;
  margin: 0;
  padding-bottom: 15px; }

.widget-bplus__list-news-title.white {
  color: #fff; }

.widget-bplus__list-news-datetime {
  font-size: 10px;
  font-weight: 400;
  color: #bbb;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 2px;
  margin: 0; }

.widget-bplus__list-news-datetime.white {
  color: #fff; }

.btn-widget-bplus {
  background: #ffab2e;
  border-radius: 0 0 10px 10px;
  width: 100%;
  font-size: 12px;
  color: #fff;
  padding: 15px 0; }

.btn-widget-bplus:hover {
  color: #fff;
  background: #717171;
  border: 1px solid #717171; }

.widget-bplus__thumbnail-text {
  position: absolute;
  bottom: 0;
  margin-top: -25%;
  margin-left: 20px;
  margin-right: 20px; }

a .widget-bplus__list-news-title:hover {
  color: #ffce21; }

a .widget-bplus__list-news-title.white:hover {
  color: #ffce21; }
