<header class="header">
    <div class="headerFixed headerStories display-flex aitems-center">
        <div class="menu">
            <label class="sr-only" for="menuToggle">Open navigation</label>
            <input type="checkbox" class="menuToggle" name="check" id="menuToggle" aria-haspopup="true">
            {{> header/burger}}
            <div class="menuList">
                <a href="index.html" class="menuLogo__wrap">
                    <img src="asset/images/logo-tabloid-bintang-small.png" class="menuLogo" alt="Kontemporer" width="200"
                        height="38" loading="lazy">
                </a>
                <ul>
                    <li class="menuCaption">Pilihan Kanal :</li>
                    {{#each menu}}
                    <li class="menuItem"><a href="{{link}}"
                            class="menuLink{{#eq title compare=../page}} active{{/eq}}">{{title}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="text-center">
            <img src="asset/images/tabloid-bintang-stories.png" class="" alt="Stories Tabloid Bintang" width="156" height="47">
        </div>
    </div>
</header>