<div class="paging display-flex jcontent-center mt40">
    <div class="pagingItem">
        <a href="#" class="pagingLink pagingLink__prev{{#eq active compare=all}}{{else}} inactive{{/eq}}" aria-label="First Paging"><span
                class="icon icon-angle-double"></span></a>
    </div>
    <div class="pagingItem">
        <a href="#" class="pagingLink pagingLink__prev{{#eq active compare=all}}{{else}} inactive{{/eq}}" aria-label="Prev Paging"><span class="icon icon-angle"></span></a>
    </div>
    <div class="pagingItem">
        <a href="#" class="pagingLink{{#eq active compare=all}}{{else}} active{{/eq}}">1</a>
    </div>
    <div class="pagingItem">
        <a href="#" class="pagingLink">2</a>
    </div>
    <div class="pagingItem">
        <a href="#" class="pagingLink{{#eq active compare=all}} active{{else}}{{/eq}}">3</a>
    </div>
    <div class="pagingItem">
        <a href="#" class="pagingLink">4</a>
    </div>
    <div class="pagingItem">
        <a href="#" class="pagingLink">5</a>
    </div>
    <div class="pagingItem">
        <a href="#" class="pagingLink" aria-label="Next Paging"><span class="icon icon-angle"></span></a>
    </div>
    <div class="pagingItem">
        <a href="#" class="pagingLink" aria-label="Last Paging"><span class="icon icon-angle-double"></span></a>
    </div>
</div>