<!DOCTYPE html>
<html lang="en">

{{> head page=false}}

<body>

    {{> header/header page="Brands"}}

    <main role="main" class="main --bg-blue">
        <div class="container">

            {{>breadcrumb parent="Brands"}}

            <div class="col-xl-10 mx-auto">
                <div class="boxCaption --small text-center">
                    <h1 class="titleH2">Through transformation, it is inevitable to go beyond.</h1>
                    <div class="boxLead titleLead col-md-8 col-lg-6 mx-auto">Mus felis justo velit viverra nullaaucibus
                        consequat
                        cursus condimentum sed cras
                        fermentum penatibus tortor rhoncus.
                    </div>
                </div>
                <div class="boxList row">

                    {{>box channel=page.Brands index_start=0 index_end=7 imgclass="boxIcon" link=true
                    titleclass="boxIconTitle" col="col-6 col-md-4" tag="h2" lazy=true width="71" height="71"}}

                </div>
            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>