<!DOCTYPE html>
<html lang="en">

{{> head page="company"}}

<body>

    {{> header/header page="Our Company"}}

    <main role="main" class="main company">
        <div class="container">
            <div class="companyContainer col-lg-10 col-xl-8 mx-auto">
                <div class="companyHl hl text-center">
                    <div class="hlText">
                        <h1 class="titleH4">Welcome to Gramedia</h1>
                        <h2 class="hlTitle">Striving at utmost capacity to <br> live up our revolution.</h2>
                        <div class="center-flex">
                            <button class="hlCta button buttonPrimary buttonPrimary--icon"
                                onclick="event.stopPropagation(); triggerActive('.-pVideo')">Watch Video <span
                                    class="ico icoArrow"></span></button>
                        </div>
                    </div>
                    <div class="hlImg -sheadline">

                        {{> headline}}

                    </div>
                </div>
                <div class="intro">
                    <h2 class="titleH2">Our Vision and Mission</h2>
                    <div class="titleBody400">To become the largest, most widespread, and integrated retail and
                        publishing network in Southeast Asia, providing market-oriented products, superior and
                        innovative
                        services, and conducting business with ethical standards.
                    </div>
                </div>
                <div class="companyGap">
                    <div class="companyStories">
                        <h2 class="titleH2">Our Great Stories</h2>
                        <div class="companyStoriesTxt titleBody400">
                            <p>Established in 1970, PT Gramedia Asri Media or Gramedia Store is one of the strategic
                                business
                                units under Kompas Gramedia Group which is focused on the retail business with books and
                                stationery as its main products.</p>
                            <p>This is related to the mission to be involved in the efforts to educate and enlighten the
                                nation’s life through the distributionof information and knowledge. Until now, Gramedia
                                has
                                120
                                stores spread from Sabang to Merauke, in 33 provinces and 54 cities throughout
                                Indonesia.
                            </p>
                            <p>In 2022, Gramedia will celebrate its 52nd anniversary. The journey to the age of 52 is
                                inseparable from the support and involvement of the Indonesian people, even amid the
                                unpredictable ups and downs situation until today.</p>
                            <p>Nevertheless, we want to invite people to keep celebrating ideas, inspiring each other,
                                and
                                collaborating in the creative ecosystem of literacy. In supporting this initiative,
                                Gramedia
                                brings Online Virtual Festival 2022 through #KolaborasiTanpaBatas by providing a space
                                contained
                                with various inspiring content and activities.</p>
                        </div>
                    </div>
                    <div class="introList text-center">

                        {{>intro}}

                    </div>
                </div>
                <div class="companyGap companyCeo">
                    <div class="companyCeoImg">
                        <img src="./asset/images/bod/0.png" alt="Y. Priyo Utomo" width="468" height="403"
                            loading="lazy">
                    </div>
                    <div class="companyCeoWrap">
                        <div class="companyCeoTitle titleH5">CEO Message</div>
                        <div class="companyCeoTxt titleBody400">
                            Y. Priyo Utomo is CEO Group of Retail and Book Publishing. Leading for more than 115
                            Gramedia Bookstores, 12 course outlets (ELTI), 3 distribution center and 6 publishers in
                            nation wide.
                        </div>
                        <button class="button buttonTxt"
                            onclick="event.stopPropagation(); triggerActive('.-pVideo')">Watch
                            Video <span class="ico icoArrow"></span></button>
                    </div>
                </div>
            </div>
            <div class="companyJourney text-center col-lg-9 col-xl-7 mx-auto">
                <div class="titleH5">Like a human who redefines his journey,</div>
                <div class="companyJourneyTitle titleH2">So does Gramedia with its transformation</div>
                <div class="titleLead">Mus felis justo velit viverra nullaaucibus consequat cursus condimentum sed cras
                    fermentum penatibus tortor rhoncus.</div>
            </div>
        </div>
        <div class="companyJourneyTL">
        </div>
        <div class="companyJourneyYear container col-lg-10 col-xl-8">

            {{>journey-rev}}

        </div>
        <div class="container">
            <div class="companyAwards text-center mx-auto col-lg-7 col-xl-6">
                <h2 class="titleH2">Awards & Achievement</h2>
                <div class="companyAwardsTxt titleBody400">
                    Over the years. Gramedia has collected numerous awards for its performance as one of the best-known
                    retail stores in Indonesia. These awards show that Gramedia is highly dedicated to providing
                    exceptional
                    service in transforming peoples ideas.
                </div>
            </div>
        </div>
        <ul class="companyAwardsList -sawards">
            {{#each awards}}
            <li class="companyAwardsItem">
                <div class="companyAwardsImg">
                    <img src="{{images}}" alt="{{title}}" width="239" height="252" loading="lazy">
                </div>
            </li>
            {{/each}}
        </ul>
    </main>

    <!-- s: popup video -->
    {{>popup-video}}
    <!-- e: popup video -->

    {{> footer/footer}}

    {{> js pages="company" slick=true logo=true}}

</body>

</html>