<!DOCTYPE html>
<html lang="en">

{{> head page=false}}

<body>

    {{> header/header}}

    <main role="main" class="main --bg-blue">
        <div class="container">

            {{>breadcrumb parent="Contact Us"}}

            <div class="boxContainer col-lg-9 col-xl-8 mx-auto">
                <div class="boxCaption text-center">
                    <h1 class="titleH2">Hello, how can we help?</h1>
                    <div class="boxLead titleBody400 col-md-8 col-lg-7 col-xl-6 mx-auto">Tell me what you need by fill
                        the
                        form
                        below here
                    </div>
                </div>
                <form action="submitted.html" id="formcontact">
                    <div class="contactFormCaption titleBody400 text-center">Select the division you want to address for
                        your question</div>
                    <div class="formCombo center-flex">

                        {{>combo channel=form.comboContact index_start=0 index_end=10}}

                    </div>
                    <div class="form contactForm col-lg-6">
                        <div class="formRow row">
                            <div class="formCol col">
                                <label class="formLabel titleLead" for="uname">Full Name</label>
                                <input type="text" class="formInput" name="uname" id="uname" placeholder="Your name">
                            </div>
                        </div>
                        <div class="formRow row">
                            <div class="formCol col">
                                <label class="formLabel titleLead" for="mail">Email Address</label>
                                <input type="email" class="formInput" name="mail" id="mail"
                                    placeholder="me@awesome.com">
                            </div>
                        </div>
                        <div class="formRow row">
                            <div class="formCol col">
                                <label class="formLabel titleLead" for="phone">Phone Number</label>
                                <input type="text" class="formInput" name="phone" id="phone" placeholder="+62"
                                    inputmode="numeric">
                            </div>
                        </div>
                        <div class="formRow row">
                            <div class="formCol col">
                                <label class="formLabel titleLead" for="issue">Tell me your issue</label>
                                <textarea class="formInput formArea" placeholder="Input text here" name="issue"
                                    id="issue" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="formRow center-flex">
                            <button class="button buttonPrimary buttonPrimary--icon" type="submit" id="submit">Send
                                message<span class="ico icoArrow"></span></button>
                        </div>
                    </div>
                </form>
                <div class="contactList row">
                    <div class="contactItem titleBody400 col-md-6">
                        <span class="ico icoLoc"></span>
                        <div class="contactWrap">
                            <div class="contactItemTitle">Kompas Gramedia </div>
                            <a href="https://maps.app.goo.gl/d7zTCPrCPnSRBGQ89" target="_blank"
                                rel="noopener noreferrer">Jl.
                                Palmerah Sel. No.22-26, Gelora, Tanah Abang, Jakarta Pusat, 10270</a>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="contactItem titleBody400">
                            <span class="ico icoMail"></span>
                            <a href="mailto:helpcenter@gramedia.id">helpcenter@gramedia.id</a>
                        </div>
                        <div class="contactItem titleBody400">
                            <span class="ico icoPhone"></span>
                            <a href="tel:+62215483008">021-548-3008</a>
                        </div>
                    </div>
                </div>
                <div class="contactMap">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.3975286773266!2d106.79277591151916!3d-6.211185960815537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f6bbe22382cd%3A0x77db1a891225d451!2sKompas%20Gramedia%20Palmerah!5e0!3m2!1sen!2sid!4v1727637008021!5m2!1sen!2sid"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>