<!DOCTYPE html>
<html lang="en">

{{> head page="event"}}

<body>

    {{> header/header}}

    <main role="main" class="main event --bg-green">
        <div class="container">

            {{>breadcrumb parent="Event"}}
        </div>
        <div class="eventHl -sevent" data-number="5">

            {{>event channel=event index_start=0 index_end=5 tag="h1" lead=true caption=true}}

        </div>
        <div class="container">
            <div class="eventContainer col-xl-11 mx-auto">
                <div class="eventCaption text-center">
                    <h2 class="titleH2">Other Event</h2>
                </div>
                <div class="eventList row">

                    {{>event channel=event index_start=4 index_end=9 tag="h3" col="col-lg-6"}}

                </div>

                {{>paging}}

            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js slick=true}}
    <script>
        $(document).ready(function () {
            //slider event
            var totalevent = $('.-sevent').attr("data-number") / 2;
            $('.-sevent').slick({
                dots: true,
                arrows: false,
                infinite: true,
                speed: 700,
                mobileFirst: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                // autoplay: true,
                autoplaySpeed: 2000,
                centerMode: true,
                centerPadding: 0,
                initialSlide: parseInt(totalevent),
                responsive: [{
                    breakpoint: 1900,
                    settings: {
                        slidesToShow: 2,
                    }
                }]
            });
        });
    </script>

</body>

</html>