<!DOCTYPE html>
<html lang="en">

{{> head page="media"}}

<body>

    {{> header/header}}

    <main role="main" class="main media --bg-green">
        <div class="container">

            {{>breadcrumb parent="News" child="Foto"}}

            <div class="mediaContainer col-xl-11 mx-auto">
                <div class="mediaCaption text-center">
                    <h1 class="titleH2">Foto</h1>
                </div>

                <div class="mediaList --photo row">

                    {{>media channel=news index_start=0 index_end=15 tag="h2"}}

                </div>

                {{>paging}}

            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>