<!DOCTYPE html>
<html lang="en">

{{> head page="media"}}

<body>

    {{> header/header page="Photo"}}

    <main role="main" class="main media --bg-green">
        <div class="container">

            {{>breadcrumb parent="News" child="Foto"}}

            <div class="mediaContainer col-xl-11 mx-auto">
                <div class="mediaCaption text-center">
                    <h1 class="titleH2">Foto</h1>
                </div>
                <div class="photoswipe-wrapper">
                    <div class="mediaList --photo row">

                        {{>media channel=news index_start=0 index_end=15 tag="h2" type="photoswipe-item"}}

                    </div>
                </div>

                {{>paging}}

            </div>
        </div>
    </main>

    <!-- s: popup pswp template -->
    {{>pswp}}
    <!-- e popup pswp template -->

    {{> footer/footer}}

    {{> js pages="media" swipes=true}}

</body>

</html>