<!DOCTYPE html>
<html lang="en">

{{> head page="home"}}

<body>
    {{!> header/header login=true}}
    {{!> header/header}}
    <main role="main">
        <div class="container">
            <div class="hl">
                <div class="hlText">
                    <h1 class="titleH4">Welcome to Gramedia</h1>
                    <h2 class="hlTitle">Enabling ideas to evolve into creativity.</h2>
                    <button class="hlCta button buttonPrimary buttonPrimary--icon">Watch Video <span
                            class="ico icoArrow"></span></button>
                </div>
                <div class="hlImg">

                    {{> headline}}

                </div>
            </div>
            <div class="intro text-center">
                <div class="introTitle titleH2">Who we are</div>
                <div class="introTxt">Mus felis justo velit viverra nullaaucibus consequat cursus condimentum sed cras
                    <br> fermentum penatibus tortor rhoncus.
                </div>
                <div class="introList">

                    {{>intro}}

                </div>
                <a href="#" class="introCta buttonTxt">Find out more our company <span class="ico icoArrow"></span></a>
            </div>
            <div class="brands"></div>
            <div class="testi"></div>
            <div class="news newsWidget"></div>
            <div class="event eventWidget"></div>
            <div class="widget row">

                {{>widget}}

            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js page="home"}}

</body>

</html>