<!DOCTYPE html>
<html lang="en">

{{> head page="partner"}}

<body>

    {{> header/header}}

    <main role="main" class="main partner">
        <div class="container">

            {{>breadcrumb parent="Partnership" child="Reseller Gramedia"}}

            {{>partner/headline}}

            <h1 class="partnerTitle partnerGap text-center"><span>Mitra Reseller Gramedia</span></h1>
            <div class="partnerIntro partnerGap col-lg-9 col-xl-7 mx-auto">
                <div class="partnerWrap">
                    <h2 class="partnerCaption titleH2">Apa itu?</h2>
                    <div class="partnerLead titleBody400">Mitra Reseller Gramedia merupakan salah satu program kemitraan
                        dari Gramedia untuk pelaku usaha yang ingin berjualan produk-produk Gramedia. Kemitraan ini
                        mempermudah pihak toko dengan memberikan pihak toko untuk memperoleh berbagai macam benefit,
                        program diskon terintegrasi, dan memberikan pihak toko akses ke layanan yang dimiliki oleh pihak
                        Gramedia.
                    </div>
                </div>
                <div class="partnerImg">
                    <img src="./asset/images/reseller/caption-img.png" alt="" width="331" height="312" loading="lazy">
                </div>
            </div>
            <div class="partnerBenefit partnerGap col-md-10 mx-auto">
                <h2 class="partnerCaption titleH2 text-center">Benefit Menjadi Mitra Reseller Gramedia</h2>
                <ul class="partnerBenefitList center-flex">
                    {{#each partner.resellerBenefit}}
                    <li class="partnerBenefitItem text-center">
                        <img src="./asset/images/reseller/benefit/{{@index}}.png" alt="" width="70" height="70"
                            loading="lazy">
                        <h3 class="partnerBenefitTitle">{{{title}}}</h3>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="partnerShipper partnerGap col-xl-11 mx-auto">
                <h2 class="partnerCaption titleH2 text-center">Shipper Produk Gramedia</h2>

                {{>partner/reseller-shipper}}

            </div>
            <div class="partnerProgram partnerGap col-md-10 col-lg-8 col-xl-6 text-center mx-auto">
                <h2 class="partnerCaption titleH2">Program Unggulan</h2>
                <div class="partnerLead titleBody400">Program ini merupakan sebuah benefit yang akan diterima
                    oleh para reseller Gramedia saat melakukan pembelian produk-produk Gramedia</div>
            </div>
        </div>
        <div class="partnerProgramSlide -sprogram" data-number="7">

            {{>partner/reseller-program}}

        </div>
        <div class="container">
            <div class="partnerReseller text-center">
                <div class="titleBody400">Tertarik ingin menjadi Reseller Gramedia?</div>
                <div class="center-flex">
                    <a href="#" class="partnerResellerCta button buttonPrimary buttonPrimary--icon">
                        Daftar Sekarang
                        <span class="ico icoArrow"></span>
                    </a>
                </div>
                <div class="titleBody400">Klik <a href="#" class="partnerResellerLink">disini</a> untuk melihat tutorial
                    penggunaan Aplikasi Mitra Gramedia.</div>
            </div>
        </div>

    </main>

    {{> footer/footer}}

    {{> js pages="partner" slick=true selected=true}}
    <script>
        $(document).ready(function () {
            //slider program
            var totalprogram = $('.-sprogram').attr("data-number") / 2;
            $('.-sprogram').slick({
                dots: true,
                arrows: false,
                infinite: true,
                speed: 700,
                mobileFirst: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                // autoplay: true,
                autoplaySpeed: 2000,
                centerMode: true,
                centerPadding: 0,
                initialSlide: parseInt(totalprogram),
                responsive: [{
                    breakpoint: 1900,
                    settings: {
                        slidesToShow: 2,
                    }
                }]
            });

            //map on click
            $('.partnerMapArea').each(function () {
                $(this).click(function () {
                    //add active on map
                    $('.partnerMapArea').removeClass('active')
                    $(this).addClass('active')

                    //change selection value
                    value = $(this).attr('value'),
                        prov = $('#province'),
                        disabled = prov.children('option:disabled')
                    prov.val(value).change();
                    $('#province option[value="' + value + '"]').prop("selected", true);
                    //console.log(prov.find('option:selected').val())

                    //change selection text
                    $('.styledSelect').text(prov.children('option').eq(value).text())

                    //remove disabled selected class
                    if (!!disabled) {
                        disabled.removeAttr('selected')
                    }

                    displayProvince(value)
                })
            });
        });

        function displayProvince(getvalue) {
            var items = $('.partnerProvinceItem');
            //display province item
            var itemprovince = getvalue;
            items
                .fadeOut()
                .filter(function () {
                    return $(this).data('value') == itemprovince;
                })
                .fadeIn(200);
        }
    </script>

</body>

</html>