<!DOCTYPE html>
<html lang="en">

{{> head page="partner"}}

<body>

    {{> header/header}}

    <main role="main" class="main partner">
        <div class="container">

            {{>breadcrumb parent="Partnership" child="Store Gramedia"}}

            {{>partner/headline}}

            <h1 class="partnerTitle partnerGap text-center"><span>Mitra Store Gramedia</span></h1>
            <div class="partnerIntro partnerGap col-lg-9 col-xl-7 mx-auto">
                <div class="partnerWrap">
                    <h2 class="partnerCaption titleH2">Apa itu?</h2>
                    <div class="partnerLead titleBody400">Mitra Store Gramedia adalah salah satu program kemitraan
                        dengan tujuan untuk melakukan kerjasama antara pinak Gramedia dengan perorangan/perusahaan yang
                        memiliki lokasi yang cocok untuk dijadikan store Gramedia tanpa adanya royalti atau deposit
                        store gramedia ranna acanva rovair aran genosit</div>
                </div>
                <div class="partnerImg">
                    <img src="./asset/images/store/caption-img.png" alt="" width="331" height="288" loading="lazy">
                </div>
            </div>
            <div class="partnerBenefit partnerGap col-md-10 mx-auto">
                <h2 class="partnerCaption titleH2 text-center">Benefit Mitra Store Gramedia</h2>
                <ul class="partnerBenefitList center-flex">
                    {{#each partner.storeBenefit}}
                    <li class="partnerBenefitItem text-center">
                        <img src="./asset/images/store/benefit/{{@index}}.png" alt="" width="70" height="70"
                            loading="lazy">
                        <h3 class="partnerBenefitTitle">{{{title}}}</h3>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="partnerSdk partnerGap col-lg-6 col-xl-5 mx-auto">
                <h2 class="partnerCaption titleH2 text-center">Syarat Menjadi Mitra Gramedia</h2>
                <ul class="partnerSdkList">
                    {{#each partner.storeSdk}}
                    <li class="partnerSdkItem">
                        <img src="./asset/images/store/sdk/{{@index}}.png" alt="" width="40" height="40" loading="lazy">
                        <div class="partnerSdkTitle titleBody400">{{title}}</div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="partnerJoin partnerGap col-lg-9 col-xl-7 mx-auto">
                <h2 class="partnerCaption titleH2 text-center">Cara Bergabung Menjadi Mitra Store</h2>

                {{>partner/join}}

                <div class="partnerJoinCta text-center">
                    <div class="titleBody400">Download Cara Bergabung Menjadi Mitra Store dalam File PDF</div>
                    <div class="center-flex">
                        <button class="button buttonPrimary buttonPrimary--icon">
                            Download
                            <span class="ico icoPdf"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="partnerStore partnerGap">
                <h2 class="partnerCaption titleH2 text-center">Lokasi Toko Mitra Gramedia</h2>
                <a href="partnership-store-loc.html" class="partnerStoreCta buttonTxt center-flex">Lihat Semua<span
                        class="ico icoArrow"></span></a>
            </div>
        </div>
        <div class="offsetContainer offset-xl-1">
            <div class="partnerStore--widget">
                <div class="partnerStoreList row -sstore">

                    {{>partner/store channel=partner.storeLoc index_start=0 index_end=6 col="col-md-6 col-lg-4"
                    tag="h3" lazy=true}}

                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="partnerCaption partnerGap titleH2 text-center">
                Formulir Pendaftaran Mitra
            </h2>

            {{>partner/mitra-form}}

        </div>
    </main>

    {{> footer/footer}}

    {{> js page="partner" slick=true validate=true selected=true}}
    <script>
        function onFileChange(el) {
            let parent = el.parentNode,
                title = parent.querySelector('.formFileTitle'),
                msg = el.parentNode.parentNode.querySelector('#msgFile')
            Object.values(el.files).forEach(function (file) {
                //console.log(`Type: ${file.type}`);
                if (file.type == 'application/pdf') {
                    title.setAttribute('placeholder', el.value)
                    title.classList.add('valid')
                    msg.innerHTML = ''
                } else {
                    title.setAttribute('placeholder', 'Tidak ada file yang dipilih');
                    title.classList.remove('valid')
                    msg.innerHTML = '*File must be PDF'
                    el.value = null;
                }
            })
        }

        $(document).ready(function () {
            //slider store
            $('.-sstore').slick({
                dots: false,
                arrows: false,
                infinite: true,
                speed: 500,
                mobileFirst: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 2000,
                responsive: [{
                    breakpoint: 1700,
                    settings: {
                        slidesToShow: 4,
                    }
                },
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 700,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }
                ]
            });

            //step join anim
            $(window).scroll(function () {
                if ($(this).scrollTop() >= $(".partnerJoin").offset().top - 150) {
                    $(".partnerJoinItem").addClass('active')
                    $(".partnerJoinDescItem").addClass('active')
                } else {
                    $(".partnerJoinItem").removeClass('active')
                    $(".partnerJoinDescItem").removeClass('active')
                }
            });

            //form validation
            $('#formmitra input').bind('keyup blur click', function () {
                if ($('#formmitra').valid()) {
                    $('#submit').removeClass('disabled').attr('disabled', false);
                } else {
                    $('#submit').addClass('disabled').attr('disabled', true);
                }
            });

            $('#formmitra').validate({
                rules: {
                    uname: {
                        required: true,
                    },
                    oname: {
                        address: true,
                    },
                    phone: {
                        required: true,
                    },
                    RT: {
                        required: true,
                    },
                    RW: {
                        required: true,
                    },
                    zipcode: {
                        required: true,
                    },
                    area: {
                        required: true,
                    },
                    gmaps: {
                        required: true,
                    },
                    zipcode: {
                        required: true,
                    },
                    province: {
                        required: true,
                        min: 1
                    },
                },
                errorPlacement: function (error, element) {
                    if (element.attr("name") == "area") {
                        error.appendTo("#msgArea");
                    } else if (element.attr("name") == "blueprint") {
                        error.appendTo("#msgFile");
                    } else {
                        error.insertAfter(element)
                    }
                }
            })

            jQuery.extend(jQuery.validator.messages, {
                required: "*This field is required."
            });
        });
    </script>

</body>

</html>