<!DOCTYPE html>
<html lang="en">

{{> head page=false}}

<body>

    {{> header/header}}

    <main role="main" class="main --bg-blue">
        <div class="container">

            {{>breadcrumb parent="Contact Us"}}

            <div class="checkSuccess col-md-10 col-lg-7 col-xl-6 mx-auto">
                <div class="checkWrap text-center">
                    <div class="checkContainer mx-auto">
                        <div class="checkBg center-flex">
                            <svg class="checkIcon" viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 25L27.3077 44L58.5 7" stroke="white" stroke-width="13"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <h1 class="checkTitle titleH5">Form was submitted!</h1>
                    <div>Thank you for submission.</div>
                    <a href="index.html" class="checkCta buttonTxt center-flex"><strong>Back to Home</strong><span
                            class="ico icoArrow"></span></a>
                </div>
            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>