<!DOCTYPE html>
<html lang="en">

{{> head page="read"}}

<body>

    {{> header/header page="Press Release"}}

    <main role="main" class="main read --bg-green">
        <div class="container">

            {{>breadcrumb parent="News" child="Article"}}

            <div class="col-lg-8 mx-auto text-center">
                <h1 class="readTitle titleH1">Online Book Fair Gramedia #SahabatTanpaBatas kembali hadir,
                    dengan diskon hingga 90%</h1>
                <div class="newsDates">30 September 2019</div>
            </div>
            <div class="readContainer col-xl-10 mx-auto">
                <div class="readBox">
                    <div class="readTop text-center">
                        <div class="readImg">
                            <img src="./asset/images/dummy/read-img.jpg" alt="" width="900" height="506">
                        </div>
                        <div class="readImgCaption titleLead">Cutlass hail-shot jib swab lanyard reef red lanyard.
                            Gabion keelhaul
                            lugsail arr yawl of chandler mutiny lugsail. Bilge guns furl buccaneer prey sail hearties.
                            Timbers prey locker shot fathom main piracy lateen jennys chain. Sheet tell scurvy
                            quarterdeck coast of piracy chandler jib brig. Cog lateen cutlass halter o'nine.
                        </div>
                    </div>
                    <div class="share --read center-flex">
                        <div class="shareCaption">Share</div>
                        <div class="shareList">

                            {{>share channel=shareRead}}

                        </div>
                    </div>
                    <article class="readArticle titleBody400 article">
                        <p><strong><i>JAKARTA, 24 Maret 2022</i></strong> Gramedia kembali menghadirkan Online Book Fair
                            Gramedia.com dan Gramedia
                            Digital, yang akan berlangsung pada 25 s.d. 31 Maret 2022. Online Book Fair kali ini
                            mengusung
                            tema
                            #SahabatTanpaBatas, dengan menyediakan lebih dari seribu judul buku dari buku fiksi, non
                            fiksi,
                            maupun buku anak, untuk menjadi sahabat para pelanggan ketika di rumah. Online Book Fair ini
                            akan
                            diselenggarakan secara serentak di seluruh toko Gramedia se-Indonesia.</p>
                        <p>Pada Online Book Fair ini,
                            pelanggan Gramedia dapat menikmati berbagai macam penawaran menarik, seperti harga spesial
                            untuk
                            pembelian masker dan hand sanitizer, diskon hingga 90% untuk pembelian buku-buku terbaik
                            pilihan,
                            diskon 20% untuk buku terbitan Gramedia, diskon 15% untuk terbitan eksternal, dan Flash Sale
                            buku
                            bacaan mulai dari Rp 5.000. Selain itu, terdapat diskon 30% untuk pembelian semua produk
                            buku
                            dan
                            diskon 50% khusus produk e-book terbitan Andi Publisher yang bisa dinikmati pada periode 25
                            s.d.
                            31
                            Maret 2022.</p>
                        <p>Lebih lanjut, Pelanggan Gramedia dapat menikmati diskon 30% All Premium Package untuk
                            periode 25 s.d. 30 Maret 2022. Selain itu, terdapat juga Flash Sale 50% All Premium Package
                            yang
                            bisa dinikmati khusus pada periode 31 Maret 2022. All Premium Package berisi produk paket
                            buku
                            fiksi, non-fiksi, buku anak, dan full premium package selama 1 tahun.</p>
                        <p>Tidak hanya itu, terdapat
                            penawaran spesial khusus bagi pelanggan Gramedia yang melakukan pembelian dengan minimum
                            transaksi
                            tertentu. Diantaranya, minimum transaksi Rp 100.000, pelanggan akan mendapatkan bonus kuota
                            by.U
                            sebesar 2,5 GB, dan bonus kuota 5 GB jika transaksi pelanggan mencapai Rp 150.000.
                            Selanjtunya,
                            terdapat cashback sebesar Rp 15.000, untuk minimal transaksi Rp 150.000, khusus untuk
                            pembayaran
                            melalui GoPay. Bonus voucher trial Storytel selama 1 bulan juga bisa pelanggan dapatkan
                            dengan
                            melakukan transaksi minimal Rp 200.000.</p>
                        <p>Semua promo tersebut, dapat dinikmati pelanggan seluruh
                            Indonesia, karena Gramedia melayani pengiriman multi-warehouse ke seluruh toko Gramedia,
                            dengan
                            penyebarannya yang sudah ke seluruh pulau besar di Indonesia, dari Pulau Sumatra hingga ke
                            Papua.
                            Pelayanan Multi-warehouse ini akan memberikan pengalaman belanja dan kenyamanan terbaik
                            kepada
                            konsumen dari sisi efisiensi waktu, fleksibilitas pengiriman dan penghematan ongkos kirim.
                            Layanan
                            ini sudah terintergrasi langsung dengan aplikasi Gramedia.com, sehingga konsumen dapat
                            langsung
                            menggunakannya dengan memilih asal pengiriman bukunya.</p>
                    </article>
                </div>
                <div class="readOther">
                    <h2 class="titleH2 text-center">Other Release</h2>
                    <a href="update-news.html" class="buttonTxt center-flex">See all <span
                            class="ico icoArrow"></span></a>
                    <div class="newsList row">

                        {{>news channel=news index_start=1 index_end=4 tag="h3" col="col-md-6 col-lg-4"}}

                    </div>
                </div>

            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>