<!DOCTYPE html>
<html lang="en">

{{> head page="news"}}

<body>

    {{> header/header}}

    <main role="main" class="main news --bg-green">
        <div class="container">

            {{>breadcrumb parent="News" child="Article"}}

            <div class="newsContainer col-xl-11 mx-auto">
                <div class="newsHl">
                    <div class="newsCaption text-center">
                        <h1 class="titleH2">Article</h1>
                    </div>

                    {{>news channel=news index_start=0 index_end=1 tag="h2" lead=true more=true}}

                </div>
                <div class="newsList row">

                    {{>news channel=news index_start=0 index_end=9 tag="h3" col="col-md-6 col-lg-4"}}

                </div>

                {{>paging}}

            </div>
        </div>
    </main>

    {{> footer/footer}}

    {{> js}}

</body>

</html>