<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    {{!-- <!-- header -->
    {{> header}}
    <!-- header --> --}}

    <!-- preloader -->
    {{> preloader}}
    <!-- preloader -->

    <!-- main -->
    <main role="main">

        <div class="bgStatic bgStatic--warn">
            <div class="articleContent text-center">
                For better experience, rotate your screen or switch to bigger screen.
            </div>
        </div>

        <!-- Template Background Color -->
        <div class="bgColor__wrap">
            <div class="bgColor bgColor__cloud"></div>
            <div class="bgColor bgColor__white opac0"></div>
            <div class="bgColor bgColor__community opac0"></div>
            <div class="bgColor bgColor__credit opac0"></div>
        </div>
        <!-- Template Background Color -->

        <!-- Template Image Content -->
        <div class="bgStatic__wrap active">
            <div class="bgStatic">
                <div class="cover heightFull display-flex">
                    <div class="coverImg center-flex">
                        <picture class="coverBuilding heightFull center-flex">
                            <source srcset="./asset/images/cover-bg-mob.png" media="(max-width: 767px)" alt=""
                                width="563" height="633">
                            <img srcset="./asset/images/cover-bg.png" alt="" class="" width="1246" height="633">
                        </picture>
                    </div>
                    <div class="coverCta center-flex">
                        <button class="button buttonScroll center-flex">
                            <span class="icon-scroll"></span>
                            <span class="icon-arrow-down"></span>
                            scroll ke bawah
                        </button>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="pass center-flex heightFull disable opac0">
                    <div class="passWrap text-center">
                        <div class="passLogo">
                            {{>pass-logo}}
                        </div>
                        <form class="passForm">
                            <div class="passInput__wrap center-flex">
                                <input class="passInput" type="text" maxlength="1" autofocus="" autocomplete="off"
                                    id="pass1" aria-label="Input B charcter">
                                <input class="passInput" type="text" maxlength="1" autocomplete="off" id="pass2"
                                    aria-label="Input C charcter">
                                <input class="passInput" type="text" maxlength="1" autocomplete="off" id="pass3"
                                    aria-label="Input A charcter">
                            </div>
                        </form>
                        <label for="password" class="passLabel">Ketikkan “BCA” kemudian tekan enter</label>
                        <button type="button" class="passSubmit button buttonSubmit" id="passSubmit">enter</button>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="intro heightFull opac0">
                    <div class="introContent display-flex">
                        <picture class="introImg">
                            <source srcset="./asset/images/partnership-mob.png" media="(max-width: 767px)" alt=""
                                width="1112" height="316">
                            <img srcset="./asset/images/partnership.png" alt="" class="" width="469" height="639"
                                loading="lazy">
                        </picture>
                        <div class="articleContent text-center">
                            <p class="introTxt introTxt1">
                                Untuk mencapai kesuksesan dalam bisnis, salah satu hal yang bisa dilakukan adalah dengan
                                melakukan kolaborasi atau <i>partnership</i>. Kerja sama bisa dilakukan baik dalam
                                bentuk <i>branding</i>, <i>support</i>, maupun <i>joint marketing initiatives</i>.
                            </p>
                            <p class="introTxt introTxt2">
                                Dalam artikelnya, Majalah Forbes menyebutkan ada tiga manfaat dalam melakukan
                                <i>partnership</i>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="partnership heightFull opac0">
                    <div class="partnershipContent display-flex">
                        <h1 class="partnershipCaption articleTitle text-center">Partnership</h1>
                        <div class="partnershipList display-flex">
                            <div class="partnershipItem partnershipItem1">
                                <picture class="partnershipImg">
                                    <source srcset="./asset/images/partnership-1-mob.png" media="(max-width: 767px)"
                                        alt="" width="1112" height="316">
                                    <img srcset="./asset/images/partnership-1.png" alt="" class="" width="243"
                                        height="183" loading="lazy">
                                </picture>
                                <div class="articleContent opac0">
                                    <h2 class="partnershipTitle">Meningkatkan Pendapatan</h2>
                                    <p class="partnershipTxt">
                                        Contohnya Microsoft yang pendapatan komersialnya berasal dari <i>partner</i>
                                        mereka.
                                    </p>
                                </div>
                            </div>
                            <div class="partnershipItem partnershipItem2">
                                <picture class="partnershipImg">
                                    <source srcset="./asset/images/partnership-2-mob.png" media="(max-width: 767px)"
                                        alt="" width="1112" height="316">
                                    <img srcset="./asset/images/partnership-2.png" alt="" class="" width="377"
                                        height="275" loading="lazy">
                                </picture>
                                <div class="articleContent opac0">
                                    <h2 class="partnershipTitle">Mengakselerasi Inovasi</h2>
                                    <p class="partnershipTxt">
                                        Sebuah laporan di Harvard Business Review menunjukkan bahwa 94% eksekutif
                                        teknologi memandang kemitraan inovasi sebagai hal yang penting dalam strategi
                                        mereka.
                                    </p>
                                </div>
                            </div>
                            <div class="partnershipItem partnershipItem3">
                                <picture class="partnershipImg">
                                    <source srcset="./asset/images/partnership-3-mob.png" media="(max-width: 767px)"
                                        alt="" width="1112" height="316">
                                    <img srcset="./asset/images/partnership-3.png" alt="" class="" width="306"
                                        height="163" loading="lazy">
                                </picture>
                                <div class="articleContent opac0">
                                    <h2 class="partnershipTitle">Menciptakan Peluang Baru</h2>
                                    <p class="partnershipTxt">
                                        Bisnis <i>franchise</i> menghasilkan sekitar $827 miliar per tahun yang hanya
                                        berasal dari sekitar 792.000 perusahaan waralaba di Amerika Serikat saja.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="business center-flex heightFull opac0">
                    <div class="businessContent display-flex text-center">
                        <picture class="businessImg">
                            <source srcset="./asset/images/business-mob.png" media="(max-width: 767px)" alt=""
                                width="1112" height="316">
                            <img srcset="./asset/images/business.png" alt="" class="" width="260" height="163"
                                loading="lazy">
                        </picture>
                        <div class="articleContent">
                            <p class="businessTxt businessTxt1">
                                BCA menghadirkan <strong>Business Community</strong> sebagai wadah untuk pebisnis yang
                                merupakan Nasabah BCA Solitaire dan Prioritas.
                            </p>
                            <p class="businessTxt businessTxt2">
                                Ekosistem BCA Solitaire dan Prioritas beranggotakan hampir 200 ribu nasabah di berbagai
                                sektor seperti manufaktur, pertambangan, pertanian, perdagangan, hingga sektor ekonomi
                                lainnya.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="community center-flex heightFull opac0">
                    <div class="communityContent display-flex">
                        <h2 class="communityCaption articleTitle text-center">Business Community</h2>
                        <div class="articleContent communityIntro text-center">Mari bergabung bersama Business Community
                            dan dapatkan manfaatnya</div>
                        <div class="communityList display-flex">
                            <div class="communityItem communityItem1">
                                <picture class="communityImg">
                                    <source srcset="./asset/images/business-networking-mob.png"
                                        media="(max-width: 767px)" alt="" width="1112" height="316">
                                    <img srcset="./asset/images/business-networking.png" alt="" class="" width="189"
                                        height="201" loading="lazy">
                                </picture>
                                <div class="articleContent opac0">
                                    <h3 class="communityTitle">Networking</h3>
                                    <p class="communityTxt">
                                        dengan para pebisnis nasabah <br> BCA Solitaire dan Prioritas <br>
                                        dari seluruh Indonesia
                                    </p>
                                </div>
                            </div>
                            <div class="communityItem communityItem2">
                                <picture class="communityImg">
                                    <source srcset="./asset/images/business-reports-mob.png" media="(max-width: 767px)"
                                        alt="" width="1112" height="316">
                                    <img srcset="./asset/images/business-reports.png" alt="" class="" width="314"
                                        height="201" loading="lazy">
                                </picture>
                                <div class="articleContent opac0">
                                    <h3 class="communityTitle">Laporan Industri Eksklusif</h3>
                                    <p class="communityTxt">
                                        dari tim riset BCA
                                    </p>
                                </div>
                            </div>
                            <div class="communityItem communityItem3">
                                <picture class="communityImg">
                                    <source srcset="./asset/images/business-public-mob.png" media="(max-width: 767px)"
                                        alt="" width="1112" height="316">
                                    <img srcset="./asset/images/business-public.png" alt="" class="" width="223"
                                        height="201" loading="lazy">
                                </picture>
                                <div class="articleContent opac0">
                                    <h3 class="communityTitle">Publikasi Profil Bisnis</h3>
                                    <p class="communityTxt">
                                        di website prioritas.bca.co.id
                                    </p>
                                </div>
                            </div>
                            <div class="communityItem communityItem4">
                                <picture class="communityImg">
                                    <source srcset="./asset/images/business-promote-mob.png" media="(max-width: 767px)"
                                        alt="" width="1112" height="316">
                                    <img srcset="./asset/images/business-promote.png" alt="" class="" width="257"
                                        height="201" loading="lazy">
                                </picture>
                                <div class="articleContent opac0">
                                    <h3 class="communityTitle">Promosi Bisnis</h3>
                                    <p class="communityTxt">
                                        dalam konten berita website <br> prioritas.bca.co.id
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="communityJoin center-flex">
                            <div class="communityJoin__wrap">
                                <img src="./asset/images/bca-join-QR.svg" class="communityJoin__qr" alt="QR Code"
                                    width="88" height="88" loading="lazy">
                                <div class="communityJoin__content">
                                    Gabung Sekarang :
                                    <a href="https://prioritas.bca.co.id/en/Business-Community" target="_blank"
                                        rel="noopener noreferrer" class="communityJoin__link">bca.id/createbc</a>
                                </div>
                                <picture class="communityCursor">
                                    <source srcset="./asset/images/ico-click-mob.png" media="(max-width: 767px)" alt=""
                                        width="1112" height="316">
                                    <img srcset="./asset/images/ico-click.png" alt="" class="" width="45" height="51"
                                        loading="lazy">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="step center-flex heightFull opac0">
                    <div class="stepContent display-flex">
                        <h2 class="stepCaption text-center">
                            <span class="articleTitle articleTitle--med">6 Langkah Mudah</span>
                            <span class="articleChild">Bergabung di Business Community</span>
                        </h2>
                        <button class="button stepBack">
                            <img src="./asset/images/ico-back.png" alt="Back" width="25" height="25" loading="lazy">
                            <span>Lihat keuntungan <br> Business Community</span>
                        </button>
                        <div class="stepList display-flex">
                            <div class="stepItem stepItem1">
                                <div class="stepNum">1</div>
                                <picture class="stepImg">
                                    <source srcset="./asset/images/join-1-mob.png" media="(max-width: 767px)" alt=""
                                        width="1112" height="316">
                                    <img srcset="./asset/images/join-1.png" alt="" class="" width="182" height="217"
                                        loading="lazy">
                                </picture>
                                <div class="articleContent opac0">
                                    <p class="stepTxt">
                                        Masuk ke website <br> <a href="https://prioritas.bca.co.id" target="_blank"
                                            rel="noopener noreferrer">prioritas.bca.co.id</a>
                                    </p>
                                </div>
                            </div>
                            <div class="stepArrow stepArrow1">
                                {{!-- <picture>
                                    <source srcset="./asset/images/step-line-mob.png" media="(max-width: 767px)" alt=""
                                        width="1112" height="316">
                                    <img srcset="./asset/images/step-line.png" alt="" class="" width="128" height="23"
                                        loading="lazy">
                                </picture> --}}
                            </div>
                            <div class="stepItem stepItem2">
                                <div class="stepNum">2</div>
                                <picture class="stepImg">
                                    <source srcset="./asset/images/join-2-mob.png" media="(max-width: 767px)" alt=""
                                        width="1112" height="316">
                                    <img srcset="./asset/images/join-2.png" alt="" class="" width="182" height="217"
                                        loading="lazy">
                                </picture>
                                <div class="articleContent opac0">
                                    <p class="stepTxt">
                                        Pilih menu Business Community
                                    </p>
                                </div>
                            </div>
                            <div class="stepArrow stepArrow2">
                                {{!-- <picture>
                                    <source srcset="./asset/images/step-line-mob.png" media="(max-width: 767px)" alt=""
                                        width="1112" height="316">
                                    <img srcset="./asset/images/step-line.png" alt="" class="" width="128" height="23"
                                        loading="lazy">
                                </picture> --}}
                            </div>
                            <div class="stepItem stepItem3">
                                <div class="stepNum">3</div>
                                <picture class="stepImg">
                                    <source srcset="./asset/images/join-3-mob.png" media="(max-width: 767px)" alt=""
                                        width="1112" height="316">
                                    <img srcset="./asset/images/join-3.png" alt="" class="" width="182" height="217"
                                        loading="lazy">
                                </picture>
                                <div class="articleContent opac0">
                                    <p class="stepTxt">
                                        Klik Tambah Profil Bisnis
                                    </p>
                                </div>
                            </div>
                            <div class="stepArrow stepArrow3">
                                <div class="stepArrow--corn">
                                    <picture>
                                        <source srcset="./asset/images/step-line-corn-mob.png"
                                            media="(max-width: 767px)" alt="" width="1112" height="316">
                                        <img srcset="./asset/images/step-line-corn.png" alt="" class="" width="24"
                                            height="20" loading="lazy">
                                    </picture>
                                </div>
                            </div>
                            <div class="stepItem stepItem4">
                                <div class="stepNum">4</div>
                                <picture class="stepImg">
                                    <source srcset="./asset/images/join-4-mob.png" media="(max-width: 767px)" alt=""
                                        width="1112" height="316">
                                    <img srcset="./asset/images/join-4.png" alt="" class="" width="182" height="217"
                                        loading="lazy">
                                </picture>
                                <div class="articleContent opac0">
                                    <p class="stepTxt">
                                        Isi lengkap informasi yang diminta
                                    </p>
                                </div>
                            </div>
                            <div class="stepArrow stepArrow4">
                                {{!-- <picture>
                                    <source srcset="./asset/images/step-line-mob.png" media="(max-width: 767px)" alt=""
                                        width="1112" height="316">
                                    <img srcset="./asset/images/step-line.png" alt="" class="" width="128" height="23"
                                        loading="lazy">
                                </picture> --}}
                            </div>
                            <div class="stepItem stepItem5">
                                <div class="stepNum">5</div>
                                <picture class="stepImg">
                                    <source srcset="./asset/images/join-5-mob.png" media="(max-width: 767px)" alt=""
                                        width="1112" height="316">
                                    <img srcset="./asset/images/join-5.png" alt="" class="" width="182" height="217"
                                        loading="lazy">
                                </picture>
                                <div class="articleContent opac0">
                                    <p class="stepTxt">
                                        Klik Kirim dan selesai.
                                    </p>
                                </div>
                            </div>
                            <div class="stepArrow stepArrow5">
                                {{!-- <picture>
                                    <source srcset="./asset/images/step-line-mob.png" media="(max-width: 767px)" alt=""
                                        width="1112" height="316">
                                    <img srcset="./asset/images/step-line.png" alt="" class="" width="128" height="23"
                                        loading="lazy">
                                </picture> --}}
                            </div>
                            <div class="stepItem stepItem6">
                                <div class="stepNum">6</div>
                                <picture class="stepImg">
                                    <source srcset="./asset/images/join-6-mob.png" media="(max-width: 767px)" alt=""
                                        width="1112" height="316">
                                    <img srcset="./asset/images/join-6.png" alt="" class="" width="182" height="217"
                                        loading="lazy">
                                </picture>
                                <div class="articleContent opac0">
                                    <p class="stepTxt">
                                        Data bisnis Anda akan diverifikasi dalam waktu 1 hari kerja
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="soon center-flex heightFull opac0">
                    <div class="soonContent display-flex text-center">
                        <picture class="soonImg">
                            <source srcset="./asset/images/soon-mob.png" media="(max-width: 767px)" alt="" width="1112"
                                height="316">
                            <img srcset="./asset/images/soon.png" alt="" class="" width="251" height="229"
                                loading="lazy">
                        </picture>
                        <h3 class="soonCaption articleTitle text-center">
                            Segera Bergabung
                        </h3>
                        <div class="articleContent">
                            <p class="soonTxt soonTxt1">
                                Kembangkan Bisnis dan Networking Anda dengan <strong>Business Community</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgStatic">
                <div class="credit heightFull opac0">
                    <div class="creditWrap center-flex heightFull container">
                        <picture class="creditImg">
                            <source srcset="./asset/images/logo-bca-soliprio-mob.svg" media="(max-width: 768px)" alt=""
                                width="310" height="50">
                            <img srcset="./asset/images/logo-bca-soliprio.svg" alt="Solitaire BCA Prioritas" class=""
                                width="350" height="56">
                        </picture>
                        <div class="creditCaption center-flex">
                            <div class="creditItem">
                                BCA berizin dan diawasi oleh Otoritas Jasa Keuangan
                            </div>
                            <div class="creditItem">
                                BCA merupakan peserta penjaminan LPS
                            </div>
                        </div>
                    </div>
                    <div class="creditBottom display-flex">
                        {{!-- <div class="creditSocmed">
                            Follow Our Social Media
                            <a href="https://" target="_blank" rel="noopener noreferrer" class="creditSocmed__item"
                                aria-label="Facebook">
                                <span class="creditIcon creditIcon--fb"></span></a>
                            <a href="https://" target="_blank" rel="noopener noreferrer" class="creditSocmed__item"
                                aria-label="Instagram">
                                <span class="creditIcon creditIcon--ig"></span></a>
                            <a href="https://" target="_blank" rel="noopener noreferrer" class="creditSocmed__item"
                                aria-label="Twitter">
                                <span class="creditIcon creditIcon--tw"></span></a>
                        </div> --}}
                        <button class="button creditButton" onclick="refreshPage()" aria-label="Restart Page">
                            <span class="creditButton--restart"></span>Restart
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Template Image Content -->
        <!-- Fullpage Content -->
        <div id="fullpage" class="fullpage">
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
            <section class="section"></section>
        </div>
        <!-- Fullpage Content -->
        <div id="some-element"></div>
    </main>
    <!-- main -->

    {{> js}}

</body>

</html>