<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>

    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        <section class="container mt40">
            <div class="flex-center dir-column">
                <img src="asset/images/502.png" alt="" width="624" height="459">
                <h1 class="helpCaption text-center mt20">502 Bad Gateway</h1>
                <p class="helpText text-center mt10">Terjadi gangguan. Silakan menunggu beberapa saat lagi.
                </p>
            </div>
        </section>
    </main>
    <!-- footer -->
    {{> footer top=false}}

    {{> js}}

</body>

</html>