<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>

    <!-- header -->
    {{> header page="Hallyu" login=true}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        <div class="container">
            <ul class="breadcrumb breadcrumbChannel display-flex mt30 mb40">
                <li class="breadcrumbItem breadcrumbCaption">Hallyu</li>
                <li class="breadcrumbItem"><a href="#" class="breadcrumbLink active">Drama</a></li>
                <li class="breadcrumbItem"><a href="#" class="breadcrumbLink">K-Pop</a></li>
                <li class="breadcrumbItem"><a href="#" class="breadcrumbLink">Reality Show</a></li>
                <li class="breadcrumbItem"><a href="#" class="breadcrumbLink">Gosip</a></li>
            </ul>
        </div>
        {{> ads/skin}}
        {{> ads/billboard}}
        <section class="container">
            {{> event}}
            <div class="row display-flex mt40">
                <div class="col-gd-740">
                    {{> headline}}
                    {{> highlight}}
                    {{> ads/middle}}
                    {{> article}}
                    {{> ads/middle}}
                    {{> article}}
                    {{> ads/parallax}}
                    {{> article}}
                    <button class="button buttonMore mt40">More</button>
                </div>
                <div class="col-gd-300">
                    <aside>
                        {{> ads/right}}
                        {{> ads/right mt=20}}
                        {{> sidebar/trending}}
                        {{> ads/halfpage}}
                        {{> sidebar/recomm}}
                        {{> sidebar/hashtag}}
                        {{> sidebar/highlight}}
                        {{> sidebar/writer}}
                        {{> sidebar/event}}
                    </aside>
                </div>
            </div>
        </section>
    </main>
    {{> ads/sticky}}
    <!-- footer -->
    {{> footer}}

    {{> js page="Home" slick=true}}

</body>

</html>