<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>

    <!-- header -->
    {{> header page="Indeks"}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        {{> ads/skin}}
        <section class="container">
            <div class="row display-flex mt40">
                <div class="col-gd-740">
                    <form class="search" action="">
                        <div class="display-flex">
                            <div class="formSelect__wrap">
                                <select class="formSelect custom-select">
                                    <option value="Semua Kanal" selected="">Semua Kanal</option>
                                    {{#eachIndex menu}}
                                    {{#lt index compare = '11'}}
                                    {{lt}}
                                    <option value="{{item.title}}">{{item.title}}</option>
                                    {{/lt}}
                                    {{/eachIndex}}
                                </select>
                            </div>
                            <div class="formSelect__wrap flex-init">
                                <input type="text" id="search-date" class="formInput search-box"
                                    autocomplete="off" aria-label="Search Date">
                                <span class="icon icon-calendar searchIcon__cal"></span>
                            </div>
                            <button class="button buttonPink" type="submit" name="submit">
                                Cari Berita
                            </button>
                        </div>
                    </form>
                    {{> article-index mt=40}}
                    {{> paging active=all}}
                </div>
                <div class="col-gd-300">
                    <aside>
                        {{> ads/right}}
                        {{> ads/right mt=20}}
                        {{> sidebar/trending}}
                        {{> ads/halfpage}}
                        {{> sidebar/recomm}}
                    </aside>
                </div>
            </div>
        </section>
    </main>
    {{> ads/sticky}}
    <!-- footer -->
    {{> footer}}

    {{> js search=true}}

</body>

</html>