<!DOCTYPE html>
<html lang="en">
{{> head page="Home"}}

<body>

	<!-- header -->
	{{> header page="Home"}}
	<!-- header -->

	<!-- main -->
	<main role="main">
		{{> ads/skin}}
		{{> ads/billboard}}
		<section class="container">
			{{> event}}
			<div class="row display-flex mt40">
				<div class="col-gd-740">
					{{> headline}}
					{{> highlight}}
					{{> ads/middle}}
					{{> highlight-box}}
					{{> article}}
					{{> ads/middle}}
					{{> highlight-stories}}
					{{> article}}
					{{> highlight-promo}}
					{{> highlight-photo}}
					{{> article}}
					{{> career}}
					{{> ads/parallax}}
					{{> highlight-video}}
					{{> article-more}}
				</div>
				<div class="col-gd-300 -parent-sticky">
					<aside>
						{{> ads/right}}
						{{> ads/right mt=20}}
						{{> sidebar/trending}}
						{{> ads/halfpage}}
						{{> sidebar/recomm}}
						{{> sidebar/hashtag}}
						{{> sidebar/highlight}}
						{{> sidebar/writer}}
						{{> sidebar/event}}
						{{> sidebar/highlight-promo}}
						{{> ads/right-sticky}}
					</aside>
				</div>
			</div>
		</section>
	</main>
	{{> ads/sticky}}
	<!-- footer -->
	{{> footer}}

	{{> js page="Home" slick=true json=true adsticky=true}}

</body>

</html>