<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>

	<!-- header -->
	{{> header}}
	<!-- header -->

	<!-- main -->
	<main role="main">
		{{> ads/billboard}}
		<section class="container">
			{{> event}}
			<div class="row display-flex mt40">
				<div class="col-gd-740">
					{{> headline}}
					{{> highlight}}
					{{> ads/middle}}
					{{> highlight-box}}
				</div>
				<div class="col-gd-300">
					{{> ads/right}}
					{{> ads/right mt=20}}
				</div>
			</div>
		</section>
	</main>

	<!-- footer -->
	{{!> footer}}

	{{> js}}

</body>

</html>