<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>

    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        <section class="container container--small display-flex dir-column mt30">
            <div class="formCaption formCaption--big text-center">Buat Password Baru</div>
            <form action="">
                <div class="formText text-center">
                    Masukkan password terbarumu
                </div>
                <div class="formWrap mt20">
                    <span class="icon icon-key formIcon">
                    </span>
                    <input class="formInput formInput__wicon text-center" id="password" type="text"
                        placeholder="password" aria-label="Input Password">
                    <button class="button buttonEye" type="button" aria-label="Show password" toggle="#password"><span
                            class="icon icon-eye formIcon"></span></button>
                </div>
                <div class="formWrap mt20">
                    <span class="icon icon-key formIcon">
                    </span>
                    <input class="formInput formInput__wicon text-center" id="password2" type="text"
                        placeholder="Ketik Ulang Password" aria-label="Retype Password">
                    <button class="button buttonEye" type="button" aria-label="Show password" toggle="#password2"><span
                            class="icon icon-eye formIcon"></span></button>
                </div>
                <button class="button buttonPink buttonPink--full mt20" type="submit" name="submit">
                    Ubah Password
                </button>
            </form>
        </section>
    </main>
    <!-- footer -->
    {{> footer top=false}}

    {{> js page="faccess"}}

</body>

</html>