<!DOCTYPE html>
<html lang="en">
{{> head page="Profile"}}

<body>

    <!-- header -->
    {{> header login=true}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        {{> ads/skin}}
        <section class="profile container">
            <div class="row display-flex mt40">
                <div class="profileCol_left col-gd-300">
                    <aside class="profileNav">
                        {{> profile/profile-det}}
                        {{> profile/profile-nav active="Pending"}}
                    </aside>
                </div>
                <div class="profileCol_right col-gd-740">
                    <div class="highlightCaption">Pending</div>
                    <div class="flex-center dir-column mt30">
                        <img src="asset/images/icon-article.png" class="" alt="" width="138" height="138"
                            loading="lazy">
                        <div class="profileCaption mt20">Tulisan Kamu Masih Kosong</div>
                        <div class="profileText mt10">
                            Kamu belum menerbitkan artikel!
                            Tulis sekarang, yuk!
                        </div>
                        <a href="profile-write.html" class="button buttonPink buttonPink--full text-center mt30">Mulai
                            Menulis</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {{> ads/sticky}}
    <!-- footer -->
    {{> footer}}

    {{> js}}

</body>

</html>