<!DOCTYPE html>
<html lang="en">
{{> head page="Profile"}}

<body>

    <!-- header -->
    {{> header login=true}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        {{> ads/skin}}
        <section class="profile container">
            <div class="row display-flex mt40">
                <div class="profileCol_left col-gd-300">
                    <aside class="profileNav">
                        {{> profile/profile-det}}
                        {{> profile/profile-nav active="Beranda"}}
                    </aside>
                </div>
                <div class="profileCol_right col-gd-740">
                    <div class="highlightCaption">Koleksi Artikelmu</div>
                    {{> article-index}}
                    <button class="button buttonMore mt40">Lihat Lainnya</button>
                </div>
            </div>
        </section>
    </main>
    {{> ads/sticky}}
    <!-- footer -->
    {{> footer}}

    {{> js}}

</body>

</html>