<!DOCTYPE html>
<html lang="en">
{{> head page="Profile" select2=true}}

<body>

    <!-- header -->
    {{> header login=true}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        {{> ads/skin}}
        <section class="profile container">
            <div class="row display-flex mt40">
                <div class="profileCol_left col-gd-300">
                    <aside class="profileNav">
                        {{> profile/profile-det}}
                        {{> profile/profile-nav active="Tulis Artikel"}}
                    </aside>
                </div>
                <div class="profileCol_right col-gd-740">
                    <div class="highlightCaption">Tulis Artikel</div>
                    <form class="mt30">
                        {{> profile/section}}
                        <!-- s : more section -->
                        <div class="profileSection__wrap mt30">
                            <div class="profileHeading display-flex jcontent-between">
                                Subheading 1
                                <button type="button" class="button profileSection__del">Hapus</button>
                            </div>
                            {{> profile/section1}}
                        </div>
                        <div id="load">

                        </div>
                        <!-- e : more section -->
                        <button class="button buttonWhite buttonWhite--big mt30" id="buttonSection" type="button"><span
                                class="profileBtn__add mr10">+</span> Tambah Section</button>

                        {{> profile/tags}}
                        <div class="display-flex aitems-center mt20">
                            <button class="button buttonPink buttonPink--medium mr10" type="submit">Submit</button>
                            <button class="button buttonWhite buttonWhite--small" type="button">Jadikan Draft</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    {{!> ads/sticky}}
    <!-- footer -->
    {{> footer}}

    {{> js page="Profile"}}
    <script src="//cdn.gaic.com/cdn/ui-bootstrap/0.58.0/js/lib/ckeditor/ckeditor.js"></script>
    <script defer src="./asset/js/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script defer src="./asset/js/select2/select2.min.js"></script>
    <script defer type="text/javascript" src="asset/js/more-section.min.js"></script>
    <script>
        $(document).ready(function () {
            //upload image
            $('input[type=file]').change(function (e) {
                $in = $(this);
                $in.next().html($in.val());
            });

            //desc editor
            $('.editor').each(function () {
                CKEDITOR.replace($(this).prop('id'));
            });
            //CKEDITOR.replace('editor');
            CKEDITOR.editorConfig = function (config) {
                config.extraPlugins = 'confighelper';
            };

            //delete section
            var btndel = $('.profileSection__del');
            btndel.click(function (e) {
                $(this).parent().parent().remove();
            })

            //tags label
            $('.-tagselect').tagsinput({
                freeInput: true,
                tagClass: 'tagsItem'
            });

            //select2 category
            $('.js-select2').select2({
                width: '100%',
                "language": {
                    "noResults": function () {
                        return "Hasil tidak ditemukan";
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
        })
    </script>

</body>

</html>