<!DOCTYPE html>
<html lang="en">
{{> head page="Profile"}}

<body>

    <!-- header -->
    {{> header login=true}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        {{> ads/skin}}
        <section class="profile container">
            <div class="row display-flex mt40">
                <div class="profileCol_left col-gd-300">
                    <aside class="profileNav">
                        {{> profile/profile-det}}
                        {{> profile/profile-nav active="Ubah Profil"}}
                    </aside>
                </div>
                <div class="profileCol_right col-gd-740">
                    <div class="highlightCaption">Ubah Profil</div>
                    <div class="profileUpload__wrap display-flex mt30">
                        <div class="profileUpload upload-box display-flex dir-column">
                            <button class="button profileUpload__btn" aria-label="Upload Image"><span
                                    class="icon icon-cam"></span></button>
                            <input type="file" class="profileUpload__input image-upload" id="uploadImg" name="uploadImg"
                                accept="image/*" />
                            <div class="profileUpload__img image-preview userAvatar">

                            </div>
                            <button class="button buttonWhite mt10" onclick="deletePreviewPhoto()">Hapus</button>
                        </div>
                        <ul class="profileStep">
                            <li class="profileStep__item mt10">Upload foto dengan ukuran 500 x 500 px</li>
                            <li class="profileStep__item mt10">Foto yang diupload harus dibawah 1 mb</li>
                            <li class="profileStep__item mt10">Avatarmu akan muncul dalam 5 menit</li>
                        </ul>
                    </div>
                    <form action="" class="mt30">
                        <div class="formWrap mt20">
                            <label for="email" class="formLabel">Email</label>
                            <input class="formInput mt10" id="email" type="email" value="sophieanggita@gmail.com"
                                disabled>
                        </div>
                        <div class="formWrap mt20">
                            <label for="username" class="formLabel">Username</label>
                            <input class="formInput mt10" id="username" type="text" value="Sophie-Anggita" disabled>
                        </div>
                        <div class="formWrap mt20">
                            <label for="phone" class="formLabel">Nomor Telepon</label>
                            <input class="formInput mt10" id="phone" type="text" value="0812-3456-7890" inputmode="tel"
                                disabled>
                        </div>
                        <div class="formWrap formWrap__col row mt20">
                            <div class="formWrap__item col-gd10-5">
                                <label for="frontname" class="formLabel">Nama Depan</label>
                                <input class="formInput mt10" id="frontname" type="text" value="Sophie">
                            </div>
                            <div class="formWrap__item col-gd10-5">
                                <label for="lastname" class="formLabel">Nama Belakang</label>
                                <input class="formInput mt10" id="lastname" type="text" value="Anggita">
                            </div>
                        </div>
                        <div class="mt20">
                            <label for="birthdate" class="formLabel">Tanggal Lahir</label>
                            <div class="formWrap mt10">
                                <input type="text" id="birthdate" class="formInput formInput__icon" autocomplete="off"
                                    value="01/08/1995">
                                <span class="icon icon-calendar profileIcon__cal"></span>
                            </div>
                        </div>
                        <div class="formLabel mt20">Jenis Kelamin</div>
                        <div class="display-flex mt10">
                            <div class="formWrap display-flex aitems-center">
                                <input type="radio" id="man" class="formRadio" name="sex">
                                <label for="man" class="formText ml10">Laki-laki</label>
                            </div>
                            <div class="formWrap display-flex aitems-center ml10">
                                <input type="radio" id="woman" class="formRadio" name="sex">
                                <label for="woman" class="formText ml10">Perempuan</label>
                            </div>
                        </div>
                        <div class="formSelect__wrap mt20">
                            <label for="city" class="formLabel profileLabel">Kota</label>
                            <select class="formSelect custom-select mt10" id="city">
                                <option value="DI Yogyakarta">DI Yogyakarta</option>
                                <option value="DKI Jakarta" selected>DKI Jakarta</option>
                                <option value="Tangerang">Tangerang</option>
                            </select>
                        </div>
                        <div class="formWrap profileSocial profileSocial__setting">
                            <div class="formLabel mt20">Sosial Media</div>
                            <div class="display-flex aitems-center mt10">
                                <div class="icon icon-fb"></div>
                                <input class="formInput ml10" id="facebook" type="text" value="" aria-label="facebook">
                            </div>
                            <div class="display-flex aitems-center mt20">
                                <div class="icon icon-ig"></div>
                                <input class="formInput ml10" id="instagram" type="text" value=""
                                    aria-label="instagram">
                            </div>
                            <div class="display-flex aitems-center mt20">
                                <div class="icon icon-tw"></div>
                                <input class="formInput ml10" id="twitter" type="text" value="" aria-label="twitter">
                            </div>
                            <div class="display-flex aitems-center mt20">
                                <div class="icon icon-yt"></div>
                                <input class="formInput ml10" id="youtube" type="text" value="" aria-label="youtube">
                            </div>
                            <div class="display-flex aitems-center mt20">
                                <div class="icon icon-ln"></div>
                                <input class="formInput ml10" id="linkedin" type="text" value="" aria-label="linkedin">
                            </div>
                        </div>
                        <div class="formWrap formArea__wrap mt20">
                            <label for="bio" class="formLabel">Bio</label>
                            <textarea class="formArea mt10" id="bio" cols="30" rows="8"></textarea>
                            <div class="formMisc display-flex jcontent-end mt10">
                                <div class="formCount">50/50</div>
                            </div>
                        </div>
                        <div class="highlightCaption mt40">Ubah Password</div>
                        <div class="mt10">
                            <label for="password" class="formLabel">Buat Password Baru</label>
                            <div class="formWrap mt10">
                                <input class="formInput formInput__icon" id="password" type="password">
                                <button class="button buttonEye profileBtn__eye close" type="button"
                                    aria-label="Show password" toggle="#password"><span
                                        class="icon icon-eye formIcon"></span></button>
                            </div>
                        </div>
                        <div class="mt20">
                            <label for="password2" class="formLabel">Ketik Ulang Password Baru</label>
                            <div class="formWrap mt10">
                                <input class="formInput formInput__icon" id="password2" type="password">
                                <button class="button buttonEye profileBtn__eye close" type="button"
                                    aria-label="Show password" toggle="#password2"><span
                                        class="icon icon-eye formIcon"></span></button>
                            </div>
                        </div>
                        <button class="button buttonPink buttonPink--full mt30" type="submit">Simpan</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    {{> ads/sticky}}
    <!-- footer -->
    {{> footer}}

    {{> js page="Profile" date=true}}
    <script>
        $(document).ready(function () {
            //image upload preview
            function initImageUpload(box) {
                let uploadField = box.querySelector('.image-upload');

                uploadField.addEventListener('change', getFile);

                function getFile(e) {
                    let file = e.currentTarget.files[0];
                    checkType(file);
                }

                function previewImage(file) {
                    let thumb = box.querySelector('.image-preview'),
                        reader = new FileReader();

                    reader.onload = function () {
                        thumb.style.backgroundImage = 'url(' + reader.result + ')';
                    }
                    reader.readAsDataURL(file);
                    thumb.className += ' js--no-default';
                }

                function checkType(file) {
                    let imageType = /image.*/;
                    if (!file.type.match(imageType)) {
                        throw 'File bukan gambar';
                    } else if (!file) {
                        throw 'Tidak ada gambar yang dipilih';
                    } else {
                        previewImage(file);
                    }
                }

            }

            // initialize box-scope
            var boxes = document.querySelectorAll('.upload-box');

            for (let i = 0; i < boxes.length; i++) {
                let box = boxes[i];
                initImageUpload(box);
            }
        })
        //delete preview photo
        function deletePreviewPhoto(box) {
            let thumb = $('.image-preview');
            thumb.removeAttr("style")
        }
    </script>

</body>

</html>