<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>

    <!-- header -->
    {{> header page="Numpang Promo"}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        <div class="container">
            <div class="channelCaption mt30">
                <img src="asset/images/numpang-promo-landing.png" class="" alt="Numpang Promo" width="373" height="51">
            </div>
        </div>
        {{> ads/skin}}
        {{> ads/billboard}}
        <section class="container">
            <div class="row display-flex mt40">
                <div class="col-gd-740">
                    {{> article-index tag="promo"}}
                    {{> paging active=false}}
                </div>
                <div class="col-gd-300">
                    <aside>
                        {{> ads/right}}
                        {{> ads/right mt=20}}
                        {{> sidebar/trending}}
                        {{> ads/halfpage}}
                        {{> sidebar/recomm}}
                        {{> sidebar/hashtag}}
                    </aside>
                </div>
            </div>
        </section>
    </main>
    {{> ads/sticky}}
    <!-- footer -->
    {{> footer}}

    {{> js page=""}}

</body>

</html>