<!DOCTYPE html>
<html lang="en">
{{> head page="Read" photozoom=true slick=true}}

<body>

    <!-- header -->
    {{> header}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        {{> ads/skin}}
        <div class="container">
            <ul class="breadcrumb display-flex mt40 mb40">
                <li class="breadcrumbItem"><a href="#" class="breadcrumbLink">Home</a></li>
                <li class="breadcrumbItem"><a href="#" class="breadcrumbLink active">Numpang Promo</a></li>
            </ul>
        </div>
        <section class="container">
            <div class="row display-flex mt40">
                <div class="read my-gallery col-gd-740 images-container">
                    <article>
                        <h1 class="readTitle text-center">Pasangan Serasi, Cek 6 Kecocokan antara Sagitarius dan Leo
                        </h1>
                        <div class="flex-center jcontent-between mt20">
                            <div class="readWriter"><b><a href="#">Alphonse Elric</a></b> | 11 September 2021 | 12.23
                                WIB</div>
                            {{> read/share}}
                        </div>
                        <div class="readImg__wrap">
                            <figure class="readFigure" itemprop="associatedMedia" itemscope
                                itemtype="http://schema.org/ImageObject">
                                <a href="asset/images/sample/art-big-zoom-0.jpg" itemprop="contentUrl"
                                    data-size="947x633">
                                    <img src="asset/images/sample/art-big-0.jpg" class="readImg" itemprop="thumbnail"
                                        alt="" width="740" height="436" />
                                </a>
                                <figcaption itemprop="caption description" class="readImg__thumb text-center mt10">
                                    Lorem
                                    ipsum dolor sit amet</figcaption>
                                <button class="button buttonExpand"><span class="icon icon-expand"></span>
                                    Perbesar</button>
                            </figure>
                        </div>
                        <div class="readContent mt30">
                            <h2>1. Delish Burger Jangan Takut Gendut!</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras id
                                eu libero. Sit turpis massa, non suscipit in bibendum nec volutpat viverra. Facilisi
                                faucibus facilisi pharetra pellentesque tristique. Lorem nullam placerat venenatis id
                                pretium magna viverra cursus placerat. Nullam pulvinar nulla id nisl id at hendrerit
                                massa.</p>
                            <p>
                                In ullamcorper quis justo, commodo tincidunt.
                                <a href="#">Nunc tellus sed neque lorem donec</a> sem. Gravida ac sit tempor diam. Morbi
                                sapien
                                hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                                nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                                dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                                Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                                porttitor amet morbi.
                            </p>
                            <h2>2. Makan Burger Citarasa Indonesia</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras id
                                eu libero. Sit turpis massa, non suscipit in bibendum nec volutpat viverra. Facilisi
                                faucibus facilisi pharetra pellentesque tristique. Lorem nullam placerat venenatis id
                                pretium magna viverra cursus placerat. Nullam pulvinar nulla id nisl id at hendrerit
                                massa.</p>
                            <p>
                                In ullamcorper quis justo, commodo tincidunt.
                                <a href="#">Nunc tellus sed neque lorem donec</a> sem. Gravida ac sit tempor diam. Morbi
                                sapien
                                hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                                nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                                dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                                Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                                porttitor amet morbi.
                            </p>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras
                                    id eu libero. Sit turpis massa, non suscipit in bibendum.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras
                                    id eu libero. Sit turpis massa, non suscipit in bibendum.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras
                                    id eu libero. Sit turpis massa, non suscipit in bibendum.</li>
                            </ul>
                            <div class="readImg__wrap--left">
                                <figure class="readFigure" itemprop="associatedMedia" itemscope
                                    itemtype="http://schema.org/ImageObject">
                                    <a href="asset/images/sample/stories-3.png" itemprop="contentUrl"
                                        data-size="239x426">
                                        <img src="asset/images/sample/stories-3.png" class="readImg"
                                            itemprop="thumbnail" alt="" width="239" height="426" />
                                    </a>
                                    <figcaption itemprop="caption description" class="readImg__thumb text-center">
                                    </figcaption>
                                    <button class="button buttonExpand"><span class="icon icon-expand"></span>
                                        Perbesar</button>
                                </figure>
                            </div>
                            <p>
                                In ullamcorper quis justo, commodo tincidunt.
                                Nunc tellus sed neque lorem donec sem. Gravida ac sit tempor diam. Morbi sapien
                                hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                                nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                                dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                                Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                                porttitor amet morbi.
                            </p>
                            <p>
                                In ullamcorper quis justo, commodo tincidunt.
                                Nunc tellus sed neque lorem donec sem. Gravida ac sit tempor diam. Morbi sapien
                                hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                                nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                                dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                                Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                                porttitor amet morbi.
                            </p>
                            <h2>3. Rasa Bintang Lima Harga Kaki Lima</h2>
                            <p>
                                In ullamcorper quis justo, commodo tincidunt.
                                Nunc tellus sed neque lorem donec sem. Gravida ac sit tempor diam. Morbi sapien
                                hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                                nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                                dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                                Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                                porttitor amet morbi.
                            </p>
                            <ol>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras
                                    id eu libero. Sit turpis massa, non suscipit in bibendum.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras
                                    id eu libero. Sit turpis massa, non suscipit in bibendum.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et cras
                                    id eu libero. Sit turpis massa, non suscipit in bibendum.</li>
                            </ol>
                            <div class="readImg__wrap--right">
                                <figure class="readFigure" itemprop="associatedMedia" itemscope
                                    itemtype="http://schema.org/ImageObject">
                                    <a href="asset/images/sample/stories-2.png" itemprop="contentUrl"
                                        data-size="239x426">
                                        <img src="asset/images/sample/stories-2.png" class="readImg"
                                            itemprop="thumbnail" alt="" width="239" height="426" />
                                    </a>
                                    <figcaption itemprop="caption description" class="readImg__thumb text-center">
                                    </figcaption>
                                    <button class="button buttonExpand"><span class="icon icon-expand"></span>
                                        Perbesar</button>
                                </figure>
                            </div>
                            <p>
                                In ullamcorper quis justo, commodo tincidunt.
                                Nunc tellus sed neque lorem donec sem. Gravida ac sit tempor diam. Morbi sapien
                                hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                                nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                                dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                                Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                                porttitor amet morbi.
                            </p>
                            <p>
                                In ullamcorper quis justo, commodo tincidunt.
                                Nunc tellus sed neque lorem donec sem. Gravida ac sit tempor diam. Morbi sapien
                                hendrerit fringilla vulputate arcu. Fringilla arcu tincidunt morbi risus malesuada eu
                                nibh dui. Adipiscing eget bibendum sociis mauris ipsum. Commodo leo nec, molestie amet
                                dui massa ornare metus, bibendum. Ornare posuere elementum maecenas aliquam aliquet.
                                Elementum ac platea condimentum laoreet massa habitasse sagittis. Elit elementum, enim
                                porttitor amet morbi.
                            </p>
                            <div class="promoCaption mt40">Menu Kami</div>
                            <div class="promoBox display-flex mt30">
                                <img src="asset/images/sample/burger-0.png" class="readImg" alt="" width="200"
                                    height="200" loading="lazy">
                                <div class="promoContent">
                                    <div class="promoBox__title">Small Burger</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et
                                        cras id eu libero. Sit turpis massa, non suscipit in bibendum nec volutpat
                                        viverra. Facilisi faucibus facilisi pharetra pellentesque tristique.</p>
                                    <button class="button buttonPink--small">Beli</button>
                                </div>
                            </div>
                            <div class="promoBox display-flex mt30">
                                <img src="asset/images/sample/burger-1.png" class="readImg" alt="" width="200"
                                    height="200" loading="lazy">
                                <div class="promoContent">
                                    <div class="promoBox__title">Medium Burger</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et
                                        cras id eu libero. Sit turpis massa, non suscipit in bibendum nec volutpat
                                        viverra. Facilisi faucibus facilisi pharetra pellentesque tristique.</p>
                                    <button class="button buttonPink--small">Beli</button>
                                </div>
                            </div>
                            <div class="promoBox display-flex mt30">
                                <img src="asset/images/sample/burger-0.png" class="readImg" alt="" width="200"
                                    height="200" loading="lazy">
                                <div class="promoContent">
                                    <div class="promoBox__title">Large Burger</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et
                                        cras id eu libero. Sit turpis massa, non suscipit in bibendum nec volutpat
                                        viverra. Facilisi faucibus facilisi pharetra pellentesque tristique.</p>
                                    <button class="button buttonPink--small">Beli</button>
                                </div>
                            </div>
                            <div class="promoBox display-flex mt30">
                                <img src="asset/images/sample/burger-1.png" class="readImg" alt="" width="200"
                                    height="200" loading="lazy">
                                <div class="promoContent">
                                    <div class="promoBox__title">Double Deluxe Burger</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mattis id proin et
                                        cras id eu libero. Sit turpis massa, non suscipit in bibendum nec volutpat
                                        viverra. Facilisi faucibus facilisi pharetra pellentesque tristique.</p>
                                    <button class="button buttonPink--small">Beli</button>
                                </div>
                            </div>
                            <div class="promoCaption mt40">Menu Lainnya</div>
                            {{> read/more-promo}}
                        </div>
                        <div class="readCaption mt40">Simak Video Pilihan Di Bawah Ini :</div>
                        <div class="readContent__vid mt10">
                            <iframe width="740" height="412" src="https://www.youtube.com/embed/JjAtkmSd46g?controls=0"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div class="readTag mt20">
                            Tags :
                            <ul class="display-flex">
                                <li><a href="#" class="readTag__link">#Relationship</a></li>
                                <li><a href="#" class="readTag__link">#Zodiak</a></li>
                                <li><a href="#" class="readTag__link">#Love</a></li>
                                <li><a href="#" class="readTag__link">#Tips</a></li>
                            </ul>
                        </div>
                    </article>
                    <div class="readWriter__box display-flex mt30">
                        <img loading="lazy" src="https://api.lorem.space/image/face?w=125&amp;h=125&amp;hash=8B7BCDC2"
                            alt="" class="readWriter__avatar" width="125" height="125">
                        <div class="readWriter__wrap">
                            <div class="readWriter--big">
                                Alphonse Elric
                            </div>
                            <div class="readWriter__desc">
                                Jurnalis di Aramula.com. Menulis konten di Aramula.com, Kompas.com, Bisnis.com, dll.
                            </div>
                            <a href="#" class="readWriter__more mt10">Lihat artikel saya lainnya</a>
                            {{> read/social}}
                        </div>
                    </div>
                    <div class="readBottom display-flex aitems-center jcontent-between mt40">
                        {{> read/share-footer}}
                        <div class="commentCount">
                            4 Komentar
                        </div>
                    </div>
                    <div class="readCaption--big mt30">Apa Reaksimu?</div>
                    {{> read/react}}
                    <div class="readCaption--big mt40">Tambahkan Komentar</div>
                    {{> read/comment-no-paging}}
                    <div class="readCaption--big mt40">Baca Juga</div>
                    {{> read/more}}
                    <button class="button buttonMore mt40">Indeks Berita</button>
                </div>
                <div class="col-gd-300">
                    <aside>
                        {{> ads/right}}
                        {{> ads/right mt=20}}
                        {{> sidebar/trending}}
                        {{> ads/halfpage}}
                        {{> sidebar/recomm}}
                        {{> sidebar/hashtag}}
                    </aside>
                </div>
            </div>
        </section>
    </main>
    <!-- s: popup photo element -->
    {{> read/pswp}}
    <!-- e: popup photo element -->
    <!-- s: popup report -->
    {{> read/popup-report}}
    <!-- e: popup report -->

    {{> ads/sticky}}
    <!-- footer -->
    {{> footer}}

    {{> js page="Read" photozoom=true slick=true}}
    <script>
        $(document).ready(function () {
            // headline slider
            function createSlick() {
                $('#smpromo').slick({
                    dots: false,
                    arrows: true,
                    infinite: true,
                    speed: 500,
                    cssEase: 'linear',
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    autoplay: false,
                    //autoplaySpeed: 2000,
                    //pauseOnHover: true
                });
            }
            if ($('#smpromo').is(':visible')) {
                createSlick();
            }
        })
    </script>

</body>

</html>