<!DOCTYPE html>
<html lang="en">
{{> head page=""}}

<body>

    <!-- header -->
    {{> header page="Video"}}
    <!-- header -->

    <!-- main -->
    <main role="main">
        <div class="container">
            <div class="channelCaption mt30">Video</div>
        </div>
        {{> ads/skin}}
        {{> ads/billboard}}
        <section class="container">
            <div class="videoRow mt40">
                
                <div class="videoCol videoBig col-gd12-7">
                </div>
                <div class="videoCol videoSmall col-gd12-5">
                </div>
                {{> ads/middle}}
                {{> index-video}}
                <div class="flex-center">
                    <button class="button buttonMore mt40">Indeks Berita</button>
                </div>
            </div>
        </section>
    </main>
    {{> ads/sticky}}
    <!-- footer -->
    {{> footer}}

    {{> js page=""}}

</body>

</html>