<footer class="footer">
    <div class="footerWrap container">
        <div class="row">
            <div class="col-sm-3">
                <a href="https://www.bisnis.com/">
                    <img src="https://static.bisnis-cdn.com/bisnis/assets/images/2020/logo-footer.svg" class=""
                        alt="Bisnis.com" title="Bisnis.com" width="158" height="36" />
                </a>
                <div class="footerSocmed">
                    <div class="footerAppWrap">
                        <a href="https://play.google.com/store/apps/details?id=bisnis.com.official" class="footerApp"
                            title="Android app on Google Play">
                            <img src="./asset/images/logo/google-play.svg" class="" alt="" width="110" height="33">
                        </a>
                        <a href="https://itunes.apple.com/id/app/bisnis-com/id945608365?mt=8" class="footerApp"
                            title="Download on the App Store">
                            <img src="./asset/images/logo/app-store.svg" class="" alt="" width="110" height="33">
                        </a>
                    </div>
                    <div class="footerSocmedWrap">
                        <div class="footerSocmedCaption text-center">Connect With Us</div>
                        <a href="#" class="footerSocmedLink" title="facebook">
                            <span class="icoInline icoSocmed footerSocmed--fb"></span>
                        </a>
                        <a href="#" class="footerSocmedLink" title="twitter">
                            <span class="icoInline icoSocmed footerSocmed--tw"></span>
                        </a>
                        <a href="#" class="footerSocmedLink" title="instagram">
                            <span class="icoInline icoSocmed footerSocmed--ig"></span>
                        </a>
                        <a href="#" class="footerSocmedLink" title="youtube">
                            <span class="icoInline icoSocmed footerSocmed--yt"></span>
                        </a>
                    </div>
                </div>
                <div class="footerCopyright">Copyright © 2022 - Bisnis Indonesia.</div>
            </div>
            <div class="col-sm-7">
                <div class="footerContent">
                    <div class="footerCol">
                        <div class="footerLink footerLink--big">BIG Media</div>
                        <a href="#" class="footerLink footerLink--small">Bisnis.com</a>
                        <a href="#" class="footerLink footerLink--small">BisnisIndonesia.id</a>
                        <a href="#" class="footerLink footerLink--small">BisnisMuda.id</a>
                        <a href="#" class="footerLink footerLink--small">HypeAbis.id</a>
                        <a href="#" class="footerLink footerLink--small">Context.id</a>
                        <a href="#" class="footerLink footerLink--small">DataIndonesia.id</a>
                        <a href="#" class="footerLink footerLink--small">Solopos.com</a>
                        <a href="#" class="footerLink footerLink--small">HarianJogja.com</a>
                    </div>
                    <div class="footerCol">
                        <div class="footerLink footerLink--big">BIG Services</div>
                        <a href="#" class="footerLink footerLink--small">Epaper Bisnis Indonesia</a>
                        <a href="#" class="footerLink footerLink--small">Konten Interaktif</a>
                        <a href="#" class="footerLink footerLink--small">Konten Premium</a>
                        <a href="#" class="footerLink footerLink--small">Bisnis Plus</a>
                        <a href="#" class="footerLink footerLink--small">Bisnis TV</a>
                        <a href="#" class="footerLink footerLink--small">BroadCast</a>
                    </div>
                    <div class="footerCol">
                        <div class="footerLink footerLink--big">Regional</div>
                        <div class="footerContent">
                            <div class="footerCol footerCol--small">
                                <a href="https://jakarta.bisnis.com/" class="footerLink footerLink--small">Jakarta</a>
                                <a href="https://bandung.bisnis.com/" class="footerLink footerLink--small">Bandung</a>
                                <a href="https://banten.bisnis.com/" class="footerLink footerLink--small">Banten</a>
                                <a href="https://semarang.bisnis.com/" class="footerLink footerLink--small">Semarang</a>
                                <a href="https://bali.bisnis.com/" class="footerLink footerLink--small">Bali</a>
                            </div>
                            <div class="footerCol footerCol--small">
                                <a href="https://sumatra.bisnis.com/" class="footerLink footerLink--small">Sumatra</a>
                                <a href="https://surabaya.bisnis.com/" class="footerLink footerLink--small">Surabaya</a>
                                <a href="https://kalimantan.bisnis.com/"
                                    class="footerLink footerLink--small">Kalimantan</a>
                                <a href="https://sulawesi.bisnis.com/" class="footerLink footerLink--small">Sulawesi</a>
                                <a href="https://papua.bisnis.com/" class="footerLink footerLink--small">Papua</a>
                            </div>
                        </div>
                    </div>
                    <div class="footerCol">
                        <div class="footerLink footerLink--big">Informasi</div>
                        <a href="https://www.bisnis.com/page/about-us" class="footerLink footerLink--small">Tentang
                            Kami</a>
                        <a href="https://www.bisnis.com/page/advertise-with-us"
                            class="footerLink footerLink--small">Info Iklan</a>
                        <a href="https://www.bisnis.com/page/privacy-policy"
                            class="footerLink footerLink--small">Kebijakan Privasi</a>
                        <a href="https://www.bisnis.com/page/code-of-conduct" class="footerLink footerLink--small">Kode
                            Etik</a>
                        <a href="https://www.bisnis.com/page/contact-us" class="footerLink footerLink--small">Kontak
                            Kami</a>
                        <a href="https://www.bisnis.com/page/career" class="footerLink footerLink--small">Karir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{{>footer/back-top}}