<div class="skyscrapper">
    <div class="skyscrapperFluid skyscrapperFluid--left">
        <div class="skyscrapper--left">
            <a href="https://toko.bisnis.com/bisnis-pro" target="_blank" class="billboardCta center-flex">
                <p>Nyaman tanpa iklan. <span>Langganan BisnisPro</span></p>
            </a>
        </div>
    </div>
    <div class="skyscrapperFluid skyscrapperFluid--right">
        <div class="skyscrapper--right">
            <a href="https://toko.bisnis.com/bisnis-pro" target="_blank" class="billboardCta center-flex">
                <p>Nyaman tanpa iklan. <span>Langganan BisnisPro</span></p>
            </a>
        </div>
    </div>
</div>