<div class="authorBest">
    <div class="authorImg">
        <img src="./asset/images/dummy/author/0-grey.jpg" alt="" width="{{width}}" height="{{height}}" {{#if lazy}}
            loading="lazy" {{/if}}>
    </div>
    {{#if title}}
    <h2 class="title"><span><img src="./asset/images/icon/author-best.png" alt="" width="35" height="35"></span> Author
        <span class="cl-red"> of the week</span></h2>
    {{/if}}
    <a href="author-details.html" class="authorBest__content">
        <h3 class="titleH3">Puti Karina (Puty) Puar</h3>
        <div class="authorDesc titleLead">
            Puty Puar is an illustrator, content creator, book author, and community leader. She is also known as
            'byputy'
            on social media for her heartwarming artworks, with a 100,000+ audience across platforms, and has worked
            with
            various brands and organizations. Puty founded and manages ‘Buibu Baca Buku’, a non-profit community aiming
            to
            empower Indonesian women, especially mothers, through literacy. She believes in the collective power of
            women to
            create, not only massive impacts but also long-lasting ones.
        </div>
        <div class="buttonArrow">
            Baca Selengkapnya
            <span class="ico icoArrow"></span>
        </div>
    </a>
</div>
{{#if widget}}
<div class="productLink --row">
    <a href="produk-detail.html" class="productImg">
        <img src="./asset/images/dummy/book/popular/3.png" alt="" width="133" height="200" loading="lazy">
    </a>
    <div class="productContent">
        <a href="landing-self.html" class="productLabel">Self Improvement</a>
        <h3 class="productTitle"><a href="produk-detail.html">Empowered ME (Mother Empowers): Ibu Berdaya Dimulai dari Diri Sendiri</a></h3>
        <a href="author-detail.html" class="productAuthor">Puti Puar</a>
    </div>
</div>
{{/if}}