<div class="catalogTab">
    <input type="radio" name="tabset" id="new" class="catalogTab__radio sr-only" checked>
    <label for="new" class="catalogTab__link">New Release</label>
    <input type="radio" name="tabset" id="best" class="catalogTab__radio sr-only">
    <label for="best" class="catalogTab__link">Bestseller</label>

    {{#if link}}
    <a href="catalog.html" aria-label="See all catalog" class="catalogMore">
        <span class="ico icoChevron"></span>
    </a>
    {{/if}}

    <div class="catalogWrap">
        <!--s: slider -->
        <div class="catalogContent">
            <div class="catalogList swiper">
                <div class="swiper-wrapper">

                    {{>product channel=product.New index_start=index_start index_end=index_end lazy=true tag="h3"
                    widget=true label=false
                    type="catalogItem swiper-slide" width="102" height="152"}}

                </div>
            </div>
            <div class="productArrow --next swiper-button-next"></div>
            <div class="productArrow --prev swiper-button-prev"></div>
        </div>
        <div class="catalogContent">
            <div class="catalogList swiper">
                <div class="swiper-wrapper">

                    {{>product channel=product.Best index_start=index_start index_end=index_end lazy=true tag="h3"
                    widget=true label=false
                    type="catalogItem swiper-slide" width="102" height="152"}}

                </div>
            </div>
            <div class="productArrow --next swiper-button-next"></div>
            <div class="productArrow --prev swiper-button-prev"></div>
        </div>
        <!--e: slider -->
    </div>
</div>