{{#each trending}}
<div class="hlItem swiper-slide">
    <a href="{{link}}" class="hlLink">
        <h1 class="hlImg">
            <img src="{{images}}" alt="{{title}}" width="611" height="368">
        </h1>
    </a>
</div>
{{/each}}