{{#each services}}
<div class="servicesItem">
    <div class="servicesIcon">
            <img src="{{images}}" alt="{{title}}" width="34" height="34">
        </div>
        <div class="servicesContent">
            <div class="servicesTitle">{{title}}</div>
            <div class="servicesDesc">{{desc}}</div>
        </div>
</div>
{{/each}}