{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="aboutTeam__item{{#if ../col}} {{../col}}{{/if}}">
    <div class="aboutImg">
        <img src="./asset/images/dummy/team-member.jpg" alt="" width="170" height="250" loading="lazy">
    </div>
    <div class="aboutTeam__content center-flex">
        <div class="aboutTeam__name">{{name}}</div>
        <div class="aboutTeam__title">Designer</div>
    </div>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}