.mt16 {
    margin-top: 16px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.text-center{
    text-align: center;
}

.-sticky{
    position: sticky;
    top: 110px;
}
